openapi: 3.2.0
info:
  title: Harness Chaos Recommendations API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Chaos Recommendations
paths:
  /gateway/chaos/manager/api/rest/recommendations:
    get:
      description: Get recommendation details based on the recommendation id
      summary: Get recommendation details
      operationId: getRecommendation
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: recommendation id
        name: recommendationID
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_pkg_database_mongodb_recommendation.Recommendation'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      tags:
      - Chaos Recommendations
    post:
      description: List recommendations based on the filters
      summary: List recommendations
      operationId: listRecommendations1
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: page number
        name: page
        in: query
        required: true
        schema:
          type: integer
          default: 0
      - description: limit per page
        name: limit
        in: query
        required: true
        schema:
          type: integer
          default: 15
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/recommendations.ListRecommendationsRequest'
        description: request body
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/recommendations.ListRecommendationsResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      tags:
      - Chaos Recommendations
    delete:
      description: Delete recommendation based on the recommendation id
      summary: Delete recommendation
      operationId: deleteRecommendation
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: recommendation id
        name: recommendationID
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      tags:
      - Chaos Recommendations
  /gateway/chaos/manager/api/rest/recommendations/action/create:
    post:
      description: Create new experiment based on the recommendation
      summary: Create new experiment
      operationId: createRecommendation
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: recommendation id
        name: recommendationID
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/recommendations.CreateActionResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      tags:
      - Chaos Recommendations
  /gateway/chaos/manager/api/rest/recommendations/action/pipeline:
    post:
      summary: Add recommended experiment to pipeline
      operationId: pipelineAddExperimentRecommendation
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: recommendation id
        name: recommendationID
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/recommendations.PipelineAddExperimentResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/api.RestError'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Chaos Recommendations
  /gateway/chaos/manager/api/rest/recommendations/action/run:
    post:
      summary: Run the recommended experiment
      operationId: runRecommendation
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: recommendation id
        name: recommendationID
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/recommendations.RunActionResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      tags:
      - Chaos Recommendations
  /gateway/chaos/manager/api/rest/recommendations/status:
    put:
      summary: Update the recommendation status
      operationId: updateRecommendationStatus
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: recommendation id
        name: recommendationID
        in: query
        required: true
        schema:
          type: string
      - description: status
        name: status
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      tags:
      - Chaos Recommendations
    post:
      summary: Bulk update the recommendation status
      operationId: bulkUpdateRecommendationStatus
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: status
        name: status
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        description: request body
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      tags:
      - Chaos Recommendations
components:
  schemas:
    recommendations.ListRecommendationsResponse:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_api.Pagination'
        recommendations:
          type: array
          items:
            $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_pkg_database_mongodb_recommendation.Recommendation'
    recommendation.RecommendationSource:
      type: string
      enum:
      - ConfigScanner
      - K8sWatcher
      - InternalWatcher
      x-enum-varnames:
      - ConfigScanner
      - K8sWatcher
      - InternalWatcher
    github_com_harness_hce-saas_graphql_server_pkg_database_mongodb_recommendation.Recommendation:
      type: object
      required:
      - accountID
      properties:
        PipelineFilters:
          $ref: '#/components/schemas/recommendation.PipelineFilters'
        accountID:
          type: string
        environmentID:
          type: string
        eventIdentifier:
          type: string
        experimentID:
          type: string
        experimentName:
          type: string
        faultFilters:
          $ref: '#/components/schemas/recommendation.FaultFilters'
        infraID:
          type: string
        infraName:
          type: string
        infraNamespace:
          type: string
        infraType:
          type: string
        isRemoved:
          type: boolean
        orgID:
          type: string
        probeFilters:
          $ref: '#/components/schemas/recommendation.ProbeFilters'
        projectID:
          type: string
        recommendationCategory:
          $ref: '#/components/schemas/recommendation.RecommendationCategory'
        recommendationID:
          type: string
        source:
          $ref: '#/components/schemas/recommendation.RecommendationSource'
        suggestions:
          type: array
          items:
            $ref: '#/components/schemas/recommendation.Suggestions'
        tags:
          type: array
          items:
            type: string
        updatedAt:
          type: integer
    recommendation.RecommendationType:
      type: string
      enum:
      - CREATE
      - RUN
      - FIX
      - ADD_TO_PIPELINE
      x-enum-varnames:
      - CreateRecommendation
      - RunRecommendation
      - FixRecommendation
      - AddToPipelineRecommendation
    recommendations.RunActionResponse:
      type: object
      properties:
        experimentID:
          type: string
        notifyID:
          type: string
    recommendation.ProbeFilters:
      type: object
      properties:
        experimentRunID:
          type: string
        probeID:
          type: string
        probeName:
          type: string
        probeType:
          type: string
    api.ResponseErrorCode:
      type: string
      enum:
      - PIPELINE_NOT_FOUND
      x-enum-varnames:
      - PipelineNotFound
    github_com_harness_hce-saas_graphql_server_pkg_database_mongodb_recommendation.Node:
      type: object
      properties:
        labels:
          type: string
        name:
          type: string
    api.RestError:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/api.ResponseErrorCode'
        description:
          type: string
        message:
          type: string
    recommendation.RecommendationCategory:
      type: string
      enum:
      - FAULT
      - PIPELINE
      - PROBE
      x-enum-varnames:
      - FaultRecommendation
      - PipelineRecommendation
      - ProbeRecommendation
    recommendation.RecommendationStatus:
      type: string
      enum:
      - Pending
      - Ignored
      - Acknowledged
      - Tracking
      x-enum-varnames:
      - PendingRecommendation
      - IgnoredRecommendation
      - AcknowledgedRecommendation
      - TrackingRecommendation
    github_com_harness_hce-saas_graphql_server_pkg_database_mongodb_recommendation.RecommendationTargetType:
      type: string
      enum:
      - Workload
      - Node
      x-enum-varnames:
      - WorkloadType
      - NodeType
    recommendations.PipelineAddExperimentResponse:
      type: object
      properties:
        pipelineID:
          type: string
        pipelineName:
          type: string
        stageID:
          type: string
    recommendations.CreateActionResponse:
      type: object
      properties:
        experimentID:
          type: string
        experimentName:
          type: string
    recommendation.PipelineFilters:
      type: object
      properties:
        pipelineID:
          type: string
        pipelineName:
          type: string
        serviceID:
          type: string
        serviceName:
          type: string
    github_com_harness_hce-saas_graphql_server_pkg_database_mongodb_recommendation.Target:
      type: object
      properties:
        node:
          $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_pkg_database_mongodb_recommendation.Node'
        type:
          $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_pkg_database_mongodb_recommendation.RecommendationTargetType'
        workload:
          $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_pkg_database_mongodb_recommendation.Workload'
    github_com_harness_hce-saas_graphql_server_pkg_database_mongodb_recommendation.Workload:
      type: object
      properties:
        kind:
          type: string
        labels:
          type: string
        name:
          type: string
        namespace:
          type: string
    recommendation.Fixes:
      type: object
      properties:
        description:
          type: string
        name:
          type: string
    recommendation.Suggestions:
      type: object
      properties:
        count:
          type: integer
        error:
          type: string
        fixes:
          type: array
          items:
            $ref: '#/components/schemas/recommendation.Fixes'
        ignoreCounter:
          type: integer
        reason:
          type: string
        recommendationType:
          $ref: '#/components/schemas/recommendation.RecommendationType'
        status:
          $ref: '#/components/schemas/recommendation.RecommendationStatus'
        updatedAt:
          type: integer
    recommendations.ListRecommendationsRequest:
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/recommendations.Filters'
    recommendations.Filters:
      type: object
      properties:
        category:
          type: array
          items:
            type: string
        source:
          $ref: '#/components/schemas/recommendation.RecommendationSource'
        status:
          $ref: '#/components/schemas/recommendation.RecommendationStatus'
    recommendation.FaultFilters:
      type: object
      properties:
        criticality:
          type: integer
        faultName:
          type: string
        targets:
          $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_pkg_database_mongodb_recommendation.Target'
    github_com_harness_hce-saas_graphql_server_api.Pagination:
      type: object
      properties:
        index:
          type: integer
        limit:
          type: integer
        totalItems:
          type: integer
        totalPages:
          type: integer
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
