openapi: 3.2.0
info:
  title: Harness Ldap Settings API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Ldap Settings
paths:
  /v1/ldap-settings:
    parameters: []
    post:
      summary: Create Account LDAP Settings
      operationId: create-ng-ldap-settings
      responses:
        '201':
          $ref: '#/components/responses/LdapSettingsResponse'
      x-stoplight:
        id: n04275yl5c0g3
      description: Create NG Ldap setttings
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/LdapSettingsRequest'
      tags:
      - Ldap Settings
    get:
      summary: Get ldap settings for the account
      tags:
      - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/LdapSettingsResponse'
      operationId: get-account-ldap-settings
      x-stoplight:
        id: x58m09htlk67j
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
  /v1/ldap-settings/{ldap-settings-id}:
    parameters:
    - schema:
        type: string
      name: ldap-settings-id
      in: path
      required: true
    get:
      summary: Get Account Ldap Settings by identifier
      tags:
      - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/LdapSettingsResponse'
      operationId: get-ldap-settings
      x-stoplight:
        id: 9655d1754op9c
      description: Get Account NG Ldap settings
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
    put:
      summary: Update Account Ldap Settings
      operationId: update-ldap-settings
      responses:
        '200':
          $ref: '#/components/responses/LdapSettingsResponse'
      x-stoplight:
        id: 63u2f75vg76gz
      description: Update NG Ldap settings for the account
      requestBody:
        $ref: '#/components/requestBodies/LdapSettingsRequest'
      tags:
      - Ldap Settings
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
    delete:
      summary: Delete Account Ldap Settings
      operationId: delete-ldap-settings
      responses:
        '204':
          description: No Content
      x-stoplight:
        id: hw0azqcr4ehs9
      description: Delete Account Ldap settings
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      tags:
      - Ldap Settings
  /v1/ldap-settings/validate/connection-settings:
    post:
      summary: Validate Ldap Connection Settings
      tags:
      - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/LdapValidateResponse'
      operationId: validate-connection-settings
      x-stoplight:
        id: 24rd6s9hp2b0a
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/LdapSettingsRequest'
  /v1/ldap-settings/validate/user-settings:
    post:
      summary: Validate Ldap User Settings
      tags:
      - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/LdapValidateResponse'
      operationId: validate-user-settings
      x-stoplight:
        id: 5fw3lcfs79wpo
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/LdapSettingsRequest'
  /v1/ldap-settings/validate/group-settings:
    post:
      summary: Validate Ldap Group Settings
      tags:
      - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/LdapValidateResponse'
      operationId: validate-group-settings
      x-stoplight:
        id: uvedvfpk6ldue
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/LdapSettingsRequest'
  /v1/ldap-settings/sync-groups:
    put:
      summary: Ldap Settings Sync User Groups
      operationId: ldap-settings-sync-groups
      responses:
        '200':
          description: OK
      x-stoplight:
        id: 7xnw3fstsnqe7
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      tags:
      - Ldap Settings
  /v1/ldap-settings/sync-group/{group-id}:
    parameters:
    - $ref: '#/components/parameters/UserGroupIdentifierPathParam'
    get:
      summary: Ldap Sync Group with user group id
      tags:
      - Ldap Settings
      responses:
        '200':
          description: OK
      operationId: ldap-settings-sync-group-with-id
      x-stoplight:
        id: el2bfbrc5mubt
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
  /v1/ldap-settings/search-group/{group-id}:
    parameters:
    - $ref: '#/components/parameters/UserGroupIdentifierPathParam'
    get:
      summary: Search Ldap groups with matching name
      tags:
      - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/LdapGroupResponse'
      operationId: ldap-settings-search-group
      x-stoplight:
        id: xkgeu3g9n1ul2
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
  /v1/ldap-settings/link/{group-id}:
    parameters:
    - $ref: '#/components/parameters/UserGroupIdentifierPathParam'
    post:
      summary: Link ldap settings to userGroup
      responses:
        '200':
          $ref: '#/components/responses/LinkGroupToLdapSettings'
      operationId: link-ldap-settings
      x-stoplight:
        id: 02mvlbq51owqg
      tags:
      - Ldap Settings
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/LinkSSOGroupRequest'
  /v1/ldap-settings/unlink/{group-id}:
    parameters:
    - $ref: '#/components/parameters/UserGroupIdentifierPathParam'
    post:
      summary: Unlink group from ldap settings
      tags:
      - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/UnlinkGroupToLdapSettings'
      operationId: unlink-ldap-settings
      x-stoplight:
        id: jsug66jtmolab
      x-internal: true
      x-extension-1: null
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/UnlinkSSOGroupRequest'
  /v1/ldap-settings/unlink/orgs/{org}/{group-id}:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    - $ref: '#/components/parameters/UserGroupIdentifierPathParam'
    post:
      summary: Unlink SSO Group from ldap-settings
      tags:
      - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/UnlinkGroupToLdapSettings'
      operationId: unlink-ldap-settings-org
      x-stoplight:
        id: 2aznpzh987hr7
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/UnlinkSSOGroupRequest'
  /v1/ldap-settings/link/orgs/{org}/{group-id}:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    - $ref: '#/components/parameters/UserGroupIdentifierPathParam'
    get - copy:
      summary: Link ldap settings
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/LinkGroupToLdapSettings'
      operationId: link-ldap-settings-proj
      x-internal: true
      x-extension-1: null
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
    post:
      summary: Link dap settings
      tags:
      - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/LinkGroupToLdapSettings'
      operationId: link-ldap-settings-org
      x-stoplight:
        id: 86uren6k078bj
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/LinkSSOGroupRequest'
  /v1/ldap-settings/unlink/orgs/{org}/projects/{project}/{group-id}:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    - $ref: '#/components/parameters/ProjectPathParam'
    - $ref: '#/components/parameters/UserGroupIdentifierPathParam'
    post:
      summary: Unlink SSO Group from ldap-settings
      tags:
      - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/UnlinkGroupToLdapSettings'
      operationId: unlink-ldap-settings-proj
      x-stoplight:
        id: us9tp7838hrh2
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/UnlinkSSOGroupRequest'
  /v1/ldap-settings/link/orgs/{org}/projects/{project}/{group-id}:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    - $ref: '#/components/parameters/ProjectPathParam'
    - $ref: '#/components/parameters/UserGroupIdentifierPathParam'
    post:
      summary: Link ldap-settings
      tags:
      - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/LinkGroupToLdapSettings'
      operationId: link-ldap-settings-proj
      x-stoplight:
        id: dqjjk8ekm6qwl
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/LinkSSOGroupRequest'
  /v1/ldap-settings/iterations:
    post:
      summary: Ldap Settings iterations
      tags:
      - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/LdapSettingsIterationsResponse'
      operationId: ldap-settings-iterations
      x-stoplight:
        id: o0f3p82mazw6a
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/CronExpressionRequest'
  /v1/ldap-settings/ldap-login-test:
    post:
      summary: Ldap login test
      tags:
      - Ldap Settings
      responses:
        '200':
          $ref: '#/components/responses/LdapTestLoginResponse'
      operationId: ldap-settings-ldap-login-test
      x-stoplight:
        id: xy60v4zxek7xz
      security:
      - x-api-key: []
      x-internal: false
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/LdapTestLoginRequest'
components:
  schemas:
    LdapConnectionSettingsDTO:
      title: LdapConnectionSettingsDTO
      x-stoplight:
        id: sk8ot06b5sety
      type: object
      description: Ldap Connection Settings DTO
      properties:
        host:
          type: string
          x-stoplight:
            id: i5rmxd4zc7128
        port:
          type: integer
          x-stoplight:
            id: ealsta50aysfs
        ssl_enabled:
          type: boolean
          x-stoplight:
            id: l9ucsqzqz65de
        referrals_enabled:
          type: boolean
          x-stoplight:
            id: g8e480fibh1p2
        secret_ref_path:
          type: string
          x-stoplight:
            id: 3lrfk14jzy69x
        max_referral_hops:
          type: integer
          x-stoplight:
            id: twu8lt66e08tz
        connection_timeout:
          type: integer
          x-stoplight:
            id: p8kjsb8doifih
        response_timeout:
          type: integer
          x-stoplight:
            id: 2ersoqf1fspni
        use_recursive_group_membership_search:
          type: boolean
          x-stoplight:
            id: wvps1gevlwqa0
        bind_d_n:
          type: string
          x-stoplight:
            id: m41ae2qg2kusj
        delegate_selectors:
          type: array
          x-stoplight:
            id: yagarnzxe76av
          items:
            x-stoplight:
              id: wh3l7x013ckkn
            type: string
    LinkSSOGroupRequestDTO:
      title: LinkSSOGroupRequestDTO
      x-stoplight:
        id: 9nq8edmxoq01f
      type: object
      properties:
        sso_id:
          type: string
          x-stoplight:
            id: ytazjgz12l17u
        sso_group_id:
          type: string
          x-stoplight:
            id: gqw1001ki7ni6
        sso_group_name:
          type: string
          x-stoplight:
            id: fkrxfo9iz681u
      description: ''
    LdapValidateResponseDTO:
      title: LdapValidateResponseDTO
      x-stoplight:
        id: lkcy3ohrgij3e
      type: object
      description: Ldap Validate Response DTO
      properties:
        message:
          type: string
          x-stoplight:
            id: x7s66994hwdmg
        status:
          type: string
          x-stoplight:
            id: spkzkdo8p00u8
          enum:
          - SUCCESS
          - FAILURE
    LdapTestLoginResponseDTO:
      title: LdapTestLoginResponseDTO
      x-stoplight:
        id: qyovi99w6fhk5
      type: object
      properties:
        message:
          type: string
          x-stoplight:
            id: ffhbs5s2f4g5u
        status:
          type: string
          x-stoplight:
            id: j8e7dfj2vqvic
          enum:
          - SUCCESS
          - FAILURE
    UserGroupDTO:
      title: UserGroupDTO
      x-stoplight:
        id: 809ed71ctxw4g
      type: object
      description: User Group DTO
      properties:
        account_identifier:
          type: string
          x-stoplight:
            id: izybl5ndyou6l
        org:
          type: string
          x-stoplight:
            id: 8zscs32ljrqlh
        project:
          type: string
          x-stoplight:
            id: zckgqa40bii85
        identifier:
          type: string
          x-stoplight:
            id: 71xnxf5lmbo19
        is_sso_linked:
          type: boolean
          x-stoplight:
            id: jrzpdhkukejp6
        linked_sso_type:
          type: boolean
          x-stoplight:
            id: x2ss9gzmisdxe
        linked_sso_id:
          type: boolean
          x-stoplight:
            id: cyvwp3kmu2qfs
        linked_sso_display_name:
          type: string
          x-stoplight:
            id: dja5o8cdrz0ul
        sso_group_id:
          type: string
          x-stoplight:
            id: ni3iyd67b31i5
        sso_group_name:
          type: string
          x-stoplight:
            id: 3rr7v12c2xapx
        name:
          type: string
          x-stoplight:
            id: d4d4zjg9l2d2p
        users:
          type: array
          x-stoplight:
            id: ol1or1092op6l
          items:
            x-stoplight:
              id: 3s9neyuurscsv
            type: string
        notification_configs:
          type: array
          x-stoplight:
            id: 8a4qp4lj2nmkc
          items:
            $ref: '#/components/schemas/NotificationSettingConfigDTO'
        externally_managed:
          type: boolean
          x-stoplight:
            id: oqy81utjz3qmf
        description:
          type: string
          x-stoplight:
            id: hc4inmpqjcfsi
        tags:
          type: array
          x-stoplight:
            id: 4dtahmt1tenew
          items:
            x-stoplight:
              id: llx1wlnfosa3x
            type: string
        harness_managed:
          type: boolean
          x-stoplight:
            id: sm26t4i5t4kcf
    LdapSettingsDTO:
      title: LdapSettingsDTO
      x-stoplight:
        id: f8znhldy5ze5v
      type: object
      description: Ldap Settings DTO
      required:
      - account_identifier
      - identifier
      - name
      properties:
        account_identifier:
          type: string
          x-stoplight:
            id: 8qppu3sep0fvz
        identifier:
          type: string
          x-stoplight:
            id: 62ki9cggzt1jm
        url:
          type: string
          x-stoplight:
            id: ce8y7fyupcwie
        disabled:
          type: boolean
          x-stoplight:
            id: vlqp8sh98y08b
        name:
          type: string
          x-stoplight:
            id: 3dwefjtun1rn1
        cron_expression:
          type: string
          x-stoplight:
            id: 9v59g4w3hg5wo
        ldap_connection_settings:
          $ref: '#/components/schemas/LdapConnectionSettingsDTO'
        ldap_user_settings:
          type: array
          x-stoplight:
            id: q2qnvvvats82o
          items:
            $ref: '#/components/schemas/LdapUserSettingsDTO'
        ldap_group_settings:
          type: array
          x-stoplight:
            id: e38bwrq8oy07r
          items:
            $ref: '#/components/schemas/LdapGroupSettingsDTO'
        sso_type:
          type: string
          x-stoplight:
            id: xdgeaawghtmno
    LdapGroupResponseDTO:
      title: LdapGroupResponseDTO
      x-stoplight:
        id: ag80fl4djk8u7
      type: object
      properties:
        dn:
          type: string
          x-stoplight:
            id: fb8ur4bakp95d
        name:
          type: string
          x-stoplight:
            id: ezgerm7dbzalu
        description:
          type: string
          x-stoplight:
            id: 3cynjss7jge6c
        total_members:
          type: integer
          x-stoplight:
            id: 607akg5zkmwd5
        message:
          type: string
          x-stoplight:
            id: 4fyyiyx1tigej
      description: LdapGroupResponse
    LdapTestLoginRequestDTO:
      title: LdapTestLoginRequestDTO
      x-stoplight:
        id: o4dbv260dkvc3
      type: object
      properties:
        email:
          type: string
          x-stoplight:
            id: ov0ic5u510oql
        password:
          type: string
          x-stoplight:
            id: r1c8uwaviczpl
    CronExpressionRequestDTO:
      title: CronExpressionRequestDTO
      x-stoplight:
        id: w60gppl5cy5uu
      type: object
      properties:
        cron:
          type: string
          x-stoplight:
            id: gje1x6922v6fd
    LdapUserSettingsDTO:
      title: LdapUserSettingsDTO
      x-stoplight:
        id: z57exi0ztqq9a
      type: object
      description: Ldap User Settings DTO
      properties:
        base_d_n:
          type: string
          x-stoplight:
            id: wfuahenplizat
        search_filter:
          type: string
          x-stoplight:
            id: y3wrrf6vz37z2
        uid_attr:
          type: string
          x-stoplight:
            id: nuqp9fo5w05iy
        sam_account_name_attr:
          type: string
          x-stoplight:
            id: yb9qmhbz1mffp
        email_attr:
          type: string
          x-stoplight:
            id: drfzqz8mpu1ou
        display_name_attr:
          type: string
          x-stoplight:
            id: zs09zxyk5phg6
        group_membership_attr:
          type: string
          x-stoplight:
            id: 5qa5pc978l4o4
    NotificationSettingConfigDTO:
      title: NotificationSettingConfigDTO
      x-stoplight:
        id: rhy104v0cjttt
      type: object
      properties:
        type:
          type: string
          x-stoplight:
            id: ets95lazoqt1o
    LdapSettingsIterations:
      title: LdapSettingsIterations
      x-stoplight:
        id: fm7tb4yt6xber
      type: object
      properties:
        iterations:
          type: array
          x-stoplight:
            id: 1p2rv44mibkb5
          items:
            x-stoplight:
              id: bl9mqhxdepfe5
            type: integer
            format: int64
    LdapGroupSettingsDTO:
      title: LdapGroupSettingsDTO
      x-stoplight:
        id: s1809t4lth330
      type: object
      description: Ldap Group Settings DTO
      properties:
        base_d_n:
          type: string
          x-stoplight:
            id: 2vl2n5ez5kkcf
        search_filter:
          type: string
          x-stoplight:
            id: 3qft0ce07rero
        name_attr:
          type: string
          x-stoplight:
            id: hae6bbgmjtxst
        description_attr:
          type: string
          x-stoplight:
            id: xpf6h6kvblidv
        user_membership_attr:
          type: string
          x-stoplight:
            id: h7mf9q80034ei
        referenced_user_attr:
          type: string
          x-stoplight:
            id: lszd5uip1q5gs
    LdapSettingsResponse:
      title: LdapSettingsResponse
      x-stoplight:
        id: ra1gzj4t8u9w3
      type: object
      properties:
        ldap_settings:
          $ref: '#/components/schemas/LdapSettingsDTO'
        created:
          type: integer
          x-stoplight:
            id: tbd3xz9v3adk5
          format: int64
        last_modified:
          type: integer
          x-stoplight:
            id: mxo2ysfo8d5k2
          format: int64
    LdapSettingsRequest:
      title: LdapSettingsRequest
      x-stoplight:
        id: gjqwk2pmix9vu
      type: object
      properties:
        ldap_settings:
          $ref: '#/components/schemas/LdapSettingsDTO'
    UnlinkSSOGroupRequestDTO:
      title: UnlinkSSOGroupRequestDTO
      x-stoplight:
        id: 99zgtjmcs8t67
      type: object
      properties:
        retain_members:
          type: boolean
          x-stoplight:
            id: yyqh40xyuksld
  requestBodies:
    LdapSettingsRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LdapSettingsRequest'
    CronExpressionRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CronExpressionRequestDTO'
    LinkSSOGroupRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LinkSSOGroupRequestDTO'
    UnlinkSSOGroupRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnlinkSSOGroupRequestDTO'
    LdapTestLoginRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LdapTestLoginRequestDTO'
  responses:
    LdapSettingsIterationsResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LdapSettingsIterations'
    UnlinkGroupToLdapSettings:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserGroupDTO'
    LdapSettingsResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LdapSettingsResponse'
    LdapTestLoginResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LdapTestLoginResponseDTO'
    LdapGroupResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LdapGroupResponseDTO'
    LdapValidateResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LdapValidateResponseDTO'
    LinkGroupToLdapSettings:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserGroupDTO'
      headers: {}
  parameters:
    UserGroupIdentifierPathParam:
      name: group-id
      in: path
      required: true
      schema:
        type: string
      description: UserGroup Identifier
    ProjectPathParam:
      name: project
      in: path
      required: true
      schema:
        type: string
      description: Identifier field of the project the resource is scoped to
    OrgPathParam:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Identifier field of the organization the resource is scoped to
    AccountHeader:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
