openapi: 3.2.0
info:
  title: Harness Proxy API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- description: APIs used by the ff-proxy
  name: Proxy
paths:
  /cf/admin/proxy/keys:
    get:
      description: Returns all the Proxy keys in an account
      operationId: GetProxyKeys
      parameters:
      - $ref: '#/components/parameters/accountQueryParam'
      - $ref: '#/components/parameters/nameQueryParam'
      - $ref: '#/components/parameters/sortOrder'
      - $ref: '#/components/parameters/proxyKeySortByField'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/ProxyKeysResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Returns all Proxy keys in an account
      tags:
      - Proxy
    post:
      operationId: CreateProxyKey
      parameters:
      - $ref: '#/components/parameters/accountQueryParam'
      requestBody:
        $ref: '#/components/requestBodies/ProxyKeysPostRequest'
      responses:
        '201':
          $ref: '#/components/responses/ProxyKeysCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Creates a Proxy Key in the account & org
      tags:
      - Proxy
  /cf/admin/proxy/keys/{identifier}:
    delete:
      operationId: DeleteProxyKey
      parameters:
      - $ref: '#/components/parameters/accountQueryParam'
      - $ref: '#/components/parameters/identifier'
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '424':
          $ref: '#/components/responses/GitSyncError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Deletes a ProxyKey
      tags:
      - Proxy
    get:
      operationId: GetProxyKey
      parameters:
      - $ref: '#/components/parameters/accountQueryParam'
      - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          $ref: '#/components/responses/ProxyKeyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Returns a ProxyKey
      tags:
      - Proxy
    patch:
      description: This operation is used to modify which environments a ProxyKey has access to. The request body can include one or more instructions that can assign or unassign environmnets to the ProxyKey
      operationId: PatchProxyKey
      parameters:
      - $ref: '#/components/parameters/identifier'
      - $ref: '#/components/parameters/accountQueryParam'
      requestBody:
        $ref: '#/components/requestBodies/ProxyKeysPatchRequest'
      responses:
        '200':
          $ref: '#/components/responses/ProxyKeysCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Updates a Proxy Key in the account & org
      tags:
      - Proxy
components:
  responses:
    Conflict:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CfError'
      description: The specified resource already exists
    BadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CfError'
      description: Bad request
    Unauthenticated:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CfError'
      description: Unauthenticated
    ProxyKeysCreateResponse:
      content:
        application/json:
          schema:
            properties:
              key:
                example: 0202f58b-d670-44ef-bd1f-323a48c28004
                type: string
            type: object
      description: Created
    ProxyKeysResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProxyKeys'
      description: OK
    GitSyncError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CfError'
      description: An error with git syncing
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CfError'
      description: Unauthorized
    InternalServerError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CfError'
      description: Internal server error
    ProxyKeyResponse:
      content:
        application/json:
          schema:
            example:
              createdAt: 1698235128877
              description: A description
              id: b56546aa-62e6-407e-bf14-63691a47b0e0
              identifier: MyProxyKey
              name: My Proxy Key
              organizations:
                org123:
                  projects:
                    project1:
                      environments: []
                      scope: all
                    project2:
                      environments: []
                      scope: prod
                    project3:
                      environments: []
                      scope: non-prod
                    project4:
                      environments:
                      - env1
                      - env2
                      - env3
                      scope: selected
                org456:
                  projects:
                    project1:
                      environments: []
                      scope: all
                    project2:
                      environments: []
                      scope: prod
                    project3:
                      environments: []
                      scope: non-prod
                    project4:
                      environments:
                      - env1
                      - env2
                      - env3
                      scope: selected
              updatedAt: 1698235128877
            properties:
              createdAt:
                description: The date the key was created at in milliseconds
                format: int64
                type: integer
              description:
                description: A description of the Proxy Key
                example: This is a proxy key for production
                type: string
              id:
                description: The ProxyKeys ID
                example: 31B0B299-7635-416D-9E99-CFCAA7ADABEA
                type: string
              identifier:
                description: The Proxy Keys identifier
                example: ProxyKeyOne
                type: string
              name:
                description: The ProxyKeys name
                example: Proxy Key One
                type: string
              organizations:
                $ref: '#/components/schemas/OrganizationDictionary'
              updatedAt:
                description: The date the key was last updated at in milliseconds
                format: int64
                type: integer
              version:
                description: The ProxyKey version
                format: int
                type: integer
            required:
            - id
            - name
            - identifier
            - description
            - createdAt
            - updatedAt
            - version
            - organizations
            type: object
      description: OK
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CfError'
      description: The specified resource was not found
  schemas:
    ProxyKeyProject:
      properties:
        environments:
          items:
            type: string
          type: array
        scope:
          enum:
          - all
          - prod
          - non-prod
          - selected
          type: string
      required:
      - scope
      type: object
    Pagination:
      properties:
        itemCount:
          description: The total number of items
          example: 1
          type: integer
        pageCount:
          description: The total number of pages
          example: 100
          type: integer
        pageIndex:
          description: The current page
          example: 0
          type: integer
        pageSize:
          description: The number of items per page
          example: 1
          type: integer
        version:
          description: The version of this object.  The version will be incremented each time the object is modified
          example: 5
          type: integer
      required:
      - pageCount
      - itemCount
      - pageSize
      - pageIndex
      type: object
    ProxyKeyInstruction:
      description: A Proxy Key instruction
      properties:
        instructions:
          properties:
            rotateKey:
              example: 12h
              type: string
            updateConfig:
              example:
                organizations:
                  org123:
                    projects:
                      project1:
                        environments: []
                        scope: all
                      project2:
                        environments: []
                        scope: prod
                      project3:
                        environments: []
                        scope: non-prod
                      project4:
                        environments:
                        - env1
                        - env2
                        - env3
                        scope: selected
                version: 1
              properties:
                organizations:
                  $ref: '#/components/schemas/OrganizationDictionary'
                version:
                  example: 1
                  type: integer
              required:
              - organizations
              - version
              type: object
            updateDescription:
              example: new proxyKey updateDescription
              type: string
            updateName:
              example: newProxyKey
              type: string
          type: object
      type: object
    ProjectDictionary:
      properties:
        projects:
          additionalProperties:
            $ref: '#/components/schemas/ProxyKeyProject'
          type: object
      type: object
    ProxyKeys:
      allOf:
      - $ref: '#/components/schemas/Pagination'
      - properties:
          proxyKeys:
            items:
              $ref: '#/components/schemas/ProxyKey'
            type: array
      description: A list of Proxy Keys
      type: object
    CfError:
      properties:
        code:
          description: The http error code
          example: 404
          type: string
        details:
          description: Additional details about the error
          type: object
        message:
          description: The reason the request failed
          example: Error retrieving projects, organization 'default_org' does not exist
          type: string
      required:
      - code
      - message
      type: object
    ProxyKey:
      properties:
        createdAt:
          description: The date the key was created at in milliseconds
          format: int64
          type: integer
        description:
          description: A description of the Proxy Key
          example: This is a proxy key for production
          type: string
        id:
          description: The ProxyKeys ID
          example: 31B0B299-7635-416D-9E99-CFCAA7ADABEA
          type: string
        identifier:
          description: The Proxy Keys identifier
          example: ProxyKeyOne
          type: string
        name:
          description: The ProxyKeys name
          example: Proxy Key One
          type: string
        updatedAt:
          description: The date the key was last updated at in milliseconds
          format: int64
          type: integer
      required:
      - id
      - name
      - identifier
      - description
      - createdAt
      - updatedAt
      type: object
    OrganizationDictionary:
      additionalProperties:
        $ref: '#/components/schemas/ProjectDictionary'
      type: object
  parameters:
    accountQueryParam:
      description: Account Identifier
      examples:
        default:
          value: default
      in: query
      name: accountIdentifier
      required: true
      schema:
        type: string
    pageSize:
      description: PageSize
      in: query
      name: pageSize
      schema:
        type: integer
    sortOrder:
      description: SortOrder
      in: query
      name: sortOrder
      schema:
        enum:
        - ASCENDING
        - DESCENDING
        type: string
    nameQueryParam:
      allowEmptyValue: true
      description: Name of the field
      in: query
      name: name
      schema:
        type: string
    proxyKeySortByField:
      description: SortByField
      in: query
      name: sortByField
      schema:
        enum:
        - name
        - createdAt
        - updatedAt
        type: string
    identifier:
      description: Unique identifier for the object in the API.
      in: path
      name: identifier
      required: true
      schema:
        type: string
    pageNumber:
      description: PageNumber
      in: query
      name: pageNumber
      schema:
        type: integer
  requestBodies:
    ProxyKeysPatchRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProxyKeyInstruction'
    ProxyKeysPostRequest:
      content:
        application/json:
          schema:
            example:
              description: A description
              identifier: MyProxyKey
              name: My Proxy Key
              organizations:
                org123:
                  projects:
                    project1:
                      environments: []
                      scope: all
                    project2:
                      environments: []
                      scope: prod
                    project3:
                      environments: []
                      scope: non-prod
                    project4:
                      environments:
                      - env1
                      - env2
                      - env3
                      scope: selected
                org456:
                  projects:
                    project1:
                      environments: []
                      scope: all
                    project2:
                      environments: []
                      scope: prod
                    project3:
                      environments: []
                      scope: non-prod
                    project4:
                      environments:
                      - env1
                      - env2
                      - env3
                      scope: selected
            properties:
              description:
                example: Description of the Proxy Key
                type: string
              identifier:
                example: ProxyKeyOne
                type: string
              name:
                example: Proxy key one
                type: string
              organizations:
                $ref: '#/components/schemas/OrganizationDictionary'
            required:
            - identifier
            - name
            - organizations
            type: object
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
