openapi: 3.2.0
info:
  title: Harness Reports API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Reports
  x-displayName: Reports [Beta]
paths:
  /rmg/api/release/{releaseId}/report/generate:
    post:
      summary: Generate Report for Release
      tags:
      - Reports
      operationId: postReleaseReportGenerate
      description: Generate a CSV report for a specific release within a time period. The report generation is asynchronous and returns a report job ID that can be used to track status and download the report.
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      - name: releaseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportGenerationRequest'
      responses:
        '200':
          $ref: '#/components/responses/ReportGenerationResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: release-report-generate-post
  /rmg/api/releaseGroup/{releaseGroupId}/report/generate:
    post:
      summary: Generate Report for Release Group
      tags:
      - Reports
      operationId: postReleaseGroupReportGenerate
      description: Generate a CSV report for all releases in a release group within a time period. The report generation is asynchronous and returns a report job ID that can be used to track status and download the report.
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      - name: releaseGroupId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportGenerationRequest'
      responses:
        '200':
          $ref: '#/components/responses/ReportGenerationResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: release-group-report-generate-post
  /rmg/api/release/report/{reportId}/status:
    get:
      summary: Get Report Status
      tags:
      - Reports
      operationId: getReportStatus
      description: Get the status of a report generation job. Returns the current status, timestamps, and error information if the job failed.
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      - name: reportId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/ReportStatusResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: report-status-get
  /rmg/api/release/report/{reportId}/download:
    get:
      summary: Download Report
      tags:
      - Reports
      operationId: getReportDownload
      description: Download the generated CSV report. The report must be in COMPLETED status. Returns the CSV file as a binary download.
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      - name: reportId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: CSV file download
          headers:
            Content-Disposition:
              description: Indicates that the file should be downloaded as an attachment
              schema:
                type: string
                example: attachment; filename="release-report-{reportId}.csv"
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: report-download-get
components:
  schemas:
    RmError:
      title: Error Response
      x-stoplight:
        id: d53gtsgvwyk44
      type: object
      description: Error Response
      required:
      - message
      properties:
        message:
          type: string
          x-stoplight:
            id: 5n8vetciod7k8
          description: error message detail
        code:
          type: string
          description: canonical error code name
          enum:
          - BAD_REQUEST
          - UNAUTHORIZED
          - FORBIDDEN
          - NOT_FOUND
          - INTERNAL_SERVER_ERROR
    ReportStatusResponse:
      type: object
      required:
      - reportId
      - status
      properties:
        reportId:
          type: string
        status:
          type: string
          enum:
          - PENDING
          - IN_PROGRESS
          - COMPLETED
          - FAILED
        createdAt:
          type: integer
          format: int64
        completedAt:
          type:
          - integer
          - 'null'
          format: int64
        errorMessage:
          type:
          - string
          - 'null'
        totalReleases:
          type:
          - integer
          - 'null'
    ReportGenerationResponse:
      type: object
      required:
      - reportId
      - status
      properties:
        reportId:
          type: string
        status:
          type: string
          enum:
          - PENDING
          - IN_PROGRESS
          - COMPLETED
          - FAILED
    ReportGenerationRequest:
      type: object
      required:
      - startTs
      - endTs
      properties:
        startTs:
          type: integer
          format: int64
          description: Start timestamp in milliseconds (Unix epoch)
        endTs:
          type: integer
          format: int64
          description: End timestamp in milliseconds (Unix epoch)
  responses:
    ReportGenerationResponse:
      description: Report generation job created successfully
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReportGenerationResponse'
    RmErrorResponse:
      description: Error Response body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RmError'
    ReportStatusResponse:
      description: Report status information
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReportStatusResponse'
  parameters:
    RmOrgParam:
      name: orgIdentifier
      in: query
      required: false
      schema:
        type: string
      description: Organisation Identifier
    AccountParam:
      name: Harness-Account
      in: header
      required: true
      schema:
        type: string
      description: Account Identifier
    RmProjectParam:
      name: projectIdentifier
      in: query
      required: false
      schema:
        type: string
      description: Project Identifier
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
