openapi: 3.2.0
info:
  title: Harness Public Access API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Public Access
paths:
  /v1/public-access/enable:
    parameters: []
    post:
      summary: Enable Public Access for a Resource
      operationId: enable-public-access
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/PublicAccessRequest'
      responses:
        '201':
          $ref: '#/components/responses/PublicAccessResponse'
      security:
      - x-api-key: []
      x-internal: false
      tags:
      - Public Access
  /v1/public-access/is-resource-public:
    parameters: []
    post:
      summary: Returns if a Resource is public or not
      operationId: is-resource-public
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/PublicAccessRequest'
      responses:
        '200':
          $ref: '#/components/responses/PublicAccessResponse'
      security:
      - x-api-key: []
      tags:
      - Public Access
      x-internal: true
  /v1/public-access/check-public:
    parameters: []
    post:
      summary: Returns if a list of Resource is public or not
      operationId: check-public
      description: Returns if a list of Resources is public or not
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/PublicAccessCheckRequest'
      responses:
        '200':
          $ref: '#/components/responses/PublicAccessCheckResponse'
      security:
      - x-api-key: []
      tags:
      - Public Access
      x-internal: true
  /v1/public-access/disable:
    parameters: []
    put:
      summary: Disable public access on a Resource
      operationId: disable-public-access
      responses:
        '200':
          $ref: '#/components/responses/PublicAccessResponse'
      description: Disable Public Access
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      - schema:
          type: string
        in: query
        name: account
        description: Account Identifier
      - schema:
          type: string
        in: query
        name: org
        description: Organisation Identifier
      - schema:
          type: string
        in: query
        name: project
        description: Project Identifier
      - schema:
          type: string
        in: query
        name: resource_type
        description: Resource type
      - schema:
          type: string
        in: query
        name: resource_identifier
        description: Resource Identifier
      tags:
      - Public Access
      x-internal: true
components:
  schemas:
    PublicAccessCheckRequest:
      title: PublicAccessCheckRequest
      type: object
      description: Request to check if given resources are public or not
      x-stoplight:
        id: 2fa1394cf970a
      properties:
        resource_identifiers:
          type: array
          description: List of resource identifiers
          items:
            type: string
        resource_type:
          type: string
          description: Type of the resource.
        resource_scope:
          $ref: '#/components/schemas/Scope'
      required:
      - resource_identifiers
      - resource_type
      - resource_scope
      x-examples:
        Example 1:
          resource_identifiers:
          - pipelineIdentifier1
          - pipelineIdentifier2
          resource_type: PIPELINE
          resource_scope:
            account: ACCOUNT_ID
            org: ORG_ID
            project: PROJECT_ID
    PublicAccessRequest:
      title: PublicAccessRequest
      x-stoplight:
        id: iwewenxaom066
      type: object
      description: Request to mark a resource as public
      properties:
        resource_identifier:
          type: string
          description: Identifier of the resource
        resource_type:
          type: string
          description: Type of the resource.
        resource_scope:
          $ref: '#/components/schemas/Scope'
      required:
      - resource_identifier
      - resource_type
      - resource_scope
    Scope:
      title: Scope
      x-stoplight:
        id: 5ozno3ho0k6r7
      type: object
      description: Scope of the Resource
      properties:
        account:
          type: string
          description: Account Identifier
        org:
          type: string
          description: Org Identifier
        project:
          type: string
          description: Project Identifier
      required:
      - account
    PublicAccessListResponse:
      title: PublicAccessListResponse
      x-stoplight:
        id: 8mepgxbhco75c
      type: object
      properties:
        resource_identifier:
          type: string
          description: Identifier of a resource
        public:
          type: boolean
          description: If true, then resource is marked for public access
    PublicAccessCheckResponse:
      title: PublicAccessCheckResponse
      x-stoplight:
        id: fh5hfwc6y1u7p
      type: object
      description: This contains list of resources along with information if they are public or not
      properties:
        resource_type:
          type: string
          description: Resource Type
        resource_scope:
          $ref: '#/components/schemas/Scope'
        public_access_list:
          type: array
          items:
            $ref: '#/components/schemas/PublicAccessListResponse'
      x-examples:
        Example 1:
          resource_type: PIPELINE
          resource_scope:
            account: ACCOUNT_ID
            org: ORG_ID
            project: PROJECT_ID
          public_access_list:
          - resource_identifier: pipelineIdentifier1
            public: true
          - resource_identifier: pipelineIdentifier2
            public: false
  parameters:
    AccountHeader:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
  responses:
    PublicAccessCheckResponse:
      description: This returns if a list of resource identifiers is public or not.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PublicAccessCheckResponse'
    PublicAccessResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: boolean
  requestBodies:
    PublicAccessRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PublicAccessRequest'
    PublicAccessCheckRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PublicAccessCheckRequest'
      description: Request to query if given resources are public or not
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
