openapi: 3.2.0
info:
  title: Harness Healthsources API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Healthsources
  description: This contains APIs related to CV Health Sources
paths:
  /cv/api/health-sources:
    get:
      tags:
      - Healthsources
      summary: List Health Sources
      operationId: listHealthSources
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier
        schema:
          type: string
      responses:
        default:
          description: Lists all Health Sources for the given scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOListHealthSourceResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOListHealthSourceResponse'
    put:
      tags:
      - Healthsources
      summary: Update a Health Source
      operationId: updateHealthSource
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier
        schema:
          type: string
      requestBody:
        description: Health Source configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthSource'
          application/yaml:
            schema:
              $ref: '#/components/schemas/HealthSource'
        required: true
      responses:
        default:
          description: Updates an existing Health Source configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOHealthSourceResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOHealthSourceResponse'
    post:
      tags:
      - Healthsources
      summary: Create a Health Source
      operationId: createHealthSource
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier
        schema:
          type: string
      requestBody:
        description: Health Source configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthSource'
          application/yaml:
            schema:
              $ref: '#/components/schemas/HealthSource'
        required: true
      responses:
        default:
          description: Creates a new Health Source for verifying metrics or logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOHealthSourceResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOHealthSourceResponse'
  /cv/api/health-sources/{identifier}:
    get:
      tags:
      - Healthsources
      summary: Get a Health Source
      operationId: getHealthSource
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier
        schema:
          type: string
      - name: identifier
        in: path
        description: Health Source Identifier
        required: true
        schema:
          type: string
      responses:
        default:
          description: Retrieves a Health Source by its identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOOptionalHealthSourceResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOOptionalHealthSourceResponse'
    delete:
      tags:
      - Healthsources
      summary: Delete a Health Source
      operationId: deleteHealthSource
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier
        schema:
          type: string
      - name: identifier
        in: path
        description: Health Source Identifier
        required: true
        schema:
          type: string
      responses:
        default:
          description: Deletes a Health Source by its identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
  /cv/api/health-sources/{identifier}/runtime-inputs:
    get:
      tags:
      - Healthsources
      summary: Get runtime inputs for a Health Source
      operationId: getHealthSourceRuntimeInputs
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier
        schema:
          type: string
      - name: identifier
        in: path
        description: Health Source Identifier
        required: true
        schema:
          type: string
      responses:
        default:
          description: Returns only the fields marked as <+input> on the saved HealthSource. Embed runtimeInputYaml directly as healthSourceInputs in the AI Verify step YAML.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOHealthSourceRuntimeInputs'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOHealthSourceRuntimeInputs'
components:
  schemas:
    HealthSourceResponse:
      type: object
      properties:
        accountId:
          type: string
          description: Account identifier
        orgIdentifier:
          type: string
          description: Organization identifier
        projectIdentifier:
          type: string
          description: Project identifier
        identifier:
          type: string
          description: Identifier of the Health Source
        name:
          type: string
          description: Name of the Health Source
        connectorRef:
          type: string
          description: Connector reference for the data source
        mcpRef:
          type: string
          description: MCP reference for AI/ML capabilities
        dataSourceType:
          type: string
          description: Type of data source
          enum:
          - DatadogMetrics
          - DynatraceGrailLogs
          - DynatraceGrailMetrics
          - PrometheusMetrics
        queryDefinitions:
          $ref: '#/components/schemas/QueryDefinitionsWrapper'
        healthSourceParams:
          type: object
          additionalProperties:
            type: string
            description: Additional parameters for the health source
          description: Additional parameters for the health source
        variables:
          type: array
          description: Variables that can be substituted into queries using <+healthSourceVariables.name>
          items:
            $ref: '#/components/schemas/CvNGVariable'
        createdAt:
          type: integer
          description: Creation timestamp
          format: int64
        lastUpdatedAt:
          type: integer
          description: Last updated timestamp
          format: int64
      description: Response containing Health Source details
    ResponseDTOBoolean:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          type: boolean
        metaData:
          type: object
        correlationId:
          type: string
    ResponseDTOHealthSourceRuntimeInputs:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/HealthSourceRuntimeInputs'
        metaData:
          type: object
        correlationId:
          type: string
    ResponseDTOOptionalHealthSourceResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/HealthSourceResponse'
        metaData:
          type: object
        correlationId:
          type: string
    HealthSource:
      required:
      - connectorRef
      - dataSourceType
      - identifier
      - name
      - queryDefinitions
      type: object
      properties:
        identifier:
          type: string
          description: Identifier of the Health Source
        name:
          type: string
          description: Name of the Health Source
        connectorRef:
          type: string
          description: Connector reference for the data source
        mcpRef:
          type: string
          description: MCP reference for AI/ML capabilities
        dataSourceType:
          type: string
          description: Type of data source
          enum:
          - DatadogMetrics
          - DynatraceGrailLogs
          - DynatraceGrailMetrics
          - PrometheusMetrics
        queryDefinitions:
          $ref: '#/components/schemas/QueryDefinitionsWrapper'
        healthSourceParams:
          type: object
          additionalProperties:
            type: string
            description: Additional parameters for the health source
          description: Additional parameters for the health source
        variables:
          type: array
          description: Variables that can be substituted into queries using <+healthSourceVariables.name>
          items:
            $ref: '#/components/schemas/CvNGVariable'
      description: This contains details of the Health Source configuration
    CvJsonNode:
      type: object
      description: Same data in JSON form for typed UI rendering. Null when hasRuntimeInputs is false.
    QueryDefinitionsDTO:
      required:
      - type
      type: object
      properties:
        type:
          type: string
      description: Query definitions specification
      discriminator:
        propertyName: type
    CvNGVariable:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          enum:
          - String
          - Number
          - Secret
        description:
          type: string
        required:
          type: boolean
        metadata:
          type: string
      description: Variables that can be substituted into queries using <+healthSourceVariables.name>
      discriminator:
        propertyName: type
    HealthSourceRuntimeInputs:
      type: object
      properties:
        hasRuntimeInputs:
          type: boolean
          description: True when the HealthSource has at least one <+input> field
        runtimeInputYaml:
          type: string
          description: 'YAML snippet to embed directly as healthSourceInputs: in the AI Verify step YAML. Null when hasRuntimeInputs is false.'
        runtimeInputs:
          $ref: '#/components/schemas/CvJsonNode'
      description: Fields on the HealthSource that require runtime input values (<+input> marked). Embed runtimeInputYaml directly as healthSourceInputs in the AI Verify step.
    QueryDefinitionsWrapper:
      required:
      - spec
      - type
      type: object
      properties:
        type:
          type: string
          description: Type of verification - METRICS or LOGS
          enum:
          - Metrics
          - Logs
        spec:
          $ref: '#/components/schemas/QueryDefinitionsDTO'
      description: Wrapper for query definitions containing type and spec
    ResponseDTOHealthSourceResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/HealthSourceResponse'
        metaData:
          type: object
        correlationId:
          type: string
    ResponseDTOListHealthSourceResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          type: array
          items:
            $ref: '#/components/schemas/HealthSourceResponse'
        metaData:
          type: object
        correlationId:
          type: string
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
