openapi: 3.2.0
info:
  title: Harness Catalog Custom Properties API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: CatalogCustomProperties
  description: Catalog Custom Properties
  x-displayName: Catalog Custom Properties
paths:
  /v1/catalog/custom-properties:
    parameters: []
    post:
      summary: Ingest catalog custom properties
      tags:
      - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyByFieldResponse'
      operationId: ingest-catalog-custom-properties
      x-stoplight:
        id: 3eczjage6lz9a
      x-internal: false
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      - $ref: '#/components/parameters/DryRunCatalogCustomProperties'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPropertyFilterRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomPropertyFilterRequest'
    delete:
      summary: Delete catalog custom properties
      tags:
      - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyDeleteByFieldResponse'
      operationId: delete-catalog-custom-properties
      x-stoplight:
        id: vb71p39cmv358
      x-internal: false
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      - $ref: '#/components/parameters/DryRunCatalogCustomProperties'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPropertyFilterDeleteRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomPropertyFilterDeleteRequest'
  /v1/catalog/custom-properties/entity:
    get:
      summary: Get catalog custom properties for given entity
      tags:
      - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyByEntityGetResponse'
      operationId: get-catalog-custom-properties-by-entity
      x-stoplight:
        id: 3edqlaqe8lz9b
      x-internal: false
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      - $ref: '#/components/parameters/EntityRef'
    post:
      summary: Ingest catalog custom properties for given entity
      tags:
      - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyResponse'
      operationId: ingest-catalog-custom-properties-by-entity
      x-stoplight:
        id: 3eczoaje6lz0g
      x-internal: false
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      - $ref: '#/components/parameters/DryRunCatalogCustomProperties'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPropertyByEntityRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomPropertyByEntityRequest'
    delete:
      summary: Delete catalog custom properties for given entity
      tags:
      - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyResponse'
      operationId: delete-catalog-custom-properties-by-entity
      x-stoplight:
        id: vb71p39dmz358
      x-internal: false
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      - $ref: '#/components/parameters/DryRunCatalogCustomProperties'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPropertyByEntityDeleteRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomPropertyByEntityDeleteRequest'
  /v1/catalog/custom-properties/property:
    get:
      summary: Get entities for given custom property
      tags:
      - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyByFieldGetResponse'
      operationId: get-entities-by-catalog-custom-property
      x-stoplight:
        id: 3edljble6lz9a
      x-internal: false
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      - $ref: '#/components/parameters/Property'
    post:
      summary: Ingest entities for given custom property
      tags:
      - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyResponse'
      operationId: ingest-entities-by-catalog-custom-property
      x-stoplight:
        id: 3eczoaje6lz0g
      x-internal: false
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      - $ref: '#/components/parameters/DryRunCatalogCustomProperties'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPropertyByFieldRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomPropertyByFieldRequest'
    delete:
      summary: Delete entities for given custom property
      tags:
      - CatalogCustomProperties
      responses:
        '200':
          $ref: '#/components/responses/CustomPropertyResponse'
      operationId: delete-entities-by-catalog-custom-property
      x-stoplight:
        id: vb71p39dmz358
      x-internal: false
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      - $ref: '#/components/parameters/DryRunCatalogCustomProperties'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPropertyByFieldDeleteRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomPropertyByFieldDeleteRequest'
components:
  schemas:
    CustomPropertyByFieldDeleteResponse:
      title: CustomPropertyByFieldDeleteResponse
      x-stoplight:
        id: 6mjc0h4a2gtq6
      type: object
      required:
      - property
      - entities_with_deletion
      properties:
        property:
          type: string
          x-stoplight:
            id: oo229sv9sf7by
        entities_with_deletion:
          $ref: '#/components/schemas/CustomPropertyEntitiesCount'
    CustomPropertyFilterRequest:
      title: CustomPropertyFilterRequest
      x-stoplight:
        id: r7b8oidy5wmw3
      description: Custom Property filter request for ingestion
      allOf:
      - $ref: '#/components/schemas/PropertyValue'
      - type: object
        required:
        - filter
        properties:
          filter:
            $ref: '#/components/schemas/ScorecardFilter'
          skip_entity_refs:
            type: array
            x-stoplight:
              id: 9rtf97h3uu9z3
            items:
              x-stoplight:
                id: etzt6sp88w5iz
              type: string
    CustomPropertyByFieldResponse:
      title: CustomPropertyByFieldResponse
      x-stoplight:
        id: wc4i06fegoodx
      type: object
      required:
      - property
      - entities_with_additions
      - entities_with_updates
      properties:
        property:
          type: string
          x-stoplight:
            id: ix5gx2623nliy
        entities_with_additions:
          $ref: '#/components/schemas/CustomPropertyEntitiesCount'
        entities_with_updates:
          $ref: '#/components/schemas/CustomPropertyEntitiesCount'
    PropertyValue:
      title: PropertyValue
      x-stoplight:
        id: awleozpepzo2p
      type: object
      description: Value overrides for custom property
      required:
      - property
      - value
      properties:
        property:
          type: string
          x-stoplight:
            id: e60m6bmezo34y
        value:
          type: object
          x-stoplight:
            id: 00wv958ee37z0
        mode:
          type: string
          x-stoplight:
            id: ngeqasui9chk4
          enum:
          - append
          - replace
    CustomPropertyByEntityRequest:
      title: CustomPropertyByEntityRequest
      x-stoplight:
        id: 5tvio8q8l1dpd
      allOf:
      - $ref: '#/components/schemas/CustomPropertiesBase'
      - type: object
        properties:
          properties:
            type: array
            x-stoplight:
              id: 8t9gstypcz6rq
            items:
              $ref: '#/components/schemas/PropertyValue'
    CustomPropertyByEntityGetResponse:
      title: CustomPropertyByEntityGetResponse
      x-stoplight:
        id: nn908nicqnzps
      type: object
      properties:
        properties:
          type: array
          x-stoplight:
            id: 8t9gstypcz6rq
          items:
            $ref: '#/components/schemas/PropertyValue'
    CustomPropertyResponse:
      title: CustomPropertyResponse
      x-stoplight:
        id: ud6i06fagpppl
      type: object
      required:
      - status
      - message
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - ERROR
          x-stoplight:
            id: ix5gx2623nliy
        message:
          type: string
          x-stoplight:
            id: ix5gx2623nliy
    CustomPropertiesBase:
      title: CustomPropertiesBase
      x-stoplight:
        id: blleozqeppo3p
      type: object
      description: Custom properties base
      properties:
        entity_ref:
          type: string
          x-stoplight:
            id: f60m7omezo34z
        property:
          type: string
          x-stoplight:
            id: e60m6bmezo34y
        value:
          type: object
          x-stoplight:
            id: 00wv958ee37z0
        mode:
          type: string
          x-stoplight:
            id: ngeqasui9chk4
          enum:
          - append
          - replace
    ScorecardFilter:
      title: ScorecardFilter
      x-stoplight:
        id: xwnr2xalsb1fv
      type: object
      properties:
        kind:
          type: string
          x-stoplight:
            id: ni2n6gaelw2sh
        type:
          type: string
          x-stoplight:
            id: pit0to8ng7rtl
        owners:
          type: array
          x-stoplight:
            id: ibe4axxxrnwpl
          items:
            x-stoplight:
              id: kde7prhuw2ww2
            type: string
        tags:
          type: array
          x-stoplight:
            id: 9sqie0nb3f08d
          items:
            x-stoplight:
              id: 8sko0og6lpbyh
            type: string
        lifecycle:
          type: array
          x-stoplight:
            id: 9rtf97h3uu9z3
          items:
            x-stoplight:
              id: etzt6sp88w5iz
            type: string
      required:
      - kind
    EntityValue:
      title: EntityValue
      x-stoplight:
        id: bpqeozlezzo2s
      type: object
      description: Value overrides for custom property
      required:
      - entity_ref
      properties:
        entity_ref:
          type: string
          x-stoplight:
            id: e60m6bmezo34y
        value:
          type: object
          x-stoplight:
            id: 00wv958ee37z0
    CustomPropertyFilterDeleteRequest:
      title: CustomPropertyFilterDeleteRequest
      x-stoplight:
        id: r7b8oidy5ppw3
      description: Custom Property filter delete request
      type: object
      required:
      - property
      - filter
      properties:
        property:
          type: string
          x-stoplight:
            id: e60m6bmezo34y
        filter:
          $ref: '#/components/schemas/ScorecardFilter'
        skip_entity_refs:
          type: array
          x-stoplight:
            id: 9rtf97h3uu9z3
          items:
            x-stoplight:
              id: etzt6sp88w5iz
            type: string
    CustomPropertyByFieldRequest:
      title: CustomPropertyByFieldRequest
      x-stoplight:
        id: 5tvio9q9l2dpd
      allOf:
      - $ref: '#/components/schemas/CustomPropertiesBase'
      - type: object
        properties:
          entity_refs:
            type: array
            x-stoplight:
              id: 8t9gstypcz6rq
            items:
              $ref: '#/components/schemas/EntityValue'
          value:
            type: object
            x-stoplight:
              id: botemn13q8oum
    CustomPropertyByEntityDeleteRequest:
      title: CustomPropertyByEntityDeleteRequest
      x-stoplight:
        id: 8tpio8p8l2bpe
      required:
      - entity_ref
      properties:
        entity_ref:
          type: string
          x-stoplight:
            id: e60m6bmezo34y
        property:
          type: string
          x-stoplight:
            id: 8t9gstypcz6rq
        properties:
          type: array
          x-stoplight:
            id: 9rtf97h3uu9z3
          items:
            x-stoplight:
              id: etzt6sp88w5iz
            type: string
    CustomPropertyByFieldGetResponse:
      title: CustomPropertyByFieldGetResponse
      x-stoplight:
        id: pq996nicsnzus
      type: object
      properties:
        entity_refs:
          type: array
          x-stoplight:
            id: 8t9gstypcz6rq
          items:
            $ref: '#/components/schemas/EntityValue'
        mode:
          type: string
          x-stoplight:
            id: xhepwtso50sls
    CustomPropertyByFieldDeleteRequest:
      title: CustomPropertyByFieldDeleteRequest
      x-stoplight:
        id: 9tpio9p9l2bpe
      required:
      - property
      properties:
        property:
          type: string
          x-stoplight:
            id: e60m6bmezo34y
        entity_ref:
          type: string
          x-stoplight:
            id: botemn13q8oum
        entity_refs:
          type: array
          x-stoplight:
            id: 9rtf97h3uu9z3
          items:
            x-stoplight:
              id: etzt6sp88w5iz
            type: string
    CustomPropertyEntitiesCount:
      title: CustomPropertyEntitiesCount
      x-stoplight:
        id: gipskdfrfr4se
      type: object
      required:
      - count
      properties:
        count:
          type: integer
          x-stoplight:
            id: 88y9vxs5v3tqc
        entity_refs:
          type: array
          x-stoplight:
            id: 8lpmsukk6dl4l
          items:
            x-stoplight:
              id: ilcf2ihl97863
            type: string
  responses:
    CustomPropertyByFieldGetResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomPropertyByFieldGetResponse'
        application/yaml:
          schema:
            $ref: '#/components/schemas/CustomPropertyByFieldGetResponse'
    CustomPropertyDeleteByFieldResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomPropertyByFieldDeleteResponse'
        application/yaml:
          schema:
            $ref: '#/components/schemas/CustomPropertyByFieldDeleteResponse'
    CustomPropertyByEntityGetResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomPropertyByEntityGetResponse'
        application/yaml:
          schema:
            $ref: '#/components/schemas/CustomPropertyByEntityGetResponse'
    CustomPropertyByFieldResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomPropertyByFieldResponse'
        application/yaml:
          schema:
            $ref: '#/components/schemas/CustomPropertyByFieldResponse'
    CustomPropertyResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomPropertyResponse'
        application/yaml:
          schema:
            $ref: '#/components/schemas/CustomPropertyResponse'
  parameters:
    DryRunCatalogCustomProperties:
      name: dry_run
      in: query
      required: false
      schema:
        type: boolean
        default: false
      description: Dry run catalog custom properties
    AccountHeader5:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to.
    Property:
      name: property
      in: query
      required: true
      schema:
        type: string
      description: Identifier for catalog property
    EntityRef:
      name: entity_ref
      in: query
      required: true
      schema:
        type: string
      description: Identifier for catalog entity
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
