openapi: 3.2.0
info:
  title: Harness Chaos Infrastructure API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Chaos Infrastructure
paths:
  /gateway/chaos/manager/api/rest/imageRegistry:
    get:
      summary: Get image registry
      operationId: getImageRegistry
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handlers.ImageRegistryDetails'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.Error'
      tags:
      - Chaos Infrastructure
  /gateway/chaos/manager/api/rest/kubernetes/infra:
    post:
      security:
      - ApiKeyAuth: []
      tags:
      - Chaos Infrastructure
      summary: Register a new legacy kubernetes chaos infra
      operationId: registerLegacyKubernetesInfra
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_graph_model.RegisterInfraRequest'
        description: Register Legacy kubernetes Chaos Infra
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_graph_model.RegisterInfraResponse'
        '400':
          description: Bad request - Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '401':
          description: Unauthorized - Invalid credentials or insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/kubernetes/infra/helm-command/{id}:
    get:
      security:
      - ApiKeyAuth: []
      description: Test legacy kubernetes helm infra command
      tags:
      - Chaos Infrastructure
      summary: Get legacy kubernetes helm infra command
      operationId: getLegacyKubernetesHelmInfraCommand
      parameters:
      - description: Kubernetes Chaos Infra ID
        name: id
        in: path
        required: true
        schema:
          type: string
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          description: Bad request - Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '401':
          description: Unauthorized - Invalid credentials or insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/kubernetes/infra/manifest/{id}:
    get:
      security:
      - ApiKeyAuth: []
      tags:
      - Chaos Infrastructure
      summary: Get legacy kubernetes chaos infrastructure manifest
      operationId: getLegacyKubernetesChaosInfraManifest
      parameters:
      - description: Kubernetes Chaos Infra ID
        name: id
        in: path
        required: true
        schema:
          type: string
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Bad request - Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '401':
          description: Unauthorized - Invalid credentials or insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/kubernetes/infra/stats:
    get:
      security:
      - ApiKeyAuth: []
      tags:
      - Chaos Infrastructure
      summary: Get legacy kubernetes chaos infra stats
      operationId: getLegacyKubernetesChaosInfraStats
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.GetInfraStatsResponse'
        '400':
          description: Bad request - Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '401':
          description: Unauthorized - Invalid credentials or insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/kubernetes/infra/upgrade/{id}:
    post:
      security:
      - ApiKeyAuth: []
      tags:
      - Chaos Infrastructure
      summary: Upgrade legacy kubernetes chaos infrastructure
      operationId: upgradeLegacyKubernetesChaosInfra
      parameters:
      - description: Kubernetes Chaos Infra ID
        name: id
        in: path
        required: true
        schema:
          type: string
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kubernetes_infra.UpgradeKubernetesInfrastructureResponse'
        '400':
          description: Bad request - Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '401':
          description: Unauthorized - Invalid credentials or insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/kubernetes/infra/version:
    get:
      security:
      - ApiKeyAuth: []
      tags:
      - Chaos Infrastructure
      summary: Get legacy kubernetes chaos infrastructure version details
      operationId: getLegacyKubernetesChaosInfraVersionDetails
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.InfraVersionDetails'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/kubernetes/infra/{id}:
    get:
      security:
      - ApiKeyAuth: []
      tags:
      - Chaos Infrastructure
      summary: Get legacy kubernetes chaos infrastructure details
      operationId: getLegacyKubernetesChaosInfraDetails
      parameters:
      - description: Kubernetes Chaos Infra ID
        name: id
        in: path
        required: true
        schema:
          type: string
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.KubernetesInfra'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
    put:
      security:
      - ApiKeyAuth: []
      tags:
      - Chaos Infrastructure
      summary: Update legacy kubernetes chaos infras
      operationId: updateLegacyKubernetesChaosInfra
      parameters:
      - description: Kubernetes Chaos Infra ID
        name: id
        in: path
        required: true
        schema:
          type: string
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.UpdateInfraRequest'
        description: update legacy kubernetes chaos infra
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kubernetes_infra.UpdateKubernetesInfrastructureResponse'
        '400':
          description: Bad request - Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '401':
          description: Unauthorized - Invalid credentials or insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
    delete:
      security:
      - ApiKeyAuth: []
      tags:
      - Chaos Infrastructure
      summary: Delete a legacy kubernetes chaos infra
      operationId: deleteLegacyKubernetesChaosInfra
      parameters:
      - description: Legacy Kubernetes Chaos Infra ID
        name: id
        in: path
        required: true
        schema:
          type: string
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: forceDelete
        in: query
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Bad request - Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '401':
          description: Unauthorized - Invalid credentials or insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/kubernetes/infra/health/{id}:
    get:
      security:
      - ApiKeyAuth: []
      tags:
      - Chaos Infrastructure
      summary: Test legacy kubernetes chaos infrastructure connection
      operationId: testLegacyKubernetesChaosInfraConnection
      parameters:
      - description: Kubernetes Chaos Infra ID
        name: id
        in: path
        required: true
        schema:
          type: string
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
        '400':
          description: Bad request - Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '401':
          description: Unauthorized - Invalid credentials or insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/kubernetes/infras:
    post:
      security:
      - ApiKeyAuth: []
      tags:
      - Chaos Infrastructure
      summary: List legacy kubernetes chaos infras
      operationId: listLegacyKubernetesChaosInfra
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.ListInfraRequest'
        description: list legacy kubernetes chaos infra
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.ListInfraResponse'
        '400':
          description: Bad request - Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '401':
          description: Unauthorized - Invalid credentials or insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/machine/infra:
    post:
      security:
      - ApiKeyAuth: []
      tags:
      - Chaos Infrastructure
      summary: Register a new machine chaos infra
      operationId: registerMachineInfra
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: infra type
        name: infraType
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/infra.RegisterInfraRequest'
        description: Register Machine Chaos Infra
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/infra.RegisterInfraResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/machine/infra/version:
    get:
      security:
      - ApiKeyAuth: []
      tags:
      - Chaos Infrastructure
      summary: Get machine chaos infrastructure version details
      operationId: getMachineChaosInfraVersionDetails
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: type of chaos infrastructure, e.g. CloudFoundry, Windows, Linux, Container
        name: infraType
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/infra.GetInfraVersionDetailsRequest'
        description: Get Machine Chaos Infra Version Details
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/infra.InfraVersionDetails'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/machine/infra/{id}:
    get:
      security:
      - ApiKeyAuth: []
      tags:
      - Chaos Infrastructure
      summary: Get machine chaos infrastructure details
      operationId: getMachineChaosInfraDetails
      parameters:
      - description: Machine Chaos Infra ID
        name: id
        in: path
        required: true
        schema:
          type: string
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: type of chaos infrastructure, e.g. CloudFoundry, Windows, Linux, Container
        name: infraType
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_harness_hce-saas_hce-sdk_types_api_machine_infra.Infra'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
    put:
      security:
      - ApiKeyAuth: []
      tags:
      - Chaos Infrastructure
      summary: Update the machine chaos infra
      operationId: updateMachineInfra
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: Machine Chaos Infra ID
        name: id
        in: path
        required: true
        schema:
          type: string
      - description: infra type
        name: infraType
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/infra.UpdateInfraRequest'
        description: Update Machine Chaos Infra
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/infra.UpdateInfraResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
    delete:
      security:
      - ApiKeyAuth: []
      tags:
      - Chaos Infrastructure
      summary: Delete a machine chaos infra
      operationId: deleteMachineChaosInfra
      parameters:
      - description: Machine Chaos Infra ID
        name: id
        in: path
        required: true
        schema:
          type: string
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: infra type
        name: infraType
        in: query
        required: true
        schema:
          type: string
      - description: force delete the infrastructure
        name: forceDelete
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/machine/infras:
    post:
      security:
      - ApiKeyAuth: []
      tags:
      - Chaos Infrastructure
      summary: List machine chaos infras
      operationId: listMachineChaosInfra
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: send minimal infra response, default is false
        name: minimalResponse
        in: query
        schema:
          type: boolean
      - description: infra type
        name: infraType
        in: query
        required: true
        schema:
          type: string
      - description: page number
        name: page
        in: query
        required: true
        schema:
          type: integer
          default: 0
      - description: limit per page
        name: limit
        in: query
        required: true
        schema:
          type: integer
          default: 10
      - description: search based on name
        name: search
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/infra.ListInfraRequest'
        description: list machine chaos infra
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/infra.ListInfraResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/usage:
    get:
      summary: Get resource usage
      operationId: getResourceUsage
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handlers.CHAOSLicenseUsageDTO'
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      tags:
      - Chaos Infrastructure
  /gateway/chaos/manager/api/rest/v2/harness-infrastructures:
    get:
      summary: List harness infras
      operationId: listHarnessInfra
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: environment id that want to access the resource
        name: environmentIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: page number
        name: page
        in: query
        required: true
        schema:
          type: integer
          default: 0
      - description: limit per page
        name: limit
        in: query
        required: true
        schema:
          type: integer
          default: 10
      - description: search based on name
        name: search
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ListHarnessInfrastructureResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Chaos Infrastructure
  /gateway/chaos/manager/api/rest/v2/infrastructure:
    put:
      security:
      - ApiKeyAuth: []
      tags:
      - Chaos Infrastructure
      summary: Update a v2 infra
      operationId: updateInfraV2
      parameters:
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/infra_v2.UpdateKubernetesInfrastructureV2Request'
        description: update Infra V2
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/infra_v2.UpdateKubernetesInfrastructureV2Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
    post:
      security:
      - ApiKeyAuth: []
      tags:
      - Chaos Infrastructure
      summary: Register a new v2 infra
      operationId: registerInfraV2
      parameters:
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/infra_v2.RegisterInfrastructureV2Request'
        description: Register Infra V2
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/infra_v2.RegisterInfrastructureV2Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/v2/infrastructure/yaml:
    post:
      summary: Preview v2 infra Yaml
      operationId: getV2InfrastructureYaml
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/infra_v2.GetKubernetesInfrastructureV2YamlRequest'
        description: preview Infra V2 yaml
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/infra_v2.GetKubernetesInfrastructureV2YamlResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Chaos Infrastructure
  /gateway/chaos/manager/api/rest/v2/infrastructure/{environmentIdentifier}/{identity}:
    delete:
      security:
      - ApiKeyAuth: []
      description: Delete a new v2 infra
      tags:
      - Chaos Infrastructure
      summary: Delete a v2 infra
      operationId: deleteInfraV2
      parameters:
      - description: Chaos V2 Infra Identity
        name: identity
        in: path
        required: true
        schema:
          type: string
      - description: Chaos V2 Environment Identity
        name: environmentIdentifier
        in: path
        required: true
        schema:
          type: string
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/infra_v2.DeleteKubernetesInfraV2Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/v2/infrastructure/{identity}:
    get:
      security:
      - ApiKeyAuth: []
      tags:
      - Chaos Infrastructure
      summary: Get v2 infra details
      operationId: getInfraV2
      parameters:
      - description: Chaos V2 Infra Identity
        name: identity
        in: path
        required: true
        schema:
          type: string
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: environment identifier to filter resource
        name: environmentIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/infra_v2.KubernetesInfrastructureV2Details'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/v2/infrastructure/{identity}/connector:
    get:
      summary: Get Connector For Infra
      operationId: getConnectorForInfra
      parameters:
      - description: Chaos V2 Infra Identity
        name: identity
        in: path
        required: true
        schema:
          type: string
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: environment id that want to access the resource
        name: environmentIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.GetHarnessInfrastructureResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Chaos Infrastructure
  /gateway/chaos/manager/api/rest/v2/infrastructures:
    post:
      security:
      - ApiKeyAuth: []
      tags:
      - Chaos Infrastructure
      summary: List v2 infras
      operationId: listInfraV2
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: include legacy infra details
        name: includeLegacyInfra
        in: query
        schema:
          type: boolean
      - description: filter infra
        name: environmentIdentifier
        in: query
        schema:
          type: string
      - description: page number
        name: page
        in: query
        required: true
        schema:
          type: integer
          default: 0
      - description: limit per page
        name: limit
        in: query
        required: true
        schema:
          type: integer
          default: 10
      - description: search based on name
        name: search
        in: query
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/infra_v2.ListKubernetesInfraV2Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/infra_v2.ListKubernetesInfraV2Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/v2/infrastructures/chaos-enabled:
    post:
      summary: List v2 infras
      operationId: listChaosEnabledInfraV2
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: filter infra
        name: environmentIdentifier
        in: query
        schema:
          type: string
      - description: page number
        name: page
        in: query
        required: true
        schema:
          type: integer
          default: 0
      - description: limit per page
        name: limit
        in: query
        required: true
        schema:
          type: integer
          default: 10
      - description: search based on name
        name: search
        in: query
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/infra_v2.ListKubernetesInfraV2Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/infra_v2.ListKubernetesInfraV2Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Chaos Infrastructure
  /gateway/chaos/manager/api/rest/v2/infrastructures/{infrastructureIdentity}/applications:
    get:
      security:
      - ApiKeyAuth: []
      summary: List all applications for a given infra
      operationId: listApplication
      parameters:
      - description: Chaos V2 Infrastructure identity
        name: infrastructureIdentity
        in: path
        required: true
        schema:
          type: string
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: environment identifier to filter resource
        name: environmentIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationchaostarget.ListApplicationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Chaos Infrastructure
  /gateway/chaos/manager/api/rest/v2/infrastructures/{infrastructureIdentity}/applications/{applicationIdentity}/functions:
    get:
      security:
      - ApiKeyAuth: []
      summary: List instrumented functions for given application
      operationId: listFunction
      parameters:
      - description: Chaos V2 Infrastructure identity
        name: infrastructureIdentity
        in: path
        required: true
        schema:
          type: string
      - description: application identity
        name: applicationIdentity
        in: path
        required: true
        schema:
          type: string
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: environment identifier to filter resource
        name: environmentIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationchaostarget.ListFunctionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Chaos Infrastructure
  /gateway/chaos/manager/api/rest/v2/infrastructures/{infrastructureIdentity}/token:
    get:
      security:
      - ApiKeyAuth: []
      summary: Get a v2 infra token
      operationId: getInfraToken
      parameters:
      - description: Chaos V2 Infra Identity
        name: infrastructureIdentity
        in: path
        required: true
        schema:
          type: string
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: environment identifier to filter resource
        name: environmentIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/k8sinfra.GetInfraTokenResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Chaos Infrastructure
  /gateway/chaos/manager/api/rest/v2/infrastructures/{infrastructureIdentity}/updateemissary:
    post:
      security:
      - ApiKeyAuth: []
      summary: Update emissary endpoint
      operationId: updateEmissary
      parameters:
      - description: Chaos V2 Infra Identity
        name: infrastructureIdentity
        in: path
        required: true
        schema:
          type: string
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: environment identifier to filter resource
        name: environmentIdentifier
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/k8sinfra.UpdateEmissaryURLRequest'
        description: update emissary request
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/k8sinfra.UpdateEmissaryURLResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Chaos Infrastructure
components:
  schemas:
    github_com_harness_hce-saas_graphql_server_graph_model.UserDetails:
      type: object
      properties:
        email:
          type: string
        userID:
          type: string
        username:
          type: string
    infra_v2.Upgrade:
      type: object
      properties:
        isAutoUpgradeEnabled:
          type: boolean
        status:
          $ref: '#/components/schemas/infra_v2.UpgradeStatus'
    infra_v2.Volumes:
      type: object
      properties:
        name:
          type: string
        sizeLimit:
          type: string
    v1.TaintEffect:
      type: string
      enum:
      - NoSchedule
      - PreferNoSchedule
      - NoExecute
      x-enum-varnames:
      - TaintEffectNoSchedule
      - TaintEffectPreferNoSchedule
      - TaintEffectNoExecute
    infra.InfraVersionDetails:
      type: object
      properties:
        compatibleVersions:
          description: List of all infra versions supported
          type: array
          items:
            type: string
        latestVersion:
          description: Latest infra version supported
          type: string
    infra_v2.ListKubernetesInfraV2Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/infra_v2.KubernetesInfraV2FilterInput'
        identifier:
          $ref: '#/components/schemas/infra_v2.Identifiers'
        sort:
          $ref: '#/components/schemas/infra_v2.SortInput'
    infra.UpdateInfraResponse:
      type: object
      properties:
        correlationID:
          type: string
        message:
          type: string
    infra.EcsInstallationManifest:
      type: object
      properties:
        service:
          description: Service manifest
          type: string
        taskDefinition:
          description: TaskDefinition manifest
          type: string
    infra.PlatformType:
      type: string
      enum:
      - AWS_ECS
      - DOCKER_COMPOSE
      - HASHICORP_NOMAD
      x-enum-varnames:
      - PlatformTypeAwsEcs
      - PlatformTypeDockerCompose
      - PlatformTypeHashicorpNomad
    infra_v2.InstallationType:
      type: string
      enum:
      - CONNECTOR
      - MANIFEST
      - CONNECTOR_V2
      x-enum-varnames:
      - InstallationTypeConnector
      - InstallationTypeManifest
      - InstallationTypeConnectorV2
    infra_v2.UpgradeStatus:
      type: string
      enum:
      - UPGRADING_INFRA
      - UPGRADE_SKIPPED
      - UPGRADE_SUCCESSFUL
      - UPGRADE_FAILED
      - DETECTING_UPGRADER
      - UPGRADER_DISABLED
      x-enum-varnames:
      - UpgradeStatusUpgrading
      - UpgradeStatusSkipped
      - UpgradeStatusSuccessful
      - UpgradeStatusFailed
      - UpgradeStatusDetecting
      - UpgradeStatusDisabled
    shared.Error:
      type: object
      properties:
        code:
          type: integer
        correlationID:
          type: string
        message:
          type: string
    model.GetInfraStatsResponse:
      type: object
      properties:
        totalActiveInfrastructure:
          description: Total number of active infrastructures
          type: integer
        totalConfirmedInfrastructure:
          description: Total number of confirmed infrastructures
          type: integer
        totalInactiveInfrastructures:
          description: Total number of inactive infrastructures
          type: integer
        totalInfrastructures:
          description: Total number of infrastructures
          type: integer
        totalNonConfirmedInfrastructures:
          description: Total number of non confirmed infrastructures
          type: integer
    model.UpgradeStatus:
      type: string
      enum:
      - UPGRADING_INFRA
      - UPGRADE_SKIPPED
      - UPGRADE_SUCCESSFUL
      - UPGRADE_FAILED
      - DETECTING_UPGRADER
      - UPGRADER_DISABLED
      x-enum-varnames:
      - UpgradeStatusUpgradingInfra
      - UpgradeStatusUpgradeSkipped
      - UpgradeStatusUpgradeSuccessful
      - UpgradeStatusUpgradeFailed
      - UpgradeStatusDetectingUpgrader
      - UpgradeStatusUpgraderDisabled
    infra_v2.InfraType:
      type: string
      enum:
      - KUBERNETES
      - KUBERNETESV2
      x-enum-varnames:
      - InfraTypeKubernetes
      - InfraTypeKubernetesV2
    infra_v2.UpdateKubernetesInfrastructureV2Response:
      type: object
      properties:
        correlationId:
          type: string
        message:
          type: string
    infra.ListInfraRequest:
      type: object
      properties:
        environmentIDs:
          description: Environment ID
          type: array
          items:
            type: string
        filter:
          description: Details for fetching filtered data
          allOf:
          - $ref: '#/components/schemas/infra.InfraFilterInput'
        infraIDs:
          description: Array of infra IDs for which details will be fetched
          type: array
          items:
            type: string
        sort:
          description: Sort the infrastructures based on field
          allOf:
          - $ref: '#/components/schemas/infra_v2.SortInput'
    infra.DeploymentType:
      type: string
      enum:
      - AWS_ECS_EC2
      - AWS_ECS_FARGATE
      x-enum-varnames:
      - DeploymentTypeAwsEcsEc2
      - DeploymentTypeAwsEcsFargate
    infra_v2.SortInput:
      type: object
      properties:
        ascending:
          description: Bool value indicating whether the sorting will be done in ascending order
          type: boolean
        field:
          description: Field in which sorting will be done
          allOf:
          - $ref: '#/components/schemas/infra_v2.SortingField'
    infra.RegisterInfraUserInputs:
      type: object
      properties:
        abortPollInterval:
          description: The interval at which abort is polled for a running task
          type: string
        chaosInfrastructureLogFileDirectory:
          description: Name of the log file directory
          type: string
        chaosInfrastructureLogFileMaxBackups:
          description: Maximum number of log file backups
          type: integer
        chaosInfrastructureLogFileMaxSize:
          description: Maximum size of log file in MB
          type: integer
        customTlsCertificate:
          description: TLS certificate to be used with the infrastructure
          type: string
        experimentLogFileMaxAgeDays:
          description: Maximum age of log file in days
          type: integer
        httpClientTimeout:
          description: The timeout duration for the infrastructure http client
          type: string
        httpProxy:
          description: URL for the http proxy
          type: string
        httpsProxy:
          description: URL for the https proxy
          type: string
        infraSpecificUserInputs:
          description: Infra specific user inputs
          allOf:
          - $ref: '#/components/schemas/infra.InfraSpecificUserInputs'
        livenessUpdateInterval:
          description: The interval at which chaos infrastructure updates liveness heartbeat
          type: string
        noProxy:
          description: Comma separated URLs that won't be proxied
          type: string
        taskPollInterval:
          description: The polling interval for fetching the new tasks
          type: string
        taskUpdateInterval:
          description: Task update interval
          type: string
        updateRetries:
          description: Specifies the maximum number of retries in case of a failure while sending a task status or result
          type: integer
        updateRetryInterval:
          description: Specifies the interval between the subsequent attempts to send a fault status or result, in case of a failure
          type: string
    infra.ListInfraResponse:
      type: object
      properties:
        infras:
          description: Details related to the infras
          type: array
          items:
            $ref: '#/components/schemas/github_com_harness_hce-saas_hce-sdk_types_api_machine_infra.Infra'
        totalNoOfInfras:
          description: Total number of infras
          type: integer
    infra.InfraFilterInput:
      type: object
      properties:
        description:
          description: ID of the infra
          type: string
        experimentVersion:
          description: Experiment version of the infra
          type: string
        infraID:
          description: ID of the infra
          type: string
        isActive:
          description: Status of infra
          type: boolean
        name:
          description: Name of the infra
          type: string
        status:
          description: Status of the infra
          type: string
        tags:
          description: Tags of an infra
          type: array
          items:
            type: string
    model.Upgrade:
      type: object
      properties:
        isAutoUpgradeEnabled:
          type: boolean
        status:
          $ref: '#/components/schemas/model.UpgradeStatus'
    v1.MountPropagationMode:
      type: string
      enum:
      - None
      - HostToContainer
      - Bidirectional
      x-enum-varnames:
      - MountPropagationNone
      - MountPropagationHostToContainer
      - MountPropagationBidirectional
    infra.UpdateInfraRequest:
      type: object
      properties:
        description:
          type: string
        environmentID:
          type: string
        name:
          type: string
        tags:
          type: array
          items:
            type: string
    model.InfrastructureType:
      type: string
      enum:
      - Kubernetes
      - KubernetesV2
      - Windows
      - Linux
      - CloudFoundry
      - Container
      x-enum-varnames:
      - InfrastructureTypeKubernetes
      - InfrastructureTypeKubernetesV2
      - InfrastructureTypeWindows
      - InfrastructureTypeLinux
      - InfrastructureTypeCloudFoundry
      - InfrastructureTypeContainer
    infra_v2.GetKubernetesInfrastructureV2YamlResponse:
      type: object
      properties:
        correlationId:
          type: string
        yaml:
          type: string
    v1.Toleration:
      type: object
      properties:
        effect:
          description: 'Effect indicates the taint effect to match. Empty means match all taint effects.

            When specified, allowed values are NoSchedule, PreferNoSchedule and NoExecute.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.TaintEffect'
        key:
          description: 'Key is the taint key that the toleration applies to. Empty means match all taint keys.

            If the key is empty, operator must be Exists; this combination means to match all values and all keys.

            +optional'
          type: string
        operator:
          description: 'Operator represents a key''s relationship to the value.

            Valid operators are Exists and Equal. Defaults to Equal.

            Exists is equivalent to wildcard for value, so that a pod can

            tolerate all taints of a particular category.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.TolerationOperator'
        tolerationSeconds:
          description: 'TolerationSeconds represents the period of time the toleration (which must be

            of effect NoExecute, otherwise this field is ignored) tolerates the taint. By default,

            it is not set, which means tolerate the taint forever (do not evict). Zero and

            negative values will be treated as 0 (evict immediately) by the system.

            +optional'
          type: integer
        value:
          description: 'Value is the taint value the toleration matches to.

            If the operator is Exists, the value should be empty, otherwise just a regular string.

            +optional'
          type: string
    image_registry.CustomImagesRequest:
      type: object
      properties:
        ddcr:
          type: string
        ddcrFault:
          type: string
        ddcrLib:
          type: string
        logWatcher:
          type: string
    infra.InfraType:
      type: string
      enum:
      - CloudFoundry
      - Windows
      - Linux
      - Container
      x-enum-varnames:
      - CloudFoundryInfra
      - WindowsInfra
      - LinuxInfra
      - ContainerInfra
    api.ListHarnessInfrastructureResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/api.HarnessInfrastructure'
        page:
          $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_api.Pagination'
    infra.CloudFoundryInfraUserInputs:
      type: object
      properties:
        allowedOrigins:
          description: The origins to be exempted from CORS
          type: string
        httpPort:
          description: The port at which CFCO should be started
          type: string
        livenessCheckInterval:
          description: The interval at which app instances liveness is checked
          type: string
        maxHeartbeatDelay:
          description: The maximum delay in the liveness update of app instances after which they get removed
          type: string
    infra_v2.ListKubernetesInfraV2Response:
      type: object
      properties:
        infras:
          type: array
          items:
            $ref: '#/components/schemas/infra_v2.KubernetesInfrastructureV2Details'
        pagination:
          $ref: '#/components/schemas/infra_v2.Pagination'
        totalNoOfInfrastructures:
          type: integer
    kubernetes_infra.UpdateKubernetesInfrastructureResponse:
      type: object
      properties:
        correlationId:
          type: string
        message:
          type: string
    applicationchaostarget.ListApplicationResponse:
      type: object
      properties:
        items:
          type: array
          items:
            type: string
    infra_v2.Pagination:
      type: object
      properties:
        limit:
          type: integer
        page:
          type: integer
    api.GetHarnessInfrastructureResponse:
      type: object
      properties:
        connectorRef:
          type: string
        correlationID:
          type: string
        environmentRef:
          type: string
        identifier:
          type: string
        isCompatible:
          type: boolean
        isUsed:
          type: boolean
        name:
          type: string
        namespace:
          type: string
        orgIdentifier:
          type: string
        projectIdentifier:
          type: string
        serviceAccount:
          type: string
        type:
          type: string
    handlers.ImageRegistryDetails:
      type: object
      properties:
        imageRegistryRepo:
          type: string
        imageRegistrySecret:
          type: string
    github_com_harness_hce-saas_graphql_server_api.Pagination:
      type: object
      properties:
        index:
          type: integer
        limit:
          type: integer
        totalItems:
          type: integer
        totalPages:
          type: integer
    infra_v2.InfraScope:
      type: string
      enum:
      - NAMESPACE
      - CLUSTER
      x-enum-varnames:
      - InfraScopeNamespace
      - InfraScopeCluster
    model.InstallationType:
      type: string
      enum:
      - CONNECTOR
      - MANIFEST
      - CONNECTORV2
      x-enum-varnames:
      - InstallationTypeConnector
      - InstallationTypeManifest
      - InstallationTypeConnectorv2
    infra_v2.InfraTypeFilter:
      type: string
      enum:
      - KUBERNETES
      - KUBERNETESV2
      - ALL
      x-enum-varnames:
      - InfraTypeFilterKubernetes
      - InfraTypeFilterKubernetesV2
      - InfraTypeFilterAll
    infra.GetInfraVersionDetailsRequest:
      type: object
      properties:
        infraType:
          description: InfraType of the infra
          allOf:
          - $ref: '#/components/schemas/infra.InfraType'
    infra_v2.InfraStatus:
      type: string
      enum:
      - ACTIVE
      - INACTIVE
      - PENDING
      - UPGRADING
      - UPGRADE_REQUIRED
      x-enum-varnames:
      - InfraStatusActive
      - InfraStatusInactive
      - InfraStatusPending
      - InfraStatusUpgrading
      - InfraStatusUpgradeRequired
    handlers.UsageDataDTO:
      type: object
      properties:
        count:
          type: integer
        displayName:
          type: string
        references:
          type: array
          items:
            $ref: '#/components/schemas/handlers.ReferenceDTO'
    api.ResponseErrorCode:
      type: string
      enum:
      - PIPELINE_NOT_FOUND
      x-enum-varnames:
      - PipelineNotFound
    model.ListInfraRequest:
      type: object
      properties:
        environmentIDs:
          description: Environment ID
          type: array
          items:
            type: string
        filter:
          description: Details for fetching filtered data
          allOf:
          - $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_graph_model.InfraFilterInput'
        infraIDs:
          description: Array of infra IDs for which details will be fetched
          type: array
          items:
            type: string
        k8sConnectorIDs:
          description: Connector ID
          type: array
          items:
            type: string
        pagination:
          description: Details for fetching paginated data
          allOf:
          - $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_graph_model.Pagination'
    api.RestError:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/api.ResponseErrorCode'
        description:
          type: string
        message:
          type: string
    github_com_harness_hce-saas_graphql_server_graph_model.Pagination:
      type: object
      properties:
        limit:
          description: Number of data to be fetched
          type: integer
        page:
          description: Page number for which data will be fetched
          type: integer
    infra.RegisterInfraResponse:
      type: object
      properties:
        accessKey:
          description: Infra access key
          type: string
        infraID:
          description: Unique ID for the newly registered infra
          type: string
        infraType:
          description: Infra type
          allOf:
          - $ref: '#/components/schemas/infra.InfraType'
        installationManifest:
          description: Infra installation manifest
          allOf:
          - $ref: '#/components/schemas/infra.InstallationManifest'
        name:
          description: Infra name as sent in request
          type: string
        serverURL:
          description: Infra server URL
          type: string
        version:
          description: Infra Version
          type: string
    handlers.ReferenceDTO:
      type: object
      properties:
        accountIdentifier:
          type: string
        identifier:
          type: string
        name:
          type: string
        orgIdentifier:
          type: string
        projectIdentifier:
          type: string
    image_registry.UserDetails:
      type: object
      properties:
        email:
          type: string
        userID:
          type: string
        username:
          type: string
    infra_v2.EnvValueFrom:
      type: string
      enum:
      - configMapKeyRef
      - secretKeyRef
      - value
      - valueFrom
      x-enum-varnames:
      - EnvValueFromConfigMapKeyRef
      - EnvValueFromSecretKeyRef
      - EnvValueFromValue
      - EnvValueFromValueFrom
    v1.VolumeMount:
      type: object
      properties:
        mountPath:
          description: 'Path within the container at which the volume should be mounted.  Must

            not contain '':''.'
          type: string
        mountPropagation:
          description: 'mountPropagation determines how mounts are propagated from the host

            to container and the other way around.

            When not set, MountPropagationNone is used.

            This field is beta in 1.10.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.MountPropagationMode'
        name:
          description: This must match the Name of a Volume.
          type: string
        readOnly:
          description: 'Mounted read-only if true, read-write otherwise (false or unspecified).

            Defaults to false.

            +optional'
          type: boolean
        subPath:
          description: 'Path within the volume from which the container''s volume should be mounted.

            Defaults to "" (volume''s root).

            +optional'
          type: string
        subPathExpr:
          description: 'Expanded path within the volume from which the container''s volume should be mounted.

            Behaves similarly to SubPath but environment variable references $(VAR_NAME) are expanded using the container''s environment.

            Defaults to "" (volume''s root).

            SubPathExpr and SubPath are mutually exclusive.

            +optional'
          type: string
    infra.ContainerInfraUserInputs:
      type: object
      properties:
        deploymentType:
          description: The deployment type for the container infrastructure
          allOf:
          - $ref: '#/components/schemas/infra.DeploymentType'
        platformType:
          description: The platform type for the container infrastructure
          allOf:
          - $ref: '#/components/schemas/infra.PlatformType'
    model.ClusterType:
      type: string
      enum:
      - KUBERNETES
      - OPENSHIFT
      - HELM
      x-enum-varnames:
      - ClusterTypeKubernetes
      - ClusterTypeOpenshift
      - ClusterTypeHelm
    model.KubernetesInfra:
      type: object
      properties:
        clusterType:
          description: Cluster type Indicates the type on infrastructure (Kubernetes/openshift)
          allOf:
          - $ref: '#/components/schemas/model.ClusterType'
        createdAt:
          description: Timestamp when the infra was created
          type: string
        createdBy:
          description: User who created the infra
          allOf:
          - $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_graph_model.UserDetails'
        description:
          description: Description of the infra
          type: string
        environmentID:
          description: Environment ID for the infra
          type: string
        infraID:
          description: ID of the infra
          type: string
        infraNamespace:
          description: Namespace where the infra is being installed
          type: string
        infraNsExists:
          description: Bool value indicating whether infra ns used already exists on infra or not
          type: boolean
        infraSaExists:
          description: Bool value indicating whether service account used already exists on infra or not
          type: boolean
        infraScope:
          description: 'Scope of the infra : ns or cluster'
          allOf:
          - $ref: '#/components/schemas/model.InfraScope'
        infraType:
          description: Type of the infrastructure
          allOf:
          - $ref: '#/components/schemas/model.InfrastructureType'
        installationType:
          description: InstallationType connector/manifest
          allOf:
          - $ref: '#/components/schemas/model.InstallationType'
        isActive:
          description: Boolean value indicating if chaos infrastructure is active or not
          type: boolean
        isInfraConfirmed:
          description: Boolean value indicating if chaos infrastructure is confirmed or not
          type: boolean
        isRemoved:
          description: Boolean value indicating if chaos infrastructure is removed or not
          type: boolean
        isSecretEnabled:
          description: Tune secret for infra
          type: boolean
        k8sConnectorID:
          description: K8sConnectorID
          type: string
        lastHeartbeat:
          description: Last Heartbeat status sent by the infra
          type: string
        lastWorkflowTimestamp:
          description: Timestamp of the last workflow run in the infra
          type: string
        name:
          description: Name of the infra
          type: string
        noOfSchedules:
          description: Number of schedules created in the infra
          type: integer
        noOfWorkflows:
          description: Number of workflows run in the infra
          type: integer
        platformName:
          description: Infra Platform Name eg. GKE,AWS, Others
          type: string
        runAsGroup:
          description: set the user group for security context in pod
          type: integer
        runAsUser:
          description: set the user for security context in pod
          type: integer
        serviceAccount:
          description: Name of service account used by infra
          type: string
        startTime:
          description: Timestamp when the infra got connected
          type: string
        tags:
          description: Tags of the infra
          type: array
          items:
            type: string
        token:
          description: Token used to verify and retrieve the infra manifest
          type: string
        updateStatus:
          description: update status of infra
          allOf:
          - $ref: '#/components/schemas/model.UpdateStatus'
        updatedAt:
          description: Timestamp when the infra was last updated
          type: string
        updatedBy:
          description: User who has updated the infra
          allOf:
          - $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_graph_model.UserDetails'
        upgrade:
          description: Upgrade struct for the chaos infrastructure
          allOf:
          - $ref: '#/components/schemas/model.Upgrade'
        version:
          description: Version of the infra
          type: string
    infra_v2.GetKubernetesInfrastructureV2YamlRequest:
      type: object
      properties:
        annotation:
          type: object
          additionalProperties:
            type: string
        containers:
          type: string
        correlationId:
          type: string
        env:
          type: array
          items:
            $ref: '#/components/schemas/infra_v2.Env'
        environmentID:
          type: string
        identifier:
          $ref: '#/components/schemas/infra_v2.Identifiers'
        identity:
          type: string
        infraNamespace:
          type: string
        insecureSkipVerify:
          type: boolean
        label:
          type: object
          additionalProperties:
            type: string
        mtls:
          $ref: '#/components/schemas/infra_v2.MTLSConfiguration'
        nodeSelector:
          type: object
          additionalProperties:
            type: string
        proxy:
          $ref: '#/components/schemas/infra_v2.ProxyConfiguration'
        runAsGroup:
          type: integer
        runAsUser:
          type: integer
        serviceAccount:
          type: string
        tolerations:
          type: array
          items:
            $ref: '#/components/schemas/v1.Toleration'
        volumeMounts:
          type: array
          items:
            $ref: '#/components/schemas/v1.VolumeMount'
        volumes:
          type: array
          items:
            $ref: '#/components/schemas/infra_v2.Volumes'
    infra_v2.SortingField:
      type: string
      enum:
      - LAST_MODIFIED
      - NAME
      x-enum-varnames:
      - SortingFieldLastModified
      - SortingFieldName
    github_com_harness_hce-saas_graphql_server_graph_model.RegisterInfraResponse:
      type: object
      properties:
        infraID:
          description: Unique ID for the newly registered infra
          type: string
        manifest:
          description: Infra Manifest
          type: string
        name:
          description: Infra name as sent in request
          type: string
        taskID:
          description: taskID sent for the brownfield deployment task
          type: string
        token:
          description: Token used to verify and retrieve the infra manifest
          type: string
    model.UpdateStatus:
      type: string
      enum:
      - AVAILABLE
      - MANDATORY
      - NOT_REQUIRED
      x-enum-varnames:
      - UpdateStatusAvailable
      - UpdateStatusMandatory
      - UpdateStatusNotRequired
    infra_v2.UpdateStatus:
      type: string
      enum:
      - AVAILABLE
      - MANDATORY
      - NOT_REQUIRED
      x-enum-varnames:
      - UpdateStatusAvailable
      - UpdateStatusMandatory
      - UpdateStatusNotRequired
    api.HarnessInfrastructure:
      type: object
      properties:
        connectorRef:
          type: string
        environmentRef:
          type: string
        identifier:
          type: string
        isCompatible:
          type: boolean
        isUsed:
          type: boolean
        name:
          type: string
        namespace:
          type: string
        orgIdentifier:
          type: string
        projectIdentifier:
          type: string
        serviceAccount:
          type: string
        type:
          type: string
    v1.TolerationOperator:
      type: string
      enum:
      - Exists
      - Equal
      x-enum-varnames:
      - TolerationOpExists
      - TolerationOpEqual
    github_com_harness_hce-saas_graphql_server_graph_model.RegisterInfraRequest:
      type: object
      properties:
        description:
          description: Description of the infra
          type: string
        environmentID:
          description: Environment ID for the infra
          type: string
        infraNamespace:
          description: Namespace where the infra is being installed
          type: string
        infraNsExists:
          description: Bool value indicating whether infra ns used already exists on infra or not
          type: boolean
        infraSaExists:
          description: Bool value indicating whether service account used already exists on infra or not
          type: boolean
        infraScope:
          description: 'Scope of the infra : ns or infra'
          allOf:
          - $ref: '#/components/schemas/model.InfraScope'
        installationType:
          description: InstallationType connector/manifest
          allOf:
          - $ref: '#/components/schemas/model.InstallationType'
        isAutoUpgradeEnabled:
          description: Boolean value indicating if chaos infrastructure has auto upgrade enabled or not
          type: boolean
        isSecretEnabled:
          description: Tune secret for infra
          type: boolean
        k8sConnectorID:
          description: K8sConnectorID
          type: string
        name:
          description: Name of the infra
          type: string
        nodeSelector:
          description: Node selectors used by infra
          type: string
        platformName:
          description: Infra Platform Name eg. GKE,AWS, Others
          type: string
        runAsGroup:
          description: set the user group for security context in pod
          type: integer
        runAsUser:
          description: set the user for security context in pod
          type: integer
        sccYaml:
          description: Value containing the scc-yaml used in openShift clusters
          type: string
        serviceAccount:
          description: Name of service account used by infra
          type: string
        skipSsl:
          description: Bool value indicating whether infra will skip ssl checks or not
          type: boolean
        tags:
          description: Tags of the infra
          type: array
          items:
            type: string
        tolerations:
          description: Node tolerations used by infra
          type: array
          items:
            $ref: '#/components/schemas/model.Toleration'
    infra.InstallationManifest:
      type: object
      properties:
        cloudFoundryInfraUserInputs:
          type: string
        containerInfraUserInputs:
          $ref: '#/components/schemas/infra.ContainerInfraInstallationManifest'
    infra.UserDetails:
      type: object
      properties:
        email:
          type: string
        userID:
          type: string
        username:
          type: string
    model.InfraScope:
      type: string
      enum:
      - namespace
      - cluster
      x-enum-varnames:
      - InfraScopeNamespace
      - InfraScopeCluster
    infra_v2.DeleteKubernetesInfraV2Response:
      type: object
      properties:
        correlationId:
          type: string
        identity:
          type: string
        message:
          type: string
    infra.ContainerInfraInstallationManifest:
      type: object
      properties:
        ecsInstallationManifest:
          $ref: '#/components/schemas/infra.EcsInstallationManifest'
    infra_v2.RegisterInfrastructureV2Response:
      type: object
      properties:
        identity:
          type: string
        name:
          type: string
        token:
          type: string
    infra_v2.UserDetails:
      type: object
      properties:
        email:
          type: string
        name:
          type: string
        username:
          type: string
    infra.InfraStatus:
      type: string
      enum:
      - ACTIVE
      - INACTIVE
      - PENDING
      x-enum-varnames:
      - InfraStatusActive
      - InfraStatusInactive
      - InfraStatusPending
    k8sinfra.UpdateEmissaryURLResponse:
      type: object
    model.UpdateInfraRequest:
      type: object
      properties:
        description:
          description: Description of the infra
          type: string
        environmentID:
          description: Environment ID for the infra
          type: string
        infraID:
          description: ID of the infrastructure to be updated
          type: string
        name:
          description: Name of the infra
          type: string
        tags:
          description: Tags of the infra
          type: array
          items:
            type: string
    github_com_harness_hce-saas_hce-sdk_types_api_k8sifs_image_registry.ScopedIdentifiers:
      type: object
      properties:
        accountIdentifier:
          description: Harness AccountID
          type: string
        orgIdentifier:
          description: Harness OrgID
          type: string
        projectIdentifier:
          description: Harness projectID
          type: string
    infra_v2.UpdateKubernetesInfrastructureV2Request:
      type: object
      properties:
        aiEnabled:
          type: boolean
        annotation:
          type: object
          additionalProperties:
            type: string
        autopilotEnabled:
          type: boolean
        containers:
          type: string
        correlationId:
          type: string
        description:
          type: string
        env:
          type: array
          items:
            $ref: '#/components/schemas/infra_v2.Env'
        environmentID:
          type: string
        identity:
          type: string
        imageRegistry:
          $ref: '#/components/schemas/image_registry.ImageRegistryV2'
        infraNamespace:
          type: string
        insecureSkipVerify:
          type: boolean
        label:
          type: object
          additionalProperties:
            type: string
        mtls:
          $ref: '#/components/schemas/infra_v2.MTLSConfiguration'
        name:
          type: string
        nodeSelector:
          type: object
          additionalProperties:
            type: string
        proxy:
          $ref: '#/components/schemas/infra_v2.ProxyConfiguration'
        runAsGroup:
          type: integer
        runAsUser:
          type: integer
        serviceAccount:
          type: string
        tags:
          type: array
          items:
            type: string
        tolerations:
          type: array
          items:
            $ref: '#/components/schemas/v1.Toleration'
        volumeMounts:
          type: array
          items:
            $ref: '#/components/schemas/v1.VolumeMount'
        volumes:
          type: array
          items:
            $ref: '#/components/schemas/infra_v2.Volumes'
    github_com_harness_hce-saas_hce-sdk_types_api_machine_infra.Infra:
      type: object
      properties:
        createdAt:
          description: Timestamp when the infra was created
          type: string
        createdBy:
          description: User who created the infra
          allOf:
          - $ref: '#/components/schemas/infra.UserDetails'
        description:
          description: Description of the infra
          type: string
        environmentID:
          description: Environment ID for the infra
          type: string
        hostname:
          description: Hostname of the infra
          type: string
        infraID:
          description: ID of the infra
          type: string
        isActive:
          description: Boolean value indicating if chaos infrastructure is active or not
          type: boolean
        isInfraConfirmed:
          description: Boolean value indicating if chaos infrastructure is confirmed or not
          type: boolean
        isRegistered:
          description: IsRegistered indicates if the infra is registered
          type: boolean
        lastHeartbeat:
          description: Last Heartbeat status sent by the infra
          type: string
        lastWorkflowTimestamp:
          description: Timestamp of the last workflow run in the infra
          type: string
        name:
          description: Name of the infra
          type: string
        noOfSchedules:
          description: Number of schedules created in the infra
          type: integer
        noOfWorkflows:
          description: Number of workflows run in the infra
          type: integer
        startTime:
          description: Timestamp when the infra got connected
          type: string
        status:
          description: Status of the infrastructure
          allOf:
          - $ref: '#/components/schemas/infra.InfraStatus'
        tags:
          description: Tags of the infra
          type: array
          items:
            type: string
        updatedAt:
          description: Timestamp when the infra was last updated
          type: string
        updatedBy:
          description: User who has updated the infra
          allOf:
          - $ref: '#/components/schemas/infra.UserDetails'
        userInputs:
          description: User inputs for the infra
          allOf:
          - $ref: '#/components/schemas/infra.RegisterInfraUserInputs'
        version:
          description: Version of the infra
          type: string
    model.ListInfraResponse:
      type: object
      properties:
        infras:
          description: Details related to the infras
          type: array
          items:
            $ref: '#/components/schemas/model.KubernetesInfra'
        totalNoOfInfras:
          description: Total number of infras
          type: integer
    github_com_harness_hce-saas_graphql_server_graph_model.InfraFilterInput:
      type: object
      properties:
        compatibleWithNewExp:
          description: 'To filter out infras that are compatible with the new experiment manifest format: without experiment CRs'
          type: boolean
        description:
          description: ID of the infra
          type: string
        environmentIDs:
          description: Environment IDs to filter infras by environment
          type: array
          items:
            type: string
        infraID:
          description: ID of the infra
          type: string
        infraScope:
          description: Scope of infra
          allOf:
          - $ref: '#/components/schemas/model.InfraScope'
        isActive:
          description: Status of infra
          type: boolean
        name:
          description: Name of the infra
          type: string
        platformName:
          description: Platform name of infra
          type: string
        tags:
          description: Tags of an infra
          type: array
          items:
            type: string
    k8sinfra.GetInfraTokenResponse:
      type: object
      properties:
        token:
          type: string
    k8sinfra.UpdateEmissaryURLRequest:
      type: object
      properties:
        url:
          type: string
    infra_v2.KubernetesInfraV2FilterInput:
      type: object
      properties:
        environmentIDs:
          type: array
          items:
            type: string
        infraScope:
          $ref: '#/components/schemas/infra_v2.InfraScope'
        infraTypeFilter:
          $ref: '#/components/schemas/infra_v2.InfraTypeFilter'
        isAIEnabled:
          type: boolean
        status:
          type: string
        tags:
          type: array
          items:
            type: string
    handlers.CHAOSLicenseUsageDTO:
      type: object
      properties:
        accountIdentifier:
          type: string
        experimentRunsPerMonth:
          $ref: '#/components/schemas/handlers.UsageDataDTO'
        module:
          type: string
        timestamp:
          type: integer
    infra_v2.KubernetesInfrastructureV2Details:
      type: object
      properties:
        annotation:
          type: object
          additionalProperties:
            type: string
        containers:
          type: string
        createdAt:
          type: string
        createdBy:
          $ref: '#/components/schemas/infra_v2.UserDetails'
        deploymentType:
          type: string
        description:
          type: string
        discoveryAgentID:
          type: string
        env:
          type: array
          items:
            $ref: '#/components/schemas/infra_v2.Env'
        environmentID:
          type: string
        harnessInfraType:
          type: string
        identifier:
          $ref: '#/components/schemas/infra_v2.Identifiers'
        identity:
          type: string
        imageRegistry:
          $ref: '#/components/schemas/image_registry.ImageRegistryV2'
        infraID:
          type: string
        infraNamespace:
          type: string
        infraScope:
          $ref: '#/components/schemas/infra_v2.InfraScope'
        infraType:
          $ref: '#/components/schemas/infra_v2.InfraType'
        insecureSkipVerify:
          type: boolean
        installationType:
          $ref: '#/components/schemas/infra_v2.InstallationType'
        isAIEnabled:
          type: boolean
        isAutopilotEnabled:
          type: boolean
        isChaosEnabled:
          type: boolean
        k8sConnectorID:
          type: string
        label:
          type: object
          additionalProperties:
            type: string
        lastHeartbeat:
          type: integer
        lastWorkflowTimestamp:
          type: string
        mtls:
          $ref: '#/components/schemas/infra_v2.MTLSConfiguration'
        name:
          type: string
        noOfSchedules:
          type: integer
        noOfWorkflows:
          type: integer
        nodeSelector:
          type: object
          additionalProperties:
            type: string
        platformName:
          type: string
        proxy:
          $ref: '#/components/schemas/infra_v2.ProxyConfiguration'
        runAsGroup:
          type: integer
        runAsUser:
          type: integer
        serviceAccount:
          type: string
        status:
          $ref: '#/components/schemas/infra_v2.InfraStatus'
        tags:
[...]
