openapi: 3.2.0
info:
  title: Harness Collection categories API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Collection categories
  description: This contains APIs specific to the Collection categories
paths:
  /v1/org/workspaces/units/list:
    post:
      tags:
      - Collection categories
      summary: List all Collection categories
      description: Retrieve a list of collection categories
      operationId: categories#listCategories
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: The page number for pagination
                  default: 0
                pageSize:
                  type: integer
                  description: The number of items per page
                  default: 20
                filter:
                  type: object
                  properties:
                    name:
                      type: array
                      items:
                        type: string
                      description: Filter by category names
                    is_predefined:
                      type: boolean
                      description: Filter by predefined status
                    enabled:
                      type: boolean
                      description: Filter by enabled status of the collection category
      x-codeSamples:
      - lang: cURL
        label: curl
        source: "curl -X POST 'https://app.harness.io/gratis/sei/api/v1/org/workspaces/units/list' \\\n-H 'Content-Type: application/json' \\\n-H 'Authorization: APIKEY <HARNESS_SEI_API_KEY>' \\\n-d '{\n  \"page\": 0,\n  \"pageSize\": 20,\n  \"filter\": {\n    \"name\": [\n      \"string\"\n    ],\n    \"is_predefined\": true,\n    \"enabled\": true\n  }\n}'\n"
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageResponse1'
              example:
                records:
                - id: 6cad073a-b7bf-4606-b706-302f19d8e133
                  name: Organizing
                  description: This is the first team c
                  is_predefined: true
                  enabled: true
                  count_of_ous: 1
                  created_at: 1654841196842
                  updated_at: 1654841196842
                - id: 9fe62fc3-31aa-4cf0-a62f-677eaeff33b2
                  name: Finance
                  description: This is the second team c
                  enabled: true
                  count_of_ous: 0
                  is_predefined: false
                  created_at: 1654841375866
                  updated_at: 1654841375866
                - id: 75504d25-4980-4952-a282-ab6933fdff8b
                  name: Dev Team
                  description: This is the thrid team c
                  enabled: true
                  count_of_ous: 1
                  is_predefined: true
                  created_at: 1654841422226
                  updated_at: 1654841422226
                - id: 9a2c246b-4468-4888-8371-43fae8473296
                  name: Testing Team
                  description: This is the fourth team c
                  enabled: true
                  count_of_ous: 4
                  is_predefined: true
                  created_at: 1654841434865
                  updated_at: 1654841434865
                count: 4
                _metadata:
                  page_size: 1000
                  page: 0
                  has_next: false
                  total_count: 4
  /v1/org/categories:
    post:
      tags:
      - Collection categories
      summary: Create a new Collection category
      description: Create a new collection category
      operationId: categories#createCategory
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rootOuName:
                  type: string
                  description: The name of the root organizational unit
                workspaceId:
                  type: integer
                  description: The ID of the workspace
                name:
                  type: string
                  description: The name of the new category
                description:
                  type: string
                  description: A description of the category
                is_predefined:
                  type: boolean
                  description: Whether the category is predefined
                enabled:
                  type: boolean
                  description: Whether the category is enabled
      x-codeSamples:
      - lang: cURL
        label: curl
        source: "curl -X POST 'https://app.harness.io/gratis/sei/api/v1/org/categories' \\\n-H 'Content-Type: application/json' \\\n-H 'Authorization: APIKEY <HARNESS_SEI_API_KEY>' \\\n-d '{\n  \"rootOuName\": \"Example Root OU\",\n  \"workspaceId\": 15367,\n  \"name\": \"Finance\",\n  \"description\": \"This is the second team c\",\n  \"is_predefined\": false,\n  \"enabled\": true\n}'\n"
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'
              example:
                id: 9fe62fc3-31aa-4cf0-a62f-677eaeff33b2
                name: Finance
                description: This is the second team C
                is_predefined: false
                enabled: true
    delete:
      tags:
      - Collection categories
      summary: Delete multiple Collection categories
      description: Delete multiple collection categories in a single request
      operationId: categories#deleteCategories
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      x-codeSamples:
      - lang: cURL
        label: curl
        source: "curl -X PUT 'https://app.harness.io/gratis/sei/api/v1/org/categories' \\\n-H 'Content-Type: application/json' \\\n-H 'Authorization: APIKEY <HARNESS_SEI_API_KEY>' \\\n-d '{\n  [\n    \"9a1dc856-6e2d-4dbe-98cf-5416c5981bbc\", \"eafb1e30-4af8-480e-b7b5-487293659df3\"\n    ]\n    }'\n"
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  records:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier of the category
                        success:
                          type: boolean
                          description: Indicates whether the deletion was successful
                  count:
                    type: integer
                    description: The total number of successfully deleted categories
              example:
                records:
                - id: 9a1dc856-6e2d-4dbe-98cf-5416c5981bbc
                  success: true
                - id: eafb1e30-4af8-480e-b7b5-487293659df3
                  success: true
                count: 2
  /v1/org/categories/{id}:
    put:
      tags:
      - Collection categories
      summary: Update an existing Collection category
      description: Use this API endpoint to update an existing collection category
      operationId: categories#updateCategory
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the collection category to be updated
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The updated name of the category
                description:
                  type: string
                  description: The updated description of the category
                is_predefined:
                  type: boolean
                  description: Whether the category is predefined
                enabled:
                  type: boolean
                  description: Whether the category is enabled
      x-codeSamples:
      - lang: cURL
        label: curl
        source: "curl -X PUT 'https://app.harness.io/gratis/sei/api/v1/org/categories/{id}' \\\n-H 'Content-Type: application/json' \\\n-H 'Authorization: APIKEY <HARNESS_SEI_API_KEY>' \\\n-d '{\n  \"name\": \"TEST CATEGORY\",\n  \"description\": \"this is an updated description for the collection category\",\n  \"is_predefined\": true,\n  \"enabled\": true\n}'\n"
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'
              example:
                id: cb147922-a0c2-4563-b3fe-f1e67aa7eb4c
                name: Testing Team
                description: This is an updated description for the collection category
                is_predefined: true
                enabled: true
    delete:
      tags:
      - Collection categories
      summary: Delete a specific Collection category
      description: Delete an existing collection category
      operationId: categories#deleteCategory
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the collection category to be deleted
        schema:
          type: string
      x-codeSamples:
      - lang: cURL
        label: curl
        source: 'curl -X DELETE ''https://app.harness.io/gratis/sei/api/v1/org/categories/{id}'' \

          -H ''Content-Type: application/json'' \

          -H ''Authorization: APIKEY <HARNESS_SEI_API_KEY>''

          '
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  records:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        success:
                          type: boolean
                  count:
                    type: integer
              example:
                records:
                - id: 9a2c246b-4468-4888-8371-43fae8473296
                  success: true
                count: 1
components:
  schemas:
    UsageResponse1:
      type: object
      properties:
        records:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              description:
                type: string
              is_predefined:
                type: boolean
              enabled:
                type: boolean
              count_of_ous:
                type: integer
              created_at:
                type: integer
              updated_at:
                type: integer
        count:
          type: integer
        _metadata:
          type: object
          properties:
            page_size:
              type: integer
            page:
              type: integer
            has_next:
              type: boolean
            total_count:
              type: integer
    CategoryResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        is_predefined:
          type: boolean
        enabled:
          type: boolean
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
