openapi: 3.2.0
info:
  title: Harness Artifact Listing API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: artifactListing
paths:
  /v1/orgs/{org}/projects/{project}/artifact-sources:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    post:
      summary: List Artifact Sources
      operationId: listArtifactSources
      responses:
        '200':
          $ref: '#/components/responses/ArtifactSourcesListingResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      tags:
      - artifactListing
      description: List Artifact Sources and associated artifacts count
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      - $ref: '#/components/parameters/Limit6'
      - $ref: '#/components/parameters/Order2'
      - $ref: '#/components/parameters/Page2'
      - in: query
        description: Parameter on the basis of which sorting is done.
        name: sort
        schema:
          enum:
          - name
      security:
      - x-api-key: []
      x-stoplight:
        id: y2ehf0ax5nsh8
      requestBody:
        $ref: '#/components/requestBodies/ArtifactListingRequestBody'
  /v1/orgs/{org}/projects/{project}/artifact-sources/{source}/artifacts:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - schema:
        type: string
      name: source
      in: path
      required: true
      description: Artifact Source Id
    post:
      summary: List All Artifacts
      operationId: artifactListV2
      responses:
        '200':
          $ref: '#/components/responses/ArtifactV2ListingResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      description: List artifacts
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      - $ref: '#/components/parameters/Limit6'
      - $ref: '#/components/parameters/Page2'
      - in: query
        description: Parameter on the basis of which sorting is done.
        name: sort
        schema:
          enum:
          - updated
      - $ref: '#/components/parameters/OrderDefaultDesc'
      security:
      - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/ArtifactListingRequestBody'
      x-stoplight:
        id: 25gnwq5h8o5ho
      tags:
      - artifactListing
  /v1/orgs/{org}/projects/{project}/artifacts/{artifact}/components:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - $ref: '#/components/parameters/Artifact'
    post:
      summary: ArtifactV2 Detail Component View
      tags:
      - artifactListing
      responses:
        '200':
          $ref: '#/components/responses/ArtifactComponentViewResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getArtifactV2DetailComponentView
      x-stoplight:
        id: kr7bsdqea6udo
      description: Get artifactV2 detail component view
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      - $ref: '#/components/parameters/Limit6'
      - $ref: '#/components/parameters/Order2'
      - $ref: '#/components/parameters/Page2'
      - in: query
        description: Parameter on the basis of which sorting is done.
        name: sort
        schema:
          type: string
          enum:
          - package_name
          - package_supplier
          default: package_name
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactComponentViewRequestBody'
        description: ArtifactV2 Component View Request Body.
  /v1/orgs/{org}/projects/{project}/artifacts/{artifact}/deployments:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - $ref: '#/components/parameters/Artifact'
    post:
      summary: Artifact Detail Deployment View
      operationId: getArtifactV2DetailDeploymentView
      responses:
        '200':
          $ref: '#/components/responses/ArtifactDeploymentViewResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
        default:
          $ref: '#/components/responses/ArtifactDeploymentViewResponseBody'
      description: Get artifactV2 detail deployment view
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      - $ref: '#/components/parameters/Limit6'
      - $ref: '#/components/parameters/Order2'
      - $ref: '#/components/parameters/Page2'
      - in: query
        description: Parameter on the basis of which sorting is done.
        name: sort
        schema:
          enum:
          - env_name
          - env_type
          default: env_name
      security:
      - x-api-key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactDeploymentViewRequestBody'
        description: Get artifactV2 detail deployment view.
      x-stoplight:
        id: af9upcbwjbi8t
      tags:
      - artifactListing
  /v1/orgs/{org}/projects/{project}/artifact-sources/{source}/artifacts/{artifact}/overview:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - $ref: '#/components/parameters/Artifact'
    - schema:
        type: string
      name: source
      in: path
      required: true
      description: Artifact Source Id
    get:
      summary: ArtifactV2 Overview
      tags:
      - artifactListing
      responses:
        '200':
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactV2Overview'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getArtifactV2Overview
      x-stoplight:
        id: nj4qgvn5l5j53
      description: Get ArtifactV2 Overview
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
  /v1/orgs/{org}/projects/{project}/artifact-overview:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - $ref: '#/components/parameters/AccountHeader6'
    get:
      summary: ArtifactV2 Overview
      tags:
      - artifactListing
      responses:
        '200':
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactV2Overview'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getArtifactV2OverviewByName
      x-stoplight:
        id: o6y0qpoj9lk5u
      description: Get ArtifactV2 by image name, tag and digest
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      - schema:
          type: string
        in: query
        name: digest
        required: true
        description: Digest of the artifact
      - schema:
          type: string
        in: query
        name: registry_url
        description: Registry url
        required: true
      - schema:
          type: string
        in: query
        name: image_name
        description: Image name of the artifact
        required: true
  /v1/orgs/{org}/projects/{project}/artifacts/{artifact}/chain-of-custody:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - $ref: '#/components/parameters/Artifact'
    get:
      summary: ArtifactV2 Chain Of Custody
      tags:
      - artifactListing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArtifactChainOfCustody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getArtifactV2ChainOfCustody
      x-stoplight:
        id: nd9bu65d75xsl
      description: get artifactV2 chain of custody
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
components:
  schemas:
    ArtifactComponentViewResponse:
      title: ArtifactComponentViewResponse
      x-stoplight:
        id: ifxc5m0lb9u32
      type: object
      properties:
        package_name:
          type: string
        package_version:
          type: string
        package_supplier:
          type: string
        package_manager:
          type: string
        purl:
          type: string
        package_license:
          type: string
        filter_tags:
          type: array
          x-stoplight:
            id: disrwjq6ou28k
          items:
            $ref: '#/components/schemas/LayerType'
    Operator:
      title: Operator
      x-stoplight:
        id: nxhoa45ajna2q
      enum:
      - Equals
      - StartsWith
      - Contains
      - NotEquals
      - GreaterThan
      - GreaterThanEquals
      - LessThan
      - LessThanEquals
    ArtifactV2ListingResponse:
      type: object
      x-stoplight:
        id: 963kgsf6l6o5x
      x-examples: {}
      title: ArtifactV2ListingResponse
      properties:
        id:
          type: string
          description: Artifact ID
        digest:
          type: string
          x-stoplight:
            id: 05r9msnbxlpwq
          description: Digest of the Artifact
        name:
          type: string
          description: Artifact Name
        tags:
          type: array
          x-stoplight:
            id: 6qeg5nzw8an2j
          items:
            x-stoplight:
              id: fnvzg8zbc8iun
            type: string
        url:
          type: string
          description: Artifact Origin URL
        metadata:
          type: object
        components_count:
          type: integer
          description: Number of components of the artifact
        updated:
          type: string
          description: Last updated time of the artifact
        scorecard:
          type: object
          properties:
            max_score:
              type: string
              description: Maximum score of the artifact SBOM
            avg_score:
              type: string
              description: Average score of the artifact SBOM
        policy_enforcement:
          type: object
          x-stoplight:
            id: gy1y5dicgpypq
          properties:
            id:
              type: string
              x-stoplight:
                id: n4wdtm6y3ifje
              description: Enforcement Step Id for the artifact lastest enfrocement.
            allow_list_violation_count:
              type: string
              x-stoplight:
                id: 93fyhq0f48926
              description: Count of the allow list policy violations
            deny_list_violation_count:
              type: string
              x-stoplight:
                id: qkv64n8a15xb3
              description: Count of the deny list policy violations
        deployment:
          type: object
          x-stoplight:
            id: fybqbfp2x69l3
          properties:
            prod_env_count:
              type: integer
              x-stoplight:
                id: wux3zmbktqqs0
              description: Count of production environment this artifact is currently deployed.
            non_prod_env_count:
              type: integer
              x-stoplight:
                id: vqey9t8s156s4
              description: Count of pre-production environment this artifact is currently deployed.
        orchestration:
          type: object
          x-stoplight:
            id: hchdgdaay5ros
          properties:
            id:
              type: string
              x-stoplight:
                id: hwqaymud6ahig
              description: Orchestration step execution ID for the aritfact.
            pipeline_id:
              type: string
              x-stoplight:
                id: t6jtif1llpafh
              description: Build pipeline Id used for orchestration of the artifact
            pipeline_execution_id:
              type: string
              x-stoplight:
                id: ojs3ry10yq7em
              description: Build pipeline execution Id used for orchestration of the artifact
        sto_issue_count:
          $ref: '#/components/schemas/StoIssueCount'
        signing:
          $ref: '#/components/schemas/IntegrityVerification'
    ArtifactComponentViewRequestBody:
      title: ArtifactComponentViewRequestBody
      x-stoplight:
        id: x5f2v20n46hkz
      type: object
      properties:
        component_filter:
          type: array
          items:
            $ref: '#/components/schemas/ComponentFilter'
        license_filter:
          $ref: '#/components/schemas/LicenseFilter'
        package_supplier:
          type: string
        package_manager:
          type: string
        image_layer:
          $ref: '#/components/schemas/LayerType'
    SBOMInfo:
      title: SBOMInfo
      x-stoplight:
        id: 2dzt0ov3lmusq
      type: object
      properties:
        orchestration_id:
          type: string
          x-stoplight:
            id: ju6d8j0ulhw4t
        project_id:
          type: string
          x-stoplight:
            id: ju6d8j0ulhw4t
        org_id:
          type: string
          x-stoplight:
            id: ju6d8j0ulhw4t
        components_count:
          type: integer
          x-stoplight:
            id: peqspkq16qkwq
        drift_id:
          type: string
          x-stoplight:
            id: 7n8p0njpodkus
        total_drifts:
          type: integer
          x-stoplight:
            id: 62jr4hroubi5s
        pipeline_details:
          $ref: '#/components/schemas/PipelineDetails'
    ArtifactListingRequestBody:
      type: object
      x-examples: {}
      properties:
        search_term:
          type: string
        component_filter:
          type: array
          items:
            $ref: '#/components/schemas/ComponentFilter'
        license_filter:
          $ref: '#/components/schemas/LicenseFilter'
        policy_violation:
          type: string
          enum:
          - ALLOW
          - DENY
          - ANY
          - NONE
        environment_type:
          type: string
          enum:
          - Prod
          - NonProd
          - None
          - All
      x-stoplight:
        id: 9ddio8k8n5fia
    VerificationStatus:
      type: string
      enum:
      - PASSED
      - FAILED
    PipelineDetails:
      title: PipelineDetails
      x-stoplight:
        id: rr6hfyn7yqya8
      type: object
      properties:
        org_id:
          type: string
          x-stoplight:
            id: tevm6bc13y3hi
          description: Organisation where pipeline is present.
        project_id:
          type: string
          x-stoplight:
            id: 7s1mu1n1dan0s
          description: Project where pipeline is present.
        name:
          type: string
          x-stoplight:
            id: dl352mt8yqdxt
          description: Name of the pipeline.
        execution_id:
          type: string
          x-stoplight:
            id: tevm6bc13y3hi
          description: Execution Id of the pipeline.
        id:
          type: string
          x-stoplight:
            id: 7s1mu1n1dan0s
          description: Id of the pipeline.
        triggered_by:
          type: string
          description: Name of who trigger the deployment pipeline
        triggered_by_id:
          type: string
          description: Id of who trigger the deployment pipeline
        triggered_at:
          type:
          - integer
          - 'null'
          description: Time of trigger of the deployment pipeline
          format: int64
        triggered_type:
          type: string
          description: Trigger type of the deployment pipeline
        status:
          type: string
          x-stoplight:
            id: qqz5h836cnx8e
          enum:
          - PASSED
          - FAILED
          - UNKNOWN
        stage_execution_id:
          type: string
          x-stoplight:
            id: 68i7ms2hxjctl
          description: Execution Id for the Stage
        step_execution_id:
          type: string
          x-stoplight:
            id: 22ha61i5fiwzc
          description: Execution Id for the step
        stage_type:
          type: string
          x-stoplight:
            id: 22ha61i5fiwzc
          description: Stage type in which the step executed
          enum:
          - BUILD
          - DEPLOY
          - SECURITY
    LicenseFilter:
      title: LicenseFilter
      type: object
      properties:
        value:
          type: string
        operator:
          $ref: '#/components/schemas/Operator'
      required:
      - value
      - operator
      x-stoplight:
        id: ae7ieb3d1qze1
    ArtifactChainOfCustody:
      title: ArtifactChainOfCustody
      x-stoplight:
        id: 1yqfetazjhj4v
      type: object
      x-internal: false
      properties:
        ActivityType:
          type: string
          x-stoplight:
            id: sduoo18ns9yfj
          enum:
          - ORCHESTRATION
          - ENFORCEMENT
          - PROVENANCE
          - VERIFICATION
          - COMPLIANCE
          - VULNERABILITY
          - DEPLOYMENT
        created_at:
          type: integer
          format: int64
          x-stoplight:
            id: 6j7z7j7z7z7z7
        orchestration:
          $ref: '#/components/schemas/SBOMInfo'
        enforcement:
          $ref: '#/components/schemas/Violations'
        provenance:
          $ref: '#/components/schemas/SLSADetails1'
        verification:
          $ref: '#/components/schemas/SLSADetails1'
        deployment:
          $ref: '#/components/schemas/Deployments'
        vulnerability:
          $ref: '#/components/schemas/StoIssueCount'
        compliance:
          $ref: '#/components/schemas/RiskAndCompliance'
        artifact_details:
          $ref: '#/components/schemas/ArtifactV2Details'
    Slsa:
      title: Slsa
      x-stoplight:
        id: ay4nzhxmkraca
      type: object
      description: Slsa Verification Data
      properties:
        provenance:
          type: string
          x-stoplight:
            id: yyy7o9vx6ht3f
          description: Slsa provenance data
        policy_outcome_status:
          type: string
          x-stoplight:
            id: rany3wjtgl60e
          description: Slsa policy outcome
    Violations:
      title: Violations
      x-stoplight:
        id: 8khk0g7i7jidc
      type: object
      properties:
        enforcement_id:
          type: string
          x-stoplight:
            id: ju6d8j0ulhw4t
        allow_list_violations:
          type: integer
          x-stoplight:
            id: ju6d8j0ulhw4t
        deny_list_violations:
          type: integer
          x-stoplight:
            id: ju6d8j0ulhw4t
        pipeline_details:
          $ref: '#/components/schemas/PipelineDetails'
    SLSADetails1:
      title: SLSADetails
      x-stoplight:
        id: fl0ysc7r5hupw
      type: object
      properties:
        status:
          type: string
          x-stoplight:
            id: ju6d8j0ulhw4t
        provenance_id:
          type: string
          x-stoplight:
            id: ju6d8j0ulhw4t
        project_id:
          type: string
          x-stoplight:
            id: ju6d8j0ulhw4t
        org_id:
          type: string
          x-stoplight:
            id: ju6d8j0ulhw4t
        pipeline_details:
          $ref: '#/components/schemas/PipelineDetails'
    ArtifactDeploymentViewRequestBody:
      title: ArtifactDeploymentViewRequestBody
      x-stoplight:
        id: 5qyutfccgf2o9
      type: object
      properties:
        environment:
          type: string
        environment_type:
          type: string
          enum:
          - Prod
          - NonProd
        policy_violation:
          type: string
          enum:
          - ALLOW
          - DENY
          - ANY
          - NONE
    ComponentFilter:
      title: ComponentFilter
      type: object
      properties:
        field_name:
          type: string
          enum:
          - ComponentVersion
          - ComponentName
        value:
          type: string
        operator:
          $ref: '#/components/schemas/Operator'
      required:
      - field_name
      - value
      - operator
      x-stoplight:
        id: p0u8koyls0i0c
    ArtifactV2Details:
      title: ArtifactV2Details
      x-stoplight:
        id: 5zlypggn3bwyq
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: gh0lt8mpnz6d9
        name:
          type: string
          x-stoplight:
            id: qtwszj5cg3ym7
        type:
          type: string
          x-stoplight:
            id: bnv86x8lbybf6
        tag:
          type: string
          x-stoplight:
            id: p8f2vqnb4tf78
        digest:
          type: string
          x-stoplight:
            id: kg5m7buhuyhpb
    LayerType:
      title: LayerType
      enum:
      - BASE
      - APP
      - DISTRO
      x-stoplight:
        id: 151c5cf8ekave
    ArtifactSourcesListingResponse:
      title: ArtifactSourcesListingResponse
      x-stoplight:
        id: 0ledarfaonfm8
      type: object
      properties:
        source_id:
          type: string
          x-stoplight:
            id: uyispgbipmns3
          description: Identifier of the Artifact Source
        url:
          type: string
          x-stoplight:
            id: 4683hqfn3uwk4
          description: Artifact Registry url
        name:
          type: string
          x-stoplight:
            id: l0ig1j04d1icc
          description: Artifact name
        count:
          type: integer
          x-stoplight:
            id: b1z2ixivcm5kv
          description: Count of artifacts with the given url and name.
        deployments:
          $ref: '#/components/schemas/Deployments'
        sto_issue_count:
          $ref: '#/components/schemas/StoIssueCount'
    RiskAndCompliance:
      title: RiskAndCompliance
      x-stoplight:
        id: sbozxasiq8bmn
      type: object
      properties:
        critical:
          type: integer
          x-stoplight:
            id: hr4evvvkdwlak
          description: The number of Critical-severity compliance Issues
        high:
          type: integer
          x-stoplight:
            id: xku8fdplguqn9
          description: The number of High-severity compliance Issues
        low:
          type: integer
          x-stoplight:
            id: 0ke8tj8nksxb1
          description: The number of Low-severity compliance Issues
        medium:
          type: integer
          x-stoplight:
            id: dgxoss72dtrpl
          description: The number of Medium-severity compliance Issues
        last_scanned:
          type: string
          x-stoplight:
            id: 31o2aroslpv8u
          description: Timestamp at which the Respository was last scanned
        pipeline_details:
          $ref: '#/components/schemas/PipelineDetails'
    StoIssueCount:
      title: StoIssueCount
      x-stoplight:
        id: f6ujzuy4ee24s
      type: object
      description: The count of Security Issues, by severity code, for a given Harness Pipeline Execution along with this execution info
      properties:
        critical:
          type: integer
          x-stoplight:
            id: hr4evvvkdwlaj
          description: The number of Critical-severity Issues
        high:
          type: integer
          x-stoplight:
            id: xku8fdplguqn8
          description: The number of High-severity Issues
        ignored:
          type: integer
          x-stoplight:
            id: pugpn1qpfuiz2
          description: The number of Issues ignored due to Exemptions, and therefore not included in other counts
        info:
          type: integer
          x-stoplight:
            id: uq1mu3ju7hqvj
          description: The number of Informational Issues
        last_scanned:
          type: string
          x-stoplight:
            id: 31o2aroslpv8t
          description: Timestamp at which the target variant was last scanned
        low:
          type: integer
          x-stoplight:
            id: 0ke8tj8nksxb0
          description: The number of Low-severity Issues
        medium:
          type: integer
          x-stoplight:
            id: dgxoss72dtrpd
          description: The number of Medium-severity Issues
        total:
          type: integer
          x-stoplight:
            id: dgxoss72dtrpd
          description: The number of total-severity Issues
        target_id:
          type: string
          x-stoplight:
            id: 77ehb4jdd7e4e
          description: Associated Target ID
        target_name:
          type: string
          x-stoplight:
            id: qmyrjo5stdfwh
          description: Name of the Scan Target
        target_variant_id:
          type: string
          x-stoplight:
            id: md8z2e8kl4sdb
          description: Associated Target Variant ID
        target_variant_name:
          type: string
          x-stoplight:
            id: eky1hzk5ljwed
          description: Name of the Scan Target
        type:
          type: string
          x-stoplight:
            id: 6w9cfeu92rj4d
          enum:
          - image
          - repository
          description: Scan Target's type
        tool:
          type: string
          x-stoplight:
            id: 6w9cfeu92rj4d
          description: The name of the tool that performed the scan
        execution_id:
          type: string
          x-stoplight:
            id: w8x5d831w1s0f
          description: Harness Execution ID
        pipeline_id:
          type: string
          x-stoplight:
            id: knvaykwgq2syk
          description: Harness Pipeline Id
        pipeline_details:
          $ref: '#/components/schemas/PipelineDetails'
    Deployments:
      title: Deployments
      x-stoplight:
        id: 3gv4s6tifivpk
      type: object
      properties:
        prod_env_count:
          type: integer
          x-stoplight:
            id: gqp8yu3px6k5x
        non_prod_env_count:
          type: integer
          x-stoplight:
            id: 8bm3sz8deaxk6
        env_type:
          x-stoplight:
            id: d7ixva9h2b6ou
          enum:
          - PreProduction
          - Production
        env_identifier:
          type: string
          x-stoplight:
            id: 5j5td0cjoezth
        env_name:
          type: string
          x-stoplight:
            id: ll2uo89ao3j7w
        pipeline_details:
          $ref: '#/components/schemas/PipelineDetails'
    ArtifactV2Overview:
      type: object
      x-examples: null
      title: ArtifactV2Overview
      x-stoplight:
        id: mupnp70njtgn7
      required:
      - name
      - url
      properties:
        id:
          type: string
          description: Artifact Identifier
        name:
          type: string
          description: Artifact Name
        url:
          type: string
          description: Artifact URL
        tags:
          type: array
          items:
            type: string
        digest:
          type: string
          description: digest of the artifact
        updated:
          type: string
          description: Last Updated time of artifact
        metadata:
          type: object
        sto_issue_count:
          $ref: '#/components/schemas/StoIssueCount'
        deployments:
          $ref: '#/components/schemas/Deployments'
        sbom_details:
          $ref: '#/components/schemas/SBOMInfo'
        pipeline_details:
          $ref: '#/components/schemas/PipelineDetails'
        violations:
          $ref: '#/components/schemas/Violations'
        scorecard:
          $ref: '#/components/schemas/Scorecard1'
        slsa_details:
          $ref: '#/components/schemas/SLSADetails1'
        source_id:
          type: string
          x-stoplight:
            id: i8uxq3e1vcpkh
        signing:
          $ref: '#/components/schemas/IntegrityVerification'
    RekorLog:
      title: RekorLogDataModel
      x-stoplight:
        id: 2tz0t40gohsnp
      type: object
      properties:
        hash:
          type: string
          x-stoplight:
            id: pw8nommavkh17
        t_log_index:
          type: string
          x-stoplight:
            id: 3h63tu9ilxhaq
        signature:
          type: string
          x-stoplight:
            id: f2uvqh6uh4dj0
        entry_uuid:
          type: string
          x-stoplight:
            id: 04859pdq51kvo
        signed_at:
          type: string
          x-stoplight:
            id: w0tobwpwa3kcs
        signed_by:
          type: string
          x-stoplight:
            id: x13syvivwlh3c
    ArtifactDeploymentViewResponse:
      title: ArtifactDeploymentViewResponse
      x-stoplight:
        id: jugz9izzxuuvo
      type: object
      properties:
        env_id:
          type: string
          description: Harness environment id
        env_name:
          type: string
          description: Environment name
        env_type:
          type: string
          enum:
          - PROD
          - NONPROD
          description: Environment type
        pipeline_id:
          type: string
          description: Pipeline identifier of deployment pipeline
        pipeline_name:
          type: string
          description: Pipeline name of deployment pipeline
        pipeline_execution_id:
          type: string
          description: Pipeline execution identifier of deployment pipeline
        pipeline_sequence_id:
          type: string
          description: Pipeline Sequence id of deployment pipeline
        allow_list_violation_count:
          type: string
          description: Allow list type policy violation count
        deny_list_violation_count:
          type: string
          description: Deny list type policy violation count
        triggered_by:
          type: string
          description: Name of who trigger the deployment pipeline
        triggered_by_id:
          type: string
          description: Id of who trigger the deployment pipeline
        triggered_at:
          type: string
          description: Time of trigger of the deployment pipeline
        triggered_type:
          type: string
          description: Trigger type of the deployment pipeline
        enforcement_id:
          type: string
          description: Enforcement step identifier
        slsa_verification:
          $ref: '#/components/schemas/Slsa'
      x-examples: {}
    IntegrityVerification:
      title: IntegrityVerification
      x-stoplight:
        id: o67gzhl92dluh
      type: object
      properties:
        rekor:
          $ref: '#/components/schemas/RekorLog'
        error_message:
          type: string
          x-stoplight:
            id: n4kkqgdolwbxh
        status:
          $ref: '#/components/schemas/VerificationStatus'
        pipeline_id:
          type: string
          x-stoplight:
            id: 1oh36wopxh7ek
        pipeline_execution_id:
          type: string
          x-stoplight:
            id: wqwwxp6452gmd
    Scorecard1:
      title: Scorecard
      x-stoplight:
        id: 102ivoz6d9d0e
      type: object
      properties:
        max_score:
          type: string
          x-stoplight:
            id: thfkvwow3l96k
        avg_score:
          type: string
          x-stoplight:
            id: 0mcqty415kzb6
  parameters:
    Page2:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
        minimum: 0
      description: "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t"
    Limit6:
      name: limit
      in: query
      schema:
        type: integer
        default: 30
        maximum: 1000
        minimum: 1
      description: Number of items to return per page.
    OrgParam1:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Harness organization ID
    Order2:
      name: order
      in: query
      required: false
      schema:
        type: string
        enum:
        - ASC
        - DESC
        default: ASC
      description: Order on the basis of which sorting is done.
    AccountHeader6:
      name: Harness-Account
      in: header
      required: true
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
    ProjectParam1:
      in: path
      required: true
      schema:
        type: string
      description: Harness project ID
      name: project
    OrderDefaultDesc:
      name: order
      in: query
      required: false
      schema:
        type: string
        enum:
        - ASC
        - DESC
        default: DESC
      description: Order on the basis of which sorting is done.
    Artifact:
      name: artifact
      in: path
      required: true
      schema:
        type: string
      description: Harness artifact identifier
  responses:
    ArtifactComponentViewResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ArtifactComponentViewResponse'
      headers:
        X-Total-Elements:
          $ref: '#/components/headers/X-Total-Elements'
        X-Page-Number:
          $ref: '#/components/headers/X-Page-Number'
        X-Page-Size:
          $ref: '#/components/headers/X-Page-Size'
    ArtifactV2ListingResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ArtifactV2ListingResponse'
      headers:
        X-Total-Elements:
          $ref: '#/components/headers/X-Total-Elements'
        X-Page-Number:
          $ref: '#/components/headers/X-Page-Number'
        X-Page-Size:
          $ref: '#/components/headers/X-Page-Size'
    ArtifactDeploymentViewResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ArtifactDeploymentViewResponse'
      headers:
        X-Total-Elements:
          $ref: '#/components/headers/X-Total-Elements'
        X-Page-Number:
          $ref: '#/components/headers/X-Page-Number'
        X-Page-Size:
          $ref: '#/components/headers/X-Page-Size'
    ArtifactSourcesListingResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ArtifactSourcesListingResponse'
      headers:
        X-Total-Elements:
          $ref: '#/components/headers/X-Total-Elements'
        X-Page-Number:
          $ref: '#/components/headers/X-Page-Number'
        X-Page-Size:
          $ref: '#/components/headers/X-Page-Size'
  requestBodies:
    ArtifactListingRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ArtifactListingRequestBody'
  headers:
    X-Page-Size:
      schema:
        type: integer
      description: Maximum page size in Paginated response.
    X-Total-Elements:
      schema:
        type: integer
      description: Total number of elements returned in Paginated response.
    X-Page-Number:
      schema:
        type: integer
      description: Page number in Paginated response.
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
