openapi: 3.2.0
info:
  title: Harness Project Template API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Project Template
  description: This contains APIs for Project-scoped Templates.
  x-displayName: Project Templates [Beta]
paths:
  /v1/orgs/{org}/projects/{project}/templates/git-metadata/{template}:
    parameters:
    - $ref: '#/components/parameters/Template'
    - $ref: '#/components/parameters/Org'
    - $ref: '#/components/parameters/Project'
    put:
      summary: Update Git details
      operationId: update-git-metadata-details-project
      parameters:
      - $ref: '#/components/parameters/Org'
      - $ref: '#/components/parameters/Project'
      - $ref: '#/components/parameters/AccountHeaderParam'
      requestBody:
        $ref: '#/components/requestBodies/TemplateUpdateGitMetadataRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/TemplateUpdateGitMetadataResponse'
      tags:
      - Project Template
      description: Update Git details for multiple version.
      x-stoplight:
        id: 9ta5osrcrp83u
  /v1/orgs/{org}/projects/{project}/templates:
    parameters:
    - $ref: '#/components/parameters/Org'
    - $ref: '#/components/parameters/Project'
    post:
      summary: Create Template
      operationId: create-templates-project
      responses:
        '201':
          $ref: '#/components/responses/TemplateResponse'
      parameters:
      - $ref: '#/components/parameters/AccountHeaderParam'
      tags:
      - Project Template
      description: Creates a Template in the Project scope.
      requestBody:
        $ref: '#/components/requestBodies/TemplateCreateBody'
    get:
      summary: Get Templates List
      operationId: get-templates-list-project
      responses:
        '200':
          $ref: '#/components/responses/TemplateMetaDataList'
      parameters:
      - $ref: '#/components/parameters/AccountHeaderParam'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit4'
      - $ref: '#/components/parameters/Sort5'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/SearchTerm4'
      - $ref: '#/components/parameters/TemplateListType'
      - $ref: '#/components/parameters/IncludeAllTemplatesAccessibleAtScope'
      - $ref: '#/components/parameters/TemplateNames'
      - $ref: '#/components/parameters/TemplateIds'
      - $ref: '#/components/parameters/Description'
      - $ref: '#/components/parameters/EntityType'
      - $ref: '#/components/parameters/TemplateChildTypes'
      tags:
      - Project Template
      description: Retrieves list of Template with meta-data at Project scope.
  /v1/orgs/{org}/projects/{project}/templates/{template}:
    parameters:
    - $ref: '#/components/parameters/Org'
    - $ref: '#/components/parameters/Project'
    - $ref: '#/components/parameters/Template'
    get:
      summary: Get Stable Template
      tags:
      - Project Template
      responses:
        '200':
          $ref: '#/components/responses/TemplateWithInputsResponse'
      operationId: get-template-stable-project
      parameters:
      - $ref: '#/components/parameters/AccountHeaderParam'
      - $ref: '#/components/parameters/GetTemplateInputYaml'
      - $ref: '#/components/parameters/Branch1'
      - $ref: '#/components/parameters/ParentConnectorRef'
      - $ref: '#/components/parameters/ParentRepoName'
      - $ref: '#/components/parameters/ParentAccountId'
      - $ref: '#/components/parameters/ParentOrgId'
      - $ref: '#/components/parameters/ParentProjectId'
      description: Retrieves stable version of Template at Project scope.
  /v1/orgs/{org}/projects/{project}/templates/{template}/versions/{version}:
    parameters:
    - $ref: '#/components/parameters/Project'
    - $ref: '#/components/parameters/Template'
    - $ref: '#/components/parameters/Org'
    - $ref: '#/components/parameters/Version'
    get:
      summary: Retrieve a Template
      tags:
      - Project Template
      responses:
        '200':
          $ref: '#/components/responses/TemplateWithInputsResponse'
      operationId: get-template-project
      parameters:
      - $ref: '#/components/parameters/AccountHeaderParam'
      - $ref: '#/components/parameters/GetTemplateInputYaml'
      - $ref: '#/components/parameters/Branch1'
      - $ref: '#/components/parameters/ParentConnectorRef'
      - $ref: '#/components/parameters/ParentRepoName'
      - $ref: '#/components/parameters/ParentAccountId'
      - $ref: '#/components/parameters/ParentOrgId'
      - $ref: '#/components/parameters/ParentProjectId'
      description: Retrieves particular version of Template at Project scope.
    put:
      summary: Update Template
      operationId: update-template-project
      responses:
        '200':
          $ref: '#/components/responses/TemplateResponse'
      parameters:
      - $ref: '#/components/parameters/AccountHeaderParam'
      tags:
      - Project Template
      description: Updates particular version of Template at Project scope.
      requestBody:
        $ref: '#/components/requestBodies/TemplateUpdateBody'
    delete:
      summary: Delete Template
      operationId: delete-template-project
      parameters:
      - $ref: '#/components/parameters/AccountHeaderParam'
      - $ref: '#/components/parameters/Comments'
      - $ref: '#/components/parameters/ForceDelete1'
      tags:
      - Project Template
      description: Deletes particular version of Template at Project scope.
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-resp:
                  value: {}
            application/yaml:
              schema:
                type: object
                properties: {}
              examples:
                example-resp:
                  value: '{}

                    '
  /v1/orgs/{org}/projects/{project}/templates/{template}/versions/{version}/stable:
    parameters:
    - $ref: '#/components/parameters/Org'
    - $ref: '#/components/parameters/Project'
    - $ref: '#/components/parameters/Template'
    - $ref: '#/components/parameters/Version'
    put:
      summary: Update Stable Template
      operationId: update-template-stable-project
      responses:
        '200':
          $ref: '#/components/responses/TemplateUpdateStableResponse'
      parameters:
      - $ref: '#/components/parameters/AccountHeaderParam'
      tags:
      - Project Template
      description: Updates the stable version of Template at Project scope.
      requestBody:
        $ref: '#/components/requestBodies/TemplateFetchBody'
  /v1/orgs/{org}/projects/{project}/templates/{template}/import:
    parameters:
    - $ref: '#/components/parameters/Org'
    - $ref: '#/components/parameters/Project'
    - $ref: '#/components/parameters/Template'
    post:
      summary: Import Template
      operationId: import-template-project
      responses:
        '200':
          $ref: '#/components/responses/TemplateImportResponseBody'
      description: Import template at a project level
      tags:
      - Project Template
      parameters:
      - $ref: '#/components/parameters/AccountHeaderParam'
      requestBody:
        $ref: '#/components/requestBodies/TemplateImportRequestBody'
  /v1/orgs/{org}/projects/{project}/templates/{template}/versions/{version}/inputs-schema:
    parameters:
    - $ref: '#/components/parameters/Org'
    - $ref: '#/components/parameters/Project'
    - $ref: '#/components/parameters/Template'
    - $ref: '#/components/parameters/Version'
    get:
      summary: Get inputs schema for project level templates
      tags:
      - Project Template
      responses:
        '200':
          $ref: '#/components/responses/TemplateInputSchemaDetailsResponseBody'
      operationId: get-project-templates-inputs-schema
      x-stoplight:
        id: 9lff7z2spnh4w
      parameters:
      - $ref: '#/components/parameters/AccountHeaderParam'
      description: get inputs schema for project level templates
      x-internal: true
components:
  parameters:
    Version:
      name: version
      in: path
      required: true
      schema:
        type: string
      description: Version Label for Template
    AccountHeaderParam:
      name: Harness-Account
      in: header
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to.
    EntityType:
      name: entity_types
      in: query
      schema:
        type: array
        uniqueItems: true
        items:
          type: string
          enum:
          - Step
          - Stage
          - Pipeline
          - CustomDeployment
          - MonitoredService
          - SecretManager
      description: Type of Template
    TemplateListType:
      name: type
      in: query
      required: false
      schema:
        type: string
        enum:
        - STABLE_TEMPLATE
        - LAST_UPDATES_TEMPLATE
        - ALL
      description: Template List Type
    Limit4:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 30
      description: 'Pagination: Number of items to return'
    Org:
      name: org
      in: path
      schema:
        type: string
      required: true
      description: Organization Identifier
    Branch1:
      name: branch_name
      in: query
      required: false
      schema:
        type: string
      description: Name of the branch
    Comments:
      name: comments
      in: query
      required: false
      schema:
        type: string
      description: 'Specify comment with respect to changes  '
    ForceDelete1:
      name: forceDelete
      in: query
      schema:
        type: boolean
        default: false
      description: Enable this field to force delete a template
    Description:
      name: description
      in: query
      required: false
      schema:
        type: string
      description: Filter properties description
    ParentProjectId:
      name: parent_entity_project_id
      in: query
      required: false
      schema:
        type: string
      description: Project name of parent entity if its remote
    Project:
      name: project
      in: path
      required: true
      schema:
        type: string
      description: Project Identifier
    ParentConnectorRef:
      name: parent_entity_connector_ref
      in: query
      required: false
      schema:
        type: string
      description: Connector ref of parent template if its remote
    SearchTerm4:
      name: search_term
      in: query
      required: false
      schema:
        type: string
      description: This would be used to filter resources having attributes matching with search term.
    GetTemplateInputYaml:
      name: include_yaml
      in: query
      required: false
      schema:
        type: boolean
      description: Use it to get Template along with Input Set YAML
    ParentAccountId:
      name: parent_entity_account_id
      in: query
      required: false
      schema:
        type: string
      description: Account name of parent template if its remote
    TemplateNames:
      name: names
      in: query
      required: false
      schema:
        type: array
        uniqueItems: true
        items:
          type: string
      description: Template names for filtering
    Order:
      name: order
      in: query
      required: false
      schema:
        type: string
        enum:
        - ASC
        - DESC
      description: Order on the basis of which sorting is done.
    Template:
      name: template
      in: path
      required: true
      schema:
        type: string
      description: Template Identifier
    TemplateChildTypes:
      name: child_types
      in: query
      required: false
      schema:
        type: array
        uniqueItems: true
        items:
          type: string
      description: Child types describe the type of Step or stage
    IncludeAllTemplatesAccessibleAtScope:
      name: recursive
      in: query
      required: false
      schema:
        type: boolean
        default: false
      description: Specify true if all accessible Templates are to be included
    Sort5:
      name: sort
      in: query
      required: false
      schema:
        type: string
        enum:
        - identifier
        - name
        - updated
      description: Parameter on the basis of which sorting is done.
    ParentRepoName:
      name: parent_entity_repo_name
      in: query
      required: false
      schema:
        type: string
      description: Repo name of parent template if its remote
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t"
    TemplateIds:
      name: identifiers
      in: query
      required: false
      schema:
        type: array
        uniqueItems: true
        items:
          type: string
      description: Template Ids for Filtering
    ParentOrgId:
      name: parent_entity_org_id
      in: query
      required: false
      schema:
        type: string
      description: Organization name of parent template if its remote
  schemas:
    TemplateUpdateRequestBody:
      title: TemplateUpdateRequestBody
      x-stoplight:
        id: l48rfx4q8xoez
      type: object
      x-examples:
        example-2:
          template_yaml: "template:\n  name: Example_template\n  identifier: example_template\n  versionLabel: v1\n  type: Stage\n  tags: {}\n  spec:\n    type: Custom\n    spec:\n      execution:\n        steps:\n          - step:\n              type: ShellScript\n              name: ss1\n              identifier: ss1\n              spec:\n                shell: Bash\n                onDelegate: true\n                source:\n                  type: Inline\n                  spec:\n                    script: exit 1\n                environmentVariables: []\n                outputVariables: []\n              timeout: 10m\n"
          git_details:
            branch_name: branch
            commit_message: Added Harness Git Experience
            last_object_id: example_object_id
            base_branch: old_branch
            connector_ref: git_connector
            last_commit_id: example_commit_id
            file_path: /folder/file.json
            repo_name: example_repository
            store_type: INLINE
          comments: sample_comment
      description: Templates Update Request Body
      properties:
        template_yaml:
          type: string
          description: Yaml for updating existing Template
        identifier:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          maxLength: 128
          description: Template identifier
        name:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$
          maxLength: 128
          description: Template name
        label:
          type: string
          maxLength: 128
          description: Template version label
        description:
          type: string
          maxLength: 1024
          description: Pipeline description
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Template tags
        git_details:
          $ref: '#/components/schemas/GitUpdateDetails1'
        comments:
          type: string
          description: 'Specify comment with respect to changes  '
    RuntimeInputDependencyDetailsDTO1:
      title: RuntimeInputDependencyDetailsDTO
      x-stoplight:
        id: n8vk0pc2nad3z
      type: object
      x-internal: true
      properties:
        field_name:
          type: string
          x-stoplight:
            id: lspf0jnh5w2l3
        input_name:
          type: string
          x-stoplight:
            id: tcgmg70o492mo
    GitUpdateDetails1:
      title: GitUpdateDetails
      x-stoplight:
        id: 7k1zp5afx03m5
      type: object
      description: Contains parameters related to Updating an Entity for Git Experience.
      x-examples:
        example-1:
          branch_name: branch
          commit_message: Added Harness Git Experience
          last_object_id: example_object_id
          base_branch: old_branch
          connector_ref: git_connector
          last_commit_id: example_commit_id
          file_path: /folder/file.json
          repo_name: example_repository
          store_type: INLINE
      properties:
        branch_name:
          type: string
          description: Name of the branch.
        commit_message:
          type: string
          description: Commit message used for the merge commit.
        last_object_id:
          type: string
          description: Last object identifier (for Github).
        base_branch:
          type: string
          description: Name of the default branch (this checks out a new branch titled by branch_name).
        connector_ref:
          type: string
          description: Identifier of the Harness Connector used for CRUD operations on the Entity.
        last_commit_id:
          type: string
          description: Last commit identifier (for Git Repositories other than Github).
        file_path:
          type: string
          description: File path of the Entity in the repository.
        repo_name:
          type: string
          description: Name of the repository.
        store_type:
          type: string
          description: Specifies whether the Entity is to be stored in Git or not.
          enum:
          - INLINE
          - REMOTE
    TemplateImportRequestDTO:
      title: Template Import Request DTO
      x-stoplight:
        id: 63n2xm1nikjdq
      type: object
      description: Information of Tempalte import request DTO
      properties:
        template_name:
          type: string
        template_version:
          type: string
        template_description:
          type: string
    GitCreateDetails1:
      title: Create Git Details
      x-stoplight:
        id: m4q2n9rjsrqre
      type: object
      description: Contains parameters related to creating an Entity for Git Experience.
      properties:
        branch_name:
          type: string
          description: Name of the branch.
        file_path:
          type: string
          description: File path of the Entity in the repository.
        commit_message:
          type: string
          description: Commit message used for the merge commit.
        base_branch:
          type: string
          description: Name of the default branch (this checks out a new branch titled by branch_name).
        connector_ref:
          type: string
          description: Identifier of the Harness Connector used for CRUD operations on the Entity.
        store_type:
          type: string
          description: Specifies whether the Entity is to be stored in Git or not.
          enum:
          - INLINE
          - REMOTE
        repo_name:
          type: string
          description: Name of the repository.
      x-examples:
        example-create-git:
          branch_name: branch
          file_path: /folder/file.json
          commit_message: Added Harness Git Experience
          base_branch: old_branch
          connector_ref: git_connector
          store_type: INLINE
          repo_name: example_repository
    TemplateMetaDataList:
      title: TemplateMetaDataList
      x-stoplight:
        id: k684ta51ybafb
      type: array
      items:
        $ref: '#/components/schemas/TemplateMetadataSummaryResponse'
      x-examples:
        example-1:
        - account: example_account
          org: example_organization
          project: example_project
          identifier: example_template
          name: Example_template
          description: string
          tags:
            example-tag-1: example-tag-1-value
            example-tag-2: example-tag-2-value
          version_label: example_version
          entity_type: Step
          child_type: example_child_type
          scope: org
          version: 1234567890
          git_details:
            object_id: example_object
            branch_name: branch
            file_path: /folder/file.json
            repo_name: example_repository
            commit_id: abcd123
            file_url: www.repo/folder/file.com
            repo_url: www.repo.com
          updated: 1234567890
          store_type: INLINE
          connector_ref: example_connector_ref
          stable_template: true
      description: Template Meta Data List Model
    GitImportDetails:
      title: Git Import Details
      x-stoplight:
        id: sehprm5mfy45y
      type: object
      description: Contains parameters related to importing an Entity for Git Experience.
      properties:
        connector_ref:
          type: string
        repo_name:
          type: string
        branch_name:
          type: string
        file_path:
          type: string
        is_force_import:
          type: boolean
    TemplateYamlInputDetailsDTO:
      title: TemplateYamlInputDetailsDTO
      x-stoplight:
        id: g5ji5k9iuyk9l
      type: object
      x-internal: true
      properties:
        details:
          $ref: '#/components/schemas/TemplateYamlInputDTO'
        metadata:
          $ref: '#/components/schemas/TemplateYamlInputMetadataDTO'
    TemplateYamlInputMetadataDTO:
      title: TemplateYamlInputMetadataDTO
      x-stoplight:
        id: ualwerzlsrm1a
      type: object
      x-internal: true
      properties:
        field_properties:
          type: array
          x-stoplight:
            id: 3qnzd0bsqj2ls
          items:
            $ref: '#/components/schemas/InputDetailsPerFieldDTO1'
        dependencies:
          $ref: '#/components/schemas/YamlInputDependencyDetailsDTO1'
    TemplateResponse:
      title: templateResponse
      x-stoplight:
        id: f4ndtnn4ympdy
      type: object
      description: Default response when a template is returned
      x-examples:
        example-1:
          account: example_account
          org: example_organization
          project: example_project
          identifier: example_template
          name: Example_template
          description: string
          tags:
            example-tag-1: example-tag-1-value
            example-tag-2: example-tag-2-value
          yaml: "template:\n  name: Example_template\n  identifier: example_template\n  versionLabel: v1\n  type: Stage\n  tags: {}\n  spec:\n    type: Custom\n    spec:\n      execution:\n        steps:\n          - step:\n              type: ShellScript\n              name: ss1\n              identifier: ss1\n              spec:\n                shell: Bash\n                onDelegate: true\n                source:\n                  type: Inline\n                  spec:\n                    script: exit 1\n                environmentVariables: []\n                outputVariables: []\n              timeout: 10m\n"
          version_label: example_version
          entity_type: Stage
          child_type: example_child_type
          scope: org
          version: 1234567890
          git_details:
            object_id: example_object
            branch_name: branch
            file_path: /folder/file.json
            repo_name: example_repository
            commit_id: abcd123
            file_url: www.repo/folder/file.com
            repo_url: www.repo.com
          updated: 1234567890
          store_type: INLINE
          connector_ref: example_connector_ref
          stable_template: true
      properties:
        account:
          type: string
          description: Account identifier
        org:
          type: string
          description: Organization identifier
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
        project:
          type: string
          description: Project identifier
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
        identifier:
          type: string
          description: Template identifier
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
        name:
          type: string
          description: Template Name
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$
          minLength: 1
          maxLength: 128
        description:
          type: string
          description: Template description
          maxLength: 1024
        tags:
          type: object
          additionalProperties:
            type: string
          description: Template tags
          maxProperties: 128
        yaml:
          type: string
          description: Yaml related to template
        version_label:
          type: string
          description: Version label of template
        entity_type:
          type: string
          enum:
          - Step
          - Stage
          - Pipeline
          - CustomDeployment
          - MonitoredService
          - SecretManager
          description: 'Type of Template

            '
        child_type:
          type: string
          description: Defines child template type
        scope:
          type: string
          enum:
          - org
          - project
          - account
          - unknown
          description: Scope of template
        updated:
          type: integer
          format: int64
          description: 'Last modification timestamp for Service.

            '
        version:
          type: integer
          format: int64
          description: Version of template
        git_details:
          $ref: '#/components/schemas/EntityGitDetails'
        store_type:
          type: string
          enum:
          - INLINE
          - REMOTE
          description: Specifies whether the Entity is to be stored in Git or not (for Git Experience).
        connector_ref:
          type: string
          description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
        yaml_version:
          type: string
          description: Specifies the yaml version of the template
        stable_template:
          type: boolean
          description: True if this version is stable version of Template
      required:
      - account
      - identifier
      - name
      - yaml
    TemplateYamlInputDTO:
      title: TemplateYamlInputDTO
      x-stoplight:
        id: zojl0rh1u9u81
      type: object
      x-internal: true
      properties:
        name:
          type: string
          x-stoplight:
            id: oepfx9e71dzj8
        type:
          $ref: '#/components/schemas/YamlInputType1'
        description:
          type: string
          x-stoplight:
            id: vdyum5jk9it57
        required:
          type: boolean
          x-stoplight:
            id: umadwvxy635o6
        default:
          type: object
          x-stoplight:
            id: u8zbjrv0hehch
        allowed_values:
          type: array
          x-stoplight:
            id: pv16b1m7i8qny
          items: {}
        execution:
          type: boolean
        regex:
          type: string
    GitDetailsMetadata:
      title: GitDetailsMetadata
      x-stoplight:
        id: xmwhsx3n9xspz
      type: object
      properties:
        file_path:
          type: string
          x-stoplight:
            id: uuwrwacmycuiq
        repo_name:
          type: string
          x-stoplight:
            id: y8zpewva1udkw
        connector_ref:
          type: string
          x-stoplight:
            id: 8bcrgefkubqwn
      description: Git Details
    YamlInputDependencyDetailsDTO1:
      title: YamlInputDependencyDetailsDTO
      x-stoplight:
        id: sl4wcsg8oqg9v
      type: object
      x-internal: true
      properties:
        required_runtime_inputs:
          type: array
          x-stoplight:
            id: s7xwk2kcpgfy9
          items:
            $ref: '#/components/schemas/RuntimeInputDependencyDetailsDTO1'
        required_fixed_values:
          type: array
          x-stoplight:
            id: f1fuo7tkrhfbc
          items:
            $ref: '#/components/schemas/FixedValueFieldDependencyDetailsDTO1'
    TemplateMetadataSummaryResponse:
      title: TemplateMetadataSummaryResponse
      x-stoplight:
        id: nscqj4urwiqnf
      type: object
      x-examples:
        example-1:
          account: example_account
          org: example_organization
          project: example_project
          identifier: example_template
          name: Example_template
          description: string
          tags:
            example-tag-1: example-tag-1-value
            example-tag-2: example-tag-2-value
          version_label: example_version
          entity_type: Step
          child_type: example_child_type
          scope: org
          version: 1234567890
          git_details:
            object_id: example_object
            branch_name: branch
            file_path: /folder/file.json
            repo_name: example_repository
            commit_id: abcd123
            file_url: www.repo/folder/file.com
            repo_url: www.repo.com
          updated: 1234567890
          store_type: INLINE
          connector_ref: example_connector_ref
          stable_template: true
      description: Single Template Metadata Model
      properties:
        account:
          type: string
          description: Account identifier
        org:
          type: string
          description: Organization identifier
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
        project:
          type: string
          description: Project identifier
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
        identifier:
          type: string
          description: Template identifier
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
        name:
          type: string
          description: Template Name
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$
          minLength: 1
          maxLength: 128
        description:
          type: string
          description: Template description
          maxLength: 1024
        tags:
          type: object
          additionalProperties:
            type: string
          description: Template tags
          maxProperties: 128
        version_label:
          type: string
          description: Version label of template
        entity_type:
          type: string
          enum:
          - Step
          - Stage
          - Pipeline
          - CustomDeployment
          - MonitoredService
          - SecretManager
          description: 'Type of Template

            '
        child_type:
          type: string
          description: Defines child template type
        scope:
          type: string
          enum:
          - org
          - project
          - account
          - unknown
          description: Scope of template
        version:
          type: integer
          format: int64
          description: Version of template
        git_details:
          $ref: '#/components/schemas/EntityGitDetails'
        updated:
          type: integer
          format: int64
          description: 'Last modification timestamp for Service.

            '
        store_type:
          type: string
          enum:
          - INLINE
          - REMOTE
          description: Specifies whether the Entity is to be stored in Git or not (for Git Experience).
        connector_ref:
          type: string
          description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
        yaml_version:
          type: string
          description: Specifies the yaml version of the template
        stable_template:
          type: boolean
          description: True if this version is stable version of Template
    TemplateCreateRequestBody:
      title: TemplateCreateRequestBody
      x-stoplight:
        id: c0h9d4wu3gp1t
      type: object
      x-examples:
        example-2:
          template_yaml: "template:\n  name: Example_template\n  identifier: example_template\n  versionLabel: v1\n  type: Stage\n  tags: {}\n  spec:\n    type: Custom\n    spec:\n      execution:\n        steps:\n          - step:\n              type: ShellScript\n              name: ss1\n              identifier: ss1\n              spec:\n                shell: Bash\n                onDelegate: true\n                source:\n                  type: Inline\n                  spec:\n                    script: exit 1\n                environmentVariables: []\n                outputVariables: []\n              timeout: 10m\n"
          git_details:
            branch_name: branch
            file_path: /folder/file.json
            commit_message: Added Harness Git Experience
            base_branch: old_branch
            connector_ref: git_connector
            store_type: INLINE
            repo_name: example_repository
          is_stable: true
          comments: sample_comment
      description: Templates Create Request Body
      properties:
        template_yaml:
          type: string
          description: Yaml for creating new Template
        identifier:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          maxLength: 128
          description: Template identifier
        name:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$
          maxLength: 128
          description: Template name
        label:
          type: string
          maxLength: 128
          description: Template version label
        description:
          type: string
          maxLength: 1024
          description: Pipeline description
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Template tags
        git_details:
          $ref: '#/components/schemas/GitCreateDetails1'
        is_stable:
          type: boolean
          description: True if given version for template to be set as stable
        comments:
          type: string
          description: 'Specify comment with respect to changes  '
    TemplateInputSchemaDetailsResponseBody:
      title: TemplateInputSchemaDetailsResponseBody
      x-stoplight:
        id: wvz1hgoax3ska
      type: object
      properties:
        inputs:
          type: array
          x-stoplight:
            id: 464f72eow2zn4
          items:
            $ref: '#/components/schemas/TemplateYamlInputDetailsDTO'
      x-internal: true
    InputDetailsPerFieldDTO1:
      title: InputDetailsPerFieldDTO
      x-stoplight:
        id: 1pwsuzht6te0l
      type: object
      x-internal: true
      properties:
        input_type:
          type: string
          x-stoplight:
            id: x2gyzuy7skrlw
        internal_type:
          type: string
          x-stoplight:
            id: eye30wp6mepd5
        entity_type:
          x-stoplight:
            id: p9imuzgb7t32y
          enum:
          - STAGE
          - STEP
          - STEP_GROUP
        stage_type:
          type: string
          x-stoplight:
            id: ub8c360xgz03j
    GitFindDetails:
      title: GitFindDetails
      x-stoplight:
        id: gqzd5g4smch1i
      type: object
      x-examples:
        example-1:
          branch_name: branch
          parent_entity_connector_ref: example_connector_ref
          parent_entity_repo_name: example_repo_name
          parent_entity_account_id: example_account_id
          parent_entity_org_id: example_org_id
          parent_entity_project_id: example_project_id
          comments: sample_comments
      description: Contains parameters related to Fetching an Entity for Git Experience.
      properties:
        branch_name:
          type: string
          description: Name of the branch.
        parent_entity_connector_ref:
          type: string
          description: Connector ref of parent template if its remote
        parent_entity_repo_name:
          type: string
          description: Repo name of parent template if its remote
        parent_entity_account_id:
          type: string
          description: Account name of parent template if its remote
        parent_entity_org_id:
          type: string
          description: Organization name of parent template if its remote
        parent_entity_project_id:
          type: string
          description: Project name of parent entity if its remote
        comments:
          type: string
          description: 'Specify comment with respect to changes  '
    FixedValueFieldDependencyDetailsDTO1:
      title: FixedValueFieldDependencyDetailsDTO
      x-stoplight:
        id: stlkmcdnxr18s
      type: object
      x-internal: true
      properties:
        field_name:
          type: string
          x-stoplight:
            id: qh0pclbjju6jt
        field_input_type:
          type: string
          x-stoplight:
            id: zfomitzu7f1im
        field_value:
          type: object
          x-stoplight:
            id: cz4447uq4hsa0
    TemplateUpdateStableResponse:
      title: TemplateUpdateStableResponse
      x-stoplight:
        id: u5l3jvjb83olc
      type: object
      properties:
        stable_version:
          type: string
          description: 'Version which is set as stable for the given Template

            '
      description: Template stable version update Response
    TemplateWithInputsResponse:
      title: templateWithInputsResponse
      x-stoplight:
        id: 6fzq3le3gyie2
      type: object
      x-examples:
        example-1:
          template:
            account: example_account
            org: example_organization
            project: example_project
            identifier: example_template
            name: Example_template
            description: string
            tags:
              example-tag-1: example-tag-1-value
              example-tag-2: example-tag-2-value
            yaml: "template:\n  name: Example_template\n  identifier: example_template\n  versionLabel: v1\n  type: Stage\n  tags: {}\n  spec:\n    type: Custom\n    spec:\n      execution:\n        steps:\n          - step:\n              type: ShellScript\n              name: ss1\n              identifier: ss1\n              spec:\n                shell: Bash\n                onDelegate: true\n                source:\n                  type: Inline\n                  spec:\n                    script: exit 1\n                environmentVariables: []\n                outputVariables: []\n              timeout: 10m\n"
            version_label: example_version
            entity_type: Stage
            child_type: example_child_type
            scope: org
            version: 1234567890
            git_details:
              object_id: example_object
              branch_name: branch
              file_path: /folder/file.json
              repo_name: example_repository
              commit_id: abcd123
              file_url: www.repo/folder/file.com
              repo_url: www.repo.com
            updated: 1234567890
            store_type: INLINE
            connector_ref: example_connector_ref
            stable_template: true
          inputs: example
      description: Returns Template input YAML with template response
      properties:
        template:
          $ref: '#/components/schemas/TemplateResponse'
        inputs:
          type: string
          description: Input Yaml for the Template
    TemplateUpdateGitMetadataRequest:
      title: TemplateUpdateGitMetadataRequest
      x-stoplight:
        id: wdpzwf5cvc42j
      type: object
      description: Lists down request params for template update git details request
      properties:
        version:
          type: string
          x-stoplight:
            id: 79rrzmtkuum7w
        git_details:
          $ref: '#/components/schemas/GitDetailsMetadata'
    TemplateImportResponseBody:
      title: TemplateImportResponseBody
      x-stoplight:
        id: xw3yrxry48fu7
      type: object
      description: Contains the Template details for the given Template ID and version
      properties:
        template_identifier:
          type: string
        template_version:
          type: string
    YamlInputType1:
      title: YamlInputType
      x-stoplight:
        id: pp5fe7khunidf
      x-internal: true
      description: ''
      enum:
      - String
      - Integer
      - Boolean
      - Object
      - Array
    EntityGitDetails:
      title: entityGitDetails
      x-stoplight:
        id: tswyoxlluku7h
      type: object
      description: Git Experience related details of the Entity.
      x-examples:
        example-git:
          object_id: example_object
          branch_name: branch
          file_path: /folder/file.json
          repo_name: example_repository
          commit_id: abcd123
          file_url: www.repo/folder/file.com
          repo_url: www.repo.com
      properties:
        object_id:
          type: string
          description: Entity identifier
        branch_name:
          type: string
          description: Name of the branch.
        file_path:
          type: string
          description: File path of the Entity in the repository.
        repo_name:
          type: string
          description: Name of the repository.
        commit_id:
          type: string
          description: Latest commit identifier.
        file_url:
          type: string
          description: File URL of the Entity.
        repo_url:
          type: string
          description: Repository URL of the Entity.
    TemplateImportRequestBody:
      title: TemplateImportRequestBody
      x-stoplight:
        id: lix6vu1rny248
      type: object
      description: Template Import Request Body
      properties:
        git_import_details:
          $ref: '#/components/schemas/GitImportDetails'
        template_import_request:
          $ref: '#/components/schemas/TemplateImportRequestDTO'
  responses:
    TemplateInputSchemaDetailsResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TemplateInputSchemaDetailsResponseBody'
    TemplateImportResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TemplateImportResponseBody'
    TemplateResponse:
      description: Template Response Body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TemplateResponse'
          examples:
            example-1:
              value:
                account: example_account
                org: example_organization
                project: example_project
                identifier: example_template
                name: Example_template
                description: string
                tags:
                  example-tag-1: example-tag-1-value
                  example-tag-2: example-tag-2-value
                yaml: "template:\n  name: Example_template\n  identifier: example_template\n  versionLabel: v1\n  type: Stage\n  tags: {}\n  spec:\n    type: Custom\n    spec:\n      execution:\n        steps:\n          - step:\n              type: ShellScript\n              name: ss1\n              identifier: ss1\n              spec:\n                shell: Bash\n                onDelegate: true\n                source:\n                  type: Inline\n                  spec:\n                    script: exit 1\n                environmentVariables: []\n                outputVariables: []\n              timeout: 10m\n"
                version_label: example_version
                entity_type: Stage
                child_type: example_child_type
                scope: org
                version: 1234567890
                git_details:
                  object_id: example_object
                  branch_name: branch
                  file_path: /folder/file.json
                  repo_name: example_repository
                  commit_id: abcd123
                  file_url: www.repo/folder/file.com
                  repo_url: www.repo.com
                updated: 1234567890
                store_type: INLINE
                connector_ref: example_connector_ref
                stable_template: true
        application/yaml:
          schema:
            $ref: '#/components/schemas/TemplateResponse'
          examples:
            example-1:
              value: "account: example_account\norg: example_organization\nproject: example_project\nidentifier: example_template\nname: Example_template\ndescription: string\ntags:\n  example-tag-1: example-tag-1-value\n  example-tag-2: example-tag-2-value\nyaml: |\n  template:\n    name: Example_template\n    identifier: example_template\n    versionLabel: v1\n    type: Stage\n    tags: {}\n    spec:\n      type: Custom\n      spec:\n        execution:\n          steps:\n            - step:\n                type: ShellScript\n                name: ss1\n                identifier: ss1\n                spec:\n                  shell: Bash\n                  onDelegate: true\n                  source:\n                    type: Inline\n                    spec:\n                      script: exit 1\n                  environmentVariables: []\n                  outputVariables: []\n                timeout: 10m\nversion_label: example_version\nentity_type: Stage\nchild_type: example_child_type\nscope: org\nversion: 1234567890\ngit_details:\n  object_id: example_object\n  branch_name: branch\n  file_path: /folder/file.json\n  repo_name: example_repository\n  commit_id: abcd123\n  file_url: www.repo/folder/file.com\n  repo_url: www.repo.com\nupdated: 1234567890\nstore_type: INLINE\nconnector_ref: example_connector_ref\nstable_template: true\n"
    TemplateMetaDataList:
      description: Template Lists Meta Data Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TemplateMetaDataList'
          examples:
            example-1:
              value:
              - account: example_account
                org: example_organization
                project: example_project
                identifier: example_template
                name: Example_template
                description: string
                tags:
                  example-tag-1: example-tag-1-value
                  example-tag-2: example-tag-2-value
                version_label: example_version
                entity_type: Step
                child_type: example_child_type
                scope: org
                version: 1234567890
                git_details:
                  object_id: example_object
                  branch_name: branch
                  file_path: /folder/file.json
                  repo_name: example_repository
                  commit_id: abcd123
                  file_url: www.repo/folder/file.com
                  repo_url: www.repo.com
                updated: 1234567890
                store_type: INLINE
                connector_ref: example_connector_ref
                stable_template: true
        application/yaml:
          schema:
            $ref: '#/components/schemas/TemplateMetaDataList'
          examples:
            example-1:
              value: "- account: example_account\n  org: example_organization\n  project: example_project\n  identifier: example_template\n  name: Example_template\n  description: string\n  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2: example-tag-2-value\n  version_label: example_version\n  entity_type: Step\n  child_type: example_child_type\n  scope: org\n  version: 1234567890\n  git_details:\n    object_id: example_object\n    branch_name: branch\n    file_path: /folder/file.json\n    repo_name: example_repository\n    commit_id: abcd123\n    file_url: www.repo/folder/file.com\n    repo_url: www.repo.com\n  updated: 1234567890\n  store_type: INLINE\n  connector_ref: example_connector_ref\n  stable_template: true\n"
      headers:
        X-Total-Elements:
          schema:
            type: integer
          description: Total number of elements returned in Paginated response.
        X-Page-Number:
          schema:
            type: integer
          description: Page number in Paginated response.
        X-Page-Size:
          schema:
            type: integer
          description: Maximum page size in Paginated response.
    TemplateUpdateGitMetadataResponse:
      description: Template GitMetadata response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: boolean
                x-stoplight:
                  id: lnqiaqy3xo6xg
    TemplateUpdateStableResponse:
      description: Template stable version update Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TemplateUpdateStableResponse'
          examples:
            example-1:
              value:
                stable_version: example_version
        application/yaml:
          schema:
            $ref: '#/components/schemas/TemplateUpdateStableResponse'
          examples:
            example-1:
              value: 'stable_version: example_version

                '
    TemplateWithInputsResponse:
      description: Template With Input reference
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TemplateWithInputsResponse'
          examples:
            example-1:
              value:
                template:
                  account: example_account
                  org: example_organization
                  project: example_project
                  identifier: example_template
                  name: Example_template
                  description: string
                  tags:
                    example-tag-1: example-tag-1-value
                    example-tag-2: example-tag-2-value
                  yaml: "template:\n  name: Example_template\n  identifier: example_template\n  versionLabel: v1\n  type: Stage\n  tags: {}\n  spec:\n    type: Custom\n    spec:\n      execution:\n        steps:\n          - step:\n              type: ShellScript\n              name: ss1\n              identifier: ss1\n              spec:\n                shell: Bash\n                onDelegate: true\n                source:\n                  type: Inline\n                  spec:\n                    script: exit 1\n                environmentVariables: []\n                outputVariables: []\n              timeout: 10m\n"
                  version_label: example_version
                  entity_type: Stage
                  child_type: example_child_type
                  scope: org
                  version: 1234567890
                  git_details:
                    object_id: example_object
                    branch_name: branch
                    file_path: /folder/file.json
                    repo_name: example_repository
                    commit_id: abcd123
                    file_url: www.repo/folder/file.com
                    repo_url: www.repo.com
                  updated: 1234567890
                  store_type: INLINE
                  connector_ref: example_connector_ref
                  stable_template: true
                inputs: example
        application/yaml:
          schema:
            $ref: '#/components/schemas/TemplateWithInputsResponse'
          examples:
            example-1:
              value: "template:\n  account: example_account\n  org: example_organization\n  project: example_project\n  identifier: example_template\n  name: Example_template\n  description: string\n  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2: example-tag-2-value\n  yaml: |\n    template:\n      name: Example_template\n      identifier: example_template\n      versionLabel: v1\n      type: Stage\n      tags: {}\n      spec:\n        type: Custom\n        spec:\n          execution:\n            steps:\n              - step:\n                  type: ShellScript\n                  name: ss1\n                  identifier: ss1\n                  spec:\n                    shell: Bash\n                    onDelegate: true\n                    source:\n                      type: Inline\n                      spec:\n                        script: exit 1\n                    environmentVariables: []\n                    outputVariables: []\n                  timeout: 10m\n  version_label: example_version\n  entity_type: Stage\n  child_type: example_child_type\n  scope: org\n  version: 1234567890\n  git_details:\n    object_id: example_object\n    branch_name: branch\n    file_path: /folder/file.json\n    repo_name: example_repository\n    commit_id: abcd123\n    file_url: www.repo/folder/file.com\n    repo_url: www.repo.com\n  updated: 1234567890\n  store_type: INLINE\n  connector_ref: example_connector_ref\n  stable_template: true\ninputs: example\n"
  requestBodies:
    TemplateFetchBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GitFindDetails'
          examples:
            example-1:
              value:
                branch_name: branch
                parent_entity_connector_ref: example_connector_ref
                parent_entity_repo_name: example_repo_name
                parent_entity_account_id: example_account_id
                parent_entity_org_id: example_org_id
                parent_entity_project_id: example_project_id
                comments: sample_comments
        application/yaml:
          schema:
            $ref: '#/components/schemas/GitFindDetails'
          examples:
            example-1:
              value: 'branch_name: branch

                parent_entity_connector_ref: example_connector_ref

                parent_entity_repo_name: example_repo_name

                parent_entity_account_id: example_account_id

                parent_entity_org_id: example_org_id

                parent_entity_project_id: example_project_id

                comments: sample_comments

                '
      description: Templates Fetch Request Body
    TemplateImportRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TemplateImportRequestBody'
    TemplateUpdateGitMetadataRequestBody:
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/TemplateUpdateGitMetadataRequest'
    TemplateUpdateBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TemplateUpdateRequestBody'
          examples:
            example-1:
              value:
                template_yaml: "template:\n  name: Example_template\n  identifier: example_template\n  versionLabel: v1\n  type: Stage\n  tags: {}\n  spec:\n    type: Custom\n    spec:\n      execution:\n        steps:\n          - step:\n              type: ShellScript\n              name: ss1\n              identifier: ss1\n              spec:\n                shell: Bash\n                onDelegate: true\n                source:\n                  type: Inline\n                  spec:\n                    script: exit 1\n                environmentVariables: []\n                outputVariables: []\n              timeout: 10m\n"
                git_details:
                  branch_name: branch
                  commit_message: Added Harness Git Experience
                  last_object_id: example_object_id
                  base_branch: old_branch
                  connector_ref: git_connector
                  last_commit_id: example_commit_id
                  file_path: /folder/file.json
                  repo_name: example_repository
                  store_type: INLINE
                comments: sample_comments
        application/yaml:
          schema:
            $ref: '#/components/schemas/TemplateUpdateRequestBody'
          examples:
            example-1:
              value: "template_yaml: |\n  template:\n    name: Example_template\n    identifier: example_template\n    versionLabel: v1\n    type: Stage\n    tags: {}\n    spec:\n      type: Custom\n      spec:\n        execution:\n          steps:\n            - step:\n                type: ShellScript\n                name: ss1\n                identifier: ss1\n                spec:\n                  shell: Bash\n                  onDelegate: true\n                  source:\n                    type: Inline\n                    spec:\n                      script: exit 1\n                  environmentVariables: []\n                  outputVariables: []\n                timeout: 10m\ngit_details:\n  branch_name: branch\n  commit_message: Added Harness Git Experience\n  last_object_id: example_object_id\n  base_branch: old_branch\n  connector_ref: git_connector\n  last_commit_id: example_commit_id\n  file_path: /folder/file.json\n  repo_name: example_repository\n  store_type: INLINE\ncomments: sample_comments\n"
      description: Templates Update Request Body
    TemplateCreateBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TemplateCreateRequestBody'
          examples:
            example-1:
              value:
                template_yaml: "template:\n  name: Example_template\n  identifier: example_template\n  versionLabel: v1\n  type: Stage\n  tags: {}\n  spec:\n    type: Custom\n    spec:\n      execution:\n        steps:\n          - step:\n              type: ShellScript\n              name: ss1\n              identifier: ss1\n              spec:\n                shell: Bash\n                onDelegate: true\n                source:\n                  type: Inline\n                  spec:\n                    script: exit 1\n                environmentVariables: []\n                outputVariables: []\n              timeout: 10m\n"
                git_details:
                  branch_name: branch
                  file_path: /folder/file.json
                  commit_message: Added Harness Git Experience
                  base_branch: old_branch
                  connector_ref: git_connector
                  store_type: INLINE
                  repo_name: example_repository
                is_stable: true
                comments: sample_comment
        application/yaml:
          schema:
            $ref: '#/components/schemas/TemplateCreateRequestBody'
          examples:
            example-1:
              value: "template_yaml: |\n  template:\n    name: Example_template\n    identifier: example_template\n    versionLabel: v1\n    type: Stage\n    tags: {}\n    spec:\n      type: Custom\n      spec:\n        execution:\n          steps:\n            - step:\n                type: ShellScript\n                name: ss1\n                identifier: ss1\n                spec:\n                  shell: Bash\n                  onDelegate: true\n                  source:\n                    type: Inline\n                    spec:\n                      script: exit 1\n                  environmentVariables: []\n                  outputVariables: []\n                timeout: 10m\ngit_details:\n  branch_name: branch\n  file_path: /folder/file.json\n  commit_message: Added Harness Git Experience\n  base_branch: old_branch\n  connector_ref: git_connector\n  store_type: INLINE\n  repo_name: example_repository\nis_stable: true\ncomments: sample_comment\n"
      description: Templates Create Request Body
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
