openapi: 3.2.0
info:
  title: Harness Account Webhooks API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Account Webhooks
  description: This contains APIs for Account Webhooks.
  x-displayName: Account Webhooks
paths:
  /v1/webhooks/list:
    post:
      summary: Lists all the Webhooks at Account level
      tags:
      - Account Webhooks
      responses:
        '200':
          $ref: '#/components/responses/ListWebhookResponse'
      operationId: list-account-webhooks
      x-stoplight:
        id: q959f3zrosr8j
      description: Lists webhooks
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit1'
      requestBody:
        $ref: '#/components/requestBodies/ListWebhookRequest'
  /v1/webhooks:
    post:
      summary: Create a webhook at Account level
      responses:
        '201':
          $ref: '#/components/responses/CreateWebhookResponse'
      operationId: create-account-webhooks
      x-stoplight:
        id: 8eiwo6om8vhyx
      description: Create webhooks at account level
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/CreateWebhookRequest'
      tags:
      - Account Webhooks
  /v1/webhooks/{webhook}:
    parameters:
    - $ref: '#/components/parameters/WebhookIdentifier'
    get:
      summary: Fetch Webhook at Account level
      responses:
        '200':
          $ref: '#/components/responses/GetWebhookResponse'
      operationId: get-account-webhook
      x-stoplight:
        id: htrbf7iw1pgbm
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      tags:
      - Account Webhooks
    put:
      summary: Updates a Webhook at Account level
      tags:
      - Account Webhooks
      responses:
        '200':
          $ref: '#/components/responses/UpdateWebhookResponse'
      operationId: update-account-webhook
      x-stoplight:
        id: stg0ym0cf83ms
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/UpdateWebhookRequest'
    delete:
      summary: Deletes a Webhook at account level
      tags:
      - Account Webhooks
      responses:
        '204':
          description: No Content
      operationId: delete-account-webhook
      x-stoplight:
        id: hy1e8ggf1za4k
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
components:
  responses:
    GetWebhookResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookResponse'
    CreateWebhookResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateWebhookResponse'
      headers: {}
    ListWebhookResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/WebhookResponse'
      headers:
        X-Total-Elements:
          schema:
            type: integer
          description: Total number of elements returned in Paginated response.
        X-Page-Number:
          schema:
            type: integer
          description: Page number in Paginated response.
        X-Page-Size:
          schema:
            type: integer
          description: Maximum page size in Paginated response.
    UpdateWebhookResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateWebhookResponse'
  requestBodies:
    ListWebhookRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListWebhookRequest'
      description: List webhooks request
    UpdateWebhookRequest:
      content:
        application/json:
          schema:
            type: object
            $ref: '#/components/schemas/UpdateWebhookRequest'
      description: Update webhook request
    CreateWebhookRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateWebhookRequest'
      description: Create webhook request
  schemas:
    UpdateWebhookRequest:
      title: UpdateWebhookRequest
      x-stoplight:
        id: bcygq1n9977fe
      type: object
      description: 'Contains information about the webhook updation '
      required:
      - webhook_name
      - is_enabled
      - spec
      properties:
        webhook_name:
          type: string
          x-stoplight:
            id: neynteoeg0mp2
        is_enabled:
          type: boolean
          x-stoplight:
            id: 0s3sv7cnssgfa
        spec:
          $ref: '#/components/schemas/WebhookSpec'
    WebhookSpec:
      title: WebhookSpec
      type: object
      description: Details of the Webhook defined in Harness
      x-stoplight:
        id: flbjcalbbs9ui
      discriminator:
        propertyName: webhook_type
        mapping:
          GIT: '#/components/schemas/GitWebhookSpec'
          GENERIC: '#/components/schemas/GenericWebhookSpec'
          SLACK: '#/components/schemas/SlackWebhookSpec'
      properties:
        webhook_type:
          type: string
          x-stoplight:
            id: zbdq4istt2a2f
          enum:
          - GIT
          - GENERIC
          - SLACK
    WebhookResponseSpec:
      title: WebhookResponseSpec
      x-stoplight:
        id: hf8a59m9zplq5
      type: object
      description: Details of the Webhook Response defined in Harness
      discriminator:
        propertyName: webhook_type
        mapping:
          GIT: '#/components/schemas/GitWebhookSpec'
          GENERIC: '#/components/schemas/GenericWebhookSpec'
          SLACK: '#/components/schemas/SlackWebhookSpec'
      properties:
        webhook_type:
          type: string
          x-stoplight:
            id: ea5q8oze71hsh
          enum:
          - GIT
          - GENERIC
          - SLACK
    CreateWebhookRequest:
      title: CreateWebhookRequest
      x-stoplight:
        id: wyugz3znopto1
      type: object
      description: Contains information about the webhook creation request
      required:
      - webhook_identifier
      - webhook_name
      - spec
      properties:
        webhook_identifier:
          type: string
          pattern: ^[0-9a-zA-Z-_ ]{0,127}$
        webhook_name:
          type: string
        spec:
          $ref: '#/components/schemas/WebhookSpec'
    ListWebhookRequest:
      title: ListWebhookRequest
      x-stoplight:
        id: jx8oxje21olue
      type: object
      description: Contains information about the webhook list request
      properties:
        webhook_type:
          type: string
          x-stoplight:
            id: upkw62u05iw1k
          enum:
          - GIT
          - GENERIC
          - SLACK
          - EVENT_BRIDGE_TRIGGER
    UpdateWebhookResponse:
      title: UpdateWebhookResponse
      x-stoplight:
        id: 53ifddpwomu03
      type: object
      properties:
        webhook_identifier:
          type: string
          x-stoplight:
            id: ilve5xc00itqc
      description: 'Contains information about the webhook updation '
    WebhookResponse:
      title: WebhookResponse
      x-stoplight:
        id: qp85gbelru04a
      type: object
      description: 'Contains information about the webhooks '
      properties:
        webhook_identifier:
          type: string
          x-stoplight:
            id: ca15qky0ubhp0
        webhook_name:
          type: string
          x-stoplight:
            id: akdk55si8n2t5
        is_enabled:
          type: boolean
          x-stoplight:
            id: yxa6x7c817cpi
        event_trigger_time:
          type: integer
          x-stoplight:
            id: s5gogy1jeqrxg
          format: int64
        spec:
          $ref: '#/components/schemas/WebhookResponseSpec'
    CreateWebhookResponse:
      title: CreateWebhookResponse
      x-stoplight:
        id: yak0fnugfnazi
      type: object
      description: 'Contains information about the webhook creation '
      properties:
        webhook_identifier:
          type: string
          x-stoplight:
            id: 48gdql1ypcu24
  parameters:
    WebhookIdentifier:
      name: webhook
      in: path
      required: true
      schema:
        type: string
      description: Webhook identifier
    AccountHeader:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t"
    Limit1:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 20
        maximum: 1000
      description: Number of items to return per page.
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
