openapi: 3.2.0
info:
  title: Harness Experiments API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Experiments
paths:
  /gateway/chaos/manager/api/rest/chaos-experiment-run/report/{experimentRunId}/{notifyId}:
    get:
      summary: Generate and return kubernetesV1 chaos experiment run report
      operationId: GetChaosExperimentRunReport
      parameters:
      - description: experimentRunId for kubernetesV1 experiment run report generation
        name: experimentRunId
        in: path
        required: true
        schema:
          type: string
      - description: notifyId for kubernetesV1 experiment run report generation
        name: notifyId
        in: path
        required: true
        schema:
          type: string
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/pdf:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/overview/experiment-stats:
    get:
      description: Get resource usage
      summary: Get chaos experiment run overview stats
      operationId: getExperimentRunsOverviewStats
      parameters:
      - description: Account Identifier
        name: accountIdentifier
        in: query
        schema:
          type: string
      - description: Organization Identifier
        name: orgIdentifier
        in: query
        schema:
          type: string
      - description: Project Identifier
        name: projectIdentifier
        in: query
        schema:
          type: string
      - description: Start Time
        name: startTime
        in: query
        schema:
          type: string
      - description: End Time
        name: endTime
        in: query
        schema:
          type: string
      - description: Group By Parameter
        name: groupBy
        in: query
        schema:
          type: string
          enum:
          - DAY
          - WEEK
          - MONTH
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handlers.ChaosExperimentRunsStatsResponse'
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/v2/bulkaction/bulkexperimentdelete:
    post:
      summary: Delete given experiments
      operationId: bulkExperimentDelete
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulkaction.BulkDeleteExperimetsInput'
        description: Retry experiment creation request
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulkaction.BulkDeleteExperimetsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/v2/bulkaction/bulkexperimenttagsadd:
    post:
      summary: Add tags in given experiments
      operationId: bulkExperimentTagAdd
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulkaction.BulkAddTagsInExperimetsInput'
        description: Retry experiment creation request
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulkaction.BulkAddTagsInExperimetsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/v2/chaos-pipeline/step/{experimentId}/{experimentRunId}/{stepName}:
    get:
      summary: Get a chaos pipeline step execution
      operationId: getChaosPipelineStepDetails
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: experimentId to be fetched
        name: experimentId
        in: path
        required: true
        schema:
          type: string
      - description: experimentRunId to be fetched
        name: experimentRunId
        in: path
        required: true
        schema:
          type: string
      - description: stepName to be fetched
        name: stepName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaosexperimentpipeline.GetChaosPipelineNodesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/v2/chaos-pipeline/{experimentId}:
    get:
      summary: Get a chaos pipeline execution
      operationId: getChaosPipelineExecution
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: notifyId to be fetched
        name: notifyId
        in: query
        required: true
        schema:
          type: string
      - description: experimentRunId to be fetched
        name: experimentRunId
        in: query
        required: true
        schema:
          type: string
      - description: experimentId to be fetched
        name: experimentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaos_execution_nodes.ChaosExecutionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/v2/experiment:
    get:
      summary: List chaos v2 experiments
      operationId: listChaosV2Experiment
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: page number
        name: page
        in: query
        required: true
        schema:
          type: integer
          default: 0
      - description: limit per page
        name: limit
        in: query
        required: true
        schema:
          type: integer
          default: 10
      - description: filter based on start time
        name: startDate
        in: query
        schema:
          type: string
      - description: filter based on end time
        name: endDate
        in: query
        schema:
          type: string
      - description: search based on experiment name
        name: experimentName
        in: query
        schema:
          type: string
      - description: search based on infra name
        name: infraName
        in: query
        schema:
          type: string
      - description: filter based on infraId
        name: infraId
        in: query
        schema:
          type: string
      - description: filter based on infra state
        name: infraActive
        in: query
        schema:
          type: boolean
      - description: filter based on tags
        name: tags
        in: query
        schema:
          type: string
      - description: filter based on experimentID
        name: experimentIds
        in: query
        schema:
          type: string
      - description: filter based on environmentID
        name: environmentIdentifier
        in: query
        schema:
          type: string
      - description: filter experiments based on experiment ids
        name: targetNetworkMapIds
        in: query
        schema:
          type: string
      - description: filter based on status
        name: status
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ListExperimentV2Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
    post:
      summary: Save a chaos v2 experiment
      operationId: saveChaosV2Experiment
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.ExperimentCreationRequest'
        description: Save Experiment
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ExperimentCreationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/v2/experiment-runs/csv:
    post:
      description: Download experiment runs as CSV (no request body; only path + query params)
      tags:
      - Experiments
      summary: Download experiment runs as CSV
      operationId: getExperimentRunsCSV
      parameters:
      - description: account id to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - name: endTime
        in: query
        schema:
          type: integer
      - description: organization id to access the resource
        name: organizationIdentifier
        in: query
        schema:
          type: string
      - description: project id to access the resource
        name: projectIdentifier
        in: query
        schema:
          type: string
      - description: name that you want to search
        name: search
        in: query
        schema:
          type: string
      - description: if sort order ascending or not
        name: sortAscending
        in: query
        schema:
          type: boolean
      - description: field  name that you want to sort
        name: sortField
        in: query
        schema:
          type: string
          enum:
          - name
          - lastUpdated
          - experimentName
      - name: startTime
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/v2/experiment/bulk/run:
    post:
      summary: Create pipeline to run experiments in bulk
      operationId: createChaosExperimentPipeline
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pipelines.ChaosPipelineInput'
        description: object containing pipeline id along with metadata
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipelines.BulkExperimentRunResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/v2/experiment/cron:
    post:
      summary: Update a chaos v2 cron experiment
      operationId: updateChaosV2CronExperiment
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.UpdateCronExperimentStateRequest'
        description: Update Cron V2 Experiment
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.UpdateCronExperimentStateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/v2/experiment/{experimentId}:
    delete:
      summary: Delete a chaos v2 experiment
      operationId: deleteChaosV2Experiment
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: experiment id that will be used to delete the experiment
        name: experimentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.DeleteChaosV2ExperimentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/v2/experiment/{experimentId}/stop:
    post:
      summary: Stop a chaos v2 experiment
      operationId: stopChaosV2Experiment
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: experiment id that will be used to stop the experiment
        name: experimentId
        in: path
        required: true
        schema:
          type: string
      - description: experiment run id that will be used to stop the experiment run
        name: experimentRunId
        in: query
        required: true
        schema:
          type: string
      - description: notify id that will be used to stop the experiment run
        name: notifyId
        in: query
        required: true
        schema:
          type: string
      - description: force stop the experiment run
        name: force
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.StopChaosV2ExperimentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/v2/experiments:
    post:
      description: List experiments with filtering, sorting and pagination
      summary: List experiments
      operationId: listExperiments
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: page number
        name: page
        in: query
        schema:
          type: integer
          default: 0
      - description: limit per page
        name: limit
        in: query
        schema:
          type: integer
          default: 15
      - description: search filter based on name
        name: experimentName
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.ListWorkflowRequest'
        description: List Experiments Request
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.ListWorkflowResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/v2/experiments/timeline/run/{experimentId}:
    get:
      summary: Get a chaos v2 experiment timeline run
      operationId: getExperimentRunTimelineView
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: experimentRunId to be fetched
        name: experimentRunId
        in: query
        schema:
          type: string
      - description: notifyId to be fetched
        name: notifyId
        in: query
        schema:
          type: string
      - description: experimentId to be executed
        name: experimentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaos_execution_nodes.ChaosExecutionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/v2/experiments/{experimentId}:
    get:
      summary: Get a chaos v2 experiment
      operationId: getChaosV2Experiment
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: experimentId to be fetched
        name: experimentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaos_experiment.ChaosExperimentRequest'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/v2/experiments/{experimentId}/inputsets:
    get:
      summary: Get the list of input sets in an experiment
      operationId: listInputSet1
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: experimentId for whose input sets should be listed
        name: experimentId
        in: path
        required: true
        schema:
          type: string
      - description: page number
        name: page
        in: query
        required: true
        schema:
          type: integer
          default: 0
      - description: limit per page
        name: limit
        in: query
        required: true
        schema:
          type: integer
          default: 15
      - description: is human-readable experiment identity passed
        name: isIdentity
        in: query
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inputsets.ListInputSetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
    post:
      summary: Create an input set
      operationId: createInputSet
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: experimentId where input set should be created
        name: experimentId
        in: path
        required: true
        schema:
          type: string
      - description: is human-readable experiment identity passed
        name: isIdentity
        in: query
        required: true
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputsets.CreateInputSetRequest'
        description: create input set request
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inputsets.CreateInputSetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/v2/experiments/{experimentId}/inputsets/{inputsetId}:
    get:
      summary: Get the input set in an experiment
      operationId: getInputSet1
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: experimentId whose input set should be retrieved
        name: experimentId
        in: path
        required: true
        schema:
          type: string
      - description: ID of the input set
        name: inputsetId
        in: path
        required: true
        schema:
          type: string
      - description: is human-readable experiment identity passed
        name: isIdentity
        in: query
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inputsets.GetInputSetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
    put:
      summary: Update an input set
      operationId: updateInputSet
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: experimentId where input set should be created
        name: experimentId
        in: path
        required: true
        schema:
          type: string
      - description: ID of the input set
        name: inputsetId
        in: path
        required: true
        schema:
          type: string
      - description: is human-readable experiment identity passed
        name: isIdentity
        in: query
        required: true
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inputsets.UpdateInputSetRequest'
        description: update input set request
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inputsets.UpdateInputSetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
    delete:
      summary: Delete an input set
      operationId: deleteInputSet1
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: experimentId where input set should be created
        name: experimentId
        in: path
        required: true
        schema:
          type: string
      - description: ID of the input set
        name: inputsetId
        in: path
        required: true
        schema:
          type: string
      - description: is human-readable experiment identity passed
        name: isIdentity
        in: query
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inputsets.DeleteInputSetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/v2/experiments/{experimentId}/run:
    get:
      summary: Get a chaos v2 experiment run
      operationId: getChaosV2ExperimentRun
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: experimentRunId to be fetched
        name: experimentRunId
        in: query
        schema:
          type: string
      - description: notifyId to be fetched
        name: notifyId
        in: query
        schema:
          type: string
      - description: experimentId to be executed
        name: experimentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaos_experiment_run.ChaosExperimentRun'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
    post:
      summary: Run a chaos v2 experiment
      operationId: runChaosV2Experiment
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: experimentId to be executed
        name: experimentId
        in: path
        required: true
        schema:
          type: string
      - description: is it onboarding run
        name: isOnboardingRun
        in: query
        required: true
        schema:
          type: boolean
      - description: is human-readable experiment identity passed
        name: isIdentity
        in: query
        required: true
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.ExperimentRunRequest'
        description: Run Experiment
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.ReRunChaosWorkflowResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/v2/experiments/{experimentId}/variables:
    get:
      summary: Get a chaos v2 experiment
      operationId: getChaosV2ExperimentVariables
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: experimentId to be fetched
        name: experimentId
        in: path
        required: true
        schema:
          type: string
      - description: is human-readable experiment identity passed
        name: isIdentity
        in: query
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template.RunTimeInputs'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/v2/note:
    patch:
      summary: Update a resource note
      operationId: updateNote
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.UpdateNoteRequest'
        description: Update a note
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/v2/notes:
    get:
      summary: Get a chaos resource Note
      operationId: getNote
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: gamedayRunID as filter for summary notes
        name: gamedayRunID
        in: query
        schema:
          type: string
      - description: experimentRunId as filter for experiment run notes
        name: experimentRunId
        in: query
        schema:
          type: string
      - description: experimentId as filter for gameday experiment notes
        name: experimentId
        in: query
        schema:
          type: string
      - description: type of note
        name: noteType
        in: query
        schema:
          type: string
          enum:
          - experiment-run
          - gameday-run-summary
          - gameday-run-experiment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.Notes'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
    post:
      summary: Add a resource note
      operationId: addNote
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.CreateNoteRequest'
        description: Create Gameday
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.CreateNoteResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/v2/pipeline/experiment/runs:
    post:
      summary: List the experiment runs for a pipeline execution
      operationId: getChaosExperimentRunsForPipeline
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.FilterListChaosPipelineRuns'
        description: request payload for the experiment run
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/types.ListChaosPipelineRuns'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/rest/v2/pipeline/verify/runs:
    get:
      summary: Verify the chaos stage in pipeline run
      operationId: verifyChaosStageInPipelineRun
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: pipeline id of the pipeline
        name: pipelineID
        in: query
        schema:
          type: string
      - description: execution id of the pipeline run
        name: executionID
        in: query
        schema:
          type: string
      - description: stage of the pipeline
        name: stageID
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipelines.VerifyChaosStageInPipelineRunResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/v1/notification-experiments:
    get:
      security:
      - ApiKeyAuth: []
      description: List all experiments with active infrastructures in minimal format for notification service
      tags:
      - Experiments
      summary: List chaos experiments with active infrastructures in minimal format for…
      operationId: listExperimentsWithActiveInfrasMinimalNotification
      parameters:
      - description: account id is the account where you want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id is the organization where you want to access the resource
        name: orgIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id is the project where you want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: page number
        name: page
        in: query
        schema:
          type: integer
          default: 0
      - description: limit per page
        name: limit
        in: query
        schema:
          type: integer
          default: 15
      - description: search filter based on name
        name: experimentName
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handlers.ListExperimentsWithActiveInfrasMinimalNotificationResponse'
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /gateway/chaos/manager/api/v3/chaos-experiment-run/report/{experimentId}/{chaosExperimentRunId}:
    get:
      summary: Generate and return beta1 chaos experiment run report
      operationId: GetChaosExperimentRunReportPDF
      parameters:
      - description: account id to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - description: organization id to access the resource
        name: organizationIdentifier
        in: query
        schema:
          type: string
      - description: project id to access the resource
        name: projectIdentifier
        in: query
        schema:
          type: string
      - description: experiment id
        name: experimentId
        in: path
        required: true
        schema:
          type: string
      - description: experiment run id
        name: chaosExperimentRunId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/pdf:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Experiments
  /gateway/chaos/manager/api/v3/experiments/list-metadata:
    post:
      tags:
      - Experiments
      summary: List experiment metadata
      operationId: listExperimentMetadata
      parameters:
      - description: account id to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - name: includeAllScope
        in: query
        schema:
          type: boolean
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 15
      - description: organization id to access the resource
        name: organizationIdentifier
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          default: 0
      - description: project id to access the resource
        name: projectIdentifier
        in: query
        schema:
          type: string
      - description: name that you want to search
        name: search
        in: query
        schema:
          type: string
      - description: if sort order ascending or not
        name: sortAscending
        in: query
        schema:
          type: boolean
      - description: field  name that you want to sort
        name: sortField
        in: query
        schema:
          type: string
          enum:
          - name
          - lastUpdated
          - experimentName
      - name: tags
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.ListMetadataRequest'
        description: list experiment request body
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.ListMetadataResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/v3/integrations/get-experiment-or-template-variable:
    get:
      tags:
      - Experiments
      summary: Get experiment or template inputs
      operationId: getExperimentOrTemplateVariable
      parameters:
      - description: account id to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - name: experimentId
        in: query
        schema:
          type: string
      - name: hubReference
        in: query
        schema:
          type: string
      - name: identifier
        in: query
        schema:
          type: string
      - name: kind
        in: query
        schema:
          type: string
      - description: organization id to access the resource
        name: organizationIdentifier
        in: query
        schema:
          type: string
      - description: project id to access the resource
        name: projectIdentifier
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3.GetExperimentOrTemplateVariableResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/v3/integrations/list-experiment-or-template:
    get:
      tags:
      - Experiments
      summary: List experiment or template metadata
      operationId: listExperimentOrTemplate
      parameters:
      - description: account id to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - name: endTime
        in: query
        schema:
          type: integer
      - name: hubIdentifier
        in: query
        schema:
          type: string
      - name: infraType
        in: query
        schema:
          type: string
      - name: kind
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 15
      - description: organization id to access the resource
        name: organizationIdentifier
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          default: 0
      - description: project id to access the resource
        name: projectIdentifier
        in: query
        schema:
          type: string
      - description: name that you want to search
        name: search
        in: query
        schema:
          type: string
      - description: if sort order ascending or not
        name: sortAscending
        in: query
        schema:
          type: boolean
      - description: field  name that you want to sort
        name: sortField
        in: query
        schema:
          type: string
          enum:
          - name
          - lastUpdated
          - experimentName
      - name: startTime
        in: query
        schema:
          type: integer
      - name: tags
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3.ListExperimentOrTemplateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
components:
  schemas:
    v1.DatadogMetrics:
      type: object
      properties:
        comparator:
          description: Comparator check for the correctness of the probe output
          allOf:
          - $ref: '#/components/schemas/github_com_harness_hce-saas_hce-sdk_common_probe_v1.ComparatorInfo'
        query:
          description: Raw query string
          type: string
        timeFrame:
          description: Timeframe of the metrics
          type: string
    github_com_harness_hce-saas_graphql_server_graph_model.UserDetails:
      type: object
      properties:
        email:
          type: string
        userID:
          type: string
        username:
          type: string
    template.RunTimeInputs:
      type: object
      properties:
        experiment:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
        tasks:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/template.Variable'
    experiment.ProbeConditions:
      type: object
      properties:
        executeUpon:
          description: ExecuteUpon to execute the probe on the condition
          type: string
    v1.PodFSGroupChangePolicy:
      type: string
      enum:
      - OnRootMismatch
      - Always
      x-enum-varnames:
      - FSGroupChangeOnRootMismatch
      - FSGroupChangeAlways
    handlers.MinimalNotificationWorkflow:
      type: object
      properties:
        infraID:
          description: ID of the infra
          type: string
        infraName:
          description: Name of the infrastructure
          type: string
        name:
          description: Name of the workflow
          type: string
        tags:
          description: Tags of the workflow
          type: array
          items:
            type: string
        workflowID:
          description: ID of the workflow
          type: string
    v1.TaintEffect:
      type: string
      enum:
      - NoSchedule
      - PreferNoSchedule
      - NoExecute
      x-enum-varnames:
      - TaintEffectNoSchedule
      - TaintEffectPreferNoSchedule
      - TaintEffectNoExecute
    v1.ServiceAccountTokenProjection:
      type: object
      properties:
        audience:
          description: 'Audience is the intended audience of the token. A recipient of a token

            must identify itself with an identifier specified in the audience of the

            token, and otherwise should reject the token. The audience defaults to the

            identifier of the apiserver.

            +optional'
          type: string
        expirationSeconds:
          description: 'ExpirationSeconds is the requested duration of validity of the service

            account token. As the token approaches expiration, the kubelet volume

            plugin will proactively rotate the service account token. The kubelet will

            start trying to rotate the token if the token is older than 80 percent of

            its time to live or if the token is older than 24 hours.Defaults to 1 hour

            and must be at least 10 minutes.

            +optional'
          type: integer
        path:
          description: 'Path is the path relative to the mount point of the file to project the

            token into.'
          type: string
    types.ExperimentCreationResponse:
      type: object
      properties:
        auditAction:
          $ref: '#/components/schemas/experiment.SaveChaosExperimentResponse'
        data:
          $ref: '#/components/schemas/types.ExperimentCreationRequest'
    experiment.SaveChaosExperimentResponse:
      type: object
      properties:
        auditAction:
          type: string
        response:
          type: string
    v1.SourceDetails:
      type: object
      properties:
        annotations:
          description: Annotations for the source pod
          type: object
          additionalProperties:
            type: string
        args:
          description: Args for the source pod
          type: array
          items:
            type: string
        command:
          description: Command for the source pod
          type: array
          items:
            type: string
        env:
          description: ENVList contains ENV passed to the source pod
          type: array
          items:
            $ref: '#/components/schemas/k8s_io_api_core_v1.EnvVar'
        hostNetwork:
          description: 'HostNetwork define the hostNetwork of the external pod

            it supports boolean values and default value is false'
          type: boolean
        image:
          description: Image for the source pod
          type: string
        imagePullPolicy:
          description: ImagePullPolicy for the source pod
          allOf:
          - $ref: '#/components/schemas/v1.PullPolicy'
        imagePullSecrets:
          description: ImagePullSecrets for source pod
          type: array
          items:
            $ref: '#/components/schemas/v1.LocalObjectReference'
        inheritInputs:
          description: 'InheritInputs defined to inherit experiment pod attributes(ENV, volumes, and volumeMounts) into probe pod

            it supports boolean values and default value is false'
          type: boolean
        labels:
          description: Labels for the source pod
          type: object
          additionalProperties:
            type: string
        nodeSelector:
          description: NodeSelector for the source pod
          type: object
          additionalProperties:
            type: string
        privileged:
          description: Privileged for the source pod
          type: boolean
        tolerations:
          type: array
          items:
            $ref: '#/components/schemas/v1.Toleration'
        volumeMount:
          description: VolumesMount for the source pod
          type: array
          items:
            $ref: '#/components/schemas/v1.VolumeMount'
        volumes:
          description: Volumes for the source pod
          type: array
          items:
            $ref: '#/components/schemas/v1.Volume'
    v3.ListExperimentOrTemplateResponse:
      type: object
      properties:
        correlationId:
          type: string
        experiments:
          type: array
          items:
            $ref: '#/components/schemas/chaosexperiment.ListExperimentData'
        pagination:
          $ref: '#/components/schemas/shared.PaginationResponse'
        templates:
          type: array
          items:
            $ref: '#/components/schemas/experimenttemplate.ListExperimentTemplateData'
    experiment.ProbeActions:
      type: object
      properties:
        args:
          description: Args of the action
          type: array
          items:
            type: string
        condition:
          description: Condition to check the condition
          type: string
        env:
          description: ENV of the action
          type: array
          items:
            $ref: '#/components/schemas/k8s_io_api_core_v1.EnvVar'
        identity:
          description: Identity of the action
          type: string
    github_com_harness_hce-saas_hce-sdk_common_probe_v1.GetMethod:
      type: object
      properties:
        criteria:
          description: 'Criteria for matching data

            it supports  == != operations'
          type: string
        responseBody:
          description: ResponseBody contains the response body for the http get request
          type: string
        responseCode:
          description: Value contains relative value for criteria
          type: string
    v1.APMProbeInputs:
      type: object
      properties:
        appDynamicsInputs:
          description: AppDynamicsInputs contains the inputs required for AppDynamics probe
          allOf:
          - $ref: '#/components/schemas/v1.AppDynamicsInputs'
        comparator:
          description: Comparator check for the correctness of the probe output
          allOf:
          - $ref: '#/components/schemas/github_com_harness_hce-saas_hce-sdk_common_probe_v1.ComparatorInfo'
        datadogApmProbeInputs:
          description: DatadogApmInputs contains the inputs required for Datadog probe
          allOf:
          - $ref: '#/components/schemas/v1.DatadogApmProbeInputs'
        dynatraceApmProbeInputs:
          description: DynatraceApmProbeInputs contains the inputs required for Dynatrace probe
          allOf:
          - $ref: '#/components/schemas/v1.DynatraceApmProbeInputs'
        gcpCloudMonitoringInputs:
          description: GcpCloudMonitoringInputs contains the inputs required for GCP Cloud Monitoring probe
          allOf:
          - $ref: '#/components/schemas/v1.GcpCloudMonitoringInputs'
        newRelicInputs:
          description: NewRelicInputs contains the inputs required for NewRelic probe
          allOf:
          - $ref: '#/components/schemas/v1.NewRelicInputs'
        prometheusInputs:
          description: PrometheusInputs contains the inputs required for prometheus probe
          allOf:
          - $ref: '#/components/schemas/v1.PrometheusInputs'
        splunkObservabilityInputs:
          description: SplunkObservabilityInputs contains the inputs required for Splunk Observability probe
          allOf:
          - $ref: '#/components/schemas/v1.SplunkObservabilityInputs'
        type:
          description: Type for the prometheus probe
          type: string
    pipelines.ChaosPipelineInput:
      type: object
      properties:
        description:
          type: string
        experimentSpec:
          type: array
          items:
            $ref: '#/components/schemas/pipelines.ExperimentSpec'
        identifier:
          type: string
        name:
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
    bulkaction.BulkDeleteExperimetsInput:
      type: object
      properties:
        experimentIDs:
          type: array
          items:
            type: string
    github_com_harness_hce-saas_hce-sdk_common_probe_v1.DatadogProbeInputs:
      type: object
      properties:
        datadogCredentialsSecretName:
          description: name of the kubernetes secret containing the Datadog credntials
          type: string
        datadogSite:
          description: datadog site URL identifier
          type: string
        metrics:
          description: metrics parameters
          allOf:
          - $ref: '#/components/schemas/v1.DatadogMetrics'
        syntheticsTest:
          description: synthetics test parameters
          allOf:
          - $ref: '#/components/schemas/github_com_harness_hce-saas_hce-sdk_common_probe_v1.SyntheticsTest'
    experiment.FaultRef:
      type: object
      properties:
        authEnabled:
          description: AuthEnabled denotes whether authentication is enabled for the fault
          type: boolean
        identity:
          description: Identity of the fault reference
          type: string
        infraId:
          description: InfraID contains the infrastructure id
          type: string
        isEnterprise:
          description: HubRef of the fault reference
          type: boolean
        name:
          description: Name of the fault reference
          type: string
        values:
          description: Values to store the inputs
          type: array
          items:
            $ref: '#/components/schemas/template.VariableMinimum'
    chaos_experiment_run.ExperimentType:
      type: string
      enum:
      - cronexperiment
      - experiment
      - experiment_v2
      - gameday
      x-enum-varnames:
      - CRON_EXPERIMENT
      - EXPERIMENT
      - EXPERIMENT_V2
      - GAMEDAY
    inputsets.CreateInputSetRequest:
      type: object
      properties:
        description:
          type: string
        identity:
          type: string
        name:
          type: string
        spec:
          type: string
    chaos_experiment.ExperimentRunDetail:
      type: object
      required:
      - isRemoved
      properties:
        completed:
          type: boolean
        createdAt:
          type: integer
        createdBy:
          type: string
        experimentRunID:
          type: string
        faultsWithProbes:
          type: array
          items:
            $ref: '#/components/schemas/chaos_experiment_run.Faults'
        isRemoved:
          type: boolean
        notifyID:
          type: string
        phase:
          type: string
        resiliencyScore:
          type: number
        runSequence:
          type: integer
        updatedAt:
          type: integer
        updatedBy:
          type: string
    template.InputCategory:
      type: string
      enum:
      - FaultTarget
      - FaultTunable
      - TargetInfra
      - ExperimentTunable
      - ActionProperties
      - ProbeProperties
      - RunProperties
      - FaultAuthentication
      x-enum-varnames:
      - CategoryFaultTarget
      - CategoryFaultTunable
      - CategoryTargetInfra
      - CategoryExperimentTunable
      - CategoryActionProperties
      - CategoryProbeProperties
      - CategoryRunProperties
      - CategoryFaultAuthentication
    types.Infra:
      type: object
      properties:
        environmentID:
          type: string
        infraID:
          type: string
        infraName:
          type: string
        infraType:
          type: string
    v1.PodSecurityContext:
      type: object
      properties:
        fsGroup:
          description: 'A special supplemental group that applies to all containers in a pod.

            Some volume types allow the Kubelet to change the ownership of that volume

            to be owned by the pod:


            1. The owning GID will be the FSGroup

            2. The setgid bit is set (new files created in the volume will be owned by FSGroup)

            3. The permission bits are OR''d with rw-rw----


            If unset, the Kubelet will not modify the ownership and permissions of any volume.

            +optional'
          type: integer
        fsGroupChangePolicy:
          description: 'fsGroupChangePolicy defines behavior of changing ownership and permission of the volume

            before being exposed inside Pod. This field will only apply to

            volume types which support fsGroup based ownership(and permissions).

            It will have no effect on ephemeral volume types such as: secret, configmaps

            and emptydir.

            Valid values are "OnRootMismatch" and "Always". If not specified, "Always" is used.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.PodFSGroupChangePolicy'
        runAsGroup:
          description: 'The GID to run the entrypoint of the container process.

            Uses runtime default if unset.

            May also be set in SecurityContext.  If set in both SecurityContext and

            PodSecurityContext, the value specified in SecurityContext takes precedence

            for that container.

            +optional'
          type: integer
        runAsNonRoot:
          description: 'Indicates that the container must run as a non-root user.

            If true, the Kubelet will validate the image at runtime to ensure that it

            does not run as UID 0 (root) and fail to start the container if it does.

            If unset or false, no such validation will be performed.

            May also be set in SecurityContext.  If set in both SecurityContext and

            PodSecurityContext, the value specified in SecurityContext takes precedence.

            +optional'
          type: boolean
        runAsUser:
          description: 'The UID to run the entrypoint of the container process.

            Defaults to user specified in image metadata if unspecified.

            May also be set in SecurityContext.  If set in both SecurityContext and

            PodSecurityContext, the value specified in SecurityContext takes precedence

            for that container.

            +optional'
          type: integer
        seLinuxOptions:
          description: 'The SELinux context to be applied to all containers.

            If unspecified, the container runtime will allocate a random SELinux context for each

            container.  May also be set in SecurityContext.  If set in

            both SecurityContext and PodSecurityContext, the value specified in SecurityContext

            takes precedence for that container.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.SELinuxOptions'
        seccompProfile:
          description: 'The seccomp options to use by the containers in this pod.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.SeccompProfile'
        supplementalGroups:
          description: 'A list of groups applied to the first process run in each container, in addition

            to the container''s primary GID.  If unspecified, no groups will be added to

            any container.

            +optional'
          type: array
          items:
            type: integer
        sysctls:
          description: 'Sysctls hold a list of namespaced sysctls used for the pod. Pods with unsupported

            sysctls (by the container runtime) might fail to launch.

            +optional'
          type: array
          items:
            $ref: '#/components/schemas/v1.Sysctl'
        windowsOptions:
          description: 'The Windows specific settings applied to all containers.

            If unspecified, the options within a container''s SecurityContext will be used.

            If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.WindowsSecurityContextOptions'
    v1.ScaleIOVolumeSource:
      type: object
      properties:
        fsType:
          description: 'Filesystem type to mount.

            Must be a filesystem type supported by the host operating system.

            Ex. "ext4", "xfs", "ntfs".

            Default is "xfs".

            +optional'
          type: string
        gateway:
          description: The host address of the ScaleIO API Gateway.
          type: string
        protectionDomain:
          description: 'The name of the ScaleIO Protection Domain for the configured storage.

            +optional'
          type: string
        readOnly:
          description: 'Defaults to false (read/write). ReadOnly here will force

            the ReadOnly setting in VolumeMounts.

            +optional'
          type: boolean
        secretRef:
          description: 'SecretRef references to the secret for ScaleIO user and other

            sensitive information. If this is not provided, Login operation will fail.'
          allOf:
          - $ref: '#/components/schemas/v1.LocalObjectReference'
        sslEnabled:
          description: 'Flag to enable/disable SSL communication with Gateway, default false

            +optional'
          type: boolean
        storageMode:
          description: 'Indicates whether the storage for a volume should be ThickProvisioned or ThinProvisioned.

            Default is ThinProvisioned.

            +optional'
          type: string
        storagePool:
          description: 'The ScaleIO Storage Pool associated with the protection domain.

            +optional'
          type: string
        system:
          description: The name of the storage system as configured in ScaleIO.
          type: string
        volumeName:
          description: 'The name of a volume already created in the ScaleIO system

            that is associated with this volume source.'
          type: string
    experiment.SSHFaultAuth:
      type: object
      properties:
        key:
          type: string
        password:
          type: string
    v1.ConfigMapKeySelector:
      type: object
      properties:
        key:
          description: The key to select.
          type: string
        name:
          description: 'Name of the referent.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

            TODO: Add other useful fields. apiVersion, kind, uid?

            +optional'
          type: string
        optional:
          description: 'Specify whether the ConfigMap or its key must be defined

            +optional'
          type: boolean
    types.CreateNoteRequest:
      type: object
      properties:
        comment:
          type: string
        experimentID:
          type: string
        experimentRunID:
          type: string
        gamedayRunID:
          type: string
        type:
          $ref: '#/components/schemas/chaosresourcenotes.NoteType'
    chaos_experiment.WeightagesInput:
      type: object
      properties:
        faultName:
          type: string
        weightage:
          type: integer
    github_com_harness_hce-saas_hce-sdk_common_probe_v1.RunProperty:
      type: object
      properties:
        attempt:
          description: Attempt contains the total attempt count for the probe
          type: integer
        initialDelay:
          description: InitialDelay time interval for which probe will wait before run
          type: string
        initialDelaySeconds:
          description: InitialDelaySeconds time interval for which probe will wait before run
          type: integer
        interval:
          description: Interval contains the interval for the probe
          type: string
        probePollingInterval:
          description: 'ProbePollingInterval contains time interval, for which continuous probe should be sleep

            after each iteration'
          type: string
        probeTimeout:
          description: ProbeTimeout contains timeout for the probe
          type: string
        retry:
          description: Retry contains the retry count for the probe
          type: integer
        stopOnFailure:
          description: 'StopOnFailure contains flag to stop/continue experiment execution, if probe fails

            it will stop the experiment execution, if provided true

            it will continue the experiment execution, if provided false or not provided(default case)'
          type: boolean
        verbosity:
          description: 'Verbosity contains flag to set the verbosity of probe

            it support info and debug verbosity'
          type: string
    v1.PersistentVolumeAccessMode:
      type: string
      enum:
      - ReadWriteOnce
      - ReadOnlyMany
      - ReadWriteMany
      x-enum-varnames:
      - ReadWriteOnce
      - ReadOnlyMany
      - ReadWriteMany
    v1.GlusterfsVolumeSource:
      type: object
      properties:
        endpoints:
          description: 'EndpointsName is the endpoint name that details Glusterfs topology.

            More info: https://examples.k8s.io/volumes/glusterfs/README.md#create-a-pod'
          type: string
        path:
          description: 'Path is the Glusterfs volume path.

            More info: https://examples.k8s.io/volumes/glusterfs/README.md#create-a-pod'
          type: string
        readOnly:
          description: 'ReadOnly here will force the Glusterfs volume to be mounted with read-only permissions.

            Defaults to false.

            More info: https://examples.k8s.io/volumes/glusterfs/README.md#create-a-pod

            +optional'
          type: boolean
    github_com_harness_hce-saas_hce-sdk_common_probe_v1.DatadogSyntheticsTestType:
      type: string
      enum:
      - api
      - browser
      x-enum-varnames:
      - API
      - Browser
    types.UpdateNoteRequest:
      type: object
      properties:
        comment:
          type: string
        experimentID:
          type: string
        experimentRunID:
          type: string
        gamedayRunID:
          type: string
        noteId:
          type: string
        operation:
          $ref: '#/components/schemas/types.UpdateOperation'
        type:
          $ref: '#/components/schemas/chaosresourcenotes.NoteType'
    v1.EphemeralVolumeSource:
      type: object
      properties:
        volumeClaimTemplate:
          description: 'Will be used to create a stand-alone PVC to provision the volume.

            The pod in which this EphemeralVolumeSource is embedded will be the

            owner of the PVC, i.e. the PVC will be deleted together with the

            pod.  The name of the PVC will be `<pod name>-<volume name>` where

            `<volume name>` is the name from the `PodSpec.Volumes` array

            entry. Pod validation will reject the pod if the concatenated name

            is not valid for a PVC (for example, too long).


            An existing PVC with that name that is not owned by the pod

            will *not* be used for the pod to avoid using an unrelated

            volume by mistake. Starting the pod is then blocked until

            the unrelated PVC is removed. If such a pre-created PVC is

            meant to be used by the pod, the PVC has to updated with an

            owner reference to the pod once the pod exists. Normally

            this should not be necessary, but it may be useful when

            manually reconstructing a broken cluster.


            This field is read-only and no changes will be made by Kubernetes

            to the PVC after it has been created.


            Required, must not be nil.'
          allOf:
          - $ref: '#/components/schemas/v1.PersistentVolumeClaimTemplate'
    chaos_experiment.SingleClickOnboardMetadata:
      type: object
      properties:
        faults:
          type: array
          items:
            type: string
        onboardingID:
          type: string
    v1.SplunkObservabilityMetrics:
      type: object
      properties:
        durationInMin:
          description: DurationInMin contains the duration in minutes
          type: integer
        query:
          description: Query contains the query for the metrics
          type: string
    v1.RBDVolumeSource:
      type: object
      properties:
        fsType:
          description: 'Filesystem type of the volume that you want to mount.

            Tip: Ensure that the filesystem type is supported by the host operating system.

            Examples: "ext4", "xfs", "ntfs". Implicitly inferred to be "ext4" if unspecified.

            More info: https://kubernetes.io/docs/concepts/storage/volumes#rbd

            TODO: how do we prevent errors in the filesystem from compromising the machine

            +optional'
          type: string
        image:
          description: 'The rados image name.

            More info: https://examples.k8s.io/volumes/rbd/README.md#how-to-use-it'
          type: string
        keyring:
          description: 'Keyring is the path to key ring for RBDUser.

            Default is /etc/ceph/keyring.

            More info: https://examples.k8s.io/volumes/rbd/README.md#how-to-use-it

            +optional'
          type: string
        monitors:
          description: 'A collection of Ceph monitors.

            More info: https://examples.k8s.io/volumes/rbd/README.md#how-to-use-it'
          type: array
          items:
            type: string
        pool:
          description: 'The rados pool name.

            Default is rbd.

            More info: https://examples.k8s.io/volumes/rbd/README.md#how-to-use-it

            +optional'
          type: string
        readOnly:
          description: 'ReadOnly here will force the ReadOnly setting in VolumeMounts.

            Defaults to false.

            More info: https://examples.k8s.io/volumes/rbd/README.md#how-to-use-it

            +optional'
          type: boolean
        secretRef:
          description: 'SecretRef is name of the authentication secret for RBDUser. If provided

            overrides keyring.

            Default is nil.

            More info: https://examples.k8s.io/volumes/rbd/README.md#how-to-use-it

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.LocalObjectReference'
        user:
          description: 'The rados user name.

            Default is admin.

            More info: https://examples.k8s.io/volumes/rbd/README.md#how-to-use-it

            +optional'
          type: string
    execution.ChaosStepStatus:
      type: string
      enum:
      - Queued
      - Error
      - Completed_With_Probe_Failure
      - Completed_With_Probe_Absent
      - Pending
      - Running
      - Stopped
      - Completed
      - Failed
      - Passed
      - Skipped
      - Interrupted
      x-enum-varnames:
      - Queued
      - Error
      - CompletedWithProbeFailure
      - CompletedWithProbeAbsent
      - Pending
      - Running
      - Stopped
      - Completed
      - Failed
      - Passed
      - Skipped
      - Interrupted
    v1.NewRelicInputs:
      type: object
      properties:
        accountId:
          description: AccountID for the NewRelic probe
          type: string
        endpoint:
          description: Endpoint for the NewRelic probe
          type: string
        newRelicMetric:
          description: Raw metrics details of the NewRelic probe
          allOf:
          - $ref: '#/components/schemas/v1.NewRelicMetric'
    chaos_experiment_run.ConditionDetails:
      type: object
      properties:
        conditionID:
          type: string
        conditionName:
          type: string
        message:
          type: string
        phase:
          type: string
    v1.SELinuxOptions:
      type: object
      properties:
        level:
          description: 'Level is SELinux level label that applies to the container.

            +optional'
          type: string
        role:
          description: 'Role is a SELinux role label that applies to the container.

            +optional'
          type: string
        type:
          description: 'Type is a SELinux type label that applies to the container.

            +optional'
          type: string
        user:
          description: 'User is a SELinux user label that applies to the container.

            +optional'
          type: string
    chaos_experiment.FaultEventMetadata:
      type: object
      properties:
        environmentIdentifier:
          type: array
          items:
            type: string
        faultName:
          type: string
        serviceIdentifier:
          type: array
          items:
            type: string
    inputsets.CreateInputSetResponse:
      type: object
      properties:
        correlationID:
          type: string
        data:
          $ref: '#/components/schemas/inputset.InputSet'
    experiment.ExperimentComponents:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/experiment.Auth'
        configMaps:
          type: array
          items:
            $ref: '#/components/schemas/experiment.ConfigMap'
        helper:
          $ref: '#/components/schemas/experiment.HelperConfig'
        hostFileVolumes:
          type: array
          items:
            $ref: '#/components/schemas/experiment.HostFile'
        hostPID:
          type: boolean
        imagePullSecrets:
          type: array
          items:
            $ref: '#/components/schemas/v1.LocalObjectReference'
        nodeSelector:
          type: object
          additionalProperties:
            type: string
        projectedVolumes:
          type: array
          items:
            $ref: '#/components/schemas/experiment.ProjectedVolumes'
        resources:
          $ref: '#/components/schemas/v1.ResourceRequirements'
        secrets:
          type: array
          items:
            $ref: '#/components/schemas/experiment.Secret'
        securityContext:
          $ref: '#/components/schemas/experiment.SecurityContext'
        sidecar:
          type: array
          items:
            $ref: '#/components/schemas/experiment.Sidecar'
        statusCheckTimeouts:
          $ref: '#/components/schemas/experiment.StatusCheckTimeout'
        terminationGracePeriodSeconds:
          type: integer
        tolerations:
          type: array
          items:
            $ref: '#/components/schemas/v1.Toleration'
    v3.GetExperimentOrTemplateVariableResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/v3.GetExperimentOrTemplateVariableData'
    types.ListMetadataRequest:
      type: object
      properties:
        identifiers:
          type: array
          items:
            type: string
    github_com_harness_hce-saas_hce-sdk_common_probe_v1.CmdProbeInputs:
      type: object
      properties:
        command:
          description: Command need to be executed for the probe
          type: string
        comparator:
          description: Comparator check for the correctness of the probe output
          allOf:
          - $ref: '#/components/schemas/github_com_harness_hce-saas_hce-sdk_common_probe_v1.ComparatorInfo'
        env:
          description: ENV contains ENV passed to the command probe
          type: array
          items:
            $ref: '#/components/schemas/github_com_harness_hce-saas_hce-sdk_common_probe_v1.EnvVar'
        source:
          description: 'The source where we have to run the command

            It will run in inline(inside experiment itself) mode if source is nil'
          allOf:
          - $ref: '#/components/schemas/v1.SourceDetails'
    experiment.SecurityContext:
      type: object
      properties:
        containerSecurityContext:
          $ref: '#/components/schemas/v1.SecurityContext'
        podSecurityContext:
          $ref: '#/components/schemas/v1.PodSecurityContext'
    types.Note:
      type: object
      properties:
        comment:
          type: string
        createdAt:
          type: integer
        noteId:
          type: string
        updatedAt:
          type: integer
        user:
          $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_graph_model.UserDetails'
    v1.VolumeProjection:
      type: object
      properties:
        configMap:
          description: 'information about the configMap data to project

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.ConfigMapProjection'
        downwardAPI:
          description: 'information about the downwardAPI data to project

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.DownwardAPIProjection'
        secret:
          description: 'information about the secret data to project

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.SecretProjection'
        serviceAccountToken:
          description: 'information about the serviceAccountToken data to project

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.ServiceAccountTokenProjection'
    experiment.InfraType:
      type: string
      enum:
      - windows
      - Windows
      - Linux
      - CloudFoundry
      - Container
      - Kubernetes
      - KubernetesV2
      x-enum-comments:
        WindowsAlternate: retained for backward compatibility
      x-enum-varnames:
      - WindowsAlternate
      - Windows
      - Linux
      - CloudFoundry
      - Container
      - Kubernetes
      - KubernetesV2
    v1.AppDynamicsInputs:
      type: object
      properties:
        appdMetrics:
          description: AppdMetrics contains the appd metrics
          allOf:
          - $ref: '#/components/schemas/v1.AppdMetrics'
        endpoint:
          description: Endpoint for the AppDynamics probe
          type: string
    v1.FlexVolumeSource:
      type: object
      properties:
        driver:
          description: Driver is the name of the driver to use for this volume.
          type: string
        fsType:
          description: 'Filesystem type to mount.

            Must be a filesystem type supported by the host operating system.

            Ex. "ext4", "xfs", "ntfs". The default filesystem depends on FlexVolume script.

            +optional'
          type: string
        options:
          description: 'Optional: Extra command options if any.

            +optional'
          type: object
          additionalProperties:
            type: string
        readOnly:
          description: 'Optional: Defaults to false (read/write). ReadOnly here will force

            the ReadOnly setting in VolumeMounts.

            +optional'
          type: boolean
        secretRef:
          description: 'Optional: SecretRef is reference to the secret object containing

            sensitive information to pass to the plugin scripts. This may be

            empty if no secret object is specified. If the secret object

            contains more than one secret, all secrets are passed to the plugin

            scripts.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.LocalObjectReference'
    v1.NewrelicMetrics:
      type: object
      properties:
        comparator:
[...]
