openapi: 3.2.0
info:
  title: Harness Notification Channels API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Notification Channels
  description: This contains APIs for Notification Channels
paths:
  /v1/orgs/{org}/projects/{project}/notification-channels:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    - $ref: '#/components/parameters/ProjectPathParam'
    get:
      summary: List Notification channels
      responses:
        '200':
          $ref: '#/components/responses/NotificationChannelListResponse'
      operationId: list-notification-channels
      x-stoplight:
        id: 110wzj88g7je4
      description: Returns a list of notification channels for the scope.
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      - $ref: '#/components/parameters/Limit3'
      - $ref: '#/components/parameters/SearchTerm3'
      - $ref: '#/components/parameters/Sort3'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/notification_channel_type'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/IncludeParentScope'
      security:
      - x-api-key: []
      tags:
      - Notification Channels
    post:
      summary: Create Notification channel
      operationId: create-notification-channel
      responses:
        '201':
          $ref: '#/components/responses/NotificationChannelResponse'
      x-stoplight:
        id: hnjw4i11veokz
      description: Create Notification Channel
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/NotificationChannelRequest'
      security:
      - x-api-key: []
      tags:
      - Notification Channels
  /v1/orgs/{org}/projects/{project}/notification-channels/{notification-channel}:
    parameters:
    - schema:
        type: string
      name: notification-channel
      in: path
      required: true
      description: identifier
    - $ref: '#/components/parameters/OrgPathParam'
    - $ref: '#/components/parameters/ProjectPathParam'
    get:
      summary: Get Notification channel
      responses:
        '200':
          $ref: '#/components/responses/NotificationChannelResponse'
      operationId: get-notification-channel
      x-stoplight:
        id: s152cc3xhzlg4
      description: Get Notification Channel
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      security:
      - x-api-key: []
      tags:
      - Notification Channels
    delete:
      summary: Delete Notification Channel
      operationId: delete-notification-channel
      responses:
        '204':
          description: No Content
        '400':
          headers: {}
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
      x-stoplight:
        id: 7wecyef99sub3
      description: Delete notification channel
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      security:
      - x-api-key: []
      tags:
      - Notification Channels
    put:
      summary: Update Notification Channel
      operationId: update-notification-channel
      responses:
        '200':
          $ref: '#/components/responses/NotificationChannelResponse'
      x-stoplight:
        id: kqsk5i3w0wkwr
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/NotificationChannelRequest'
      security:
      - x-api-key: []
      tags:
      - Notification Channels
  /v1/orgs/{org}/notification-channels:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    get:
      summary: List Notification channels at org level
      responses:
        '200':
          $ref: '#/components/responses/NotificationChannelListResponse'
      operationId: list-notification-channels-org
      x-stoplight:
        id: r96qavu1tdkl3
      description: Returns a list of notification channels for the scope.
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      - $ref: '#/components/parameters/Limit3'
      - $ref: '#/components/parameters/SearchTerm3'
      - $ref: '#/components/parameters/Sort3'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/notification_channel_type'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/IncludeParentScope'
      security:
      - x-api-key: []
      tags:
      - Notification Channels
      x-internal: true
    post:
      summary: Create Notification channel
      operationId: create-notification-channel-org
      responses:
        '201':
          $ref: '#/components/responses/NotificationChannelResponse'
      x-stoplight:
        id: 3c3z42mq3u5cs
      description: Create Notification Channel
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/NotificationChannelRequest'
      security:
      - x-api-key: []
      tags:
      - Notification Channels
      x-internal: true
  /v1/notification-channels:
    get:
      summary: List Notification channels at account level
      responses:
        '200':
          $ref: '#/components/responses/NotificationChannelListResponse'
      operationId: list-notification-channels-account
      x-stoplight:
        id: fizbxgypnkyx4
      description: Returns a list of notification channels for the scope.
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      - $ref: '#/components/parameters/Limit3'
      - $ref: '#/components/parameters/SearchTerm3'
      - $ref: '#/components/parameters/Sort3'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/notification_channel_type'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/IncludeParentScope'
      security:
      - x-api-key: []
      tags:
      - Notification Channels
      x-internal: true
    post:
      summary: Create Notification channel
      operationId: create-notification-channel-account
      responses:
        '201':
          $ref: '#/components/responses/NotificationChannelResponse'
      x-stoplight:
        id: i879xsqwx95bd
      description: Create Notification Channel
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/NotificationChannelRequest'
      security:
      - x-api-key: []
      tags:
      - Notification Channels
      x-internal: true
  /v1/orgs/{org}/notification-channels/{notification-channel}:
    parameters:
    - schema:
        type: string
      name: notification-channel
      in: path
      required: true
      description: identifier
    - $ref: '#/components/parameters/OrgPathParam'
    get:
      summary: Get Notification channel
      responses:
        '200':
          $ref: '#/components/responses/NotificationChannelResponse'
      operationId: get-notification-channel-org
      x-stoplight:
        id: ky2btllctnj0n
      description: Get Notification Channel
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      security:
      - x-api-key: []
      tags:
      - Notification Channels
      x-internal: true
    delete:
      summary: Delete Notification Channel
      operationId: delete-notification-channel-org
      responses:
        '204':
          description: No Content
        '400':
          headers: {}
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
      x-stoplight:
        id: 80yugthenbxim
      description: Delete notification channel
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      security:
      - x-api-key: []
      tags:
      - Notification Channels
      x-internal: true
    put:
      summary: Update Notification Channel
      operationId: update-notification-channel-org
      responses:
        '200':
          $ref: '#/components/responses/NotificationChannelResponse'
      x-stoplight:
        id: rdwfm4wav1fl6
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/NotificationChannelRequest'
      security:
      - x-api-key: []
      tags:
      - Notification Channels
      x-internal: true
  /v1/notification-channels/{notification-channel}:
    parameters:
    - schema:
        type: string
      name: notification-channel
      in: path
      required: true
      description: identifier
    get:
      summary: Get Notification channel
      responses:
        '200':
          $ref: '#/components/responses/NotificationChannelResponse'
      operationId: get-notification-channel-account
      x-stoplight:
        id: 0j2ergmt8dnlo
      description: Get Notification Channel
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      security:
      - x-api-key: []
      tags:
      - Notification Channels
      x-internal: true
    delete:
      summary: Delete Notification Channel
      operationId: delete-notification-channel-account
      responses:
        '204':
          description: No Content
        '400':
          headers: {}
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
      x-stoplight:
        id: vij0xc5vjo1hw
      description: Delete notification channel
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      security:
      - x-api-key: []
      tags:
      - Notification Channels
      x-internal: true
    put:
      summary: Update Notification Channel
      operationId: update-notification-channel-account
      responses:
        '200':
          $ref: '#/components/responses/NotificationChannelResponse'
      x-stoplight:
        id: 55xmh2nbu3pxu
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/NotificationChannelRequest'
      security:
      - x-api-key: []
      tags:
      - Notification Channels
      x-internal: true
  /v1/orgs/{org}/validate-channels/{notification-channel}:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    - schema:
        type: string
      name: notification-channel
      in: path
      required: true
      description: identifier
    get:
      summary: Validate unique identifier for notification channel
      tags:
      - Notification Channels
      responses:
        '200':
          $ref: '#/components/responses/ValidateIdentifierResponse'
        '302':
          description: Found
      operationId: validate-notification-channel-identifier-org
      x-stoplight:
        id: pa28zngw5cpyb
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      security:
      - x-api-key: []
  /v1/orgs/{org}/projects/{project}/validate-channels/{notification-channel}:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    - $ref: '#/components/parameters/ProjectPathParam'
    - schema:
        type: string
      name: notification-channel
      in: path
      required: true
      description: identifier
    get:
      summary: Validate Notification Channel Identifier
      responses:
        '200':
          $ref: '#/components/responses/ValidateIdentifierResponse'
        '302':
          description: Found
      operationId: validate-notification-channel-identifier
      x-stoplight:
        id: 3b5yactyqx0hs
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      tags:
      - Notification Channels
      security:
      - x-api-key: []
  /v1/validate-channels/{notification-channel}:
    parameters:
    - schema:
        type: string
      name: notification-channel
      in: path
      required: true
      description: identifier
    get:
      summary: Validate Notification channel identifier
      tags:
      - Notification Channels
      responses:
        '200':
          $ref: '#/components/responses/ValidateIdentifierResponse'
        '302':
          description: Found
      operationId: validate-notification-channel-identifier-account
      x-stoplight:
        id: 6sqcbt99vrutt
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      description: Validate Notification Channel Indetifier
      security:
      - x-api-key: []
components:
  schemas:
    NotificationChannelDTO:
      type: object
      x-examples:
        Example 1:
          name: nc1
          org: org1
          project: proj1
          notification_channel_type: EMAIL
          status: DISABLED
          channel:
            email_ids: []
            user_groups:
            - {}
          created_by: {}
          created: 0
        Example 2:
          name: string
          org: string
          project: string
          notification_channel_type: string
          status: string
          channel:
            slack_web_hook_urls: []
            user_groups:
            - {}
          created_by: {}
          created: 0
        Example 3:
          name: string
          org: string
          project: string
          notification_channel_type: string
          status: string
          channel:
            pager_duty_integration_keys: []
            user_groups:
            - {}
          created_by: {}
          created: 0
        Example 4:
          name: string
          org: string
          project: string
          notification_channel_type: string
          status: string
          channel:
            userGroups:
            - {}
            headers: {}
          created_by: {}
          created: 0
      description: Notification Channel DTO
      properties:
        identifier:
          type: string
          x-stoplight:
            id: gjyp93g6bbac6
        org:
          type: string
          x-stoplight:
            id: 1z2ggn67web3c
        project:
          type: string
          x-stoplight:
            id: 83uq77a6a6sas
        notification_channel_type:
          $ref: '#/components/schemas/ChannelType'
        status:
          $ref: '#/components/schemas/Status'
        channel:
          $ref: '#/components/schemas/ChannelDTO'
        last_modified:
          type: integer
          x-stoplight:
            id: 11ay58xlnd6fw
          format: int64
        created:
          type: integer
          x-stoplight:
            id: gptqmzli7lqvo
          format: int64
        name:
          type: string
          x-stoplight:
            id: 9ba97bypq7u8d
        account:
          type: string
          x-stoplight:
            id: cxf3l813219n4
      required:
      - channel
      - notification_channel_type
    ValidateIdentifierDTO:
      title: ValidateIdentifierDTO
      x-stoplight:
        id: rfcu5cr80bs8g
      type: object
      properties:
        exists:
          type: boolean
          x-stoplight:
            id: i73hymdxgepoo
    NotificationEventConfigDTO:
      title: NotificationEventConfigDTO
      x-stoplight:
        id: vvdqrc1istt8n
      type: object
      properties:
        notification_entity:
          type: string
        notification_event_data:
          $ref: '#/components/schemas/NotificationEventParamsDTO'
          x-stoplight:
            id: 7kv2sz6c1vthx
        notification_event:
          type: string
        entity_identifiers:
          type: array
          items:
            type: string
    NotificationEventParamsDTO:
      title: NotificationEventParamsDTO
      x-stoplight:
        id: esscocuf2l83m
      type: object
      discriminator:
        propertyName: type
        mapping:
          DELEGATE: '#/components/schemas/DelegateEventNotificationParamsDTO'
          PIPELINE: '#/components/schemas/PipelineEventNotificationParamsDTO'
          CHAOS_EXPERIMENT: '#/components/schemas/ChaosExperimentEventNotificationParamsDTO'
          SERVICE_LEVEL_OBJECTIVE: '#/components/schemas/SLOEventNotificationParamsDTO'
      properties:
        type:
          $ref: '#/components/schemas/ResourceTypeEnum'
      description: Notification Event Params
    Status:
      title: Status
      type: string
      x-stoplight:
        id: 57964lq16jzs3
      enum:
      - ENABLED
      - DISABLED
      description: Notification Rule Status
    ChannelType:
      title: ChannelType
      type: string
      x-stoplight:
        id: oi0x0mhbugr20
      enum:
      - EMAIL
      - SLACK
      - PAGERDUTY
      - MSTEAMS
      - WEBHOOK
      - DATADOG
      description: Notification Channel Type
    CustomNotificationTemplateDTO:
      title: CustomNotificationTemplateDTO
      x-stoplight:
        id: 7i0op7u06osi8
      type: object
      x-examples:
        Example 1:
          template:
            templateRef: org.nginx
            versionLabel: v1
            variables:
            - name: variable1
              value: value1
              type: string
            - name: variable2
              value: value2
              type: string
      properties:
        template_ref:
          type: string
        version_label:
          type: string
        variables:
          type: array
          x-stoplight:
            id: 0r23u2qzuxaz6
          items:
            $ref: '#/components/schemas/NotificationTemplateInputsDTO'
    NotificationConditionDTO:
      title: NotificationConditionDTO
      x-stoplight:
        id: x6qlppxurh1mc
      type: object
      properties:
        condition_name:
          type: string
          x-stoplight:
            id: 697xioj0wwra7
        notification_event_configs:
          type: array
          x-stoplight:
            id: o2pktaqro6dtv
          items:
            $ref: '#/components/schemas/NotificationEventConfigDTO'
    UserGroupDTO1:
      title: UserGroupDTO
      x-stoplight:
        id: oz9bkecz1esfm
      type: object
      properties:
        identifier:
          type: string
          x-stoplight:
            id: u815tqcfbr57h
        org:
          type: string
          x-stoplight:
            id: ssoyhq1s352ih
        project:
          type: string
          x-stoplight:
            id: advelmh410p94
    ResourceTypeEnum:
      title: ResourceTypeEnum
      type: string
      x-stoplight:
        id: ad4v5eitxzg50
      enum:
      - DELEGATE
      - CHAOS_EXPERIMENT
      - PIPELINE
      - SERVICE_LEVEL_OBJECTIVE
    WebHookHeaders:
      title: WebHookHeaders
      x-stoplight:
        id: 8w8k6zkcbesay
      type: object
      properties:
        key:
          type: string
          x-stoplight:
            id: glshqjklea20e
        value:
          type: string
          x-stoplight:
            id: 5etjhnv4quj97
    ChannelDTO:
      title: ChannelDTO
      x-stoplight:
        id: 63jic64es47uu
      type: object
      properties:
        email_ids:
          type: array
          x-stoplight:
            id: nvmrl0803hf3n
          items:
            x-stoplight:
              id: gvouq5lrvd0jo
            type: string
        slack_webhook_urls:
          type: array
          x-stoplight:
            id: f7t1sclpjrnc3
          items:
            x-stoplight:
              id: sr0wdj5c651h4
            type: string
        webhook_urls:
          type: array
          x-stoplight:
            id: hj9dvblmeot1c
          items:
            x-stoplight:
              id: c6qx5d4zp4hy5
            type: string
        pager_duty_integration_keys:
          type: array
          x-stoplight:
            id: gvpc9mkv7rv41
          items:
            x-stoplight:
              id: 4bvfcay6ejjtr
            type: string
        ms_team_keys:
          type: array
          x-stoplight:
            id: f5emuderczyd0
          items:
            x-stoplight:
              id: 11cgn8om91cgr
            type: string
        user_groups:
          type: array
          x-stoplight:
            id: qoe3qfimgqqbt
          items:
            $ref: '#/components/schemas/UserGroupDTO1'
        headers:
          type: array
          items:
            $ref: '#/components/schemas/WebHookHeaders'
        datadog_urls:
          type: array
          x-stoplight:
            id: hj9dvblmeot1d
          items:
            x-stoplight:
              id: c6qx5d4zp4hy5
            type: string
        api_key:
          type: string
          x-stoplight:
            id: hj9dvblmeot1e
        delegate_selectors:
          type: array
          x-stoplight:
            id: ij8dvblmeot1d
          items:
            x-stoplight:
              id: y6qx5d8zp4hy5
            type: string
        execute_on_delegate:
          type: boolean
          x-stoplight:
            id: ij8dvblmeyt1d
    NotificationRuleDTO:
      type: object
      x-examples:
        Example 1:
          identifier: NR1
          account: accountid
          org: org1
          project: myproj
          notification_entity: DELEGATE
          notification_conditions:
          - name: del-condition
            notification_event_configs:
            - notification_event: DELEGATE_DOWN
              notification_channels:
              - name: nc1
                org: org1
                project: proj1
                notification_channel_type: PAGERDUTY
                status: DISABLED
                channel:
                  pager_duty_integration_keys: []
                  user_groups:
                  - {}
                created_by: {}
                created: 0
                nextIteration: 0
            - notificationEvent: DELEGATE_EXPIRED
              notificationChannels:
              - name: nc1
                org: org1
                project: proj1
                notificationChannelType: PAGERDUTY
                status: DISABLED
                channel:
                  pagerDutyIntegrationKeys: []
                  userGroups:
                  - {}
                created_by: {}
                created: 0
                nextIteration: 0
          status: ENABLED
          created_by: {}
          created: 0
      description: Notification Rule DTO
      properties:
        identifier:
          type: string
          x-stoplight:
            id: 3xy0lrmqbzujp
        account:
          type: string
          x-stoplight:
            id: 0knfytbeagygi
        org:
          type: string
          x-stoplight:
            id: plxjwxq3kbtmf
        project:
          type: string
          x-stoplight:
            id: kip45dsvd6vya
        status:
          $ref: '#/components/schemas/Status'
        last_modified:
          type: integer
          x-stoplight:
            id: g71dkqd7f8w9l
          format: int64
        created:
          type: integer
          x-stoplight:
            id: uflyip2weeewr
          format: int64
        name:
          type: string
          x-stoplight:
            id: fxelaoeenutjb
        notification_conditions:
          x-stoplight:
            id: 17841zlwcujh4
          type: array
          items:
            $ref: '#/components/schemas/NotificationConditionDTO'
        notification_channel_refs:
          type: array
          x-stoplight:
            id: 7rem3rrfdyxfk
          items:
            type: string
        custom_notification_template_ref:
          $ref: '#/components/schemas/CustomNotificationTemplateDTO'
    NotificationTemplateInputsDTO:
      title: NotificationTemplateInputsDTO
      x-stoplight:
        id: hrzvz8ee0gojd
      type: object
      properties:
        name:
          type: string
          x-stoplight:
            id: sqj7hpyogmoun
        value:
          type: string
          x-stoplight:
            id: 3sf823v22jfdd
        type:
          type: string
          x-stoplight:
            id: slnpq1uq97zre
      required:
      - name
      - value
  parameters:
    SearchTerm3:
      name: search_term
      in: query
      required: false
      schema:
        type: string
      description: This would be used to filter resources having attributes matching with search term.
    notification_channel_type:
      name: notification_channel_type
      in: query
      required: false
      schema:
        type: string
      description: Notification Channel Type
    Limit3:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 30
        maximum: 1000
      description: Number of items to return per page.
    Sort3:
      name: sort
      in: query
      required: false
      schema:
        type: string
        enum:
        - name
        - identifier
        - created
        - updated
      description: Parameter on the basis of which sorting is done.
    ProjectPathParam:
      name: project
      in: path
      required: true
      schema:
        type: string
      description: Identifier field of the project the resource is scoped to
    OrgPathParam:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Identifier field of the organization the resource is scoped to
    AccountHeader:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
    Order:
      name: order
      in: query
      required: false
      schema:
        type: string
        enum:
        - ASC
        - DESC
      description: Order on the basis of which sorting is done.
    IncludeParentScope:
      name: include_parent_scope
      in: query
      required: false
      schema:
        type: boolean
        default: false
      description: Include entities from current and parent scopes.
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t"
  responses:
    NotificationChannelListResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/NotificationChannelDTO'
        application/xml:
          schema:
            $ref: '#/components/schemas/NotificationChannelDTO'
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/NotificationRuleDTO'
        text/html:
          schema:
            $ref: '#/components/schemas/NotificationChannelDTO'
        text/plain:
          schema:
            type: object
            properties: {}
      headers:
        X-Total-Elements:
          schema:
            type: integer
          description: Total number of elements returned in Paginated response.
        X-Page-Number:
          schema:
            type: integer
          description: Page number in Paginated response.
        X-Page-Size:
          schema:
            type: integer
          description: Maximum page size in Paginated response.
    NotificationChannelResponse:
      description: Notification channel response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotificationChannelDTO'
        application/xml:
          schema:
            $ref: '#/components/schemas/NotificationChannelDTO'
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/NotificationChannelDTO'
    ValidateIdentifierResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidateIdentifierDTO'
  requestBodies:
    NotificationChannelRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotificationChannelDTO'
      description: Notification channel request
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
