openapi: 3.2.0
info:
  title: Harness Workspaces API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Workspaces
  description: 'Workspaces Service handles the API for managing workspaces

    and triggering workflows against them.'
paths:
  /iacm/api/orgs/{org}/projects/{project}/tags:
    get:
      tags:
      - Workspaces
      summary: List all workspace tags
      description: List all tags
      operationId: workspaces#list-all-workspace-tags
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: '1'
          minLength: 1
          maxLength: 128
        example: '83'
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: lc
          minLength: 1
          maxLength: 128
        example: gt
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: '1'
          minLength: 1
          maxLength: 128
        example: lf6
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  example: Sint et voluptatibus voluptatem magnam.
                example:
                - Quo placeat vero vel.
                - Adipisci harum.
                - Fuga corrupti omnis.
              example:
              - Aperiam hic sit et culpa in.
              - Debitis et.
              - Aut quas rem nihil qui labore molestiae.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/workspace-metrics:
    get:
      tags:
      - Workspaces
      summary: Show workspace metrics
      description: Show metrics for workspaces
      operationId: workspaces#show-workspace-metrics
      parameters:
      - name: start_time
        in: query
        description: Start time filter (Unix timestamp)
        allowEmptyValue: true
        schema:
          type: integer
          description: Start time filter (Unix timestamp)
          example: 3702652903170433000
          format: int64
        example: 2312895160738468400
      - name: end_time
        in: query
        description: End time filter (Unix timestamp)
        allowEmptyValue: true
        schema:
          type: integer
          description: End time filter (Unix timestamp)
          example: 1175252005813441000
          format: int64
        example: 1453570943024446700
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: f89
          minLength: 1
          maxLength: 128
        example: x
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: '3'
          minLength: 1
          maxLength: 128
        example: s
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: kh
          minLength: 1
          maxLength: 128
        example: b
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowWorkspaceMetricsRequest'
              example:
                status_counts:
                  Necessitatibus ut minima et aut.: 2399362582700301000
                  Perspiciatis unde ut consequatur.: 6747443222738879000
                  Sunt ut maxime rerum qui.: 7043253897266228000
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/workspaces:
    get:
      tags:
      - Workspaces
      summary: List workspaces
      description: List all workspaces.
      operationId: workspaces#list-workspaces
      parameters:
      - name: limit
        in: query
        description: Limit is the number of records to return for a page.
        allowEmptyValue: true
        schema:
          type: integer
          description: Limit is the number of records to return for a page.
          default: 30
          example: 30
          format: int64
          minimum: 1
          maximum: 1000
        example: 30
      - name: page
        in: query
        description: Page is the page number to return relative to the page 'limit'.
        allowEmptyValue: true
        schema:
          type: integer
          description: Page is the page number to return relative to the page 'limit'.
          default: 1
          example: 1
          format: int64
          minimum: 1
        example: 1
      - name: searchTerm
        in: query
        description: Filter results by partial name match
        allowEmptyValue: true
        schema:
          type: string
          description: Filter results by partial name match
          default: ''
          example: mysta
        example: mysta
      - name: sort
        in: query
        description: Sort order for results
        allowEmptyValue: true
        schema:
          type: string
          description: Sort order for results
          default: name,ASC
          example: name,DESC
          enum:
          - name,ASC
          - name,DESC
          - updated,ASC
          - updated,DESC
        example: name,DESC
      - name: status
        in: query
        description: Status of the execution
        allowEmptyValue: true
        schema:
          type: array
          items:
            type: string
            example: Qui perferendis facilis rem ipsam et.
          description: Status of the execution
          example:
          - Quaerat nam quia.
          - Nesciunt delectus quasi.
        example:
        - Nostrum voluptatibus id libero numquam totam.
        - Ex iure qui voluptatem.
        - Enim laudantium est quis id aperiam fuga.
        - Est a laborum reiciendis reprehenderit aliquid impedit.
      - name: tags
        in: query
        description: Comma separated list of tags to filter by
        allowEmptyValue: true
        schema:
          type: array
          items:
            type: string
            example: Temporibus sed autem tempora asperiores repellendus.
          description: Comma separated list of tags to filter by
          example:
          - Nostrum qui magnam asperiores in.
          - Praesentium vel ipsum dolorum.
        example:
        - Pariatur asperiores aut tempore.
        - Magnam odit quis nihil quae delectus amet.
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: '1'
          minLength: 1
          maxLength: 128
        example: w
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: '5'
          minLength: 1
          maxLength: 128
        example: yyj
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: sd
          minLength: 1
          maxLength: 128
        example: k0r
      responses:
        '200':
          description: OK response.
          headers:
            x-page-size:
              description: Current page size
              schema:
                type: integer
                description: Current page size
                example: 50
                format: int64
              example: 50
            x-total-items:
              description: Total items available
              schema:
                type: integer
                description: Total items available
                example: 1800
                format: int64
              example: 1800
            x-total-pages:
              description: Total pages available
              schema:
                type: integer
                description: Total pages available
                example: 36
                format: int64
              example: 36
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceResourceSummaryCollection'
              example:
              - account: tug
                created: 7506229833280796000
                description: this is a more detailed explanation of the resource.
                identifier: i
                name: resource name
                org: gum
                project: ln
                status: destroying
                updated: 3667303828716196400
              - account: tug
                created: 7506229833280796000
                description: this is a more detailed explanation of the resource.
                identifier: i
                name: resource name
                org: gum
                project: ln
                status: destroying
                updated: 3667303828716196400
              - account: tug
                created: 7506229833280796000
                description: this is a more detailed explanation of the resource.
                identifier: i
                name: resource name
                org: gum
                project: ln
                status: destroying
                updated: 3667303828716196400
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    post:
      tags:
      - Workspaces
      summary: Create workspace
      description: Create a new workspace.
      operationId: workspaces#create-workspace
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: vkb
          minLength: 1
          maxLength: 128
        example: ye
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: v8
          minLength: 1
          maxLength: 128
        example: '3'
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: 81l
          minLength: 1
          maxLength: 128
        example: b
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkspaceRequest'
            example:
              associated_template:
                template_id: b
                version: '4'
              budget: 0.039115082
              ccm_cost_enabled: false
              cost_breakdown_json: c4a2d99bc28d236098a095277b7eb0718d6be068
              cost_diff_json: c4a2d99bc28d236098a095277b7eb0718d6be068
              cost_estimation_enabled: true
              default_pipelines:
                Est in.:
                  project_pipeline: Et sunt nostrum voluptas nam.
                  workspace_pipeline: Voluptatem aliquid sit rerum et qui autem.
              description: this is a more detailed explanation of the resource.
              environment_variables:
                Et voluptas reprehenderit commodi quo.:
                  key: nd
                  value: Aut excepturi soluta.
                  value_type: secret
                Magni itaque labore non.:
                  key: nd
                  value: Aut excepturi soluta.
                  value_type: secret
                Natus natus et.:
                  key: nd
                  value: Aut excepturi soluta.
                  value_type: secret
              id: 639289500094086800
              identifier: cp
              modules_json: c4a2d99bc28d236098a095277b7eb0718d6be068
              name: resource name
              provider_connector: Nulla harum.
              provider_connectors:
              - connector_ref: b3
                created: 1627590400
                id: 7600418729279140000
                terragrunt_provider: false
                type: vault
                updated: 1627686800
                workspace_id: 7960420049770110000
              - connector_ref: b3
                created: 1627590400
                id: 7600418729279140000
                terragrunt_provider: false
                type: vault
                updated: 1627686800
                workspace_id: 7960420049770110000
              providers_json: c4a2d99bc28d236098a095277b7eb0718d6be068
              provisioner: Illo mollitia pariatur molestiae.
              provisioner_configuration: Assumenda quibusdam ut libero rerum ratione maxime.
              provisioner_version: In minima adipisci alias fugiat eaque.
              prune_sensitive_data: true
              repository: Hic sequi et reiciendis.
              repository_branch: main
              repository_commit: abc10ed
              repository_connector: Corrupti doloribus consequatur tempore asperiores et.
              repository_path: ''
              repository_sha: abc10ed
              repository_submodules: recursive
              run_all: false
              sparse_checkout: Necessitatibus omnis.
              state_checksum: d21c1662d8ce2c74f24efdc8db93eb34473b86810aeccca4b1518f70b0ccde8f
              tags:
                cost-center: engineering
                environment: production
                team: platform
              terraform_plan_json: f9e21473daaa2674d862b67a1339f4570e86de17
              terraform_state: fc1200c7a7aa52109d762a9f005b149abef01479
              terraform_state_json: c4a2d99bc28d236098a095277b7eb0718d6be068
              terraform_variable_files:
              - repository: Nesciunt asperiores iusto ea dolore id.
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: Suscipit sed eligendi harum.
                repository_path: ''
                repository_sha: abc10ed
              - repository: Nesciunt asperiores iusto ea dolore id.
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: Suscipit sed eligendi harum.
                repository_path: ''
                repository_sha: abc10ed
              terraform_variables:
                Deleniti veritatis.:
                  key: nd
                  value: Aut excepturi soluta.
                  value_type: secret
                Nobis laudantium non incidunt iure voluptatem aut.:
                  key: nd
                  value: Aut excepturi soluta.
                  value_type: secret
                Non voluptatem fugiat et quis.:
                  key: nd
                  value: Aut excepturi soluta.
                  value_type: secret
              terragrunt_provider: true
              terragrunt_version: Et voluptate eum natus autem ratione.
              variable_sets:
              - Esse non.
              - Et et officia.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspacesCreateWorkspaceResponseBody'
              example:
                policy_evaluation:
                  account_id: XRQAjvT37acOiXx9PRaQMF
                  action: onrun
                  created: 1636370209475
                  details:
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    action: onrun
                    created: 1636669297674
                    description: Captures critical production policies
                    details:
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        created: 1636669297674
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        project_id: test-project
                        rego: ''
                        updated: 1636669297674
                      rego_error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        created: 1636669297674
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        project_id: test-project
                        rego: ''
                        updated: 1636669297674
                      rego_error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      status: error
                    enabled: true
                    identifier: policyset-1
                    name: Production Policies
                    org_id: test-org
                    project_id: test-project
                    status: error
                    type: pipeline
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    action: onrun
                    created: 1636669297674
                    description: Captures critical production policies
                    details:
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        created: 1636669297674
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        project_id: test-project
                        rego: ''
                        updated: 1636669297674
                      rego_error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        created: 1636669297674
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        project_id: test-project
                        rego: ''
                        updated: 1636669297674
                      rego_error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      status: error
                    enabled: true
                    identifier: policyset-1
                    name: Production Policies
                    org_id: test-org
                    project_id: test-project
                    status: error
                    type: pipeline
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    action: onrun
                    created: 1636669297674
                    description: Captures critical production policies
                    details:
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        created: 1636669297674
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        project_id: test-project
                        rego: ''
                        updated: 1636669297674
                      rego_error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        created: 1636669297674
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        project_id: test-project
                        rego: ''
                        updated: 1636669297674
                      rego_error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      status: error
                    enabled: true
                    identifier: policyset-1
                    name: Production Policies
                    org_id: test-org
                    project_id: test-project
                    status: error
                    type: pipeline
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    action: onrun
                    created: 1636669297674
                    description: Captures critical production policies
                    details:
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        created: 1636669297674
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        project_id: test-project
                        rego: ''
                        updated: 1636669297674
                      rego_error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        created: 1636669297674
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        project_id: test-project
                        rego: ''
                        updated: 1636669297674
                      rego_error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      status: error
                    enabled: true
                    identifier: policyset-1
                    name: Production Policies
                    org_id: test-org
                    project_id: test-project
                    status: error
                    type: pipeline
                    updated: 1636669297674
                  entity: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
                  entity_metadata: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
                  id: 123
                  input: ''
                  org_id: test-org
                  project_id: test-project
                  status: error
                  type: pipeline,service
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/PolicyViolationError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/workspaces/{identifier}:
    delete:
      tags:
      - Workspaces
      summary: Destroy workspace
      description: Deletes the given workspace.
      operationId: workspaces#destroy-workspace
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: nlc
          minLength: 1
          maxLength: 128
        example: j
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: qn
          minLength: 1
          maxLength: 128
        example: '3'
      - name: identifier
        in: path
        description: Identifier is the project identifier.
        required: true
        schema:
          type: string
          description: Identifier is the project identifier.
          example: p
          minLength: 1
          maxLength: 128
        example: 9oo
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: v
          minLength: 1
          maxLength: 128
        example: t
      responses:
        '204':
          description: No Content response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    get:
      tags:
      - Workspaces
      summary: Show workspace
      description: Show an individual workspace.
      operationId: workspaces#show-workspace
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: x7
          minLength: 1
          maxLength: 128
        example: '3'
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: '51'
          minLength: 1
          maxLength: 128
        example: wf
      - name: identifier
        in: path
        description: Identifier is the project identifier.
        required: true
        schema:
          type: string
          description: Identifier is the project identifier.
          example: a
          minLength: 1
          maxLength: 128
        example: m8c
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: g5g
          minLength: 1
          maxLength: 128
        example: 1a
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspacesShowWorkspaceResponseBody'
              example:
                account: l
                associated_template:
                  template_id: u
                  version: jkj
                backend_locked: true
                budget: 0.91501755
                ccm_cost_enabled: false
                cost_breakdown_json: c4a2d99bc28d236098a095277b7eb0718d6be068
                cost_diff_json: c4a2d99bc28d236098a095277b7eb0718d6be068
                cost_estimation_enabled: true
                created: 9142952793299314000
                default_pipelines:
                  Doloremque exercitationem inventore est reiciendis.:
                    project_pipeline: Quam vitae nulla.
                    workspace_pipeline: Dolor velit quo eaque saepe.
                  Rerum quo dolor et asperiores.:
                    project_pipeline: Quam vitae nulla.
                    workspace_pipeline: Dolor velit quo eaque saepe.
                description: this is a more detailed explanation of the resource.
                environment_variables:
                  Dolores eum suscipit impedit fuga optio ut.:
                    created: 6758585511865266000
                    key: tg
                    updated: 2953533946315675600
                    value: Qui quod exercitationem et molestiae.
                    value_type: string
                  Unde dolorum aut autem mollitia nemo ipsam.:
                    created: 6758585511865266000
                    key: tg
                    updated: 2953533946315675600
                    value: Qui quod exercitationem et molestiae.
                    value_type: string
                identifier: '0'
                lock:
                  created_at: 5023311621798248000
                  id: Atque fuga.
                  locked_by_display_name: Minima id rerum illo.
                  locked_by_principal_id: Temporibus omnis culpa omnis debitis et et.
                  locked_by_principal_type: Dolor quibusdam qui eos praesentium ea.
                  manual: false
                  reason: Doloribus laudantium nisi.
                modules_json: c4a2d99bc28d236098a095277b7eb0718d6be068
                name: resource name
                org: t
                project: 1w
                provider_connector: Enim voluptatibus totam iusto.
                provider_connectors:
                - connector_ref: d7
                  created: 1627590400
                  id: 2574819312703867400
                  terragrunt_provider: true
                  type: azure
                  updated: 1627686800
                  workspace_id: 3425838825461482000
                - connector_ref: d7
                  created: 1627590400
                  id: 2574819312703867400
                  terragrunt_provider: true
                  type: azure
                  updated: 1627686800
                  workspace_id: 3425838825461482000
                - connector_ref: d7
                  created: 1627590400
                  id: 2574819312703867400
                  terragrunt_provider: true
                  type: azure
                  updated: 1627686800
                  workspace_id: 3425838825461482000
                - connector_ref: d7
                  created: 1627590400
                  id: 2574819312703867400
                  terragrunt_provider: true
                  type: azure
                  updated: 1627686800
                  workspace_id: 3425838825461482000
                providers_json: c4a2d99bc28d236098a095277b7eb0718d6be068
                provisioner: Ea dicta veniam soluta.
                provisioner_configuration: Nulla deleniti.
                provisioner_data: Est est iusto.
                provisioner_version: Porro amet blanditiis libero eos alias.
                prune_sensitive_data: true
                repository: Ab consectetur beatae mollitia accusamus placeat molestiae.
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: Nesciunt voluptatibus voluptatem.
                repository_path: ''
                repository_sha: abc10ed
                repository_submodules: recursive
                run_all: true
                sparse_checkout: Ex libero ipsum.
                state_checksum: d21c1662d8ce2c74f24efdc8db93eb34473b86810aeccca4b1518f70b0ccde8f
                status: provisioning
                tags:
                  cost-center: engineering
                  environment: production
                  team: platform
                terraform_plan_json: f9e21473daaa2674d862b67a1339f4570e86de17
                terraform_state: fc1200c7a7aa52109d762a9f005b149abef01479
                terraform_state_json: c4a2d99bc28d236098a095277b7eb0718d6be068
                terraform_variable_files:
                - repository: Rerum ipsam qui velit quo eius.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Vel sed ea necessitatibus.
                  repository_path: ''
                  repository_sha: abc10ed
                - repository: Rerum ipsam qui velit quo eius.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Vel sed ea necessitatibus.
                  repository_path: ''
                  repository_sha: abc10ed
                - repository: Rerum ipsam qui velit quo eius.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Vel sed ea necessitatibus.
                  repository_path: ''
                  repository_sha: abc10ed
                terraform_variables:
                  Id velit porro voluptatem.:
                    created: 6758585511865266000
                    key: tg
                    updated: 2953533946315675600
                    value: Qui quod exercitationem et molestiae.
                    value_type: string
                  Ratione dolorum qui culpa officia soluta.:
                    created: 6758585511865266000
                    key: tg
                    updated: 2953533946315675600
                    value: Qui quod exercitationem et molestiae.
                    value_type: string
                  Unde rerum neque dicta eius perferendis est.:
                    created: 6758585511865266000
                    key: tg
                    updated: 2953533946315675600
                    value: Qui quod exercitationem et molestiae.
                    value_type: string
                terragrunt_provider: true
                terragrunt_version: Itaque iste est tempore nulla minima.
                updated: 8860729591363064000
                variable_sets:
                - Nemo laudantium.
                - Similique repellat ratione beatae et ut.
                - Unde quia modi.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    put:
      tags:
      - Workspaces
      summary: Update workspace
      description: Updates the given workspace with new info.
      operationId: workspaces#update-workspace
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: gf
          minLength: 1
          maxLength: 128
        example: 7b9
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: r
          minLength: 1
          maxLength: 128
        example: eo3
      - name: identifier
        in: path
        description: Workspace identifier.
        required: true
        schema:
          type: string
          description: Workspace identifier.
          example: yl
          minLength: 1
          maxLength: 128
        example: g
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: f
          minLength: 1
          maxLength: 128
        example: gsc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkspaceRequest'
            example:
              budget: 0.27108407
              ccm_cost_enabled: false
              cost_estimation_enabled: true
              default_pipelines:
                Omnis deserunt quo.:
                  project_pipeline: Et sunt nostrum voluptas nam.
                  workspace_pipeline: Voluptatem aliquid sit rerum et qui autem.
                Quam eos deserunt a aut.:
                  project_pipeline: Et sunt nostrum voluptas nam.
                  workspace_pipeline: Voluptatem aliquid sit rerum et qui autem.
                Velit officiis molestias minima.:
                  project_pipeline: Et sunt nostrum voluptas nam.
                  workspace_pipeline: Voluptatem aliquid sit rerum et qui autem.
              description: this is a more detailed explanation of the resource.
              environment_variables:
                Aut commodi velit.:
                  key: nd
                  value: Aut excepturi soluta.
                  value_type: secret
                Id hic quia.:
                  key: nd
                  value: Aut excepturi soluta.
                  value_type: secret
                Id laboriosam enim inventore corporis excepturi.:
                  key: nd
                  value: Aut excepturi soluta.
                  value_type: secret
              name: resource name
              provider_connector: Consequatur harum aut dolores dicta voluptates.
              provider_connectors:
              - connector_ref: b3
                created: 1627590400
                id: 7600418729279140000
                terragrunt_provider: false
                type: vault
                updated: 1627686800
                workspace_id: 7960420049770110000
              - connector_ref: b3
                created: 1627590400
                id: 7600418729279140000
                terragrunt_provider: false
                type: vault
                updated: 1627686800
                workspace_id: 7960420049770110000
              provisioner: Enim numquam eum.
              provisioner_configuration: Atque debitis odit.
              provisioner_version: Id nostrum rerum tenetur soluta.
              prune_sensitive_data: true
              repository: Ipsa itaque fuga.
              repository_branch: main
              repository_commit: abc10ed
              repository_connector: Consequuntur iusto exercitationem itaque repellendus.
              repository_path: ''
              repository_sha: abc10ed
              repository_submodules: recursive
              run_all: true
              sparse_checkout: Reiciendis et ut ex aliquam pariatur.
              tags:
                cost-center: engineering
                environment: production
                team: platform
              terraform_variable_files:
              - repository: Nesciunt asperiores iusto ea dolore id.
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: Suscipit sed eligendi harum.
                repository_path: ''
                repository_sha: abc10ed
              - repository: Nesciunt asperiores iusto ea dolore id.
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: Suscipit sed eligendi harum.
                repository_path: ''
                repository_sha: abc10ed
              - repository: Nesciunt asperiores iusto ea dolore id.
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: Suscipit sed eligendi harum.
                repository_path: ''
                repository_sha: abc10ed
              terraform_variables:
                Distinctio minus id.:
                  key: nd
                  value: Aut excepturi soluta.
                  value_type: secret
                Eos voluptatem aut veniam autem et.:
                  key: nd
                  value: Aut excepturi soluta.
                  value_type: secret
                Praesentium aut velit blanditiis.:
                  key: nd
                  value: Aut excepturi soluta.
                  value_type: secret
              terragrunt_provider: false
              terragrunt_version: Sunt et minus voluptas recusandae sed qui.
              variable_sets:
              - Veniam sed aspernatur ut necessitatibus quae consectetur.
              - Voluptatem odit.
              - Rerum omnis vero rem rerum deleniti amet.
              - Consectetur iure architecto et.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateWorkspaceResponse'
              example:
                policy_evaluation:
                  account_id: XRQAjvT37acOiXx9PRaQMF
                  action: onrun
                  created: 1636370209475
                  details:
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    action: onrun
                    created: 1636669297674
                    description: Captures critical production policies
                    details:
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        created: 1636669297674
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        project_id: test-project
                        rego: ''
                        updated: 1636669297674
                      rego_error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        created: 1636669297674
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        project_id: test-project
                        rego: ''
                        updated: 1636669297674
                      rego_error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      status: error
                    enabled: true
                    identifier: policyset-1
                    name: Production Policies
                    org_id: test-org
                    project_id: test-project
                    status: error
                    type: pipeline
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    action: onrun
                    created: 1636669297674
                    description: Captures critical production policies
                    details:
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        created: 1636669297674
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        project_id: test-project
                        rego: ''
                        updated: 1636669297674
                      rego_error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        created: 1636669297674
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        project_id: test-project
                        rego: ''
                        updated: 1636669297674
                      rego_error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      status: error
                    enabled: true
                    identifier: policyset-1
                    name: Production Policies
                    org_id: test-org
                    project_id: test-project
                    status: error
                    type: pipeline
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    action: onrun
                    created: 1636669297674
                    description: Captures critical production policies
                    details:
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        created: 1636669297674
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        project_id: test-project
                        rego: ''
                        updated: 1636669297674
                      rego_error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        created: 1636669297674
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        project_id: test-project
                        rego: ''
                        updated: 1636669297674
                      rego_error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      status: error
                    enabled: true
                    identifier: policyset-1
                    name: Production Policies
                    org_id: test-org
                    project_id: test-project
                    status: error
                    type: pipeline
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    action: onrun
                    created: 1636669297674
                    description: Captures critical production policies
                    details:
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        created: 1636669297674
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        project_id: test-project
                        rego: ''
                        updated: 1636669297674
                      rego_error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        created: 1636669297674
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        project_id: test-project
                        rego: ''
                        updated: 1636669297674
                      rego_error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      status: error
                    enabled: true
                    identifier: policyset-1
                    name: Production Policies
                    org_id: test-org
                    project_id: test-project
                    status: error
                    type: pipeline
                    updated: 1636669297674
                  entity: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
                  entity_metadata: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
                  id: 123
                  input: ''
                  org_id: test-org
                  project_id: test-project
                  status: error
                  type: pipeline,service
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/PolicyViolationError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/workspaces/{identifier}/actions/force-unlock:
    post:
      tags:
      - Workspaces
      summary: Unlock workspace
      description: Unlock a workspace, removing the lock regardless of its origin (manual or automatic). Idempotent.
      operationId: workspaces#force-unlock-workspace
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: zir
          minLength: 1
          maxLength: 128
        example: '80'
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: 8m
          minLength: 1
          maxLength: 128
        example: shz
      - name: identifier
        in: path
        description: Identifier is the project identifier.
        required: true
        schema:
          type: string
          description: Identifier is the project identifier.
          example: jb
          minLength: 1
          maxLength: 128
        example: cu
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: v
          minLength: 1
          maxLength: 128
        example: ki7
      responses:
        '200':
          description: OK response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/workspaces/{identifier}/actions/lock:
    post:
      tags:
      - Workspaces
      summary: Lock workspace
      description: Create a manual lock on a workspace.
      operationId: workspaces#lock-workspace
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: 5b
          minLength: 1
          maxLength: 128
        example: v
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: 0ij
          minLength: 1
          maxLength: 128
        example: pr
      - name: identifier
        in: path
        description: Identifier is the project identifier.
        required: true
        schema:
          type: string
          description: Identifier is the project identifier.
          example: mj
          minLength: 1
          maxLength: 128
        example: s6
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: 1gk
          minLength: 1
          maxLength: 128
        example: v
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LockWorkspacePayload2'
            example:
              reason: Q2 freeze
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockWorkspaceResponse'
              example:
                id: a5ff0ef5-e8e9-4a64-a8bc-f1aa7c13b53e
                locked_by_display_name: Sapiente assumenda illo accusantium.
                locked_by_principal_id: Doloremque dolor similique.
                locked_by_principal_type: Quam necessitatibus veniam.
                manual: true
                reason: Suscipit aut.
                workspace: Tempore iure id.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/workspaces/{identifier}/modules:
    get:
      tags:
      - Workspaces
      summary: List modules
      description: List modules associated with this workspace.
      operationId: workspaces#list-workspace-modules
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: h4z
          minLength: 1
          maxLength: 128
        example: ank
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: 16x
          minLength: 1
          maxLength: 128
        example: 2h
      - name: identifier
        in: path
        description: Identifier is the project identifier.
        required: true
        schema:
          type: string
          description: Identifier is the project identifier.
          example: x2
          minLength: 1
          maxLength: 128
        example: utl
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: vl
          minLength: 1
          maxLength: 128
        example: dnn
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceModuleCollection'
              example:
              - invocations: 3
                key: ec2-instance_test
                source: registry.opentofu.org/terraform-aws-modules/ec2-instance/aws//examples/complete
                stack_path: environments/prod/ec2
                version: 5.0.0
              - invocations: 3
                key: ec2-instance_test
                source: registry.opentofu.org/terraform-aws-modules/ec2-instance/aws//examples/complete
                stack_path: environments/prod/ec2
                version: 5.0.0
              - invocations: 3
                key: ec2-instance_test
                source: registry.opentofu.org/terraform-aws-modules/ec2-instance/aws//examples/complete
                stack_path: environments/prod/ec2
                version: 5.0.0
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/workspaces/{identifier}/resources:
    get:
      tags:
      - Workspaces
      summary: List resources
      description: List resources associated with this workspace.
      operationId: workspaces#list-resources
      parameters:
      - name: limit
        in: query
        description: Limit is the number of records to return for a page. When omitted, all records are returned.
        allowEmptyValue: true
        schema:
          type: integer
          description: Limit is the number of records to return for a page. When omitted, all records are returned.
          example: 30
          format: int64
          minimum: 1
          maximum: 1000
        example: 30
      - name: page
        in: query
        description: Page is the page number to return relative to the page 'limit'. When omitted, all records are returned.
        allowEmptyValue: true
        schema:
          type: integer
          description: Page is the page number to return relative to the page 'limit'. When omitted, all records are returned.
          example: 1
          format: int64
          minimum: 1
        example: 1
      - name: resource_types
        in: query
        description: Resource types to filter by.
        allowEmptyValue: true
        schema:
          type: array
          items:
            type: string
            example: Necessitatibus ut.
          description: Resource types to filter by.
          example:
          - aws_instance
          - google_compute_instance
        example:
        - aws_instance
        - google_compute_instance
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: n
          minLength: 1
          maxLength: 128
        example: fbm
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: u9
          minLength: 1
          maxLength: 128
        example: tu
      - name: identifier
        in: path
        description: Workspace identifier.
        required: true
        schema:
          type: string
          description: Workspace identifier.
          example: mt
          minLength: 1
          maxLength: 128
        example: ix8
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: b
          minLength: 1
          maxLength: 128
        example: zgy
      responses:
        '200':
          description: OK response.
          headers:
            x-page-size:
              description: Current page size (only populated for paginated list operations)
              schema:
                type: integer
                description: Current page size (only populated for paginated list operations)
                example: 50
                format: int64
              example: 50
            x-total-items:
              description: Total items available (only populated for paginated list operations)
              schema:
                type: integer
                description: Total items available (only populated for paginated list operations)
                example: 1800
                format: int64
              example: 1800
            x-total-pages:
              description: Total pages available (only populated for paginated list operations)
              schema:
                type: integer
                description: Total pages available (only populated for paginated list operations)
                example: 36
                format: int64
              example: 36
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResourcesResponse'
              example:
                data_sources:
                - attributes:
                    ami: ami-830c94ec
                    instance_type: t2.micro
                  createdAt: 1627590400
                  drift_attributes:
                    instance_type: t2.nano
                  drift_status: changed
                  lastSyncedAt: 1627686800
                  mode: resource
                  module: full_stack
                  monthly_cost: 0.32546890397784883
                  monthly_saving: 0.35814372810159073
                  name: app_server
                  path_id: namespace
                  provider: AWS
                  recommendation_count: 8335073474648751000
                  resource_id: arn:aws:s3:::my-bucket
                  sensitive_attributes:
                  - instance_type
                  type: S3 Bucket
                - attributes:
                    ami: ami-830c94ec
                    instance_type: t2.micro
                  createdAt: 1627590400
                  drift_attributes:
                    instance_type: t2.nano
                  drift_status: changed
                  lastSyncedAt: 1627686800
                  mode: resource
                  module: full_stack
                  monthly_cost: 0.32546890397784883
                  monthly_saving: 0.35814372810159073
                  name: app_server
                  path_id: namespace
                  provider: AWS
                  recommendation_count: 8335073474648751000
                  resource_id: arn:aws:s3:::my-bucket
                  sensitive_attributes:
                  - instance_type
                  type: S3 Bucket
                outputs:
                - expression: <+outputs.instance_id>
                  name: instance_public_ip
                  sensitive: true
                  stack_path: IaCM/TGOverride/environments/dev/ec2
                  value: Ipsam occaecati nihil id recusandae modi.
                - expression: <+outputs.instance_id>
                  name: instance_public_ip
                  sensitive: true
                  stack_path: IaCM/TGOverride/environments/dev/ec2
                  value: Ipsam occaecati nihil id recusandae modi.
                - expression: <+outputs.instance_id>
                  name: instance_public_ip
                  sensitive: true
                  stack_path: IaCM/TGOverride/environments/dev/ec2
                  value: Ipsam occaecati nihil id recusandae modi.
                resources:
                - attributes:
                    ami: ami-830c94ec
                    instance_type: t2.micro
                  createdAt: 1627590400
                  drift_attributes:
                    instance_type: t2.nano
                  drift_status: changed
                  lastSyncedAt: 1627686800
                  mode: resource
                  module: full_stack
                  monthly_cost: 0.32546890397784883
                  monthly_saving: 0.35814372810159073
                  name: app_server
                  path_id: namespace
                  provider: AWS
                  recommendation_count: 8335073474648751000
                  resource_id: arn:aws:s3:::my-bucket
                  sensitive_attributes:
                  - instance_type
                  type: S3 Bucket
                - attributes:
                    ami: ami-830c94ec
                    instance_type: t2.micro
                  createdAt: 1627590400
                  drift_attributes:
                    instance_type: t2.nano
                  drift_status: changed
                  lastSyncedAt: 1627686800
                  mode: resource
                  module: full_stack
                  monthly_cost: 0.32546890397784883
                  monthly_saving: 0.35814372810159073
                  name: app_server
                  path_id: namespace
                  provider: AWS
                  recommendation_count: 8335073474648751000
                  resource_id: arn:aws:s3:::my-bucket
                  sensitive_attributes:
                  - instance_type
                  type: S3 Bucket
                stack_outputs:
                  IaCM/TGOverride/environments/dev/ec2:
                  - name: instance_id
                    sensitive: false
                    stack_path: IaCM/TGOverride/environments/dev/ec2
                    value: i-1234567890abcdef0
                total_resources: 42
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/workspaces/{identifier}/resources/search:
    post:
      tags:
      - Workspaces
      summary: List resources using selectors
      description: 'List resources for a workspace using selectors. Pagination is optional: when limit and page are omitted (or zero), all matching resources are returned for backward compatibility.'
      operationId: workspaces#search-resources
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: lw
          minLength: 1
          maxLength: 128
        example: e
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: '1'
          minLength: 1
          maxLength: 128
        example: d
      - name: identifier
        in: path
        description: Workspace identifier
        required: true
        schema:
          type: string
          description: Workspace identifier
          example: Voluptatem voluptatibus a quod.
        example: Laboriosam libero quo neque nesciunt quo alias.
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: dx
          minLength: 1
          maxLength: 128
        example: '0'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchResourcesRequest'
            example:
              limit: 30
              page: 1
              selectors:
              - include_conditions:
                - attribute: tag.environment
                  operator: equals
                  value: prod
                path_id: qa
                provider: aws
                resource_type: aws_instance
                search_text: some text
              - include_conditions:
                - attribute: tag.environment
                  operator: equals
                  value: prod
                path_id: qa
                provider: aws
                resource_type: aws_instance
                search_text: some text
      responses:
        '200':
          description: OK response.
          headers:
            x-page-size:
              description: Current page size (only populated for paginated list operations)
              schema:
                type: integer
                description: Current page size (only populated for paginated list operations)
                example: 50
                format: int64
              example: 50
            x-total-items:
              description: Total items available (only populated for paginated list operations)
              schema:
                type: integer
                description: Total items available (only populated for paginated list operations)
                example: 1800
                format: int64
              example: 1800
            x-total-pages:
              description: Total pages available (only populated for paginated list operations)
              schema:
                type: integer
                description: Total pages available (only populated for paginated list operations)
                example: 36
                format: int64
              example: 36
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResourcesResponse'
              example:
                data_sources:
                - attributes:
                    ami: ami-830c94ec
                    instance_type: t2.micro
                  createdAt: 1627590400
                  drift_attributes:
                    instance_type: t2.nano
                  drift_status: changed
                  lastSyncedAt: 1627686800
                  mode: resource
                  module: full_stack
                  monthly_cost: 0.32546890397784883
                  monthly_saving: 0.35814372810159073
                  name: app_server
                  path_id: namespace
                  provider: AWS
                  recommendation_count: 8335073474648751000
                  resource_id: arn:aws:s3:::my-bucket
                  sensitive_attributes:
                  - instance_type
                  type: S3 Bucket
                - attributes:
                    ami: ami-830c94ec
                    instance_type: t2.micro
                  createdAt: 1627590400
                  drift_attributes:
                    instance_type: t2.nano
                  drift_status: changed
                  lastSyncedAt: 1627686800
                  mode: resource
                  module: full_stack
                  monthly_cost: 0.32546890397784883
                  monthly_saving: 0.35814372810159073
                  name: app_server
                  path_id: namespace
                  provider: AWS
                  recommendation_count: 8335073474648751000
                  resource_id: arn:aws:s3:::my-bucket
                  sensitive_attributes:
                  - instance_type
                  type: S3 Bucket
                outputs:
                - expression: <+outputs.instance_id>
                  name: instance_public_ip
                  sensitive: true
                  stack_path: IaCM/TGOverride/environments/dev/ec2
                  value: Ipsam occaecati nihil id recusandae modi.
                - expression: <+outputs.instance_id>
                  name: instance_public_ip
                  sensitive: true
                  stack_path: IaCM/TGOverride/environments/dev/ec2
                  value: Ipsam occaecati nihil id recusandae modi.
                - expression: <+outputs.instance_id>
                  name: instance_public_ip
                  sensitive: true
                  stack_path: IaCM/TGOverride/environments/dev/ec2
                  value: Ipsam occaecati nihil id recusandae modi.
                resources:
                - attributes:
                    ami: ami-830c94ec
                    instance_type: t2.micro
                  createdAt: 1627590400
                  drift_attributes:
                    instance_type: t2.nano
                  drift_status: changed
                  lastSyncedAt: 1627686800
                  mode: resource
                  module: full_stack
                  monthly_cost: 0.32546890397784883
                  monthly_saving: 0.35814372810159073
[...]
