openapi: 3.2.0
info:
  title: Harness Project Gitx Webhooks API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Project Gitx Webhooks
paths:
  /v1/orgs/{org}/projects/{project}/gitx-webhooks:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    - $ref: '#/components/parameters/ProjectPathParam'
    get:
      summary: Lists all the GitX Webhooks at project level
      tags:
      - Project Gitx Webhooks
      responses:
        '200':
          $ref: '#/components/responses/ListGitXWebhookResponse'
      operationId: list-project-gitx-webhook
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit1'
      - schema:
          type: string
        in: query
        name: webhook_identifier
      description: List project level GitX webhooks
      x-internal: false
    post:
      summary: Create Project level GitX webhook
      operationId: create-project-gitx-webhook
      responses:
        '200':
          $ref: '#/components/responses/CreateGitXWebhookResponse'
      description: Create GitXWebhook at project level
      requestBody:
        $ref: '#/components/requestBodies/CreateGitXWebhookRequest'
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      security:
      - x-api-key: []
      tags:
      - Project Gitx Webhooks
  /v1/orgs/{org}/projects/{project}/gitx-webhooks/{gitx-webhook}:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    - $ref: '#/components/parameters/ProjectPathParam'
    - $ref: '#/components/parameters/GitXWebhookIdentifier'
    get:
      summary: Fetch GitX Webhook at project level
      tags:
      - Project Gitx Webhooks
      responses:
        '200':
          $ref: '#/components/responses/GetGitXWebhookResponse'
      operationId: get-project-gitx-webhook
      x-internal: false
      description: Fetch a project level gitx webhook
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
    put:
      summary: Updates a GitX Webhook at project level
      operationId: update-project-gitx-webhook
      responses:
        '200':
          $ref: '#/components/responses/UpdateGitXWebhookResponse'
      description: Update a project level Gitx webhook
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/UpdateGitXWebhookRequest'
      tags:
      - Project Gitx Webhooks
      x-internal: false
    delete:
      summary: Deletes a GitX Webhook at project level
      operationId: delete-project-gitx-webhook
      responses:
        '204':
          description: No Content
      description: Deletes a project level gitx webhooks
      tags:
      - Project Gitx Webhooks
      x-internal: false
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
components:
  responses:
    GetGitXWebhookResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GitXWebhookResponse'
          examples:
            Example 1:
              value:
                webhook_identifier: <IDENTIFIER>
                webhook_name: <NAME>
                connector_ref: <CONNECTOR_REF>
                repo_name: <REPO_NAME>
                folder_paths:
                - <FOLDER_PATH>
                is_enabled: true
                event_trigger_time: 0
    CreateGitXWebhookResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateGitXWebhookResponse'
          examples:
            Example 1:
              value:
                webhook_identifier: <IDENTIFIER>
    ListGitXWebhookResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/GitXWebhookResponse'
          examples:
            Example 1:
              value:
              - webhook_identifier: <IDENTIFIER>
                webhook_name: <NAME>
                connector_ref: <CONNECTOR_REF>
                repo_name: <REPO_NAME>
                folder_paths:
                - <FOLDER_PATH>
                is_enabled: true
                event_trigger_time: 0
      headers:
        X-Total-Elements:
          schema:
            type: integer
          description: Total number of elements returned in Paginated response.
        X-Page-Number:
          schema:
            type: integer
          description: Page number in Paginated response.
        X-Page-Size:
          schema:
            type: integer
          description: Maximum page size in Paginated response.
    UpdateGitXWebhookResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateGitXWebhookResponse'
          examples:
            Example 1:
              value:
                webhook_identifier: <IDENTIFIER>
  parameters:
    OrgPathParam:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Identifier field of the organization the resource is scoped to
    AccountHeader:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
    GitXWebhookIdentifier:
      name: gitx-webhook
      in: path
      required: true
      schema:
        type: string
      description: GitX webhook identifier
    ProjectPathParam:
      name: project
      in: path
      required: true
      schema:
        type: string
      description: Identifier field of the project the resource is scoped to
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t"
    Limit1:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 20
        maximum: 1000
      description: Number of items to return per page.
  schemas:
    CreateGitXWebhookRequest:
      title: CreateGitXWebhookRequest
      x-stoplight:
        id: dfl2rgteqjv9l
      type: object
      description: Contains information about the GitX webhook creation request
      properties:
        webhook_identifier:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
        repo_name:
          type: string
        connector_ref:
          type: string
        folder_paths:
          type: array
          items:
            type: string
        webhook_name:
          type: string
          pattern: ^[0-9a-zA-Z-_ ]{0,127}$
    UpdateGitXWebhookRequest:
      title: UpdateGitXWebhookRequest
      x-stoplight:
        id: 4muh4be0aj4te
      type: object
      description: 'Contains information about the GitX webhook updation '
      properties:
        repo_name:
          type: string
        webhook_name:
          type: string
        folder_paths:
          type: array
          items:
            type: string
        is_enabled:
          type: boolean
        connector_ref:
          type: string
    GitXWebhookResponse:
      title: GitXWebhookResponse
      x-stoplight:
        id: vkv1a5drhxln9
      type: object
      description: 'Contains information about the GitX webhooks '
      properties:
        webhook_identifier:
          type: string
        webhook_name:
          type: string
        connector_ref:
          type: string
        repo_name:
          type: string
        folder_paths:
          type: array
          items:
            type: string
        is_enabled:
          type: boolean
        event_trigger_time:
          type: integer
          format: int64
    UpdateGitXWebhookResponse:
      title: UpdateGitXWebhookResponse
      x-stoplight:
        id: ne0fmq08o05bg
      type: object
      description: 'Contains information about the GitX webhook updation '
      properties:
        webhook_identifier:
          type: string
    CreateGitXWebhookResponse:
      title: CreateGitXWebhookResponse
      x-stoplight:
        id: x9148732e2m4l
      type: object
      description: 'Contains information about the GitX webhook creation '
      properties:
        webhook_identifier:
          type: string
  requestBodies:
    CreateGitXWebhookRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateGitXWebhookRequest'
          examples:
            Example 1:
              value:
                webhook_identifier: <IDENTIFIER>
                repo_name: <REPO_NAME>
                connector_ref: <CONNECTOR_REF>
                folder_paths:
                - <FOLDER_PATH>
                webhook_name: <NAME>
      description: Create GitX webhook request
    UpdateGitXWebhookRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateGitXWebhookRequest'
          examples:
            Example 1:
              value:
                repo_name: <REPO_NAME>
                connector_ref: <CONNECTOR_REF>
                webhook_name: <NAME>
                folder_paths:
                - <FOLDER_PATH>
                is_enabled: true
      description: Update GitX webhook request
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
