openapi: 3.2.0
info:
  title: Harness Executions API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Executions
  description: 'Executions Service handles the API for workflow executions.


    At this time it is a read-only API with no ability to directly create or edit

    executions. Instead these are triggered from the Workspaces Service.'
paths:
  /iacm/api/orgs/{org}/projects/{project}/executions:
    get:
      tags:
      - Executions
      summary: List executions
      description: List all executions.
      operationId: executions#list-executions
      parameters:
      - name: limit
        in: query
        description: Limit is the number of records to return for a page.
        allowEmptyValue: true
        schema:
          type: integer
          description: Limit is the number of records to return for a page.
          default: 30
          example: 30
          format: int64
          minimum: 1
          maximum: 1000
        example: 30
      - name: page
        in: query
        description: Page is the page number to return relative to the page 'limit'.
        allowEmptyValue: true
        schema:
          type: integer
          description: Page is the page number to return relative to the page 'limit'.
          default: 1
          example: 1
          format: int64
          minimum: 1
        example: 1
      - name: workspace
        in: query
        description: Workspace identifier
        allowEmptyValue: true
        schema:
          type: string
          description: Workspace identifier
          example: Accusamus maiores impedit repellat blanditiis cupiditate.
        example: Pariatur deleniti quisquam vero quis laborum.
      - name: pipeline_execution_id
        in: query
        description: Pipeline identifier
        allowEmptyValue: true
        schema:
          type: string
          description: Pipeline identifier
          example: Qui iste ut sint.
        example: Dolores corporis qui eos ex unde sit.
      - name: status
        in: query
        description: Status of the execution
        allowEmptyValue: true
        schema:
          type: array
          items:
            type: string
            example: Est animi.
          description: Status of the execution
          example:
          - Quis placeat enim corporis.
          - Repellat ut.
          - Officiis accusamus voluptas praesentium nihil.
          - Ut eaque molestias consequatur unde.
        example:
        - Id ipsam facilis a quis.
        - Molestias sit sint.
        - Commodi nostrum quo.
        - Laudantium sit assumenda sed nulla.
      - name: pipeline_name
        in: query
        description: Pipeline name
        allowEmptyValue: true
        schema:
          type: string
          description: Pipeline name
          example: Aliquid omnis enim voluptatem est.
        example: Quo magni dignissimos accusantium quidem voluptatem.
      - name: start_time
        in: query
        description: Specify the start time for the query
        allowEmptyValue: true
        schema:
          type: integer
          description: Specify the start time for the query
          example: 1691150743950
          format: int64
        example: 1691150743950
      - name: end_time
        in: query
        description: Specify the end time limit for the query
        allowEmptyValue: true
        schema:
          type: integer
          description: Specify the end time limit for the query
          example: 1691150743950
          format: int64
        example: 1691150743950
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: 5m3
          minLength: 1
          maxLength: 128
        example: g
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: jzr
          minLength: 1
          maxLength: 128
        example: wsr
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: 54f
          minLength: 1
          maxLength: 128
        example: snr
      responses:
        '200':
          description: OK response.
          headers:
            x-page-size:
              description: Current page size
              schema:
                type: integer
                description: Current page size
                example: 50
                format: int64
              example: 50
            x-total-items:
              description: Total items available
              schema:
                type: integer
                description: Total items available
                example: 1800
                format: int64
              example: 1800
            x-total-pages:
              description: Total pages available
              schema:
                type: integer
                description: Total pages available
                example: 36
                format: int64
              example: 36
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResourceCollection'
              example:
              - account: '0'
                created: 7825736693665040000
                org: ij
                pipeline: Ut necessitatibus placeat.
                pipeline_execution_id: Est nam occaecati distinctio eligendi.
                pipeline_stage_id: Qui quis dolor magnam.
                project: fmt
                status: failure
                workspace: Rerum culpa voluptates voluptatem.
              - account: '0'
                created: 7825736693665040000
                org: ij
                pipeline: Ut necessitatibus placeat.
                pipeline_execution_id: Est nam occaecati distinctio eligendi.
                pipeline_stage_id: Qui quis dolor magnam.
                project: fmt
                status: failure
                workspace: Rerum culpa voluptates voluptatem.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    post:
      tags:
      - Executions
      summary: Create execution
      description: Create a new execution.
      operationId: executions#create-execution
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: b
          minLength: 1
          maxLength: 128
        example: 9sx
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: 7u4
          minLength: 1
          maxLength: 128
        example: d
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: 4fo
          minLength: 1
          maxLength: 128
        example: f
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExecutionRequest'
            example:
              pipeline: Sequi illum.
              pipeline_execution_id: Blanditiis quo qui.
              pipeline_stage_id: Eum et debitis sint ducimus.
              workspace: Expedita eum.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateExecutionResponse'
              example:
                account: w2
                created: 481289297168361660
                org: b
                pipeline: Ea voluptas minima pariatur laudantium.
                pipeline_execution_id: Ducimus ipsum dignissimos corporis ut delectus aut.
                pipeline_stage_id: Maiores excepturi facilis reprehenderit cupiditate dicta.
                project: 5n
                status: none
                workspace: Architecto quis enim numquam pariatur.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/executions/{pipeline_execution_id}/{pipeline_stage_id}:
    get:
      tags:
      - Executions
      summary: Show execution
      description: Show an individual execution.
      operationId: executions#show-execution
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: rv0
          minLength: 1
          maxLength: 128
        example: dgo
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: zl2
          minLength: 1
          maxLength: 128
        example: q
      - name: pipeline_execution_id
        in: path
        description: Pipeline execution ID
        required: true
        schema:
          type: string
          description: Pipeline execution ID
          example: oda
          minLength: 1
          maxLength: 128
        example: e4
      - name: pipeline_stage_id
        in: path
        description: Pipeline execution stage ID
        required: true
        schema:
          type: string
          description: Pipeline execution stage ID
          example: u
          minLength: 1
          maxLength: 128
        example: 9u
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: v
          minLength: 1
          maxLength: 128
        example: i
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowExecutionResponse'
              example:
                account: '3'
                created: 1676536529633814000
                org: v
                pipeline: Placeat provident.
                pipeline_execution_id: Et magni architecto quia ut ratione earum.
                pipeline_stage_id: Sed quam quisquam enim.
                project: 4r
                status: success
                workspace: Similique non eos dolorem sit.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/executions/{pipeline_execution_id}/{pipeline_stage_id}/audit-event:
    post:
      tags:
      - Executions
      summary: Update execution
      description: Modify an individual execution by adding audit data.
      operationId: executions#modify-execution
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: c
          minLength: 1
          maxLength: 128
        example: iq
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: e4
          minLength: 1
          maxLength: 128
        example: cw
      - name: pipeline_execution_id
        in: path
        description: Pipeline execution ID
        required: true
        schema:
          type: string
          description: Pipeline execution ID
          example: u8
          minLength: 1
          maxLength: 128
        example: d
      - name: pipeline_stage_id
        in: path
        description: Pipeline execution stage ID
        required: true
        schema:
          type: string
          description: Pipeline execution stage ID
          example: giq
          minLength: 1
          maxLength: 128
        example: cfx
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: uxp
          minLength: 1
          maxLength: 128
        example: g
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExecutionRequest'
            example:
              audit:
                git_audit_data:
                  hash: 90k
                  name: Adipisci temporibus consequuntur magnam rerum.
                  repo_url: b
                  type: branch, tag
      responses:
        '200':
          description: OK response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/executions/{pipeline_execution_id}/cost-changes:
    get:
      tags:
      - Executions
      summary: List cost changes
      description: List cost changes from the latest plan and last applied state for the current execution.
      operationId: executions#list-cost-changes
      parameters:
      - name: pipeline_stage_id
        in: query
        allowEmptyValue: true
        schema:
          type: string
          default: ''
          example: Vitae officiis.
        example: Molestiae recusandae dolores architecto.
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: za
          minLength: 1
          maxLength: 128
        example: e
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: z
          minLength: 1
          maxLength: 128
        example: tsm
      - name: pipeline_execution_id
        in: path
        description: Pipeline execution ID
        required: true
        schema:
          type: string
          description: Pipeline execution ID
          example: jfy
          minLength: 1
          maxLength: 128
        example: t2a
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: b
          minLength: 1
          maxLength: 128
        example: re2
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCostChangesResponse'
              example:
                currency: Tenetur expedita sed eos voluptatibus doloremque perferendis.
                diff:
                  Laborum voluptas architecto eum voluptatum.:
                    current_monthly_cost: Officiis praesentium et distinctio magni voluptas magni.
                    diff:
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    diff_monthly_cost: Qui repudiandae maiores.
                    percentage_change_monthly_cost: 1842691425972299300
                    previous_monthly_cost: Nihil at vitae reprehenderit dolorem.
                  Quia repudiandae modi rerum aspernatur.:
                    current_monthly_cost: Officiis praesentium et distinctio magni voluptas magni.
                    diff:
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    diff_monthly_cost: Qui repudiandae maiores.
                    percentage_change_monthly_cost: 1842691425972299300
                    previous_monthly_cost: Nihil at vitae reprehenderit dolorem.
                diff_total_monthly_cost: Repellat quia numquam nihil dolor sequi praesentium.
                past_total_monthly_cost: Ea deserunt adipisci et quod officiis.
                percentage_change_total_monthly_cost: 7075636458171253000
                stage_execution_id: In ut nulla aut et vero.
                stage_id: Pariatur maxime omnis qui.
                total_monthly_cost: Sit et eligendi et.
                workspace_id: Facilis amet sint natus sint.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/executions/{pipeline_execution_id}/cost-changes-all-stages:
    get:
      tags:
      - Executions
      summary: List cost changes for all stages
      description: List cost changes for all stages from the latest plan and last applied state for the current execution.
      operationId: executions#list-cost-changes-all-stages
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: j2
          minLength: 1
          maxLength: 128
        example: b
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: 13j
          minLength: 1
          maxLength: 128
        example: ar
      - name: pipeline_execution_id
        in: path
        description: Pipeline execution ID
        required: true
        schema:
          type: string
          description: Pipeline execution ID
          example: 0vp
          minLength: 1
          maxLength: 128
        example: wg
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: ekh
          minLength: 1
          maxLength: 128
        example: 9o
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangedCostsCollection'
              example:
              - currency: Odio ea dolores perferendis eos esse ut.
                diff:
                  Blanditiis et cum enim.:
                    current_monthly_cost: Officiis praesentium et distinctio magni voluptas magni.
                    diff:
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    diff_monthly_cost: Qui repudiandae maiores.
                    percentage_change_monthly_cost: 1842691425972299300
                    previous_monthly_cost: Nihil at vitae reprehenderit dolorem.
                  Nihil non autem quia aut fugit eos.:
                    current_monthly_cost: Officiis praesentium et distinctio magni voluptas magni.
                    diff:
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    diff_monthly_cost: Qui repudiandae maiores.
                    percentage_change_monthly_cost: 1842691425972299300
                    previous_monthly_cost: Nihil at vitae reprehenderit dolorem.
                  Vel nam et.:
                    current_monthly_cost: Officiis praesentium et distinctio magni voluptas magni.
                    diff:
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    diff_monthly_cost: Qui repudiandae maiores.
                    percentage_change_monthly_cost: 1842691425972299300
                    previous_monthly_cost: Nihil at vitae reprehenderit dolorem.
                diff_total_monthly_cost: Aut autem.
                past_total_monthly_cost: Excepturi maiores temporibus id vel consequatur aut.
                percentage_change_total_monthly_cost: 4877408993750340000
                stage_execution_id: Accusantium et iste.
                stage_id: Corrupti reiciendis.
                total_monthly_cost: Qui est quas aut quibusdam sapiente sapiente.
                workspace_id: Culpa dolorum aut iusto alias id.
              - currency: Odio ea dolores perferendis eos esse ut.
                diff:
                  Blanditiis et cum enim.:
                    current_monthly_cost: Officiis praesentium et distinctio magni voluptas magni.
                    diff:
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    diff_monthly_cost: Qui repudiandae maiores.
                    percentage_change_monthly_cost: 1842691425972299300
                    previous_monthly_cost: Nihil at vitae reprehenderit dolorem.
                  Nihil non autem quia aut fugit eos.:
                    current_monthly_cost: Officiis praesentium et distinctio magni voluptas magni.
                    diff:
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    diff_monthly_cost: Qui repudiandae maiores.
                    percentage_change_monthly_cost: 1842691425972299300
                    previous_monthly_cost: Nihil at vitae reprehenderit dolorem.
                  Vel nam et.:
                    current_monthly_cost: Officiis praesentium et distinctio magni voluptas magni.
                    diff:
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    diff_monthly_cost: Qui repudiandae maiores.
                    percentage_change_monthly_cost: 1842691425972299300
                    previous_monthly_cost: Nihil at vitae reprehenderit dolorem.
                diff_total_monthly_cost: Aut autem.
                past_total_monthly_cost: Excepturi maiores temporibus id vel consequatur aut.
                percentage_change_total_monthly_cost: 4877408993750340000
                stage_execution_id: Accusantium et iste.
                stage_id: Corrupti reiciendis.
                total_monthly_cost: Qui est quas aut quibusdam sapiente sapiente.
                workspace_id: Culpa dolorum aut iusto alias id.
              - currency: Odio ea dolores perferendis eos esse ut.
                diff:
                  Blanditiis et cum enim.:
                    current_monthly_cost: Officiis praesentium et distinctio magni voluptas magni.
                    diff:
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    diff_monthly_cost: Qui repudiandae maiores.
                    percentage_change_monthly_cost: 1842691425972299300
                    previous_monthly_cost: Nihil at vitae reprehenderit dolorem.
                  Nihil non autem quia aut fugit eos.:
                    current_monthly_cost: Officiis praesentium et distinctio magni voluptas magni.
                    diff:
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    diff_monthly_cost: Qui repudiandae maiores.
                    percentage_change_monthly_cost: 1842691425972299300
                    previous_monthly_cost: Nihil at vitae reprehenderit dolorem.
                  Vel nam et.:
                    current_monthly_cost: Officiis praesentium et distinctio magni voluptas magni.
                    diff:
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                      diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                      name: Atque omnis ut voluptatem qui commodi eos.
                      percentage_change_monthly_cost: 7757122607419809000
                      previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                      subresources:
                        Dignissimos et facere.:
                          current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                          diff_monthly_cost: Vero qui id ut iure.
                          percentage_change_monthly_cost: 6337052443379880000
                          previous_monthly_cost: Ipsum earum corrupti.
                    diff_monthly_cost: Qui repudiandae maiores.
                    percentage_change_monthly_cost: 1842691425972299300
                    previous_monthly_cost: Nihil at vitae reprehenderit dolorem.
                diff_total_monthly_cost: Aut autem.
                past_total_monthly_cost: Excepturi maiores temporibus id vel consequatur aut.
                percentage_change_total_monthly_cost: 4877408993750340000
                stage_execution_id: Accusantium et iste.
                stage_id: Corrupti reiciendis.
                total_monthly_cost: Qui est quas aut quibusdam sapiente sapiente.
                workspace_id: Culpa dolorum aut iusto alias id.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/executions/{pipeline_execution_id}/cost-changes-all-stages-by-modules:
    get:
      tags:
      - Executions
      summary: List cost changes for all stages by modules
      description: List cost changes per module (stack path) for all stages for the current execution.
      operationId: executions#list-cost-changes-all-stages-by-modules
      parameters:
      - name: stack_path
        in: query
        description: Optional module stack path filter
        allowEmptyValue: true
        schema:
          type: string
          description: Optional module stack path filter
          default: ''
          example: Dolor quis.
        example: Velit iste molestias aut eveniet.
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: wfa
          minLength: 1
          maxLength: 128
        example: jg
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: 3f
          minLength: 1
          maxLength: 128
        example: t
      - name: pipeline_execution_id
        in: path
        description: Pipeline execution ID
        required: true
        schema:
          type: string
          description: Pipeline execution ID
          example: k
          minLength: 1
          maxLength: 128
        example: o
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: b
          minLength: 1
          maxLength: 128
        example: gy
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangedCostsByModuleResourceCollection'
              example:
              - modules:
                  Qui odit perspiciatis et sunt et.:
                    currency: Odio ea dolores perferendis eos esse ut.
                    diff:
                      Blanditiis et cum enim.:
                        current_monthly_cost: Officiis praesentium et distinctio magni voluptas magni.
                        diff:
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        diff_monthly_cost: Qui repudiandae maiores.
                        percentage_change_monthly_cost: 1842691425972299300
                        previous_monthly_cost: Nihil at vitae reprehenderit dolorem.
                      Nihil non autem quia aut fugit eos.:
                        current_monthly_cost: Officiis praesentium et distinctio magni voluptas magni.
                        diff:
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        diff_monthly_cost: Qui repudiandae maiores.
                        percentage_change_monthly_cost: 1842691425972299300
                        previous_monthly_cost: Nihil at vitae reprehenderit dolorem.
                      Vel nam et.:
                        current_monthly_cost: Officiis praesentium et distinctio magni voluptas magni.
                        diff:
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        diff_monthly_cost: Qui repudiandae maiores.
                        percentage_change_monthly_cost: 1842691425972299300
                        previous_monthly_cost: Nihil at vitae reprehenderit dolorem.
                    diff_total_monthly_cost: Aut autem.
                    past_total_monthly_cost: Excepturi maiores temporibus id vel consequatur aut.
                    percentage_change_total_monthly_cost: 4877408993750340000
                    stage_execution_id: Accusantium et iste.
                    stage_id: Corrupti reiciendis.
                    total_monthly_cost: Qui est quas aut quibusdam sapiente sapiente.
                    workspace_id: Culpa dolorum aut iusto alias id.
                stage_execution_id: Quae non facere fuga.
                stage_id: Sunt ut eveniet dolor voluptas.
                workspace_id: Quibusdam soluta voluptatem earum quia libero.
              - modules:
                  Qui odit perspiciatis et sunt et.:
                    currency: Odio ea dolores perferendis eos esse ut.
                    diff:
                      Blanditiis et cum enim.:
                        current_monthly_cost: Officiis praesentium et distinctio magni voluptas magni.
                        diff:
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        diff_monthly_cost: Qui repudiandae maiores.
                        percentage_change_monthly_cost: 1842691425972299300
                        previous_monthly_cost: Nihil at vitae reprehenderit dolorem.
                      Nihil non autem quia aut fugit eos.:
                        current_monthly_cost: Officiis praesentium et distinctio magni voluptas magni.
                        diff:
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        diff_monthly_cost: Qui repudiandae maiores.
                        percentage_change_monthly_cost: 1842691425972299300
                        previous_monthly_cost: Nihil at vitae reprehenderit dolorem.
                      Vel nam et.:
                        current_monthly_cost: Officiis praesentium et distinctio magni voluptas magni.
                        diff:
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        diff_monthly_cost: Qui repudiandae maiores.
                        percentage_change_monthly_cost: 1842691425972299300
                        previous_monthly_cost: Nihil at vitae reprehenderit dolorem.
                    diff_total_monthly_cost: Aut autem.
                    past_total_monthly_cost: Excepturi maiores temporibus id vel consequatur aut.
                    percentage_change_total_monthly_cost: 4877408993750340000
                    stage_execution_id: Accusantium et iste.
                    stage_id: Corrupti reiciendis.
                    total_monthly_cost: Qui est quas aut quibusdam sapiente sapiente.
                    workspace_id: Culpa dolorum aut iusto alias id.
                stage_execution_id: Quae non facere fuga.
                stage_id: Sunt ut eveniet dolor voluptas.
                workspace_id: Quibusdam soluta voluptatem earum quia libero.
              - modules:
                  Qui odit perspiciatis et sunt et.:
                    currency: Odio ea dolores perferendis eos esse ut.
                    diff:
                      Blanditiis et cum enim.:
                        current_monthly_cost: Officiis praesentium et distinctio magni voluptas magni.
                        diff:
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        diff_monthly_cost: Qui repudiandae maiores.
                        percentage_change_monthly_cost: 1842691425972299300
                        previous_monthly_cost: Nihil at vitae reprehenderit dolorem.
                      Nihil non autem quia aut fugit eos.:
                        current_monthly_cost: Officiis praesentium et distinctio magni voluptas magni.
                        diff:
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        diff_monthly_cost: Qui repudiandae maiores.
                        percentage_change_monthly_cost: 1842691425972299300
                        previous_monthly_cost: Nihil at vitae reprehenderit dolorem.
                      Vel nam et.:
                        current_monthly_cost: Officiis praesentium et distinctio magni voluptas magni.
                        diff:
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        - current_monthly_cost: Debitis reiciendis et consectetur distinctio sequi.
                          diff_monthly_cost: Doloremque dolores ullam dolores corporis quia non.
                          name: Atque omnis ut voluptatem qui commodi eos.
                          percentage_change_monthly_cost: 7757122607419809000
                          previous_monthly_cost: Dignissimos perspiciatis et asperiores et eos.
                          subresources:
                            Dignissimos et facere.:
                              current_monthly_cost: Ipsum ipsum harum occaecati laborum vel placeat.
                              diff_monthly_cost: Vero qui id ut iure.
                              percentage_change_monthly_cost: 6337052443379880000
                              previous_monthly_cost: Ipsum earum corrupti.
                        diff_monthly_cost: Qui repudiandae maiores.
                        percentage_change_monthly_cost: 1842691425972299300
                        previous_monthly_cost: Nihil at vitae reprehenderit dolorem.
                    diff_total_monthly_cost: Aut autem.
                    past_total_monthly_cost: Excepturi maiores temporibus id vel consequatur aut.
                    percentage_change_total_monthly_cost: 4877408993750340000
                    stage_execution_id: Accusantium et iste.
                    stage_id: Corrupti reiciendis.
                    total_monthly_cost: Qui est quas aut quibusdam sapiente sapiente.
                    workspace_id: Culpa dolorum aut iusto alias id.
                stage_execution_id: Quae non facere fuga.
                stage_id: Sunt ut eveniet dolor voluptas.
                workspace_id: Quibusdam soluta voluptatem earum quia libero.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/executions/{pipeline_execution_id}/dependency-graph:
    get:
      tags:
      - Executions
      summary: Get dependency graph
      description: Get dependency graph for an execution
      operationId: executions#get-dependency-graph
      parameters:
      - name: pipeline_stage_id
        in: query
        allowEmptyValue: true
        schema:
          type: string
          default: ''
          example: Ut quia non incidunt quia maiores voluptatum.
        example: Voluptas laborum itaque sed minus quod magnam.
      - name: path_id
        in: query
        description: Terragrunt path identifier for filtering module-specific graph
        allowEmptyValue: true
        schema:
          type: string
          description: Terragrunt path identifier for filtering module-specific graph
          example: dev
        example: dev
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: 47j
          minLength: 1
          maxLength: 128
        example: ar
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: u
          minLength: 1
          maxLength: 128
        example: d
[...]
