openapi: 3.2.0
info:
  title: Harness Schemas API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Schemas
  description: This contains APIs for Schemas.
  x-displayName: Schemas [Beta]
paths:
  /v1/pipeline-schema/individual-schema:
    parameters: []
    get:
      summary: Get Individual Static Schema
      operationId: get-individual-static-schema
      responses:
        '200':
          $ref: '#/components/responses/IndividualSchemaResponseBody'
      x-stoplight:
        id: 0k8ms0d67bib3
      description: get individual schema for any step/stage/strategy/stepgroup.
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      - schema:
          type: string
          enum:
          - step
          - stage
          - pipeline
          - strategy
          - step_group
          - trigger
        in: query
        name: node_group
      - schema:
          type: string
        in: query
        name: node_type
      - schema:
          type: string
          enum:
          - iacm
          - cd
          - ci
          - security
          - approval
          - custom
          - cf
          - template
        in: query
        name: node_group_differentiator
      - schema:
          type: string
          default: v0
          enum:
          - v0
          - v1
        in: query
        name: version
      security:
      - x-api-key: []
      tags:
      - Schemas
      x-internal: true
  /v1/pipeline-schema/inputs-schema:
    parameters: []
    post:
      summary: Get Inputs Schema
      operationId: get-inputs-schema
      responses:
        '200':
          $ref: '#/components/responses/PipelineInputSchemaDetailsResponseBody'
      x-stoplight:
        id: ep4bfvpcvsdfl
      tags:
      - Schemas
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      security:
      - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/PipelineInputsSchemaRequestBody'
      x-internal: true
  /v1/template-schema/individual-schema:
    parameters: []
    get:
      summary: Your GET endpoint
      tags:
      - Schemas
      responses:
        '200':
          $ref: '#/components/responses/TemplateSchemaResponse'
      operationId: get-template-schema
      x-stoplight:
        id: h6h9r4i2dcor0
      description: Gets Templates Schema
      parameters:
      - schema:
          type: string
          enum:
          - artifactsourcetemplate
          - customdeployment
          - monitoredservice
          - secretmanager
          - stage
          - pipeline
          - step
          - stepgroup
          - template
        in: query
        name: node_group
      - schema:
          type: string
        in: query
        name: node_type
      - $ref: '#/components/parameters/AccountHeaderParam'
      - schema:
          type: string
          enum:
          - v0
          - v1
          default: v0
        in: query
        name: version
      x-internal: true
  /v1/template-schema/inputs-schema:
    post:
      summary: get inputs-schema api
      tags:
      - Schemas
      responses:
        '200':
          $ref: '#/components/responses/TemplateInputSchemaDetailsResponseBody'
      operationId: get-inputs-schema1
      x-stoplight:
        id: pqgesg6op1rb1
      parameters:
      - $ref: '#/components/parameters/AccountHeaderParam'
      - schema:
          type: string
        in: query
        name: org_id
        description: Org Identifier
      - schema:
          type: string
        in: query
        name: project_id
        description: Project Identifier
      description: ''
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/TemplateInputsSchemaRequestBody'
components:
  parameters:
    AccountHeaderParam:
      name: Harness-Account
      in: header
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to.
    AccountHeader4:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to.
  schemas:
    PipelineYamlInputDetailsDTO:
      title: PipelineYamlInputDetailsDTO
      x-stoplight:
        id: npt13s20sr6db
      type: object
      properties:
        details:
          $ref: '#/components/schemas/PipelineYamlInputDTO'
        metadata:
          $ref: '#/components/schemas/PipelineYamlInputMetadataDTO'
      x-internal: true
    RuntimeInputDependencyDetailsDTO1:
      title: RuntimeInputDependencyDetailsDTO
      x-stoplight:
        id: n8vk0pc2nad3z
      type: object
      x-internal: true
      properties:
        field_name:
          type: string
          x-stoplight:
            id: lspf0jnh5w2l3
        input_name:
          type: string
          x-stoplight:
            id: tcgmg70o492mo
    TemplateInputsSchemaRequestBody:
      title: TemplateInputsSchemaRequestBody
      x-stoplight:
        id: wtnkdfjxlpbf9
      type: object
      properties:
        template_yaml:
          type: string
          x-stoplight:
            id: 0dygishjagf6i
      x-internal: true
    TemplateYamlInputDetailsDTO:
      title: TemplateYamlInputDetailsDTO
      x-stoplight:
        id: g5ji5k9iuyk9l
      type: object
      x-internal: true
      properties:
        details:
          $ref: '#/components/schemas/TemplateYamlInputDTO'
        metadata:
          $ref: '#/components/schemas/TemplateYamlInputMetadataDTO'
    PipelineInputSchemaDetailsResponseBody:
      title: PipelineInputSchemaDetailsResponseBody
      x-stoplight:
        id: 0tkmah5p4lgcr
      type: object
      properties:
        inputs:
          type: array
          x-stoplight:
            id: 9ujy24moia7go
          items:
            $ref: '#/components/schemas/PipelineYamlInputDetailsDTO'
      x-internal: true
    IndividualSchemaResponseBody:
      title: IndividualSchemaResponseBody
      x-stoplight:
        id: u6u4rebvyk94s
      type: object
      description: Individual Schema Response Body
      x-internal: true
      properties:
        data:
          type: object
          x-stoplight:
            id: dacggrrd1b58e
    FixedValueFieldDependencyDetailsDTO:
      title: FixedValueFieldDependencyDetailsDTO
      x-stoplight:
        id: i5ryzcskudmpk
      type: object
      x-internal: true
      properties:
        field_name:
          type: string
          x-stoplight:
            id: sc9sb358djjt6
        field_input_type:
          type: string
          x-stoplight:
            id: 6g0pzc9dxfzd7
        field_value:
          type: object
          x-stoplight:
            id: gdbrt5uxk44lh
    TemplateYamlInputMetadataDTO:
      title: TemplateYamlInputMetadataDTO
      x-stoplight:
        id: ualwerzlsrm1a
      type: object
      x-internal: true
      properties:
        field_properties:
          type: array
          x-stoplight:
            id: 3qnzd0bsqj2ls
          items:
            $ref: '#/components/schemas/InputDetailsPerFieldDTO1'
        dependencies:
          $ref: '#/components/schemas/YamlInputDependencyDetailsDTO1'
    PipelineYamlInputDTO:
      title: PipelineYamlInputDTO
      x-stoplight:
        id: b76ha2p8ngn3m
      type: object
      x-internal: true
      properties:
        name:
          type: string
          x-stoplight:
            id: 23dnmvd66you2
        type:
          $ref: '#/components/schemas/YamlInputType'
        desc:
          type: string
          x-stoplight:
            id: klcxkypd8p8aj
        required:
          type: boolean
          x-stoplight:
            id: gnxq3c3xxjc9c
        execution:
          type: boolean
        default:
          type: object
          x-stoplight:
            id: pvsan66570urp
        allowed_values:
          type: array
          x-stoplight:
            id: bk45vjio3fdhb
          items: {}
        regex:
          type: string
    TemplateYamlInputDTO:
      title: TemplateYamlInputDTO
      x-stoplight:
        id: zojl0rh1u9u81
      type: object
      x-internal: true
      properties:
        name:
          type: string
          x-stoplight:
            id: oepfx9e71dzj8
        type:
          $ref: '#/components/schemas/YamlInputType1'
        description:
          type: string
          x-stoplight:
            id: vdyum5jk9it57
        required:
          type: boolean
          x-stoplight:
            id: umadwvxy635o6
        default:
          type: object
          x-stoplight:
            id: u8zbjrv0hehch
        allowed_values:
          type: array
          x-stoplight:
            id: pv16b1m7i8qny
          items: {}
        execution:
          type: boolean
        regex:
          type: string
    YamlInputDependencyDetailsDTO1:
      title: YamlInputDependencyDetailsDTO
      x-stoplight:
        id: sl4wcsg8oqg9v
      type: object
      x-internal: true
      properties:
        required_runtime_inputs:
          type: array
          x-stoplight:
            id: s7xwk2kcpgfy9
          items:
            $ref: '#/components/schemas/RuntimeInputDependencyDetailsDTO1'
        required_fixed_values:
          type: array
          x-stoplight:
            id: f1fuo7tkrhfbc
          items:
            $ref: '#/components/schemas/FixedValueFieldDependencyDetailsDTO1'
    TemplateInputSchemaDetailsResponseBody:
      title: TemplateInputSchemaDetailsResponseBody
      x-stoplight:
        id: wvz1hgoax3ska
      type: object
      properties:
        inputs:
          type: array
          x-stoplight:
            id: 464f72eow2zn4
          items:
            $ref: '#/components/schemas/TemplateYamlInputDetailsDTO'
      x-internal: true
    PipelineYamlInputMetadataDTO:
      title: PipelineYamlInputMetadataDTO
      x-stoplight:
        id: w72v0p3hxgsqk
      type: object
      x-internal: true
      properties:
        field_properties:
          x-stoplight:
            id: oi2cc5afutjom
          type: array
          items:
            $ref: '#/components/schemas/InputDetailsPerFieldDTO'
        dependencies:
          $ref: '#/components/schemas/YamlInputDependencyDetailsDTO'
    InputDetailsPerFieldDTO:
      title: InputDetailsPerFieldDTO
      x-stoplight:
        id: fh76c2nnwli3w
      type: object
      x-internal: true
      properties:
        input_type:
          type: string
          x-stoplight:
            id: d92j86p84m1t5
        internal_type:
          type: string
          x-stoplight:
            id: l3u49jd2dmz9o
    InputDetailsPerFieldDTO1:
      title: InputDetailsPerFieldDTO
      x-stoplight:
        id: 1pwsuzht6te0l
      type: object
      x-internal: true
      properties:
        input_type:
          type: string
          x-stoplight:
            id: x2gyzuy7skrlw
        internal_type:
          type: string
          x-stoplight:
            id: eye30wp6mepd5
        entity_type:
          x-stoplight:
            id: p9imuzgb7t32y
          enum:
          - STAGE
          - STEP
          - STEP_GROUP
        stage_type:
          type: string
          x-stoplight:
            id: ub8c360xgz03j
    FixedValueFieldDependencyDetailsDTO1:
      title: FixedValueFieldDependencyDetailsDTO
      x-stoplight:
        id: stlkmcdnxr18s
      type: object
      x-internal: true
      properties:
        field_name:
          type: string
          x-stoplight:
            id: qh0pclbjju6jt
        field_input_type:
          type: string
          x-stoplight:
            id: zfomitzu7f1im
        field_value:
          type: object
          x-stoplight:
            id: cz4447uq4hsa0
    YamlInputDependencyDetailsDTO:
      title: YamlInputDependencyDetailsDTO
      x-stoplight:
        id: o5k0f3ximyim7
      type: object
      x-internal: true
      properties:
        required_runtime_inputs:
          type: array
          x-stoplight:
            id: ajse16mvdyb3l
          items:
            $ref: '#/components/schemas/RuntimeInputDependencyDetailsDTO'
        required_fixed_values:
          type: array
          x-stoplight:
            id: z4034kxnx5cqk
          items:
            $ref: '#/components/schemas/FixedValueFieldDependencyDetailsDTO'
    PipelineInputsSchemaRequestBody:
      title: PipelineInputsSchemaRequestBody
      x-stoplight:
        id: lqov4pteet3mu
      type: object
      properties:
        pipeline_yaml:
          type: string
          x-stoplight:
            id: xdltgg8ykrc2t
    TemplateSchemaResponse:
      title: TemplateSchemaResponse
      x-stoplight:
        id: n1td5vx0eu2vk
      type: object
      properties:
        data:
          type: object
          x-stoplight:
            id: 99sossqbii1t8
    YamlInputType:
      title: YamlInputType
      x-stoplight:
        id: 9acp39t6wcuqk
      enum:
      - string
      - integer
      - boolean
      - object
      - array
      x-internal: true
      description: ''
    RuntimeInputDependencyDetailsDTO:
      title: RuntimeInputDependencyDetailsDTO
      x-stoplight:
        id: yzb8ohlc0azuq
      type: object
      x-internal: true
      properties:
        field_name:
          type: string
          x-stoplight:
            id: eirxgebz4n1zc
        input_name:
          type: string
          x-stoplight:
            id: 9bsov65akownz
    YamlInputType1:
      title: YamlInputType
      x-stoplight:
        id: pp5fe7khunidf
      x-internal: true
      description: ''
      enum:
      - String
      - Integer
      - Boolean
      - Object
      - Array
  responses:
    TemplateInputSchemaDetailsResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TemplateInputSchemaDetailsResponseBody'
    TemplateSchemaResponse:
      description: Template Schema Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TemplateSchemaResponse'
    IndividualSchemaResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IndividualSchemaResponseBody'
    PipelineInputSchemaDetailsResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PipelineInputSchemaDetailsResponseBody'
  requestBodies:
    TemplateInputsSchemaRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TemplateInputsSchemaRequestBody'
    PipelineInputsSchemaRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PipelineInputsSchemaRequestBody'
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
