openapi: 3.2.0
info:
  title: Harness System API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: System
  description: Unauthenticated support endpoints
paths:
  /sto/api/v2/system/health:
    get:
      tags:
      - System
      description: Check service health
      operationId: System#health
      responses:
        '204':
          description: Service is healthy.
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      summary: System#health
      x-summary-source: derived
  /sto/api/v2/system/version:
    get:
      tags:
      - System
      description: Get service version
      operationId: System#version
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoServiceVersion'
              example:
                commit: '0000000000000000000000000000000000000001'
                version: v0.123.0
      summary: System#version
      x-summary-source: derived
  /pm/api/v1/system/health:
    get:
      tags:
      - System
      description: Check service health
      operationId: system#health
      responses:
        '204':
          description: No Content response.
        '500':
          description: 'InternalServer: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/PolicyManagementError'
        '502':
          description: 'BadGateway: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/PolicyManagementError'
      summary: System#health
      x-summary-source: derived
  /pm/api/v1/system/version:
    get:
      tags:
      - System
      description: Check service version
      operationId: system#version
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceVersion'
              example:
                commit: 96381692bf3a2bd7904769c6886e832435768b57
                version: v0.123.0
        '500':
          description: 'InternalServer: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/PolicyManagementError'
        '502':
          description: 'BadGateway: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/PolicyManagementError'
      summary: System#version
      x-summary-source: derived
  /iacm/api/health:
    get:
      tags:
      - System
      summary: health system
      description: Check server health
      operationId: IaCMsystem#health
      responses:
        '200':
          description: OK response.
  /iacm/api/latest-plugin-version:
    post:
      tags:
      - System
      summary: latest-plugin-version system
      description: Get the latest plugin version
      operationId: system#latest-plugin-version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PluginReportedVersion'
            example:
              commit: 96381692bf3a2bd7904769c6886e832435768b57
              version: v0.123.0
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HarnessIacmPluginversion'
              example:
                commit: 96381692bf3a2bd7904769c6886e832435768b57
                version: 0.2.0
  /iacm/api/provisioners/{provisioner}/config:
    get:
      tags:
      - System
      summary: get-provisioner-config system
      description: Get provisioner configuration with supported versions and settings.
      operationId: system#get-provisioner-config
      parameters:
      - name: provisioner
        in: path
        description: Provisioner type to get configuration for.
        required: true
        schema:
          type: string
          description: Provisioner type to get configuration for.
          example: terragrunt
          enum:
          - awscdk
          - terraform
          - opentofu
          - terragrunt
          - all
        example: terragrunt
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvisionerConfig'
              example:
                awscdk:
                  versions:
                    Amet iusto maiores magnam.:
                      languages:
                        Eos mollitia et reiciendis distinctio.:
                          versions:
                            Dicta mollitia ut.:
                              package_manager:
                                Et architecto aut.:
                                - Aut rerum fugit expedita quis.
                                - Consequatur iste dolores ipsa consequatur enim magni.
                                Laudantium voluptatem molestiae voluptatem.:
                                - Ut enim architecto excepturi molestias nesciunt.
                                - Reprehenderit ipsum sed ut tempore culpa.
                                - Commodi molestiae pariatur.
                                - Sed qui iste quas voluptate.
                            Excepturi vero rerum.:
                              package_manager:
                                Et architecto aut.:
                                - Aut rerum fugit expedita quis.
                                - Consequatur iste dolores ipsa consequatur enim magni.
                                Laudantium voluptatem molestiae voluptatem.:
                                - Ut enim architecto excepturi molestias nesciunt.
                                - Reprehenderit ipsum sed ut tempore culpa.
                                - Commodi molestiae pariatur.
                                - Sed qui iste quas voluptate.
                            Recusandae autem officia.:
                              package_manager:
                                Et architecto aut.:
                                - Aut rerum fugit expedita quis.
                                - Consequatur iste dolores ipsa consequatur enim magni.
                                Laudantium voluptatem molestiae voluptatem.:
                                - Ut enim architecto excepturi molestias nesciunt.
                                - Reprehenderit ipsum sed ut tempore culpa.
                                - Commodi molestiae pariatur.
                                - Sed qui iste quas voluptate.
                        Omnis nemo non nemo similique qui.:
                          versions:
                            Dicta mollitia ut.:
                              package_manager:
                                Et architecto aut.:
                                - Aut rerum fugit expedita quis.
                                - Consequatur iste dolores ipsa consequatur enim magni.
                                Laudantium voluptatem molestiae voluptatem.:
                                - Ut enim architecto excepturi molestias nesciunt.
                                - Reprehenderit ipsum sed ut tempore culpa.
                                - Commodi molestiae pariatur.
                                - Sed qui iste quas voluptate.
                            Excepturi vero rerum.:
                              package_manager:
                                Et architecto aut.:
                                - Aut rerum fugit expedita quis.
                                - Consequatur iste dolores ipsa consequatur enim magni.
                                Laudantium voluptatem molestiae voluptatem.:
                                - Ut enim architecto excepturi molestias nesciunt.
                                - Reprehenderit ipsum sed ut tempore culpa.
                                - Commodi molestiae pariatur.
                                - Sed qui iste quas voluptate.
                            Recusandae autem officia.:
                              package_manager:
                                Et architecto aut.:
                                - Aut rerum fugit expedita quis.
                                - Consequatur iste dolores ipsa consequatur enim magni.
                                Laudantium voluptatem molestiae voluptatem.:
                                - Ut enim architecto excepturi molestias nesciunt.
                                - Reprehenderit ipsum sed ut tempore culpa.
                                - Commodi molestiae pariatur.
                                - Sed qui iste quas voluptate.
                        Quidem explicabo officiis earum.:
                          versions:
                            Dicta mollitia ut.:
                              package_manager:
                                Et architecto aut.:
                                - Aut rerum fugit expedita quis.
                                - Consequatur iste dolores ipsa consequatur enim magni.
                                Laudantium voluptatem molestiae voluptatem.:
                                - Ut enim architecto excepturi molestias nesciunt.
                                - Reprehenderit ipsum sed ut tempore culpa.
                                - Commodi molestiae pariatur.
                                - Sed qui iste quas voluptate.
                            Excepturi vero rerum.:
                              package_manager:
                                Et architecto aut.:
                                - Aut rerum fugit expedita quis.
                                - Consequatur iste dolores ipsa consequatur enim magni.
                                Laudantium voluptatem molestiae voluptatem.:
                                - Ut enim architecto excepturi molestias nesciunt.
                                - Reprehenderit ipsum sed ut tempore culpa.
                                - Commodi molestiae pariatur.
                                - Sed qui iste quas voluptate.
                            Recusandae autem officia.:
                              package_manager:
                                Et architecto aut.:
                                - Aut rerum fugit expedita quis.
                                - Consequatur iste dolores ipsa consequatur enim magni.
                                Laudantium voluptatem molestiae voluptatem.:
                                - Ut enim architecto excepturi molestias nesciunt.
                                - Reprehenderit ipsum sed ut tempore culpa.
                                - Commodi molestiae pariatur.
                                - Sed qui iste quas voluptate.
                    Nihil deserunt sapiente dolore voluptate ut.:
                      languages:
                        Eos mollitia et reiciendis distinctio.:
                          versions:
                            Dicta mollitia ut.:
                              package_manager:
                                Et architecto aut.:
                                - Aut rerum fugit expedita quis.
                                - Consequatur iste dolores ipsa consequatur enim magni.
                                Laudantium voluptatem molestiae voluptatem.:
                                - Ut enim architecto excepturi molestias nesciunt.
                                - Reprehenderit ipsum sed ut tempore culpa.
                                - Commodi molestiae pariatur.
                                - Sed qui iste quas voluptate.
                            Excepturi vero rerum.:
                              package_manager:
                                Et architecto aut.:
                                - Aut rerum fugit expedita quis.
                                - Consequatur iste dolores ipsa consequatur enim magni.
                                Laudantium voluptatem molestiae voluptatem.:
                                - Ut enim architecto excepturi molestias nesciunt.
                                - Reprehenderit ipsum sed ut tempore culpa.
                                - Commodi molestiae pariatur.
                                - Sed qui iste quas voluptate.
                            Recusandae autem officia.:
                              package_manager:
                                Et architecto aut.:
                                - Aut rerum fugit expedita quis.
                                - Consequatur iste dolores ipsa consequatur enim magni.
                                Laudantium voluptatem molestiae voluptatem.:
                                - Ut enim architecto excepturi molestias nesciunt.
                                - Reprehenderit ipsum sed ut tempore culpa.
                                - Commodi molestiae pariatur.
                                - Sed qui iste quas voluptate.
                        Omnis nemo non nemo similique qui.:
                          versions:
                            Dicta mollitia ut.:
                              package_manager:
                                Et architecto aut.:
                                - Aut rerum fugit expedita quis.
                                - Consequatur iste dolores ipsa consequatur enim magni.
                                Laudantium voluptatem molestiae voluptatem.:
                                - Ut enim architecto excepturi molestias nesciunt.
                                - Reprehenderit ipsum sed ut tempore culpa.
                                - Commodi molestiae pariatur.
                                - Sed qui iste quas voluptate.
                            Excepturi vero rerum.:
                              package_manager:
                                Et architecto aut.:
                                - Aut rerum fugit expedita quis.
                                - Consequatur iste dolores ipsa consequatur enim magni.
                                Laudantium voluptatem molestiae voluptatem.:
                                - Ut enim architecto excepturi molestias nesciunt.
                                - Reprehenderit ipsum sed ut tempore culpa.
                                - Commodi molestiae pariatur.
                                - Sed qui iste quas voluptate.
                            Recusandae autem officia.:
                              package_manager:
                                Et architecto aut.:
                                - Aut rerum fugit expedita quis.
                                - Consequatur iste dolores ipsa consequatur enim magni.
                                Laudantium voluptatem molestiae voluptatem.:
                                - Ut enim architecto excepturi molestias nesciunt.
                                - Reprehenderit ipsum sed ut tempore culpa.
                                - Commodi molestiae pariatur.
                                - Sed qui iste quas voluptate.
                        Quidem explicabo officiis earum.:
                          versions:
                            Dicta mollitia ut.:
                              package_manager:
                                Et architecto aut.:
                                - Aut rerum fugit expedita quis.
                                - Consequatur iste dolores ipsa consequatur enim magni.
                                Laudantium voluptatem molestiae voluptatem.:
                                - Ut enim architecto excepturi molestias nesciunt.
                                - Reprehenderit ipsum sed ut tempore culpa.
                                - Commodi molestiae pariatur.
                                - Sed qui iste quas voluptate.
                            Excepturi vero rerum.:
                              package_manager:
                                Et architecto aut.:
                                - Aut rerum fugit expedita quis.
                                - Consequatur iste dolores ipsa consequatur enim magni.
                                Laudantium voluptatem molestiae voluptatem.:
                                - Ut enim architecto excepturi molestias nesciunt.
                                - Reprehenderit ipsum sed ut tempore culpa.
                                - Commodi molestiae pariatur.
                                - Sed qui iste quas voluptate.
                            Recusandae autem officia.:
                              package_manager:
                                Et architecto aut.:
                                - Aut rerum fugit expedita quis.
                                - Consequatur iste dolores ipsa consequatur enim magni.
                                Laudantium voluptatem molestiae voluptatem.:
                                - Ut enim architecto excepturi molestias nesciunt.
                                - Reprehenderit ipsum sed ut tempore culpa.
                                - Commodi molestiae pariatur.
                                - Sed qui iste quas voluptate.
                opentofu:
                  versions:
                  - Labore velit.
                  - Quo facilis eum fuga ea ratione qui.
                terraform:
                  versions:
                  - Exercitationem debitis deleniti incidunt voluptatibus quos omnis.
                  - Est facere cupiditate ab enim expedita suscipit.
                  - Labore ab cum inventore et iste.
                  - Est vel aliquam quam illum.
                terragrunt:
                  versions:
                  - Beatae corrupti corporis.
                  - Sint eos.
                  - Odio accusamus repellendus.
                  - Minima quaerat.
  /iacm/api/provisioners/supported/{provisioner}:
    get:
      tags:
      - System
      summary: list-supported-provisioner-versions system
      description: List supported provisioner versions.
      operationId: system#list-supported-provisioner-versions
      parameters:
      - name: provisioner
        in: path
        description: Provisioner defines the provisioning tool to use.
        required: true
        schema:
          type: string
          description: Provisioner defines the provisioning tool to use.
          example: terragrunt
          enum:
          - terraform
          - opentofu
          - terragrunt
          - awscdk
        example: opentofu
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  example: Officiis atque commodi qui exercitationem provident.
                example:
                - Dolores saepe exercitationem ad tenetur facilis.
                - Consequatur aut.
                - Ullam dolores inventore quis et.
              example:
              - Debitis molestiae.
              - Est quia et qui omnis quas natus.
              - Autem qui est sed excepturi commodi.
              - Ipsam quod nisi ipsam.
  /iacm/api/version:
    get:
      tags:
      - System
      summary: version system
      description: Get server version
      operationId: IaCMsystem#version
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IaCMServiceVersion'
              example:
                commit: 96381692bf3a2bd7904769c6886e832435768b57
                deployment_mode: smp
                version: v0.123.0
components:
  schemas:
    NotFound:
      type: object
      properties:
        message:
          type: string
          example: Not Found
        status:
          type: integer
          default: 404
          example: 404
          format: int64
      example:
        message: Not Found
        status: 404
      required:
      - message
    StoServiceVersion:
      type: object
      properties:
        commit:
          type: string
          description: Build identifier
          example: '0000000000000000000000000000000000000001'
        version:
          type: string
          description: Version number
          example: v0.123.0
      example:
        commit: '0000000000000000000000000000000000000001'
        version: v0.123.0
      required:
      - version
      - commit
    OpentofuConfig:
      type: object
      properties:
        versions:
          type: array
          items:
            type: string
            example: Sit eligendi fuga suscipit laudantium.
          description: List of supported OpenTofu versions
          example:
          - Quo impedit.
          - Quos quis voluptas et.
          - Id id.
          - Eligendi unde.
      description: OpenTofu configuration
      example:
        versions:
        - Doloremque explicabo.
        - Nam dicta.
    HarnessIacmPluginversion:
      type: object
      properties:
        commit:
          type: string
          description: Build identifier
          example: 96381692bf3a2bd7904769c6886e832435768b57
        version:
          type: string
          description: Version number
          example: 0.2.0
      description: Plugin version
      example:
        commit: 96381692bf3a2bd7904769c6886e832435768b57
        version: 0.2.0
    PolicyManagementError:
      type: object
      properties:
        fault:
          type: boolean
          description: Is the error a server-side fault?
          example: true
        id:
          type: string
          description: ID is a unique identifier for this particular occurrence of the problem.
          example: 123abc
        message:
          type: string
          description: Message is a human-readable explanation specific to this occurrence of the problem.
          example: parameter 'p' must be an integer
        name:
          type: string
          description: Name is the name of this class of errors.
          example: bad_request
        temporary:
          type: boolean
          description: Is the error temporary?
          example: true
        timeout:
          type: boolean
          description: Is the error a timeout?
          example: true
      example:
        fault: false
        id: 123abc
        message: parameter 'p' must be an integer
        name: bad_request
        temporary: true
        timeout: false
      required:
      - name
      - id
      - message
      - temporary
      - timeout
      - fault
    LanguageConfig:
      type: object
      properties:
        versions:
          type: object
          description: Map of language versions to their configurations
          example:
            Quae est accusamus voluptas.:
              package_manager:
                Rerum quidem voluptatem est dignissimos ut.:
                - Nam doloribus consectetur delectus dolor id.
                - Ratione sit fuga quis.
                - Sit provident mollitia et cumque asperiores.
            Quo doloribus qui.:
              package_manager:
                Rerum quidem voluptatem est dignissimos ut.:
                - Nam doloribus consectetur delectus dolor id.
                - Ratione sit fuga quis.
                - Sit provident mollitia et cumque asperiores.
          additionalProperties:
            $ref: '#/components/schemas/LanguageVersionConfig'
      description: Configuration for a programming language
      example:
        versions:
          Consequuntur eveniet ad eveniet quo qui.:
            package_manager:
              Rerum quidem voluptatem est dignissimos ut.:
              - Nam doloribus consectetur delectus dolor id.
              - Ratione sit fuga quis.
              - Sit provident mollitia et cumque asperiores.
          Labore suscipit ratione.:
            package_manager:
              Rerum quidem voluptatem est dignissimos ut.:
              - Nam doloribus consectetur delectus dolor id.
              - Ratione sit fuga quis.
              - Sit provident mollitia et cumque asperiores.
          Sit eos.:
            package_manager:
              Rerum quidem voluptatem est dignissimos ut.:
              - Nam doloribus consectetur delectus dolor id.
              - Ratione sit fuga quis.
              - Sit provident mollitia et cumque asperiores.
    ProvisionerConfig:
      type: object
      properties:
        awscdk:
          $ref: '#/components/schemas/CDKConfig'
        opentofu:
          $ref: '#/components/schemas/OpentofuConfig'
        terraform:
          $ref: '#/components/schemas/TerraformConfig'
        terragrunt:
          $ref: '#/components/schemas/TerragruntConfig'
      description: Provisioner configuration response
      example:
        awscdk:
          versions:
            Cupiditate sapiente illo dignissimos qui et accusamus.:
              languages:
                At sit unde est laboriosam omnis velit.:
                  versions:
                    Distinctio ut quis possimus.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Itaque quisquam expedita id.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Iure dolorum adipisci sit magnam cum.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                Et adipisci nesciunt laboriosam.:
                  versions:
                    Distinctio ut quis possimus.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Itaque quisquam expedita id.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Iure dolorum adipisci sit magnam cum.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                Sint possimus aut qui.:
                  versions:
                    Distinctio ut quis possimus.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Itaque quisquam expedita id.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Iure dolorum adipisci sit magnam cum.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
            Quisquam dolorem sequi fuga ipsum dolore.:
              languages:
                At sit unde est laboriosam omnis velit.:
                  versions:
                    Distinctio ut quis possimus.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Itaque quisquam expedita id.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Iure dolorum adipisci sit magnam cum.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                Et adipisci nesciunt laboriosam.:
                  versions:
                    Distinctio ut quis possimus.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Itaque quisquam expedita id.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Iure dolorum adipisci sit magnam cum.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                Sint possimus aut qui.:
                  versions:
                    Distinctio ut quis possimus.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Itaque quisquam expedita id.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Iure dolorum adipisci sit magnam cum.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
        opentofu:
          versions:
          - Est libero nihil fuga similique non.
          - Maxime et quam rerum veritatis ut et.
          - Eius distinctio.
          - Sed laudantium.
        terraform:
          versions:
          - Ut explicabo omnis.
          - Odit minus minima.
          - Et deserunt in nesciunt.
        terragrunt:
          versions:
          - Autem consequatur incidunt nihil.
          - Ut officia consectetur et deleniti rerum.
          - Libero dolores eum voluptas porro.
          - Ab velit natus nobis ullam officiis.
    ServiceVersion:
      type: object
      properties:
        commit:
          type: string
          description: Build identifier
          example: 96381692bf3a2bd7904769c6886e832435768b57
        version:
          type: string
          description: Version number
          example: v0.123.0
      description: Service version
      example:
        commit: 96381692bf3a2bd7904769c6886e832435768b57
        version: v0.123.0
      required:
      - version
      - commit
    CDKVersionConfig:
      type: object
      properties:
        languages:
          type: object
          description: Map of language names to their configurations
          example:
            Aspernatur sed explicabo quia reiciendis quia.:
              versions:
                Distinctio ut quis possimus.:
                  package_manager:
                    Rerum quidem voluptatem est dignissimos ut.:
                    - Nam doloribus consectetur delectus dolor id.
                    - Ratione sit fuga quis.
                    - Sit provident mollitia et cumque asperiores.
                Itaque quisquam expedita id.:
                  package_manager:
                    Rerum quidem voluptatem est dignissimos ut.:
                    - Nam doloribus consectetur delectus dolor id.
                    - Ratione sit fuga quis.
                    - Sit provident mollitia et cumque asperiores.
                Iure dolorum adipisci sit magnam cum.:
                  package_manager:
                    Rerum quidem voluptatem est dignissimos ut.:
                    - Nam doloribus consectetur delectus dolor id.
                    - Ratione sit fuga quis.
                    - Sit provident mollitia et cumque asperiores.
            Voluptas qui alias inventore quia itaque accusantium.:
              versions:
                Distinctio ut quis possimus.:
                  package_manager:
                    Rerum quidem voluptatem est dignissimos ut.:
                    - Nam doloribus consectetur delectus dolor id.
                    - Ratione sit fuga quis.
                    - Sit provident mollitia et cumque asperiores.
                Itaque quisquam expedita id.:
                  package_manager:
                    Rerum quidem voluptatem est dignissimos ut.:
                    - Nam doloribus consectetur delectus dolor id.
                    - Ratione sit fuga quis.
                    - Sit provident mollitia et cumque asperiores.
                Iure dolorum adipisci sit magnam cum.:
                  package_manager:
                    Rerum quidem voluptatem est dignissimos ut.:
                    - Nam doloribus consectetur delectus dolor id.
                    - Ratione sit fuga quis.
                    - Sit provident mollitia et cumque asperiores.
          additionalProperties:
            $ref: '#/components/schemas/LanguageConfig'
      description: Configuration for a specific CDK version
      example:
        languages:
          Ex labore quod vitae dolor.:
            versions:
              Distinctio ut quis possimus.:
                package_manager:
                  Rerum quidem voluptatem est dignissimos ut.:
                  - Nam doloribus consectetur delectus dolor id.
                  - Ratione sit fuga quis.
                  - Sit provident mollitia et cumque asperiores.
              Itaque quisquam expedita id.:
                package_manager:
                  Rerum quidem voluptatem est dignissimos ut.:
                  - Nam doloribus consectetur delectus dolor id.
                  - Ratione sit fuga quis.
                  - Sit provident mollitia et cumque asperiores.
              Iure dolorum adipisci sit magnam cum.:
                package_manager:
                  Rerum quidem voluptatem est dignissimos ut.:
                  - Nam doloribus consectetur delectus dolor id.
                  - Ratione sit fuga quis.
                  - Sit provident mollitia et cumque asperiores.
          Sed inventore possimus.:
            versions:
              Distinctio ut quis possimus.:
                package_manager:
                  Rerum quidem voluptatem est dignissimos ut.:
                  - Nam doloribus consectetur delectus dolor id.
                  - Ratione sit fuga quis.
                  - Sit provident mollitia et cumque asperiores.
              Itaque quisquam expedita id.:
                package_manager:
                  Rerum quidem voluptatem est dignissimos ut.:
                  - Nam doloribus consectetur delectus dolor id.
                  - Ratione sit fuga quis.
                  - Sit provident mollitia et cumque asperiores.
              Iure dolorum adipisci sit magnam cum.:
                package_manager:
                  Rerum quidem voluptatem est dignissimos ut.:
                  - Nam doloribus consectetur delectus dolor id.
                  - Ratione sit fuga quis.
                  - Sit provident mollitia et cumque asperiores.
    CDKConfig:
      type: object
      properties:
        versions:
          type: object
          description: Map of CDK versions to their configurations
          example:
            Hic consequatur sit minus sit vitae.:
              languages:
                At sit unde est laboriosam omnis velit.:
                  versions:
                    Distinctio ut quis possimus.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Itaque quisquam expedita id.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Iure dolorum adipisci sit magnam cum.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                Et adipisci nesciunt laboriosam.:
                  versions:
                    Distinctio ut quis possimus.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Itaque quisquam expedita id.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Iure dolorum adipisci sit magnam cum.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                Sint possimus aut qui.:
                  versions:
                    Distinctio ut quis possimus.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Itaque quisquam expedita id.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Iure dolorum adipisci sit magnam cum.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
            Ratione veritatis esse et facere.:
              languages:
                At sit unde est laboriosam omnis velit.:
                  versions:
                    Distinctio ut quis possimus.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Itaque quisquam expedita id.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Iure dolorum adipisci sit magnam cum.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                Et adipisci nesciunt laboriosam.:
                  versions:
                    Distinctio ut quis possimus.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Itaque quisquam expedita id.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Iure dolorum adipisci sit magnam cum.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                Sint possimus aut qui.:
                  versions:
                    Distinctio ut quis possimus.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Itaque quisquam expedita id.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
                    Iure dolorum adipisci sit magnam cum.:
                      package_manager:
                        Rerum quidem voluptatem est dignissimos ut.:
                        - Nam doloribus consectetur delectus dolor id.
                        - Ratione sit fuga quis.
                        - Sit provident mollitia et cumque asperiores.
          additionalProperties:
            $ref: '#/components/schemas/CDKVersionConfig'
      description: CDK configuration
      example:
        versions:
          Ut ducimus.:
            languages:
              At sit unde est laboriosam omnis velit.:
                versions:
                  Distinctio ut quis possimus.:
                    package_manager:
                      Rerum quidem voluptatem est dignissimos ut.:
                      - Nam doloribus consectetur delectus dolor id.
                      - Ratione sit fuga quis.
                      - Sit provident mollitia et cumque asperiores.
                  Itaque quisquam expedita id.:
                    package_manager:
                      Rerum quidem voluptatem est dignissimos ut.:
                      - Nam doloribus consectetur delectus dolor id.
                      - Ratione sit fuga quis.
                      - Sit provident mollitia et cumque asperiores.
                  Iure dolorum adipisci sit magnam cum.:
                    package_manager:
                      Rerum quidem voluptatem est dignissimos ut.:
                      - Nam doloribus consectetur delectus dolor id.
                      - Ratione sit fuga quis.
                      - Sit provident mollitia et cumque asperiores.
              Et adipisci nesciunt laboriosam.:
                versions:
                  Distinctio ut quis possimus.:
                    package_manager:
                      Rerum quidem voluptatem est dignissimos ut.:
                      - Nam doloribus consectetur delectus dolor id.
                      - Ratione sit fuga quis.
                      - Sit provident mollitia et cumque asperiores.
                  Itaque quisquam expedita id.:
                    package_manager:
                      Rerum quidem voluptatem est dignissimos ut.:
                      - Nam doloribus consectetur delectus dolor id.
                      - Ratione sit fuga quis.
                      - Sit provident mollitia et cumque asperiores.
                  Iure dolorum adipisci sit magnam cum.:
                    package_manager:
                      Rerum quidem voluptatem est dignissimos ut.:
                      - Nam doloribus consectetur delectus dolor id.
                      - Ratione sit fuga quis.
                      - Sit provident mollitia et cumque asperiores.
              Sint possimus aut qui.:
                versions:
                  Distinctio ut quis possimus.:
                    package_manager:
                      Rerum quidem voluptatem est dignissimos ut.:
                      - Nam doloribus consectetur delectus dolor id.
                      - Ratione sit fuga quis.
                      - Sit provident mollitia et cumque asperiores.
                  Itaque quisquam expedita id.:
                    package_manager:
                      Rerum quidem voluptatem est dignissimos ut.:
                      - Nam doloribus consectetur delectus dolor id.
                      - Ratione sit fuga quis.
                      - Sit provident mollitia et cumque asperiores.
                  Iure dolorum adipisci sit magnam cum.:
                    package_manager:
                      Rerum quidem voluptatem est dignissimos ut.:
                      - Nam doloribus consectetur delectus dolor id.
                      - Ratione sit fuga quis.
                      - Sit provident mollitia et cumque asperiores.
    PluginReportedVersion:
      type: object
      properties:
        commit:
          type: string
          description: Build identifier
          example: 96381692bf3a2bd7904769c6886e832435768b57
        version:
          type: string
          description: Version number
          example: v0.123.0
      description: Plugin Reported Version
      example:
        commit: 96381692bf3a2bd7904769c6886e832435768b57
        version: v0.123.0
      required:
      - version
      - commit
    IaCMServiceVersion:
      type: object
      properties:
        commit:
          type: string
          description: Build identifier
          example: 96381692bf3a2bd7904769c6886e832435768b57
        deployment_mode:
          type: string
          description: Determines if the service is running on saas or smp
          example: saas
          enum:
          - saas
          - smp
        version:
          type: string
          description: Version number
          example: v0.123.0
      description: Service version
      example:
        commit: 96381692bf3a2bd7904769c6886e832435768b57
        deployment_mode: saas
        version: v0.123.0
      required:
      - version
      - commit
      - deployment_mode
    LanguageVersionConfig:
      type: object
      properties:
        package_manager:
          type: object
          description: Map of package manager names to their supported versions
          example:
            Tempora quod ex aut expedita aut repellendus.:
            - Non molestiae earum voluptatem et repudiandae.
            - Neque illum rerum nihil voluptas error.
          additionalProperties:
            type: array
            items:
              type: string
              example: Libero rerum laborum nemo ut et.
            example:
            - Maxime qui in et autem.
            - Et dolor.
            - Molestiae enim.
      description: Configuration for a specific language version
      example:
        package_manager:
          Et perferendis quis occaecati quae.:
          - Consequatur iste nihil et.
          - Rem molestiae harum consectetur et aut.
          Quas minima.:
          - Autem unde reprehenderit placeat.
          - Voluptates dolorem ipsa sit et consequatur dolorem.
          Velit totam nesciunt rerum ut eos.:
          - Est in maiores voluptas et aut.
          - Molestiae blanditiis nesciunt libero.
    TerraformConfig:
      type: object
      properties:
        versions:
          type: array
          items:
            type: string
            example: Sunt expedita.
          description: List of supported Terraform versions
          example:
          - Eos et totam dolore quo est.
          - Dolor officiis veritatis.
      description: Terraform configuration
      example:
        versions:
        - Odio totam quibusdam.
        - Est incidunt consectetur quisquam quo dolorem.
        - Quisquam quos.
        - Ullam in sapiente.
    TerragruntConfig:
      type: object
      properties:
        versions:
          type: array
          items:
            type: string
            example: Ex eius autem possimus incidunt error dolor.
          description: List of supported Terragrunt versions
          example:
          - Omnis aut quam aut quidem.
          - Sed corrupti sapiente aut ipsum non.
          - Ab saepe mollitia qui et non qui.
          - Voluptas numquam a sit mollitia.
      description: Terragrunt configuration
      example:
        versions:
        - Et minima.
        - Optio voluptatem.
        - Saepe labore labore voluptatibus voluptatibus.
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
