openapi: 3.2.0
info:
  title: Harness Account Certificate API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Account Certificate
  description: This contains APIs for account-scoped Certificates
  x-displayName: Account Certificates [Beta]
paths:
  /v1/certificates/{certificate}:
    parameters:
    - schema:
        type: string
      name: certificate
      in: path
      required: true
      description: Identifier field of the certificate
    get:
      summary: Retrieves the specified Certificate in account scope
      tags:
      - Account Certificate
      responses:
        '200':
          $ref: '#/components/responses/CertificateResponse'
      operationId: get-account-scoped-certificate
      description: Retrieves the specified certificate in account scope
      x-internal: true
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
    put:
      summary: Updates the specified Certificate in account scope
      operationId: update-account-scoped-certificate
      responses:
        '200':
          $ref: '#/components/responses/CertificateResponse'
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      tags:
      - Account Certificate
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/UpdateCertificateRequest'
    delete:
      summary: Deletes the specified Certificate from account scope
      operationId: delete-account-scoped-certificate
      responses:
        '204':
          description: No Content
        '400':
          headers: {}
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      - $ref: '#/components/parameters/ForceDelete'
      x-internal: true
      tags:
      - Account Certificate
  /v1/certificates/validate-unique-identifier/{certificate}:
    parameters:
    - schema:
        type: string
      name: certificate
      in: path
      required: true
      description: Identifier field of the certificate
    get:
      summary: Validate if the specified Certificate identifier is available for use in…
      tags:
      - Account Certificate
      responses:
        '200':
          $ref: '#/components/responses/CertificateValidateUniqueIdentifierResponse'
      operationId: validate-account-scoped-certificate-identifier
      description: Validate if the specified certificate identifier is available for use in account scope
      x-internal: true
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
  /v1/certificates:
    get:
      summary: Retrieves the list of Certificates in account scope
      tags:
      - Account Certificate
      responses:
        '200':
          $ref: '#/components/responses/CertificateListResponse'
      operationId: get-account-scoped-certificates
      description: Retrieves the list of certificates in account scope
      x-internal: true
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      - $ref: '#/components/parameters/SearchTerm1'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit1'
      - $ref: '#/components/parameters/Sort1'
      - $ref: '#/components/parameters/Order'
      - schema:
          type: boolean
          default: 'false'
        in: query
        name: include_all_available_at_scope
        description: Include all entities accessible at current scope
    post:
      summary: Creates a new Certificate in account scope
      operationId: create-account-scoped-certificates
      responses:
        '201':
          $ref: '#/components/responses/CertificateResponse'
      description: Creates a new certificate in account scope
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      tags:
      - Account Certificate
      security:
      - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/CreateCertificateRequest'
      x-internal: true
components:
  responses:
    CertificateValidateUniqueIdentifierResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: boolean
    CertificateResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CertificateResponseDTO'
    CertificateListResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/CertificateResponseDTO'
      headers:
        X-Total-Elements:
          schema:
            type: integer
          description: Total number of elements returned in Paginated response.
        X-Page-Number:
          schema:
            type: integer
          description: Page number in Paginated response.
        X-Page-Size:
          schema:
            type: integer
          description: Maximum page size in Paginated response.
  schemas:
    CertificateDetailsDTO:
      title: CertificateDetailsDTO
      x-stoplight:
        id: mlof3rn4vqe64
      type: object
      properties:
        issued_to:
          $ref: '#/components/schemas/CertificateIssuanceInfo'
        issued_by:
          $ref: '#/components/schemas/CertificateIssuanceInfo'
        valid_from:
          type: integer
          x-stoplight:
            id: j5a9tcl5i3a2o
          format: int64
        valid_to:
          type: integer
          x-stoplight:
            id: 1339ez6fx8l2g
          format: int64
        signature_algo:
          type: string
          x-stoplight:
            id: rx7w596wytqr3
    CertificateDTO:
      title: CertificateDTO
      x-stoplight:
        id: l9q8ph7p1mi4o
      description: This is the request dto to create a Certificate in Harness
      allOf:
      - $ref: '#/components/schemas/CertificateInfoDTO'
      - type: object
        properties:
          input_spec:
            $ref: '#/components/schemas/CertificateInputSpecDTO'
        required:
        - input_spec
    CertificateIssuanceInfo:
      title: CertificateIssuanceInfo
      x-stoplight:
        id: ag74zjmlc3qyp
      type: object
      properties:
        common_name:
          type: string
          x-stoplight:
            id: ei027bhkq7cam
        organization:
          type: string
          x-stoplight:
            id: anat62b0vdzp7
        organizational_unit:
          type: string
          x-stoplight:
            id: 1ll9qrdntms7o
    CertificateResponseDTO:
      title: CertificateResponseDTO
      x-stoplight:
        id: 08arjpkqc1kl4
      type: object
      properties:
        certificate:
          $ref: '#/components/schemas/CertificateDTO'
        certificate_details:
          $ref: '#/components/schemas/CertificateDetailsDTO'
        created:
          type: integer
          x-stoplight:
            id: 1la1qxtgvwuuj
          format: int64
        updated:
          type: integer
          x-stoplight:
            id: dzphxs7u5apmm
          format: int64
      required:
      - certificate
      - certificate_details
    CertificateInfoDTO:
      title: CertificateInfoDTO
      x-stoplight:
        id: o43wu1pwo0n40
      type: object
      description: This is the Certificate Entity in Harness
      properties:
        name:
          type: string
          x-stoplight:
            id: 5s4lvxucs4340
          description: Name for the Entity.
          pattern: ^[0-9a-zA-Z-_ ]{0,127}$
          minLength: 1
          maxLength: 128
        identifier:
          type: string
          x-stoplight:
            id: hr2a03wdanpjs
          description: Identifier for the Entity.
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
        org:
          type: string
          x-stoplight:
            id: mo4zkt909dmyx
          description: Organization Identifier for the Entity.
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
        project:
          type: string
          x-stoplight:
            id: ykyl1jrjm5yae
          description: Project Identifier for the Entity.
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
        certificate_value:
          type: string
          x-stoplight:
            id: xmkfxyqoijdcd
          description: Certificate Content (Read only field whose value is populated only in response)
          readOnly: true
        tags:
          type: object
          additionalProperties:
            type: string
          x-stoplight:
            id: bignws4547i7g
          description: Certificate tags
        description:
          type: string
          x-stoplight:
            id: enyo3ngtqsypb
      required:
      - name
      - identifier
    CertificateInputSpecDTO:
      title: CertificateInputSpecDTO
      x-stoplight:
        id: 0d1izu97xpl66
      type: object
      discriminator:
        propertyName: type
        mapping:
          TEXT: '#/components/schemas/TextCertificateInputSpecDTO'
          FILE: '#/components/schemas/FileCertificateInputSpecDTO'
      properties:
        type:
          $ref: '#/components/schemas/CertificateInputSpecType'
      required:
      - type
      description: ''
    CertificateInputSpecType:
      title: CertificateInputSpecType
      x-stoplight:
        id: nhxqu9kwgv634
      type: string
      enum:
      - TEXT
      - FILE
      description: This defines different ways a certificate can be created
  parameters:
    SearchTerm1:
      name: search_term
      in: query
      required: false
      schema:
        type: string
      description: This would be used to filter resources having attributes matching with search term.
    Sort1:
      name: sort
      in: query
      required: false
      schema:
        type: string
        enum:
        - name
        - identifier
        - created
        - updated
      description: Parameter on the basis of which sorting is done.
    AccountHeader:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
    Order:
      name: order
      in: query
      required: false
      schema:
        type: string
        enum:
        - ASC
        - DESC
      description: Order on the basis of which sorting is done.
    ForceDelete:
      name: forceDelete
      in: query
      schema:
        type: boolean
        default: false
      description: Enable this field to force delete the entity
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t"
    Limit1:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 20
        maximum: 1000
      description: Number of items to return per page.
  requestBodies:
    UpdateCertificateRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CertificateDTO'
        multipart/form-data:
          schema:
            type: object
            properties:
              spec:
                $ref: '#/components/schemas/CertificateDTO'
              file:
                type: string
                x-stoplight:
                  id: 11s7g7fmuu0xw
                format: binary
            required:
            - spec
    CreateCertificateRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CertificateDTO'
          examples:
            example-certificate-input-text:
              value:
                name: example_name
                identifier: example_identifier
                org: example_org
                project: example_project
                certificateValue: actual_certificate_content
                tags:
                  property1: tag1
                  property2: tag2
                description: example_description
                inputSpec:
                  type: TEXT
        multipart/form-data:
          schema:
            type: object
            properties:
              spec:
                $ref: '#/components/schemas/CertificateDTO'
              file:
                type: string
                x-stoplight:
                  id: o0m5hvts15hyp
                format: binary
            required:
            - spec
            - file
          examples: {}
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
