openapi: 3.2.0
info:
  title: Harness Input Sets API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Input Sets
  description: This contains APIs for Input Sets.
  x-displayName: Input Sets [Beta]
paths:
  /v1/orgs/{org}/projects/{project}/input-sets:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: Create an Input Set
      operationId: create-input-set
      responses:
        '201':
          $ref: '#/components/responses/InputSetResponseBody'
      tags:
      - Input Sets
      description: Creates an Input Set for a Pipeline.
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      - $ref: '#/components/parameters/PipelineInputSetParam'
      requestBody:
        $ref: '#/components/requestBodies/InputSetCreateRequestBody'
      x-stoplight:
        id: rs93jxpccd461
    get:
      summary: List Input Sets
      operationId: list-input-sets
      responses:
        '200':
          $ref: '#/components/responses/InputSetListResponseBody'
      tags:
      - Input Sets
      description: Returns a List of Input Sets for a Pipeline.
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      - $ref: '#/components/parameters/PipelineInputSetParam'
      - $ref: '#/components/parameters/PageIndex'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/SearchTerm'
      - $ref: '#/components/parameters/Sort4'
      - $ref: '#/components/parameters/Order'
      x-stoplight:
        id: r1m5r04ew0edo
  /v1/orgs/{org}/projects/{project}/input-sets/{input-set}:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/InputSetParam'
    get:
      summary: Retrieve an Input Set
      tags:
      - Input Sets
      responses:
        '200':
          $ref: '#/components/responses/InputSetResponseBody'
      operationId: get-input-set
      description: Retrieves an Input Set for a Pipeline.
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      - $ref: '#/components/parameters/PipelineInputSetParam'
      - $ref: '#/components/parameters/Branch'
      - schema:
          type: string
        in: query
        name: parent_entity_connector_ref
        description: Connector reference for Parent Entity (Pipeline).
      - schema:
          type: string
        in: query
        name: parent_entity_repo_name
        description: Repository name for Parent Entity (Pipeline).
      - schema:
          type: boolean
          default: 'false'
        in: query
        name: load_from_fallback_branch
        description: Flag to load the pipeline from the created non default branch
      - schema:
          type: string
          default: 'false'
        in: header
        description: Specifies whether the remote pipeline should be loaded from Git or Git cache.
        name: Load-From-Cache
      x-stoplight:
        id: cghityrhzn3qi
    put:
      summary: Update an Input Set
      operationId: update-input-set
      responses:
        '200':
          $ref: '#/components/responses/InputSetResponseBody'
      description: Updates an Input Set for a Pipeline.
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      - $ref: '#/components/parameters/PipelineInputSetParam'
      tags:
      - Input Sets
      requestBody:
        $ref: '#/components/requestBodies/InputSetUpdateRequestBody'
      x-stoplight:
        id: yngruwctpu1nf
    delete:
      summary: Delete an Input Set
      operationId: delete-input-set
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-resp:
                  value: {}
            application/yaml:
              schema:
                type: object
                properties: {}
              examples:
                example-resp:
                  value: '{}

                    '
      tags:
      - Input Sets
      description: Deletes an Input Set for a Pipeline.
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      - $ref: '#/components/parameters/PipelineInputSetParam'
      x-stoplight:
        id: mgc4ka4g4nczv
  /v1/orgs/{org}/projects/{project}/input-sets/{input-set}/move-config:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/InputSetParam'
    post:
      summary: Move InputSet YAML from inline to remote
      operationId: inputSetsMoveConfig
      description: Creates a remote entity by fetching the input set YAML from Harness.
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      security:
      - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/InputSetMoveConfigRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/InputSetMoveConfigResponseBody'
      tags:
      - Input Sets
      x-internal: false
      x-stoplight:
        id: z1803ifds8q83
  /v1/orgs/{org}/projects/{project}/input-sets/{input-set}/import:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/InputSetParam'
    post:
      summary: Get Input Set YAML from Git Repository
      operationId: importInputSetFromGit
      responses:
        '200':
          $ref: '#/components/responses/InputSetImportResponseBody'
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      - $ref: '#/components/parameters/PipelineInputSetParam'
      requestBody:
        $ref: '#/components/requestBodies/InputSetImportRequestBody'
      description: Fetches InputSet YAML from Git Repository and saves a record for it in Harness
      tags:
      - Input Sets
      x-stoplight:
        id: qa15eqrayvc6f
  /v1/orgs/{org}/projects/{project}/input-sets/{input-set}/git-metadata:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/InputSetParam'
    put:
      summary: Update GitMetadata for Remote InputSet
      operationId: update-input-set-git-metadata
      responses:
        '200':
          $ref: '#/components/responses/GitMetadataUpdateResponseBody'
      requestBody:
        $ref: '#/components/requestBodies/GitMetadataUpdateRequestBody'
      security:
      - x-api-key: []
      tags:
      - Input Sets
      description: Update git-metadata in remote inputSet and return the updated inputSet
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      - $ref: '#/components/parameters/PipelineInputSetParam'
      x-stoplight:
        id: 27vwjxn4ddjd9
  /v1/orgs/{org}/projects/{project}/input-sets/merge:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    post:
      summary: Merged input sets
      operationId: merged-input-sets
      responses:
        '200':
          $ref: '#/components/responses/MergeInputSetResponseBody'
      x-stoplight:
        id: ljg2bbzoqmc07
      description: Gets merged input sets
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      - schema:
          type: string
        in: header
        name: Load-From-Cache
        description: Flag to enable loading the remote Pipeline from git or git cache
      - $ref: '#/components/parameters/PipelineInputSetParam'
      - $ref: '#/components/parameters/PipelineRepoID'
      - $ref: '#/components/parameters/PipelineBranch'
      - $ref: '#/components/parameters/Branch'
      - schema:
          type: string
        in: query
        name: parent_entity_connector_ref
        description: Connector reference for Parent Entity (Pipeline).
      - schema:
          type: string
        in: query
        name: parent_entity_repo_name
        description: Repository name for Parent Entity (Pipeline).
      requestBody:
        $ref: '#/components/requestBodies/MergeInputSetRequestBody'
      x-internal: true
      tags:
      - Input Sets
      x-summary-source: derived
components:
  parameters:
    PageIndex:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: 'Pagination page number strategy: Specify the page number within the paginated collection related to the number of items on each page.'
    Branch:
      name: branch_name
      in: query
      required: false
      schema:
        type: string
      description: Name of the branch (for Git Experience).
    OrgParam:
      description: Organization identifier
      in: path
      name: org
      required: true
      schema:
        type: string
    AccountHeader4:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to.
    PipelineBranch:
      name: pipeline_branch
      in: query
      required: false
      schema:
        type: string
      description: Github branch of the Pipeline to which the Input Sets belong
    InputSetParam:
      name: input-set
      in: path
      required: true
      schema:
        type: string
      description: Input Set identifier
    Sort4:
      name: sort
      in: query
      required: false
      schema:
        type: string
        enum:
        - name
        - updated
      description: Parameter on the basis of which sorting is done.
    Order:
      name: order
      in: query
      required: false
      schema:
        type: string
        enum:
        - ASC
        - DESC
      description: Order on the basis of which sorting is done.
    SearchTerm:
      name: search_term
      in: query
      required: false
      schema:
        type: string
      description: This would be used to filter resources having attributes matching the search term.
    ProjectParam:
      description: Project identifier
      in: path
      name: project
      required: true
      schema:
        type: string
    PipelineRepoID:
      name: pipeline_repo_id
      in: query
      required: false
      schema:
        type: string
      description: Github Repo identifier of the Pipeline to which the Input Sets belong
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 30
        maximum: 100
      description: 'Pagination: Number of items to return.'
    PipelineInputSetParam:
      name: pipeline
      in: query
      required: true
      schema:
        type: string
      description: Pipeline identifier for the Input Set.
  schemas:
    InputSetGitUpdateDetails:
      title: InputSetGitUpdateDetails
      x-stoplight:
        id: 2re2q4nrc5uhn
      type: object
      description: Contains parameters related to updating an Input Set for Git Experience.
      x-examples:
        example-update-git:
          branch_name: branch
          commit_message: Added Harness Git Experience
          last_object_id: abcdXYZ
          base_branch: old_branch
          last_commit_id: abcdXYZ
          parent_entity_connector_ref: git_connector
          parent_entity_repo_name: example_repository
      properties:
        branch_name:
          type: string
          description: Name of the branch.
        commit_message:
          type: string
          description: Commit message used for the merge commit.
        last_object_id:
          type: string
          description: Last object identifier (for Github only).
        base_branch:
          type: string
          description: Name of the default branch (this checks out a new branch titled by branch_name).
        last_commit_id:
          type: string
          description: Last commit identifier.
        parent_entity_connector_ref:
          type: string
          description: Connector reference for Parent Entity (Pipeline).
        parent_entity_repo_name:
          type: string
          description: Repository name for Parent Entity (Pipeline).
    MergeInputSetRequestBody:
      title: MergeInputSetRequestBody
      x-stoplight:
        id: k5st1k03q3tdm
      type: object
      properties:
        input_set_references:
          type: array
          x-stoplight:
            id: wcpksws2ddm8o
          description: List of Input Set References to be merged
          items:
            x-stoplight:
              id: iqji388ebim3m
            type: string
        with_merged_pipeline_yaml:
          type: boolean
          x-stoplight:
            id: 59mojf9htbss4
          description: This is a boolean value that indicates if the response must contain the YAML for the merged Pipeline. The default value is False.
          default: false
        stage_identifiers:
          type: array
          x-stoplight:
            id: 1p0gidwvhedap
          description: List of Stage Ids. Input Sets corresponding to these Ids will be merged.
          items:
            x-stoplight:
              id: h7h4eg79nt7mm
            type: string
        last_yaml_to_merge:
          type: string
          x-stoplight:
            id: 1ml6olvzhv44g
          description: Runtime Input Yaml needed to be merged into the result of the merged Yaml of the inputSetReferences
        get_only_file_content:
          type: boolean
          x-stoplight:
            id: wa02yytjz3utc
          description: To be set true if we want to set user flow in thread context
          default: false
    InputSetUpdateRequestBody:
      title: Input Set Update Request Body
      x-stoplight:
        id: 9nrhngh6a2y0i
      type: object
      description: Input Set update request body
      x-examples:
        example-input-set:
          input_set_yaml: "inputSet:\n    pipeline:\n        identifier: Example_Pipeline\n        stages:\n            - stage:\n                  identifier: Example_Stage\n                  type: Approval\n                  spec:\n                      execution:\n                          steps:\n                              - step:\n                                    identifier: Approval_Step\n                                    type: HarnessApproval\n                                    spec:\n                                        approvers:\n                                            userGroups:\n                                                - account.Admins\n                              - step:\n                                    identifier: Shellscript_Step\n                                    type: ShellScript\n                                    spec:\n                                        source:\\n                                            type: Inline\n                                            spec:\\n                                                script: echo \"ShellScript\"\n            - stage:\n                  identifier: Sample_Deploy_Stage\n                  type: Deployment\n                  spec:\n                      serviceConfig:\n                          serviceRef: Service1\n                      infrastructure:\n                          environmentRef: Env1\n                          infrastructureDefinition:\n                              type: KubernetesDirect\n                              spec:\n                                  connectorRef: account.harnessciplatform\n                                  namespace: sample"
          identifier: example_input_set
          name: ExampleInputSet
          description: Input Set Description
          tags:
            property1: example-tag-1-value
            property2: example-tag-2-value
          git_details:
            branch_name: branch
            commit_message: Added Harness Git Experience
            last_object_id: abcdXYZ
            base_branch: old_branch
            last_commit_id: abcdXYZ
            parent_entity_connector_ref: git_connector
            parent_entity_repo_name: example_repository
      properties:
        input_set_yaml:
          type: string
          description: Input Set YAML (to be passed as a String).
        identifier:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
          description: Input Set identifier
        name:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$
          minLength: 1
          maxLength: 128
          description: Input Set name
        description:
          type: string
          maxLength: 1024
          description: Input Set description
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Input Set tags
        git_details:
          $ref: '#/components/schemas/InputSetGitUpdateDetails'
      required:
      - input_set_yaml
      - identifier
      - name
    InputSetCreateRequestBody:
      title: Input Set Create Request Body
      x-stoplight:
        id: 8edts07y7e861
      type: object
      description: Input Set create request body
      x-examples:
        example-input-set:
          input_set_yaml: "inputSet:\n    pipeline:\n        identifier: Example_Pipeline\n        stages:\n            - stage:\n                  identifier: Example_Stage\n                  type: Approval\n                  spec:\n                      execution:\n                          steps:\n                              - step:\n                                    identifier: Approval_Step\n                                    type: HarnessApproval\n                                    spec:\n                                        approvers:\n                                            userGroups:\n                                                - account.Admins\n                              - step:\n                                    identifier: Shellscript_Step\n                                    type: ShellScript\n                                    spec:\n                                        source:\\n                                            type: Inline\n                                            spec:\\n                                                script: echo \"ShellScript\"\n            - stage:\n                  identifier: Sample_Deploy_Stage\n                  type: Deployment\n                  spec:\n                      serviceConfig:\n                          serviceRef: Service1\n                      infrastructure:\n                          environmentRef: Env1\n                          infrastructureDefinition:\n                              type: KubernetesDirect\n                              spec:\n                                  connectorRef: account.harnessciplatform\n                                  namespace: sample"
          identifier: example_input_set
          name: ExampleInputSet
          description: Input Set Description
          tags:
            property1: example-tag-1-value
            property2: example-tag-2-value
          git_details:
            branch_name: branch
            file_path: /folder/file.json
            commit_message: Added Harness Git Experience
            base_branch: old_branch
            connector_ref: git_connector
            store_type: INLINE
            repo_name: example_repository
      properties:
        input_set_yaml:
          type: string
          description: Input Set YAML (to be passed as a String).
        identifier:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
          description: Input Set identifier
        name:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$
          minLength: 1
          maxLength: 128
          description: Input Set name
        description:
          type: string
          maxLength: 1024
          description: Input Set description
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Input Set tags
        git_details:
          $ref: '#/components/schemas/GitCreateDetails'
      required:
      - input_set_yaml
      - identifier
      - name
    InputSetImportRequestBody:
      title: InputSet Import Request Body
      x-stoplight:
        id: g9uxpfdotak6l
      type: object
      description: InputSet import request body
      properties:
        git_import_info:
          $ref: '#/components/schemas/GitImportInfo'
        input_set_import_request:
          $ref: '#/components/schemas/InputSetImportRequestDTO'
    MoveConfigOperationType:
      type: string
      enum:
      - INLINE_TO_REMOTE
      description: Operation type to move the configuration
      x-stoplight:
        id: 4g4asyvl1x30z
    InputSetMoveConfigRequestBody:
      title: InputSetMoveConfigRequestBody
      x-stoplight:
        id: n08yyys6gjbuy
      type: object
      description: Request body for moving an input set configuration.
      properties:
        git_details:
          $ref: '#/components/schemas/GitMoveDetails'
        pipeline_identifier:
          type: string
        input_set_identifier:
          type: string
        move_config_operation_type:
          $ref: '#/components/schemas/MoveConfigOperationType'
    GitImportInfo:
      title: Import Git Information
      x-stoplight:
        id: 4r6psagtvh768
      type: object
      properties:
        connector_ref:
          type: string
        repo_name:
          type: string
        branch_name:
          type: string
        file_path:
          type: string
        is_force_import:
          type: boolean
      description: Parameters related to importing an entity for Git.
    GitMoveDetails:
      title: Move Git Details
      x-stoplight:
        id: h9mvvh1pdo378
      type: object
      description: Parameters related to moving an entity for Git Experience.
      x-examples:
        example-create-git:
          branch_name: branch
          file_path: /folder/file.json
          commit_message: Added Harness Git Experience
          base_branch: old_branch
          connector_ref: git_connector
          repo_name: example_repository
      properties:
        branch_name:
          type: string
          description: Name of the branch. When moving an inline pipeline or a remote pipeline, this branch is where the remote entity is created or fetched.
        file_path:
          type: string
          description: File path of the entity in the repository.
        commit_message:
          type: string
          description: Merge commit message.
        base_branch:
          type: string
          description: Default branch name. This checks out the branch titled branch_name
        connector_ref:
          type: string
          description: Harness connector id used for entity CRUD operations
        repo_name:
          type: string
          description: Name of the repository.
    InputSetErrorDetails:
      title: Input Set Error Details
      x-stoplight:
        id: 9c1uhrh6csyh5
      type: object
      description: Error details regarding Input Sets.
      properties:
        valid:
          type: boolean
          description: Specifies whether Input Set is a valid or not.
        message:
          type: string
          description: Failure message for Input Set.
        outdated:
          type: boolean
          description: Input Set is outdated with respect to the Pipeline or not.
        error_pipeline_yaml:
          type: string
          description: If an Input Set save fails, this field contains the Pipeline YAML as a String, with the field values replaced by a UUID.
        fqn_errors:
          type: array
          items:
            $ref: '#/components/schemas/FQNtoError'
        invalid_refs:
          type: array
          description: List of Input Set References that are invalid.
          items:
            type: string
      x-examples:
        example-input-set-err:
          valid: false
          message: Some fields in the Input Set are invalid.
          outdated: true
          error_pipeline_yaml: 'serviceConfig: "pipeline.stages.example_deploy_stage.spec.serviceConfig"

            '
          fqn_errors:
          - fqn: pipeline.stages.example_deploy_stage.spec.serviceConfig
            errors:
            - field_name: serviceConfig
              message: Field not a runtime input
              identifier_of_error_source: example_input_set
          invalid_refs:
          - example_invalid_input_set
    InputSetImportResponseBody:
      title: InputSet Import Response Body
      x-stoplight:
        id: i10mr579d4243
      type: object
      properties:
        input_set_identifier:
          type: string
      description: Response body for Input Set import.
    GitMetadataUpdateRequestBody:
      title: GitMetadataUpdateRequestBody
      x-stoplight:
        id: 5dgkx1gdp5ht4
      type: object
      properties:
        connector_ref:
          type: string
          description: Harness connector id used for entity CRUD operations
        repo_name:
          type: string
          description: Name of the repository.
        file_path:
          type: string
          description: File path of the entity in the repository.
    GitDetails:
      title: Git Response Details
      x-stoplight:
        id: f37z1efdf6zuu
      type: object
      description: Git Experience related details of the Entity.
      x-examples:
        example-git:
          object_id: example_object
          branch_name: branch
          file_path: /folder/file.json
          repo_name: example_repository
          commit_id: abcd123
          file_url: www.repo/folder/file.com
          repo_url: www.repo.com
      properties:
        object_id:
          type: string
          description: Object identifier / blob id
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_$]{0,127}$
          minLength: 1
          maxLength: 128
        branch_name:
          type: string
          description: Name of the branch.
        file_path:
          type: string
          description: File path of the Entity in the repository.
        repo_name:
          type: string
          description: Name of the repository.
        commit_id:
          type: string
          description: Latest commit identifier.
        file_url:
          type: string
          description: File URL of the Entity.
        repo_url:
          type: string
          description: Repository URL of the Entity.
    InputSetErrorWrapperDTO:
      title: InputSetErrorWrapperDTO
      x-stoplight:
        id: myvczjgywe83u
      type: object
      properties:
        error_pipeline_yaml:
          type: string
          x-stoplight:
            id: zlmqxv0u9x8st
          description: If an Input Set save fails, this field contains the error fields, with the field values replaced with a UUID
        uuid_to_error_response_map:
          type: object
          x-stoplight:
            id: er8nwjuhq2tsr
          description: If an Input Set save fails, this field contains the map from FQN to why that FQN threw an error
        invalid_inputset_references:
          type: array
          x-stoplight:
            id: l73msd4aptj36
          description: List of Input Sets that are invalid
          items:
            x-stoplight:
              id: 1ci5txn9wsel4
            type: string
    FQNtoError:
      title: FQN to Error
      x-stoplight:
        id: hu06g9aq5bo5e
      type: object
      description: FQN to error response mapper.
      x-examples:
        example-fqn-map:
          fqn: pipeline.stages.example_deploy_stage.spec.serviceConfig
          errors:
          - field_name: serviceConfig
            message: Field not a runtime input
            identifier_of_error_source: example_input_set
      properties:
        fqn:
          type: string
          description: Fully Qualified Name
        errors:
          type: array
          description: Errors in FQN
          items:
            $ref: '#/components/schemas/InputSetError'
    InputSetImportRequestDTO:
      title: InputSet Import Request DTO
      x-stoplight:
        id: 1cwihgz3ewpmc
      type: object
      description: Information of InputSet import request DTO
      properties:
        input_set_name:
          type: string
        input_set_description:
          type: string
    InputSetResponseBody:
      title: Input Set Response Body
      x-stoplight:
        id: qv6jrxhxt9r93
      type: object
      description: Response body for Input Set
      properties:
        input_set_yaml:
          type: string
          description: Input Set YAML (returned as a String).
        identifier:
          type: string
          description: Input Set identifier
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
        name:
          type: string
          description: Input Set name
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$
          minLength: 1
          maxLength: 128
        org:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
          description: Organization identifier
        project:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
          description: Project identifier
        pipeline:
          type: string
          description: Pipeline identifier
        description:
          type: string
          maxLength: 1024
          description: Input Set description
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Input Set tags
        store_type:
          type: string
          description: Specifies whether the Entity is to be stored in Git or not (for Git Experience).
          enum:
          - INLINE
          - REMOTE
        connector_ref:
          type: string
          description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
        git_details:
          $ref: '#/components/schemas/GitDetails'
        created:
          type: integer
          description: Creation timestamp for Input Set.
          format: int64
        updated:
          type: integer
          description: Last modification timestamp for Input Set.
          format: int64
        error_details:
          $ref: '#/components/schemas/InputSetErrorDetails'
      x-examples:
        example-input-set:
          input_set_yaml: example_input_set_yaml
          identifier: example_input_set
          name: Example Input Set
          org: example_org
          project: example_project
          description: InputSet Description
          tags:
            example-tag-1: example-tag-1-value
            example-tag-2: example-tag-2-value
          git_details:
            object_id: example_object
            branch_name: branch
            file_path: /folder/file.json
            repo_name: example_repository
            commit_id: abcd123
            file_url: www.repo/folder/file.com
            repo_url: www.repo.com
          created: 1234567890
          updated: 9876543210
          error_details:
            valid: false
            message: Some fields in the Input Set are invalid.
            outdated: true
            error_pipeline_yaml: 'serviceConfig: "pipeline.stages.example_deploy_stage.spec.serviceConfig"

              '
            fqn_errors:
            - fqn: pipeline.stages.example_deploy_stage.spec.serviceConfig
              errors:
              - field_name: serviceConfig
                message: Field not a runtime input
                identifier_of_error_source: example_input_set
            invalid_refs:
            - example_invalid_input_set
    GitMetadataUpdateResponseBody:
      title: GitMetadataUpdateResponseBody
      x-stoplight:
        id: cnycqmk3by4zk
      type: object
      properties:
        entity_identifier:
          type: string
          description: identifier of updated entity
    GitCreateDetails:
      title: Create Git Details
      x-stoplight:
        id: ksk60vtpcl9b2
      type: object
      description: Contains parameters related to creating an Entity for Git Experience.
      x-examples:
        example-create-git:
          branch_name: branch
          file_path: /folder/file.json
          commit_message: Added Harness Git Experience
          base_branch: old_branch
          connector_ref: git_connector
          store_type: REMOTE
          repo_name: example_repository
      properties:
        branch_name:
          type: string
          description: Name of the branch.
        file_path:
          type: string
          description: File path of the Entity in the repository.
        commit_message:
          type: string
          description: Commit message used for the merge commit.
        base_branch:
          type: string
          description: Name of the default branch (this checks out a new branch titled by branch_name).
        connector_ref:
          type: string
          description: Identifier of the Harness Connector used for CRUD operations on the Entity.
        store_type:
          type: string
          description: Specifies whether the Entity is to be stored in Git or not.
          enum:
          - INLINE
          - REMOTE
        repo_name:
          type: string
          description: Name of the repository.
    InputSetMoveConfigResponseBody:
      title: InputSetMoveConfigResponseBody
      x-stoplight:
        id: uelqspa0eldno
      type: object
      properties:
        input_set_identifier:
          type: string
      description: Response body for moving an input set configuration.
    MergeInputSetResponseBody:
      title: MergeInputSetResponseBody
      x-stoplight:
        id: nyl6mxy742g0r
      type: object
      properties:
        inputs_yaml_merged:
          type: string
          x-stoplight:
            id: zema5grm0k2ay
          description: Merged YAML of all the Input Sets
        merged_pipeline_yaml:
          type: string
          x-stoplight:
            id: mhqdz2vtie51i
          description: Pipeline YAML after merging with the Input Sets
        is_error_response:
          type: boolean
          x-stoplight:
            id: gl7jmu6lfdr97
          description: This field is true if the merging is not possible
        inputset_error_wrapper:
          $ref: '#/components/schemas/InputSetErrorWrapperDTO'
    InputSetError:
      title: Input Set Error
      x-stoplight:
        id: 49aa5ekivpuej
      type: object
      description: Input Set error
      properties:
        field_name:
          type: string
          description: Field name that has an error.
        message:
          type: string
          description: Error description
        identifier_of_error_source:
          type: string
          description: Identifier of Input Set
      x-examples:
        example-error:
          field_name: serviceConfig
          message: Field not a runtime input
          identifier_of_error_source: example_input_set
  requestBodies:
    MergeInputSetRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MergeInputSetRequestBody'
    InputSetCreateRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InputSetCreateRequestBody'
          examples:
            example-input:
              value:
                input_set_yaml: "inputSet:\n    pipeline:\n        identifier: Example_Pipeline\n        stages:\n            - stage:\n                  identifier: Example_Stage\n                  type: Approval\n                  spec:\n                      execution:\n                          steps:\n                              - step:\n                                    identifier: Approval_Step\n                                    type: HarnessApproval\n                                    spec:\n                                        approvers:\n                                            userGroups:\n                                                - account.Admins\n                              - step:\n                                    identifier: Shellscript_Step\n                                    type: ShellScript\n                                    spec:\n                                        source:\\n                                            type: Inline\n                                            spec:\\n                                                script: echo \"ShellScript\"\n            - stage:\n                  identifier: Sample_Deploy_Stage\n                  type: Deployment\n                  spec:\n                      serviceConfig:\n                          serviceRef: Service1\n                      infrastructure:\n                          environmentRef: Env1\n                          infrastructureDefinition:\n                              type: KubernetesDirect\n                              spec:\n                                  connectorRef: account.harnessciplatform\n                                  namespace: sample"
                identifier: example_input_set
                name: ExampleInputSet
                description: Input Set Description
                tags:
                  property1: example-tag-1-value
                  property2: example-tag-2-value
                git_details:
                  branch_name: branch
                  file_path: /folder/file.json
                  commit_message: Added Harness Git Experience
                  base_branch: old_branch
                  connector_ref: git_connector
                  store_type: REMOTE
                  repo_name: example_repository
        application/yaml:
          schema:
            $ref: '#/components/schemas/InputSetCreateRequestBody'
          examples:
            example-input:
              value: "input_set_yaml: |-\n  inputSet:\n      pipeline:\n          identifier: Example_Pipeline\n          stages:\n              - stage:\n                    identifier: Example_Stage\n                    type: Approval\n                    spec:\n                        execution:\n                            steps:\n                                - step:\n                                      identifier: Approval_Step\n                                      type: HarnessApproval\n                                      spec:\n                                          approvers:\n                                              userGroups:\n                                                  - account.Admins\n                                - step:\n                                      identifier: Shellscript_Step\n                                      type: ShellScript\n                                      spec:\n                                          source:\\n                                            type: Inline\n                                              spec:\\n                                                script: echo \"ShellScript\"\n              - stage:\n                    identifier: Sample_Deploy_Stage\n                    type: Deployment\n                    spec:\n                        serviceConfig:\n                            serviceRef: Service1\n                        infrastructure:\n                            environmentRef: Env1\n                            infrastructureDefinition:\n                                type: KubernetesDirect\n                                spec:\n                                    connectorRef: account.harnessciplatform\n                                    namespace: sample\nidentifier: example_input_set\nname: ExampleInputSet\ndescription: Input Set Description\ntags:\n  property1: example-tag-1-value\n  property2: example-tag-2-value\ngit_details:\n  branch_name: branch\n  file_path: /folder/file.json\n  commit_message: Added Harness Git Experience\n  base_branch: old_branch\n  connector_ref: git_connector\n  store_type: INLINE\n  repo_name: example_repository\n"
      description: Input Set create request body.
      required: true
    InputSetImportRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InputSetImportRequestBody'
      description: Input Set import request body
    InputSetMoveConfigRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InputSetMoveConfigRequestBody'
    GitMetadataUpdateRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GitMetadataUpdateRequestBody'
    InputSetUpdateRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InputSetUpdateRequestBody'
          examples:
            example-input:
              value:
                input_set_yaml: "inputSet:\n    pipeline:\n        identifier: Example_Pipeline\n        stages:\n            - stage:\n                  identifier: Example_Stage\n                  type: Approval\n                  spec:\n                      execution:\n                          steps:\n                              - step:\n                                    identifier: Approval_Step\n                                    type: HarnessApproval\n                                    spec:\n                                        approvers:\n                                            userGroups:\n                                                - account.Admins\n                              - step:\n                                    identifier: Shellscript_Step\n                                    type: ShellScript\n                                    spec:\n                                        source:\\n                                            type: Inline\n                                            spec:\\n                                                script: echo \"ShellScript\"\n            - stage:\n                  identifier: Sample_Deploy_Stage\n                  type: Deployment\n                  spec:\n                      serviceConfig:\n                          serviceRef: Service1\n                      infrastructure:\n                          environmentRef: Env1\n                          infrastructureDefinition:\n                              type: KubernetesDirect\n                              spec:\n                                  connectorRef: account.harnessciplatform\n                                  namespace: sample"
                identifier: example_input_set
                name: ExampleInputSet
                description: Input Set Description
                tags:
                  property1: example-tag-1-value
                  property2: example-tag-2-value
                git_details:
                  branch_name: branch
                  commit_message: Added Harness Git Experience
                  last_object_id: abcdXYZ
                  base_branch: old_branch
                  last_commit_id: abcdXYZ
                  parent_entity_connector_ref: git_connector
                  parent_entity_repo_name: example_repository
        application/yaml:
          schema:
            $ref: '#/components/schemas/InputSetUpdateRequestBody'
          examples:
            example-input:
              value: "input_set_yaml: |-\n  inputSet:\n      pipeline:\n          identifier: Example_Pipeline\n          stages:\n              - stage:\n                    identifier: Example_Stage\n                    type: Approval\n                    spec:\n                        execution:\n                            steps:\n                                - step:\n                                      identifier: Approval_Step\n                                      type: HarnessApproval\n                                      spec:\n                                          approvers:\n                                              userGroups:\n                                                  - account.Admins\n                                - step:\n                                      identifier: Shellscript_Step\n                                      type: ShellScript\n                                      spec:\n                                          source:\\n                                            type: Inline\n                                              spec:\\n                                                script: echo \"ShellScript\"\n              - stage:\n                    identifier: Sample_Deploy_Stage\n                    type: Deployment\n                    spec:\n                        serviceConfig:\n                            serviceRef: Service1\n                        infrastructure:\n                            environmentRef: Env1\n                            infrastructureDefinition:\n                                type: KubernetesDirect\n                                spec:\n                                    connectorRef: account.harnessciplatform\n                                    namespace: sample\nidentifier: example_input_set\nname: ExampleInputSet\ndescription: Input Set Description\ntags:\n  property1: example-tag-1-value\n  property2: example-tag-2-value\ngit_details:\n  branch_name: branch\n  commit_message: Added Harness Git Experience\n  last_object_id: abcdXYZ\n  base_branch: old_branch\n  last_commit_id: abcdXYZ\n  parent_entity_connector_ref: git_connector\n  parent_entity_repo_name: example_repository\n"
      description: Input Set update request body
      required: true
  responses:
    GitMetadataUpdateResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GitMetadataUpdateResponseBody'
    InputSetListResponseBody:
      description: Input Set response body
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/InputSetResponseBody'
          examples:
            example-input-sets:
              value:
              - input_set_yaml: example_input_set_yaml
                identifier: example_input_set
                name: Example Input Set
                org: example_org
                project: example_project
                description: InputSet Description
                tags:
                  example-tag-1: example-tag-1-value
                  example-tag-2: example-tag-2-value
                git_details:
                  object_id: example_object
                  branch_name: branch
                  file_path: /folder/file.json
                  repo_name: example_repository
                  commit_id: abcd123
                  file_url: www.repo/folder/file.com
                  repo_url: www.repo.com
                created: 1234567890
                updated: 9876543210
                error_details:
                  valid: false
                  message: Some fields in the Input Set are invalid.
                  outdated: true
                  error_pipeline_yaml: 'serviceConfig: "pipeline.stages.example_deploy_stage.spec.serviceConfig"

                    '
                  fqn_errors:
                  - fqn: pipeline.stages.example_deploy_stage.spec.serviceConfig
                    errors:
                    - field_name: serviceConfig
                      message: Field not a runtime input
                      identifier_of_error_source: example_input_set
                  invalid_refs:
                  - example_invalid_input_set
        application/yaml:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/InputSetResponseBody'
          examples:
            example-input-sets:
              value: "- input_set_yaml: example_input_set_yaml\n  identifier: example_input_set\n  name: Example Input Set\n  org: example_org\n  project: example_project\n  description: InputSet Description\n  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2: example-tag-2-value\n  git_details:\n    object_id: example_object\n    branch_name: branch\n    file_path: /folder/file.json\n    repo_name: example_repository\n    commit_id: abcd123\n    file_url: www.repo/folder/file.com\n    repo_url: www.repo.com\n  created: 1234567890\n  updated: 9876543210\n  error_details:\n    valid: false\n    message: Some fields in the Input Set are invalid.\n    outdated: true\n    error_pipeline_yaml: |\n      serviceConfig: \"pipeline.stages.example_deploy_stage.spec.serviceConfig\"\n    fqn_errors:\n      - fqn: pipeline.stages.example_deploy_stage.spec.serviceConfig\n        errors:\n          - field_name: serviceConfig\n            message: Field not a runtime input\n            identifier_of_error_source: example_input_set\n    invalid_refs:\n      - example_invalid_input_set\n"
      headers:
        X-Total-Elements:
          schema:
            type: integer
          description: Total number of elements returned in Paginated response.
        X-Page-Number:
          schema:
            type: integer
          description: Page number in Paginated response.
        X-Page-Size:
          schema:
            type: integer
          description: Maximum page size in Paginated response.
    InputSetResponseBody:
      description: Input Set response body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InputSetResponseBody'
          examples:
            example-input-set:
              value:
                input_set_yaml: example_input_set_yaml
                identifier: example_input_set
                name: Example Input Set
                org: example_org
                project: example_project
                description: InputSet Description
                tags:
                  example-tag-1: example-tag-1-value
                  example-tag-2: example-tag-2-value
                git_details:
                  object_id: example_object
                  branch_name: branch
                  file_path: /folder/file.json
                  repo_name: example_repository
                  commit_id: abcd123
                  file_url: www.repo/folder/file.com
                  repo_url: www.repo.com
                created: 1234567890
                updated: 9876543210
                error_details:
                  valid: false
                  message: Some fields in the Input Set are invalid.
                  outdated: true
                  error_pipeline_yaml: 'serviceConfig: "pipeline.stages.example_deploy_stage.spec.serviceConfig"

                    '
                  fqn_errors:
                  - fqn: pipeline.stages.example_deploy_stage.spec.serviceConfig
                    errors:
                    - field_name: serviceConfig
                      message: Field not a runtime input
                      identifier_of_error_source: example_input_set
                  invalid_refs:
                  - example_invalid_input_set
        application/yaml:
          schema:
            $ref: '#/components/schemas/InputSetResponseBody'
          examples:
            example-input-set:
              value: "input_set_yaml: example_input_set_yaml\nidentifier: example_input_set\nname: Example Input Set\norg: example_org\nproject: example_project\ndescription: InputSet Description\ntags:\n  example-tag-1: example-tag-1-value\n  example-tag-2: example-tag-2-value\ngit_details:\n  object_id: example_object\n  branch_name: branch\n  file_path: /folder/file.json\n  repo_name: example_repository\n  commit_id: abcd123\n  file_url: www.repo/folder/file.com\n  repo_url: www.repo.com\ncreated: 1234567890\nupdated: 9876543210\nerror_details:\n  valid: false\n  message: Some fields in the Input Set are invalid.\n  outdated: true\n  error_pipeline_yaml: |\n    serviceConfig: \"pipeline.stages.example_deploy_stage.spec.serviceConfig\"\n  fqn_errors:\n    - fqn: pipeline.stages.example_deploy_stage.spec.serviceConfig\n      errors:\n        - field_name: serviceConfig\n          message: Field not a runtime input\n          identifier_of_error_source: example_input_set\n  invalid_refs:\n    - example_invalid_input_set\n"
    InputSetImportResponseBody:
      description: Response body for input set import.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InputSetImportResponseBody'
    InputSetMoveConfigResponseBody:
      description: Response body for moving an input set configuration.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InputSetMoveConfigResponseBody'
    MergeInputSetResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MergeInputSetResponseBody'
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
