openapi: 3.2.0
info:
  title: Harness Cluster Orchestrator API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Cluster Orchestrator
  description: This contains APIs to onboard and manage Cluster Orchestrator for Kubernetes
paths:
  /gateway/lw/api/accounts/{account_id}/clusters:
    get:
      tags:
      - Cluster Orchestrator
      summary: Return all connected clusters to Harness CACM
      description: Return all connected clusters to Harness CACM, the ones onboarded to cluster orchestrator will have the id field populated
      operationId: listConnectedKubernetesClusters
      parameters:
      - name: account_id
        description: Account Identifier for the Entity
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedKubernetesClustersListResponse'
        '400':
          description: Invalid
          content: {}
  /gateway/lw/api/accounts/{account_id}/clusters/orchestrator:
    post:
      tags:
      - Cluster Orchestrator
      summary: Onboard a kubernetes cluster with an existing CACM Kubernetes Connector to…
      description: Onboard a kubernetes cluster with an existing CACM Kubernetes Connector to Cluster Orchestrator
      operationId: onboardToClusterOrchestrator
      parameters:
      - name: account_id
        description: Account Identifier for the Entity
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: Onboard to Cluster Orchestrator Payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/OnboardToClusterOrchestratorRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedKubernetesClustersGetResponse'
        '400':
          description: Invalid
          content: {}
      x-codegen-request-body-name: body
  /gateway/lw/api/accounts/{account_id}/clusters/orchestrator/{orchestrator_id}:
    get:
      tags:
      - Cluster Orchestrator
      summary: Get Details of a connected clusters by orchestrator id
      description: Fetches the details of the cluster connected to the orchestrator by orchestrator's ID
      operationId: getConnectedClusterDetails
      parameters:
      - name: account_id
        description: Account Identifier for the Entity
        in: path
        required: true
        schema:
          type: string
      - name: orchestrator_id
        description: Identifier of the Orchestrator of the cluster, available in list response and onboard response
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedKubernetesClustersGetResponse'
        '400':
          description: Invalid
          content: {}
  /gateway/lw/api/accounts/{account_id}/clusters/orchestrator/{orchestrator_id}/config:
    put:
      tags:
      - Cluster Orchestrator
      summary: Update a Cluster Orchestrator Config
      description: Updates the config for a given cluster orchestrator
      operationId: updateClusterOrchestratorConfig
      parameters:
      - name: account_id
        description: Account Identifier for the Entity
        in: path
        required: true
        schema:
          type: string
      - name: orchestrator_id
        description: Identifier of the Orchestrator of the cluster, available in list response and onboard response
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AccessPoint'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAccessPointResponse'
        '400':
          description: Invalid status value
          content: {}
      x-codegen-request-body-name: accessPoint
components:
  schemas:
    ClusterConsolidationBudget:
      type: object
      properties:
        reasons:
          type: array
          items:
            type: string
          example:
          - Drifted
          - Underutilized
          - Empty
        nodes:
          type: string
          example: 20%
        schedule:
          type:
          - string
          - 'null'
          example: midnight
        duration:
          type:
          - string
          - 'null'
          example: 10m0s
    ConnectedKubernetesClustersGetResponse:
      type: object
      properties:
        ts:
          type: integer
          description: Response timestamp
        success:
          type: boolean
        errors:
          type: array
          items:
            type: string
        response:
          $ref: '#/components/schemas/ConnectedKubernetesCluster'
    ConnectedKubernetesCluster:
      type: object
      properties:
        id:
          type: string
        account_id:
          type: string
        k8s_connector_id:
          type: string
          description: This is the CACM Kubernetes Cost Connector ID
        provider:
          type: string
          example: AWS
        name:
          type: string
          description: This is the name of the cluster
        region:
          type: string
          example: us-east-1
        created_at:
          type: string
          format: date-time
        health:
          type:
          - object
          - 'null'
          properties:
            raw_json:
              type: array
              items:
                $ref: '#/components/schemas/ConnectedClusterHealthStatus'
        total_spend:
          type: number
          example: 0
        total_savings:
          type: number
          example: 0
        config:
          type:
          - object
          - 'null'
          properties:
            spot_distribution:
              type: string
              enum:
              - ALL
              - SpotReady
              - None
            node_deletion_delay:
              type: integer
              example: 0
            distribution_strategy:
              type: string
              example: CostOptimized
              enum:
              - CostOptimized
              - LeastInterrupted
            base_on_demand_capacity:
              type: integer
              example: 1
            spot_split:
              type: integer
              example: 70
            on_demand_split:
              type: integer
              example: 30
            consolidation:
              type:
              - object
              - 'null'
              properties:
                policy:
                  type: string
                  example: WhenEmptyOrUnderutilized
                  enum:
                  - WhenEmptyOrUnderutilized
                  - WhenEmpty
                after:
                  type: string
                  example: 1h5m
                  description: Consolidation will be performed after this window
                budgets:
                  type:
                  - array
                  - 'null'
                  items:
                    $ref: '#/components/schemas/ClusterConsolidationBudget'
                node_expiry:
                  type:
                  - string
                  - 'null'
                  example: 24h
                  description: This is the max age for nodes created by cluster orchestrator
                pod_evictor:
                  $ref: '#/components/schemas/ClusterOrchestratorPodEvictor'
            reverse_fallback:
              type:
              - string
              - 'null'
              example: 6h
              description: The nodes which were replaced by a fallback ondemand node will be retried for spot after this window
    OnboardToClusterOrchestratorRequest:
      type: object
      description: Configuration for cluster setup
      required:
      - name
      - user_config
      - k8s_connector_id
      properties:
        name:
          type: string
          description: Name identifier for the cluster configuration
        user_config:
          type: object
          description: User-specific configuration settings for the cluster
          required:
          - cluster_endpoint
          properties:
            cluster_endpoint:
              type: string
              description: API end point of the Kubernetes cluster as per the cloud provider
        k8s_connector_id:
          type: string
          description: ID for the CACM Cloud Cost Kubernetes connector
    CertificateData:
      type: object
      properties:
        name:
          type: string
        password:
          type: string
        content:
          type: string
    AccessPointMeta:
      type: object
      properties:
        error:
          type: string
        certificate_id:
          type: string
        security_groups:
          type: array
          items:
            type: string
        dns:
          type: object
          properties:
            route53:
              type: object
              properties:
                hosted_zone_id:
                  type: string
            others:
              type: string
        albArn:
          type: string
        resource_group:
          type: string
        fe_ip_id:
          type: string
        subnet_id:
          type: string
        size:
          type: string
        app_gateway_id:
          type: string
        subnet_name:
          type: string
        fe_ip_name:
          type: string
        certificate:
          $ref: '#/components/schemas/CertificateData'
        func_region:
          type: string
    AccessPoint:
      type: object
      properties:
        id:
          type: string
        account_id:
          type: string
        cloud_account_id:
          type: string
        org_id:
          type: string
        project_id:
          type: string
        host_name:
          type: string
        region:
          type: string
        type:
          type: string
        name:
          type: string
        vpc:
          type: string
        status:
          type: string
          enum:
          - created
          - submitted
          - errored
        metadata:
          $ref: '#/components/schemas/AccessPointMeta'
        subnets:
          type: array
          items:
            type: string
        security_groups:
          type: array
          items:
            type: string
        editables:
          type: array
          items:
            type: string
    ClusterOrchestratorPodEvictor:
      type: object
      properties:
        enabled:
          type: boolean
          example: false
        evict_single_replicas:
          type: boolean
          example: false
        minimum_cpu:
          type: integer
          example: 50
        minimum_memory:
          type: integer
          example: 50
    ConnectedClusterHealthStatus:
      type: object
      properties:
        status:
          type: string
          example: success
        service:
          type: string
          example: telemetry_collector
        raw_json:
          type:
          - string
          - 'null'
          example: null
        last_heart_beat_received_at:
          type: string
          format: date-time
          example: '2025-02-28T20:07:13Z'
    ConnectedKubernetesClustersListResponse:
      type: object
      properties:
        ts:
          type: integer
          description: Response timestamp
        success:
          type: boolean
        errors:
          type: array
          items:
            type: string
        response:
          type: object
          properties:
            clusters:
              type: array
              items:
                $ref: '#/components/schemas/ConnectedKubernetesCluster'
    CreateAccessPointResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/AccessPoint'
        errors:
          type: array
          items:
            type: string
        metadata:
          type: object
          properties: {}
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
