openapi: 3.2.0
info:
  title: Harness Enforcement API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: enforcement
paths:
  /v1/org/{org}/project/{project}/enforcement/{enforcement-id}/summary:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - schema:
        type: string
      name: enforcement-id
      in: path
      required: true
    get:
      summary: Get Enforcement Summary
      responses:
        '200':
          $ref: '#/components/responses/EnforcementSummaryResponseBody'
      operationId: getEnforcementSummary
      x-stoplight:
        id: cfoup8kobxvaj
      security:
      - x-api-key: []
      tags:
      - enforcement
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
  /v1/org/{org}/project/{project}/enforcement/{enforcement-id}/policy-violations:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - schema:
        type: string
      name: enforcement-id
      in: path
      required: true
      description: Enforcement Identifier
    get:
      summary: List Policy Violations
      tags:
      - enforcement
      responses:
        '200':
          $ref: '#/components/responses/PolicyViolationResponse'
      operationId: getPolicyViolations
      x-stoplight:
        id: 4e6p8z1cqvf4q
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      - $ref: '#/components/parameters/Limit6'
      - $ref: '#/components/parameters/Order2'
      - $ref: '#/components/parameters/Page2'
      - in: query
        name: sort
        description: Parameter on the basis of which sorting is done.
        schema:
          enum:
          - name
          - identifier
          - created
          - updated
          - license
          - supplier
      - schema:
          type: string
        in: query
        name: search_text
        description: Text on the basis of which results will be filtered
      - $ref: '#/components/parameters/ImageLayer'
  /v1/org/{org}/project/{project}/normalised-sbom-component:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    post:
      summary: Get Normalised Sbom Components
      operationId: getNormalisedSbomComponent
      security:
      - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/NormaliseSbomResponseBody'
      description: Get a paginated list for normalised sbom components for a given orchestration.
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      - $ref: '#/components/parameters/Limit6'
      - $ref: '#/components/parameters/Page2'
      requestBody:
        $ref: '#/components/requestBodies/NormalisedSbomComponentRequestBody'
      tags:
      - enforcement
      x-stoplight:
        id: cdrphvqdy9dld
  /v1/org/{org}/project/{project}/enforcement-result:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    post:
      summary: Save Enforcement Result
      operationId: saveEnforcementResult
      security:
      - x-api-key: []
      responses:
        '201':
          description: Created
      description: Creates a new Enforcement Result.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnforcementResultDTO'
        description: Enforcement Result DTO
      tags:
      - enforcement
      x-stoplight:
        id: 8kgg2sedlujpu
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
  /v1/org/{org}/project/{project}/enforcement-summary:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    post:
      summary: Save Enforcement Summary
      operationId: saveEnforcementSummary
      security:
      - x-api-key: []
      responses:
        '201':
          description: Created
      description: Creates a new Enforcement Summary.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnforcementSummaryDTO'
        description: Enforcement Result DTO
      tags:
      - enforcement
      x-stoplight:
        id: bwu6h3f34xyvh
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
components:
  parameters:
    Page2:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
        minimum: 0
      description: "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t"
    Limit6:
      name: limit
      in: query
      schema:
        type: integer
        default: 30
        maximum: 1000
        minimum: 1
      description: Number of items to return per page.
    ImageLayer:
      name: image_layer
      in: query
      required: false
      schema:
        type: string
        enum:
        - BASE
        - APP
        - DISTRO
      description: Filters based on image layer
    OrgParam1:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Harness organization ID
    Order2:
      name: order
      in: query
      required: false
      schema:
        type: string
        enum:
        - ASC
        - DESC
        default: ASC
      description: Order on the basis of which sorting is done.
    AccountHeader6:
      name: Harness-Account
      in: header
      required: true
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
    ProjectParam1:
      in: path
      required: true
      schema:
        type: string
      description: Harness project ID
      name: project
  schemas:
    PolicyViolation:
      type: object
      x-examples: {}
      properties:
        enforcement_id:
          type: string
          x-stoplight:
            id: u6sbgtmy5wra6
        artifact_id:
          type: string
          x-stoplight:
            id: 2604cwa0jjdw5
        tag:
          type: string
        image_name:
          type: string
          x-stoplight:
            id: fs3nst342golm
        account:
          type: string
          x-stoplight:
            id: f2oj7i5p9qq4h
        org:
          type: string
          x-stoplight:
            id: yl6jynnzkcibo
        project:
          type: string
          x-stoplight:
            id: tbae7bb9yf51j
        orchestration_id:
          type: string
          x-stoplight:
            id: zz2jdp70vk2gl
        violation_type:
          type: string
          x-stoplight:
            id: vtgnfrx87ka2x
        violation_details:
          type: string
          x-stoplight:
            id: 78wywme9bsvbu
        name:
          type: string
        version:
          type: string
        supplier:
          type: string
        supplier_type:
          type: string
          x-stoplight:
            id: mnk7v7d72i7pp
        package_manager:
          type: string
          x-stoplight:
            id: 7w5ud9unw6war
        license:
          type: array
          items:
            type: string
        purl:
          type: string
        is_exempted:
          type: boolean
        exemption_id:
          type: string
        filter_tags:
          type: array
          items:
            $ref: '#/components/schemas/LayerType'
        language:
          type: string
      title: ''
      x-stoplight:
        id: kjtyfl18ttgbk
    RepositoryPlatform:
      type: string
      title: RepositoryPlatform
      x-stoplight:
        id: prybalroyw6dc
      enum:
      - HARNESS
      - GITHUB
      - BITBUCKET
      - GITLAB
      - GIT
      - AZURE
    ArtifactVariant:
      title: ArtifactVariant
      x-stoplight:
        id: uyb3jwhgs9wjh
      type: object
      properties:
        type:
          type: string
          x-stoplight:
            id: 2r8lmxejmwqbf
          enum:
          - tag
          - branch
          - gitTag
          - commit
          description: type of the variant of the artifact.
        value:
          type: string
          x-stoplight:
            id: hd1p3s7bugn88
          description: Value of the variant of the artifact.
    NormalizedSbomComponentDTO:
      title: NormalizedSbomComponentDTO
      x-stoplight:
        id: 6glvdvqsaxb52
      type: object
      description: Normalized SBOM Component Details
      properties:
        orchestration_id:
          type: string
        sbom_version:
          type: string
        artifact_url:
          type: string
        artifact_id:
          type: string
        artifact_name:
          type: string
        tags:
          type: array
          items:
            type: string
        created:
          type: number
        tool_version:
          type: string
        tool_name:
          type: string
        tool_vendor:
          type: string
        package_id:
          type: string
        package_name:
          type: string
        package_description:
          type: string
        package_license:
          type: array
          items:
            type: string
        package_source_info:
          type: string
        package_version:
          type: string
        package_supplier_name:
          type: string
        package_originator_name:
          type: string
        originator_type:
          type: string
        package_type:
          type: string
        package_cpe:
          type: string
        package_properties:
          type: string
        package_manager:
          type: string
        package_namespace:
          type: string
        major_version:
          type: number
        minor_version:
          type: number
        patch_version:
          type: number
        pipeline_identifier:
          type: string
        project_identifier:
          type: string
        org_identifier:
          type: string
        sequence_id:
          type: string
        account_id:
          type: string
        purl:
          type: string
        language:
          type: string
        filter_tags:
          type: array
          items:
            $ref: '#/components/schemas/LayerType'
    EnforcementSummaryDTO:
      title: EnforcementSummaryDTO
      x-stoplight:
        id: 64g1wsvw49kdm
      type: object
      description: Enforcement summary detail DTO
      x-examples: {}
      properties:
        artifact:
          $ref: '#/components/schemas/Artifact1'
        enforcement_id:
          type: string
        orchestration_id:
          type: string
        deny_list_violation_count:
          type: number
        allow_list_violation_count:
          type: number
        status:
          type: string
        account_id:
          type: string
        org_identifier:
          type: string
        project_identifier:
          type: string
        pipeline_execution_id:
          type: string
        created:
          type: number
        exempted_component_count:
          type: number
      required:
      - artifact
      - enforcement_id
      - orchestration_id
      - deny_list_violation_count
      - allow_list_violation_count
      - status
      - account_id
      - org_identifier
      - project_identifier
      - pipeline_execution_id
      - created
    EnforcementResultDTO:
      title: EnforcementResultDTO
      x-stoplight:
        id: 9cqjc50lih6xp
      type: object
      description: Enforcement Result Details DTO
      x-examples: {}
      properties:
        enforcement_id:
          type: string
        artifact_id:
          type: string
        tag:
          type: string
        image_name:
          type: string
        account_id:
          type: string
        org_identifier:
          type: string
        project_identifier:
          type: string
        orchestration_id:
          type: string
        violation_type:
          type: string
        violation_details:
          type: string
        name:
          type: string
        version:
          type: string
        supplier:
          type: string
        supplier_type:
          type: string
        package_manager:
          type: string
        license:
          type: array
          items:
            type: string
        purl:
          type: string
        is_exempted:
          type: boolean
        exemption_id:
          type: string
      required:
      - enforcement_id
      - artifact_id
      - tag
      - image_name
      - account_id
      - org_identifier
      - project_identifier
      - orchestration_id
      - violation_type
      - violation_details
    Artifact1:
      title: Artifact
      x-go-name: ArtifactListItem
      x-stoplight:
        id: 13qkvpww6x2ku
      type: object
      x-examples: {}
      required:
      - type
      - name
      - registry_url
      properties:
        id:
          type: string
          description: id of the artifact
          example: 089855ea-f90e-4bea-a5c9-b5ddf85d3180
        type:
          type: string
          description: type of the artifact
          enum:
          - image
          - repository
          default: image
          example: image
        name:
          type: string
          description: name of the artifact
          example: harness/image
        tag:
          type: string
          description: tag of the artifact
          default: latest
          example: latest
        registry_url:
          type: string
          description: url of the artifact
          example: https://console.cloud.google.com/gcr/images/imageName
        url:
          type: string
          x-stoplight:
            id: 2gcc89tfmislv
        variant:
          $ref: '#/components/schemas/ArtifactVariant'
        digest:
          type: string
          description: digest of the artifact
          example: sha256:1234567890
        metadata:
          type: object
          additionalProperties: true
          x-stoplight:
            id: bcmiu856m2sf8
        repository_platform:
          $ref: '#/components/schemas/RepositoryPlatform'
    LayerType:
      title: LayerType
      enum:
      - BASE
      - APP
      - DISTRO
      x-stoplight:
        id: 151c5cf8ekave
    EnforcementSummaryResponse:
      title: EnforcementSummaryResponse
      x-stoplight:
        id: bw1b59mkwp23i
      type: object
      properties:
        artifact:
          $ref: '#/components/schemas/Artifact1'
        enforcement_id:
          type: string
          x-stoplight:
            id: z3gbbwmjfj9pc
        allow_list_violation_count:
          type: integer
          x-stoplight:
            id: pyx4490itpx6w
        deny_list_violation_count:
          type: integer
          x-stoplight:
            id: lo79k2drvspk5
        status:
          type: string
          x-stoplight:
            id: pqwzlr10w01hm
        exempted_component_count:
          type: integer
      description: Enforcement Summary
  responses:
    NormaliseSbomResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/NormalizedSbomComponentDTO'
      headers:
        X-Total-Elements:
          $ref: '#/components/headers/X-Total-Elements'
        X-Page-Number:
          $ref: '#/components/headers/X-Page-Number'
        X-Page-Size:
          $ref: '#/components/headers/X-Page-Size'
    EnforcementSummaryResponseBody:
      description: Enforcement Summary Response Body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EnforcementSummaryResponse'
    PolicyViolationResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PolicyViolation'
      headers:
        X-Total-Elements:
          $ref: '#/components/headers/X-Total-Elements'
        X-Page-Number:
          $ref: '#/components/headers/X-Page-Number'
        X-Page-Size:
          $ref: '#/components/headers/X-Page-Size'
  requestBodies:
    NormalisedSbomComponentRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Artifact1'
      description: ''
  headers:
    X-Page-Size:
      schema:
        type: integer
      description: Maximum page size in Paginated response.
    X-Total-Elements:
      schema:
        type: integer
      description: Total number of elements returned in Paginated response.
    X-Page-Number:
      schema:
        type: integer
      description: Page number in Paginated response.
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
