openapi: 3.2.0
info:
  title: Harness Variable Sets API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: variable_sets
  description: Variable Sets Service handles the API for managing variable sets assigned to workspaces.
paths:
  /iacm/api/orgs/{org}/projects/{project}/variable-set:
    delete:
      tags:
      - variable_sets
      summary: Delete Variable Set by query identifier on project level
      description: Delete Variable Set on project level using identifier as a query parameter. Required when the identifier contains characters that are unsafe in URL paths (e.g. '/').
      operationId: variable_sets#delete-variable-set-by-query-proj-level
      parameters:
      - name: identifier
        in: query
        description: Identifier is the VariableSet identifier.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Identifier is the VariableSet identifier.
          example: s0x
          minLength: 1
          maxLength: 128
        example: vb
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: e0
          minLength: 1
          maxLength: 128
        example: mm
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: hc
          minLength: 1
          maxLength: 128
        example: 3y
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: b
          minLength: 1
          maxLength: 128
        example: 2b
      responses:
        '204':
          description: No Content response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    post:
      tags:
      - variable_sets
      summary: Create a new Variable Set on project level
      description: Create a new Variable Set on project level.
      operationId: variable_sets#create-variable-set-proj-level
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: '8'
          minLength: 1
          maxLength: 128
        example: wl
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: r
          minLength: 1
          maxLength: 128
        example: ndd
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: bce
          minLength: 1
          maxLength: 128
        example: q
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVariableSetRequestProjScope'
            example:
              connectors:
              - connector_ref: bdw
                created: 1627590400
                id: 8790588802215279000
                type: gcp
                updated: 1627686800
              - connector_ref: bdw
                created: 1627590400
                id: 8790588802215279000
                type: gcp
                updated: 1627686800
              created: 1627590400
              description: this is a more detailed explanation of the resource.
              environment_variables:
                Sit at molestiae quod ut consequatur.:
                  created: 1627590400
                  id: 5497824769661668000
                  key: d
                  updated: 1627686800
                  value: In omnis asperiores assumenda et nulla.
                  value_type: string
                Voluptatibus magni eos ut enim.:
                  created: 1627590400
                  id: 5497824769661668000
                  key: d
                  updated: 1627686800
                  value: In omnis asperiores assumenda et nulla.
                  value_type: string
              id: 3350247895561842700
              identifier: pq
              name: resource name
              terraform_variable_files:
              - created: 1627590400
                id: 6849075209830916000
                repository: Est nobis.
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: Nam cupiditate.
                repository_path: ''
                repository_sha: abc10ed
                updated: 1627686800
              - created: 1627590400
                id: 6849075209830916000
                repository: Est nobis.
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: Nam cupiditate.
                repository_path: ''
                repository_sha: abc10ed
                updated: 1627686800
              - created: 1627590400
                id: 6849075209830916000
                repository: Est nobis.
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: Nam cupiditate.
                repository_path: ''
                repository_sha: abc10ed
                updated: 1627686800
              - created: 1627590400
                id: 6849075209830916000
                repository: Est nobis.
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: Nam cupiditate.
                repository_path: ''
                repository_sha: abc10ed
                updated: 1627686800
              terraform_variables:
                Molestiae nesciunt vitae doloremque voluptas.:
                  created: 1627590400
                  id: 5497824769661668000
                  key: d
                  updated: 1627686800
                  value: In omnis asperiores assumenda et nulla.
                  value_type: string
                Provident ab laudantium.:
                  created: 1627590400
                  id: 5497824769661668000
                  key: d
                  updated: 1627686800
                  value: In omnis asperiores assumenda et nulla.
                  value_type: string
              updated: 1627686800
      responses:
        '201':
          description: Created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariableSetsCreateVariableSetAccountLevelResponseBody'
              example:
                account: 8mb
                connectors:
                - connector_ref: g
                  created: 1627590400
                  id: 3570993256144174600
                  type: azure
                  updated: 1627686800
                - connector_ref: g
                  created: 1627590400
                  id: 3570993256144174600
                  type: azure
                  updated: 1627686800
                created: 1627590400
                description: this is a more detailed explanation of the resource.
                environment_variables:
                  A id voluptas.:
                    created: 1627590400
                    id: 3052340623608331000
                    key: '0'
                    updated: 1627686800
                    value: Saepe ad autem modi quasi libero harum.
                    value_type: string
                identifier: o6
                name: resource name
                org: '6'
                project: '76'
                terraform_variable_files:
                - created: 1627590400
                  id: 2095405973143976000
                  repository: Eos voluptate non dolores expedita.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Est et qui et aut quidem.
                  repository_path: ''
                  repository_sha: abc10ed
                  updated: 1627686800
                - created: 1627590400
                  id: 2095405973143976000
                  repository: Eos voluptate non dolores expedita.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Est et qui et aut quidem.
                  repository_path: ''
                  repository_sha: abc10ed
                  updated: 1627686800
                - created: 1627590400
                  id: 2095405973143976000
                  repository: Eos voluptate non dolores expedita.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Est et qui et aut quidem.
                  repository_path: ''
                  repository_sha: abc10ed
                  updated: 1627686800
                terraform_variables:
                  Id dolor aut aut labore doloribus sit.:
                    created: 1627590400
                    id: 3052340623608331000
                    key: '0'
                    updated: 1627686800
                    value: Saepe ad autem modi quasi libero harum.
                    value_type: string
                  Tempora ut sint hic dolore.:
                    created: 1627590400
                    id: 3052340623608331000
                    key: '0'
                    updated: 1627686800
                    value: Saepe ad autem modi quasi libero harum.
                    value_type: string
                updated: 1627686800
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/variable-set/{identifier}:
    delete:
      tags:
      - variable_sets
      summary: Delete Variable Set by identifier on project level
      description: Delete Variable Set by identifier on project level.
      operationId: variable_sets#delete-variable-set-proj-level
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: od
          minLength: 1
          maxLength: 128
        example: pcw
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: '9'
          minLength: 1
          maxLength: 128
        example: t
      - name: identifier
        in: path
        description: Identifier is the VariableSet identifier.
        required: true
        schema:
          type: string
          description: Identifier is the VariableSet identifier.
          example: r
          minLength: 1
          maxLength: 128
        example: jt
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: xbf
          minLength: 1
          maxLength: 128
        example: q
      responses:
        '204':
          description: No Content response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    get:
      tags:
      - variable_sets
      summary: Get Variable Set by identifier on project level
      description: Get Variable Set by identifier on project level.
      operationId: variable_sets#get-variable-set-proj-level
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: xof
          minLength: 1
          maxLength: 128
        example: 1v
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: q
          minLength: 1
          maxLength: 128
        example: '1'
      - name: identifier
        in: path
        description: Identifier is the VariableSet identifier.
        required: true
        schema:
          type: string
          description: Identifier is the VariableSet identifier.
          example: 2e0
          minLength: 1
          maxLength: 128
        example: q
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: ek
          minLength: 1
          maxLength: 128
        example: v
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariableSetsGetVariableSetAccountLevelResponseBody'
              example:
                account: u
                connectors:
                - connector_ref: g
                  created: 1627590400
                  id: 3570993256144174600
                  type: azure
                  updated: 1627686800
                - connector_ref: g
                  created: 1627590400
                  id: 3570993256144174600
                  type: azure
                  updated: 1627686800
                created: 1627590400
                description: this is a more detailed explanation of the resource.
                environment_variables:
                  Aliquid iure ut alias maiores tempora est.:
                    created: 1627590400
                    id: 3052340623608331000
                    key: '0'
                    updated: 1627686800
                    value: Saepe ad autem modi quasi libero harum.
                    value_type: string
                identifier: 2mw
                name: resource name
                org: 3t
                project: t
                terraform_variable_files:
                - created: 1627590400
                  id: 2095405973143976000
                  repository: Eos voluptate non dolores expedita.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Est et qui et aut quidem.
                  repository_path: ''
                  repository_sha: abc10ed
                  updated: 1627686800
                - created: 1627590400
                  id: 2095405973143976000
                  repository: Eos voluptate non dolores expedita.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Est et qui et aut quidem.
                  repository_path: ''
                  repository_sha: abc10ed
                  updated: 1627686800
                terraform_variables:
                  Molestiae aut maxime ducimus quis.:
                    created: 1627590400
                    id: 3052340623608331000
                    key: '0'
                    updated: 1627686800
                    value: Saepe ad autem modi quasi libero harum.
                    value_type: string
                  Qui sit libero et.:
                    created: 1627590400
                    id: 3052340623608331000
                    key: '0'
                    updated: 1627686800
                    value: Saepe ad autem modi quasi libero harum.
                    value_type: string
                updated: 1627686800
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    put:
      tags:
      - variable_sets
      summary: Update a Variable Set on project level
      description: Update a Variable Set on project level.
      operationId: variable_sets#update-variable-set-proj-level
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: '2'
          minLength: 1
          maxLength: 128
        example: fur
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: zl0
          minLength: 1
          maxLength: 128
        example: 5kh
      - name: identifier
        in: path
        description: Identifier is the VariableSet identifier.
        required: true
        schema:
          type: string
          description: Identifier is the VariableSet identifier.
          example: whm
          pattern: ^[^/?#\s]+$
          minLength: 1
          maxLength: 128
        example: x
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: 5z
          minLength: 1
          maxLength: 128
        example: km7
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVariableSetRequestProjScope'
            example:
              connectors:
              - connector_ref: bdw
                created: 1627590400
                id: 8790588802215279000
                type: gcp
                updated: 1627686800
              - connector_ref: bdw
                created: 1627590400
                id: 8790588802215279000
                type: gcp
                updated: 1627686800
              - connector_ref: bdw
                created: 1627590400
                id: 8790588802215279000
                type: gcp
                updated: 1627686800
              - connector_ref: bdw
                created: 1627590400
                id: 8790588802215279000
                type: gcp
                updated: 1627686800
              created: 1627590400
              description: this is a more detailed explanation of the resource.
              environment_variables:
                Non sunt totam quos.:
                  created: 1627590400
                  id: 5497824769661668000
                  key: d
                  updated: 1627686800
                  value: In omnis asperiores assumenda et nulla.
                  value_type: string
                Voluptate fugit quia repudiandae eius aut.:
                  created: 1627590400
                  id: 5497824769661668000
                  key: d
                  updated: 1627686800
                  value: In omnis asperiores assumenda et nulla.
                  value_type: string
              id: 6600854647460047000
              name: resource name
              terraform_variable_files:
              - created: 1627590400
                id: 6849075209830916000
                repository: Est nobis.
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: Nam cupiditate.
                repository_path: ''
                repository_sha: abc10ed
                updated: 1627686800
              - created: 1627590400
                id: 6849075209830916000
                repository: Est nobis.
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: Nam cupiditate.
                repository_path: ''
                repository_sha: abc10ed
                updated: 1627686800
              terraform_variables:
                Qui eaque dicta voluptatem.:
                  created: 1627590400
                  id: 5497824769661668000
                  key: d
                  updated: 1627686800
                  value: In omnis asperiores assumenda et nulla.
                  value_type: string
                Sit doloremque non.:
                  created: 1627590400
                  id: 5497824769661668000
                  key: d
                  updated: 1627686800
                  value: In omnis asperiores assumenda et nulla.
                  value_type: string
              updated: 1627686800
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariableSetsCreateVariableSetAccountLevelResponseBody'
              example:
                account: 8mb
                connectors:
                - connector_ref: g
                  created: 1627590400
                  id: 3570993256144174600
                  type: azure
                  updated: 1627686800
                - connector_ref: g
                  created: 1627590400
                  id: 3570993256144174600
                  type: azure
                  updated: 1627686800
                created: 1627590400
                description: this is a more detailed explanation of the resource.
                environment_variables:
                  A id voluptas.:
                    created: 1627590400
                    id: 3052340623608331000
                    key: '0'
                    updated: 1627686800
                    value: Saepe ad autem modi quasi libero harum.
                    value_type: string
                identifier: o6
                name: resource name
                org: '6'
                project: '76'
                terraform_variable_files:
                - created: 1627590400
                  id: 2095405973143976000
                  repository: Eos voluptate non dolores expedita.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Est et qui et aut quidem.
                  repository_path: ''
                  repository_sha: abc10ed
                  updated: 1627686800
                - created: 1627590400
                  id: 2095405973143976000
                  repository: Eos voluptate non dolores expedita.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Est et qui et aut quidem.
                  repository_path: ''
                  repository_sha: abc10ed
                  updated: 1627686800
                - created: 1627590400
                  id: 2095405973143976000
                  repository: Eos voluptate non dolores expedita.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Est et qui et aut quidem.
                  repository_path: ''
                  repository_sha: abc10ed
                  updated: 1627686800
                terraform_variables:
                  Id dolor aut aut labore doloribus sit.:
                    created: 1627590400
                    id: 3052340623608331000
                    key: '0'
                    updated: 1627686800
                    value: Saepe ad autem modi quasi libero harum.
                    value_type: string
                  Tempora ut sint hic dolore.:
                    created: 1627590400
                    id: 3052340623608331000
                    key: '0'
                    updated: 1627686800
                    value: Saepe ad autem modi quasi libero harum.
                    value_type: string
                updated: 1627686800
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/variable-set/{identifier}/references:
    get:
      tags:
      - variable_sets
      summary: Get Variable Set References list on project level
      description: Get Variable Set References list on project level.
      operationId: variable_sets#list-variable-set-references-proj-level
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: r1
          minLength: 1
          maxLength: 128
        example: b
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: 4q0
          minLength: 1
          maxLength: 128
        example: r5
      - name: identifier
        in: path
        description: Identifier is the VariableSet identifier.
        required: true
        schema:
          type: string
          description: Identifier is the VariableSet identifier.
          example: f
          minLength: 1
          maxLength: 128
        example: 0mu
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: r0j
          minLength: 1
          maxLength: 128
        example: h3i
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HarnessIacmWorkspaceList'
              example:
                items:
                - account: u
                  associated_template:
                    template_id: un
                    version: '4'
                  backend_locked: true
                  budget: 0.13164885
                  ccm_cost_enabled: true
                  cost_breakdown_json: c4a2d99bc28d236098a095277b7eb0718d6be068
                  cost_diff_json: c4a2d99bc28d236098a095277b7eb0718d6be068
                  cost_estimation_enabled: true
                  created: 8462172761815003000
                  default_pipelines:
                    Repellendus repudiandae distinctio sed saepe aliquid.:
                      project_pipeline: Voluptatem explicabo quam consequatur consequatur repudiandae.
                      workspace_pipeline: Ut porro quos.
                  description: this is a more detailed explanation of the resource.
                  environment_variables:
                    A aut dolorum ipsum reprehenderit a iste.:
                      created: 3351986607864910300
                      key: '30'
                      updated: 6738835912814902000
                      value: Omnis et velit voluptas.
                      value_type: string
                  id: 1247872255421117700
                  identifier: nc
                  lock:
                    created_at: 1666185428605123300
                    id: Incidunt velit sed.
                    locked_by_display_name: Tempore dolorem molestiae sapiente magnam.
                    locked_by_principal_id: Ab corporis in molestiae quam.
                    locked_by_principal_type: Aliquam quis.
                    manual: true
                    reason: Doloremque qui.
                  modules_json: c4a2d99bc28d236098a095277b7eb0718d6be068
                  name: resource name
                  org: '3'
                  project: f
                  provider_connector: Voluptas quod nesciunt corporis ullam maxime.
                  provider_connectors:
                  - connector_ref: a
                    created: 1627590400
                    id: 5534848325807077000
                    terragrunt_provider: false
                    type: aws
                    updated: 1627686800
                    workspace_id: 1785679687111850800
                  - connector_ref: a
                    created: 1627590400
                    id: 5534848325807077000
                    terragrunt_provider: false
                    type: aws
                    updated: 1627686800
                    workspace_id: 1785679687111850800
                  - connector_ref: a
                    created: 1627590400
                    id: 5534848325807077000
                    terragrunt_provider: false
                    type: aws
                    updated: 1627686800
                    workspace_id: 1785679687111850800
                  - connector_ref: a
                    created: 1627590400
                    id: 5534848325807077000
                    terragrunt_provider: false
                    type: aws
                    updated: 1627686800
                    workspace_id: 1785679687111850800
                  providers_json: c4a2d99bc28d236098a095277b7eb0718d6be068
                  provisioner: Quibusdam qui perferendis qui.
                  provisioner_configuration: Voluptas qui itaque est qui quibusdam ut.
                  provisioner_data: Vel laborum voluptatum voluptas.
                  provisioner_version: Quia voluptas quo asperiores.
                  prune_sensitive_data: true
                  repository: Distinctio pariatur.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Qui magnam nemo voluptatum id ipsum est.
                  repository_path: ''
                  repository_sha: abc10ed
                  repository_submodules: recursive
                  run_all: true
                  sparse_checkout: Et odit.
                  state_checksum: d21c1662d8ce2c74f24efdc8db93eb34473b86810aeccca4b1518f70b0ccde8f
                  status: unknown
                  tags:
                    cost-center: engineering
                    environment: production
                    team: platform
                  terraform_plan_json: f9e21473daaa2674d862b67a1339f4570e86de17
                  terraform_state: fc1200c7a7aa52109d762a9f005b149abef01479
                  terraform_state_json: c4a2d99bc28d236098a095277b7eb0718d6be068
                  terraform_variable_files:
                  - repository: Sit perferendis.
                    repository_branch: main
                    repository_commit: abc10ed
                    repository_connector: Commodi quae quam voluptate ex eum.
                    repository_path: ''
                    repository_sha: abc10ed
                  - repository: Sit perferendis.
                    repository_branch: main
                    repository_commit: abc10ed
                    repository_connector: Commodi quae quam voluptate ex eum.
                    repository_path: ''
                    repository_sha: abc10ed
                  - repository: Sit perferendis.
                    repository_branch: main
                    repository_commit: abc10ed
                    repository_connector: Commodi quae quam voluptate ex eum.
                    repository_path: ''
                    repository_sha: abc10ed
                  terraform_variables:
                    Et sed dolor non.:
                      created: 3351986607864910300
                      key: '30'
                      updated: 6738835912814902000
                      value: Omnis et velit voluptas.
                      value_type: string
                    Necessitatibus numquam natus.:
                      created: 3351986607864910300
                      key: '30'
                      updated: 6738835912814902000
                      value: Omnis et velit voluptas.
                      value_type: string
                    Veritatis velit maiores explicabo quisquam fugit qui.:
                      created: 3351986607864910300
                      key: '30'
                      updated: 6738835912814902000
                      value: Omnis et velit voluptas.
                      value_type: string
                  terragrunt_provider: true
                  terragrunt_version: Fugit voluptas molestiae.
                  updated: 7587986511157125000
                  variable_sets:
                  - A eveniet amet qui dolores dolorem.
                  - Fuga nobis.
                  - Vero omnis sunt dolore.
                  - Ad eaque.
                - account: u
                  associated_template:
                    template_id: un
                    version: '4'
                  backend_locked: true
                  budget: 0.13164885
                  ccm_cost_enabled: true
                  cost_breakdown_json: c4a2d99bc28d236098a095277b7eb0718d6be068
                  cost_diff_json: c4a2d99bc28d236098a095277b7eb0718d6be068
                  cost_estimation_enabled: true
                  created: 8462172761815003000
                  default_pipelines:
                    Repellendus repudiandae distinctio sed saepe aliquid.:
                      project_pipeline: Voluptatem explicabo quam consequatur consequatur repudiandae.
                      workspace_pipeline: Ut porro quos.
                  description: this is a more detailed explanation of the resource.
                  environment_variables:
                    A aut dolorum ipsum reprehenderit a iste.:
                      created: 3351986607864910300
                      key: '30'
                      updated: 6738835912814902000
                      value: Omnis et velit voluptas.
                      value_type: string
                  id: 1247872255421117700
                  identifier: nc
                  lock:
                    created_at: 1666185428605123300
                    id: Incidunt velit sed.
                    locked_by_display_name: Tempore dolorem molestiae sapiente magnam.
                    locked_by_principal_id: Ab corporis in molestiae quam.
                    locked_by_principal_type: Aliquam quis.
                    manual: true
                    reason: Doloremque qui.
                  modules_json: c4a2d99bc28d236098a095277b7eb0718d6be068
                  name: resource name
                  org: '3'
                  project: f
                  provider_connector: Voluptas quod nesciunt corporis ullam maxime.
                  provider_connectors:
                  - connector_ref: a
                    created: 1627590400
                    id: 5534848325807077000
                    terragrunt_provider: false
                    type: aws
                    updated: 1627686800
                    workspace_id: 1785679687111850800
                  - connector_ref: a
                    created: 1627590400
                    id: 5534848325807077000
                    terragrunt_provider: false
                    type: aws
                    updated: 1627686800
                    workspace_id: 1785679687111850800
                  - connector_ref: a
                    created: 1627590400
                    id: 5534848325807077000
                    terragrunt_provider: false
                    type: aws
                    updated: 1627686800
                    workspace_id: 1785679687111850800
                  - connector_ref: a
                    created: 1627590400
                    id: 5534848325807077000
                    terragrunt_provider: false
                    type: aws
                    updated: 1627686800
                    workspace_id: 1785679687111850800
                  providers_json: c4a2d99bc28d236098a095277b7eb0718d6be068
                  provisioner: Quibusdam qui perferendis qui.
                  provisioner_configuration: Voluptas qui itaque est qui quibusdam ut.
                  provisioner_data: Vel laborum voluptatum voluptas.
                  provisioner_version: Quia voluptas quo asperiores.
                  prune_sensitive_data: true
                  repository: Distinctio pariatur.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Qui magnam nemo voluptatum id ipsum est.
                  repository_path: ''
                  repository_sha: abc10ed
                  repository_submodules: recursive
                  run_all: true
                  sparse_checkout: Et odit.
                  state_checksum: d21c1662d8ce2c74f24efdc8db93eb34473b86810aeccca4b1518f70b0ccde8f
                  status: unknown
                  tags:
                    cost-center: engineering
                    environment: production
                    team: platform
                  terraform_plan_json: f9e21473daaa2674d862b67a1339f4570e86de17
                  terraform_state: fc1200c7a7aa52109d762a9f005b149abef01479
                  terraform_state_json: c4a2d99bc28d236098a095277b7eb0718d6be068
                  terraform_variable_files:
                  - repository: Sit perferendis.
                    repository_branch: main
                    repository_commit: abc10ed
                    repository_connector: Commodi quae quam voluptate ex eum.
                    repository_path: ''
                    repository_sha: abc10ed
                  - repository: Sit perferendis.
                    repository_branch: main
                    repository_commit: abc10ed
                    repository_connector: Commodi quae quam voluptate ex eum.
                    repository_path: ''
                    repository_sha: abc10ed
                  - repository: Sit perferendis.
                    repository_branch: main
                    repository_commit: abc10ed
                    repository_connector: Commodi quae quam voluptate ex eum.
                    repository_path: ''
                    repository_sha: abc10ed
                  terraform_variables:
                    Et sed dolor non.:
                      created: 3351986607864910300
                      key: '30'
                      updated: 6738835912814902000
                      value: Omnis et velit voluptas.
                      value_type: string
                    Necessitatibus numquam natus.:
                      created: 3351986607864910300
                      key: '30'
                      updated: 6738835912814902000
                      value: Omnis et velit voluptas.
                      value_type: string
                    Veritatis velit maiores explicabo quisquam fugit qui.:
                      created: 3351986607864910300
                      key: '30'
                      updated: 6738835912814902000
                      value: Omnis et velit voluptas.
                      value_type: string
                  terragrunt_provider: true
                  terragrunt_version: Fugit voluptas molestiae.
                  updated: 7587986511157125000
                  variable_sets:
                  - A eveniet amet qui dolores dolorem.
                  - Fuga nobis.
                  - Vero omnis sunt dolore.
                  - Ad eaque.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/variable-sets:
    get:
      tags:
      - variable_sets
      summary: Get Variable Set list on project level
      description: Get Variable Set list on project level.
      operationId: variable_sets#list-variable-sets-proj-level
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: c3h
          minLength: 1
          maxLength: 128
        example: y
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: 3h
          minLength: 1
          maxLength: 128
        example: r
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: '9'
          minLength: 1
          maxLength: 128
        example: 6bm
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HarnessIacmVariableSetList'
              example:
                items:
                - account: ip
                  connectors:
                  - connector_ref: 3q
                    created: 1627590400
                    id: 6948993381784559000
                    type: azure
                    updated: 1627686800
                  - connector_ref: 3q
                    created: 1627590400
                    id: 6948993381784559000
                    type: azure
                    updated: 1627686800
                  - connector_ref: 3q
                    created: 1627590400
                    id: 6948993381784559000
                    type: azure
                    updated: 1627686800
                  created: 1627590400
                  description: this is a more detailed explanation of the resource.
                  env_vars_count: 2528447298707913700
                  environment_variables:
                    Autem optio rerum autem.:
                      created: 1627590400
                      id: 7472896661941035000
                      key: '36'
                      updated: 1627686800
                      value: Ut magnam quis ducimus officiis possimus mollitia.
                      value_type: secret
                    Et maiores consequatur cupiditate quia quas sint.:
                      created: 1627590400
                      id: 7472896661941035000
                      key: '36'
                      updated: 1627686800
                      value: Ut magnam quis ducimus officiis possimus mollitia.
                      value_type: secret
                    In sint.:
                      created: 1627590400
                      id: 7472896661941035000
                      key: '36'
                      updated: 1627686800
                      value: Ut magnam quis ducimus officiis possimus mollitia.
                      value_type: secret
                  id: 3202918072030779000
                  identifier: r
                  name: resource name
                  org: 7a
                  project: g
                  terraform_variable_files:
                  - created: 1627590400
                    id: 1395276265876081000
                    repository: Beatae cum.
                    repository_branch: main
                    repository_commit: abc10ed
                    repository_connector: Inventore ut totam autem eveniet et.
                    repository_path: ''
                    repository_sha: abc10ed
                    updated: 1627686800
                  - created: 1627590400
                    id: 1395276265876081000
                    repository: Beatae cum.
                    repository_branch: main
                    repository_commit: abc10ed
                    repository_connector: Inventore ut totam autem eveniet et.
                    repository_path: ''
                    repository_sha: abc10ed
                    updated: 1627686800
                  terraform_variables:
                    Qui molestiae quia expedita.:
                      created: 1627590400
                      id: 7472896661941035000
                      key: '36'
                      updated: 1627686800
                      value: Ut magnam quis ducimus officiis possimus mollitia.
                      value_type: secret
                    Qui occaecati incidunt est autem.:
                      created: 1627590400
                      id: 7472896661941035000
                      key: '36'
                      updated: 1627686800
                      value: Ut magnam quis ducimus officiis possimus mollitia.
                      value_type: secret
                    Quidem labore recusandae est.:
                      created: 1627590400
                      id: 7472896661941035000
                      key: '36'
                      updated: 1627686800
                      value: Ut magnam quis ducimus officiis possimus mollitia.
                      value_type: secret
                  tf_vars_count: 1452611948348895500
                  updated: 1627686800
                  var_files_count: 575631548047009100
                - account: ip
                  connectors:
                  - connector_ref: 3q
                    created: 1627590400
                    id: 6948993381784559000
                    type: azure
                    updated: 1627686800
                  - connector_ref: 3q
                    created: 1627590400
                    id: 6948993381784559000
                    type: azure
                    updated: 1627686800
                  - connector_ref: 3q
                    created: 1627590400
                    id: 6948993381784559000
                    type: azure
                    updated: 1627686800
                  created: 1627590400
                  description: this is a more detailed explanation of the resource.
                  env_vars_count: 2528447298707913700
                  environment_variables:
                    Autem optio rerum autem.:
                      created: 1627590400
                      id: 7472896661941035000
                      key: '36'
                      updated: 1627686800
                      value: Ut magnam quis ducimus officiis possimus mollitia.
                      value_type: secret
                    Et maiores consequatur cupiditate quia quas sint.:
                      created: 1627590400
                      id: 7472896661941035000
                      key: '36'
                      updated: 1627686800
                      value: Ut magnam quis ducimus officiis possimus mollitia.
                      value_type: secret
                    In sint.:
                      created: 1627590400
                      id: 7472896661941035000
                      key: '36'
                      updated: 1627686800
                      value: Ut magnam quis ducimus officiis possimus mollitia.
                      value_type: secret
                  id: 3202918072030779000
                  identifier: r
                  name: resource name
                  org: 7a
                  project: g
                  terraform_variable_files:
                  - created: 1627590400
                    id: 1395276265876081000
                    repository: Beatae cum.
                    repository_branch: main
                    repository_commit: abc10ed
                    repository_connector: Inventore ut totam autem eveniet et.
                    repository_path: ''
                    repository_sha: abc10ed
                    updated: 1627686800
                  - created: 1627590400
                    id: 1395276265876081000
                    repository: Beatae cum.
                    repository_branch: main
                    repository_commit: abc10ed
                    repository_connector: Inventore ut totam autem eveniet et.
                    repository_path: ''
                    repository_sha: abc10ed
                    updated: 1627686800
                  terraform_variables:
                    Qui molestiae quia expedita.:
                      created: 1627590400
                      id: 7472896661941035000
                      key: '36'
                      updated: 1627686800
                      value: Ut magnam quis ducimus officiis possimus mollitia.
                      value_type: secret
                    Qui occaecati incidunt est autem.:
                      created: 1627590400
                      id: 7472896661941035000
                      key: '36'
                      updated: 1627686800
                      value: Ut magnam quis ducimus officiis possimus mollitia.
                      value_type: secret
                    Quidem labore recusandae est.:
                      created: 1627590400
                      id: 7472896661941035000
                      key: '36'
                      updated: 1627686800
                      value: Ut magnam quis ducimus officiis possimus mollitia.
                      value_type: secret
                  tf_vars_count: 1452611948348895500
                  updated: 1627686800
                  var_files_count: 575631548047009100
                - account: ip
                  connectors:
                  - connector_ref: 3q
                    created: 1627590400
                    id: 6948993381784559000
                    type: azure
                    updated: 1627686800
                  - connector_ref: 3q
                    created: 1627590400
                    id: 6948993381784559000
                    type: azure
                    updated: 1627686800
                  - connector_ref: 3q
                    created: 1627590400
                    id: 6948993381784559000
                    type: azure
                    updated: 1627686800
                  created: 1627590400
                  description: this is a more detailed explanation of the resource.
                  env_vars_count: 2528447298707913700
                  environment_variables:
                    Autem optio rerum autem.:
                      created: 1627590400
                      id: 7472896661941035000
                      key: '36'
                      updated: 1627686800
                      value: Ut magnam quis ducimus officiis possimus mollitia.
                      value_type: secret
                    Et maiores consequatur cupiditate quia quas sint.:
                      created: 1627590400
                      id: 7472896661941035000
                      key: '36'
                      updated: 1627686800
                      value: Ut magnam quis ducimus officiis possimus mollitia.
                      value_type: secret
                    In sint.:
                      created: 1627590400
                      id: 7472896661941035000
                      key: '36'
                      updated: 1627686800
                      value: Ut magnam quis ducimus officiis possimus mollitia.
                      value_type: secret
                  id: 3202918072030779000
                  identifier: r
                  name: resource name
                  org: 7a
                  project: g
                  terraform_variable_files:
                  - created: 1627590400
                    id: 1395276265876081000
                    repository: Beatae cum.
                    repository_branch: main
                    repository_commit: abc10ed
                    repository_connector: Inventore ut totam autem eveniet et.
                    repository_path: ''
                    repository_sha: abc10ed
                    updated: 1627686800
                  - created: 1627590400
                    id: 1395276265876081000
                    repository: Beatae cum.
                    repository_branch: main
                    repository_commit: abc10ed
                    repository_connector: Inventore ut totam autem eveniet et.
                    repository_path: ''
                    repository_sha: abc10ed
                    updated: 1627686800
                  terraform_variables:
                    Qui molestiae quia expedita.:
                      created: 1627590400
                      id: 7472896661941035000
                      key: '36'
                      updated: 1627686800
                      value: Ut magnam quis ducimus officiis possimus mollitia.
                      value_type: secret
                    Qui occaecati incidunt est autem.:
                      created: 1627590400
                      id: 7472896661941035000
                      key: '36'
                      updated: 1627686800
                      value: Ut magnam quis ducimus officiis possimus mollitia.
                      value_type: secret
                    Quidem labore recusandae est.:
                      created: 1627590400
                      id: 7472896661941035000
                      key: '36'
                      updated: 1627686800
                      value: Ut magnam quis ducimus officiis possimus mollitia.
                      value_type: secret
                  tf_vars_count: 1452611948348895500
                  updated: 1627686800
                  var_files_count: 575631548047009100
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/variable-set:
    delete:
      tags:
      - variable_sets
      summary: Delete Variable Set by query identifier on org level
      description: Delete Variable Set on org level using identifier as a query parameter. Required when the identifier contains characters that are unsafe in URL paths (e.g. '/').
      operationId: variable_sets#delete-variable-set-by-query-org-level
      parameters:
      - name: identifier
        in: query
        description: Identifier is the VariableSet identifier.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Identifier is the VariableSet identifier.
          example: j10
          minLength: 1
          maxLength: 128
        example: pt
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: 9p
          minLength: 1
          maxLength: 128
        example: vh
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: 3uq
          minLength: 1
          maxLength: 128
        example: c
      responses:
        '204':
          description: No Content response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    post:
      tags:
      - variable_sets
      summary: Create a new Variable Set on org level
      description: Create a new Variable Set on org level.
      operationId: variable_sets#create-variable-set-org-level
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: koy
          minLength: 1
          maxLength: 128
        example: h20
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: xfg
          minLength: 1
          maxLength: 128
        example: wtw
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVariableSetRequestOrgScope'
            example:
              connectors:
              - connector_ref: bdw
                created: 1627590400
                id: 8790588802215279000
                type: gcp
                updated: 1627686800
              - connector_ref: bdw
                created: 1627590400
                id: 8790588802215279000
                type: gcp
                updated: 1627686800
              created: 1627590400
              description: this is a more detailed explanation of the resource.
              environment_variables:
                Id vitae assumenda nulla laudantium.:
                  created: 1627590400
                  id: 5497824769661668000
                  key: d
                  updated: 1627686800
                  value: In omnis asperiores assumenda et nulla.
                  value_type: string
                Voluptatem repudiandae animi esse rem.:
                  created: 1627590400
                  id: 5497824769661668000
                  key: d
                  updated: 1627686800
                  value: In omnis asperiores assumenda et nulla.
                  value_type: string
              id: 5046128402653616000
              identifier: c
              name: resource name
              terraform_variable_files:
              - created: 1627590400
                id: 6849075209830916000
                repository: Est nobis.
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: Nam cupiditate.
                repository_path: ''
                repository_sha: abc10ed
                updated: 1627686800
              - created: 1627590400
                id: 6849075209830916000
                repository: Est nobis.
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: Nam cupiditate.
                repository_path: ''
                repository_sha: abc10ed
                updated: 1627686800
              - created: 1627590400
                id: 6849075209830916000
                repository: Est nobis.
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: Nam cupiditate.
                repository_path: ''
                repository_sha: abc10ed
                updated: 1627686800
              terraform_variables:
                Eaque similique corrupti expedita omnis aliquam dolor.:
                  created: 1627590400
                  id: 5497824769661668000
                  key: d
                  updated: 1627686800
                  value: In omnis asperiores assumenda et nulla.
                  value_type: string
                Esse veritatis est nisi quia molestiae.:
                  created: 1627590400
                  id: 5497824769661668000
                  key: d
                  updated: 1627686800
                  value: In omnis asperiores assumenda et nulla.
                  value_type: string
                Fugiat quibusdam.:
                  created: 1627590400
                  id: 5497824769661668000
                  key: d
                  updated: 1627686800
                  value: In omnis asperiores assumenda et nulla.
                  value_type: string
              updated: 1627686800
      responses:
        '201':
          description: Created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariableSetsCreateVariableSetAccountLevelResponseBody'
              example:
                account: 8mb
                connectors:
                - connector_ref: g
                  created: 1627590400
                  id: 3570993256144174600
                  type: azure
                  updated: 1627686800
                - connector_ref: g
                  created: 1627590400
                  id: 3570993256144174600
                  type: azure
                  updated: 1627686800
                created: 1627590400
                description: this is a more detailed explanation of the resource.
                environment_variables:
                  A id voluptas.:
                    created: 1627590400
                    id: 3052340623608331000
                    key: '0'
                    updated: 1627686800
                    value: Saepe ad autem modi quasi libero harum.
                    value_type: string
                identifier: o6
                name: resource name
                org: '6'
                project: '76'
                terraform_variable_files:
                - created: 1627590400
                  id: 2095405973143976000
                  repository: Eos voluptate non dolores expedita.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Est et qui et aut quidem.
                  repository_path: ''
                  repository_sha: abc10ed
                  updated: 1627686800
                - created: 1627590400
                  id: 2095405973143976000
                  repository: Eos voluptate non dolores expedita.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Est et qui et aut quidem.
                  repository_path: ''
                  repository_sha: abc10ed
                  updated: 1627686800
                - created: 1627590400
                  id: 2095405973143976000
                  repository: Eos voluptate non dolores expedita.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Est et qui et aut quidem.
                  repository_path: ''
                  repository_sha: abc10ed
                  updated: 1627686800
                terraform_variables:
                  Id dolor aut aut labore doloribus sit.:
                    created: 1627590400
                    id: 3052340623608331000
                    key: '0'
                    updated: 1627686800
                    value: Saepe ad autem modi quasi libero harum.
                    value_type: string
                  Tempora ut sint hic dolore.:
                    created: 1627590400
                    id: 3052340623608331000
                    key: '0'
                    updated: 1627686800
                    value: Saepe ad autem modi quasi libero harum.
                    value_type: string
                updated: 1627686800
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/variable-set/{identifier}:
    delete:
      tags:
      - variable_sets
      summary: Delete Variable Set by identifier on org level
      description: Delete Variable Set by identifier on org level.
      operationId: variable_sets#delete-variable-set-org-level
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: n
          minLength: 1
          maxLength: 128
        example: ju5
      - name: identifier
        in: path
        description: Identifier is the VariableSet identifier.
        required: true
        schema:
          type: string
          description: Identifier is the VariableSet identifier.
          example: cm2
          minLength: 1
          maxLength: 128
        example: ff
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: agy
          minLength: 1
          maxLength: 128
        example: '0'
      responses:
        '204':
          description: No Content response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    get:
      tags:
      - variable_sets
      summary: Get Variable Set by identifier on org level
      description: Get Variable Set by identifier on org level.
      operationId: variable_sets#get-variable-set-org-level
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: 5yc
          minLength: 1
          maxLength: 128
        example: h
      - name: identifier
        in: path
        description: Identifier is the VariableSet identifier.
        required: true
        schema:
          type: string
          description: Identifier is the VariableSet identifier.
          example: 2j
          minLength: 1
          maxLength: 128
        example: u
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: '1'
          minLength: 1
          maxLength: 128
        example: ta
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariableSetsGetVariableSetAccountLevelResponseBody'
              example:
                account: u
                connectors:
                - connector_ref: g
                  created: 1627590400
                  id: 3570993256144174600
                  type: azure
                  updated: 1627686800
                - connector_ref: g
                  created: 1627590400
                  id: 3570993256144174600
                  type: azure
                  updated: 1627686800
                created: 1627590400
                description: this is a more detailed explanation of the resource.
                environment_variables:
                  Aliquid iure ut alias maiores tempora est.:
                    created: 1627590400
                    id: 3052340623608331000
                    key: '0'
                    updated: 1627686800
                    value: Saepe ad autem modi quasi libero harum.
                    value_type: string
                identifier: 2mw
                name: resource name
                org: 3t
                project: t
                terraform_variable_files:
                - created: 1627590400
                  id: 2095405973143976000
                  repository: Eos voluptate non dolores expedita.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Est et qui et aut quidem.
                  repository_path: ''
                  repository_sha: abc10ed
                  updated: 1627686800
                - created: 1627590400
                  id: 2095405973143976000
                  repository: Eos voluptate non dolores expedita.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Est et qui et aut quidem.
                  repository_path: ''
                  repository_sha: abc10ed
                  updated: 1627686800
                terraform_variables:
                  Molestiae aut maxime ducimus quis.:
                    created: 1627590400
                    id: 3052340623608331000
                    key: '0'
                    updated: 1627686800
                    value: Saepe ad autem modi quasi libero harum.
                    value_type: string
                  Qui sit libero et.:
                    created: 1627590400
                    id: 3052340623608331000
                    key: '0'
                    updated: 1627686800
                    value: Saepe ad autem modi quasi libero harum.
                    value_type: string
                updated: 1627686800
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    put:
      tags:
      - variable_sets
      summary: Update a Variable Set on org level
      description: Update a Variable Set on org level.
      operationId: variable_sets#update-variable-set-org-level
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: '3'
          minLength: 1
          maxLength: 128
        example: v
      - name: identifier
        in: path
        description: Identifier is the VariableSet identifier.
        required: true
        schema:
          type: string
          description: Identifier is the VariableSet identifier.
          example: vyq
          pattern: ^[^/?#\s]+$
          minLength: 1
          maxLength: 128
        example: d
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: 2i
          minLength: 1
          maxLength: 128
        example: ul
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVariableSetRequestOrgScope'
            example:
              connectors:
              - connector_ref: bdw
                created: 1627590400
                id: 8790588802215279000
                type: gcp
                updated: 1627686800
              - connector_ref: bdw
                created: 1627590400
                id: 8790588802215279000
                type: gcp
                updated: 1627686800
              - connector_ref: bdw
                created: 1627590400
                id: 8790588802215279000
                type: gcp
                updated: 1627686800
              - connector_ref: bdw
                created: 1627590400
                id: 8790588802215279000
                type: gcp
                updated: 1627686800
              created: 1627590400
              description: this is a more detailed explanation of the resource.
              environment_variables:
                Aperiam omnis.:
                  created: 1627590400
                  id: 5497824769661668000
                  key: d
                  updated: 1627686800
                  value: In omnis asperiores assumenda et nulla.
                  value_type: string
                Facere rerum ut ipsam laudantium dolorem vitae.:
                  created: 1627590400
                  id: 5497824769661668000
                  key: d
                  updated: 1627686800
                  value: In omnis asperiores assumenda et nulla.
                  value_type: string
              id: 8362532437579041000
              name: resource name
              terraform_variable_files:
              - created: 1627590400
                id: 6849075209830916000
                repository: Est nobis.
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: Nam cupiditate.
                repository_path: ''
                repository_sha: abc10ed
                updated: 1627686800
              - created: 1627590400
                id: 6849075209830916000
                repository: Est nobis.
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: Nam cupiditate.
                repository_path: ''
                repository_sha: abc10ed
                updated: 1627686800
              - created: 1627590400
                id: 6849075209830916000
                repository: Est nobis.
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: Nam cupiditate.
                repository_path: ''
                repository_sha: abc10ed
                updated: 1627686800
              - created: 1627590400
                id: 6849075209830916000
                repository: Est nobis.
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: Nam cupiditate.
                repository_path: ''
                repository_sha: abc10ed
                updated: 1627686800
              terraform_variables:
                Alias quia eius est neque.:
                  created: 1627590400
                  id: 5497824769661668000
                  key: d
                  updated: 1627686800
                  value: In omnis asperiores assumenda et nulla.
                  value_type: string
                Harum eum.:
                  created: 1627590400
                  id: 5497824769661668000
                  key: d
                  updated: 1627686800
                  value: In omnis asperiores assumenda et nulla.
                  value_type: string
                Repudiandae et.:
                  created: 1627590400
                  id: 5497824769661668000
                  key: d
                  updated: 1627686800
                  value: In omnis asperiores assumenda et nulla.
                  value_type: string
              updated: 1627686800
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariableSetsCreateVariableSetAccountLevelResponseBody'
              example:
                account: 8mb
                connectors:
                - connector_ref: g
                  created: 1627590400
                  id: 3570993256144174600
                  type: azure
                  updated: 1627686800
                - connector_ref: g
                  created: 1627590400
                  id: 3570993256144174600
                  type: azure
                  updated: 1627686800
                created: 1627590400
                description: this is a more detailed explanation of the resource.
                environment_variables:
                  A id voluptas.:
                    created: 1627590400
                    id: 3052340623608331000
                    key: '0'
                    updated: 1627686800
                    value: Saepe ad autem modi quasi libero harum.
                    value_type: string
                identifier: o6
                name: resource name
                org: '6'
                project: '76'
                terraform_variable_files:
                - created: 1627590400
                  id: 2095405973143976000
                  repository: Eos voluptate non dolores expedita.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Est et qui et aut quidem.
                  repository_path: ''
                  repository_sha: abc10ed
                  updated: 1627686800
                - created: 1627590400
                  id: 2095405973143976000
                  repository: Eos voluptate non dolores expedita.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Est et qui et aut quidem.
                  repository_path: ''
                  repository_sha: abc10ed
                  updated: 1627686800
                - created: 1627590400
                  id: 2095405973143976000
                  repository: Eos voluptate non dolores expedita.
                  repository_branch: main
                  repository_commit: abc10ed
                  repository_connector: Est et qui et aut quidem.
                  repository_path: ''
                  repository_sha: abc10ed
                  updated: 1627686800
                terraform_variables:
                  Id dolor aut aut labore doloribus sit.:
                    created: 1627590400
[...]
