openapi: 3.2.0
info:
  title: Harness Project Environments API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Project Environments
  description: This contains APIs for project-scoped environments.
  x-displayName: Project Environments [Beta]
paths:
  /v1/orgs/{org}/projects/{project}/environments:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    - $ref: '#/components/parameters/ProjectPathParam'
    post:
      summary: Creates an Environment
      operationId: create-environment
      responses:
        '201':
          $ref: '#/components/responses/EnvironmentResponse'
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/EnvironmentCreateRequest'
      security:
      - x-api-key: []
      tags:
      - Project Environments
      x-internal: false
    get:
      summary: List Environments
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentListResponse'
      operationId: get-environments
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit1'
      - $ref: '#/components/parameters/SearchTerm1'
      - $ref: '#/components/parameters/EnvironmentIdentifiers'
      - $ref: '#/components/parameters/Sort1'
      - schema:
          type: boolean
        in: query
        name: is_access_list
        description: Specifies whether the list is an access list. An access list is a list of environments that you are permitted to use in a pipeline.
      - $ref: '#/components/parameters/AccountHeader'
      - $ref: '#/components/parameters/Order'
      security:
      - x-api-key: []
      description: Returns a list of the enviornments for which you have view permissions in the given project.
      tags:
      - Project Environments
  /v1/orgs/{org}/projects/{project}/environments/{environment}:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    - $ref: '#/components/parameters/ProjectPathParam'
    - $ref: '#/components/parameters/EnvironmentPathParam'
    get:
      summary: Retrieve a environment
      operationId: get-environment
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      description: Retrieves the specified environment
      security:
      - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentResponse'
      tags:
      - Project Environments
    put:
      summary: Update Environment
      operationId: update-environment
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentResponse'
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/EnvironmentUpdateRequest'
      description: Updates the specified environment
      security:
      - x-api-key: []
      tags:
      - Project Environments
    delete:
      summary: Delete a Environment
      operationId: delete-environment
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-resp:
                  value: {}
            application/yaml:
              schema:
                type: object
                properties: {}
              examples:
                example-resp:
                  value: '{}

                    '
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      - $ref: '#/components/parameters/ForceDelete'
      description: Deletes the requested environment
      security:
      - x-api-key: []
      tags:
      - Project Environments
components:
  schemas:
    EnvironmentCreateRequest:
      type: object
      x-examples:
        example-1:
          identifier: example_environment
          name: Example_environment
          description: This is a example environment
          tags:
            example-tag-1: example-tag-1-value
            example-tag-2: example-tag-2-value
          yaml: "service:\n  name: \"Example_environment\"\n  identifier: \"example_environment\"\n  tags: {}\n"
      title: EnvironmentCreateRequest
      description: 'Environment Request Body '
      properties:
        identifier:
          type: string
          description: Identifier of the Environment
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
        name:
          type: string
          description: Name of the Environment
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$
          minLength: 1
          maxLength: 128
        description:
          type: string
          description: Description of the Environment
          maxLength: 1024
        tags:
          type: object
          additionalProperties:
            type: string
          description: Environment tags
          maxProperties: 128
        type:
          $ref: '#/components/schemas/EnvironmentType'
        color:
          type: string
          description: Environment color
        harness_version:
          type: string
          description: version of harness yaml
        yaml:
          type: string
          description: YAML for the Environment Request
      required:
      - identifier
      - name
      - type
      x-stoplight:
        id: v1x9is61l27ki
    EnvironmentResponse:
      type: object
      x-examples:
        example-1:
          service:
            account: sample_account
            identifier: example_environment
            org: sample_organization
            project: sample_project
            name: Example_environment
            description: This is a example environment
            tags:
              example-tag-1: example-tag-1-value
              example-tag-2: example-tag-2-value
            yaml: "service:\n  name: \"Example_environment\"\n  identifier: \"example_environment\"\n  tags: {}\n"
          created: 1234567890
          updated: 1234567890
      description: Default response when a environment is returned
      title: EnvironmentResponse
      properties:
        environment:
          $ref: '#/components/schemas/Environment'
        created:
          type: integer
          format: int64
          description: Creation timestamp for environment.
        updated:
          type: integer
          format: int64
          description: Last modification timestamp for environment.
      x-stoplight:
        id: 8wkghgenuyufw
    Environment:
      type: object
      x-examples:
        example-1:
          account: sample_account
          identifier: example_environment
          org: sample_organization
          project: sample_project
          name: Example_environment
          description: This is a example environment
          tags:
            example-tag-1: example-tag-1-value
            example-tag-2: example-tag-2-value
          yaml: "environment:\n  name: \"Example_environment\"\n  identifier: \"example_environment\"\n  tags: {}\n"
      description: This is the Environment entity defined in Harness
      title: Environment
      properties:
        account:
          type: string
          description: Account Identifier
          minLength: 1
          maxLength: 128
        identifier:
          type: string
          description: Identifier of the Environment Request.
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
        org:
          type: string
          description: Organization Identifier for the Entity.
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
        project:
          type: string
          description: Project Identifier for the Entity.
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
        name:
          type: string
          description: Name of the Environment Request.
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$
          minLength: 1
          maxLength: 128
        description:
          type: string
          description: Description of the entity
          maxLength: 1024
        tags:
          type: object
          additionalProperties:
            type: string
          description: Environment tags
          maxProperties: 128
        harness_version:
          type: string
          description: version of harness yaml
        yaml:
          type: string
          description: Yaml related to environment
      required:
      - identifier
      - name
      x-stoplight:
        id: t0gj2z2q9pwsn
    EnvironmentType:
      type: string
      enum:
      - PreProduction
      - Production
    EnvironmentUpdateRequest:
      type: object
      x-examples:
        example-1:
          identifier: example_environment
          name: Example_environment
          description: This is a example environment
          tags:
            example-tag-1: example-tag-1-value
            example-tag-2: example-tag-2-value
          yaml: "service:\n  name: \"Example_environment\"\n  identifier: \"example_environment\"\n  tags: {}\n"
      title: EnvironmentUpdateRequest
      description: 'Environment Update Request Body '
      properties:
        identifier:
          type: string
          description: Identifier of the Environment
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
        name:
          type: string
          description: Name of the Environment
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$
          minLength: 1
          maxLength: 128
        description:
          type: string
          description: Description of the Environment
          maxLength: 1024
        tags:
          type: object
          additionalProperties:
            type: string
          description: Environment tags
          maxProperties: 128
        type:
          $ref: '#/components/schemas/EnvironmentType'
        color:
          type: string
          description: Environment color
        harness_version:
          type: string
          description: version of harness yaml
        yaml:
          type: string
          description: YAML for the Environment Request
      required:
      - identifier
      - name
      - type
      x-stoplight:
        id: stztl057sv571
  parameters:
    SearchTerm1:
      name: search_term
      in: query
      required: false
      schema:
        type: string
      description: This would be used to filter resources having attributes matching with search term.
    ProjectPathParam:
      name: project
      in: path
      required: true
      schema:
        type: string
      description: Identifier field of the project the resource is scoped to
    EnvironmentPathParam:
      name: environment
      in: path
      required: true
      schema:
        type: string
      description: Identifier field of the scoped environment entity to be used for the selected operation.
    Sort1:
      name: sort
      in: query
      required: false
      schema:
        type: string
        enum:
        - name
        - identifier
        - created
        - updated
      description: Parameter on the basis of which sorting is done.
    EnvironmentIdentifiers:
      name: environment_ids
      in: query
      required: false
      schema:
        type: array
        uniqueItems: true
        items:
          type: string
      description: List of Environment Identifiers
    OrgPathParam:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Identifier field of the organization the resource is scoped to
    AccountHeader:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
    Order:
      name: order
      in: query
      required: false
      schema:
        type: string
        enum:
        - ASC
        - DESC
      description: Order on the basis of which sorting is done.
    ForceDelete:
      name: forceDelete
      in: query
      schema:
        type: boolean
        default: false
      description: Enable this field to force delete the entity
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t"
    Limit1:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 20
        maximum: 1000
      description: Number of items to return per page.
  responses:
    EnvironmentResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EnvironmentResponse'
          examples:
            example-1:
              value:
                environment:
                  account: sample_account
                  identifier: example_
                  org: sample_organization
                  project: sample_project
                  name: Example_environment
                  description: This is a example environment
                  tags:
                    example-tag-1: example-tag-1-value
                    example-tag-2: example-tag-2-value
                  yaml: "environment:\n  name: \"Example_environment\"\n  identifier: \"example_environment\"\n  tags: {}\n"
                created: 1234567890
                updated: 1234567890
        application/yaml:
          schema:
            $ref: '#/components/schemas/EnvironmentResponse'
          examples:
            example-1:
              value: "environment:\n  account: sample_account\n  identifier: example_environment\n  org: sample_organization\n  project: sample_project\n  name: Example_environment\n  description: This is a example environment\n  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2: example-tag-2-value\n  yaml: |\n    environment:\n      name: \"Example_environment\"\n      identifier: \"example_environment\"\n      tags: {}\ncreated: 1234567890\nupdated: 1234567890\n"
    EnvironmentListResponse:
      description: Example environment list response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/EnvironmentResponse'
          examples:
            example-1:
              value:
              - service:
                  account: sample_account
                  identifier: example_environment
                  org: sample_organization
                  project: sample_project
                  name: Example_service
                  description: This is a example environment
                  tags:
                    example-tag-1: example-tag-1-value
                    example-tag-2: example-tag-2-value
                  yaml: "environment:\n  name: \"Example_environment\"\n  identifier: \"example_environment\"\n  tags: {}\n"
                created: 1234567890
                updated: 1234567890
        application/yaml:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/EnvironmentResponse'
          examples:
            example-1:
              value: "- environment:\n    account: sample_account\n    identifier: example_environment\n    org: sample_organization\n    project: sample_project\n    name: Example_environment\n    description: This is a example environment\n    tags:\n      example-tag-1: example-tag-1-value\n      example-tag-2: example-tag-2-value\n    yaml: |\n      environment:\n        name: \"Example_environment\"\n        identifier: \"example_environment\"\n        tags: {}\n  created: 1234567890\n  updated: 1234567890\n"
      headers:
        X-Total-Elements:
          schema:
            type: integer
          description: Total number of elements returned in Paginated response.
        X-Page-Number:
          schema:
            type: integer
          description: Page number in Paginated response.
        X-Page-Size:
          schema:
            type: integer
          description: Maximum page size in Paginated response.
  requestBodies:
    EnvironmentCreateRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EnvironmentCreateRequest'
          examples:
            example-1:
              value:
                identifier: example_environment_v0
                name: Example_Env_V0
                description: This is a example environment v0
                tags:
                  example-tag-1: example-tag-1-value
                  example-tag-2: example-tag-2-value
                yaml: "environment:\n  name: \"Example_Env_V0\"\n  identifier: \"example_environment_v0\"\n  tags: {}\n"
            example-2:
              value:
                identifier: example_environment_v1
                name: Example_Env_V1
                description: This is a example environment v1
                tags:
                  example-tag-1: example-tag-1-value
                  example-tag-2: example-tag-2-value
                yaml: "environment:\n  version: 1\n  kind: Environment\n"
        application/yaml:
          schema:
            $ref: '#/components/schemas/EnvironmentCreateRequest'
          examples:
            example-1:
              value: "identifier: example_environment_v0\nname: Example_Env_V0\ndescription: This is a example environment\ntags:\n  example-tag-1: example-tag-1-value\n  example-tag-2: example-tag-2-value\nyaml: |\n  service:\n    name: \"Example_Env_V0\"\n    identifier: \"example_environment_v0\"\n    tags: {}\n"
      description: Update Environment request body
      required: true
    EnvironmentUpdateRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EnvironmentUpdateRequest'
          examples:
            example-1:
              value:
                identifier: example_environment_v0
                name: Example_Env_V0
                description: This is a example environment v0
                tags:
                  example-tag-1: example-tag-1-value
                  example-tag-2: example-tag-2-value
                yaml: "environment:\n  name: \"Example_Env_V0\"\n  identifier: \"example_environment_v0\"\n  tags: {}\n"
            example-2:
              value:
                identifier: example_environment_v1
                name: Example_Env_V1
                description: This is a example environment v1
                tags:
                  example-tag-1: example-tag-1-value
                  example-tag-2: example-tag-2-value
                yaml: "environment:\n  version: 1\n  kind: Environment\n"
        application/yaml:
          schema:
            $ref: '#/components/schemas/EnvironmentUpdateRequest'
          examples:
            example-1:
              value: "identifier: example_environment_v0\nname: Example_Env_V0\ndescription: This is a example environment\ntags:\n  example-tag-1: example-tag-1-value\n  example-tag-2: example-tag-2-value\nyaml: |\n  service:\n    name: \"Example_Env_V0\"\n    identifier: \"example_environment_v0\"\n    tags: {}\n"
      description: Update Environment request body
      required: true
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
