openapi: 3.2.0
info:
  title: Harness RI Inventory APIs API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: RI Inventory APIs
paths:
  /gateway/lw/api/accounts/{account_id}/v2/inventory/ri/list:
    post:
      tags:
      - RI Inventory APIs
      summary: List Reserved Instances
      description: Retrieves a paginated list of Reserved Instances with optional filtering
      operationId: ListReservedInstances
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Account Identifier for the Entity
      - name: routingId
        in: query
        required: true
        schema:
          type: string
        description: Routing identifier for request processing
      - name: start_date
        in: query
        required: false
        schema:
          type: string
          format: date
          example: '2020-01-01'
        description: Start date for filtering Reserved Instances
      - name: end_date
        in: query
        required: false
        schema:
          type: string
          format: date
          example: '2025-08-30'
        description: End date for filtering Reserved Instances
      requestBody:
        description: Pagination and filtering options
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListReservedInstancesRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListReservedInstancesResponse'
        '400':
          description: Invalid request parameters
  /gateway/lw/api/accounts/{account_id}/v2/inventory/ri/{riId}/detail:
    get:
      tags:
      - RI Inventory APIs
      summary: Get Reserved Instance Details
      description: Retrieves detailed information about a specific Reserved Instance
      operationId: GetReservedInstanceDetails
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Account Identifier for the Entity
      - name: riId
        in: path
        required: true
        schema:
          type: string
        description: Unique identifier of the Reserved Instance
      - name: routingId
        in: query
        required: true
        schema:
          type: string
        description: Routing identifier for request processing
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservedInstanceDetailsResponse'
        '400':
          description: Invalid request parameters
        '404':
          description: Reserved Instance not found
  /gateway/lw/api/accounts/{account_id}/v2/filters/ri:
    get:
      tags:
      - RI Inventory APIs
      summary: Get Reserved Instance Filter Options
      description: Retrieves available filter options for Reserved Instances including account IDs, instance types, platforms, etc.
      operationId: GetRIFilterOptions
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Account Identifier for the Entity
      - name: routingId
        in: query
        required: true
        schema:
          type: string
        description: Routing identifier for request processing
      - name: service
        in: query
        required: false
        schema:
          type: string
          enum:
          - Amazon Relational Database Service
          - Amazon Elastic Compute Cloud - Compute
        description: Service to fetch filters for
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  ts:
                    type: integer
                    description: Response timestamp
                  success:
                    type: boolean
                    description: Indicates if the request was successful
                  errors:
                    type:
                    - string
                    - 'null'
                    description: Error details, if any
                  response:
                    $ref: '#/components/schemas/InventoryRIAPIFilter'
        '400':
          description: Invalid request parameters
components:
  schemas:
    PaginationInput:
      type: object
      properties:
        limit:
          type: integer
          maximum: 100
          example: 20
        page:
          type: integer
          example: 1
          maximum: 100
    ReservedInstance:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the Reserved Instance
        type:
          type: string
          description: Type of Reserved Instance (e.g., Convertible)
        count:
          type: integer
          description: Number of instances in this reservation
        scope:
          type: string
          description: Scope of the reservation (e.g., Region)
        availability_zone:
          type: string
          description: Availability zone if applicable
        start_date:
          type: string
          format: date-time
          description: Start date of the reservation
        expires_on:
          type: string
          format: date-time
          description: Expiration date of the reservation
        term:
          type: string
          description: Term length of the reservation
        avg_utilization:
          type: number
          format: float
          description: Average utilization percentage
        status:
          type: string
          description: Current status of the reservation
        is_harness_managed:
          type: boolean
          description: Indicates if the reservation is managed by Harness
        is_seed_ri:
          type: boolean
          description: Indicates if this is a seed reservation
    ListReservedInstancesResponse:
      type: object
      properties:
        ts:
          type: integer
          description: Response timestamp
        success:
          type: boolean
          description: Indicates if the request was successful
        errors:
          type:
          - string
          - 'null'
          description: Error details, if any
        response:
          $ref: '#/components/schemas/ReservedInstancesData'
    ReservedInstanceDetail:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the Reserved Instance
        instance_type:
          type: string
          description: Type of EC2 instance
        scope:
          type: string
          description: Scope of the reservation (e.g., region)
        instance_count:
          type: integer
          description: Number of instances in this reservation
        availability_zone:
          type: string
          description: Availability zone if applicable
        platform:
          type: string
          description: Operating system platform
        tenancy:
          type: string
          description: Instance tenancy (e.g., Shared, Dedicated)
        type:
          type: string
          description: Type of Reserved Instance (e.g., Convertible)
        utilization:
          type: number
          format: float
          description: Current utilization percentage
        status:
          type: string
          description: Current status of the reservation
        start_date:
          type: string
          format: date-time
          description: Start date of the reservation
        expiry_date:
          type: string
          format: date-time
          description: Expiration date of the reservation
        purchase_term_years:
          type: string
          description: Term length of the reservation
        payment_option:
          type: string
          description: Payment option selected
        upfront_fee:
          type: number
          format: double
          description: Upfront payment amount
        usage_price:
          type: number
          format: double
          description: Usage price per hour
        hourly_cost:
          type: number
          format: double
          description: Total hourly cost
        purchase_date:
          type: string
          format: date-time
          description: Date when the reservation was purchased
        previously_was:
          $ref: '#/components/schemas/PreviousStateInfo'
        approval_info:
          $ref: '#/components/schemas/ApprovalInfo'
        is_harness_managed:
          type: boolean
          description: Indicates if the reservation is managed by Harness
    InventoryRIAPIFilter:
      type: object
      properties:
        account_ids:
          type: array
          items:
            type: string
          description: List of provider account IDs
        cloud_account_ids:
          type: array
          items:
            type: string
          description: List of cloud account IDs
        instance_types:
          type: array
          items:
            type: string
          description: List of instance types
        instance_families:
          type: array
          items:
            type: string
          description: List of instance families
        platforms:
          type: array
          items:
            type: string
          description: List of platforms
        tenancy:
          type: array
          items:
            type: string
          description: List of tenancy options
        payment_options:
          type: array
          items:
            type: string
            enum:
            - No Upfront
            - Partial Upfront
            - All Upfront
          description: List of payment options
        terms:
          type: array
          items:
            type: number
            format: float64
          description: List of term lengths in years
        plan_types:
          type: array
          items:
            type: string
            enum:
            - Standard
            - Convertible
          description: List of RI types
        status:
          type: array
          items:
            type: string
            enum:
            - active
            - expired
            - pending
            - retired
          description: List of statuses
        is_harness_managed:
          type:
          - boolean
          - 'null'
          description: Filter by Harness managed status
        regions:
          type: array
          items:
            type: string
          description: List of regions
        service:
          type: string
          enum:
          - Amazon Relational Database Service
          - Amazon Elastic Compute Cloud - Compute
          default: Amazon Elastic Compute Cloud - Compute
          description: Service to fetch the inventory for.
    ReservedInstancesData:
      type: object
      properties:
        total:
          type: integer
          format: int64
          description: Total number of Reserved Instances
        pages:
          type: integer
          format: int64
          description: Total number of pages
        items:
          type: array
          items:
            $ref: '#/components/schemas/ReservedInstance'
        pagination:
          $ref: '#/components/schemas/PaginationInput'
    ApprovalInfo:
      type: object
      properties:
        approved_by:
          type: string
          description: User who approved the change
        approved_at:
          type: string
          format: date-time
          description: Timestamp of approval
        status:
          type: string
          description: Current approval status
    ListReservedInstancesRequest:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationInput'
        filters:
          $ref: '#/components/schemas/InventoryRIAPIFilter'
        sort_by:
          type: string
          description: Field to sort results by
        sort_order:
          type: string
          enum:
          - asc
          - desc
          description: Sort order direction
    ReservedInstanceDetailsResponse:
      type: object
      properties:
        ts:
          type: integer
          description: Response timestamp
        success:
          type: boolean
          description: Indicates if the request was successful
        errors:
          type:
          - string
          - 'null'
          description: Error details, if any
        response:
          $ref: '#/components/schemas/ReservedInstanceDetail'
    PreviousStateInfo:
      type: object
      properties:
        instance_type:
          type: string
          description: Previous instance type
        platform:
          type: string
          description: Previous platform
        tenancy:
          type: string
          description: Previous tenancy
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
