openapi: 3.2.0
info:
  title: Harness Clusters API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Clusters
  description: This contains APIs related to Gitops Clusters
paths:
  /ng/api/gitops/clusters/{identifier}:
    get:
      tags:
      - Clusters
      summary: Get a Cluster linked to an environment by identifier
      operationId: getCluster
      parameters:
      - name: identifier
        in: path
        description: Cluster Identifier for the entity
        required: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: environmentIdentifier
        in: query
        description: environmentIdentifier
        required: true
        schema:
          type: string
      - name: agentIdentifier
        in: query
        description: agentIdentifier
        schema:
          type: string
      - name: deleted
        in: query
        description: Specify whether cluster is deleted or not
        schema:
          type: boolean
          default: false
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: The saved Cluster
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOClusterResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOClusterResponse'
    delete:
      tags:
      - Clusters
      summary: Unlink a cluster by identifier
      description: Unlink a cluster from an environment by identifier
      operationId: deleteCluster
      parameters:
      - name: identifier
        in: path
        description: Cluster Identifier for the entity
        required: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: environmentIdentifier
        in: query
        description: environmentIdentifier
        required: true
        schema:
          type: string
      - name: agentIdentifier
        in: query
        description: agentIdentifier
        schema:
          type: string
      - name: scope
        in: query
        description: Scope for the gitops cluster
        schema:
          type: string
          enum:
          - ACCOUNT
          - ORGANIZATION
          - PROJECT
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns true if the Cluster is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
  /ng/api/gitops/clusters:
    get:
      tags:
      - Clusters
      summary: Gets cluster list
      description: Gets a list of GitOps clusters linked to an environment
      operationId: getClusterList
      parameters:
      - name: page
        in: query
        description: 'Page Index of the results to fetch.Default Value: 0'
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        description: Results per page
        schema:
          type: integer
          format: int32
          default: 100
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: environmentIdentifier
        in: query
        description: Environment Identifier of the clusters
        required: true
        schema:
          type: string
      - name: searchTerm
        in: query
        description: The word to be searched and included in the list response
        schema:
          type: string
      - name: identifiers
        in: query
        description: List of cluster identifiers
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Specifies the sorting criteria of the list. Like sorting based on the last updated entity, alphabetical sorting in an ascending or descending order
        schema:
          type: array
          items:
            type: string
      - name: scope
        in: query
        description: Scope of linked clusters to be returned, ACCOUNT/ORGANIZATION/PROJECT. Returns all by default if this is not specified
        schema:
          type: string
          enum:
          - ACCOUNT
          - ORGANIZATION
          - PROJECT
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns the list of cluster for a Project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseClusterResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseClusterResponse'
    post:
      tags:
      - Clusters
      summary: Link a Cluster
      description: Link a GitOps cluster to an environment by identifier
      operationId: linkCluster
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      requestBody:
        description: Details of the createCluster to be linked
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/ClusterRequest'
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns the linked Cluster
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOClusterResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOClusterResponse'
  /ng/api/gitops/clusters/batch:
    post:
      tags:
      - Clusters
      summary: Link Clusters
      operationId: linkClusters
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier of the environment.
        required: true
        schema:
          type: string
      requestBody:
        description: Request body for linking clusters to an environment. Either provide a list of clusters in the clusters field OR use linkAllClusters=true with searchTerm to link all matching clusters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterLinkRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/ClusterLinkRequest'
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns the linked Clusters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOClusterBatchResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOClusterBatchResponse'
  /ng/api/gitops/clusters/batchunlink:
    post:
      tags:
      - Clusters
      summary: Unlink Clusters
      operationId: unlinkClustersInBatch
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      requestBody:
        description: Request body for unlinking clusters from an environment. Either provide a list of specific clusters OR use unlinkAllClusters=true to unlink all.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterUnlinkRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/ClusterUnlinkRequest'
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns true if all the Clusters are deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOClusterBatchResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOClusterBatchResponse'
  /gitops/api/v1/agents/{agentIdentifier}/cluster_byname:
    get:
      summary: Get a cluster managed by an agent by name
      description: Get a cluster managed by agent using name
      operationId: AgentClusterService_GetByName
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1Cluster'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: fetchScopePrefixedIdentifier
        description: Indicates whether the identifier of cluster fetched must contain harness scope prefix (account./org.)
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Clusters
  /gitops/api/v1/agents/{agentIdentifier}/cluster_byurl:
    get:
      summary: Get a cluster managed by an agent by URL
      description: Get a cluster managed by agent using URL
      operationId: AgentClusterService_GetByUrl
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1Cluster'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: server
        in: query
        required: false
        schema:
          type: string
      - name: fetchScopePrefixedIdentifier
        description: Indicates whether the identifier of cluster fetched must contain harness scope prefix (account./org.)
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Clusters
  /gitops/api/v1/agents/{agentIdentifier}/clusters:
    get:
      summary: List returns list of clusters
      description: List clusters.
      operationId: AgentClusterService_List
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clustersClusterList'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        required: false
        schema:
          type: string
      - name: query.server
        in: query
        required: false
        schema:
          type: string
      - name: query.name
        in: query
        required: false
        schema:
          type: string
      - name: query.id.type
        description: type is the type of the specified cluster identifier ( "server" - default, "name" ).
        in: query
        required: false
        schema:
          type: string
      - name: query.id.value
        description: value holds the cluster server URL or cluster name.
        in: query
        required: false
        schema:
          type: string
      - name: query.project
        in: query
        required: false
        schema:
          type: string
      tags:
      - Clusters
    post:
      summary: Create creates a cluster
      description: Create cluster.
      operationId: AgentClusterService_Create
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1Cluster'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/clustersClusterCreateRequest'
        required: true
      tags:
      - Clusters
  /gitops/api/v1/agents/{agentIdentifier}/clusters/{identifier}:
    get:
      summary: Get returns a cluster by identifier
      description: Get cluster.
      operationId: AgentClusterService_Get
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1Cluster'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: query.server
        in: query
        required: false
        schema:
          type: string
      - name: query.name
        in: query
        required: false
        schema:
          type: string
      - name: query.id.type
        description: type is the type of the specified cluster identifier ( "server" - default, "name" ).
        in: query
        required: false
        schema:
          type: string
      - name: query.id.value
        description: value holds the cluster server URL or cluster name.
        in: query
        required: false
        schema:
          type: string
      - name: query.project
        in: query
        required: false
        schema:
          type: string
      tags:
      - Clusters
    delete:
      summary: Delete deletes a cluster
      description: Delete cluster.
      operationId: AgentClusterService_Delete
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clustersClusterResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: query.server
        in: query
        required: false
        schema:
          type: string
      - name: query.name
        in: query
        required: false
        schema:
          type: string
      - name: query.id.type
        description: type is the type of the specified cluster identifier ( "server" - default, "name" ).
        in: query
        required: false
        schema:
          type: string
      - name: query.id.value
        description: value holds the cluster server URL or cluster name.
        in: query
        required: false
        schema:
          type: string
      - name: query.project
        in: query
        required: false
        schema:
          type: string
      - name: forceDelete
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Clusters
    put:
      summary: Update updates a cluster
      description: Update cluster.
      operationId: AgentClusterService_Update
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1Cluster'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: forceUpdate
        in: query
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/clustersClusterUpdateRequest'
        required: true
      tags:
      - Clusters
  /gitops/api/v1/agents/{agentIdentifier}/gpgkeys:
    get:
      summary: List all available repository certificates
      description: List all available repository certificates.
      operationId: AgentGPGKeyService_List
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gpgkeysGnuPGPublicKeyList'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: query.keyID
        description: The GPG key ID to query for.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Clusters
  /gitops/api/v1/agents/{agentIdentifier}/hosted/cluster:
    post:
      summary: CreateHosted creates a harness hosted cluster
      description: Creates Harness hosted cluster.
      operationId: AgentClusterService_CreateHosted
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1Cluster'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Clusters
  /gitops/api/v1/clusters:
    post:
      summary: List clusters
      description: ListClusters returns a list of clusters.
      operationId: ClusterService_ListClusters
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Clusterlist'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/servicev1ClusterQuery'
        required: true
      tags:
      - Clusters
  /gitops/api/v1/clusters/exists:
    get:
      summary: Check if a cluster exists
      description: Exists checks whether a cluster with the given identifier exists.
      operationId: ClusterService_Exists
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: boolean
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: query
        required: false
        schema:
          type: string
      - name: server
        in: query
        required: false
        schema:
          type: string
      tags:
      - Clusters
components:
  schemas:
    ClusterBasicDTO:
      type: object
      properties:
        identifier:
          type: string
          description: identifier of the cluster
        agentIdentifier:
          type: string
          description: agent identifier of the cluster
        name:
          type: string
          description: name of the cluster
        scope:
          type: string
          description: scope at which the cluster exists in harness gitops, project vs org vs account
          enum:
          - ACCOUNT
          - ORGANIZATION
          - PROJECT
      description: List of cluster identifiers and names
    ResponseDTOBoolean:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          type: boolean
        metaData:
          type: object
        correlationId:
          type: string
    Failure:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        code:
          type: string
          enum:
          - DEFAULT_ERROR_CODE
          - INVALID_ARGUMENT
          - INVALID_EMAIL
          - DOMAIN_NOT_ALLOWED_TO_REGISTER
          - COMMNITY_EDITION_NOT_FOUND
          - DEPLOY_MODE_IS_NOT_ON_PREM
          - USER_ALREADY_REGISTERED
          - USER_INVITATION_DOES_NOT_EXIST
          - USER_DOES_NOT_EXIST
          - USER_INVITE_OPERATION_FAILED
          - USER_DISABLED
          - ACCOUNT_DOES_NOT_EXIST
          - INACTIVE_ACCOUNT
          - ACCOUNT_MIGRATED
          - ACCOUNT_MIGRATED_TO_NEXT_GEN
          - USER_DOMAIN_NOT_ALLOWED
          - MAX_FAILED_ATTEMPT_COUNT_EXCEEDED
          - RESOURCE_NOT_FOUND
          - INVALID_FORMAT
          - ROLE_DOES_NOT_EXIST
          - EMAIL_NOT_VERIFIED
          - EMAIL_VERIFICATION_TOKEN_NOT_FOUND
          - INVALID_TOKEN
          - REVOKED_TOKEN
          - INVALID_CAPTCHA_TOKEN
          - NOT_ACCOUNT_MGR_NOR_HAS_ALL_APP_ACCESS
          - EXPIRED_TOKEN
          - INVALID_AGENT_MTLS_AUTHORITY
          - TOKEN_ALREADY_REFRESHED_ONCE
          - ACCESS_DENIED
          - NG_ACCESS_DENIED
          - INVALID_CREDENTIAL
          - INVALID_CREDENTIALS_THIRD_PARTY
          - INVALID_KEY
          - INVALID_CONNECTOR_TYPE
          - INVALID_KEYPATH
          - INVALID_VARIABLE
          - UNKNOWN_HOST
          - UNREACHABLE_HOST
          - INVALID_PORT
          - SSH_SESSION_TIMEOUT
          - ALGORITHM_NEGOTIATION_ERROR
          - SOCKET_CONNECTION_ERROR
          - CONNECTION_ERROR
          - COULD_NOT_PROCESS_ERROR
          - SOCKET_CONNECTION_TIMEOUT
          - WINRM_COMMAND_EXECUTION_TIMEOUT
          - CONNECTION_TIMEOUT
          - SSH_CONNECTION_ERROR
          - USER_GROUP_ERROR
          - INVALID_EXECUTION_ID
          - ERROR_IN_GETTING_CHANNEL_STREAMS
          - UNEXPECTED
          - UNKNOWN_ERROR
          - UNKNOWN_EXECUTOR_TYPE_ERROR
          - DUPLICATE_STATE_NAMES
          - TRANSITION_NOT_LINKED
          - TRANSITION_TO_INCORRECT_STATE
          - TRANSITION_TYPE_NULL
          - STATES_WITH_DUP_TRANSITIONS
          - BARRIERS_NOT_RUNNING_CONCURRENTLY
          - NON_FORK_STATES
          - NON_REPEAT_STATES
          - INITIAL_STATE_NOT_DEFINED
          - FILE_INTEGRITY_CHECK_FAILED
          - INVALID_URL
          - FILE_DOWNLOAD_FAILED
          - PLATFORM_SOFTWARE_DELETE_ERROR
          - INVALID_CSV_FILE
          - INVALID_REQUEST
          - SCHEMA_VALIDATION_FAILED
          - FILTER_CREATION_ERROR
          - INVALID_YAML_ERROR
          - PLAN_CREATION_ERROR
          - INVALID_INFRA_STATE
          - PIPELINE_ALREADY_TRIGGERED
          - NON_EXISTING_PIPELINE
          - DUPLICATE_COMMAND_NAMES
          - INVALID_PIPELINE
          - COMMAND_DOES_NOT_EXIST
          - DUPLICATE_ARTIFACTSTREAM_NAMES
          - DUPLICATE_HOST_NAMES
          - STATE_NOT_FOR_TYPE
          - STATE_MACHINE_ISSUE
          - STATE_DISCONTINUE_FAILED
          - STATE_PAUSE_FAILED
          - PAUSE_ALL_ALREADY
          - RESUME_ALL_ALREADY
          - ROLLBACK_ALREADY
          - ABORT_ALL_ALREADY
          - EXPIRE_ALL_ALREADY
          - RETRY_FAILED
          - UNKNOWN_ARTIFACT_TYPE
          - UNKNOWN_STAGE_ELEMENT_WRAPPER_TYPE
          - INIT_TIMEOUT
          - LICENSE_EXPIRED
          - NOT_LICENSED
          - REQUEST_TIMEOUT
          - SCM_REQUEST_TIMEOUT
          - WORKFLOW_ALREADY_TRIGGERED
          - JENKINS_ERROR
          - INVALID_ARTIFACT_SOURCE
          - INVALID_ARTIFACT_SERVER
          - INVALID_CLOUD_PROVIDER
          - UPDATE_NOT_ALLOWED
          - DELETE_NOT_ALLOWED
          - APPDYNAMICS_CONFIGURATION_ERROR
          - APM_CONFIGURATION_ERROR
          - SPLUNK_CONFIGURATION_ERROR
          - ELK_CONFIGURATION_ERROR
          - LOGZ_CONFIGURATION_ERROR
          - SUMO_CONFIGURATION_ERROR
          - INSTANA_CONFIGURATION_ERROR
          - APPDYNAMICS_ERROR
          - STACKDRIVER_ERROR
          - STACKDRIVER_CONFIGURATION_ERROR
          - NEWRELIC_CONFIGURATION_ERROR
          - NEWRELIC_ERROR
          - DYNA_TRACE_CONFIGURATION_ERROR
          - DYNA_TRACE_ERROR
          - CLOUDWATCH_ERROR
          - CLOUDWATCH_CONFIGURATION_ERROR
          - PROMETHEUS_CONFIGURATION_ERROR
          - DATA_DOG_CONFIGURATION_ERROR
          - SERVICE_GUARD_CONFIGURATION_ERROR
          - ENCRYPTION_NOT_CONFIGURED
          - UNAVAILABLE_DELEGATES
          - WORKFLOW_EXECUTION_IN_PROGRESS
          - PIPELINE_EXECUTION_IN_PROGRESS
          - AWS_ACCESS_DENIED
          - AWS_CLUSTER_NOT_FOUND
          - AWS_SERVICE_NOT_FOUND
          - IMAGE_NOT_FOUND
          - ILLEGAL_ARGUMENT
          - IMAGE_TAG_NOT_FOUND
          - DELEGATE_NOT_AVAILABLE
          - INVALID_YAML_PAYLOAD
          - AUTHENTICATION_ERROR
          - AUTHORIZATION_ERROR
          - UNRECOGNIZED_YAML_FIELDS
          - COULD_NOT_MAP_BEFORE_YAML
          - MISSING_BEFORE_YAML
          - MISSING_YAML
          - NON_EMPTY_DELETIONS
          - GENERAL_YAML_ERROR
          - GENERAL_YAML_INFO
          - YAML_GIT_SYNC_ERROR
          - GIT_CONNECTION_ERROR
          - GIT_ERROR
          - ARTIFACT_SERVER_ERROR
          - ENCRYPT_DECRYPT_ERROR
          - SECRET_MANAGEMENT_ERROR
          - SECRET_NOT_FOUND
          - KMS_OPERATION_ERROR
          - GCP_KMS_OPERATION_ERROR
          - VAULT_OPERATION_ERROR
          - AWS_SECRETS_MANAGER_OPERATION_ERROR
          - AZURE_KEY_VAULT_OPERATION_ERROR
          - AZURE_KEY_VAULT_INTERRUPT_ERROR
          - UNSUPPORTED_OPERATION_EXCEPTION
          - FEATURE_UNAVAILABLE
          - GENERAL_ERROR
          - BASELINE_CONFIGURATION_ERROR
          - SAML_IDP_CONFIGURATION_NOT_AVAILABLE
          - INVALID_AUTHENTICATION_MECHANISM
          - INVALID_SAML_CONFIGURATION
          - INVALID_OAUTH_CONFIGURATION
          - INVALID_LDAP_CONFIGURATION
          - USER_GROUP_SYNC_FAILURE
          - USER_GROUP_ALREADY_EXIST
          - INVALID_TWO_FACTOR_AUTHENTICATION_CONFIGURATION
          - EXPLANATION
          - HINT
          - NOT_WHITELISTED_IP
          - INVALID_TOTP_TOKEN
          - EMAIL_FAILED
          - SSL_HANDSHAKE_FAILED
          - NO_APPS_ASSIGNED
          - INVALID_INFRA_CONFIGURATION
          - TEMPLATES_LINKED
          - USER_HAS_NO_PERMISSIONS
          - USER_NOT_AUTHORIZED
          - USER_ALREADY_PRESENT
          - EMAIL_ERROR
          - INVALID_USAGE_RESTRICTION
          - USAGE_RESTRICTION_ERROR
          - STATE_EXECUTION_INSTANCE_NOT_FOUND
          - DELEGATE_TASK_RETRY
          - KUBERNETES_API_TASK_EXCEPTION
          - KUBERNETES_TASK_EXCEPTION
          - KUBERNETES_YAML_ERROR
          - SAVE_FILE_INTO_AWS_STORAGE_FAILED
          - READ_FILE_FROM_AWS_STORAGE_FAILED
          - SAVE_FILE_INTO_GCP_STORAGE_FAILED
          - READ_FILE_FROM_GCP_STORAGE_FAILED
          - FILE_NOT_FOUND_ERROR
          - USAGE_LIMITS_EXCEEDED
          - EVENT_PUBLISH_FAILED
          - CUSTOM_APPROVAL_ERROR
          - JIRA_ERROR
          - EXPRESSION_EVALUATION_FAILED
          - KUBERNETES_VALUES_ERROR
          - KUBERNETES_CLUSTER_ERROR
          - INCORRECT_SIGN_IN_MECHANISM
          - OAUTH_LOGIN_FAILED
          - INVALID_TERRAFORM_TARGETS_REQUEST
          - TERRAFORM_EXECUTION_ERROR
          - FILE_READ_FAILED
          - FILE_SIZE_EXCEEDS_LIMIT
          - CLUSTER_NOT_FOUND
          - MARKETPLACE_TOKEN_NOT_FOUND
          - INVALID_MARKETPLACE_TOKEN
          - INVALID_TICKETING_SERVER
          - SERVICENOW_ERROR
          - PASSWORD_EXPIRED
          - USER_LOCKED
          - PASSWORD_STRENGTH_CHECK_FAILED
          - ACCOUNT_DISABLED
          - INVALID_ACCOUNT_PERMISSION
          - PAGERDUTY_ERROR
          - HEALTH_ERROR
          - SAML_TEST_SUCCESS_MECHANISM_NOT_ENABLED
          - DOMAIN_WHITELIST_FILTER_CHECK_FAILED
          - INVALID_DASHBOARD_UPDATE_REQUEST
          - DUPLICATE_FIELD
          - INVALID_AZURE_VAULT_CONFIGURATION
          - USER_NOT_AUTHORIZED_DUE_TO_USAGE_RESTRICTIONS
          - INVALID_ROLLBACK
          - DATA_COLLECTION_ERROR
          - SUMO_DATA_COLLECTION_ERROR
          - DEPLOYMENT_GOVERNANCE_ERROR
          - BATCH_PROCESSING_ERROR
          - GRAPHQL_ERROR
          - FILE_CREATE_ERROR
          - ILLEGAL_STATE
          - GIT_DIFF_COMMIT_NOT_IN_ORDER
          - FAILED_TO_ACQUIRE_PERSISTENT_LOCK
          - FAILED_TO_ACQUIRE_NON_PERSISTENT_LOCK
          - POD_NOT_FOUND_ERROR
          - COMMAND_EXECUTION_ERROR
          - REGISTRY_EXCEPTION
          - ENGINE_INTERRUPT_PROCESSING_EXCEPTION
          - ENGINE_IO_EXCEPTION
          - ENGINE_OUTCOME_EXCEPTION
          - ENGINE_SWEEPING_OUTPUT_EXCEPTION
          - CACHE_NOT_FOUND_EXCEPTION
          - ENGINE_ENTITY_UPDATE_EXCEPTION
          - SHELL_EXECUTION_EXCEPTION
          - TEMPLATE_NOT_FOUND
          - AZURE_SERVICE_EXCEPTION
          - AZURE_CLIENT_EXCEPTION
          - GIT_UNSEEN_REMOTE_HEAD_COMMIT
          - TIMEOUT_ENGINE_EXCEPTION
          - NO_AVAILABLE_DELEGATES
          - NO_GLOBAL_DELEGATE_ACCOUNT
          - NO_INSTALLED_DELEGATES
          - DUPLICATE_DELEGATE_EXCEPTION
          - GCP_MARKETPLACE_EXCEPTION
          - MISSING_DEFAULT_GOOGLE_CREDENTIALS
          - INCORRECT_DEFAULT_GOOGLE_CREDENTIALS
          - OPTIMISTIC_LOCKING_EXCEPTION
          - NG_PIPELINE_EXECUTION_EXCEPTION
          - NG_PIPELINE_CREATE_EXCEPTION
          - RESOURCE_NOT_FOUND_EXCEPTION
          - PMS_INITIALIZE_SDK_EXCEPTION
          - UNEXPECTED_SNIPPET_EXCEPTION
          - UNEXPECTED_SCHEMA_EXCEPTION
          - CONNECTOR_VALIDATION_EXCEPTION
          - TIMESCALE_NOT_AVAILABLE
          - MIGRATION_EXCEPTION
          - REQUEST_PROCESSING_INTERRUPTED
          - SECRET_MANAGER_ID_NOT_FOUND
          - GCP_SECRET_MANAGER_OPERATION_ERROR
          - GCP_SECRET_OPERATION_ERROR
          - GIT_OPERATION_ERROR
          - TASK_FAILURE_ERROR
          - INSTANCE_STATS_PROCESS_ERROR
          - INSTANCE_STATS_MIGRATION_ERROR
          - DEPLOYMENT_MIGRATION_ERROR
          - CG_LICENSE_USAGE_ERROR
          - INSTANCE_STATS_AGGREGATION_ERROR
          - UNRESOLVED_EXPRESSIONS_ERROR
          - KRYO_HANDLER_NOT_FOUND_ERROR
          - DELEGATE_ERROR_HANDLER_EXCEPTION
          - DELEGATE_SERVICE_DRIVER_EXCEPTION
          - DELEGATE_INSTALLATION_COMMAND_NOT_SUPPORTED_EXCEPTION
          - UNEXPECTED_TYPE_ERROR
          - EXCEPTION_HANDLER_NOT_FOUND
          - CONNECTOR_NOT_FOUND_EXCEPTION
          - GCP_SERVER_ERROR
          - HTTP_RESPONSE_EXCEPTION
          - SCM_NOT_FOUND_ERROR
          - SCM_CONFLICT_ERROR
          - SCM_CONFLICT_ERROR_V2
          - SCM_UNPROCESSABLE_ENTITY
          - PROCESS_EXECUTION_EXCEPTION
          - SCM_UNAUTHORIZED
          - SCM_BAD_REQUEST
          - SCM_INTERNAL_SERVER_ERROR
          - DATA
          - CONTEXT
          - PR_CREATION_ERROR
          - URL_NOT_REACHABLE
          - URL_NOT_PROVIDED
          - ENGINE_EXPRESSION_EVALUATION_ERROR
          - ENGINE_FUNCTOR_ERROR
          - JIRA_CLIENT_ERROR
          - SCM_NOT_MODIFIED
          - APPROVAL_STEP_NG_ERROR
          - BUCKET_SERVER_ERROR
          - GIT_SYNC_ERROR
          - TEMPLATE_EXCEPTION
          - TEMPLATE_ALREADY_EXISTS_EXCEPTION
          - ENTITY_REFERENCE_EXCEPTION
          - ACTIVE_SERVICE_INSTANCES_PRESENT_EXCEPTION
          - INVALID_INPUT_SET
          - INVALID_OVERLAY_INPUT_SET
          - RESOURCE_ALREADY_EXISTS
          - INVALID_JSON_PAYLOAD
          - POLICY_EVALUATION_FAILURE
          - POLICY_SET_ERROR
          - INVALID_ARTIFACTORY_REGISTRY_REQUEST
          - INVALID_NEXUS_REGISTRY_REQUEST
          - ENTITY_NOT_FOUND
          - GITX_OAUTH_NOT_SET
          - INVALID_AZURE_CONTAINER_REGISTRY_REQUEST
          - AZURE_AUTHENTICATION_ERROR
          - AZURE_CONFIG_ERROR
          - DATA_PROCESSING_ERROR
          - INVALID_AZURE_AKS_REQUEST
          - AWS_IAM_ERROR
          - AWS_CF_ERROR
          - AWS_INSTANCE_ERROR
          - AWS_VPC_ERROR
          - AWS_TAG_ERROR
          - AWS_ASG_ERROR
          - AWS_LOAD_BALANCER_ERROR
          - SCM_INTERNAL_SERVER_ERROR_V2
          - SCM_FAILED_DEPENDENCY_ERROR
          - SCM_UNAUTHORIZED_ERROR_V2
          - TOO_MANY_REQUESTS
          - SCM_RATE_LIMIT_ERROR
          - INVALID_IDENTIFIER_REF
          - SPOTINST_NULL_ERROR
          - SPOTNIST_REST_EXCEPTION
          - SCM_UNEXPECTED_ERROR
          - DUPLICATE_FILE_IMPORT
          - AZURE_APP_SERVICES_TASK_EXCEPTION
          - AZURE_ARM_TASK_EXCEPTION
          - AZURE_BP_TASK_EXCEPTION
          - MEDIA_NOT_SUPPORTED
          - AWS_ECS_ERROR
          - AWS_APPLICATION_AUTO_SCALING
          - AWS_ECS_SERVICE_NOT_ACTIVE
          - AWS_ECS_CLIENT_ERROR
          - AWS_STS_ERROR
          - FREEZE_EXCEPTION
          - MISSING_EXCEPTION
          - DELEGATE_TASK_EXPIRED
          - DELEGATE_TASK_VALIDATION_FAILED
          - MONGO_EXECUTION_TIMEOUT_EXCEPTION
          - DELEGATE_NOT_REGISTERED
          - TERRAFORM_VAULT_SECRET_CLEANUP_FAILURE
          - APPROVAL_REJECTION
          - TERRAGRUNT_EXECUTION_ERROR
          - ADFS_ERROR
          - TERRAFORM_CLOUD_ERROR
          - CLUSTER_CREDENTIALS_NOT_FOUND
          - SCM_API_ERROR
          - INTERNAL_SERVER_ERROR
          - SCM_FORBIDDEN
          - AWS_EKS_ERROR
          - OPA_POLICY_EVALUATION_ERROR
          - USER_MARKED_FAILURE
          - SSH_RETRY
          - HTTP_CLIENT_ERROR_RESPONSE
          - HTTP_INTERNAL_SERVER_ERROR
          - HTTP_BAD_GATEWAY
          - HTTP_SERVICE_UNAVAILABLE
          - HTTP_GATEWAY_TIMEOUT
          - HTTP_SERVER_ERROR_RESPONSE
          - PIPELINE_UPDATE_EXCEPTION
          - SERVICENOW_REFRESH_TOKEN_ERROR
          - PARAMETER_FIELD_CAST_ERROR
          - ABORT_ALL_ALREADY_NG
          - WEBHOOK_EXCEPTION
          - INVALID_OIDC_CONFIGURATION
          - INVALID_CREDENTIALS
          - INVALID_OR_PRIVATE_REPO
          - BARRIER_FAILED_ERROR
          - ELASTICSEARCH_NOT_AVAILABLE
          - OBJECT_STORE_NOT_AVAILABLE
          - NO_ELIGIBLE_RUNNERS
          - NO_AVAILABLE_RUNNERS
          - RUNNER_DISCONNECTED
          - EVENT_LISTENER_STEP_FAILURE
          - TRANSACTION_ABORTED
          - UNRESOLVED_EXPRESSIONS_WITH_CONTEXT_ERROR
        message:
          type: string
        correlationId:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
      description: This is Failure entity as defied in Harness
    ClusterBatchResponse:
      type: object
      properties:
        linked:
          type: integer
          description: number of clusters linked
          format: int64
        unlinked:
          type: integer
          description: number of clusters unlinked
          format: int64
        success:
          type: array
          description: List of successfully processed clusters
          items:
            $ref: '#/components/schemas/ClusterOperationResult'
        failed:
          type: array
          description: List of failed cluster operations with reasons
          items:
            $ref: '#/components/schemas/ClusterOperationResult'
      description: This is the Cluster Batch Response defined in Harness
    clustersTLSClientConfig:
      type: object
      properties:
        insecure:
          type: boolean
          description: Insecure specifies that the server should be accessed without verifying the TLS certificate. For testing only.
        serverName:
          type: string
          description: 'ServerName is passed to the server for SNI and is used in the client to check server

            certificates against. If ServerName is empty, the hostname used to contact the

            server is used.'
        certData:
          type: string
          format: byte
          title: 'CertData holds PEM-encoded bytes (typically read from a client certificate file).

            CertData takes precedence over CertFile'
        keyData:
          type: string
          format: byte
          title: 'KeyData holds PEM-encoded bytes (typically read from a client certificate key file).

            KeyData takes precedence over KeyFile'
        caData:
          type: string
          format: byte
          title: 'CAData holds PEM-encoded bytes (typically read from a root certificates bundle).

            CAData takes precedence over CAFile'
      title: TLSClientConfig contains settings to enable transport layer security
    servicev1Cluster:
      type: object
      properties:
        accountIdentifier:
          type: string
          description: Account Identifier for the Entity.
        orgIdentifier:
          type: string
          description: Organization Identifier for the Entity.
        projectIdentifier:
          type: string
          description: Project Identifier for the Entity.
        agentIdentifier:
          type: string
          description: Agent identifier for entity.
        identifier:
          type: string
        cluster:
          $ref: '#/components/schemas/clustersCluster'
        createdAt:
          type: string
          format: date-time
        lastModifiedAt:
          type: string
          format: date-time
        stale:
          type: boolean
        tags:
          type: object
          additionalProperties:
            type: string
        secretExpressions:
          type: object
          additionalProperties:
            type: string
    ClusterOperationResult:
      type: object
      properties:
        clusterRef:
          type: string
          description: 'Cluster reference with scope prefix. Format: ''account.<identifier>'' for ACCOUNT scope, ''org.<identifier>'' for ORGANIZATION scope, ''<identifier>'' for PROJECT scope.'
        agentIdentifier:
          type: string
          description: Agent identifier
        name:
          type: string
          description: Cluster name from GitOps service
        failureReason:
          type: string
          description: Failure reason (only present for failed operations)
        errorCode:
          type: string
          description: Error code (only present for failed operations)
      description: Result of a cluster link/unlink operation with success or failure details
    clustersClusterConfig:
      type: object
      properties:
        username:
          type: string
          title: Server requires Basic authentication
        password:
          type: string
        bearerToken:
          type: string
          description: 'Server requires Bearer authentication. This client will not attempt to use

            refresh tokens for an OAuth2 flow.

            TODO: demonstrate an OAuth2 compatible client.'
        tlsClientConfig:
          $ref: '#/components/schemas/clustersTLSClientConfig'
        awsAuthConfig:
          $ref: '#/components/schemas/clustersAWSAuthConfig'
        execProviderConfig:
          $ref: '#/components/schemas/clustersExecProviderConfig'
        clusterConnectionType:
          type: string
          title: Identifies the authentication method used to connect to the cluster
        roleARN:
          type: string
          description: RoleARN contains optional role ARN. If set then AWS IAM Authenticator assume a role to perform cluster operations instead of the default AWS credential provider chain.
        awsClusterName:
          type: string
          description: AWS Cluster name. If set then AWS CLI EKS token command will be used to access cluster.
        disableCompression:
          type: boolean
          description: DisableCompression bypasses automatic GZip compression requests to the server.
        proxyUrl:
          type: string
          title: ProxyURL is the URL to the proxy to be used for all requests send to the server
      description: 'ClusterConfig is the configuration attributes. This structure is subset of the go-client

        rest.Config with annotations added for marshalling.'
    clustersClusterInfo:
      type: object
      properties:
        connectionState:
          $ref: '#/components/schemas/commonsConnectionState'
        serverVersion:
          type: string
          title: ServerVersion contains information about the Kubernetes version of the cluster
        cacheInfo:
          $ref: '#/components/schemas/clustersClusterCacheInfo'
        applicationsCount:
          type: string
          format: int64
          title: ApplicationsCount is the number of applications managed by Argo CD on the cluster
        apiVersions:
          type: array
          items:
            type: string
          title: APIVersions contains list of API versions supported by the cluster
      title: ClusterInfo contains information about the cluster
    gpgkeysGnuPGPublicKey:
      type: object
      properties:
        keyID:
          type: string
          title: KeyID specifies the key ID, in hexadecimal string format
        fingerprint:
          type: string
          title: Fingerprint is the fingerprint of the key
        owner:
          type: string
          title: Owner holds the owner identification, e.g. a name and e-mail address
        trust:
          type: string
          title: Trust holds the level of trust assigned to this key
        subType:
          type: string
          title: SubType holds the key's subtype (e.g. rsa4096)
        keyData:
          type: string
          title: KeyData holds the raw key data, in base64 encoded format
      title: GnuPGPublicKey is a representation of a GnuPG public key
    v1SortOrderOptions:
      type: string
      enum:
      - SORT_ORDER_NOT_SET
      - ASC
      - DESC
      default: SORT_ORDER_NOT_SET
    ClusterRequest:
      required:
      - envRef
      type: object
      properties:
        identifier:
          type: string
          description: identifier of the cluster
        orgIdentifier:
          type: string
          description: organization identifier of the cluster
        agentIdentifier:
          type: string
          description: agent identifier of the cluster
        projectIdentifier:
          type: string
          description: project identifier of the cluster
        envRef:
          type: string
          description: environment identifier of the cluster
        scope:
          type: string
          description: scope at which the cluster exists in harness gitops, project vs org vs account
          enum:
          - ACCOUNT
          - ORGANIZATION
          - PROJECT
      description: This is the ClusterRequest entity defined in Harness
    v1ListMeta:
      type: object
      properties:
        selfLink:
          type: string
          title: 'Deprecated: selfLink is a legacy read-only field that is no longer populated by the system.

            +optional'
        resourceVersion:
          type: string
          title: 'String that identifies the server''s internal version of this object that

            can be used by clients to determine when objects have changed.

            Value must be treated as opaque by clients and passed unmodified back to the server.

            Populated by the system.

            Read-only.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency

            +optional'
        continue:
          type: string
          description: 'continue may be set if the user set a limit on the number of items returned, and indicates that

            the server has more data available. The value is opaque and may be used to issue another request

            to the endpoint that served this list to retrieve the next set of available objects. Continuing a

            consistent list may not be possible if the server configuration has changed or more than a few

            minutes have passed. The resourceVersion field returned when using this continue value will be

            identical to the value in the first response, unless you have received this token from an error

            message.'
        remainingItemCount:
          type: string
          format: int64
          title: 'remainingItemCount is the number of subsequent items in the list which are not included in this

            list response. If the list request contained label or field selectors, then the number of

            remaining items is unknown and the field will be left unset and omitted during serialization.

            If the list is complete (either because it is not chunking or because this is the last chunk),

            then there are no more remaining items and this field will be left unset and omitted during

            serialization.

            Servers older than v1.15 do not set this field.

            The intended use of the remainingItemCount is *estimating* the size of a collection. Clients

            should not rely on the remainingItemCount to be set or to be exact.

            +optional'
      description: 'ListMeta describes metadata that synthetic resources must have, including lists and

        various status objects. A resource may have only one of {ObjectMeta, ListMeta}.'
    ResponseDTOPageResponseClusterResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/PageResponseClusterResponse'
        metaData:
          type: object
        correlationId:
          type: string
    ClusterResponse:
      required:
      - envRef
      type: object
      properties:
        clusterRef:
          type: string
          description: identifier of the gitops cluster
        orgIdentifier:
          type: string
          description: organization identifier of the cluster
        projectIdentifier:
          type: string
          description: project identifier of the cluster
        agentIdentifier:
          type: string
          description: agent identifier of the cluster
        accountIdentifier:
          type: string
          description: account identifier of the cluster
        envRef:
          type: string
          description: environment identifier of the cluster
        linkedAt:
          type: integer
          description: time at which the cluster was linked
          format: int64
        scope:
          type: string
          description: scope at which the cluster exists in harness gitops, project vs org vs account
          enum:
          - ACCOUNT
          - ORGANIZATION
          - PROJECT
        name:
          type: string
          description: name of the gitops cluster
        tags:
          type: object
          additionalProperties:
            type: string
            description: name of the gitops cluster
          description: name of the gitops cluster
      description: This is the ClusterRequest entity defined in Harness
    clustersClusterCacheInfo:
      type: object
      properties:
        resourcesCount:
          type: string
          format: int64
          title: ResourcesCount holds number of observed Kubernetes resources
        apisCount:
          type: string
          format: int64
          title: APIsCount holds number of observed Kubernetes API count
        lastCacheSyncTime:
          $ref: '#/components/schemas/v1Time'
        lastCacheSyncTimeTs:
          type: string
          format: date-time
          title: lastCacheSyncTimeTs is the google timestamp variation of lastCacheSyncTime
      title: ClusterCacheInfo contains information about the cluster cache
    ValidationError:
      type: object
      properties:
        fieldId:
          type: string
        error:
          type: string
    servicev1ClusterQuery:
      type: object
      properties:
        accountIdentifier:
          type: string
          description: Account Identifier for the Entity.
        projectIdentifier:
          type: string
          description: Project Identifier for the Entity.
        orgIdentifier:
          type: string
          description: Organization Identifier for the Entity.
        agentIdentifier:
          type: string
          description: Agent identifier for entity.
        identifier:
          type: string
        searchTerm:
          type: string
        pageSize:
          type: integer
          format: int32
        pageIndex:
          type: integer
          format: int32
        filter:
          type: object
          description: 'Filters for Clusters. Eg. "identifier": { "$in": ["id1", "id2"]'
        sortBy:
          $ref: '#/components/schemas/ClusterQueryClusterSortByOptions'
        sortOrder:
          $ref: '#/components/schemas/v1SortOrderOptions'
        includeChildScopes:
          type: boolean
          description: 'When true and agentIdentifier is set, retrieves clusters across hierarchical scopes based on agent prefix: account.* agents see account/org/project clusters, org.* agents see org/project clusters, unprefixed agents see only project clusters.'
    ResponseMessage:
      type: object
      properties:
        code:
          type: string
          enum:
          - DEFAULT_ERROR_CODE
          - INVALID_ARGUMENT
          - INVALID_EMAIL
          - DOMAIN_NOT_ALLOWED_TO_REGISTER
          - COMMNITY_EDITION_NOT_FOUND
          - DEPLOY_MODE_IS_NOT_ON_PREM
          - USER_ALREADY_REGISTERED
          - USER_INVITATION_DOES_NOT_EXIST
          - USER_DOES_NOT_EXIST
          - USER_INVITE_OPERATION_FAILED
          - USER_DISABLED
          - ACCOUNT_DOES_NOT_EXIST
          - INACTIVE_ACCOUNT
          - ACCOUNT_MIGRATED
          - ACCOUNT_MIGRATED_TO_NEXT_GEN
          - USER_DOMAIN_NOT_ALLOWED
          - MAX_FAILED_ATTEMPT_COUNT_EXCEEDED
          - RESOURCE_NOT_FOUND
          - INVALID_FORMAT
          - ROLE_DOES_NOT_EXIST
          - EMAIL_NOT_VERIFIED
          - EMAIL_VERIFICATION_TOKEN_NOT_FOUND
          - INVALID_TOKEN
          - REVOKED_TOKEN
          - INVALID_CAPTCHA_TOKEN
          - NOT_ACCOUNT_MGR_NOR_HAS_ALL_APP_ACCESS
          - EXPIRED_TOKEN
          - INVALID_AGENT_MTLS_AUTHORITY
          - TOKEN_ALREADY_REFRESHED_ONCE
          - ACCESS_DENIED
          - NG_ACCESS_DENIED
          - INVALID_CREDENTIAL
          - INVALID_CREDENTIALS_THIRD_PARTY
          - INVALID_KEY
          - INVALID_CONNECTOR_TYPE
          - INVALID_KEYPATH
          - INVALID_VARIABLE
          - UNKNOWN_HOST
          - UNREACHABLE_HOST
          - INVALID_PORT
          - SSH_SESSION_TIMEOUT
          - ALGORITHM_NEGOTIATION_ERROR
          - SOCKET_CONNECTION_ERROR
          - CONNECTION_ERROR
          - COULD_NOT_PROCESS_ERROR
          - SOCKET_CONNECTION_TIMEOUT
          - WINRM_COMMAND_EXECUTION_TIMEOUT
          - CONNECTION_TIMEOUT
          - SSH_CONNECTION_ERROR
          - USER_GROUP_ERROR
          - INVALID_EXECUTION_ID
          - ERROR_IN_GETTING_CHANNEL_STREAMS
          - UNEXPECTED
          - UNKNOWN_ERROR
          - UNKNOWN_EXECUTOR_TYPE_ERROR
          - DUPLICATE_STATE_NAMES
          - TRANSITION_NOT_LINKED
          - TRANSITION_TO_INCORRECT_STATE
          - TRANSITION_TYPE_NULL
          - STATES_WITH_DUP_TRANSITIONS
          - BARRIERS_NOT_RUNNING_CONCURRENTLY
          - NON_FORK_STATES
          - NON_REPEAT_STATES
          - INITIAL_STATE_NOT_DEFINED
          - FILE_INTEGRITY_CHECK_FAILED
          - INVALID_URL
          - FILE_DOWNLOAD_FAILED
          - PLATFORM_SOFTWARE_DELETE_ERROR
          - INVALID_CSV_FILE
          - INVALID_REQUEST
          - SCHEMA_VALIDATION_FAILED
          - FILTER_CREATION_ERROR
          - INVALID_YAML_ERROR
          - PLAN_CREATION_ERROR
          - INVALID_INFRA_STATE
          - PIPELINE_ALREADY_TRIGGERED
          - NON_EXISTING_PIPELINE
          - DUPLICATE_COMMAND_NAMES
          - INVALID_PIPELINE
          - COMMAND_DOES_NOT_EXIST
          - DUPLICATE_ARTIFACTSTREAM_NAMES
          - DUPLICATE_HOST_NAMES
          - STATE_NOT_FOR_TYPE
          - STATE_MACHINE_ISSUE
          - STATE_DISCONTINUE_FAILED
          - STATE_PAUSE_FAILED
          - PAUSE_ALL_ALREADY
          - RESUME_ALL_ALREADY
          - ROLLBACK_ALREADY
          - ABORT_ALL_ALREADY
          - EXPIRE_ALL_ALREADY
          - RETRY_FAILED
          - UNKNOWN_ARTIFACT_TYPE
          - UNKNOWN_STAGE_ELEMENT_WRAPPER_TYPE
          - INIT_TIMEOUT
          - LICENSE_EXPIRED
          - NOT_LICENSED
          - REQUEST_TIMEOUT
          - SCM_REQUEST_TIMEOUT
          - WORKFLOW_ALREADY_TRIGGERED
          - JENKINS_ERROR
          - INVALID_ARTIFACT_SOURCE
          - INVALID_ARTIFACT_SERVER
          - INVALID_CLOUD_PROVIDER
          - UPDATE_NOT_ALLOWED
          - DELETE_NOT_ALLOWED
          - APPDYNAMICS_CONFIGURATION_ERROR
          - APM_CONFIGURATION_ERROR
          - SPLUNK_CONFIGURATION_ERROR
          - ELK_CONFIGURATION_ERROR
          - LOGZ_CONFIGURATION_ERROR
          - SUMO_CONFIGURATION_ERROR
          - INSTANA_CONFIGURATION_ERROR
          - APPDYNAMICS_ERROR
          - STACKDRIVER_ERROR
          - STACKDRIVER_CONFIGURATION_ERROR
          - NEWRELIC_CONFIGURATION_ERROR
          - NEWRELIC_ERROR
          - DYNA_TRACE_CONFIGURATION_ERROR
          - DYNA_TRACE_ERROR
          - CLOUDWATCH_ERROR
          - CLOUDWATCH_CONFIGURATION_ERROR
          - PROMETHEUS_CONFIGURATION_ERROR
          - DATA_DOG_CONFIGURATION_ERROR
          - SERVICE_GUARD_CONFIGURATION_ERROR
          - ENCRYPTION_NOT_CONFIGURED
          - UNAVAILABLE_DELEGATES
          - WORKFLOW_EXECUTION_IN_PROGRESS
          - PIPELINE_EXECUTION_IN_PROGRESS
          - AWS_ACCESS_DENIED
          - AWS_CLUSTER_NOT_FOUND
          - AWS_SERVICE_NOT_FOUND
          - IMAGE_NOT_FOUND
          - ILLEGAL_ARGUMENT
          - IMAGE_TAG_NOT_FOUND
          - DELEGATE_NOT_AVAILABLE
          - INVALID_YAML_PAYLOAD
          - AUTHENTICATION_ERROR
          - AUTHORIZATION_ERROR
          - UNRECOGNIZED_YAML_FIELDS
          - COULD_NOT_MAP_BEFORE_YAML
          - MISSING_BEFORE_YAML
          - MISSING_YAML
          - NON_EMPTY_DELETIONS
          - GENERAL_YAML_ERROR
          - GENERAL_YAML_INFO
          - YAML_GIT_SYNC_ERROR
          - GIT_CONNECTION_ERROR
          - GIT_ERROR
          - ARTIFACT_SERVER_ERROR
          - ENCRYPT_DECRYPT_ERROR
          - SECRET_MANAGEMENT_ERROR
          - SECRET_NOT_FOUND
          - KMS_OPERATION_ERROR
          - GCP_KMS_OPERATION_ERROR
          - VAULT_OPERATION_ERROR
          - AWS_SECRETS_MANAGER_OPERATION_ERROR
          - AZURE_KEY_VAULT_OPERATION_ERROR
          - AZURE_KEY_VAULT_INTERRUPT_ERROR
          - UNSUPPORTED_OPERATION_EXCEPTION
          - FEATURE_UNAVAILABLE
          - GENERAL_ERROR
          - BASELINE_CONFIGURATION_ERROR
          - SAML_IDP_CONFIGURATION_NOT_AVAILABLE
          - INVALID_AUTHENTICATION_MECHANISM
          - INVALID_SAML_CONFIGURATION
          - INVALID_OAUTH_CONFIGURATION
          - INVALID_LDAP_CONFIGURATION
          - USER_GROUP_SYNC_FAILURE
          - USER_GROUP_ALREADY_EXIST
          - INVALID_TWO_FACTOR_AUTHENTICATION_CONFIGURATION
          - EXPLANATION
          - HINT
          - NOT_WHITELISTED_IP
          - INVALID_TOTP_TOKEN
          - EMAIL_FAILED
          - SSL_HANDSHAKE_FAILED
          - NO_APPS_ASSIGNED
          - INVALID_INFRA_CONFIGURATION
          - TEMPLATES_LINKED
          - USER_HAS_NO_PERMISSIONS
          - USER_NOT_AUTHORIZED
          - USER_ALREADY_PRESENT
          - EMAIL_ERROR
          - INVALID_USAGE_RESTRICTION
          - USAGE_RESTRICTION_ERROR
          - STATE_EXECUTION_INSTANCE_NOT_FOUND
          - DELEGATE_TASK_RETRY
          - KUBERNETES_API_TASK_EXCEPTION
          - KUBERNETES_TASK_EXCEPTION
          - KUBERNETES_YAML_ERROR
          - SAVE_FILE_INTO_AWS_STORAGE_FAILED
          - READ_FILE_FROM_AWS_STORAGE_FAILED
          - SAVE_FILE_INTO_GCP_STORAGE_FAILED
          - READ_FILE_FROM_GCP_STORAGE_FAILED
          - FILE_NOT_FOUND_ERROR
          - USAGE_LIMITS_EXCEEDED
          - EVENT_PUBLISH_FAILED
          - CUSTOM_APPROVAL_ERROR
          - JIRA_ERROR
          - EXPRESSION_EVALUATION_FAILED
          - KUBERNETES_VALUES_ERROR
          - KUBERNETES_CLUSTER_ERROR
          - INCORRECT_SIGN_IN_MECHANISM
          - OAUTH_LOGIN_FAILED
          - INVALID_TERRAFORM_TARGETS_REQUEST
          - TERRAFORM_EXECUTION_ERROR
          - FILE_READ_FAILED
          - FILE_SIZE_EXCEEDS_LIMIT
          - CLUSTER_NOT_FOUND
          - MARKETPLACE_TOKEN_NOT_FOUND
          - INVALID_MARKETPLACE_TOKEN
          - INVALID_TICKETING_SERVER
          - SERVICENOW_ERROR
          - PASSWORD_EXPIRED
          - USER_LOCKED
          - PASSWORD_STRENGTH_CHECK_FAILED
          - ACCOUNT_DISABLED
          - INVALID_ACCOUNT_PERMISSION
          - PAGERDUTY_ERROR
          - HEALTH_ERROR
          - SAML_TEST_SUCCESS_MECHANISM_NOT_ENABLED
          - DOMAIN_WHITELIST_FILTER_CHECK_FAILED
          - INVALID_DASHBOARD_UPDATE_REQUEST
          - DUPLICATE_FIELD
          - INVALID_AZURE_VAULT_CONFIGURATION
          - USER_NOT_AUTHORIZED_DUE_TO_USAGE_RESTRICTIONS
          - INVALID_ROLLBACK
          - DATA_COLLECTION_ERROR
          - SUMO_DATA_COLLECTION_ERROR
          - DEPLOYMENT_GOVERNANCE_ERROR
          - BATCH_PROCESSING_ERROR
          - GRAPHQL_ERROR
          - FILE_CREATE_ERROR
          - ILLEGAL_STATE
          - GIT_DIFF_COMMIT_NOT_IN_ORDER
          - FAILED_TO_ACQUIRE_PERSISTENT_LOCK
          - FAILED_TO_ACQUIRE_NON_PERSISTENT_LOCK
          - POD_NOT_FOUND_ERROR
          - COMMAND_EXECUTION_ERROR
          - REGISTRY_EXCEPTION
          - ENGINE_INTERRUPT_PROCESSING_EXCEPTION
          - ENGINE_IO_EXCEPTION
          - ENGINE_OUTCOME_EXCEPTION
          - ENGINE_SWEEPING_OUTPUT_EXCEPTION
          - CACHE_NOT_FOUND_EXCEPTION
          - ENGINE_ENTITY_UPDATE_EXCEPTION
          - SHELL_EXECUTION_EXCEPTION
          - TEMPLATE_NOT_FOUND
          - AZURE_SERVICE_EXCEPTION
          - AZURE_CLIENT_EXCEPTION
          - GIT_UNSEEN_REMOTE_HEAD_COMMIT
          - TIMEOUT_ENGINE_EXCEPTION
          - NO_AVAILABLE_DELEGATES
          - NO_GLOBAL_DELEGATE_ACCOUNT
          - NO_INSTALLED_DELEGATES
          - DUPLICATE_DELEGATE_EXCEPTION
          - GCP_MARKETPLACE_EXCEPTION
          - MISSING_DEFAULT_GOOGLE_CREDENTIALS
          - INCORRECT_DEFAULT_GOOGLE_CREDENTIALS
          - OPTIMISTIC_LOCKING_EXCEPTION
          - NG_PIPELINE_EXECUTION_EXCEPTION
          - NG_PIPELINE_CREATE_EXCEPTION
          - RESOURCE_NOT_FOUND_EXCEPTION
          - PMS_INITIALIZE_SDK_EXCEPTION
          - UNEXPECTED_SNIPPET_EXCEPTION
          - UNEXPECTED_SCHEMA_EXCEPTION
          - CONNECTOR_VALIDATION_EXCEPTION
          - TIMESCALE_NOT_AVAILABLE
          - MIGRATION_EXCEPTION
          - REQUEST_PROCESSING_INTERRUPTED
          - SECRET_MANAGER_ID_NOT_FOUND
          - GCP_SECRET_MANAGER_OPERATION_ERROR
          - GCP_SECRET_OPERATION_ERROR
          - GIT_OPERATION_ERROR
          - TASK_FAILURE_ERROR
          - INSTANCE_STATS_PROCESS_ERROR
          - INSTANCE_STATS_MIGRATION_ERROR
          - DEPLOYMENT_MIGRATION_ERROR
          - CG_LICENSE_USAGE_ERROR
          - INSTANCE_STATS_AGGREGATION_ERROR
          - UNRESOLVED_EXPRESSIONS_ERROR
          - KRYO_HANDLER_NOT_FOUND_ERROR
          - DELEGATE_ERROR_HANDLER_EXCEPTION
          - DELEGATE_SERVICE_DRIVER_EXCEPTION
          - DELEGATE_INSTALLATION_COMMAND_NOT_SUPPORTED_EXCEPTION
          - UNEXPECTED_TYPE_ERROR
          - EXCEPTION_HANDLER_NOT_FOUND
          - CONNECTOR_NOT_FOUND_EXCEPTION
          - GCP_SERVER_ERROR
          - HTTP_RESPONSE_EXCEPTION
          - SCM_NOT_FOUND_ERROR
          - SCM_CONFLICT_ERROR
          - SCM_CONFLICT_ERROR_V2
          - SCM_UNPROCESSABLE_ENTITY
          - PROCESS_EXECUTION_EXCEPTION
          - SCM_UNAUTHORIZED
          - SCM_BAD_REQUEST
          - SCM_INTERNAL_SERVER_ERROR
          - DATA
          - CONTEXT
          - PR_CREATION_ERROR
          - URL_NOT_REACHABLE
          - URL_NOT_PROVIDED
          - ENGINE_EXPRESSION_EVALUATION_ERROR
          - ENGINE_FUNCTOR_ERROR
          - JIRA_CLIENT_ERROR
          - SCM_NOT_MODIFIED
          - APPROVAL_STEP_NG_ERROR
          - BUCKET_SERVER_ERROR
          - GIT_SYNC_ERROR
          - TEMPLATE_EXCEPTION
          - TEMPLATE_ALREADY_EXISTS_EXCEPTION
          - ENTITY_REFERENCE_EXCEPTION
          - ACTIVE_SERVICE_INSTANCES_PRESENT_EXCEPTION
          - INVALID_INPUT_SET
          - INVALID_OVERLAY_INPUT_SET
          - RESOURCE_ALREADY_EXISTS
          - INVALID_JSON_PAYLOAD
          - POLICY_EVALUATION_FAILURE
          - POLICY_SET_ERROR
          - INVALID_ARTIFACTORY_REGISTRY_REQUEST
          - INVALID_NEXUS_REGISTRY_REQUEST
          - ENTITY_NOT_FOUND
          - GITX_OAUTH_NOT_SET
          - INVALID_AZURE_CONTAINER_REGISTRY_REQUEST
          - AZURE_AUTHENTICATION_ERROR
          - AZURE_CONFIG_ERROR
          - DATA_PROCESSING_ERROR
          - INVALID_AZURE_AKS_REQUEST
          - AWS_IAM_ERROR
          - AWS_CF_ERROR
          - AWS_INSTANCE_ERROR
          - AWS_VPC_ERROR
          - AWS_TAG_ERROR
          - AWS_ASG_ERROR
          - AWS_LOAD_BALANCER_ERROR
          - SCM_INTERNAL_SERVER_ERROR_V2
          - SCM_FAILED_DEPENDENCY_ERROR
          - SCM_UNAUTHORIZED_ERROR_V2
          - TOO_MANY_REQUESTS
          - SCM_RATE_LIMIT_ERROR
          - INVALID_IDENTIFIER_REF
          - SPOTINST_NULL_ERROR
          - SPOTNIST_REST_EXCEPTION
          - SCM_UNEXPECTED_ERROR
          - DUPLICATE_FILE_IMPORT
          - AZURE_APP_SERVICES_TASK_EXCEPTION
          - AZURE_ARM_TASK_EXCEPTION
          - AZURE_BP_TASK_EXCEPTION
          - MEDIA_NOT_SUPPORTED
          - AWS_ECS_ERROR
          - AWS_APPLICATION_AUTO_SCALING
          - AWS_ECS_SERVICE_NOT_ACTIVE
          - AWS_ECS_CLIENT_ERROR
          - AWS_STS_ERROR
          - FREEZE_EXCEPTION
          - MISSING_EXCEPTION
          - DELEGATE_TASK_EXPIRED
          - DELEGATE_TASK_VALIDATION_FAILED
          - MONGO_EXECUTION_TIMEOUT_EXCEPTION
          - DELEGATE_NOT_REGISTERED
          - TERRAFORM_VAULT_SECRET_CLEANUP_FAILURE
          - APPROVAL_REJECTION
          - TERRAGRUNT_EXECUTION_ERROR
          - ADFS_ERROR
          - TERRAFORM_CLOUD_ERROR
          - CLUSTER_CREDENTIALS_NOT_FOUND
          - SCM_API_ERROR
          - INTERNAL_SERVER_ERROR
          - SCM_FORBIDDEN
          - AWS_EKS_ERROR
          - OPA_POLICY_EVALUATION_ERROR
          - USER_MARKED_FAILURE
          - SSH_RETRY
          - HTTP_CLIENT_ERROR_RESPONSE
          - HTTP_INTERNAL_SERVER_ERROR
          - HTTP_BAD_GATEWAY
          - HTTP_SERVICE_UNAVAILABLE
          - HTTP_GATEWAY_TIMEOUT
          - HTTP_SERVER_ERROR_RESPONSE
          - PIPELINE_UPDATE_EXCEPTION
          - SERVICENOW_REFRESH_TOKEN_ERROR
          - PARAMETER_FIELD_CAST_ERROR
          - ABORT_ALL_ALREADY_NG
          - WEBHOOK_EXCEPTION
          - INVALID_OIDC_CONFIGURATION
          - INVALID_CREDENTIALS
          - INVALID_OR_PRIVATE_REPO
          - BARRIER_FAILED_ERROR
          - ELASTICSEARCH_NOT_AVAILABLE
          - OBJECT_STORE_NOT_AVAILABLE
          - NO_ELIGIBLE_RUNNERS
          - NO_AVAILABLE_RUNNERS
          - RUNNER_DISCONNECTED
          - EVENT_LISTENER_STEP_FAILURE
          - TRANSACTION_ABORTED
          - UNRESOLVED_EXPRESSIONS_WITH_CONTEXT_ERROR
        level:
          type: string
          enum:
          - INFO
          - ERROR
        message:
          type: string
        exception:
          type: object
          properties:
            stackTrace:
              type: array
              items:
                type: object
                properties:
                  classLoaderName:
                    type: string
                  moduleName:
                    type: string
                  moduleVersion:
                    type: string
                  methodName:
                    type: string
                  fileName:
                    type: string
                  lineNumber:
                    type: integer
                    format: int32
                  nativeMethod:
                    type: boolean
                  className:
                    type: string
            message:
              type: string
            suppressed:
              type: array
              items:
                type: object
                properties:
                  stackTrace:
                    type: array
                    items:
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        methodName:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        nativeMethod:
                          type: boolean
                        className:
                          type: string
                  message:
                    type: string
                  localizedMessage:
                    type: string
            localizedMessage:
              type: string
        failureTypes:
          type: array
          items:
            type: string
            enum:
            - EXPIRED
            - DELEGATE_PROVISIONING
            - CONNECTIVITY
            - AUTHENTICATION
            - VERIFICATION_FAILURE
            - APPLICATION_ERROR
            - AUTHORIZATION_ERROR
            - TIMEOUT_ERROR
            - POLICY_EVALUATION_FAILURE
            - INPUT_TIMEOUT_FAILURE
            - APPROVAL_REJECTION
            - DELEGATE_RESTART
            - USER_MARKED_FAILURE
            - INFRASTRUCTURE_FAILURE
            - PLUGIN_IMAGE_FAILURE
            - RESOURCE_LIMITS_FAILURE
            - CONFIGURATION_FAILURE
            - RETRYABLE_TRANSIENT_FAILURE
        failureSubTypes:
          type: array
          items:
            type: string
            enum:
            - UNKNOWN_FAILURE_REASON
            - SOCKET_TIMEOUT
            - SSL_HANDSHAKE_EXCEPTION
            - IO_EXCEPTION
            - AUTHORIZATION
            - VALIDATION
            - CONNECTION_TIMEOUT
            - API_REQUEST_EXCEPTION
            - NO_ELIGIBLE_DELEGATE_AVAILABLE
            - NON_ACTIVE_DELEGATE
            - DELEGATE_DISCONNECTED
            - GENERAL_ERROR
            - INPUT_ERROR
            - INVALID_PARAMETERS
            - MISSING_CONFIGURATION
            - SECRET_RESOLUTION_ERROR
            - UNAUTHORIZED
            - FORBIDDEN_ERROR
            - DEPENDENCY_ISSUE
            - EXECUTION_FAILURE
            - INVALID_MANIFEST_CONFIGURATION
            - RESOURCE_NOT_FOUND
            - CERTIFICATE_ERROR
            - UNKNOWN_COMMAND_FLAG
            - HELM_EXISTING_RESOURCE_CONFLICT
            - HELM_RESOURCE_ALREADY_EXISTS
            - NO_DEPLOYED_HELM_RELEASES
            - HELM_INSTALL_FAILED
            - HELM_UPGRADE_FAILED
            - HELM_ROLLBACK_FAILED
            - HELM_FETCH_FAILED
            - HELM_REPO_ADD_FAILED
            - HELM_RENDER_CHART_FAILED
            - HELM_LIST_RELEASE_FAILED
            - HELM_RELEASE_HISTORY_FAILED
            - RUNNER_FAILED_TO_START
            - POD_SCHEDULING_FAILED
            - CONTAINER_OOM_KILLED
            - DISK_SPACE_EXHAUSTED
            - STEP_SETUP_TIMEOUT
            - FILE_SYSTEM_PERMISSION_ERROR
            - DNS_RESOLUTION_FAILED
            - CONNECTION_REFUSED
            - PROXY_MISCONFIGURED
            - GIT_FETCH_FAILED
            - REGISTRY_UNREACHABLE
            - DOCKER_IMAGE_PULL_FAILED
            - ENTRYPOINT_SCRIPT_FAILED
            - PLUGIN_STEP_TIMEOUT
            - PLUGIN_CONFIGURATION_INVALID
            - PLUGIN_CRASHED
            - UNSUPPORTED_PLATFORM_ARCH
            - SCRIPT_EXITED_NON_ZERO
            - SCRIPT_SYNTAX_ERROR
            - SCRIPT_RUNTIME_CRASH
            - UNIT_TESTS_FAILED
            - SECURITY_SCAN_FAILED
            - LINT_FORMAT_FAILED
            - DEPENDENCY_RESOLUTION_FAILED
            - INVALID_CREDENTIALS
            - ACCESS_FORBIDDEN
            - STEP_NOT_ALLOWED
            - REQUIRED_FIELD_MISSING
            - INVALID_YAML
            - EXPRESSION_EVALUATION_FAILED
            - INPUT_TYPE_MISMATCH
            - INVALID_RESOURCE_REFERENCE
            - CPU_EXCEEDED
            - MEMORY_EXCEEDED
            - ORG_PROJECT_QUOTA_EXCEEDED
            - STAGE_CONCURRENCY_EXCEEDED
            - RATE_LIMIT_HIT
            - INTERNAL_SERVER_ERROR
            - PIPELINE_EXECUTION_FAILED
            - EVENT_DISPATCH_FAILED
            - STEP_FAILED_TO_START
            - UNSUPPORTED_FEATURE
            - STEP_EXECUTION_TIMEOUT
            - STAGE_EXECUTION_TIMEOUT
            - APPROVAL_EXPIRED
            - ARTIFACT_FETCH_TIMEOUT
            - DELEGATE_TEMPORARILY_BUSY
            - INFRA_COMPONENT_RESTARTED
            - NETWORK_GLITCH
            - REGISTRY_RATE_LIMITED
            - POD_EVICTION
            - UNRECOGNIZED
        additionalInfo:
          type: object
          additionalProperties:
            type: string
    clustersClusterUpdateRequest:
      type: object
      properties:
        cluster:
          $ref: '#/components/schemas/clustersCluster'
        updatedFields:
          type: array
          items:
            type: string
        updateMask:
          $ref: '#/components/schemas/protobufFieldMask'
        tags:
          type: object
          additionalProperties:
            type: string
        id:
          $ref: '#/components/schemas/clustersClusterID'
        secretExpressions:
          type: object
          additionalProperties:
            type: string
          description: 'Maps credential field names to Harness secret expressions.

            Used to reference secrets instead of inline plain-text values.'
    v1Clusterlist:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/servicev1Cluster'
        totalPages:
          type: integer
          format: int32
        totalItems:
          type: integer
          format: int32
        pageItemCount:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        pageIndex:
          type: integer
          format: int32
        empty:
          type: boolean
    clustersClusterResponse:
      type: object
    clustersCluster:
      type: object
      properties:
        server:
          type: string
          title: Server is the API server URL of the Kubernetes cluster
        name:
          type: string
          title: Name of the cluster. If omitted, will use the server address
        config:
          $ref: '#/components/schemas/clustersClusterConfig'
        connectionState:
          $ref: '#/components/schemas/commonsConnectionState'
        serverVersion:
          type: string
          title: 'DEPRECATED: use Info.ServerVersion field instead.

            The server version'
        namespaces:
          type: array
          items:
            type: string
          description: Holds list of namespaces which are accessible in that cluster. Cluster level resources will be ignored if namespace list is not empty.
        refreshRequestedAt:
          $ref: '#/components/schemas/v1Time'
        info:
          $ref: '#/components/schemas/clustersClusterInfo'
        shard_deprecated:
          type: string
          format: int64
          description: 'DEPRECATED: use Shard field instead.

            Shard contains optional shard number. Calculated on the fly by the application controller if not specified.'
        clusterResources:
          type: boolean
          description: Indicates if cluster level resources should be managed. This setting is used only if cluster is connected in a namespaced mode.
        project:
          type: string
          title: Reference between project and cluster that allow you automatically to be added as item inside Destinations project entity
        labels:
          type: object
          additionalProperties:
            type: string
          title: Labels for cluster secret metadata
        annotations:
          type: object
          additionalProperties:
            type: string
          title: Annotations for cluster secret metadata
        type:
          $ref: '#/components/schemas/clustersClusterType'
        refreshRequestedAtTs:
          type: string
          format: date-time
          title: refreshRequestedAtTs is the google timestamp variation of refreshRequestedAt
        shard:
          type: string
          format: int64
      title: Cluster is the definition of a cluster resource
    ResponseDTOClusterBatchResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/ClusterBatchResponse'
        metaData:
          type: object
        correlationId:
          type: string
    PageResponseClusterResponse:
      type: object
      properties:
        totalPages:
          type: integer
          format: int64
        totalItems:
          type: integer
          format: int64
        pageItemCount:
          type: integer
          format: int64
        pageSize:
          type: integer
          format: int64
        content:
          type: array
          items:
            $ref: '#/components/schemas/ClusterResponse'
        pageIndex:
          type: integer
          format: int64
        empty:
          type: boolean
        pageToken:
          type: string
    Error1:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        code:
          type: string
          enum:
          - DEFAULT_ERROR_CODE
          - INVALID_ARGUMENT
          - INVALID_EMAIL
          - DOMAIN_NOT_ALLOWED_TO_REGISTER
          - COMMNITY_EDITION_NOT_FOUND
          - DEPLOY_MODE_IS_NOT_ON_PREM
          - USER_ALREADY_REGISTERED
          - USER_INVITATION_DOES_NOT_EXIST
          - USER_DOES_NOT_EXIST
          - USER_INVITE_OPERATION_FAILED
          - USER_DISABLED
          - ACCOUNT_DOES_NOT_EXIST
          - INACTIVE_ACCOUNT
          - ACCOUNT_MIGRATED
          - ACCOUNT_MIGRATED_TO_NEXT_GEN
          - USER_DOMAIN_NOT_ALLOWED
          - MAX_FAILED_ATTEMPT_COUNT_EXCEEDED
          - RESOURCE_NOT_FOUND
          - INVALID_FORMAT
          - ROLE_DOES_NOT_EXIST
          - EMAIL_NOT_VERIFIED
          - EMAIL_VERIFICATION_TOKEN_NOT_FOUND
          - INVALID_TOKEN
          - REVOKED_TOKEN
          - INVALID_CAPTCHA_TOKEN
          - NOT_ACCOUNT_MGR_NOR_HAS_ALL_APP_ACCESS
          - EXPIRED_TOKEN
          - INVALID_AGENT_MTLS_AUTHORITY
          - TOKEN_ALREADY_REFRESHED_ONCE
          - ACCESS_DENIED
          - NG_ACCESS_DENIED
          - INVALID_CREDENTIAL
          - INVALID_CREDENTIALS_THIRD_PARTY
          - INVALID_KEY
          - INVALID_CONNECTOR_TYPE
          - INVALID_KEYPATH
          - INVALID_VARIABLE
          - UNKNOWN_HOST
          - UNREACHABLE_HOST
          - INVALID_PORT
          - SSH_SESSION_TIMEOUT
          - ALGORITHM_NEGOTIATION_ERROR
          - SOCKET_CONNECTION_ERROR
          - CONNECTION_ERROR
          - COULD_NOT_PROCESS_ERROR
          - SOCKET_CONNECTION_TIMEOUT
          - WINRM_COMMAND_EXECUTION_TIMEOUT
          - CONNECTION_TIMEOUT
          - SSH_CONNECTION_ERROR
          - USER_GROUP_ERROR
          - INVALID_EXECUTION_ID
          - ERROR_IN_GETTING_CHANNEL_STREAMS
          - UNEXPECTED
          - UNKNOWN_ERROR
          - UNKNOWN_EXECUTOR_TYPE_ERROR
          - DUPLICATE_STATE_NAMES
          - TRANSITION_NOT_LINKED
          - TRANSITION_TO_INCORRECT_STATE
          - TRANSITION_TYPE_NULL
          - STATES_WITH_DUP_TRANSITIONS
          - BARRIERS_NOT_RUNNING_CONCURRENTLY
          - NON_FORK_STATES
          - NON_REPEAT_STATES
          - INITIAL_STATE_NOT_DEFINED
          - FILE_INTEGRITY_CHECK_FAILED
          - INVALID_URL
          - FILE_DOWNLOAD_FAILED
          - PLATFORM_SOFTWARE_DELETE_ERROR
          - INVALID_CSV_FILE
          - INVALID_REQUEST
          - SCHEMA_VALIDATION_FAILED
          - FILTER_CREATION_ERROR
          - INVALID_YAML_ERROR
          - PLAN_CREATION_ERROR
          - INVALID_INFRA_STATE
          - PIPELINE_ALREADY_TRIGGERED
          - NON_EXISTING_PIPELINE
          - DUPLICATE_COMMAND_NAMES
          - INVALID_PIPELINE
          - COMMAND_DOES_NOT_EXIST
          - DUPLICATE_ARTIFACTSTREAM_NAMES
          - DUPLICATE_HOST_NAMES
          - STATE_NOT_FOR_TYPE
          - STATE_MACHINE_ISSUE
          - STATE_DISCONTINUE_FAILED
          - STATE_PAUSE_FAILED
          - PAUSE_ALL_ALREADY
          - RESUME_ALL_ALREADY
          - ROLLBACK_ALREADY
          - ABORT_ALL_ALREADY
          - EXPIRE_ALL_ALREADY
          - RETRY_FAILED
          - UNKNOWN_ARTIFACT_TYPE
          - UNKNOWN_STAGE_ELEMENT_WRAPPER_TYPE
          - INIT_TIMEOUT
          - LICENSE_EXPIRED
          - NOT_LICENSED
          - REQUEST_TIMEOUT
          - SCM_REQUEST_TIMEOUT
          - WORKFLOW_ALREADY_TRIGGERED
          - JENKINS_ERROR
          - INVALID_ARTIFACT_SOURCE
          - INVALID_ARTIFACT_SERVER
          - INVALID_CLOUD_PROVIDER
          - UPDATE_NOT_ALLOWED
          - DELETE_NOT_ALLOWED
          - APPDYNAMICS_CONFIGURATION_ERROR
          - APM_CONFIGURATION_ERROR
          - SPLUNK_CONFIGURATION_ERROR
          - ELK_CONFIGURATION_ERROR
          - LOGZ_CONFIGURATION_ERROR
          - SUMO_CONFIGURATION_ERROR
          - INSTANA_CONFIGURATION_ERROR
          - APPDYNAMICS_ERROR
          - STACKDRIVER_ERROR
          - STACKDRIVER_CONFIGURATION_ERROR
          - NEWRELIC_CONFIGURATION_ERROR
          - NEWRELIC_ERROR
          - DYNA_TRACE_CONFIGURATION_ERROR
          - DYNA_TRACE_ERROR
          - CLOUDWATCH_ERROR
          - CLOUDWATCH_CONFIGURATION_ERROR
          - PROMETHEUS_CONFIGURATION_ERROR
          - DATA_DOG_CONFIGURATION_ERROR
          - SERVICE_GUARD_CONFIGURATION_ERROR
          - ENCRYPTION_NOT_CONFIGURED
          - UNAVAILABLE_DELEGATES
          - WORKFLOW_EXECUTION_IN_PROGRESS
          - PIPELINE_EXECUTION_IN_PROGRESS
          - AWS_ACCESS_DENIED
          - AWS_CLUSTER_NOT_FOUND
          - AWS_SERVICE_NOT_FOUND
          - IMAGE_NOT_FOUND
          - ILLEGAL_ARGUMENT
          - IMAGE_TAG_NOT_FOUND
          - DELEGATE_NOT_AVAILABLE
          - INVALID_YAML_PAYLOAD
          - AUTHENTICATION_ERROR
          - AUTHORIZATION_ERROR
          - UNRECOGNIZED_YAML_FIELDS
          - COULD_NOT_MAP_BEFORE_YAML
          - MISSING_BEFORE_YAML
          - MISSING_YAML
          - NON_EMPTY_DELETIONS
          - GENERAL_YAML_ERROR
          - GENERAL_YAML_INFO
          - YAML_GIT_SYNC_ERROR
          - GIT_CONNECTION_ERROR
          - GIT_ERROR
          - ARTIFACT_SERVER_ERROR
          - ENCRYPT_DECRYPT_ERROR
          - SECRET_MANAGEMENT_ERROR
          - SECRET_NOT_FOUND
          - KMS_OPERATION_ERROR
          - GCP_KMS_OPERATION_ERROR
          - VAULT_OPERATION_ERROR
          - AWS_SECRETS_MANAGER_OPERATION_ERROR
          - AZURE_KEY_VAULT_OPERATION_ERROR
          - AZURE_KEY_VAULT_INTERRUPT_ERROR
          - UNSUPPORTED_OPERATION_EXCEPTION
          - FEATURE_UNAVAILABLE
          - GENERAL_ERROR
          - BASELINE_CONFIGURATION_ERROR
          - SAML_IDP_CONFIGURATION_NOT_AVAILABLE
          - INVALID_AUTHENTICATION_MECHANISM
          - INVALID_SAML_CONFIGURATION
          - INVALID_OAUTH_CONFIGURATION
          - INVALID_LDAP_CONFIGURATION
          - USER_GROUP_SYNC_FAILURE
          - USER_GROUP_ALREADY_EXIST
          - INVALID_TWO_FACTOR_AUTHENTICATION_CONFIGURATION
          - EXPLANATION
          - HINT
          - NOT_WHITELISTED_IP
          - INVALID_TOTP_TOKEN
          - EMAIL_FAILED
          - SSL_HANDSHAKE_FAILED
          - NO_APPS_ASSIGNED
          - INVALID_INFRA_CONFIGURATION
          - TEMPLATES_LINKED
          - USER_HAS_NO_PERMISSIONS
          - USER_NOT_AUTHORIZED
          - USER_ALREADY_PRESENT
          - EMAIL_ERROR
          - INVALID_USAGE_RESTRICTION
          - USAGE_RESTRICTION_ERROR
          - STATE_EXECUTION_INSTANCE_NOT_FOUND
          - DELEGATE_TASK_RETRY
          - KUBERNETES_API_TASK_EXCEPTION
          - KUBERNETES_TASK_EXCEPTION
          - KUBERNETES_YAML_ERROR
          - SAVE_FILE_INTO_AWS_STORAGE_FAILED
          - READ_FILE_FROM_AWS_STORAGE_FAILED
          - SAVE_FILE_INTO_GCP_STORAGE_FAILED
          - READ_FILE_FROM_GCP_STORAGE_FAILED
          - FILE_NOT_FOUND_ERROR
          - USAGE_LIMITS_EXCEEDED
          - EVENT_PUBLISH_FAILED
          - CUSTOM_APPROVAL_ERROR
          - JIRA_ERROR
          - EXPRESSION_EVALUATION_FAILED
          - KUBERNETES_VALUES_ERROR
          - KUBERNETES_CLUSTER_ERROR
          - INCORRECT_SIGN_IN_MECHANISM
          - OAUTH_LOGIN_FAILED
          - INVALID_TERRAFORM_TARGETS_REQUEST
          - TERRAFORM_EXECUTION_ERROR
          - FILE_READ_FAILED
          - FILE_SIZE_EXCEEDS_LIMIT
          - CLUSTER_NOT_FOUND
          - MARKETPLACE_TOKEN_NOT_FOUND
          - INVALID_MARKETPLACE_TOKEN
          - INVALID_TICKETING_SERVER
          - SERVICENOW_ERROR
          - PASSWORD_EXPIRED
          - USER_LOCKED
          - PASSWORD_STRENGTH_CHECK_FAILED
          - ACCOUNT_DISABLED
          - INVALID_ACCOUNT_PERMISSION
          - PAGERDUTY_ERROR
          - HEALTH_ERROR
          - SAML_TEST_SUCCESS_MECHANISM_NOT_ENABLED
          - DOMAIN_WHITELIST_FILTER_CHECK_FAILED
          - INVALID_DASHBOARD_UPDATE_REQUEST
          - DUPLICATE_FIELD
          - INVALID_AZURE_VAULT_CONFIGURATION
          - USER_NOT_AUTHORIZED_DUE_TO_USAGE_RESTRICTIONS
          - INVALID_ROLLBACK
          - DATA_COLLECTION_ERROR
          - SUMO_DATA_COLLECTION_ERROR
          - DEPLOYMENT_GOVERNANCE_ERROR
          - BATCH_PROCESSING_ERROR
          - GRAPHQL_ERROR
          - FILE_CREATE_ERROR
          - ILLEGAL_STATE
          - GIT_DIFF_COMMIT_NOT_IN_ORDER
          - FAILED_TO_ACQUIRE_PERSISTENT_LOCK
          - FAILED_TO_ACQUIRE_NON_PERSISTENT_LOCK
          - POD_NOT_FOUND_ERROR
          - COMMAND_EXECUTION_ERROR
          - REGISTRY_EXCEPTION
          - ENGINE_INTERRUPT_PROCESSING_EXCEPTION
          - ENGINE_IO_EXCEPTION
          - ENGINE_OUTCOME_EXCEPTION
          - ENGINE_SWEEPING_OUTPUT_EXCEPTION
          - CACHE_NOT_FOUND_EXCEPTION
          - ENGINE_ENTITY_UPDATE_EXCEPTION
          - SHELL_EXECUTION_EXCEPTION
          - TEMPLATE_NOT_FOUND
          - AZURE_SERVICE_EXCEPTION
          - AZURE_CLIENT_EXCEPTION
          - GIT_UNSEEN_REMOTE_HEAD_COMMIT
          - TIMEOUT_ENGINE_EXCEPTION
          - NO_AVAILABLE_DELEGATES
          - NO_GLOBAL_DELEGATE_ACCOUNT
          - NO_INSTALLED_DELEGATES
          - DUPLICATE_DELEGATE_EXCEPTION
          - GCP_MARKETPLACE_EXCEPTION
          - MISSING_DEFAULT_GOOGLE_CREDENTIALS
          - INCORRECT_DEFAULT_GOOGLE_CREDENTIALS
          - OPTIMISTIC_LOCKING_EXCEPTION
          - NG_PIPELINE_EXECUTION_EXCEPTION
          - NG_PIPELINE_CREATE_EXCEPTION
          - RESOURCE_NOT_FOUND_EXCEPTION
          - PMS_INITIALIZE_SDK_EXCEPTION
          - UNEXPECTED_SNIPPET_EXCEPTION
          - UNEXPECTED_SCHEMA_EXCEPTION
          - CONNECTOR_VALIDATION_EXCEPTION
          - TIMESCALE_NOT_AVAILABLE
          - MIGRATION_EXCEPTION
          - REQUEST_PROCESSING_INTERRUPTED
          - SECRET_MANAGER_ID_NOT_FOUND
          - GCP_SECRET_MANAGER_OPERATION_ERROR
          - GCP_SECRET_OPERATION_ERROR
          - GIT_OPERATION_ERROR
          - TASK_FAILURE_ERROR
          - INSTANCE_STATS_PROCESS_ERROR
          - INSTANCE_STATS_MIGRATION_ERROR
          - DEPLOYMENT_MIGRATION_ERROR
          - CG_LICENSE_USAGE_ERROR
          - INSTANCE_STATS_AGGREGATION_ERROR
          - UNRESOLVED_EXPRESSIONS_ERROR
          - KRYO_HANDLER_NOT_FOUND_ERROR
          - DELEGATE_ERROR_HANDLER_EXCEPTION
          - DELEGATE_SERVICE_DRIVER_EXCEPTION
          - DELEGATE_INSTALLATION_COMMAND_NOT_SUPPORTED_EXCEPTION
          - UNEXPECTED_TYPE_ERROR
          - EXCEPTION_HANDLER_NOT_FOUND
          - CONNECTOR_NOT_FOUND_EXCEPTION
          - GCP_SERVER_ERROR
          - HTTP_RESPONSE_EXCEPTION
          - SCM_NOT_FOUND_ERROR
          - SCM_CONFLICT_ERROR
          - SCM_CONFLICT_ERROR_V2
          - SCM_UNPROCESSABLE_ENTITY
          - PROCESS_EXECUTION_EXCEPTION
          - SCM_UNAUTHORIZED
          - SCM_BAD_REQUEST
          - SCM_INTERNAL_SERVER_ERROR
          - DATA
          - CONTEXT
          - PR_CREATION_ERROR
          - URL_NOT_REACHABLE
          - URL_NOT_PROVIDED
          - ENGINE_EXPRESSION_EVALUATION_ERROR
          - ENGINE_FUNCTOR_ERROR
          - JIRA_CLIENT_ERROR
          - SCM_NOT_MODIFIED
          - APPROVAL_STEP_NG_ERROR
          - BUCKET_SERVER_ERROR
          - GIT_SYNC_ERROR
          - TEMPLATE_EXCEPTION
          - TEMPLATE_ALREADY_EXISTS_EXCEPTION
          - ENTITY_REFERENCE_EXCEPTION
          - ACTIVE_SERVICE_INSTANCES_PRESENT_EXCEPTION
          - INVALID_INPUT_SET
          - INVALID_OVERLAY_INPUT_SET
          - RESOURCE_ALREADY_EXISTS
          - INVALID_JSON_PAYLOAD
          - POLICY_EVALUATION_FAILURE
          - POLICY_SET_ERROR
          - INVALID_ARTIFACTORY_REGISTRY_REQUEST
          - INVALID_NEXUS_REGISTRY_REQUEST
          - ENTITY_NOT_FOUND
          - GITX_OAUTH_NOT_SET
          - INVALID_AZURE_CONTAINER_REGISTRY_REQUEST
          - AZURE_AUTHENTICATION_ERROR
          - AZURE_CONFIG_ERROR
          - DATA_PROCESSING_ERROR
          - INVALID_AZURE_AKS_REQUEST
          - AWS_IAM_ERROR
          - AWS_CF_ERROR
          - AWS_INSTANCE_ERROR
          - AWS_VPC_ERROR
          - AWS_TAG_ERROR
          - AWS_ASG_ERROR
          - AWS_LOAD_BALANCER_ERROR
          - SCM_INTERNAL_SERVER_ERROR_V2
          - SCM_FAILED_DEPENDENCY_ERROR
          - SCM_UNAUTHORIZED_ERROR_V2
          - TOO_MANY_REQUESTS
          - SCM_RATE_LIMIT_ERROR
          - INVALID_IDENTIFIER_REF
          - SPOTINST_NULL_ERROR
          - SPOTNIST_REST_EXCEPTION
          - SCM_UNEXPECTED_ERROR
          - DUPLICATE_FILE_IMPORT
          - AZURE_APP_SERVICES_TASK_EXCEPTION
          - AZURE_ARM_TASK_EXCEPTION
          - AZURE_BP_TASK_EXCEPTION
          - MEDIA_NOT_SUPPORTED
          - AWS_ECS_ERROR
          - AWS_APPLICATION_AUTO_SCALING
          - AWS_ECS_SERVICE_NOT_ACTIVE
          - AWS_ECS_CLIENT_ERROR
          - AWS_STS_ERROR
          - FREEZE_EXCEPTION
          - MISSING_EXCEPTION
          - DELEGATE_TASK_EXPIRED
          - DELEGATE_TASK_VALIDATION_FAILED
          - MONGO_EXECUTION_TIMEOUT_EXCEPTION
          - DELEGATE_NOT_REGISTERED
          - TERRAFORM_VAULT_SECRET_CLEANUP_FAILURE
          - APPROVAL_REJECTION
          - TERRAGRUNT_EXECUTION_ERROR
          - ADFS_ERROR
          - TERRAFORM_CLOUD_ERROR
          - CLUSTER_CREDENTIALS_NOT_FOUND
          - SCM_API_ERROR
          - INTERNAL_SERVER_ERROR
          - SCM_FORBIDDEN
          - AWS_EKS_ERROR
          - OPA_POLICY_EVALUATION_ERROR
          - USER_MARKED_FAILURE
          - SSH_RETRY
          - HTTP_CLIENT_ERROR_RESPONSE
          - HTTP_INTERNAL_SERVER_ERROR
          - HTTP_BAD_GATEWAY
          - HTTP_SERVICE_UNAVAILABLE
          - HTTP_GATEWAY_TIMEOUT
          - HTTP_SERVER_ERROR_RESPONSE
          - PIPELINE_UPDATE_EXCEPTION
          - SERVICENOW_REFRESH_TOKEN_ERROR
          - PARAMETER_FIELD_CAST_ERROR
          - ABORT_ALL_ALREADY_NG
          - WEBHOOK_EXCEPTION
          - INVALID_OIDC_CONFIGURATION
          - INVALID_CREDENTIALS
          - INVALID_OR_PRIVATE_REPO
          - BARRIER_FAILED_ERROR
          - ELASTICSEARCH_NOT_AVAILABLE
          - OBJECT_STORE_NOT_AVAILABLE
          - NO_ELIGIBLE_RUNNERS
[...]
