openapi: 3.2.0
info:
  title: Harness Flyway API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: flyway
paths:
  /v1/orgs/{org}/projects/{project}/dbschema/{dbschema}/dbinstance/{dbinstance}/migration/scripts:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/DBSchemaParam'
    - $ref: '#/components/parameters/DBInstanceParam'
    - $ref: '#/components/parameters/DbOpsAccountHeader'
    get:
      operationId: V1FetchMigrationScriptSql
      parameters:
      - $ref: '#/components/parameters/FlywayVersion'
      - $ref: '#/components/parameters/DbOpsPageIndex'
      - $ref: '#/components/parameters/DbOpsLimit'
      - description: pipeline execution Id of the pipeline execution
        in: query
        name: pipelineExecutionId
        schema:
          type: string
      - description: stage execution id of the pipeline execution
        in: query
        name: stageExecutionId
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/FlywayScriptOutputResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Fetch flyway migration script SQL
      tags:
      - flyway
      x-internal: false
      x-stoplight:
        id: 3zkmmq5fe2mcs
  /v1/orgs/{org}/projects/{project}/dbschema/{dbschema}/instance/{dbinstance}/flyway/deployedState:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/DBSchemaParam'
    - $ref: '#/components/parameters/DBInstanceParam'
    - $ref: '#/components/parameters/DbOpsAccountHeader'
    post:
      description: Status of migration script deployment as part of execution with comparison to earlier state.
      operationId: V1GetFlywayDeployedState
      parameters:
      - $ref: '#/components/parameters/DbOpsPageIndex'
      - $ref: '#/components/parameters/DbOpsLimit'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployedStateInput'
        description: Request to show script in current deployment
      responses:
        '200':
          $ref: '#/components/responses/FlywayDeployedStateResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Get Flyway Deployed State
      tags:
      - flyway
      x-stoplight:
        id: 3cxmpehd7r5lf
components:
  parameters:
    DbOpsPageIndex:
      description: 'Pagination page number strategy: Specify the page number within the paginated collection related to the number of items on each page.'
      in: query
      name: page
      schema:
        default: 0
        format: int64
        type: integer
    DBSchemaParam:
      description: Identifier of the database schema
      in: path
      name: dbschema
      required: true
      schema:
        maxLength: 128
        type: string
    DbOpsLimit:
      description: 'Pagination: Number of items to return.'
      in: query
      name: limit
      schema:
        default: 10
        maximum: 100
        type: integer
    OrgParam:
      description: Organization identifier
      in: path
      name: org
      required: true
      schema:
        type: string
    FlywayVersion:
      description: Version of flyway migration script
      in: query
      name: flywayVersion
      required: true
      schema:
        type: string
    DBInstanceParam:
      description: database instance unique id
      in: path
      name: dbinstance
      required: true
      schema:
        type: string
    ProjectParam:
      description: Project identifier
      in: path
      name: project
      required: true
      schema:
        type: string
    DbOpsAccountHeader:
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
      in: header
      name: Harness-Account
      schema:
        type: string
  schemas:
    FlywayDeployedStateOutput:
      description: The status of migration script deployment
      properties:
        appliedInCurrentExecution:
          description: if migration script run as part of current step execution
          type: boolean
          x-stoplight:
            id: 68uncvn4ridul
        command:
          $ref: '#/components/schemas/FlywayCommand'
        deployedAt:
          description: epoch seconds when the migration was applied
          format: int64
          type: integer
        description:
          description: Description from the migration script
          type: string
          x-stoplight:
            id: 4qo0fx8jx5uk3
        metadata:
          $ref: '#/components/schemas/DbOpsExecutionMetadata'
        status:
          $ref: '#/components/schemas/FlywayCommandExecutionStatus'
        type:
          description: type of migration, whether baseline or actual script migration
          type: string
          x-stoplight:
            id: gg1w4ribzd0cl
        version:
          description: Version of flyway migration script
          type: string
          x-stoplight:
            id: xuir64ngt8kyr
      required:
      - status
      - version
      - deployedAt
      - command
      - metadata
      - appliedInCurrentExecution
      - type
      title: FlywayDeployedStateOutput
      type: object
      x-stoplight:
        id: pdsn4j431fbeb
    DbOpsError:
      description: Error Response
      properties:
        message:
          description: error message detail
          type: string
      required:
      - message
      title: Error Response
      type: object
      x-stoplight:
        id: 61cwtgnps2mpt
    DBStepType:
      enum:
      - DBSchemaApply
      - DBSchemaRollback
      title: DBStepType
      type: string
      x-stoplight:
        id: ookg93k67z8hz
    AppliedScriptOutput:
      description: Body for Fetching script content for flyway
      properties:
        executionMismatchMsg:
          description: show message if the script is not from current pipeline execution
          type: string
          x-stoplight:
            id: cx2j2d626sopb
        statements:
          description: migration script content for a version
          items:
            type: string
            x-stoplight:
              id: beb3etwif6p00
          type: array
      title: AppliedScriptOutput
      type: object
      x-stoplight:
        id: ilijyrigp5ddd
    DbOpsExecutionMetadata:
      description: Properties related to pipeline execution
      properties:
        pipeline:
          type: string
          x-stoplight:
            id: 5k3ff780hrran
        planExecutionId:
          type: string
          x-stoplight:
            id: q74ihd08grz1n
        stageExecutionId:
          type: string
          x-stoplight:
            id: m9yhkxclgnwn2
      required:
      - pipeline
      - planExecutionId
      - stageExecutionId
      title: ExecutionMetadata
      type: object
      x-stoplight:
        id: tkbzev2tuyv9j
    FlywayCommandExecutionStatus:
      enum:
      - IN_PROGRESS
      - SUCCESS
      - FAILURE
      - CANCELLED
      - SUCCESS_ROLLED_BACK
      title: FlywayCommandExecutionStatus
      type: string
      x-stoplight:
        id: 6na70i6cet06w
    FlywayCommand:
      description: Type of the plugin command to run
      enum:
      - Migrate
      - MigrateSQL
      - Undo
      - UndoSQL
      - Info
      - ParentWrapper
      - Clone
      - Custom
      - Repair
      minLength: 1
      title: Command
      type: string
      x-internal: true
      x-stoplight:
        id: c3cn8rwxrl2bb
    DeployedStateInput:
      description: Input for getting execution deployed states
      properties:
        pipeline:
          description: identifier of the pipeline
          type: string
          x-stoplight:
            id: 8qs6o89je9q7t
        planExecutionId:
          type: string
          x-stoplight:
            id: sg8bjjivonl2n
        stageExecutionId:
          type: string
          x-stoplight:
            id: uyjy3losyw3wv
        startTime:
          default: 0
          description: start time of step execution
          format: int64
          type: integer
          x-stoplight:
            id: ycpp05a282ivu
        stepType:
          $ref: '#/components/schemas/DBStepType'
      required:
      - planExecutionId
      - stageExecutionId
      - stepType
      - pipeline
      title: DeployedStateInput
      type: object
      x-stoplight:
        id: vfiwroxnuheqj
  responses:
    ErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DbOpsError'
      description: Error Response body
    FlywayDeployedStateResponse:
      content:
        application/json:
          schema:
            properties:
              deployedScripts:
                items:
                  $ref: '#/components/schemas/FlywayDeployedStateOutput'
                type: array
                x-stoplight:
                  id: avkuudlqggpyw
            type: object
      description: Response body of migration script deployment
      headers:
        X-Page-Number:
          description: Page number in Paginated response.
          schema:
            type: integer
        X-Page-Size:
          description: Maximum page size in Paginated response.
          schema:
            type: integer
        X-Total-Elements:
          description: Total number of elements returned in Paginated response.
          schema:
            type: integer
    FlywayScriptOutputResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppliedScriptOutput'
      description: Response Body for Fetching script content for flyway
      headers:
        X-Page-Number:
          description: Page number in Paginated response.
          schema:
            type: integer
        X-Page-Size:
          description: Maximum page size in Paginated response.
          schema:
            type: integer
        X-Total-Elements:
          description: Total number of elements returned in Paginated response.
          schema:
            type: integer
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
