openapi: 3.2.0
info:
  title: Harness Dbops API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Dbops
paths:
  /v1/dbops/db-metadata/{snapshotId}:
    parameters:
    - description: Unique id for the snapshot of the DB
      in: path
      name: snapshotId
      required: true
      schema:
        type: string
    post:
      description: Sending DB snapshot metadata from plugin to capture current state
      operationId: PostV1DbopsDbSnapshotMetadata
      parameters:
      - $ref: '#/components/parameters/DbOpsAccountHeader'
      - $ref: '#/components/parameters/HarnessCommand'
      - $ref: '#/components/parameters/PipelineExecutionId'
      - $ref: '#/components/parameters/StageExecutionId'
      - $ref: '#/components/parameters/PipelineIdentifierQuery'
      - $ref: '#/components/parameters/DbInstanceQuery'
      - $ref: '#/components/parameters/DbSchemaQuery'
      - description: Harness parentUnique Id for schema
        in: query
        name: parentId
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/DBSnapshotMetadataCreateRequest'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: DB Snapshot Metadata
      x-internal: true
      x-stoplight:
        id: c2yycemld5wz8
      tags:
      - Dbops
  /v1/dbops/dbschema:
    parameters:
    - description: Identifier field of the account the resource is scoped to
      in: header
      name: Harness-Account
      required: true
      schema:
        type: string
    delete:
      description: Delete schemas for a parentId with support for org/project as well
      operationId: V1DeleteDbSchema
      parameters:
      - $ref: '#/components/parameters/OrgIdentifierRequired'
      - $ref: '#/components/parameters/ProjectIdentifierRequired'
      - $ref: '#/components/parameters/ParentIdRequired'
      responses:
        '204':
          description: The database schemas were deleted successfully
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Delete schemas for a scope
      x-internal: true
      x-stoplight:
        id: rb3r54cs0ewdx
      tags:
      - Dbops
  /v1/dbops/metadata-snapshot/{snapshotId}:
    parameters:
    - description: Unique id for the snapshot of the DB
      in: path
      name: snapshotId
      required: true
      schema:
        type: string
    post:
      description: Sending DB snapshot file from plugin to harness for capturing current state
      operationId: PostV1DbopsMetadataSnapshot
      parameters:
      - $ref: '#/components/parameters/DbOpsAccountHeader'
      - $ref: '#/components/parameters/HarnessCommand'
      - $ref: '#/components/parameters/PipelineExecutionId'
      - $ref: '#/components/parameters/StageExecutionId'
      - $ref: '#/components/parameters/PipelineIdentifierQuery'
      - $ref: '#/components/parameters/DbInstanceQuery'
      - $ref: '#/components/parameters/DbSchemaQuery'
      - description: Sha256 of the content to validate on server if provided (hex-encoded)
        in: header
        name: X-Checksum-Sha256
        schema:
          type: string
      - description: Harness parentUnique Id for schema
        in: query
        name: parentId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
      responses:
        '201':
          description: Created
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: DB Metadata Snapshot File Upload
      x-stoplight:
        id: 4z31m65fr39pk
      tags:
      - Dbops
components:
  responses:
    ErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DbOpsError'
      description: Error Response body
  parameters:
    OrgIdentifierRequired:
      description: orgIdentifier as required param
      in: query
      name: orgIdentifier
      required: true
      schema:
        type: string
    DbSchemaQuery:
      description: DB Schema identifier
      in: query
      name: dbSchema
      required: true
      schema:
        type: string
    HarnessCommand:
      description: 'Harness command  Example : Update, Rollback'
      in: query
      name: harnessCommand
      required: true
      schema:
        enum:
        - Update
        - Rollback
        - DBOPSUpdateSQL
        - DBOPSRollbackSQL
        - DBOPSRollbackCountSQL
        - DBOPSSnapshot
        example: Update
        type: string
    PipelineExecutionId:
      description: plan execution Id of the pipeline execution
      in: query
      name: pipelineExecutionId
      required: true
      schema:
        type: string
    ProjectIdentifierRequired:
      description: projectIdentifier as a required param
      in: query
      name: projectIdentifier
      required: true
      schema:
        type: string
    DbInstanceQuery:
      description: Identifier for the DBInstance
      in: query
      name: dbInstance
      required: true
      schema:
        type: string
    PipelineIdentifierQuery:
      description: Identifier for the Pipeline
      in: query
      name: pipelineIdentifier
      required: true
      schema:
        type: string
    StageExecutionId:
      description: stage execution id of the pipeline execution
      in: query
      name: stageExecutionId
      required: true
      schema:
        type: string
    ParentIdRequired:
      description: parent_id as a required param
      in: query
      name: parent_id
      required: true
      schema:
        type: string
    DbOpsAccountHeader:
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
      in: header
      name: Harness-Account
      schema:
        type: string
  requestBodies:
    DBSnapshotMetadataCreateRequest:
      content:
        application/json:
          schema:
            items:
              $ref: '#/components/schemas/DbSnapshotMetadataIn'
            type: array
      description: Database metadata create request
  schemas:
    DbSnapshotMetadataIn:
      properties:
        objectName:
          description: Name for the object, example - Customers for table objectType
          type: string
          x-stoplight:
            id: lh6omoiitcqq8
        objectType:
          description: type for the object for the metadata, example- Table
          type: string
          x-stoplight:
            id: rkbdpawv94nlx
        objectValue:
          description: json value of the object
          type: string
          x-stoplight:
            id: x0artidtz7nd6
        snapshotObjectId:
          type: string
          x-stoplight:
            id: j50kac6cv3dp2
      required:
      - snapshotObjectId
      - objectType
      - objectName
      - objectValue
      title: DbSnapshotMetadataIn
      type: object
      x-stoplight:
        id: 6jmwlr1y0gi0g
    DbOpsError:
      description: Error Response
      properties:
        message:
          description: error message detail
          type: string
      required:
      - message
      title: Error Response
      type: object
      x-stoplight:
        id: 61cwtgnps2mpt
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
