openapi: 3.2.0
info:
  title: Harness Tags API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- description: APIs to create and manage Feature Flag Tags
  name: Tags
paths:
  /cf/admin/tags:
    get:
      description: Returns all the Tags for the given Account ID
      operationId: GetAllTags
      parameters:
      - $ref: '#/components/parameters/accountQueryParam'
      - $ref: '#/components/parameters/orgQueryParam'
      - $ref: '#/components/parameters/projectQueryParam'
      - $ref: '#/components/parameters/environmentQueryParam'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/sortOrder'
      - $ref: '#/components/parameters/sortByField'
      - $ref: '#/components/parameters/tagFilterOptionalParam'
      responses:
        '200':
          $ref: '#/components/responses/TagsResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Returns all Tags
      tags:
      - Tags
    post:
      description: Create Tags for the given identifier
      operationId: CreateTag
      parameters:
      - $ref: '#/components/parameters/accountQueryParam'
      - $ref: '#/components/parameters/orgQueryParam'
      - $ref: '#/components/parameters/projectQueryParam'
      requestBody:
        $ref: '#/components/requestBodies/TagRequest'
      responses:
        '201':
          $ref: '#/components/responses/TagEditResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Creates a Tag
      tags:
      - Tags
  /cf/admin/tags/{identifier}:
    delete:
      description: Delete Tag for the given identifier and account ID
      operationId: DeleteTag
      parameters:
      - $ref: '#/components/parameters/identifier'
      - $ref: '#/components/parameters/accountQueryParam'
      - $ref: '#/components/parameters/orgQueryParam'
      - $ref: '#/components/parameters/projectQueryParam'
      - $ref: '#/components/parameters/commitMsgQueryParam'
      - $ref: '#/components/parameters/forceDeleteQueryParam'
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '424':
          $ref: '#/components/responses/GitSyncError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Delete a Tag
      tags:
      - Tags
    get:
      description: Returns details such as identifier,Associated Feature Flag etc for the given Tag
      operationId: GetTag
      parameters:
      - $ref: '#/components/parameters/identifier'
      - $ref: '#/components/parameters/accountQueryParam'
      - $ref: '#/components/parameters/orgQueryParam'
      - $ref: '#/components/parameters/projectQueryParam'
      - $ref: '#/components/parameters/environmentOptionalQueryParam'
      - $ref: '#/components/parameters/metricsOptionalParam'
      - $ref: '#/components/parameters/archivedQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/FeatureResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Returns a Tag
      tags:
      - Tags
components:
  parameters:
    metricsOptionalParam:
      description: Parameter to indicate if metrics data is requested in response
      in: query
      name: metrics
      schema:
        type: boolean
    tagFilterOptionalParam:
      allowEmptyValue: true
      description: Partial Search of Tag Identifiers to filter on
      in: query
      name: tagIdentifierFilter
      schema:
        type: string
    accountQueryParam:
      description: Account Identifier
      examples:
        default:
          value: default
      in: query
      name: accountIdentifier
      required: true
      schema:
        type: string
    pageSize:
      description: PageSize
      in: query
      name: pageSize
      schema:
        type: integer
    sortByField:
      description: SortByField
      in: query
      name: sortByField
      schema:
        enum:
        - name
        - identifier
        - archived
        - kind
        - modifiedAt
        type: string
    environmentQueryParam:
      allowEmptyValue: true
      description: Environment Identifier
      in: query
      name: environmentIdentifier
      required: true
      schema:
        type: string
    sortOrder:
      description: SortOrder
      in: query
      name: sortOrder
      schema:
        enum:
        - ASCENDING
        - DESCENDING
        type: string
    forceDeleteQueryParam:
      description: Permanently deletes the the feature flag
      in: query
      name: forceDelete
      schema:
        type: boolean
    commitMsgQueryParam:
      allowEmptyValue: true
      description: Git commit message
      in: query
      name: commitMsg
      schema:
        type: string
    orgQueryParam:
      description: Organization Identifier
      examples:
        default:
          value: default_org
      in: query
      name: orgIdentifier
      required: true
      schema:
        type: string
    archivedQueryParam:
      description: Status of the feature flag
      in: query
      name: archived
      schema:
        type: boolean
    projectQueryParam:
      description: The Project identifier
      in: query
      name: projectIdentifier
      required: true
      schema:
        type: string
    identifier:
      description: Unique identifier for the object in the API.
      in: path
      name: identifier
      required: true
      schema:
        type: string
    pageNumber:
      description: PageNumber
      in: query
      name: pageNumber
      schema:
        type: integer
    environmentOptionalQueryParam:
      allowEmptyValue: true
      description: Environment
      in: query
      name: environmentIdentifier
      schema:
        type: string
  schemas:
    TagResponseMetadata:
      properties:
        details:
          description: Additional metadata about the request
          properties:
            governanceMetadata:
              description: Summary of governance checks including any warnings
              type: object
          type: object
      type: object
    Serve:
      description: Describe the distribution rule and the variation that should be served to the target
      properties:
        distribution:
          $ref: '#/components/schemas/Distribution'
        variation:
          type: string
      type: object
    FeaturePipeline:
      description: A pipeline configured to update a feature
      properties:
        createdAt:
          description: creation date in milliseconds
          type: integer
        description:
          description: The description of the pipeline
          type: string
        identifier:
          description: The identifier of the pipeline
          type: string
        lastUpdatedAt:
          description: last updated date in milliseconds
          type: integer
        name:
          description: The name of the pipeline
          type: string
      required:
      - identifier
      - name
      type: object
    Results:
      description: This result object shows details of how many times a variation has been evaluated
      properties:
        count:
          description: The number of times this variation has been returned in a evaluation
          type: integer
        variationIdentifier:
          description: The unique variation identifier
          example: defaultOnVariation
          type: string
        variationName:
          description: The user friendly variation name
          example: Default On Variation
          type: string
      required:
      - variationIdentifier
      - variationName
      - count
      type: object
    CfService:
      description: A Harness service linked to a flag
      properties:
        identifier:
          description: The identifier of the service
          type: string
        name:
          description: The name of the service
          type: string
      required:
      - name
      - identifier
      type: object
    FeatureState:
      description: The state of a flag either off or on
      enum:
      - 'on'
      - 'off'
      type: string
    Pagination:
      properties:
        itemCount:
          description: The total number of items
          example: 1
          type: integer
        pageCount:
          description: The total number of pages
          example: 100
          type: integer
        pageIndex:
          description: The current page
          example: 0
          type: integer
        pageSize:
          description: The number of items per page
          example: 1
          type: integer
        version:
          description: The version of this object.  The version will be incremented each time the object is modified
          example: 5
          type: integer
      required:
      - pageCount
      - itemCount
      - pageSize
      - pageIndex
      type: object
    JiraIssue:
      description: A Jira Issue
      properties:
        issueKey:
          description: The Jira Issue key
          example: FFM-7777
          type: string
        issueURL:
          description: The jira issue URL
          example: https://harness-dev1.atlassian.net
          type: string
      required:
      - issueKey
      - issueURL
      type: object
    Distribution:
      description: Describes a distribution rule
      properties:
        bucketBy:
          description: The attribute to use when distributing targets across buckets
          type: string
        variations:
          description: A list of variations and the weight that should be given to each
          items:
            $ref: '#/components/schemas/WeightedVariation'
          type: array
      required:
      - bucketBy
      - variations
      type: object
    WeightedVariation:
      description: A variation and the weighting it should receive as part of a percentage rollout
      properties:
        variation:
          description: The variation identifier
          example: off-variation
          type: string
        weight:
          description: The weight to be given to the variation in percent
          example: 50
          type: integer
      required:
      - variation
      - weight
      type: object
    Feature:
      description: A Feature Flag response
      properties:
        archived:
          description: Indicates if the flag has been archived and is no longer used
          example: false
          type: boolean
        createdAt:
          description: The date the flag was created in milliseconds
          format: int64
          type: integer
        defaultOffVariation:
          description: The default value returned when a flag is off
          example: true
          type: string
        defaultOnVariation:
          description: The default value returned when a flag is on
          example: true
          type: string
        description:
          description: A description for this flag
          example: A flag to control a new feature in production
          type: string
        envProperties:
          description: The Feature Flag rules for a given environment
          properties:
            ccm:
              $ref: '#/components/schemas/CCM'
            defaultServe:
              $ref: '#/components/schemas/Serve'
            environment:
              description: The environment identifier
              type: string
            jiraEnabled:
              description: Indicates whether jira functionality is enabled for the given account, project, org, and environment
              type: boolean
            jiraIssues:
              description: An array of Jira Issues linked to this Feature. Returns empty if none exist
              items:
                $ref: '#/components/schemas/JiraIssue'
              type: array
            modifiedAt:
              description: The last time the flag was modified in this environment
              format: int64
              type: integer
            offVariation:
              description: The variation to serve for this flag in this environment when the flag is off
              type: string
            pipelineConfigured:
              type: boolean
            pipelineDetails:
              $ref: '#/components/schemas/FeaturePipeline'
            pipelineErrorReason:
              type: string
            pipelineErrorState:
              type: boolean
            rules:
              description: A list of rules to use when evaluating this flag in this environment
              items:
                $ref: '#/components/schemas/ServingRule'
              type: array
            state:
              $ref: '#/components/schemas/FeatureState'
            variationMap:
              description: A list of the variations that will be served to specific targets or target groups in an environment.
              items:
                $ref: '#/components/schemas/VariationMap'
              type: array
            version:
              description: The version of the flag.  This is incremented each time it is changed
              format: int64
              type: integer
          required:
          - state
          - defaultServe
          - environment
          - offVariation
          - pipelineConfigured
          type: object
        evaluation:
          description: The value that the flag will return for the current user
          example: true
          type: string
        evaluationIdentifier:
          description: The identifier for the returned evaluation
          example: on-variation
          type: string
        identifier:
          description: The Feature Flag identifier
          example: bool-flag
          type: string
        kind:
          description: The type of Feature flag
          enum:
          - boolean
          - int
          - string
          - json
          example: boolean
          type: string
        modifiedAt:
          description: The date the flag was last modified in milliseconds
          format: int64
          type: integer
        name:
          description: The name of the Feature Flag
          example: My Boolean Flag
          type: string
        owner:
          description: The user who created the flag
          example: johndoe
          items:
            type: string
          type: array
        permanent:
          description: Indicates if this is a permanent flag, or one that should expire
          example: true
          type: boolean
        prerequisites:
          items:
            $ref: '#/components/schemas/Prerequisite'
          type: array
        project:
          description: The project this Feature belongs to
          example: test-project
          type: string
        results:
          description: The results shows which variations have been evaluated, and how many times each of these have been evaluated.
          items:
            $ref: '#/components/schemas/Results'
          type: array
        services:
          description: A list of services linked to this Feature Flag
          items:
            $ref: '#/components/schemas/CfService'
          type: array
        stale:
          description: Whether the flag is stale or not
          example: false
          type: boolean
        staleReason:
          description: The reason that the flag was marked as stale
          example: matched-criteria
          type: string
        tags:
          description: A list of tags for this Feature Flag
          items:
            $ref: '#/components/schemas/Tag'
          type: array
        variations:
          description: The variations that can be returned for this flag
          items:
            $ref: '#/components/schemas/Variation'
          minItems: 2
          type: array
      required:
      - project
      - identifier
      - createdAt
      - kind
      - name
      - variations
      - defaultOnVariation
      - defaultOffVariation
      type: object
    CfError:
      properties:
        code:
          description: The http error code
          example: 404
          type: string
        details:
          description: Additional details about the error
          type: object
        message:
          description: The reason the request failed
          example: Error retrieving projects, organization 'default_org' does not exist
          type: string
      required:
      - code
      - message
      type: object
    Tag:
      description: A Tag object used to tag feature flags - consists of name and identifier
      properties:
        identifier:
          description: The identifier of the tag
          example: feature-flag-tag-1
          type: string
        name:
          description: The name of the tag
          example: feature-flag-tag-1
          type: string
      required:
      - name
      - identifier
      type: object
    ServingRule:
      description: The rule used to determine what variation to serve to a target
      properties:
        clauses:
          description: A list of clauses to use in the rule
          items:
            $ref: '#/components/schemas/Clause'
          type: array
        priority:
          description: The rules priority relative to other rules.  The rules are evaluated in order with 1 being the highest
          example: 1
          type: integer
        ruleId:
          description: The unique identifier for this rule
          type: string
        serve:
          $ref: '#/components/schemas/Serve'
      required:
      - priority
      - clauses
      - serve
      type: object
    Tags:
      allOf:
      - $ref: '#/components/schemas/Pagination'
      - properties:
          tags:
            items:
              $ref: '#/components/schemas/Tag'
            type: array
      description: A list of Tags - requirement for feature flag tagging
      type: object
    TargetMap:
      description: Target map provides the details of a target that belongs to a flag
      properties:
        identifier:
          description: The identifier for the target
          type: string
        name:
          description: The name of the target
          type: string
      required:
      - identifier
      - name
      type: object
    CCM:
      description: CCM Details for environment
      properties:
        anomalies:
          description: List of anomalies detected
          items:
            properties:
              acknowledgedAt:
                description: The timestamp when the anomaly was acknowledged
                example: 0
                type: integer
              anomalyId:
                description: The Id of the anomaly
                example: '123456'
                type: string
              costDifference:
                description: The difference value for the anomaly
                example: 123
                type: integer
              createdAt:
                description: The creation timestamp of the anomaly record
                example: 0
                type: integer
              foundAt:
                description: The timestamp when the anomaly was found
                example: 0
                type: integer
              isAcknowledged:
                description: Flag to indicate if the anomaly is acknowledged
                example: false
                type: boolean
              status:
                description: The current status of the anomaly
                example: found
                type: string
            required:
            - anomalyId
            - createdAt
            - isAcknowledged
            - status
            type: object
          type: array
        perspectiveIdentifier:
          example: '123456'
          type: string
        perspectiveName:
          example: myCluster
          type: string
      required:
      - perspectiveIdentifier
      - perspectiveName
      type: object
    Variation:
      description: A variation of a flag that can be returned to a target
      properties:
        description:
          description: A description of the variation
          type: string
        identifier:
          description: The unique identifier for the variation
          example: off-variation
          type: string
        name:
          description: The user friendly name of the variation
          example: Off VAriation
          type: string
        value:
          description: The variation value to serve such as true or false for a boolean flag
          example: 'true'
          type: string
      required:
      - identifier
      - value
      type: object
    Prerequisite:
      description: Feature Flag pre-requisites
      properties:
        feature:
          description: The feature identifier that is the prerequisite
          type: string
        variations:
          description: A list of variations that must be met
          items:
            type: string
          type: array
      required:
      - feature
      - variations
      type: object
    Clause:
      description: A clause describes what conditions are used to evaluate a flag
      properties:
        attribute:
          description: The attribute to use in the clause.  This can be any target attribute
          example: identifier
          type: string
        id:
          description: The unique ID for the clause
          example: 32434243
          type: string
        negate:
          description: Is the operation negated?
          example: false
          type: boolean
        op:
          description: The type of operation such as equals, starts_with, contains
          example: starts_with
          type: string
        values:
          description: The values that are compared against the operator
          items:
            type: string
          type: array
      required:
      - attribute
      - op
      - negate
      - values
      type: object
    VariationMap:
      description: A mapping of variations to targets and target groups (segments).  The targets listed here should receive this variation.
      properties:
        targetSegments:
          description: A list of target groups (segments)
          items:
            type: string
          type: array
        targets:
          description: A list of target mappings
          items:
            $ref: '#/components/schemas/TargetMap'
          type: array
        variation:
          description: The variation identifier
          example: off-variation
          type: string
      required:
      - variation
      type: object
  responses:
    Conflict:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CfError'
      description: The specified resource already exists
    BadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CfError'
      description: Bad request
    TagsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Tags'
      description: OK
    Unauthenticated:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CfError'
      description: Unauthenticated
    TagEditResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TagResponseMetadata'
      description: OK
    GitSyncError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CfError'
      description: An error with git syncing
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CfError'
      description: Unauthorized
    FeatureResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Feature'
      description: OK
    InternalServerError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CfError'
      description: Internal server error
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CfError'
      description: The specified resource was not found
  requestBodies:
    TagRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Tag'
      required: true
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
