openapi: 3.2.0
info:
  title: Harness DORA API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: DORA
  description: This contains APIs specific to the DORA reports
paths:
  /v1/dora/lead-time:
    post:
      tags:
      - DORA
      summary: Retrieve lead time data
      description: This endpoint is paginated and retrieves lead time data.
      operationId: dora#getLeadTime
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    ratings:
                      type: array
                      items:
                        type: string
                    calculation:
                      type: string
                    work_items_type:
                      type: string
                    jira_issue_types:
                      type: array
                      items:
                        type: string
                    limit_to_only_applicable_data:
                      type: boolean
                    integration_ids:
                      type: array
                      items:
                        type: string
                    jira_issue_resolved_at:
                      type: object
                      properties:
                        $gt:
                          type: string
                        $lt:
                          type: string
                ou_ids:
                  type: array
                  items:
                    type: string
                across:
                  type: string
            example:
              filter:
                ratings:
                - good
                - slow
                - needs_attention
                calculation: ticket_velocity
                work_items_type: jira
                jira_issue_types:
                - <Jira-issue-types>
                limit_to_only_applicable_data: true
                integration_ids:
                - <integration-ids>
                jira_issue_resolved_at:
                  $gt: <epoch-time>
                  $lt: <epoch-time>
              ou_ids:
              - '518'
              across: velocity
      x-codeSamples:
      - lang: cURL
        label: curl
        source: "curl 'https://app.harness.io/gratis/sei/api/v1/dora/lead-time' \\\n  -H 'Content-type: application/json' \\\n  -H 'Authorization: APIKEY <HARNESS_SEI_API_KEY>' \\\n  --data-raw '{\n    \"filter\": {\n      \"work_items_type\": \"jira\",\n      \"integration_ids\": [\"<integration-id>\"],\n      \"jira_issue_resolved_at\": {\n        \"$gt\": \"<epoch-time>\",\n        \"$lt\": \"<epoch-time>\"\n      }\n    },\n    \"ou_ids\": [\"518\"],\n    \"across\": \"velocity\"\n  }'\n"
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  records:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        lead_time:
                          type: number
                        work_item:
                          type: object
                          properties:
                            type:
                              type: string
                            resolved_at:
                              type: string
                  count:
                    type: integer
                  _metadata:
                    type: object
                    properties:
                      page_size:
                        type: integer
                      page:
                        type: integer
                      has_next:
                        type: boolean
                      total_count:
                        type: integer
              example:
                records:
                - id: '1'
                  lead_time: 120
                  work_item:
                    type: Jira
                    resolved_at: '2024-07-01T12:34:56Z'
                count: 1
                _metadata:
                  page_size: 100
                  page: 0
                  has_next: false
                  total_count: 1
  /v1/dora/deployment_frequency:
    post:
      tags:
      - DORA
      summary: Retrieve deployment frequency data
      description: This endpoint is paginated and retrieves deployment frequency data.
      operationId: dora#getDeploymentFrequency
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    time_range:
                      type: object
                      properties:
                        $gt:
                          type: integer
                          description: Start time in epoch format
                        $lt:
                          type: integer
                          description: End time in epoch format
                ou_ids:
                  type: array
                  items:
                    type: string
            example:
              filter:
                time_range:
                  $gt: 1708387200
                  $lt: 1710892800
              ou_ids:
              - '518'
      x-codeSamples:
      - lang: cURL
        label: curl
        source: "curl 'https://app.harness.io/gratis/sei/api/v1/dora/deployment_frequency' \\\n  -H 'Content-type: application/json' \\\n  -H 'Authorization: APIKEY <HARNESS_SEI_API_KEY>' \\\n  --data-raw '{\n    \"filter\": {\n      \"time_range\": {\n        \"$gt\": 1708387200,\n        \"$lt\": 1710892800\n      }\n    },\n    \"ou_ids\": [\"518\"]\n  }'\n"
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  time_series:
                    type: object
                    properties:
                      day:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: integer
                            count:
                              type: integer
                            additional_key:
                              type: string
                      week:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: integer
                            count:
                              type: integer
                            additional_key:
                              type: string
                      month:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: integer
                            count:
                              type: integer
                            additional_key:
                              type: string
                  stats:
                    type: object
                    properties:
                      count_per_day:
                        type: number
                      count_per_week:
                        type: number
                      count_per_month:
                        type: number
                      band:
                        type: string
                      total_deployment:
                        type: integer
              example:
                time_series:
                  day:
                  - key: 1708387200
                    count: 0
                    additional_key: 20-02-2024
                  - key: 1708473600
                    count: 1
                    additional_key: 21-02-2024
                  week:
                  - key: 1708300800
                    count: 2
                    additional_key: 19-02-2024
                  month:
                  - key: 1706745600
                    count: 10
                    additional_key: 01-02-2024
                  - key: 1709251200
                    count: 18
                    additional_key: 01-03-2024
                stats:
                  count_per_day: 0.9333333333333333
                  count_per_week: 6.533333333333333
                  count_per_month: 28
                  band: HIGH
                  total_deployment: 28
  /v1/dora/change_failure_rate:
    post:
      tags:
      - DORA
      summary: Retrieve change failure rate data
      description: This endpoint is paginated and retrieves change failure rate data.
      operationId: dora#getChangeFailureRate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    time_range:
                      type: object
                      properties:
                        $gt:
                          type: integer
                          description: Start time in epoch format
                        $lt:
                          type: integer
                          description: End time in epoch format
                ou_ids:
                  type: array
                  items:
                    type: string
            example:
              filter:
                time_range:
                  $gt: 1708387200
                  $lt: 1710892800
              ou_ids:
              - '518'
      x-codeSamples:
      - lang: cURL
        label: curl
        source: "curl 'https://app.harness.io/gratis/sei/api/v1/dora/change_failure_rate' \\\n  -H 'Content-type: application/json' \\\n  -H 'Authorization: APIKEY <HARNESS_SEI_API_KEY>' \\\n  --data-raw '{\n    \"filter\": {\n      \"time_range\": {\n        \"$gt\": 1708387200,\n        \"$lt\": 1710892800\n      }\n    },\n    \"ou_ids\": [\"518\"]\n  }'\n"
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  time_series:
                    type: object
                    properties:
                      day:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: integer
                            count:
                              type: integer
                            additional_key:
                              type: string
                      week:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: integer
                            count:
                              type: integer
                            additional_key:
                              type: string
                      month:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: integer
                            count:
                              type: integer
                            additional_key:
                              type: string
                  stats:
                    type: object
                    properties:
                      failure_rate:
                        type: number
                      band:
                        type: string
                      total_deployment:
                        type: integer
                      is_absolute:
                        type: boolean
              example:
                time_series:
                  day:
                  - key: 1708387200
                    count: 2
                    additional_key: 20-02-2024
                  - key: 1708473600
                    count: 2
                    additional_key: 21-02-2024
                  week:
                  - key: 1708300800
                    count: 9
                    additional_key: 19-02-2024
                  month:
                  - key: 1706745600
                    count: 18
                    additional_key: 01-02-2024
                  - key: 1709251200
                    count: 33
                    additional_key: 01-03-2024
                stats:
                  failure_rate: 51
                  band: LOW
                  total_deployment: 100
                  is_absolute: false
  /v1/dora/mean-time:
    post:
      tags:
      - DORA
      summary: Retrieve Mean Time to Restore (MTTR) data
      description: This endpoint retrieves Mean Time to Restore (MTTR) data for DORA metrics.
      operationId: dora#getMeanTimeToRestore
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    ratings:
                      type: array
                      items:
                        type: string
                      description: Array of rating categories
                    calculation:
                      type: string
                      description: Type of calculation to perform
                    work_items_type:
                      type: string
                      description: Type of work items to consider
                    limit_to_only_applicable_data:
                      type: boolean
                      description: Whether to limit the data to only applicable items
                    integration_ids:
                      type: array
                      items:
                        type: string
                      description: Array of integration IDs
                ou_ids:
                  type: array
                  items:
                    type: string
                  description: Array of organizational unit IDs
                across:
                  type: string
                  description: Dimension to calculate across
                widget_id:
                  type: string
                  description: Unique identifier for the widget
            example:
              filter:
                ratings:
                - good
                - slow
                - needs_attention
                calculation: ticket_velocity
                work_items_type: jira
                limit_to_only_applicable_data: true
                integration_ids:
                - <INTEGRATION_ID>
              ou_ids:
              - <OU_ID>
              across: velocity
              widget_id: <WIDGET_ID>
      x-codeSamples:
      - lang: cURL
        label: curl
        source: "curl 'https://app.harness.io/gratis/sei/api/v1/dora/mean-time' \\\n  -H 'Content-type: application/json' \\\n  -H 'Authorization: APIKEY <HARNESS_SEI_API_KEY>' \\\n  --data-raw '{\n    \"filter\": {\n      \"ratings\": [\"good\", \"slow\", \"needs_attention\"],\n      \"calculation\": \"ticket_velocity\",\n      \"work_items_type\": \"jira\",\n      \"limit_to_only_applicable_data\": true,\n      \"integration_ids\": [\"<INTEGRATION_ID>\"]\n    },\n    \"ou_ids\": [\"ADD_OU_ID\"],\n    \"across\": \"velocity\",\n    \"widget_id\": \"<WIDGET_ID>\"\n  }'\n"
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  mean_time:
                    type: number
                    description: The calculated mean time to restore
                  unit:
                    type: string
                    description: The unit of measurement for the mean time
                  band:
                    type: string
                    description: Performance band classification
                  total_incidents:
                    type: integer
                    description: Total number of incidents considered
              example:
                mean_time: 4.5
                unit: hours
                band: MEDIUM
                total_incidents: 20
components:
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
