openapi: 3.2.0
info:
  title: Harness Application Set API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: ApplicationSet
paths:
  /gitops/api/v1/applicationset:
    post:
      summary: Update updates an applicationset
      description: Update applicationset.
      operationId: ApplicationSetService_Create
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1ApplicationSet'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: query
        required: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/applicationsApplicationSetCreateRequest'
      tags:
      - ApplicationSet
    put:
      summary: Update updates an applicationset
      description: Update existing applicationset.
      operationId: ApplicationSetService_Update
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1ApplicationSet'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: query
        required: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/applicationsApplicationSetCreateRequest'
      tags:
      - ApplicationSet
  /gitops/api/v1/applicationset/generate:
    post:
      summary: Generate child applications from application set
      description: Generate child applications from application set.
      operationId: ApplicationSetService_Generate
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationsApplicationSetGenerateResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: query
        required: false
        schema:
          type: string
      - name: createProject
        description: If project not specified and createProject is true, create project if it does not exist.
        in: query
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applicationsApplicationSetGenerateRequest'
        required: true
      tags:
      - ApplicationSet
  /gitops/api/v1/applicationset/generators:
    get:
      summary: List applicationset generators
      operationId: ApplicationSetService_ListApplicationSetGenerators
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ApplicationSetGeneratorList'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      tags:
      - ApplicationSet
  /gitops/api/v1/applicationset/generators/{type}:
    get:
      summary: Get applicationset generator
      operationId: ApplicationSetService_GetApplicationSetGenerator
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
          enum:
          - GENERATOR_TYPE_NOT_SET
          - LIST
          - CLUSTERS
          - GIT
          - SCM_PROVIDER_GITHUB
          - SCM_PROVIDER_GITLAB
          - SCM_PROVIDER_GITEA
          - SCM_PROVIDER_BITBUCKET
          - SCM_PROVIDER_AZURE
          - SCM_PROVIDER_BITBUCKET_CLOUD
          - SCM_PROVIDER_AWS_CODE_COMMIT
          - DUCK_TYPE
          - PULL_REQUEST_GITHUB
          - PULL_REQUEST_GITLAB
          - PULL_REQUEST_GITEA
          - PULL_REQUEST_BITBUCKET
          - PULL_REQUEST_BITBUCKET_CLOUD
          - PULL_REQUEST_AZURE
          - MATRIX
          - MERGE
          - PLUGIN
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: query
        required: false
        schema:
          type: string
      tags:
      - ApplicationSet
  /gitops/api/v1/applicationset/templates/{type}:
    get:
      summary: Get applicationset template
      operationId: ApplicationSetService_GetApplicationSetTemplate
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
          enum:
          - GENERATOR_TYPE_NOT_SET
          - LIST
          - CLUSTERS
          - GIT
          - SCM_PROVIDER_GITHUB
          - SCM_PROVIDER_GITLAB
          - SCM_PROVIDER_GITEA
          - SCM_PROVIDER_BITBUCKET
          - SCM_PROVIDER_AZURE
          - SCM_PROVIDER_BITBUCKET_CLOUD
          - SCM_PROVIDER_AWS_CODE_COMMIT
          - DUCK_TYPE
          - PULL_REQUEST_GITHUB
          - PULL_REQUEST_GITLAB
          - PULL_REQUEST_GITEA
          - PULL_REQUEST_BITBUCKET
          - PULL_REQUEST_BITBUCKET_CLOUD
          - PULL_REQUEST_AZURE
          - MATRIX
          - MERGE
          - PLUGIN
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: query
        required: false
        schema:
          type: string
      tags:
      - ApplicationSet
  /gitops/api/v1/applicationset/{identifier}:
    get:
      summary: Get applicationset
      description: Returns an applicationset by identifier.
      operationId: ApplicationSetService_Get
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1ApplicationSet'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: identifier
        description: UUID for the Application Set.
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: query
        required: false
        schema:
          type: string
      - name: fetchMode
        description: Fetch mode for the entity.
        in: query
        required: false
        schema:
          type: string
          enum:
          - NOT_SET
          - LIVE
          - CACHED
          default: NOT_SET
      tags:
      - ApplicationSet
    delete:
      summary: Delete applicationset by id
      description: Delete applicationset.
      operationId: ApplicationSetService_Delete
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationsApplicationSetResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: identifier
        description: UUID for the Application Set.
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: query
        required: false
        schema:
          type: string
      tags:
      - ApplicationSet
  /gitops/api/v1/applicationset/{identifier}/resource-tree:
    get:
      summary: ResourceTree returns resource tree
      operationId: ApplicationSetService_ResourceTree
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationsApplicationSetTree'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: identifier
        description: UUID for the Application Set.
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: query
        required: false
        schema:
          type: string
      - name: query.name
        in: query
        required: false
        schema:
          type: string
      - name: query.appsetNamespace
        description: The application set namespace. Default empty is argocd control plane namespace.
        in: query
        required: false
        schema:
          type: string
      tags:
      - ApplicationSet
  /gitops/api/v1/applicationsets:
    post:
      summary: List applicationsets
      operationId: ApplicationSetService_List
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1ApplicationSetList'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ApplicationSetQuery'
        required: true
      tags:
      - ApplicationSet
components:
  schemas:
    applicationsBackoff:
      type: object
      properties:
        duration:
          type: string
          title: Duration is the amount to back off. Default unit is seconds, but could also be a duration (e.g. "2m", "1h")
        factor:
          type: string
          format: int64
          title: Factor is a factor to multiply the base duration after each failed retry
        maxDuration:
          type: string
          title: MaxDuration is the maximum amount of time allowed for the backoff strategy
      title: Backoff is the backoff strategy to use on subsequent retries for failing syncs
    applicationsSCMProviderGeneratorBitbucketServer:
      type: object
      properties:
        project:
          type: string
          description: Project to scan. Required.
        api:
          type: string
          description: The Bitbucket Server REST API URL to talk to. Required.
        basicAuth:
          $ref: '#/components/schemas/applicationsBasicAuthBitbucketServer'
        allBranches:
          type: boolean
          description: Scan all branches instead of just the default branch.
        bearerToken:
          $ref: '#/components/schemas/applicationsBearerTokenBitbucket'
        insecure:
          type: boolean
          title: 'Allow self-signed TLS / Certificates; default: false'
        caRef:
          $ref: '#/components/schemas/applicationsConfigMapKeyRef'
      description: SCMProviderGeneratorBitbucketServer defines connection info specific to Bitbucket Server.
    applicationsApplicationSetCondition:
      type: object
      properties:
        type:
          type: string
          title: Type is an applicationset condition type
        message:
          type: string
          title: Message contains human-readable message indicating details about condition
        lastTransitionTime:
          $ref: '#/components/schemas/v1Time'
        status:
          type: string
          title: True/False/Unknown
        reason:
          type: string
          title: Single word camelcase representing the reason for the status eg ErrorOccurred
      title: ApplicationSetCondition contains details about an applicationset condition, which is usually an error or warning
    applicationsKustomizePatch:
      type: object
      properties:
        path:
          type: string
        patch:
          type: string
        target:
          $ref: '#/components/schemas/applicationsKustomizeSelector'
        options:
          type: object
          additionalProperties:
            type: boolean
    applicationsHelmParameter:
      type: object
      properties:
        name:
          type: string
          title: Name is the name of the Helm parameter
        value:
          type: string
          title: Value is the value for the Helm parameter
        forceString:
          type: boolean
          title: ForceString determines whether to tell Helm to interpret booleans and numbers as strings
      title: HelmParameter is a parameter that's passed to helm template during manifest generation
    applicationsSCMProviderGeneratorAWSCodeCommit:
      type: object
      properties:
        tagFilters:
          type: array
          items:
            $ref: '#/components/schemas/applicationsTagFilter'
          title: TagFilters provides the tag filter(s) for repo discovery
        role:
          type: string
          description: 'Role provides the AWS IAM role to assume, for cross-account repo discovery

            if not provided, AppSet controller will use its pod/node identity to discover.'
        region:
          type: string
          description: 'Region provides the AWS region to discover repos.

            if not provided, AppSet controller will infer the current region from environment.'
        allBranches:
          type: boolean
          description: Scan all branches instead of just the default branch.
      description: SCMProviderGeneratorAWSCodeCommit defines connection info specific to AWS CodeCommit.
    applicationsSCMProviderGeneratorGithub:
      type: object
      properties:
        organization:
          type: string
          description: GitHub org to scan. Required.
        api:
          type: string
          description: The GitHub API URL to talk to. If blank, use https://api.github.com/.
        tokenRef:
          $ref: '#/components/schemas/applicationsSecretRef'
        appSecretName:
          type: string
          description: AppSecretName is a reference to a GitHub App repo-creds secret.
        allBranches:
          type: boolean
          description: Scan all branches instead of just the default branch.
      description: SCMProviderGeneratorGithub defines connection info specific to GitHub.
    servicev1ApplicationSetList:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/servicev1ApplicationSet'
        totalPages:
          type: integer
          format: int32
        totalItems:
          type: integer
          format: int32
        pageItemCount:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        pageIndex:
          type: integer
          format: int32
        empty:
          type: boolean
    applicationsSCMProviderGeneratorGitlab:
      type: object
      properties:
        group:
          type: string
          description: Gitlab group to scan. Required.  You can use either the project id (recommended) or the full namespaced path.
        includeSubgroups:
          type: boolean
          title: Recurse through subgroups (true) or scan only the base group (false).  Defaults to "false"
        api:
          type: string
          description: The Gitlab API URL to talk to.
        tokenRef:
          $ref: '#/components/schemas/applicationsSecretRef'
        allBranches:
          type: boolean
          description: Scan all branches instead of just the default branch.
        insecure:
          type: boolean
          title: 'Skips validating the SCM provider''s TLS certificate - useful for self-signed certificates.; default: false'
        includeSharedProjects:
          type: boolean
          title: When recursing through subgroups, also include shared Projects (true) or scan only the subgroups under same path (false).  Defaults to "true"
        topic:
          type: string
          description: Filter repos list based on Gitlab Topic.
        caRef:
          $ref: '#/components/schemas/applicationsConfigMapKeyRef'
      description: SCMProviderGeneratorGitlab defines connection info specific to Gitlab.
    applicationsPluginInput:
      type: object
      properties:
        parameters:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/v1JSON'
          description: 'Parameters contains the information to pass to the plugin. It is a map. The keys must be strings, and the

            values can be any type.'
    v1ManagedFieldsEntry:
      type: object
      properties:
        manager:
          type: string
          description: Manager is an identifier of the workflow managing these fields.
        operation:
          type: string
          description: 'Operation is the type of operation which lead to this ManagedFieldsEntry being created.

            The only valid values for this field are ''Apply'' and ''Update''.'
        apiVersion:
          type: string
          description: 'APIVersion defines the version of this resource that this field set

            applies to. The format is "group/version" just like the top-level

            APIVersion field. It is necessary to track the version of a field

            set because it cannot be automatically converted.'
        time:
          $ref: '#/components/schemas/v1Time'
        fieldsType:
          type: string
          title: 'FieldsType is the discriminator for the different fields format and version.

            There is currently only one possible value: "FieldsV1"'
        fieldsV1:
          $ref: '#/components/schemas/v1FieldsV1'
        subresource:
          type: string
          description: 'Subresource is the name of the subresource used to update that object, or

            empty string if the object was updated through the main resource. The

            value of this field is used to distinguish between managers, even if they

            share the same name. For example, a status update will be distinct from a

            regular update using the same manager name.

            Note that the APIVersion field is not related to the Subresource field and

            it always corresponds to the version of the main resource.'
      description: 'ManagedFieldsEntry is a workflow-id, a FieldSet and the group version of the resource

        that the fieldset applies to.'
    applicationsResourceResult:
      type: object
      properties:
        group:
          type: string
          title: Group specifies the API group of the resource
        version:
          type: string
          title: Version specifies the API version of the resource
        kind:
          type: string
          title: Kind specifies the API kind of the resource
        namespace:
          type: string
          title: Namespace specifies the target namespace of the resource
        name:
          type: string
          title: Name specifies the name of the resource
        status:
          type: string
          title: Status holds the final result of the sync. Will be empty if the resources is yet to be applied/pruned and is always zero-value for hooks
        message:
          type: string
          title: Message contains an informational or error message for the last sync OR operation
        hookType:
          type: string
          title: HookType specifies the type of the hook. Empty for non-hook resources
        hookPhase:
          type: string
          description: 'HookPhase contains the state of any operation associated with this resource OR hook

            This can also contain values for non-hook resources.'
        syncPhase:
          type: string
          title: SyncPhase indicates the particular phase of the sync that this result was acquired in
        images:
          type: array
          items:
            type: string
          title: Images contains the images related to the ResourceResult
      title: ResourceResult holds the operation result details of a specific resource
    applicationsTagFilter:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    applicationsMergeGenerator:
      type: object
      properties:
        generators:
          type: array
          items:
            $ref: '#/components/schemas/applicationsApplicationSetNestedGenerator'
        mergeKeys:
          type: array
          items:
            type: string
        template:
          $ref: '#/components/schemas/applicationsApplicationSetTemplate'
      description: 'MergeGenerator merges the output of two or more generators. Where the values for all specified merge keys are equal

        between two sets of generated parameters, the parameter sets will be merged with the parameters from the latter

        generator taking precedence. Parameter sets with merge keys not present in the base generator''s params will be

        ignored.

        For example, if the first generator produced [{a: ''1'', b: ''2''}, {c: ''1'', d: ''1''}] and the second generator produced

        [{''a'': ''override''}], the united parameters for merge keys = [''a''] would be

        [{a: ''override'', b: ''1''}, {c: ''1'', d: ''1''}].


        MergeGenerator supports template overriding. If a MergeGenerator is one of multiple top-level generators, its

        template will be merged with the top-level generator before the parameters are applied.'
    applicationsApplicationDestination:
      type: object
      properties:
        server:
          type: string
          title: Server specifies the URL of the target cluster and must be set to the Kubernetes control plane API
        namespace:
          type: string
          title: 'Namespace specifies the target namespace for the application''s resources.

            The namespace will only be set for namespace-scoped resources that have not set a value for .metadata.namespace'
        name:
          type: string
          title: Name is an alternate way of specifying the target cluster by its symbolic name
      title: ApplicationDestination holds information about the application's destination
    applicationsAppHealthStatus:
      type: object
      properties:
        status:
          type: string
          title: Status holds the status code of the application
        message:
          type: string
          description: 'Deprecated: this field is not used and will be removed in a future release.'
          title: Message is a human-readable informational message describing the health status
        lastTransitionTime:
          $ref: '#/components/schemas/v1Time'
      title: AppHealthStatus contains information about the currently observed health state of an application
    applicationsSyncOperationResource:
      type: object
      properties:
        group:
          type: string
        kind:
          type: string
        name:
          type: string
        namespace:
          type: string
      description: SyncOperationResource contains resources to sync.
    applicationsComparedTo:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/applicationsApplicationSource'
        destination:
          $ref: '#/components/schemas/applicationsApplicationDestination'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/applicationsApplicationSource'
          title: Sources is a reference to the application's multiple sources used for comparison
        ignoreDifferences:
          type: array
          items:
            $ref: '#/components/schemas/applicationsResourceIgnoreDifferences'
          title: IgnoreDifferences is a reference to the application's ignored differences used for comparison
      title: ComparedTo contains application source and target which was used for resources comparison
    applicationsApplicationSetResponse:
      type: object
      properties:
        project:
          type: string
        applicationset:
          $ref: '#/components/schemas/applicationsApplicationSet'
    applicationsApplicationSourcePluginParameter:
      type: object
      properties:
        name:
          type: string
          description: Name is the name identifying a parameter.
        string:
          type: string
          description: String_ is the value of a string type parameter.
        map:
          $ref: '#/components/schemas/applicationsOptionalMap'
        array:
          $ref: '#/components/schemas/applicationsOptionalArray'
    applicationsApplicationStatus:
      type: object
      properties:
        resources:
          type: array
          items:
            $ref: '#/components/schemas/applicationsResourceStatus'
          title: Resources is a list of Kubernetes resources managed by this application
        sync:
          $ref: '#/components/schemas/applicationsSyncStatus'
        health:
          $ref: '#/components/schemas/applicationsAppHealthStatus'
        history:
          type: array
          items:
            $ref: '#/components/schemas/applicationsRevisionHistory'
          title: History contains information about the application's sync history
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/applicationsApplicationCondition'
          title: Conditions is a list of currently observed application conditions
        reconciledAt:
          $ref: '#/components/schemas/v1Time'
        operationState:
          $ref: '#/components/schemas/applicationsOperationState'
        observedAt:
          $ref: '#/components/schemas/v1Time'
        sourceType:
          type: string
          title: SourceType specifies the type of this application
        summary:
          $ref: '#/components/schemas/applicationsApplicationSummary'
        resourceHealthSource:
          type: string
          title: 'ResourceHealthSource indicates where the resource health status is stored: inline if not set or appTree'
        sourceTypes:
          type: array
          items:
            type: string
          title: SourceTypes specifies the type of the sources included in the application
        controllerNamespace:
          type: string
          title: ControllerNamespace indicates the namespace in which the application controller is located
        sourceHydrator:
          $ref: '#/components/schemas/applicationsSourceHydratorStatus'
      title: ApplicationStatus contains status information for the application
    applicationsHydrateTo:
      type: object
      properties:
        targetBranch:
          type: string
          title: TargetBranch is the branch to which hydrated manifests should be committed
      description: 'HydrateTo specifies a location to which hydrated manifests should be pushed as a "staging area" before being moved to

        the SyncSource. The RepoURL and Path are assumed based on the associated SyncSource config in the SourceHydrator.'
    applicationsResourceNetworkingInfo:
      type: object
      properties:
        targetLabels:
          type: object
          additionalProperties:
            type: string
          description: TargetLabels represents labels associated with the target resources that this resource communicates with.
        targetRefs:
          type: array
          items:
            $ref: '#/components/schemas/applicationsResourceRef'
          description: TargetRefs contains references to other resources that this resource interacts with, such as Services or Pods.
        labels:
          type: object
          additionalProperties:
            type: string
          description: Labels holds the labels associated with this networking resource.
        ingress:
          type: array
          items:
            $ref: '#/components/schemas/v1LoadBalancerIngress'
          description: Ingress provides information about external access points (e.g., load balancer ingress) for this resource.
        externalURLs:
          type: array
          items:
            type: string
          description: 'ExternalURLs holds a list of URLs that should be accessible externally.

            This field is typically populated for Ingress resources based on their hostname rules.'
      description: ResourceNetworkingInfo holds networking-related information for a resource.
    applicationsClusterGenerator:
      type: object
      properties:
        selector:
          $ref: '#/components/schemas/v1LabelSelector'
        template:
          $ref: '#/components/schemas/applicationsApplicationSetTemplate'
        values:
          type: object
          additionalProperties:
            type: string
          title: Values contains key/value pairs which are passed directly as parameters to the template
        flatList:
          type: boolean
          title: returns the clusters a single 'clusters' value in the template
      description: ClusterGenerator defines a generator to match against clusters registered with ArgoCD.
    applicationsApplicationSetNestedGenerator:
      type: object
      properties:
        list:
          $ref: '#/components/schemas/applicationsListGenerator'
        clusters:
          $ref: '#/components/schemas/applicationsClusterGenerator'
        git:
          $ref: '#/components/schemas/applicationsGitGenerator'
        scmProvider:
          $ref: '#/components/schemas/applicationsSCMProviderGenerator'
        clusterDecisionResource:
          $ref: '#/components/schemas/applicationsDuckTypeGenerator'
        pullRequest:
          $ref: '#/components/schemas/applicationsPullRequestGenerator'
        matrix:
          $ref: '#/components/schemas/v1JSON'
        merge:
          $ref: '#/components/schemas/v1JSON'
        selector:
          $ref: '#/components/schemas/v1LabelSelector'
        plugin:
          $ref: '#/components/schemas/applicationsPluginGenerator'
      description: 'ApplicationSetNestedGenerator represents a generator nested within a combination-type generator (MatrixGenerator or

        MergeGenerator).'
    applicationsApplicationSetStatus:
      type: object
      properties:
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/applicationsApplicationSetCondition'
          title: 'INSERT ADDITIONAL STATUS FIELD - define observed state of cluster

            Important: Run "make" to regenerate code after modifying this file'
        applicationStatus:
          type: array
          items:
            $ref: '#/components/schemas/applicationsApplicationSetApplicationStatus'
        resources:
          type: array
          items:
            $ref: '#/components/schemas/applicationsResourceStatus'
          description: Resources is a list of Applications resources managed by this application set.
        resourcesCount:
          type: string
          format: int64
          description: 'ResourcesCount is the total number of resources managed by this application set. The count may be higher than actual number of items in the Resources field when

            the number of managed resources exceeds the limit imposed by the controller (to avoid making the status field too large).'
        health:
          $ref: '#/components/schemas/applicationsHealthStatus'
      title: ApplicationSetStatus defines the observed state of ApplicationSet
    applicationsBasicAuthBitbucketServer:
      type: object
      properties:
        username:
          type: string
          title: Username for Basic auth
        passwordRef:
          $ref: '#/components/schemas/applicationsSecretRef'
      description: BasicAuthBitbucketServer defines the username/(password or personal access token) for Basic auth.
    applicationsApplicationSourceJsonnet:
      type: object
      properties:
        extVars:
          type: array
          items:
            $ref: '#/components/schemas/applicationsJsonnetVar'
          title: ExtVars is a list of Jsonnet External Variables
        tlas:
          type: array
          items:
            $ref: '#/components/schemas/applicationsJsonnetVar'
          title: TLAS is a list of Jsonnet Top-level Arguments
        libs:
          type: array
          items:
            type: string
          title: Additional library search dirs
      title: ApplicationSourceJsonnet holds options specific to applications of type Jsonnet
    applicationsPullRequestGeneratorGithub:
      type: object
      properties:
        owner:
          type: string
          description: GitHub org or user to scan. Required.
        repo:
          type: string
          description: GitHub repo name to scan. Required.
        api:
          type: string
          description: The GitHub API URL to talk to. If blank, use https://api.github.com/.
        tokenRef:
          $ref: '#/components/schemas/applicationsSecretRef'
        appSecretName:
          type: string
          description: AppSecretName is a reference to a GitHub App repo-creds secret with permission to access pull requests.
        labels:
          type: array
          items:
            type: string
          title: Labels is used to filter the PRs that you want to target
      description: PullRequestGeneratorGithub defines connection info specific to GitHub.
    applicationsApplicationSetSpec:
      type: object
      properties:
        goTemplate:
          type: boolean
        generators:
          type: array
          items:
            $ref: '#/components/schemas/applicationsApplicationSetGenerator'
        template:
          $ref: '#/components/schemas/applicationsApplicationSetTemplate'
        syncPolicy:
          $ref: '#/components/schemas/applicationsApplicationSetSyncPolicy'
        strategy:
          $ref: '#/components/schemas/applicationsApplicationSetStrategy'
        preservedFields:
          $ref: '#/components/schemas/applicationsApplicationPreservedFields'
        goTemplateOptions:
          type: array
          items:
            type: string
        applyNestedSelectors:
          type: boolean
          description: 'ApplyNestedSelectors enables selectors defined within the generators of two level-nested matrix or merge generators

            Deprecated: This field is ignored, and the behavior is always enabled. The field will be removed in a future

            version of the ApplicationSet CRD.'
        ignoreApplicationDifferences:
          type: array
          items:
            $ref: '#/components/schemas/applicationsApplicationSetResourceIgnoreDifferences'
        templatePatch:
          type: string
      description: ApplicationSetSpec represents a class of application set state.
    v1JSON:
      type: object
      properties:
        raw:
          type: string
          format: byte
      description: 'JSON represents any valid JSON value.

        These types are supported: bool, int64, float64, string, []interface{}, map[string]interface{} and nil.'
    applicationsApplicationSummary:
      type: object
      properties:
        externalURLs:
          type: array
          items:
            type: string
          description: ExternalURLs holds all external URLs of application child resources.
        images:
          type: array
          items:
            type: string
          description: Images holds all images of application child resources.
      title: ApplicationSummary contains information about URLs and container images used by an application
    applicationsSCMProviderGeneratorBitbucket:
      type: object
      properties:
        owner:
          type: string
          description: Bitbucket workspace to scan. Required.
        user:
          type: string
          title: Bitbucket user to use when authenticating.  Should have a "member" role to be able to read all repositories and branches.  Required
        appPasswordRef:
          $ref: '#/components/schemas/applicationsSecretRef'
        allBranches:
          type: boolean
          description: Scan all branches instead of just the main branch.
      description: SCMProviderGeneratorBitbucket defines connection info specific to Bitbucket Cloud (API version 2).
    applicationsApplicationSet:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/v1ObjectMeta'
        spec:
          $ref: '#/components/schemas/applicationsApplicationSetSpec'
        status:
          $ref: '#/components/schemas/applicationsApplicationSetStatus'
      description: ApplicationSet is a set of Application resources.
    v1FieldsV1:
      type: object
      properties:
        Raw:
          type: string
          format: byte
          description: Raw is the underlying serialization of this object.
      description: 'FieldsV1 stores a set of fields in a data structure like a Trie, in JSON format.


        Each key is either a ''.'' representing the field itself, and will always map to an empty set,

        or a string representing a sub-field or item. The string will follow one of these four formats:

        ''f:<name>'', where <name> is the name of a field in a struct, or key in a map

        ''v:<value>'', where <value> is the exact json formatted value of a list item

        ''i:<index>'', where <index> is position of a item in a list

        ''k:<keys>'', where <keys> is a map of  a list item''s key fields to their unique values

        If a key maps to an empty Fields value, the field that key represents is part of the set.


        The exact format is defined in sigs.k8s.io/structured-merge-diff

        +protobuf.options.(gogoproto.goproto_stringer)=false'
    intstrIntOrString:
      type: object
      properties:
        type:
          type: string
          format: int64
        intVal:
          type: integer
          format: int32
        strVal:
          type: string
      description: '+protobuf=true

        +protobuf.options.(gogoproto.goproto_stringer)=false

        +k8s:openapi-gen=true'
      title: 'IntOrString is a type that can hold an int32 or a string.  When used in

        JSON or YAML marshalling and unmarshalling, it produces or consumes the

        inner type.  This allows you to have, for example, a JSON field that can

        accept a name or number.

        TODO: Rename to Int32OrString'
    applicationsApplicationSourceHelm:
      type: object
      properties:
        valueFiles:
          type: array
          items:
            type: string
          title: ValuesFiles is a list of Helm value files to use when generating a template
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/applicationsHelmParameter'
          title: Parameters is a list of Helm parameters which are passed to the helm template command upon manifest generation
        releaseName:
          type: string
          title: ReleaseName is the Helm release name to use. If omitted it will use the application name
        values:
          type: string
          title: Values specifies Helm values to be passed to helm template, typically defined as a block
        fileParameters:
          type: array
          items:
            $ref: '#/components/schemas/applicationsHelmFileParameter'
          title: FileParameters are file parameters to the helm template
        version:
          type: string
          title: Version is the Helm version to use for templating (either "2" or "3")
        passCredentials:
          type: boolean
          title: PassCredentials pass credentials to all domains (Helm's --pass-credentials)
        ignoreMissingValueFiles:
          type: boolean
          title: IgnoreMissingValueFiles prevents helm template from failing when valueFiles do not exist locally by not appending them to helm template --values
        skipCrds:
          type: boolean
          title: SkipCrds skips custom resource definition installation step (Helm's --skip-crds)
        valuesObject:
          type: object
          title: 'ValuesObject specifies Helm values to be passed to helm template, defined as a map. This takes precedence over Values.

            +kubebuilder:pruning:PreserveUnknownFields'
        namespace:
          type: string
          description: Namespace is an optional namespace to template with. If left empty, defaults to the app's destination namespace.
        kubeVersion:
          type: string
          description: 'KubeVersion specifies the Kubernetes API version to pass to Helm when templating manifests. By default, Argo CD

            uses the Kubernetes version of the target cluster.'
        apiVersions:
          type: array
          items:
            type: string
          description: 'APIVersions specifies the Kubernetes resource API versions to pass to Helm when templating manifests. By default,

            Argo CD uses the API versions of the target cluster. The format is [group/]version/kind.'
        skipTests:
          type: boolean
          description: SkipTests skips test manifest installation step (Helm's --skip-tests).
        skipSchemaValidation:
          type: boolean
          title: SkipSchemaValidation skips JSON schema validation (Helm's --skip-schema-validation)
      title: ApplicationSourceHelm holds helm specific options
    applicationsGitDirectoryGeneratorItem:
      type: object
      properties:
        path:
          type: string
        exclude:
          type: boolean
    applicationsOperationState:
      type: object
      properties:
        operation:
          $ref: '#/components/schemas/applicationsOperation'
        phase:
          type: string
          title: Phase is the current phase of the operation
        message:
          type: string
          description: Message holds any pertinent messages when attempting to perform operation (typically errors).
        syncResult:
          $ref: '#/components/schemas/applicationsSyncOperationResult'
        startedAt:
          $ref: '#/components/schemas/v1Time'
        finishedAt:
          $ref: '#/components/schemas/v1Time'
        retryCount:
          type: string
          format: int64
          title: RetryCount contains time of operation retries
        startedAtTs:
          type: string
          format: date-time
          title: Started at Timestamp
        finishedAtTs:
          type: string
          format: date-time
          title: Finised at Timestamp
      title: OperationState contains information about state of a running operation
    applicationsApplicationSetGenerateRequest:
      type: object
      properties:
        applicationset:
          $ref: '#/components/schemas/applicationsApplicationSet'
        yaml:
          type: string
          format: byte
          title: helper field for keeping string representation of marshalled ApplicationSetq
      title: ApplicationSetGenerateRequest  is a query for applicationset generate resources
    v1SortOrderOptions:
      type: string
      enum:
      - SORT_ORDER_NOT_SET
      - ASC
      - DESC
      default: SORT_ORDER_NOT_SET
    applicationsApplicationSourcePlugin:
      type: object
      properties:
        name:
          type: string
        env:
          type: array
          items:
            $ref: '#/components/schemas/applicationsEnvEntry'
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/applicationsApplicationSourcePluginParameter'
      title: ApplicationSourcePlugin holds options specific to config management plugins
    v1LabelSelectorRequirement:
      type: object
      properties:
        key:
          type: string
          description: key is the label key that the selector applies to.
        operator:
          type: string
          description: 'operator represents a key''s relationship to a set of values.

            Valid operators are In, NotIn, Exists and DoesNotExist.'
        values:
          type: array
          items:
            type: string
          title: 'values is an array of string values. If the operator is In or NotIn,

            the values array must be non-empty. If the operator is Exists or DoesNotExist,

            the values array must be empty. This array is replaced during a strategic

            merge patch.

            +optional

            +listType=atomic'
      description: 'A label selector requirement is a selector that contains values, a key, and an operator that

        relates the key and values.'
    applicationsApplicationSetGenerator:
      type: object
      properties:
        list:
          $ref: '#/components/schemas/applicationsListGenerator'
        clusters:
          $ref: '#/components/schemas/applicationsClusterGenerator'
        git:
          $ref: '#/components/schemas/applicationsGitGenerator'
        scmProvider:
          $ref: '#/components/schemas/applicationsSCMProviderGenerator'
        clusterDecisionResource:
          $ref: '#/components/schemas/applicationsDuckTypeGenerator'
        pullRequest:
          $ref: '#/components/schemas/applicationsPullRequestGenerator'
        matrix:
          $ref: '#/components/schemas/applicationsMatrixGenerator'
        merge:
          $ref: '#/components/schemas/applicationsMergeGenerator'
        selector:
          $ref: '#/components/schemas/v1LabelSelector'
        plugin:
          $ref: '#/components/schemas/applicationsPluginGenerator'
      description: ApplicationSetGenerator represents a generator at the top level of an ApplicationSet.
    applicationsSyncStatus:
      type: object
      properties:
        status:
          type: string
          title: Status is the sync state of the comparison
        comparedTo:
          $ref: '#/components/schemas/applicationsComparedTo'
        revision:
          type: string
          title: Revision contains information about the revision the comparison has been performed to
        revisions:
          type: array
          items:
            type: string
          title: Revisions contains information about the revisions of multiple sources the comparison has been performed to
      title: SyncStatus contains information about the currently observed live and desired states of an application
    applicationsApplicationSourceDirectory:
      type: object
      properties:
        recurse:
          type: boolean
          title: Recurse specifies whether to scan a directory recursively for manifests
        jsonnet:
          $ref: '#/components/schemas/applicationsApplicationSourceJsonnet'
        exclude:
          type: string
          title: Exclude contains a glob pattern to match paths against that should be explicitly excluded from being used during manifest generation
        include:
          type: string
          title: Include contains a glob pattern to match paths against that should be explicitly included during manifest generation
      title: ApplicationSourceDirectory holds options for applications of type plain YAML or Jsonnet
    applicationsPullRequestGeneratorFilter:
      type: object
      properties:
        branchMatch:
          type: string
        targetBranchMatch:
          type: string
        titleMatch:
          type: string
      description: 'PullRequestGeneratorFilter is a single pull request filter.

        If multiple filter types are set on a single struct, they will be AND''d together. All filters must

        pass for a pull request to be included.'
    applicationsKustomizeResId:
      type: object
      properties:
        gvk:
          $ref: '#/components/schemas/applicationsKustomizeGvk'
        name:
          type: string
        namespace:
          type: string
    v1ObjectMeta:
      type: object
      properties:
        name:
          type: string
          title: 'Name must be unique within a namespace. Is required when creating resources, although

            some resources may allow a client to request the generation of an appropriate name

            automatically. Name is primarily intended for creation idempotence and configuration

            definition.

            Cannot be updated.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names

            +optional'
        generateName:
          type: string
          description: 'GenerateName is an optional prefix, used by the server, to generate a unique

            name ONLY IF the Name field has not been provided.

            If this field is used, the name returned to the client will be different

            than the name passed. This value will also be combined with a unique suffix.

            The provided value has the same validation rules as the Name field,

            and may be truncated by the length of the suffix required to make the value

            unique on the server.


            If this field is specified and the generated name exists, the server will return a 409.


            Applied only if Name is not specified.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#idempotency

            +optional'
        namespace:
          type: string
          description: 'Namespace defines the space within which each name must be unique. An empty namespace is

            equivalent to the "default" namespace, but "default" is the canonical representation.

            Not all objects are required to be scoped to a namespace - the value of this field for

            those objects will be empty.


            Must be a DNS_LABEL.

            Cannot be updated.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces

            +optional'
        selfLink:
          type: string
          title: 'Deprecated: selfLink is a legacy read-only field that is no longer populated by the system.

            +optional'
        uid:
          type: string
          description: 'UID is the unique in time and space value for this object. It is typically generated by

            the server on successful creation of a resource and is not allowed to change on PUT

            operations.


            Populated by the system.

            Read-only.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#uids

            +optional'
        resourceVersion:
          type: string
          description: 'An opaque value that represents the internal version of this object that can

            be used by clients to determine when objects have changed. May be used for optimistic

            concurrency, change detection, and the watch operation on a resource or set of resources.

            Clients must treat these values as opaque and passed unmodified back to the server.

            They may only be valid for a particular resource or set of resources.


            Populated by the system.

            Read-only.

            Value must be treated as opaque by clients and .

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency

            +optional'
        generation:
          type: string
          format: int64
          title: 'A sequence number representing a specific generation of the desired state.

            Populated by the system. Read-only.

            +optional'
        creationTimestamp:
          $ref: '#/components/schemas/v1Time'
        deletionTimestamp:
          $ref: '#/components/schemas/v1Time'
        deletionGracePeriodSeconds:
          type: string
          format: int64
          title: 'Number of seconds allowed for this object to gracefully terminate before

            it will be removed from the system. Only set when deletionTimestamp is also set.

            May only be shortened.

            Read-only.

            +optional'
        labels:
          type: object
          additionalProperties:
            type: string
          title: 'Map of string keys and values that can be used to organize and categorize

            (scope and select) objects. May match selectors of replication controllers

            and services.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels

            +optional'
        annotations:
          type: object
          additionalProperties:
            type: string
          title: 'Annotations is an unstructured key value map stored with a resource that may be

            set by external tools to store and retrieve arbitrary metadata. They are not

            queryable and should be preserved when modifying objects.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations

            +optional'
        ownerReferences:
          type: array
          items:
            $ref: '#/components/schemas/v1OwnerReference'
          title: 'List of objects depended by this object. If ALL objects in the list have

            been deleted, this object will be garbage collected. If this object is managed by a controller,

            then an entry in this list will point to this controller, with the controller field set to true.

            There cannot be more than one managing controller.

            +optional

            +patchMergeKey=uid

            +patchStrategy=merge

            +listType=map

            +listMapKey=uid'
        finalizers:
          type: array
          items:
            type: string
          title: 'Must be empty before the object is deleted from the registry. Each entry

            is an identifier for the responsible component that will remove the entry

            from the list. If the deletionTimestamp of the object is non-nil, entries

            in this list can only be removed.

            Finalizers may be processed and removed in any order.  Order is NOT enforced

            because it introduces significant risk of stuck finalizers.

            finalizers is a shared field, any actor with permission can reorder it.

            If the finalizer list is processed in order, then this can lead to a situation

            in which the component responsible for the first finalizer in the list is

            waiting for a signal (field value, external system, or other) produced by a

            component responsible for a finalizer later in the list, resulting in a deadlock.

            Without enforced ordering finalizers are free to order amongst themselves and

            are not vulnerable to ordering changes in the list.

            +optional

            +patchStrategy=merge

            +listType=set'
        managedFields:
          type: array
          items:
            $ref: '#/components/schemas/v1ManagedFieldsEntry'
          description: 'ManagedFields maps workflow-id and version to the set of fields

            that are managed by that workflow. This is mostly for internal

            housekeeping, and users typically shouldn''t need to set or

            understand this field. A workflow can be the user''s name, a

            controller''s name, or the name of a specific apply path like

            "ci-cd". The set of fields is always in the version that the

            workflow used when modifying the object.


            +optional

            +listType=atomic'
      description: 'ObjectMeta is metadata that all persisted resources must have, which includes all objects

        users must create.'
    applicationsOperation:
      type: object
      properties:
        sync:
          $ref: '#/components/schemas/applicationsSyncOperation'
        initiatedBy:
          $ref: '#/components/schemas/applicationsOperationInitiator'
        info:
          type: array
          items:
            $ref: '#/components/schemas/applicationsInfo'
          title: Info is a list of informational items for this operation
        retry:
          $ref: '#/components/schemas/applicationsRetryStrategy'
      title: Operation contains information about a requested or running operation
    applicationsOptionalMap:
      type: object
      properties:
        map:
          type: object
          additionalProperties:
            type: string
          title: 'Map is the value of a map type parameter.

            +optional'
    applicationsResourceRef:
      type: object
      properties:
        group:
          type: string
        version:
          type: string
        kind:
          type: string
        namespace:
          type: string
        name:
          type: string
        uid:
          type: string
      title: ResourceRef includes fields which uniquely identify a resource
    protobufAny:
      type: object
      properties:
        type_url:
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        value:
          type: string
          format: byte
          description: Must be a valid serialized protocol buffer of the above specified type.
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    applicationsPullRequestGeneratorBitbucketServer:
      type: object
      properties:
        project:
          type: string
          description: Project to scan. Required.
        repo:
          type: string
          description: Repo name to scan. Required.
        api:
          type: string
          description: The Bitbucket REST API URL to talk to e.g. https://bitbucket.org/rest Required.
        basicAuth:
          $ref: '#/components/schemas/applicationsBasicAuthBitbucketServer'
        bearerToken:
          $ref: '#/components/schemas/applicationsBearerTokenBitbucket'
        insecure:
          type: boolean
          title: 'Allow self-signed TLS / Certificates; default: false'
        caRef:
          $ref: '#/components/schemas/applicationsConfigMapKeyRef'
      description: PullRequestGeneratorBitbucketServer defines connection info specific to BitbucketServer.
    applicationsApplicationSetResourceIgnoreDifferences:
      type: object
      properties:
        name:
          type: string
          description: Name is the name of the application to ignore differences for. If not specified, the rule applies to all applications.
        jsonPointers:
          type: array
          items:
            type: string
          description: JSONPointers is a list of JSON pointers to fields to ignore differences for.
        jqPathExpressions:
          type: array
          items:
            type: string
          description: JQPathExpressions is a list of JQ path expressions to fields to ignore differences for.
      description: 'ApplicationSetResourceIgnoreDifferences configures how the ApplicationSet controller will ignore differences in live

        applications when applying changes from generated applications.'
    applicationsDuckTypeGenerator:
      type: object
      properties:
        configMapRef:
          type: string
          title: "ConfigMapRef is a ConfigMap with the duck type definitions needed to retrieve the data\n             this includes apiVersion(group/version), kind, matchKey and validation settings\nName is the resource name of the kind, group and version, defined in the ConfigMapRef\nRequeueAfterSeconds is how long before the duckType will be rechecked for a change"
        name:
          type: string
        requeueAfterSeconds:
          type: string
          format: int64
        labelSelector:
          $ref: '#/components/schemas/v1LabelSelector'
        template:
          $ref: '#/components/schemas/applicationsApplicationSetTemplate'
        values:
          type: object
          additionalProperties:
            type: string
          title: Values contains key/value pairs which are passed directly as parameters to the template
      description: DuckType defines a generator to match against clusters registered with ArgoCD.
    v1LabelSelector:
      type: object
      properties:
        matchLabels:
          type: object
          additionalProperties:
            type: string
          title: 'matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels

            map is equivalent to an element of matchExpressions, whose key field is "key", the

            operator is "In", and the values array contains only "value". The requirements are ANDed.

            +optional'
        matchExpressions:
          type: array
          items:
            $ref: '#/components/schemas/v1LabelSelectorRequirement'
          title: 'matchExpressions is a list of label selector requirements. The requirements are ANDed.

            +optional

            +listType=atomic'
      title: 'A label selector is a label query over a set of resources. The result of matchLabels and

        matchExpressions are ANDed. An empty label selector matches all objects. A null

        label selector matches no objects.

        +structType=atomic'
    applicationsPullRequestGeneratorAzureDevOps:
      type: object
      properties:
        organization:
          type: string
          description: Azure DevOps org to scan. Required.
        project:
          type: string
          description: Azure DevOps project name to scan. Required.
        repo:
          type: string
          description: Azure DevOps repo name to scan. Required.
        api:
          type: string
          description: The Azure DevOps API URL to talk to. If blank, use https://dev.azure.com/.
        tokenRef:
          $ref: '#/components/schemas/applicationsSecretRef'
        labels:
          type: array
          items:
            type: string
          title: Labels is used to filter the PRs that you want to target
      description: PullRequestGeneratorAzureDevOps defines connection info specific to AzureDevOps.
    applicationsPluginGenerator:
      type: object
      properties:
        configMapRef:
          $ref: '#/components/schemas/applicationsPluginConfigMapRef'
        input:
          $ref: '#/components/schemas/applicationsPluginInput'
        requeueAfterSeconds:
          type: string
          format: int64
          description: RequeueAfterSeconds determines how long the ApplicationSet controller will wait before reconciling the ApplicationSet again.
        template:
          $ref: '#/components/schemas/applicationsApplicationSetTemplate'
        values:
          type: object
          additionalProperties:
            type: string
          description: 'Values contains key/value pairs which are passed directly as parameters to the template. These values will not be

            sent as parameters to the plugin.'
      description: PluginGenerator defines connection info specific to Plugin.
    applicationsSCMProviderGeneratorAzureDevOps:
      type: object
      properties:
        organization:
          type: string
          description: Azure Devops organization. Required. E.g. "my-organization".
        api:
          type: string
          description: The URL to Azure DevOps. If blank, use https://dev.azure.com.
        teamProject:
          type: string
          description: Azure Devops team project. Required. E.g. "my-team".
        accessTokenRef:
          $ref: '#/components/schemas/applicationsSecretRef'
        allBranches:
          type: boolean
          description: Scan all branches instead of just the default branch.
      description: SCMProviderGeneratorAzureDevOps defines connection info specific to Azure DevOps.
    applicationsApplicationSetTemplateMeta:
      type: object
      properties:
        name:
          type: string
        namespace:
          type: string
        labels:
          type: object
          additionalProperties:
            type: string
        annotations:
          type: object
          additionalProperties:
            type: string
        finalizers:
          type: array
          items:
            type: string
      title: 'ApplicationSetTemplateMeta represents the Argo CD application fields that may

        be used for Applications generated from the ApplicationSet (based on metav1.ObjectMeta)'
    applicationsOperationInitiator:
      type: object
      properties:
        username:
          type: string
          title: Username contains the name of a user who started operation
        automated:
          type: boolean
          description: Automated is set to true if operation was initiated automatically by the application controller.
      title: OperationInitiator contains information about the initiator of an operation
    applicationsApplicationSetApplicationStatus:
      type: object
      properties:
        application:
          type: string
          title: Application contains the name of the Application resource
        lastTransitionTime:
          $ref: '#/components/schemas/v1Time'
        message:
          type: string
          title: Message contains human-readable message indicating details about the status
        status:
          type: string
          title: Status contains the AppSet's perceived status of the managed Application resource
        step:
          type: string
          title: Step tracks which step this Application should be updated in
        targetrevisions:
          type: array
          items:
            type: string
          description: TargetRevision tracks the desired revisions the Application should be synced to.
      title: ApplicationSetApplicationStatus contains details about each Application managed by the ApplicationSet
    applicationsKustomizeGvk:
      type: object
      properties:
        group:
          type: string
        version:
          type: string
        kind:
          type: string
    applicationsHelmFileParameter:
      type: object
      properties:
        name:
          type: string
          title: Name is the name of the Helm parameter
        path:
          type: string
          title: Path is the path to the file containing the values for the Helm parameter
      title: HelmFileParameter is a file parameter that's passed to helm template during manifest generation
    applicationsApplicationSetGenerateResponse:
      type: object
      properties:
        applications:
          type: array
          items:
            $ref: '#/components/schemas/applicationsApplication'
      title: ApplicationSetGenerateResponse is a response for applicationset generate request
    applicationsJsonnetVar:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
        code:
          type: boolean
      title: JsonnetVar represents a variable to be passed to jsonnet during manifest generation
    applicationsConfigMapKeyRef:
      type: object
      properties:
        configMapName:
          type: string
        key:
          type: string
      description: ConfigMapKeyRef struct for a reference to a configmap key.
    applicationsApplicationSource:
      type: object
      properties:
        repoURL:
          type: string
          title: RepoURL is the URL to the repository (Git or Helm) that contains the application manifests
        path:
          type: string
          description: Path is a directory path within the Git repository, and is only valid for applications sourced from Git.
        targetRevision:
          type: string
          description: 'TargetRevision defines the revision of the source to sync the application to.

            In case of Git, this can be commit, tag, or branch. If omitted, will equal to HEAD.

            In case of Helm, this is a semver tag for the Chart''s version.'
        helm:
          $ref: '#/components/schemas/applicationsApplicationSourceHelm'
        kustomize:
          $ref: '#/components/schemas/applicationsApplicationSourceKustomize'
        ksonnet:
          $ref: '#/components/schemas/applicationsApplicationSourceKsonnet'
        directory:
          $ref: '#/components/schemas/applicationsApplicationSourceDirectory'
        plugin:
          $ref: '#/components/schemas/applicationsApplicationSourcePlugin'
        chart:
          type: string
          description: Chart is a Helm chart name, and must be specified for applications sourced from a Helm repo.
        ref:
          type: string
          description: Ref is reference to another source within sources field. This field will not be used if used with a `source` tag.
        name:
          type: string
          description: Name is used to refer to a source and is displayed in the UI. It is used in multi-source Applications.
      title: ApplicationSource contains all information about the source of an application
    applicationsManagedNamespaceMetadata:
      type: object
      properties:
        labels:
          type: object
          additionalProperties:
            type: string
        annotations:
          type: object
          additionalProperties:
            type: string
    applicationsSyncSource:
      type: object
      properties:
        targetBranch:
          type: string
          description: 'TargetBranch is the branch from which hydrated manifests will be synced.

            If HydrateTo is not set, this is also the branch to which hydrated manifests are committed.'
        path:
          type: string
          description: 'Path is a directory path within the git repository where hydrated manifests should be committed to and synced

            from. The Path should never point to the root of the repo. If hydrateTo is set, this is just the path from which

            hydrated manifests will be synced.


            +kubebuilder:validation:Required

            +kubebuilder:validation:MinLength=1

            +kubebuilder:validation:Pattern=`^.{2,}|[^./]$`'
      description: 'SyncSource specifies a location from which hydrated manifests may be synced. RepoURL is assumed based on the

        associated DrySource config in the SourceHydrator.'
    applicationsInfoItem:
      type: object
      properties:
        name:
          type: string
          description: Name is a human readable title for this piece of information.
        value:
          type: string
          description: Value is human readable content.
      title: InfoItem contains arbitrary, human readable information about an application
    applicationsSourceHydratorStatus:
      type: object
      properties:
        lastSuccessfulOperation:
          $ref: '#/components/schemas/applicationsSuccessfulHydrateOperation'
        currentOperation:
          $ref: '#/components/schemas/applicationsHydrateOperation'
      title: SourceHydratorStatus contains information about the current state of source hydration
    applicationsDrySource:
      type: object
      properties:
        repoURL:
          type: string
          title: RepoURL is the URL to the git repository that contains the application manifests
        targetRevision:
          type: string
          title: TargetRevision defines the revision of the source to hydrate
        path:
          type: string
          title: Path is a directory path within the Git repository where the manifests are located
        helm:
          $ref: '#/components/schemas/applicationsApplicationSourceHelm'
        kustomize:
          $ref: '#/components/schemas/applicationsApplicationSourceKustomize'
        directory:
          $ref: '#/components/schemas/applicationsApplicationSourceDirectory'
        plugin:
          $ref: '#/components/schemas/applicationsApplicationSourcePlugin'
      description: DrySource specifies a location for dry "don't repeat yourself" manifest source information.
    applicationsApplicationPreservedFields:
      type: object
      properties:
        annotations:
          type: array
          items:
            type: string
        labels:
          type: array
          items:
            type: string
    applicationsPullRequestGeneratorGitLab:
      type: object
      properties:
        project:
          type: string
          description: GitLab project to scan. Required.
        api:
          type: string
          description: The GitLab API URL to talk to. If blank, uses https://gitlab.com/.
        tokenRef:
          $ref: '#/components/schemas/applicationsSecretRef'
        labels:
          type: array
          items:
            type: string
          title: Labels is used to filter the MRs that you want to target
        pullRequestState:
          type: string
          description: 'PullRequestState is an additional MRs filter to get only those with a certain state. Default: "" (all states).

            Valid values: opened, closed, merged, locked".'
        insecure:
          type: boolean
          title: 'Skips validating the SCM provider''s TLS certificate - useful for self-signed certificates.; default: false'
        caRef:
          $ref: '#/components/schemas/applicationsConfigMapKeyRef'
      description: PullRequestGeneratorGitLab defines connection info specific to GitLab.
    applicationsApplication:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/v1ObjectMeta'
        spec:
          $ref: '#/components/schemas/applicationsApplicationSpec'
        status:
          $ref: '#/components/schemas/applicationsApplicationStatus'
        operation:
          $ref: '#/components/schemas/applicationsOperation'
        creationTimestampTs:
          type: string
          format: date-time
          title: Protobuf-safe copy of ObjectMeta.CreationTimestamp (v1.Time doesn't survive gRPC serialization)
    applicationsSCMProviderGeneratorFilter:
      type: object
      properties:
        repositoryMatch:
          type: string
          description: A regex for repo names.
        pathsExist:
          type: array
          items:
            type: string
          description: An array of paths, all of which must exist.
        pathsDoNotExist:
          type: array
          items:
            type: string
          description: An array of paths, all of which must not exist.
        labelMatch:
          type: string
          description: A regex which must match at least one label.
        branchMatch:
          type: string
          description: A regex which must match the branch name.
      description: 'SCMProviderGeneratorFilter is a single repository filter.

        If multiple filter types are set on a single struct, they will be AND''d together. All filters must

        pass for a repo to be included.'
    applicationsPullRequestGeneratorBitbucket:
      type: object
      properties:
        owner:
          type: string
          description: Workspace to scan. Required.
        repo:
          type: string
          description: Repo name to scan. Required.
        api:
          type: string
          description: The Bitbucket REST API URL to talk to. If blank, uses https://api.bitbucket.org/2.0.
        basicAuth:
          $ref: '#/components/schemas/applicationsBasicAuthBitbucketServer'
        bearerToken:
          $ref: '#/components/schemas/applicationsBearerTokenBitbucketCloud'
      description: PullRequestGeneratorBitbucket defines connection info specific to Bitbucket.
    applicationsResourceStatus:
      type: object
      properties:
        group:
          type: string
          description: Group represents the API group of the resource (e.g., "apps" for Deployments).
        version:
          type: string
          description: Version indicates the API version of the resource (e.g., "v1", "v1beta1").
        kind:
          type: string
          description: Kind specifies the type of the resource (e.g., "Deployment", "Service").
        namespace:
          type: string
          description: Namespace defines the Kubernetes namespace where the resource is located.
        name:
          type: string
          description: Name is the unique name of the resource within the namespace.
        status:
          type: string
          description: Status represents the synchronization state of the resource (e.g., Synced, OutOfSync).
        health:
          $ref: '#/components/schemas/applicationsHealthStatus'
        hook:
          type: boolean
          description: Hook is true if the resource is used as a lifecycle hook in an Argo CD application.
        requiresPruning:
          type: boolean
          description: RequiresPruning is true if the resource needs to be pruned (deleted) as part of synchronization.
        syncWave:
          type: string
          format: int64
          description: 'SyncWave determines the order in which resources are applied during a sync operation.

            Lower values are applied first.'
        requiresDeletionConfirmation:
          type: boolean
          description: RequiresDeletionConfirmation is true if the resource requires explicit user confirmation before deletion.
      description: ResourceStatus holds the current synchronization and health status of a Kubernetes resource.
    applicationsApplicationSpec:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/applicationsApplicationSource'
        destination:
          $ref: '#/components/schemas/applicationsApplicationDestination'
        project:
          type: string
          description: 'Project is a reference to the project this application belongs to.

            The empty string means that application belongs to the ''default'' project.'
        syncPolicy:
          $ref: '#/components/schemas/applicationsSyncPolicy'
        ignoreDifferences:
          type: array
          items:
            $ref: '#/components/schemas/applicationsResourceIgnoreDifferences'
          title: IgnoreDifferences is a list of resources and their fields which should be ignored during comparison
        info:
          type: array
          items:
            $ref: '#/components/schemas/applicationsInfo'
          title: Info contains a list of information (URLs, email addresses, and plain text) that relates to the application
        revisionHistoryLimit:
          type: string
          format: int64
          description: 'RevisionHistoryLimit limits the number of items kept in the application''s revision history, which is used for informational purposes as well as for rollbacks to previous versions.

            This should only be changed in exceptional circumstances.

            Setting to zero will store no history. This will reduce storage used.

            Increasing will increase the space used to store the history, so we do not recommend increasing it.

            Default is 10.'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/applicationsApplicationSource'
          title: Sources is a reference to the location of the application's manifests or chart
        sourceHydrator:
          $ref: '#/components/schemas/applicationsSourceHydrator'
      description: ApplicationSpec represents desired application state. Contains link to repository with application definition and additional parameters link definition revision.
    applicationsOptionalArray:
      type: object
      properties:
        array:
          type: array
          items:
            type: string
          title: 'Array is the value of an array type parameter.

            +optional'
    applicationsRevisionHistory:
      type: object
      properties:
        revision:
          type: string
          title: Revision holds the revision the sync was performed against
        deployedAt:
          $ref: '#/components/schemas/v1Time'
        id:
          type: string
          format: int64
          title: ID is an auto incrementing identifier of the RevisionHistory
        source:
          $ref: '#/components/schemas/applicationsApplicationSource'
        deployStartedAt:
          $ref: '#/components/schemas/v1Time'
        deployedAtTs:
          type: string
          format: date-time
        deployStartedAtTs:
          type: string
          format: date-time
        sources:
          type: array
          items:
            $ref: '#/components/schemas/applicationsApplicationSource'
          title: Sources is a reference to the application sources used for the sync operation
        revisions:
          type: array
          items:
            type: string
          title: Revisions holds the revision of each source in sources field the sync was performed against
        initiatedBy:
          $ref: '#/components/schemas/applicationsOperationInitiator'
      title: RevisionHistory contains history information about a previous sync
    applicationsSyncStrategyHook:
      type: object
      properties:
        force:
          type: boolean
          title: 'Embed SyncStrategyApply type to inherit any `apply` options

            +'
      description: 'SyncStrategyHook will perform a sync using hooks annotations.

        If no hook annotation is specified falls back to `kubectl apply`.'
    applicationsSyncStrategyApply:
      type: object
      properties:
        force:
          type: boolean
          description: 'Force indicates whether or not to supply the --force flag to `kubectl apply`.

            The --force flag deletes and re-create the resource, when PATCH encounters conflict and has

            retried for 5 times.'
      title: SyncStrategyApply uses `kubectl apply` to perform the apply
    applicationsSyncPolicyAutomated:
      type: object
      properties:
        prune:
          type: boolean
          title: 'Prune specifies whether to delete resources from the cluster that are not found in the sources anymore as part of automated sync (default: false)'
        selfHeal:
          type: boolean
          title: 'SelfHeal specifes whether to revert resources back to their desired state upon modification in the cluster (default: false)'
        allowEmpty:
          type: boolean
          title: 'AllowEmpty allows apps have zero live resources (default: false)'
        enabled:
          type: boolean
          title: Enable allows apps to explicitly control automated sync
      title: SyncPolicyAutomated controls the behavior of an automated sync
    v1ApplicationSetQuery:
      type: object
      properties:
        accountIdentifier:
          type: string
          description: Account Identifier for the Entity.
        orgIdentifier:
          type: string
          description: Organization Identifier for the Entity.
        projectIdentifier:
          type: string
          description: Project Identifier for the Entity.
        agentIdentifier:
          type: string
          description: Agent identifier for entity.
        searchTerm:
          type: string
        pageSize:
          type: integer
          format: int32
        pageIndex:
          type: integer
          format: int32
        filter:
          type: object
          description: 'Filters for ApplicationSet. Eg. "app.status.sync.status": "Synced" or "app.status.sync.status": { "$in": ["Synced", "NotSynced"]'
        sortBy:
          $ref: '#/components/schemas/ApplicationSetQueryApplicationSetSortByOptions'
        sortOrder:
          $ref: '#/components/schemas/v1SortOrderOptions'
        metadataOnly:
          type: boolean
        fields:
          type: array
          items:
            type: string
    v1ApplicationSetGeneratorList:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/applicationsApplicationSetGenerator'
    applicationsEnvEntry:
      type: object
      properties:
        name:
          type: string
          title: Name is the name of the variable, usually expressed in uppercase
        value:
          type: string
          title: Value is the value of the variable
      title: EnvEntry represents an entry in the application's environment
    applicationsApplicationSourceKsonnet:
      type: object
      properties:
        environment:
          type: string
          title: Environment is a ksonnet application environment name
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/applicationsKsonnetParameter'
          title: Parameters are a list of ksonnet component parameter override values
      title: ApplicationSourceKsonnet holds ksonnet specific options
    applicationsSCMProviderGeneratorGitea:
      type: object
      properties:
        owner:
          type: string
          description: Gitea organization or user to scan. Required.
        api:
          type: string
          description: The Gitea URL to talk to. For example https://gitea.mydomain.com/.
        tokenRef:
          $ref: '#/components/schemas/applicationsSecretRef'
        allBranches:
          type: boolean
          description: Scan all branches instead of just the default branch.
        insecure:
          type: boolean
          title: 'Allow self-signed TLS / Certificates; default: false'
      description: SCMProviderGeneratorGitea defines a connection info specific to Gitea.
    applicationsApplicationSetTree:
      type: object
      properties:
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/applicationsResourceNode'
          title: Nodes contains list of nodes which are directly managed by the applicationset
      title: 'ApplicationSetTree holds nodes which belongs to the application

        Used to build a tree of an ApplicationSet and its children'
    applicationsApplicationSourceKustomize:
      type: object
      properties:
        namePrefix:
          type: string
          title: NamePrefix overrides the namePrefix in the kustomization.yaml for Kustomize apps
        nameSuffix:
          type: string
          title: NameSuffix overrides the nameSuffix in the kustomization.yaml for Kustomize apps
        images:
          type: array
          items:
            type: string
          title: Images is a list of Kustomize image override specifications
        commonLabels:
          type: object
          additionalProperties:
            type: string
          title: CommonLabels is a list of additional labels to add to rendered manifests
        version:
          type: string
          title: Version controls which version of Kustomize to use for rendering manifests
        commonAnnotations:
          type: object
          additionalProperties:
            type: string
          title: CommonAnnotations is a list of additional annotations to add to rendered manifests
        forceCommonLabels:
          type: boolean
          title: ForceCommonLabels specifies whether to force applying common labels to resources for Kustomize apps
        forceCommonAnnotations:
          type: boolean
          title: ForceCommonAnnotations specifies whether to force applying common annotations to resources for Kustomize apps
        namespace:
          type: string
          title: Namespace sets the namespace that Kustomize adds to all resources
        commonAnnotationsEnvsubst:
          type: boolean
          title: CommonAnnotationsEnvsubst specifies whether to apply env variables substitution for annotation values
        replicas:
          type: array
          items:
            $ref: '#/components/schemas/applicationsKustomizeReplicas'
          title: Replicas is a list of Kustomize Replicas override specifications
        patches:
          type: array
          items:
            $ref: '#/components/schemas/applicationsKustomizePatch'
          title: Patches is a list of Kustomize patches
        components:
          type: array
          items:
            type: string
          title: Components specifies a list of kustomize components to add to the kustomization before building
        labelWithoutSelector:
          type: boolean
          title: LabelWithoutSelector specifies whether to apply common labels to resource selectors or not
        kubeVersion:
          type: string
          description: 'KubeVersion specifies the Kubernetes API version to pass to Helm when templating manifests. By default, Argo CD

            uses the Kubernetes version of the target cluster.'
        apiVersions:
          type: array
          items:
            type: string
          description: 'APIVersions specifies the Kubernetes resource API versions to pass to Helm when templating manifests. By default,

            Argo CD uses the API versions of the target cluster. The format is [group/]version/kind.'
        ignoreMissingComponents:
          type: boolean
          title: IgnoreMissingComponents prevents kustomize from failing when components do not exist locally by not appending them to kustomization file
        labelIncludeTemplates:
          type: boolean
          title: LabelIncludeTemplates specifies whether to apply common labels to resource templates or not
      title: ApplicationSourceKustomize holds options specific to an Application source specific to Kustomize
    applicationsMatrixGenerator:
      type: object
      properties:
        generators:
          type: array
          items:
            $ref: '#/components/schemas/applicationsApplicationSetNestedGenerator'
        template:
          $ref: '#/components/schemas/applicationsApplicationSetTemplate'
      description: 'MatrixGenerator generates the cartesian product of two sets of parameters. The parameters are defined by two nested

        generators.'
    gatewayruntimeError:
      type: object
      properties:
        error:
          type: string
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    applicationsListGenerator:
[...]
