openapi: 3.2.0
info:
  title: Harness Config For Project API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: ConfigForProject
paths:
  /gateway/ssca-manager/v1/org/{org}/project/{project}/ssca-config/{config-id}:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - schema:
        type: string
      name: config-id
      in: path
      required: true
      description: Config ID
    get:
      summary: Get Config By ID
      responses:
        '200':
          $ref: '#/components/responses/ConfigResponseBody'
        '400':
          description: Bad Request
        '404':
          description: Not Found
      operationId: getConfigById
      x-stoplight:
        id: 91ruzzd1vqr6e
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      tags:
      - ConfigForProject
    put:
      summary: Update Config By ID
      operationId: updateConfigById
      responses:
        '200':
          $ref: '#/components/responses/SaveResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: 12tag1uia7n1b
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      requestBody:
        $ref: '#/components/requestBodies/ConfigRequestBody'
      tags:
      - ConfigForProject
components:
  schemas:
    ConfigRequestBody:
      title: Config
      x-stoplight:
        id: 9jg78indgdmi8
      type: object
      properties:
        account_id:
          type: string
          x-stoplight:
            id: 8g8nrhuvd0sit
        org_id:
          type: string
          x-stoplight:
            id: 3g6unusnh57bp
        project_id:
          type: string
          x-stoplight:
            id: i75mm1aqjwpda
        user_id:
          type: string
          x-stoplight:
            id: p0oajkc2imyb3
        config_id:
          type: string
          x-stoplight:
            id: fsbft09616skw
        name:
          type: string
          x-stoplight:
            id: w8htw3ebyxow7
        type:
          type: string
          x-stoplight:
            id: 9wrk1dsfu645g
        creation_on:
          type: string
          x-stoplight:
            id: zvxx5fp6ltmfb
        config_info:
          x-stoplight:
            id: h6e2jds5jahst
          type: array
          items:
            $ref: '#/components/schemas/ConfigInfo'
    ConfigInfo:
      title: ConfigInfo
      x-stoplight:
        id: 580wu9wrkgt0r
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: ygal56c1ulaoo
        name:
          type: string
          x-stoplight:
            id: 3kxzpnr61yx3x
        config:
          type: array
          x-stoplight:
            id: hfoistv7iy703
          items:
            x-stoplight:
              id: 4wwrulu2igigz
            type: object
            properties:
              key:
                type: string
                x-stoplight:
                  id: 1938pk1gbxhge
              value:
                type: string
                x-stoplight:
                  id: 2pmir0wexum5b
    ConfigResponseBody:
      title: ConfigResponse
      x-stoplight:
        id: 5gjep7i88xomz
      type: object
      properties:
        account_id:
          type: string
          x-stoplight:
            id: 1hpj7auq2gdi7
        org_id:
          type: string
          x-stoplight:
            id: x6u5udext36h7
        project_id:
          type: string
          x-stoplight:
            id: rcekofy1jhk9b
        user_id:
          type: string
          x-stoplight:
            id: fjnu07i1cknvp
        config_id:
          type: string
          x-stoplight:
            id: 0k3r8wahjh3ig
        name:
          type: string
          x-stoplight:
            id: m501ugdvusexa
        type:
          type: string
          x-stoplight:
            id: blybei9t1z6n7
        creation_on:
          type: string
          x-stoplight:
            id: 9kfsoepf16mvj
        config_info:
          type: array
          x-stoplight:
            id: ku34eojwp5k91
          items:
            $ref: '#/components/schemas/ConfigInfo'
    SaveResponse:
      title: SaveResponse
      x-stoplight:
        id: uqzrp59icfge8
      type: object
      description: 'response for Save/Update operations '
      properties:
        status:
          type: string
          x-stoplight:
            id: 0kwqjkjtppozz
        response:
          $ref: '#/components/schemas/PluginResponseBody'
    PluginResponseBody:
      title: PluginResponseBody
      type: object
      required:
      - source_id
      - artifact
      - response_url
      properties:
        source_id:
          type: string
          x-stoplight:
            id: itkxv1ghux6aa
        artifact:
          type: object
          x-stoplight:
            id: ysaq85xiuzjsw
          properties:
            id:
              type: string
              x-stoplight:
                id: sgyd78hu7w5gl
            name:
              type: string
              x-stoplight:
                id: khrj2i162jh3x
            url:
              type: string
              x-stoplight:
                id: zgc35mjt90crt
        response_url:
          type: string
          x-stoplight:
            id: uadidz06nvmyn
  requestBodies:
    ConfigRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConfigRequestBody'
  parameters:
    ProjectParam1:
      in: path
      required: true
      schema:
        type: string
      description: Harness project ID
      name: project
    AccountHeader6:
      name: Harness-Account
      in: header
      required: true
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
    OrgParam1:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Harness organization ID
  responses:
    SaveResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SaveResponse'
    ConfigResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConfigResponseBody'
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
