openapi: 3.2.0
info:
  title: Harness Analyze Organization Access Policy API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Analyze Organization Access Policy
paths:
  /v1/orgs/{org}/analyze-access-policies:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    post:
      summary: Analyze access policies within a organization
      operationId: analyze-org-access-policies
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      - $ref: '#/components/parameters/PageIndex'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Order'
      requestBody:
        $ref: '#/components/requestBodies/AccessPolicyAnalysisRequest'
      responses:
        '200':
          $ref: '#/components/responses/AccessPolicyAnalysisResponse'
      security:
      - x-api-key: []
      x-internal: false
      tags:
      - Analyze Organization Access Policy
components:
  schemas:
    Resource:
      title: Resource
      x-stoplight:
        id: t79jjwaf9icna
      type: object
      description: Request to analyze access policies based on Resource details. Resource scope can be provided from query scope or its child scope
      x-internal: false
      properties:
        identifier:
          type: string
          description: Identifier of resource in given scope
        type:
          type: string
          description: Type of resource in a given scope
        attribute:
          type: object
          additionalProperties:
            type: string
          description: Resource attribute such as "type" in case of Environment or Connector
        scope:
          $ref: '#/components/schemas/Scope'
    Principal:
      title: Principal
      type: object
      description: Role assignment principal
      properties:
        scope_level:
          type: string
          description: Principal scope level
        identifier:
          type: string
          description: Principal identifier
        type:
          type: string
          enum:
          - USER
          - USER_GROUP
          - SERVICE_ACCOUNT
          description: Principal type
      required:
      - identifier
      - type
    AccessPolicyAnalysisResponseWrapper:
      title: AccessPolicyAnalysisResponseWrapper
      x-stoplight:
        id: avjt5ezdvhxfb
      type: object
      description: This is the view of output for policy analyzer query.
      x-internal: false
      properties:
        access_policy_analysis_response:
          type: array
          items:
            $ref: '#/components/schemas/AccessPolicyAnalysisResponse'
    RoleRequest:
      title: RoleRequest
      x-stoplight:
        id: c3e929c83d0fd
      type: object
      x-internal: false
      description: Request to analyze policies based on Role details
      properties:
        identifier:
          type: string
          description: Role identifier
        scope_level:
          type: string
          description: 'Scope level at which role is defined. This can be from query scope level or parent scope level. '
    Scope:
      title: Scope
      x-stoplight:
        id: 5ozno3ho0k6r7
      type: object
      description: Scope of the Resource
      properties:
        account:
          type: string
          description: Account Identifier
        org:
          type: string
          description: Org Identifier
        project:
          type: string
          description: Project Identifier
      required:
      - account
    AccessPolicyAnalysisRequest:
      title: AccessPolicyAnalysisRequest
      x-stoplight:
        id: e3t22fn76ryz7
      type: object
      x-internal: false
      description: Input that accepts parameters based on which access policies will be queried within a given scope.
      x-tags:
      - AccessPolicy
      properties:
        query_scope:
          $ref: '#/components/schemas/QueryScopeRequest'
        principal:
          $ref: '#/components/schemas/Principal'
        permission_identifier:
          type: string
          description: Permission identifier for which access policies need to be analysed.
        resource_group_identifier:
          type: string
          description: Resource group identifiert for which access policies need to be analysed.
        role:
          $ref: '#/components/schemas/RoleRequest'
        resource:
          $ref: '#/components/schemas/Resource'
        advance_options:
          $ref: '#/components/schemas/AccessAnalysisAdvanceOptions'
    RoleAssignmentMetaData:
      title: RoleAssignmentMetaData
      x-stoplight:
        id: 9cdu46qqlkjov
      type: object
      x-internal: false
      properties:
        scope:
          $ref: '#/components/schemas/Scope'
        role_assignment_id:
          type: string
          description: Role assignment Identifier
        principal:
          $ref: '#/components/schemas/PrincipalResponse'
      required:
      - scope
      - role_assignment_id
      description: This contains Role Assignment details and to which Principal this Role Assignment is assigned.
    QueryScopeRequest:
      title: QueryScopeRequest
      x-stoplight:
        id: 66hcxma97s02d
      type: object
      description: This includes details about the scope for which policies should be analysed
      x-internal: false
      properties:
        filter:
          type: string
          enum:
          - INCLUDING_CHILD_SCOPE
          - EXCLUDING_CHILD_SCOPE
          default: EXCLUDING_CHILD_SCOPE
          description: Filter provide a way of either selecting ONLY specified scope or also include its child scopes.
        scope:
          $ref: '#/components/schemas/Scope'
        include_access_policies_from_parent_scope:
          type: boolean
          default: false
    ResourceGroupResponse:
      type: object
      x-examples:
        Example 1:
          identifier: string
          name: string
      x-internal: false
      title: ResourceGroupResponse
      description: Resource Group details which is assigned along with role to provide access on resources.
      properties:
        identifier:
          type: string
          description: Resource group identifier
        name:
          type: string
          description: Resource group name
    AccessAnalysisAdvanceOptions:
      title: AccessAnalysisAdvanceOptions
      x-stoplight:
        id: xlq5y89mztz6k
      type: object
      description: Advance Options to control the output of a given query
      x-internal: false
      properties:
        expand_role:
          type: boolean
          description: True, if response should list all permissions inside role.
          default: false
        expand_resource_group:
          type: boolean
          description: True, if response should list all resources inside a resource group.
          default: false
        expand_user_group:
          type: boolean
          description: True, if response should list all users inside a user group.
          default: false
    PrincipalResponse:
      title: PrincipalResponse
      x-stoplight:
        id: 673d44eaneumv
      type: object
      description: Principal for which role assignment is created
      x-internal: false
      properties:
        identifier:
          type: string
          description: Principal Identifier
        name:
          type: string
          description: Principal Name
        type:
          type: string
          description: Principal type
        scope_level:
          type: string
          description: Scope of Principal
      required:
      - identifier
      - type
    AccessPolicyAnalysisResponse:
      title: AccessPolicyAnalysisResponse
      x-stoplight:
        id: z0jvavfz25ak4
      type: object
      x-internal: false
      description: Response that list parameters related to access policy and what type of access it provides and to which Principal.
      properties:
        role_assignment:
          $ref: '#/components/schemas/RoleAssignmentMetaData'
        principal:
          $ref: '#/components/schemas/PrincipalResponse'
        resource_group:
          $ref: '#/components/schemas/ResourceGroupResponse'
        role:
          $ref: '#/components/schemas/RoleResponse'
        permission:
          $ref: '#/components/schemas/Permission'
        resource:
          $ref: '#/components/schemas/Resource'
    Permission:
      title: Permission
      x-stoplight:
        id: b1o4qt6tco3qj
      type: object
      x-internal: false
      description: Permission details which are assigned via given role assignment
      properties:
        identifier:
          type: string
          description: Permisision identifier
        name:
          type: string
          description: Permission Name
    RoleResponse:
      title: RoleResponse
      x-stoplight:
        id: 1bd6pmusgc535
      type: object
      description: Role details
      properties:
        identifier:
          type: string
          description: Role Identifier
        name:
          type: string
          description: Role Name
        scope_level:
          type: string
          description: Scope at which Role is created
      x-internal: false
  parameters:
    PageIndex:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: 'Pagination page number strategy: Specify the page number within the paginated collection related to the number of items on each page.'
    OrgParam:
      description: Organization identifier
      in: path
      name: org
      required: true
      schema:
        type: string
    AccountHeader:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
    Order:
      name: order
      in: query
      required: false
      schema:
        type: string
        enum:
        - ASC
        - DESC
      description: Order on the basis of which sorting is done.
    Sort:
      name: sort
      in: query
      required: false
      schema:
        type: string
        enum:
        - identifier
        - name
        - created
        - updated
      description: Parameter on the basis of which sorting is done.
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 30
        maximum: 100
      description: 'Pagination: Number of items to return.'
  requestBodies:
    AccessPolicyAnalysisRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AccessPolicyAnalysisRequest'
      description: This is the request body that accepts parameters based on which access policies will be analysed
  responses:
    AccessPolicyAnalysisResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AccessPolicyAnalysisResponseWrapper'
      headers:
        X-Total-Elements:
          schema:
            type: integer
          description: Total number of elements returned in Paginated response.
        X-Page-Number:
          schema:
            type: integer
          description: Page number in Paginated response.
        X-Page-Size:
          schema:
            type: integer
          description: Maximum page size in Paginated response.
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
