openapi: 3.2.0
info:
  title: Harness Issues API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Issues
  description: Access and modify Security Issues
paths:
  /sto/api/v2/issues:
    get:
      tags:
      - Issues
      description: List a collection of Security Issues
      operationId: Issues#ListIssues
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: page
        in: query
        description: Page number to fetch (starting from 0)
        allowEmptyValue: true
        schema:
          type: integer
          description: Page number to fetch (starting from 0)
          default: 0
          example: 4
          format: int64
          minimum: 0
        example: 4
      - name: pageSize
        in: query
        description: Number of results per page
        allowEmptyValue: true
        schema:
          type: integer
          description: Number of results per page
          default: 30
          example: 50
          format: int64
          minimum: 1
          maximum: 100
        example: 50
      - name: productId
        in: query
        description: Issue product ID
        allowEmptyValue: true
        schema:
          type: string
          description: Issue product ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: key
        in: query
        description: Compression/deduplication key
        allowEmptyValue: true
        schema:
          type: string
          description: Compression/deduplication key
          example: json-schema@0.2.3
          maxLength: 512
        example: json-schema@0.2.3
      - name: excludeOccurrences
        in: query
        allowEmptyValue: true
        schema:
          type: boolean
          example: true
        example: true
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Iste doloribus voluptas nam corrupti aut reprehenderit.
        example: Facilis magni cupiditate voluptatem tenetur qui rerum.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuesListIssuesResponseBody'
              example:
                pagination:
                  link: ''
                  page: 4
                  pageSize: 20
                  totalItems: 230
                  totalPages: 12
                results:
                - baseImageName: baseImageName
                  baselineVariantId: abcdef1234567890ghijkl
                  created: 1651578240
                  currentStatus: Rejected
                  details:
                    package: json-schema
                    version: v0.2.3
                  epssLastModified: '2025-05-01'
                  epssPercentile: 0.15
                  epssScore: 0.035
                  exemptionCoverage: PartiallyExempted
                  exemptionId: abcdef1234567890ghijkl
                  exemptionStatusAtScan: Rejected
                  exploitability: 'yes'
                  fallbackSeverityCode: High
                  gracePeriodDays: 13
                  harnessAugmentation:
                    Et sed labore voluptatibus.: Id corporis facilis.
                  id: abcdef1234567890ghijkl
                  inGrace: true
                  key: json-schema@0.2.3
                  numOccurrences: 10
                  occurrenceId: 12345
                  occurrences:
                  - line: '42'
                  - line: '666'
                  originStatus: approved
                  origins:
                  - app
                  - base
                  overrides:
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  overridesAtScan:
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  productId: product1234567890abcde
                  reachability: reachable
                  severity: 8.5
                  severityCode: High
                  status: Remediated
                  subproduct: product
                  targetId: abcdef1234567890ghijkl
                  targetName: abcdef1234567890ghijkl
                  targetType: repository
                  targetVariantId: abcdef1234567890ghijkl
                  targetVariantName: nodegoat:master
                  title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
                  type: SAST
                - baseImageName: baseImageName
                  baselineVariantId: abcdef1234567890ghijkl
                  created: 1651578240
                  currentStatus: Rejected
                  details:
                    package: json-schema
                    version: v0.2.3
                  epssLastModified: '2025-05-01'
                  epssPercentile: 0.15
                  epssScore: 0.035
                  exemptionCoverage: PartiallyExempted
                  exemptionId: abcdef1234567890ghijkl
                  exemptionStatusAtScan: Rejected
                  exploitability: 'yes'
                  fallbackSeverityCode: High
                  gracePeriodDays: 13
                  harnessAugmentation:
                    Et sed labore voluptatibus.: Id corporis facilis.
                  id: abcdef1234567890ghijkl
                  inGrace: true
                  key: json-schema@0.2.3
                  numOccurrences: 10
                  occurrenceId: 12345
                  occurrences:
                  - line: '42'
                  - line: '666'
                  originStatus: approved
                  origins:
                  - app
                  - base
                  overrides:
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  overridesAtScan:
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  productId: product1234567890abcde
                  reachability: reachable
                  severity: 8.5
                  severityCode: High
                  status: Remediated
                  subproduct: product
                  targetId: abcdef1234567890ghijkl
                  targetName: abcdef1234567890ghijkl
                  targetType: repository
                  targetVariantId: abcdef1234567890ghijkl
                  targetVariantName: nodegoat:master
                  title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
                  type: SAST
                - baseImageName: baseImageName
                  baselineVariantId: abcdef1234567890ghijkl
                  created: 1651578240
                  currentStatus: Rejected
                  details:
                    package: json-schema
                    version: v0.2.3
                  epssLastModified: '2025-05-01'
                  epssPercentile: 0.15
                  epssScore: 0.035
                  exemptionCoverage: PartiallyExempted
                  exemptionId: abcdef1234567890ghijkl
                  exemptionStatusAtScan: Rejected
                  exploitability: 'yes'
                  fallbackSeverityCode: High
                  gracePeriodDays: 13
                  harnessAugmentation:
                    Et sed labore voluptatibus.: Id corporis facilis.
                  id: abcdef1234567890ghijkl
                  inGrace: true
                  key: json-schema@0.2.3
                  numOccurrences: 10
                  occurrenceId: 12345
                  occurrences:
                  - line: '42'
                  - line: '666'
                  originStatus: approved
                  origins:
                  - app
                  - base
                  overrides:
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  overridesAtScan:
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  productId: product1234567890abcde
                  reachability: reachable
                  severity: 8.5
                  severityCode: High
                  status: Remediated
                  subproduct: product
                  targetId: abcdef1234567890ghijkl
                  targetName: abcdef1234567890ghijkl
                  targetType: repository
                  targetVariantId: abcdef1234567890ghijkl
                  targetVariantName: nodegoat:master
                  title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
                  type: SAST
                - baseImageName: baseImageName
                  baselineVariantId: abcdef1234567890ghijkl
                  created: 1651578240
                  currentStatus: Rejected
                  details:
                    package: json-schema
                    version: v0.2.3
                  epssLastModified: '2025-05-01'
                  epssPercentile: 0.15
                  epssScore: 0.035
                  exemptionCoverage: PartiallyExempted
                  exemptionId: abcdef1234567890ghijkl
                  exemptionStatusAtScan: Rejected
                  exploitability: 'yes'
                  fallbackSeverityCode: High
                  gracePeriodDays: 13
                  harnessAugmentation:
                    Et sed labore voluptatibus.: Id corporis facilis.
                  id: abcdef1234567890ghijkl
                  inGrace: true
                  key: json-schema@0.2.3
                  numOccurrences: 10
                  occurrenceId: 12345
                  occurrences:
                  - line: '42'
                  - line: '666'
                  originStatus: approved
                  origins:
                  - app
                  - base
                  overrides:
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  overridesAtScan:
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  productId: product1234567890abcde
                  reachability: reachable
                  severity: 8.5
                  severityCode: High
                  status: Remediated
                  subproduct: product
                  targetId: abcdef1234567890ghijkl
                  targetName: abcdef1234567890ghijkl
                  targetType: repository
                  targetVariantId: abcdef1234567890ghijkl
                  targetVariantName: nodegoat:master
                  title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
                  type: SAST
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Not Found
                status: 404
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_issue_view
      summary: Issues#List issues
      x-summary-source: derived
    post:
      tags:
      - Issues
      description: Create a new Security Issue
      operationId: Issues#CreateIssue
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: normalized
        in: query
        description: Indicates the Occurrences have already been normalized
        allowEmptyValue: true
        schema:
          type: boolean
          description: Indicates the Occurrences have already been normalized
          example: false
        example: false
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Eos molestiae et necessitatibus quae asperiores.
        example: Error deleniti sint rem doloribus.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIssueRequestBody'
            example:
              details:
                package: json-schema
                version: v0.2.3
              epssLastModified: '2025-05-01'
              epssPercentile: 0.15
              epssScore: 0.035
              exemptionId: abcdef1234567890ghijkl
              key: json-schema@0.2.3
              keyPattern:
              - library_name
              - library_version
              numOccurrences: 10
              occurrences:
              - line: '42'
              - line: '666'
              productId: product1234567890abcde
              scanId: abcdef1234567890ghijkl
              severity: 8.5
              severityCode: High
              subproduct: product
              targetVariantName: nodegoat:master
              title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
              type: SAST
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDResult'
              example:
                id: abcdef1234567890ghijkl
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_issue_edit
      summary: Issues#Create issue
      x-summary-source: derived
  /sto/api/v2/issues/{id}:
    delete:
      description: Delete an existing Security Issue
      operationId: Issues#DeleteIssue
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - description: The ID of the Security Issue to delete
        example: abcdef1234567890ghijkl
        in: path
        name: id
        required: true
        schema:
          description: The ID of the Security Issue to delete
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      responses:
        '204':
          description: No Content response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '404':
          content:
            application/json:
              example:
                message: Not Found
                status: 404
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'NotFound: Not Found response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'InternalServerError: Internal Server Error response.'
      security:
      - jwt_header_Authorization:
        - sto_issue_delete
      tags:
      - Issues
      x-internal: true
      summary: Issues#Delete issue
      x-summary-source: derived
    get:
      tags:
      - Issues
      description: Find Security Issue by ID
      operationId: Issues#FindIssueById
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: orgId
        in: query
        description: Harness Organization ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Organization ID
          example: example_org
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_org
      - name: projectId
        in: query
        description: Harness Project ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Project ID
          example: example_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_project
      - name: targetId
        in: query
        description: Associated Target ID
        allowEmptyValue: true
        schema:
          type: string
          description: Associated Target ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        examples:
          default:
            summary: default
            value: abcdef1234567890ghijkl
      - name: id
        in: path
        description: The ID of the Security Issue to retrieve
        required: true
        schema:
          type: string
          description: The ID of the Security Issue to retrieve
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Officia quia perspiciatis dolorum dolores enim.
        example: Doloremque maiores ut quam nisi mollitia.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
              example:
                baseImageName: baseImageName
                baselineVariantId: abcdef1234567890ghijkl
                created: 1651578240
                currentStatus: Rejected
                details:
                  package: json-schema
                  version: v0.2.3
                epssLastModified: '2025-05-01'
                epssPercentile: 0.15
                epssScore: 0.035
                exemptionCoverage: PartiallyExempted
                exemptionId: abcdef1234567890ghijkl
                exemptionStatusAtScan: Rejected
                exploitability: 'yes'
                fallbackSeverityCode: High
                gracePeriodDays: 13
                harnessAugmentation:
                  Et sed labore voluptatibus.: Id corporis facilis.
                id: abcdef1234567890ghijkl
                inGrace: true
                key: json-schema@0.2.3
                numOccurrences: 10
                occurrenceId: 12345
                occurrences:
                - line: '42'
                - line: '666'
                originStatus: approved
                origins:
                - app
                - base
                overrides:
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                overridesAtScan:
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                productId: product1234567890abcde
                reachability: reachable
                severity: 8.5
                severityCode: High
                status: Remediated
                subproduct: product
                targetId: abcdef1234567890ghijkl
                targetName: abcdef1234567890ghijkl
                targetType: repository
                targetVariantId: abcdef1234567890ghijkl
                targetVariantName: nodegoat:master
                title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
                type: SAST
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Not Found
                status: 404
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_issue_view
      summary: Issues#Find issue by id
      x-summary-source: derived
    put:
      tags:
      - Issues
      description: Update an existing Security Issue
      operationId: Issues#UpdateIssue
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: id
        in: path
        description: The ID of the Security Issue to update
        required: true
        schema:
          type: string
          description: The ID of the Security Issue to update
          example: Nisi quod dolor sunt blanditiis.
        example: Quibusdam inventore voluptatem.
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Mollitia recusandae incidunt necessitatibus rerum odit.
        example: Recusandae rem autem optio est.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIssueRequestBody'
            example:
              numOccurrences: 10
              occurrences:
              - line: '42'
              - line: '666'
              scanId: abcdef1234567890ghijkl
              type: SAST
      responses:
        '204':
          description: Update succeeded.
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Not Found
                status: 404
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_issue_edit
      summary: Issues#Update issue
      x-summary-source: derived
  /sto/api/v2/issues/{id}/augment-remediation:
    post:
      tags:
      - Issues
      description: Use AI to augment the remediation steps for this Security Issue
      operationId: Issues#IssuesAugmentRemediation
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: orgId
        in: query
        description: Harness Organization ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Organization ID
          example: example_org
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_org
      - name: projectId
        in: query
        description: Harness Project ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Project ID
          example: example_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_project
      - name: taintPathOnly
        in: query
        description: If true, return only taintPathAnalysis. If false/absent, return all sections except taintPathAnalysis.
        allowEmptyValue: true
        schema:
          type: boolean
          description: If true, return only taintPathAnalysis. If false/absent, return all sections except taintPathAnalysis.
          example: false
        example: true
      - name: skipCodeFixes
        in: query
        description: If true, skip the code-fix AI call only; still generate remediation sections. Omits remediationCode from the result. Used when rem-agent PRs already exist for the issue.
        allowEmptyValue: true
        schema:
          type: boolean
          description: If true, skip the code-fix AI call only; still generate remediation sections. Omits remediationCode from the result. Used when rem-agent PRs already exist for the issue.
          example: true
        example: false
      - name: id
        in: path
        description: The ID of the Security Issue to augment
        required: true
        schema:
          type: string
          description: The ID of the Security Issue to augment
          example: 1234567890abcdefghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: 1234567890abcdefghijkl
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Consequatur dolor quo voluptatem dolorem natus.
        example: Labore accusantium maiores voluptatibus aut.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssuesAugmentRemediationRequestBody'
            example:
              connectorId: Nihil non omnis excepturi et quia repellat.
              dataflow:
                Rerum dolore et.: Quis aspernatur recusandae esse voluptas.
                Ut unde.: Rem et beatae reprehenderit.
              occurrenceId: 12345
              referenceId: CWE-123
              scanId: abcdefghijkl1234567890
              userSnippet: "func example() int {\n  return 0\n}"
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AugmentRemediationResult'
              example:
                metadata:
                  warnings:
                  - message: Reprehenderit harum sint similique modi dicta.
                    source: Est dolor laborum.
                  - message: Reprehenderit harum sint similique modi dicta.
                    source: Est dolor laborum.
                remediationCode: Et iusto praesentium eum maxime.
                remediationSections:
                  attackScenario: Aut nobis nostrum enim id omnis.
                  furtherConsiderations: Laboriosam dicta.
                  references: Et ratione sint qui est.
                  remediationSteps: Fugiat sunt quia impedit quos temporibus.
                  rootCauseAnalysis: Eveniet eius placeat possimus ullam.
                  secureCodingPattern: Temporibus non atque.
                  taintPathAnalysis: Ut nihil et error.
                  testCases: A est aut eos et.
                  verificationChecklist: Laboriosam voluptatibus quis et.
                  vulnerabilityOverview: Quo omnis similique quod perspiciatis.
                repoContent: Inventore voluptatum eos dolores.
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_issue_view
      summary: Issues#Issues augment remediation
      x-summary-source: derived
components:
  schemas:
    Issue:
      type: object
      properties:
        baseImageName:
          type: string
          description: base image name of the issue
          example: baseImageName
        baselineVariantId:
          type: string
          description: The Baseline Target Variant related to this Security Issue
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        created:
          type: integer
          description: Unix timestamp at which the resource was created
          example: 1651578240
          format: int64
        currentStatus:
          type: string
          description: Current status of the Exemption
          example: Pending
          enum:
          - Pending
          - Approved
          - Rejected
          - Expired
        details:
          type: object
          description: Issue details common to all occurrences
          example:
            package: json-schema
            version: v0.2.3
          additionalProperties: true
        epssLastModified:
          type: string
          description: Last date the issue EPSS data was last modified
          example: '2025-05-01'
        epssPercentile:
          type: number
          description: EPSS percentile of the issue CVE identifier
          example: 0.15
          format: double
        epssScore:
          type: number
          description: EPSS score of the issue CVE identifier
          example: 0.035
          format: double
        exemptionCoverage:
          type: string
          description: Indicates if the Security Issue was found to be Exempted or PartiallyExempted.
          example: PartiallyExempted
        exemptionId:
          type: string
          description: ID of Security Test Exemption
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        exemptionStatusAtScan:
          type: string
          description: Exemption's status at the Security Scan created time
          example: Expired
          enum:
          - Pending
          - Approved
          - Rejected
          - Expired
        exploitability:
          type: string
          description: Exploitability status of the issue (yes or no)
          example: 'yes'
        fallbackSeverityCode:
          type: string
          description: Issue-table severity code used as occurrence fallback at read time; omitted from API responses
          example: High
          enum:
          - Critical
          - High
          - Medium
          - Low
          - Info
          - Unassigned
        gracePeriodDays:
          type: integer
          description: Issue-level grace period rollup in days. Only populated when scan honorGracePeriod is enabled.
          example: 13
          format: int64
        harnessAugmentation:
          type: object
          description: Harness Augmentation details
          example:
            Dolores et illum repellat.: Est suscipit architecto eum voluptatem.
            Rerum quia facere at.: Nesciunt ratione et natus voluptas voluptatem placeat.
            Tempore eius cum.: Aliquid similique qui hic molestias quia aut.
          additionalProperties: true
        id:
          type: string
          description: Resource identifier
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        inGrace:
          type: boolean
          description: 'True when the displayed severity is grace-sheltered: at the display-max severity band, all non-exempt occurrences are in grace. Only populated when scan honorGracePeriod is enabled.'
          example: true
        key:
          type: string
          description: Compression/deduplication key
          example: json-schema@0.2.3
          maxLength: 512
        numOccurrences:
          type: integer
          description: Indicates the number of Occurrences on the Issue
          example: 10
          format: int32
        occurrenceId:
          type: integer
          example: 12345
          format: int64
          minimum: 1
        occurrences:
          type: array
          items:
            type: object
            example:
              Aliquam omnis itaque laboriosam quis eos.: Et dolores aut rerum facere quae.
              Dolor consequatur.: Nobis et aut laboriosam amet reprehenderit.
              Repellendus ratione voluptas alias eveniet.: Unde cum ipsum accusamus.
            additionalProperties: true
          description: Array of details unique to each occurrence
          example:
          - line: '42'
          - line: '666'
        originStatus:
          type: string
          description: The status of the origin, either 'approved' or 'unapproved'
          example: approved
        origins:
          type: array
          items:
            type: string
            example: Neque expedita et nam quis debitis aut.
          description: The origins of the issue
          example:
          - app
          - base
        overrides:
          type: array
          items:
            $ref: '#/components/schemas/OverrideResult'
          description: List of issue overrides
          example:
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
        overridesAtScan:
          type: array
          items:
            $ref: '#/components/schemas/OverrideResult'
          description: List of issue overrides at scan time
          example:
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
        productId:
          type: string
          description: The scan tool that identified this Security Issue
          example: product1234567890abcde
          pattern: ^[a-zA-Z0-9_-]{22}$
        reachability:
          type: string
          description: Reachability status of the issue (reachable or unreachable)
          example: reachable
        severity:
          type: number
          description: Numeric severity, from 0 (lowest) to 10 (highest)
          example: 8.5
          format: float
        severityCode:
          type: string
          description: Severity code
          example: High
          enum:
          - Critical
          - High
          - Medium
          - Low
          - Info
          - Unassigned
        status:
          type: string
          description: Indicates if the Security Issue was found to be remediated, ignored, etc.
          example: Remediated
          enum:
          - Remediated
          - Compensating Controls
          - Acceptable Use
          - Acceptable Risk
          - False Positive
          - Fix Unavailable
          - Exempted
        subproduct:
          type: string
          description: The subproduct that identified this Security Issue
          example: product
        targetId:
          type: string
          description: The Target that this Security Issue affects
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        targetName:
          type: string
          description: The Name of the Target that this Security Issue affects
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        targetType:
          type: string
          description: The type of the Target that this Security Issue affects
          example: repository
          enum:
          - container
          - repository
          - instance
          - configuration
        targetVariantId:
          type: string
          description: The Target Variant that this Security Issue affects
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        targetVariantName:
          type: string
          description: Name of the associated Target and Variant
          example: nodegoat:master
          pattern: ^[a-zA-Z0-9_-]{22}$
        title:
          type: string
          description: Title of the Security Issue
          example: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
          maxLength: 128
        type:
          type: string
          description: The type of vulnerability or quality issue for this Issue
          example: SAST
          enum:
          - SAST
          - DAST
          - SCA
          - IAC
          - SECRET
          - MISCONFIG
          - BUG_SMELLS
          - CODE_SMELLS
          - CODE_COVERAGE
          - EXTERNAL_POLICY
      description: Information about a Security Issue
      example:
        baseImageName: baseImageName
        baselineVariantId: abcdef1234567890ghijkl
        created: 1651578240
        currentStatus: Approved
        details:
          package: json-schema
          version: v0.2.3
        epssLastModified: '2025-05-01'
        epssPercentile: 0.15
        epssScore: 0.035
        exemptionCoverage: PartiallyExempted
        exemptionId: abcdef1234567890ghijkl
        exemptionStatusAtScan: Rejected
        exploitability: 'yes'
        fallbackSeverityCode: High
        gracePeriodDays: 13
        harnessAugmentation:
          Enim nisi inventore reiciendis omnis excepturi in.: Illum perspiciatis nam esse perferendis excepturi.
          Quod aut excepturi explicabo.: Rerum dolorem perspiciatis.
        id: abcdef1234567890ghijkl
        inGrace: true
        key: json-schema@0.2.3
        numOccurrences: 10
        occurrenceId: 12345
        occurrences:
        - line: '42'
        - line: '666'
        originStatus: approved
        origins:
        - app
        - base
        overrides:
        - created: 1651578240
          fieldName: severityCode
          impactedTargetId: target1111111111111111
          originalFieldValue: Low
          overrideFieldValue: Low
          overrideId: override1234
          reason: Waiting on upstream bug fix
          requesterEmail: user@harness.io
          requesterId: user111111111111111111
          requesterName: firstname lastname
        - created: 1651578240
          fieldName: severityCode
          impactedTargetId: target1111111111111111
          originalFieldValue: Low
          overrideFieldValue: Low
          overrideId: override1234
          reason: Waiting on upstream bug fix
          requesterEmail: user@harness.io
          requesterId: user111111111111111111
          requesterName: firstname lastname
        overridesAtScan:
        - created: 1651578240
          fieldName: severityCode
          impactedTargetId: target1111111111111111
          originalFieldValue: Low
          overrideFieldValue: Low
          overrideId: override1234
          reason: Waiting on upstream bug fix
          requesterEmail: user@harness.io
          requesterId: user111111111111111111
          requesterName: firstname lastname
        - created: 1651578240
          fieldName: severityCode
          impactedTargetId: target1111111111111111
          originalFieldValue: Low
          overrideFieldValue: Low
          overrideId: override1234
          reason: Waiting on upstream bug fix
          requesterEmail: user@harness.io
          requesterId: user111111111111111111
          requesterName: firstname lastname
        productId: product1234567890abcde
        reachability: reachable
        severity: 8.5
        severityCode: High
        status: Remediated
        subproduct: product
        targetId: abcdef1234567890ghijkl
        targetName: abcdef1234567890ghijkl
        targetType: repository
        targetVariantId: abcdef1234567890ghijkl
        targetVariantName: nodegoat:master
        title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
        type: SAST
      required:
      - title
      - key
      - severity
      - severityCode
      - productId
      - details
      - id
      - created
    IDResult:
      type: object
      properties:
        id:
          type: string
          description: Resource identifier
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
      example:
        id: abcdef1234567890ghijkl
      required:
      - id
    RemediationSections:
      type: object
      properties:
        attackScenario:
          type: string
          example: Reprehenderit sequi ducimus sit repellat rerum.
        furtherConsiderations:
          type: string
          example: Non quod facilis minima fuga harum.
        references:
          type: string
          example: Et quasi minima magni.
        remediationSteps:
          type: string
          example: Laboriosam totam.
        rootCauseAnalysis:
          type: string
          example: Porro error pariatur enim eos.
        secureCodingPattern:
          type: string
          example: Est eos blanditiis autem veniam.
        taintPathAnalysis:
          type: string
          example: Ut et sit cumque eum sunt.
        testCases:
          type: string
          example: Et ipsa aliquam.
        verificationChecklist:
          type: string
          example: Minus nihil voluptatem delectus neque neque nisi.
        vulnerabilityOverview:
          type: string
          example: Provident voluptatem porro illum.
      example:
        attackScenario: Impedit rerum corporis quam.
        furtherConsiderations: Aut autem eligendi neque aperiam earum.
        references: Repellat est.
        remediationSteps: Tempore quia perspiciatis non iure consequuntur.
        rootCauseAnalysis: Officiis in occaecati odit alias.
        secureCodingPattern: Est hic.
        taintPathAnalysis: Consequuntur dignissimos sed maxime velit.
        testCases: Perspiciatis est.
        verificationChecklist: Aliquid unde iure eum velit.
        vulnerabilityOverview: Occaecati saepe.
    StoPagination:
      type: object
      properties:
        link:
          type: string
          description: Link-based paging
          example: ''
        page:
          type: integer
          description: Page number (starting from 0)
          example: 4
          format: int64
        pageSize:
          type: integer
          description: Requested page size
          example: 20
          format: int64
        totalItems:
          type: integer
          description: Total results available
          example: 230
          format: int64
        totalPages:
          type: integer
          description: Total pages available
          example: 12
          format: int64
      example:
        link: ''
        page: 4
        pageSize: 20
        totalItems: 230
        totalPages: 12
      required:
      - page
      - pageSize
      - totalPages
      - totalItems
    UpdateIssueRequestBody:
      type: object
      properties:
        numOccurrences:
          type: integer
          description: Indicates the number of Occurrences on the Issue
          example: 10
          format: int32
        occurrences:
          type: array
          items:
            type: object
            example:
              Eaque soluta.: Nihil molestiae ad occaecati et magnam.
            additionalProperties: true
          description: Array of details unique to each occurrence
          example:
          - line: '42'
          - line: '666'
        scanId:
          type: string
          description: The Security Scan execution that detected this Security Issue
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        type:
          type: string
          description: The type of vulnerability or quality issue for this Issue
          example: SAST
          enum:
          - SAST
          - DAST
          - SCA
          - IAC
          - SECRET
          - MISCONFIG
          - BUG_SMELLS
          - CODE_SMELLS
          - CODE_COVERAGE
          - EXTERNAL_POLICY
      example:
        numOccurrences: 10
        occurrences:
        - line: '42'
        - line: '666'
        scanId: abcdef1234567890ghijkl
        type: SAST
      required:
      - occurrences
      - scanId
    AugmentRemediationMetadata:
      type: object
      properties:
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/AugmentRemediationWarning'
          example:
          - message: Reprehenderit harum sint similique modi dicta.
            source: Est dolor laborum.
          - message: Reprehenderit harum sint similique modi dicta.
            source: Est dolor laborum.
      example:
        warnings:
        - message: Reprehenderit harum sint similique modi dicta.
          source: Est dolor laborum.
        - message: Reprehenderit harum sint similique modi dicta.
          source: Est dolor laborum.
        - message: Reprehenderit harum sint similique modi dicta.
          source: Est dolor laborum.
        - message: Reprehenderit harum sint similique modi dicta.
          source: Est dolor laborum.
      required:
      - warnings
    AugmentRemediationResult:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/AugmentRemediationMetadata'
        remediationCode:
          type: string
          example: Placeat incidunt rem nobis consequatur quis.
        remediationSections:
          $ref: '#/components/schemas/RemediationSections'
        repoContent:
          type: string
          example: Iusto dolorem quo et officiis.
      example:
        metadata:
          warnings:
          - message: Reprehenderit harum sint similique modi dicta.
            source: Est dolor laborum.
          - message: Reprehenderit harum sint similique modi dicta.
            source: Est dolor laborum.
        remediationCode: Consequatur illo consequatur.
        remediationSections:
          attackScenario: Aut nobis nostrum enim id omnis.
          furtherConsiderations: Laboriosam dicta.
          references: Et ratione sint qui est.
          remediationSteps: Fugiat sunt quia impedit quos temporibus.
          rootCauseAnalysis: Eveniet eius placeat possimus ullam.
          secureCodingPattern: Temporibus non atque.
          taintPathAnalysis: Ut nihil et error.
          testCases: A est aut eos et.
          verificationChecklist: Laboriosam voluptatibus quis et.
          vulnerabilityOverview: Quo omnis similique quod perspiciatis.
        repoContent: Ad enim repudiandae et id eum.
      required:
      - remediationSections
      - metadata
    NotFound:
      type: object
      properties:
        message:
          type: string
          example: Not Found
        status:
          type: integer
          default: 404
          example: 404
          format: int64
      example:
        message: Not Found
        status: 404
      required:
      - message
    IssuesAugmentRemediationRequestBody:
      type: object
      properties:
        connectorId:
          type: string
          example: At debitis vitae exercitationem nesciunt cumque quaerat.
        dataflow:
          type: object
          description: CPG dataflow object from the /dataflow API. Passed directly to enrich LLM prompts for SAST issues.
          example:
            Assumenda numquam inventore.: Repellat tenetur cupiditate delectus voluptatibus qui aliquam.
            Aut id nobis aliquid distinctio modi tempora.: Voluptatum quia ut labore exercitationem.
            Sint minima id officia libero est autem.: Nisi nostrum.
          additionalProperties: true
        occurrenceId:
          type: integer
          example: 12345
          format: int64
          minimum: 1
        referenceId:
          type: string
          example: CWE-123
        scanId:
          type: string
          description: The Scan ID to use as context for the Security Issue to augment
          example: abcdefghijkl1234567890
          pattern: ^[a-zA-Z0-9_-]{22}$
        userSnippet:
          type: string
          description: The user-supplied code snippet
          example: "func example() int {\n  return 0\n}"
          minLength: 1
          maxLength: 1024
      example:
        connectorId: Dolorem nihil doloribus aut dolores voluptas consectetur.
        dataflow:
          Architecto at sunt mollitia doloribus corporis.: Non mollitia.
        occurrenceId: 12345
        referenceId: CWE-123
        scanId: abcdefghijkl1234567890
        userSnippet: "func example() int {\n  return 0\n}"
      required:
      - scanId
      - occurrenceId
    CreateIssueRequestBody:
      type: object
      properties:
        details:
          type: object
          description: Issue details common to all occurrences
          example:
            package: json-schema
            version: v0.2.3
          additionalProperties: true
        epssLastModified:
          type: string
          description: Last date the issue EPSS data was last modified
          example: '2025-05-01'
        epssPercentile:
          type: number
          description: EPSS percentile of the issue CVE identifier
          example: 0.15
          format: double
        epssScore:
          type: number
          description: EPSS score of the issue CVE identifier
          example: 0.035
          format: double
        exemptionId:
          type: string
          description: ID of Security Test Exemption
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        key:
          type: string
          description: Compression/deduplication key
          example: json-schema@0.2.3
          maxLength: 512
        keyPattern:
          type: array
          items:
            type: string
            example: Hic amet.
          description: The pattern of fields used to generate this Security Issue's Key
          example:
          - library_name
          - library_version
        numOccurrences:
          type: integer
          description: Indicates the number of Occurrences on the Issue
          example: 10
          format: int32
        occurrences:
          type: array
          items:
            type: object
            example:
              Eos cumque.: Ducimus autem.
              Nam necessitatibus dolore quis et architecto veritatis.: Qui quibusdam.
              Quis dolores ut laborum soluta quidem qui.: Nobis autem nulla laborum magnam.
            additionalProperties: true
          description: Array of details unique to each occurrence
          example:
          - line: '42'
          - line: '666'
        productId:
          type: string
          description: The scan tool that identified this Security Issue
          example: product1234567890abcde
          pattern: ^[a-zA-Z0-9_-]{22}$
        scanId:
          type: string
          description: The Security Scan execution that detected this Security Issue
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        severity:
          type: number
          description: Numeric severity, from 0 (lowest) to 10 (highest)
          example: 8.5
          format: float
        severityCode:
          type: string
          description: Severity code
          example: High
          enum:
          - Critical
          - High
          - Medium
          - Low
          - Info
          - Unassigned
        subproduct:
          type: string
          description: The subproduct that identified this Security Issue
          example: product
        targetVariantName:
          type: string
          description: Name of the associated Target and Variant
          example: nodegoat:master
          pattern: ^[a-zA-Z0-9_-]{22}$
        title:
          type: string
          description: Title of the Security Issue
          example: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
          maxLength: 128
        type:
          type: string
          description: The type of vulnerability or quality issue for this Issue
          example: SAST
          enum:
          - SAST
          - DAST
          - SCA
          - IAC
          - SECRET
          - MISCONFIG
          - BUG_SMELLS
          - CODE_SMELLS
          - CODE_COVERAGE
          - EXTERNAL_POLICY
      example:
        details:
          package: json-schema
          version: v0.2.3
        epssLastModified: '2025-05-01'
        epssPercentile: 0.15
        epssScore: 0.035
        exemptionId: abcdef1234567890ghijkl
        key: json-schema@0.2.3
        keyPattern:
        - library_name
        - library_version
        numOccurrences: 10
        occurrences:
        - line: '42'
        - line: '666'
        productId: product1234567890abcde
        scanId: abcdef1234567890ghijkl
        severity: 8.5
        severityCode: High
        subproduct: product
        targetVariantName: nodegoat:master
        title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
        type: SAST
      required:
      - title
      - key
      - severity
      - severityCode
      - productId
      - details
      - scanId
      - keyPattern
      - id
      - created
    IssuesListIssuesResponseBody:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/StoPagination'
        results:
          type: array
          items:
            $ref: '#/components/schemas/Issue'
          example:
          - baseImageName: baseImageName
            baselineVariantId: abcdef1234567890ghijkl
            created: 1651578240
            currentStatus: Rejected
            details:
              package: json-schema
              version: v0.2.3
            epssLastModified: '2025-05-01'
            epssPercentile: 0.15
            epssScore: 0.035
            exemptionCoverage: PartiallyExempted
            exemptionId: abcdef1234567890ghijkl
            exemptionStatusAtScan: Rejected
            exploitability: 'yes'
            fallbackSeverityCode: High
            gracePeriodDays: 13
            harnessAugmentation:
              Et sed labore voluptatibus.: Id corporis facilis.
            id: abcdef1234567890ghijkl
            inGrace: true
            key: json-schema@0.2.3
            numOccurrences: 10
            occurrenceId: 12345
            occurrences:
            - line: '42'
            - line: '666'
            originStatus: approved
            origins:
            - app
            - base
            overrides:
            - created: 1651578240
              fieldName: severityCode
              impactedTargetId: target1111111111111111
              originalFieldValue: Low
              overrideFieldValue: Low
              overrideId: override1234
              reason: Waiting on upstream bug fix
              requesterEmail: user@harness.io
              requesterId: user111111111111111111
              requesterName: firstname lastname
            - created: 1651578240
              fieldName: severityCode
              impactedTargetId: target1111111111111111
              originalFieldValue: Low
              overrideFieldValue: Low
              overrideId: override1234
              reason: Waiting on upstream bug fix
              requesterEmail: user@harness.io
              requesterId: user111111111111111111
              requesterName: firstname lastname
            - created: 1651578240
              fieldName: severityCode
              impactedTargetId: target1111111111111111
              originalFieldValue: Low
              overrideFieldValue: Low
              overrideId: override1234
              reason: Waiting on upstream bug fix
              requesterEmail: user@harness.io
              requesterId: user111111111111111111
              requesterName: firstname lastname
            - created: 1651578240
              fieldName: severityCode
              impactedTargetId: target1111111111111111
              originalFieldValue: Low
              overrideFieldValue: Low
              overrideId: override1234
              reason: Waiting on upstream bug fix
              requesterEmail: user@harness.io
              requesterId: user111111111111111111
              requesterName: firstname lastname
            overridesAtScan:
            - created: 1651578240
              fieldName: severityCode
              impactedTargetId: target1111111111111111
              originalFieldValue: Low
              overrideFieldValue: Low
              overrideId: override1234
              reason: Waiting on upstream bug fix
              requesterEmail: user@harness.io
              requesterId: user111111111111111111
              requesterName: firstname lastname
            - created: 1651578240
              fieldName: severityCode
              impactedTargetId: target1111111111111111
              originalFieldValue: Low
              overrideFieldValue: Low
              overrideId: override1234
              reason: Waiting on upstream bug fix
              requesterEmail: user@harness.io
              requesterId: user111111111111111111
              requesterName: firstname lastname
            productId: product1234567890abcde
            reachability: reachable
            severity: 8.5
            severityCode: High
            status: Remediated
            subproduct: product
            targetId: abcdef1234567890ghijkl
            targetName: abcdef1234567890ghijkl
            targetType: repository
            targetVariantId: abcdef1234567890ghijkl
            targetVariantName: nodegoat:master
            title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
            type: SAST
          - baseImageName: baseImageName
            baselineVariantId: abcdef1234567890ghijkl
            created: 1651578240
            currentStatus: Rejected
            details:
              package: json-schema
              version: v0.2.3
            epssLastModified: '2025-05-01'
            epssPercentile: 0.15
            epssScore: 0.035
            exemptionCoverage: PartiallyExempted
            exemptionId: abcdef1234567890ghijkl
            exemptionStatusAtScan: Rejected
            exploitability: 'yes'
            fallbackSeverityCode: High
            gracePeriodDays: 13
            harnessAugmentation:
              Et sed labore voluptatibus.: Id corporis facilis.
            id: abcdef1234567890ghijkl
            inGrace: true
            key: json-schema@0.2.3
            numOccurrences: 10
            occurrenceId: 12345
            occurrences:
            - line: '42'
            - line: '666'
            originStatus: approved
            origins:
            - app
            - base
            overrides:
            - created: 1651578240
              fieldName: severityCode
              impactedTargetId: target1111111111111111
              originalFieldValue: Low
              overrideFieldValue: Low
              overrideId: override1234
              reason: Waiting on upstream bug fix
              requesterEmail: user@harness.io
              requesterId: user111111111111111111
              requesterName: firstname lastname
            - created: 1651578240
              fieldName: severityCode
              impactedTargetId: target1111111111111111
              originalFieldValue: Low
              overrideFieldValue: Low
              overrideId: override1234
              reason: Waiting on upstream bug fix
              requesterEmail: user@harness.io
              requesterId: user111111111111111111
              requesterName: firstname lastname
            - created: 1651578240
              fieldName: severityCode
              impactedTargetId: target1111111111111111
              originalFieldValue: Low
              overrideFieldValue: Low
              overrideId: override1234
              reason: Waiting on upstream bug fix
              requesterEmail: user@harness.io
              requesterId: user111111111111111111
              requesterName: firstname lastname
            - created: 1651578240
              fieldName: severityCode
              impactedTargetId: target1111111111111111
              originalFieldValue: Low
              overrideFieldValue: Low
              overrideId: override1234
              reason: Waiting on upstream bug fix
              requesterEmail: user@harness.io
              requesterId: user111111111111111111
              requesterName: firstname lastname
            overridesAtScan:
            - created: 1651578240
              fieldName: severityCode
              impactedTargetId: target1111111111111111
              originalFieldValue: Low
              overrideFieldValue: Low
              overrideId: override1234
              reason: Waiting on upstream bug fix
              requesterEmail: user@harness.io
              requesterId: user111111111111111111
              requesterName: firstname lastname
            - created: 1651578240
              fieldName: severityCode
              impactedTargetId: target1111111111111111
              originalFieldValue: Low
              overrideFieldValue: Low
              overrideId: override1234
              reason: Waiting on upstream bug fix
              requesterEmail: user@harness.io
              requesterId: user111111111111111111
              requesterName: firstname lastname
            productId: product1234567890abcde
            reachability: reachable
            severity: 8.5
            severityCode: High
            status: Remediated
            subproduct: product
            targetId: abcdef1234567890ghijkl
            targetName: abcdef1234567890ghijkl
            targetType: repository
            targetVariantId: abcdef1234567890ghijkl
            targetVariantName: nodegoat:master
            title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
            type: SAST
      example:
        pagination:
          link: ''
          page: 4
          pageSize: 20
          totalItems: 230
          totalPages: 12
        results:
        - baseImageName: baseImageName
          baselineVariantId: abcdef1234567890ghijkl
          created: 1651578240
          currentStatus: Rejected
          details:
            package: json-schema
            version: v0.2.3
          epssLastModified: '2025-05-01'
          epssPercentile: 0.15
          epssScore: 0.035
          exemptionCoverage: PartiallyExempted
          exemptionId: abcdef1234567890ghijkl
          exemptionStatusAtScan: Rejected
          exploitability: 'yes'
          fallbackSeverityCode: High
          gracePeriodDays: 13
          harnessAugmentation:
            Et sed labore voluptatibus.: Id corporis facilis.
          id: abcdef1234567890ghijkl
          inGrace: true
          key: json-schema@0.2.3
          numOccurrences: 10
          occurrenceId: 12345
          occurrences:
          - line: '42'
          - line: '666'
          originStatus: approved
          origins:
          - app
          - base
          overrides:
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          overridesAtScan:
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          productId: product1234567890abcde
          reachability: reachable
          severity: 8.5
          severityCode: High
          status: Remediated
          subproduct: product
          targetId: abcdef1234567890ghijkl
          targetName: abcdef1234567890ghijkl
          targetType: repository
          targetVariantId: abcdef1234567890ghijkl
          targetVariantName: nodegoat:master
          title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
          type: SAST
        - baseImageName: baseImageName
          baselineVariantId: abcdef1234567890ghijkl
          created: 1651578240
          currentStatus: Rejected
          details:
            package: json-schema
            version: v0.2.3
          epssLastModified: '2025-05-01'
          epssPercentile: 0.15
          epssScore: 0.035
          exemptionCoverage: PartiallyExempted
          exemptionId: abcdef1234567890ghijkl
          exemptionStatusAtScan: Rejected
          exploitability: 'yes'
          fallbackSeverityCode: High
          gracePeriodDays: 13
          harnessAugmentation:
            Et sed labore voluptatibus.: Id corporis facilis.
          id: abcdef1234567890ghijkl
          inGrace: true
          key: json-schema@0.2.3
          numOccurrences: 10
          occurrenceId: 12345
          occurrences:
          - line: '42'
          - line: '666'
          originStatus: approved
          origins:
          - app
          - base
          overrides:
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          overridesAtScan:
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          productId: product1234567890abcde
          reachability: reachable
          severity: 8.5
          severityCode: High
          status: Remediated
          subproduct: product
          targetId: abcdef1234567890ghijkl
          targetName: abcdef1234567890ghijkl
          targetType: repository
          targetVariantId: abcdef1234567890ghijkl
          targetVariantName: nodegoat:master
          title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
          type: SAST
        - baseImageName: baseImageName
          baselineVariantId: abcdef1234567890ghijkl
          created: 1651578240
          currentStatus: Rejected
          details:
            package: json-schema
            version: v0.2.3
          epssLastModified: '2025-05-01'
          epssPercentile: 0.15
          epssScore: 0.035
          exemptionCoverage: PartiallyExempted
          exemptionId: abcdef1234567890ghijkl
          exemptionStatusAtScan: Rejected
          exploitability: 'yes'
          fallbackSeverityCode: High
          gracePeriodDays: 13
          harnessAugmentation:
            Et sed labore voluptatibus.: Id corporis facilis.
          id: abcdef1234567890ghijkl
          inGrace: true
          key: json-schema@0.2.3
          numOccurrences: 10
          occurrenceId: 12345
          occurrences:
          - line: '42'
          - line: '666'
          originStatus: approved
          origins:
          - app
          - base
          overrides:
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          overridesAtScan:
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          - created: 1651578240
            fieldName: severityCode
            impactedTargetId: target1111111111111111
            originalFieldValue: Low
            overrideFieldValue: Low
            overrideId: override1234
            reason: Waiting on upstream bug fix
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
          productId: product1234567890abcde
          reachability: reachable
          severity: 8.5
          severityCode: High
          status: Remediated
          subproduct: product
          targetId: abcdef1234567890ghijkl
          targetName: abcdef1234567890ghijkl
          targetType: repository
[...]
