openapi: 3.2.0
info:
  title: Harness Policysets API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Policy Sets
  description: Create, edit and delete Governance policy sets
paths:
  /pm/api/v1/policysets:
    get:
      tags:
      - Policy Sets
      description: List all policy sets
      operationId: policysets#list
      parameters:
      - name: accountIdentifier
        in: query
        description: Harness account ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness account ID
          default: ''
          example: eBqAoNchMLKigC_qZ5EdC
        example: eBqAoNchMLKigC_qZ5EdC
      - name: orgIdentifier
        in: query
        description: Harness organization ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness organization ID
          default: ''
          example: test-org
        example: test-org
      - name: projectIdentifier
        in: query
        description: Harness project ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness project ID
          default: ''
          example: test-project
        example: test-project
      - name: per_page
        in: query
        description: Number of results per page
        allowEmptyValue: true
        schema:
          type: integer
          description: Number of results per page
          default: 50
          example: 20
          format: int64
          minimum: 1
          maximum: 100
        example: 20
      - name: page
        in: query
        description: Page number (starting from 0)
        allowEmptyValue: true
        schema:
          type: integer
          description: Page number (starting from 0)
          default: 0
          example: 4
          format: int64
          minimum: 0
        example: 4
      - name: identifierFilter
        in: query
        description: Comma separated List of Identifiers to filter on
        allowEmptyValue: true
        schema:
          type: string
          description: Comma separated List of Identifiers to filter on
          default: ''
          example: test-projectId1, test-projectId2
        example: test-projectId1, test-projectId2
      - name: searchTerm
        in: query
        description: Filter results by partial name match
        allowEmptyValue: true
        schema:
          type: string
          description: Filter results by partial name match
          default: ''
          example: poli
        example: poli
      - name: sort
        in: query
        description: Sort order for results
        allowEmptyValue: true
        schema:
          type: string
          description: Sort order for results
          default: name,ASC
          example: name,DESC
          enum:
          - name,ASC
          - name,DESC
          - updated,ASC
          - updated,DESC
        example: updated,DESC
      - name: type
        in: query
        description: Filter results by type
        allowEmptyValue: true
        schema:
          type: string
          description: Filter results by type
          example: pipeline
          minLength: 1
        example: pipeline
      - name: types
        in: query
        description: Filter results by multiple types (comma-separated), e.g. pipeline,environment
        allowEmptyValue: true
        schema:
          type: string
          description: Filter results by multiple types (comma-separated), e.g. pipeline,environment
          example: pipeline,environment
          minLength: 1
        example: pipeline,environment
      - name: action
        in: query
        description: Filter results by action
        allowEmptyValue: true
        schema:
          type: string
          description: Filter results by action
          example: onrun
          minLength: 1
        example: onrun
      - name: yaml_version
        in: query
        description: Harness yaml version associated with this policySet
        allowEmptyValue: true
        schema:
          type: string
          description: Harness yaml version associated with this policySet
          default: '0'
          example: '0'
          enum:
          - '0'
          - '1'
        example: '0'
      - name: x-api-key
        in: header
        description: Harness PAT key used to perform authorization
        allowEmptyValue: true
        schema:
          type: string
          description: Harness PAT key used to perform authorization
          example: Labore dolorum dolorum ut repudiandae ut nisi.
        example: Officia quasi ipsum consectetur facere quaerat illo.
      responses:
        '200':
          description: OK response.
          headers:
            Link:
              description: Link-based paging
              schema:
                type: string
                description: Link-based paging
                example: ''
              example: ''
            X-Page-Index:
              description: 'Deprecated: Please use pageNumber / X-Page-Number instead. Same value as pageNumber; kept for legacy UI clients.'
              schema:
                type: integer
                description: 'Deprecated: Please use pageNumber / X-Page-Number instead. Same value as pageNumber; kept for legacy UI clients.'
                example: 4
                format: int64
              example: 4
            X-Page-Item-Count:
              description: Number of results in this page
              schema:
                type: integer
                description: Number of results in this page
                example: 20
                format: int64
              example: 20
            X-Page-Number:
              description: Current page number (0-based). Harness standard pagination header X-Page-Number.
              schema:
                type: integer
                description: Current page number (0-based). Harness standard pagination header X-Page-Number.
                example: 4
                format: int64
              example: 4
            X-Page-Size:
              description: Requested page size. Harness standard pagination header X-Page-Size.
              schema:
                type: integer
                description: Requested page size. Harness standard pagination header X-Page-Size.
                example: 20
                format: int64
              example: 20
            X-Total-Elements:
              description: Total number of results available. Harness standard pagination header X-Total-Elements.
              schema:
                type: integer
                description: Total number of results available. Harness standard pagination header X-Total-Elements.
                example: 230
                format: int64
              example: 230
            X-Total-Items:
              description: 'Deprecated: Please use totalElements / X-Total-Elements instead. Same value as totalElements; kept for legacy UI clients.'
              schema:
                type: integer
                description: 'Deprecated: Please use totalElements / X-Total-Elements instead. Same value as totalElements; kept for legacy UI clients.'
                example: 230
                format: int64
              example: 230
            X-Total-Pages:
              description: Total pages available
              schema:
                type: integer
                description: Total pages available
                example: 12
                format: int64
              example: 12
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PolicyManagementPolicySet'
                example:
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  action: onrun
                  created: 1636669297674
                  description: Captures critical production policies
                  enabled: true
                  entity_selector: all_entities_in_scope
                  identifier: policyset-1
                  infra_params:
                    annotations:
                      Dolore odio expedita adipisci vel.: Molestiae consequuntur sint.
                      Iusto earum enim ea incidunt.: Officiis quam voluptates dolor aut.
                    connectorRef: account.k8s_connector
                    harnessImageConnectorRef: account.docker_connector
                    initTimeout: 10m
                    labels:
                      Modi quo dolorem sed facilis omnis.: Nihil voluptatem tempore nam qui accusamus.
                      Perspiciatis dignissimos asperiores et quia facilis.: Aut vel eveniet.
                    namespace: default
                    nodeSelector:
                      Consequatur dolorum minima molestiae aperiam repudiandae.: Pariatur ut architecto quisquam.
                      Doloremque possimus corporis.: Nihil hic exercitationem.
                    os: linux
                    poolName: vm-pool-1
                    resources:
                      limits:
                        cpu: 100m
                        memory: 128Mi
                      requests:
                        cpu: 100m
                        memory: 128Mi
                  infra_type: KubernetesDirect
                  name: Production Policies
                  org_id: test-org
                  policies:
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    imported_policies:
                    - account_id: eBqAoNchMLKigC_qZ5EdC
                      cache_response:
                        cache_state: STALE_CACHE
                        is_sync_enabled: true
                        last_updated_at: 1773917288158
                        ttl_left: 258234442
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: .
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ''
                      git_default_branch_update_error:
                        explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                        hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ''
                      git_path: .harness/policy.rego
                      git_repo: github.com/org/repo,omitempty
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      parent_unique_id: Aliquam est.
                      polciy_size_in_bytes: 4204212102816286000
                      policy_package_name: Aspernatur in molestias recusandae odit quia.
                      policy_set_count: 3
                      project_id: test-project
                      rego: ''
                      unique_id: Ex consequuntur saepe.
                      updated: 1636669297674
                    - account_id: eBqAoNchMLKigC_qZ5EdC
                      cache_response:
                        cache_state: STALE_CACHE
                        is_sync_enabled: true
                        last_updated_at: 1773917288158
                        ttl_left: 258234442
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: .
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ''
                      git_default_branch_update_error:
                        explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                        hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ''
                      git_path: .harness/policy.rego
                      git_repo: github.com/org/repo,omitempty
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      parent_unique_id: Aliquam est.
                      polciy_size_in_bytes: 4204212102816286000
                      policy_package_name: Aspernatur in molestias recusandae odit quia.
                      policy_set_count: 3
                      project_id: test-project
                      rego: ''
                      unique_id: Ex consequuntur saepe.
                      updated: 1636669297674
                    - account_id: eBqAoNchMLKigC_qZ5EdC
                      cache_response:
                        cache_state: STALE_CACHE
                        is_sync_enabled: true
                        last_updated_at: 1773917288158
                        ttl_left: 258234442
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: .
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ''
                      git_default_branch_update_error:
                        explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                        hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ''
                      git_path: .harness/policy.rego
                      git_repo: github.com/org/repo,omitempty
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      parent_unique_id: Aliquam est.
                      polciy_size_in_bytes: 4204212102816286000
                      policy_package_name: Aspernatur in molestias recusandae odit quia.
                      policy_set_count: 3
                      project_id: test-project
                      rego: ''
                      unique_id: Ex consequuntur saepe.
                      updated: 1636669297674
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Ratione voluptas.
                    polciy_size_in_bytes: 4684963588245291000
                    policy_package_name: Est cupiditate aliquam dolor rerum deserunt.
                    project_id: test-project
                    rego: ''
                    severity: warning
                    unique_id: Quam eos tempore.
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    imported_policies:
                    - account_id: eBqAoNchMLKigC_qZ5EdC
                      cache_response:
                        cache_state: STALE_CACHE
                        is_sync_enabled: true
                        last_updated_at: 1773917288158
                        ttl_left: 258234442
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: .
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ''
                      git_default_branch_update_error:
                        explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                        hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ''
                      git_path: .harness/policy.rego
                      git_repo: github.com/org/repo,omitempty
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      parent_unique_id: Aliquam est.
                      polciy_size_in_bytes: 4204212102816286000
                      policy_package_name: Aspernatur in molestias recusandae odit quia.
                      policy_set_count: 3
                      project_id: test-project
                      rego: ''
                      unique_id: Ex consequuntur saepe.
                      updated: 1636669297674
                    - account_id: eBqAoNchMLKigC_qZ5EdC
                      cache_response:
                        cache_state: STALE_CACHE
                        is_sync_enabled: true
                        last_updated_at: 1773917288158
                        ttl_left: 258234442
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: .
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ''
                      git_default_branch_update_error:
                        explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                        hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ''
                      git_path: .harness/policy.rego
                      git_repo: github.com/org/repo,omitempty
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      parent_unique_id: Aliquam est.
                      polciy_size_in_bytes: 4204212102816286000
                      policy_package_name: Aspernatur in molestias recusandae odit quia.
                      policy_set_count: 3
                      project_id: test-project
                      rego: ''
                      unique_id: Ex consequuntur saepe.
                      updated: 1636669297674
                    - account_id: eBqAoNchMLKigC_qZ5EdC
                      cache_response:
                        cache_state: STALE_CACHE
                        is_sync_enabled: true
                        last_updated_at: 1773917288158
                        ttl_left: 258234442
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: .
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ''
                      git_default_branch_update_error:
                        explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                        hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ''
                      git_path: .harness/policy.rego
                      git_repo: github.com/org/repo,omitempty
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      parent_unique_id: Aliquam est.
                      polciy_size_in_bytes: 4204212102816286000
                      policy_package_name: Aspernatur in molestias recusandae odit quia.
                      policy_set_count: 3
                      project_id: test-project
                      rego: ''
                      unique_id: Ex consequuntur saepe.
                      updated: 1636669297674
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Ratione voluptas.
                    polciy_size_in_bytes: 4684963588245291000
                    policy_package_name: Est cupiditate aliquam dolor rerum deserunt.
                    project_id: test-project
                    rego: ''
                    severity: warning
                    unique_id: Quam eos tempore.
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    imported_policies:
                    - account_id: eBqAoNchMLKigC_qZ5EdC
                      cache_response:
                        cache_state: STALE_CACHE
                        is_sync_enabled: true
                        last_updated_at: 1773917288158
                        ttl_left: 258234442
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: .
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ''
                      git_default_branch_update_error:
                        explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                        hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ''
                      git_path: .harness/policy.rego
                      git_repo: github.com/org/repo,omitempty
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      parent_unique_id: Aliquam est.
                      polciy_size_in_bytes: 4204212102816286000
                      policy_package_name: Aspernatur in molestias recusandae odit quia.
                      policy_set_count: 3
                      project_id: test-project
                      rego: ''
                      unique_id: Ex consequuntur saepe.
                      updated: 1636669297674
                    - account_id: eBqAoNchMLKigC_qZ5EdC
                      cache_response:
                        cache_state: STALE_CACHE
                        is_sync_enabled: true
                        last_updated_at: 1773917288158
                        ttl_left: 258234442
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: .
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ''
                      git_default_branch_update_error:
                        explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                        hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ''
                      git_path: .harness/policy.rego
                      git_repo: github.com/org/repo,omitempty
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      parent_unique_id: Aliquam est.
                      polciy_size_in_bytes: 4204212102816286000
                      policy_package_name: Aspernatur in molestias recusandae odit quia.
                      policy_set_count: 3
                      project_id: test-project
                      rego: ''
                      unique_id: Ex consequuntur saepe.
                      updated: 1636669297674
                    - account_id: eBqAoNchMLKigC_qZ5EdC
                      cache_response:
                        cache_state: STALE_CACHE
                        is_sync_enabled: true
                        last_updated_at: 1773917288158
                        ttl_left: 258234442
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: .
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ''
                      git_default_branch_update_error:
                        explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                        hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ''
                      git_path: .harness/policy.rego
                      git_repo: github.com/org/repo,omitempty
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      parent_unique_id: Aliquam est.
                      polciy_size_in_bytes: 4204212102816286000
                      policy_package_name: Aspernatur in molestias recusandae odit quia.
                      policy_set_count: 3
                      project_id: test-project
                      rego: ''
                      unique_id: Ex consequuntur saepe.
                      updated: 1636669297674
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Ratione voluptas.
                    polciy_size_in_bytes: 4684963588245291000
                    policy_package_name: Est cupiditate aliquam dolor rerum deserunt.
                    project_id: test-project
                    rego: ''
                    severity: warning
                    unique_id: Quam eos tempore.
                    updated: 1636669297674
                  project_id: test-project
                  resource_groups:
                  - account_id: Ipsa animi sed molestiae eveniet.
                    created: 7309021134203126000
                    identifier: Reiciendis iure aut.
                    name: Magnam et iusto accusamus.
                    org_id: Minima voluptatem ut quam perferendis.
                    project_id: Aut nemo omnis quam autem.
                  - account_id: Ipsa animi sed molestiae eveniet.
                    created: 7309021134203126000
                    identifier: Reiciendis iure aut.
                    name: Magnam et iusto accusamus.
                    org_id: Minima voluptatem ut quam perferendis.
                    project_id: Aut nemo omnis quam autem.
                  - account_id: Ipsa animi sed molestiae eveniet.
                    created: 7309021134203126000
                    identifier: Reiciendis iure aut.
                    name: Magnam et iusto accusamus.
                    org_id: Minima voluptatem ut quam perferendis.
                    project_id: Aut nemo omnis quam autem.
                  - account_id: Ipsa animi sed molestiae eveniet.
                    created: 7309021134203126000
                    identifier: Reiciendis iure aut.
                    name: Magnam et iusto accusamus.
                    org_id: Minima voluptatem ut quam perferendis.
                    project_id: Aut nemo omnis quam autem.
                  type: pipeline
                  updated: 1636669297674
                  yaml_version: '0'
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  action: onrun
                  created: 1636669297674
                  description: Captures critical production policies
                  enabled: true
                  entity_selector: all_entities_in_scope
                  identifier: policyset-1
                  infra_params:
                    annotations:
                      Dolore odio expedita adipisci vel.: Molestiae consequuntur sint.
                      Iusto earum enim ea incidunt.: Officiis quam voluptates dolor aut.
                    connectorRef: account.k8s_connector
                    harnessImageConnectorRef: account.docker_connector
                    initTimeout: 10m
                    labels:
                      Modi quo dolorem sed facilis omnis.: Nihil voluptatem tempore nam qui accusamus.
                      Perspiciatis dignissimos asperiores et quia facilis.: Aut vel eveniet.
                    namespace: default
                    nodeSelector:
                      Consequatur dolorum minima molestiae aperiam repudiandae.: Pariatur ut architecto quisquam.
                      Doloremque possimus corporis.: Nihil hic exercitationem.
                    os: linux
                    poolName: vm-pool-1
                    resources:
                      limits:
                        cpu: 100m
                        memory: 128Mi
                      requests:
                        cpu: 100m
                        memory: 128Mi
                  infra_type: KubernetesDirect
                  name: Production Policies
                  org_id: test-org
                  policies:
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    imported_policies:
                    - account_id: eBqAoNchMLKigC_qZ5EdC
                      cache_response:
                        cache_state: STALE_CACHE
                        is_sync_enabled: true
                        last_updated_at: 1773917288158
                        ttl_left: 258234442
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: .
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ''
                      git_default_branch_update_error:
                        explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                        hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ''
                      git_path: .harness/policy.rego
                      git_repo: github.com/org/repo,omitempty
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      parent_unique_id: Aliquam est.
                      polciy_size_in_bytes: 4204212102816286000
                      policy_package_name: Aspernatur in molestias recusandae odit quia.
                      policy_set_count: 3
                      project_id: test-project
                      rego: ''
                      unique_id: Ex consequuntur saepe.
                      updated: 1636669297674
                    - account_id: eBqAoNchMLKigC_qZ5EdC
                      cache_response:
                        cache_state: STALE_CACHE
                        is_sync_enabled: true
                        last_updated_at: 1773917288158
                        ttl_left: 258234442
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: .
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ''
                      git_default_branch_update_error:
                        explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                        hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ''
                      git_path: .harness/policy.rego
                      git_repo: github.com/org/repo,omitempty
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      parent_unique_id: Aliquam est.
                      polciy_size_in_bytes: 4204212102816286000
                      policy_package_name: Aspernatur in molestias recusandae odit quia.
                      policy_set_count: 3
                      project_id: test-project
                      rego: ''
                      unique_id: Ex consequuntur saepe.
                      updated: 1636669297674
                    - account_id: eBqAoNchMLKigC_qZ5EdC
                      cache_response:
                        cache_state: STALE_CACHE
                        is_sync_enabled: true
                        last_updated_at: 1773917288158
                        ttl_left: 258234442
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: .
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ''
                      git_default_branch_update_error:
                        explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                        hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ''
                      git_path: .harness/policy.rego
                      git_repo: github.com/org/repo,omitempty
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      parent_unique_id: Aliquam est.
                      polciy_size_in_bytes: 4204212102816286000
                      policy_package_name: Aspernatur in molestias recusandae odit quia.
                      policy_set_count: 3
                      project_id: test-project
                      rego: ''
                      unique_id: Ex consequuntur saepe.
                      updated: 1636669297674
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Ratione voluptas.
                    polciy_size_in_bytes: 4684963588245291000
                    policy_package_name: Est cupiditate aliquam dolor rerum deserunt.
                    project_id: test-project
                    rego: ''
                    severity: warning
                    unique_id: Quam eos tempore.
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    imported_policies:
                    - account_id: eBqAoNchMLKigC_qZ5EdC
                      cache_response:
                        cache_state: STALE_CACHE
                        is_sync_enabled: true
                        last_updated_at: 1773917288158
                        ttl_left: 258234442
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: .
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ''
                      git_default_branch_update_error:
                        explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                        hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ''
                      git_path: .harness/policy.rego
                      git_repo: github.com/org/repo,omitempty
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      parent_unique_id: Aliquam est.
                      polciy_size_in_bytes: 4204212102816286000
                      policy_package_name: Aspernatur in molestias recusandae odit quia.
                      policy_set_count: 3
                      project_id: test-project
                      rego: ''
                      unique_id: Ex consequuntur saepe.
                      updated: 1636669297674
                    - account_id: eBqAoNchMLKigC_qZ5EdC
                      cache_response:
                        cache_state: STALE_CACHE
                        is_sync_enabled: true
                        last_updated_at: 1773917288158
                        ttl_left: 258234442
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: .
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ''
                      git_default_branch_update_error:
                        explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                        hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ''
                      git_path: .harness/policy.rego
                      git_repo: github.com/org/repo,omitempty
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      parent_unique_id: Aliquam est.
                      polciy_size_in_bytes: 4204212102816286000
                      policy_package_name: Aspernatur in molestias recusandae odit quia.
                      policy_set_count: 3
                      project_id: test-project
                      rego: ''
                      unique_id: Ex consequuntur saepe.
                      updated: 1636669297674
                    - account_id: eBqAoNchMLKigC_qZ5EdC
                      cache_response:
                        cache_state: STALE_CACHE
                        is_sync_enabled: true
                        last_updated_at: 1773917288158
                        ttl_left: 258234442
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: .
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ''
                      git_default_branch_update_error:
                        explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                        hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ''
                      git_path: .harness/policy.rego
                      git_repo: github.com/org/repo,omitempty
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      parent_unique_id: Aliquam est.
                      polciy_size_in_bytes: 4204212102816286000
                      policy_package_name: Aspernatur in molestias recusandae odit quia.
                      policy_set_count: 3
                      project_id: test-project
                      rego: ''
                      unique_id: Ex consequuntur saepe.
                      updated: 1636669297674
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Ratione voluptas.
                    polciy_size_in_bytes: 4684963588245291000
                    policy_package_name: Est cupiditate aliquam dolor rerum deserunt.
                    project_id: test-project
                    rego: ''
                    severity: warning
                    unique_id: Quam eos tempore.
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    imported_policies:
                    - account_id: eBqAoNchMLKigC_qZ5EdC
                      cache_response:
                        cache_state: STALE_CACHE
                        is_sync_enabled: true
                        last_updated_at: 1773917288158
                        ttl_left: 258234442
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: .
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ''
                      git_default_branch_update_error:
                        explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                        hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ''
                      git_path: .harness/policy.rego
                      git_repo: github.com/org/repo,omitempty
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      parent_unique_id: Aliquam est.
                      polciy_size_in_bytes: 4204212102816286000
                      policy_package_name: Aspernatur in molestias recusandae odit quia.
                      policy_set_count: 3
                      project_id: test-project
                      rego: ''
                      unique_id: Ex consequuntur saepe.
                      updated: 1636669297674
                    - account_id: eBqAoNchMLKigC_qZ5EdC
                      cache_response:
                        cache_state: STALE_CACHE
                        is_sync_enabled: true
                        last_updated_at: 1773917288158
                        ttl_left: 258234442
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: .
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ''
                      git_default_branch_update_error:
                        explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                        hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ''
                      git_path: .harness/policy.rego
                      git_repo: github.com/org/repo,omitempty
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      parent_unique_id: Aliquam est.
                      polciy_size_in_bytes: 4204212102816286000
                      policy_package_name: Aspernatur in molestias recusandae odit quia.
                      policy_set_count: 3
                      project_id: test-project
                      rego: ''
                      unique_id: Ex consequuntur saepe.
                      updated: 1636669297674
                    - account_id: eBqAoNchMLKigC_qZ5EdC
                      cache_response:
                        cache_state: STALE_CACHE
                        is_sync_enabled: true
                        last_updated_at: 1773917288158
                        ttl_left: 258234442
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: .
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ''
                      git_default_branch_update_error:
                        explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                        hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ''
                      git_path: .harness/policy.rego
                      git_repo: github.com/org/repo,omitempty
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      parent_unique_id: Aliquam est.
                      polciy_size_in_bytes: 4204212102816286000
                      policy_package_name: Aspernatur in molestias recusandae odit quia.
                      policy_set_count: 3
                      project_id: test-project
                      rego: ''
                      unique_id: Ex consequuntur saepe.
                      updated: 1636669297674
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Ratione voluptas.
                    polciy_size_in_bytes: 4684963588245291000
                    policy_package_name: Est cupiditate aliquam dolor rerum deserunt.
                    project_id: test-project
                    rego: ''
                    severity: warning
                    unique_id: Quam eos tempore.
                    updated: 1636669297674
                  project_id: test-project
                  resource_groups:
                  - account_id: Ipsa animi sed molestiae eveniet.
                    created: 7309021134203126000
                    identifier: Reiciendis iure aut.
                    name: Magnam et iusto accusamus.
                    org_id: Minima voluptatem ut quam perferendis.
                    project_id: Aut nemo omnis quam autem.
                  - account_id: Ipsa animi sed molestiae eveniet.
                    created: 7309021134203126000
                    identifier: Reiciendis iure aut.
                    name: Magnam et iusto accusamus.
                    org_id: Minima voluptatem ut quam perferendis.
                    project_id: Aut nemo omnis quam autem.
                  - account_id: Ipsa animi sed molestiae eveniet.
                    created: 7309021134203126000
                    identifier: Reiciendis iure aut.
                    name: Magnam et iusto accusamus.
                    org_id: Minima voluptatem ut quam perferendis.
                    project_id: Aut nemo omnis quam autem.
                  - account_id: Ipsa animi sed molestiae eveniet.
                    created: 7309021134203126000
                    identifier: Reiciendis iure aut.
                    name: Magnam et iusto accusamus.
                    org_id: Minima voluptatem ut quam perferendis.
                    project_id: Aut nemo omnis quam autem.
                  type: pipeline
                  updated: 1636669297674
                  yaml_version: '0'
              example:
              - account_id: eBqAoNchMLKigC_qZ5EdC
                action: onrun
                created: 1636669297674
                description: Captures critical production policies
                enabled: true
                entity_selector: all_entities_in_scope
                identifier: policyset-1
                infra_params:
                  annotations:
                    Dolore odio expedita adipisci vel.: Molestiae consequuntur sint.
                    Iusto earum enim ea incidunt.: Officiis quam voluptates dolor aut.
                  connectorRef: account.k8s_connector
                  harnessImageConnectorRef: account.docker_connector
                  initTimeout: 10m
                  labels:
                    Modi quo dolorem sed facilis omnis.: Nihil voluptatem tempore nam qui accusamus.
                    Perspiciatis dignissimos asperiores et quia facilis.: Aut vel eveniet.
                  namespace: default
                  nodeSelector:
                    Consequatur dolorum minima molestiae aperiam repudiandae.: Pariatur ut architecto quisquam.
                    Doloremque possimus corporis.: Nihil hic exercitationem.
                  os: linux
                  poolName: vm-pool-1
                  resources:
                    limits:
                      cpu: 100m
                      memory: 128Mi
                    requests:
                      cpu: 100m
                      memory: 128Mi
                infra_type: KubernetesDirect
                name: Production Policies
                org_id: test-org
                policies:
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  created: 1636669297674
                  git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                  git_connector_ref: .
                  git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                  git_file_url: ''
                  git_path: .harness/policy.rego
                  git_repo: github.com/org/repo,omitempty
                  identifier: policy-1
                  imported_policies:
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    cache_response:
                      cache_state: STALE_CACHE
                      is_sync_enabled: true
                      last_updated_at: 1773917288158
                      ttl_left: 258234442
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_default_branch: main
                    git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_url: ''
                    git_default_branch_update_error:
                      explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                      hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                    git_default_branch_updated: 1636669297674
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Aliquam est.
                    polciy_size_in_bytes: 4204212102816286000
                    policy_package_name: Aspernatur in molestias recusandae odit quia.
                    policy_set_count: 3
                    project_id: test-project
                    rego: ''
                    unique_id: Ex consequuntur saepe.
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    cache_response:
                      cache_state: STALE_CACHE
                      is_sync_enabled: true
                      last_updated_at: 1773917288158
                      ttl_left: 258234442
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_default_branch: main
                    git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_url: ''
                    git_default_branch_update_error:
                      explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                      hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                    git_default_branch_updated: 1636669297674
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Aliquam est.
                    polciy_size_in_bytes: 4204212102816286000
                    policy_package_name: Aspernatur in molestias recusandae odit quia.
                    policy_set_count: 3
                    project_id: test-project
                    rego: ''
                    unique_id: Ex consequuntur saepe.
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    cache_response:
                      cache_state: STALE_CACHE
                      is_sync_enabled: true
                      last_updated_at: 1773917288158
                      ttl_left: 258234442
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_default_branch: main
                    git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_url: ''
                    git_default_branch_update_error:
                      explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                      hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                    git_default_branch_updated: 1636669297674
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Aliquam est.
                    polciy_size_in_bytes: 4204212102816286000
                    policy_package_name: Aspernatur in molestias recusandae odit quia.
                    policy_set_count: 3
                    project_id: test-project
                    rego: ''
                    unique_id: Ex consequuntur saepe.
                    updated: 1636669297674
                  name: Pipeline Approval
                  org_id: test-org
                  parent_unique_id: Ratione voluptas.
                  polciy_size_in_bytes: 4684963588245291000
                  policy_package_name: Est cupiditate aliquam dolor rerum deserunt.
                  project_id: test-project
                  rego: ''
                  severity: warning
                  unique_id: Quam eos tempore.
                  updated: 1636669297674
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  created: 1636669297674
                  git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                  git_connector_ref: .
                  git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                  git_file_url: ''
                  git_path: .harness/policy.rego
                  git_repo: github.com/org/repo,omitempty
                  identifier: policy-1
                  imported_policies:
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    cache_response:
                      cache_state: STALE_CACHE
                      is_sync_enabled: true
                      last_updated_at: 1773917288158
                      ttl_left: 258234442
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_default_branch: main
                    git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_url: ''
                    git_default_branch_update_error:
                      explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                      hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                    git_default_branch_updated: 1636669297674
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Aliquam est.
                    polciy_size_in_bytes: 4204212102816286000
                    policy_package_name: Aspernatur in molestias recusandae odit quia.
                    policy_set_count: 3
                    project_id: test-project
                    rego: ''
                    unique_id: Ex consequuntur saepe.
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    cache_response:
                      cache_state: STALE_CACHE
                      is_sync_enabled: true
                      last_updated_at: 1773917288158
                      ttl_left: 258234442
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_default_branch: main
                    git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_url: ''
                    git_default_branch_update_error:
                      explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                      hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                    git_default_branch_updated: 1636669297674
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Aliquam est.
                    polciy_size_in_bytes: 4204212102816286000
                    policy_package_name: Aspernatur in molestias recusandae odit quia.
                    policy_set_count: 3
                    project_id: test-project
                    rego: ''
                    unique_id: Ex consequuntur saepe.
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    cache_response:
                      cache_state: STALE_CACHE
                      is_sync_enabled: true
                      last_updated_at: 1773917288158
                      ttl_left: 258234442
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_default_branch: main
                    git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_url: ''
                    git_default_branch_update_error:
                      explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                      hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                    git_default_branch_updated: 1636669297674
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Aliquam est.
                    polciy_size_in_bytes: 4204212102816286000
                    policy_package_name: Aspernatur in molestias recusandae odit quia.
                    policy_set_count: 3
                    project_id: test-project
                    rego: ''
                    unique_id: Ex consequuntur saepe.
                    updated: 1636669297674
                  name: Pipeline Approval
                  org_id: test-org
                  parent_unique_id: Ratione voluptas.
                  polciy_size_in_bytes: 4684963588245291000
                  policy_package_name: Est cupiditate aliquam dolor rerum deserunt.
                  project_id: test-project
                  rego: ''
                  severity: warning
                  unique_id: Quam eos tempore.
                  updated: 1636669297674
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  created: 1636669297674
                  git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                  git_connector_ref: .
                  git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                  git_file_url: ''
                  git_path: .harness/policy.rego
                  git_repo: github.com/org/repo,omitempty
                  identifier: policy-1
                  imported_policies:
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    cache_response:
                      cache_state: STALE_CACHE
                      is_sync_enabled: true
                      last_updated_at: 1773917288158
                      ttl_left: 258234442
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_default_branch: main
                    git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_url: ''
                    git_default_branch_update_error:
                      explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                      hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                    git_default_branch_updated: 1636669297674
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Aliquam est.
                    polciy_size_in_bytes: 4204212102816286000
                    policy_package_name: Aspernatur in molestias recusandae odit quia.
                    policy_set_count: 3
                    project_id: test-project
                    rego: ''
                    unique_id: Ex consequuntur saepe.
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    cache_response:
                      cache_state: STALE_CACHE
                      is_sync_enabled: true
                      last_updated_at: 1773917288158
                      ttl_left: 258234442
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_default_branch: main
                    git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_url: ''
                    git_default_branch_update_error:
                      explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                      hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                    git_default_branch_updated: 1636669297674
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Aliquam est.
                    polciy_size_in_bytes: 4204212102816286000
                    policy_package_name: Aspernatur in molestias recusandae odit quia.
                    policy_set_count: 3
                    project_id: test-project
                    rego: ''
                    unique_id: Ex consequuntur saepe.
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    cache_response:
                      cache_state: STALE_CACHE
                      is_sync_enabled: true
                      last_updated_at: 1773917288158
                      ttl_left: 258234442
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_default_branch: main
                    git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_url: ''
                    git_default_branch_update_error:
                      explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                      hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                    git_default_branch_updated: 1636669297674
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Aliquam est.
                    polciy_size_in_bytes: 4204212102816286000
                    policy_package_name: Aspernatur in molestias recusandae odit quia.
                    policy_set_count: 3
                    project_id: test-project
                    rego: ''
                    unique_id: Ex consequuntur saepe.
                    updated: 1636669297674
                  name: Pipeline Approval
                  org_id: test-org
                  parent_unique_id: Ratione voluptas.
                  polciy_size_in_bytes: 4684963588245291000
                  policy_package_name: Est cupiditate aliquam dolor rerum deserunt.
                  project_id: test-project
                  rego: ''
                  severity: warning
                  unique_id: Quam eos tempore.
                  updated: 1636669297674
                project_id: test-project
                resource_groups:
                - account_id: Ipsa animi sed molestiae eveniet.
                  created: 7309021134203126000
                  identifier: Reiciendis iure aut.
                  name: Magnam et iusto accusamus.
                  org_id: Minima voluptatem ut quam perferendis.
                  project_id: Aut nemo omnis quam autem.
                - account_id: Ipsa animi sed molestiae eveniet.
                  created: 7309021134203126000
                  identifier: Reiciendis iure aut.
                  name: Magnam et iusto accusamus.
                  org_id: Minima voluptatem ut quam perferendis.
                  project_id: Aut nemo omnis quam autem.
                - account_id: Ipsa animi sed molestiae eveniet.
                  created: 7309021134203126000
                  identifier: Reiciendis iure aut.
                  name: Magnam et iusto accusamus.
                  org_id: Minima voluptatem ut quam perferendis.
                  project_id: Aut nemo omnis quam autem.
                - account_id: Ipsa animi sed molestiae eveniet.
                  created: 7309021134203126000
                  identifier: Reiciendis iure aut.
                  name: Magnam et iusto accusamus.
                  org_id: Minima voluptatem ut quam perferendis.
                  project_id: Aut nemo omnis quam autem.
                type: pipeline
                updated: 1636669297674
                yaml_version: '0'
              - account_id: eBqAoNchMLKigC_qZ5EdC
                action: onrun
                created: 1636669297674
                description: Captures critical production policies
                enabled: true
                entity_selector: all_entities_in_scope
                identifier: policyset-1
                infra_params:
                  annotations:
                    Dolore odio expedita adipisci vel.: Molestiae consequuntur sint.
                    Iusto earum enim ea incidunt.: Officiis quam voluptates dolor aut.
                  connectorRef: account.k8s_connector
                  harnessImageConnectorRef: account.docker_connector
                  initTimeout: 10m
                  labels:
                    Modi quo dolorem sed facilis omnis.: Nihil voluptatem tempore nam qui accusamus.
                    Perspiciatis dignissimos asperiores et quia facilis.: Aut vel eveniet.
                  namespace: default
                  nodeSelector:
                    Consequatur dolorum minima molestiae aperiam repudiandae.: Pariatur ut architecto quisquam.
                    Doloremque possimus corporis.: Nihil hic exercitationem.
                  os: linux
                  poolName: vm-pool-1
                  resources:
                    limits:
                      cpu: 100m
                      memory: 128Mi
                    requests:
                      cpu: 100m
                      memory: 128Mi
                infra_type: KubernetesDirect
                name: Production Policies
                org_id: test-org
                policies:
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  created: 1636669297674
                  git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                  git_connector_ref: .
                  git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                  git_file_url: ''
                  git_path: .harness/policy.rego
                  git_repo: github.com/org/repo,omitempty
                  identifier: policy-1
                  imported_policies:
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    cache_response:
                      cache_state: STALE_CACHE
                      is_sync_enabled: true
                      last_updated_at: 1773917288158
                      ttl_left: 258234442
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_default_branch: main
                    git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_url: ''
                    git_default_branch_update_error:
                      explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                      hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                    git_default_branch_updated: 1636669297674
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Aliquam est.
                    polciy_size_in_bytes: 4204212102816286000
                    policy_package_name: Aspernatur in molestias recusandae odit quia.
                    policy_set_count: 3
                    project_id: test-project
                    rego: ''
                    unique_id: Ex consequuntur saepe.
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    cache_response:
                      cache_state: STALE_CACHE
                      is_sync_enabled: true
                      last_updated_at: 1773917288158
                      ttl_left: 258234442
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_default_branch: main
                    git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_url: ''
                    git_default_branch_update_error:
                      explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                      hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                    git_default_branch_updated: 1636669297674
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Aliquam est.
                    polciy_size_in_bytes: 4204212102816286000
                    policy_package_name: Aspernatur in molestias recusandae odit quia.
                    policy_set_count: 3
                    project_id: test-project
                    rego: ''
                    unique_id: Ex consequuntur saepe.
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    cache_response:
                      cache_state: STALE_CACHE
                      is_sync_enabled: true
                      last_updated_at: 1773917288158
                      ttl_left: 258234442
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_default_branch: main
                    git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_url: ''
                    git_default_branch_update_error:
                      explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                      hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                    git_default_branch_updated: 1636669297674
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Aliquam est.
                    polciy_size_in_bytes: 4204212102816286000
                    policy_package_name: Aspernatur in molestias recusandae odit quia.
                    policy_set_count: 3
                    project_id: test-project
                    rego: ''
                    unique_id: Ex consequuntur saepe.
                    updated: 1636669297674
                  name: Pipeline Approval
                  org_id: test-org
                  parent_unique_id: Ratione voluptas.
                  polciy_size_in_bytes: 4684963588245291000
                  policy_package_name: Est cupiditate aliquam dolor rerum deserunt.
                  project_id: test-project
                  rego: ''
                  severity: warning
                  unique_id: Quam eos tempore.
                  updated: 1636669297674
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  created: 1636669297674
                  git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                  git_connector_ref: .
                  git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                  git_file_url: ''
                  git_path: .harness/policy.rego
                  git_repo: github.com/org/repo,omitempty
                  identifier: policy-1
                  imported_policies:
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    cache_response:
                      cache_state: STALE_CACHE
                      is_sync_enabled: true
                      last_updated_at: 1773917288158
                      ttl_left: 258234442
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_default_branch: main
                    git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_url: ''
                    git_default_branch_update_error:
                      explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                      hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                    git_default_branch_updated: 1636669297674
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Aliquam est.
                    polciy_size_in_bytes: 4204212102816286000
                    policy_package_name: Aspernatur in molestias recusandae odit quia.
                    policy_set_count: 3
                    project_id: test-project
                    rego: ''
                    unique_id: Ex consequuntur saepe.
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    cache_response:
                      cache_state: STALE_CACHE
                      is_sync_enabled: true
                      last_updated_at: 1773917288158
                      ttl_left: 258234442
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_default_branch: main
                    git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_url: ''
                    git_default_branch_update_error:
                      explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                      hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                    git_default_branch_updated: 1636669297674
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Aliquam est.
                    polciy_size_in_bytes: 4204212102816286000
                    policy_package_name: Aspernatur in molestias recusandae odit quia.
                    policy_set_count: 3
                    project_id: test-project
                    rego: ''
                    unique_id: Ex consequuntur saepe.
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    cache_response:
                      cache_state: STALE_CACHE
                      is_sync_enabled: true
                      last_updated_at: 1773917288158
                      ttl_left: 258234442
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_default_branch: main
                    git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_url: ''
                    git_default_branch_update_error:
                      explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                      hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                      message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                    git_default_branch_updated: 1636669297674
                    git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_file_url: ''
                    git_path: .harness/policy.rego
                    git_repo: github.com/org/repo,omitempty
                    identifier: policy-1
                    name: Pipeline Approval
                    org_id: test-org
                    parent_unique_id: Aliquam est.
                    polciy_size_in_bytes: 4204212102816286000
                    policy_package_name: Aspernatur in molestias recusandae odit quia.
                    policy_set_count: 3
                    project_id: test-project
                    rego: ''
                    unique_id: Ex consequuntur saepe.
                    updated: 1636669297674
                  name: Pipeline Approval
                  org_id: test-org
                  parent_unique_id: Ratione voluptas.
                  polciy_size_in_bytes: 4684963588245291000
                  policy_package_name: Est cupiditate aliquam dolor rerum deserunt.
                  project_id: test-project
                  rego: ''
                  severity: warning
                  unique_id: Quam eos tempore.
                  updated: 1636669297674
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  created: 1636669297674
                  git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                  git_connector_ref: .
                  git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                  git_file_url: ''
                  git_path: .harness/policy.rego
                  git_repo: github.com/org/repo,omitempty
                  identifier: policy-1
                  imported_policies:
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    cache_response:
                      cache_state: STALE_CACHE
                      is_sync_enabled: true
                      last_updated_at: 1773917288158
                      ttl_left: 258234442
                    created: 1636669297674
                    git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_connector_ref: .
                    git_default_branch: main
                    git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                    git_default_branch_file_url: ''
                    git_default_branch_update_error:
                      explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
[...]
