openapi: 3.2.0
info:
  title: Harness Compliance Stats API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: ComplianceStats
paths:
  /v1/orgs/{org}/projects/{project}/compliance-stats/evaluation-breakdown:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    post:
      summary: Compliance Results Stats Overview Severity
      responses:
        '200':
          $ref: '#/components/responses/ComplianceResultsEvaluationBreakdownResponse'
        '500':
          description: Internal Server Error
      operationId: postComplianceResultStatsOverview
      x-stoplight:
        id: v8wrumipa2mwv
      security:
      - x-api-key: []
      description: Post call to show Compliance Results for Compliance Dashboard Overview
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      - schema:
          type: string
        in: query
        name: start_time
        description: Start time for the query, accepts timestamp epoch UTC
      - schema:
          type: string
        in: query
        name: end_time
        description: End time for the query, accepts timestamp epoch UTC
      requestBody:
        $ref: '#/components/requestBodies/ComplianceResultsOverviewRequestBody'
      tags:
      - ComplianceStats
  /v1/orgs/{org}/projects/{project}/compliance-stats/checks:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    post:
      summary: Fetch Compliance Result Stats By Compliance Checks
      security:
      - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/ComplianceChecksStatsResponse'
        '500':
          description: Internal Server Error
      operationId: getComplianceResultStatsByComplianceChecks
      x-stoplight:
        id: 5jio4bts674f8
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      - schema:
          type: string
        in: query
        name: start_time
        description: Start time for the query, accepts timestamp
      - schema:
          type: string
        in: query
        name: end_time
        description: End time for the query, accepts timestamp
      - $ref: '#/components/parameters/Limit6'
      - $ref: '#/components/parameters/Page2'
      - $ref: '#/components/parameters/Order2'
      - schema:
          type: string
        in: query
        name: sort
        description: 'Parameter on the basis of which sorting is done, known sorts: failed'
      requestBody:
        $ref: '#/components/requestBodies/FetchComplianeResultChecksStatsRequestBody'
      tags:
      - ComplianceStats
  /v1/orgs/{org}/projects/{project}/compliance-stats/evaluation-breakdown/artifacts:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    post:
      summary: Compliance Results Stats Overview Evaluation Breakdown Artifacts
      tags:
      - ComplianceStats
      security:
      - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/ComplianceResultsEvaluationBreakdownByArtifactsResponse'
        '500':
          description: Internal Server Error
      operationId: postComplianceResultStatsEvaluationBreakdownArtifactType
      x-stoplight:
        id: 2m8yg1vqxn5ya
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      - schema:
          type: string
        in: query
        name: start_time
      - schema:
          type: string
        in: query
        name: end_time
      requestBody:
        $ref: '#/components/requestBodies/ComplianceResultsEvaluationBreakdownByArtifactsRequest'
  /v1/orgs/{org}/projects/{project}/compliance-stats/evaluation-trend:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    post:
      summary: Compliance Evaluation Trend API
      responses:
        '200':
          $ref: '#/components/responses/ComplianceEvaluationTrendResponse'
      operationId: get-compliance-evaluation-trends
      security:
      - x-api-key: []
      x-stoplight:
        id: 4yhrxle7b01jd
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      - schema:
          type: string
        in: query
        name: start_time
        description: start time in epoch timestamp ms
      - schema:
          type: string
        in: query
        name: end_time
        description: end time in epoch timestamp ms
      - schema:
          type: string
        in: query
        name: aggregation_period
        description: time in epoch timestamp depicting the window length in ms
      requestBody:
        $ref: '#/components/requestBodies/ComplianceEvaluationTrendRequest'
      tags:
      - ComplianceStats
components:
  requestBodies:
    ComplianceResultsOverviewRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ComplianceResultFilter'
      description: ''
    ComplianceResultsEvaluationBreakdownByArtifactsRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ComplianceResultFilter'
    ComplianceEvaluationTrendRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ComplianceResultFilter'
    FetchComplianeResultChecksStatsRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ComplianceResultFilter'
  parameters:
    Page2:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
        minimum: 0
      description: "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t"
    Limit6:
      name: limit
      in: query
      schema:
        type: integer
        default: 30
        maximum: 1000
        minimum: 1
      description: Number of items to return per page.
    OrgParam1:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Harness organization ID
    Order2:
      name: order
      in: query
      required: false
      schema:
        type: string
        enum:
        - ASC
        - DESC
        default: ASC
      description: Order on the basis of which sorting is done.
    AccountHeader6:
      name: Harness-Account
      in: header
      required: true
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
    ProjectParam1:
      in: path
      required: true
      schema:
        type: string
      description: Harness project ID
      name: project
  responses:
    ComplianceEvaluationTrendResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ComplianceEvaluationTrend'
    ComplianceResultsEvaluationBreakdownByArtifactsResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ArtifactComplianceMetrics'
    ComplianceResultsEvaluationBreakdownResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ComplianceResultsEvaluationBreakdown'
    ComplianceChecksStatsResponse:
      description: ''
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ComplianceChecksMetrics'
  schemas:
    ComplianceEvaluationTrend:
      title: ComplianceEvaluationTrend
      x-stoplight:
        id: pjgvs47v5rtej
      type: object
      description: Data point for compliane evaluation trend api
      properties:
        window_start_time:
          type: string
          x-stoplight:
            id: rmrtkj4ikb0ov
        window_end_time:
          type: string
          x-stoplight:
            id: 159g6x7sv80gx
        passed:
          type: integer
          x-stoplight:
            id: 3plfwztlj4pki
        failed:
          type: integer
          x-stoplight:
            id: 5prsa89cck6v6
    ComplianceCheckSeverity:
      title: ComplianceCheckSeverity
      type: string
      x-stoplight:
        id: kpbii4pjiw1ff
      enum:
      - CRITICAL
      - HIGH
      - MEDIUM
      - LOW
    ComplianceScanType:
      title: ComplianceScanType
      x-stoplight:
        id: xofqrlg94b1o5
      type: string
      enum:
      - REPOSITORY
      - CICD
      description: Type of scan on the source like Repository scan or Worklfow scan
    ArtifactComplianceMetrics:
      title: ArtifactComplianceMetrics
      x-stoplight:
        id: 242scbkezm5gm
      type: object
      x-tags:
      - ComplianceResults
      description: Stores artifact type vs passed failed count
      properties:
        artifactType:
          type: string
          enum:
          - REPOSITORY
          - WORKFLOW
        passed:
          type: integer
          x-stoplight:
            id: b5cstllpizhou
        failed:
          type: integer
          x-stoplight:
            id: 2kv0hqe1s1ove
    SeverityComplianceMetrics:
      title: SeverityComplianceMetrics
      x-stoplight:
        id: i4qcivi1ic7hu
      type: object
      description: 'Stores severity vs failure count '
      properties:
        severity:
          $ref: '#/components/schemas/ComplianceCheckSeverity'
        failed:
          type: integer
          x-stoplight:
            id: yu6c57ls9hgps
    ComplianceChecksMetrics:
      title: ComplianceChecksMetrics
      x-stoplight:
        id: ot48foz9dg8kj
      type: object
      description: Stores Compliance Checks vs failure count
      x-tags:
      - ComplianceResults
      properties:
        compliance_id:
          type: string
          x-stoplight:
            id: o7yevh9673o0b
        failed:
          type: integer
          x-stoplight:
            id: lqtwjy17p9p4m
        tags:
          type: array
          x-stoplight:
            id: 6jdp7bf65d36h
          items:
            x-stoplight:
              id: 6bwje7kr6z4xq
            type: string
        standards:
          type: array
          x-stoplight:
            id: 8g3btgxi6g11o
          items:
            x-stoplight:
              id: sctata4ze1rmz
            type: string
        title:
          type: string
          x-stoplight:
            id: vhtwdq312xu3r
    ComplianceResultFilter:
      type: object
      x-examples:
        Example 1:
          standards:
          - OSWAP
          severity: High
          result: Pass/Fail/Unknown
          compliance_id: 1.1.1
      x-stoplight:
        id: vi62tlx38whfy
      properties:
        standards:
          type: array
          items:
            $ref: '#/components/schemas/ComplianceStandardType'
        severity:
          $ref: '#/components/schemas/ComplianceCheckSeverity'
        status:
          $ref: '#/components/schemas/ComplianceResultStatus'
        compliance_id:
          type: string
        search_term:
          type: string
          x-stoplight:
            id: 42wz9mcka07j4
        scan_types:
          x-stoplight:
            id: kp8bgb4ba4i1q
          type: array
          items:
            $ref: '#/components/schemas/ComplianceScanType'
    ComplianceResultsEvaluationBreakdown:
      title: ComplianceResultsEvaluationBreakdown
      x-stoplight:
        id: j3aiueawgux7b
      type: object
      description: Powers Compliance Result EvaluationBreakdown
      properties:
        passed:
          type: integer
          x-stoplight:
            id: 3zs88xgwugylw
        failed:
          type: integer
          x-stoplight:
            id: 249xuf23b0qjx
        severity_breakdown:
          type: array
          x-stoplight:
            id: m2ju4nhsgkoub
          items:
            $ref: '#/components/schemas/SeverityComplianceMetrics'
    ComplianceResultStatus:
      title: ComplianceResultStatus
      type: string
      x-stoplight:
        id: g7eq9rgfjalfb
      enum:
      - PASSED
      - FAILED
      - UNKNOWN
    ComplianceStandardType:
      title: ComplianceStandardType
      type: string
      x-stoplight:
        id: hqwyia5x65e2x
      enum:
      - CIS
      - OWASP
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
