openapi: 3.2.0
info:
  title: Harness Streaming Destinations API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Streaming Destinations
  description: This contains APIs for Streaming Destinations.
paths:
  /v1/streaming-destinations:
    parameters: []
    post:
      summary: Create a Streaming Destination
      operationId: create-streaming-destinations
      description: Creates a custom Streaming Destination
      parameters:
      - $ref: '#/components/parameters/AccountHeader3'
      security:
      - x-api-key: []
      responses:
        '201':
          $ref: '#/components/responses/StreamingDestinationResponse'
      requestBody:
        $ref: '#/components/requestBodies/CreateStreamingDestinationRequest'
      x-internal: true
      tags:
      - Streaming Destinations
    get:
      summary: List Streaming Destinations
      operationId: get-streaming-destinations
      responses:
        '200':
          $ref: '#/components/responses/StreamingDestinationListResponse'
      parameters:
      - $ref: '#/components/parameters/AccountHeader3'
      - $ref: '#/components/parameters/PageIndex'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/SearchTerm'
      - $ref: '#/components/parameters/Status'
      description: Get list of Streaming Destinations
      security:
      - x-api-key: []
      tags:
      - Streaming Destinations
      x-internal: true
  /v1/streaming-destinations/aggregate:
    get:
      summary: List Streaming Destinations
      operationId: getStreamingDestinationsAggregate
      responses:
        '200':
          $ref: '#/components/responses/StreamingDestinationAggregateListResponse'
      parameters:
      - $ref: '#/components/parameters/AccountHeader3'
      - $ref: '#/components/parameters/PageIndex'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/SearchTerm'
      - $ref: '#/components/parameters/Status'
      description: Get list of Streaming Destinations
      security:
      - x-api-key: []
      tags:
      - Streaming Destinations
      x-internal: true
  /v1/streaming-destinations/{streaming-destination}:
    parameters:
    - $ref: '#/components/parameters/StreamingDestinationParam'
    put:
      summary: Update a Streaming Destination
      operationId: update-streaming-destination
      parameters:
      - $ref: '#/components/parameters/AccountHeader3'
      requestBody:
        $ref: '#/components/requestBodies/CreateStreamingDestinationRequest'
      responses:
        '200':
          $ref: '#/components/responses/StreamingDestinationResponse'
      security:
      - x-api-key: []
      tags:
      - Streaming Destinations
      x-internal: true
    delete:
      summary: Delete a Streaming Destination
      operationId: delete-disabled-streaming-destination
      description: Deletes an existing and disabled Streaming Destination
      parameters:
      - $ref: '#/components/parameters/AccountHeader3'
      security:
      - x-api-key: []
      responses:
        '204':
          $ref: '#/components/responses/StreamingDestinationResponse'
      x-internal: true
      tags:
      - Streaming Destinations
    get:
      summary: Get a Streaming Destination
      operationId: get-streaming-destination
      parameters:
      - $ref: '#/components/parameters/AccountHeader3'
      security:
      - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/StreamingDestinationResponse'
      x-internal: true
      tags:
      - Streaming Destinations
  /v1/streaming-destinations/{streaming-destination}/validate-unique-identifier:
    parameters:
    - name: streaming-destination
      in: path
      required: true
      schema:
        type: string
      description: Streaming Destination identifier
    get:
      summary: Validate Uniqueness of Identifier
      tags:
      - Streaming Destinations
      responses:
        '200':
          $ref: '#/components/responses/StreamingDestinationValidateResponse'
          headers: {}
      operationId: validateUniqueIdentifier
      description: Validate uniqueness of identifier for Streaming Destination
      parameters:
      - $ref: '#/components/parameters/AccountHeader3'
      security:
      - x-api-key: []
      x-internal: true
  /v1/streaming-destinations/cards:
    get:
      summary: Your GET endpoint
      tags:
      - Streaming Destinations
      responses:
        '200':
          $ref: '#/components/responses/StreamingDestinationCardsResponse'
      operationId: get-streaming-destinations-cards
      x-internal: true
      description: Get the info for cards on streaming destination page
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader3'
components:
  parameters:
    PageIndex:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: 'Pagination page number strategy: Specify the page number within the paginated collection related to the number of items on each page.'
    StreamingDestinationParam:
      name: streaming-destination
      in: path
      required: true
      schema:
        type: string
      description: Streaming Destination identifier
    Order:
      name: order
      in: query
      required: false
      schema:
        type: string
        enum:
        - ASC
        - DESC
      description: Order on the basis of which sorting is done.
    Sort:
      name: sort
      in: query
      required: false
      schema:
        type: string
        enum:
        - identifier
        - name
        - created
        - updated
      description: Parameter on the basis of which sorting is done.
    AccountHeader3:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to.
    SearchTerm:
      name: search_term
      in: query
      required: false
      schema:
        type: string
      description: This would be used to filter resources having attributes matching the search term.
    Status:
      name: status
      in: query
      required: false
      schema:
        type: string
      description: Status of the Streaming Destination
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 30
        maximum: 100
      description: 'Pagination: Number of items to return.'
  schemas:
    FailureInfoCard:
      title: FailureCard
      x-stoplight:
        id: a2d05f2010784
      type: object
      description: Info about failure in streaming attempt
      properties:
        count:
          type: integer
          description: Number of streaming destinations that have failure
          format: int64
    StreamingDestinationDTO:
      title: StreamingDestinationDTO
      x-stoplight:
        id: ooye81jxpefty
      type: object
      description: Streaming Destination model
      properties:
        identifier:
          type: string
          description: Streaming Destination identifier
        name:
          type: string
          description: Streaming Destination name
        status:
          $ref: '#/components/schemas/StreamingDestinationStatus'
        connector_ref:
          type: string
          description: Streaming Destination scoped connector reference identifier
        spec:
          $ref: '#/components/schemas/StreamingDestinationSpecDTO'
        description:
          type: string
          maxLength: 1024
          description: Description for Streaming Destination
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Tags for Streaming Destination
      required:
      - identifier
      - name
      - status
      - connector_ref
      - spec
    StatusWiseCount:
      title: StatusWiseCount
      x-stoplight:
        id: 2ad155c277a03
      type: object
      description: Streaming Destination count by status card
      properties:
        status:
          $ref: '#/components/schemas/StreamingDestinationStatus'
        count:
          type: integer
          description: Number of streaming destinations at the status
    LastStreamedCard:
      title: LastStreamedInfo
      x-stoplight:
        id: a35601e416967
      type: object
      description: Info about last successfull streaming attempt
      properties:
        lastStreamedAt:
          type: integer
          format: int64
          description: Timestamp of last successfull streaming attempt
    StreamingDestinationResponse:
      title: StreamingDestinationResponse
      x-stoplight:
        id: rulrehs9nk5a3
      type: object
      description: Streaming Destination response model
      properties:
        streaming_destination:
          $ref: '#/components/schemas/StreamingDestinationDTO'
        created:
          type: integer
          format: int64
          description: Created time of the Streaming Destination
        updated:
          type: integer
          format: int64
          description: Last updated time of the Streaming Destination
        status_updated:
          type: integer
          format: int64
          description: Last updated time of the Streaming Destination status
      required:
      - streaming_destination
    StreamingDestinationSpecDTO:
      title: StreamingDestinationSpecDTO
      x-stoplight:
        id: s4mguy0st7rtt
      type: object
      discriminator:
        propertyName: type
        mapping:
          AWS_S3: '#/components/schemas/AwsS3StreamingDestinationSpecDTO'
      properties:
        type:
          type: string
          enum:
          - AWS_S3
          description: This specifies the type of Streaming Destination
      required:
      - type
      description: ''
    Connector1:
      type: object
      x-internal: true
      properties:
        name:
          type: string
          description: Connector name
          pattern: ^[0-9a-zA-Z-_ ]{0,127}$
        identifier:
          type: string
          minLength: 1
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          description: Connector identifier
          maxLength: 128
        description:
          type: string
          description: Connector description
        org:
          type: string
          description: Organization identifier for connector
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$
        project:
          type: string
          description: Project identifier for connector
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$
        tags:
          type: object
          additionalProperties:
            type: string
          description: Connector tags
      required:
      - name
      - identifier
    StreamingDestinationCards:
      title: StreamingDestinationCards
      x-stoplight:
        id: 1dw4ls5voxwl2
      type: object
      description: Streaming Destination Cards model
      properties:
        countByStatusCard:
          type: array
          items:
            $ref: '#/components/schemas/StatusWiseCount'
        lastStreamedCard:
          $ref: '#/components/schemas/LastStreamedCard'
        failureInfoCard:
          $ref: '#/components/schemas/FailureInfoCard'
    StreamingDestinationAggregateDTO:
      title: StreamingDestinationAggregateDTO
      x-stoplight:
        id: chl0l737sfwea
      type: object
      description: Streaming Destination Aggregate DTO
      properties:
        streaming_destination:
          $ref: '#/components/schemas/StreamingDestinationDTO'
        connector_info:
          $ref: '#/components/schemas/Connector1'
        streaming_details:
          $ref: '#/components/schemas/StreamingDetails'
      required:
      - streaming_destination
      - connector_info
    StreamingDetails:
      title: StreamingDetails
      x-stoplight:
        id: 505pv39rdv4z1
      type: object
      properties:
        status:
          type: string
          description: Status of the batch
          enum:
          - READY
          - IN_PROGRESS
          - SUCCESS
          - FAILED
        last_streamed_at:
          type: integer
          format: int64
        error_message:
          type: string
      description: Details of the last streamed batch
      x-internal: true
    StreamingDestinationStatus:
      title: StreamingDestinationStatus
      x-stoplight:
        id: 6k8zse7tcg5y0
      type: string
      x-extension-1: null
      enum:
      - ACTIVE
      - INACTIVE
      description: Streaming Destination Status enum
      x-internal: false
  requestBodies:
    CreateStreamingDestinationRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StreamingDestinationDTO'
          examples:
            example-aws-s3-stream-destination-request:
              value:
                identifier: example_destination
                name: example destination name
                status: ACTIVE
                connector_ref: account.example_aws_connector
                spec:
                  type: AWS_S3
                  bucket: example_bucket
      description: Streaming Destination request body
  responses:
    StreamingDestinationCardsResponse:
      description: Streaming Destination cards response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StreamingDestinationCards'
    StreamingDestinationValidateResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: boolean
            description: It returns true if the Identifier is unique and false if the Identifier is not unique
    StreamingDestinationListResponse:
      description: Streaming Destination list response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/StreamingDestinationResponse'
          examples:
            example-list-streaming-destination-response:
              value:
              - streaming_destination:
                  identifier: example_destination
                  name: example desitnation name
                  status: ACTIVE
                  connector_ref: account.example_connector
                  spec:
                    type: AWS_S3
                    bucket: example_bucket
                created: 1670304106000
                update: 1670304106000
      headers:
        X-Total-Elements:
          schema:
            type: integer
          description: Total number of elements returned in Paginated response.
        X-Page-Number:
          schema:
            type: integer
          description: Page number in Paginated response.
        X-Page-Size:
          schema:
            type: integer
          description: Maximum page size in Paginated response.
    StreamingDestinationResponse:
      description: Streaming Destination response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StreamingDestinationResponse'
          examples:
            example-streaming-destination-response:
              value:
                streaming_destination:
                  identifier: example_destination
                  name: example desitnation name
                  status: ACTIVE
                  connector_ref: account.example_connector
                  spec:
                    type: AWS_S3
                    bucket: example_bucket
                created: 1670304106000
                update: 1670304106000
    StreamingDestinationAggregateListResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/StreamingDestinationAggregateDTO'
      headers:
        X-Total-Elements:
          schema:
            type: integer
          description: Total number of elements returned in Paginated response.
        X-Page-Number:
          schema:
            type: integer
          description: Page number in Paginated response.
        X-Page-Size:
          schema:
            type: integer
          description: Maximum page size in Paginated response.
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
