openapi: 3.2.0
info:
  title: Harness Compliance Results V2 API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: ComplianceResultsV2
paths:
  /v2/orgs/{org}/projects/{project}/compliance-results:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    post:
      summary: Save Compliance Results
      responses:
        '200':
          description: Empty Response
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: saveComplianceResultV2
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      requestBody:
        description: Create Compliance Results Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateComplianceResultV2'
      tags:
      - ComplianceResultsV2
      x-stoplight:
        id: sjyebgk7vdobd
components:
  schemas:
    ComplianceCheckEntityType:
      title: ComplianceCheckEntityType
      type: string
      x-stoplight:
        id: c9u1ph0w9r2pc
      enum:
      - REPOSITORY
      - ORGANIZATION
      - BRANCH
      - PACKAGEREGISTRY
      - PIPELINE
      - DEPENDENCIES
      - All
      description: Represents entity type on which compliance check is applicable
    ComplianceResult:
      type: object
      x-examples: {}
      required:
      - compliance_id
      - compliance_val
      - category
      - category_id
      - standards
      - severity
      - reason
      - status
      - remediation
      - entity
      - sub_category
      - sub_category_id
      properties:
        compliance_id:
          type: string
          x-stoplight:
            id: l9pks9athcp51
        compliance_val:
          type: integer
          x-stoplight:
            id: u21ksorb3iewy
          example: 110
        title:
          type: string
        category:
          type: string
        category_id:
          type: string
          x-stoplight:
            id: kg7ooi3esk292
        standards:
          type: array
          items:
            $ref: '#/components/schemas/ComplianceStandardType'
        description:
          type: string
        tags:
          type: array
          items:
            type: string
        severity:
          $ref: '#/components/schemas/ComplianceCheckSeverity'
        reason:
          type: string
        status:
          $ref: '#/components/schemas/ComplianceResultStatus'
        remediation:
          type: string
        url:
          type: string
        entity:
          $ref: '#/components/schemas/ComplianceCheckEntityType'
        sub_category:
          type: string
          x-stoplight:
            id: t6uyz63sy5k68
        sub_category_id:
          type: string
          x-stoplight:
            id: gz47g56itzdmu
        occurrences:
          type: array
          x-stoplight:
            id: zgqjsm3l2x3xr
          items:
            $ref: '#/components/schemas/ComplianceOccurrenceDTO'
      x-stoplight:
        id: sxoz6cpmag92w
    ComplianceCheckSeverity:
      title: ComplianceCheckSeverity
      type: string
      x-stoplight:
        id: kpbii4pjiw1ff
      enum:
      - CRITICAL
      - HIGH
      - MEDIUM
      - LOW
    ComplianceScanType:
      title: ComplianceScanType
      x-stoplight:
        id: xofqrlg94b1o5
      type: string
      enum:
      - REPOSITORY
      - CICD
      description: Type of scan on the source like Repository scan or Worklfow scan
    ComplianceResultStatus:
      title: ComplianceResultStatus
      type: string
      x-stoplight:
        id: g7eq9rgfjalfb
      enum:
      - PASSED
      - FAILED
      - UNKNOWN
    ComplianceStandardType:
      title: ComplianceStandardType
      type: string
      x-stoplight:
        id: hqwyia5x65e2x
      enum:
      - CIS
      - OWASP
    PluginDTO:
      title: PluginDTO
      x-stoplight:
        id: 6h45p8xhj8nyq
      type: object
      properties:
        name:
          type: string
          x-stoplight:
            id: imeroxjtaijgs
        version:
          type: string
          x-stoplight:
            id: emdtllba1deoe
        path_from_root:
          type: string
          x-stoplight:
            id: j7spynufi3rvf
      description: Represents workflow images/plugin/actions found for CI/CD workflows scan.
    ComplianceOccurrenceDTO:
      title: ComplianceOccurrenceDTO
      x-stoplight:
        id: 5kz1r0wmqqtb9
      type: object
      properties:
        snippet:
          type: string
          x-stoplight:
            id: tou5xin4shjem
          description: Depicts occurrence snippet.
        snippet_url:
          type: string
          x-stoplight:
            id: elke0tcie443g
          description: URL to go to snippet
        line_number:
          type: integer
          x-stoplight:
            id: r956qlsf9zrc0
          description: Line number of snippet.
    CreateComplianceResultV2:
      type: object
      x-stoplight:
        id: 16fsbiusxpwm1
      x-examples:
        Example 1:
          url: https://github.com/repo-posture/cicd-goat
          org: repo-posture
          source_platform: GITHUB
          scan_type: CICD
          name: release.yml
          full_fqn: https://github.com/repo-posture/cicd-goat/blob/master/.github/workflows/release.yml
          default_branch: master
          pipeline_execution_identifier: string
          step_execution_identifier: string
          stage_execution_identifier: string
          pipeline_identifier: string
          results:
          - compliance_id: string
            compliance_val: 123
            title: string
            category: string
            category_id: string
            type: SCM
            standards:
            - CIS
            description: string
            tags:
            - string
            severity: string
            reason: string
            status: string
            remediation: string
            url: string
            entity: REPOSITORY
            occurrences:
            - snippet: string
              snippet_url: string
              line_number: 123
          plugins:
          - name: actions/checkout
            version: v2
            path_from_root: string
      title: CreateComplianceResultV2
      required:
      - url
      - name
      - scan_type
      - source_platform
      - results
      properties:
        url:
          type: string
          x-stoplight:
            id: jnajrpongor60
          description: Represents Source URL.
        org:
          type: string
          x-stoplight:
            id: 4v0893lp7mtr8
          description: Represents organization.
        name:
          type: string
          x-stoplight:
            id: gsuu5ghgjctvu
          description: Name of entity for compliance results.
        full_fqn:
          type: string
          x-stoplight:
            id: urjujxeot10dk
          description: "Fully qualified name of entity. \nUses entire URL and name to depict same."
        default_branch:
          type: string
          description: Branch for scan.
        scan_type:
          $ref: '#/components/schemas/ComplianceScanType'
        source_platform:
          x-stoplight:
            id: 9v0at3udg36rh
          type: string
          enum:
          - GITHUB
          - HARNESS
          description: "Source platform enum. \nExample: GITHUB, HARNESS"
        step_execution_identifier:
          type: string
        pipeline_execution_identifier:
          type: string
        pipeline_identifier:
          type: string
          x-stoplight:
            id: jypmkd8wicqlh
        stage_execution_identifier:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/ComplianceResult'
        plugins:
          type: array
          x-stoplight:
            id: 8ti0weon56jlx
          items:
            $ref: '#/components/schemas/PluginDTO'
        stage_type:
          type: string
          x-stoplight:
            id: zyzsfpyieg5to
  parameters:
    ProjectParam1:
      in: path
      required: true
      schema:
        type: string
      description: Harness project ID
      name: project
    AccountHeader6:
      name: Harness-Account
      in: header
      required: true
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
    OrgParam1:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Harness organization ID
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
