openapi: 3.2.0
info:
  title: Harness Unified Executions API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: unified-executions
  description: Unified Executions Service handles the API for unified workflow executions.
paths:
  /iacm/api/orgs/{org}/projects/{project}/unified-executions:
    post:
      tags:
      - unified-executions
      summary: Create unified execution
      description: Create a new unified execution.
      operationId: unified-executions#create-unified-execution
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: wke
          minLength: 1
          maxLength: 128
        example: 8y
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: '5'
          minLength: 1
          maxLength: 128
        example: y
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: y
          minLength: 1
          maxLength: 128
        example: 4v
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnifiedExecutionRequest2'
            example:
              inventories:
              - Sed corrupti nam expedita praesentium.
              - Alias quas.
              - Natus ut minus voluptates dolores rerum iure.
              - Aliquam exercitationem soluta deleniti asperiores.
              module_test: Cumque tempora.
              pipeline_execution_id: Quasi recusandae quaerat aut amet.
              pipeline_id: Sit atque amet ut sit.
              pipeline_stage_id: Sint asperiores qui id.
              playbooks:
              - Sit et possimus.
              - Quas commodi odio possimus iusto est.
              - Ut rerum provident ipsum consequatur recusandae.
              - Explicabo in est distinctio quis dignissimos.
              remote_execution_id: Est quod facere.
              skip_adding_to_db: true
              webhook:
                connector: Est laboriosam beatae.
                link: Sunt commodi placeat veritatis est.
                repo: Officia adipisci consequuntur et.
                type: merged
              workspace: Est eum aliquid ratione.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedExecutionResponse'
              example:
                env_variables:
                  Dolor nesciunt consequatur dolorum.: Odio ut accusamus accusamus eveniet.
                  Fuga et voluptatem sunt et.: Vel voluptates qui.
                  Non dolorum officia ad.: Et et ut laboriosam omnis sunt aut.
                outputs:
                  Harum harum sequi ut.: Eaque dolor nesciunt optio saepe sapiente porro.
                  Qui quia laudantium non accusamus repellendus distinctio.: Et illum asperiores accusantium dolor.
                steps:
                - dynamic_fields:
                    In laudantium.: Non quidem in itaque.
                  id: Aut sit et aspernatur delectus ducimus alias.
                  name: Doloribus iste esse qui dolores quibusdam.
                  yaml: Sed et distinctio sapiente occaecati est.
                - dynamic_fields:
                    In laudantium.: Non quidem in itaque.
                  id: Aut sit et aspernatur delectus ducimus alias.
                  name: Doloribus iste esse qui dolores quibusdam.
                  yaml: Sed et distinctio sapiente occaecati est.
                - dynamic_fields:
                    In laudantium.: Non quidem in itaque.
                  id: Aut sit et aspernatur delectus ducimus alias.
                  name: Doloribus iste esse qui dolores quibusdam.
                  yaml: Sed et distinctio sapiente occaecati est.
                - dynamic_fields:
                    In laudantium.: Non quidem in itaque.
                  id: Aut sit et aspernatur delectus ducimus alias.
                  name: Doloribus iste esse qui dolores quibusdam.
                  yaml: Sed et distinctio sapiente occaecati est.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
components:
  schemas:
    IACMUnifiedStepWrapper:
      type: object
      properties:
        dynamic_fields:
          type: object
          description: Map of dynamic fields for the step
          example:
            Et quis.: Dolorem et optio ad provident.
          additionalProperties:
            type: string
            example: Ea eos.
        id:
          type: string
          description: Unique identifier for the step
          example: Dolor occaecati.
        name:
          type: string
          description: Name of the step
          example: Dicta laudantium amet.
        yaml:
          type: string
          description: YAML definition of the step
          example: Minus id autem laboriosam est perferendis.
      description: Wrapper for unified step data
      example:
        dynamic_fields:
          Officiis iusto harum aliquam et sint.: Et non pariatur.
          Qui quia eligendi totam enim neque.: Iure eveniet adipisci at labore est.
          Sit iure iusto et.: In error veniam officia nihil.
        id: Minus doloribus sit.
        name: Quaerat sit culpa reiciendis.
        yaml: Dolorum perferendis esse qui qui odit.
      required:
      - id
      - name
      - yaml
    UnifiedExecutionRequest2:
      type: object
      properties:
        inventories:
          type: array
          items:
            type: string
            example: Praesentium dignissimos.
          description: List of inventory identifiers for ansible execution
          example:
          - Distinctio voluptatem qui est.
          - Dolore et voluptatem laborum.
        module_test:
          type: string
          description: The module test identifier
          example: Ipsum et nam ducimus officia autem quidem.
        pipeline_execution_id:
          type: string
          description: The unique identifier for the associated pipeline execution
          example: Qui eligendi nesciunt adipisci quia.
        pipeline_id:
          type: string
          description: The unique identifier for the associated pipeline
          example: Laborum voluptate sit.
        pipeline_stage_id:
          type: string
          description: The unique identifier for the associated pipeline stage
          example: Quibusdam et.
        playbooks:
          type: array
          items:
            type: string
            example: Nihil quasi enim maxime nobis itaque.
          description: List of playbook identifiers for ansible execution
          example:
          - Sed quibusdam dolores qui.
          - Quae eius natus qui.
          - Reiciendis soluta voluptas sit incidunt.
        remote_execution_id:
          type: string
          description: The unique identifier for the remote execution
          example: Esse deleniti delectus est.
        skip_adding_to_db:
          type: boolean
          description: Skip adding to database
          example: true
        webhook:
          $ref: '#/components/schemas/IaCMWebhookInfo'
        workspace:
          type: string
          description: The unique identifier for the associated workspace
          example: Ipsa et assumenda.
      example:
        inventories:
        - Aspernatur provident.
        - Adipisci molestias tempore possimus modi.
        - Magni sed minima labore maiores.
        module_test: Voluptas qui distinctio.
        pipeline_execution_id: Illo nobis.
        pipeline_id: Suscipit voluptate placeat.
        pipeline_stage_id: Debitis nulla ut incidunt est voluptatem eius.
        playbooks:
        - Dolor in.
        - Amet iste ea reiciendis.
        remote_execution_id: Et facilis.
        skip_adding_to_db: false
        webhook:
          connector: Est laboriosam beatae.
          link: Sunt commodi placeat veritatis est.
          repo: Officia adipisci consequuntur et.
          type: merged
        workspace: Dolor rem eum commodi eum atque quo.
      required:
      - pipeline_execution_id
      - pipeline_stage_id
      - pipeline_id
    IaCMError:
      type: object
      properties:
        fault:
          type: boolean
          description: Is the error a server-side fault?
          example: false
        id:
          type: string
          description: ID is a unique identifier for this particular occurrence of the problem.
          example: 123abc
        message:
          type: string
          description: Message is a human-readable explanation specific to this occurrence of the problem.
          example: parameter 'p' must be an integer
        name:
          type: string
          description: Name is the name of this class of errors.
          example: bad_request
        temporary:
          type: boolean
          description: Is the error temporary?
          example: false
        timeout:
          type: boolean
          description: Is the error a timeout?
          example: true
      example:
        fault: false
        id: 123abc
        message: parameter 'p' must be an integer
        name: bad_request
        temporary: false
        timeout: true
      required:
      - name
      - id
      - message
      - temporary
      - timeout
      - fault
    IaCMWebhookInfo:
      type: object
      properties:
        connector:
          type: string
          description: The connector for the webhook
          example: Saepe earum voluptas est quisquam et error.
        link:
          type: string
          description: The link for the webhook
          example: Illo exercitationem.
        repo:
          type: string
          description: The repository for the webhook
          example: Possimus omnis accusamus reiciendis sapiente quisquam aliquid.
        type:
          type: string
          description: The type of the webhook
          example: pull_request
          enum:
          - pull_request
          - merged
          - push
          - release
          - tag
      description: WebhookInfo defines the webhook information for a unified execution
      example:
        connector: Et ipsum consequatur.
        link: Omnis rerum unde.
        repo: Enim error.
        type: release
      required:
      - type
    UnifiedExecutionResponse:
      type: object
      properties:
        env_variables:
          type: object
          description: Map of environment variables
          example:
            Pariatur earum.: Dignissimos recusandae accusantium non.
            Perspiciatis vel modi in.: Deleniti alias ut eum.
          additionalProperties:
            type: string
            example: Atque aliquam ducimus adipisci repellendus ad.
        outputs:
          type: object
          description: Map of output key-value pairs
          example:
            Ipsum laborum ad corporis.: Dolorem tempore dolores ipsam ullam minima incidunt.
            Sint corrupti quasi.: Accusantium animi ea.
            Vero repudiandae sed corporis nam nam eos.: Et mollitia amet voluptatum non qui consequatur.
          additionalProperties:
            type: string
            example: Consequatur quidem.
        steps:
          type: array
          items:
            $ref: '#/components/schemas/IACMUnifiedStepWrapper'
          description: List of execution steps
          example:
          - dynamic_fields:
              Aut voluptas.: Esse porro est et.
            id: Voluptas omnis praesentium atque.
            name: Praesentium consequatur esse tenetur dolore et earum.
            yaml: Accusamus sint optio dignissimos illo laborum eum.
          - dynamic_fields:
              Aut voluptas.: Esse porro est et.
            id: Voluptas omnis praesentium atque.
            name: Praesentium consequatur esse tenetur dolore et earum.
            yaml: Accusamus sint optio dignissimos illo laborum eum.
      description: UnifiedExecutionResponse contains all data required for unified execution
      example:
        env_variables:
          Eius debitis expedita rerum eveniet.: Voluptatem eos rem omnis est nesciunt.
        outputs:
          Dignissimos ducimus veritatis ab expedita ipsa iste.: Eos consequatur aperiam aut.
          Modi voluptas eos officiis.: Laboriosam facere.
          Qui perspiciatis cum explicabo iste quaerat cupiditate.: Assumenda nobis odit animi optio ab.
        steps:
        - dynamic_fields:
            Aut voluptas.: Esse porro est et.
          id: Voluptas omnis praesentium atque.
          name: Praesentium consequatur esse tenetur dolore et earum.
          yaml: Accusamus sint optio dignissimos illo laborum eum.
        - dynamic_fields:
            Aut voluptas.: Esse porro est et.
          id: Voluptas omnis praesentium atque.
          name: Praesentium consequatur esse tenetur dolore et earum.
          yaml: Accusamus sint optio dignissimos illo laborum eum.
      required:
      - outputs
      - env_variables
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
