openapi: 3.2.0
info:
  title: Harness Backstage Env Variable API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: BackstageEnvVariable
  description: Backstage Environment Variable
  x-displayName: Backstage Environment Variable
paths:
  /v1/backstage-env-variables:
    get:
      summary: List Backstage Env Variables
      responses:
        '200':
          $ref: '#/components/responses/BackstageEnvVariableResponseList'
      operationId: get-backstage-env-variables
      description: Get all backsage env variables mapping for a given account
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      - $ref: '#/components/parameters/Page1'
      - $ref: '#/components/parameters/Limit5'
      - $ref: '#/components/parameters/Sort6'
      security:
      - x-api-key: []
      x-internal: true
      tags:
      - BackstageEnvVariable
    post:
      summary: Create Backstage Environment Variable
      operationId: create-backstage-env-variable
      responses:
        '201':
          $ref: '#/components/responses/BackstageEnvVariableResponse'
      description: Creates an backstage environment variable
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      security:
      - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/BackstageEnvVariableRequest'
      x-internal: true
      tags:
      - BackstageEnvVariable
  /v1/backstage-env-variables/sync:
    put:
      summary: Sync Backstage Environment Variables
      operationId: sync-backstage-env-variables
      description: Synchronize all backstage environment variables mapping for a given account
      x-internal: true
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      security:
      - x-api-key: []
      responses:
        '204':
          description: No Content
      tags:
      - BackstageEnvVariable
  /v1/backstage-env-variables/{backstage-env-variable}:
    parameters:
    - $ref: '#/components/parameters/BackstageEnvVariable'
    get:
      summary: Get Backstage Environment Variable
      responses:
        '200':
          $ref: '#/components/responses/BackstageEnvVariableResponse'
      operationId: get-backstage-env-variable
      description: Get backstage environment variable mapping for a given backstage env variable
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      x-internal: true
      tags:
      - BackstageEnvVariable
    put:
      summary: Updates a backstage env variable
      operationId: update-backstage-env-variable
      responses:
        '200':
          $ref: '#/components/responses/BackstageEnvVariableResponse'
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      requestBody:
        $ref: '#/components/requestBodies/BackstageEnvVariableRequest'
      description: Updates the specified backstage env variable
      x-internal: true
      tags:
      - BackstageEnvVariable
    delete:
      summary: Deletes a backstage env variable
      operationId: delete-backstage-env-variable
      description: Deletes the requested backstage env variable
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      x-internal: true
      responses:
        '204':
          description: No Content
      tags:
      - BackstageEnvVariable
  /v1/backstage-env-variables/batch:
    post:
      summary: Creates Multiple backstage env variables
      operationId: create-backstage-env-variables
      responses:
        '201':
          $ref: '#/components/responses/BackstageEnvVariableResponseList'
      description: Creates multiple backstage env variables
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/BackstageEnvVariableBatchRequest'
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      security:
      - x-api-key: []
      tags:
      - BackstageEnvVariable
    put:
      summary: Updates Multiple backstage env variables
      operationId: update-backstage-env-variables
      responses:
        '200':
          $ref: '#/components/responses/BackstageEnvVariableResponseList'
      description: Updates the multiple backstage env variables specified in the request
      x-internal: true
      security:
      - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/BackstageEnvVariableBatchRequest'
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      tags:
      - BackstageEnvVariable
    delete:
      summary: Deletes Multiple backstage env variables
      operationId: delete-backstage-env-variables
      responses:
        '204':
          description: No Content
      description: Deletes the multiple backstage env variables specified in the request
      x-internal: true
      security:
      - x-api-key: []
      parameters:
      - schema:
          type: array
          default: null
          items:
            type: string
        in: query
        name: backstage-env-variable
        description: Identifier field of backstage env variable
      - $ref: '#/components/parameters/AccountHeader5'
      tags:
      - BackstageEnvVariable
  /v1/backstage-env-variables/resolve:
    get:
      summary: Resolve Backstage Environment Variables
      tags:
      - BackstageEnvVariable
      responses:
        '200':
          $ref: '#/components/responses/ResolvedEnvVariableResponse'
      operationId: resolve-backstage-env-variables
      description: Returns a list of backstage env variables with their decrypted values for the given account
      x-internal: true
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      - $ref: '#/components/parameters/Namespace'
      security:
      - x-api-key: []
  /v1/backstage-env-variables/reload/{namespace}:
    parameters:
    - $ref: '#/components/parameters/NamespacePathParam'
    put:
      summary: Reload backstage env variables
      operationId: reload-backstage-env-variables
      responses:
        '204':
          description: No Content
      x-stoplight:
        id: 2atylhkq79myt
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      x-internal: true
      tags:
      - BackstageEnvVariable
components:
  schemas:
    BackstageEnvVariableRequest:
      x-stoplight:
        id: e7t9o0ci4dra4
      type: object
      properties:
        env_variable:
          $ref: '#/components/schemas/BackstageEnvVariable'
          x-stoplight:
            id: t8p54gz9pdy56
    ResolvedEnvVariableResponse:
      title: ResolvedEnvVariableResponse
      x-stoplight:
        id: 2dlc8i0aobls7
      type: object
      x-examples:
        Example 1:
          resolved_env_variable:
            env_name: GITHUB_TOKEN
            decrypted_value: abc
      properties:
        resolved_env_variables:
          type: string
    BackstageEnvVariable:
      title: BackstageEnvVariable
      x-stoplight:
        id: nxqrkraenk753
      type: object
      description: Backstage Env Variable
      discriminator:
        propertyName: type
        mapping:
          Config: '#/components/schemas/BackstageEnvConfigVariable'
          Secret: '#/components/schemas/BackstageEnvSecretVariable'
      x-examples: {}
      properties:
        identifier:
          type: string
          x-stoplight:
            id: qcqog9dhfhhtn
        env_name:
          type: string
          x-stoplight:
            id: 0br1k8e9y4vds
        created:
          type: integer
          x-stoplight:
            id: jnkz49ajqu2ep
          format: int64
        updated:
          type: integer
          x-stoplight:
            id: f7vn66lecbehz
          format: int64
        type:
          type: string
          x-stoplight:
            id: bkpapdothjik6
          description: This specifies the type of backstage env variable
          enum:
          - Config
          - Secret
      required:
      - env_name
      - type
    BackstageEnvVariableBatchRequest:
      type: object
      x-stoplight:
        id: psykwh06yxbkz
      properties:
        env_variables:
          x-stoplight:
            id: mw78dt912nzqn
          type: array
          items:
            $ref: '#/components/schemas/BackstageEnvVariable'
            x-stoplight:
              id: i0vefhckdjymq
      required:
      - env_variables
    BackstageEnvVariableResponse:
      x-stoplight:
        id: np7bj0rjx6gb4
      type: object
      properties:
        env_variable:
          $ref: '#/components/schemas/BackstageEnvVariable'
          x-stoplight:
            id: ru3parenuqcu1
      required:
      - env_variable
  parameters:
    Page1:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: null
      description: "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t"
    Namespace:
      name: namespace
      in: query
      required: false
      schema:
        type: string
        default: null
      description: Namespace from where the request is being made
    AccountHeader5:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to.
    Sort6:
      name: sort
      in: query
      required: false
      schema:
        type: string
        default: null
      description: Parameter on the basis of which sorting is done.
    NamespacePathParam:
      name: namespace
      in: path
      required: true
      schema:
        type: string
      description: Namespace from where the request is being made
    Limit5:
      name: limit
      in: query
      required: false
      schema:
        default: null
        type: integer
      description: 'Pagination: Number of items to return'
    BackstageEnvVariable:
      name: backstage-env-variable
      in: path
      required: true
      schema:
        type: string
      description: Identifier field of the backstage env variable the resource is scoped to
  responses:
    BackstageEnvVariableResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BackstageEnvVariableResponse'
        application/yaml:
          schema:
            $ref: '#/components/schemas/BackstageEnvVariableResponse'
    BackstageEnvVariableResponseList:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/BackstageEnvVariableResponse'
        application/yaml:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/BackstageEnvVariableResponse'
      headers:
        X-Total-Elements:
          schema:
            type: integer
          description: Total number of elements returned in Paginated response.
        X-Page-Number:
          schema:
            type: integer
          description: Page number in Paginated response.
        X-Page-Size:
          schema:
            type: integer
          description: Maximum page size in Paginated response.
    ResolvedEnvVariableResponse:
      description: Returns encrypted string of list of env variables with the decrypted value
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResolvedEnvVariableResponse'
          examples: {}
        application/yaml:
          schema:
            type: string
          examples: {}
  requestBodies:
    BackstageEnvVariableBatchRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BackstageEnvVariableBatchRequest'
          examples: {}
        application/yaml:
          schema:
            $ref: '#/components/schemas/BackstageEnvVariableBatchRequest'
    BackstageEnvVariableRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BackstageEnvVariableRequest'
          examples:
            Example 1:
              value:
                env_variable:
                  identifier: 641c7f1aa18dbf72522d78f0
                  env_name: PAGERDUTY_TOKEN
                  created: 1679589047352
                  updated: 1679589047352
                  type: Secret
                  harness_secret_identifier: pdtoken
            Example 2:
              value:
                env_variable:
                  identifier: 641c7f1aa18dbf72522d78f1
                  env_name: GITHUB_APP_APPLICATION_ID
                  created: 1679589047352
                  updated: 1679589047352
                  type: Config
                  value: '1234'
        application/yaml:
          schema:
            $ref: '#/components/schemas/BackstageEnvVariableRequest'
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
