openapi: 3.2.0
info:
  title: Harness Applications API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Applications
paths:
  /gitops/api/v1/agents/{agentIdentifier}/applications:
    get:
      summary: List applications for a specific agent
      description: List returns a list of applications for a specific agent.
      operationId: AgentApplicationService_List
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationsApplicationList'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: query.name
        description: the application's name.
        in: query
        required: false
        schema:
          type: string
      - name: query.refresh
        description: 'set to "normal" OR "hard" if an application refresh is required before fetching.


          normal refresh only if source has changed(commit, helm chart version, etc.)


          hard refresh will invalidate all generated manifest caches and force regeneration.'
        in: query
        required: false
        schema:
          type: string
      - name: query.project
        description: the project names to restrict returned list applications.
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: query.resourceVersion
        description: when specified with a watch call, shows changes that occur after that particular version of a resource.
        in: query
        required: false
        schema:
          type: string
      - name: query.selector
        description: the selector to to restrict returned list to applications only with matched labels.
        in: query
        required: false
        schema:
          type: string
      - name: query.repo
        description: the repoURL to restrict returned list applications.
        in: query
        required: false
        schema:
          type: string
      - name: query.appNamespace
        in: query
        required: false
        schema:
          type: string
      - name: fetchFromHarness
        description: fetchFromHarness is used in Get Application API to fetch application directly from mongodb instead of from agent. Use in Get Application API to fetch application directly from harness. This is already the fallback if the task times out on Gitops Agent. Use with caution as this may not return the latest state of application.
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Applications
    post:
      summary: Create an application
      description: Create creates a new application in the specified project.
      operationId: AgentApplicationService_Create
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1Application'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: clusterIdentifier
        in: query
        required: false
        schema:
          type: string
      - name: repoIdentifier
        in: query
        required: false
        schema:
          type: string
      - name: skipRepoValidation
        in: query
        required: false
        schema:
          type: boolean
      - name: repoIdentifiers
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applicationsApplicationCreateRequest'
        required: true
      tags:
      - Applications
  /gitops/api/v1/agents/{agentIdentifier}/applications/parent/{query.name}:
    get:
      summary: Get parent application
      description: Parent returns a parent application (app of apps or appset) by child name
      operationId: AgentApplicationService_Parent
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1Application'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: query.name
        description: the application's name
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: query.refresh
        description: 'set to "normal" OR "hard" if an application refresh is required before fetching.


          normal refresh only if source has changed(commit, helm chart version, etc.)


          hard refresh will invalidate all generated manifest caches and force regeneration.'
        in: query
        required: false
        schema:
          type: string
      - name: query.project
        description: the project names to restrict returned list applications.
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: query.resourceVersion
        description: when specified with a watch call, shows changes that occur after that particular version of a resource.
        in: query
        required: false
        schema:
          type: string
      - name: query.selector
        description: the selector to to restrict returned list to applications only with matched labels.
        in: query
        required: false
        schema:
          type: string
      - name: query.repo
        description: the repoURL to restrict returned list applications.
        in: query
        required: false
        schema:
          type: string
      - name: query.appNamespace
        in: query
        required: false
        schema:
          type: string
      - name: fetchFromHarness
        description: fetchFromHarness is used in Get Application API to fetch application directly from mongodb instead of from agent. Use in Get Application API to fetch application directly from harness. This is already the fallback if the task times out on Gitops Agent. Use with caution as this may not return the latest state of application.
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Applications
  /gitops/api/v1/agents/{agentIdentifier}/applications/{query.applicationName}/managed-resources:
    get:
      summary: Get ManagedResources
      description: ManagedResources returns list of managed resources.
      operationId: AgentApplicationService_ManagedResources
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationsManagedResourcesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: query.applicationName
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: query.namespace
        in: query
        required: false
        schema:
          type: string
      - name: query.name
        in: query
        required: false
        schema:
          type: string
      - name: query.version
        in: query
        required: false
        schema:
          type: string
      - name: query.group
        in: query
        required: false
        schema:
          type: string
      - name: query.kind
        in: query
        required: false
        schema:
          type: string
      - name: query.appNamespace
        in: query
        required: false
        schema:
          type: string
      - name: query.project
        in: query
        required: false
        schema:
          type: string
      tags:
      - Applications
  /gitops/api/v1/agents/{agentIdentifier}/applications/{query.applicationName}/resource-tree:
    get:
      summary: Get resource tree
      description: ResourceTree returns resource tree.
      operationId: AgentApplicationService_ResourceTree
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationsApplicationTree'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: query.applicationName
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: query.namespace
        in: query
        required: false
        schema:
          type: string
      - name: query.name
        in: query
        required: false
        schema:
          type: string
      - name: query.version
        in: query
        required: false
        schema:
          type: string
      - name: query.group
        in: query
        required: false
        schema:
          type: string
      - name: query.kind
        in: query
        required: false
        schema:
          type: string
      - name: query.appNamespace
        in: query
        required: false
        schema:
          type: string
      - name: query.project
        in: query
        required: false
        schema:
          type: string
      tags:
      - Applications
  /gitops/api/v1/agents/{agentIdentifier}/applications/{query.name}:
    get:
      summary: Get application
      description: Get returns an application by name.
      operationId: AgentApplicationService_Get
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1Application'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: query.name
        description: the application's name
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: query.refresh
        description: 'set to "normal" OR "hard" if an application refresh is required before fetching.


          normal refresh only if source has changed(commit, helm chart version, etc.)


          hard refresh will invalidate all generated manifest caches and force regeneration.'
        in: query
        required: false
        schema:
          type: string
      - name: query.project
        description: the project names to restrict returned list applications.
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: query.resourceVersion
        description: when specified with a watch call, shows changes that occur after that particular version of a resource.
        in: query
        required: false
        schema:
          type: string
      - name: query.selector
        description: the selector to to restrict returned list to applications only with matched labels.
        in: query
        required: false
        schema:
          type: string
      - name: query.repo
        description: the repoURL to restrict returned list applications.
        in: query
        required: false
        schema:
          type: string
      - name: query.appNamespace
        in: query
        required: false
        schema:
          type: string
      - name: fetchFromHarness
        description: fetchFromHarness is used in Get Application API to fetch application directly from mongodb instead of from agent. Use in Get Application API to fetch application directly from harness. This is already the fallback if the task times out on Gitops Agent. Use with caution as this may not return the latest state of application.
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Applications
  /gitops/api/v1/agents/{agentIdentifier}/applications/{query.name}/events:
    get:
      summary: List resource events
      description: ListResourceEvents returns a list of event resources.
      operationId: AgentApplicationService_ListResourceEvents
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationsEventList'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: query.name
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: query.resourceNamespace
        in: query
        required: false
        schema:
          type: string
      - name: query.resourceName
        in: query
        required: false
        schema:
          type: string
      - name: query.resourceUID
        in: query
        required: false
        schema:
          type: string
      - name: query.appNamespace
        in: query
        required: false
        schema:
          type: string
      - name: query.project
        in: query
        required: false
        schema:
          type: string
      tags:
      - Applications
  /gitops/api/v1/agents/{agentIdentifier}/applications/{query.name}/logs:
    get:
      summary: PodLogs returns stream of log entries for the specified pod(s)
      description: PodLogs returns stream of log entries for the specified pod(s).
      operationId: AgentApplicationStreamService_PodLogs2
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/applicationsLogEntry'
                  error:
                    $ref: '#/components/schemas/runtimeStreamError'
                title: Stream result of applicationsLogEntry
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: query.name
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: query.namespace
        in: query
        required: false
        schema:
          type: string
      - name: query.podName
        in: query
        required: false
        schema:
          type: string
      - name: query.container
        in: query
        required: false
        schema:
          type: string
      - name: query.sinceSeconds
        in: query
        required: false
        schema:
          type: string
          format: int64
      - name: query.sinceTime.seconds
        description: 'Represents seconds of UTC time since Unix epoch

          1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to

          9999-12-31T23:59:59Z inclusive.'
        in: query
        required: false
        schema:
          type: string
          format: int64
      - name: query.sinceTime.nanos
        description: 'Non-negative fractions of a second at nanosecond resolution. Negative

          second values with fractions must still have non-negative nanos values

          that count forward in time. Must be from 0 to 999,999,999

          inclusive. This field may be limited in precision depending on context.'
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: query.tailLines
        in: query
        required: false
        schema:
          type: string
          format: int64
      - name: query.follow
        in: query
        required: false
        schema:
          type: boolean
      - name: query.untilTime
        in: query
        required: false
        schema:
          type: string
      - name: query.filter
        in: query
        required: false
        schema:
          type: string
      - name: query.kind
        in: query
        required: false
        schema:
          type: string
      - name: query.group
        in: query
        required: false
        schema:
          type: string
      - name: query.resourceName
        in: query
        required: false
        schema:
          type: string
      - name: query.previous
        in: query
        required: false
        schema:
          type: boolean
      - name: query.appNamespace
        in: query
        required: false
        schema:
          type: string
      - name: query.project
        in: query
        required: false
        schema:
          type: string
      tags:
      - Applications
  /gitops/api/v1/agents/{agentIdentifier}/applications/{query.name}/logs/batch:
    get:
      description: PodLogsBatch returns stream of log entry in batches of upto 1000 entries for the specified pod(s).
      operationId: AgentApplicationStreamService_PodLogsBatch2
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/applicationsLogEntriesBatch'
                  error:
                    $ref: '#/components/schemas/runtimeStreamError'
                title: Stream result of applicationsLogEntriesBatch
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: query.name
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: query.namespace
        in: query
        required: false
        schema:
          type: string
      - name: query.podName
        in: query
        required: false
        schema:
          type: string
      - name: query.container
        in: query
        required: false
        schema:
          type: string
      - name: query.sinceSeconds
        in: query
        required: false
        schema:
          type: string
          format: int64
      - name: query.sinceTime.seconds
        description: 'Represents seconds of UTC time since Unix epoch

          1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to

          9999-12-31T23:59:59Z inclusive.'
        in: query
        required: false
        schema:
          type: string
          format: int64
      - name: query.sinceTime.nanos
        description: 'Non-negative fractions of a second at nanosecond resolution. Negative

          second values with fractions must still have non-negative nanos values

          that count forward in time. Must be from 0 to 999,999,999

          inclusive. This field may be limited in precision depending on context.'
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: query.tailLines
        in: query
        required: false
        schema:
          type: string
          format: int64
      - name: query.follow
        in: query
        required: false
        schema:
          type: boolean
      - name: query.untilTime
        in: query
        required: false
        schema:
          type: string
      - name: query.filter
        in: query
        required: false
        schema:
          type: string
      - name: query.kind
        in: query
        required: false
        schema:
          type: string
      - name: query.group
        in: query
        required: false
        schema:
          type: string
      - name: query.resourceName
        in: query
        required: false
        schema:
          type: string
      - name: query.previous
        in: query
        required: false
        schema:
          type: boolean
      - name: query.appNamespace
        in: query
        required: false
        schema:
          type: string
      - name: query.project
        in: query
        required: false
        schema:
          type: string
      tags:
      - Applications
      summary: Agent application stream service pod logs batch2
      x-summary-source: derived
  /gitops/api/v1/agents/{agentIdentifier}/applications/{query.name}/manifests:
    get:
      summary: Get application manifest
      description: GetManifests returns an application manifests.
      operationId: AgentApplicationService_GetManifests
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repositoriesManifestResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: query.name
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: query.revision
        in: query
        required: false
        schema:
          type: string
      - name: query.appNamespace
        in: query
        required: false
        schema:
          type: string
      - name: query.project
        in: query
        required: false
        schema:
          type: string
      - name: query.sourcePositions
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            format: int64
      - name: query.revisions
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      tags:
      - Applications
  /gitops/api/v1/agents/{agentIdentifier}/applications/{query.name}/pods/{query.podName}/logs:
    get:
      summary: PodLogs returns stream of log entries for the specified pod(s)
      description: PodLogs returns stream of log entries for the specified pod(s).
      operationId: AgentApplicationStreamService_PodLogs
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/applicationsLogEntry'
                  error:
                    $ref: '#/components/schemas/runtimeStreamError'
                title: Stream result of applicationsLogEntry
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: query.name
        in: path
        required: true
        schema:
          type: string
      - name: query.podName
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: query.namespace
        in: query
        required: false
        schema:
          type: string
      - name: query.container
        in: query
        required: false
        schema:
          type: string
      - name: query.sinceSeconds
        in: query
        required: false
        schema:
          type: string
          format: int64
      - name: query.sinceTime.seconds
        description: 'Represents seconds of UTC time since Unix epoch

          1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to

          9999-12-31T23:59:59Z inclusive.'
        in: query
        required: false
        schema:
          type: string
          format: int64
      - name: query.sinceTime.nanos
        description: 'Non-negative fractions of a second at nanosecond resolution. Negative

          second values with fractions must still have non-negative nanos values

          that count forward in time. Must be from 0 to 999,999,999

          inclusive. This field may be limited in precision depending on context.'
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: query.tailLines
        in: query
        required: false
        schema:
          type: string
          format: int64
      - name: query.follow
        in: query
        required: false
        schema:
          type: boolean
      - name: query.untilTime
        in: query
        required: false
        schema:
          type: string
      - name: query.filter
        in: query
        required: false
        schema:
          type: string
      - name: query.kind
        in: query
        required: false
        schema:
          type: string
      - name: query.group
        in: query
        required: false
        schema:
          type: string
      - name: query.resourceName
        in: query
        required: false
        schema:
          type: string
      - name: query.previous
        in: query
        required: false
        schema:
          type: boolean
      - name: query.appNamespace
        in: query
        required: false
        schema:
          type: string
      - name: query.project
        in: query
        required: false
        schema:
          type: string
      tags:
      - Applications
  /gitops/api/v1/agents/{agentIdentifier}/applications/{query.name}/pods/{query.podName}/logs/batch:
    get:
      description: PodLogsBatch returns stream of log entry in batches of upto 1000 entries for the specified pod(s).
      operationId: AgentApplicationStreamService_PodLogsBatch
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/applicationsLogEntriesBatch'
                  error:
                    $ref: '#/components/schemas/runtimeStreamError'
                title: Stream result of applicationsLogEntriesBatch
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: query.name
        in: path
        required: true
        schema:
          type: string
      - name: query.podName
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: query.namespace
        in: query
        required: false
        schema:
          type: string
      - name: query.container
        in: query
        required: false
        schema:
          type: string
      - name: query.sinceSeconds
        in: query
        required: false
        schema:
          type: string
          format: int64
      - name: query.sinceTime.seconds
        description: 'Represents seconds of UTC time since Unix epoch

          1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to

          9999-12-31T23:59:59Z inclusive.'
        in: query
        required: false
        schema:
          type: string
          format: int64
      - name: query.sinceTime.nanos
        description: 'Non-negative fractions of a second at nanosecond resolution. Negative

          second values with fractions must still have non-negative nanos values

          that count forward in time. Must be from 0 to 999,999,999

          inclusive. This field may be limited in precision depending on context.'
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: query.tailLines
        in: query
        required: false
        schema:
          type: string
          format: int64
      - name: query.follow
        in: query
        required: false
        schema:
          type: boolean
      - name: query.untilTime
        in: query
        required: false
        schema:
          type: string
      - name: query.filter
        in: query
        required: false
        schema:
          type: string
      - name: query.kind
        in: query
        required: false
        schema:
          type: string
      - name: query.group
        in: query
        required: false
        schema:
          type: string
      - name: query.resourceName
        in: query
        required: false
        schema:
          type: string
      - name: query.previous
        in: query
        required: false
        schema:
          type: boolean
      - name: query.appNamespace
        in: query
        required: false
        schema:
          type: string
      - name: query.project
        in: query
        required: false
        schema:
          type: string
      tags:
      - Applications
      summary: Agent application stream service pod logs batch
      x-summary-source: derived
  /gitops/api/v1/agents/{agentIdentifier}/applications/{query.name}/revisions/{query.revision}/metadata:
    get:
      summary: Get revision metadata
      description: RevisionMetadata returns metadata for a specific revision of the application.
      operationId: AgentApplicationService_RevisionMetadata
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repositoriesRevisionMetadata'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: query.name
        description: the application's name
        in: path
        required: true
        schema:
          type: string
      - name: query.revision
        description: the revision of the app
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: query.appNamespace
        description: the application's namespace.
        in: query
        required: false
        schema:
          type: string
      - name: query.project
        in: query
        required: false
        schema:
          type: string
      - name: query.sourceIndex
        description: source index (for multi source apps).
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: query.versionId
        description: versionId from historical data (for multi source apps).
        in: query
        required: false
        schema:
          type: integer
          format: int32
      tags:
      - Applications
  /gitops/api/v1/agents/{agentIdentifier}/applications/{query.name}/syncwindows:
    get:
      summary: Get sync windows of the application
      description: GetApplicationSyncWindows returns sync windows of the application.
      operationId: AgentApplicationService_GetApplicationSyncWindows
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationsApplicationSyncWindowsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: query.name
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: query.appNamespace
        in: query
        required: false
        schema:
          type: string
      - name: query.project
        in: query
        required: false
        schema:
          type: string
      tags:
      - Applications
  /gitops/api/v1/agents/{agentIdentifier}/applications/{request.application.metadata.name}:
    put:
      summary: Update an application
      description: Update updates an application.
      operationId: AgentApplicationService_Update
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1Application'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: request.application.metadata.name
        description: 'Name must be unique within a namespace. Is required when creating resources, although

          some resources may allow a client to request the generation of an appropriate name

          automatically. Name is primarily intended for creation idempotence and configuration

          definition.

          Cannot be updated.

          More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names

          +optional'
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: clusterIdentifier
        in: query
        required: false
        schema:
          type: string
      - name: repoIdentifier
        in: query
        required: false
        schema:
          type: string
      - name: skipRepoValidation
        in: query
        required: false
        schema:
          type: boolean
      - name: repoIdentifiers
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applicationsApplicationUpdateRequest'
        required: true
      tags:
      - Applications
  /gitops/api/v1/agents/{agentIdentifier}/applications/{request.name}:
    delete:
      summary: Delete an application
      description: Delete deletes an application.
      operationId: AgentApplicationService_Delete
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationsApplicationResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: request.name
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: request.cascade
        in: query
        required: false
        schema:
          type: boolean
      - name: request.propagationPolicy
        in: query
        required: false
        schema:
          type: string
      - name: request.appNamespace
        in: query
        required: false
        schema:
          type: string
      - name: request.project
        in: query
        required: false
        schema:
          type: string
      - name: options.removeExistingFinalizers
        in: query
        required: false
        schema:
          type: boolean
      - name: options.forceDelete
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Applications
    patch:
      summary: Patch an application
      description: Patch applies a patch to an application.
      operationId: AgentApplicationService_Patch
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1Application'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: request.name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/servicev1ApplicationPatchRequest'
        required: true
      tags:
      - Applications
  /gitops/api/v1/agents/{agentIdentifier}/applications/{request.name}/operation:
    delete:
      summary: Terminate operation
      description: TerminateOperation terminates the currently running operation.
      operationId: AgentApplicationService_TerminateOperation
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationsOperationTerminateResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: request.name
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: request.appNamespace
        in: query
        required: false
        schema:
          type: string
      - name: request.project
        in: query
        required: false
        schema:
          type: string
      tags:
      - Applications
  /gitops/api/v1/agents/{agentIdentifier}/applications/{request.name}/resource:
    get:
      summary: Get an application resource
      description: GetResource returns single application resource.
      operationId: AgentApplicationService_GetResource
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationsApplicationResourceResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: request.name
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: request.namespace
        in: query
        required: false
        schema:
          type: string
      - name: request.resourceName
        in: query
        required: false
        schema:
          type: string
      - name: request.version
        in: query
        required: false
        schema:
          type: string
      - name: request.group
        in: query
        required: false
        schema:
          type: string
      - name: request.kind
        in: query
        required: false
        schema:
          type: string
      - name: request.appNamespace
        in: query
        required: false
        schema:
          type: string
      - name: request.project
        in: query
        required: false
        schema:
          type: string
      tags:
      - Applications
    delete:
      summary: Delete resource
      description: DeleteResource deletes a single application resource.
      operationId: AgentApplicationService_DeleteResource
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationsApplicationResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: request.name
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: request.namespace
        in: query
        required: false
        schema:
          type: string
      - name: request.resourceName
        in: query
        required: false
        schema:
          type: string
      - name: request.version
        in: query
        required: false
        schema:
          type: string
      - name: request.group
        in: query
        required: false
        schema:
          type: string
      - name: request.kind
        in: query
        required: false
        schema:
          type: string
      - name: request.force
        in: query
        required: false
        schema:
          type: boolean
      - name: request.orphan
        in: query
        required: false
        schema:
          type: boolean
      - name: request.appNamespace
        in: query
        required: false
        schema:
          type: string
      - name: request.project
        in: query
        required: false
        schema:
          type: string
      tags:
      - Applications
    post:
      summary: Patch an application resource
      description: PatchResource patch single application resource.
      operationId: AgentApplicationService_PatchResource
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationsApplicationResourceResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: request.name
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applicationsApplicationResourcePatchRequest'
        required: true
      tags:
      - Applications
  /gitops/api/v1/agents/{agentIdentifier}/applications/{request.name}/resource/actions:
    get:
      summary: List resource actions
      description: ListResourceActions returns a list of resource actions.
      operationId: AgentApplicationService_ListResourceActions
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationsResourceActionsListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: request.name
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: request.namespace
        in: query
        required: false
        schema:
          type: string
      - name: request.resourceName
        in: query
        required: false
        schema:
          type: string
      - name: request.version
        in: query
        required: false
        schema:
          type: string
      - name: request.group
        in: query
        required: false
        schema:
          type: string
      - name: request.kind
        in: query
        required: false
        schema:
          type: string
      - name: request.appNamespace
        in: query
        required: false
        schema:
          type: string
      - name: request.project
        in: query
        required: false
        schema:
          type: string
      tags:
      - Applications
    post:
      summary: Run resource action
      description: RunResourceAction runs a resource action.
      operationId: AgentApplicationService_RunResourceAction
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationsApplicationResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: request.name
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applicationsResourceActionRunRequest'
        required: true
      tags:
      - Applications
  /gitops/api/v1/agents/{agentIdentifier}/applications/{request.name}/rollback:
    post:
      summary: Rollback syncs an application to its target state
      description: Rollback syncs an application to its target state. Harness Event type (rollback).
      operationId: AgentApplicationService_Rollback
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1Application'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: request.name
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applicationsApplicationRollbackRequest'
        required: true
      tags:
      - Applications
  /gitops/api/v1/agents/{agentIdentifier}/applications/{request.name}/spec:
    put:
      summary: Update application spec
      description: UpdateSpec updates an application spec.
      operationId: AgentApplicationService_UpdateSpec
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationsApplicationSpec'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: request.name
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applicationsApplicationUpdateSpecRequest'
        required: true
      tags:
      - Applications
  /gitops/api/v1/agents/{agentIdentifier}/applications/{request.name}/sync:
    post:
      summary: Sync an application
      description: Sync syncs an application to its target state. Harness Event type (deploy)
      operationId: AgentApplicationService_Sync
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1Application'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: request.name
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applicationsApplicationSyncRequest'
        required: true
      tags:
      - Applications
  /gitops/api/v1/agents/{agentIdentifier}/stream/applications:
    get:
      summary: Watch returns stream of application change events
      description: Watch returns stream of application change events.
      operationId: AgentApplicationStreamService_Watch
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/applicationsApplicationWatchEvent'
                  error:
                    $ref: '#/components/schemas/runtimeStreamError'
                title: Stream result of applicationsApplicationWatchEvent
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: query.name
        description: the application's name.
        in: query
        required: false
        schema:
          type: string
      - name: query.refresh
        description: 'set to "normal" OR "hard" if an application refresh is required before fetching.


          normal refresh only if source has changed(commit, helm chart version, etc.)


          hard refresh will invalidate all generated manifest caches and force regeneration.'
        in: query
        required: false
        schema:
          type: string
      - name: query.project
        description: the project names to restrict returned list applications.
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: query.resourceVersion
        description: when specified with a watch call, shows changes that occur after that particular version of a resource.
        in: query
        required: false
        schema:
          type: string
      - name: query.selector
        description: the selector to to restrict returned list to applications only with matched labels.
        in: query
        required: false
        schema:
          type: string
      - name: query.repo
        description: the repoURL to restrict returned list applications.
        in: query
        required: false
        schema:
          type: string
      - name: query.appNamespace
        in: query
        required: false
        schema:
          type: string
      - name: fetchFromHarness
        description: fetchFromHarness is used in Get Application API to fetch application directly from mongodb instead of from agent. Use in Get Application API to fetch application directly from harness. This is already the fallback if the task times out on Gitops Agent. Use with caution as this may not return the latest state of application.
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Applications
  /gitops/api/v1/agents/{agentIdentifier}/stream/applications/{query.applicationName}/resource-tree:
    get:
      summary: WatchResourceTree returns stream of application resource tree
      description: WatchResourceTree returns stream of application resource tree.
      operationId: AgentApplicationStreamService_WatchResourceTree
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/applicationsApplicationTree'
                  error:
                    $ref: '#/components/schemas/runtimeStreamError'
                title: Stream result of applicationsApplicationTree
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: query.applicationName
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: query.namespace
        in: query
        required: false
        schema:
          type: string
      - name: query.name
        in: query
        required: false
        schema:
          type: string
      - name: query.version
        in: query
        required: false
        schema:
          type: string
      - name: query.group
        in: query
        required: false
        schema:
          type: string
      - name: query.kind
        in: query
        required: false
        schema:
          type: string
      - name: query.appNamespace
        in: query
        required: false
        schema:
          type: string
      - name: query.project
        in: query
        required: false
        schema:
          type: string
      tags:
      - Applications
  /gitops/api/v1/applications/attributes:
    get:
      summary: List attributes for applications
      description: ListAttributes returns a list of attributes for applications
      operationId: ApplicationService_ListAttributes
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ApplicationAttributesList'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: applicationIdentifiers
        description: List of application identifiers
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      tags:
      - Applications
  /gitops/api/v1/applications/bulk/refresh:
    post:
      summary: Bulk refresh multiple applications
      description: BulkRefresh refreshes the status of multiple applications at once, optionally performing a hard refresh if refresh is set to hard.
      operationId: ApplicationService_BulkRefresh
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationsApplicationBulkRefreshResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applicationsApplicationBulkRefreshRequest'
        required: true
      tags:
      - Applications
  /gitops/api/v1/applications/bulk/sync:
    post:
      summary: Bulk sync multiple applications
      description: BulkSync initiates sync for multiple applications to their target states.
      operationId: ApplicationService_BulkSync
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applicationsApplicationBulkSyncResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applicationsApplicationBulkSyncRequest'
        required: true
      tags:
      - Applications
  /gitops/api/v1/applications/ns:
    post:
      summary: List namespaces for a specific query
      description: ListNs retrieves a list of namespaces for a specific query.
      operationId: ApplicationService_ListNs
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitopsservicev1NamespaceList'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      requestBody:
        $ref: '#/components/requestBodies/servicev1ApplicationQuery'
      tags:
      - Applications
  /gitops/api/v1/applications/sets:
    get:
      summary: List LegacyApplicationSets
      description: ListAppSets lists LegacyApplicationSets in the specified project
      operationId: ApplicationService_ListAppSets
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1LegacyApplicationSetList'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: searchTerm
        in: query
        required: false
        schema:
          type: string
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageIndex
        in: query
        required: false
        schema:
          type: integer
          format: int32
      tags:
      - Applications
  /gitops/api/v1/applications/sync:
    post:
      summary: List application sync status
      description: ListAppSync returns a list of application sync status
      operationId: ApplicationService_ListAppSync
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ApplicationSyncStatuslist'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ApplicationSyncStatusQuery'
        required: true
      tags:
      - Applications
  /gitops/api/v1/applications/{name}/exists:
    get:
      summary: Check if an application exists
      description: Exists checks whether an application with the given name exists. When appNamespace is set, uniqueness is scoped to the Application CR namespace (apps in different namespaces may share the same Argo name).
      operationId: ApplicationService_Exists
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: boolean
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: query
        required: false
        schema:
          type: string
      - name: appNamespace
        in: query
        required: false
        schema:
          type: string
      tags:
      - Applications
components:
  schemas:
    applicationsBackoff:
      type: object
      properties:
        duration:
          type: string
          title: Duration is the amount to back off. Default unit is seconds, but could also be a duration (e.g. "2m", "1h")
        factor:
          type: string
          format: int64
          title: Factor is a factor to multiply the base duration after each failed retry
        maxDuration:
          type: string
          title: MaxDuration is the maximum amount of time allowed for the backoff strategy
      title: Backoff is the backoff strategy to use on subsequent retries for failing syncs
    applicationsApplicationSyncWindowsResponse:
      type: object
      properties:
        activeWindows:
          type: array
          items:
            $ref: '#/components/schemas/applicationsApplicationSyncWindow'
        assignedWindows:
          type: array
          items:
            $ref: '#/components/schemas/applicationsApplicationSyncWindow'
        canSync:
          type: boolean
    applicationsKustomizePatch:
      type: object
      properties:
        path:
          type: string
        patch:
          type: string
        target:
          $ref: '#/components/schemas/applicationsKustomizeSelector'
        options:
          type: object
          additionalProperties:
            type: boolean
    runtimeStreamError:
      type: object
      properties:
        grpc_code:
          type: integer
          format: int32
        http_code:
          type: integer
          format: int32
        message:
          type: string
        http_status:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    applicationsEventSource:
      type: object
      properties:
        component:
          type: string
          title: 'Component from which the event is generated.

            +'
        host:
          type: string
          title: 'Node name on which the event is generated.

            +'
    applicationsHelmParameter:
      type: object
      properties:
        name:
          type: string
          title: Name is the name of the Helm parameter
        value:
          type: string
          title: Value is the value for the Helm parameter
        forceString:
          type: boolean
          title: ForceString determines whether to tell Helm to interpret booleans and numbers as strings
      title: HelmParameter is a parameter that's passed to helm template during manifest generation
    v1ListMeta:
      type: object
      properties:
        selfLink:
          type: string
          title: 'Deprecated: selfLink is a legacy read-only field that is no longer populated by the system.

            +optional'
        resourceVersion:
          type: string
          title: 'String that identifies the server''s internal version of this object that

            can be used by clients to determine when objects have changed.

            Value must be treated as opaque by clients and passed unmodified back to the server.

            Populated by the system.

            Read-only.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency

            +optional'
        continue:
          type: string
          description: 'continue may be set if the user set a limit on the number of items returned, and indicates that

            the server has more data available. The value is opaque and may be used to issue another request

            to the endpoint that served this list to retrieve the next set of available objects. Continuing a

            consistent list may not be possible if the server configuration has changed or more than a few

            minutes have passed. The resourceVersion field returned when using this continue value will be

            identical to the value in the first response, unless you have received this token from an error

            message.'
        remainingItemCount:
          type: string
          format: int64
          title: 'remainingItemCount is the number of subsequent items in the list which are not included in this

            list response. If the list request contained label or field selectors, then the number of

            remaining items is unknown and the field will be left unset and omitted during serialization.

            If the list is complete (either because it is not chunking or because this is the last chunk),

            then there are no more remaining items and this field will be left unset and omitted during

            serialization.

            Servers older than v1.15 do not set this field.

            The intended use of the remainingItemCount is *estimating* the size of a collection. Clients

            should not rely on the remainingItemCount to be set or to be exact.

            +optional'
      description: 'ListMeta describes metadata that synthetic resources must have, including lists and

        various status objects. A resource may have only one of {ObjectMeta, ListMeta}.'
    v1ManagedFieldsEntry:
      type: object
      properties:
        manager:
          type: string
          description: Manager is an identifier of the workflow managing these fields.
        operation:
          type: string
          description: 'Operation is the type of operation which lead to this ManagedFieldsEntry being created.

            The only valid values for this field are ''Apply'' and ''Update''.'
        apiVersion:
          type: string
          description: 'APIVersion defines the version of this resource that this field set

            applies to. The format is "group/version" just like the top-level

            APIVersion field. It is necessary to track the version of a field

            set because it cannot be automatically converted.'
        time:
          $ref: '#/components/schemas/v1Time'
        fieldsType:
          type: string
          title: 'FieldsType is the discriminator for the different fields format and version.

            There is currently only one possible value: "FieldsV1"'
        fieldsV1:
          $ref: '#/components/schemas/v1FieldsV1'
        subresource:
          type: string
          description: 'Subresource is the name of the subresource used to update that object, or

            empty string if the object was updated through the main resource. The

            value of this field is used to distinguish between managers, even if they

            share the same name. For example, a status update will be distinct from a

            regular update using the same manager name.

            Note that the APIVersion field is not related to the Subresource field and

            it always corresponds to the version of the main resource.'
      description: 'ManagedFieldsEntry is a workflow-id, a FieldSet and the group version of the resource

        that the fieldset applies to.'
    applicationsResourceResult:
      type: object
      properties:
        group:
          type: string
          title: Group specifies the API group of the resource
        version:
          type: string
          title: Version specifies the API version of the resource
        kind:
          type: string
          title: Kind specifies the API kind of the resource
        namespace:
          type: string
          title: Namespace specifies the target namespace of the resource
        name:
          type: string
          title: Name specifies the name of the resource
        status:
          type: string
          title: Status holds the final result of the sync. Will be empty if the resources is yet to be applied/pruned and is always zero-value for hooks
        message:
          type: string
          title: Message contains an informational or error message for the last sync OR operation
        hookType:
          type: string
          title: HookType specifies the type of the hook. Empty for non-hook resources
        hookPhase:
          type: string
          description: 'HookPhase contains the state of any operation associated with this resource OR hook

            This can also contain values for non-hook resources.'
        syncPhase:
          type: string
          title: SyncPhase indicates the particular phase of the sync that this result was acquired in
        images:
          type: array
          items:
            type: string
          title: Images contains the images related to the ResourceResult
      title: ResourceResult holds the operation result details of a specific resource
    applicationsSyncOperationResource:
      type: object
      properties:
        group:
          type: string
        kind:
          type: string
        name:
          type: string
        namespace:
          type: string
      description: SyncOperationResource contains resources to sync.
    applicationsAppHealthStatus:
      type: object
      properties:
        status:
          type: string
          title: Status holds the status code of the application
        message:
          type: string
          description: 'Deprecated: this field is not used and will be removed in a future release.'
          title: Message is a human-readable informational message describing the health status
        lastTransitionTime:
          $ref: '#/components/schemas/v1Time'
      title: AppHealthStatus contains information about the currently observed health state of an application
    applicationsComparedTo:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/applicationsApplicationSource'
        destination:
          $ref: '#/components/schemas/applicationsApplicationDestination'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/applicationsApplicationSource'
          title: Sources is a reference to the application's multiple sources used for comparison
        ignoreDifferences:
          type: array
          items:
            $ref: '#/components/schemas/applicationsResourceIgnoreDifferences'
          title: IgnoreDifferences is a reference to the application's ignored differences used for comparison
      title: ComparedTo contains application source and target which was used for resources comparison
    applicationsResourceNode:
      type: object
      properties:
        resourceRef:
          $ref: '#/components/schemas/applicationsResourceRef'
        parentRefs:
          type: array
          items:
            $ref: '#/components/schemas/applicationsResourceRef'
          description: 'ParentRefs lists the parent resources that reference this resource.

            This helps in understanding ownership and hierarchical relationships.'
        info:
          type: array
          items:
            $ref: '#/components/schemas/applicationsInfoItem'
          description: Info provides additional metadata or annotations about the resource.
        networkingInfo:
          $ref: '#/components/schemas/applicationsResourceNetworkingInfo'
        resourceVersion:
          type: string
          description: ResourceVersion indicates the version of the resource, used to track changes.
        images:
          type: array
          items:
            type: string
          description: 'Images lists container images associated with the resource.

            This is primarily useful for pods and other workload resources.'
        health:
          $ref: '#/components/schemas/applicationsHealthStatus'
        createdAt:
          $ref: '#/components/schemas/v1Time'
        createdAtTs:
          type: string
          format: date-time
      description: ResourceNode contains information about a live Kubernetes resource and its relationships with other resources.
    applicationsApplicationDestination:
      type: object
      properties:
        server:
          type: string
          title: Server specifies the URL of the target cluster and must be set to the Kubernetes control plane API
        namespace:
          type: string
          title: 'Namespace specifies the target namespace for the application''s resources.

            The namespace will only be set for namespace-scoped resources that have not set a value for .metadata.namespace'
        name:
          type: string
          title: Name is an alternate way of specifying the target cluster by its symbolic name
      title: ApplicationDestination holds information about the application's destination
    v1PolicyMetadata:
      type: object
      properties:
        policyId:
          type: string
          description: Unique ID of the policy
        policyName:
          type: string
          description: Name of the policy
        identifier:
          type: string
          description: User-defined identifier of the policy
        severity:
          type: string
          description: 'Severity level: warning or error'
        status:
          type: string
          description: 'Status: pass, warning, or error'
        denyMessages:
          type: array
          items:
            type: string
          description: Messages explaining why the policy denied the action
        accountId:
          type: string
          description: Account ID
        orgId:
          type: string
          description: Organization ID
        projectId:
          type: string
          description: Project ID
        created:
          type: string
          description: Creation timestamp
        updated:
          type: string
          description: Last update timestamp
        error:
          type: string
          description: Error message from rego engine if any
      description: PolicyMetadata contains evaluation results for a single policy within a policy set.
    v1LegacyApplicationSetList:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/v1LegacyApplicationSetListItem'
        totalPages:
          type: integer
          format: int32
        totalItems:
          type: integer
          format: int32
        pageItemCount:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        pageIndex:
          type: integer
          format: int32
        empty:
          type: boolean
    applicationsApplicationSourcePluginParameter:
      type: object
      properties:
        name:
          type: string
          description: Name is the name identifying a parameter.
        string:
          type: string
          description: String_ is the value of a string type parameter.
        map:
          $ref: '#/components/schemas/applicationsOptionalMap'
        array:
          $ref: '#/components/schemas/applicationsOptionalArray'
    applicationsApplicationStatus:
      type: object
      properties:
        resources:
          type: array
          items:
            $ref: '#/components/schemas/applicationsResourceStatus'
          title: Resources is a list of Kubernetes resources managed by this application
        sync:
          $ref: '#/components/schemas/applicationsSyncStatus'
        health:
          $ref: '#/components/schemas/applicationsAppHealthStatus'
        history:
          type: array
          items:
            $ref: '#/components/schemas/applicationsRevisionHistory'
          title: History contains information about the application's sync history
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/applicationsApplicationCondition'
          title: Conditions is a list of currently observed application conditions
        reconciledAt:
          $ref: '#/components/schemas/v1Time'
        operationState:
          $ref: '#/components/schemas/applicationsOperationState'
        observedAt:
          $ref: '#/components/schemas/v1Time'
        sourceType:
          type: string
          title: SourceType specifies the type of this application
        summary:
          $ref: '#/components/schemas/applicationsApplicationSummary'
        resourceHealthSource:
          type: string
          title: 'ResourceHealthSource indicates where the resource health status is stored: inline if not set or appTree'
        sourceTypes:
          type: array
          items:
            type: string
          title: SourceTypes specifies the type of the sources included in the application
        controllerNamespace:
          type: string
          title: ControllerNamespace indicates the namespace in which the application controller is located
        sourceHydrator:
          $ref: '#/components/schemas/applicationsSourceHydratorStatus'
      title: ApplicationStatus contains status information for the application
    applicationsHydrateTo:
      type: object
      properties:
        targetBranch:
          type: string
          title: TargetBranch is the branch to which hydrated manifests should be committed
      description: 'HydrateTo specifies a location to which hydrated manifests should be pushed as a "staging area" before being moved to

        the SyncSource. The RepoURL and Path are assumed based on the associated SyncSource config in the SourceHydrator.'
    applicationsResourceNetworkingInfo:
      type: object
      properties:
        targetLabels:
          type: object
          additionalProperties:
            type: string
          description: TargetLabels represents labels associated with the target resources that this resource communicates with.
        targetRefs:
          type: array
          items:
            $ref: '#/components/schemas/applicationsResourceRef'
          description: TargetRefs contains references to other resources that this resource interacts with, such as Services or Pods.
        labels:
          type: object
          additionalProperties:
            type: string
          description: Labels holds the labels associated with this networking resource.
        ingress:
          type: array
          items:
            $ref: '#/components/schemas/v1LoadBalancerIngress'
          description: Ingress provides information about external access points (e.g., load balancer ingress) for this resource.
        externalURLs:
[...]
