openapi: 3.2.0
info:
  title: Harness Experiment Templates API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Experiment Templates
paths:
  /gateway/chaos/manager/api/rest/experimenttemplates:
    get:
      description: List all the experiment templates in a hub based on tag
      tags:
      - Experiment Templates
      summary: List all the experiment templates in a hub
      operationId: listExperimentTemplate
      parameters:
      - description: account id to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - name: hubIdentity
        in: query
        schema:
          type: string
      - name: includeAllScope
        in: query
        schema:
          type: boolean
      - description: infrastructure used for filter
        name: infrastructure
        in: query
        schema:
          type: string
          enum:
          - KubernetesV2
      - description: infrastructure type used for filter
        name: infrastructureType
        in: query
        schema:
          type: string
          enum:
          - Kubernetes
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 15
      - description: organization id to access the resource
        name: organizationIdentifier
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          default: 0
      - description: project id to access the resource
        name: projectIdentifier
        in: query
        schema:
          type: string
      - description: name that you want to search
        name: search
        in: query
        schema:
          type: string
      - description: if sort order ascending or not
        name: sortAscending
        in: query
        schema:
          type: boolean
      - description: field  name that you want to sort
        name: sortField
        in: query
        schema:
          type: string
          enum:
          - name
          - lastUpdated
          - experimentName
      - name: tags
        in: query
        schema:
          type: string
      - name: verbose
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaosexperimenttemplate.ListExperimentTemplateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
    post:
      description: Create experiment templates in a hub based on tag
      tags:
      - Experiment Templates
      summary: Create experiment templates in a hub
      operationId: createExperimentTemplate
      parameters:
      - description: account id to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - name: hubIdentity
        in: query
        schema:
          type: string
      - description: organization id to access the resource
        name: organizationIdentifier
        in: query
        schema:
          type: string
      - description: project id to access the resource
        name: projectIdentifier
        in: query
        schema:
          type: string
      - name: verbose
        in: query
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chaosexperimenttemplate.CreateExperimentTemplateRequest'
        description: create experiment template request
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaosexperimenttemplate.CreateExperimentTemplateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/experimenttemplates/{identity}:
    get:
      description: List all the experiment templates in a hub based on tag
      tags:
      - Experiment Templates
      summary: List all the experiment templates in a hub
      operationId: getExperimentTemplate
      parameters:
      - description: account id to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - name: hubIdentity
        in: query
        schema:
          type: string
      - name: isReference
        in: query
        schema:
          type: boolean
      - description: organization id to access the resource
        name: organizationIdentifier
        in: query
        schema:
          type: string
      - description: project id to access the resource
        name: projectIdentifier
        in: query
        schema:
          type: string
      - name: revision
        in: query
        schema:
          type: string
      - name: verbose
        in: query
        schema:
          type: boolean
      - description: identity of the experiment
        name: identity
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaosexperimenttemplate.GetExperimentTemplateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
    put:
      description: Update the experiment templates in a hub based on tag
      tags:
      - Experiment Templates
      summary: Update the experiment templates in a hub
      operationId: updateExperimentTemplate
      parameters:
      - description: account id to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - name: hubIdentity
        in: query
        schema:
          type: string
      - description: organization id to access the resource
        name: organizationIdentifier
        in: query
        schema:
          type: string
      - description: project id to access the resource
        name: projectIdentifier
        in: query
        schema:
          type: string
      - name: verbose
        in: query
        schema:
          type: boolean
      - description: identity of the experiment template
        name: identity
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chaosexperimenttemplate.UpdateExperimentTemplateRequest'
        description: update experiment template request
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaosexperimenttemplate.UpdateExperimentTemplateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
    delete:
      description: Delete the experiment templates in a hub based on tag
      tags:
      - Experiment Templates
      summary: Delete the experiment templates in a hub
      operationId: deleteExperimentTemplate
      parameters:
      - description: account id to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - name: hubIdentity
        in: query
        schema:
          type: string
      - description: organization id to access the resource
        name: organizationIdentifier
        in: query
        schema:
          type: string
      - description: project id to access the resource
        name: projectIdentifier
        in: query
        schema:
          type: string
      - name: verbose
        in: query
        schema:
          type: boolean
      - description: identity of the experiment
        name: identity
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_api.Empty'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/experimenttemplates/{identity}/compare:
    get:
      description: Get the difference between 2 revisions of an experiment template in a hub
      tags:
      - Experiment Templates
      summary: Get the difference between 2 revisions of an experiment template
      operationId: compareExperimentTemplateRevisions
      parameters:
      - description: account id to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - name: hubIdentity
        in: query
        schema:
          type: string
      - description: organization id to access the resource
        name: organizationIdentifier
        in: query
        schema:
          type: string
      - description: project id to access the resource
        name: projectIdentifier
        in: query
        schema:
          type: string
      - name: revision1
        in: query
        schema:
          type: string
      - name: revision2
        in: query
        schema:
          type: string
      - name: verbose
        in: query
        schema:
          type: boolean
      - description: identity of the experiment
        name: identity
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaosexperimenttemplate.CompareRevisions'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/experimenttemplates/{identity}/launch:
    post:
      tags:
      - Experiment Templates
      summary: Create experiment from an experiment template
      operationId: createExperimentFromTemplate
      parameters:
      - description: identity of the experiment
        name: identity
        in: path
        required: true
        schema:
          type: string
      - description: account id to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - name: hubIdentity
        in: query
        schema:
          type: string
      - description: organization id to access the resource
        name: organizationIdentifier
        in: query
        schema:
          type: string
      - description: project id to access the resource
        name: projectIdentifier
        in: query
        schema:
          type: string
      - name: revision
        in: query
        schema:
          type: string
      - name: verbose
        in: query
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.CreateExperimentFromTemplateRequest'
        description: create experiment template request
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ExperimentCreationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/experimenttemplates/{identity}/revisions:
    get:
      tags:
      - Experiment Templates
      summary: List all the revision of an experiment template in a hub
      operationId: getExperimentTemplateRevisions
      parameters:
      - description: account id to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - name: hubIdentity
        in: query
        schema:
          type: string
      - name: includeAllScope
        in: query
        schema:
          type: boolean
      - description: infrastructure used for filter
        name: infrastructure
        in: query
        schema:
          type: string
          enum:
          - KubernetesV2
      - description: infrastructure type used for filter
        name: infrastructureType
        in: query
        schema:
          type: string
          enum:
          - Kubernetes
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 15
      - description: organization id to access the resource
        name: organizationIdentifier
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          default: 0
      - description: project id to access the resource
        name: projectIdentifier
        in: query
        schema:
          type: string
      - description: name that you want to search
        name: search
        in: query
        schema:
          type: string
      - description: if sort order ascending or not
        name: sortAscending
        in: query
        schema:
          type: boolean
      - description: field  name that you want to sort
        name: sortField
        in: query
        schema:
          type: string
          enum:
          - name
          - lastUpdated
          - experimentName
      - name: tags
        in: query
        schema:
          type: string
      - name: verbose
        in: query
        schema:
          type: boolean
      - description: identity of the experiment
        name: identity
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaosexperimenttemplate.ListExperimentTemplateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/experimenttemplates/{identity}/variables:
    get:
      description: Get the list of inputs in an experiment template based on revision
      tags:
      - Experiment Templates
      summary: Get the list of inputs in an experiment template
      operationId: getExperimentTemplateVariables
      parameters:
      - description: account id to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - name: hubIdentity
        in: query
        schema:
          type: string
      - name: isReference
        in: query
        schema:
          type: boolean
      - description: organization id to access the resource
        name: organizationIdentifier
        in: query
        schema:
          type: string
      - description: project id to access the resource
        name: projectIdentifier
        in: query
        schema:
          type: string
      - name: revision
        in: query
        schema:
          type: string
      - name: verbose
        in: query
        schema:
          type: boolean
      - description: identity of the experiment
        name: identity
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaosexperimenttemplate.ExperimentTemplateVariables'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/experimenttemplates/{identity}/yaml:
    get:
      description: Get experiment template yaml based on revision
      tags:
      - Experiment Templates
      summary: Get experiment template yaml
      operationId: getExperimentTemplateYaml
      parameters:
      - description: account id to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - name: hubIdentity
        in: query
        schema:
          type: string
      - name: isReference
        in: query
        schema:
          type: boolean
      - description: organization id to access the resource
        name: organizationIdentifier
        in: query
        schema:
          type: string
      - description: project id to access the resource
        name: projectIdentifier
        in: query
        schema:
          type: string
      - name: revision
        in: query
        schema:
          type: string
      - name: verbose
        in: query
        schema:
          type: boolean
      - description: identity of the experiment
        name: identity
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaosexperimenttemplate.ExperimentTemplateYaml'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
components:
  schemas:
    experimenttemplate.StatusCheckTimeout:
      type: object
      properties:
        delay:
          type: integer
        timeout:
          type: integer
    experimenttemplate.ProbeConditions:
      type: object
      properties:
        executeUpon:
          type: string
    experimenttemplate.Action:
      type: object
      properties:
        continueOnCompletion:
          type: boolean
        identity:
          type: string
        infraId:
          type: string
        isEnterprise:
          type: boolean
        name:
          type: string
        revision:
          type: integer
        values:
          type: array
          items:
            $ref: '#/components/schemas/template.VariableMinimum'
    chaosexperimenttemplate.CreateExperimentTemplateRequest:
      type: object
      required:
      - manifest
      properties:
        manifest:
          type: string
    chaosexperimenttemplate.GetExperimentTemplateResponse:
      type: object
      required:
      - identity
      - isDefault
      - name
      - revision
      - spec
      properties:
        apiVersion:
          type: string
        correlationID:
          type: string
        description:
          type: string
        hubIdentity:
          type: string
        identity:
          type: string
        isDefault:
          type: boolean
        kind:
          type: string
        name:
          type: string
        revision:
          type: string
        spec:
          $ref: '#/components/schemas/experimenttemplate.Spec'
        tags:
          type: array
          items:
            type: string
    github_com_harness_hce-saas_graphql_server_graph_model.UserDetails:
      type: object
      properties:
        email:
          type: string
        userID:
          type: string
        username:
          type: string
    template.Variable:
      type: object
      required:
      - name
      - value
      properties:
        allowedValues:
          type: array
          items: {}
        category:
          $ref: '#/components/schemas/template.InputCategory'
        default: {}
        description:
          type: string
        name:
          type: string
        path:
          type: string
        required:
          type: boolean
        stringify:
          type: boolean
        tags:
          type: array
          items:
            type: string
        tooltipId:
          type: string
        type:
          $ref: '#/components/schemas/template.InputType'
        validator:
          type: string
        value: {}
    types.ExperimentCreationResponse:
      type: object
      properties:
        auditAction:
          $ref: '#/components/schemas/experiment.SaveChaosExperimentResponse'
        data:
          $ref: '#/components/schemas/types.ExperimentCreationRequest'
    experiment.SaveChaosExperimentResponse:
      type: object
      properties:
        auditAction:
          type: string
        response:
          type: string
    types.ExperimentCreationRequest:
      type: object
      properties:
        cronSyntax:
          type: string
        description:
          type: string
        eventsMetadata:
          type: array
          items:
            $ref: '#/components/schemas/model.EventMetadata'
        experimentType:
          $ref: '#/components/schemas/model.WorkflowType'
        id:
          type: string
        identity:
          type: string
        infraId:
          type: string
        infraType:
          $ref: '#/components/schemas/experiment.InfraType'
        isSingleRunCronEnabled:
          type: boolean
        manifest:
          type: string
        name:
          type: string
        recommendation:
          $ref: '#/components/schemas/chaos_experiment.Recommendation'
        tags:
          type: array
          items:
            type: string
        templateDetails:
          $ref: '#/components/schemas/chaos_experiment_run.TemplateDetails'
        templateResources:
          $ref: '#/components/schemas/types.TemplateResources'
        validateManifest:
          type: boolean
    api.ResponseErrorCode:
      type: string
      enum:
      - PIPELINE_NOT_FOUND
      x-enum-varnames:
      - PipelineNotFound
    experimenttemplate.VertexChild:
      type: object
      properties:
        actions:
          type: array
          items:
            $ref: '#/components/schemas/experimenttemplate.VertexResource'
        faults:
          type: array
          items:
            $ref: '#/components/schemas/experimenttemplate.VertexResource'
        probes:
          type: array
          items:
            $ref: '#/components/schemas/experimenttemplate.VertexResource'
    experimenttemplate.Vertex:
      type: object
      required:
      - name
      properties:
        end:
          $ref: '#/components/schemas/experimenttemplate.VertexChild'
        name:
          type: string
        start:
          $ref: '#/components/schemas/experimenttemplate.VertexChild'
    experimenttemplate.Fault:
      type: object
      properties:
        authEnabled:
          type: boolean
        identity:
          type: string
        infraId:
          type: string
        isEnterprise:
          type: boolean
        name:
          type: string
        revision:
          type: string
        values:
          type: array
          items:
            $ref: '#/components/schemas/template.VariableMinimum'
    chaosexperimenttemplate.ExperimentTemplateYaml:
      type: object
      properties:
        correlationID:
          type: string
        template:
          type: string
    api.RestError:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/api.ResponseErrorCode'
        description:
          type: string
        message:
          type: string
    template.InputCategory:
      type: string
      enum:
      - FaultTarget
      - FaultTunable
      - TargetInfra
      - ExperimentTunable
      - ActionProperties
      - ProbeProperties
      - RunProperties
      - FaultAuthentication
      x-enum-varnames:
      - CategoryFaultTarget
      - CategoryFaultTunable
      - CategoryTargetInfra
      - CategoryExperimentTunable
      - CategoryActionProperties
      - CategoryProbeProperties
      - CategoryRunProperties
      - CategoryFaultAuthentication
    experimenttemplate.VertexResource:
      type: object
      required:
      - name
      properties:
        name:
          type: string
    experimenttemplate.Spec:
      type: object
      required:
      - infraType
      properties:
        actions:
          type: array
          items:
            $ref: '#/components/schemas/experimenttemplate.Action'
        cleanupPolicy:
          $ref: '#/components/schemas/experiment.CleanupPolicy'
        faults:
          type: array
          items:
            $ref: '#/components/schemas/experimenttemplate.Fault'
        infraId:
          type: string
        infraType:
          $ref: '#/components/schemas/experiment.InfraType'
        probes:
          type: array
          items:
            $ref: '#/components/schemas/experimenttemplate.Probe'
        statusCheckTimeouts:
          $ref: '#/components/schemas/experimenttemplate.StatusCheckTimeout'
        vertices:
          type: array
          items:
            $ref: '#/components/schemas/experimenttemplate.Vertex'
    experiment.CleanupPolicy:
      type: string
      enum:
      - retain
      - delete
      x-enum-varnames:
      - RetainTask
      - DeleteTask
    types.TemplateResourceDetails:
      type: object
      properties:
        identity:
          type: string
        name:
          type: string
        revision:
          type: string
    types.TemplateResources:
      type: object
      properties:
        actions:
          type: array
          items:
            $ref: '#/components/schemas/types.TemplateResourceDetails'
        faults:
          type: array
          items:
            $ref: '#/components/schemas/types.TemplateResourceDetails'
        probes:
          type: array
          items:
            $ref: '#/components/schemas/types.TemplateResourceDetails'
    github_com_harness_hce-saas_graphql_server_api.Empty:
      type: object
    mongodb.ImportType:
      type: string
      enum:
      - LOCAL
      - REFERENCE
      x-enum-varnames:
      - ImportTypeLocal
      - ImportTypeReference
    chaosexperimenttemplate.CompareRevisions:
      type: object
      properties:
        correlationID:
          type: string
        template1:
          type: string
        template2:
          type: string
    chaosexperimenttemplate.ChaosExperimentTemplate:
      type: object
      required:
      - accountID
      - isRemoved
      - name
      properties:
        accountID:
          type: string
        createdAt:
          type: integer
        createdBy:
          type: string
        createdByUserDetails:
          $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_graph_model.UserDetails'
        description:
          type: string
        editCounter:
          description: Counter to track if any edits were made to the template
          type: integer
        hubIdentity:
          type: string
        id:
          type: string
        identity:
          type: string
        infraType:
          $ref: '#/components/schemas/experiment.InfraType'
        infras:
          type: array
          items:
            type: string
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
        isDefault:
          type: boolean
        isEnterprise:
          type: boolean
        isRemoved:
          type: boolean
        name:
          type: string
        orgID:
          type: string
        projectID:
          type: string
        revision:
          type: string
        tags:
          type: array
          items:
            type: string
        template:
          type: string
        updatedAt:
          type: integer
        updatedBy:
          type: string
        updatedByUserDetails:
          $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_graph_model.UserDetails'
        variables:
          description: CHAOS-11100
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
    experimenttemplate.Probe:
      type: object
      properties:
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/experimenttemplate.ProbeConditions'
        duration:
          type: string
        enableDataCollection:
          type: boolean
        identity:
          type: string
        infraId:
          type: string
        isEnterprise:
          type: boolean
        name:
          type: string
        revision:
          type: integer
        values:
          type: array
          items:
            $ref: '#/components/schemas/template.VariableMinimum'
        weightage:
          type: integer
    chaosexperimenttemplate.UpdateExperimentTemplateResponse:
      type: object
      required:
      - identity
      - isDefault
      - name
      - revision
      - spec
      properties:
        apiVersion:
          type: string
        correlationID:
          type: string
        description:
          type: string
        hubIdentity:
          type: string
        identity:
          type: string
        isDefault:
          type: boolean
        kind:
          type: string
        name:
          type: string
        revision:
          type: string
        spec:
          $ref: '#/components/schemas/experimenttemplate.Spec'
        tags:
          type: array
          items:
            type: string
    chaosexperimenttemplate.CreateExperimentTemplateResponse:
      type: object
      required:
      - identity
      - isDefault
      - name
      - revision
      - spec
      properties:
        apiVersion:
          type: string
        correlationID:
          type: string
        description:
          type: string
        hubIdentity:
          type: string
        identity:
          type: string
        isDefault:
          type: boolean
        kind:
          type: string
        name:
          type: string
        revision:
          type: string
        spec:
          $ref: '#/components/schemas/experimenttemplate.Spec'
        tags:
          type: array
          items:
            type: string
    chaosexperimenttemplate.ExperimentTemplateVariables:
      type: object
      properties:
        actions:
          type: array
          items:
            $ref: '#/components/schemas/chaosexperimenttemplate.Inputs'
        correlationID:
          type: string
        faults:
          type: array
          items:
            $ref: '#/components/schemas/chaosexperimenttemplate.Inputs'
        probes:
          type: array
          items:
            $ref: '#/components/schemas/chaosexperimenttemplate.Inputs'
    chaos_experiment.Recommendation:
      type: object
      properties:
        bySystem:
          type: boolean
        reasons:
          type: array
          items:
            type: string
        weightage:
          type: integer
    chaosexperimenttemplate.ListExperimentTemplateResponse:
      type: object
      properties:
        correlationID:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/chaosexperimenttemplate.ChaosExperimentTemplate'
        pagination:
          $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_api.Pagination'
    types.CreateExperimentFromTemplateRequest:
      type: object
      required:
      - accountIdentifier
      - name
      properties:
        accountIdentifier:
          description: account id to access the resource
          type: string
        description:
          type: string
        identity:
          type: string
        importType:
          $ref: '#/components/schemas/mongodb.ImportType'
        infraRef:
          type: string
        name:
          type: string
        organizationIdentifier:
          description: organization id to access the resource
          type: string
        projectIdentifier:
          description: project id to access the resource
          type: string
        tags:
          type: array
          items:
            type: string
    chaos_experiment_run.TemplateDetails:
      type: object
      properties:
        hubReference:
          type: string
        identity:
          type: string
        reference:
          type: string
        revision:
          type: string
    experiment.InfraType:
      type: string
      enum:
      - windows
      - Windows
      - Linux
      - CloudFoundry
      - Container
      - Kubernetes
      - KubernetesV2
      x-enum-comments:
        WindowsAlternate: retained for backward compatibility
      x-enum-varnames:
      - WindowsAlternate
      - Windows
      - Linux
      - CloudFoundry
      - Container
      - Kubernetes
      - KubernetesV2
    chaosexperimenttemplate.Inputs:
      type: object
      properties:
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
        name:
          type: string
        variables:
          description: CHAOS-11100
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
    github_com_harness_hce-saas_graphql_server_api.Pagination:
      type: object
      properties:
        index:
          type: integer
        limit:
          type: integer
        totalItems:
          type: integer
        totalPages:
          type: integer
    template.VariableMinimum:
      type: object
      required:
      - name
      - value
      properties:
        name:
          type: string
        value: {}
    chaosexperimenttemplate.UpdateExperimentTemplateRequest:
      type: object
      required:
      - manifest
      properties:
        manifest:
          type: string
    model.WorkflowType:
      type: string
      enum:
      - All
      - GamedayWorkflow
      - Workflow
      - CronWorkflow
      - ChaosEngine
      - ChaosSchedule
      x-enum-varnames:
      - WorkflowTypeAll
      - WorkflowTypeGamedayWorkflow
      - WorkflowTypeWorkflow
      - WorkflowTypeCronWorkflow
      - WorkflowTypeChaosEngine
      - WorkflowTypeChaosSchedule
    template.InputType:
      type: string
      enum:
      - String
      - Integer
      - Boolean
      - Number
      - SecretFile
      - SecretText
      x-enum-varnames:
      - StringInput
      - IntegerInput
      - BooleanInput
      - NumberInput
      - SecretFileInput
      - SecretTextInput
    model.EventMetadata:
      type: object
      properties:
        environmentIdentifier:
          type: array
          items:
            type: string
        faultName:
          type: string
        serviceIdentifier:
          type: array
          items:
            type: string
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
