openapi: 3.2.0
info:
  title: Harness Integration API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Integration
paths:
  /gateway/ssca-manager/v1/orgs/{org}/projects/{project}/integration/integration-summary:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    get:
      summary: Get Integration ID by GitHub Organization URL
      tags:
      - Integration
      responses:
        '200':
          $ref: '#/components/responses/GetIntegrationSummaryResponseBody'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: GetIntegration
      x-stoplight:
        id: get-integration-summary-endpoint
      security:
      - x-api-key: []
      x-internal: false
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      - name: github_org_url
        in: query
        required: false
        schema:
          type: string
        description: GitHub organization URL(optional for only type=Github
        example: https://github.com/myorg
      description: Fetch the RSPM integration ID based on account, organization, project, and GitHub organization URL
  /gateway/ssca-manager/v1/orgs/{org}/projects/{project}/integration:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    get:
      summary: List Integrations
      tags:
      - Integration
      responses:
        '200':
          $ref: '#/components/responses/IntegrationListingResponseBody'
      operationId: listIntegrations
      x-stoplight:
        id: n7g2q1eq0msdv
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      - $ref: '#/components/parameters/Limit6'
      - $ref: '#/components/parameters/Order2'
      - $ref: '#/components/parameters/Page2'
      - schema:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
        in: query
        name: status
        description: Status of the integration
      - schema:
          type: string
        in: query
        name: search_term
        description: integration org search
      - schema:
          type: string
          enum:
          - last_scan
          default: last_scan
        in: query
        name: sort
        description: sort order
      x-internal: true
    post:
      summary: Create Integration
      tags:
      - Integration
      responses:
        '200':
          $ref: '#/components/responses/CreateIntegrationResponseBody'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error3'
          description: Not Acceptable
        '500':
          description: Internal Server Error
      operationId: createIntegration
      x-stoplight:
        id: srinp2ibtwp8o
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      requestBody:
        $ref: '#/components/requestBodies/CreateIntegrationRequestBody'
      x-internal: false
  /v1/orgs/{org}/projects/{project}/integration/{integration}/fetch-repos:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - schema:
        type: string
      name: integration
      in: path
      required: true
      description: Integration ID
    get:
      summary: Get all repos from github app
      tags:
      - Integration
      responses:
        '200':
          $ref: '#/components/responses/FetchIntegrationReposResponseBody'
      operationId: fetchReposInIntegration
      x-stoplight:
        id: ux0nso6255a3y
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      - $ref: '#/components/parameters/Limit6'
      - $ref: '#/components/parameters/Page2'
      - $ref: '#/components/parameters/SearchTerm6'
      x-internal: true
  /gateway/ssca-manager/v1/orgs/{org}/projects/{project}/integration/{integration}/repos:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - schema:
        type: string
      name: integration
      in: path
      required: true
      description: A unique identifier for the integration created using the Create Integration API. This ID is returned in the response of the Create Integration API and must be provided as a path parameter when fetching integration details or repositories.
    get:
      summary: Get configured repos in the integration
      tags:
      - Integration
      responses:
        '200':
          $ref: '#/components/responses/ListIntegrationReposResponseBody'
      operationId: getIntegrationRepos
      x-stoplight:
        id: ausvqq25jx0w8
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      x-internal: true
    post:
      summary: Configure repos in your integration
      tags:
      - Integration
      responses:
        '200':
          $ref: '#/components/responses/UpdateIntegrationResponseBody'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: configureRepos
      x-stoplight:
        id: amik8vh9jyz77
      security:
      - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/ConfigureReposRequest'
      x-internal: false
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
    patch:
      summary: Add repos in your integration
      tags:
      - Integration
      responses:
        '200':
          $ref: '#/components/responses/UpdateIntegrationResponseBody'
      operationId: addRepos
      x-stoplight:
        id: amik8vh9jyz77
      security:
      - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/ConfigureReposRequest'
      x-internal: false
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
  /gateway/ssca-manager/v1/orgs/{org}/projects/{project}/integration/{integration}:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - schema:
        type: string
      name: integration
      in: path
      required: true
      description: Integration ID
    delete:
      summary: Delete Integration
      tags:
      - Integration
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      operationId: deleteIntegration
      x-stoplight:
        id: spufhrt5hdms2
      security:
      - x-api-key: []
      x-internal: false
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
  /v1/orgs/{org}/projects/{project}/integration/harness-pipeline:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    get:
      summary: Get Harness Pipeline Integration
      tags:
      - Integration
      responses:
        '200':
          $ref: '#/components/responses/HarnessPipelineIntegrationResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getHarnessPipelineIntegration
      x-stoplight:
        id: d42j4z2o5lf4f
      security:
      - x-api-key: []
      x-internal: true
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
components:
  parameters:
    SearchTerm6:
      name: search_term
      in: query
      required: false
      schema:
        type: string
    Page2:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
        minimum: 0
      description: "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t"
    Limit6:
      name: limit
      in: query
      schema:
        type: integer
        default: 30
        maximum: 1000
        minimum: 1
      description: Number of items to return per page.
    OrgParam1:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Harness organization ID
    Order2:
      name: order
      in: query
      required: false
      schema:
        type: string
        enum:
        - ASC
        - DESC
        default: ASC
      description: Order on the basis of which sorting is done.
    AccountHeader6:
      name: Harness-Account
      in: header
      required: true
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
    ProjectParam1:
      in: path
      required: true
      schema:
        type: string
      description: Harness project ID
      name: project
  responses:
    HarnessPipelineIntegrationResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HarnessPipelineIntegrationResponse'
    CreateIntegrationResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Integration'
    UpdateIntegrationResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateIntegration'
    FetchIntegrationReposResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RepoDetailsDTO'
      headers:
        X-Total-Elements:
          $ref: '#/components/headers/X-Total-Elements'
        X-Page-Number:
          $ref: '#/components/headers/X-Page-Number'
        X-Page-Size:
          $ref: '#/components/headers/X-Page-Size'
    ListIntegrationReposResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListIntegrationReposResponse'
      headers: {}
    GetIntegrationSummaryResponseBody:
      description: Response body for fetching integration ID by GitHub organization URL
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetIntegrationSummaryResponse'
    IntegrationListingResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Integration'
      headers:
        X-Total-Elements:
          $ref: '#/components/headers/X-Total-Elements'
        X-Page-Number:
          $ref: '#/components/headers/X-Page-Number'
        X-Page-Size:
          $ref: '#/components/headers/X-Page-Size'
  schemas:
    HarnessPipelineIntegrationResponse:
      title: HarnessPipelineIntegrationResponse
      x-stoplight:
        id: 99y4wqer2tzx7
      type: object
      required:
      - enabled
      properties:
        enabled:
          type: boolean
          x-stoplight:
            id: h1ik5naj7j0tl
    Integration:
      title: Integration
      x-stoplight:
        id: 6axbafhrofhlj
      type: object
      properties:
        connector_id:
          type: string
          x-stoplight:
            id: eo22hombv1onr
        type:
          x-stoplight:
            id: cdadkkovsokz0
          type: string
          enum:
          - GITHUB
          - HARNESS
        status:
          x-stoplight:
            id: agclruavjfdgd
          type: string
          enum:
          - ACTIVE
          - INACTIVE
        last_scan_at:
          type: integer
          format: int64
          x-stoplight:
            id: xq0ekqwxfs0h2
        org:
          type: string
          x-stoplight:
            id: gp06vsh5ipdb7
        id:
          type: string
          x-stoplight:
            id: v881x9gudjrn9
    RepoDetailsDTO:
      title: RepoDetailsDTO
      x-stoplight:
        id: eihp15s8nv92s
      type: object
      required:
      - name
      properties:
        visibility:
          x-stoplight:
            id: ez0edh2q63cx2
          type: string
          enum:
          - PUBLIC
          - PRIVATE
          - INTERNAL
        name:
          type: string
          x-stoplight:
            id: nxbdl5uhz9o08
        url:
          type: string
          x-stoplight:
            id: 7d09rjt1h1dgf
        owner:
          type: string
          x-stoplight:
            id: x5vboqzmz2d6e
        branch:
          type: string
          x-stoplight:
            id: oi7kymx5agh5l
        id:
          type: string
          x-stoplight:
            id: 0rxqrs8wzvqk7
        size:
          type: string
          x-stoplight:
            id: 0rxqrs8wfvqk7
    UpdateIntegration:
      description: Example response
      type: object
      properties:
        all_repos_configured:
          type: boolean
          x-stoplight:
            id: mzqfyvpcwazsh
        missing_repos:
          type: object
          x-stoplight:
            id: ojbz7bwfxr7nc
          properties:
            count:
              type: integer
              x-stoplight:
                id: ig8gb6hujl1ao
            names:
              type: array
              x-stoplight:
                id: bkwtvt92gi2mp
              items:
                type: string
                x-stoplight:
                  id: p58wnzr4nvs0a
            reason:
              type: string
              x-stoplight:
                id: s8khufnak4py8
      x-examples:
        Example 1:
          integration_id: alksdfjals98-23malsdf
          all_repos_configured: false
          missing_repos:
            count: 2
            names:
            - repo1
            - repo2
            reason: Repo not found
    CreateIntegrationRequest:
      title: CreateIntegrationRequest
      x-stoplight:
        id: eny9m50k3l3m7
      type: object
      properties:
        installation_id:
          type: string
          x-stoplight:
            id: gd9u12jql4ynt
        connector_id:
          type: string
        type:
          $ref: '#/components/schemas/IntegrationType'
    ConfigureReposRequest:
      title: ConfigureReposRequest
      x-stoplight:
        id: uyhoz22jjl5wa
      type: object
      properties:
        include_all_repos:
          type: boolean
          x-stoplight:
            id: xymwue0lwsv5i
          default: false
        repositories:
          type: array
          x-stoplight:
            id: hntwo5gylga5s
          items:
            $ref: '#/components/schemas/RepoDetailsDTO'
      description: ''
    Error3:
      title: Response ErrorDTO
      type: object
      properties:
        status:
          type: integer
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
    ListIntegrationReposResponse:
      title: ListIntegrationReposResponse
      x-stoplight:
        id: jx70puazwzas1
      type: object
      properties:
        include_all_repos:
          type: boolean
          x-stoplight:
            id: 0k4btbe9o81ux
        repositories:
          type: array
          x-stoplight:
            id: nnbw016e2blci
          items:
            $ref: '#/components/schemas/RepoDetailsDTO'
    GetIntegrationSummaryResponse:
      title: GetIntegrationSummaryResponse
      x-stoplight:
        id: get-integration-summary-response
      type: array
      items:
        x-stoplight:
          id: t7gaksl97ec40
        type: object
        properties:
          integration_id:
            type: string
            x-stoplight:
              id: xfj8pyv2wauu0
          type:
            type: string
            x-stoplight:
              id: 4551si2hosfhw
          github_org_url:
            type: string
            x-stoplight:
              id: o9pzx4wqiagp7
          connector_id:
            type: string
            x-stoplight:
              id: d8wobni3nk761
          installation_id:
            type: string
            x-stoplight:
              id: htf4va2olg2gs
    IntegrationType:
      title: IntegrationType
      x-stoplight:
        id: esn5ncpsf2q8l
      enum:
      - GITHUB
      - HARNESS
  requestBodies:
    CreateIntegrationRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateIntegrationRequest'
    ConfigureReposRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConfigureReposRequest'
  headers:
    X-Page-Size:
      schema:
        type: integer
      description: Maximum page size in Paginated response.
    X-Total-Elements:
      schema:
        type: integer
      description: Total number of elements returned in Paginated response.
    X-Page-Number:
      schema:
        type: integer
      description: Page number in Paginated response.
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
