openapi: 3.2.0
info:
  title: Harness Pipelines API
  version: '1.0'
  x-refined-note:
  - x-generated-from differs across the merged source definitions and was not carried
  - x-last-validated differs across the merged source definitions and was not carried
  - x-logo differs across the merged source definitions and was not carried
  description: 'Operations tagged Pipelines across 2 of this provider''s published API definitions: harness-apis-openapi.yaml, harness-platform-api.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
- url: https://app.harness.io/gateway
  description: Harness SaaS Production
tags:
- name: Pipelines
  description: This contains APIs for performing CRUD operations on Pipelines.
  x-displayName: Pipelines [Beta]
paths:
  /v1/orgs/{org}/projects/{project}/pipelines:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    get:
      summary: List Pipelines
      operationId: list-pipelines
      description: Returns a list of Pipelines.
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      - $ref: '#/components/parameters/PageIndex'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/SearchTerm'
      - $ref: '#/components/parameters/Sort4'
      - $ref: '#/components/parameters/Order'
      - schema:
          type: string
          enum:
          - CD
          - CI
          - CV
          - CF
          - CE
          - STO
        in: query
        name: module
        description: Harness module which is part of the Pipeline.
      - schema:
          type: string
        in: query
        name: filter_identifier
        description: Identifier of a saved Filter.
      - schema:
          type: array
          items:
            type: string
        in: query
        name: pipeline_identifiers
        description: List of Pipeline identifiers on the basis of which the Pipelines are filtered.
      - schema:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$
          minLength: 1
          maxLength: 128
        in: query
        name: name
        description: Pipeline Name on the basis of which the Pipelines are filtered.
      - schema:
          type: string
          maxLength: 1024
        in: query
        name: description
        description: Pipeline Description on the basis of which the Pipelines are filtered.
      - schema:
          type: array
          items:
            type: string
          maxItems: 128
          example: key:value
        examples:
          key_and_value:
            value: key:value
            summary: Tag having both Key and Value.
          key_only:
            value: key
            summary: Tag having only Key.
        in: query
        name: tags
        description: Filter tags as a key:value pair.
      - schema:
          type: array
          items:
            type: string
        in: query
        name: service_names
        description: Service names on the basis of which the Pipelines are filtered. [CD]
      - schema:
          type: array
          items:
            type: string
        in: query
        name: env_names
        description: Names of Environments on the basis of which the Pipelines are filtered. [CD]
      - schema:
          type: string
        in: query
        name: deployment_type
        description: Deployment type on the basis of which the Pipelines are filtered. [CD]
      - schema:
          type: string
        in: query
        name: repository
        description: Repository name on the basis of which the Pipelines are filtered. [CI]
      security:
      - x-api-key: []
      tags:
      - Pipelines
      responses:
        '200':
          $ref: '#/components/responses/PipelineListResponseBody'
      x-stoplight:
        id: 30zs16zs1jnaq
    post:
      summary: Create a Pipeline
      operationId: create-pipeline
      description: Creates a Pipeline.
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      tags:
      - Pipelines
      requestBody:
        $ref: '#/components/requestBodies/PipelineCreateRequestBody'
      responses:
        '201':
          $ref: '#/components/responses/PipelineCreateResponseBody'
      x-stoplight:
        id: mdxs0qz4oh0dc
    servers:
    - url: https://app.harness.io
      description: Harness host URL
    - url: https://{vanity}
      description: Vanity URL
      variables:
        vanity:
          default: app.harness.io
  /v1/orgs/{org}/projects/{project}/pipelines/{pipeline}:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/PipelineParam'
    get:
      summary: Retrieve a Pipeline
      operationId: get-pipeline
      security:
      - x-api-key: []
      description: Retrieves a Pipeline.
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      - $ref: '#/components/parameters/Branch'
      - schema:
          type: boolean
          default: false
        in: query
        name: template_applied
        description: If true, returns Pipeline YAML with Templates applied on it.
      - schema:
          type: string
        in: query
        name: connector_ref
        description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
      - schema:
          type: string
        in: query
        name: repo_name
        description: Name of the repository (for Git Experience).
      - schema:
          type: string
          default: 'false'
        in: header
        name: Load-From-Cache
        description: Flag to enable loading the remote pipeline from git or git cache
      - schema:
          type: boolean
          default: false
        in: query
        name: load_from_fallback_branch
        description: Flag to load the pipeline from the created non default branch
      - schema:
          type: boolean
          default: 'false'
        in: query
        name: validate_async
        description: Flag to tell whether to start an asynchronous validation process or not
      tags:
      - Pipelines
      responses:
        '200':
          $ref: '#/components/responses/PipelineGetResponseBody'
      x-stoplight:
        id: rn41qzdjn8lh1
    put:
      summary: Update a Pipeline
      operationId: update-pipeline
      security:
      - x-api-key: []
      description: Updates a Pipeline.
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      tags:
      - Pipelines
      requestBody:
        $ref: '#/components/requestBodies/PipelineUpdateRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/PipelineCreateResponseBody'
      x-stoplight:
        id: 9gbauax4g8mkt
    delete:
      summary: Delete a Pipeline
      operationId: delete-pipeline
      description: Deletes a Pipeline.
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      tags:
      - Pipelines
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-resp:
                  value: {}
            application/yaml:
              schema:
                type: object
                properties: {}
              examples:
                example-resp:
                  value: '{}

                    '
      x-stoplight:
        id: 4jx8uy7y3r44p
    patch:
      summary: Patch API for pipeline
      operationId: patch-pipeline
      responses:
        '200':
          $ref: '#/components/responses/PipelineCreateResponseBody'
      tags:
      - Pipelines
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      requestBody:
        $ref: '#/components/requestBodies/PipelinePatchRequestBody'
    servers:
    - url: https://app.harness.io
      description: Harness host URL
    - url: https://{vanity}
      description: Vanity URL
      variables:
        vanity:
          default: app.harness.io
  /v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/validate:
    parameters:
    - name: org
      in: path
      required: true
      schema:
        type: string
      description: Organization identifier
    - name: project
      in: path
      required: true
      schema:
        type: string
      description: Project identifier
    - name: pipeline
      in: path
      required: true
      schema:
        type: string
      description: Pipeline identifier
    post:
      summary: Start a Pipeline Validation Event
      operationId: start-pipeline-validation-event
      security:
      - x-api-key: []
      description: Starts a Pipeline Validation Event and returns the UUID of the Event created
      x-internal: true
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      - $ref: '#/components/parameters/Branch'
      - schema:
          type: string
        in: query
        name: connector_ref
        description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
      - schema:
          type: string
        in: query
        name: repo_name
        description: Name of the repository (for Git Experience).
      - schema:
          type: boolean
          default: 'false'
        in: header
        name: Load-From-Cache
        description: Flag to enable loading the remote pipeline from git or git cache
      - schema:
          type: boolean
        in: query
        name: load_from_fallback_branch
        description: Flag to load the pipeline from the created non default branch
      tags:
      - Pipelines
      responses:
        '200':
          $ref: '#/components/responses/PipelineValidationUUIDResponseBody'
      x-stoplight:
        id: sw5u2qvvrztc1
    servers:
    - url: https://app.harness.io
      description: Harness host URL
    - url: https://{vanity}
      description: Vanity URL
      variables:
        vanity:
          default: app.harness.io
  /v1/orgs/{org}/projects/{project}/pipelines/validate/{uuid}:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/UuidParam'
    get:
      summary: Get Pipeline Validation Result
      operationId: get-pipeline-validate-result
      security:
      - x-api-key: []
      description: Get Pipeline Validation Result for given UUID
      x-internal: true
      tags:
      - Pipelines
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      responses:
        '200':
          $ref: '#/components/responses/PipelineValidationResponseBody'
      x-stoplight:
        id: 7oq9a7yzeq62m
    servers:
    - url: https://app.harness.io
      description: Harness host URL
    - url: https://{vanity}
      description: Vanity URL
      variables:
        vanity:
          default: app.harness.io
  /v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/move-config:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/PipelineParam'
    post:
      summary: Move Pipeline YAML from inline to remote
      operationId: moveConfig
      description: Creates a remote entity by fetching pipeline YAML from Harness.
      responses:
        '200':
          $ref: '#/components/responses/PipelineMoveConfigResponseBody'
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      requestBody:
        $ref: '#/components/requestBodies/PipelineMoveConfigRequestBody'
      tags:
      - Pipelines
      x-internal: false
      x-stoplight:
        id: qw42s90zscen1
    servers:
    - url: https://app.harness.io
      description: Harness host URL
    - url: https://{vanity}
      description: Vanity URL
      variables:
        vanity:
          default: app.harness.io
  /v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/import:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/PipelineParam'
    post:
      summary: Get Pipeline YAML from Git Repository
      operationId: importPipelineFromGit
      responses:
        '200':
          $ref: '#/components/responses/PipelineSaveResponseBody'
      description: Fetches Pipeline YAML from Git Repository and saves a record for it in Harness
      tags:
      - Pipelines
      requestBody:
        $ref: '#/components/requestBodies/PipelineImportRequestBody'
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      x-stoplight:
        id: 1zb3cae63roiy
      security:
      - x-api-key: []
    servers:
    - url: https://app.harness.io
      description: Harness host URL
    - url: https://{vanity}
      description: Vanity URL
      variables:
        vanity:
          default: app.harness.io
  /v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/git-metadata:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/PipelineParam'
    put:
      summary: Update GitMetadata for Remote Pipelines
      operationId: update-pipeline-git-metadata
      responses:
        '200':
          $ref: '#/components/responses/GitMetadataUpdateResponseBody'
      requestBody:
        $ref: '#/components/requestBodies/GitMetadataUpdateRequestBody'
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      tags:
      - Pipelines
      description: Update git-metadata in remote pipeline
      x-stoplight:
        id: i92x28iwkosxx
    servers:
    - url: https://app.harness.io
      description: Harness host URL
    - url: https://{vanity}
      description: Vanity URL
      variables:
        vanity:
          default: app.harness.io
  /v1/orgs/{org}/projects/{project}/pipelines/{pipeline}/inputs-schema:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/PipelineParam'
    get:
      summary: Get inputs schema details
      tags:
      - Pipelines
      responses:
        '200':
          $ref: '#/components/responses/PipelineInputSchemaDetailsResponseBody'
      operationId: get-inputs-schema-details
      x-stoplight:
        id: hdedvdslufq8m
      parameters:
      - $ref: '#/components/parameters/AccountHeader4'
      - $ref: '#/components/parameters/Branch'
      - schema:
          type: string
        in: query
        name: connector_ref
        description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
      - schema:
          type: string
        in: query
        name: repo_name
        description: Name of the repository (for Git Experience).
      description: ''
      x-internal: true
      security:
      - x-api-key: []
    servers:
    - url: https://app.harness.io
      description: Harness host URL
    - url: https://{vanity}
      description: Vanity URL
      variables:
        vanity:
          default: app.harness.io
  /pipeline/api/pipelines:
    get:
      operationId: listPipelines
      summary: Harness List Pipelines
      description: List pipelines in a project.
      tags:
      - Pipelines
      parameters:
      - name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved pipelines.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineList'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - apiKeyAuth: []
    servers:
    - url: https://app.harness.io/gateway
      description: Harness SaaS Production
components:
  schemas:
    ParentStageInfo:
      title: ParentStageInfo
      x-stoplight:
        id: tp7dtd5ejnalr
      type: object
      description: 'Information about parent pipeline '
      properties:
        has_parent_pipeline:
          type: boolean
          description: boolean to describe whether or not this was executed through pipeline chaining
        execution_id:
          type: string
          description: planExecutionId of parent pipeline execution
        identifier:
          type: string
          description: pipeline identifier of parent pipeline
        project_id:
          type: string
          description: project identifier
        org_id:
          type: string
          description: org identifier
        run_sequence:
          type: integer
          description: run sequence of parent pipeline execution
          format: int32
        stage_node_id:
          type: string
          description: node id of parent pipeline stage
    NodeInfo:
      title: Entity Details
      x-stoplight:
        id: ep3p8793dh95u
      type: object
      description: Entity details
      x-examples:
        example-node-info:
          identifier: example_stage
          type: stage
          name: name
          fqn: pipeline.stages.stage1.name
      properties:
        identifier:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
          description: Entity identifier
        type:
          type: string
          description: Type of Entity
        name:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$
          minLength: 1
          maxLength: 128
          description: Name of Entity
        fqn:
          type: string
          description: Fully Qualified Name
    PipelineYamlInputDetailsDTO:
      title: PipelineYamlInputDetailsDTO
      x-stoplight:
        id: npt13s20sr6db
      type: object
      properties:
        details:
          $ref: '#/components/schemas/PipelineYamlInputDTO'
        metadata:
          $ref: '#/components/schemas/PipelineYamlInputMetadataDTO'
      x-internal: true
    PolicyMetadata:
      title: Policy Metadata
      x-stoplight:
        id: p2269wuyf1jf0
      type: object
      description: Information about the policy metadata
      properties:
        policy_identifier:
          type: string
        policy_name:
          type: string
        severity:
          type: string
        deny_messages:
          type: array
          items:
            type: string
        status:
          type: string
        identifier:
          type: string
        account_identifier:
          type: string
        org_identifier:
          type: string
        project_identifier:
          type: string
        created:
          type: integer
          format: int64
        updated:
          type: integer
          format: int64
        error:
          type: string
    PipelineMoveConfigRequestBody:
      title: PipelineMoveConfigRequestBody
      x-stoplight:
        id: e2bs9nw5hspxz
      type: object
      description: Request body for moving a pipeline configuration
      properties:
        git_details:
          $ref: '#/components/schemas/GitMoveDetails'
        pipeline_identifier:
          type: string
        move_config_operation_type:
          $ref: '#/components/schemas/MoveConfigOperationType'
    MoveConfigOperationType:
      type: string
      enum:
      - INLINE_TO_REMOTE
      description: Operation type to move the configuration
      x-stoplight:
        id: 4g4asyvl1x30z
    PipelineImportRequestDTO:
      title: Pipeline Import Request DTO
      x-stoplight:
        id: aadgrtv4u40df
      type: object
      description: Information of Pipeline import request DTO
      properties:
        pipeline_name:
          type: string
        pipeline_description:
          type: string
    PipelineCreateRequestBody:
      title: Pipeline Create Request Body
      x-stoplight:
        id: jx4tb85rac1m5
      type: object
      description: 'Pipeline request body object '
      x-examples:
        example-pipeline:
          pipeline_yaml: "pipeline:\n  identifier: example_pipeline\n  name: ExamplePipeline\n  allowStageExecutions: false\n  stages:\n    - stage:\n        name: Example Build Stage\n        identifier: example_build_stage\n        description: ''\n        type: Approval\n        spec:\n          execution:\n            steps:\n              - step:\n                  name: Approval Step\n                  identifier: Approval_Step\n                  type: HarnessApproval\n                  timeout: 1d\n                  spec:\n                    approvalMessage: |-\n                      Please review the following information\n                      and approve the pipeline progression\n                    includePipelineExecutionHistory: true\n                    approvers:\n                      minimumCount: 1\n                      disallowPipelineExecutor: false\n                      userGroups: <+input>\n                    approverInputs: []\n              - step:\n                  type: ShellScript\n                  name: ShellScript Step\n                  identifier: ShellScript_Step\n                  spec:\n                    shell: Bash\n                    onDelegate: true\n                    source:\n                      type: Inline\n                      spec:\n                        script: <+input>\n                    environmentVariables: []\n                    outputVariables: []\n                    executionTarget: {}\n                  timeout: 10m\n        tags: {}\n    - stage:\n        name: Example Deploy Stage\n        identifier: example_deploy_stage\n        description: ''\n        type: Deployment\n        spec:\n          serviceConfig:\n            serviceRef: <+input>\n            serviceDefinition:\n              spec:\n                variables: []\n              type: Kubernetes\n          infrastructure:\n            environmentRef: <+input>\n            infrastructureDefinition:\n              type: KubernetesDirect\n              spec:\n                connectorRef: <+input>\n                namespace: <+input>\n                releaseName: release-<+INFRA_KEY>\n            allowSimultaneousDeployments: false\n          execution:\n            steps:\n              - step:\n                  name: Rollout Deployment\n                  identifier: rolloutDeployment\n                  type: K8sRollingDeploy\n                  timeout: 10m\n                  spec:\n                    skipDryRun: false\n            rollbackSteps:\n              - step:\n                  name: Rollback Rollout Deployment\n                  identifier: rollbackRolloutDeployment\n                  type: K8sRollingRollback\n                  timeout: 10m\n                  spec: {}\n        tags: {}\n        failureStrategies:\n          - onFailure:\n              errors:\n                - AllErrors\n              action:\n                type: StageRollback\n"
          identifier: example_pipeline
          name: ExamplePipeline
          description: Pipeline Description
          tags:
            example-tag-1: example-tag-1-value
            example-tag-2: example-tag-2-value
          git_details:
            branch_name: branch
            file_path: /folder/file.json
            commit_message: Added Harness Git Experience
            base_branch: old_branch
            connector_ref: git_connector
            store_type: REMOTE
            repo_name: example_repository
      properties:
        pipeline_yaml:
          type: string
          description: Pipeline YAML (to be passed as a String).
        identifier:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
          description: Pipeline identifier
        name:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$
          minLength: 1
          maxLength: 128
          description: Pipeline name
        description:
          type: string
          maxLength: 1024
          description: Pipeline description
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Pipeline tags
        git_details:
          $ref: '#/components/schemas/GitCreateDetails'
      required:
      - pipeline_yaml
      - identifier
      - name
    RecentExecutionInfo:
      title: Recent Execution Information
      x-stoplight:
        id: da5de92572lcb
      type: object
      description: Recent Execution information of the Pipeline.
      properties:
        executor_info:
          $ref: '#/components/schemas/ExecutorInfo'
        execution_id:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
          description: Execution identifier
        execution_status:
          type: string
          description: Last Execution status of the Pipeline.
          enum:
          - Running
          - AsyncWaiting
          - TaskWaiting
          - TimedWaiting
          - Failed
          - Errored
          - IgnoreFailed
          - NotStarted
          - Expired
          - Aborted
          - Discontinuing
          - Queued
          - Paused
          - ResourceWaiting
          - InterventionWaiting
          - ApprovalWaiting
          - Success
          - Suspended
          - Skipped
          - Pausing
          - ApprovalRejected
          - InputWaiting
          - NOT_STARTED
          - INTERVENTION_WAITING
          - APPROVAL_WAITING
          - APPROVAL_REJECTED
          - Waiting
        started:
          type: integer
          format: int64
          description: Start timestamp of Execution
        ended:
          type: integer
          format: int64
          description: End timestamp of Execution
        run_number:
          type: integer
          format: int32
          description: The Execution number of this Pipeline.
          example: 0
        parent_stage_info:
          $ref: '#/components/schemas/ParentStageInfo'
      x-examples:
        example-recent:
          executor_info:
            trigger_type: NOOP
            username: harness_user
            email: noreply@harness.io
          execution_id: example_execution_identifier
          execution_status: Running
          started: 1234567890
          ended: 1234567890
          run_number: 5
    YAMLSchemaErrorWrapper:
      title: YAML Schema Error Wrapper
      x-stoplight:
        id: 6ricwo5b26l1o
      type: object
      description: YAML schema error.
      properties:
        message:
          type: string
          description: Error message
        message_fqn:
          type: string
          description: Error message with FQN
        stage_info:
          $ref: '#/components/schemas/NodeInfo'
          description: Stage where the error occcurred.
        step_info:
          $ref: '#/components/schemas/NodeInfo'
          description: Step where the error occcurred.
        fqn:
          type: string
          description: Fully Qualified Name as per YAML
        hint_message:
          type: string
          description: Hint message
      x-examples:
        example-schema-error:
          message: something is incorrect
          message_fqn: something is incorrect at pipeline.name
          stage_info:
            identifier: example_stage
            type: stage
            name: Example Stage
            fqn: pipeline.stages.stage
          step_info:
            identifier: example_step
            type: string
            name: string
            fqn: pipeline.steps.step
          fqn: pipeline.name
          hint_message: try changing something
    PipelineUpdateRequestBody:
      title: Pipeline Update Request Body
      x-stoplight:
        id: lrglwjl8trc3q
      type: object
      description: 'Pipeline request body object '
      x-examples:
        example-pipeline:
          pipeline_yaml: "pipeline:\n  identifier: example_pipeline\n  name: ExamplePipeline\n  allowStageExecutions: false\n  stages:\n    - stage:\n        name: Example Build Stage\n        identifier: example_build_stage\n        description: ''\n        type: Approval\n        spec:\n          execution:\n            steps:\n              - step:\n                  name: Approval Step\n                  identifier: Approval_Step\n                  type: HarnessApproval\n                  timeout: 1d\n                  spec:\n                    approvalMessage: |-\n                      Please review the following information\n                      and approve the pipeline progression\n                    includePipelineExecutionHistory: true\n                    approvers:\n                      minimumCount: 1\n                      disallowPipelineExecutor: false\n                      userGroups: <+input>\n                    approverInputs: []\n              - step:\n                  type: ShellScript\n                  name: ShellScript Step\n                  identifier: ShellScript_Step\n                  spec:\n                    shell: Bash\n                    onDelegate: true\n                    source:\n                      type: Inline\n                      spec:\n                        script: <+input>\n                    environmentVariables: []\n                    outputVariables: []\n                    executionTarget: {}\n                  timeout: 10m\n        tags: {}\n    - stage:\n        name: Example Deploy Stage\n        identifier: example_deploy_stage\n        description: ''\n        type: Deployment\n        spec:\n          serviceConfig:\n            serviceRef: <+input>\n            serviceDefinition:\n              spec:\n                variables: []\n              type: Kubernetes\n          infrastructure:\n            environmentRef: <+input>\n            infrastructureDefinition:\n              type: KubernetesDirect\n              spec:\n                connectorRef: <+input>\n                namespace: <+input>\n                releaseName: release-<+INFRA_KEY>\n            allowSimultaneousDeployments: false\n          execution:\n            steps:\n              - step:\n                  name: Rollout Deployment\n                  identifier: rolloutDeployment\n                  type: K8sRollingDeploy\n                  timeout: 10m\n                  spec:\n                    skipDryRun: false\n            rollbackSteps:\n              - step:\n                  name: Rollback Rollout Deployment\n                  identifier: rollbackRolloutDeployment\n                  type: K8sRollingRollback\n                  timeout: 10m\n                  spec: {}\n        tags: {}\n        failureStrategies:\n          - onFailure:\n              errors:\n                - AllErrors\n              action:\n                type: StageRollback\n"
          identifier: example_pipeline
          name: ExamplePipeline
          description: Pipeline Description
          tags:
            example-tag-1: example-tag-1-value
            example-tag-2: example-tag-2-value
          git_details:
            branch_name: branch
            commit_message: Added Harness Git Experience
            last_object_id: abcdXYZ
            base_branch: old_branch
            last_commit_id: abcdXYZ
            connector_ref: git_connector
            store_type: REMOTE
            repo_name: example_repository
      properties:
        pipeline_yaml:
          type: string
          description: Pipeline YAML (to be passed as a String).
        identifier:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
          description: Pipeline identifier
        name:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$
          minLength: 1
          maxLength: 128
          description: Pipeline name
        description:
          type: string
          maxLength: 1024
          description: Pipeline description
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Pipeline tags
        git_details:
          $ref: '#/components/schemas/GitUpdateDetails'
      required:
      - pipeline_yaml
      - identifier
      - name
    CacheResponseMetadataDTO:
      title: CacheResponseMetadataDTO
      x-stoplight:
        id: wh7v324i3oqd7
      type: object
      x-examples:
        example-1:
          cache_state: VALID_CACHE
          ttl_left: 9223372036854776000
          last_updated_at: 9223372036854776000
      properties:
        cache_state:
          type: string
          enum:
          - VALID_CACHE
          - STALE_CACHE
          - UNKNOWN
          description: Tells the state of cache.
        ttl_left:
          type: integer
          format: int64
          description: Time left till cache expriry.
        last_updated_at:
          type: integer
          format: int64
          description: Time when the cache was last updated at.
        is_sync_enabled:
          type: boolean
    GitImportInfo:
      title: Import Git Information
      x-stoplight:
        id: 4r6psagtvh768
      type: object
      properties:
        connector_ref:
          type: string
        repo_name:
          type: string
        branch_name:
          type: string
        file_path:
          type: string
        is_force_import:
          type: boolean
      description: Parameters related to importing an entity for Git.
    GitMoveDetails:
      title: Move Git Details
      x-stoplight:
        id: h9mvvh1pdo378
      type: object
      description: Parameters related to moving an entity for Git Experience.
      x-examples:
        example-create-git:
          branch_name: branch
          file_path: /folder/file.json
          commit_message: Added Harness Git Experience
          base_branch: old_branch
          connector_ref: git_connector
          repo_name: example_repository
      properties:
        branch_name:
          type: string
          description: Name of the branch. When moving an inline pipeline or a remote pipeline, this branch is where the remote entity is created or fetched.
        file_path:
          type: string
          description: File path of the entity in the repository.
        commit_message:
          type: string
          description: Merge commit message.
        base_branch:
          type: string
          description: Default branch name. This checks out the branch titled branch_name
        connector_ref:
          type: string
          description: Harness connector id used for entity CRUD operations
        repo_name:
          type: string
          description: Name of the repository.
    PipelineInputSchemaDetailsResponseBody:
      title: PipelineInputSchemaDetailsResponseBody
      x-stoplight:
        id: 0tkmah5p4lgcr
      type: object
      properties:
        inputs:
          type: array
          x-stoplight:
            id: 9ujy24moia7go
          items:
            $ref: '#/components/schemas/PipelineYamlInputDetailsDTO'
      x-internal: true
    PipelinePatchRequestBody:
      title: PipelinePatchRequestBody
      x-stoplight:
        id: 3utb53wrarno2
      type: object
      x-examples:
        Example 1:
          pipeline_yaml: "pipeline:\n  identifier: example_pipeline\n  name: ExamplePipeline\n  allowStageExecutions: false\n  stages:\n    - stage:\n        name: Example Build Stage\n        identifier: example_build_stage\n        description: ''\n        type: Approval\n        spec:\n          execution:\n            steps:\n              - step:\n                  name: Approval Step\n                  identifier: Approval_Step\n                  type: HarnessApproval\n                  timeout: 1d\n                  spec:\n                    approvalMessage: |-\n                      Please review the following information\n                      and approve the pipeline progression\n                    includePipelineExecutionHistory: true\n                    approvers:\n                      minimumCount: 1\n                      disallowPipelineExecutor: false\n                      userGroups: <+input>\n                    approverInputs: []\n              - step:\n                  type: ShellScript\n                  name: ShellScript Step\n                  identifier: ShellScript_Step\n                  spec:\n                    shell: Bash\n                    onDelegate: true\n                    source:\n                      type: Inline\n                      spec:\n                        script: <+input>\n                    environmentVariables: []\n                    outputVariables: []\n                    executionTarget: {}\n                  timeout: 10m\n        tags: {}\n    - stage:\n        name: Example Deploy Stage\n        identifier: example_deploy_stage\n        description: ''\n        type: Deployment\n        spec:\n          serviceConfig:\n            serviceRef: <+input>\n            serviceDefinition:\n              spec:\n                variables: []\n              type: Kubernetes\n          infrastructure:\n            environmentRef: <+input>\n            infrastructureDefinition:\n              type: KubernetesDirect\n              spec:\n                connectorRef: <+input>\n                namespace: <+input>\n                releaseName: release-<+INFRA_KEY>\n            allowSimultaneousDeployments: false\n          execution:\n            steps:\n              - step:\n                  name: Rollout Deployment\n                  identifier: rolloutDeployment\n                  type: K8sRollingDeploy\n                  timeout: 10m\n                  spec:\n                    skipDryRun: false\n            rollbackSteps:\n              - step:\n                  name: Rollback Rollout Deployment\n                  identifier: rollbackRolloutDeployment\n                  type: K8sRollingRollback\n                  timeout: 10m\n                  spec: {}\n        tags: {}\n        failureStrategies:\n          - onFailure:\n              errors:\n                - AllErrors\n              action:\n                type: StageRollback\n"
          name: ExamplePipeline
          desc: Pipeline Description
          tags:
            example-tag-1: example-tag-1-value
            example-tag-2: example-tag-2-value
          git_details:
            branch_name: branch
            commit_message: Added Harness Git Experience
            last_object_id: abcdXYZ
            base_branch: old_branch
            last_commit_id: abcdXYZ
            connector_ref: git_connector
            store_type: REMOTE
            repo_name: example_repository
      description: Pipeline Patch Request body (All the non empty values in this request body will be updated).
      properties:
        pipeline_yaml:
          type: string
          description: Pipeline YAML (to be passed as a String).
        name:
          type: string
          description: Pipeline Name.
        desc:
          type: string
          description: Pipeline Description.
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Pipeline Tags.
        git_details:
          $ref: '#/components/schemas/GitUpdateDetails'
        version:
          type: string
          description: Version of pipeline yaml, should be one of "0" or "1"
    FixedValueFieldDependencyDetailsDTO:
      title: FixedValueFieldDependencyDetailsDTO
      x-stoplight:
        id: i5ryzcskudmpk
      type: object
      x-internal: true
      properties:
        field_name:
          type: string
          x-stoplight:
            id: sc9sb358djjt6
        field_input_type:
          type: string
          x-stoplight:
            id: 6g0pzc9dxfzd7
        field_value:
          type: object
          x-stoplight:
            id: gdbrt5uxk44lh
    TemplateValidationResponseBody:
      title: TemplateValidationResponseBody
      x-stoplight:
        id: 8pk30x8n20zyg
      type: object
      description: Has Template Resolution Response.
      properties:
        valid_yaml:
          type: boolean
        exception_message:
          type: string
    GitMetadataUpdateRequestBody:
      title: GitMetadataUpdateRequestBody
      x-stoplight:
        id: 5dgkx1gdp5ht4
      type: object
      properties:
        connector_ref:
          type: string
          description: Harness connector id used for entity CRUD operations
        repo_name:
          type: string
          description: Name of the repository.
        file_path:
          type: string
          description: File path of the entity in the repository.
    PipelineSaveResponseBody:
      title: Pipeline Save Response Body
      x-stoplight:
        id: v68h3jaccx83a
      type: object
      properties:
        identifier:
          type: string
        governance_metadata:
          type: array
          items:
            $ref: '#/components/schemas/GovernanceMetadata1'
      description: Response body for pipeline save.
    PipelineYamlInputDTO:
      title: PipelineYamlInputDTO
      x-stoplight:
        id: b76ha2p8ngn3m
      type: object
      x-internal: true
      properties:
        name:
          type: string
          x-stoplight:
            id: 23dnmvd66you2
        type:
          $ref: '#/components/schemas/YamlInputType'
        desc:
          type: string
          x-stoplight:
            id: klcxkypd8p8aj
        required:
          type: boolean
          x-stoplight:
            id: gnxq3c3xxjc9c
        execution:
          type: boolean
        default:
          type: object
          x-stoplight:
            id: pvsan66570urp
        allowed_values:
          type: array
          x-stoplight:
            id: bk45vjio3fdhb
          items: {}
        regex:
          type: string
    PipelineListResponseBody:
      title: Pipeline List Response Body
      x-stoplight:
        id: qpvdgdpl74rue
      description: Pipeline List response body
      x-examples:
        example-summary:
          identifier: example_pipeline
          name: Example Pipeline
          description: This is an Example Pipeline
          tags:
            example-tag-1: example-tag-1-value
            example-tag-2: example-tag-2-value
          created: 1234567890
          updated: 1234567890
          modules: CD
          recent_execution_info:
          - executor_info:
              trigger_type: NOOP
              username: harness_user
              email: noreply@harness.io
            execution_id: example_execution_identifier
            execution_status: Running
            started: 1234567890
            ended: 1234567890
            run_number: 5
          store_type: REMOTE
          connector_ref: example_connector
          valid: true
          git_details:
            object_id: example_object
            branch_name: branch
            file_path: /folder/file.json
            repo_name: example_repository
            commit_id: abcd123
            file_url: www.repo/folder/file.com
            repo_url: www.repo.com
      type: object
      properties:
        identifier:
          type: string
          description: Pipeline identifier
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
        name:
          type: string
          description: Pipeline name
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$
          minLength: 1
          maxLength: 128
        description:
          type: string
          maxLength: 1024
          description: Pipeline description
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Pipeline tags
        created:
          type: integer
          description: Creation timestamp for Pipeline.
          format: int64
        updated:
          type: integer
          description: Last modification timestamp for Pipeline.
          format: int64
        modules:
          type: array
          description: Modules utilised in the Pipeline.
          uniqueItems: true
          items:
            type: string
        recent_execution_info:
          type: array
          description: Array of recent Execution information
          items:
            $ref: '#/components/schemas/RecentExecutionInfo'
        store_type:
          type: string
          description: Specifies whether the Entity is to be stored in Git or not (for Git Experience).
          enum:
          - INLINE
          - REMOTE
        connector_ref:
          type: string
          description: Identifier of the Harness Connector used for CRUD operations on the Entity (for Git Experience).
        valid:
          type: boolean
          description: Specifies whether Pipeline is a valid or not.
        git_details:
          $ref: '#/components/schemas/GitDetails'
        yaml_version:
          type: string
          x-stoplight:
            id: 61n7epvs4bu1u
    PipelineGetResponseBody:
      title: Pipeline Get Response Body
      x-stoplight:
        id: 4h678yi7heynq
      description: Pipeline response body.
      x-examples:
        example-get:
          pipeline_yaml: example_yaml_text
          template_applied_pipeline_yaml: example_yaml_text_with_template
          identifier: example_pipeline
          name: ExamplePipeline
          org: example_org
          project: example_project
          description: Pipeline Description
          tags:
            example-tag-1: example-tag-1-value
            example-tag-2: example-tag-2-value
          modules:
          - cd
          git_details:
            object_id: example_object
            branch_name: branch
            file_path: /folder/file.json
            repo_name: example_repository
            commit_id: abcd123
            file_url: www.repo/folder/file.com
            repo_url: www.repo.com
          valid: true
          yaml_error_wrapper:
            message: something is incorrect
            message_fqn: something is incorrect at pipeline.name
            stage_info:
              identifier: example_stage
              type: stage
              name: Example Stage
              fqn: pipeline.stages.stage
            step_info:
              identifier: example_step
              type: string
              name: string
              fqn: pipeline.steps.step
            fqn: pipeline.name
            hint_message: try changing something
          cache_response_metadata:
            cache_state: VALID_CACHE
            ttl_left: 9223372036854776000
            last_updated_at: 9223372036854776000
          created: 1234567890
          updated: 1234567890
      type: object
      properties:
        pipeline_yaml:
          type: string
          description: Pipeline YAML (returned as a String).
        template_applied_pipeline_yaml:
          type: string
          description: Pipeline YAML after resolving Templates (returned as a String).
        identifier:
          type: string
          description: Pipeline identifier
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
        name:
          type: string
          description: Pipeline name
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$
          minLength: 1
          maxLength: 128
        org:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
          description: Organization identifier
        project:
          type: string
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
          description: Project identifier
        description:
          type: string
          maxLength: 1024
          description: Pipeline description
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: Pipeline tags
        modules:
          type: array
          description: Modules utilised in the Pipeline.
          uniqueItems: true
          items:
            type: string
        git_details:
          $ref: '#/components/schemas/GitDetails'
        valid:
          type: boolean
          description: Specifies whether Pipeline is a valid or not.
        yaml_error_wrapper:
          type: array
          description: YAML schema errors.
          items:
            $ref: '#/components/schemas/YAMLSchemaErrorWrapper'
        cache_response_metadata:
          $ref: '#/components/schemas/CacheResponseMetadataDTO'
        created:
          type: integer
          description: Creation timestamp for Pipeline.
          format: int64
        updated:
          type: integer
          description: Last modification timestamp for Pipeline.
          format: int64
        validation_uuid:
          type: string
          description: UUID of the asynchronous validation event started, if any
    GovernanceMetadata1:
      title: Governance Metadata
      x-stoplight:
        id: nivk63hm54yt5
      type: object
      description: Information about the governance metadata
      properties:
        identifier:
          type: string
        deny:
          type: boolean
        policy_set_metadata:
          type: array
          items:
            $ref: '#/components/schemas/PolicySetMetadata'
        message:
          type: string
        time_stamp:
          type: integer
        status:
          type: string
        account_identifier:
          type: string
        org_identifier:
          type: string
        project_identifier:
          type: string
        entity:
          type: string
        type:
          type: string
        action:
          type: string
        created:
          type: integer
          format: int64
    GitDetails:
      title: Git Response Details
      x-stoplight:
        id: f37z1efdf6zuu
      type: object
      description: Git Experience related details of the Entity.
      x-examples:
        example-git:
          object_id: example_object
          branch_name: branch
          file_path: /folder/file.json
          repo_name: example_repository
          commit_id: abcd123
          file_url: www.repo/folder/file.com
          repo_url: www.repo.com
      properties:
        object_id:
          type: string
          description: Object identifier / blob id
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_$]{0,127}$
          minLength: 1
          maxLength: 128
        branch_name:
          type: string
          description: Name of the branch.
        file_path:
          type: string
          description: File path of the Entity in the repository.
        repo_name:
          type: string
          description: Name of the repository.
        commit_id:
          type: string
          description: Latest commit identifier.
        file_url:
          type: string
          description: File URL of the Entity.
        repo_url:
          type: string
          description: Repository URL of the Entity.
    ExecutorInfo:
      title: Executor Information
      x-stoplight:
        id: 8osotc9o43pkq
      type: object
      description: Information regarding Executor of Pipeline.
      properties:
        trigger_type:
          type: string
          description: Trigger type
          enum:
          - NOOP
          - MANUAL
          - WEBHOOK
          - WEBHOOK_CUSTOM
          - SCHEDULER_CRON
        username:
          type: string
          description: Username of the Executor.
        email:
          type: string
          description: Email address of the Executor.
      x-examples:
        example-executor:
          trigger_type: NOOP
          username: harness_user
          email: noreply@harness.io
    PipelineYamlInputMetadataDTO:
      title: PipelineYamlInputMetadataDTO
      x-stoplight:
        id: w72v0p3hxgsqk
      type: object
      x-internal: true
      properties:
        field_properties:
          x-stoplight:
            id: oi2cc5afutjom
          type: array
          items:
            $ref: '#/components/schemas/InputDetailsPerFieldDTO'
        dependencies:
          $ref: '#/components/schemas/YamlInputDependencyDetailsDTO'
    PipelineMoveConfigResponseBody:
      title: PipelineMoveConfigResponseBody
      x-stoplight:
        id: c6sgrvhrg1e8c
      type: object
      description: Response body for configuration to move a pipeline
      properties:
        pipeline_identifier:
          type: string
    InputDetailsPerFieldDTO:
      title: InputDetailsPerFieldDTO
      x-stoplight:
        id: fh76c2nnwli3w
      type: object
      x-internal: true
      properties:
        input_type:
          type: string
          x-stoplight:
            id: d92j86p84m1t5
        internal_type:
          type: string
          x-stoplight:
            id: l3u49jd2dmz9o
    PipelineValidationUUIDResponseBody:
      title: Pipeline Validation UUID Response Body
      description: Contains the UUID of the Pipeline Validation Event that's started
      x-examples:
        example-get:
          uuid: abcdef123
      type: object
      properties:
        uuid:
          type: string
          description: UUID of the Pipeline Validation Event
      x-internal: true
      x-stoplight:
        id: i0wgk0i3p6fvv
    YamlInputDependencyDetailsDTO:
      title: YamlInputDependencyDetailsDTO
      x-stoplight:
        id: o5k0f3ximyim7
      type: object
      x-internal: true
      properties:
        required_runtime_inputs:
          type: array
          x-stoplight:
            id: ajse16mvdyb3l
          items:
            $ref: '#/components/schemas/RuntimeInputDependencyDetailsDTO'
        required_fixed_values:
          type: array
          x-stoplight:
            id: z4034kxnx5cqk
          items:
            $ref: '#/components/schemas/FixedValueFieldDependencyDetailsDTO'
    GitUpdateDetails:
      title: Update Git Details
      x-stoplight:
        id: rhs8tu7186l69
      type: object
      description: Contains parameters related to updating an Entity for Git Experience.
      x-examples:
        example-update-git:
          branch_name: branch
          commit_message: Added Harness Git Experience
          last_object_id: abcdXYZ
          base_branch: old_branch
          last_commit_id: abcdXYZ
          connector_ref: git_connector
          store_type: REMOTE
          repo_name: example_repository
          file_path: /folder/file.json
      properties:
        branch_name:
          type: string
          description: Name of the branch.
        commit_message:
          type: string
          description: Commit message used for the merge commit.
        last_object_id:
          type: string
          description: Last object identifier (for Github only).
        base_branch:
          type: string
          description: Name of the default branch (this checks out a new branch titled by branch_name).
        last_commit_id:
          type: string
          description: Last commit identifier.
        connector_ref:
          type: string
          description: Identifier of the Harness Connector used for CRUD operations on the Entity.
        store_type:
          type: string
          enum:
          - INLINE
          - REMOTE
          description: Specifies whether the Entity is to be stored in Git or not.
        repo_name:
          type: string
          description: Name of the repository.
        file_path:
          type: string
    PolicySetMetadata:
      title: Policy Set Metadata
      x-stoplight:
        id: 6rt2j8zojvs75
      type: object
      properties:
        policy_set_identifier:
          type: string
        deny:
          type: boolean
        policy_metadata:
          type: array
          items:
            $ref: '#/components/schemas/PolicyMetadata'
        policy_set:
          type: string
        status:
          type: string
        identifier:
          type: string
        created:
          type: integer
          format: int64
        account_identifier:
          type: string
        org_identifier:
          type: string
        project_identifier:
          type: string
      description: Information about the policy set metadata
    PipelineImportRequestBody:
      title: PipelineImportRequestBody
      x-stoplight:
        id: foro6hf58ib55
      type: object
      description: Pipeline import request body
      properties:
        git_import_info:
          $ref: '#/components/schemas/GitImportInfo'
        pipeline_import_request:
          $ref: '#/components/schemas/PipelineImportRequestDTO'
    GitMetadataUpdateResponseBody:
      title: GitMetadataUpdateResponseBody
      x-stoplight:
        id: cnycqmk3by4zk
      type: object
      properties:
        entity_identifier:
          type: string
          description: identifier of updated entity
    GitCreateDetails:
      title: Create Git Details
      x-stoplight:
        id: ksk60vtpcl9b2
      type: object
      description: Contains parameters related to creating an Entity for Git Experience.
      x-examples:
        example-create-git:
          branch_name: branch
          file_path: /folder/file.json
          commit_message: Added Harness Git Experience
          base_branch: old_branch
          connector_ref: git_connector
          store_type: REMOTE
          repo_name: example_repository
      properties:
        branch_name:
          type: string
          description: Name of the branch.
        file_path:
          type: string
          description: File path of the Entity in the repository.
        commit_message:
          type: string
          description: Commit message used for the merge commit.
        base_branch:
          type: string
          description: Name of the default branch (this checks out a new branch titled by branch_name).
        connector_ref:
          type: string
          description: Identifier of the Harness Connector used for CRUD operations on the Entity.
        store_type:
          type: string
          description: Specifies whether the Entity is to be stored in Git or not.
          enum:
          - INLINE
          - REMOTE
        repo_name:
          type: string
          description: Name of the repository.
    YamlInputType:
      title: YamlInputType
      x-stoplight:
        id: 9acp39t6wcuqk
      enum:
      - string
      - integer
      - boolean
      - object
      - array
      x-internal: true
      description: ''
    PipelineValidationResponseBody:
      title: Pipeline Validation Response Body
      description: Pipeline Validation Response Body
      x-examples:
        example-get:
          status: IN_PROGRESS
      type: object
      x-stoplight:
        id: loreulur8mcil
      x-internal: true
      properties:
        status:
          type: string
          description: Status of the Pipeline Validation Event
        policy_eval:
          type: object
          description: Result of Policy Evaluations on the Pipeline
        start_ts:
          type: integer
          format: int64
          description: Start time of the Evaluation
        end_ts:
          type: integer
          format: int64
          description: End time of the Evaluation
        template_validation_response:
          $ref: '#/components/schemas/TemplateValidationResponseBody'
    RuntimeInputDependencyDetailsDTO:
      title: RuntimeInputDependencyDetailsDTO
      x-stoplight:
        id: yzb8ohlc0azuq
      type: object
      x-internal: true
      properties:
        field_name:
          type: string
          x-stoplight:
            id: eirxgebz4n1zc
        input_name:
          type: string
          x-stoplight:
            id: 9bsov65akownz
    PipelineCreateResponseBody:
      title: Pipeline Create Response Body
      x-stoplight:
        id: 6k4p5yturlcz5
      type: object
      description: Pipeline response body
      x-examples:
        example-pipeline:
          identifier: example_pipeline
      properties:
        identifier:
          type: string
          description: Pipeline identifier
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          minLength: 1
          maxLength: 128
    PipelineList:
      type: object
      properties:
        status:
          type: string
        data:
          type: object
          properties:
            totalPages:
              type: integer
            totalItems:
              type: integer
            content:
              type: array
              items:
                $ref: '#/components/schemas/Pipeline'
    Pipeline:
      type: object
      description: A Harness pipeline.
      properties:
        identifier:
          type: string
          example: deploy_prod
        name:
          type: string
          example: Deploy to Production
        description:
          type: string
          example: Production deployment pipeline
        tags:
          type: object
          additionalProperties:
            type: string
  parameters:
    PageIndex:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: 'Pagination page number strategy: Specify the page number within the paginated collection related to the number of items on each page.'
    Branch:
      name: branch_name
      in: query
      required: false
      schema:
        type: string
      description: Name of the branch (for Git Experience).
    OrgParam:
      description: Organization identifier
      in: path
      name: org
      required: true
      schema:
        type: string
    AccountHeader4:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to.
    Sort4:
      name: sort
      in: query
      required: false
      schema:
        type: string
        enum:
        - name
        - updated
      description: Parameter on the basis of which sorting is done.
    Order:
      name: order
      in: query
      required: false
      schema:
        type: string
        enum:
        - ASC
        - DESC
      description: Order on the basis of which sorting is done.
    SearchTerm:
      name: search_term
      in: query
      required: false
      schema:
        type: string
      description: This would be used to filter resources having attributes matching the search term.
    PipelineParam:
      name: pipeline
      in: path
      required: true
      schema:
        type: string
      description: Pipeline identifier
    ProjectParam:
      description: Project identifier
      in: path
      name: project
      required: true
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 30
        maximum: 100
      description: 'Pagination: Number of items to return.'
    UuidParam:
      name: uuid
      in: path
      required: true
      schema:
        type: string
      description: UUID
  requestBodies:
    PipelinePatchRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PipelinePatchRequestBody'
    PipelineMoveConfigRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PipelineMoveConfigRequestBody'
    PipelineUpdateRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PipelineUpdateRequestBody'
          examples:
            example-pipeline:
              value:
                pipeline_yaml: "pipeline:\n  identifier: example_pipeline\n  name: ExamplePipeline\n  allowStageExecutions: false\n  stages:\n    - stage:\n        name: Example Build Stage\n        identifier: example_build_stage\n        description: ''\n        type: Approval\n        spec:\n          execution:\n            steps:\n              - step:\n                  name: Approval Step\n                  identifier: Approval_Step\n                  type: HarnessApproval\n                  timeout: 1d\n                  spec:\n                    approvalMessage: |-\n                      Please review the following information\n                      and approve the pipeline progression\n                    includePipelineExecutionHistory: true\n                    approvers:\n                      minimumCount: 1\n                      disallowPipelineExecutor: false\n                      userGroups: <+input>\n                    approverInputs: []\n              - step:\n                  type: ShellScript\n                  name: ShellScript Step\n                  identifier: ShellScript_Step\n                  spec:\n                    shell: Bash\n                    onDelegate: true\n                    source:\n                      type: Inline\n                      spec:\n                        script: <+input>\n                    environmentVariables: []\n                    outputVariables: []\n                    executionTarget: {}\n                  timeout: 10m\n        tags: {}\n    - stage:\n        name: Example Deploy Stage\n        identifier: example_deploy_stage\n        description: ''\n        type: Deployment\n        spec:\n          serviceConfig:\n            serviceRef: <+input>\n            serviceDefinition:\n              spec:\n                variables: []\n              type: Kubernetes\n          infrastructure:\n            environmentRef: <+input>\n            infrastructureDefinition:\n              type: KubernetesDirect\n              spec:\n                connectorRef: <+input>\n                namespace: <+input>\n                releaseName: release-<+INFRA_KEY>\n            allowSimultaneousDeployments: false\n          execution:\n            steps:\n              - step:\n                  name: Rollout Deployment\n                  identifier: rolloutDeployment\n                  type: K8sRollingDeploy\n                  timeout: 10m\n                  spec:\n                    skipDryRun: false\n            rollbackSteps:\n              - step:\n                  name: Rollback Rollout Deployment\n                  identifier: rollbackRolloutDeployment\n                  type: K8sRollingRollback\n                  timeout: 10m\n                  spec: {}\n        tags: {}\n        failureStrategies:\n          - onFailure:\n              errors:\n                - AllErrors\n              action:\n                type: StageRollback\n"
                identifier: example_pipeline
                name: ExamplePipeline
                description: Pipeline Description
                tags:
                  example-tag-1: example-tag-1-value
                  example-tag-2: example-tag-2-value
                git_details:
                  branch_name: branch
                  commit_message: Added Harness Git Experience
                  last_object_id: abcdXYZ
                  base_branch: old_branch
                  last_commit_id: abcdXYZ
                  connector_ref: git_connector
                  store_type: REMOTE
                  repo_name: example_repository
        application/yaml:
          schema:
            $ref: '#/components/schemas/PipelineUpdateRequestBody'
          examples:
            example-pipeline:
              value: "pipeline_yaml: 'pipeline: identifier: example_pipeline name: ExamplePipeline allowStageExecutions: false stages: - stage: name: Example Build Stage identifier: example_build_stage description: '''' type: Approval spec: execution: steps: - step: name: Approval Step identifier: Approval_Step type: HarnessApproval timeout: 1d spec: approvalMessage: |- Please review the following information and approve the pipeline progression includePipelineExecutionHistory: true approvers: minimumCount: 1 disallowPipelineExecutor: false userGroups: <+input> approverInputs: [] - step: type: ShellScript name: ShellScript Step identifier: ShellScript_Step spec: shell: Bash onDelegate: true source: type: Inline spec: script: <+input> environmentVariables: [] outputVariables: [] executionTarget: {} timeout: 10m tags: {} - stage: name: Example Deploy Stage identifier: example_deploy_stage description: '''' type: Deployment spec: serviceConfig: serviceRef: <+input> serviceDefinition: spec: variables: [] type: Kubernetes infrastructure: environmentRef: <+input> infrastructureDefinition: type: KubernetesDirect spec: connectorRef: <+input> namespace: <+input> releaseName: release-<+INFRA_KEY> allowSimultaneousDeployments: false execution: steps: - step: name: Rollout Deployment identifier: rolloutDeployment type: K8sRollingDeploy timeout: 10m spec: skipDryRun: false rollbackSteps: - step: name: Rollback Rollout Deployment identifier: rollbackRolloutDeployment type: K8sRollingRollback timeout: 10m spec: {} tags: {} failureStrategies: - onFailure: errors: - AllErrors action: type: StageRollback'\nidentifier: example_pipeline\nname: ExamplePipeline\ndescription: Pipeline Description\ntags:\n  example-tag-1: example-tag-1-value\n  example-tag-2: example-tag-2-value\ngit_details:\n  branch_name: branch\n  commit_message: Added Harness Git Experience\n  last_object_id: abcdXYZ\n  base_branch: old_branch\n  last_commit_id: abcdXYZ\n"
      description: Pipeline request body
      required: true
    GitMetadataUpdateRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GitMetadataUpdateRequestBody'
    PipelineImportRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PipelineImportRequestBody'
      description: Pipeline import request body
    PipelineCreateRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PipelineCreateRequestBody'
          examples:
            example-pipeline:
              value:
                pipeline_yaml: "pipeline:\n  identifier: example_pipeline\n  name: ExamplePipeline\n  allowStageExecutions: false\n  stages:\n    - stage:\n        name: Example Build Stage\n        identifier: example_build_stage\n        description: ''\n        type: Approval\n        spec:\n          execution:\n            steps:\n              - step:\n                  name: Approval Step\n                  identifier: Approval_Step\n                  type: HarnessApproval\n                  timeout: 1d\n                  spec:\n                    approvalMessage: |-\n                      Please review the following information\n                      and approve the pipeline progression\n                    includePipelineExecutionHistory: true\n                    approvers:\n                      minimumCount: 1\n                      disallowPipelineExecutor: false\n                      userGroups: <+input>\n                    approverInputs: []\n              - step:\n                  type: ShellScript\n                  name: ShellScript Step\n                  identifier: ShellScript_Step\n                  spec:\n                    shell: Bash\n                    onDelegate: true\n                    source:\n                      type: Inline\n                      spec:\n                        script: <+input>\n                    environmentVariables: []\n                    outputVariables: []\n                    executionTarget: {}\n                  timeout: 10m\n        tags: {}\n    - stage:\n        name: Example Deploy Stage\n        identifier: example_deploy_stage\n        description: ''\n        type: Deployment\n        spec:\n          serviceConfig:\n            serviceRef: <+input>\n            serviceDefinition:\n              spec:\n                variables: []\n              type: Kubernetes\n          infrastructure:\n            environmentRef: <+input>\n            infrastructureDefinition:\n              type: KubernetesDirect\n              spec:\n                connectorRef: <+input>\n                namespace: <+input>\n                releaseName: release-<+INFRA_KEY>\n            allowSimultaneousDeployments: false\n          execution:\n            steps:\n              - step:\n                  name: Rollout Deployment\n                  identifier: rolloutDeployment\n                  type: K8sRollingDeploy\n                  timeout: 10m\n                  spec:\n                    skipDryRun: false\n            rollbackSteps:\n              - step:\n                  name: Rollback Rollout Deployment\n                  identifier: rollbackRolloutDeployment\n                  type: K8sRollingRollback\n                  timeout: 10m\n                  spec: {}\n        tags: {}\n        failureStrategies:\n          - onFailure:\n              errors:\n                - AllErrors\n              action:\n                type: StageRollback\n"
                identifier: example_pipeline
                name: ExamplePipeline
                description: Pipeline Description
                tags:
                  example-tag-1: example-tag-1-value
                  example-tag-2: example-tag-2-value
                git_details:
                  branch_name: branch
                  file_path: /folder/file.json
                  commit_message: Added Harness Git Experience
                  base_branch: old_branch
                  connector_ref: git_connector
                  store_type: REMOTE
                  repo_name: example_repository
        application/yaml:
          schema:
            $ref: '#/components/schemas/PipelineCreateRequestBody'
          examples:
            example-pipeline:
              value: "pipeline_yaml: 'pipeline: identifier: example_pipeline name: ExamplePipeline allowStageExecutions: false stages: - stage: name: Example Build Stage identifier: example_build_stage description: '''' type: Approval spec: execution: steps: - step: name: Approval Step identifier: Approval_Step type: HarnessApproval timeout: 1d spec: approvalMessage: |- Please review the following information and approve the pipeline progression includePipelineExecutionHistory: true approvers: minimumCount: 1 disallowPipelineExecutor: false userGroups: <+input> approverInputs: [] - step: type: ShellScript name: ShellScript Step identifier: ShellScript_Step spec: shell: Bash onDelegate: true source: type: Inline spec: script: <+input> environmentVariables: [] outputVariables: [] executionTarget: {} timeout: 10m tags: {} - stage: name: Example Deploy Stage identifier: example_deploy_stage description: '''' type: Deployment spec: serviceConfig: serviceRef: <+input> serviceDefinition: spec: variables: [] type: Kubernetes infrastructure: environmentRef: <+input> infrastructureDefinition: type: KubernetesDirect spec: connectorRef: <+input> namespace: <+input> releaseName: release-<+INFRA_KEY> allowSimultaneousDeployments: false execution: steps: - step: name: Rollout Deployment identifier: rolloutDeployment type: K8sRollingDeploy timeout: 10m spec: skipDryRun: false rollbackSteps: - step: name: Rollback Rollout Deployment identifier: rollbackRolloutDeployment type: K8sRollingRollback timeout: 10m spec: {} tags: {} failureStrategies: - onFailure: errors: - AllErrors action: type: StageRollback'\nidentifier: example_pipeline\nname: ExamplePipeline\ndescription: Pipeline Description\ntags:\n  example-tag-1: example-tag-1-value\n  example-tag-2: example-tag-2-value\ngit_details:\n  branch_name: branch\n  file_path: /folder/file.json\n  commit_message: Added Harness Git Experience\n  base_branch: old_branch\n  connector_ref: git_connector\n  store_type: REMOTE\n  repo_name: example_repository\n"
      description: Pipeline request body
      required: true
  responses:
    PipelineListResponseBody:
      description: Response body for List Pipelines.
      content:
        application/json:
          schema:
            description: Response body for List Pipelines.
            type: array
            items:
              $ref: '#/components/schemas/PipelineListResponseBody'
          examples:
            example-list-response:
              value:
              - identifier: example_pipeline
                name: Example Pipeline
                description: This is an Example Pipeline
                tags:
                  example-tag-1: example-tag-1-value
                  example-tag-2: example-tag-2-value
                created: 1234567890
                updated: 1234567890
                modules:
                - CD
                recent_execution_info:
                - executor_info:
                    trigger_type: NOOP
                    username: harness_user
                    email: noreply@harness.io
                  execution_id: example_execution_identifier
                  execution_status: Running
                  started: 1234567890
                  ended: 1234567890
                  run_number: 5
                  parent_stage_info:
                    has_parent_pipeline: true
                    execution_id: example_parent_execution_identifier
                    identifier: example_parent_pipeline_id
                    project_id: example_project_id
                    org_id: example_org_id
                    run_sequence: 12671687
                    stage_node_id: example_stage_node_id
                store_type: REMOTE
                connector_ref: example_connector
                valid: true
                git_details:
                  object_id: example_object
                  branch_name: branch
                  file_path: /folder/file.json
                  repo_name: example_repository
                  commit_id: abcd123
                  file_url: www.repo/folder/file.com
                  repo_url: www.repo.com
        application/yaml:
          schema:
            description: Response body for List Pipelines.
            type: array
            items:
              $ref: '#/components/schemas/PipelineListResponseBody'
          examples:
            example-list-response:
              value: "- identifier: example_pipeline\n  name: Example Pipeline\n  description: This is an Example Pipeline\n  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2: example-tag-2-value\n  created: 1234567890\n  updated: 1234567890\n  modules:\n    - CD\n  recent_execution_info:\n    - executor_info:\n        trigger_type: NOOP\n        username: harness_user\n        email: noreply@harness.io\n      execution_id: example_execution_identifier\n      execution_status: Running\n      started: 1234567890\n      ended: 1234567890\n      run_number: 5\n      parent_stage_info:\n        has_parent_pipeline: true\n        execution_id: example_parent_execution_identifier\n        identifier: example_parent_pipeline_id\n        project_id: example_project_id\n        org_id: example_org_id\n        run_sequence: 12671687\n        stage_node_id: example_stage_node_id\n  store_type: REMOTE\n  connector_ref: example_connector\n  valid: true\n  git_details:\n    object_id: example_object\n    branch_name: branch\n    file_path: /folder/file.json\n    repo_name: example_repository\n    commit_id: abcd123\n    file_url: www.repo/folder/file.com\n    repo_url: www.repo.com\n"
      headers:
        X-Total-Elements:
          schema:
            type: integer
          description: Total number of elements returned in Paginated response.
        X-Page-Number:
          schema:
            type: integer
          description: Page number in Paginated response.
        X-Page-Size:
          schema:
            type: integer
          description: Maximum page size in Paginated response.
    PipelineMoveConfigResponseBody:
      description: Response body for moving a pipeline configuration.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PipelineMoveConfigResponseBody'
    GitMetadataUpdateResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GitMetadataUpdateResponseBody'
    PipelineGetResponseBody:
      description: Pipeline response body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PipelineGetResponseBody'
          examples:
            example-response:
              value:
                pipeline_yaml: example_yaml_text
                template_applied_pipeline_yaml: example_yaml_text_with_template
                identifier: example_pipeline
                name: ExamplePipeline
                org: example_org
                project: example_project
                description: Pipeline Description
                tags:
                  example-tag-1: example-tag-1-value
                  example-tag-2: example-tag-2-value
                modules:
                - cd
                git_details:
                  object_id: example_object
                  branch_name: branch
                  file_path: /folder/file.json
                  repo_name: example_repository
                  commit_id: abcd123
                  file_url: www.repo/folder/file.com
                  repo_url: www.repo.com
                valid: true
                yaml_error_wrapper:
                  message: something is incorrect
                  message_fqn: something is incorrect at pipeline.name
                  stage_info:
                    identifier: example_stage
                    type: stage
                    name: Example Stage
                    fqn: pipeline.stages.stage
                  step_info:
                    identifier: example_step
                    type: string
                    name: string
                    fqn: pipeline.steps.step
                  fqn: pipeline.name
                  hint_message: try changing something
                cache_response_metadata:
                  cache_state: VALID_CACHE
                  ttl_left: 9223372036854776000
                  last_updated_at: 9223372036854776000
                created: 1234567890
                updated: 1234567890
        application/yaml:
          schema:
            $ref: '#/components/schemas/PipelineGetResponseBody'
          examples:
            example-response:
              value: "pipeline_yaml: example_yaml_text\ntemplate_applied_pipeline_yaml: example_yaml_text_with_template\nidentifier: example_pipeline\nname: ExamplePipeline\norg: example_org\nproject: example_project\ndescription: Pipeline Description\ntags:\n  example-tag-1: example-tag-1-value\n  example-tag-2: example-tag-2-value\nmodules:\n  - cd\ngit_details:\n  object_id: example_object\n  branch_name: branch\n  file_path: /folder/file.json\n  repo_name: example_repository\n  commit_id: abcd123\n  file_url: www.repo/folder/file.com\n  repo_url: www.repo.com\nvalid: true\nyaml_error_wrapper:\n  message: something is incorrect\n  message_fqn: something is incorrect at pipeline.name\n  stage_info:\n    identifier: example_stage\n    type: stage\n    name: Example Stage\n    fqn: pipeline.stages.stage\n  step_info:\n    identifier: example_step\n    type: string\n    name: string\n    fqn: pipeline.steps.step\n  fqn: pipeline.name\n  hint_message: try changing something\ncache_response_metadata:\n  cache_state: VALID_CACHE\n  ttl_left: 9223372036854776000\n  last_updated_at: 9223372036854776000\ncreated: 1234567890\nupdated: 1234567890\n"
    PipelineSaveResponseBody:
      description: Response body for pipeline save.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PipelineSaveResponseBody'
    PipelineInputSchemaDetailsResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PipelineInputSchemaDetailsResponseBody'
    PipelineValidationUUIDResponseBody:
      description: Contains the UUID of the Pipeline Validation Event that's started
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PipelineValidationUUIDResponseBody'
        application/yaml:
          schema:
            $ref: '#/components/schemas/PipelineValidationUUIDResponseBody'
    PipelineCreateResponseBody:
      description: Pipeline response body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PipelineCreateResponseBody'
          examples:
            example-pipeline:
              value:
                identifier: example_pipeline
        application/yaml:
          schema:
            $ref: '#/components/schemas/PipelineCreateResponseBody'
          examples:
            example-pipeline:
              value: 'identifier: example_pipeline

                '
    PipelineValidationResponseBody:
      description: Pipeline Validation response body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PipelineValidationResponseBody'
        application/yaml:
          schema:
            $ref: '#/components/schemas/PipelineValidationResponseBody'
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Harness API key.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-refined-from:
- harness-apis-openapi.yaml
- harness-platform-api.yaml
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
