openapi: 3.2.0
info:
  title: Harness Execution Config API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- description: This contains APIs for execution config for image tags
  name: Execution Config
  x-displayName: Execution Config
paths:
  /v1/dbops/execution-config:
    parameters:
    - $ref: '#/components/parameters/DbOpsAccountHeader'
    delete:
      description: Delete the Execution config overrides for the customer
      operationId: V1DeleteExecutionConfig
      responses:
        '200':
          $ref: '#/components/responses/ExecutionConfigSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Delete Execution config for DBOps
      tags:
      - Execution Config
      x-stoplight:
        id: b4ixsyl78f1dh
  /v1/dbops/execution-config/get-customer-config:
    parameters:
    - $ref: '#/components/parameters/DbOpsAccountHeader'
    get:
      operationId: V1GetCustomerConfig
      parameters:
      - description: Returns the non-default images if true
        in: query
        name: overridesOnly
        schema:
          default: true
          type: boolean
      responses:
        '200':
          $ref: '#/components/responses/ExecutionConfigTagsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Get Customer Execution Config overrides
      tags:
      - Execution Config
      x-stoplight:
        id: xyt06xiwwna97
  /v1/dbops/execution-config/get-default-config:
    parameters:
    - $ref: '#/components/parameters/DbOpsAccountHeader'
    get:
      description: Get list of the latest Harness Dbops images and tags
      operationId: V1GetDefaultConfig
      responses:
        '200':
          $ref: '#/components/responses/ExecutionConfigTagsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Get Default Execution Config
      tags:
      - Execution Config
      x-stoplight:
        id: wiaw98nfdi0rv
  /v1/dbops/execution-config/pin-image:
    parameters:
    - $ref: '#/components/parameters/DbOpsAccountHeader'
    post:
      description: Parses, validates, and applies the raw dbops_drone_image_version_override setting value.
      operationId: V1PinImage
      requestBody:
        $ref: '#/components/requestBodies/PinImageRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExecutionConfigSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Pin DB DevOps image versions from the account setting
      tags:
      - Execution Config
      x-internal: true
  /v1/dbops/execution-config/reset-config:
    parameters:
    - $ref: '#/components/parameters/DbOpsAccountHeader'
    post:
      description: To reset one or more images to their defaults with a list of the images to reset.
      operationId: V1ResetExecutionConfig
      requestBody:
        content:
          application/json:
            examples:
              Example 1:
                value:
                - gitCloneTag
            schema:
              items:
                example: gitCloneTag
                type: string
                x-stoplight:
                  id: 3kixxbyjo4ybt
              type: array
        description: List of Image tags which need to be reset to default
      responses:
        '201':
          $ref: '#/components/responses/ExecutionConfigSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Reset execution Config for DBOPs image tags
      tags:
      - Execution Config
      x-internal: false
      x-stoplight:
        id: fvtunok2awllt
  /v1/dbops/execution-config/update-config:
    parameters:
    - $ref: '#/components/parameters/DbOpsAccountHeader'
    post:
      operationId: V1UpdateExecutionConfig
      requestBody:
        $ref: '#/components/requestBodies/ExecutionConfigUpdateRequest'
      responses:
        '201':
          $ref: '#/components/responses/ExecutionConfigSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Override execution Config for DBOPs image tags
      tags:
      - Execution Config
      x-internal: false
      x-stoplight:
        id: n6q91b59w1kld
components:
  responses:
    ErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DbOpsError'
      description: Error Response body
    ExecutionConfigTagsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExecutionConfigTags'
      description: Response Body for Execution Config for Image tags
    ExecutionConfigSuccessResponse:
      content:
        application/json:
          schema:
            default: false
            type: boolean
      description: Boolean response for execution config response
  schemas:
    ExecutionConfigOperation:
      additionalProperties: false
      description: Operations to set the images tag to particular version
      properties:
        field:
          description: Image tag field names which can be retrieved from get-default-config
          example: gitCloneTag, defaultTag, mongoTag, etc
          type: string
          x-stoplight:
            id: c4ao9gsw8bec7
        value:
          description: Value of the image tag
          example: harness/drone-git:1.5.6-rootless
          type: string
          x-stoplight:
            id: qvg6n55o8e6t7
      required:
      - field
      - value
      title: ExecutionConfigOperation
      type: object
      x-examples:
        Example 1:
          field: gitCloneTag
          value: harness/drone-git:1.5.6-rootless
      x-stoplight:
        id: az6vxqusd38xv
    DbOpsError:
      description: Error Response
      properties:
        message:
          description: error message detail
          type: string
      required:
      - message
      title: Error Response
      type: object
      x-stoplight:
        id: 61cwtgnps2mpt
    ExecutionConfigTags:
      properties:
        artifactoryTag:
          type: string
          x-stoplight:
            id: hy9876z3lbcoy
        bigQueryTag:
          type: string
          x-stoplight:
            id: bigquerytag1x2
        bigtableTag:
          type: string
          x-stoplight:
            id: bigtabletag1x3
        cloudSqlTag:
          type: string
          x-stoplight:
            id: z4o6m0f9zq3qk
        db2Tag:
          type: string
          x-stoplight:
            id: db2tag9x7k2m1
        defaultTag:
          type: string
          x-stoplight:
            id: 5ij9lx02mahxf
        flywayDefaultTag:
          type: string
          x-stoplight:
            id: 3xxwsi5xj4v7n
        flywayMongoTag:
          type: string
          x-stoplight:
            id: 7jhlm8v9n0q2c
        flywaySpannerPsqlTag:
          type: string
          x-stoplight:
            id: k6a5l0q6s8u1m
        flywaySpannerTag:
          type: string
          x-stoplight:
            id: 0d4g2x0f4r2c9
        gitCloneTag:
          type: string
          x-stoplight:
            id: j86rn4rdhn52k
        mongoTag:
          type: string
          x-stoplight:
            id: crzzbjc0o7s1j
        oracleTag:
          type: string
          x-stoplight:
            id: oracletag1x4
        perconaTag:
          type: string
          x-stoplight:
            id: jxo2xlmzb3al1
        rdsTag:
          type: string
          x-stoplight:
            id: r7s3k9m2p1q8nw
        snowflakeTag:
          type: string
          x-stoplight:
            id: mgm4y32fkx1xd
        spannerTag:
          type: string
          x-stoplight:
            id: mgm4y32fkx1xt
      title: ExecutionConfigTags
      type: object
      x-examples:
        Example 1:
          artifactoryTag: string
          cloudSqlTag: string
          defaultTag: string
          flywayDefaultTag: string
          flywayMongoTag: string
          flywaySpannerPsqlTag: string
          flywaySpannerTag: string
          gitCloneTag: string
          mongoTag: string
          perconaTag: string
          rdsTag: string
          snowflakeTag: string
          spannerTag: string
      x-stoplight:
        id: qezvgyoecifmt
    PinImageInput:
      additionalProperties: false
      properties:
        value:
          description: Raw JSON value stored in the dbops_drone_image_version_override account setting
          type:
          - string
          - 'null'
          x-go-type: json.RawMessage
          x-go-type-skip-optional-pointer: true
      required:
      - value
      type: object
  requestBodies:
    ExecutionConfigUpdateRequest:
      content:
        application/json:
          schema:
            items:
              $ref: '#/components/schemas/ExecutionConfigOperation'
            type: array
      description: Details of the Update Operations
    PinImageRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PinImageInput'
      description: Raw DB DevOps image version override account setting
      required: true
  parameters:
    DbOpsAccountHeader:
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
      in: header
      name: Harness-Account
      schema:
        type: string
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
