openapi: 3.2.0
info:
  title: Harness Webhooks API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- description: APIs to create, update, list webhooks
  name: Webhooks
paths:
  /har/api/v1/registry/{registry_ref}/webhooks:
    get:
      description: Returns List of Webhook Details
      operationId: ListWebhooks
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/RegistrypageNumber'
      - $ref: '#/components/parameters/RegistrypageSize'
      - $ref: '#/components/parameters/RegistrysortOrder'
      - $ref: '#/components/parameters/sortField'
      - $ref: '#/components/parameters/searchTerm'
      responses:
        '200':
          $ref: '#/components/responses/ListWebhooksResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: ListWebhooks
      tags:
      - Webhooks
    post:
      description: Returns Webhook Details
      operationId: CreateWebhook
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      requestBody:
        $ref: '#/components/requestBodies/WebhookRequest'
      responses:
        '201':
          $ref: '#/components/responses/WebhookResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: CreateWebhook
      tags:
      - Webhooks
  /har/api/v1/registry/{registry_ref}/webhooks/{webhook_identifier}:
    delete:
      description: Delete a Webhook
      operationId: DeleteWebhook
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/webhookIdentifierPathParam'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: DeleteWebhook
      tags:
      - Webhooks
    get:
      description: Returns Webhook Details
      operationId: GetWebhook
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/webhookIdentifierPathParam'
      responses:
        '200':
          $ref: '#/components/responses/WebhookResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: GetWebhook
      tags:
      - Webhooks
    put:
      description: Returns Webhook Details
      operationId: UpdateWebhook
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/webhookIdentifierPathParam'
      requestBody:
        $ref: '#/components/requestBodies/WebhookRequest'
      responses:
        '201':
          $ref: '#/components/responses/WebhookResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: UpdateWebhook
      tags:
      - Webhooks
  /har/api/v1/registry/{registry_ref}/webhooks/{webhook_identifier}/executions:
    get:
      description: Returns Webhook Execution Details List
      operationId: ListWebhookExecutions
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/webhookIdentifierPathParam'
      - $ref: '#/components/parameters/RegistrypageNumber'
      - $ref: '#/components/parameters/RegistrypageSize'
      responses:
        '200':
          $ref: '#/components/responses/ListWebhooksExecutionResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: ListWebhookExecutions
      tags:
      - Webhooks
  /har/api/v1/registry/{registry_ref}/webhooks/{webhook_identifier}/executions/{webhook_execution_id}:
    get:
      description: Returns Webhook Execution Details
      operationId: GetWebhookExecution
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/webhookIdentifierPathParam'
      - $ref: '#/components/parameters/webhookExecutionIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/WebhookExecutionResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: GetWebhookExecution
      tags:
      - Webhooks
  /har/api/v1/registry/{registry_ref}/webhooks/{webhook_identifier}/executions/{webhook_execution_id}/retrigger:
    get:
      description: Retrigger Webhook Execution
      operationId: ReTriggerWebhookExecution
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/webhookIdentifierPathParam'
      - $ref: '#/components/parameters/webhookExecutionIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/WebhookExecutionResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: ReTriggerWebhookExecution
      tags:
      - Webhooks
components:
  responses:
    RegistryUnauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegistryError'
      description: Access denied due to insufficient permissions
    RegistryUnauthenticated:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegistryError'
      description: Authentication failed or missing credentials
    WebhookResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/Webhook'
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            - data
            type: object
      description: response for create, get and update webhook
    RegistryBadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegistryError'
      description: The request was invalid or malformed
    RegistryNotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegistryError'
      description: The requested resource was not found
    RegistryInternalServerError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegistryError'
      description: An unexpected server error occurred
    ListWebhooksResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/ListWebhooks'
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            - data
            type: object
      description: response for list webhooks
    ListWebhooksExecutionResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/ListWebhooksExecutions'
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            - data
            type: object
      description: list webhooks executions response
    WebhookExecutionResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/WebhookExecution'
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            - data
            type: object
      description: webhook execution response
    Success:
      content:
        application/json:
          schema:
            properties:
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            type: object
      description: Generic success response
  schemas:
    WebhookExecResult:
      description: refers to webhook execution
      enum:
      - SUCCESS
      - RETRIABLE_ERROR
      - FATAL_ERROR
      type: string
    WebhookExecRequest:
      description: Harness Regstries HTTP Webhook Request
      properties:
        body:
          type: string
        headers:
          type: string
        url:
          type: string
      type: object
    ExtraHeader:
      description: Webhook Extra Header
      properties:
        key:
          type: string
        masked:
          default: false
          type: boolean
        value:
          type: string
      required:
      - key
      - value
      type: object
    WebhookExecution:
      description: Harness Regstries Webhook Execution
      properties:
        created:
          format: int64
          type: integer
        duration:
          format: int64
          type: integer
        error:
          type: string
        id:
          format: int64
          type: integer
        request:
          $ref: '#/components/schemas/WebhookExecRequest'
        response:
          $ref: '#/components/schemas/WebhookExecResponse'
        result:
          $ref: '#/components/schemas/WebhookExecResult'
        retriggerOf:
          format: int64
          type: integer
        retriggerable:
          type: boolean
        triggerType:
          $ref: '#/components/schemas/Trigger'
        webhookId:
          format: int64
          type: integer
      type: object
    RegistryStatus:
      description: Request processing status indicator
      enum:
      - SUCCESS
      - FAILURE
      - ERROR
      type: string
    ListWebhooks:
      description: A list of Harness Registries webhooks
      properties:
        itemCount:
          description: The total number of items
          example: 1
          format: int64
          type: integer
        pageCount:
          description: The total number of pages
          example: 100
          format: int64
          type: integer
        pageIndex:
          description: The current page
          example: 0
          format: int64
          type: integer
        pageSize:
          description: The number of items per page
          example: 1
          type: integer
        webhooks:
          description: A list of Registries webhooks
          items:
            $ref: '#/components/schemas/Webhook'
          type: array
      required:
      - webhooks
      type: object
    RegistryError:
      description: Standard error response with code, message and optional details
      properties:
        code:
          description: The HTTP error code
          example: '404'
          type: string
        details:
          description: 'Additional context and details about the error.

            May include field-specific validation errors or debugging information.

            '
          example:
            field: registry_identifier
            reason: Registry does not exist in the specified project
            value: invalid-registry
          type: object
        message:
          description: Human-readable error message explaining what went wrong
          example: Registry not found
          type: string
      required:
      - code
      - message
      type: object
    WebhookExecResponse:
      description: Harness Regstries HTTP Webhook Response
      properties:
        body:
          type: string
        headers:
          type: string
        status:
          type: string
        statusCode:
          type: integer
      type: object
    Trigger:
      description: refers to trigger
      enum:
      - ARTIFACT_CREATION
      - ARTIFACT_DELETION
      type: string
    WebhookRequest:
      properties:
        description:
          type: string
        enabled:
          type: boolean
        extraHeaders:
          items:
            $ref: '#/components/schemas/ExtraHeader'
          type: array
        identifier:
          type: string
        insecure:
          type: boolean
        name:
          type: string
        secretIdentifier:
          type: string
        secretSpaceId:
          format: int64
          type: integer
        secretSpacePath:
          type: string
        triggers:
          items:
            $ref: '#/components/schemas/Trigger'
          type: array
        url:
          type: string
      required:
      - insecure
      - enabled
      - identifier
      - url
      - name
      type: object
    ListWebhooksExecutions:
      description: A list of Harness Registries webhooks executions
      properties:
        executions:
          description: A list of Registries webhooks executions
          items:
            $ref: '#/components/schemas/WebhookExecution'
          type: array
        itemCount:
          description: The total number of items
          example: 1
          format: int64
          type: integer
        pageCount:
          description: The total number of pages
          example: 100
          format: int64
          type: integer
        pageIndex:
          description: The current page
          example: 0
          format: int64
          type: integer
        pageSize:
          description: The number of items per page
          example: 1
          type: integer
      required:
      - executions
      type: object
    Webhook:
      description: Harness Regstries Webhook
      properties:
        createdAt:
          type: string
        createdBy:
          format: int64
          type: integer
        description:
          type: string
        enabled:
          type: boolean
        extraHeaders:
          items:
            $ref: '#/components/schemas/ExtraHeader'
          type: array
        identifier:
          type: string
        insecure:
          type: boolean
        internal:
          type: boolean
        latestExecutionResult:
          $ref: '#/components/schemas/WebhookExecResult'
        modifiedAt:
          type: string
        name:
          type: string
        secretIdentifier:
          type: string
        secretSpaceId:
          format: int64
          type: integer
        secretSpacePath:
          type: string
        triggers:
          items:
            $ref: '#/components/schemas/Trigger'
          type: array
        url:
          type: string
        version:
          format: int64
          type: integer
      required:
      - identifier
      - url
      - name
      - enabled
      - insecure
      type: object
  parameters:
    webhookExecutionIdPathParam:
      description: Unique webhook execution identifier.
      in: path
      name: webhook_execution_id
      required: true
      schema:
        type: string
    webhookIdentifierPathParam:
      description: Unique webhook identifier.
      in: path
      name: webhook_identifier
      required: true
      schema:
        type: string
    RegistrysortOrder:
      description: sortOrder
      in: query
      name: sort_order
      schema:
        type: string
    searchTerm:
      description: search Term.
      in: query
      name: search_term
      schema:
        type: string
    RegistrypageSize:
      description: Number of items per page
      in: query
      name: size
      schema:
        default: 20
        format: int64
        type: integer
    sortField:
      description: sortField
      in: query
      name: sort_field
      schema:
        type: string
    RegistrypageNumber:
      description: Current page number
      in: query
      name: page
      schema:
        default: 1
        format: int64
        type: integer
    registryRefPathParam:
      description: 'Reference to the scope in which the registry exists.


        Format depends on the scope:


        - **Account-level**: `account_id/registry_name/+`

        - **Organization-level**: `account_id/org_id/registry_name/+`

        - **Project-level**: `account_id/org_id/project_id/registry_name/+`


        The `/+` suffix is used internally to route scoped requests.

        It must be included **exactly as shown** in the URL.

        '
      examples:
        accountLevel:
          description: Only account ID, scoped at account level
          summary: Account-level registry
          value: acc123/registry123/+
        orgLevel:
          description: Account and org ID, scoped at org level
          summary: Organization-level registry
          value: acc123/org456/registry123/+
        projectLevel:
          description: Account, org, and project ID, scoped at project level
          summary: Project-level registry
          value: acc123/org456/proj789/registry123/+
      in: path
      name: registry_ref
      required: true
      schema:
        type: string
  requestBodies:
    WebhookRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookRequest'
      description: request for create and update webhook
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
