openapi: 3.2.0
info:
  title: Harness Monitored Services API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Monitored Services
  description: This contains APIs related to CRUD operations of Monitored Services
paths:
  /cv/api/monitored-service/create-default:
    post:
      tags:
      - Monitored Services
      operationId: createDefaultMonitoredService
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: environmentIdentifier
        in: query
        required: true
        schema:
          type: string
      - name: serviceIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Create default monitored service
      x-summary-source: derived
  /cv/api/monitored-service/{identifier}:
    get:
      tags:
      - Monitored Services
      summary: Get monitored service data
      operationId: getMonitoredService
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
        default:
          description: Get monitored service data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOMonitoredServiceResponse'
    put:
      tags:
      - Monitored Services
      summary: Updates monitored service data
      operationId: updateMonitoredService
      parameters:
      - name: identifier
        in: path
        description: Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/MonitoredService'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
        default:
          description: Updates monitored service data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestResponseMonitoredServiceResponse'
    delete:
      tags:
      - Monitored Services
      summary: Delete monitored service data
      operationId: deleteMonitoredService
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        description: Identifier for the Entity.
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
        default:
          description: Delete monitored service data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestResponseBoolean'
  /cv/api/monitored-service/{identifier}/detach-template:
    put:
      tags:
      - Monitored Services
      summary: delete template reference from monitored service
      operationId: detachMonitoredServiceFromTemplate
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: identifier
        in: path
        description: Identifier for the Entity.
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
        default:
          description: delete template reference from monitored service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
  /cv/api/monitored-service/all/time-series-health-sources:
    get:
      tags:
      - Monitored Services
      operationId: getAllMonitoredServicesWithHealthSources
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Get all monitored services with health sources
      x-summary-source: derived
  /cv/api/monitored-service/{identifier}/anomaliesCount:
    get:
      tags:
      - Monitored Services
      operationId: CvgetAnomaliesSummary
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: startTime
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Cvget anomalies summary
      x-summary-source: derived
  /cv/api/monitored-service/count-of-services:
    get:
      tags:
      - Monitored Services
      operationId: getCountOfServices
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: environmentIdentifier
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Get count of services
      x-summary-source: derived
  /cv/api/monitored-service/environments:
    get:
      tags:
      - Monitored Services
      operationId: getEnvironments
      parameters:
      - name: accountId
        in: query
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Get environments
      x-summary-source: derived
  /cv/api/monitored-service/health-sources:
    get:
      tags:
      - Monitored Services
      operationId: getHealthSources
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: serviceIdentifier
        in: query
        required: true
        schema:
          type: string
      - name: environmentIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Get health sources
      x-summary-source: derived
  /cv/api/monitored-service/{monitoredServiceIdentifier}/health-sources:
    get:
      tags:
      - Monitored Services
      operationId: getHealthSourcesForMonitoredServiceIdentifier
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: monitoredServiceIdentifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Get health sources for monitored service identifier
      x-summary-source: derived
  /cv/api/monitored-service/list:
    get:
      tags:
      - Monitored Services
      operationId: getList
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: environmentIdentifier
        in: query
        schema:
          type: string
      - name: environmentIdentifiers
        in: query
        schema:
          type: array
          items:
            type: string
      - name: offset
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Get list
      x-summary-source: derived
  /cv/api/monitored-service/platform/list:
    get:
      tags:
      - Monitored Services
      operationId: getListV2
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: environmentIdentifiers
        in: query
        schema:
          type: array
          items:
            type: string
      - name: offset
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        schema:
          type: string
      - name: monitoredServiceType
        in: query
        schema:
          type: string
          enum:
          - Application
          - Infrastructure
      - name: hideNotConfiguredServices
        in: query
        schema:
          type: boolean
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Get list V2
      x-summary-source: derived
  /cv/api/monitored-service/{identifier}/secondary-events:
    get:
      tags:
      - Monitored Services
      operationId: getMSSecondaryEvents
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: startTime
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Get MS secondary events
      x-summary-source: derived
  /cv/api/monitored-service/secondary-events-details:
    get:
      tags:
      - Monitored Services
      operationId: getMSSecondaryEventsDetails
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: secondaryEventType
        in: query
        required: true
        schema:
          type: string
          enum:
          - Downtime
          - DataCollectionFailure
          - Annotation
          - ErrorBudgetReset
          - SrmAnalysisImpact
      - name: identifiers
        in: query
        required: true
        schema:
          maxItems: 2147483647
          minItems: 1
          type: array
          items:
            type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Get MS secondary events details
      x-summary-source: derived
  /cv/api/monitored-service/{monitoredServiceIdentifier}/change-details:
    get:
      tags:
      - Monitored Services
      operationId: getMonitoredServiceChangeDetails
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: monitoredServiceIdentifier
        in: path
        required: true
        schema:
          type: string
      - name: sloIdentifiers
        in: query
        schema:
          type: array
          items:
            type: string
      - name: startTime
        in: query
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Get monitored service change details
      x-summary-source: derived
  /cv/api/monitored-service/{monitoredServiceIdentifier}/service-details:
    get:
      tags:
      - Monitored Services
      operationId: getMonitoredServiceDetails
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: monitoredServiceIdentifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Get monitored service details
      x-summary-source: derived
  /cv/api/monitored-service/service-details:
    get:
      tags:
      - Monitored Services
      operationId: getMonitoredServiceDetails_1
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: serviceIdentifier
        in: query
        required: true
        schema:
          type: string
      - name: environmentIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      deprecated: true
      summary: Get monitored service details 1
      x-summary-source: derived
  /cv/api/monitored-service/service-environment:
    get:
      tags:
      - Monitored Services
      operationId: getMonitoredServiceFromServiceAndEnvironment
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: serviceIdentifier
        in: query
        required: true
        schema:
          type: string
      - name: environmentIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Get monitored service from service and environment
      x-summary-source: derived
  /cv/api/monitored-service/{monitoredServiceIdentifier}/logs:
    get:
      tags:
      - Monitored Services
      operationId: getMonitoredServiceLogs
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: monitoredServiceIdentifier
        in: path
        required: true
        schema:
          type: string
      - name: logType
        in: query
        required: true
        schema:
          type: string
          enum:
          - ApiCallLog
          - ExecutionLog
      - name: errorLogsOnly
        in: query
        schema:
          type: boolean
      - name: startTime
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: healthSources
        in: query
        schema:
          type: array
          items:
            type: string
      - name: pageNumber
        in: query
        description: 'Page Index of the results to fetch.Default Value: 0'
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: Results per page
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Get monitored service logs
      x-summary-source: derived
  /cv/api/monitored-service/reconciliation-status:
    get:
      tags:
      - Monitored Services
      summary: fetch reconciliation status for template referenced monitored services
      operationId: getMonitoredServiceReconciliationStatuses
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: templateIdentifier
        in: query
        description: Scoped template identifier used to create the monitored service
        required: true
        schema:
          type: string
      - name: versionLabel
        in: query
        description: Template version Label
        required: true
        schema:
          type: string
      - name: branch
        in: query
        description: Git branch of the template
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git repo identifier of the template
        schema:
          type: string
      - name: pageNumber
        in: query
        description: 'Page Index of the results to fetch.Default Value: 0'
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: Results per page
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
        default:
          description: fetch reconciliation status for template referenced monitored services
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestResponsePageResponseMonitoredServiceReference'
  /cv/api/monitored-service/{identifier}/resolved-template-inputs:
    get:
      tags:
      - Monitored Services
      summary: get monitored service resolved template inputs
      operationId: getMonitoredServiceResolvedTemplateInputs
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        description: Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: templateIdentifier
        in: query
        description: Scoped template identifier used to create the monitored service
        required: true
        schema:
          type: string
      - name: versionLabel
        in: query
        description: Template version Label
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
        default:
          description: get monitored service resolved template inputs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOString'
  /cv/api/monitored-service/{identifier}/scores:
    get:
      tags:
      - Monitored Services
      operationId: getMonitoredServiceScore
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Get monitored service score
      x-summary-source: derived
  /cv/api/monitored-service/{identifier}/notification-rules:
    get:
      tags:
      - Monitored Services
      summary: Get notification rules for MonitoredService
      operationId: getNotificationRulesForMonitoredService
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        description: Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pageNumber
        in: query
        description: 'Page Index of the results to fetch.Default Value: 0'
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: Results per page
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
        default:
          description: Get notification rules for MonitoredService
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseNotificationRuleResponse'
  /cv/api/monitored-service/{identifier}/overall-health-score:
    get:
      tags:
      - Monitored Services
      operationId: getOverAllHealthScore
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: duration
        in: query
        schema:
          type: string
          enum:
          - FOUR_HOURS
          - TWENTY_FOUR_HOURS
          - THREE_DAYS
          - SEVEN_DAYS
          - THIRTY_DAYS
      - name: endTime
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: startTime
        in: query
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Get over all health score
      x-summary-source: derived
  /cv/api/monitored-service/services:
    get:
      tags:
      - Monitored Services
      operationId: getServices
      parameters:
      - name: accountId
        in: query
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Get services
      x-summary-source: derived
  /cv/api/monitored-service/{monitoredServiceIdentifier}/health-source/{healthSourceIdentifier}/slo-metrics:
    get:
      tags:
      - Monitored Services
      operationId: getSloMetrics
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: monitoredServiceIdentifier
        in: path
        required: true
        schema:
          type: string
      - name: healthSourceIdentifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Get slo metrics
      x-summary-source: derived
  /cv/api/monitored-service/reconciliation-required:
    get:
      tags:
      - Monitored Services
      summary: check if a template referenced monitored service(s) require reconciliation
      operationId: isReconciliationRequiredForMonitoredServices
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: templateIdentifier
        in: query
        description: Scoped template identifier used to create the monitored service
        required: true
        schema:
          type: string
      - name: versionLabel
        in: query
        description: Template version Label
        required: true
        schema:
          type: string
      - name: monitoredServiceIdentifier
        in: query
        description: filter to check if reconciliation required for a particular monitored service
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
        default:
          description: check if a template referenced monitored service(s) require reconciliation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
  /cv/api/monitored-service:
    get:
      tags:
      - Monitored Services
      operationId: list
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: environmentIdentifier
        in: query
        schema:
          type: string
      - name: environmentIdentifiers
        in: query
        schema:
          type: array
          items:
            type: string
      - name: serviceIdentifier
        in: query
        schema:
          type: string
      - name: offset
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        schema:
          type: string
      - name: monitoredServiceType
        in: query
        schema:
          type: string
          enum:
          - Application
          - Infrastructure
      - name: servicesAtRiskFilter
        in: query
        required: true
        schema:
          type: boolean
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: List
      x-summary-source: derived
    post:
      tags:
      - Monitored Services
      summary: Saves monitored service data
      operationId: saveMonitoredService
      parameters:
      - name: accountId
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/MonitoredService'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
        default:
          description: Saves monitored service data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestResponseMonitoredServiceResponse'
  /cv/api/monitored-service/move-config/{identifier}:
    post:
      tags:
      - Monitored Services
      summary: Move MonitoredService YAML from inline to remote
      operationId: moveMonitoredServiceConfig
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: identifier
        in: path
        description: Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: moveConfigType
        in: query
        required: true
        schema:
          type: string
          enum:
          - INLINE_TO_REMOTE
          - REMOTE_TO_INLINE
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
        default:
          description: Fetches MonitoredService YAML from Harness DB and creates a remote entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOMonitoredServiceMoveConfigResponse'
  /cv/api/monitored-service/template-input:
    post:
      tags:
      - Monitored Services
      summary: Saves monitored service from template input
      operationId: saveMonitoredServiceFromTemplateInput
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      requestBody:
        description: Template input yaml for the monitored service creation from given template
        content:
          '*/*':
            schema:
              type: string
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
        default:
          description: Saves monitored service from template input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestResponseMonitoredServiceResponse'
  /cv/api/monitored-service/yaml:
    post:
      tags:
      - Monitored Services
      operationId: saveMonitoredServiceFromYaml
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: string
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Save monitored service from yaml
      x-summary-source: derived
  /cv/api/monitored-service/{identifier}/health-monitoring-flag:
    put:
      tags:
      - Monitored Services
      operationId: setHealthMonitoringFlag
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: enable
        in: query
        required: true
        schema:
          type: boolean
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Set health monitoring flag
      x-summary-source: derived
  /cv/api/monitored-service/{identifier}/template-input:
    put:
      tags:
      - Monitored Services
      summary: Update monitored service from yaml or template
      operationId: updateMonitoredServiceFromTemplateInput
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        description: Identifier for the Entity.
        required: true
        schema:
          type: string
      requestBody:
        description: Template input yaml for the monitored service creation from given template
        content:
          '*/*':
            schema:
              type: string
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
        default:
          description: Update monitored service from yaml or template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestResponseMonitoredServiceResponse'
  /cv/api/monitored-service/{identifier}/yaml:
    put:
      tags:
      - Monitored Services
      operationId: updateMonitoredServiceFromYaml
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: string
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Update monitored service from yaml
      x-summary-source: derived
  /cv/api/monitored-service/yaml-template:
    get:
      tags:
      - Monitored Services
      operationId: yamlTemplate
      parameters:
      - name: accountId
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
          enum:
          - Application
          - Infrastructure
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CvError'
      summary: Yaml template
      x-summary-source: derived
components:
  schemas:
    ResponseDTOPageResponseNotificationRuleResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/PageResponseNotificationRuleResponse'
        metaData:
          type: object
        correlationId:
          type: string
    ResponseDTOBoolean:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          type: boolean
        metaData:
          type: object
        correlationId:
          type: string
    RestResponsePageResponseMonitoredServiceReference:
      type: object
      properties:
        metaData:
          type: object
          additionalProperties:
            type: object
        resource:
          $ref: '#/components/schemas/PageResponseMonitoredServiceReference'
        responseMessages:
          type: array
          items:
            $ref: '#/components/schemas/ResponseMessage'
    Failure:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        code:
          type: string
          enum:
          - DEFAULT_ERROR_CODE
          - INVALID_ARGUMENT
          - INVALID_EMAIL
          - DOMAIN_NOT_ALLOWED_TO_REGISTER
          - COMMNITY_EDITION_NOT_FOUND
          - DEPLOY_MODE_IS_NOT_ON_PREM
          - USER_ALREADY_REGISTERED
          - USER_INVITATION_DOES_NOT_EXIST
          - USER_DOES_NOT_EXIST
          - USER_INVITE_OPERATION_FAILED
          - USER_DISABLED
          - ACCOUNT_DOES_NOT_EXIST
          - INACTIVE_ACCOUNT
          - ACCOUNT_MIGRATED
          - ACCOUNT_MIGRATED_TO_NEXT_GEN
          - USER_DOMAIN_NOT_ALLOWED
          - MAX_FAILED_ATTEMPT_COUNT_EXCEEDED
          - RESOURCE_NOT_FOUND
          - INVALID_FORMAT
          - ROLE_DOES_NOT_EXIST
          - EMAIL_NOT_VERIFIED
          - EMAIL_VERIFICATION_TOKEN_NOT_FOUND
          - INVALID_TOKEN
          - REVOKED_TOKEN
          - INVALID_CAPTCHA_TOKEN
          - NOT_ACCOUNT_MGR_NOR_HAS_ALL_APP_ACCESS
          - EXPIRED_TOKEN
          - INVALID_AGENT_MTLS_AUTHORITY
          - TOKEN_ALREADY_REFRESHED_ONCE
          - ACCESS_DENIED
          - NG_ACCESS_DENIED
          - INVALID_CREDENTIAL
          - INVALID_CREDENTIALS_THIRD_PARTY
          - INVALID_KEY
          - INVALID_CONNECTOR_TYPE
          - INVALID_KEYPATH
          - INVALID_VARIABLE
          - UNKNOWN_HOST
          - UNREACHABLE_HOST
          - INVALID_PORT
          - SSH_SESSION_TIMEOUT
          - ALGORITHM_NEGOTIATION_ERROR
          - SOCKET_CONNECTION_ERROR
          - CONNECTION_ERROR
          - COULD_NOT_PROCESS_ERROR
          - SOCKET_CONNECTION_TIMEOUT
          - WINRM_COMMAND_EXECUTION_TIMEOUT
          - CONNECTION_TIMEOUT
          - SSH_CONNECTION_ERROR
          - USER_GROUP_ERROR
          - INVALID_EXECUTION_ID
          - ERROR_IN_GETTING_CHANNEL_STREAMS
          - UNEXPECTED
          - UNKNOWN_ERROR
          - UNKNOWN_EXECUTOR_TYPE_ERROR
          - DUPLICATE_STATE_NAMES
          - TRANSITION_NOT_LINKED
          - TRANSITION_TO_INCORRECT_STATE
          - TRANSITION_TYPE_NULL
          - STATES_WITH_DUP_TRANSITIONS
          - BARRIERS_NOT_RUNNING_CONCURRENTLY
          - NON_FORK_STATES
          - NON_REPEAT_STATES
          - INITIAL_STATE_NOT_DEFINED
          - FILE_INTEGRITY_CHECK_FAILED
          - INVALID_URL
          - FILE_DOWNLOAD_FAILED
          - PLATFORM_SOFTWARE_DELETE_ERROR
          - INVALID_CSV_FILE
          - INVALID_REQUEST
          - SCHEMA_VALIDATION_FAILED
          - FILTER_CREATION_ERROR
          - INVALID_YAML_ERROR
          - PLAN_CREATION_ERROR
          - INVALID_INFRA_STATE
          - PIPELINE_ALREADY_TRIGGERED
          - NON_EXISTING_PIPELINE
          - DUPLICATE_COMMAND_NAMES
          - INVALID_PIPELINE
          - COMMAND_DOES_NOT_EXIST
          - DUPLICATE_ARTIFACTSTREAM_NAMES
          - DUPLICATE_HOST_NAMES
          - STATE_NOT_FOR_TYPE
          - STATE_MACHINE_ISSUE
          - STATE_DISCONTINUE_FAILED
          - STATE_PAUSE_FAILED
          - PAUSE_ALL_ALREADY
          - RESUME_ALL_ALREADY
          - ROLLBACK_ALREADY
          - ABORT_ALL_ALREADY
          - EXPIRE_ALL_ALREADY
          - RETRY_FAILED
          - UNKNOWN_ARTIFACT_TYPE
          - UNKNOWN_STAGE_ELEMENT_WRAPPER_TYPE
          - INIT_TIMEOUT
          - LICENSE_EXPIRED
          - NOT_LICENSED
          - REQUEST_TIMEOUT
          - SCM_REQUEST_TIMEOUT
          - WORKFLOW_ALREADY_TRIGGERED
          - JENKINS_ERROR
          - INVALID_ARTIFACT_SOURCE
          - INVALID_ARTIFACT_SERVER
          - INVALID_CLOUD_PROVIDER
          - UPDATE_NOT_ALLOWED
          - DELETE_NOT_ALLOWED
          - APPDYNAMICS_CONFIGURATION_ERROR
          - APM_CONFIGURATION_ERROR
          - SPLUNK_CONFIGURATION_ERROR
          - ELK_CONFIGURATION_ERROR
          - LOGZ_CONFIGURATION_ERROR
          - SUMO_CONFIGURATION_ERROR
          - INSTANA_CONFIGURATION_ERROR
          - APPDYNAMICS_ERROR
          - STACKDRIVER_ERROR
          - STACKDRIVER_CONFIGURATION_ERROR
          - NEWRELIC_CONFIGURATION_ERROR
          - NEWRELIC_ERROR
          - DYNA_TRACE_CONFIGURATION_ERROR
          - DYNA_TRACE_ERROR
          - CLOUDWATCH_ERROR
          - CLOUDWATCH_CONFIGURATION_ERROR
          - PROMETHEUS_CONFIGURATION_ERROR
          - DATA_DOG_CONFIGURATION_ERROR
          - SERVICE_GUARD_CONFIGURATION_ERROR
          - ENCRYPTION_NOT_CONFIGURED
          - UNAVAILABLE_DELEGATES
          - WORKFLOW_EXECUTION_IN_PROGRESS
          - PIPELINE_EXECUTION_IN_PROGRESS
          - AWS_ACCESS_DENIED
          - AWS_CLUSTER_NOT_FOUND
          - AWS_SERVICE_NOT_FOUND
          - IMAGE_NOT_FOUND
          - ILLEGAL_ARGUMENT
          - IMAGE_TAG_NOT_FOUND
          - DELEGATE_NOT_AVAILABLE
          - INVALID_YAML_PAYLOAD
          - AUTHENTICATION_ERROR
          - AUTHORIZATION_ERROR
          - UNRECOGNIZED_YAML_FIELDS
          - COULD_NOT_MAP_BEFORE_YAML
          - MISSING_BEFORE_YAML
          - MISSING_YAML
          - NON_EMPTY_DELETIONS
          - GENERAL_YAML_ERROR
          - GENERAL_YAML_INFO
          - YAML_GIT_SYNC_ERROR
          - GIT_CONNECTION_ERROR
          - GIT_ERROR
          - ARTIFACT_SERVER_ERROR
          - ENCRYPT_DECRYPT_ERROR
          - SECRET_MANAGEMENT_ERROR
          - SECRET_NOT_FOUND
          - KMS_OPERATION_ERROR
          - GCP_KMS_OPERATION_ERROR
          - VAULT_OPERATION_ERROR
          - AWS_SECRETS_MANAGER_OPERATION_ERROR
          - AZURE_KEY_VAULT_OPERATION_ERROR
          - AZURE_KEY_VAULT_INTERRUPT_ERROR
          - UNSUPPORTED_OPERATION_EXCEPTION
          - FEATURE_UNAVAILABLE
          - GENERAL_ERROR
          - BASELINE_CONFIGURATION_ERROR
          - SAML_IDP_CONFIGURATION_NOT_AVAILABLE
          - INVALID_AUTHENTICATION_MECHANISM
          - INVALID_SAML_CONFIGURATION
          - INVALID_OAUTH_CONFIGURATION
          - INVALID_LDAP_CONFIGURATION
          - USER_GROUP_SYNC_FAILURE
          - USER_GROUP_ALREADY_EXIST
          - INVALID_TWO_FACTOR_AUTHENTICATION_CONFIGURATION
          - EXPLANATION
          - HINT
          - NOT_WHITELISTED_IP
          - INVALID_TOTP_TOKEN
          - EMAIL_FAILED
          - SSL_HANDSHAKE_FAILED
          - NO_APPS_ASSIGNED
          - INVALID_INFRA_CONFIGURATION
          - TEMPLATES_LINKED
          - USER_HAS_NO_PERMISSIONS
          - USER_NOT_AUTHORIZED
          - USER_ALREADY_PRESENT
          - EMAIL_ERROR
          - INVALID_USAGE_RESTRICTION
          - USAGE_RESTRICTION_ERROR
          - STATE_EXECUTION_INSTANCE_NOT_FOUND
          - DELEGATE_TASK_RETRY
          - KUBERNETES_API_TASK_EXCEPTION
          - KUBERNETES_TASK_EXCEPTION
          - KUBERNETES_YAML_ERROR
          - SAVE_FILE_INTO_AWS_STORAGE_FAILED
          - READ_FILE_FROM_AWS_STORAGE_FAILED
          - SAVE_FILE_INTO_GCP_STORAGE_FAILED
          - READ_FILE_FROM_GCP_STORAGE_FAILED
          - FILE_NOT_FOUND_ERROR
          - USAGE_LIMITS_EXCEEDED
          - EVENT_PUBLISH_FAILED
          - CUSTOM_APPROVAL_ERROR
          - JIRA_ERROR
          - EXPRESSION_EVALUATION_FAILED
          - KUBERNETES_VALUES_ERROR
          - KUBERNETES_CLUSTER_ERROR
          - INCORRECT_SIGN_IN_MECHANISM
          - OAUTH_LOGIN_FAILED
          - INVALID_TERRAFORM_TARGETS_REQUEST
          - TERRAFORM_EXECUTION_ERROR
          - FILE_READ_FAILED
          - FILE_SIZE_EXCEEDS_LIMIT
          - CLUSTER_NOT_FOUND
          - MARKETPLACE_TOKEN_NOT_FOUND
          - INVALID_MARKETPLACE_TOKEN
          - INVALID_TICKETING_SERVER
          - SERVICENOW_ERROR
          - PASSWORD_EXPIRED
          - USER_LOCKED
          - PASSWORD_STRENGTH_CHECK_FAILED
          - ACCOUNT_DISABLED
          - INVALID_ACCOUNT_PERMISSION
          - PAGERDUTY_ERROR
          - HEALTH_ERROR
          - SAML_TEST_SUCCESS_MECHANISM_NOT_ENABLED
          - DOMAIN_WHITELIST_FILTER_CHECK_FAILED
          - INVALID_DASHBOARD_UPDATE_REQUEST
          - DUPLICATE_FIELD
          - INVALID_AZURE_VAULT_CONFIGURATION
          - USER_NOT_AUTHORIZED_DUE_TO_USAGE_RESTRICTIONS
          - INVALID_ROLLBACK
          - DATA_COLLECTION_ERROR
          - SUMO_DATA_COLLECTION_ERROR
          - DEPLOYMENT_GOVERNANCE_ERROR
          - BATCH_PROCESSING_ERROR
          - GRAPHQL_ERROR
          - FILE_CREATE_ERROR
          - ILLEGAL_STATE
          - GIT_DIFF_COMMIT_NOT_IN_ORDER
          - FAILED_TO_ACQUIRE_PERSISTENT_LOCK
          - FAILED_TO_ACQUIRE_NON_PERSISTENT_LOCK
          - POD_NOT_FOUND_ERROR
          - COMMAND_EXECUTION_ERROR
          - REGISTRY_EXCEPTION
          - ENGINE_INTERRUPT_PROCESSING_EXCEPTION
          - ENGINE_IO_EXCEPTION
          - ENGINE_OUTCOME_EXCEPTION
          - ENGINE_SWEEPING_OUTPUT_EXCEPTION
          - CACHE_NOT_FOUND_EXCEPTION
          - ENGINE_ENTITY_UPDATE_EXCEPTION
          - SHELL_EXECUTION_EXCEPTION
          - TEMPLATE_NOT_FOUND
          - AZURE_SERVICE_EXCEPTION
          - AZURE_CLIENT_EXCEPTION
          - GIT_UNSEEN_REMOTE_HEAD_COMMIT
          - TIMEOUT_ENGINE_EXCEPTION
          - NO_AVAILABLE_DELEGATES
          - NO_GLOBAL_DELEGATE_ACCOUNT
          - NO_INSTALLED_DELEGATES
          - DUPLICATE_DELEGATE_EXCEPTION
          - GCP_MARKETPLACE_EXCEPTION
          - MISSING_DEFAULT_GOOGLE_CREDENTIALS
          - INCORRECT_DEFAULT_GOOGLE_CREDENTIALS
          - OPTIMISTIC_LOCKING_EXCEPTION
          - NG_PIPELINE_EXECUTION_EXCEPTION
          - NG_PIPELINE_CREATE_EXCEPTION
          - RESOURCE_NOT_FOUND_EXCEPTION
          - PMS_INITIALIZE_SDK_EXCEPTION
          - UNEXPECTED_SNIPPET_EXCEPTION
          - UNEXPECTED_SCHEMA_EXCEPTION
          - CONNECTOR_VALIDATION_EXCEPTION
          - TIMESCALE_NOT_AVAILABLE
          - MIGRATION_EXCEPTION
          - REQUEST_PROCESSING_INTERRUPTED
          - SECRET_MANAGER_ID_NOT_FOUND
          - GCP_SECRET_MANAGER_OPERATION_ERROR
          - GCP_SECRET_OPERATION_ERROR
          - GIT_OPERATION_ERROR
          - TASK_FAILURE_ERROR
          - INSTANCE_STATS_PROCESS_ERROR
          - INSTANCE_STATS_MIGRATION_ERROR
          - DEPLOYMENT_MIGRATION_ERROR
          - CG_LICENSE_USAGE_ERROR
          - INSTANCE_STATS_AGGREGATION_ERROR
          - UNRESOLVED_EXPRESSIONS_ERROR
          - KRYO_HANDLER_NOT_FOUND_ERROR
          - DELEGATE_ERROR_HANDLER_EXCEPTION
          - DELEGATE_SERVICE_DRIVER_EXCEPTION
          - DELEGATE_INSTALLATION_COMMAND_NOT_SUPPORTED_EXCEPTION
          - UNEXPECTED_TYPE_ERROR
          - EXCEPTION_HANDLER_NOT_FOUND
          - CONNECTOR_NOT_FOUND_EXCEPTION
          - GCP_SERVER_ERROR
          - HTTP_RESPONSE_EXCEPTION
          - SCM_NOT_FOUND_ERROR
          - SCM_CONFLICT_ERROR
          - SCM_CONFLICT_ERROR_V2
          - SCM_UNPROCESSABLE_ENTITY
          - PROCESS_EXECUTION_EXCEPTION
          - SCM_UNAUTHORIZED
          - SCM_BAD_REQUEST
          - SCM_INTERNAL_SERVER_ERROR
          - DATA
          - CONTEXT
          - PR_CREATION_ERROR
          - URL_NOT_REACHABLE
          - URL_NOT_PROVIDED
          - ENGINE_EXPRESSION_EVALUATION_ERROR
          - ENGINE_FUNCTOR_ERROR
          - JIRA_CLIENT_ERROR
          - SCM_NOT_MODIFIED
          - APPROVAL_STEP_NG_ERROR
          - BUCKET_SERVER_ERROR
          - GIT_SYNC_ERROR
          - TEMPLATE_EXCEPTION
          - TEMPLATE_ALREADY_EXISTS_EXCEPTION
          - ENTITY_REFERENCE_EXCEPTION
          - ACTIVE_SERVICE_INSTANCES_PRESENT_EXCEPTION
          - INVALID_INPUT_SET
          - INVALID_OVERLAY_INPUT_SET
          - RESOURCE_ALREADY_EXISTS
          - INVALID_JSON_PAYLOAD
          - POLICY_EVALUATION_FAILURE
          - POLICY_SET_ERROR
          - INVALID_ARTIFACTORY_REGISTRY_REQUEST
          - INVALID_NEXUS_REGISTRY_REQUEST
          - ENTITY_NOT_FOUND
          - GITX_OAUTH_NOT_SET
          - INVALID_AZURE_CONTAINER_REGISTRY_REQUEST
          - AZURE_AUTHENTICATION_ERROR
          - AZURE_CONFIG_ERROR
          - DATA_PROCESSING_ERROR
          - INVALID_AZURE_AKS_REQUEST
          - AWS_IAM_ERROR
          - AWS_CF_ERROR
          - AWS_INSTANCE_ERROR
          - AWS_VPC_ERROR
          - AWS_TAG_ERROR
          - AWS_ASG_ERROR
          - AWS_LOAD_BALANCER_ERROR
          - SCM_INTERNAL_SERVER_ERROR_V2
          - SCM_FAILED_DEPENDENCY_ERROR
          - SCM_UNAUTHORIZED_ERROR_V2
          - TOO_MANY_REQUESTS
          - SCM_RATE_LIMIT_ERROR
          - INVALID_IDENTIFIER_REF
          - SPOTINST_NULL_ERROR
          - SPOTNIST_REST_EXCEPTION
          - SCM_UNEXPECTED_ERROR
          - DUPLICATE_FILE_IMPORT
          - AZURE_APP_SERVICES_TASK_EXCEPTION
          - AZURE_ARM_TASK_EXCEPTION
          - AZURE_BP_TASK_EXCEPTION
          - MEDIA_NOT_SUPPORTED
          - AWS_ECS_ERROR
          - AWS_APPLICATION_AUTO_SCALING
          - AWS_ECS_SERVICE_NOT_ACTIVE
          - AWS_ECS_CLIENT_ERROR
          - AWS_STS_ERROR
          - FREEZE_EXCEPTION
          - MISSING_EXCEPTION
          - DELEGATE_TASK_EXPIRED
          - DELEGATE_TASK_VALIDATION_FAILED
          - MONGO_EXECUTION_TIMEOUT_EXCEPTION
          - DELEGATE_NOT_REGISTERED
          - TERRAFORM_VAULT_SECRET_CLEANUP_FAILURE
          - APPROVAL_REJECTION
          - TERRAGRUNT_EXECUTION_ERROR
          - ADFS_ERROR
          - TERRAFORM_CLOUD_ERROR
          - CLUSTER_CREDENTIALS_NOT_FOUND
          - SCM_API_ERROR
          - INTERNAL_SERVER_ERROR
          - SCM_FORBIDDEN
          - AWS_EKS_ERROR
          - OPA_POLICY_EVALUATION_ERROR
          - USER_MARKED_FAILURE
          - SSH_RETRY
          - HTTP_CLIENT_ERROR_RESPONSE
          - HTTP_INTERNAL_SERVER_ERROR
          - HTTP_BAD_GATEWAY
          - HTTP_SERVICE_UNAVAILABLE
          - HTTP_GATEWAY_TIMEOUT
          - HTTP_SERVER_ERROR_RESPONSE
          - PIPELINE_UPDATE_EXCEPTION
          - SERVICENOW_REFRESH_TOKEN_ERROR
          - PARAMETER_FIELD_CAST_ERROR
          - ABORT_ALL_ALREADY_NG
          - WEBHOOK_EXCEPTION
          - INVALID_OIDC_CONFIGURATION
          - INVALID_CREDENTIALS
          - INVALID_OR_PRIVATE_REPO
          - BARRIER_FAILED_ERROR
          - ELASTICSEARCH_NOT_AVAILABLE
          - OBJECT_STORE_NOT_AVAILABLE
          - NO_ELIGIBLE_RUNNERS
          - NO_AVAILABLE_RUNNERS
          - RUNNER_DISCONNECTED
          - EVENT_LISTENER_STEP_FAILURE
          - TRANSACTION_ABORTED
          - UNRESOLVED_EXPRESSIONS_WITH_CONTEXT_ERROR
        message:
          type: string
        correlationId:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
      description: This is Failure entity as defied in Harness
    NotificationRuleCondition:
      required:
      - spec
      type: object
      properties:
        type:
          type: string
          enum:
          - ErrorBudgetRemainingPercentage
          - ErrorBudgetRemainingMinutes
          - SLIValue
          - ErrorBudgetBurnRate
          - ChangeImpact
          - HealthScore
          - ChangeObserved
          - CodeErrors
          - FireHydrantReport
          - DeploymentImpactReport
        spec:
          $ref: '#/components/schemas/NotificationRuleConditionSpec'
    ResponseDTOMonitoredServiceResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/MonitoredServiceResponse'
        metaData:
          type: object
        correlationId:
          type: string
    NotificationRuleConditionSpec:
      type: object
    CvErrorMetadata:
      type: object
      properties:
        type:
          type: string
      description: This implements different error meta data objects
      discriminator:
        propertyName: type
    ServiceDependencyDTO:
      type: object
      properties:
        monitoredServiceIdentifier:
          type: string
        type:
          type: string
          enum:
          - KUBERNETES
        dependencyMetadata:
          $ref: '#/components/schemas/ServiceDependencyMetadata'
    QueryDefinitionsDTO:
      required:
      - type
      type: object
      properties:
        type:
          type: string
      description: Query definitions specification
      discriminator:
        propertyName: type
    ServiceDependencyMetadata:
      type: object
      properties:
        type:
          type: string
          enum:
          - KUBERNETES
        supportedChangeSourceTypes:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - HarnessCDNextGen
            - PagerDuty
            - K8sCluster
            - HarnessCD
            - HarnessFF
            - HarnessCE
            - CustomDeploy
            - CustomIncident
            - CustomInfrastructure
            - CustomFF
    RestResponseBoolean:
      type: object
      properties:
        metaData:
          type: object
          additionalProperties:
            type: object
        resource:
          type: boolean
        responseMessages:
          type: array
          items:
            $ref: '#/components/schemas/ResponseMessage'
    PageResponseNotificationRuleResponse:
      type: object
      properties:
        totalPages:
          type: integer
          format: int64
        totalItems:
          type: integer
          format: int64
        pageItemCount:
          type: integer
          format: int64
        pageSize:
          type: integer
          format: int64
        content:
          type: array
          items:
            $ref: '#/components/schemas/NotificationRuleResponse'
        pageIndex:
          type: integer
          format: int64
        empty:
          type: boolean
        pageToken:
          type: string
    HealthSource:
      required:
      - connectorRef
      - dataSourceType
      - identifier
      - name
      - queryDefinitions
      type: object
      properties:
        identifier:
          type: string
          description: Identifier of the Health Source
        name:
          type: string
          description: Name of the Health Source
        connectorRef:
          type: string
          description: Connector reference for the data source
        mcpRef:
          type: string
          description: MCP reference for AI/ML capabilities
        dataSourceType:
          type: string
          description: Type of data source
          enum:
          - DatadogMetrics
          - DynatraceGrailLogs
          - DynatraceGrailMetrics
          - PrometheusMetrics
        queryDefinitions:
          $ref: '#/components/schemas/QueryDefinitionsWrapper'
        healthSourceParams:
          type: object
          additionalProperties:
            type: string
            description: Additional parameters for the health source
          description: Additional parameters for the health source
        variables:
          type: array
          description: Variables that can be substituted into queries using <+healthSourceVariables.name>
          items:
            $ref: '#/components/schemas/CvNGVariable'
      description: This contains details of the Health Source configuration
    ResponseDTOString:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          type: string
        metaData:
          type: object
        correlationId:
          type: string
    ChangeSourceDTO:
      required:
      - identifier
      - name
      - spec
      type: object
      properties:
        name:
          type: string
        identifier:
          type: string
        type:
          type: string
          enum:
          - HarnessCDNextGen
          - PagerDuty
          - K8sCluster
          - HarnessCD
          - HarnessFF
          - HarnessCE
          - CustomDeploy
          - CustomIncident
          - CustomInfrastructure
          - CustomFF
        enabled:
          type: boolean
        spec:
          $ref: '#/components/schemas/ChangeSourceSpec'
        category:
          type: string
          enum:
          - Deployment
          - Infrastructure
          - Alert
          - FeatureFlag
          - ChaosExperiment
    MonitoredServiceReference:
      type: object
      properties:
        orgIdentifier:
          type: string
        projectIdentifier:
          type: string
        accountIdentifier:
          type: string
        identifier:
          type: string
        serviceIdentifier:
          type: string
        environmentIdentifiers:
          type: array
          items:
            type: string
        lastReconciledTimestamp:
          type: integer
          format: int64
        reconciliationStatus:
          type: string
          enum:
          - NO_RECONCILIATION_REQUIRED
          - INPUT_REQUIRED_FOR_RECONCILIATION
          - NO_INPUT_REQUIRED_FOR_RECONCILIATION
    CvError:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        code:
          type: string
          enum:
          - DEFAULT_ERROR_CODE
          - INVALID_ARGUMENT
          - INVALID_EMAIL
          - DOMAIN_NOT_ALLOWED_TO_REGISTER
          - COMMNITY_EDITION_NOT_FOUND
          - DEPLOY_MODE_IS_NOT_ON_PREM
          - USER_ALREADY_REGISTERED
          - USER_INVITATION_DOES_NOT_EXIST
          - USER_DOES_NOT_EXIST
          - USER_INVITE_OPERATION_FAILED
          - USER_DISABLED
          - ACCOUNT_DOES_NOT_EXIST
          - INACTIVE_ACCOUNT
          - ACCOUNT_MIGRATED
          - ACCOUNT_MIGRATED_TO_NEXT_GEN
          - USER_DOMAIN_NOT_ALLOWED
          - MAX_FAILED_ATTEMPT_COUNT_EXCEEDED
          - RESOURCE_NOT_FOUND
          - INVALID_FORMAT
          - ROLE_DOES_NOT_EXIST
          - EMAIL_NOT_VERIFIED
          - EMAIL_VERIFICATION_TOKEN_NOT_FOUND
          - INVALID_TOKEN
          - REVOKED_TOKEN
          - INVALID_CAPTCHA_TOKEN
          - NOT_ACCOUNT_MGR_NOR_HAS_ALL_APP_ACCESS
          - EXPIRED_TOKEN
          - INVALID_AGENT_MTLS_AUTHORITY
          - TOKEN_ALREADY_REFRESHED_ONCE
          - ACCESS_DENIED
          - NG_ACCESS_DENIED
          - INVALID_CREDENTIAL
          - INVALID_CREDENTIALS_THIRD_PARTY
          - INVALID_KEY
          - INVALID_CONNECTOR_TYPE
          - INVALID_KEYPATH
          - INVALID_VARIABLE
          - UNKNOWN_HOST
          - UNREACHABLE_HOST
          - INVALID_PORT
          - SSH_SESSION_TIMEOUT
          - ALGORITHM_NEGOTIATION_ERROR
          - SOCKET_CONNECTION_ERROR
          - CONNECTION_ERROR
          - COULD_NOT_PROCESS_ERROR
          - SOCKET_CONNECTION_TIMEOUT
          - WINRM_COMMAND_EXECUTION_TIMEOUT
          - CONNECTION_TIMEOUT
          - SSH_CONNECTION_ERROR
          - USER_GROUP_ERROR
          - INVALID_EXECUTION_ID
          - ERROR_IN_GETTING_CHANNEL_STREAMS
          - UNEXPECTED
          - UNKNOWN_ERROR
          - UNKNOWN_EXECUTOR_TYPE_ERROR
          - DUPLICATE_STATE_NAMES
          - TRANSITION_NOT_LINKED
          - TRANSITION_TO_INCORRECT_STATE
          - TRANSITION_TYPE_NULL
          - STATES_WITH_DUP_TRANSITIONS
          - BARRIERS_NOT_RUNNING_CONCURRENTLY
          - NON_FORK_STATES
          - NON_REPEAT_STATES
          - INITIAL_STATE_NOT_DEFINED
          - FILE_INTEGRITY_CHECK_FAILED
          - INVALID_URL
          - FILE_DOWNLOAD_FAILED
          - PLATFORM_SOFTWARE_DELETE_ERROR
          - INVALID_CSV_FILE
          - INVALID_REQUEST
          - SCHEMA_VALIDATION_FAILED
          - FILTER_CREATION_ERROR
          - INVALID_YAML_ERROR
          - PLAN_CREATION_ERROR
          - INVALID_INFRA_STATE
          - PIPELINE_ALREADY_TRIGGERED
          - NON_EXISTING_PIPELINE
          - DUPLICATE_COMMAND_NAMES
          - INVALID_PIPELINE
          - COMMAND_DOES_NOT_EXIST
          - DUPLICATE_ARTIFACTSTREAM_NAMES
          - DUPLICATE_HOST_NAMES
          - STATE_NOT_FOR_TYPE
          - STATE_MACHINE_ISSUE
          - STATE_DISCONTINUE_FAILED
          - STATE_PAUSE_FAILED
          - PAUSE_ALL_ALREADY
          - RESUME_ALL_ALREADY
          - ROLLBACK_ALREADY
          - ABORT_ALL_ALREADY
          - EXPIRE_ALL_ALREADY
          - RETRY_FAILED
          - UNKNOWN_ARTIFACT_TYPE
          - UNKNOWN_STAGE_ELEMENT_WRAPPER_TYPE
          - INIT_TIMEOUT
          - LICENSE_EXPIRED
          - NOT_LICENSED
          - REQUEST_TIMEOUT
          - SCM_REQUEST_TIMEOUT
          - WORKFLOW_ALREADY_TRIGGERED
          - JENKINS_ERROR
          - INVALID_ARTIFACT_SOURCE
          - INVALID_ARTIFACT_SERVER
          - INVALID_CLOUD_PROVIDER
          - UPDATE_NOT_ALLOWED
          - DELETE_NOT_ALLOWED
          - APPDYNAMICS_CONFIGURATION_ERROR
          - APM_CONFIGURATION_ERROR
          - SPLUNK_CONFIGURATION_ERROR
          - ELK_CONFIGURATION_ERROR
          - LOGZ_CONFIGURATION_ERROR
          - SUMO_CONFIGURATION_ERROR
          - INSTANA_CONFIGURATION_ERROR
          - APPDYNAMICS_ERROR
          - STACKDRIVER_ERROR
          - STACKDRIVER_CONFIGURATION_ERROR
          - NEWRELIC_CONFIGURATION_ERROR
          - NEWRELIC_ERROR
          - DYNA_TRACE_CONFIGURATION_ERROR
          - DYNA_TRACE_ERROR
          - CLOUDWATCH_ERROR
          - CLOUDWATCH_CONFIGURATION_ERROR
          - PROMETHEUS_CONFIGURATION_ERROR
          - DATA_DOG_CONFIGURATION_ERROR
          - SERVICE_GUARD_CONFIGURATION_ERROR
          - ENCRYPTION_NOT_CONFIGURED
          - UNAVAILABLE_DELEGATES
          - WORKFLOW_EXECUTION_IN_PROGRESS
          - PIPELINE_EXECUTION_IN_PROGRESS
          - AWS_ACCESS_DENIED
          - AWS_CLUSTER_NOT_FOUND
          - AWS_SERVICE_NOT_FOUND
          - IMAGE_NOT_FOUND
          - ILLEGAL_ARGUMENT
          - IMAGE_TAG_NOT_FOUND
          - DELEGATE_NOT_AVAILABLE
          - INVALID_YAML_PAYLOAD
          - AUTHENTICATION_ERROR
          - AUTHORIZATION_ERROR
          - UNRECOGNIZED_YAML_FIELDS
          - COULD_NOT_MAP_BEFORE_YAML
          - MISSING_BEFORE_YAML
          - MISSING_YAML
          - NON_EMPTY_DELETIONS
          - GENERAL_YAML_ERROR
          - GENERAL_YAML_INFO
          - YAML_GIT_SYNC_ERROR
          - GIT_CONNECTION_ERROR
          - GIT_ERROR
          - ARTIFACT_SERVER_ERROR
          - ENCRYPT_DECRYPT_ERROR
          - SECRET_MANAGEMENT_ERROR
          - SECRET_NOT_FOUND
          - KMS_OPERATION_ERROR
          - GCP_KMS_OPERATION_ERROR
          - VAULT_OPERATION_ERROR
          - AWS_SECRETS_MANAGER_OPERATION_ERROR
          - AZURE_KEY_VAULT_OPERATION_ERROR
          - AZURE_KEY_VAULT_INTERRUPT_ERROR
          - UNSUPPORTED_OPERATION_EXCEPTION
          - FEATURE_UNAVAILABLE
          - GENERAL_ERROR
          - BASELINE_CONFIGURATION_ERROR
          - SAML_IDP_CONFIGURATION_NOT_AVAILABLE
          - INVALID_AUTHENTICATION_MECHANISM
          - INVALID_SAML_CONFIGURATION
          - INVALID_OAUTH_CONFIGURATION
          - INVALID_LDAP_CONFIGURATION
          - USER_GROUP_SYNC_FAILURE
          - USER_GROUP_ALREADY_EXIST
          - INVALID_TWO_FACTOR_AUTHENTICATION_CONFIGURATION
          - EXPLANATION
          - HINT
          - NOT_WHITELISTED_IP
          - INVALID_TOTP_TOKEN
          - EMAIL_FAILED
          - SSL_HANDSHAKE_FAILED
          - NO_APPS_ASSIGNED
          - INVALID_INFRA_CONFIGURATION
          - TEMPLATES_LINKED
          - USER_HAS_NO_PERMISSIONS
          - USER_NOT_AUTHORIZED
          - USER_ALREADY_PRESENT
          - EMAIL_ERROR
          - INVALID_USAGE_RESTRICTION
          - USAGE_RESTRICTION_ERROR
          - STATE_EXECUTION_INSTANCE_NOT_FOUND
          - DELEGATE_TASK_RETRY
          - KUBERNETES_API_TASK_EXCEPTION
          - KUBERNETES_TASK_EXCEPTION
          - KUBERNETES_YAML_ERROR
          - SAVE_FILE_INTO_AWS_STORAGE_FAILED
          - READ_FILE_FROM_AWS_STORAGE_FAILED
          - SAVE_FILE_INTO_GCP_STORAGE_FAILED
          - READ_FILE_FROM_GCP_STORAGE_FAILED
          - FILE_NOT_FOUND_ERROR
          - USAGE_LIMITS_EXCEEDED
          - EVENT_PUBLISH_FAILED
          - CUSTOM_APPROVAL_ERROR
          - JIRA_ERROR
          - EXPRESSION_EVALUATION_FAILED
          - KUBERNETES_VALUES_ERROR
          - KUBERNETES_CLUSTER_ERROR
          - INCORRECT_SIGN_IN_MECHANISM
          - OAUTH_LOGIN_FAILED
          - INVALID_TERRAFORM_TARGETS_REQUEST
          - TERRAFORM_EXECUTION_ERROR
          - FILE_READ_FAILED
          - FILE_SIZE_EXCEEDS_LIMIT
          - CLUSTER_NOT_FOUND
          - MARKETPLACE_TOKEN_NOT_FOUND
          - INVALID_MARKETPLACE_TOKEN
          - INVALID_TICKETING_SERVER
          - SERVICENOW_ERROR
          - PASSWORD_EXPIRED
          - USER_LOCKED
          - PASSWORD_STRENGTH_CHECK_FAILED
          - ACCOUNT_DISABLED
          - INVALID_ACCOUNT_PERMISSION
          - PAGERDUTY_ERROR
          - HEALTH_ERROR
          - SAML_TEST_SUCCESS_MECHANISM_NOT_ENABLED
          - DOMAIN_WHITELIST_FILTER_CHECK_FAILED
          - INVALID_DASHBOARD_UPDATE_REQUEST
          - DUPLICATE_FIELD
          - INVALID_AZURE_VAULT_CONFIGURATION
          - USER_NOT_AUTHORIZED_DUE_TO_USAGE_RESTRICTIONS
          - INVALID_ROLLBACK
          - DATA_COLLECTION_ERROR
          - SUMO_DATA_COLLECTION_ERROR
          - DEPLOYMENT_GOVERNANCE_ERROR
          - BATCH_PROCESSING_ERROR
          - GRAPHQL_ERROR
          - FILE_CREATE_ERROR
          - ILLEGAL_STATE
          - GIT_DIFF_COMMIT_NOT_IN_ORDER
          - FAILED_TO_ACQUIRE_PERSISTENT_LOCK
          - FAILED_TO_ACQUIRE_NON_PERSISTENT_LOCK
          - POD_NOT_FOUND_ERROR
          - COMMAND_EXECUTION_ERROR
          - REGISTRY_EXCEPTION
          - ENGINE_INTERRUPT_PROCESSING_EXCEPTION
          - ENGINE_IO_EXCEPTION
          - ENGINE_OUTCOME_EXCEPTION
          - ENGINE_SWEEPING_OUTPUT_EXCEPTION
          - CACHE_NOT_FOUND_EXCEPTION
          - ENGINE_ENTITY_UPDATE_EXCEPTION
          - SHELL_EXECUTION_EXCEPTION
          - TEMPLATE_NOT_FOUND
          - AZURE_SERVICE_EXCEPTION
          - AZURE_CLIENT_EXCEPTION
          - GIT_UNSEEN_REMOTE_HEAD_COMMIT
          - TIMEOUT_ENGINE_EXCEPTION
          - NO_AVAILABLE_DELEGATES
          - NO_GLOBAL_DELEGATE_ACCOUNT
          - NO_INSTALLED_DELEGATES
          - DUPLICATE_DELEGATE_EXCEPTION
          - GCP_MARKETPLACE_EXCEPTION
          - MISSING_DEFAULT_GOOGLE_CREDENTIALS
          - INCORRECT_DEFAULT_GOOGLE_CREDENTIALS
          - OPTIMISTIC_LOCKING_EXCEPTION
          - NG_PIPELINE_EXECUTION_EXCEPTION
          - NG_PIPELINE_CREATE_EXCEPTION
          - RESOURCE_NOT_FOUND_EXCEPTION
          - PMS_INITIALIZE_SDK_EXCEPTION
          - UNEXPECTED_SNIPPET_EXCEPTION
          - UNEXPECTED_SCHEMA_EXCEPTION
          - CONNECTOR_VALIDATION_EXCEPTION
          - TIMESCALE_NOT_AVAILABLE
          - MIGRATION_EXCEPTION
          - REQUEST_PROCESSING_INTERRUPTED
          - SECRET_MANAGER_ID_NOT_FOUND
          - GCP_SECRET_MANAGER_OPERATION_ERROR
          - GCP_SECRET_OPERATION_ERROR
          - GIT_OPERATION_ERROR
          - TASK_FAILURE_ERROR
          - INSTANCE_STATS_PROCESS_ERROR
          - INSTANCE_STATS_MIGRATION_ERROR
          - DEPLOYMENT_MIGRATION_ERROR
          - CG_LICENSE_USAGE_ERROR
          - INSTANCE_STATS_AGGREGATION_ERROR
          - UNRESOLVED_EXPRESSIONS_ERROR
          - KRYO_HANDLER_NOT_FOUND_ERROR
          - DELEGATE_ERROR_HANDLER_EXCEPTION
          - DELEGATE_SERVICE_DRIVER_EXCEPTION
          - DELEGATE_INSTALLATION_COMMAND_NOT_SUPPORTED_EXCEPTION
          - UNEXPECTED_TYPE_ERROR
          - EXCEPTION_HANDLER_NOT_FOUND
          - CONNECTOR_NOT_FOUND_EXCEPTION
          - GCP_SERVER_ERROR
          - HTTP_RESPONSE_EXCEPTION
          - SCM_NOT_FOUND_ERROR
          - SCM_CONFLICT_ERROR
          - SCM_CONFLICT_ERROR_V2
          - SCM_UNPROCESSABLE_ENTITY
          - PROCESS_EXECUTION_EXCEPTION
          - SCM_UNAUTHORIZED
          - SCM_BAD_REQUEST
          - SCM_INTERNAL_SERVER_ERROR
          - DATA
          - CONTEXT
          - PR_CREATION_ERROR
          - URL_NOT_REACHABLE
          - URL_NOT_PROVIDED
          - ENGINE_EXPRESSION_EVALUATION_ERROR
          - ENGINE_FUNCTOR_ERROR
          - JIRA_CLIENT_ERROR
          - SCM_NOT_MODIFIED
          - APPROVAL_STEP_NG_ERROR
          - BUCKET_SERVER_ERROR
          - GIT_SYNC_ERROR
          - TEMPLATE_EXCEPTION
          - TEMPLATE_ALREADY_EXISTS_EXCEPTION
          - ENTITY_REFERENCE_EXCEPTION
          - ACTIVE_SERVICE_INSTANCES_PRESENT_EXCEPTION
          - INVALID_INPUT_SET
          - INVALID_OVERLAY_INPUT_SET
          - RESOURCE_ALREADY_EXISTS
          - INVALID_JSON_PAYLOAD
          - POLICY_EVALUATION_FAILURE
          - POLICY_SET_ERROR
          - INVALID_ARTIFACTORY_REGISTRY_REQUEST
          - INVALID_NEXUS_REGISTRY_REQUEST
          - ENTITY_NOT_FOUND
          - GITX_OAUTH_NOT_SET
          - INVALID_AZURE_CONTAINER_REGISTRY_REQUEST
          - AZURE_AUTHENTICATION_ERROR
          - AZURE_CONFIG_ERROR
          - DATA_PROCESSING_ERROR
          - INVALID_AZURE_AKS_REQUEST
          - AWS_IAM_ERROR
          - AWS_CF_ERROR
          - AWS_INSTANCE_ERROR
          - AWS_VPC_ERROR
          - AWS_TAG_ERROR
          - AWS_ASG_ERROR
          - AWS_LOAD_BALANCER_ERROR
          - SCM_INTERNAL_SERVER_ERROR_V2
          - SCM_FAILED_DEPENDENCY_ERROR
          - SCM_UNAUTHORIZED_ERROR_V2
          - TOO_MANY_REQUESTS
          - SCM_RATE_LIMIT_ERROR
          - INVALID_IDENTIFIER_REF
          - SPOTINST_NULL_ERROR
          - SPOTNIST_REST_EXCEPTION
          - SCM_UNEXPECTED_ERROR
          - DUPLICATE_FILE_IMPORT
          - AZURE_APP_SERVICES_TASK_EXCEPTION
          - AZURE_ARM_TASK_EXCEPTION
          - AZURE_BP_TASK_EXCEPTION
          - MEDIA_NOT_SUPPORTED
          - AWS_ECS_ERROR
          - AWS_APPLICATION_AUTO_SCALING
          - AWS_ECS_SERVICE_NOT_ACTIVE
          - AWS_ECS_CLIENT_ERROR
          - AWS_STS_ERROR
          - FREEZE_EXCEPTION
          - MISSING_EXCEPTION
          - DELEGATE_TASK_EXPIRED
          - DELEGATE_TASK_VALIDATION_FAILED
          - MONGO_EXECUTION_TIMEOUT_EXCEPTION
          - DELEGATE_NOT_REGISTERED
          - TERRAFORM_VAULT_SECRET_CLEANUP_FAILURE
          - APPROVAL_REJECTION
          - TERRAGRUNT_EXECUTION_ERROR
          - ADFS_ERROR
          - TERRAFORM_CLOUD_ERROR
          - CLUSTER_CREDENTIALS_NOT_FOUND
          - SCM_API_ERROR
          - INTERNAL_SERVER_ERROR
          - SCM_FORBIDDEN
          - AWS_EKS_ERROR
          - OPA_POLICY_EVALUATION_ERROR
          - USER_MARKED_FAILURE
          - SSH_RETRY
          - HTTP_CLIENT_ERROR_RESPONSE
          - HTTP_INTERNAL_SERVER_ERROR
          - HTTP_BAD_GATEWAY
          - HTTP_SERVICE_UNAVAILABLE
          - HTTP_GATEWAY_TIMEOUT
          - HTTP_SERVER_ERROR_RESPONSE
          - PIPELINE_UPDATE_EXCEPTION
          - SERVICENOW_REFRESH_TOKEN_ERROR
          - PARAMETER_FIELD_CAST_ERROR
          - ABORT_ALL_ALREADY_NG
          - WEBHOOK_EXCEPTION
          - INVALID_OIDC_CONFIGURATION
          - INVALID_CREDENTIALS
          - INVALID_OR_PRIVATE_REPO
          - BARRIER_FAILED_ERROR
          - ELASTICSEARCH_NOT_AVAILABLE
          - OBJECT_STORE_NOT_AVAILABLE
          - NO_ELIGIBLE_RUNNERS
          - NO_AVAILABLE_RUNNERS
          - RUNNER_DISCONNECTED
          - EVENT_LISTENER_STEP_FAILURE
          - TRANSACTION_ABORTED
          - UNRESOLVED_EXPRESSIONS_WITH_CONTEXT_ERROR
        message:
          type: string
        correlationId:
          type: string
        detailedMessage:
          type: string
        responseMessages:
          type: array
          items:
            $ref: '#/components/schemas/ResponseMessage'
        metadata:
          $ref: '#/components/schemas/CvErrorMetadata'
      description: This is Error entity as defined in Harness
    ValidationError:
      type: object
      properties:
        fieldId:
          type: string
        error:
          type: string
    ResponseMessage:
      type: object
      properties:
        code:
          type: string
          enum:
          - DEFAULT_ERROR_CODE
          - INVALID_ARGUMENT
          - INVALID_EMAIL
          - DOMAIN_NOT_ALLOWED_TO_REGISTER
          - COMMNITY_EDITION_NOT_FOUND
[...]
