openapi: 3.2.0
info:
  title: Harness Database Instance API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- description: This contains APIs for performing CRUD operations on Database Instance Entity
  name: Database Instance
  x-displayName: Database Instance
paths:
  /v1/orgs/{org}/projects/{project}/dbschema/{dbschema}/default-authoring-instance:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/DBSchemaParam'
    - $ref: '#/components/parameters/DbOpsAccountHeader'
    get:
      description: Returns the best instance for LLM change authoring. Selects the oldest instance with a metadata snapshot; falls back to the oldest instance overall if none have a snapshot.
      operationId: V1GetDefaultAuthoringInstance
      responses:
        '200':
          $ref: '#/components/responses/DefaultAuthoringInstanceResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Get default authoring instance
      tags:
      - Database Instance
      x-internal: true
      x-stoplight:
        id: default-authoring-instance
  /v1/orgs/{org}/projects/{project}/dbschema/{dbschema}/instance:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/DBSchemaParam'
    - $ref: '#/components/parameters/DbOpsAccountHeader'
    post:
      operationId: V1CreateProjDbSchemaInstance
      requestBody:
        $ref: '#/components/requestBodies/DBInstanceCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/DBInstanceResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Create a database instance
      tags:
      - Database Instance
      x-stoplight:
        id: ooxjel6o3ya8y
  /v1/orgs/{org}/projects/{project}/dbschema/{dbschema}/instance/{dbinstance}:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/DBSchemaParam'
    - $ref: '#/components/parameters/DBInstanceParam'
    - $ref: '#/components/parameters/DbOpsAccountHeader'
    delete:
      operationId: V1DeleteProjDbSchemaInstance
      responses:
        '204':
          description: The database instance was deleted successfully
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Delete a database instance
      tags:
      - Database Instance
      x-stoplight:
        id: hx4uvpfwg2w2c
    get:
      description: Retrieves the specified database instance
      operationId: V1GetProjDbSchemaInstance
      responses:
        '200':
          $ref: '#/components/responses/DBInstanceResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Get a database instance
      tags:
      - Database Instance
      x-stoplight:
        id: tcua2vmx132hm
  /v1/orgs/{org}/projects/{project}/dbschema/{dbschema}/instancelist:
    parameters:
    - description: Organization identifier
      in: path
      name: org
      required: true
      schema:
        type: string
    - description: Project identifier
      in: path
      name: project
      required: true
      schema:
        type: string
    - description: Identifier of the database schema
      in: path
      name: dbschema
      required: true
      schema:
        maxLength: 128
        type: string
    - description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
      in: header
      name: Harness-Account
      schema:
        type: string
    post:
      description: Retrieves the specified database instances of the database schema
      operationId: V1ListProjDbSchemaInstance
      parameters:
      - $ref: '#/components/parameters/DbOpsPageIndex'
      - $ref: '#/components/parameters/DbOpsLimit'
      - $ref: '#/components/parameters/DbOpsSearchTerm'
      - $ref: '#/components/parameters/DbOpsSort'
      - $ref: '#/components/parameters/DbOpsOrder'
      requestBody:
        $ref: '#/components/requestBodies/DBInstanceFilterRequest'
      responses:
        '200':
          $ref: '#/components/responses/DBInstanceListResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: List database instances
      tags:
      - Database Instance
      x-stoplight:
        id: uwxyv5tgwu2w9
components:
  parameters:
    DbOpsPageIndex:
      description: 'Pagination page number strategy: Specify the page number within the paginated collection related to the number of items on each page.'
      in: query
      name: page
      schema:
        default: 0
        format: int64
        type: integer
    DBSchemaParam:
      description: Identifier of the database schema
      in: path
      name: dbschema
      required: true
      schema:
        maxLength: 128
        type: string
    DbOpsLimit:
      description: 'Pagination: Number of items to return.'
      in: query
      name: limit
      schema:
        default: 10
        maximum: 100
        type: integer
    OrgParam:
      description: Organization identifier
      in: path
      name: org
      required: true
      schema:
        type: string
    DbOpsSearchTerm:
      allowEmptyValue: true
      description: This would be used to filter resources having attributes matching the search term.
      in: query
      name: search_term
      schema:
        type: string
    DBInstanceParam:
      description: database instance unique id
      in: path
      name: dbinstance
      required: true
      schema:
        type: string
    DbOpsOrder:
      description: Order on the basis of which sorting is done.
      in: query
      name: order
      schema:
        default: DESC
        enum:
        - ASC
        - DESC
        type: string
    ProjectParam:
      description: Project identifier
      in: path
      name: project
      required: true
      schema:
        type: string
    DbOpsSort:
      description: Parameter on the basis of which sorting is done.
      in: query
      name: sort
      schema:
        default: created
        enum:
        - name
        - updated
        - created
        type: string
    DbOpsAccountHeader:
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
      in: header
      name: Harness-Account
      schema:
        type: string
  schemas:
    DBInstanceIn:
      description: Database Instance Request
      properties:
        branch:
          description: 'branch where the instance is stored

            '
          example: main
          type: string
        commitSha:
          description: 'Commit SHA to pin the changelog to a specific revision.

            Mutually exclusive with branch and gitTag. Supports Harness expressions (e.g. <+trigger.commitSha>).

            '
          example: abc123def456
          type: string
        connector:
          description: DB Connector
          example: postgres-connector
          minLength: 1
          type: string
        context:
          description: Liquibase context
          type: string
        gitTag:
          description: 'Git tag to pin the changelog to a specific tagged revision.

            Mutually exclusive with branch and commitSha. Supports Harness expressions (e.g. <+trigger.tag>).

            '
          example: v1.2.0
          type: string
        identifier:
          description: identifier of the database instance
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          type: string
          x-oapi-codegen-extra-tags:
            validate: required,max=128
        name:
          description: name of the database instance
          type: string
          x-oapi-codegen-extra-tags:
            validate: required,max=128
        substituteProperties:
          additionalProperties:
            type: string
            x-stoplight:
              id: 8g5d3lui6rlrl
          description: Placeholder replacement in migration scripts.
          type: object
          x-stoplight:
            id: 2rirfvmokq6r8
        tags:
          additionalProperties:
            type: string
            x-oapi-codegen-extra-tags:
              validate: max=128
          description: tags attached to the database instance
          maxProperties: 128
          type: object
          x-go-type-skip-optional-pointer: true
      required:
      - identifier
      - connector
      title: Database Instance Request
      type: object
      x-stoplight:
        id: 1li73zi9bs5oi
    DbOpsError:
      description: Error Response
      properties:
        message:
          description: error message detail
          type: string
      required:
      - message
      title: Error Response
      type: object
      x-stoplight:
        id: 61cwtgnps2mpt
    DefaultAuthoringInstanceOut:
      description: Minimal instance information for LLM change authoring auto-selection
      properties:
        connector:
          description: Connector identifier (JDBC connector) linked to this instance
          type: string
        hasSnapshot:
          description: Whether this instance has a metadata snapshot available for LLM authoring
          type: boolean
        identifier:
          description: Identifier of the selected database instance
          type: string
        name:
          description: Display name of the selected database instance
          type: string
      required:
      - identifier
      - name
      - hasSnapshot
      - connector
      title: Default Authoring Instance Response
      type: object
    DBInstanceFilterIn:
      description: DB Instance Filter Request
      properties:
        filterType:
          default: Equals
          description: 'filter criteria type. Example: Equals, NotEquals'
          enum:
          - Equals
          - NotEquals
          type: string
          x-stoplight:
            id: wh3jb1x9a4mvl
        instanceTags:
          description: an array on db instance key value pairs used against the filter
          items:
            $ref: '#/components/schemas/DbOpsNGTag'
          type: array
          x-stoplight:
            id: y26ejs0un3e5p
      title: DBInstanceFilterIn
      type: object
      x-stoplight:
        id: pqeg3xqjy34f4
    DBInstanceOut:
      description: Database Instance Response
      properties:
        branch:
          description: branch where the instance is stored
          type: string
        commitSha:
          description: commit SHA to pin the changelog to a specific revision
          type: string
        connector:
          description: DB Connector
          type: string
        context:
          description: Liquibase context
          type: string
        created:
          description: epoch seconds when the database instance was created
          format: int64
          type: integer
        gitTag:
          description: Git tag to pin the changelog to a specific tagged revision
          type: string
        identifier:
          description: identifier of the database instance
          type: string
        lastAppliedTag:
          description: Most recent tag applied to the database
          type: string
        lastDeployedChangeSetTag:
          description: Tag on last deployed changeSet
          type: string
          x-stoplight:
            id: dlbvh5adtk2de
        name:
          description: name of the database instance
          type: string
        schemaId:
          type: string
          x-stoplight:
            id: 2n2zy2gxgmycn
        schemaIdentifier:
          type: string
          x-stoplight:
            id: delov0umr51kp
        substituteProperties:
          additionalProperties:
            type: string
            x-stoplight:
              id: lhgrpfvhx5bfk
          description: Placeholder replacement in migration scripts.
          type: object
          x-stoplight:
            id: npmul0cgghe3c
        tags:
          additionalProperties:
            type: string
          description: tags attached to the database instance
          type: object
          x-go-type-skip-optional-pointer: true
        toOnboard:
          type: boolean
          x-stoplight:
            id: y8hnyznezal4i
        updated:
          description: epoch seconds when the database instance was last updated
          format: int64
          type: integer
      required:
      - identifier
      - name
      - created
      - connector
      - lastDeployedChangeSetTag
      title: Database Instance Response
      type: object
      x-stoplight:
        id: qcmn5nllz3a1z
    DbOpsNGTag:
      description: 'ng tag with key and value '
      properties:
        key:
          type: string
          x-stoplight:
            id: t2goca5st7qs2
        value:
          type:
          - string
          - 'null'
          x-stoplight:
            id: 2mwjdtx5vmiqo
      required:
      - key
      title: NGTag
      type: object
      x-stoplight:
        id: k8zieexitrnwq
  requestBodies:
    DBInstanceCreateRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DBInstanceIn'
      required: true
    DBInstanceFilterRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DBInstanceFilterIn'
  responses:
    DefaultAuthoringInstanceResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DefaultAuthoringInstanceOut'
      description: Response body for default authoring instance
    DBInstanceResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DBInstanceOut'
      description: Response body for Database Instance
    ErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DbOpsError'
      description: Error Response body
    DBInstanceListResponse:
      content:
        application/json:
          schema:
            description: Response body for List Schema
            items:
              $ref: '#/components/schemas/DBInstanceOut'
            type: array
      description: Response body for List Database Schema
      headers:
        X-Page-Number:
          description: Page number in Paginated response.
          schema:
            type: integer
        X-Page-Size:
          description: Maximum page size in Paginated response.
          schema:
            type: integer
        X-Total-Elements:
          description: Total number of elements returned in Paginated response.
          schema:
            type: integer
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
