openapi: 3.2.0
info:
  title: Harness AutoStopping Rules V2 API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: AutoStopping Rules V2
  description: This contains Autostopping v2 APIs that support the usage of Autostopping Proxy for managing cloud resources.
paths:
  /gateway/lw/api/accounts/{account_id}/autostopping/v2/rules:
    post:
      tags:
      - AutoStopping Rules V2
      summary: Create an AutoStopping Rule
      description: Creates a new AutoStopping Rule using the V2 API format with enhanced proxy support.
      operationId: CreateAutoStoppingRuleV2
      parameters:
      - name: account_id
        description: Account Identifier for the Entity
        in: path
        required: true
        schema:
          type: string
        example: abc12_DEFgh-ijkLMNOPqr
      - name: accountIdentifier
        description: Account Identifier for authentication and authorization.
        in: query
        required: true
        schema:
          type: string
        example: abc12_DEFgh-ijkLMNOPqr
      requestBody:
        description: Service definition of an AutoStopping rule
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SaveServiceRequestV2WithoutDisabled'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseWithoutDisabled'
        '400':
          description: Invalid status value
          content: {}
      x-codegen-request-body-name: body
  /gateway/lw/api/accounts/{account_id}/autostopping/v2/rules/{rule_id}:
    get:
      tags:
      - AutoStopping Rules V2
      summary: Return AutoStopping Rule details in V2 format
      description: Retrieves details of an AutoStopping Rule in V2 format with enhanced proxy configuration details.
      operationId: GetAutoStoppingRuleV2
      parameters:
      - name: account_id
        in: path
        description: Account Identifier for the Entity
        required: true
        schema:
          type: string
        example: abc12_DEFgh-ijkLMNOPqr
      - name: rule_id
        description: Unique identifier of the AutoStopping Rule
        in: path
        required: true
        schema:
          type: number
        example: 12345
      - name: accountIdentifier
        description: Account Identifier for authentication and authorization.
        in: query
        required: true
        schema:
          type: string
        example: abc12_DEFgh-ijkLMNOPqr
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: '#/components/schemas/SaveServiceRequestV2'
        '400':
          description: Invalid status value
          content: {}
    put:
      tags:
      - AutoStopping Rules V2
      summary: Update an existing AutoStopping Rule
      description: Updates an existing AutoStopping Rule configuration using the V2 API format.
      operationId: UpdateAutoStoppingRuleV2
      parameters:
      - name: account_id
        description: Account Identifier for the Entity
        in: path
        required: true
        schema:
          type: string
        example: abc12_DEFgh-ijkLMNOPqr
      - name: rule_id
        description: Unique identifier of the AutoStopping Rule to update
        in: path
        required: true
        schema:
          type: string
        example: '12345'
      - name: accountIdentifier
        description: Account Identifier for authentication and authorization.
        in: query
        required: true
        schema:
          type: string
        example: abc12_DEFgh-ijkLMNOPqr
      requestBody:
        description: Service definition of an AutoStopping rule
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SaveServiceRequestV2WithoutDisabled'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseWithoutDisabled'
        '400':
          description: Invalid status value
          content: {}
      x-codegen-request-body-name: body
components:
  schemas:
    RoutingRule:
      type: object
      properties:
        path_match:
          type: string
    ServiceV2WithoutDisabled:
      required:
      - cloud_account_id
      - kind
      - name
      - org_id
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        org_id:
          type: string
        account_identifier:
          type: string
        project_id:
          type: string
        fulfilment:
          type: string
        kind:
          type: string
        cloud_account_id:
          type: string
        idle_time_mins:
          type: integer
          format: int64
        host_name:
          type: string
        health_check:
          type: object
          properties: {}
        custom_domains:
          type: array
          items:
            type: string
        match_all_subdomains:
          type: boolean
        routing:
          $ref: '#/components/schemas/RoutingData'
        opts:
          $ref: '#/components/schemas/Opts'
        created_at:
          type: string
        access_point_id:
          type: string
        metadata:
          $ref: '#/components/schemas/ServiceMetadata'
        status:
          type: string
    SaveServiceRequestV2:
      type: object
      properties:
        deps:
          type: array
          items:
            $ref: '#/components/schemas/ServiceDep'
        service:
          $ref: '#/components/schemas/ServiceV2'
        apply_now:
          type: boolean
    Proxy:
      type: object
      properties:
        id:
          type: string
    ServiceV2:
      required:
      - cloud_account_id
      - kind
      - name
      - org_id
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        org_id:
          type: string
        account_identifier:
          type: string
        project_id:
          type: string
        fulfilment:
          type: string
        kind:
          type: string
        cloud_account_id:
          type: string
        idle_time_mins:
          type: integer
          format: int64
        host_name:
          type: string
        health_check:
          type: object
          properties: {}
        custom_domains:
          type: array
          items:
            type: string
        match_all_subdomains:
          type: boolean
        disabled:
          type: boolean
        routing:
          $ref: '#/components/schemas/RoutingDataV2'
        opts:
          $ref: '#/components/schemas/Opts'
        created_at:
          type: string
        metadata:
          $ref: '#/components/schemas/ServiceMetadata'
        status:
          type: string
    ServiceError:
      type: object
      properties:
        error:
          type: string
        action:
          type: string
    ServiceMetadata:
      type: object
      properties:
        cloud_provider_details:
          type: object
          properties:
            name:
              type: string
            type:
              type: string
        target_group_details:
          type: object
          properties: {}
        service_errors:
          type: array
          items:
            $ref: '#/components/schemas/ServiceError'
        kubernetes_connector_id:
          type: string
        autostopping_proxy_config:
          type: object
          properties:
            http:
              $ref: '#/components/schemas/HTTPProxy'
            tcp:
              $ref: '#/components/schemas/HTTPProxy'
    RoutingData:
      type: object
      properties:
        instance:
          $ref: '#/components/schemas/InstanceBasedRoutingData'
        ports:
          type: array
          items:
            $ref: '#/components/schemas/PortConfig'
        lb:
          type: string
        k8s:
          type: object
          properties:
            RuleJson:
              type: string
            ConnectorID:
              type: string
            Namespace:
              type: string
        custom_domain_providers:
          type: object
          properties: {}
        container_svc:
          $ref: '#/components/schemas/ContainerSvc'
        database:
          $ref: '#/components/schemas/RDSDatabase'
    ServiceResponseWithoutDisabled:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/ServiceWithoutDisabled'
    HTTPProxy:
      required:
      - proxy
      - ports
      type: object
      properties:
        proxy:
          $ref: '#/components/schemas/Proxy'
        ports:
          type: array
          items:
            $ref: '#/components/schemas/PortConfig'
    ServiceDep:
      type: object
    RoutingDataV2:
      type: object
      properties:
        instance:
          $ref: '#/components/schemas/InstanceBasedRoutingDataV2'
        lb:
          type: string
        k8s:
          type: object
          properties:
            RuleJson:
              type: string
            ConnectorID:
              type: string
            Namespace:
              type: string
        custom_domain_providers:
          type: object
          properties: {}
        container_svc:
          $ref: '#/components/schemas/ContainerSvc'
        database:
          $ref: '#/components/schemas/RDSDatabase'
        http:
          $ref: '#/components/schemas/HTTPProxy'
        tcp:
          $ref: '#/components/schemas/TCPProxy'
    PortConfig:
      type: object
      properties:
        protocol:
          type: string
        target_protocol:
          type: string
        port:
          type: integer
        target_port:
          type: integer
        server_name:
          type: string
        action:
          type: string
        redirect_url:
          type: string
        routing_rules:
          type: array
          items:
            $ref: '#/components/schemas/RoutingRule'
    FilterObject:
      type: object
      properties:
        name:
          type: string
        ids:
          type: array
          items:
            type: string
        regions:
          type: array
          items:
            type: string
        resource_groups:
          type: array
          items:
            type: string
        vpc_id:
          type: string
        zones:
          type: array
          items:
            type: string
        tags:
          type: object
          properties: {}
    Opts:
      type: object
      properties:
        preserve_private_ip:
          type: boolean
        delete_cloud_resources:
          type: boolean
        always_use_private_ip:
          type: boolean
        access_details:
          type: object
          properties: {}
        hide_progress_page:
          type: boolean
        idle_time_for_state_sync:
          type: boolean
          description: If true, idle time is used for state sync instead of the default 5 minutes
    ASGMinimal:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        desired:
          type: integer
        min:
          type: integer
        max:
          type: integer
        on_demand:
          type: integer
        spot:
          type: integer
        mixed_instance:
          type: boolean
        cloud_account_id:
          type: string
        provider_name:
          type: string
        target_groups:
          type: array
          items:
            $ref: '#/components/schemas/TargetGroupMinimal'
        region:
          type: string
        availability_zones:
          type: array
          items:
            type: string
        status:
          type: string
        meta:
          type: object
          properties: {}
    ContainerSvc:
      type: object
      properties:
        cluster:
          type: string
        service:
          type: string
        region:
          type: string
        task_count:
          type: number
    TCPProxy:
      required:
      - proxy
      type: object
      properties:
        proxy:
          $ref: '#/components/schemas/Proxy'
        ssh:
          type: integer
        rdp:
          type: integer
        ports:
          type: array
          items:
            type: integer
    InstanceBasedRoutingData:
      type: object
      properties:
        filter_text:
          type: string
        scale_group:
          $ref: '#/components/schemas/ASGMinimal'
    SaveServiceRequestV2WithoutDisabled:
      type: object
      properties:
        deps:
          type: array
          items:
            $ref: '#/components/schemas/ServiceDep'
        service:
          $ref: '#/components/schemas/ServiceV2WithoutDisabled'
        apply_now:
          type: boolean
    TargetGroupMinimal:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        port:
          type: integer
        protocol:
          type: string
        vpc:
          type: string
    RDSDatabase:
      type: object
      properties:
        id:
          type: string
        region:
          type: string
    InstanceBasedRoutingDataV2:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/FilterObject'
        scale_group:
          $ref: '#/components/schemas/ASGMinimal'
    ServiceWithoutDisabled:
      required:
      - cloud_account_id
      - kind
      - name
      - org_id
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        org_id:
          type: string
        account_identifier:
          type: string
        project_id:
          type: string
        fulfilment:
          type: string
        kind:
          type: string
        cloud_account_id:
          type: string
        idle_time_mins:
          type: integer
          format: int64
        host_name:
          type: string
        health_check:
          type: object
          properties: {}
        custom_domains:
          type: array
          items:
            type: string
        match_all_subdomains:
          type: boolean
        routing:
          $ref: '#/components/schemas/RoutingData'
        opts:
          $ref: '#/components/schemas/Opts'
        created_at:
          type: string
        access_point_id:
          type: string
        metadata:
          $ref: '#/components/schemas/ServiceMetadata'
        status:
          type: string
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
