openapi: 3.2.0
info:
  title: Harness Artifacts API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- description: APIs to get, list artifacts
  name: Artifacts
paths:
  /har/api/v1/registry/{registry_identifier}/artifact/{artifact}/redirect:
    get:
      operationId: RedirectHarnessArtifact
      parameters:
      - $ref: '#/components/parameters/RegistryIdentifierPathParam'
      - $ref: '#/components/parameters/AccountIdentifierParam'
      - $ref: '#/components/parameters/artifactPathParam'
      - $ref: '#/components/parameters/versionParam'
      responses:
        '302':
          $ref: '#/components/responses/Redirect'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: Redirect to Harness Artifact Page
      tags:
      - Artifacts
  /har/api/v1/registry/{registry_ref}/artifact/{artifact}:
    delete:
      description: Delete Artifact.
      operationId: DeleteArtifact
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/artifactPathParam'
      - $ref: '#/components/parameters/artifactTypeParam'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: Delete Artifact
      tags:
      - Artifacts
  /har/api/v1/registry/{registry_ref}/artifact/{artifact}/labels:
    put:
      description: Update Artifact Labels.
      operationId: UpdateArtifactLabels
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/artifactPathParam'
      - $ref: '#/components/parameters/artifactTypeParam'
      requestBody:
        $ref: '#/components/requestBodies/ArtifactLabelRequest'
      responses:
        '200':
          $ref: '#/components/responses/ArtifactLabelResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: Update Artifact Labels
      tags:
      - Artifacts
  /har/api/v1/registry/{registry_ref}/artifact/{artifact}/stats:
    get:
      description: Get Artifact Stats.
      operationId: GetArtifactStats
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/artifactPathParam'
      - $ref: '#/components/parameters/fromDateParam'
      - $ref: '#/components/parameters/toDateParam'
      responses:
        '200':
          $ref: '#/components/responses/ArtifactStatsResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: Get Artifact Stats
      tags:
      - Artifacts
  /har/api/v1/registry/{registry_ref}/artifact/{artifact}/summary:
    get:
      description: Get Artifact Summary.
      operationId: GetArtifactSummary
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/artifactPathParam'
      - $ref: '#/components/parameters/artifactTypeParam'
      responses:
        '200':
          $ref: '#/components/responses/ArtifactSummaryResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: Get Artifact Summary
      tags:
      - Artifacts
  /har/api/v1/registry/{registry_ref}/artifact/{artifact}/tags:
    get:
      description: Lists OCI Artifact Tags.
      operationId: GetOciArtifactTags
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/artifactPathParam'
      - $ref: '#/components/parameters/RegistrypageNumber'
      - $ref: '#/components/parameters/RegistrypageSize'
      - $ref: '#/components/parameters/searchTerm'
      responses:
        '200':
          $ref: '#/components/responses/ListOciArtifactTagsResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: List OCI Artifact tags
      tags:
      - Artifacts
  /har/api/v1/registry/{registry_ref}/artifact/{artifact}/version/{version}:
    delete:
      description: Delete Artifact Version.
      operationId: DeleteArtifactVersion
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/artifactPathParam'
      - $ref: '#/components/parameters/versionPathParam'
      - $ref: '#/components/parameters/artifactTypeParam'
      - $ref: '#/components/parameters/filtersParam'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: Delete an Artifact Version
      tags:
      - Artifacts
  /har/api/v1/registry/{registry_ref}/artifact/{artifact}/version/{version}/bulk-download:
    get:
      operationId: CreateBulkDownloadRequestV1
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/artifactPathParam'
      - $ref: '#/components/parameters/versionPathParam'
      responses:
        '200':
          $ref: '#/components/responses/CreateBulkDownloadRequestResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: Create a bulk download request
      tags:
      - Artifacts
  /har/api/v1/registry/{registry_ref}/artifact/{artifact}/version/{version}/deploymentdetails:
    get:
      description: Get Artifact Deployments
      operationId: GetArtifactDeployments
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/artifactPathParam'
      - $ref: '#/components/parameters/versionPathParam'
      - $ref: '#/components/parameters/envType'
      - $ref: '#/components/parameters/RegistrypageNumber'
      - $ref: '#/components/parameters/RegistrypageSize'
      - $ref: '#/components/parameters/RegistrysortOrder'
      - $ref: '#/components/parameters/sortField'
      - $ref: '#/components/parameters/searchTerm'
      - $ref: '#/components/parameters/versionTypeParam'
      responses:
        '200':
          $ref: '#/components/responses/ArtifactDeploymentsResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: Describe Artifact Deployments
      tags:
      - Artifacts
  /har/api/v1/registry/{registry_ref}/artifact/{artifact}/version/{version}/details:
    get:
      description: Get Artifact Details
      operationId: GetArtifactDetails
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/artifactPathParam'
      - $ref: '#/components/parameters/artifactTypeParam'
      - $ref: '#/components/parameters/versionPathParam'
      - $ref: '#/components/parameters/childVersionParam'
      - $ref: '#/components/parameters/filtersParam'
      responses:
        '200':
          $ref: '#/components/responses/ArtifactDetailResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: Describe Artifact Details
      tags:
      - Artifacts
  /har/api/v1/registry/{registry_ref}/artifact/{artifact}/version/{version}/file/{file_name}:
    get:
      description: just validate existence of Artifact file
      operationId: GetArtifactFile
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/artifactPathParam'
      - $ref: '#/components/parameters/artifactTypeParam'
      - $ref: '#/components/parameters/versionPathParam'
      - $ref: '#/components/parameters/fileNamePathParam'
      - $ref: '#/components/parameters/filtersParam'
      responses:
        '200':
          $ref: '#/components/responses/ArtifactFileResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: Get Artifact file
      tags:
      - Artifacts
  /har/api/v1/registry/{registry_ref}/artifact/{artifact}/version/{version}/files:
    get:
      description: Get Artifact files
      operationId: GetArtifactFiles
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/artifactPathParam'
      - $ref: '#/components/parameters/artifactTypeParam'
      - $ref: '#/components/parameters/versionPathParam'
      - $ref: '#/components/parameters/RegistrypageNumber'
      - $ref: '#/components/parameters/RegistrypageSize'
      - $ref: '#/components/parameters/RegistrysortOrder'
      - $ref: '#/components/parameters/sortField'
      - $ref: '#/components/parameters/searchTerm'
      - $ref: '#/components/parameters/filtersParam'
      responses:
        '200':
          $ref: '#/components/responses/FileDetailResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: Describe Artifact files
      tags:
      - Artifacts
  /har/api/v1/registry/{registry_ref}/artifact/{artifact}/version/{version}/summary:
    get:
      description: Get Artifact Version Summary.
      operationId: GetArtifactVersionSummary
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/artifactPathParam'
      - $ref: '#/components/parameters/artifactTypeParam'
      - $ref: '#/components/parameters/versionPathParam'
      - $ref: '#/components/parameters/digestOptParam'
      - $ref: '#/components/parameters/filtersParam'
      responses:
        '200':
          $ref: '#/components/responses/ArtifactVersionSummaryResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: Get Artifact Version Summary
      tags:
      - Artifacts
  /har/api/v1/registry/{registry_ref}/artifact/{artifact}/versions:
    get:
      description: Lists all the Artifact Versions.
      operationId: GetAllArtifactVersions
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/artifactPathParam'
      - $ref: '#/components/parameters/artifactTypeParam'
      - $ref: '#/components/parameters/RegistrypageNumber'
      - $ref: '#/components/parameters/RegistrypageSize'
      - $ref: '#/components/parameters/RegistrysortOrder'
      - $ref: '#/components/parameters/sortField'
      - $ref: '#/components/parameters/searchTerm'
      - $ref: '#/components/parameters/deleteFilterParam'
      responses:
        '200':
          $ref: '#/components/responses/ListArtifactVersionResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: List Artifact Versions
      tags:
      - Artifacts
  /har/api/v1/registry/{registry_ref}/artifact/labels:
    get:
      description: List Artifact Labels.
      operationId: ListArtifactLabels
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/RegistrypageNumber'
      - $ref: '#/components/parameters/RegistrypageSize'
      - $ref: '#/components/parameters/searchTerm'
      responses:
        '200':
          $ref: '#/components/responses/ListArtifactLabelResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: List Artifact Labels
      tags:
      - Artifacts
  /har/api/v1/registry/{registry_ref}/artifact/stats:
    get:
      description: Get Artifact Stats.
      operationId: GetArtifactStatsForRegistry
      parameters:
      - $ref: '#/components/parameters/registryRefPathParam'
      - $ref: '#/components/parameters/fromDateParam'
      - $ref: '#/components/parameters/toDateParam'
      responses:
        '200':
          $ref: '#/components/responses/ArtifactStatsResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: Get Artifact Stats
      tags:
      - Artifacts
components:
  responses:
    RegistryUnauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegistryError'
      description: Access denied due to insufficient permissions
    CreateBulkDownloadRequestResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/CreateBulkDownloadRequestResponseOutput'
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            - data
            type: object
      description: Response containing status of bulk download operation
    RegistryUnauthenticated:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegistryError'
      description: Authentication failed or missing credentials
    FileDetailResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/ListFileDetail'
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            - data
            type: object
      description: response to get artifact files
    ListOciArtifactTagsResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/ListOciArtifactTags'
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            - data
            type: object
      description: response for list tags info of an OCI artifact
    ArtifactFileResponse:
      content:
        application/json:
          schema:
            properties:
              downloadUrl:
                description: download url of artifact
                type: string
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            - downloadUrl
            type: object
      description: response to head artifact file
    ListArtifactLabelResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/ListArtifactLabel'
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            - data
            type: object
      description: response for list artifact labels
    ArtifactDetailResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/ArtifactDetail'
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            - data
            type: object
      description: response to get artifact details
    ListArtifactVersionResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/ListArtifactVersion'
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            - data
            type: object
      description: response for list versions of artifact
    RegistryInternalServerError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegistryError'
      description: An unexpected server error occurred
    Redirect:
      description: Temporary Redirect
      headers:
        Location:
          description: The URL of the redirected resource
          schema:
            format: uri
            type: string
    ArtifactStatsResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/ArtifactStats'
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            - data
            type: object
      description: response to get artifact stats response
    RegistryBadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegistryError'
      description: The request was invalid or malformed
    RegistryNotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegistryError'
      description: The requested resource was not found
    ArtifactVersionSummaryResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/ArtifactVersionSummary'
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            - data
            type: object
      description: response to get docker artifact version summary
    ArtifactSummaryResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/ArtifactSummary'
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            - data
            type: object
      description: response to get artifact summary
    Success:
      content:
        application/json:
          schema:
            properties:
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            type: object
      description: Generic success response
    ArtifactLabelResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/ArtifactSummary'
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            - data
            type: object
      description: response to get artifact label response
    ArtifactDeploymentsResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/ArtifactDeploymentsDetails'
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            - data
            type: object
      description: response to get docker artifact deployments details
  parameters:
    artifactPathParam:
      description: "Name of the artifact.\n\nThe value depends on whether the name contains a slash (`/`):\n\n- If the artifact name **contains `/`**, append a trailing `/+` at the end.\n  - Example: `mygroup/myartifact/+`\n- If the artifact name **does not contain `/`**, use the plain name.\n  - Example: `myartifact`\n\nThis is used internally to distinguish between namespaced and flat artifact names.\n"
      examples:
        flat:
          summary: Flat artifact name
          value: myartifact
        namespaced:
          summary: Namespaced artifact
          value: mygroup/myartifact/+
      in: path
      name: artifact
      required: true
      schema:
        type: string
    AccountIdentifierParam:
      description: Account Identifier
      in: query
      name: accountIdentifier
      schema:
        type: string
    searchTerm:
      description: search Term.
      in: query
      name: search_term
      schema:
        type: string
    digestOptParam:
      description: Digest.
      in: query
      name: digest
      schema:
        type: string
    sortField:
      description: sortField
      in: query
      name: sort_field
      schema:
        type: string
    versionPathParam:
      description: Name of Artifact Version.
      in: path
      name: version
      required: true
      schema:
        type: string
    versionParam:
      description: Version
      in: query
      name: version
      schema:
        type: string
    RegistrypageSize:
      description: Number of items per page
      in: query
      name: size
      schema:
        default: 20
        format: int64
        type: integer
    filtersParam:
      description: 'Key-value filters for artifact version. Repeat the parameter once per filter.

        Format per entry: key:value

        Example: ?filters=architecture:amd64&filters=distribution:ubuntu

        '
      explode: true
      in: query
      name: filters
      schema:
        items:
          example: architecture:amd64
          type: string
        type: array
      style: form
    fileNamePathParam:
      description: Name of Artifact File.
      in: path
      name: file_name
      required: true
      schema:
        type: string
    versionTypeParam:
      description: Version Type.
      in: query
      name: version_type
      schema:
        enum:
        - DIGEST
        - TAG
        type: string
    childVersionParam:
      description: Child version incase of Docker artifacts.
      in: query
      name: childVersion
      schema:
        type: string
    fromDateParam:
      description: Date. Format - MM/DD/YYYY
      in: query
      name: from
      schema:
        type: string
    RegistrysortOrder:
      description: sortOrder
      in: query
      name: sort_order
      schema:
        type: string
    toDateParam:
      description: Date. Format - MM/DD/YYYY
      in: query
      name: to
      schema:
        type: string
    envType:
      description: env type
      in: query
      name: env_type
      schema:
        description: Environment Type
        enum:
        - PreProduction
        - Production
        type: string
    deleteFilterParam:
      description: Filter for soft-deleted entities
      in: query
      name: deleted
      schema:
        default: exclude
        enum:
        - exclude
        - include
        - only
        type: string
    RegistryIdentifierPathParam:
      description: Unique registry Identifier in a account.
      in: path
      name: registry_identifier
      required: true
      schema:
        type: string
    artifactTypeParam:
      description: artifact type.
      in: query
      name: artifact_type
      schema:
        enum:
        - model
        - dataset
        - module
        - provider
        type: string
    RegistrypageNumber:
      description: Current page number
      in: query
      name: page
      schema:
        default: 1
        format: int64
        type: integer
    registryRefPathParam:
      description: 'Reference to the scope in which the registry exists.


        Format depends on the scope:


        - **Account-level**: `account_id/registry_name/+`

        - **Organization-level**: `account_id/org_id/registry_name/+`

        - **Project-level**: `account_id/org_id/project_id/registry_name/+`


        The `/+` suffix is used internally to route scoped requests.

        It must be included **exactly as shown** in the URL.

        '
      examples:
        accountLevel:
          description: Only account ID, scoped at account level
          summary: Account-level registry
          value: acc123/registry123/+
        orgLevel:
          description: Account and org ID, scoped at org level
          summary: Organization-level registry
          value: acc123/org456/registry123/+
        projectLevel:
          description: Account, org, and project ID, scoped at project level
          summary: Project-level registry
          value: acc123/org456/proj789/registry123/+
      in: path
      name: registry_ref
      required: true
      schema:
        type: string
  schemas:
    ArtifactLabelRequest:
      properties:
        labels:
          items:
            type: string
          type: array
      required:
      - labels
      type: object
    CreateBulkDownloadRequestResponseOutput:
      properties:
        downloadId:
          description: Unique identifier for the download request
          example: 12345678-1234-1234-1234-123456789012
          type: string
      required:
      - downloadId
      type: object
    GenericArtifactDetailConfig:
      description: Config for generic artifact details
      properties:
        description:
          type: string
      type: object
    PackageType:
      description: refers to package
      enum:
      - DOCKER
      - MAVEN
      - PYTHON
      - GENERIC
      - HELM
      - NUGET
      - NPM
      - RPM
      - CARGO
      - COMPOSER
      - GO
      - HUGGINGFACE
      - CONDA
      - DART
      - SWIFT
      - PUPPET
      - RUBY
      - CRAN
      - RAW
      - HELM_HTTP
      - DEBIAN
      - CONAN
      - TERRAFORM
      type: string
    ArtifactDetail:
      description: Artifact Detail
      discriminator:
        mapping:
          CARGO: '#/components/schemas/CargoArtifactDetailConfig'
          COMPOSER: '#/components/schemas/ComposerArtifactDetailConfig'
          CONAN: '#/components/schemas/ConanArtifactDetailConfig'
          CONDA: '#/components/schemas/CondaArtifactDetailConfig'
          CRAN: '#/components/schemas/CRANArtifactDetailConfig'
          DART: '#/components/schemas/DartArtifactDetailConfig'
          DEBIAN: '#/components/schemas/DebianArtifactDetailConfig'
          DOCKER: '#/components/schemas/DockerArtifactDetailConfig'
          GENERIC: '#/components/schemas/GenericArtifactDetailConfig'
          GO: '#/components/schemas/GoArtifactDetailConfig'
          HELM: '#/components/schemas/HelmArtifactDetailConfig'
          HELM_HTTP: '#/components/schemas/HelmHttpArtifactDetailConfig'
          HUGGINGFACE: '#/components/schemas/HuggingFaceArtifactDetailConfig'
          MAVEN: '#/components/schemas/MavenArtifactDetailConfig'
          NPM: '#/components/schemas/NpmArtifactDetailConfig'
          NUGET: '#/components/schemas/NugetArtifactDetailConfig'
          PUPPET: '#/components/schemas/PuppetArtifactDetailConfig'
          PYTHON: '#/components/schemas/PythonArtifactDetailConfig'
          RPM: '#/components/schemas/RpmArtifactDetailConfig'
          RUBY: '#/components/schemas/RubyArtifactDetailConfig'
          SWIFT: '#/components/schemas/SwiftArtifactDetailConfig'
          TERRAFORM: '#/components/schemas/TerraformArtifactDetailConfig'
        propertyName: packageType
      oneOf:
      - $ref: '#/components/schemas/DockerArtifactDetailConfig'
      - $ref: '#/components/schemas/HelmArtifactDetailConfig'
      - $ref: '#/components/schemas/GenericArtifactDetailConfig'
      - $ref: '#/components/schemas/MavenArtifactDetailConfig'
      - $ref: '#/components/schemas/PythonArtifactDetailConfig'
      - $ref: '#/components/schemas/NpmArtifactDetailConfig'
      - $ref: '#/components/schemas/RpmArtifactDetailConfig'
      - $ref: '#/components/schemas/NugetArtifactDetailConfig'
      - $ref: '#/components/schemas/CargoArtifactDetailConfig'
      - $ref: '#/components/schemas/GoArtifactDetailConfig'
      - $ref: '#/components/schemas/HuggingFaceArtifactDetailConfig'
      - $ref: '#/components/schemas/CondaArtifactDetailConfig'
      - $ref: '#/components/schemas/DartArtifactDetailConfig'
      - $ref: '#/components/schemas/ComposerArtifactDetailConfig'
      - $ref: '#/components/schemas/SwiftArtifactDetailConfig'
      - $ref: '#/components/schemas/PuppetArtifactDetailConfig'
      - $ref: '#/components/schemas/HelmHttpArtifactDetailConfig'
      - $ref: '#/components/schemas/DebianArtifactDetailConfig'
      - $ref: '#/components/schemas/ConanArtifactDetailConfig'
      - $ref: '#/components/schemas/RubyArtifactDetailConfig'
      - $ref: '#/components/schemas/CRANArtifactDetailConfig'
      - $ref: '#/components/schemas/TerraformArtifactDetailConfig'
      properties:
        artifactKey:
          additionalProperties:
            type: string
          type: object
        artifactType:
          $ref: '#/components/schemas/RegistryArtifactType'
        createdAt:
          type: string
        createdBy:
          $ref: '#/components/schemas/RegistryUserInfo'
        deletedAt:
          description: Timestamp in milliseconds when the registry was soft-deleted
          type: string
        downloadCount:
          format: int64
          type: integer
        isQuarantined:
          type: boolean
        modifiedAt:
          type: string
        name:
          type: string
        packageType:
          $ref: '#/components/schemas/PackageType'
        quarantineReason:
          type: string
        size:
          type: string
        version:
          type: string
      required:
      - imageName
      - version
      - registryPath
      - url
      - packageType
      type: object
    ArtifactSummary:
      description: Harness Artifact Summary
      properties:
        artifactType:
          $ref: '#/components/schemas/RegistryArtifactType'
        createdAt:
          type: string
        deletedAt:
          description: Timestamp in milliseconds when the registry was soft-deleted
          type: string
        downloadsCount:
          format: int64
          type: integer
        imageName:
          type: string
        labels:
          items:
            type: string
          type: array
        modifiedAt:
          type: string
        packageType:
          $ref: '#/components/schemas/PackageType'
        registryUUID:
          type: string
        uuid:
          type: string
      required:
      - imageName
      - packageType
      - uuid
      - registryUUID
      type: object
    ListFileDetail:
      description: A list of Harness Artifact Files
      properties:
        files:
          description: A list of Harness Artifact Files
          items:
            $ref: '#/components/schemas/FileDetail'
          type: array
        itemCount:
          description: The total number of items
          example: 1
          format: int64
          type: integer
        pageCount:
          description: The total number of pages
          example: 100
          format: int64
          type: integer
        pageIndex:
          description: The current page
          example: 0
          format: int64
          type: integer
        pageSize:
          description: The number of items per page
          example: 1
          type: integer
      required:
      - files
      type: object
    OciArtifactTag:
      description: OCI Artifact Tag info
      properties:
        digest:
          type: string
        name:
          type: string
      required:
      - name
      - digest
      type: object
    ConanArtifactDetailConfig:
      description: Config for Conan artifact details
      properties:
        metadata:
          additionalProperties: true
          type: object
      type: object
    RpmArtifactDetailConfig:
      description: Config for RPM artifact details
      properties:
        metadata:
          additionalProperties: true
          type: object
      type: object
    PuppetArtifactDetailConfig:
      description: Config for puppet artifact details
      properties:
        metadata:
          additionalProperties: true
          type: object
      type: object
    CargoArtifactDetailConfig:
      description: Config for Cargo artifact details
      properties:
        metadata:
          additionalProperties: true
          type: object
      type: object
    ArtifactStats:
      description: Harness Artifact Stats
      properties:
        downloadCount:
          format: int64
          type: integer
        downloadSize:
          format: int64
          type: integer
        totalStorageSize:
          format: int64
          type: integer
        uploadSize:
          format: int64
          type: integer
      type: object
    DebianArtifactDetailConfig:
      description: Config for debian artifact details
      properties:
        metadata:
          additionalProperties: true
          type: object
      type: object
    RegistryEnvironmentType:
      description: Environment Type
      enum:
      - PreProduction
      - Production
      type: string
    ArtifactDeploymentsDetail:
      description: Artifact deployments Detail
      properties:
        count:
          type: integer
        envIdentifier:
          type: string
        envName:
          type: string
        envType:
          $ref: '#/components/schemas/RegistryEnvironmentType'
        infraIdentifier:
          type: string
        infraName:
          type: string
        lastDeployedAt:
          type: string
        lastDeployedById:
          type: string
        lastDeployedByName:
          type: string
        lastPipelineExecutionId:
          type: string
        lastPipelineExecutionName:
          type: string
        orgIdentifier:
          type: string
        pipelineId:
          type: string
        projectIdentifier:
          type: string
        serviceIdentifier:
          type: string
        serviceName:
          type: string
      type: object
    RegistryArtifactType:
      description: refers to artifact type
      enum:
      - model
      - dataset
      - module
      - provider
      type: string
    DeploymentMetadata:
      properties:
        nonProdEnvCount:
          type: integer
        prodEnvCount:
          type: integer
      required:
      - prodEnvCount
      - nonProdEnvCount
      type: object
    NpmArtifactDetailConfig:
      description: Config for npm artifact details
      properties:
        metadata:
          additionalProperties: true
          type: object
      type: object
    GoArtifactDetailConfig:
      description: Config for Go artifact details
      properties:
        metadata:
          additionalProperties: true
          type: object
      type: object
    RegistryError:
      description: Standard error response with code, message and optional details
      properties:
        code:
          description: The HTTP error code
          example: '404'
          type: string
        details:
          description: 'Additional context and details about the error.

            May include field-specific validation errors or debugging information.

            '
          example:
            field: registry_identifier
            reason: Registry does not exist in the specified project
            value: invalid-registry
          type: object
        message:
          description: Human-readable error message explaining what went wrong
          example: Registry not found
          type: string
      required:
      - code
      - message
      type: object
    ArtifactVersionSummary:
      description: Docker Artifact Version Summary
      properties:
        artifactKey:
          additionalProperties:
            type: string
          type: object
        artifactType:
          $ref: '#/components/schemas/RegistryArtifactType'
        deletedAt:
          description: Timestamp in milliseconds when the artifact was soft deleted. Null if not deleted.
          type: string
        firewallMode:
          enum:
          - ENABLED
          - QUARANTINE
          - ALLOW
          type: string
        imageName:
          type: string
        imageUUID:
          type: string
        isQuarantined:
          type: boolean
        lastScannedAt:
          type: string
        packageType:
          $ref: '#/components/schemas/PackageType'
        purl:
          type: string
        quarantineReason:
          type: string
        registryType:
          $ref: '#/components/schemas/RegistryType'
        registryUUID:
          type: string
        scanId:
          type: string
        scanStatus:
          enum:
          - WARN
          - BLOCKED
          - ALLOWED
          type: string
        sscaArtifactId:
          type: string
        sscaArtifactSourceId:
          type: string
        stoExecutionId:
          type: string
        stoPipelineId:
          type: string
        uuid:
          type: string
        version:
          type: string
      required:
      - imageName
      - version
      - packageType
      - uuid
      - registryUUID
      - imageUUID
      type: object
    CRANArtifactDetailConfig:
      description: Config for CRAN artifact details.
      properties:
        metadata:
          additionalProperties: true
          type: object
      type: object
    HelmArtifactDetailConfig:
      description: Config for helm artifact details
      properties:
        pullCommand:
          type: string
      type: object
    DeploymentStats:
      description: DeploymentStats
      properties:
        PreProduction:
          type: integer
        Production:
          type: integer
      required:
      - Production
      - PreProduction
      type: object
    ComposerArtifactDetailConfig:
      description: Config for composer artifact details
      properties:
        metadata:
          additionalProperties: true
          type: object
      type: object
    HelmHttpArtifactDetailConfig:
      description: Config for Helm HTTP artifact details
      properties:
        metadata:
          additionalProperties: true
          type: object
      type: object
    ArtifactDeploymentsDetails:
      description: Docker Artifact deployments Details
      properties:
        deployments:
          $ref: '#/components/schemas/ArtifactDeploymentsList'
        deploymentsStats:
          $ref: '#/components/schemas/DeploymentStats'
      required:
      - deployments
      type: object
    DockerArtifactDetailConfig:
      description: Config for docker artifact details
      properties:
        pullCommand:
          type: string
      type: object
    PythonArtifactDetailConfig:
      description: Config for python artifact details
      properties:
        metadata:
          additionalProperties: true
          type: object
      type: object
    FileDetail:
      description: File Detail
      properties:
        checksums:
          items:
            type: string
          type: array
        createdAt:
          type: string
        downloadCommand:
          type: string
        name:
          type: string
        path:
          type: string
        size:
          type: string
      required:
      - name
      - size
      - checksums
      - downloadCommand
      - createdAt
      - path
      type: object
    RegistryType:
      description: refers to type of registry i.e virtual or upstream
      discriminator:
        propertyName: type
      enum:
      - VIRTUAL
      - UPSTREAM
      type: string
    MavenArtifactDetailConfig:
      description: Config for maven artifact details
      properties:
        artifactId:
          type: string
        groupId:
          type: string
      type: object
    CondaArtifactDetailConfig:
      description: Config for conda artifact details
      properties:
        metadata:
          additionalProperties: true
          type: object
      type: object
    ListArtifactLabel:
      description: A list of Harness Artifact Labels
      properties:
        itemCount:
          description: The total number of items
          example: 1
          format: int64
          type: integer
        labels:
          items:
            type: string
          type: array
        pageCount:
          description: The total number of pages
          example: 100
          format: int64
          type: integer
        pageIndex:
          description: The current page
          example: 0
          format: int64
          type: integer
        pageSize:
          description: The number of items per page
          example: 1
          type: integer
      required:
      - labels
      type: object
    DartArtifactDetailConfig:
      description: Config for dart artifact details
      properties:
        metadata:
          additionalProperties: true
          type: object
      type: object
    SwiftArtifactDetailConfig:
      description: Config for swift artifact details
      properties:
        metadata:
          additionalProperties: true
          type: object
      type: object
    ListArtifactVersion:
      description: A list of Artifact versions
      properties:
        artifactVersions:
          description: A list of Artifact versions
          items:
            $ref: '#/components/schemas/ArtifactVersionMetadata'
          type: array
        itemCount:
          description: The total number of items
          example: 1
          format: int64
          type: integer
        pageCount:
          description: The total number of pages
          example: 100
          format: int64
          type: integer
        pageIndex:
          description: The current page
          example: 0
          format: int64
          type: integer
        pageSize:
          description: The number of items per page
          example: 1
          type: integer
      required:
      - artifacts
      type: object
    ArtifactEntityMetadata:
      additionalProperties: true
      description: Artifact Entity Metadata
      type: object
    NugetArtifactDetailConfig:
      description: Config for nuget artifact details
      properties:
        metadata:
          additionalProperties: true
          type: object
      type: object
    RegistryStatus:
      description: Request processing status indicator
      enum:
      - SUCCESS
      - FAILURE
      - ERROR
      type: string
    ArtifactVersionMetadata:
      description: Artifact Version Metadata
      properties:
        artifactKey:
          additionalProperties:
            type: string
          type: object
        artifactType:
          $ref: '#/components/schemas/RegistryArtifactType'
        deletedAt:
          description: Timestamp in milliseconds when the artifact was soft deleted. Null if not deleted.
          type: string
        deploymentMetadata:
          $ref: '#/components/schemas/DeploymentMetadata'
        digestCount:
          format: int64
          type: integer
        downloadsCount:
          format: int64
          type: integer
        fileCount:
          format: int64
          type: integer
        firewallMode:
          enum:
          - ENABLED
          - QUARANTINE
          - ALLOW
          type: string
        isQuarantined:
          type: boolean
        lastModified:
          type: string
        lastScannedAt:
          type: string
        metadata:
          $ref: '#/components/schemas/ArtifactEntityMetadata'
        name:
          type: string
        packageType:
          $ref: '#/components/schemas/PackageType'
        pullCommand:
          type: string
        quarantineReason:
          type: string
        registryIdentifier:
          type: string
        registryPath:
          type: string
        registryType:
          $ref: '#/components/schemas/RegistryType'
        registryUUID:
          type: string
        scanId:
          type: string
        scanStatus:
          enum:
          - WARN
          - BLOCKED
          - ALLOWED
          type: string
        size:
          type: string
        uuid:
          type: string
      required:
      - name
      - registryIdentifier
      - latestVersion
      - registryPath
      - packageType
      - uuid
      - registryUUID
      type: object
    RegistryUserInfo:
      description: Structured user information for a principal
      properties:
        display_name:
          description: Human-readable display name
          type: string
        email:
          description: Email address
          type: string
        type:
          description: Principal type (user, service, service_account)
          type: string
        uid:
          description: Principal unique identifier (username)
          type: string
      type: object
    HuggingFaceArtifactDetailConfig:
      description: Config for huggingface artifact details
      properties:
        metadata:
          additionalProperties: true
          type: object
      type: object
    RubyArtifactDetailConfig:
      description: Config for RubyGems artifact details
      properties:
        metadata:
          additionalProperties: true
          type: object
      type: object
    ArtifactDeploymentsList:
      description: A list of Artifact Deployments
      properties:
        deployments:
          description: A list of Artifact
          items:
            $ref: '#/components/schemas/ArtifactDeploymentsDetail'
          type: array
        itemCount:
          description: The total number of items
          example: 1
          format: int64
          type: integer
        pageCount:
          description: The total number of pages
          example: 100
          format: int64
          type: integer
        pageIndex:
          description: The current page
          example: 0
          format: int64
          type: integer
        pageSize:
          description: The number of items per page
          example: 1
          type: integer
      required:
      - artifacts
      type: object
    TerraformArtifactDetailConfig:
      description: Config for Terraform artifact details
      properties:
        metadata:
          additionalProperties: true
          type: object
      type: object
    ListOciArtifactTags:
      description: A list of Artifact versions
      properties:
        itemCount:
          description: The total number of items
          example: 1
          format: int64
          type: integer
        ociArtifactTags:
          description: A list of OCI Artifact tags
          items:
            $ref: '#/components/schemas/OciArtifactTag'
          type: array
        pageCount:
          description: The total number of pages
          example: 100
          format: int64
          type: integer
        pageIndex:
          description: The current page
          example: 0
          format: int64
          type: integer
        pageSize:
          description: The number of items per page
          example: 1
          type: integer
      required:
      - ociArtifactTags
      type: object
  requestBodies:
    ArtifactLabelRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ArtifactLabelRequest'
      description: request to update artifact labels
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
