openapi: 3.2.0
info:
  title: Harness Release Groups API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Release Groups
  x-displayName: Release Groups [Beta]
paths:
  /rmg/api/releaseGroup:
    parameters: []
    post:
      summary: Create New Release Group
      tags:
      - Release Groups
      operationId: post-releaseGroup
      responses:
        '200':
          $ref: '#/components/responses/CreateReleaseGroupResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      requestBody:
        $ref: '#/components/requestBodies/CreateReleaseGroupRequest'
      description: Create a new Release Group.
      x-stoplight:
        id: jb4zoa1afqk37
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      x-internal: false
  /rmg/api/releaseGroup/{releaseGroupId}:
    delete:
      summary: Delete Release Group by ID
      tags:
      - Release Groups
      operationId: delete-releaseGroup
      parameters:
      - name: releaseGroupId
        in: path
        required: true
        schema:
          type: string
        description: The ID of the release group to delete.
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      responses:
        '200':
          $ref: '#/components/responses/DeleteReleaseGroupResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      description: Delete a specific Release Group by its ID.
    put:
      summary: Update Release Group
      responses:
        '200':
          $ref: '#/components/responses/UpdateReleaseGroupResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      - name: releaseGroupId
        in: path
        required: true
        schema:
          type: string
        description: The ID of the release group to be updated.
      requestBody:
        $ref: '#/components/requestBodies/UpdateReleaseGroupRequest'
      tags:
      - Release Groups
      operationId: put-releaseGroup
      x-stoplight:
        id: 02njnetawglkw
    get:
      summary: Get Release Group by ID
      tags:
      - Release Groups
      operationId: get-releaseGroup
      description: Retrieve details of a specific Release Group.
      parameters:
      - name: releaseGroupId
        in: path
        required: true
        schema:
          type: string
        description: The ID of the release group.
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      responses:
        '200':
          $ref: '#/components/responses/GetReleaseGroupResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
    patch:
      summary: Partially Update Release Group
      tags:
      - Release Groups
      operationId: patch-releaseGroup
      description: Partially update a release group without recreating releases. Currently supports updating autoExecuteOnSchedule field.
      parameters:
      - name: releaseGroupId
        in: path
        required: true
        schema:
          type: string
        description: The ID of the release group to be updated.
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      requestBody:
        $ref: '#/components/requestBodies/PatchReleaseGroupRequest'
      responses:
        '200':
          $ref: '#/components/responses/PatchReleaseGroupResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: abc123patchrg
  /rmg/api/releaseGroup/summary:
    get:
      summary: Fetch List of Release Group
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      - $ref: '#/components/parameters/SearchTermParam'
      - $ref: '#/components/parameters/StatusListParam'
      - $ref: '#/components/parameters/ReleaseTypeParam'
      - $ref: '#/components/parameters/RmPage'
      - $ref: '#/components/parameters/Size'
      - $ref: '#/components/parameters/RmSort'
      responses:
        '200':
          $ref: '#/components/responses/ReleaseGroupSummaryResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      tags:
      - Release Groups
      operationId: get-releaseGroup-summary
      x-stoplight:
        id: vnpl6sumwnf7d
  /rmg/api/releaseGroup/{releaseGroupId}/components:
    parameters:
    - schema:
        type: string
      name: releaseGroupId
      in: path
      required: true
    get:
      summary: Get Component Details for a given releaseGroupId
      tags:
      - Release Groups
      responses:
        '200':
          $ref: '#/components/responses/ReleaseGroupComponentResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '401':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      operationId: get-releaseGroup-releaseGroupId-components
      x-stoplight:
        id: 2w5sf3g2ndb6r
      parameters:
      - $ref: '#/components/parameters/AccountParam'
  /rmg/api/releaseGroup/{releaseGroupId}/conflicts:
    get:
      summary: Fetch Release Conflicts
      tags:
      - Release Groups
      operationId: getReleaseConflicts
      description: Fetch a paginated list of release conflicts for a release group with optional status filtering
      parameters:
      - name: releaseGroupId
        in: path
        required: true
        schema:
          type: string
        description: ID of the release group
      - $ref: '#/components/parameters/ConflictStatusList'
      - $ref: '#/components/parameters/RmPage'
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/Size'
      - $ref: '#/components/parameters/RmSort'
      responses:
        '200':
          $ref: '#/components/responses/ReleaseConflictListResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '401':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
components:
  requestBodies:
    PatchReleaseGroupRequest:
      content:
        application/json:
          schema:
            type: object
            properties:
              autoExecuteOnSchedule:
                $ref: '#/components/schemas/AutoExecuteOnScheduleProperty'
                x-stoplight:
                  id: jkl7eq9tfte67
      description: Request body for partial update of release group. At least one field must be provided.
    UpdateReleaseGroupRequest:
      content:
        application/json:
          schema:
            type: object
            required:
            - yaml
            properties:
              yaml:
                type: string
              processIdentifier:
                type: string
                description: Identifier of the orchestration process
                x-stoplight:
                  id: abc4eq9tfte34
              processInputIdentifier:
                type: string
                description: Identifier of the orchestration process input
                x-stoplight:
                  id: 56umfjays44bm
    CreateReleaseGroupRequest:
      content:
        application/json:
          schema:
            type: object
            required:
            - yaml
            properties:
              yaml:
                type: string
              processIdentifier:
                type: string
                description: Identifier of the orchestration process
                x-stoplight:
                  id: hmp4eq9tftof7
              processInputIdentifier:
                type: string
                description: Identifier of the orchestration process input
                x-stoplight:
                  id: abc4eq9tfte34
      description: Example Request Body
  schemas:
    TriggerType:
      type: string
      enum:
      - MANUAL
      - WEBHOOK
      - WEBHOOK_CUSTOM
      - ARTIFACT
      - MANIFEST
      - SCHEDULER_CRON
      description: Unit of time used for repeating releases.
    ReleaseGroupDTO:
      title: ReleaseGroupDTO
      x-stoplight:
        id: q1hm7j6egaq6m
      type: object
      required:
      - lastUpdatedAt
      - lastUpdatedBy
      - identifier
      - name
      - color
      - releaseVersion
      - releaseType
      - cadence
      - id
      properties:
        lastUpdatedAt:
          type: integer
        lastUpdatedBy:
          $ref: '#/components/schemas/LastUpdatedByDTO'
        identifier:
          type: string
          x-stoplight:
            id: hte9t36v3768d
        name:
          type: string
          x-stoplight:
            id: u22ze9k24kn25
        description:
          type: string
          x-stoplight:
            id: ivccrqv7m6r06
        color:
          type: string
          x-stoplight:
            id: rc0st114iv9cs
        tags:
          type: object
          x-stoplight:
            id: 11e1ke70zx45y
          additionalProperties:
            x-stoplight:
              id: g30jsmw53yqxw
            type: string
        releaseVersion:
          type: string
          x-stoplight:
            id: rz34kottf7opj
        releaseType:
          $ref: '#/components/schemas/ReleaseType'
        cadence:
          $ref: '#/components/schemas/ReleaseCadence'
        id:
          type: string
          x-stoplight:
            id: c6lf1bupdd0ym
        processIdentifier:
          type: string
          description: Process identifier
          x-omitempty: true
          x-stoplight:
            id: c6lf1bupdd0ym
        processInputIdentifier:
          type: string
          description: Process input identifier
          x-omitempty: true
          x-stoplight:
            id: c6lf1bupdd0ym
        autoExecuteOnSchedule:
          $ref: '#/components/schemas/AutoExecuteOnScheduleProperty'
          x-omitempty: true
    ReleaseType:
      type: string
      enum:
      - System
      - Beta
      - Hotfix
      - Patch
      description: Type of release.
    RmPageable:
      type: object
      properties:
        pageNumber:
          type: integer
        pageSize:
          type: integer
        sort:
          $ref: '#/components/schemas/PageableSort'
        offset:
          type: integer
        paged:
          type: boolean
        unpaged:
          type: boolean
    GetReleaseGroupResponse:
      title: Get Release Group Response
      type: object
      properties:
        yaml:
          type: string
          description: YAML representation of the release group.
        processIdentifier:
          type: string
          description: Identifier for the orchestration process.
          x-omitempty: true
        processInputIdentifier:
          type: string
          description: Identifier for the orchestration process input.
          x-omitempty: true
        autoExecuteOnSchedule:
          $ref: '#/components/schemas/AutoExecuteOnScheduleProperty'
          x-omitempty: true
      required:
      - yaml
    RmUser:
      title: User
      x-stoplight:
        id: rh69gotswtjb8
      type: object
      properties:
        identifier:
          type: string
          x-stoplight:
            id: bufykxrconv69
        email:
          type: string
          x-stoplight:
            id: wlfcw3vsnz35e
    ReleaseFrequency:
      type: string
      enum:
      - Daily
      - Weekly
      - Monthly
      - Custom
      - BiWeekly
      description: Frequency of the release cadence.
    RmStatus:
      type: string
      description: Status of the stage.
      enum:
      - ABORTED
      - OUTPUT_WAITING
      - ASYNC_WAITING
      - APPROVAL_REJECTED
      - APPROVAL_WAITING
      - DISCONTINUING
      - ERROR
      - ERRORED
      - EXPIRED
      - FAILED
      - FREEZE_FAILED
      - IGNORE_FAILED
      - INPUT_WAITING
      - INTERVENTION_WAITING
      - QUEUED
      - REJECTED
      - RESUMED
      - RUNNING
      - SCHEDULED
      - SKIPPED
      - STARTING
      - STARTING_QUEUED_STEP
      - SUCCESS
      - SUCCEEDED
      - SUSPENDED
      - TIMED_WAITING
      - TASK_WAITING
      - UPLOAD_WAITING
      - WAIT_STEP_RUNNING
      - WAITING
      - ON_HOLD
    Freq:
      type: string
      enum:
      - Weekly
      - Monthly
      - Daily
      description: Unit of time used for repeating releases.
    ReleaseCadence:
      type: object
      properties:
        spec:
          type: object
          properties:
            freq:
              $ref: '#/components/schemas/Freq'
            interval:
              type: integer
              description: Number of units between releases.
            weekday:
              type: string
              description: weekday
          required:
          - freq
          - interval
        timezone:
          type: string
          description: Timezone for the release cadence.
        duration:
          type: string
          description: duration for the release cadence.
        frequency:
          $ref: '#/components/schemas/ReleaseFrequency'
        startDate:
          type: string
          description: Start date of the release cadence (YYYY-MM-DD).
        endDate:
          type: string
          description: End date of the release cadence (YYYY-MM-DD).
      required:
      - timezone
      - frequency
      - startDate
      - duration
      - endDate
    RmError:
      title: Error Response
      x-stoplight:
        id: d53gtsgvwyk44
      type: object
      description: Error Response
      required:
      - message
      properties:
        message:
          type: string
          x-stoplight:
            id: 5n8vetciod7k8
          description: error message detail
        code:
          type: string
          description: canonical error code name
          enum:
          - BAD_REQUEST
          - UNAUTHORIZED
          - FORBIDDEN
          - NOT_FOUND
          - INTERNAL_SERVER_ERROR
    ExecutionConflict:
      type: object
      x-stoplight:
        id: ca79c9fae2aa2
      required:
      - planExecutionId
      - status
      - releaseInfoList
      - createdAt
      - lastUpdatedAt
      - pipelineName
      - pipelineIdentifier
      - runSequenceId
      - orgIdentifier
      - projectIdentifier
      - triggerType
      - triggeredBy
      - executionStatus
      - startTs
      properties:
        planExecutionId:
          type: string
          description: ID of the execution that caused the conflict
          x-stoplight:
            id: 4yzwfe8cb8wmz
        status:
          $ref: '#/components/schemas/ConflictStatus'
        type:
          $ref: '#/components/schemas/ReleaseType'
          description: Type of the conflict (System, Beta, Hotfix, Patch)
        releaseInfoList:
          type: array
          description: Whether this release is recommended for resolution
          x-stoplight:
            id: n2wk9ym8tpw1c
          items:
            $ref: '#/components/schemas/ReleaseConflictInfo'
        createdAt:
          type: integer
          format: int64
          description: Unix timestamp when the conflict was created
        lastUpdatedAt:
          type: integer
          format: int64
          description: Unix timestamp when the conflict was last updated
        conflictResolvedBy:
          $ref: '#/components/schemas/RmUser'
        conflictResolvedAt:
          type: integer
          format: int64
          description: Unix timestamp when the conflict was resolved
        pipelineName:
          type: string
          description: Name of the pipeline
        pipelineIdentifier:
          type: string
          description: Identifier of the pipeline
        runSequenceId:
          type: integer
          description: Pipeline run sequence number
          x-stoplight:
            id: 7otrc1zi6sjzq
        orgIdentifier:
          type: string
          description: Organization identifier
        projectIdentifier:
          type: string
          description: Project identifier
        triggerType:
          $ref: '#/components/schemas/TriggerType'
        triggeredBy:
          $ref: '#/components/schemas/TriggeredByDTO'
        executionStatus:
          $ref: '#/components/schemas/RmStatus'
        startTs:
          type: integer
          format: int64
          description: Pipeline execution start timestamp
        endTs:
          type: integer
          format: int64
          description: Pipeline execution end timestamp
        comment:
          type: string
          description: Comment associated with the conflict
    LastUpdatedByDTO:
      title: LastUpdatedByDTO
      type: object
      required:
      - identifier
      properties:
        name:
          type: string
        identifier:
          type: string
        email:
          type: string
      x-stoplight:
        id: q1hm7j6egaq6k
    TriggeredByDTO:
      type: object
      description: Details of the user who triggered the activity.
      properties:
        name:
          type: string
          description: Name of the person who triggered the activity.
        id:
          type: string
          description: Identifier of the person who triggered the activity.
        avatar:
          type: string
          description: Avatar URL of the person.
        triggerType:
          $ref: '#/components/schemas/TriggerType'
    ReleaseComponent:
      type: object
      properties:
        orgIdentifier:
          type: string
          description: Identifier for the organization.
        projectIdentifier:
          type: string
          description: Identifier for the project.
        services:
          type: object
          description: Details about services with filterType and refs.
          properties:
            filterType:
              type: string
              enum:
              - Equals
              - All
              description: Type of filter applied for services.
            refs:
              type: array
              items:
                type: string
              description: List of service identifiers.
        pipelines:
          type: object
          description: Details about pipelines with filterType and refs.
          properties:
            filterType:
              type: string
              enum:
              - Equals
              - All
              description: Type of filter applied for pipelines.
            refs:
              type: array
              items:
                type: string
              description: List of pipeline identifiers.
        environments:
          type: object
          description: Details about environments with filterType and refs.
          properties:
            filterType:
              type: string
              enum:
              - Equals
              - All
              description: Type of filter applied for environments.
            refs:
              type: array
              items:
                type: string
              description: List of environment identifiers.
      required:
      - orgIdentifier
      - projectIdentifier
    ReleaseConflictInfo:
      title: ReleaseInfo
      x-stoplight:
        id: kchn8txfsnjkn
      type: object
      required:
      - recommended
      - releaseName
      - releaseId
      - releaseGroupId
      - version
      properties:
        recommended:
          type: boolean
          x-stoplight:
            id: i89vv2vpyxqwf
        releaseName:
          type: string
          x-stoplight:
            id: adeh63dza3mpc
        releaseId:
          type: string
          x-stoplight:
            id: ye3bhvdjcpc08
        releaseGroupId:
          type: string
          x-stoplight:
            id: bos9d10eph7xt
        version:
          type: string
          x-stoplight:
            id: pcp0nfwyes0oq
    PageableSort:
      type: object
      x-go-name: PageableSort
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
    ConflictStatus:
      title: ConflictStatus
      type: string
      x-stoplight:
        id: m55o0a5zbv4yf
      enum:
      - Conflict
      - Resolved
      - None
    AutoExecuteOnScheduleProperty:
      type: boolean
      default: false
      description: Automatically execute releases when their scheduled time arrives
  parameters:
    RmSort:
      name: sort
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
      description: 'Sort parameters as an array. Format: `[field_name, direction]` where direction is `asc` or `desc`.

        Supported fields: `start_ts`, `startTs`, `end_ts`, `endTs`, `last_updated_at`, `lastUpdatedAt`, `created_at`, `createdAt`, `name`, `identifier`, `status`, `type`.

        When used in query params, use format: `sort=field_name&sort=direction` (e.g., `sort=start_ts&sort=desc`).

        '
      examples:
        example1:
          value:
          - created_at,asc
        example2:
          value:
          - last_updated_at,desc
        example3:
          value:
          - start_ts,desc
        example4:
          value:
          - end_ts,asc
    RmOrgParam:
      name: orgIdentifier
      in: query
      required: false
      schema:
        type: string
      description: Organisation Identifier
    Size:
      name: size
      in: query
      required: false
      schema:
        type: integer
    RmProjectParam:
      name: projectIdentifier
      in: query
      required: false
      schema:
        type: string
      description: Project Identifier
    ConflictStatusList:
      name: conflictStatus
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
    StatusListParam:
      name: status
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
        uniqueItems: false
      allowReserved: false
    AccountParam:
      name: Harness-Account
      in: header
      required: true
      schema:
        type: string
      description: Account Identifier
    SearchTermParam:
      name: searchTerm
      in: query
      description: Optional search string to filter releases by name.
      required: false
      schema:
        type: string
    RmPage:
      name: page
      in: query
      required: false
      schema:
        type: integer
    ReleaseTypeParam:
      name: type
      in: query
      description: Optional release type filter (Orchestration or Tracking)
      required: false
      schema:
        type: string
        enum:
        - Orchestration
        - Tracking
  responses:
    UpdateReleaseGroupResponse:
      description: Update release group response
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
              yaml:
                type: string
    ReleaseGroupComponentResponse:
      description: This wraps the components that are tied to a release
      content:
        application/json:
          schema:
            type: object
            required:
            - components
            properties:
              components:
                type: array
                x-stoplight:
                  id: svhdvanbrvev7
                items:
                  $ref: '#/components/schemas/ReleaseComponent'
    ReleaseConflictListResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            x-examples:
              Example 1:
                conflicts:
                - releaseId: string
                  releaseGroupId: string
                  version: string
                  releaseName: string
                  executionId: string
                  status: NONE
                  recommended: true
                  createdAt: 0
                  lastUpdatedAt: 0
                  conflictResolvedBy: string
                  conflictResolvedAt: 0
                  pipelineName: string
                  pipelineIdentifier: string
                  runSequence: 0
                  orgIdentifier: string
                  projectIdentifier: string
                  triggerType: MANUAL
                  triggeredBy:
                    name: string
                    id: string
                    avatar: string
                    triggerType: MANUAL
                  executionStatus: ABORTED
                  startTs: 0
                  endTs: 0
                nextRequest:
                  cursor: string
                  limit: 0
                last: true
            required:
            - content
            - pageable
            - last
            - totalPages
            - totalElements
            - size
            - number
            - sort
            - numberOfElements
            - first
            - empty
            properties:
              content:
                type: array
                items:
                  $ref: '#/components/schemas/ExecutionConflict'
              pageable:
                $ref: '#/components/schemas/RmPageable'
              last:
                type: boolean
              totalPages:
                type: integer
                x-stoplight:
                  id: 3nz07ydaayvcc
              totalElements:
                type: integer
                x-stoplight:
                  id: h8mt2j7i51kfj
              size:
                type: integer
                x-stoplight:
                  id: 8j6kpjk7moyj6
              number:
                type: integer
                x-stoplight:
                  id: ux354puy75tzr
              sort:
                $ref: '#/components/schemas/PageableSort'
              numberOfElements:
                type: integer
                x-stoplight:
                  id: t3hba64eudz69
              first:
                type: boolean
                x-stoplight:
                  id: jd9y2vgwhwwby
              empty:
                type: boolean
                x-stoplight:
                  id: qfjbwop25t01s
    PatchReleaseGroupResponse:
      description: Patch release group response
      content:
        application/json:
          schema:
            type: object
            required:
            - id
            properties:
              id:
                type: string
              autoExecuteOnSchedule:
                type: boolean
    GetReleaseGroupResponse:
      description: Response for Get Release Group API
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetReleaseGroupResponse'
    CreateReleaseGroupResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
              yaml:
                type: string
            x-examples:
              Example 1:
                id: string
                yaml: string
    ReleaseGroupSummaryResponse:
      description: This wraps the list of all release groups along with pagination
      content:
        application/json:
          schema:
            type: object
            properties:
              content:
                type: array
                items:
                  $ref: '#/components/schemas/ReleaseGroupDTO'
              pageable:
                $ref: '#/components/schemas/RmPageable'
              totalPages:
                type: integer
              last:
                type: boolean
              totalElements:
                type: integer
              size:
                type: integer
              number:
                type: integer
              sort:
                $ref: '#/components/schemas/PageableSort'
              numberOfElements:
                type: integer
              first:
                type: boolean
              empty:
                type: boolean
            required:
            - content
            - pageable
            - totalPages
            - last
            - totalElements
            - size
            - number
            - sort
            - numberOfElements
            - first
            - empty
    RmErrorResponse:
      description: Error Response body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RmError'
    DeleteReleaseGroupResponse:
      description: Response for Delete Release Group API
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: boolean
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
