openapi: 3.2.0
info:
  title: Harness Registry V3 - Versions API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- description: V3 versions endpoints
  name: Registry V3 - Versions
paths:
  /har/api/v3/versions:
    get:
      description: Lists versions of packages
      operationId: ListVersionsV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/OrgIdentifierV3'
      - $ref: '#/components/parameters/ProjectIdentifierV3'
      - $ref: '#/components/parameters/RegistryIdListOptionalParamV3'
      - $ref: '#/components/parameters/PackageIdListOptionalParamV3'
      - $ref: '#/components/parameters/PackageTypeListParamV3'
      - $ref: '#/components/parameters/DeleteFilterParamV3'
      - $ref: '#/components/parameters/MetadataFilterListParamV3'
      - $ref: '#/components/parameters/PageNumberV3'
      - $ref: '#/components/parameters/PageSizeV3'
      - $ref: '#/components/parameters/SortV3'
      - $ref: '#/components/parameters/SearchTermV3'
      - $ref: '#/components/parameters/IncludeMetaParamV3'
      - $ref: '#/components/parameters/UploadedByParamV3'
      responses:
        '200':
          $ref: '#/components/responses/ListVersionResponseV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: List versions of packages
      tags:
      - Registry V3 - Versions
      x-internal: false
  /har/api/v3/versions/{id}:
    delete:
      description: Delete a version (soft or hard delete based on deleteType parameter)
      operationId: DeleteVersionV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/IdPathParamV3'
      - $ref: '#/components/parameters/ForceParamV3'
      responses:
        '200':
          description: Deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Delete a Version
      tags:
      - Registry V3 - Versions
      x-internal: true
  /har/api/v3/versions/{id}/conan/recipe-revisions:
    get:
      description: List finalized Conan recipe revisions for a version.
      operationId: ListConanRecipeRevisionsV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/IdPathParamV3'
      - $ref: '#/components/parameters/PageNumberV3'
      - $ref: '#/components/parameters/PageSizeV3'
      responses:
        '200':
          $ref: '#/components/responses/ConanRecipeRevisionsResponseV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: List Conan Recipe Revisions
      tags:
      - Registry V3 - Versions
      x-internal: false
  /har/api/v3/versions/{id}/conan/recipe-revisions/{recipe_revision_id}/details:
    get:
      description: Get a Conan recipe revision (RREV) detail.
      operationId: GetConanRecipeRevisionDetailV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/IdPathParamV3'
      - $ref: '#/components/parameters/ConanRecipeRevisionPathParamV3'
      responses:
        '200':
          $ref: '#/components/responses/ConanRecipeRevisionDetailResponseV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Get Conan Recipe Revision Detail
      tags:
      - Registry V3 - Versions
      x-internal: false
  /har/api/v3/versions/{id}/conan/recipe-revisions/{recipe_revision_id}/packages:
    get:
      description: List the packages (PKGIDs) under a Conan recipe revision.
      operationId: ListConanPackagesV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/IdPathParamV3'
      - $ref: '#/components/parameters/ConanRecipeRevisionPathParamV3'
      - $ref: '#/components/parameters/PageNumberV3'
      - $ref: '#/components/parameters/PageSizeV3'
      responses:
        '200':
          $ref: '#/components/responses/ConanPackagesResponseV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: List Conan Packages of a Recipe Revision
      tags:
      - Registry V3 - Versions
      x-internal: false
  /har/api/v3/versions/{id}/conan/recipe-revisions/{recipe_revision_id}/packages/{package_id}/details:
    get:
      description: Get a Conan package (PKGID) detail with its package revisions.
      operationId: GetConanPackageDetailV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/IdPathParamV3'
      - $ref: '#/components/parameters/ConanRecipeRevisionPathParamV3'
      - $ref: '#/components/parameters/ConanPackageIdPathParamV3'
      responses:
        '200':
          $ref: '#/components/responses/ConanPackageDetailResponseV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Get Conan Package Detail
      tags:
      - Registry V3 - Versions
      x-internal: false
  /har/api/v3/versions/{id}/conan/recipe-revisions/{recipe_revision_id}/packages/{package_id}/package-revisions:
    get:
      description: List the package revisions (PREVs) under a Conan package.
      operationId: ListConanPackageRevisionsV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/IdPathParamV3'
      - $ref: '#/components/parameters/ConanRecipeRevisionPathParamV3'
      - $ref: '#/components/parameters/ConanPackageIdPathParamV3'
      - $ref: '#/components/parameters/PageNumberV3'
      - $ref: '#/components/parameters/PageSizeV3'
      responses:
        '200':
          $ref: '#/components/responses/ConanPackageRevisionsResponseV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: List Conan Package Revisions of a Package
      tags:
      - Registry V3 - Versions
      x-internal: false
  ? /har/api/v3/versions/{id}/conan/recipe-revisions/{recipe_revision_id}/packages/{package_id}/package-revisions/{package_revision_id}/details
  : get:
      description: Get a Conan package revision (PREV) detail.
      operationId: GetConanPackageRevisionDetailV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/IdPathParamV3'
      - $ref: '#/components/parameters/ConanRecipeRevisionPathParamV3'
      - $ref: '#/components/parameters/ConanPackageIdPathParamV3'
      - $ref: '#/components/parameters/ConanPackageRevisionPathParamV3'
      responses:
        '200':
          $ref: '#/components/responses/ConanPackageRevisionDetailResponseV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Get Conan Package Revision Detail
      tags:
      - Registry V3 - Versions
      x-internal: false
  /har/api/v3/versions/{id}/deployments:
    get:
      description: List Harness CD deployments for a specific version. Returns the environments and services that are actively running this version, together with aggregate prod/non-prod counts in `meta`. For OCI-based package types (DOCKER, HELM) the artifact is identified by `image:tag` — supply `package_tag` or an empty response is returned. For all other package types the artifact is identified by `package_name/version_name`.
      operationId: ListVersionDeploymentsV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/IdPathParamV3'
      - description: 'Filter by environment type. Allowed values: `PRODUCTION`, `PRE_PRODUCTION`.

          '
        in: query
        name: env_type
        schema:
          enum:
          - PRODUCTION
          - PRE_PRODUCTION
          type: string
      - $ref: '#/components/parameters/PageNumberV3'
      - $ref: '#/components/parameters/PageSizeV3'
      - $ref: '#/components/parameters/SortV3'
      - $ref: '#/components/parameters/SearchTermV3'
      - description: 'Tag to use when identifying the artifact in CD. Currently used for Docker images: provide the tag (e.g. `latest`) so the artifact is resolved as `image:tag`. For OCI-based package types (DOCKER, HELM), if this parameter is omitted no deployment data is returned.

          '
        in: query
        name: package_tag
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/ListVersionDeploymentsResponseV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: List deployments for a version
      tags:
      - Registry V3 - Versions
      x-internal: false
  /har/api/v3/versions/{id}/metadata:
    get:
      description: Retrieves all metadata for a version.
      operationId: GetVersionMetadataV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/IdPathParamV3'
      responses:
        '200':
          $ref: '#/components/responses/MetadataResponseV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Get Version Metadata
      tags:
      - Registry V3 - Versions
      x-internal: false
    post:
      description: Creates or overwrites metadata for a version.
      operationId: UpsertVersionMetadataV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/IdPathParamV3'
      requestBody:
        $ref: '#/components/requestBodies/MetadataRequestV3'
      responses:
        '200':
          $ref: '#/components/responses/MetadataResponseV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Upsert Version Metadata
      tags:
      - Registry V3 - Versions
      x-internal: false
    put:
      description: Replaces all metadata for a version.
      operationId: SaveVersionMetadataV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/IdPathParamV3'
      requestBody:
        $ref: '#/components/requestBodies/MetadataRequestV3'
      responses:
        '200':
          $ref: '#/components/responses/MetadataResponseV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Replace Version Metadata
      tags:
      - Registry V3 - Versions
      x-internal: false
  /har/api/v3/versions/{id}/restore:
    post:
      description: Restore a previously soft-deleted version by ID
      operationId: RestoreVersionV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/IdPathParamV3'
      responses:
        '200':
          description: Restored successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Restore a Soft-Deleted Version
      tags:
      - Registry V3 - Versions
      x-internal: true
  /har/api/v3/versions/{id}/tags:
    post:
      description: Add tags to version of package. Currently supported for only OCI package.
      operationId: AddVersionTagsV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/IdPathParamV3'
      requestBody:
        $ref: '#/components/requestBodies/AddTagsRequestV3'
      responses:
        '204':
          description: Tags added successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Add tags to version of package
      tags:
      - Registry V3 - Versions
      x-internal: false
  /har/api/v3/versions/rebuild-metadata:
    post:
      description: Trigger metadata rebuild for all versions in a registry
      operationId: RebuildVersionMetadataV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RebuildVersionMetadataRequestV3'
        description: Request body containing registry ID to rebuild metadata
        required: true
      responses:
        '202':
          $ref: '#/components/responses/RebuildVersionMetadataAcceptedV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Rebuild metadata for all versions in a registry
      tags:
      - Registry V3 - Versions
      x-internal: false
  /har/api/v3/versions/stats:
    post:
      description: Get statistics (deploymentMetadata, downloadCount, fileCount, scanStatus, scanID, size, artifactKey) for a list of versions by their UUIDs.
      operationId: GetVersionsStatsV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/OrgIdentifierV3'
      - $ref: '#/components/parameters/ProjectIdentifierV3'
      requestBody:
        $ref: '#/components/requestBodies/VersionsStatsRequestV3'
      responses:
        '200':
          $ref: '#/components/responses/VersionsStatsResponseV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Get statistics for multiple versions
      tags:
      - Registry V3 - Versions
      x-internal: false
components:
  requestBodies:
    MetadataRequestV3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MetadataInputV3'
      description: Request body containing metadata key-value pairs to add or update
    VersionsStatsRequestV3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VersionsStatsRequestInputV3'
      description: Request body containing list of version UUIDs to fetch stats for
      required: true
    AddTagsRequestV3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AddTagsV3'
      description: request to add tags to a version of package
  responses:
    RebuildVersionMetadataAcceptedV3:
      description: Rebuild metadata request accepted for processing
    ConanPackageDetailResponseV3:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/ConanPackageDetailV3'
            required:
            - data
            type: object
      description: Response to get a Conan package detail
    VersionsStatsResponseV3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VersionsStatsResponseBodyV3'
      description: Response containing statistics for the requested versions
    ConanRecipeRevisionsResponseV3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListConanRecipeRevisionsResponseBodyV3'
      description: Response to list Conan recipe revisions for a version
    ConanRecipeRevisionDetailResponseV3:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/ConanRecipeRevisionDetailV3'
            required:
            - data
            type: object
      description: Response to get a Conan recipe revision detail
    ConanPackageRevisionsResponseV3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListConanPackageRevisionsResponseBodyV3'
      description: Response to list Conan package revisions of a package
    MetadataResponseV3:
      content:
        application/json:
          schema:
            properties:
              data:
                description: Array of metadata entries
                items:
                  $ref: '#/components/schemas/MetadataV3'
                type: array
            required:
            - data
            type: object
      description: Response containing all metadata entries for the requested entity
    ConanPackagesResponseV3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListConanPackagesResponseBodyV3'
      description: Response to list Conan packages of a recipe revision
    ConanPackageRevisionDetailResponseV3:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/ConanPackageRevisionDetailV3'
            required:
            - data
            type: object
      description: Response to get a Conan package revision detail
    ListVersionDeploymentsResponseV3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListVersionDeploymentsResponseBodyV3'
      description: Paginated list of Harness CD deployments for a version
    ListVersionResponseV3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListVersionsResponseBodyV3'
      description: response for list versions
  schemas:
    UserInfoV3:
      description: Structured user information for a principal
      properties:
        display_name:
          description: Human-readable display name
          type: string
        email:
          description: Email address
          type: string
        type:
          description: Principal type (user, service, service_account)
          type: string
        uid:
          description: Principal unique identifier (username)
          type: string
      type: object
    MetadataV3:
      description: Metadata entry
      properties:
        id:
          description: Unique identifier for this metadata entry
          format: uuid
          type: string
        key:
          description: The metadata key name
          example: environment
          type: string
        type:
          $ref: '#/components/schemas/MetadataTypeV3'
        value:
          description: The metadata value
          example: production
          type: string
      required:
      - id
      - key
      - value
      - type
      type: object
    AddTagsV3:
      properties:
        tags:
          items:
            type: string
          type: array
      required:
      - tags
      type: object
    ResourceMetadataV3:
      additionalProperties: true
      description: Resource Metadata
      type: object
    DeploymentMetadataV3:
      properties:
        nonProdEnvCount:
          type: integer
        prodEnvCount:
          type: integer
      required:
      - prodEnvCount
      - nonProdEnvCount
      type: object
    ListConanPackagesResponseBodyV3:
      allOf:
      - $ref: '#/components/schemas/PageInfoV3'
      - properties:
          items:
            items:
              $ref: '#/components/schemas/ConanPackageMetadataV3'
            type: array
        required:
        - items
        type: object
      description: The packages (PKGIDs) of a Conan recipe revision.
    VersionStatsV3:
      description: Statistics for a single version
      properties:
        deploymentMetadata:
          $ref: '#/components/schemas/DeploymentMetadataV3'
        digestCount:
          description: Number of digests/manifests in the version (for OCI artifacts with manifest lists)
          type: integer
        downloadCount:
          description: Total download count for the version
          format: int64
          type: integer
        fileCount:
          description: Number of files in the version
          type: integer
        firewallMode:
          $ref: '#/components/schemas/FirewallModeV3'
        id:
          description: Version UUID
          format: uuid
          type: string
        lastScannedAt:
          type: string
        scanID:
          description: Scan ID for the version
          format: uuid
          type: string
        scanStatus:
          $ref: '#/components/schemas/ScanStatusV3'
        size:
          description: Total size of the version (human-readable format)
          type: string
      required:
      - id
      type: object
    ScanStatusV3:
      description: Status of an artifact scan evaluation.
      enum:
      - ALLOWED
      - BLOCKED
      - WARN
      - UNKNOWN
      type: string
    PageInfoV3:
      description: 'Pagination metadata.

        - `page` selects which page of results to return (0 = first page).

        - `size` controls how many items are returned per page.

        - `hasMore` is true if more results exist after this page.

        '
      properties:
        hasMore:
          description: True if more results exist after this page.
          example: true
          type: boolean
        page:
          description: The current page (0-indexed)
          example: 0
          format: int64
          type: integer
        size:
          description: Number of items per page
          example: 20
          format: int64
          type: integer
      required:
      - page
      - size
      - hasMore
      type: object
    MetadataItemInputV3:
      description: Metadata key-value pair for create/update operations
      properties:
        key:
          description: The metadata key name (case-sensitive)
          example: environment
          maxLength: 128
          minLength: 1
          type: string
        value:
          description: The metadata value
          example: production
          maxLength: 256
          minLength: 1
          type: string
      required:
      - key
      - value
      type: object
    VersionV3:
      description: Version metadata
      properties:
        artifactKey:
          additionalProperties: true
          type: object
        createdAt:
          $ref: '#/components/schemas/ModifiedAtMsV3'
        createdBy:
          $ref: '#/components/schemas/UserInfoV3'
        deletedAt:
          $ref: '#/components/schemas/DeletedAtMsV3'
        deletedBy:
          $ref: '#/components/schemas/UserInfoV3'
        id:
          format: uuid
          type: string
        isQuarantined:
          type: boolean
        metadata:
          $ref: '#/components/schemas/ResourceMetadataV3'
        modifiedAt:
          $ref: '#/components/schemas/ModifiedAtMsV3'
        modifiedBy:
          $ref: '#/components/schemas/UserInfoV3'
        name:
          type: string
        orgIdentifier:
          $ref: '#/components/schemas/orgIdentifier'
        packageId:
          format: uuid
          type: string
        packageKind:
          $ref: '#/components/schemas/PackageKindV3'
        packageName:
          type: string
        packageType:
          $ref: '#/components/schemas/PackageTypeV3'
        projectIdentifier:
          $ref: '#/components/schemas/projectIdentifier'
        pullCommand:
          type: string
        pushedBy:
          $ref: '#/components/schemas/UserInfoV3'
        quarantineReason:
          type: string
        registryId:
          format: uuid
          type: string
        registryName:
          type: string
        registryType:
          $ref: '#/components/schemas/RegistryTypeV3'
      required:
      - id
      - name
      - packageType
      - registryId
      - registryName
      - packageId
      - packageName
      - registryType
      type: object
    ListConanRecipeRevisionsResponseBodyV3:
      allOf:
      - $ref: '#/components/schemas/PageInfoV3'
      - properties:
          items:
            items:
              $ref: '#/components/schemas/ConanRecipeRevisionDetailV3'
            type: array
        required:
        - items
        type: object
      description: The recipe revisions (RREVs) of a Conan version.
    PackageKindV3:
      description: refers to package kind which is being used in huggingface packages for model, dataset and terraform packages for module, provider
      example: model
      type: string
    VersionDeploymentV3:
      description: A single Harness CD deployment record for a version.
      properties:
        envIdentifier:
          type: string
        envName:
          type: string
        envType:
          description: 'Environment type. Allowed values: `PRODUCTION`, `PRE_PRODUCTION`.

            '
          enum:
          - PRODUCTION
          - PRE_PRODUCTION
          type: string
        infraIdentifier:
          type: string
        infraName:
          type: string
        instanceCount:
          description: Number of running instances for this service + environment combination.
          format: int32
          type: integer
        lastDeployedAt:
          description: Unix timestamp in milliseconds of the last deployment.
          format: int64
          type:
          - integer
          - 'null'
        lastDeployedBy:
          $ref: '#/components/schemas/UserInfoV3'
        orgIdentifier:
          type: string
        pipelineExecutionId:
          type: string
        pipelineExecutionName:
          type: string
        projectIdentifier:
          type: string
        serviceIdentifier:
          type: string
        serviceName:
          type: string
      required:
      - orgIdentifier
      - projectIdentifier
      - serviceIdentifier
      - serviceName
      - envIdentifier
      - envName
      - envType
      - instanceCount
      type: object
    DeletedAtMsV3:
      description: Unix timestamp in milliseconds when the resource was soft-deleted
      example: 1736360000456
      format: int64
      type:
      - integer
      - 'null'
    VersionsStatsRequestInputV3:
      description: Request input for fetching version statistics
      properties:
        versionIds:
          description: List of version UUIDs to fetch statistics for
          items:
            format: uuid
            type: string
          maxItems: 100
          type: array
      required:
      - versionIds
      type: object
    VersionsStatsResponseBodyV3:
      description: Response body containing version statistics
      properties:
        items:
          description: List of version statistics
          items:
            $ref: '#/components/schemas/VersionStatsV3'
          type: array
      required:
      - items
      type: object
    FirewallModeV3:
      description: Firewall mode
      enum:
      - ENABLED
      - QUARANTINE
      - ALLOW
      type: string
    MetaV3:
      description: Metadata about the list response
      properties:
        activeCount:
          description: Count of active (non-deleted) entities
          example: 95
          format: int64
          type: integer
        deletedCount:
          description: Count of soft-deleted entities
          example: 5
          format: int64
          type: integer
      required:
      - activeCount
      - deletedCount
      type: object
    CreatedAtMsV3:
      description: Unix timestamp in milliseconds when the resource was created
      example: 1736360000123
      format: int64
      type:
      - integer
      - 'null'
    ListVersionsResponseBodyV3:
      allOf:
      - $ref: '#/components/schemas/PageInfoV3'
      - properties:
          items:
            items:
              $ref: '#/components/schemas/VersionV3'
            type: array
          meta:
            $ref: '#/components/schemas/MetaV3'
        required:
        - items
        type: object
    PackageTypeV3:
      description: 'Package type. Known values include: DOCKER, MAVEN, PYTHON, GENERIC, HELM, HELM_HTTP, NUGET, NPM, RPM, CARGO, COMPOSER, GO, HUGGINGFACE, CONDA, DART, SWIFT, PUPPET, RUBY, RAW, DEBIAN, CONAN, TERRAFORM. This field is extensible; clients must handle unknown values.

        '
      example: DOCKER
      type: string
      x-extensible-enum:
      - DOCKER
      - MAVEN
      - PYTHON
      - GENERIC
      - HELM
      - HELM_HTTP
      - NUGET
      - NPM
      - RPM
      - CARGO
      - COMPOSER
      - GO
      - HUGGINGFACE
      - CONDA
      - DART
      - SWIFT
      - PUPPET
      - RUBY
      - RAW
      - DEBIAN
      - CONAN
      - TERRAFORM
      - CRAN
    ErrorV3:
      description: An error response
      properties:
        error:
          $ref: '#/components/schemas/ApiErrorsV3'
      required:
      - error
      type: object
    RebuildVersionMetadataRequestV3:
      description: Request to rebuild metadata for all versions in a registry
      properties:
        registryId:
          description: UUID of the registry to rebuild metadata for
          type: string
      required:
      - registryId
      type: object
    ConanPackageDetailV3:
      description: A Conan package (PKGID) detail. The package revisions are listed via the package-revisions endpoint.
      properties:
        downloadCount:
          description: Total downloads across every finalized package revision of this package.
          format: int64
          type: integer
        id:
          description: The stable UUID of the package row.
          format: uuid
          type: string
        lastDownloadedAt:
          description: Most recent download time (Unix milliseconds), if any.
          format: int64
          type:
          - integer
          - 'null'
        options:
          additionalProperties: true
          description: Build options parsed from conaninfo.txt.
          type: object
        packageId:
          type: string
        packageRevisionCount:
          description: Number of finalized package revisions (PREVs) of this package.
          format: int64
          type: integer
        recipeRevision:
          type: string
        settings:
          additionalProperties: true
          description: Build settings parsed from conaninfo.txt.
          type: object
        size:
          type: string
      required:
      - id
      - packageId
      type: object
    MetadataInputV3:
      description: 'Request payload containing metadata key-value pairs to add or update.

        '
      example:
        metadata:
        - key: environment
          value: production
        - key: team
          value: backend
      properties:
        metadata:
          description: Array of metadata key-value pairs
          items:
            $ref: '#/components/schemas/MetadataItemInputV3'
          maxItems: 50
          minItems: 1
          type: array
      required:
      - metadata
      type: object
    ConanPackageRevisionDetailV3:
      description: A Conan package revision (PREV).
      properties:
        createdAt:
          $ref: '#/components/schemas/CreatedAtMsV3'
        downloadCount:
          format: int64
          type: integer
        id:
          description: The stable UUID of the package revision row.
          format: uuid
          type: string
        lastDownloadedAt:
          description: Last-downloaded time (Unix milliseconds), if any.
          format: int64
          type:
          - integer
          - 'null'
        packageRevision:
          description: The package revision (PREV) hash.
          type: string
        size:
          type: string
      required:
      - id
      - packageRevision
      type: object
    ListConanPackageRevisionsResponseBodyV3:
      allOf:
      - $ref: '#/components/schemas/PageInfoV3'
      - properties:
          items:
            items:
              $ref: '#/components/schemas/ConanPackageRevisionDetailV3'
            type: array
        required:
        - items
        type: object
      description: The package revisions (PREVs) of a Conan package.
    ConanRecipeRevisionDetailV3:
      description: A Conan recipe revision (RREV).
      properties:
        downloadCount:
          description: Total downloads across every finalized package revision under this revision.
          format: int64
          type: integer
        id:
          description: The stable UUID of the recipe revision row.
          format: uuid
          type: string
        lastDownloadedAt:
          description: Most recent download time (Unix milliseconds), if any.
          format: int64
          type:
          - integer
          - 'null'
        lastPushedAt:
          description: Finalization time (Unix milliseconds).
          format: int64
          type:
          - integer
          - 'null'
        packageCount:
          description: Number of packages with at least one finalized package revision.
          format: int64
          type: integer
        recipeRevision:
          description: The recipe revision (RREV) hash.
          type: string
        size:
          description: Recipe files plus all package binaries under this revision.
          type: string
      required:
      - id
      - recipeRevision
      type: object
    MetadataTypeV3:
      description: Indicates if metadata was manually added (MANUAL) or system-generated (AUTO)
      enum:
      - MANUAL
      - AUTO
      type: string
    ModifiedAtMsV3:
      description: Unix timestamp in milliseconds when the resource was last modified
      example: 1736360000123
      format: int64
      type:
      - integer
      - 'null'
    RegistryTypeV3:
      description: refers to type of registry i.e virtual or upstream
      enum:
      - VIRTUAL
      - UPSTREAM
      type: string
    projectIdentifier:
      type: string
    ConanPackageMetadataV3:
      description: A Conan package (PKGID).
      properties:
        id:
          description: The stable UUID of the package row.
          format: uuid
          type: string
        latestPackageRevision:
          description: The newest finalized package revision hash.
          type: string
        options:
          additionalProperties: true
          description: Build options parsed from conaninfo.txt.
          type: object
        packageId:
          description: The package id hash.
          type: string
        settings:
          additionalProperties: true
          description: Build settings parsed from conaninfo.txt.
          type: object
        size:
          description: Size of the latest finalized package revision.
          type: string
      required:
      - id
      - packageId
      type: object
    ListVersionDeploymentsResponseBodyV3:
      allOf:
      - $ref: '#/components/schemas/PageInfoV3'
      - properties:
          items:
            description: List of deployment records.
            items:
              $ref: '#/components/schemas/VersionDeploymentV3'
            type: array
          meta:
            $ref: '#/components/schemas/DeploymentMetadataV3'
        required:
        - items
        type: object
    orgIdentifier:
      type: string
    ApiErrorsV3:
      properties:
        code:
          description: For some errors that could be handled programmatically, a short string indicating the [error code](https://docs.stripe.com/error-codes) reported.
          maxLength: 5000
          type: string
        message:
          description: A human-readable message providing more details about the error. These messages can be shown to users.
          maxLength: 40000
          type: string
        param:
          description: If the error is parameter-specific, the parameter related to the error. For example, we can use this to display a message near the correct form field.
          maxLength: 5000
          type: string
        type:
          description: The type of error returned.
          enum:
          - INVALID_REQUEST_ERROR
          - AUTHENTICATION_ERROR
          - PERMISSION_ERROR
          - API_ERROR
          type: string
      required:
      - type
      title: APIErrors
      type: object
  parameters:
    DeleteFilterParamV3:
      in: query
      name: deleted
      schema:
        default: exclude
        enum:
        - exclude
        - include
        - only
        type: string
    ConanPackageIdPathParamV3:
      description: The stable UUID of the package (PKGID) row.
      in: path
      name: package_id
      required: true
      schema:
        type: string
    PackageTypeListParamV3:
      description: Registry Package Type
      in: query
      name: package_types
      schema:
        items:
          type: string
        type: array
    IdPathParamV3:
      in: path
      name: id
      required: true
      schema:
        type: string
    ForceParamV3:
      in: query
      name: force
      schema:
        default: false
        type: boolean
    MetadataFilterListParamV3:
      description: Filter by metadata using key:value format
      in: query
      name: metadata
      schema:
        items:
          type: string
        type: array
    PackageIdListOptionalParamV3:
      description: 'Unique id for the package.

        '
      example:
      - 12345678-1234-1234-1234-123456789012
      - aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
      in: query
      name: package_ids
      schema:
        items:
          format: uuid
          type: string
        type: array
    SortV3:
      description: 'The sort for the results.

        Accepted pattern: `sort_field:sort_order` where sort_field is the field name

        and sort_order is either `asc` or `desc`.


        Examples: `name:asc`, `modifiedAt:desc`

        '
      in: query
      name: sort
      schema:
        type: string
    AccountIdentifierV3:
      description: 'Unique identifier for the Harness account.

        '
      in: query
      name: account_identifier
      required: true
      schema:
        type: string
    SearchTermV3:
      description: 'Search term for filtering results.


        Example: `search_term=prod` might match keys like "production", "prod-env", etc.

        '
      in: query
      name: search_term
      schema:
        type: string
    ConanPackageRevisionPathParamV3:
      description: The stable UUID of the package revision (PREV) row.
      in: path
      name: package_revision_id
      required: true
      schema:
        type: string
    ConanRecipeRevisionPathParamV3:
      description: The stable UUID of the recipe revision (RREV) row.
      in: path
      name: recipe_revision_id
      required: true
      schema:
        type: string
    ProjectIdentifierV3:
      description: 'Unique identifier for the project within the organization.


        Example: `my_project` or `frontend_services`

        '
      in: query
      name: project_identifier
      schema:
        type: string
    IncludeMetaParamV3:
      description: 'When `true`, include the `meta` object (e.g. active/deleted counts)

        in the response.

        '
      in: query
      name: include_meta
      schema:
        default: false
        type: boolean
    PageNumberV3:
      description: 'The page number for pagination (0-indexed).


        Used to navigate through large result sets. Combined with `size` parameter

        to control which subset of results to return.


        Example: `page=0` returns the first page, `page=1` returns the second page

        '
      in: query
      name: page
      schema:
        default: 0
        format: int64
        type: integer
    PageSizeV3:
      description: "The number of items to return per page.\n\nControls the page size for paginated results. \n\nExample: `size=50` returns up to 50 items per page\n"
      in: query
      name: size
      schema:
        default: 20
        format: int64
        maximum: 100
        minimum: 1
        type: integer
    RegistryIdListOptionalParamV3:
      description: 'Unique id for the registry.

        Note: This parameter should have one id if package query param is provided

        '
      example:
      - 12345678-1234-1234-1234-123456789012
      - aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
      in: query
      name: registry_ids
      schema:
        items:
          format: uuid
          type: string
        type: array
    OrgIdentifierV3:
      description: 'Unique identifier for the organization within the account.


        Example: `default` or `engineering_org`

        '
      in: query
      name: org_identifier
      schema:
        type: string
    UploadedByParamV3:
      description: 'Filter by uploaded by user ID.


        Example: `uploaded_by=123`

        '
      in: query
      name: uploaded_by
      schema:
        items:
          example: 123
          format: int64
          type: integer
        type: array
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
