openapi: 3.2.0
info:
  title: Harness Evaluations API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Evaluations
  description: Access evaluation results
paths:
  /pm/api/v1/evaluations:
    get:
      tags:
      - Evaluations
      description: List evaluations
      operationId: evaluations#list
      parameters:
      - name: accountIdentifier
        in: query
        description: Harness account ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness account ID
          default: ''
          example: eBqAoNchMLKigC_qZ5EdC
        example: eBqAoNchMLKigC_qZ5EdC
      - name: orgIdentifier
        in: query
        description: Harness organization ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness organization ID
          default: ''
          example: test-org
        example: test-org
      - name: projectIdentifier
        in: query
        description: Harness project ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness project ID
          default: ''
          example: test-project
        example: test-project
      - name: per_page
        in: query
        description: Number of results per page
        allowEmptyValue: true
        schema:
          type: integer
          description: Number of results per page
          default: 50
          example: 20
          format: int64
          minimum: 1
          maximum: 100
        example: 20
      - name: page
        in: query
        description: Page number (starting from 0)
        allowEmptyValue: true
        schema:
          type: integer
          description: Page number (starting from 0)
          default: 0
          example: 4
          format: int64
          minimum: 0
        example: 4
      - name: entity
        in: query
        description: Filter by the entity associated with the evaluation
        allowEmptyValue: true
        schema:
          type: string
          description: Filter by the entity associated with the evaluation
          example: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
        example: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
      - name: type
        in: query
        description: Filter by the type associated with the evaluation
        allowEmptyValue: true
        schema:
          type: string
          description: Filter by the type associated with the evaluation
          example: pipeline
        example: pipeline
      - name: action
        in: query
        description: Filter by the action associated with the evaluation
        allowEmptyValue: true
        schema:
          type: string
          description: Filter by the action associated with the evaluation
          example: onrun
        example: onrun
      - name: last_seen
        in: query
        description: Retrieve results starting after this last-seen result
        allowEmptyValue: true
        schema:
          type: integer
          description: Retrieve results starting after this last-seen result
          example: 123
          format: int64
        example: 123
      - name: created_date_from
        in: query
        description: Retrieve results created from this date
        allowEmptyValue: true
        schema:
          type: integer
          description: Retrieve results created from this date
          example: 123
          format: int64
        example: 123
      - name: created_date_to
        in: query
        description: Retrieve results created up to this date
        allowEmptyValue: true
        schema:
          type: integer
          description: Retrieve results created up to this date
          example: 123
          format: int64
        example: 123
      - name: status
        in: query
        description: Retrieve results with these statuses
        allowEmptyValue: true
        schema:
          type: string
          description: Retrieve results with these statuses
          example: pass,warning,error
        example: pass,warning,error
      - name: includeChildScopes
        in: query
        description: When true, evaluations from child scopes will be included in the results
        allowEmptyValue: true
        schema:
          type: boolean
          description: When true, evaluations from child scopes will be included in the results
          default: false
          example: true
        example: false
      - name: execution_id
        in: query
        description: Filter by the execution Id associated with the evaluation
        allowEmptyValue: true
        schema:
          type: string
          description: Filter by the execution Id associated with the evaluation
          example: ehsPKtczTRO5CUDAt-NR
        example: ehsPKtczTRO5CUDAt-NR
      - name: x-api-key
        in: header
        description: Harness PAT key used to perform authorization
        allowEmptyValue: true
        schema:
          type: string
          description: Harness PAT key used to perform authorization
          example: Ipsa nihil tenetur et qui eum voluptatum.
        example: Tempora est facere.
      responses:
        '200':
          description: OK response.
          headers:
            Link:
              description: Link-based paging
              schema:
                type: string
                description: Link-based paging
                example: ''
              example: ''
            X-Page-Index:
              description: 'Deprecated: Please use pageNumber / X-Page-Number instead. Same value as pageNumber; kept for legacy UI clients.'
              schema:
                type: integer
                description: 'Deprecated: Please use pageNumber / X-Page-Number instead. Same value as pageNumber; kept for legacy UI clients.'
                example: 4
                format: int64
              example: 4
            X-Page-Item-Count:
              description: Number of results in this page
              schema:
                type: integer
                description: Number of results in this page
                example: 20
                format: int64
              example: 20
            X-Page-Number:
              description: Current page number (0-based). Harness standard pagination header X-Page-Number.
              schema:
                type: integer
                description: Current page number (0-based). Harness standard pagination header X-Page-Number.
                example: 4
                format: int64
              example: 4
            X-Page-Size:
              description: Requested page size. Harness standard pagination header X-Page-Size.
              schema:
                type: integer
                description: Requested page size. Harness standard pagination header X-Page-Size.
                example: 20
                format: int64
              example: 20
            X-Total-Elements:
              description: Total number of results available. Harness standard pagination header X-Total-Elements.
              schema:
                type: integer
                description: Total number of results available. Harness standard pagination header X-Total-Elements.
                example: 230
                format: int64
              example: 230
            X-Total-Items:
              description: 'Deprecated: Please use totalElements / X-Total-Elements instead. Same value as totalElements; kept for legacy UI clients.'
              schema:
                type: integer
                description: 'Deprecated: Please use totalElements / X-Total-Elements instead. Same value as totalElements; kept for legacy UI clients.'
                example: 230
                format: int64
              example: 230
            X-Total-Pages:
              description: Total pages available
              schema:
                type: integer
                description: Total pages available
                example: 12
                format: int64
              example: 12
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Evaluation'
                example:
                - account_id: XRQAjvT37acOiXx9PRaQMF
                  action: onrun
                  created: 1636370209475
                  details:
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    action: onrun
                    created: 1636669297674
                    description: Captures critical production policies
                    details:
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    enabled: true
                    identifier: policyset-1
                    name: Production Policies
                    org_id: test-org
                    project_id: test-project
                    status: error
                    type: pipeline
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    action: onrun
                    created: 1636669297674
                    description: Captures critical production policies
                    details:
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    enabled: true
                    identifier: policyset-1
                    name: Production Policies
                    org_id: test-org
                    project_id: test-project
                    status: error
                    type: pipeline
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    action: onrun
                    created: 1636669297674
                    description: Captures critical production policies
                    details:
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    enabled: true
                    identifier: policyset-1
                    name: Production Policies
                    org_id: test-org
                    project_id: test-project
                    status: error
                    type: pipeline
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    action: onrun
                    created: 1636669297674
                    description: Captures critical production policies
                    details:
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    enabled: true
                    identifier: policyset-1
                    name: Production Policies
                    org_id: test-org
                    project_id: test-project
                    status: error
                    type: pipeline
                    updated: 1636669297674
                  entity: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
                  entity_metadata: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
                  id: 123
                  input: ''
                  org_id: test-org
                  project_id: test-project
                  status: error
                  type: pipeline,service
                - account_id: XRQAjvT37acOiXx9PRaQMF
                  action: onrun
                  created: 1636370209475
                  details:
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    action: onrun
                    created: 1636669297674
                    description: Captures critical production policies
                    details:
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    enabled: true
                    identifier: policyset-1
                    name: Production Policies
                    org_id: test-org
                    project_id: test-project
                    status: error
                    type: pipeline
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    action: onrun
                    created: 1636669297674
                    description: Captures critical production policies
                    details:
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    enabled: true
                    identifier: policyset-1
                    name: Production Policies
                    org_id: test-org
                    project_id: test-project
                    status: error
                    type: pipeline
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    action: onrun
                    created: 1636669297674
                    description: Captures critical production policies
                    details:
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    enabled: true
                    identifier: policyset-1
                    name: Production Policies
                    org_id: test-org
                    project_id: test-project
                    status: error
                    type: pipeline
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    action: onrun
                    created: 1636669297674
                    description: Captures critical production policies
                    details:
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
                        unique_id: Ex consequuntur saepe.
                        updated: 1636669297674
                      policy_severity: Warn & Continue
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval step
                      - deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'
                      error: 'policy.rego:25: rego_parse_error: non-terminated string m == "test'
                      output: "{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}"
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        cache_response:
                          cache_state: STALE_CACHE
                          is_sync_enabled: true
                          last_updated_at: 1773917288158
                          ttl_left: 258234442
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: .
                        git_default_branch: main
                        git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_default_branch_file_url: ''
                        git_default_branch_update_error:
                          explanation: File with given filepath [file.rego] already exists in Github, thus couldn't create a new file
                          hint: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                          message: Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ''
                        git_path: .harness/policy.rego
                        git_repo: github.com/org/repo,omitempty
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        parent_unique_id: Aliquam est.
                        polciy_size_in_bytes: 4204212102816286000
                        policy_package_name: Aspernatur in molestias recusandae odit quia.
                        policy_set_count: 3
                        project_id: test-project
                        rego: ''
[...]
