openapi: 3.2.0
info:
  title: Harness Filter APIs API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Filter APIs
paths:
  /gateway/lw/api/accounts/{account_id}/v1/filters:
    post:
      tags:
      - Filter APIs
      summary: Get all filter options
      description: Retrieves all available filter options including regions, instance families, and provider account IDs for the specified account and optional date range.
      operationId: GetFilters
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Account Identifier for the entity
      - name: routingId
        in: query
        required: true
        schema:
          type: string
        description: Routing identifier for request processing
      - name: start_date
        in: query
        required: false
        schema:
          type: string
          format: date
          example: '2021-10-19'
        description: Start date for filtering data (YYYY-MM-DD format)
      - name: end_date
        in: query
        required: false
        schema:
          type: string
          format: date
          example: '2021-10-19'
        description: End date for filtering data (YYYY-MM-DD format)
      - name: service
        in: query
        required: false
        schema:
          type: string
          enum:
          - Amazon Elastic Compute Cloud - Compute
          - Amazon Relational Database Service
        description: AWS service type for filtering. Supported services are EC2 and RDS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterResponse'
        '400':
          description: Invalid request parameters or unsupported service
  /gateway/lw/api/accounts/{account_id}/v1/filters/regions:
    post:
      tags:
      - Filter APIs
      summary: Get available regions
      description: Retrieves all available AWS regions for the specified account and optional date range.
      operationId: GetRegionFilters
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Account Identifier for the entity
      - name: routingId
        in: query
        required: true
        schema:
          type: string
        description: Routing identifier for request processing
      - name: start_date
        in: query
        required: false
        schema:
          type: string
          format: date
          example: '2021-10-19'
        description: Start date for filtering data (YYYY-MM-DD format)
      - name: end_date
        in: query
        required: false
        schema:
          type: string
          format: date
          example: '2021-10-19'
        description: End date for filtering data (YYYY-MM-DD format)
      - name: service
        in: query
        required: false
        schema:
          type: string
          enum:
          - Amazon Elastic Compute Cloud - Compute
          - Amazon Relational Database Service
        description: AWS service type for filtering. Supported services are EC2 and RDS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                - us-east-1
                - us-west-2
                - eu-west-1
        '400':
          description: Invalid request parameters or unsupported service
  /gateway/lw/api/accounts/{account_id}/v1/filters/instancefamilies:
    post:
      tags:
      - Filter APIs
      summary: Get available instance families
      description: Retrieves all available instance families for the specified account and optional date range.
      operationId: GetInstanceFamilyFilters
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Account Identifier for the entity
      - name: routingId
        in: query
        required: true
        schema:
          type: string
        description: Routing identifier for request processing
      - name: start_date
        in: query
        required: false
        schema:
          type: string
          format: date
          example: '2021-10-19'
        description: Start date for filtering data (YYYY-MM-DD format)
      - name: end_date
        in: query
        required: false
        schema:
          type: string
          format: date
          example: '2021-10-19'
        description: End date for filtering data (YYYY-MM-DD format)
      - name: service
        in: query
        required: false
        schema:
          type: string
          enum:
          - Amazon Elastic Compute Cloud - Compute
          - Amazon Relational Database Service
        description: AWS service type for filtering. Supported services are EC2 and RDS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                - m5
                - c5
                - r5
                - db.t3
                - db.r5
        '400':
          description: Invalid request parameters or unsupported service
  /gateway/lw/api/accounts/{account_id}/v1/filters/provideraccounts:
    post:
      tags:
      - Filter APIs
      summary: Get available provider account IDs
      description: Retrieves all available cloud provider account IDs for the specified account and optional date range.
      operationId: GetProviderAccountFilters
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Account Identifier for the entity
      - name: routingId
        in: query
        required: true
        schema:
          type: string
        description: Routing identifier for request processing
      - name: start_date
        in: query
        required: false
        schema:
          type: string
          format: date
          example: '2021-10-19'
        description: Start date for filtering data (YYYY-MM-DD format)
      - name: end_date
        in: query
        required: false
        schema:
          type: string
          format: date
          example: '2021-10-19'
        description: End date for filtering data (YYYY-MM-DD format)
      - name: service
        in: query
        required: false
        schema:
          type: string
          enum:
          - Amazon Elastic Compute Cloud - Compute
          - Amazon Relational Database Service
        description: AWS service type for filtering. Supported services are EC2 and RDS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                - '123456789012'
                - '987654321098'
        '400':
          description: Invalid request parameters or unsupported service
components:
  schemas:
    FilterResponse:
      type: object
      properties:
        region:
          type: array
          items:
            type: string
          description: List of available AWS regions
          example:
          - us-east-1
          - us-west-2
          - eu-west-1
        instance_family:
          type: array
          items:
            type: string
          description: List of available instance families
          example:
          - m5
          - c5
          - r5
          - db.t3
          - db.r5
        account_id:
          type: array
          items:
            type: string
          description: List of available cloud provider account IDs
          example:
          - '123456789012'
          - '987654321098'
      required:
      - region
      - instance_family
      - account_id
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
