openapi: 3.2.0
info:
  title: Harness Templates API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Templates
  description: This contains a list of APIs specific to the Templates Validations and Refresh
paths:
  /template/api/refresh-template/refreshed-yaml:
    post:
      tags:
      - Templates
      summary: Get YAML with updated Template Inputs
      description: Returns YAML with updated Template Inputs for a given YAML
      operationId: getRefreshedYaml
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      - name: Load-From-Cache
        in: header
        schema:
          type: string
          default: 'false'
      - name: harnessYamlVersion
        in: query
        description: Harness YAML Version
        schema:
          type: string
          default: '0'
      requestBody:
        description: YAML
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequestDTO'
          application/yaml:
            schema:
              $ref: '#/components/schemas/RefreshRequestDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateError'
        default:
          description: Returns YAML with updated Template Inputs, when an underlying Template has been updated and a reconciliation is pending in a given YAML.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTORefreshResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTORefreshResponse'
  /template/api/refresh-template/validate-template-inputs:
    get:
      tags:
      - Templates
      summary: Validate Template Inputs in a YAML
      description: Validates the Template Inputs in a pipeline's YAML specification. If the Template Inputs are invalid, the operation returns an error summary.
      operationId: TemplatevalidateTemplateInputs
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: templateIdentifier
        in: query
        description: Template Identifier for the entity
        required: true
        schema:
          type: string
      - name: versionLabel
        in: query
        description: Template version
        required: true
        schema:
          type: string
      - name: Load-From-Cache
        in: header
        schema:
          type: string
          default: 'false'
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateError'
        default:
          description: Returns a validation result for Template Inputs present in a YAML specification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponseDTOValidateTemplateInputsResponseDTO'
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateResponseDTOValidateTemplateInputsResponseDTO'
  /template/api/templates/v2/applyTemplates:
    post:
      tags:
      - Templates
      summary: Gets complete yaml with templateRefs resolved
      operationId: getYamlWithTemplateRefsResolvedV2
      parameters:
      - name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        schema:
          type: string
      - name: projectIdentifier
        in: query
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      - name: Load-From-Cache
        in: header
        schema:
          type: string
          default: 'false'
      - name: AppendInputSetValidator
        in: query
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateApplyRequestDTO'
          application/yaml:
            schema:
              $ref: '#/components/schemas/TemplateApplyRequestDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateError'
        default:
          description: Gets complete yaml with templateRefs resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOTemplateMergeResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOTemplateMergeResponse'
  /template/api/templates:
    post:
      tags:
      - Templates
      summary: Create a Template
      operationId: createTemplate
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: label
        in: query
        description: Optional labels for this version (repeat). Requires template labels FF.
        schema:
          type: array
          items:
            type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: rootFolder
        in: query
        description: Path to the root folder of the Entity. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: filePath
        in: query
        description: File Path of the Entity.
        schema:
          type: string
      - name: commitMsg
        in: query
        description: File Path of the Entity.
        schema:
          type: string
      - name: isNewBranch
        in: query
        description: Checks the new branch
        schema:
          type: boolean
          default: false
      - name: baseBranch
        in: query
        description: Name of the default branch.
        schema:
          type: string
      - name: connectorRef
        in: query
        description: Identifier of Connector needed for CRUD operations on the respective Entity
        schema:
          type: string
      - name: storeType
        in: query
        description: Tells whether the Entity is to be saved on Git or not
        schema:
          type: string
          enum:
          - INLINE
          - REMOTE
          - INLINE_HC
      - name: repoName
        in: query
        description: Name of the repository.
        schema:
          type: string
      - name: isHarnessCodeRepo
        in: query
        description: Is Harness code repo enabled
        schema:
          type: boolean
      - name: setDefaultTemplate
        in: query
        description: Specify true if Default Template is to be set
        schema:
          type: boolean
          default: false
      - name: comments
        in: query
        description: Comments
        schema:
          type: string
      - name: isNewTemplate
        in: query
        description: When isNewTemplate flag is set user will not be able to create a new version for an existing template
        schema:
          type: boolean
          default: false
      - name: enableDAG
        in: query
        description: Set to true for Pipeline templates with DAG (Directed Acyclic Graph) execution
        schema:
          type: boolean
          default: false
      requestBody:
        description: Template YAML
        content:
          application/json:
            schema:
              type: string
            examples:
              Create:
                summary: Sample Create Template YAML
                description: Sample Template YAML
                value: "template:\n  name: pipelineTemplate\n  identifier: pipelineTemplate\n  versionLabel: v1\n  type: Pipeline\n  projectIdentifier: TemplateDemo\n  orgIdentifier: default\n  tags: {}\n  spec:\n    stages:\n      - stage:\n          name: stage1\n          identifier: stage1\n          description: \"\"\n          type: Deployment\n          spec:\n            deploymentType: Kubernetes\n            service:\n              serviceRef: <+input>\n              serviceInputs: <+input>\n            environment:\n              environmentRef: <+input>\n              deployToAll: false\n              environmentInputs: <+input>\n              infrastructureDefinitions: <+input>\n            execution:\n              steps:\n                - step:\n                    type: ShellScript\n                    name: Shell Script_1\n                    identifier: ShellScript_1\n                    spec:\n                      shell: Bash\n                      onDelegate: true\n                      source:\n                        type: Inline\n                        spec:\n                          script: <+input>\n                      environmentVariables: []\n                      outputVariables: []\n                    timeout: 10m\n              rollbackSteps: []\n          tags: {}\n          failureStrategies:\n            - onFailure:\n                errors:\n                  - AllErrors\n                action:\n                  type: StageRollback\n"
          application/yaml:
            schema:
              type: string
            examples:
              Create:
                summary: Sample Create Template YAML
                description: Sample Template YAML
                value: "template:\n  name: pipelineTemplate\n  identifier: pipelineTemplate\n  versionLabel: v1\n  type: Pipeline\n  projectIdentifier: TemplateDemo\n  orgIdentifier: default\n  tags: {}\n  spec:\n    stages:\n      - stage:\n          name: stage1\n          identifier: stage1\n          description: \"\"\n          type: Deployment\n          spec:\n            deploymentType: Kubernetes\n            service:\n              serviceRef: <+input>\n              serviceInputs: <+input>\n            environment:\n              environmentRef: <+input>\n              deployToAll: false\n              environmentInputs: <+input>\n              infrastructureDefinitions: <+input>\n            execution:\n              steps:\n                - step:\n                    type: ShellScript\n                    name: Shell Script_1\n                    identifier: ShellScript_1\n                    spec:\n                      shell: Bash\n                      onDelegate: true\n                      source:\n                        type: Inline\n                        spec:\n                          script: <+input>\n                      environmentVariables: []\n                      outputVariables: []\n                    timeout: 10m\n              rollbackSteps: []\n          tags: {}\n          failureStrategies:\n            - onFailure:\n                errors:\n                  - AllErrors\n                action:\n                  type: StageRollback\n"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateError'
        default:
          description: Returns the created Template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOTemplateWrapperResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOTemplateWrapperResponse'
  /template/api/templates/{templateIdentifier}/{versionLabel}:
    delete:
      tags:
      - Templates
      summary: Delete Template Version
      operationId: deleteTemplateVersion
      parameters:
      - name: If-Match
        in: header
        schema:
          type: string
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: templateIdentifier
        in: path
        description: Template Identifier for the entity
        required: true
        schema:
          type: string
      - name: versionLabel
        in: path
        description: Version Label
        required: true
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: rootFolder
        in: query
        description: Path to the root folder of the Entity. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: filePath
        in: query
        description: File Path of the Entity.
        schema:
          type: string
      - name: commitMsg
        in: query
        description: Commit Message to use for the merge commit.
        schema:
          type: string
      - name: lastObjectId
        in: query
        description: Last Object Id
        schema:
          type: string
      - name: comments
        in: query
        schema:
          type: string
      - name: forceDelete
        in: query
        description: If true, the Entity will be forced delete, without checking any references/usages
        schema:
          type: boolean
          default: false
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateError'
        default:
          description: Returns true if the Template is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
  /template/api/templates/{templateIdentifier}:
    get:
      tags:
      - Templates
      summary: Get Template
      operationId: getTemplate
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: templateIdentifier
        in: path
        description: Template Identifier for the entity
        required: true
        schema:
          type: string
      - name: label
        in: query
        description: Label
        schema:
          type: string
      - name: versionLabel
        in: query
        description: Version Label
        schema:
          type: string
      - name: deleted
        in: query
        description: Specifies whether Template is deleted or not
        schema:
          type: boolean
          default: false
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      - name: Load-From-Cache
        in: header
        schema:
          type: string
          default: 'false'
      - name: loadFromFallbackBranch
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateError'
        default:
          description: Returns the saved Template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOTemplateResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOTemplateResponse'
  /template/api/templates/templateInputs/{templateIdentifier}:
    get:
      tags:
      - Templates
      summary: Gets Template Input Set YAML
      operationId: getTemplateInputSetYaml
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: templateIdentifier
        in: path
        description: Template Identifier for the entity
        required: true
        schema:
          type: string
      - name: label
        in: query
        description: Template Label
        schema:
          type: string
      - name: versionLabel
        in: query
        description: Template Version Label
        schema:
          type: string
      - name: Load-From-Cache
        in: header
        schema:
          type: string
          default: 'false'
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateError'
        default:
          description: Returns the Template Input Set YAML
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOString'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOString'
  /template/api/templates/{templateIdentifier}/labels:
    get:
      tags:
      - Templates
      summary: Get custom labels per template version
      description: Per-version labels; optional version filter.
      operationId: getTemplateLabelsMap
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: templateIdentifier
        in: path
        description: Template Identifier for the entity
        required: true
        schema:
          type: string
      - name: versionLabel
        in: query
        description: Optional. Repeat to limit which versions are included.
        schema:
          type: array
          items:
            type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateError'
        default:
          description: account, org, project, identifier, versionToLabelsMapping, stableVersionLabel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOTemplateLabelMapResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOTemplateLabelMapResponse'
  /template/api/templates/entitySetupUsage/{templateIdentifier}:
    get:
      tags:
      - Templates
      summary: Get Entities referring this template
      operationId: listTemplateUsage
      parameters:
      - name: pageIndex
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
          default: 100
      - name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: templateIdentifier
        in: path
        description: Template Identifier for the entity
        required: true
        schema:
          type: string
      - name: versionLabel
        in: query
        description: Version Label
        schema:
          type: string
      - name: isStableTemplate
        in: query
        description: Is Stable Template
        schema:
          type: boolean
      - name: searchTerm
        in: query
        schema:
          type: string
      - name: allVersions
        in: query
        schema:
          type: string
          default: 'false'
      - name: templateEntityType
        in: query
        schema:
          type: string
          enum:
          - Step
          - Stage
          - Pipeline
          - CustomDeployment
          - MonitoredService
          - SecretManager
          - ArtifactSource
          - StepGroup
          - Workspace
          - Notification
          - Agent
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateError'
        default:
          description: Returns Entities list referring this template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseEntitySetupUsage'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseEntitySetupUsage'
  /template/api/templates/list-metadata:
    post:
      tags:
      - Templates
      summary: Gets all metadata of template list
      operationId: getTemplateMetadataList
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: page
        in: query
        description: 'Page Index of the results to fetch.Default Value: 0'
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        description: Results per page
        schema:
          type: integer
          format: int32
          default: 25
      - name: sort
        in: query
        description: Specifies sorting criteria of the list. Like sorting based on the last updated entity, alphabetical sorting in an ascending or descending order
        schema:
          type: array
          items:
            type: string
      - name: searchTerm
        in: query
        description: The word to be searched and included in the list response
        schema:
          type: string
      - name: filterIdentifier
        in: query
        description: Filter Identifier
        schema:
          type: string
      - name: templateListType
        in: query
        description: Template List Type
        required: true
        schema:
          type: string
          enum:
          - Stable
          - LastUpdated
          - All
      - name: includeAllTemplatesAvailableAtScope
        in: query
        description: Specify true if all accessible Templates are to be included
        schema:
          type: boolean
      - name: checkReferenced
        in: query
        description: Specify true to check whether template is referenced
        schema:
          type: boolean
          default: false
      - name: getDistinctFromBranches
        in: query
        schema:
          type: boolean
      - name: isGlobal
        in: query
        schema:
          type: boolean
          default: false
      requestBody:
        description: 'This contains details of Template filters based on Template Types and Template Names '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateFilterProperties'
          application/yaml:
            schema:
              $ref: '#/components/schemas/TemplateFilterProperties'
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateError'
        default:
          description: Returns a list of all the metadata of all Templates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageTemplateMetadataSummaryResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageTemplateMetadataSummaryResponse'
  /template/api/templates/move-config/{templateIdentifier}:
    post:
      tags:
      - Templates
      summary: Move Template YAML from inline to remote
      operationId: moveTemplateConfigs
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: templateIdentifier
        in: path
        description: Template Identifier for the entity
        required: true
        schema:
          type: string
      - name: connectorRef
        in: query
        description: Identifier of Connector needed for CRUD operations on the respective Entity
        schema:
          type: string
      - name: repoName
        in: query
        description: Name of the repository.
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: filePath
        in: query
        description: File Path of the Entity.
        schema:
          type: string
      - name: commitMsg
        in: query
        description: Commit Message to use for the merge commit.
        schema:
          type: string
      - name: isNewBranch
        in: query
        description: Checks the new branch
        schema:
          type: boolean
          default: false
      - name: baseBranch
        in: query
        description: Name of the default branch.
        schema:
          type: string
      - name: moveConfigType
        in: query
        description: Tells weather the entity has to be moved from inline to remote or remote to inline
        schema:
          type: string
          enum:
          - INLINE_TO_REMOTE
      - name: versionLabel
        in: query
        description: Version Label
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateError'
        default:
          description: Fetches Template YAML from Harness DB and creates a remote entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOTemplateMoveConfigResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOTemplateMoveConfigResponse'
  /template/api/templates/refresh-and-get/{templateIdentifier}:
    get:
      tags:
      - Templates
      summary: Refresh cache and fetch a Template
      description: Force-refreshes the git file cache for a remote Template and returns the freshly fetched entity. Requires the git branch query parameter — repo default branch is not inferred when branch is omitted. Behind the PIPE_GITX_FORCE_REFRESH feature flag.
      operationId: refreshAndGetTemplate
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: templateIdentifier
        in: path
        description: Template Identifier for the entity
        required: true
        schema:
          type: string
      - name: label
        in: query
        description: Label
        schema:
          type: string
      - name: versionLabel
        in: query
        description: Version Label
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateError'
        default:
          description: Returns Template YAML fetched fresh from git
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOTemplateResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOTemplateResponse'
  /template/api/templates/{templateIdentifier}/labels/replace:
    post:
      tags:
      - Templates
      summary: Replace custom labels for one template version
      description: Replace labels for one version. Invalid label tokens or other errors throw 4xx.
      operationId: replaceLabelsForTemplate
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: templateIdentifier
        in: path
        description: Template Identifier for the entity
        required: true
        schema:
          type: string
      requestBody:
        description: Labels and target template versionLabel
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateLabelsReplaceRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/TemplateLabelsReplaceRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateError'
  /template/api/templates/update/{templateIdentifier}/{versionLabel}:
    put:
      tags:
      - Templates
      summary: Update Template Version
      operationId: updateExistingTemplateVersion
      parameters:
      - name: If-Match
        in: header
        schema:
          type: string
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: templateIdentifier
        in: path
        description: Template Identifier for the entity
        required: true
        schema:
          type: string
      - name: versionLabel
        in: path
        description: Version Label
        required: true
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: rootFolder
        in: query
        description: Path to the root folder of the Entity. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: filePath
        in: query
        description: File Path of the Entity.
        schema:
          type: string
      - name: commitMsg
        in: query
        description: Commit Message to use for the merge commit.
        schema:
          type: string
      - name: lastObjectId
        in: query
        description: Its required field during update call request. It can be fetched from the response of GET API call for the entity
        schema:
          type: string
      - name: resolvedConflictCommitId
        in: query
        description: If the entity is git-synced, this parameter represents the commit id against which file conflicts are resolved
        schema:
          type: string
      - name: baseBranch
        in: query
        description: Name of the default branch.
        schema:
          type: string
      - name: connectorRef
        in: query
        description: Identifier of Connector needed for CRUD operations on the respective Entity
        schema:
          type: string
      - name: lastCommitId
        in: query
        description: last commit id of the file
        schema:
          type: string
      - name: isNewBranch
        in: query
        description: Checks the new branch
        schema:
          type: boolean
          default: false
      - name: isHarnessCodeRepo
        in: query
        description: Is Harness code repo enabled
        schema:
          type: boolean
      - name: setDefaultTemplate
        in: query
        description: Specify true if Default Template is to be set
        schema:
          type: boolean
          default: false
      - name: comments
        in: query
        description: Comments
        schema:
          type: string
      requestBody:
        description: Template YAML
        content:
          application/json:
            schema:
              type: string
            examples:
              Update:
                summary: Sample Update Template YAML
                description: Sample Template YAML
                value: "template:\n  name: pipelineTemplate\n  identifier: pipelineTemplate\n  versionLabel: v1\n  type: Pipeline\n  projectIdentifier: TemplateDemo\n  orgIdentifier: default\n  tags: {}\n  spec:\n    stages:\n      - stage:\n          name: stage1\n          identifier: stage1\n          description: \"\"\n          type: Deployment\n          spec:\n            deploymentType: Kubernetes\n            service:\n              serviceRef: <+input>\n              serviceInputs: <+input>\n            environment:\n              environmentRef: <+input>\n              deployToAll: false\n              environmentInputs: <+input>\n              infrastructureDefinitions: <+input>\n            execution:\n              steps:\n                - step:\n                    type: ShellScript\n                    name: Shell Script_1\n                    identifier: ShellScript_1\n                    spec:\n                      shell: Bash\n                      onDelegate: true\n                      source:\n                        type: Inline\n                        spec:\n                          script: <+input>\n                      environmentVariables: []\n                      outputVariables: []\n                    timeout: 10m\n              rollbackSteps: []\n          tags: {}\n          failureStrategies:\n            - onFailure:\n                errors:\n                  - AllErrors\n                action:\n                  type: StageRollback\n"
          application/yaml:
            schema:
              type: string
            examples:
              Update:
                summary: Sample Update Template YAML
                description: Sample Template YAML
                value: "template:\n  name: pipelineTemplate\n  identifier: pipelineTemplate\n  versionLabel: v1\n  type: Pipeline\n  projectIdentifier: TemplateDemo\n  orgIdentifier: default\n  tags: {}\n  spec:\n    stages:\n      - stage:\n          name: stage1\n          identifier: stage1\n          description: \"\"\n          type: Deployment\n          spec:\n            deploymentType: Kubernetes\n            service:\n              serviceRef: <+input>\n              serviceInputs: <+input>\n            environment:\n              environmentRef: <+input>\n              deployToAll: false\n              environmentInputs: <+input>\n              infrastructureDefinitions: <+input>\n            execution:\n              steps:\n                - step:\n                    type: ShellScript\n                    name: Shell Script_1\n                    identifier: ShellScript_1\n                    spec:\n                      shell: Bash\n                      onDelegate: true\n                      source:\n                        type: Inline\n                        spec:\n                          script: <+input>\n                      environmentVariables: []\n                      outputVariables: []\n                    timeout: 10m\n              rollbackSteps: []\n          tags: {}\n          failureStrategies:\n            - onFailure:\n                errors:\n                  - AllErrors\n                action:\n                  type: StageRollback\n"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateError'
        default:
          description: Returns the updated Template Version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOTemplateWrapperResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOTemplateWrapperResponse'
  /template/api/templates/update/git-metadata/{templateIdentifier}/{versionLabel}:
    post:
      tags:
      - Templates
      summary: Update git metadata details for a remote template
      operationId: updateGitDetails
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: templateIdentifier
        in: path
        description: Template Identifier for the entity
        required: true
        schema:
          type: string
      - name: versionLabel
        in: path
        description: Version Label
        required: true
        schema:
          type: string
      requestBody:
        description: This contains details of Git Entity like Git Branch info to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateUpdateGitDetailsRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/TemplateUpdateGitDetailsRequest'
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateError'
        default:
          description: Update git metadata details for a remote template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOTemplateUpdateGitDetailsResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOTemplateUpdateGitDetailsResponse'
  /template/api/templates/updateStableTemplate/{templateIdentifier}/{versionLabel}:
    put:
      tags:
      - Templates
      summary: Update Stable Template Version
      operationId: updateStableTemplate
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: templateIdentifier
        in: path
        description: Template Identifier for the entity
        required: true
        schema:
          type: string
      - name: versionLabel
        in: path
        description: Version Label
        required: true
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      - name: comments
        in: query
        description: Comments
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateError'
        default:
          description: Returns the updated Template Version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOString'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOString'
components:
  schemas:
    FeatureSupportOrBuilder:
      type: object
      properties:
        editionIntroduced:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        editionDeprecated:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        deprecationWarning:
          type: string
        deprecationWarningBytes:
          $ref: '#/components/schemas/ByteString'
        editionRemoved:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ResponseDTOBoolean:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          type: boolean
        metaData:
          type: object
        correlationId:
          type: string
    ParserMessage:
      type: object
    DeclarationOrBuilder:
      type: object
      properties:
        reserved:
          type: boolean
        fullNameBytes:
          $ref: '#/components/schemas/ByteString'
        type:
          type: string
        number:
          type: integer
          format: int32
        fullName:
          type: string
        repeated:
          type: boolean
        typeBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    FeatureSetOrBuilder:
      type: object
      properties:
        enumType:
          type: string
          enum:
          - ENUM_TYPE_UNKNOWN
          - OPEN
          - CLOSED
        jsonFormat:
          type: string
          enum:
          - JSON_FORMAT_UNKNOWN
          - ALLOW
          - LEGACY_BEST_EFFORT
        messageEncoding:
          type: string
          enum:
          - MESSAGE_ENCODING_UNKNOWN
          - LENGTH_PREFIXED
          - DELIMITED
        utf8Validation:
          type: string
          enum:
          - UTF8_VALIDATION_UNKNOWN
          - VERIFY
          - NONE
        fieldPresence:
          type: string
          enum:
          - FIELD_PRESENCE_UNKNOWN
          - EXPLICIT
          - IMPLICIT
          - LEGACY_REQUIRED
        repeatedFieldEncoding:
          type: string
          enum:
          - REPEATED_FIELD_ENCODING_UNKNOWN
          - PACKED
          - EXPANDED
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ResponseDTOTemplateLabelMapResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/TemplateLabelMapResponse'
        metaData:
          type: object
        correlationId:
          type: string
    TemplateLabelsReplaceRequest:
      required:
      - labels
      - versionLabel
      type: object
      properties:
        labels:
          type: array
          description: List of labels for the given versionLabel. May be empty to clear mappings.
          items:
            type: string
            description: List of labels for the given versionLabel. May be empty to clear mappings.
        versionLabel:
          type: string
          description: Target template versionLabel these labels resolve to.
      description: Labels to associate with a specific template version (batch replace for that version).
    ResponseDTOTemplateMoveConfigResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/TemplateMoveConfigResponse'
        metaData:
          type: object
        correlationId:
          type: string
    ParserFeatureSupport:
      type: object
    ServiceOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    EnumReservedRangeOrBuilder:
      type: object
      properties:
        start:
          type: integer
          format: int32
        end:
          type: integer
          format: int32
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ParserEnumValueOptions:
      type: object
    ResponseDTOTemplateResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/TemplateTemplateResponse'
        metaData:
          type: object
        correlationId:
          type: string
    TemplateError:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        code:
          type: string
          enum:
          - DEFAULT_ERROR_CODE
          - INVALID_ARGUMENT
          - INVALID_EMAIL
          - DOMAIN_NOT_ALLOWED_TO_REGISTER
          - COMMNITY_EDITION_NOT_FOUND
          - DEPLOY_MODE_IS_NOT_ON_PREM
          - USER_ALREADY_REGISTERED
          - USER_INVITATION_DOES_NOT_EXIST
          - USER_DOES_NOT_EXIST
          - USER_INVITE_OPERATION_FAILED
          - USER_DISABLED
          - ACCOUNT_DOES_NOT_EXIST
          - INACTIVE_ACCOUNT
          - ACCOUNT_MIGRATED
          - ACCOUNT_MIGRATED_TO_NEXT_GEN
          - USER_DOMAIN_NOT_ALLOWED
          - MAX_FAILED_ATTEMPT_COUNT_EXCEEDED
          - RESOURCE_NOT_FOUND
          - INVALID_FORMAT
          - ROLE_DOES_NOT_EXIST
          - EMAIL_NOT_VERIFIED
          - EMAIL_VERIFICATION_TOKEN_NOT_FOUND
          - INVALID_TOKEN
          - REVOKED_TOKEN
          - INVALID_CAPTCHA_TOKEN
          - NOT_ACCOUNT_MGR_NOR_HAS_ALL_APP_ACCESS
          - EXPIRED_TOKEN
          - INVALID_AGENT_MTLS_AUTHORITY
          - TOKEN_ALREADY_REFRESHED_ONCE
          - ACCESS_DENIED
          - NG_ACCESS_DENIED
          - INVALID_CREDENTIAL
          - INVALID_CREDENTIALS_THIRD_PARTY
          - INVALID_KEY
          - INVALID_CONNECTOR_TYPE
          - INVALID_KEYPATH
          - INVALID_VARIABLE
          - UNKNOWN_HOST
          - UNREACHABLE_HOST
          - INVALID_PORT
          - SSH_SESSION_TIMEOUT
          - ALGORITHM_NEGOTIATION_ERROR
          - SOCKET_CONNECTION_ERROR
          - CONNECTION_ERROR
          - COULD_NOT_PROCESS_ERROR
          - SOCKET_CONNECTION_TIMEOUT
          - WINRM_COMMAND_EXECUTION_TIMEOUT
          - CONNECTION_TIMEOUT
          - SSH_CONNECTION_ERROR
          - USER_GROUP_ERROR
          - INVALID_EXECUTION_ID
          - ERROR_IN_GETTING_CHANNEL_STREAMS
          - UNEXPECTED
          - UNKNOWN_ERROR
          - UNKNOWN_EXECUTOR_TYPE_ERROR
          - DUPLICATE_STATE_NAMES
          - TRANSITION_NOT_LINKED
          - TRANSITION_TO_INCORRECT_STATE
          - TRANSITION_TYPE_NULL
          - STATES_WITH_DUP_TRANSITIONS
          - BARRIERS_NOT_RUNNING_CONCURRENTLY
          - NON_FORK_STATES
          - NON_REPEAT_STATES
          - INITIAL_STATE_NOT_DEFINED
          - FILE_INTEGRITY_CHECK_FAILED
          - INVALID_URL
          - FILE_DOWNLOAD_FAILED
          - PLATFORM_SOFTWARE_DELETE_ERROR
          - INVALID_CSV_FILE
          - INVALID_REQUEST
          - SCHEMA_VALIDATION_FAILED
          - FILTER_CREATION_ERROR
          - INVALID_YAML_ERROR
          - PLAN_CREATION_ERROR
          - INVALID_INFRA_STATE
          - PIPELINE_ALREADY_TRIGGERED
          - NON_EXISTING_PIPELINE
          - DUPLICATE_COMMAND_NAMES
          - INVALID_PIPELINE
          - COMMAND_DOES_NOT_EXIST
          - DUPLICATE_ARTIFACTSTREAM_NAMES
          - DUPLICATE_HOST_NAMES
          - STATE_NOT_FOR_TYPE
          - STATE_MACHINE_ISSUE
          - STATE_DISCONTINUE_FAILED
          - STATE_PAUSE_FAILED
          - PAUSE_ALL_ALREADY
          - RESUME_ALL_ALREADY
          - ROLLBACK_ALREADY
          - ABORT_ALL_ALREADY
          - EXPIRE_ALL_ALREADY
          - RETRY_FAILED
          - UNKNOWN_ARTIFACT_TYPE
          - UNKNOWN_STAGE_ELEMENT_WRAPPER_TYPE
          - INIT_TIMEOUT
          - LICENSE_EXPIRED
          - NOT_LICENSED
          - REQUEST_TIMEOUT
          - SCM_REQUEST_TIMEOUT
          - WORKFLOW_ALREADY_TRIGGERED
          - JENKINS_ERROR
          - INVALID_ARTIFACT_SOURCE
          - INVALID_ARTIFACT_SERVER
          - INVALID_CLOUD_PROVIDER
          - UPDATE_NOT_ALLOWED
          - DELETE_NOT_ALLOWED
          - APPDYNAMICS_CONFIGURATION_ERROR
          - APM_CONFIGURATION_ERROR
          - SPLUNK_CONFIGURATION_ERROR
          - ELK_CONFIGURATION_ERROR
          - LOGZ_CONFIGURATION_ERROR
          - SUMO_CONFIGURATION_ERROR
          - INSTANA_CONFIGURATION_ERROR
          - APPDYNAMICS_ERROR
          - STACKDRIVER_ERROR
          - STACKDRIVER_CONFIGURATION_ERROR
          - NEWRELIC_CONFIGURATION_ERROR
          - NEWRELIC_ERROR
          - DYNA_TRACE_CONFIGURATION_ERROR
          - DYNA_TRACE_ERROR
          - CLOUDWATCH_ERROR
          - CLOUDWATCH_CONFIGURATION_ERROR
          - PROMETHEUS_CONFIGURATION_ERROR
          - DATA_DOG_CONFIGURATION_ERROR
          - SERVICE_GUARD_CONFIGURATION_ERROR
          - ENCRYPTION_NOT_CONFIGURED
          - UNAVAILABLE_DELEGATES
          - WORKFLOW_EXECUTION_IN_PROGRESS
          - PIPELINE_EXECUTION_IN_PROGRESS
          - AWS_ACCESS_DENIED
          - AWS_CLUSTER_NOT_FOUND
          - AWS_SERVICE_NOT_FOUND
          - IMAGE_NOT_FOUND
          - ILLEGAL_ARGUMENT
          - IMAGE_TAG_NOT_FOUND
          - DELEGATE_NOT_AVAILABLE
          - INVALID_YAML_PAYLOAD
          - AUTHENTICATION_ERROR
          - AUTHORIZATION_ERROR
          - UNRECOGNIZED_YAML_FIELDS
          - COULD_NOT_MAP_BEFORE_YAML
          - MISSING_BEFORE_YAML
          - MISSING_YAML
          - NON_EMPTY_DELETIONS
          - GENERAL_YAML_ERROR
          - GENERAL_YAML_INFO
          - YAML_GIT_SYNC_ERROR
          - GIT_CONNECTION_ERROR
          - GIT_ERROR
          - ARTIFACT_SERVER_ERROR
          - ENCRYPT_DECRYPT_ERROR
          - SECRET_MANAGEMENT_ERROR
          - SECRET_NOT_FOUND
          - KMS_OPERATION_ERROR
          - GCP_KMS_OPERATION_ERROR
          - VAULT_OPERATION_ERROR
          - AWS_SECRETS_MANAGER_OPERATION_ERROR
          - AZURE_KEY_VAULT_OPERATION_ERROR
          - AZURE_KEY_VAULT_INTERRUPT_ERROR
          - UNSUPPORTED_OPERATION_EXCEPTION
          - FEATURE_UNAVAILABLE
          - GENERAL_ERROR
          - BASELINE_CONFIGURATION_ERROR
          - SAML_IDP_CONFIGURATION_NOT_AVAILABLE
          - INVALID_AUTHENTICATION_MECHANISM
          - INVALID_SAML_CONFIGURATION
          - INVALID_OAUTH_CONFIGURATION
          - INVALID_LDAP_CONFIGURATION
          - USER_GROUP_SYNC_FAILURE
          - USER_GROUP_ALREADY_EXIST
          - INVALID_TWO_FACTOR_AUTHENTICATION_CONFIGURATION
          - EXPLANATION
          - HINT
          - NOT_WHITELISTED_IP
          - INVALID_TOTP_TOKEN
          - EMAIL_FAILED
          - SSL_HANDSHAKE_FAILED
          - NO_APPS_ASSIGNED
          - INVALID_INFRA_CONFIGURATION
          - TEMPLATES_LINKED
          - USER_HAS_NO_PERMISSIONS
          - USER_NOT_AUTHORIZED
          - USER_ALREADY_PRESENT
          - EMAIL_ERROR
          - INVALID_USAGE_RESTRICTION
          - USAGE_RESTRICTION_ERROR
          - STATE_EXECUTION_INSTANCE_NOT_FOUND
          - DELEGATE_TASK_RETRY
          - KUBERNETES_API_TASK_EXCEPTION
          - KUBERNETES_TASK_EXCEPTION
          - KUBERNETES_YAML_ERROR
          - SAVE_FILE_INTO_AWS_STORAGE_FAILED
          - READ_FILE_FROM_AWS_STORAGE_FAILED
          - SAVE_FILE_INTO_GCP_STORAGE_FAILED
          - READ_FILE_FROM_GCP_STORAGE_FAILED
          - FILE_NOT_FOUND_ERROR
          - USAGE_LIMITS_EXCEEDED
          - EVENT_PUBLISH_FAILED
          - CUSTOM_APPROVAL_ERROR
          - JIRA_ERROR
          - EXPRESSION_EVALUATION_FAILED
          - KUBERNETES_VALUES_ERROR
          - KUBERNETES_CLUSTER_ERROR
          - INCORRECT_SIGN_IN_MECHANISM
          - OAUTH_LOGIN_FAILED
          - INVALID_TERRAFORM_TARGETS_REQUEST
          - TERRAFORM_EXECUTION_ERROR
          - FILE_READ_FAILED
          - FILE_SIZE_EXCEEDS_LIMIT
          - CLUSTER_NOT_FOUND
          - MARKETPLACE_TOKEN_NOT_FOUND
          - INVALID_MARKETPLACE_TOKEN
          - INVALID_TICKETING_SERVER
          - SERVICENOW_ERROR
          - PASSWORD_EXPIRED
          - USER_LOCKED
          - PASSWORD_STRENGTH_CHECK_FAILED
          - ACCOUNT_DISABLED
          - INVALID_ACCOUNT_PERMISSION
          - PAGERDUTY_ERROR
          - HEALTH_ERROR
          - SAML_TEST_SUCCESS_MECHANISM_NOT_ENABLED
          - DOMAIN_WHITELIST_FILTER_CHECK_FAILED
          - INVALID_DASHBOARD_UPDATE_REQUEST
          - DUPLICATE_FIELD
          - INVALID_AZURE_VAULT_CONFIGURATION
          - USER_NOT_AUTHORIZED_DUE_TO_USAGE_RESTRICTIONS
          - INVALID_ROLLBACK
          - DATA_COLLECTION_ERROR
          - SUMO_DATA_COLLECTION_ERROR
          - DEPLOYMENT_GOVERNANCE_ERROR
          - BATCH_PROCESSING_ERROR
          - GRAPHQL_ERROR
          - FILE_CREATE_ERROR
          - ILLEGAL_STATE
          - GIT_DIFF_COMMIT_NOT_IN_ORDER
          - FAILED_TO_ACQUIRE_PERSISTENT_LOCK
          - FAILED_TO_ACQUIRE_NON_PERSISTENT_LOCK
          - POD_NOT_FOUND_ERROR
          - COMMAND_EXECUTION_ERROR
          - REGISTRY_EXCEPTION
          - ENGINE_INTERRUPT_PROCESSING_EXCEPTION
          - ENGINE_IO_EXCEPTION
          - ENGINE_OUTCOME_EXCEPTION
          - ENGINE_SWEEPING_OUTPUT_EXCEPTION
          - CACHE_NOT_FOUND_EXCEPTION
          - ENGINE_ENTITY_UPDATE_EXCEPTION
          - SHELL_EXECUTION_EXCEPTION
          - TEMPLATE_NOT_FOUND
          - AZURE_SERVICE_EXCEPTION
          - AZURE_CLIENT_EXCEPTION
          - GIT_UNSEEN_REMOTE_HEAD_COMMIT
          - TIMEOUT_ENGINE_EXCEPTION
          - NO_AVAILABLE_DELEGATES
          - NO_GLOBAL_DELEGATE_ACCOUNT
          - NO_INSTALLED_DELEGATES
          - DUPLICATE_DELEGATE_EXCEPTION
          - GCP_MARKETPLACE_EXCEPTION
          - MISSING_DEFAULT_GOOGLE_CREDENTIALS
          - INCORRECT_DEFAULT_GOOGLE_CREDENTIALS
          - OPTIMISTIC_LOCKING_EXCEPTION
          - NG_PIPELINE_EXECUTION_EXCEPTION
          - NG_PIPELINE_CREATE_EXCEPTION
          - RESOURCE_NOT_FOUND_EXCEPTION
          - PMS_INITIALIZE_SDK_EXCEPTION
          - UNEXPECTED_SNIPPET_EXCEPTION
          - UNEXPECTED_SCHEMA_EXCEPTION
          - CONNECTOR_VALIDATION_EXCEPTION
          - TIMESCALE_NOT_AVAILABLE
          - MIGRATION_EXCEPTION
          - REQUEST_PROCESSING_INTERRUPTED
          - SECRET_MANAGER_ID_NOT_FOUND
          - GCP_SECRET_MANAGER_OPERATION_ERROR
          - GCP_SECRET_OPERATION_ERROR
          - GIT_OPERATION_ERROR
          - TASK_FAILURE_ERROR
          - INSTANCE_STATS_PROCESS_ERROR
          - INSTANCE_STATS_MIGRATION_ERROR
          - DEPLOYMENT_MIGRATION_ERROR
          - CG_LICENSE_USAGE_ERROR
          - INSTANCE_STATS_AGGREGATION_ERROR
          - UNRESOLVED_EXPRESSIONS_ERROR
          - KRYO_HANDLER_NOT_FOUND_ERROR
          - DELEGATE_ERROR_HANDLER_EXCEPTION
          - DELEGATE_SERVICE_DRIVER_EXCEPTION
          - DELEGATE_INSTALLATION_COMMAND_NOT_SUPPORTED_EXCEPTION
          - UNEXPECTED_TYPE_ERROR
          - EXCEPTION_HANDLER_NOT_FOUND
          - CONNECTOR_NOT_FOUND_EXCEPTION
          - GCP_SERVER_ERROR
          - HTTP_RESPONSE_EXCEPTION
          - SCM_NOT_FOUND_ERROR
          - SCM_CONFLICT_ERROR
          - SCM_CONFLICT_ERROR_V2
          - SCM_UNPROCESSABLE_ENTITY
          - PROCESS_EXECUTION_EXCEPTION
          - SCM_UNAUTHORIZED
          - SCM_BAD_REQUEST
          - SCM_INTERNAL_SERVER_ERROR
          - DATA
          - CONTEXT
          - PR_CREATION_ERROR
          - URL_NOT_REACHABLE
          - URL_NOT_PROVIDED
          - ENGINE_EXPRESSION_EVALUATION_ERROR
          - ENGINE_FUNCTOR_ERROR
          - JIRA_CLIENT_ERROR
          - SCM_NOT_MODIFIED
          - APPROVAL_STEP_NG_ERROR
          - BUCKET_SERVER_ERROR
          - GIT_SYNC_ERROR
          - TEMPLATE_EXCEPTION
          - TEMPLATE_ALREADY_EXISTS_EXCEPTION
          - ENTITY_REFERENCE_EXCEPTION
          - ACTIVE_SERVICE_INSTANCES_PRESENT_EXCEPTION
          - INVALID_INPUT_SET
          - INVALID_OVERLAY_INPUT_SET
          - RESOURCE_ALREADY_EXISTS
          - INVALID_JSON_PAYLOAD
          - POLICY_EVALUATION_FAILURE
          - POLICY_SET_ERROR
          - INVALID_ARTIFACTORY_REGISTRY_REQUEST
          - INVALID_NEXUS_REGISTRY_REQUEST
          - ENTITY_NOT_FOUND
          - GITX_OAUTH_NOT_SET
          - INVALID_AZURE_CONTAINER_REGISTRY_REQUEST
          - AZURE_AUTHENTICATION_ERROR
          - AZURE_CONFIG_ERROR
          - DATA_PROCESSING_ERROR
          - INVALID_AZURE_AKS_REQUEST
          - AWS_IAM_ERROR
          - AWS_CF_ERROR
          - AWS_INSTANCE_ERROR
          - AWS_VPC_ERROR
          - AWS_TAG_ERROR
          - AWS_ASG_ERROR
          - AWS_LOAD_BALANCER_ERROR
          - SCM_INTERNAL_SERVER_ERROR_V2
          - SCM_FAILED_DEPENDENCY_ERROR
          - SCM_UNAUTHORIZED_ERROR_V2
          - TOO_MANY_REQUESTS
          - SCM_RATE_LIMIT_ERROR
          - INVALID_IDENTIFIER_REF
          - SPOTINST_NULL_ERROR
          - SPOTNIST_REST_EXCEPTION
          - SCM_UNEXPECTED_ERROR
          - DUPLICATE_FILE_IMPORT
          - AZURE_APP_SERVICES_TASK_EXCEPTION
          - AZURE_ARM_TASK_EXCEPTION
          - AZURE_BP_TASK_EXCEPTION
          - MEDIA_NOT_SUPPORTED
          - AWS_ECS_ERROR
          - AWS_APPLICATION_AUTO_SCALING
          - AWS_ECS_SERVICE_NOT_ACTIVE
          - AWS_ECS_CLIENT_ERROR
          - AWS_STS_ERROR
          - FREEZE_EXCEPTION
          - MISSING_EXCEPTION
          - DELEGATE_TASK_EXPIRED
          - DELEGATE_TASK_VALIDATION_FAILED
          - MONGO_EXECUTION_TIMEOUT_EXCEPTION
          - DELEGATE_NOT_REGISTERED
          - TERRAFORM_VAULT_SECRET_CLEANUP_FAILURE
          - APPROVAL_REJECTION
          - TERRAGRUNT_EXECUTION_ERROR
          - ADFS_ERROR
          - TERRAFORM_CLOUD_ERROR
          - CLUSTER_CREDENTIALS_NOT_FOUND
          - SCM_API_ERROR
          - INTERNAL_SERVER_ERROR
          - SCM_FORBIDDEN
          - AWS_EKS_ERROR
          - OPA_POLICY_EVALUATION_ERROR
          - USER_MARKED_FAILURE
          - SSH_RETRY
          - HTTP_CLIENT_ERROR_RESPONSE
          - HTTP_INTERNAL_SERVER_ERROR
          - HTTP_BAD_GATEWAY
          - HTTP_SERVICE_UNAVAILABLE
          - HTTP_GATEWAY_TIMEOUT
          - HTTP_SERVER_ERROR_RESPONSE
          - PIPELINE_UPDATE_EXCEPTION
          - SERVICENOW_REFRESH_TOKEN_ERROR
          - PARAMETER_FIELD_CAST_ERROR
          - ABORT_ALL_ALREADY_NG
          - WEBHOOK_EXCEPTION
          - INVALID_OIDC_CONFIGURATION
          - INVALID_CREDENTIALS
          - INVALID_OR_PRIVATE_REPO
          - BARRIER_FAILED_ERROR
          - ELASTICSEARCH_NOT_AVAILABLE
          - OBJECT_STORE_NOT_AVAILABLE
          - NO_ELIGIBLE_RUNNERS
          - NO_AVAILABLE_RUNNERS
          - RUNNER_DISCONNECTED
          - EVENT_LISTENER_STEP_FAILURE
          - TRANSACTION_ABORTED
          - UNRESOLVED_EXPRESSIONS_WITH_CONTEXT_ERROR
        message:
          type: string
        correlationId:
          type: string
        detailedMessage:
          type: string
        responseMessages:
          type: array
          items:
            $ref: '#/components/schemas/ResponseMessage'
        metadata:
          $ref: '#/components/schemas/TemplateErrorMetadata'
      description: This is Error entity as defined in Harness
    ParserFieldDescriptorProto:
      type: object
    FieldOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        editionDefaultsOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EditionDefaultOrBuilder'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        packed:
          type: boolean
        jstype:
          type: string
          enum:
          - JS_NORMAL
          - JS_STRING
          - JS_NUMBER
        lazy:
          type: boolean
        unverifiedLazy:
          type: boolean
        weak:
          type: boolean
        debugRedact:
          type: boolean
        retention:
          type: string
          enum:
          - RETENTION_UNKNOWN
          - RETENTION_RUNTIME
          - RETENTION_SOURCE
        targetsList:
          type: array
          items:
            type: string
            enum:
            - TARGET_TYPE_UNKNOWN
            - TARGET_TYPE_FILE
            - TARGET_TYPE_EXTENSION_RANGE
            - TARGET_TYPE_MESSAGE
            - TARGET_TYPE_FIELD
            - TARGET_TYPE_ONEOF
            - TARGET_TYPE_ENUM
            - TARGET_TYPE_ENUM_ENTRY
            - TARGET_TYPE_SERVICE
            - TARGET_TYPE_METHOD
        targetsCount:
          type: integer
          format: int32
        editionDefaultsList:
          type: array
          items:
            $ref: '#/components/schemas/EditionDefault'
        editionDefaultsCount:
          type: integer
          format: int32
        featureSupport:
          $ref: '#/components/schemas/FeatureSupport'
        featureSupportOrBuilder:
          $ref: '#/components/schemas/FeatureSupportOrBuilder'
        ctype:
          type: string
          enum:
          - STRING
          - CORD
          - STRING_PIECE
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ResponseDTOString:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          type: string
        metaData:
          type: object
        correlationId:
          type: string
    TemplatePolicySetMetadataOrBuilder:
      type: object
      properties:
        created:
          type: integer
          format: int64
        identifierBytes:
          $ref: '#/components/schemas/ByteString'
        status:
          type: string
        accountId:
          type: string
        orgId:
          type: string
        projectId:
          type: string
        statusBytes:
          $ref: '#/components/schemas/ByteString'
        accountIdBytes:
          $ref: '#/components/schemas/ByteString'
        orgIdBytes:
          $ref: '#/components/schemas/ByteString'
        projectIdBytes:
          $ref: '#/components/schemas/ByteString'
        policySetId:
          type: string
        deny:
          type: boolean
        policyMetadataList:
          type: array
          items:
            $ref: '#/components/schemas/TemplatePolicyMetadata'
        policySetName:
          type: string
        policyMetadataCount:
          type: integer
          format: int32
        policySetIdBytes:
          $ref: '#/components/schemas/ByteString'
        policyMetadataOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/PolicyMetadataOrBuilder'
        policySetNameBytes:
          $ref: '#/components/schemas/ByteString'
        descriptionBytes:
          $ref: '#/components/schemas/ByteString'
        description:
          type: string
        identifier:
          type: string
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        initialized:
          type: boolean
    TemplateTemplateResponse:
      required:
      - accountId
      - identifier
      - name
      - yaml
      type: object
      properties:
        accountId:
          type: string
        orgIdentifier:
          type: string
        projectIdentifier:
          type: string
        identifier:
          type: string
        name:
          type: string
        description:
          maxLength: 1024
          minLength: 0
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        yaml:
          type: string
        mergedYaml:
          type: string
        versionLabel:
          type: string
        isStableTemplate:
          type: boolean
          writeOnly: true
        labels:
          type: array
          items:
            type: string
        enableDAG:
          type: boolean
        templateEntityType:
          type: string
          enum:
          - Step
          - Stage
          - Pipeline
          - CustomDeployment
          - MonitoredService
          - SecretManager
          - ArtifactSource
          - StepGroup
          - Workspace
          - Notification
          - Agent
        childType:
          type: string
        templateScope:
          type: string
          enum:
          - account
          - org
          - project
          - unknown
        version:
          type: integer
          format: int64
        gitDetails:
          $ref: '#/components/schemas/TemplateEntityGitDetails'
        entityValidityDetails:
          $ref: '#/components/schemas/TemplateEntityGitDetails'
        lastUpdatedAt:
          type: integer
          format: int64
        storeType:
          type: string
          enum:
          - INLINE
          - REMOTE
          - INLINE_HC
        connectorRef:
          type: string
        icon:
          type: string
        cacheResponseMetadata:
          $ref: '#/components/schemas/CacheResponseMetadata'
        yamlVersion:
          type: string
        bulkReconcileUUID:
          type: string
        hasInsert:
          type: boolean
        isInlineHCEntity:
          type: boolean
        opaOnSaveStatus:
          $ref: '#/components/schemas/TemplateOpaOnSaveStatus'
        stableTemplate:
          type: boolean
      description: This contains details of the Template Response
    EnumValueDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        number:
          type: integer
          format: int32
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/EnumValueOptions'
        defaultInstanceForType:
          $ref: '#/components/schemas/EnumValueDescriptorProto'
        parserForType:
          $ref: '#/components/schemas/ParserEnumValueDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        optionsOrBuilder:
          $ref: '#/components/schemas/EnumValueOptionsOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    TemplateErrorMetadata:
      type: object
      properties:
        type:
          type: string
      description: This implements different error meta data objects
      discriminator:
        propertyName: type
    ParserReservedRange:
      type: object
    CvDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/MessageOptions'
        fieldCount:
          type: integer
          format: int32
        defaultInstanceForType:
          $ref: '#/components/schemas/CvDescriptorProto'
        reservedRangeList:
          type: array
          items:
            $ref: '#/components/schemas/ReservedRange'
        reservedNameList:
          type: array
          properties:
            empty:
              type: boolean
          items:
            type: string
        extensionRangeList:
          type: array
          items:
            $ref: '#/components/schemas/ExtensionRange'
        oneofDeclCount:
          type: integer
          format: int32
        nestedTypeCount:
          type: integer
          format: int32
        enumTypeCount:
          type: integer
          format: int32
        extensionCount:
          type: integer
          format: int32
        extensionRangeCount:
          type: integer
          format: int32
        parserForType:
          $ref: '#/components/schemas/ParserDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        enumTypeList:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptorProto'
        extensionList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProto'
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        enumTypeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptorProtoOrBuilder'
        extensionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProtoOrBuilder'
        optionsOrBuilder:
          $ref: '#/components/schemas/MessageOptionsOrBuilder'
        fieldList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProto'
        nestedTypeList:
          type: array
          items:
            $ref: '#/components/schemas/CvDescriptorProto'
        oneofDeclList:
          type: array
          items:
            $ref: '#/components/schemas/OneofDescriptorProto'
        reservedRangeCount:
          type: integer
          format: int32
        reservedNameCount:
          type: integer
          format: int32
        fieldOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProtoOrBuilder'
        nestedTypeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/DescriptorProtoOrBuilder'
        extensionRangeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/ExtensionRangeOrBuilder'
        oneofDeclOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/OneofDescriptorProtoOrBuilder'
        reservedRangeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/ReservedRangeOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    EnumValueOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        debugRedact:
          type: boolean
        featureSupport:
          $ref: '#/components/schemas/FeatureSupport'
        featureSupportOrBuilder:
          $ref: '#/components/schemas/FeatureSupportOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ExtensionRangeOptionsOrBuilder:
      type: object
      properties:
        declarationOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/DeclarationOrBuilder'
        features:
          $ref: '#/components/schemas/FeatureSet'
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        declarationCount:
          type: integer
          format: int32
        verification:
          type: string
          enum:
          - DECLARATION
          - UNVERIFIED
        declarationList:
          type: array
          items:
            $ref: '#/components/schemas/CvDeclaration'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    Pageable:
      type: object
      properties:
        offset:
          type: integer
          format: int64
        sort:
          $ref: '#/components/schemas/Sort'
        pageSize:
          type: integer
          format: int32
        pageNumber:
          type: integer
          format: int32
        paged:
          type: boolean
        unpaged:
          type: boolean
    Sort:
      type: object
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
    NamePartOrBuilder:
      type: object
      properties:
        namePart:
          type: string
        isExtension:
          type: boolean
        namePartBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    TemplateWrapperResponse:
      type: object
      properties:
        isValid:
          type: boolean
          writeOnly: true
        templateResponseDTO:
          $ref: '#/components/schemas/TemplateTemplateResponse'
        governanceMetadata:
          $ref: '#/components/schemas/TemplateGovernanceMetadata'
        templateLabelsApplyResult:
          $ref: '#/components/schemas/TemplateLabelsReplaceResponse'
        valid:
          type: boolean
      description: This contains details of the Template Wrapper Response
    Parser:
      type: object
    TemplateResponseDTOValidateTemplateInputsResponseDTO:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/ValidateTemplateInputsResponseDTO'
        metaData:
          type: object
        correlationId:
          type: string
    TemplatePolicySetMetadata:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        created:
          type: integer
          format: int64
        defaultInstanceForType:
          $ref: '#/components/schemas/TemplatePolicySetMetadata'
        parserForType:
          $ref: '#/components/schemas/ParserPolicySetMetadata'
        serializedSize:
          type: integer
          format: int32
        identifierBytes:
          $ref: '#/components/schemas/ByteString'
        status:
          type: string
        accountId:
          type: string
        orgId:
          type: string
        projectId:
          type: string
        statusBytes:
          $ref: '#/components/schemas/ByteString'
        accountIdBytes:
          $ref: '#/components/schemas/ByteString'
        orgIdBytes:
          $ref: '#/components/schemas/ByteString'
        projectIdBytes:
          $ref: '#/components/schemas/ByteString'
        policySetId:
          type: string
        deny:
          type: boolean
        policyMetadataList:
          type: array
          items:
            $ref: '#/components/schemas/TemplatePolicyMetadata'
        policySetName:
          type: string
        policyMetadataCount:
          type: integer
          format: int32
        policySetIdBytes:
          $ref: '#/components/schemas/ByteString'
        policyMetadataOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/PolicyMetadataOrBuilder'
        policySetNameBytes:
          $ref: '#/components/schemas/ByteString'
        descriptionBytes:
          $ref: '#/components/schemas/ByteString'
        initialized:
          type: boolean
        description:
          type: string
        identifier:
          type: string
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ValidateTemplateInputsResponseDTO:
      type: object
      properties:
        validYaml:
          type: boolean
        errorNodeSummary:
          $ref: '#/components/schemas/TemplateErrorNodeSummary'
        type:
          type: string
    ParserEditionDefault:
      type: object
    FileOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        javaStringCheckUtf8:
          type: boolean
        optimizeFor:
          type: string
          enum:
          - SPEED
          - CODE_SIZE
          - LITE_RUNTIME
        goPackage:
          type: string
        goPackageBytes:
          $ref: '#/components/schemas/ByteString'
        ccGenericServices:
          type: boolean
        javaGenericServices:
          type: boolean
        pyGenericServices:
          type: boolean
        deprecated:
          type: boolean
        ccEnableArenas:
          type: boolean
        objcClassPrefix:
          type: string
        objcClassPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        csharpNamespace:
          type: string
        csharpNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        swiftPrefix:
          type: string
        swiftPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        phpClassPrefix:
          type: string
        javaPackage:
          type: string
        javaPackageBytes:
          $ref: '#/components/schemas/ByteString'
        javaOuterClassname:
          type: string
        javaOuterClassnameBytes:
          $ref: '#/components/schemas/ByteString'
        javaMultipleFiles:
          type: boolean
        javaGenerateEqualsAndHash:
          type: boolean
        phpClassPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        phpNamespace:
          type: string
        phpNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        phpMetadataNamespace:
          type: string
        phpMetadataNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        rubyPackage:
          type: string
        rubyPackageBytes:
          $ref: '#/components/schemas/ByteString'
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    TemplateInfo:
      type: object
      properties:
        templateIdentifier:
          type: string
        versionLabel:
          type: string
        templateEntityType:
          type: string
          enum:
          - Step
          - Stage
          - Pipeline
          - CustomDeployment
          - MonitoredService
          - SecretManager
          - ArtifactSource
          - StepGroup
          - Workspace
          - Notification
          - Agent
    OneofDescriptor:
      type: object
      properties:
        index:
          type: integer
          format: int32
        proto:
          $ref: '#/components/schemas/OneofDescriptorProto'
        options:
          $ref: '#/components/schemas/OneofOptions'
        fullName:
          type: string
        file:
          $ref: '#/components/schemas/FileDescriptor'
        containingType:
          $ref: '#/components/schemas/CvDescriptor'
        fieldCount:
          type: integer
          format: int32
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptor'
[...]
