openapi: 3.2.0
info:
  title: Harness Frontend API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Frontend
  description: Endpoints that power the STO micro-frontend
paths:
  /sto/api/v2/frontend/all-issues/filters:
    x-internal: true
    get:
      description: Provide list of filters for a projects latest baseline scans
      operationId: Frontend#AllIssuesFilters
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: Harness Organization ID
        example: example_org
        in: query
        name: orgId
        required: true
        schema:
          description: Harness Organization ID
          example: example_org
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Harness Project ID
        example: example_project
        in: query
        name: projectId
        required: true
        schema:
          description: Harness Project ID
          example: example_project
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                exploitabilityFlag: true
                issueCategories:
                - Insecure Direct Object Reference (AI SAST)
                - SQL Injection
                latestBaselineScans:
                - pipelineId: pipeline_1
                  scanTool: owasp
                  scanToolName: OWASP
                  targetId: abcdef1234567890ghijkl
                  targetName: The Target
                  targetType: repository
                - pipelineId: pipeline_1
                  scanTool: owasp
                  scanToolName: OWASP
                  targetId: abcdef1234567890ghijkl
                  targetName: The Target
                  targetType: repository
                - pipelineId: pipeline_1
                  scanTool: owasp
                  scanToolName: OWASP
                  targetId: abcdef1234567890ghijkl
                  targetName: The Target
                  targetType: repository
                - pipelineId: pipeline_1
                  scanTool: owasp
                  scanToolName: OWASP
                  targetId: abcdef1234567890ghijkl
                  targetName: The Target
                  targetType: repository
                reachabilityFlag: true
              schema:
                $ref: '#/components/schemas/AllIssuesFiltersResult'
          description: OK response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '404':
          content:
            application/json:
              example:
                message: Not Found
                status: 404
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'NotFound: Not Found response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'InternalServerError: Internal Server Error response.'
      security:
      - jwt_header_Authorization:
        - sto_issue_view
      tags:
      - Frontend
      summary: Frontend#All issues filters
      x-summary-source: derived
  /sto/api/v2/frontend/all-issues/issues:
    x-internal: true
    get:
      description: Provides a paginated list of issues for a project found in the latest baseline scans
      operationId: Frontend#AllIssuesList
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: Harness Organization ID
        example: example_org
        in: query
        name: orgId
        required: true
        schema:
          description: Harness Organization ID
          example: example_org
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Harness Project ID
        example: example_project
        in: query
        name: projectId
        required: true
        schema:
          description: Harness Project ID
          example: example_project
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Page number to fetch (starting from 0)
        example: 4
        in: query
        name: page
        schema:
          default: 0
          description: Page number to fetch (starting from 0)
          example: 4
          format: int64
          minimum: 0
          type: integer
      - allowEmptyValue: true
        description: Number of results per page
        example: 50
        in: query
        name: pageSize
        schema:
          default: 30
          description: Number of results per page
          example: 50
          format: int64
          maximum: 100
          minimum: 1
          type: integer
      - allowEmptyValue: true
        example: target1111111111111111,abcdef1234567890abcdef
        in: query
        name: targetIds
        schema:
          example: target1111111111111111,abcdef1234567890abcdef
          pattern: ^([a-zA-Z0-9_-]{22})(,[a-zA-Z0-9_-]{22})*$
          type: string
      - allowEmptyValue: true
        example: repository,container
        in: query
        name: targetTypes
        schema:
          example: repository,container
          pattern: ^(repository|container|instance|configuration)(,repository|,container|,instance|,configuration)*$
          type: string
      - allowEmptyValue: true
        example: pipeline1,pipeline2
        in: query
        name: pipelineIds
        schema:
          example: pipeline1,pipeline2
          pattern: ^([a-zA-Z0-9_-]+)(,[a-zA-Z0-9_-]+)*$
          type: string
      - allowEmptyValue: true
        example: owasp,zap
        in: query
        name: scanTools
        schema:
          example: owasp,zap
          pattern: ^([a-zA-Z0-9_-]+)(,[a-zA-Z0-9_-]+)*$
          type: string
      - allowEmptyValue: true
        example: Critical,High,Medium
        in: query
        name: severityCodes
        schema:
          example: Critical,High,Medium
          pattern: ^(Critical|High|Medium|Low|Info)(,Critical|,High|,Medium|,Low|,Info)*$
          type: string
      - allowEmptyValue: true
        example: None,Pending,Rejected,Expired,PartiallyExempted
        in: query
        name: exemptionStatuses
        schema:
          example: None,Pending,Rejected,Expired,PartiallyExempted
          pattern: ^(None|Pending|Approved|Rejected|Expired|PartiallyExempted)(,None|,Pending|,Approved|,Rejected|,Expired|,PartiallyExempted)*$
          type: string
      - allowEmptyValue: true
        description: Filter issues by whether their severity has been overridden. Use 'Yes,No' for all issues.
        example: 'Yes'
        in: query
        name: severityOverriden
        schema:
          default: Yes,No
          description: Filter issues by whether their severity has been overridden. Use 'Yes,No' for all issues.
          example: 'Yes'
          pattern: ^(Yes|No)(,Yes|,No)*$
          type: string
      - allowEmptyValue: true
        example: CWE-123
        in: query
        name: search
        schema:
          example: CWE-123
          maxLength: 256
          type: string
      - allowEmptyValue: true
        description: Return only the baseline issue with this exact issue ID. Intended for deeplink targeting (e.g. opening the issue details side panel from a JIRA ticket); not exposed in the UI search box and applied independently of the free-text 'search' filter.
        example: abcdef1234567890abcdef
        in: query
        name: searchById
        schema:
          description: Return only the baseline issue with this exact issue ID. Intended for deeplink targeting (e.g. opening the issue details side panel from a JIRA ticket); not exposed in the UI search box and applied independently of the free-text 'search' filter.
          example: abcdef1234567890abcdef
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        example: SAST
        in: query
        name: issueTypes
        schema:
          example: SAST
          pattern: ^(SAST|DAST|SCA|IAC|SECRET|MISCONFIG|BUG_SMELLS|CODE_SMELLS|CODE_COVERAGE|EXTERNAL_POLICY|UNKNOWN)(,SAST|,DAST|,SCA|,IAC|,SECRET|,MISCONFIG|,BUG_SMELLS|,CODE_SMELLS|,CODE_COVERAGE|,EXTERNAL_POLICY|,UNKNOWN)*$
          type: string
      - allowEmptyValue: true
        example: Active,Exempted,Remediated
        in: query
        name: statuses
        schema:
          example: Active,Exempted,Remediated
          pattern: ^(Active|Exempted|Remediated)(,Active|,Exempted|,Remediated)*$
          type: string
      - allowEmptyValue: true
        description: Filter by reachability status. 'reachable' shows issues with any reachable occurrence. 'unknown-reachability' shows issues where all occurrences are unreachable or have no reachability data.
        example: reachable
        in: query
        name: reachability
        schema:
          description: Filter by reachability status. 'reachable' shows issues with any reachable occurrence. 'unknown-reachability' shows issues where all occurrences are unreachable or have no reachability data.
          example: reachable
          pattern: ^(reachable|unknown-reachability)(,reachable|,unknown-reachability)*$
          type: string
      - allowEmptyValue: true
        description: Filter by exploitability status. 'yes' shows issues with any exploitable occurrence. 'no' shows issues where no occurrence is exploitable.
        example: 'yes'
        in: query
        name: exploitability
        schema:
          description: Filter by exploitability status. 'yes' shows issues with any exploitable occurrence. 'no' shows issues where no occurrence is exploitable.
          example: 'yes'
          pattern: ^(yes|no)(,yes|,no)*$
          type: string
      - allowEmptyValue: true
        description: Filter by AI triage verdict. Comma-separated list of enum values ('LikelyFP', 'LikelyTP', 'NotEvaluatedYet') or UI labels ('Likely FP', 'Likely TP', 'Not Evaluated Yet'). Issues with no triage data are excluded when this filter is set.
        example: Likely FP
        in: query
        name: aiTriaged
        schema:
          description: Filter by AI triage verdict. Comma-separated list of enum values ('LikelyFP', 'LikelyTP', 'NotEvaluatedYet') or UI labels ('Likely FP', 'Likely TP', 'Not Evaluated Yet'). Issues with no triage data are excluded when this filter is set.
          example: Likely FP
          pattern: ^(LikelyFP|LikelyTP|NotEvaluatedYet|Likely FP|Likely TP|Not Evaluated Yet)(,(LikelyFP|LikelyTP|NotEvaluatedYet|Likely FP|Likely TP|Not Evaluated Yet))*$
          type: string
      - allowEmptyValue: true
        description: Filter by Qwiet AI issue category from issue.details.category. Comma-separated. Use NA for issues without a category.
        example: Insecure Direct Object Reference (AI SAST),NA
        in: query
        name: categories
        schema:
          description: Filter by Qwiet AI issue category from issue.details.category. Comma-separated. Use NA for issues without a category.
          example: Insecure Direct Object Reference (AI SAST),NA
          maxLength: 4096
          type: string
      - allowEmptyValue: true
        description: 'EPSS Probability filter (single select): all (no filter), gte_15 (>=15%), gte_5 (>=5%), gte_1 (>=1%), na (N/A - No EPSS data)'
        example: gte_15
        in: query
        name: epss
        schema:
          description: 'EPSS Probability filter (single select): all (no filter), gte_15 (>=15%), gte_5 (>=5%), gte_1 (>=1%), na (N/A - No EPSS data)'
          example: gte_15
          pattern: ^(all|gte_15|gte_5|gte_1|na)$
          type: string
      - allowEmptyValue: true
        description: 'EPSS Percentile filter (single select): all (no filter), gte_99 (>=99th), gte_90 (>=90th), gte_80 (>=80th), na (N/A - No EPSS data)'
        example: gte_99
        in: query
        name: epssPercentile
        schema:
          description: 'EPSS Percentile filter (single select): all (no filter), gte_99 (>=99th), gte_90 (>=90th), gte_80 (>=80th), na (N/A - No EPSS data)'
          example: gte_99
          pattern: ^(all|gte_99|gte_90|gte_80|na)$
          type: string
      - allowEmptyValue: true
        description: 'CISA KEV catalog filter (multi-select, OR within): all (no filter), true (in KEV catalog), false (not in KEV catalog, including no CVE refs)'
        example: 'true'
        in: query
        name: inKev
        schema:
          description: 'CISA KEV catalog filter (multi-select, OR within): all (no filter), true (in KEV catalog), false (not in KEV catalog, including no CVE refs)'
          example: 'true'
          pattern: ^(all|true|false)(,true|,false)*$
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                hasRules: true
                issues:
                - aiTriaged: LikelyFP
                  epssLastModified: '2025-05-01'
                  epssPercentile: 0.15
                  epssScore: 0.035
                  exemptionExpiration: 1651578240
                  exemptionId: abcdef1234567890ghijkl
                  exemptionStatus: Pending
                  exploitability: 'yes'
                  id: abcdef1234567890ghijkl
                  issueType: Quis in qui accusantium.
                  lastDetected: 1634836529
                  numOccurrences: 12
                  numTargetsImpacted: 2
                  overrides:
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  reachability: reachable
                  severityCode: High
                  status: Remediated
                  title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
                - aiTriaged: LikelyFP
                  epssLastModified: '2025-05-01'
                  epssPercentile: 0.15
                  epssScore: 0.035
                  exemptionExpiration: 1651578240
                  exemptionId: abcdef1234567890ghijkl
                  exemptionStatus: Pending
                  exploitability: 'yes'
                  id: abcdef1234567890ghijkl
                  issueType: Quis in qui accusantium.
                  lastDetected: 1634836529
                  numOccurrences: 12
                  numTargetsImpacted: 2
                  overrides:
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  reachability: reachable
                  severityCode: High
                  status: Remediated
                  title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
                - aiTriaged: LikelyFP
                  epssLastModified: '2025-05-01'
                  epssPercentile: 0.15
                  epssScore: 0.035
                  exemptionExpiration: 1651578240
                  exemptionId: abcdef1234567890ghijkl
                  exemptionStatus: Pending
                  exploitability: 'yes'
                  id: abcdef1234567890ghijkl
                  issueType: Quis in qui accusantium.
                  lastDetected: 1634836529
                  numOccurrences: 12
                  numTargetsImpacted: 2
                  overrides:
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  reachability: reachable
                  severityCode: High
                  status: Remediated
                  title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
                pagination:
                  link: ''
                  page: 4
                  pageSize: 20
                  totalItems: 230
                  totalPages: 12
              schema:
                $ref: '#/components/schemas/AllIssuesListResult'
          description: OK response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '404':
          content:
            application/json:
              example:
                message: Not Found
                status: 404
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'NotFound: Not Found response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'InternalServerError: Internal Server Error response.'
      security:
      - jwt_header_Authorization:
        - sto_issue_view
      tags:
      - Frontend
      summary: Frontend#All issues list
      x-summary-source: derived
  /sto/api/v2/frontend/all-issues/issues/{issueId}:
    x-internal: true
    get:
      description: Provides issue details for a project's latest baseline scans
      operationId: Frontend#AllIssuesDetails
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: Harness Organization ID
        example: example_org
        in: query
        name: orgId
        required: true
        schema:
          description: Harness Organization ID
          example: example_org
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Harness Project ID
        example: example_project
        in: query
        name: projectId
        required: true
        schema:
          description: Harness Project ID
          example: example_project
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        example: None,Pending,Rejected,Expired,PartiallyExempted
        in: query
        name: exemptionStatuses
        schema:
          example: None,Pending,Rejected,Expired,PartiallyExempted
          pattern: ^(None|Pending|Approved|Rejected|Expired|PartiallyExempted)(,None|,Pending|,Approved|,Rejected|,Expired|,PartiallyExempted)*$
          type: string
      - allowEmptyValue: true
        example: A Target Name
        in: query
        name: search
        schema:
          example: A Target Name
          maxLength: 256
          type: string
      - allowEmptyValue: true
        description: Page number to fetch (starting from 0)
        example: 4
        in: query
        name: page
        schema:
          default: 0
          description: Page number to fetch (starting from 0)
          example: 4
          format: int64
          minimum: 0
          type: integer
      - allowEmptyValue: true
        description: Number of results per page
        example: 50
        in: query
        name: pageSize
        schema:
          default: 30
          description: Number of results per page
          example: 50
          format: int64
          maximum: 100
          minimum: 1
          type: integer
      - description: The ID of the Security Issue
        example: abcdef1234567890ghijkl
        in: path
        name: issueId
        required: true
        schema:
          description: The ID of the Security Issue
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                description: Est eligendi et at.
                epssLastModified: '2025-05-01'
                epssPercentile: 0.15
                epssScore: 0.035
                exploitability: 'yes'
                impactedTargets:
                - executionId: abcdef1234567890ghijkl
                  exemptionId: abcdef1234567890ghijkl
                  exemptionStatus: Pending
                  exploitability: 'yes'
                  id: target1111111111111111
                  lastDetected: 1634836529
                  name: The Target Name
                  numOccurrences: 10
                  pipelineId: example_pipeline
                  reachability: reachable
                  userEmail: user@gmail.com
                  userId: Necessitatibus fugiat voluptas.
                  userName: firstname lastname
                  variantName: Accusamus amet eos ea laborum doloremque qui.
                - executionId: abcdef1234567890ghijkl
                  exemptionId: abcdef1234567890ghijkl
                  exemptionStatus: Pending
                  exploitability: 'yes'
                  id: target1111111111111111
                  lastDetected: 1634836529
                  name: The Target Name
                  numOccurrences: 10
                  pipelineId: example_pipeline
                  reachability: reachable
                  userEmail: user@gmail.com
                  userId: Necessitatibus fugiat voluptas.
                  userName: firstname lastname
                  variantName: Accusamus amet eos ea laborum doloremque qui.
                - executionId: abcdef1234567890ghijkl
                  exemptionId: abcdef1234567890ghijkl
                  exemptionStatus: Pending
                  exploitability: 'yes'
                  id: target1111111111111111
                  lastDetected: 1634836529
                  name: The Target Name
                  numOccurrences: 10
                  pipelineId: example_pipeline
                  reachability: reachable
                  userEmail: user@gmail.com
                  userId: Necessitatibus fugiat voluptas.
                  userName: firstname lastname
                  variantName: Accusamus amet eos ea laborum doloremque qui.
                inKev: true
                issueType: Omnis dignissimos aut distinctio dignissimos cum.
                lastDetected: 1634836529
                overrides:
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                pagination:
                  link: ''
                  page: 4
                  pageSize: 20
                  totalItems: 230
                  totalPages: 12
                reachability: reachable
                recentActivities:
                - actorName: Priya Nair
                  created: 1781391060
                  id: hist111111111111111111
                  isAutoExpiry: false
                  status: Expired
                - actorName: Priya Nair
                  created: 1781391060
                  id: hist111111111111111111
                  isAutoExpiry: false
                  status: Expired
                - actorName: Priya Nair
                  created: 1781391060
                  id: hist111111111111111111
                  isAutoExpiry: false
                  status: Expired
                - actorName: Priya Nair
                  created: 1781391060
                  id: hist111111111111111111
                  isAutoExpiry: false
                  status: Expired
                referenceIdentifiers:
                - id: Consequatur consectetur dignissimos adipisci sunt.
                  type: Est tempora.
                - id: Consequatur consectetur dignissimos adipisci sunt.
                  type: Est tempora.
                scanTool: owasp
                severityCode: High
                targetType: Quia quasi ipsam et delectus.
                title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
              schema:
                $ref: '#/components/schemas/AllIssuesDetailsResult'
          description: OK response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'InternalServerError: Internal Server Error response.'
      security:
      - jwt_header_Authorization:
        - sto_issue_view
      tags:
      - Frontend
      summary: Frontend#All issues details
      x-summary-source: derived
  /sto/api/v2/frontend/all-issues/issues/{issueId}/targets/{targetId}:
    x-internal: true
    get:
      description: Provide list of filters for the latest scans of a baseline
      operationId: Frontend#AllIssuesOccurrenceDetails
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: Harness Organization ID
        example: example_org
        in: query
        name: orgId
        required: true
        schema:
          description: Harness Organization ID
          example: example_org
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Harness Project ID
        example: example_project
        in: query
        name: projectId
        required: true
        schema:
          description: Harness Project ID
          example: example_project
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Page number to fetch (starting from 0)
        example: 4
        in: query
        name: page
        schema:
          default: 0
          description: Page number to fetch (starting from 0)
          example: 4
          format: int64
          minimum: 0
          type: integer
      - allowEmptyValue: true
        description: Number of results per page
        example: 50
        in: query
        name: pageSize
        schema:
          default: 30
          description: Number of results per page
          example: 50
          format: int64
          maximum: 100
          minimum: 1
          type: integer
      - allowEmptyValue: true
        example: None,Pending,Rejected,Expired,PartiallyExempted
        in: query
        name: exemptionStatuses
        schema:
          example: None,Pending,Rejected,Expired,PartiallyExempted
          pattern: ^(None|Pending|Approved|Rejected|Expired|PartiallyExempted)(,None|,Pending|,Approved|,Rejected|,Expired|,PartiallyExempted)*$
          type: string
      - allowEmptyValue: true
        example: A Target Name
        in: query
        name: search
        schema:
          example: A Target Name
          maxLength: 256
          type: string
      - description: The ID of the Security Issue
        example: abcdef1234567890ghijkl
        in: path
        name: issueId
        required: true
        schema:
          description: The ID of the Security Issue
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - description: Associated Target ID
        example: abcdef1234567890ghijkl
        in: path
        name: targetId
        required: true
        schema:
          description: Associated Target ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                aiTriaged: LikelyFP
                aiTriagedReasoning: The argument to path.join is __dirname, a constant, not user input.
                description: Fugit necessitatibus.
                exemptionId: abcdef1234567890ghijkl
                exploitability: 'yes'
                issueType: Accusantium rerum autem.
                lastDetected: 1634836529
                occurrences:
                - Aperiam ex quibusdam quia adipisci perferendis.: Voluptate at corrupti.
                  Dolor architecto qui odio natus distinctio.: Ut omnis minus.
                  In dolorem molestiae consectetur fugiat.: Ratione labore dolor quisquam a.
                - Et quis aliquid quasi ducimus magni.: Quia accusantium ullam sunt.
                  Veritatis quidem ratione tempore in corporis.: Quas quidem id provident voluptas.
                - Nemo iusto.: Ullam eos iste consequatur occaecati impedit ut.
                  Voluptas consequatur id quas nobis.: Eum magnam est corrupti et.
                pagination:
                  link: ''
                  page: 4
                  pageSize: 20
                  totalItems: 230
                  totalPages: 12
                reachability: reachable
                referenceIdentifiers:
                - id: Consequatur consectetur dignissimos adipisci sunt.
                  type: Est tempora.
                - id: Consequatur consectetur dignissimos adipisci sunt.
                  type: Est tempora.
                severityCode: High
                targetName: The Target
                targetType: Ratione at aut illum.
                targetVariantId: abcdef1234567890ghijkl
                title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
                variantName: Autem eos saepe perspiciatis molestiae blanditiis perferendis.
              schema:
                $ref: '#/components/schemas/AllIssuesOccurrenceDetailsResult'
          description: OK response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'InternalServerError: Internal Server Error response.'
      security:
      - jwt_header_Authorization:
        - sto_issue_view
      tags:
      - Frontend
      summary: Frontend#All issues occurrence details
      x-summary-source: derived
  /sto/api/v2/frontend/all-issues/v2/counts:
    x-internal: true
    get:
      description: Returns severity-based and issue-type-based counts for the all-issues page using the pre-aggregated summary table
      operationId: Frontend#AllIssuesCountsV2
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: Harness Organization ID
        example: example_org
        in: query
        name: orgId
        required: true
        schema:
          description: Harness Organization ID
          example: example_org
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Harness Project ID
        example: example_project
        in: query
        name: projectId
        required: true
        schema:
          description: Harness Project ID
          example: example_project
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        example: target1111111111111111,abcdef1234567890abcdef
        in: query
        name: targetIds
        schema:
          example: target1111111111111111,abcdef1234567890abcdef
          pattern: ^([a-zA-Z0-9_-]{22})(,[a-zA-Z0-9_-]{22})*$
          type: string
      - allowEmptyValue: true
        example: repository,container
        in: query
        name: targetTypes
        schema:
          example: repository,container
          pattern: ^(repository|container|instance|configuration)(,repository|,container|,instance|,configuration)*$
          type: string
      - allowEmptyValue: true
        example: pipeline1,pipeline2
        in: query
        name: pipelineIds
        schema:
          example: pipeline1,pipeline2
          pattern: ^([a-zA-Z0-9_-]+)(,[a-zA-Z0-9_-]+)*$
          type: string
      - allowEmptyValue: true
        example: owasp,zap
        in: query
        name: scanTools
        schema:
          example: owasp,zap
          pattern: ^([a-zA-Z0-9_-]+)(,[a-zA-Z0-9_-]+)*$
          type: string
      - allowEmptyValue: true
        example: Critical,High,Medium
        in: query
        name: severityCodes
        schema:
          example: Critical,High,Medium
          pattern: ^(Critical|High|Medium|Low|Info)(,Critical|,High|,Medium|,Low|,Info)*$
          type: string
      - allowEmptyValue: true
        example: None,Pending,Rejected,Expired,PartiallyExempted
        in: query
        name: exemptionStatuses
        schema:
          example: None,Pending,Rejected,Expired,PartiallyExempted
          pattern: ^(None|Pending|Approved|Rejected|Expired|PartiallyExempted)(,None|,Pending|,Approved|,Rejected|,Expired|,PartiallyExempted)*$
          type: string
      - allowEmptyValue: true
        description: Filter issues by whether their severity has been overridden. Use 'Yes,No' for all issues.
        example: 'Yes'
        in: query
        name: severityOverriden
        schema:
          default: Yes,No
          description: Filter issues by whether their severity has been overridden. Use 'Yes,No' for all issues.
          example: 'Yes'
          pattern: ^(Yes|No)(,Yes|,No)*$
          type: string
      - allowEmptyValue: true
        example: CWE-123
        in: query
        name: search
        schema:
          example: CWE-123
          maxLength: 256
          type: string
      - allowEmptyValue: true
        description: Return only the baseline issue with this exact issue ID. Intended for deeplink targeting (e.g. opening the issue details side panel from a JIRA ticket); not exposed in the UI search box and applied independently of the free-text 'search' filter.
        example: abcdef1234567890abcdef
        in: query
        name: searchById
        schema:
          description: Return only the baseline issue with this exact issue ID. Intended for deeplink targeting (e.g. opening the issue details side panel from a JIRA ticket); not exposed in the UI search box and applied independently of the free-text 'search' filter.
          example: abcdef1234567890abcdef
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        example: SAST
        in: query
        name: issueTypes
        schema:
          example: SAST
          pattern: ^(SAST|DAST|SCA|IAC|SECRET|MISCONFIG|BUG_SMELLS|CODE_SMELLS|CODE_COVERAGE|EXTERNAL_POLICY|UNKNOWN)(,SAST|,DAST|,SCA|,IAC|,SECRET|,MISCONFIG|,BUG_SMELLS|,CODE_SMELLS|,CODE_COVERAGE|,EXTERNAL_POLICY|,UNKNOWN)*$
          type: string
      - allowEmptyValue: true
        example: Active,Exempted,Remediated
        in: query
        name: statuses
        schema:
          example: Active,Exempted,Remediated
          pattern: ^(Active|Exempted|Remediated)(,Active|,Exempted|,Remediated)*$
          type: string
      - allowEmptyValue: true
        description: Filter by reachability status. 'reachable' shows issues with any reachable occurrence. 'unknown-reachability' shows issues where all occurrences are unreachable or have no reachability data.
        example: reachable
        in: query
        name: reachability
        schema:
          description: Filter by reachability status. 'reachable' shows issues with any reachable occurrence. 'unknown-reachability' shows issues where all occurrences are unreachable or have no reachability data.
          example: reachable
          pattern: ^(reachable|unknown-reachability)(,reachable|,unknown-reachability)*$
          type: string
      - allowEmptyValue: true
        description: Filter by exploitability status. 'yes' shows issues with any exploitable occurrence. 'no' shows issues where no occurrence is exploitable.
        example: 'yes'
        in: query
        name: exploitability
        schema:
          description: Filter by exploitability status. 'yes' shows issues with any exploitable occurrence. 'no' shows issues where no occurrence is exploitable.
          example: 'yes'
          pattern: ^(yes|no)(,yes|,no)*$
          type: string
      - allowEmptyValue: true
        description: Filter by AI triage verdict. Comma-separated list of enum values ('LikelyFP', 'LikelyTP', 'NotEvaluatedYet') or UI labels ('Likely FP', 'Likely TP', 'Not Evaluated Yet'). Issues with no triage data are excluded when this filter is set.
        example: Likely FP
        in: query
        name: aiTriaged
        schema:
          description: Filter by AI triage verdict. Comma-separated list of enum values ('LikelyFP', 'LikelyTP', 'NotEvaluatedYet') or UI labels ('Likely FP', 'Likely TP', 'Not Evaluated Yet'). Issues with no triage data are excluded when this filter is set.
          example: Likely FP
          pattern: ^(LikelyFP|LikelyTP|NotEvaluatedYet|Likely FP|Likely TP|Not Evaluated Yet)(,(LikelyFP|LikelyTP|NotEvaluatedYet|Likely FP|Likely TP|Not Evaluated Yet))*$
          type: string
      - allowEmptyValue: true
        description: Filter by Qwiet AI issue category from issue.details.category. Comma-separated. Use NA for issues without a category.
        example: Insecure Direct Object Reference (AI SAST),NA
        in: query
        name: categories
        schema:
          description: Filter by Qwiet AI issue category from issue.details.category. Comma-separated. Use NA for issues without a category.
          example: Insecure Direct Object Reference (AI SAST),NA
          maxLength: 4096
          type: string
      - allowEmptyValue: true
        description: 'EPSS Probability filter (single select): all (no filter), gte_15 (>=15%), gte_5 (>=5%), gte_1 (>=1%), na (N/A - No EPSS data)'
        example: gte_15
        in: query
        name: epss
        schema:
          description: 'EPSS Probability filter (single select): all (no filter), gte_15 (>=15%), gte_5 (>=5%), gte_1 (>=1%), na (N/A - No EPSS data)'
          example: gte_15
          pattern: ^(all|gte_15|gte_5|gte_1|na)$
          type: string
      - allowEmptyValue: true
        description: 'EPSS Percentile filter (single select): all (no filter), gte_99 (>=99th), gte_90 (>=90th), gte_80 (>=80th), na (N/A - No EPSS data)'
        example: gte_99
        in: query
        name: epssPercentile
        schema:
          description: 'EPSS Percentile filter (single select): all (no filter), gte_99 (>=99th), gte_90 (>=90th), gte_80 (>=80th), na (N/A - No EPSS data)'
          example: gte_99
          pattern: ^(all|gte_99|gte_90|gte_80|na)$
          type: string
      - allowEmptyValue: true
        description: 'CISA KEV catalog filter (multi-select, OR within): all (no filter), true (in KEV catalog), false (not in KEV catalog, including no CVE refs)'
        example: 'true'
        in: query
        name: inKev
        schema:
          description: 'CISA KEV catalog filter (multi-select, OR within): all (no filter), true (in KEV catalog), false (not in KEV catalog, including no CVE refs)'
          example: 'true'
          pattern: ^(all|true|false)(,true|,false)*$
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                issueTypeCounts:
                  Delectus quo eveniet dolor et.: 4446992006003987000
                  Deleniti cum qui nobis.: 5866948253269774000
                  Et ab corrupti quas et quod hic.: 5328760490430885000
                severityCounts:
                  critical: 1
                  high: 3
                  ignored: 1
                  info: 11
                  low: 39
                  medium: 17
              schema:
                $ref: '#/components/schemas/AllIssuesCountsV2Result'
          description: OK response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '404':
          content:
            application/json:
              example:
                message: Not Found
                status: 404
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'NotFound: Not Found response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'InternalServerError: Internal Server Error response.'
      security:
      - jwt_header_Authorization:
        - sto_issue_view
      tags:
      - Frontend
      summary: Frontend#All issues counts V2
      x-summary-source: derived
  /sto/api/v2/frontend/all-issues/v2/counts/total:
    x-internal: true
    get:
      description: Returns filter-independent total issue count and total occurrences for a project
      operationId: Frontend#AllIssuesTotalsV2
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: Harness Organization ID
        example: example_org
        in: query
        name: orgId
        required: true
        schema:
          description: Harness Organization ID
          example: example_org
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Harness Project ID
        example: example_project
        in: query
        name: projectId
        required: true
        schema:
          description: Harness Project ID
          example: example_project
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                totalFpCount: 9079639780261498000
                totalIssues: 2960802548015444500
                totalOccurrences: 7570576156143440000
                totalTpCount: 5474443646894541000
              schema:
                $ref: '#/components/schemas/AllIssuesTotalsV2Result'
          description: OK response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '404':
          content:
            application/json:
              example:
                message: Not Found
                status: 404
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'NotFound: Not Found response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'InternalServerError: Internal Server Error response.'
      security:
      - jwt_header_Authorization:
        - sto_issue_view
      tags:
      - Frontend
      summary: Frontend#All issues totals V2
      x-summary-source: derived
  /sto/api/v2/frontend/all-issues/v2/issues:
    x-internal: true
    get:
      description: Provides a paginated list of issues for a project using the pre-aggregated summary table
      operationId: Frontend#AllIssuesListV2
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: Harness Organization ID
        example: example_org
        in: query
        name: orgId
        required: true
        schema:
          description: Harness Organization ID
          example: example_org
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Harness Project ID
        example: example_project
        in: query
        name: projectId
        required: true
        schema:
          description: Harness Project ID
          example: example_project
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Page number to fetch (starting from 0)
        example: 4
        in: query
        name: page
        schema:
          default: 0
          description: Page number to fetch (starting from 0)
          example: 4
          format: int64
          minimum: 0
          type: integer
      - allowEmptyValue: true
        description: Number of results per page
        example: 50
        in: query
        name: pageSize
        schema:
          default: 30
          description: Number of results per page
          example: 50
          format: int64
          maximum: 100
          minimum: 1
          type: integer
      - allowEmptyValue: true
        example: target1111111111111111,abcdef1234567890abcdef
        in: query
        name: targetIds
        schema:
          example: target1111111111111111,abcdef1234567890abcdef
          pattern: ^([a-zA-Z0-9_-]{22})(,[a-zA-Z0-9_-]{22})*$
          type: string
      - allowEmptyValue: true
        example: repository,container
        in: query
        name: targetTypes
        schema:
          example: repository,container
          pattern: ^(repository|container|instance|configuration)(,repository|,container|,instance|,configuration)*$
          type: string
      - allowEmptyValue: true
        example: pipeline1,pipeline2
        in: query
        name: pipelineIds
        schema:
          example: pipeline1,pipeline2
          pattern: ^([a-zA-Z0-9_-]+)(,[a-zA-Z0-9_-]+)*$
          type: string
      - allowEmptyValue: true
        example: owasp,zap
        in: query
        name: scanTools
        schema:
          example: owasp,zap
          pattern: ^([a-zA-Z0-9_-]+)(,[a-zA-Z0-9_-]+)*$
          type: string
      - allowEmptyValue: true
        example: Critical,High,Medium
        in: query
        name: severityCodes
        schema:
          example: Critical,High,Medium
          pattern: ^(Critical|High|Medium|Low|Info)(,Critical|,High|,Medium|,Low|,Info)*$
          type: string
      - allowEmptyValue: true
        example: None,Pending,Rejected,Expired,PartiallyExempted
        in: query
        name: exemptionStatuses
        schema:
          example: None,Pending,Rejected,Expired,PartiallyExempted
          pattern: ^(None|Pending|Approved|Rejected|Expired|PartiallyExempted)(,None|,Pending|,Approved|,Rejected|,Expired|,PartiallyExempted)*$
          type: string
      - allowEmptyValue: true
        description: Filter issues by whether their severity has been overridden. Use 'Yes,No' for all issues.
        example: 'Yes'
        in: query
        name: severityOverriden
        schema:
          default: Yes,No
          description: Filter issues by whether their severity has been overridden. Use 'Yes,No' for all issues.
          example: 'Yes'
          pattern: ^(Yes|No)(,Yes|,No)*$
          type: string
      - allowEmptyValue: true
        example: CWE-123
        in: query
        name: search
        schema:
          example: CWE-123
          maxLength: 256
          type: string
      - allowEmptyValue: true
        description: Return only the baseline issue with this exact issue ID. Intended for deeplink targeting (e.g. opening the issue details side panel from a JIRA ticket); not exposed in the UI search box and applied independently of the free-text 'search' filter.
        example: abcdef1234567890abcdef
        in: query
        name: searchById
        schema:
          description: Return only the baseline issue with this exact issue ID. Intended for deeplink targeting (e.g. opening the issue details side panel from a JIRA ticket); not exposed in the UI search box and applied independently of the free-text 'search' filter.
          example: abcdef1234567890abcdef
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        example: SAST
        in: query
        name: issueTypes
        schema:
          example: SAST
          pattern: ^(SAST|DAST|SCA|IAC|SECRET|MISCONFIG|BUG_SMELLS|CODE_SMELLS|CODE_COVERAGE|EXTERNAL_POLICY|UNKNOWN)(,SAST|,DAST|,SCA|,IAC|,SECRET|,MISCONFIG|,BUG_SMELLS|,CODE_SMELLS|,CODE_COVERAGE|,EXTERNAL_POLICY|,UNKNOWN)*$
          type: string
      - allowEmptyValue: true
        example: Active,Exempted,Remediated
        in: query
        name: statuses
        schema:
          example: Active,Exempted,Remediated
          pattern: ^(Active|Exempted|Remediated)(,Active|,Exempted|,Remediated)*$
          type: string
      - allowEmptyValue: true
        description: Filter by reachability status. 'reachable' shows issues with any reachable occurrence. 'unknown-reachability' shows issues where all occurrences are unreachable or have no reachability data.
        example: reachable
        in: query
        name: reachability
        schema:
          description: Filter by reachability status. 'reachable' shows issues with any reachable occurrence. 'unknown-reachability' shows issues where all occurrences are unreachable or have no reachability data.
          example: reachable
          pattern: ^(reachable|unknown-reachability)(,reachable|,unknown-reachability)*$
          type: string
      - allowEmptyValue: true
        description: Filter by exploitability status. 'yes' shows issues with any exploitable occurrence. 'no' shows issues where no occurrence is exploitable.
        example: 'yes'
        in: query
        name: exploitability
        schema:
          description: Filter by exploitability status. 'yes' shows issues with any exploitable occurrence. 'no' shows issues where no occurrence is exploitable.
          example: 'yes'
          pattern: ^(yes|no)(,yes|,no)*$
          type: string
      - allowEmptyValue: true
        description: Filter by AI triage verdict. Comma-separated list of enum values ('LikelyFP', 'LikelyTP', 'NotEvaluatedYet') or UI labels ('Likely FP', 'Likely TP', 'Not Evaluated Yet'). Issues with no triage data are excluded when this filter is set.
        example: Likely FP
        in: query
        name: aiTriaged
        schema:
          description: Filter by AI triage verdict. Comma-separated list of enum values ('LikelyFP', 'LikelyTP', 'NotEvaluatedYet') or UI labels ('Likely FP', 'Likely TP', 'Not Evaluated Yet'). Issues with no triage data are excluded when this filter is set.
          example: Likely FP
          pattern: ^(LikelyFP|LikelyTP|NotEvaluatedYet|Likely FP|Likely TP|Not Evaluated Yet)(,(LikelyFP|LikelyTP|NotEvaluatedYet|Likely FP|Likely TP|Not Evaluated Yet))*$
          type: string
      - allowEmptyValue: true
        description: Filter by Qwiet AI issue category from issue.details.category. Comma-separated. Use NA for issues without a category.
        example: Insecure Direct Object Reference (AI SAST),NA
        in: query
        name: categories
        schema:
          description: Filter by Qwiet AI issue category from issue.details.category. Comma-separated. Use NA for issues without a category.
          example: Insecure Direct Object Reference (AI SAST),NA
          maxLength: 4096
          type: string
      - allowEmptyValue: true
        description: 'EPSS Probability filter (single select): all (no filter), gte_15 (>=15%), gte_5 (>=5%), gte_1 (>=1%), na (N/A - No EPSS data)'
        example: gte_15
        in: query
        name: epss
        schema:
          description: 'EPSS Probability filter (single select): all (no filter), gte_15 (>=15%), gte_5 (>=5%), gte_1 (>=1%), na (N/A - No EPSS data)'
          example: gte_15
          pattern: ^(all|gte_15|gte_5|gte_1|na)$
          type: string
      - allowEmptyValue: true
        description: 'EPSS Percentile filter (single select): all (no filter), gte_99 (>=99th), gte_90 (>=90th), gte_80 (>=80th), na (N/A - No EPSS data)'
        example: gte_99
        in: query
        name: epssPercentile
        schema:
          description: 'EPSS Percentile filter (single select): all (no filter), gte_99 (>=99th), gte_90 (>=90th), gte_80 (>=80th), na (N/A - No EPSS data)'
          example: gte_99
          pattern: ^(all|gte_99|gte_90|gte_80|na)$
          type: string
      - allowEmptyValue: true
        description: 'CISA KEV catalog filter (multi-select, OR within): all (no filter), true (in KEV catalog), false (not in KEV catalog, including no CVE refs)'
        example: 'true'
        in: query
        name: inKev
        schema:
          description: 'CISA KEV catalog filter (multi-select, OR within): all (no filter), true (in KEV catalog), false (not in KEV catalog, including no CVE refs)'
          example: 'true'
          pattern: ^(all|true|false)(,true|,false)*$
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                hasRules: true
                issues:
                - aiTriaged: LikelyFP
                  epssLastModified: '2025-05-01'
                  epssPercentile: 0.15
                  epssScore: 0.035
                  exemptionStatus: Pending
                  exploitability: 'yes'
                  id: abcdef1234567890ghijkl
                  issueType: Commodi quo suscipit ducimus quibusdam enim dolor.
                  lastDetected: 1634836529
                  numOccurrences: 12
                  numTargetsImpacted: 2
                  overrides:
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  reachability: reachable
                  severityCode: High
                  status: Exempted
                  title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
                - aiTriaged: LikelyFP
                  epssLastModified: '2025-05-01'
                  epssPercentile: 0.15
                  epssScore: 0.035
                  exemptionStatus: Pending
                  exploitability: 'yes'
                  id: abcdef1234567890ghijkl
                  issueType: Commodi quo suscipit ducimus quibusdam enim dolor.
                  lastDetected: 1634836529
                  numOccurrences: 12
                  numTargetsImpacted: 2
                  overrides:
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  reachability: reachable
                  severityCode: High
                  status: Exempted
                  title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
                pagination:
                  link: ''
                  page: 4
                  pageSize: 20
                  totalItems: 230
                  totalPages: 12
              schema:
                $ref: '#/components/schemas/AllIssuesListV2Result'
          description: OK response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '404':
          content:
            application/json:
              example:
                message: Not Found
                status: 404
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'NotFound: Not Found response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'InternalServerError: Internal Server Error response.'
      security:
      - jwt_header_Authorization:
        - sto_issue_view
      tags:
      - Frontend
      summary: Frontend#All issues list V2
      x-summary-source: derived
  /sto/api/v2/frontend/all-issues/v2/issues/{issueId}:
    x-internal: true
    get:
      description: Provides issue details for a project using the pre-aggregated summary and detection tables
      operationId: Frontend#AllIssuesDetailsV2
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: Harness Organization ID
        example: example_org
        in: query
        name: orgId
        required: true
        schema:
          description: Harness Organization ID
          example: example_org
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Harness Project ID
        example: example_project
        in: query
        name: projectId
        required: true
        schema:
          description: Harness Project ID
          example: example_project
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        example: None,Pending,Rejected,Expired,PartiallyExempted
        in: query
        name: exemptionStatuses
        schema:
          example: None,Pending,Rejected,Expired,PartiallyExempted
          pattern: ^(None|Pending|Approved|Rejected|Expired|PartiallyExempted)(,None|,Pending|,Approved|,Rejected|,Expired|,PartiallyExempted)*$
          type: string
      - allowEmptyValue: true
        example: A Target Name
        in: query
        name: search
        schema:
          example: A Target Name
          maxLength: 256
          type: string
      - allowEmptyValue: true
        description: Page number to fetch (starting from 0)
        example: 4
        in: query
        name: page
        schema:
          default: 0
          description: Page number to fetch (starting from 0)
          example: 4
          format: int64
          minimum: 0
          type: integer
      - allowEmptyValue: true
        description: Number of results per page
        example: 50
        in: query
        name: pageSize
        schema:
          default: 30
          description: Number of results per page
          example: 50
          format: int64
          maximum: 100
          minimum: 1
          type: integer
      - description: The ID of the Security Issue
        example: abcdef1234567890ghijkl
        in: path
        name: issueId
        required: true
        schema:
          description: The ID of the Security Issue
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                aiTriaged: LikelyFP
                aiTriagedReasoning: The argument to path.join is __dirname, a constant, not user input.
                description: Similique possimus voluptate.
                epssLastModified: '2025-05-01'
                epssPercentile: 0.15
                epssScore: 0.035
                exemptionStatus: Pending
                exploitability: 'yes'
                impactedTargets:
                - aiTriaged: LikelyFP
                  aiTriagedReasoning: The argument to path.join is __dirname, a constant, not user input.
                  executionId: abcdef1234567890ghijkl
                  exemptionId: abcdef1234567890ghijkl
                  exemptionStatus: Pending
                  exploitability: 'yes'
                  id: target1111111111111111
                  lastDetected: 1634836529
                  name: The Target Name
                  numOccurrences: 10
                  pipelineId: example_pipeline
                  reachability: reachable
                  status: Remediated
                  userEmail: user@gmail.com
                  userId: Molestiae ad distinctio.
                  userName: firstname lastname
                  variantName: Quis incidunt enim vero quis iusto inventore.
                - aiTriaged: LikelyFP
                  aiTriagedReasoning: The argument to path.join is __dirname, a constant, not user input.
                  executionId: abcdef1234567890ghijkl
                  exemptionId: abcdef1234567890ghijkl
                  exemptionStatus: Pending
                  exploitability: 'yes'
                  id: target1111111111111111
                  lastDetected: 1634836529
                  name: The Target Name
                  numOccurrences: 10
                  pipelineId: example_pipeline
                  reachability: reachable
                  status: Remediated
                  userEmail: user@gmail.com
                  userId: Molestiae ad distinctio.
                  userName: firstname lastname
                  variantName: Quis incidunt enim vero quis iusto inventore.
                inKev: true
                issueType: Ullam et iusto ducimus delectus odit.
                lastDetected: 1634836529
                overrides:
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                pagination:
                  link: ''
                  page: 4
                  pageSize: 20
                  totalItems: 230
                  totalPages: 12
                reachability: reachable
                recentActivities:
                - actorName: Priya Nair
                  created: 1781391060
                  id: hist111111111111111111
                  isAutoExpiry: false
                  status: Expired
                - actorName: Priya Nair
                  created: 1781391060
                  id: hist111111111111111111
                  isAutoExpiry: false
                  status: Expired
                - actorName: Priya Nair
                  created: 1781391060
                  id: hist111111111111111111
                  isAutoExpiry: false
                  status: Expired
                referenceIdentifiers:
                - id: Consequatur consectetur dignissimos adipisci sunt.
                  type: Est tempora.
                - id: Consequatur consectetur dignissimos adipisci sunt.
                  type: Est tempora.
                - id: Consequatur consectetur dignissimos adipisci sunt.
                  type: Est tempora.
                scanTool: owasp
                severityCode: High
                status: Active
                targetType: Molestiae officiis atque dolorem laborum vel.
                title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
              schema:
                $ref: '#/components/schemas/AllIssuesDetailsV2Result'
          description: OK response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '404':
          content:
            application/json:
              example:
                message: Not Found
                status: 404
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'NotFound: Not Found response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'InternalServerError: Internal Server Error response.'
      security:
      - jwt_header_Authorization:
        - sto_issue_view
      tags:
      - Frontend
      summary: Frontend#All issues details V2
      x-summary-source: derived
  /sto/api/v2/frontend/all-issues/v2/trend:
    x-internal: true
    get:
      description: Returns daily trend data of issue counts by status for a given time interval
      operationId: Frontend#AllIssuesTrendV2
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: Harness Organization ID
        example: example_org
        in: query
        name: orgId
        required: true
        schema:
          description: Harness Organization ID
          example: example_org
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Harness Project ID
        example: example_project
        in: query
        name: projectId
        required: true
        schema:
          description: Harness Project ID
          example: example_project
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        example: owasp,zap
        in: query
        name: scanTools
        schema:
          example: owasp,zap
          pattern: ^([a-zA-Z0-9_-]+)(,[a-zA-Z0-9_-]+)*$
          type: string
      - allowEmptyValue: true
        example: Critical,High,Medium
        in: query
        name: severityCodes
        schema:
          example: Critical,High,Medium
          pattern: ^(Critical|High|Medium|Low|Info)(,Critical|,High|,Medium|,Low|,Info)*$
          type: string
      - allowEmptyValue: true
        example: SAST
        in: query
        name: issueTypes
        schema:
          example: SAST
          pattern: ^(SAST|DAST|SCA|IAC|SECRET|MISCONFIG|BUG_SMELLS|CODE_SMELLS|CODE_COVERAGE|EXTERNAL_POLICY|UNKNOWN)(,SAST|,DAST|,SCA|,IAC|,SECRET|,MISCONFIG|,BUG_SMELLS|,CODE_SMELLS|,CODE_COVERAGE|,EXTERNAL_POLICY|,UNKNOWN)*$
          type: string
      - allowEmptyValue: true
        description: Number of days to fetch trend data for
        example: 7
        in: query
        name: intervalDays
        schema:
          default: 7
          description: Number of days to fetch trend data for
          example: 7
          format: int64
          maximum: 90
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              example:
                trend:
                - active: 10
                  day: 1710720000
                  remediated: 5
                - active: 10
                  day: 1710720000
                  remediated: 5
              schema:
                $ref: '#/components/schemas/AllIssuesTrendV2Result'
          description: OK response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '404':
          content:
            application/json:
              example:
                message: Not Found
                status: 404
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'NotFound: Not Found response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'InternalServerError: Internal Server Error response.'
      security:
      - jwt_header_Authorization:
        - sto_issue_view
      tags:
      - Frontend
      summary: Frontend#All issues trend V2
      x-summary-source: derived
  /sto/api/v2/frontend/executions/trend:
    x-internal: true
    get:
      description: Returns per-execution occurrence severity counts (Finding Trend across Scans) for a target variant from execution_summary.
      operationId: Frontend#ExecutionTrend
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: Harness Organization ID
        example: example_org
        in: query
        name: orgId
        required: true
        schema:
          description: Harness Organization ID
          example: example_org
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Harness Project ID
        example: example_project
        in: query
        name: projectId
        required: true
        schema:
          description: Harness Project ID
          example: example_project
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Associated Target Variant ID
        example: abcdef1234567890ghijkl
        in: query
        name: targetVariantId
        required: true
        schema:
          description: Associated Target Variant ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        example: SAST
        in: query
        name: issueTypes
        schema:
          example: SAST
          pattern: ^(SAST|DAST|SCA|IAC|SECRET|MISCONFIG|BUG_SMELLS|CODE_SMELLS|CODE_COVERAGE|EXTERNAL_POLICY|UNKNOWN)(,SAST|,DAST|,SCA|,IAC|,SECRET|,MISCONFIG|,BUG_SMELLS|,CODE_SMELLS|,CODE_COVERAGE|,EXTERNAL_POLICY|,UNKNOWN)*$
          type: string
      - allowEmptyValue: true
        description: Number of trailing days of executions to return
        example: 30
        in: query
        name: intervalDays
        schema:
          default: 30
          description: Number of trailing days of executions to return
          example: 30
          format: int64
          maximum: 90
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              example:
                trend:
                - executionId: abcdef1234567890ghijkl
                  executionSource: PIPELINE
                  executionStartedAt: 1710720000
                  executionUrl: https://app.harness.io/ng/#/account/abc/ci/...
                  issueTypes:
                    SAST: 10
                    SCA: 5
                  severities:
                    critical: 1
                    high: 2
                    info: 5
                    low: 4
                    medium: 3
                - executionId: abcdef1234567890ghijkl
                  executionSource: PIPELINE
                  executionStartedAt: 1710720000
                  executionUrl: https://app.harness.io/ng/#/account/abc/ci/...
                  issueTypes:
                    SAST: 10
                    SCA: 5
                  severities:
                    critical: 1
                    high: 2
                    info: 5
                    low: 4
                    medium: 3
                - executionId: abcdef1234567890ghijkl
                  executionSource: PIPELINE
                  executionStartedAt: 1710720000
                  executionUrl: https://app.harness.io/ng/#/account/abc/ci/...
                  issueTypes:
                    SAST: 10
                    SCA: 5
                  severities:
                    critical: 1
                    high: 2
                    info: 5
                    low: 4
                    medium: 3
              schema:
                $ref: '#/components/schemas/ExecutionTrendResult'
          description: OK response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '404':
          content:
            application/json:
              example:
                message: Not Found
                status: 404
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'NotFound: Not Found response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'InternalServerError: Internal Server Error response.'
      security:
      - jwt_header_Authorization:
        - sto_issue_view
      tags:
      - Frontend
      summary: Frontend#Execution trend
      x-summary-source: derived
  /sto/api/v2/frontend/exemption/{exemptionId}/issue-severity-change:
    x-internal: true
    get:
      description: Provides the severity change for an issue when approving occurrence level exemption
      operationId: Frontend#IssueSeverityChange
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: Harness Organization ID
        example: example_org
        in: query
        name: orgId
        schema:
          description: Harness Organization ID
          example: example_org
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Harness Project ID
        example: example_project
        in: query
        name: projectId
        schema:
          description: Harness Project ID
          example: example_project
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: The Security Scan execution that detected this Security Issue
        example: abcdef1234567890ghijkl
        in: query
        name: scanId
        schema:
          description: The Security Scan execution that detected this Security Issue
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: The ID of the Security Issue
        example: abcdef1234567890ghijkl
        in: query
        name: issueId
        required: true
        schema:
          description: The ID of the Security Issue
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - description: ID of Security Test Exemption
        example: abcdef1234567890ghijkl
        in: path
        name: exemptionId
        required: true
        schema:
          description: ID of Security Test Exemption
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                currentSeverityCode: High
                newSeverityCode: Medium
              schema:
                $ref: '#/components/schemas/IssueSeverityChangeResult'
          description: OK response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
[...]
