openapi: 3.0.3
info:
  title: Harness Platform Organizations Pipeline Execution API
  description: The Harness Platform API provides access to core platform resources including projects, organizations, connectors, secrets, users, roles, pipelines, triggers, and pipeline execution.
  version: '1.0'
  contact:
    name: Harness Developer Support
    url: https://developer.harness.io/
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
- url: https://app.harness.io/gateway
  description: Harness SaaS Production
security:
- apiKeyAuth: []
tags:
- name: Pipeline Execution
  description: Execute pipelines
paths:
  /pipeline/api/pipelines/execute/{pipelineIdentifier}:
    post:
      operationId: executePipeline
      summary: Harness Execute Pipeline
      description: Execute a pipeline by its identifier.
      tags:
      - Pipeline Execution
      parameters:
      - name: pipelineIdentifier
        in: path
        required: true
        description: Pipeline identifier.
        schema:
          type: string
      - name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineExecutionRequest'
      responses:
        '200':
          description: Pipeline execution started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExecution'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PipelineExecution:
      type: object
      description: A pipeline execution.
      properties:
        status:
          type: string
          example: SUCCESS
        data:
          type: object
          properties:
            planExecution:
              type: object
              properties:
                uuid:
                  type: string
                  example: abc123-def456
                status:
                  type: string
                  example: RUNNING
    PipelineExecutionRequest:
      type: object
      description: Request to execute a pipeline.
      properties:
        inputSetReferences:
          type: array
          items:
            type: string
          description: Input set references for the execution.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Harness API key.
