openapi: 3.2.0
info:
  title: Harness Rollouts API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Rollouts
paths:
  /gitops/api/v1/agents/{agentIdentifier}/applications/{request.name}/rollouts/status:
    get:
      description: Get current status for the given Rollout resource
      operationId: RolloutsService_GetRolloutStatus
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1RolloutInfo'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: request.name
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: request.namespace
        in: query
        required: false
        schema:
          type: string
      - name: request.resourceName
        in: query
        required: false
        schema:
          type: string
      - name: request.version
        in: query
        required: false
        schema:
          type: string
      - name: request.group
        in: query
        required: false
        schema:
          type: string
      - name: request.kind
        in: query
        required: false
        schema:
          type: string
      - name: request.appNamespace
        in: query
        required: false
        schema:
          type: string
      - name: request.project
        in: query
        required: false
        schema:
          type: string
      tags:
      - Rollouts
      summary: Rollouts service get rollout status
      x-summary-source: derived
components:
  schemas:
    v1AzureFileVolumeSource:
      type: object
      properties:
        secretName:
          type: string
          title: secretName is the  name of secret that contains Azure Storage Account Name and Key
        shareName:
          type: string
          title: shareName is the azure share Name
        readOnly:
          type: boolean
          title: 'readOnly defaults to false (read/write). ReadOnly here will force

            the ReadOnly setting in VolumeMounts.

            +optional'
      description: AzureFile represents an Azure File Service mount on the host and bind mount to the pod.
    v1RolloutExperimentStepAnalysisTemplateRef:
      type: object
      properties:
        name:
          type: string
          title: Name is a name for this analysis template invocation
        templateName:
          type: string
          title: TemplateName reference of the AnalysisTemplate name used by the Experiment to create the run
        clusterScope:
          type: boolean
          title: 'Whether to look for the templateName at cluster scope or namespace scope

            +optional'
        args:
          type: array
          items:
            $ref: '#/components/schemas/v1AnalysisRunArgument'
          title: 'Args the arguments that will be added to the AnalysisRuns

            +patchMergeKey=name

            +patchStrategy=merge'
        requiredForCompletion:
          type: boolean
          title: RequiredForCompletion blocks the Experiment from completing until the analysis has completed
    v1DownwardAPIProjection:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/v1DownwardAPIVolumeFile'
          title: 'Items is a list of DownwardAPIVolume file

            +optional

            +listType=atomic'
      description: 'Represents downward API info for projecting into a projected volume.

        Note that this is identical to a downwardAPI volume source without the default

        mode.'
    v1CephFSVolumeSource:
      type: object
      properties:
        monitors:
          type: array
          items:
            type: string
          title: 'monitors is Required: Monitors is a collection of Ceph monitors

            More info: https://examples.k8s.io/volumes/cephfs/README.md#how-to-use-it

            +listType=atomic'
        path:
          type: string
          title: 'path is Optional: Used as the mounted root, rather than the full Ceph tree, default is /

            +optional'
        user:
          type: string
          title: 'user is optional: User is the rados user name, default is admin

            More info: https://examples.k8s.io/volumes/cephfs/README.md#how-to-use-it

            +optional'
        secretFile:
          type: string
          title: 'secretFile is Optional: SecretFile is the path to key ring for User, default is /etc/ceph/user.secret

            More info: https://examples.k8s.io/volumes/cephfs/README.md#how-to-use-it

            +optional'
        secretRef:
          $ref: '#/components/schemas/v1LocalObjectReference'
        readOnly:
          type: boolean
          title: 'readOnly is Optional: Defaults to false (read/write). ReadOnly here will force

            the ReadOnly setting in VolumeMounts.

            More info: https://examples.k8s.io/volumes/cephfs/README.md#how-to-use-it

            +optional'
      description: 'Represents a Ceph Filesystem mount that lasts the lifetime of a pod

        Cephfs volumes do not support ownership management or SELinux relabeling.'
    v1DownwardAPIVolumeFile:
      type: object
      properties:
        path:
          type: string
          title: 'Required: Path is  the relative path name of the file to be created. Must not be absolute or contain the ''..'' path. Must be utf-8 encoded. The first item of the relative path must not start with ''..'''
        fieldRef:
          $ref: '#/components/schemas/v1ObjectFieldSelector'
        resourceFieldRef:
          $ref: '#/components/schemas/v1ResourceFieldSelector'
        mode:
          type: integer
          format: int32
          title: 'Optional: mode bits used to set permissions on this file, must be an octal value

            between 0000 and 0777 or a decimal value between 0 and 511.

            YAML accepts both octal and decimal values, JSON requires decimal values for mode bits.

            If not specified, the volume defaultMode will be used.

            This might be in conflict with other options that affect the file

            mode, like fsGroup, and the result can be other mode bits set.

            +optional'
      title: DownwardAPIVolumeFile represents information to create the file containing the pod field
    v1KeyToPath:
      type: object
      properties:
        key:
          type: string
          description: key is the key to project.
        path:
          type: string
          description: 'path is the relative path of the file to map the key to.

            May not be an absolute path.

            May not contain the path element ''..''.

            May not start with the string ''..''.'
        mode:
          type: integer
          format: int32
          title: 'mode is Optional: mode bits used to set permissions on this file.

            Must be an octal value between 0000 and 0777 or a decimal value between 0 and 511.

            YAML accepts both octal and decimal values, JSON requires decimal values for mode bits.

            If not specified, the volume defaultMode will be used.

            This might be in conflict with other options that affect the file

            mode, like fsGroup, and the result can be other mode bits set.

            +optional'
      description: Maps a string key to a path within a volume.
    v1PodFailurePolicy:
      type: object
      properties:
        rules:
          type: array
          items:
            $ref: '#/components/schemas/v1PodFailurePolicyRule'
          title: 'A list of pod failure policy rules. The rules are evaluated in order.

            Once a rule matches a Pod failure, the remaining of the rules are ignored.

            When no rule matches the Pod failure, the default handling applies - the

            counter of pod failures is incremented and it is checked against

            the backoffLimit. At most 20 elements are allowed.

            +listType=atomic'
      description: PodFailurePolicy describes how failed pods influence the backoffLimit.
    v1RouteMatch:
      type: object
      properties:
        method:
          $ref: '#/components/schemas/v1StringMatch'
        path:
          $ref: '#/components/schemas/v1StringMatch'
        headers:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/v1StringMatch'
          title: 'Headers What request with matching headers should be mirrored

            +optional'
    v1NewRelicMetric:
      type: object
      properties:
        profile:
          type: string
          title: Profile is the name of the secret holding NR account configuration
        query:
          type: string
          title: Query is a raw newrelic NRQL query to perform
      title: NewRelicMetric defines the newrelic query to perform canary analysis
    v1EnvVarSource:
      type: object
      properties:
        fieldRef:
          $ref: '#/components/schemas/v1ObjectFieldSelector'
        resourceFieldRef:
          $ref: '#/components/schemas/v1ResourceFieldSelector'
        configMapKeyRef:
          $ref: '#/components/schemas/v1ConfigMapKeySelector'
        secretKeyRef:
          $ref: '#/components/schemas/v1SecretKeySelector'
        fileKeyRef:
          $ref: '#/components/schemas/v1FileKeySelector'
      description: EnvVarSource represents a source for the value of an EnvVar.
    v1SecurityContext:
      type: object
      properties:
        capabilities:
          $ref: '#/components/schemas/v1Capabilities'
        privileged:
          type: boolean
          title: 'Run container in privileged mode.

            Processes in privileged containers are essentially equivalent to root on the host.

            Defaults to false.

            Note that this field cannot be set when spec.os.name is windows.

            +optional'
        seLinuxOptions:
          $ref: '#/components/schemas/v1SELinuxOptions'
        windowsOptions:
          $ref: '#/components/schemas/v1WindowsSecurityContextOptions'
        runAsUser:
          type: string
          format: int64
          title: 'The UID to run the entrypoint of the container process.

            Defaults to user specified in image metadata if unspecified.

            May also be set in PodSecurityContext.  If set in both SecurityContext and

            PodSecurityContext, the value specified in SecurityContext takes precedence.

            Note that this field cannot be set when spec.os.name is windows.

            +optional'
        runAsGroup:
          type: string
          format: int64
          title: 'The GID to run the entrypoint of the container process.

            Uses runtime default if unset.

            May also be set in PodSecurityContext.  If set in both SecurityContext and

            PodSecurityContext, the value specified in SecurityContext takes precedence.

            Note that this field cannot be set when spec.os.name is windows.

            +optional'
        runAsNonRoot:
          type: boolean
          title: 'Indicates that the container must run as a non-root user.

            If true, the Kubelet will validate the image at runtime to ensure that it

            does not run as UID 0 (root) and fail to start the container if it does.

            If unset or false, no such validation will be performed.

            May also be set in PodSecurityContext.  If set in both SecurityContext and

            PodSecurityContext, the value specified in SecurityContext takes precedence.

            +optional'
        readOnlyRootFilesystem:
          type: boolean
          title: 'Whether this container has a read-only root filesystem.

            Default is false.

            Note that this field cannot be set when spec.os.name is windows.

            +optional'
        allowPrivilegeEscalation:
          type: boolean
          title: 'AllowPrivilegeEscalation controls whether a process can gain more

            privileges than its parent process. This bool directly controls if

            the no_new_privs flag will be set on the container process.

            AllowPrivilegeEscalation is true always when the container is:

            1) run as Privileged

            2) has CAP_SYS_ADMIN

            Note that this field cannot be set when spec.os.name is windows.

            +optional'
        procMount:
          type: string
          title: 'procMount denotes the type of proc mount to use for the containers.

            The default value is Default which uses the container runtime defaults for

            readonly paths and masked paths.

            This requires the ProcMountType feature flag to be enabled.

            Note that this field cannot be set when spec.os.name is windows.

            +optional'
        seccompProfile:
          $ref: '#/components/schemas/v1SeccompProfile'
        appArmorProfile:
          $ref: '#/components/schemas/v1AppArmorProfile'
      description: 'SecurityContext holds security configuration that will be applied to a container.

        Some fields are present in both SecurityContext and PodSecurityContext.  When both

        are set, the values in SecurityContext take precedence.'
    v1FlexVolumeSource:
      type: object
      properties:
        driver:
          type: string
          description: driver is the name of the driver to use for this volume.
        fsType:
          type: string
          title: 'fsType is the filesystem type to mount.

            Must be a filesystem type supported by the host operating system.

            Ex. "ext4", "xfs", "ntfs". The default filesystem depends on FlexVolume script.

            +optional'
        secretRef:
          $ref: '#/components/schemas/v1LocalObjectReference'
        readOnly:
          type: boolean
          title: 'readOnly is Optional: defaults to false (read/write). ReadOnly here will force

            the ReadOnly setting in VolumeMounts.

            +optional'
        options:
          type: object
          additionalProperties:
            type: string
          title: 'options is Optional: this field holds extra command options if any.

            +optional'
      description: 'FlexVolume represents a generic volume resource that is

        provisioned/attached using an exec based plugin.'
    v1NodeAffinity:
      type: object
      properties:
        requiredDuringSchedulingIgnoredDuringExecution:
          $ref: '#/components/schemas/v1NodeSelector'
        preferredDuringSchedulingIgnoredDuringExecution:
          type: array
          items:
            $ref: '#/components/schemas/v1PreferredSchedulingTerm'
          title: 'The scheduler will prefer to schedule pods to nodes that satisfy

            the affinity expressions specified by this field, but it may choose

            a node that violates one or more of the expressions. The node that is

            most preferred is the one with the greatest sum of weights, i.e.

            for each node that meets all of the scheduling requirements (resource

            request, requiredDuringScheduling affinity expressions, etc.),

            compute a sum by iterating through the elements of this field and adding

            "weight" to the sum if the node matches the corresponding matchExpressions; the

            node(s) with the highest sum are the most preferred.

            +optional

            +listType=atomic'
      description: Node affinity is a group of node affinity scheduling rules.
    v1Probe:
      type: object
      properties:
        handler:
          $ref: '#/components/schemas/v1ProbeHandler'
        initialDelaySeconds:
          type: integer
          format: int32
          title: 'Number of seconds after the container has started before liveness probes are initiated.

            More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes

            +optional'
        timeoutSeconds:
          type: integer
          format: int32
          title: 'Number of seconds after which the probe times out.

            Defaults to 1 second. Minimum value is 1.

            More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes

            +optional'
        periodSeconds:
          type: integer
          format: int32
          title: 'How often (in seconds) to perform the probe.

            Default to 10 seconds. Minimum value is 1.

            +optional'
        successThreshold:
          type: integer
          format: int32
          title: 'Minimum consecutive successes for the probe to be considered successful after having failed.

            Defaults to 1. Must be 1 for liveness and startup. Minimum value is 1.

            +optional'
        failureThreshold:
          type: integer
          format: int32
          title: 'Minimum consecutive failures for the probe to be considered failed after having succeeded.

            Defaults to 3. Minimum value is 1.

            +optional'
        terminationGracePeriodSeconds:
          type: string
          format: int64
          title: 'Optional duration in seconds the pod needs to terminate gracefully upon probe failure.

            The grace period is the duration in seconds after the processes running in the pod are sent

            a termination signal and the time when the processes are forcibly halted with a kill signal.

            Set this value longer than the expected cleanup time for your process.

            If this value is nil, the pod''s terminationGracePeriodSeconds will be used. Otherwise, this

            value overrides the value provided by the pod spec.

            Value must be non-negative integer. The value zero indicates stop immediately via

            the kill signal (no opportunity to shut down).

            This is a beta field and requires enabling ProbeTerminationGracePeriod feature gate.

            Minimum value is 1. spec.terminationGracePeriodSeconds is used if unset.

            +optional'
      description: 'Probe describes a health check to be performed against a container to determine whether it is

        alive or ready to receive traffic.'
    v1PodDNSConfig:
      type: object
      properties:
        nameservers:
          type: array
          items:
            type: string
          title: 'A list of DNS name server IP addresses.

            This will be appended to the base nameservers generated from DNSPolicy.

            Duplicated nameservers will be removed.

            +optional

            +listType=atomic'
        searches:
          type: array
          items:
            type: string
          title: 'A list of DNS search domains for host-name lookup.

            This will be appended to the base search paths generated from DNSPolicy.

            Duplicated search paths will be removed.

            +optional

            +listType=atomic'
        options:
          type: array
          items:
            $ref: '#/components/schemas/v1PodDNSConfigOption'
          title: 'A list of DNS resolver options.

            This will be merged with the base options generated from DNSPolicy.

            Duplicated entries will be removed. Resolution options given in Options

            will override those that appear in the base DNSPolicy.

            +optional

            +listType=atomic'
      description: 'PodDNSConfig defines the DNS parameters of a pod in addition to

        those generated from DNSPolicy.'
    v1CloudWatchMetricStat:
      type: object
      properties:
        metric:
          $ref: '#/components/schemas/v1CloudWatchMetricStatMetric'
        period:
          $ref: '#/components/schemas/intstrIntOrString'
        stat:
          type: string
        unit:
          type: string
    v1DownwardAPIVolumeSource:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/v1DownwardAPIVolumeFile'
          title: 'Items is a list of downward API volume file

            +optional

            +listType=atomic'
        defaultMode:
          type: integer
          format: int32
          title: 'Optional: mode bits to use on created files by default. Must be a

            Optional: mode bits used to set permissions on created files by default.

            Must be an octal value between 0000 and 0777 or a decimal value between 0 and 511.

            YAML accepts both octal and decimal values, JSON requires decimal values for mode bits.

            Defaults to 0644.

            Directories within the path are not affected by this setting.

            This might be in conflict with other options that affect the file

            mode, like fsGroup, and the result can be other mode bits set.

            +optional'
      description: 'DownwardAPIVolumeSource represents a volume containing downward API info.

        Downward API volumes support ownership management and SELinux relabeling.'
    v1HostAlias:
      type: object
      properties:
        ip:
          type: string
          title: 'IP address of the host file entry.

            +required'
        hostnames:
          type: array
          items:
            type: string
          title: 'Hostnames for the above IP address.

            +listType=atomic'
      description: 'HostAlias holds the mapping between IP and hostnames that will be injected as an entry in the

        pod''s hosts file.'
    v1AppArmorProfile:
      type: object
      properties:
        type:
          type: string
          title: "type indicates which kind of AppArmor profile will be applied.\nValid options are:\n  Localhost - a profile pre-loaded on the node.\n  RuntimeDefault - the container runtime's default profile.\n  Unconfined - no AppArmor enforcement.\n+unionDiscriminator"
        localhostProfile:
          type: string
          title: 'localhostProfile indicates a profile loaded on the node that should be used.

            The profile must be preconfigured on the node to work.

            Must match the loaded name of the profile.

            Must be set if and only if type is "Localhost".

            +optional'
      title: 'AppArmorProfile defines a pod or container''s AppArmor settings.

        +union'
    v1ManagedFieldsEntry:
      type: object
      properties:
        manager:
          type: string
          description: Manager is an identifier of the workflow managing these fields.
        operation:
          type: string
          description: 'Operation is the type of operation which lead to this ManagedFieldsEntry being created.

            The only valid values for this field are ''Apply'' and ''Update''.'
        apiVersion:
          type: string
          description: 'APIVersion defines the version of this resource that this field set

            applies to. The format is "group/version" just like the top-level

            APIVersion field. It is necessary to track the version of a field

            set because it cannot be automatically converted.'
        time:
          $ref: '#/components/schemas/v1Time'
        fieldsType:
          type: string
          title: 'FieldsType is the discriminator for the different fields format and version.

            There is currently only one possible value: "FieldsV1"'
        fieldsV1:
          $ref: '#/components/schemas/v1FieldsV1'
        subresource:
          type: string
          description: 'Subresource is the name of the subresource used to update that object, or

            empty string if the object was updated through the main resource. The

            value of this field is used to distinguish between managers, even if they

            share the same name. For example, a status update will be distinct from a

            regular update using the same manager name.

            Note that the APIVersion field is not related to the Subresource field and

            it always corresponds to the version of the main resource.'
      description: 'ManagedFieldsEntry is a workflow-id, a FieldSet and the group version of the resource

        that the fieldset applies to.'
    v1ContainerRestartRuleOnExitCodes:
      type: object
      properties:
        operator:
          type: string
          title: "Represents the relationship between the container exit code(s) and the\nspecified values. Possible values are:\n- In: the requirement is satisfied if the container exit code is in the\n  set of specified values.\n- NotIn: the requirement is satisfied if the container exit code is\n  not in the set of specified values.\n+required"
        values:
          type: array
          items:
            type: integer
            format: int32
          title: 'Specifies the set of values to check for container exit codes.

            At most 255 elements are allowed.

            +optional

            +listType=set'
      description: 'ContainerRestartRuleOnExitCodes describes the condition

        for handling an exited container based on its exit codes.'
    v1CloudWatchMetricStatMetricDimension:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    v1CSIVolumeSource:
      type: object
      properties:
        driver:
          type: string
          description: 'driver is the name of the CSI driver that handles this volume.

            Consult with your admin for the correct name as registered in the cluster.'
        readOnly:
          type: boolean
          title: 'readOnly specifies a read-only configuration for the volume.

            Defaults to false (read/write).

            +optional'
        fsType:
          type: string
          title: 'fsType to mount. Ex. "ext4", "xfs", "ntfs".

            If not provided, the empty value is passed to the associated CSI driver

            which will determine the default filesystem to apply.

            +optional'
        volumeAttributes:
          type: object
          additionalProperties:
            type: string
          title: 'volumeAttributes stores driver-specific properties that are passed to the CSI

            driver. Consult your driver''s documentation for supported values.

            +optional'
        nodePublishSecretRef:
          $ref: '#/components/schemas/v1LocalObjectReference'
      title: Represents a source location of a volume to mount, managed by an external CSI driver
    v1PrometheusAuth:
      type: object
      properties:
        sigv4:
          $ref: '#/components/schemas/v1Sigv4Config'
      title: PrometheusMetric defines the prometheus query to perform canary analysis
    v1ServiceAccountTokenProjection:
      type: object
      properties:
        audience:
          type: string
          title: 'audience is the intended audience of the token. A recipient of a token

            must identify itself with an identifier specified in the audience of the

            token, and otherwise should reject the token. The audience defaults to the

            identifier of the apiserver.

            +optional'
        expirationSeconds:
          type: string
          format: int64
          title: 'expirationSeconds is the requested duration of validity of the service

            account token. As the token approaches expiration, the kubelet volume

            plugin will proactively rotate the service account token. The kubelet will

            start trying to rotate the token if the token is older than 80 percent of

            its time to live or if the token is older than 24 hours.Defaults to 1 hour

            and must be at least 10 minutes.

            +optional'
        path:
          type: string
          description: 'path is the path relative to the mount point of the file to project the

            token into.'
      description: 'ServiceAccountTokenProjection represents a projected service account token

        volume. This projection can be used to insert a service account token into

        the pods runtime filesystem for use against APIs (Kubernetes API Server or

        otherwise).'
    v1ResourceFieldSelector:
      type: object
      properties:
        containerName:
          type: string
          title: 'Container name: required for volumes, optional for env vars

            +optional'
        resource:
          type: string
          title: 'Required: resource to select'
        divisor:
          $ref: '#/components/schemas/resourceQuantity'
      title: 'ResourceFieldSelector represents container resources (cpu, memory) and their output format

        +structType=atomic'
    v1EphemeralVolumeSource:
      type: object
      properties:
        volumeClaimTemplate:
          $ref: '#/components/schemas/v1PersistentVolumeClaimTemplate'
      description: Represents an ephemeral volume that is handled by a normal storage driver.
    v1RolloutAnalysisTemplate:
      type: object
      properties:
        templateName:
          type: string
          title: 'TemplateName name of template to use in AnalysisRun

            +optional'
        clusterScope:
          type: boolean
          title: 'Whether to look for the templateName at cluster scope or namespace scope

            +optional'
    v1RolloutPause:
      type: object
      properties:
        duration:
          $ref: '#/components/schemas/intstrIntOrString'
      title: RolloutPause defines a pause stage for a rollout
    v1Sysctl:
      type: object
      properties:
        name:
          type: string
          title: Name of a property to set
        value:
          type: string
          title: Value of a property to set
      title: Sysctl defines a kernel parameter to be set
    v1FCVolumeSource:
      type: object
      properties:
        targetWWNs:
          type: array
          items:
            type: string
          title: 'targetWWNs is Optional: FC target worldwide names (WWNs)

            +optional

            +listType=atomic'
        lun:
          type: integer
          format: int32
          title: 'lun is Optional: FC target lun number

            +optional'
        fsType:
          type: string
          title: 'fsType is the filesystem type to mount.

            Must be a filesystem type supported by the host operating system.

            Ex. "ext4", "xfs", "ntfs". Implicitly inferred to be "ext4" if unspecified.

            TODO: how do we prevent errors in the filesystem from compromising the machine

            +optional'
        readOnly:
          type: boolean
          title: 'readOnly is Optional: Defaults to false (read/write). ReadOnly here will force

            the ReadOnly setting in VolumeMounts.

            +optional'
        wwids:
          type: array
          items:
            type: string
          title: 'wwids Optional: FC volume world wide identifiers (wwids)

            Either wwids or combination of targetWWNs and lun must be set, but not both simultaneously.

            +optional

            +listType=atomic'
      description: 'Represents a Fibre Channel volume.

        Fibre Channel volumes can only be mounted as read/write once.

        Fibre Channel volumes support ownership management and SELinux relabeling.'
    v1SkyWalkingMetric:
      type: object
      properties:
        address:
          type: string
        query:
          type: string
        interval:
          type: string
    v1Sigv4Config:
      type: object
      properties:
        address:
          type: string
          title: Region is the AWS Region to sign the SigV4 Request
        profile:
          type: string
          title: Profile is the Credential Profile used to sign the SigV4 Request
        roleArn:
          type: string
          title: RoleARN is the IAM role used to sign the SIgV4 Request
    v1RolloutExperimentInfo:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/v1ObjectMeta'
        icon:
          type: string
        revision:
          type: string
        status:
          type: string
        message:
          type: string
        replicaSets:
          type: array
          items:
            $ref: '#/components/schemas/v1RolloutReplicaSetInfo'
        analysisRuns:
          type: array
          items:
            $ref: '#/components/schemas/v1RolloutAnalysisRunInfo'
    v1PodOS:
      type: object
      properties:
        name:
          type: string
          title: 'Name is the name of the operating system. The currently supported values are linux and windows.

            Additional value may be defined in future and can be one of:

            https://github.com/opencontainers/runtime-spec/blob/master/config.md#platform-specific-configuration

            Clients should expect to handle additional values and treat unrecognized values in this field as os: null'
      description: PodOS defines the OS parameters of a pod.
    v1ScaleIOVolumeSource:
      type: object
      properties:
        gateway:
          type: string
          description: gateway is the host address of the ScaleIO API Gateway.
        system:
          type: string
          description: system is the name of the storage system as configured in ScaleIO.
        secretRef:
          $ref: '#/components/schemas/v1LocalObjectReference'
        sslEnabled:
          type: boolean
          title: 'sslEnabled Flag enable/disable SSL communication with Gateway, default false

            +optional'
        protectionDomain:
          type: string
          title: 'protectionDomain is the name of the ScaleIO Protection Domain for the configured storage.

            +optional'
        storagePool:
          type: string
          title: 'storagePool is the ScaleIO Storage Pool associated with the protection domain.

            +optional'
        storageMode:
          type: string
          title: 'storageMode indicates whether the storage for a volume should be ThickProvisioned or ThinProvisioned.

            Default is ThinProvisioned.

            +optional

            +default="ThinProvisioned"'
        volumeName:
          type: string
          description: 'volumeName is the name of a volume already created in the ScaleIO system

            that is associated with this volume source.'
        fsType:
          type: string
          title: 'fsType is the filesystem type to mount.

            Must be a filesystem type supported by the host operating system.

            Ex. "ext4", "xfs", "ntfs".

            Default is "xfs".

            +optional

            +default="xfs"'
        readOnly:
          type: boolean
          title: 'readOnly Defaults to false (read/write). ReadOnly here will force

            the ReadOnly setting in VolumeMounts.

            +optional'
      title: ScaleIOVolumeSource represents a persistent ScaleIO volume
    v1VolumeResourceRequirements:
      type: object
      properties:
        limits:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/resourceQuantity'
          title: 'Limits describes the maximum amount of compute resources allowed.

            More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/

            +optional'
        requests:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/resourceQuantity'
          title: 'Requests describes the minimum amount of compute resources required.

            If Requests is omitted for a container, it defaults to Limits if that is explicitly specified,

            otherwise to an implementation-defined value. Requests cannot exceed Limits.

            More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/

            +optional'
      description: VolumeResourceRequirements describes the storage resource requirements for a volume.
    v1ResourceClaim:
      type: object
      properties:
        name:
          type: string
          description: 'Name must match the name of one entry in pod.spec.resourceClaims of

            the Pod where this field is used. It makes that resource available

            inside a container.'
        request:
          type: string
          description: 'Request is the name chosen for a request in the referenced claim.

            If empty, everything from the claim is made available, otherwise

            only the result of this request.


            +optional'
      description: ResourceClaim references one entry in PodSpec.ResourceClaims.
    v1RolloutNonJobInfo:
      type: object
      properties:
        value:
          type: string
        status:
          type: string
        metricName:
          type: string
        startedAt:
          $ref: '#/components/schemas/v1Time'
    v1PodResourceClaim:
      type: object
      properties:
        name:
          type: string
          description: 'Name uniquely identifies this resource claim inside the pod.

            This must be a DNS_LABEL.'
        resourceClaimName:
          type: string
          description: 'ResourceClaimName is the name of a ResourceClaim object in the same

            namespace as this pod.


            Exactly one of ResourceClaimName and ResourceClaimTemplateName must

            be set.'
        resourceClaimTemplateName:
          type: string
          description: 'ResourceClaimTemplateName is the name of a ResourceClaimTemplate

            object in the same namespace as this pod.


            The template will be used to create a new ResourceClaim, which will

            be bound to this pod. When this pod is deleted, the ResourceClaim

            will also be deleted. The pod name and resource name, along with a

            generated component, will be used to form a unique name for the

            ResourceClaim, which will be recorded in pod.status.resourceClaimStatuses.


            This field is immutable and no changes will be made to the

            corresponding ResourceClaim by the control plane after creating the

            ResourceClaim.


            Exactly one of ResourceClaimName and ResourceClaimTemplateName must

            be set.'
      description: 'PodResourceClaim references exactly one ResourceClaim, either directly

        or by naming a ResourceClaimTemplate which is then turned into a ResourceClaim

        for the pod.


        It adds a name to it that uniquely identifies the ResourceClaim inside the Pod.

        Containers that need access to the ResourceClaim reference it with this name.'
    v1AzureDiskVolumeSource:
      type: object
      properties:
        diskName:
          type: string
          title: diskName is the Name of the data disk in the blob storage
        diskURI:
          type: string
          title: diskURI is the URI of data disk in the blob storage
        cachingMode:
          type: string
          title: 'cachingMode is the Host Caching mode: None, Read Only, Read Write.

            +optional

            +default=ref(AzureDataDiskCachingReadWrite)'
        fsType:
          type: string
          title: 'fsType is Filesystem type to mount.

            Must be a filesystem type supported by the host operating system.

            Ex. "ext4", "xfs", "ntfs". Implicitly inferred to be "ext4" if unspecified.

            +optional

            +default="ext4"'
        readOnly:
          type: boolean
          title: 'readOnly Defaults to false (read/write). ReadOnly here will force

            the ReadOnly setting in VolumeMounts.

            +optional

            +default=false'
        kind:
          type: string
          title: 'kind expected values are Shared: multiple blob disks per storage account  Dedicated: single blob disk per storage account  Managed: azure managed data disk (only in managed availability set). defaults to shared

            +default=ref(AzureSharedBlobDisk)'
      description: AzureDisk represents an Azure Data Disk mount on the host and bind mount to the pod.
    v1Metric:
      type: object
      properties:
        name:
          type: string
          title: Name is the name of the metric
        interval:
          type: string
          title: 'Interval defines an interval string (e.g. 30s, 5m, 1h) between each measurement.

            If omitted, will perform a single measurement'
        initialDelay:
          type: string
          title: InitialDelay how long the AnalysisRun should wait before starting this metric
        count:
          $ref: '#/components/schemas/intstrIntOrString'
        successCondition:
          type: string
          title: "SuccessCondition is an expression which determines if a measurement is considered successful\nExpression is a goevaluate expression. The keyword `result` is a variable reference to the\nvalue of measurement. Results can be both structured data or primitive.\nExamples:\n  result > 10\n  (result.requests_made * result.requests_succeeded / 100) >= 90"
        failureCondition:
          type: string
          title: 'FailureCondition is an expression which determines if a measurement is considered failed

            If both success and failure conditions are specified, and the measurement does not fall into

            either condition, the measurement is considered Inconclusive'
        failureLimit:
          $ref: '#/components/schemas/intstrIntOrString'
        inconclusiveLimit:
          $ref: '#/components/schemas/intstrIntOrString'
        consecutiveErrorLimit:
          $ref: '#/components/schemas/intstrIntOrString'
        provider:
          $ref: '#/components/schemas/v1MetricProvider'
      title: Metric defines a metric in which to perform analysis
    v1ConfigMapKeySelector:
      type: object
      properties:
        localObjectReference:
          $ref: '#/components/schemas/v1LocalObjectReference'
        key:
          type: string
          description: The key to select.
        optional:
          type: boolean
          title: 'Specify whether the ConfigMap or its key must be defined

            +optional'
      title: 'Selects a key from a ConfigMap.

        +structType=atomic'
    v1InfluxdbMetric:
      type: object
      properties:
        profile:
          type: string
          title: Profile is the name of the secret holding InfluxDB account configuration
        query:
          type: string
          title: Query is a raw InfluxDB flux query to perform
      title: InfluxdbMetric defines the InfluxDB Flux query to perform canary analysis
    v1RolloutPodInfo:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/v1ObjectMeta'
        status:
          type: string
        icon:
          type: string
        ready:
          type: string
        restarts:
          type: integer
          format: int32
    v1FieldsV1:
      type: object
      properties:
        Raw:
          type: string
          format: byte
          description: Raw is the underlying serialization of this object.
      description: 'FieldsV1 stores a set of fields in a data structure like a Trie, in JSON format.


        Each key is either a ''.'' representing the field itself, and will always map to an empty set,

        or a string representing a sub-field or item. The string will follow one of these four formats:

        ''f:<name>'', where <name> is the name of a field in a struct, or key in a map

        ''v:<value>'', where <value> is the exact json formatted value of a list item

        ''i:<index>'', where <index> is position of a item in a list

        ''k:<keys>'', where <keys> is a map of  a list item''s key fields to their unique values

        If a key maps to an empty Fields value, the field that key represents is part of the set.


        The exact format is defined in sigs.k8s.io/structured-merge-diff

        +protobuf.options.(gogoproto.goproto_stringer)=false'
    v1EmptyDirVolumeSource:
      type: object
      properties:
        medium:
          type: string
          title: 'medium represents what type of storage medium should back this directory.

            The default is "" which means to use the node''s default medium.

            Must be an empty string (default) or Memory.

            More info: https://kubernetes.io/docs/concepts/storage/volumes#emptydir

            +optional'
        sizeLimit:
          $ref: '#/components/schemas/resourceQuantity'
      description: 'Represents an empty directory for a pod.

        Empty directory volumes support ownership management and SELinux relabeling.'
    v1SuccessPolicy:
      type: object
      properties:
        rules:
          type: array
          items:
            $ref: '#/components/schemas/v1SuccessPolicyRule'
          title: 'rules represents the list of alternative rules for the declaring the Jobs

            as successful before `.status.succeeded >= .spec.completions`. Once any of the rules are met,

            the "SuccessCriteriaMet" condition is added, and the lingering pods are removed.

            The terminal state for such a Job has the "Complete" condition.

            Additionally, these rules are evaluated in order; Once the Job meets one of the rules,

            other rules are ignored. At most 20 elements are allowed.

            +listType=atomic'
      description: SuccessPolicy describes when a Job can be declared as succeeded based on the success of some indexes.
    intstrIntOrString:
      type: object
      properties:
        type:
          type: string
          format: int64
        intVal:
          type: integer
          format: int32
        strVal:
          type: string
      description: '+protobuf=true

        +protobuf.options.(gogoproto.goproto_stringer)=false

        +k8s:openapi-gen=true'
      title: 'IntOrString is a type that can hold an int32 or a string.  When used in

        JSON or YAML marshalling and unmarshalling, it produces or consumes the

        inner type.  This allows you to have, for example, a JSON field that can

        accept a name or number.

        TODO: Rename to Int32OrString'
    resourceQuantity:
      type: object
      properties:
        string:
          type: string
      description: "Quantity is a fixed-point representation of a number.\nIt provides convenient marshaling/unmarshaling in JSON and YAML,\nin addition to String() and AsInt64() accessors.\n\nThe serialization format is:\n\n```\n<quantity>        ::= <signedNumber><suffix>\n\n\t(Note that <suffix> may be empty, from the \"\" case in <decimalSI>.)\n\n<digit>           ::= 0 | 1 | ... | 9\n<digits>          ::= <digit> | <digit><digits>\n<number>          ::= <digits> | <digits>.<digits> | <digits>. | .<digits>\n<sign>            ::= \"+\" | \"-\"\n<signedNumber>    ::= <number> | <sign><number>\n<suffix>          ::= <binarySI> | <decimalExponent> | <decimalSI>\n<binarySI>        ::= Ki | Mi | Gi | Ti | Pi | Ei\n\n\t(International System of units; See: http://physics.nist.gov/cuu/Units/binary.html)\n\n<decimalSI>       ::= m | \"\" | k | M | G | T | P | E\n\n\t(Note that 1024 = 1Ki but 1000 = 1k; I didn't choose the capitalization.)\n\n<decimalExponent> ::= \"e\" <signedNumber> | \"E\" <signedNumber>\n```\n\nNo matter which of the three exponent forms is used, no quantity may represent\na number greater than 2^63-1 in magnitude, nor may it have more than 3 decimal\nplaces. Numbers larger or more precise will be capped or rounded up.\n(E.g.: 0.1m will rounded up to 1m.)\nThis may be extended in the future if we require larger or smaller quantities.\n\nWhen a Quantity is parsed from a string, it will remember the type of suffix\nit had, and will use the same type again when it is serialized.\n\nBefore serializing, Quantity will be put in \"canonical form\".\nThis means that Exponent/suffix will be adjusted up or down (with a\ncorresponding increase or decrease in Mantissa) such that:\n\n- No precision is lost\n- No fractional digits will be emitted\n- The exponent (or suffix) is as large as possible.\n\nThe sign will be omitted unless the number is negative.\n\nExamples:\n\n- 1.5 will be serialized as \"1500m\"\n- 1.5Gi will be serialized as \"1536Mi\"\n\nNote that the quantity will NEVER be internally represented by a\nfloating point number. That is the whole point of this exercise.\n\nNon-canonical values will still parse as long as they are well formed,\nbut will be re-emitted in their canonical form. (So always use canonical\nform, or don't diff.)\n\nThis format is intended to make it difficult to use these numbers without\nwriting some sort of special handling code in the hopes that that will\ncause implementors to also use a fixed point implementation.\n\n+protobuf=true\n+protobuf.embed=string\n+protobuf.options.marshal=false\n+protobuf.options.(gogoproto.goproto_stringer)=false\n+k8s:deepcopy-gen=true\n+k8s:openapi-gen=true"
    v1PodCertificateProjection:
      type: object
      properties:
        signerName:
          type: string
          description: 'Kubelet''s generated CSRs will be addressed to this signer.


            +required'
        keyType:
          type: string
          description: 'The type of keypair Kubelet will generate for the pod.


            Valid values are "RSA3072", "RSA4096", "ECDSAP256", "ECDSAP384",

            "ECDSAP521", and "ED25519".


            +required'
        maxExpirationSeconds:
          type: integer
          format: int32
          description: 'maxExpirationSeconds is the maximum lifetime permitted for the

            certificate.


            Kubelet copies this value verbatim into the PodCertificateRequests it

            generates for this projection.


            If omitted, kube-apiserver will set it to 86400(24 hours). kube-apiserver

            will reject values shorter than 3600 (1 hour).  The maximum allowable

            value is 7862400 (91 days).


            The signer implementation is then free to issue a certificate with any

            lifetime *shorter* than MaxExpirationSeconds, but no shorter than 3600

            seconds (1 hour).  This constraint is enforced by kube-apiserver.

            `kubernetes.io` signers will never issue certificates with a lifetime

            longer than 24 hours.


            +optional'
        credentialBundlePath:
          type: string
          description: 'Write the credential bundle at this path in the projected volume.


            The credential bundle is a single file that contains multiple PEM blocks.

            The first PEM block is a PRIVATE KEY block, containing a PKCS#8 private

            key.


            The remaining blocks are CERTIFICATE blocks, containing the issued

            certificate chain from the signer (leaf and any intermediates).


            Using credentialBundlePath lets your Pod''s application code make a single

            atomic read that retrieves a consistent key and certificate chain.  If you

            project them to separate files, your application code will need to

            additionally check that the leaf certificate was issued to the key.


            +optional'
        keyPath:
          type: string
          description: 'Write the key at this path in the projected volume.


            Most applications should use credentialBundlePath.  When using keyPath

            and certificateChainPath, your application needs to check that the key

            and leaf certificate are consistent, because it is possible to read the

            files mid-rotation.


            +optional'
        certificateChainPath:
          type: string
          description: 'Write the certificate chain at this path in the projected volume.


            Most applications should use credentialBundlePath.  When using keyPath

            and certificateChainPath, your application needs to check that the key

            and leaf certificate are consistent, because it is possible to read the

            files mid-rotation.


            +optional'
      description: 'PodCertificateProjection provides a private key and X.509 certificate in the

        pod filesystem.'
    v1ExecAction:
      type: object
      properties:
        command:
          type: array
          items:
            type: string
          title: 'Command is the command line to execute inside the container, the working directory for the

            command  is root (''/'') in the container''s filesystem. The command is simply exec''d, it is

            not run inside a shell, so traditional shell instructions (''|'', etc) won''t work. To use

            a shell, you need to explicitly call out to that shell.

            Exit status of 0 is treated as live/healthy and non-zero is unhealthy.

            +optional

            +listType=atomic'
      description: ExecAction describes a "run in container" action.
    v1SetHeaderRoute:
      type: object
      properties:
        name:
          type: string
          title: 'Name this is the name of the route to use for the mirroring of traffic this also needs

            to be included in the `spec.strategy.canary.trafficRouting.managedRoutes` field'
        match:
          type: array
          items:
            $ref: '#/components/schemas/v1HeaderRoutingMatch'
      title: SetHeaderRoute defines the route with specified header name to send 100% of traffic to the canary service
    v1WindowsSecurityContextOptions:
      type: object
      properties:
        gmsaCredentialSpecName:
          type: string
          title: 'GMSACredentialSpecName is the name of the GMSA credential spec to use.

            +optional'
        gmsaCredentialSpec:
          type: string
          title: 'GMSACredentialSpec is where the GMSA admission webhook

            (https://github.com/kubernetes-sigs/windows-gmsa) inlines the contents of the

            GMSA credential spec named by the GMSACredentialSpecName field.

            +optional'
        runAsUserName:
          type: string
          title: 'The UserName in Windows to run the entrypoint of the container process.

            Defaults to the user specified in image metadata if unspecified.

            May also be set in PodSecurityContext. If set in both SecurityContext and

            PodSecurityContext, the value specified in SecurityContext takes precedence.

            +optional'
        hostProcess:
          type: boolean
          title: 'HostProcess determines if a container should be run as a ''Host Process'' container.

            All of a Pod''s containers must have the same effective HostProcess value

            (it is not allowed to have a mix of HostProcess containers and non-HostProcess containers).

            In addition, if HostProcess is true then HostNetwork must also be set to true.

            +optional'
      description: WindowsSecurityContextOptions contain Windows-specific options and credentials.
    v1VsphereVirtualDiskVolumeSource:
      type: object
      properties:
        volumePath:
          type: string
          title: volumePath is the path that identifies vSphere volume vmdk
        fsType:
          type: string
          title: 'fsType is filesystem type to mount.

            Must be a filesystem type supported by the host operating system.

            Ex. "ext4", "xfs", "ntfs". Implicitly inferred to be "ext4" if unspecified.

            +optional'
        storagePolicyName:
          type: string
          title: 'storagePolicyName is the storage Policy Based Management (SPBM) profile name.

            +optional'
        storagePolicyID:
          type: string
          title: 'storagePolicyID is the storage Policy Based Management (SPBM) profile ID associated with the StoragePolicyName.

            +optional'
      description: Represents a vSphere volume resource.
    v1SecretEnvSource:
      type: object
      properties:
        localObjectReference:
          $ref: '#/components/schemas/v1LocalObjectReference'
        optional:
          type: boolean
          title: 'Specify whether the Secret must be defined

            +optional'
      description: 'SecretEnvSource selects a Secret to populate the environment

        variables with.


        The contents of the target Secret''s Data field will represent the

        key-value pairs as environment variables.'
    v1ContainerPort:
      type: object
      properties:
        name:
          type: string
          title: 'If specified, this must be an IANA_SVC_NAME and unique within the pod. Each

            named port in a pod must have a unique name. Name for the port that can be

            referred to by services.

            +optional'
        hostPort:
          type: integer
          format: int32
          title: 'Number of port to expose on the host.

            If specified, this must be a valid port number, 0 < x < 65536.

            If HostNetwork is specified, this must match ContainerPort.

            Most containers do not need this.

            +optional'
        containerPort:
          type: integer
          format: int32
          description: 'Number of port to expose on the pod''s IP address.

            This must be a valid port number, 0 < x < 65536.'
        protocol:
          type: string
          title: 'Protocol for port. Must be UDP, TCP, or SCTP.

            Defaults to "TCP".

            +optional

            +default="TCP"'
        hostIP:
          type: string
          title: 'What host IP to bind the external port to.

            +optional'
      description: ContainerPort represents a network port in a single container.
    v1GlusterfsVolumeSource:
      type: object
      properties:
        endpoints:
          type: string
          description: endpoints is the endpoint name that details Glusterfs topology.
        path:
          type: string
          title: 'path is the Glusterfs volume path.

            More info: https://examples.k8s.io/volumes/glusterfs/README.md#create-a-pod'
        readOnly:
          type: boolean
          title: 'readOnly here will force the Glusterfs volume to be mounted with read-only permissions.

            Defaults to false.

            More info: https://examples.k8s.io/volumes/glusterfs/README.md#create-a-pod

            +optional'
      description: 'Represents a Glusterfs mount that lasts the lifetime of a pod.

        Glusterfs volumes do not support ownership management or SELinux relabeling.'
    v1LabelSelectorRequirement:
      type: object
      properties:
        key:
          type: string
          description: key is the label key that the selector applies to.
        operator:
          type: string
          description: 'operator represents a key''s relationship to a set of values.

            Valid operators are In, NotIn, Exists and DoesNotExist.'
        values:
          type: array
          items:
            type: string
          title: 'values is an array of string values. If the operator is In or NotIn,

            the values array must be non-empty. If the operator is Exists or DoesNotExist,

            the values array must be empty. This array is replaced during a strategic

            merge patch.

            +optional

            +listType=atomic'
      description: 'A label selector requirement is a selector that contains values, a key, and an operator that

        relates the key and values.'
    v1AWSElasticBlockStoreVolumeSource:
      type: object
      properties:
        volumeID:
          type: string
          title: 'volumeID is unique ID of the persistent disk resource in AWS (Amazon EBS volume).

            More info: https://kubernetes.io/docs/concepts/storage/volumes#awselasticblockstore'
        fsType:
          type: string
          title: 'fsType is the filesystem type of the volume that you want to mount.

            Tip: Ensure that the filesystem type is supported by the host operating system.

            Examples: "ext4", "xfs", "ntfs". Implicitly inferred to be "ext4" if unspecified.

            More info: https://kubernetes.io/docs/concepts/storage/volumes#awselasticblockstore

            TODO: how do we prevent errors in the filesystem from compromising the machine

            +optional'
        partition:
          type: integer
          format: int32
          title: 'partition is the partition in the volume that you want to mount.

            If omitted, the default is to mount by volume name.

            Examples: For volume /dev/sda1, you specify the partition as "1".

            Similarly, the volume partition for /dev/sda is "0" (or you can leave the property empty).

            +optional'
        readOnly:
          type: boolean
          title: 'readOnly value true will force the readOnly setting in VolumeMounts.

            More info: https://kubernetes.io/docs/concepts/storage/volumes#awselasticblockstore

            +optional'
      description: 'Represents a Persistent Disk resource in AWS.


        An AWS EBS disk must exist before mounting to a container. The disk

        must also be in the same AWS zone as the kubelet. An AWS EBS disk

        can only be mounted as read/write once. AWS EBS volumes support

        ownership management and SELinux relabeling.'
    v1ObjectMeta:
      type: object
      properties:
        name:
          type: string
          title: 'Name must be unique within a namespace. Is required when creating resources, although

            some resources may allow a client to request the generation of an appropriate name

            automatically. Name is primarily intended for creation idempotence and configuration

            definition.

            Cannot be updated.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names

            +optional'
        generateName:
          type: string
          description: 'GenerateName is an optional prefix, used by the server, to generate a unique

            name ONLY IF the Name field has not been provided.

            If this field is used, the name returned to the client will be different

            than the name passed. This value will also be combined with a unique suffix.

            The provided value has the same validation rules as the Name field,

            and may be truncated by the length of the suffix required to make the value

            unique on the server.


            If this field is specified and the generated name exists, the server will return a 409.


            Applied only if Name is not specified.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#idempotency

            +optional'
        namespace:
          type: string
          description: 'Namespace defines the space within which each name must be unique. An empty namespace is

            equivalent to the "default" namespace, but "default" is the canonical representation.

            Not all objects are required to be scoped to a namespace - the value of this field for

            those objects will be empty.


            Must be a DNS_LABEL.

            Cannot be updated.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces

            +optional'
        selfLink:
          type: string
          title: 'Deprecated: selfLink is a legacy read-only field that is no longer populated by the system.

            +optional'
        uid:
          type: string
          description: 'UID is the unique in time and space value for this object. It is typically generated by

            the server on successful creation of a resource and is not allowed to change on PUT

            operations.


            Populated by the system.

            Read-only.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#uids

            +optional'
        resourceVersion:
          type: string
          description: 'An opaque value that represents the internal version of this object that can

            be used by clients to determine when objects have changed. May be used for optimistic

            concurrency, change detection, and the watch operation on a resource or set of resources.

            Clients must treat these values as opaque and passed unmodified back to the server.

            They may only be valid for a particular resource or set of resources.


            Populated by the system.

            Read-only.

            Value must be treated as opaque by clients and .

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency

            +optional'
        generation:
          type: string
          format: int64
          title: 'A sequence number representing a specific generation of the desired state.

            Populated by the system. Read-only.

            +optional'
        creationTimestamp:
          $ref: '#/components/schemas/v1Time'
        deletionTimestamp:
          $ref: '#/components/schemas/v1Time'
        deletionGracePeriodSeconds:
          type: string
          format: int64
          title: 'Number of seconds allowed for this object to gracefully terminate before

            it will be removed from the system. Only set when deletionTimestamp is also set.

            May only be shortened.

            Read-only.

            +optional'
        labels:
          type: object
          additionalProperties:
            type: string
          title: 'Map of string keys and values that can be used to organize and categorize

            (scope and select) objects. May match selectors of replication controllers

            and services.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels

            +optional'
        annotations:
          type: object
          additionalProperties:
            type: string
          title: 'Annotations is an unstructured key value map stored with a resource that may be

            set by external tools to store and retrieve arbitrary metadata. They are not

            queryable and should be preserved when modifying objects.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations

            +optional'
        ownerReferences:
          type: array
          items:
            $ref: '#/components/schemas/v1OwnerReference'
          title: 'List of objects depended by this object. If ALL objects in the list have

            been deleted, this object will be garbage collected. If this object is managed by a controller,

            then an entry in this list will point to this controller, with the controller field set to true.

            There cannot be more than one managing controller.

            +optional

            +patchMergeKey=uid

            +patchStrategy=merge

            +listType=map

            +listMapKey=uid'
        finalizers:
          type: array
          items:
            type: string
          title: 'Must be empty before the object is deleted from the registry. Each entry

            is an identifier for the responsible component that will remove the entry

            from the list. If the deletionTimestamp of the object is non-nil, entries

            in this list can only be removed.

            Finalizers may be processed and removed in any order.  Order is NOT enforced

            because it introduces significant risk of stuck finalizers.

            finalizers is a shared field, any actor with permission can reorder it.

            If the finalizer list is processed in order, then this can lead to a situation

            in which the component responsible for the first finalizer in the list is

            waiting for a signal (field value, external system, or other) produced by a

            component responsible for a finalizer later in the list, resulting in a deadlock.

            Without enforced ordering finalizers are free to order amongst themselves and

            are not vulnerable to ordering changes in the list.

            +optional

            +patchStrategy=merge

            +listType=set'
        managedFields:
          type: array
          items:
            $ref: '#/components/schemas/v1ManagedFieldsEntry'
          description: 'ManagedFields maps workflow-id and version to the set of fields

            that are managed by that workflow. This is mostly for internal

            housekeeping, and users typically shouldn''t need to set or

            understand this field. A workflow can be the user''s name, a

            controller''s name, or the name of a specific apply path like

            "ci-cd". The set of fields is always in the version that the

            workflow used when modifying the object.


            +optional

            +listType=atomic'
      description: 'ObjectMeta is metadata that all persisted resources must have, which includes all objects

        users must create.'
    v1HostPathVolumeSource:
      type: object
      properties:
        path:
          type: string
          title: 'path of the directory on the host.

            If the path is a symlink, it will follow the link to the real path.

            More info: https://kubernetes.io/docs/concepts/storage/volumes#hostpath'
        type:
          type: string
          title: 'type for HostPath Volume

            Defaults to ""

            More info: https://kubernetes.io/docs/concepts/storage/volumes#hostpath

            +optional'
      description: 'Represents a host path mapped into a pod.

        Host path volumes do not support ownership management or SELinux relabeling.'
    v1NodeSelectorRequirement:
      type: object
      properties:
        key:
          type: string
          description: The label key that the selector applies to.
        operator:
          type: string
          description: 'Represents a key''s relationship to a set of values.

            Valid operators are In, NotIn, Exists, DoesNotExist. Gt, and Lt.'
        values:
          type: array
          items:
            type: string
          title: 'An array of string values. If the operator is In or NotIn,

            the values array must be non-empty. If the operator is Exists or DoesNotExist,

            the values array must be empty. If the operator is Gt or Lt, the values

            array must have a single element, which will be interpreted as an integer.

            This array is replaced during a strategic merge patch.

            +optional

            +listType=atomic'
      description: 'A node selector requirement is a selector that contains values, a key, and an operator

        that relates the key and values.'
    v1LocalObjectReference:
      type: object
      properties:
        name:
          type: string
          description: 'Name of the referent.

            This field is effectively required, but due to backwards compatibility is

            allowed to be empty. Instances of this type with an empty value here are

            almost certainly wrong.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

            +optional

            +default=""

            +kubebuilder:default=""

            TODO: Drop `kubebuilder:default` when controller-gen doesn''t need it https://github.com/kubernetes-sigs/kubebuilder/issues/3896.'
      description: "LocalObjectReference contains enough information to let you locate the\nreferenced object inside the same namespace.\n---\nNew uses of this type are discouraged because of difficulty describing its usage when embedded in APIs.\n 1. Invalid usage help.  It is impossible to add specific help for individual usage.  In most embedded usages, there are particular\n    restrictions like, \"must refer only to types A and B\" or \"UID not honored\" or \"name must be restricted\".\n    Those cannot be well described when embedded.\n 2. Inconsistent validation.  Because the usages are different, the validation rules are different by usage, which makes it hard for users to predict what will happen.\n 3. We cannot easily change it.  Because this type is embedded in many locations, updates to this type\n    will affect numerous schemas.  Don't make new APIs embed an underspecified API type they do not control.\n\nInstead of using this type, create a locally provided and used type that is well-focused on your reference.\nFor example, ServiceReferences for admission registration: https://github.com/kubernetes/api/blob/release-1.17/admissionregistration/v1/types.go#L533 .\n+structType=atomic"
    v1VolumeDevice:
      type: object
      properties:
        name:
          type: string
          title: name must match the name of a persistentVolumeClaim in the pod
        devicePath:
          type: string
          description: devicePath is the path inside of the container that the device will be mapped to.
      description: volumeDevice describes a mapping of a raw block device within a container.
    v1ConfigMapEnvSource:
      type: object
      properties:
        localObjectReference:
          $ref: '#/components/schemas/v1LocalObjectReference'
        optional:
          type: boolean
          title: 'Specify whether the ConfigMap must be defined

            +optional'
      description: 'ConfigMapEnvSource selects a ConfigMap to populate the environment

        variables with.


        The contents of the target ConfigMap''s Data field will represent the

        key-value pairs as environment variables.'
    v1RolloutExperimentStep:
      type: object
      properties:
        templates:
          type: array
          items:
            $ref: '#/components/schemas/v1RolloutExperimentTemplate'
          title: 'Templates what templates that should be added to the experiment. Should be non-nil

            +patchMergeKey=name

            +patchStrategy=merge'
        duration:
          type: string
          title: 'Duration is a duration string (e.g. 30s, 5m, 1h) that the experiment should run for

            +optional'
        analyses:
          type: array
          items:
            $ref: '#/components/schemas/v1RolloutExperimentStepAnalysisTemplateRef'
          title: 'Analyses reference which analysis templates to run with the experiment

            +patchMergeKey=name

            +patchStrategy=merge'
      title: RolloutExperimentStep defines a template that is used to create a experiment for a step
    v1Lifecycle:
      type: object
      properties:
        postStart:
          $ref: '#/components/schemas/v1LifecycleHandler'
        preStop:
          $ref: '#/components/schemas/v1LifecycleHandler'
        stopSignal:
          type: string
          title: 'StopSignal defines which signal will be sent to a container when it is being stopped.

            If not specified, the default is defined by the container runtime in use.

            StopSignal can only be set for Pods with a non-empty .spec.os.name

            +optional'
      description: 'Lifecycle describes actions that the management system should take in response to container lifecycle

        events. For the PostStart and PreStop lifecycle handlers, management of the container blocks

        until the action is complete, unless the container process fails, in which case the handler is aborted.'
    v1RolloutInfo:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/v1ObjectMeta'
        status:
          type: string
        message:
          type: string
        icon:
          type: string
        strategy:
          type: string
        step:
          type: string
        setWeight:
          type: string
        actualWeight:
          type: string
        ready:
          type: integer
          format: int32
        current:
          type: integer
          format: int32
        desired:
          type: integer
          format: int32
        updated:
          type: integer
          format: int32
        available:
          type: integer
          format: int32
        restartedAt:
          type: string
        generation:
          type: string
        replicaSets:
          type: array
          items:
            $ref: '#/components/schemas/v1RolloutReplicaSetInfo'
        experiments:
          type: array
          items:
            $ref: '#/components/schemas/v1RolloutExperimentInfo'
        analysisRuns:
          type: array
          items:
            $ref: '#/components/schemas/v1RolloutAnalysisRunInfo'
        containers:
          type: array
          items:
            $ref: '#/components/schemas/v1RolloutContainerInfo'
        steps:
          type: array
          items:
            $ref: '#/components/schemas/v1CanaryStep'
        canaryRevision:
          type: integer
          format: int32
        canaryImages:
          type: array
          items:
            type: string
        previewImages:
          type: array
          items:
            type: string
        stableImages:
          type: array
          items:
            type: string
        isManualPause:
          type: boolean
    v1RolloutAnalysis:
      type: object
      properties:
        templates:
          type: array
          items:
            $ref: '#/components/schemas/v1RolloutAnalysisTemplate'
          title: 'Templates reference to a list of analysis templates to combine for an AnalysisRun

            +patchMergeKey=templateName

            +patchStrategy=merge'
        args:
          type: array
          items:
            $ref: '#/components/schemas/v1AnalysisRunArgument'
          title: 'Args the arguments that will be added to the AnalysisRuns

            +patchMergeKey=name

            +patchStrategy=merge'
        dryRun:
          type: array
          items:
            $ref: '#/components/schemas/v1DryRun'
          title: 'DryRun object contains the settings for running the analysis in Dry-Run mode

            +patchMergeKey=metricName

            +patchStrategy=merge

            +optional'
        measurementRetention:
          type: array
          items:
            $ref: '#/components/schemas/v1MeasurementRetention'
          title: 'MeasurementRetention object contains the settings for retaining the number of measurements during the analysis

            +patchMergeKey=metricName

            +patchStrategy=merge

            +optional'
        analysisRunMetadata:
          $ref: '#/components/schemas/v1AnalysisRunMetadata'
      title: RolloutAnalysis defines a template that is used to create a analysisRun
    v1FileKeySelector:
      type: object
      properties:
        volumeName:
          type: string
          title: 'The name of the volume mount containing the env file.

            +required'
        path:
          type: string
          title: 'The path within the volume from which to select the file.

            Must be relative and may not contain the ''..'' path or start with ''..''.

            +required'
        key:
          type: string
          title: 'The key within the env file. An invalid key will prevent the pod from starting.

            The keys defined within a source may consist of any printable ASCII characters except ''=''.

            During Alpha stage of the EnvFiles feature gate, the key size is limited to 128 characters.

            +required'
        optional:
          type: boolean
          description: 'Specify whether the file or its key must be defined. If the file or key

            does not exist, then the env var is not published.

            If optional is set to true and the specified key does not exist,

            the environment variable will not be set in the Pod''s containers.


            If optional is set to false and the specified key does not exist,

            an error will be returned during Pod creation.

            +optional

            +default=false'
      title: 'FileKeySelector selects a key of the env file.

        +structType=atomic'
    v1PersistentVolumeClaimVolumeSource:
      type: object
      properties:
        claimName:
          type: string
          title: 'claimName is the name of a PersistentVolumeClaim in the same namespace as the pod using this volume.

            More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes#persistentvolumeclaims'
        readOnly:
          type: boolean
          title: 'readOnly Will force the ReadOnly setting in VolumeMounts.

            Default false.

            +optional'
      description: 'PersistentVolumeClaimVolumeSource references the user''s PVC in the same namespace.

        This volume finds the bound PV and mounts that volume for the pod. A

        PersistentVolumeClaimVolumeSource is, essentially, a wrapper around another

        type of volume that is owned by someone else (the system).'
    v1PodAffinity:
      type: object
      properties:
        requiredDuringSchedulingIgnoredDuringExecution:
          type: array
          items:
            $ref: '#/components/schemas/v1PodAffinityTerm'
          title: 'If the affinity requirements specified by this field are not met at

            scheduling time, the pod will not be scheduled onto the node.

            If the affinity requirements specified by this field cease to be met

            at some point during pod execution (e.g. due to a pod label update), the

            system may or may not try to eventually evict the pod from its node.

            When there are multiple elements, the lists of nodes corresponding to each

            podAffinityTerm are intersected, i.e. all terms must be satisfied.

            +optional

            +listType=atomic'
        preferredDuringSchedulingIgnoredDuringExecution:
          type: array
          items:
            $ref: '#/components/schemas/v1WeightedPodAffinityTerm'
          title: 'The scheduler will prefer to schedule pods to nodes that satisfy

            the affinity expressions specified by this field, but it may choose

            a node that violates one or more of the expressions. The node that is

            most preferred is the one with the greatest sum of weights, i.e.

            for each node that meets all of the scheduling requirements (resource

            request, requiredDuringScheduling affinity expressions, etc.),

            compute a sum by iterating through the elements of this field and adding

            "weight" to the sum if the node has pods which matches the corresponding podAffinityTerm; the

            node(s) with the highest sum are the most preferred.

            +optional

            +listType=atomic'
      description: Pod affinity is a group of inter pod affinity scheduling rules.
    v1PodReadinessGate:
      type: object
      properties:
        conditionType:
          type: string
          description: ConditionType refers to a condition in the pod's condition list with matching type.
      title: PodReadinessGate contains the reference to a pod condition
    protobufAny:
      type: object
      properties:
        type_url:
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        value:
          type: string
          format: byte
          description: Must be a valid serialized protocol buffer of the above specified type.
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    v1MetricProvider:
      type: object
      properties:
        prometheus:
          $ref: '#/components/schemas/v1PrometheusMetric'
        kayenta:
          $ref: '#/components/schemas/v1KayentaMetric'
        web:
          $ref: '#/components/schemas/v1WebMetric'
        datadog:
          $ref: '#/components/schemas/v1DatadogMetric'
        wavefront:
          $ref: '#/components/schemas/v1WavefrontMetric'
        newRelic:
          $ref: '#/components/schemas/v1NewRelicMetric'
        job:
          $ref: '#/components/schemas/v1JobMetric'
        cloudWatch:
          $ref: '#/components/schemas/v1CloudWatchMetric'
        graphite:
          $ref: '#/components/schemas/v1GraphiteMetric'
        influxdb:
          $ref: '#/components/schemas/v1InfluxdbMetric'
        skywalking:
          $ref: '#/components/schemas/v1SkyWalkingMetric'
        plugin:
          type: object
          additionalProperties:
            type: string
            format: byte
          title: '+kubebuilder:validation:Schemaless

            +kubebuilder:pruning:PreserveUnknownFields

            +kubebuilder:validation:Type=object

            Plugin specifies the hashicorp go-plugin metric to query'
      title: 'MetricProvider which external system to use to verify the analysis

        Only one of the fields in this struct should be non-nil'
    v1SeccompProfile:
      type: object
      properties:
        type:
          type: string
          description: 'Localhost - a profile defined in a file on the node should be used.

            RuntimeDefault - the container runtime default profile should be used.

            Unconfined - no profile should be applied.

            +unionDiscriminator'
          title: 'type indicates which kind of seccomp profile will be applied.

            Valid options are:'
        localhostProfile:
          type: string
          title: 'localhostProfile indicates a profile defined in a file on the node should be used.

            The profile must be preconfigured on the node to work.

            Must be a descending path, relative to the kubelet''s configured seccomp profile location.

            Must be set if type is "Localhost". Must NOT be set for any other type.

            +optional'
      title: 'SeccompProfile defines a pod/container''s seccomp profile settings.

        Only one profile source may be set.

        +union'
    v1RolloutExperimentTemplate:
      type: object
      properties:
        name:
          type: string
          title: Name description of template that passed to the template
        specRef:
          type: string
          title: SpecRef indicates where the rollout should get the RS template from
        replicas:
          type: integer
          format: int32
          title: 'Replicas replica count for the template

            +optional'
        metadata:
          $ref: '#/components/schemas/v1PodTemplateMetadata'
        selector:
          $ref: '#/components/schemas/v1LabelSelector'
        weight:
          type: integer
          format: int32
          title: Weight sets the percentage of traffic the template's replicas should receive
        service:
          $ref: '#/components/schemas/v1TemplateService'
      title: RolloutExperimentTemplate defines the template used to create experiments for the Rollout's experiment canary step
    v1Toleration:
      type: object
      properties:
        key:
          type: string
          title: 'Key is the taint key that the toleration applies to. Empty means match all taint keys.

            If the key is empty, operator must be Exists; this combination means to match all values and all keys.

            +optional'
        operator:
          type: string
          title: 'Operator represents a key''s relationship to the value.

            Valid operators are Exists and Equal. Defaults to Equal.

            Exists is equivalent to wildcard for value, so that a pod can

            tolerate all taints of a particular category.

            +optional'
        value:
          type: string
          title: 'Value is the taint value the toleration matches to.

            If the operator is Exists, the value should be empty, otherwise just a regular string.

            +optional'
        effect:
          type: string
          title: 'Effect indicates the taint effect to match. Empty means match all taint effects.

            When specified, allowed values are NoSchedule, PreferNoSchedule and NoExecute.

            +optional'
        tolerationSeconds:
          type: string
          format: int64
          title: 'TolerationSeconds represents the period of time the toleration (which must be

            of effect NoExecute, otherwise this field is ignored) tolerates the taint. By default,

            it is not set, which means tolerate the taint forever (do not evict). Zero and

            negative values will be treated as 0 (evict immediately) by the system.

            +optional'
      description: 'The pod this Toleration is attached to tolerates any taint that matches

        the triple <key,value,effect> using the matching operator <operator>.'
    v1PreferredSchedulingTerm:
      type: object
      properties:
        weight:
          type: integer
          format: int32
          description: Weight associated with matching the corresponding nodeSelectorTerm, in the range 1-100.
        preference:
          $ref: '#/components/schemas/v1NodeSelectorTerm'
      description: 'An empty preferred scheduling term matches all objects with implicit weight 0

        (i.e. it''s a no-op). A null preferred scheduling term matches no objects (i.e. is also a no-op).'
    v1LabelSelector:
      type: object
      properties:
        matchLabels:
          type: object
          additionalProperties:
            type: string
          title: 'matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels

            map is equivalent to an element of matchExpressions, whose key field is "key", the

            operator is "In", and the values array contains only "value". The requirements are ANDed.

            +optional'
        matchExpressions:
          type: array
          items:
            $ref: '#/components/schemas/v1LabelSelectorRequirement'
          title: 'matchExpressions is a list of label selector requirements. The requirements are ANDed.

            +optional

            +listType=atomic'
      title: 'A label selector is a label query over a set of resources. The result of matchLabels and

        matchExpressions are ANDed. An empty label selector matches all objects. A null

        label selector matches no objects.

        +structType=atomic'
    v1TypedObjectReference:
      type: object
      properties:
        apiGroup:
          type: string
          title: 'APIGroup is the group for the resource being referenced.

            If APIGroup is not specified, the specified Kind must be in the core API group.

            For any other third-party types, APIGroup is required.

            +optional'
        kind:
          type: string
          title: Kind is the type of resource being referenced
        name:
          type: string
          title: Name is the name of resource being referenced
        namespace:
          type: string
          title: 'Namespace is the namespace of resource being referenced

            Note that when a namespace is specified, a gateway.networking.k8s.io/ReferenceGrant object is required in the referent namespace to allow that namespace''s owner to accept the reference. See the ReferenceGrant documentation for details.

            (Alpha) This field requires the CrossNamespaceVolumeDataSource feature gate to be enabled.

            +featureGate=CrossNamespaceVolumeDataSource

            +optional'
      title: TypedObjectReference contains enough information to let you locate the typed referenced object
    v1MeasurementRetention:
      type: object
      properties:
        metricName:
          type: string
          description: MetricName is the name of the metric on which this retention policy should be applied.
        limit:
          type: integer
          format: int32
          description: Limit is the maximum number of measurements to be retained for this given metric.
      description: MeasurementRetention defines the settings for retaining the number of measurements during the analysis.
    v1PodAntiAffinity:
      type: object
      properties:
        requiredDuringSchedulingIgnoredDuringExecution:
          type: array
          items:
            $ref: '#/components/schemas/v1PodAffinityTerm'
          title: 'If the anti-affinity requirements specified by this field are not met at

            scheduling time, the pod will not be scheduled onto the node.

            If the anti-affinity requirements specified by this field cease to be met

            at some point during pod execution (e.g. due to a pod label update), the

            system may or may not try to eventually evict the pod from its node.

            When there are multiple elements, the lists of nodes corresponding to each

            podAffinityTerm are intersected, i.e. all terms must be satisfied.

            +optional

            +listType=atomic'
        preferredDuringSchedulingIgnoredDuringExecution:
          type: array
          items:
            $ref: '#/components/schemas/v1WeightedPodAffinityTerm'
          title: 'The scheduler will prefer to schedule pods to nodes that satisfy

            the anti-affinity expressions specified by this field, but it may choose

            a node that violates one or more of the expressions. The node that is

            most preferred is the one with the greatest sum of weights, i.e.

            for each node that meets all of the scheduling requirements (resource

            request, requiredDuringScheduling anti-affinity expressions, etc.),

            compute a sum by iterating through the elements of this field and subtracting

            "weight" from the sum if the node has pods which matches the corresponding podAffinityTerm; the

            node(s) with the highest sum are the most preferred.

            +optional

            +listType=atomic'
      description: Pod anti affinity is a group of inter pod anti affinity scheduling rules.
    v1PodFailurePolicyOnExitCodesRequirement:
      type: object
      properties:
        containerName:
          type: string
          title: 'Restricts the check for exit codes to the container with the

            specified name. When null, the rule applies to all containers.

            When specified, it should match one the container or initContainer

            names in the pod template.

            +optional'
        operator:
          type: string
[...]
