openapi: 3.2.0
info:
  title: Harness Unit Metric API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Unit Metric
  description: Unit Metric resource.
paths:
  /ccm/api/unit-metric:
    get:
      tags:
      - Unit Metric
      summary: Get Unit Metric
      description: Get a Unit Metric by identifier with records for the specified time range.
      operationId: getUnitMetric
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: metricIdentifier
        in: query
        description: Unit Metric identifier
        required: true
        schema:
          type: string
      - name: startTime
        in: query
        description: Start time in ISO 8601 format (e.g., 2020-03-03T15:32:44Z or 2020-03-03T15:32:44%2B00:00)
        required: true
        schema:
          type: string
      - name: endTime
        in: query
        description: End time in ISO 8601 format (e.g., 2020-03-03T15:32:44Z or 2020-03-03T15:32:44%2B00:00)
        required: true
        schema:
          type: string
      - name: timeTruncGroupBy
        in: query
        description: Calendar bucket for grouping samples before aggregation (DAY, WEEK, MONTH). Each bucket is aggregated in BigQuery using the metric's defaultAggregation (AVG, MIN, MAX, or SUM; see Unit Metric create/update).
        schema:
          type: string
          description: Groups unit metric samples into calendar buckets (DAY, WEEK, or MONTH) before applying the metric's default aggregation in BigQuery.
          default: DAY
          enum:
          - DAY
          - WEEK
          - MONTH
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CcmError'
        default:
          description: Returns Unit Metric metadata and records for the specified time range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOUnitMetricResponseDTO'
    put:
      tags:
      - Unit Metric
      summary: Update Unit Metric
      description: Update an existing Unit Metric.
      operationId: updateUnitMetric
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      requestBody:
        description: Request body containing Unit Metric object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnitMetricRequestDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CcmError'
        default:
          description: Returns an updated Unit Metric Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOUnitMetricResponseDTO'
    post:
      tags:
      - Unit Metric
      summary: Create Unit Metric
      description: Create a Unit Metric.
      operationId: createUnitMetric
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      requestBody:
        description: Request body containing Unit Metric object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnitMetricRequestDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CcmError'
        default:
          description: Returns a created Unit Metric Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOUnitMetricResponseDTO'
    delete:
      tags:
      - Unit Metric
      summary: Delete Unit Metric records or the entire metric
      description: Delete Unit Metric records within a specified time range, or pass deleteCompleteMetric=true to remove the metric definition along with all of its records (startTime/endTime are ignored in that case). A complete delete is rejected when the metric is still referenced by any Perspective.
      operationId: deleteUnitMetric
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: identifier
        in: query
        description: Unit Metric identifier
        required: true
        schema:
          type: string
      - name: startTime
        in: query
        description: Start time in ISO 8601 format (e.g., 2020-03-03T15:32:44Z or 2020-03-03T15:32:44%2B00:00). Required when deleteCompleteMetric=false; ignored otherwise.
        schema:
          type: string
      - name: endTime
        in: query
        description: End time in ISO 8601 format (e.g., 2020-03-03T15:32:44Z or 2020-03-03T15:32:44%2B00:00). Required when deleteCompleteMetric=false; ignored otherwise.
        schema:
          type: string
      - name: deleteCompleteMetric
        in: query
        description: When true, deletes the entire Unit Metric (definition + all records) and ignores startTime/endTime. The deletion is rejected if the metric is referenced by any Perspective.
        schema:
          type: boolean
          default: false
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CcmError'
        default:
          description: Returns success status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
  /ccm/api/unit-metric/perspective/{perspectiveId}:
    post:
      tags:
      - Unit Metric
      summary: Get Column Metric for Perspective
      description: Query a DERIVED-type unit metric with perspective filters applied, optionally with additional filters on top of the perspective's saved rules.
      operationId: getColumnUnitMetricForPerspective
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: perspectiveId
        in: path
        description: Perspective ID whose filters will be applied
        required: true
        schema:
          type: string
      - name: metricIdentifier
        in: query
        description: DERIVED-type unit metric identifier
        required: true
        schema:
          type: string
      - name: startTime
        in: query
        description: Start time in ISO 8601 format (e.g., 2020-03-03T15:32:44Z)
        required: true
        schema:
          type: string
      - name: endTime
        in: query
        description: End time in ISO 8601 format (e.g., 2020-03-03T15:32:44Z)
        required: true
        schema:
          type: string
      - name: timeTruncGroupBy
        in: query
        description: Calendar bucket for time grouping (DAY, WEEK, MONTH).
        schema:
          type: string
          description: Groups unit metric samples into calendar buckets (DAY, WEEK, or MONTH) before applying the metric's default aggregation in BigQuery.
          default: DAY
          enum:
          - DAY
          - WEEK
          - MONTH
      - name: overrideFilter
        in: query
        description: When false (default), body filters are applied on top of the perspective's saved rules. When true, the perspective's saved rules are ignored and only the body filters are applied — used to preview an edited/removed filter set before saving.
        schema:
          type: boolean
          default: false
      requestBody:
        description: Filters applied on top of the perspective's saved rules, or standalone when overrideFilter is true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/QLCEViewFilterWrapper'
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CcmError'
        default:
          description: Returns time-bucketed metric values with perspective filters applied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOUnitMetricResponseDTO'
  /ccm/api/unit-metric/list:
    get:
      tags:
      - Unit Metric
      summary: List All Unit Metrics
      description: Get all Unit Metrics for an account (metadata only, no records).
      operationId: listAllUnitMetrics
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: Number of unit metrics to be shown (max 100)
        required: true
        schema:
          maximum: 100
          type: integer
          format: int32
          default: 20
      - name: pageNo
        in: query
        description: Number of records to be skipped
        required: true
        schema:
          type: integer
          format: int32
          default: 0
      - name: searchKey
        in: query
        description: Search key to filter unit metrics by name (case-insensitive)
        schema:
          type: string
      - name: sortType
        in: query
        description: Sort field for the list
        schema:
          type: string
          default: LAST_UPDATED_AT
          enum:
          - METRIC_NAME
          - LAST_UPDATED_AT
      - name: sortOrder
        in: query
        description: Sort order (ASCENDING or DESCENDING)
        schema:
          type: string
          enum:
          - ASCENDING
          - DESCENDING
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CcmError'
        default:
          description: Returns a list of all Unit Metrics for the account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOUnitMetricListResponseDTO'
components:
  schemas:
    CcmError:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        code:
          type: string
          enum:
          - DEFAULT_ERROR_CODE
          - INVALID_ARGUMENT
          - INVALID_EMAIL
          - DOMAIN_NOT_ALLOWED_TO_REGISTER
          - COMMNITY_EDITION_NOT_FOUND
          - DEPLOY_MODE_IS_NOT_ON_PREM
          - USER_ALREADY_REGISTERED
          - USER_INVITATION_DOES_NOT_EXIST
          - USER_DOES_NOT_EXIST
          - USER_INVITE_OPERATION_FAILED
          - USER_DISABLED
          - ACCOUNT_DOES_NOT_EXIST
          - INACTIVE_ACCOUNT
          - ACCOUNT_MIGRATED
          - ACCOUNT_MIGRATED_TO_NEXT_GEN
          - USER_DOMAIN_NOT_ALLOWED
          - MAX_FAILED_ATTEMPT_COUNT_EXCEEDED
          - RESOURCE_NOT_FOUND
          - INVALID_FORMAT
          - ROLE_DOES_NOT_EXIST
          - EMAIL_NOT_VERIFIED
          - EMAIL_VERIFICATION_TOKEN_NOT_FOUND
          - INVALID_TOKEN
          - REVOKED_TOKEN
          - INVALID_CAPTCHA_TOKEN
          - NOT_ACCOUNT_MGR_NOR_HAS_ALL_APP_ACCESS
          - EXPIRED_TOKEN
          - INVALID_AGENT_MTLS_AUTHORITY
          - TOKEN_ALREADY_REFRESHED_ONCE
          - ACCESS_DENIED
          - NG_ACCESS_DENIED
          - INVALID_CREDENTIAL
          - INVALID_CREDENTIALS_THIRD_PARTY
          - INVALID_KEY
          - INVALID_CONNECTOR_TYPE
          - INVALID_KEYPATH
          - INVALID_VARIABLE
          - UNKNOWN_HOST
          - UNREACHABLE_HOST
          - INVALID_PORT
          - SSH_SESSION_TIMEOUT
          - ALGORITHM_NEGOTIATION_ERROR
          - SOCKET_CONNECTION_ERROR
          - CONNECTION_ERROR
          - COULD_NOT_PROCESS_ERROR
          - SOCKET_CONNECTION_TIMEOUT
          - WINRM_COMMAND_EXECUTION_TIMEOUT
          - CONNECTION_TIMEOUT
          - SSH_CONNECTION_ERROR
          - USER_GROUP_ERROR
          - INVALID_EXECUTION_ID
          - ERROR_IN_GETTING_CHANNEL_STREAMS
          - UNEXPECTED
          - UNKNOWN_ERROR
          - UNKNOWN_EXECUTOR_TYPE_ERROR
          - DUPLICATE_STATE_NAMES
          - TRANSITION_NOT_LINKED
          - TRANSITION_TO_INCORRECT_STATE
          - TRANSITION_TYPE_NULL
          - STATES_WITH_DUP_TRANSITIONS
          - BARRIERS_NOT_RUNNING_CONCURRENTLY
          - NON_FORK_STATES
          - NON_REPEAT_STATES
          - INITIAL_STATE_NOT_DEFINED
          - FILE_INTEGRITY_CHECK_FAILED
          - INVALID_URL
          - FILE_DOWNLOAD_FAILED
          - PLATFORM_SOFTWARE_DELETE_ERROR
          - INVALID_CSV_FILE
          - INVALID_REQUEST
          - SCHEMA_VALIDATION_FAILED
          - FILTER_CREATION_ERROR
          - INVALID_YAML_ERROR
          - PLAN_CREATION_ERROR
          - INVALID_INFRA_STATE
          - PIPELINE_ALREADY_TRIGGERED
          - NON_EXISTING_PIPELINE
          - DUPLICATE_COMMAND_NAMES
          - INVALID_PIPELINE
          - COMMAND_DOES_NOT_EXIST
          - DUPLICATE_ARTIFACTSTREAM_NAMES
          - DUPLICATE_HOST_NAMES
          - STATE_NOT_FOR_TYPE
          - STATE_MACHINE_ISSUE
          - STATE_DISCONTINUE_FAILED
          - STATE_PAUSE_FAILED
          - PAUSE_ALL_ALREADY
          - RESUME_ALL_ALREADY
          - ROLLBACK_ALREADY
          - ABORT_ALL_ALREADY
          - EXPIRE_ALL_ALREADY
          - RETRY_FAILED
          - UNKNOWN_ARTIFACT_TYPE
          - UNKNOWN_STAGE_ELEMENT_WRAPPER_TYPE
          - INIT_TIMEOUT
          - LICENSE_EXPIRED
          - NOT_LICENSED
          - REQUEST_TIMEOUT
          - SCM_REQUEST_TIMEOUT
          - WORKFLOW_ALREADY_TRIGGERED
          - JENKINS_ERROR
          - INVALID_ARTIFACT_SOURCE
          - INVALID_ARTIFACT_SERVER
          - INVALID_CLOUD_PROVIDER
          - UPDATE_NOT_ALLOWED
          - DELETE_NOT_ALLOWED
          - APPDYNAMICS_CONFIGURATION_ERROR
          - APM_CONFIGURATION_ERROR
          - SPLUNK_CONFIGURATION_ERROR
          - ELK_CONFIGURATION_ERROR
          - LOGZ_CONFIGURATION_ERROR
          - SUMO_CONFIGURATION_ERROR
          - INSTANA_CONFIGURATION_ERROR
          - APPDYNAMICS_ERROR
          - STACKDRIVER_ERROR
          - STACKDRIVER_CONFIGURATION_ERROR
          - NEWRELIC_CONFIGURATION_ERROR
          - NEWRELIC_ERROR
          - DYNA_TRACE_CONFIGURATION_ERROR
          - DYNA_TRACE_ERROR
          - CLOUDWATCH_ERROR
          - CLOUDWATCH_CONFIGURATION_ERROR
          - PROMETHEUS_CONFIGURATION_ERROR
          - DATA_DOG_CONFIGURATION_ERROR
          - SERVICE_GUARD_CONFIGURATION_ERROR
          - ENCRYPTION_NOT_CONFIGURED
          - UNAVAILABLE_DELEGATES
          - WORKFLOW_EXECUTION_IN_PROGRESS
          - PIPELINE_EXECUTION_IN_PROGRESS
          - AWS_ACCESS_DENIED
          - AWS_CLUSTER_NOT_FOUND
          - AWS_SERVICE_NOT_FOUND
          - IMAGE_NOT_FOUND
          - ILLEGAL_ARGUMENT
          - IMAGE_TAG_NOT_FOUND
          - DELEGATE_NOT_AVAILABLE
          - INVALID_YAML_PAYLOAD
          - AUTHENTICATION_ERROR
          - AUTHORIZATION_ERROR
          - UNRECOGNIZED_YAML_FIELDS
          - COULD_NOT_MAP_BEFORE_YAML
          - MISSING_BEFORE_YAML
          - MISSING_YAML
          - NON_EMPTY_DELETIONS
          - GENERAL_YAML_ERROR
          - GENERAL_YAML_INFO
          - YAML_GIT_SYNC_ERROR
          - GIT_CONNECTION_ERROR
          - GIT_ERROR
          - ARTIFACT_SERVER_ERROR
          - ENCRYPT_DECRYPT_ERROR
          - SECRET_MANAGEMENT_ERROR
          - SECRET_NOT_FOUND
          - KMS_OPERATION_ERROR
          - GCP_KMS_OPERATION_ERROR
          - VAULT_OPERATION_ERROR
          - AWS_SECRETS_MANAGER_OPERATION_ERROR
          - AZURE_KEY_VAULT_OPERATION_ERROR
          - AZURE_KEY_VAULT_INTERRUPT_ERROR
          - UNSUPPORTED_OPERATION_EXCEPTION
          - FEATURE_UNAVAILABLE
          - GENERAL_ERROR
          - BASELINE_CONFIGURATION_ERROR
          - SAML_IDP_CONFIGURATION_NOT_AVAILABLE
          - INVALID_AUTHENTICATION_MECHANISM
          - INVALID_SAML_CONFIGURATION
          - INVALID_OAUTH_CONFIGURATION
          - INVALID_LDAP_CONFIGURATION
          - USER_GROUP_SYNC_FAILURE
          - USER_GROUP_ALREADY_EXIST
          - INVALID_TWO_FACTOR_AUTHENTICATION_CONFIGURATION
          - EXPLANATION
          - HINT
          - NOT_WHITELISTED_IP
          - INVALID_TOTP_TOKEN
          - EMAIL_FAILED
          - SSL_HANDSHAKE_FAILED
          - NO_APPS_ASSIGNED
          - INVALID_INFRA_CONFIGURATION
          - TEMPLATES_LINKED
          - USER_HAS_NO_PERMISSIONS
          - USER_NOT_AUTHORIZED
          - USER_ALREADY_PRESENT
          - EMAIL_ERROR
          - INVALID_USAGE_RESTRICTION
          - USAGE_RESTRICTION_ERROR
          - STATE_EXECUTION_INSTANCE_NOT_FOUND
          - DELEGATE_TASK_RETRY
          - KUBERNETES_API_TASK_EXCEPTION
          - KUBERNETES_TASK_EXCEPTION
          - KUBERNETES_YAML_ERROR
          - SAVE_FILE_INTO_AWS_STORAGE_FAILED
          - READ_FILE_FROM_AWS_STORAGE_FAILED
          - SAVE_FILE_INTO_GCP_STORAGE_FAILED
          - READ_FILE_FROM_GCP_STORAGE_FAILED
          - FILE_NOT_FOUND_ERROR
          - USAGE_LIMITS_EXCEEDED
          - EVENT_PUBLISH_FAILED
          - CUSTOM_APPROVAL_ERROR
          - JIRA_ERROR
          - EXPRESSION_EVALUATION_FAILED
          - KUBERNETES_VALUES_ERROR
          - KUBERNETES_CLUSTER_ERROR
          - INCORRECT_SIGN_IN_MECHANISM
          - OAUTH_LOGIN_FAILED
          - INVALID_TERRAFORM_TARGETS_REQUEST
          - TERRAFORM_EXECUTION_ERROR
          - FILE_READ_FAILED
          - FILE_SIZE_EXCEEDS_LIMIT
          - CLUSTER_NOT_FOUND
          - MARKETPLACE_TOKEN_NOT_FOUND
          - INVALID_MARKETPLACE_TOKEN
          - INVALID_TICKETING_SERVER
          - SERVICENOW_ERROR
          - PASSWORD_EXPIRED
          - USER_LOCKED
          - PASSWORD_STRENGTH_CHECK_FAILED
          - ACCOUNT_DISABLED
          - INVALID_ACCOUNT_PERMISSION
          - PAGERDUTY_ERROR
          - HEALTH_ERROR
          - SAML_TEST_SUCCESS_MECHANISM_NOT_ENABLED
          - DOMAIN_WHITELIST_FILTER_CHECK_FAILED
          - INVALID_DASHBOARD_UPDATE_REQUEST
          - DUPLICATE_FIELD
          - INVALID_AZURE_VAULT_CONFIGURATION
          - USER_NOT_AUTHORIZED_DUE_TO_USAGE_RESTRICTIONS
          - INVALID_ROLLBACK
          - DATA_COLLECTION_ERROR
          - SUMO_DATA_COLLECTION_ERROR
          - DEPLOYMENT_GOVERNANCE_ERROR
          - BATCH_PROCESSING_ERROR
          - GRAPHQL_ERROR
          - FILE_CREATE_ERROR
          - ILLEGAL_STATE
          - GIT_DIFF_COMMIT_NOT_IN_ORDER
          - FAILED_TO_ACQUIRE_PERSISTENT_LOCK
          - FAILED_TO_ACQUIRE_NON_PERSISTENT_LOCK
          - POD_NOT_FOUND_ERROR
          - COMMAND_EXECUTION_ERROR
          - REGISTRY_EXCEPTION
          - ENGINE_INTERRUPT_PROCESSING_EXCEPTION
          - ENGINE_IO_EXCEPTION
          - ENGINE_OUTCOME_EXCEPTION
          - ENGINE_SWEEPING_OUTPUT_EXCEPTION
          - CACHE_NOT_FOUND_EXCEPTION
          - ENGINE_ENTITY_UPDATE_EXCEPTION
          - SHELL_EXECUTION_EXCEPTION
          - TEMPLATE_NOT_FOUND
          - AZURE_SERVICE_EXCEPTION
          - AZURE_CLIENT_EXCEPTION
          - GIT_UNSEEN_REMOTE_HEAD_COMMIT
          - TIMEOUT_ENGINE_EXCEPTION
          - NO_AVAILABLE_DELEGATES
          - NO_GLOBAL_DELEGATE_ACCOUNT
          - NO_INSTALLED_DELEGATES
          - DUPLICATE_DELEGATE_EXCEPTION
          - GCP_MARKETPLACE_EXCEPTION
          - MISSING_DEFAULT_GOOGLE_CREDENTIALS
          - INCORRECT_DEFAULT_GOOGLE_CREDENTIALS
          - OPTIMISTIC_LOCKING_EXCEPTION
          - NG_PIPELINE_EXECUTION_EXCEPTION
          - NG_PIPELINE_CREATE_EXCEPTION
          - RESOURCE_NOT_FOUND_EXCEPTION
          - PMS_INITIALIZE_SDK_EXCEPTION
          - UNEXPECTED_SNIPPET_EXCEPTION
          - UNEXPECTED_SCHEMA_EXCEPTION
          - CONNECTOR_VALIDATION_EXCEPTION
          - TIMESCALE_NOT_AVAILABLE
          - MIGRATION_EXCEPTION
          - REQUEST_PROCESSING_INTERRUPTED
          - SECRET_MANAGER_ID_NOT_FOUND
          - GCP_SECRET_MANAGER_OPERATION_ERROR
          - GCP_SECRET_OPERATION_ERROR
          - GIT_OPERATION_ERROR
          - TASK_FAILURE_ERROR
          - INSTANCE_STATS_PROCESS_ERROR
          - INSTANCE_STATS_MIGRATION_ERROR
          - DEPLOYMENT_MIGRATION_ERROR
          - CG_LICENSE_USAGE_ERROR
          - INSTANCE_STATS_AGGREGATION_ERROR
          - UNRESOLVED_EXPRESSIONS_ERROR
          - KRYO_HANDLER_NOT_FOUND_ERROR
          - DELEGATE_ERROR_HANDLER_EXCEPTION
          - DELEGATE_SERVICE_DRIVER_EXCEPTION
          - DELEGATE_INSTALLATION_COMMAND_NOT_SUPPORTED_EXCEPTION
          - UNEXPECTED_TYPE_ERROR
          - EXCEPTION_HANDLER_NOT_FOUND
          - CONNECTOR_NOT_FOUND_EXCEPTION
          - GCP_SERVER_ERROR
          - HTTP_RESPONSE_EXCEPTION
          - SCM_NOT_FOUND_ERROR
          - SCM_CONFLICT_ERROR
          - SCM_CONFLICT_ERROR_V2
          - SCM_UNPROCESSABLE_ENTITY
          - PROCESS_EXECUTION_EXCEPTION
          - SCM_UNAUTHORIZED
          - SCM_BAD_REQUEST
          - SCM_INTERNAL_SERVER_ERROR
          - DATA
          - CONTEXT
          - PR_CREATION_ERROR
          - URL_NOT_REACHABLE
          - URL_NOT_PROVIDED
          - ENGINE_EXPRESSION_EVALUATION_ERROR
          - ENGINE_FUNCTOR_ERROR
          - JIRA_CLIENT_ERROR
          - SCM_NOT_MODIFIED
          - APPROVAL_STEP_NG_ERROR
          - BUCKET_SERVER_ERROR
          - GIT_SYNC_ERROR
          - TEMPLATE_EXCEPTION
          - TEMPLATE_ALREADY_EXISTS_EXCEPTION
          - ENTITY_REFERENCE_EXCEPTION
          - ACTIVE_SERVICE_INSTANCES_PRESENT_EXCEPTION
          - INVALID_INPUT_SET
          - INVALID_OVERLAY_INPUT_SET
          - RESOURCE_ALREADY_EXISTS
          - INVALID_JSON_PAYLOAD
          - POLICY_EVALUATION_FAILURE
          - POLICY_SET_ERROR
          - INVALID_ARTIFACTORY_REGISTRY_REQUEST
          - INVALID_NEXUS_REGISTRY_REQUEST
          - ENTITY_NOT_FOUND
          - GITX_OAUTH_NOT_SET
          - INVALID_AZURE_CONTAINER_REGISTRY_REQUEST
          - AZURE_AUTHENTICATION_ERROR
          - AZURE_CONFIG_ERROR
          - DATA_PROCESSING_ERROR
          - INVALID_AZURE_AKS_REQUEST
          - AWS_IAM_ERROR
          - AWS_CF_ERROR
          - AWS_INSTANCE_ERROR
          - AWS_VPC_ERROR
          - AWS_TAG_ERROR
          - AWS_ASG_ERROR
          - AWS_LOAD_BALANCER_ERROR
          - SCM_INTERNAL_SERVER_ERROR_V2
          - SCM_FAILED_DEPENDENCY_ERROR
          - SCM_UNAUTHORIZED_ERROR_V2
          - TOO_MANY_REQUESTS
          - SCM_RATE_LIMIT_ERROR
          - INVALID_IDENTIFIER_REF
          - SPOTINST_NULL_ERROR
          - SPOTNIST_REST_EXCEPTION
          - SCM_UNEXPECTED_ERROR
          - DUPLICATE_FILE_IMPORT
          - AZURE_APP_SERVICES_TASK_EXCEPTION
          - AZURE_ARM_TASK_EXCEPTION
          - AZURE_BP_TASK_EXCEPTION
          - MEDIA_NOT_SUPPORTED
          - AWS_ECS_ERROR
          - AWS_APPLICATION_AUTO_SCALING
          - AWS_ECS_SERVICE_NOT_ACTIVE
          - AWS_ECS_CLIENT_ERROR
          - AWS_STS_ERROR
          - FREEZE_EXCEPTION
          - MISSING_EXCEPTION
          - DELEGATE_TASK_EXPIRED
          - DELEGATE_TASK_VALIDATION_FAILED
          - MONGO_EXECUTION_TIMEOUT_EXCEPTION
          - DELEGATE_NOT_REGISTERED
          - TERRAFORM_VAULT_SECRET_CLEANUP_FAILURE
          - APPROVAL_REJECTION
          - TERRAGRUNT_EXECUTION_ERROR
          - ADFS_ERROR
          - TERRAFORM_CLOUD_ERROR
          - CLUSTER_CREDENTIALS_NOT_FOUND
          - SCM_API_ERROR
          - INTERNAL_SERVER_ERROR
          - SCM_FORBIDDEN
          - AWS_EKS_ERROR
          - OPA_POLICY_EVALUATION_ERROR
          - USER_MARKED_FAILURE
          - SSH_RETRY
          - HTTP_CLIENT_ERROR_RESPONSE
          - HTTP_INTERNAL_SERVER_ERROR
          - HTTP_BAD_GATEWAY
          - HTTP_SERVICE_UNAVAILABLE
          - HTTP_GATEWAY_TIMEOUT
          - HTTP_SERVER_ERROR_RESPONSE
          - PIPELINE_UPDATE_EXCEPTION
          - SERVICENOW_REFRESH_TOKEN_ERROR
          - PARAMETER_FIELD_CAST_ERROR
          - ABORT_ALL_ALREADY_NG
          - WEBHOOK_EXCEPTION
          - INVALID_OIDC_CONFIGURATION
          - INVALID_CREDENTIALS
          - INVALID_OR_PRIVATE_REPO
          - BARRIER_FAILED_ERROR
          - ELASTICSEARCH_NOT_AVAILABLE
          - OBJECT_STORE_NOT_AVAILABLE
          - NO_ELIGIBLE_RUNNERS
          - NO_AVAILABLE_RUNNERS
          - RUNNER_DISCONNECTED
          - EVENT_LISTENER_STEP_FAILURE
          - TRANSACTION_ABORTED
          - UNRESOLVED_EXPRESSIONS_WITH_CONTEXT_ERROR
        message:
          type: string
        correlationId:
          type: string
        detailedMessage:
          type: string
        responseMessages:
          type: array
          items:
            $ref: '#/components/schemas/ResponseMessage'
        metadata:
          $ref: '#/components/schemas/CcmErrorMetadata'
      description: This is Error entity as defined in Harness
    ResponseDTOBoolean:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          type: boolean
        metaData:
          type: object
        correlationId:
          type: string
    UnitMetricListResponseDTO:
      type: object
      properties:
        unitMetrics:
          type: array
          description: Unit Metrics metadata list
          items:
            $ref: '#/components/schemas/UnitMetricListDTO'
        totalCount:
          type: integer
          description: Count of accessible Unit Metrics
          format: int64
    Failure:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        code:
          type: string
          enum:
          - DEFAULT_ERROR_CODE
          - INVALID_ARGUMENT
          - INVALID_EMAIL
          - DOMAIN_NOT_ALLOWED_TO_REGISTER
          - COMMNITY_EDITION_NOT_FOUND
          - DEPLOY_MODE_IS_NOT_ON_PREM
          - USER_ALREADY_REGISTERED
          - USER_INVITATION_DOES_NOT_EXIST
          - USER_DOES_NOT_EXIST
          - USER_INVITE_OPERATION_FAILED
          - USER_DISABLED
          - ACCOUNT_DOES_NOT_EXIST
          - INACTIVE_ACCOUNT
          - ACCOUNT_MIGRATED
          - ACCOUNT_MIGRATED_TO_NEXT_GEN
          - USER_DOMAIN_NOT_ALLOWED
          - MAX_FAILED_ATTEMPT_COUNT_EXCEEDED
          - RESOURCE_NOT_FOUND
          - INVALID_FORMAT
          - ROLE_DOES_NOT_EXIST
          - EMAIL_NOT_VERIFIED
          - EMAIL_VERIFICATION_TOKEN_NOT_FOUND
          - INVALID_TOKEN
          - REVOKED_TOKEN
          - INVALID_CAPTCHA_TOKEN
          - NOT_ACCOUNT_MGR_NOR_HAS_ALL_APP_ACCESS
          - EXPIRED_TOKEN
          - INVALID_AGENT_MTLS_AUTHORITY
          - TOKEN_ALREADY_REFRESHED_ONCE
          - ACCESS_DENIED
          - NG_ACCESS_DENIED
          - INVALID_CREDENTIAL
          - INVALID_CREDENTIALS_THIRD_PARTY
          - INVALID_KEY
          - INVALID_CONNECTOR_TYPE
          - INVALID_KEYPATH
          - INVALID_VARIABLE
          - UNKNOWN_HOST
          - UNREACHABLE_HOST
          - INVALID_PORT
          - SSH_SESSION_TIMEOUT
          - ALGORITHM_NEGOTIATION_ERROR
          - SOCKET_CONNECTION_ERROR
          - CONNECTION_ERROR
          - COULD_NOT_PROCESS_ERROR
          - SOCKET_CONNECTION_TIMEOUT
          - WINRM_COMMAND_EXECUTION_TIMEOUT
          - CONNECTION_TIMEOUT
          - SSH_CONNECTION_ERROR
          - USER_GROUP_ERROR
          - INVALID_EXECUTION_ID
          - ERROR_IN_GETTING_CHANNEL_STREAMS
          - UNEXPECTED
          - UNKNOWN_ERROR
          - UNKNOWN_EXECUTOR_TYPE_ERROR
          - DUPLICATE_STATE_NAMES
          - TRANSITION_NOT_LINKED
          - TRANSITION_TO_INCORRECT_STATE
          - TRANSITION_TYPE_NULL
          - STATES_WITH_DUP_TRANSITIONS
          - BARRIERS_NOT_RUNNING_CONCURRENTLY
          - NON_FORK_STATES
          - NON_REPEAT_STATES
          - INITIAL_STATE_NOT_DEFINED
          - FILE_INTEGRITY_CHECK_FAILED
          - INVALID_URL
          - FILE_DOWNLOAD_FAILED
          - PLATFORM_SOFTWARE_DELETE_ERROR
          - INVALID_CSV_FILE
          - INVALID_REQUEST
          - SCHEMA_VALIDATION_FAILED
          - FILTER_CREATION_ERROR
          - INVALID_YAML_ERROR
          - PLAN_CREATION_ERROR
          - INVALID_INFRA_STATE
          - PIPELINE_ALREADY_TRIGGERED
          - NON_EXISTING_PIPELINE
          - DUPLICATE_COMMAND_NAMES
          - INVALID_PIPELINE
          - COMMAND_DOES_NOT_EXIST
          - DUPLICATE_ARTIFACTSTREAM_NAMES
          - DUPLICATE_HOST_NAMES
          - STATE_NOT_FOR_TYPE
          - STATE_MACHINE_ISSUE
          - STATE_DISCONTINUE_FAILED
          - STATE_PAUSE_FAILED
          - PAUSE_ALL_ALREADY
          - RESUME_ALL_ALREADY
          - ROLLBACK_ALREADY
          - ABORT_ALL_ALREADY
          - EXPIRE_ALL_ALREADY
          - RETRY_FAILED
          - UNKNOWN_ARTIFACT_TYPE
          - UNKNOWN_STAGE_ELEMENT_WRAPPER_TYPE
          - INIT_TIMEOUT
          - LICENSE_EXPIRED
          - NOT_LICENSED
          - REQUEST_TIMEOUT
          - SCM_REQUEST_TIMEOUT
          - WORKFLOW_ALREADY_TRIGGERED
          - JENKINS_ERROR
          - INVALID_ARTIFACT_SOURCE
          - INVALID_ARTIFACT_SERVER
          - INVALID_CLOUD_PROVIDER
          - UPDATE_NOT_ALLOWED
          - DELETE_NOT_ALLOWED
          - APPDYNAMICS_CONFIGURATION_ERROR
          - APM_CONFIGURATION_ERROR
          - SPLUNK_CONFIGURATION_ERROR
          - ELK_CONFIGURATION_ERROR
          - LOGZ_CONFIGURATION_ERROR
          - SUMO_CONFIGURATION_ERROR
          - INSTANA_CONFIGURATION_ERROR
          - APPDYNAMICS_ERROR
          - STACKDRIVER_ERROR
          - STACKDRIVER_CONFIGURATION_ERROR
          - NEWRELIC_CONFIGURATION_ERROR
          - NEWRELIC_ERROR
          - DYNA_TRACE_CONFIGURATION_ERROR
          - DYNA_TRACE_ERROR
          - CLOUDWATCH_ERROR
          - CLOUDWATCH_CONFIGURATION_ERROR
          - PROMETHEUS_CONFIGURATION_ERROR
          - DATA_DOG_CONFIGURATION_ERROR
          - SERVICE_GUARD_CONFIGURATION_ERROR
          - ENCRYPTION_NOT_CONFIGURED
          - UNAVAILABLE_DELEGATES
          - WORKFLOW_EXECUTION_IN_PROGRESS
          - PIPELINE_EXECUTION_IN_PROGRESS
          - AWS_ACCESS_DENIED
          - AWS_CLUSTER_NOT_FOUND
          - AWS_SERVICE_NOT_FOUND
          - IMAGE_NOT_FOUND
          - ILLEGAL_ARGUMENT
          - IMAGE_TAG_NOT_FOUND
          - DELEGATE_NOT_AVAILABLE
          - INVALID_YAML_PAYLOAD
          - AUTHENTICATION_ERROR
          - AUTHORIZATION_ERROR
          - UNRECOGNIZED_YAML_FIELDS
          - COULD_NOT_MAP_BEFORE_YAML
          - MISSING_BEFORE_YAML
          - MISSING_YAML
          - NON_EMPTY_DELETIONS
          - GENERAL_YAML_ERROR
          - GENERAL_YAML_INFO
          - YAML_GIT_SYNC_ERROR
          - GIT_CONNECTION_ERROR
          - GIT_ERROR
          - ARTIFACT_SERVER_ERROR
          - ENCRYPT_DECRYPT_ERROR
          - SECRET_MANAGEMENT_ERROR
          - SECRET_NOT_FOUND
          - KMS_OPERATION_ERROR
          - GCP_KMS_OPERATION_ERROR
          - VAULT_OPERATION_ERROR
          - AWS_SECRETS_MANAGER_OPERATION_ERROR
          - AZURE_KEY_VAULT_OPERATION_ERROR
          - AZURE_KEY_VAULT_INTERRUPT_ERROR
          - UNSUPPORTED_OPERATION_EXCEPTION
          - FEATURE_UNAVAILABLE
          - GENERAL_ERROR
          - BASELINE_CONFIGURATION_ERROR
          - SAML_IDP_CONFIGURATION_NOT_AVAILABLE
          - INVALID_AUTHENTICATION_MECHANISM
          - INVALID_SAML_CONFIGURATION
          - INVALID_OAUTH_CONFIGURATION
          - INVALID_LDAP_CONFIGURATION
          - USER_GROUP_SYNC_FAILURE
          - USER_GROUP_ALREADY_EXIST
          - INVALID_TWO_FACTOR_AUTHENTICATION_CONFIGURATION
          - EXPLANATION
          - HINT
          - NOT_WHITELISTED_IP
          - INVALID_TOTP_TOKEN
          - EMAIL_FAILED
          - SSL_HANDSHAKE_FAILED
          - NO_APPS_ASSIGNED
          - INVALID_INFRA_CONFIGURATION
          - TEMPLATES_LINKED
          - USER_HAS_NO_PERMISSIONS
          - USER_NOT_AUTHORIZED
          - USER_ALREADY_PRESENT
          - EMAIL_ERROR
          - INVALID_USAGE_RESTRICTION
          - USAGE_RESTRICTION_ERROR
          - STATE_EXECUTION_INSTANCE_NOT_FOUND
          - DELEGATE_TASK_RETRY
          - KUBERNETES_API_TASK_EXCEPTION
          - KUBERNETES_TASK_EXCEPTION
          - KUBERNETES_YAML_ERROR
          - SAVE_FILE_INTO_AWS_STORAGE_FAILED
          - READ_FILE_FROM_AWS_STORAGE_FAILED
          - SAVE_FILE_INTO_GCP_STORAGE_FAILED
          - READ_FILE_FROM_GCP_STORAGE_FAILED
          - FILE_NOT_FOUND_ERROR
          - USAGE_LIMITS_EXCEEDED
          - EVENT_PUBLISH_FAILED
          - CUSTOM_APPROVAL_ERROR
          - JIRA_ERROR
          - EXPRESSION_EVALUATION_FAILED
          - KUBERNETES_VALUES_ERROR
          - KUBERNETES_CLUSTER_ERROR
          - INCORRECT_SIGN_IN_MECHANISM
          - OAUTH_LOGIN_FAILED
          - INVALID_TERRAFORM_TARGETS_REQUEST
          - TERRAFORM_EXECUTION_ERROR
          - FILE_READ_FAILED
          - FILE_SIZE_EXCEEDS_LIMIT
          - CLUSTER_NOT_FOUND
          - MARKETPLACE_TOKEN_NOT_FOUND
          - INVALID_MARKETPLACE_TOKEN
          - INVALID_TICKETING_SERVER
          - SERVICENOW_ERROR
          - PASSWORD_EXPIRED
          - USER_LOCKED
          - PASSWORD_STRENGTH_CHECK_FAILED
          - ACCOUNT_DISABLED
          - INVALID_ACCOUNT_PERMISSION
          - PAGERDUTY_ERROR
          - HEALTH_ERROR
          - SAML_TEST_SUCCESS_MECHANISM_NOT_ENABLED
          - DOMAIN_WHITELIST_FILTER_CHECK_FAILED
          - INVALID_DASHBOARD_UPDATE_REQUEST
          - DUPLICATE_FIELD
          - INVALID_AZURE_VAULT_CONFIGURATION
          - USER_NOT_AUTHORIZED_DUE_TO_USAGE_RESTRICTIONS
          - INVALID_ROLLBACK
          - DATA_COLLECTION_ERROR
          - SUMO_DATA_COLLECTION_ERROR
          - DEPLOYMENT_GOVERNANCE_ERROR
          - BATCH_PROCESSING_ERROR
          - GRAPHQL_ERROR
          - FILE_CREATE_ERROR
          - ILLEGAL_STATE
          - GIT_DIFF_COMMIT_NOT_IN_ORDER
          - FAILED_TO_ACQUIRE_PERSISTENT_LOCK
          - FAILED_TO_ACQUIRE_NON_PERSISTENT_LOCK
          - POD_NOT_FOUND_ERROR
          - COMMAND_EXECUTION_ERROR
          - REGISTRY_EXCEPTION
          - ENGINE_INTERRUPT_PROCESSING_EXCEPTION
          - ENGINE_IO_EXCEPTION
          - ENGINE_OUTCOME_EXCEPTION
          - ENGINE_SWEEPING_OUTPUT_EXCEPTION
          - CACHE_NOT_FOUND_EXCEPTION
          - ENGINE_ENTITY_UPDATE_EXCEPTION
          - SHELL_EXECUTION_EXCEPTION
          - TEMPLATE_NOT_FOUND
          - AZURE_SERVICE_EXCEPTION
          - AZURE_CLIENT_EXCEPTION
          - GIT_UNSEEN_REMOTE_HEAD_COMMIT
          - TIMEOUT_ENGINE_EXCEPTION
          - NO_AVAILABLE_DELEGATES
          - NO_GLOBAL_DELEGATE_ACCOUNT
          - NO_INSTALLED_DELEGATES
          - DUPLICATE_DELEGATE_EXCEPTION
          - GCP_MARKETPLACE_EXCEPTION
          - MISSING_DEFAULT_GOOGLE_CREDENTIALS
          - INCORRECT_DEFAULT_GOOGLE_CREDENTIALS
          - OPTIMISTIC_LOCKING_EXCEPTION
          - NG_PIPELINE_EXECUTION_EXCEPTION
          - NG_PIPELINE_CREATE_EXCEPTION
          - RESOURCE_NOT_FOUND_EXCEPTION
          - PMS_INITIALIZE_SDK_EXCEPTION
          - UNEXPECTED_SNIPPET_EXCEPTION
          - UNEXPECTED_SCHEMA_EXCEPTION
          - CONNECTOR_VALIDATION_EXCEPTION
          - TIMESCALE_NOT_AVAILABLE
          - MIGRATION_EXCEPTION
          - REQUEST_PROCESSING_INTERRUPTED
          - SECRET_MANAGER_ID_NOT_FOUND
          - GCP_SECRET_MANAGER_OPERATION_ERROR
          - GCP_SECRET_OPERATION_ERROR
          - GIT_OPERATION_ERROR
          - TASK_FAILURE_ERROR
          - INSTANCE_STATS_PROCESS_ERROR
          - INSTANCE_STATS_MIGRATION_ERROR
          - DEPLOYMENT_MIGRATION_ERROR
          - CG_LICENSE_USAGE_ERROR
          - INSTANCE_STATS_AGGREGATION_ERROR
          - UNRESOLVED_EXPRESSIONS_ERROR
          - KRYO_HANDLER_NOT_FOUND_ERROR
          - DELEGATE_ERROR_HANDLER_EXCEPTION
          - DELEGATE_SERVICE_DRIVER_EXCEPTION
          - DELEGATE_INSTALLATION_COMMAND_NOT_SUPPORTED_EXCEPTION
          - UNEXPECTED_TYPE_ERROR
          - EXCEPTION_HANDLER_NOT_FOUND
          - CONNECTOR_NOT_FOUND_EXCEPTION
          - GCP_SERVER_ERROR
          - HTTP_RESPONSE_EXCEPTION
          - SCM_NOT_FOUND_ERROR
          - SCM_CONFLICT_ERROR
          - SCM_CONFLICT_ERROR_V2
          - SCM_UNPROCESSABLE_ENTITY
          - PROCESS_EXECUTION_EXCEPTION
          - SCM_UNAUTHORIZED
          - SCM_BAD_REQUEST
          - SCM_INTERNAL_SERVER_ERROR
          - DATA
          - CONTEXT
          - PR_CREATION_ERROR
          - URL_NOT_REACHABLE
          - URL_NOT_PROVIDED
          - ENGINE_EXPRESSION_EVALUATION_ERROR
          - ENGINE_FUNCTOR_ERROR
          - JIRA_CLIENT_ERROR
          - SCM_NOT_MODIFIED
          - APPROVAL_STEP_NG_ERROR
          - BUCKET_SERVER_ERROR
          - GIT_SYNC_ERROR
          - TEMPLATE_EXCEPTION
          - TEMPLATE_ALREADY_EXISTS_EXCEPTION
          - ENTITY_REFERENCE_EXCEPTION
          - ACTIVE_SERVICE_INSTANCES_PRESENT_EXCEPTION
          - INVALID_INPUT_SET
          - INVALID_OVERLAY_INPUT_SET
          - RESOURCE_ALREADY_EXISTS
          - INVALID_JSON_PAYLOAD
          - POLICY_EVALUATION_FAILURE
          - POLICY_SET_ERROR
          - INVALID_ARTIFACTORY_REGISTRY_REQUEST
          - INVALID_NEXUS_REGISTRY_REQUEST
          - ENTITY_NOT_FOUND
          - GITX_OAUTH_NOT_SET
          - INVALID_AZURE_CONTAINER_REGISTRY_REQUEST
          - AZURE_AUTHENTICATION_ERROR
          - AZURE_CONFIG_ERROR
          - DATA_PROCESSING_ERROR
          - INVALID_AZURE_AKS_REQUEST
          - AWS_IAM_ERROR
          - AWS_CF_ERROR
          - AWS_INSTANCE_ERROR
          - AWS_VPC_ERROR
          - AWS_TAG_ERROR
          - AWS_ASG_ERROR
          - AWS_LOAD_BALANCER_ERROR
          - SCM_INTERNAL_SERVER_ERROR_V2
          - SCM_FAILED_DEPENDENCY_ERROR
          - SCM_UNAUTHORIZED_ERROR_V2
          - TOO_MANY_REQUESTS
          - SCM_RATE_LIMIT_ERROR
          - INVALID_IDENTIFIER_REF
          - SPOTINST_NULL_ERROR
          - SPOTNIST_REST_EXCEPTION
          - SCM_UNEXPECTED_ERROR
          - DUPLICATE_FILE_IMPORT
          - AZURE_APP_SERVICES_TASK_EXCEPTION
          - AZURE_ARM_TASK_EXCEPTION
          - AZURE_BP_TASK_EXCEPTION
          - MEDIA_NOT_SUPPORTED
          - AWS_ECS_ERROR
          - AWS_APPLICATION_AUTO_SCALING
          - AWS_ECS_SERVICE_NOT_ACTIVE
          - AWS_ECS_CLIENT_ERROR
          - AWS_STS_ERROR
          - FREEZE_EXCEPTION
          - MISSING_EXCEPTION
          - DELEGATE_TASK_EXPIRED
          - DELEGATE_TASK_VALIDATION_FAILED
          - MONGO_EXECUTION_TIMEOUT_EXCEPTION
          - DELEGATE_NOT_REGISTERED
          - TERRAFORM_VAULT_SECRET_CLEANUP_FAILURE
          - APPROVAL_REJECTION
          - TERRAGRUNT_EXECUTION_ERROR
          - ADFS_ERROR
          - TERRAFORM_CLOUD_ERROR
          - CLUSTER_CREDENTIALS_NOT_FOUND
          - SCM_API_ERROR
          - INTERNAL_SERVER_ERROR
          - SCM_FORBIDDEN
          - AWS_EKS_ERROR
          - OPA_POLICY_EVALUATION_ERROR
          - USER_MARKED_FAILURE
          - SSH_RETRY
          - HTTP_CLIENT_ERROR_RESPONSE
          - HTTP_INTERNAL_SERVER_ERROR
          - HTTP_BAD_GATEWAY
          - HTTP_SERVICE_UNAVAILABLE
          - HTTP_GATEWAY_TIMEOUT
          - HTTP_SERVER_ERROR_RESPONSE
          - PIPELINE_UPDATE_EXCEPTION
          - SERVICENOW_REFRESH_TOKEN_ERROR
          - PARAMETER_FIELD_CAST_ERROR
          - ABORT_ALL_ALREADY_NG
          - WEBHOOK_EXCEPTION
          - INVALID_OIDC_CONFIGURATION
          - INVALID_CREDENTIALS
          - INVALID_OR_PRIVATE_REPO
          - BARRIER_FAILED_ERROR
          - ELASTICSEARCH_NOT_AVAILABLE
          - OBJECT_STORE_NOT_AVAILABLE
          - NO_ELIGIBLE_RUNNERS
          - NO_AVAILABLE_RUNNERS
          - RUNNER_DISCONNECTED
          - EVENT_LISTENER_STEP_FAILURE
          - TRANSACTION_ABORTED
          - UNRESOLVED_EXPRESSIONS_WITH_CONTEXT_ERROR
        message:
          type: string
        correlationId:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
      description: This is Failure entity as defied in Harness
    CcmErrorMetadata:
      type: object
      properties:
        type:
          type: string
      description: This implements different error meta data objects
      discriminator:
        propertyName: type
    QLCEViewFieldInput:
      type: object
      properties:
        fieldId:
          type: string
        fieldName:
          type: string
        identifier:
          type: string
          description: Perspective filter Category, CLUSTER means Kubernetes
          enum:
          - CLUSTER
          - AWS
          - GCP
          - AZURE
          - OPENAI
          - ANTHROPIC
          - AI
          - AI_TRACE
          - EXTERNAL_DATA
          - COMMON
          - CUSTOM
          - BUSINESS_MAPPING
          - LABEL
          - LABEL_V2
        identifierName:
          type: string
    ValidationError:
      type: object
      properties:
        fieldId:
          type: string
        error:
          type: string
    QLCEViewFilter:
      type: object
      properties:
        field:
          $ref: '#/components/schemas/QLCEViewFieldInput'
        operator:
          type: string
          enum:
          - NOT_IN
          - IN
          - EQUALS
          - NOT_NULL
          - 'NULL'
          - LIKE
          - SEARCH
        values:
          type: array
          items:
            type: string
    ResponseMessage:
      type: object
      properties:
        code:
          type: string
          enum:
          - DEFAULT_ERROR_CODE
          - INVALID_ARGUMENT
          - INVALID_EMAIL
          - DOMAIN_NOT_ALLOWED_TO_REGISTER
          - COMMNITY_EDITION_NOT_FOUND
          - DEPLOY_MODE_IS_NOT_ON_PREM
          - USER_ALREADY_REGISTERED
          - USER_INVITATION_DOES_NOT_EXIST
          - USER_DOES_NOT_EXIST
          - USER_INVITE_OPERATION_FAILED
          - USER_DISABLED
          - ACCOUNT_DOES_NOT_EXIST
          - INACTIVE_ACCOUNT
          - ACCOUNT_MIGRATED
          - ACCOUNT_MIGRATED_TO_NEXT_GEN
          - USER_DOMAIN_NOT_ALLOWED
          - MAX_FAILED_ATTEMPT_COUNT_EXCEEDED
          - RESOURCE_NOT_FOUND
          - INVALID_FORMAT
          - ROLE_DOES_NOT_EXIST
          - EMAIL_NOT_VERIFIED
          - EMAIL_VERIFICATION_TOKEN_NOT_FOUND
          - INVALID_TOKEN
          - REVOKED_TOKEN
          - INVALID_CAPTCHA_TOKEN
          - NOT_ACCOUNT_MGR_NOR_HAS_ALL_APP_ACCESS
          - EXPIRED_TOKEN
          - INVALID_AGENT_MTLS_AUTHORITY
          - TOKEN_ALREADY_REFRESHED_ONCE
          - ACCESS_DENIED
          - NG_ACCESS_DENIED
          - INVALID_CREDENTIAL
          - INVALID_CREDENTIALS_THIRD_PARTY
          - INVALID_KEY
          - INVALID_CONNECTOR_TYPE
          - INVALID_KEYPATH
          - INVALID_VARIABLE
          - UNKNOWN_HOST
          - UNREACHABLE_HOST
          - INVALID_PORT
          - SSH_SESSION_TIMEOUT
          - ALGORITHM_NEGOTIATION_ERROR
          - SOCKET_CONNECTION_ERROR
          - CONNECTION_ERROR
          - COULD_NOT_PROCESS_ERROR
          - SOCKET_CONNECTION_TIMEOUT
          - WINRM_COMMAND_EXECUTION_TIMEOUT
          - CONNECTION_TIMEOUT
          - SSH_CONNECTION_ERROR
          - USER_GROUP_ERROR
          - INVALID_EXECUTION_ID
          - ERROR_IN_GETTING_CHANNEL_STREAMS
          - UNEXPECTED
          - UNKNOWN_ERROR
          - UNKNOWN_EXECUTOR_TYPE_ERROR
          - DUPLICATE_STATE_NAMES
          - TRANSITION_NOT_LINKED
          - TRANSITION_TO_INCORRECT_STATE
          - TRANSITION_TYPE_NULL
          - STATES_WITH_DUP_TRANSITIONS
          - BARRIERS_NOT_RUNNING_CONCURRENTLY
          - NON_FORK_STATES
          - NON_REPEAT_STATES
          - INITIAL_STATE_NOT_DEFINED
          - FILE_INTEGRITY_CHECK_FAILED
          - INVALID_URL
          - FILE_DOWNLOAD_FAILED
          - PLATFORM_SOFTWARE_DELETE_ERROR
          - INVALID_CSV_FILE
          - INVALID_REQUEST
          - SCHEMA_VALIDATION_FAILED
          - FILTER_CREATION_ERROR
          - INVALID_YAML_ERROR
          - PLAN_CREATION_ERROR
          - INVALID_INFRA_STATE
          - PIPELINE_ALREADY_TRIGGERED
          - NON_EXISTING_PIPELINE
          - DUPLICATE_COMMAND_NAMES
          - INVALID_PIPELINE
          - COMMAND_DOES_NOT_EXIST
          - DUPLICATE_ARTIFACTSTREAM_NAMES
          - DUPLICATE_HOST_NAMES
          - STATE_NOT_FOR_TYPE
          - STATE_MACHINE_ISSUE
          - STATE_DISCONTINUE_FAILED
          - STATE_PAUSE_FAILED
          - PAUSE_ALL_ALREADY
          - RESUME_ALL_ALREADY
          - ROLLBACK_ALREADY
          - ABORT_ALL_ALREADY
          - EXPIRE_ALL_ALREADY
          - RETRY_FAILED
          - UNKNOWN_ARTIFACT_TYPE
          - UNKNOWN_STAGE_ELEMENT_WRAPPER_TYPE
          - INIT_TIMEOUT
          - LICENSE_EXPIRED
          - NOT_LICENSED
          - REQUEST_TIMEOUT
          - SCM_REQUEST_TIMEOUT
          - WORKFLOW_ALREADY_TRIGGERED
          - JENKINS_ERROR
          - INVALID_ARTIFACT_SOURCE
          - INVALID_ARTIFACT_SERVER
          - INVALID_CLOUD_PROVIDER
          - UPDATE_NOT_ALLOWED
          - DELETE_NOT_ALLOWED
          - APPDYNAMICS_CONFIGURATION_ERROR
          - APM_CONFIGURATION_ERROR
          - SPLUNK_CONFIGURATION_ERROR
          - ELK_CONFIGURATION_ERROR
          - LOGZ_CONFIGURATION_ERROR
          - SUMO_CONFIGURATION_ERROR
          - INSTANA_CONFIGURATION_ERROR
          - APPDYNAMICS_ERROR
          - STACKDRIVER_ERROR
          - STACKDRIVER_CONFIGURATION_ERROR
          - NEWRELIC_CONFIGURATION_ERROR
          - NEWRELIC_ERROR
          - DYNA_TRACE_CONFIGURATION_ERROR
          - DYNA_TRACE_ERROR
          - CLOUDWATCH_ERROR
          - CLOUDWATCH_CONFIGURATION_ERROR
          - PROMETHEUS_CONFIGURATION_ERROR
          - DATA_DOG_CONFIGURATION_ERROR
          - SERVICE_GUARD_CONFIGURATION_ERROR
          - ENCRYPTION_NOT_CONFIGURED
          - UNAVAILABLE_DELEGATES
          - WORKFLOW_EXECUTION_IN_PROGRESS
          - PIPELINE_EXECUTION_IN_PROGRESS
          - AWS_ACCESS_DENIED
          - AWS_CLUSTER_NOT_FOUND
          - AWS_SERVICE_NOT_FOUND
          - IMAGE_NOT_FOUND
          - ILLEGAL_ARGUMENT
          - IMAGE_TAG_NOT_FOUND
          - DELEGATE_NOT_AVAILABLE
          - INVALID_YAML_PAYLOAD
          - AUTHENTICATION_ERROR
          - AUTHORIZATION_ERROR
          - UNRECOGNIZED_YAML_FIELDS
          - COULD_NOT_MAP_BEFORE_YAML
          - MISSING_BEFORE_YAML
          - MISSING_YAML
          - NON_EMPTY_DELETIONS
          - GENERAL_YAML_ERROR
          - GENERAL_YAML_INFO
          - YAML_GIT_SYNC_ERROR
          - GIT_CONNECTION_ERROR
          - GIT_ERROR
          - ARTIFACT_SERVER_ERROR
          - ENCRYPT_DECRYPT_ERROR
          - SECRET_MANAGEMENT_ERROR
          - SECRET_NOT_FOUND
          - KMS_OPERATION_ERROR
          - GCP_KMS_OPERATION_ERROR
          - VAULT_OPERATION_ERROR
          - AWS_SECRETS_MANAGER_OPERATION_ERROR
          - AZURE_KEY_VAULT_OPERATION_ERROR
          - AZURE_KEY_VAULT_INTERRUPT_ERROR
          - UNSUPPORTED_OPERATION_EXCEPTION
          - FEATURE_UNAVAILABLE
          - GENERAL_ERROR
          - BASELINE_CONFIGURATION_ERROR
          - SAML_IDP_CONFIGURATION_NOT_AVAILABLE
          - INVALID_AUTHENTICATION_MECHANISM
          - INVALID_SAML_CONFIGURATION
          - INVALID_OAUTH_CONFIGURATION
          - INVALID_LDAP_CONFIGURATION
          - USER_GROUP_SYNC_FAILURE
          - USER_GROUP_ALREADY_EXIST
          - INVALID_TWO_FACTOR_AUTHENTICATION_CONFIGURATION
          - EXPLANATION
          - HINT
          - NOT_WHITELISTED_IP
          - INVALID_TOTP_TOKEN
          - EMAIL_FAILED
          - SSL_HANDSHAKE_FAILED
          - NO_APPS_ASSIGNED
          - INVALID_INFRA_CONFIGURATION
          - TEMPLATES_LINKED
          - USER_HAS_NO_PERMISSIONS
          - USER_NOT_AUTHORIZED
          - USER_ALREADY_PRESENT
          - EMAIL_ERROR
          - INVALID_USAGE_RESTRICTION
          - USAGE_RESTRICTION_ERROR
          - STATE_EXECUTION_INSTANCE_NOT_FOUND
          - DELEGATE_TASK_RETRY
          - KUBERNETES_API_TASK_EXCEPTION
          - KUBERNETES_TASK_EXCEPTION
          - KUBERNETES_YAML_ERROR
          - SAVE_FILE_INTO_AWS_STORAGE_FAILED
          - READ_FILE_FROM_AWS_STORAGE_FAILED
          - SAVE_FILE_INTO_GCP_STORAGE_FAILED
          - READ_FILE_FROM_GCP_STORAGE_FAILED
          - FILE_NOT_FOUND_ERROR
          - USAGE_LIMITS_EXCEEDED
          - EVENT_PUBLISH_FAILED
          - CUSTOM_APPROVAL_ERROR
          - JIRA_ERROR
          - EXPRESSION_EVALUATION_FAILED
          - KUBERNETES_VALUES_ERROR
          - KUBERNETES_CLUSTER_ERROR
          - INCORRECT_SIGN_IN_MECHANISM
          - OAUTH_LOGIN_FAILED
          - INVALID_TERRAFORM_TARGETS_REQUEST
          - TERRAFORM_EXECUTION_ERROR
          - FILE_READ_FAILED
          - FILE_SIZE_EXCEEDS_LIMIT
          - CLUSTER_NOT_FOUND
          - MARKETPLACE_TOKEN_NOT_FOUND
          - INVALID_MARKETPLACE_TOKEN
          - INVALID_TICKETING_SERVER
          - SERVICENOW_ERROR
          - PASSWORD_EXPIRED
          - USER_LOCKED
          - PASSWORD_STRENGTH_CHECK_FAILED
          - ACCOUNT_DISABLED
          - INVALID_ACCOUNT_PERMISSION
          - PAGERDUTY_ERROR
          - HEALTH_ERROR
          - SAML_TEST_SUCCESS_MECHANISM_NOT_ENABLED
          - DOMAIN_WHITELIST_FILTER_CHECK_FAILED
          - INVALID_DASHBOARD_UPDATE_REQUEST
          - DUPLICATE_FIELD
          - INVALID_AZURE_VAULT_CONFIGURATION
          - USER_NOT_AUTHORIZED_DUE_TO_USAGE_RESTRICTIONS
          - INVALID_ROLLBACK
          - DATA_COLLECTION_ERROR
          - SUMO_DATA_COLLECTION_ERROR
          - DEPLOYMENT_GOVERNANCE_ERROR
          - BATCH_PROCESSING_ERROR
          - GRAPHQL_ERROR
          - FILE_CREATE_ERROR
          - ILLEGAL_STATE
          - GIT_DIFF_COMMIT_NOT_IN_ORDER
          - FAILED_TO_ACQUIRE_PERSISTENT_LOCK
          - FAILED_TO_ACQUIRE_NON_PERSISTENT_LOCK
          - POD_NOT_FOUND_ERROR
          - COMMAND_EXECUTION_ERROR
          - REGISTRY_EXCEPTION
          - ENGINE_INTERRUPT_PROCESSING_EXCEPTION
          - ENGINE_IO_EXCEPTION
          - ENGINE_OUTCOME_EXCEPTION
          - ENGINE_SWEEPING_OUTPUT_EXCEPTION
          - CACHE_NOT_FOUND_EXCEPTION
          - ENGINE_ENTITY_UPDATE_EXCEPTION
          - SHELL_EXECUTION_EXCEPTION
          - TEMPLATE_NOT_FOUND
          - AZURE_SERVICE_EXCEPTION
          - AZURE_CLIENT_EXCEPTION
          - GIT_UNSEEN_REMOTE_HEAD_COMMIT
          - TIMEOUT_ENGINE_EXCEPTION
          - NO_AVAILABLE_DELEGATES
          - NO_GLOBAL_DELEGATE_ACCOUNT
          - NO_INSTALLED_DELEGATES
          - DUPLICATE_DELEGATE_EXCEPTION
          - GCP_MARKETPLACE_EXCEPTION
          - MISSING_DEFAULT_GOOGLE_CREDENTIALS
          - INCORRECT_DEFAULT_GOOGLE_CREDENTIALS
          - OPTIMISTIC_LOCKING_EXCEPTION
          - NG_PIPELINE_EXECUTION_EXCEPTION
          - NG_PIPELINE_CREATE_EXCEPTION
          - RESOURCE_NOT_FOUND_EXCEPTION
          - PMS_INITIALIZE_SDK_EXCEPTION
          - UNEXPECTED_SNIPPET_EXCEPTION
          - UNEXPECTED_SCHEMA_EXCEPTION
          - CONNECTOR_VALIDATION_EXCEPTION
          - TIMESCALE_NOT_AVAILABLE
          - MIGRATION_EXCEPTION
          - REQUEST_PROCESSING_INTERRUPTED
          - SECRET_MANAGER_ID_NOT_FOUND
          - GCP_SECRET_MANAGER_OPERATION_ERROR
          - GCP_SECRET_OPERATION_ERROR
          - GIT_OPERATION_ERROR
          - TASK_FAILURE_ERROR
          - INSTANCE_STATS_PROCESS_ERROR
          - INSTANCE_STATS_MIGRATION_ERROR
          - DEPLOYMENT_MIGRATION_ERROR
          - CG_LICENSE_USAGE_ERROR
          - INSTANCE_STATS_AGGREGATION_ERROR
          - UNRESOLVED_EXPRESSIONS_ERROR
          - KRYO_HANDLER_NOT_FOUND_ERROR
          - DELEGATE_ERROR_HANDLER_EXCEPTION
          - DELEGATE_SERVICE_DRIVER_EXCEPTION
          - DELEGATE_INSTALLATION_COMMAND_NOT_SUPPORTED_EXCEPTION
          - UNEXPECTED_TYPE_ERROR
          - EXCEPTION_HANDLER_NOT_FOUND
          - CONNECTOR_NOT_FOUND_EXCEPTION
          - GCP_SERVER_ERROR
          - HTTP_RESPONSE_EXCEPTION
          - SCM_NOT_FOUND_ERROR
          - SCM_CONFLICT_ERROR
          - SCM_CONFLICT_ERROR_V2
          - SCM_UNPROCESSABLE_ENTITY
          - PROCESS_EXECUTION_EXCEPTION
          - SCM_UNAUTHORIZED
          - SCM_BAD_REQUEST
          - SCM_INTERNAL_SERVER_ERROR
          - DATA
          - CONTEXT
          - PR_CREATION_ERROR
          - URL_NOT_REACHABLE
          - URL_NOT_PROVIDED
          - ENGINE_EXPRESSION_EVALUATION_ERROR
          - ENGINE_FUNCTOR_ERROR
          - JIRA_CLIENT_ERROR
          - SCM_NOT_MODIFIED
          - APPROVAL_STEP_NG_ERROR
          - BUCKET_SERVER_ERROR
          - GIT_SYNC_ERROR
          - TEMPLATE_EXCEPTION
          - TEMPLATE_ALREADY_EXISTS_EXCEPTION
          - ENTITY_REFERENCE_EXCEPTION
          - ACTIVE_SERVICE_INSTANCES_PRESENT_EXCEPTION
          - INVALID_INPUT_SET
          - INVALID_OVERLAY_INPUT_SET
          - RESOURCE_ALREADY_EXISTS
          - INVALID_JSON_PAYLOAD
          - POLICY_EVALUATION_FAILURE
          - POLICY_SET_ERROR
          - INVALID_ARTIFACTORY_REGISTRY_REQUEST
          - INVALID_NEXUS_REGISTRY_REQUEST
          - ENTITY_NOT_FOUND
          - GITX_OAUTH_NOT_SET
          - INVALID_AZURE_CONTAINER_REGISTRY_REQUEST
          - AZURE_AUTHENTICATION_ERROR
          - AZURE_CONFIG_ERROR
          - DATA_PROCESSING_ERROR
          - INVALID_AZURE_AKS_REQUEST
          - AWS_IAM_ERROR
          - AWS_CF_ERROR
          - AWS_INSTANCE_ERROR
          - AWS_VPC_ERROR
          - AWS_TAG_ERROR
          - AWS_ASG_ERROR
          - AWS_LOAD_BALANCER_ERROR
          - SCM_INTERNAL_SERVER_ERROR_V2
          - SCM_FAILED_DEPENDENCY_ERROR
          - SCM_UNAUTHORIZED_ERROR_V2
          - TOO_MANY_REQUESTS
          - SCM_RATE_LIMIT_ERROR
          - INVALID_IDENTIFIER_REF
          - SPOTINST_NULL_ERROR
          - SPOTNIST_REST_EXCEPTION
          - SCM_UNEXPECTED_ERROR
          - DUPLICATE_FILE_IMPORT
          - AZURE_APP_SERVICES_TASK_EXCEPTION
          - AZURE_ARM_TASK_EXCEPTION
          - AZURE_BP_TASK_EXCEPTION
          - MEDIA_NOT_SUPPORTED
          - AWS_ECS_ERROR
          - AWS_APPLICATION_AUTO_SCALING
          - AWS_ECS_SERVICE_NOT_ACTIVE
          - AWS_ECS_CLIENT_ERROR
          - AWS_STS_ERROR
          - FREEZE_EXCEPTION
          - MISSING_EXCEPTION
          - DELEGATE_TASK_EXPIRED
          - DELEGATE_TASK_VALIDATION_FAILED
          - MONGO_EXECUTION_TIMEOUT_EXCEPTION
          - DELEGATE_NOT_REGISTERED
          - TERRAFORM_VAULT_SECRET_CLEANUP_FAILURE
          - APPROVAL_REJECTION
          - TERRAGRUNT_EXECUTION_ERROR
          - ADFS_ERROR
          - TERRAFORM_CLOUD_ERROR
          - CLUSTER_CREDENTIALS_NOT_FOUND
          - SCM_API_ERROR
          - INTERNAL_SERVER_ERROR
          - SCM_FORBIDDEN
          - AWS_EKS_ERROR
          - OPA_POLICY_EVALUATION_ERROR
          - USER_MARKED_FAILURE
          - SSH_RETRY
          - HTTP_CLIENT_ERROR_RESPONSE
          - HTTP_INTERNAL_SERVER_ERROR
          - HTTP_BAD_GATEWAY
          - HTTP_SERVICE_UNAVAILABLE
          - HTTP_GATEWAY_TIMEOUT
          - HTTP_SERVER_ERROR_RESPONSE
          - PIPELINE_UPDATE_EXCEPTION
          - SERVICENOW_REFRESH_TOKEN_ERROR
          - PARAMETER_FIELD_CAST_ERROR
          - ABORT_ALL_ALREADY_NG
          - WEBHOOK_EXCEPTION
          - INVALID_OIDC_CONFIGURATION
          - INVALID_CREDENTIALS
          - INVALID_OR_PRIVATE_REPO
          - BARRIER_FAILED_ERROR
          - ELASTICSEARCH_NOT_AVAILABLE
          - OBJECT_STORE_NOT_AVAILABLE
          - NO_ELIGIBLE_RUNNERS
          - NO_AVAILABLE_RUNNERS
          - RUNNER_DISCONNECTED
          - EVENT_LISTENER_STEP_FAILURE
          - TRANSACTION_ABORTED
          - UNRESOLVED_EXPRESSIONS_WITH_CONTEXT_ERROR
        level:
          type: string
          enum:
          - INFO
          - ERROR
        message:
          type: string
        exception:
          type: object
          properties:
            stackTrace:
              type: array
              items:
                type: object
                properties:
                  classLoaderName:
                    type: string
                  moduleName:
                    type: string
                  moduleVersion:
                    type: string
                  methodName:
                    type: string
                  fileName:
                    type: string
                  lineNumber:
                    type: integer
                    format: int32
                  nativeMethod:
                    type: boolean
                  className:
                    type: string
            message:
              type: string
            suppressed:
              type: array
              items:
                type: object
                properties:
                  stackTrace:
                    type: array
                    items:
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        methodName:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        nativeMethod:
                          type: boolean
                        className:
                          type: string
                  message:
                    type: string
                  localizedMessage:
                    type: string
            localizedMessage:
              type: string
        failureTypes:
          type: array
          items:
            type: string
            enum:
            - EXPIRED
            - DELEGATE_PROVISIONING
            - CONNECTIVITY
            - AUTHENTICATION
            - VERIFICATION_FAILURE
            - APPLICATION_ERROR
            - AUTHORIZATION_ERROR
            - TIMEOUT_ERROR
            - POLICY_EVALUATION_FAILURE
            - INPUT_TIMEOUT_FAILURE
            - APPROVAL_REJECTION
            - DELEGATE_RESTART
            - USER_MARKED_FAILURE
            - INFRASTRUCTURE_FAILURE
            - PLUGIN_IMAGE_FAILURE
            - RESOURCE_LIMITS_FAILURE
            - CONFIGURATION_FAILURE
            - RETRYABLE_TRANSIENT_FAILURE
        failureSubTypes:
          type: array
          items:
            type: string
            enum:
            - UNKNOWN_FAILURE_REASON
            - SOCKET_TIMEOUT
            - SSL_HANDSHAKE_EXCEPTION
            - IO_EXCEPTION
            - AUTHORIZATION
            - VALIDATION
            - CONNECTION_TIMEOUT
            - API_REQUEST_EXCEPTION
            - NO_ELIGIBLE_DELEGATE_AVAILABLE
            - NON_ACTIVE_DELEGATE
            - DELEGATE_DISCONNECTED
            - GENERAL_ERROR
            - INPUT_ERROR
            - INVALID_PARAMETERS
            - MISSING_CONFIGURATION
            - SECRET_RESOLUTION_ERROR
            - UNAUTHORIZED
            - FORBIDDEN_ERROR
            - DEPENDENCY_ISSUE
            - EXECUTION_FAILURE
            - INVALID_MANIFEST_CONFIGURATION
            - RESOURCE_NOT_FOUND
            - CERTIFICATE_ERROR
            - UNKNOWN_COMMAND_FLAG
            - HELM_EXISTING_RESOURCE_CONFLICT
            - HELM_RESOURCE_ALREADY_EXISTS
            - NO_DEPLOYED_HELM_RELEASES
            - HELM_INSTALL_FAILED
            - HELM_UPGRADE_FAILED
            - HELM_ROLLBACK_FAILED
            - HELM_FETCH_FAILED
            - HELM_REPO_ADD_FAILED
            - HELM_RENDER_CHART_FAILED
            - HELM_LIST_RELEASE_FAILED
            - HELM_RELEASE_HISTORY_FAILED
            - RUNNER_FAILED_TO_START
            - POD_SCHEDULING_FAILED
            - CONTAINER_OOM_KILLED
            - DISK_SPACE_EXHAUSTED
            - STEP_SETUP_TIMEOUT
            - FILE_SYSTEM_PERMISSION_ERROR
            - DNS_RESOLUTION_FAILED
            - CONNECTION_REFUSED
            - PROXY_MISCONFIGURED
            - GIT_FETCH_FAILED
            - REGISTRY_UNREACHABLE
            - DOCKER_IMAGE_PULL_FAILED
            - ENTRYPOINT_SCRIPT_FAILED
            - PLUGIN_STEP_TIMEOUT
            - PLUGIN_CONFIGURATION_INVALID
            - PLUGIN_CRASHED
            - UNSUPPORTED_PLATFORM_ARCH
            - SCRIPT_EXITED_NON_ZERO
            - SCRIPT_SYNTAX_ERROR
            - SCRIPT_RUNTIME_CRASH
            - UNIT_TESTS_FAILED
            - SECURITY_SCAN_FAILED
            - LINT_FORMAT_FAILED
            - DEPENDENCY_RESOLUTION_FAILED
            - INVALID_CREDENTIALS
            - ACCESS_FORBIDDEN
            - STEP_NOT_ALLOWED
            - REQUIRED_FIELD_MISSING
            - INVALID_YAML
            - EXPRESSION_EVALUATION_FAILED
            - INPUT_TYPE_MISMATCH
            - INVALID_RESOURCE_REFERENCE
            - CPU_EXCEEDED
            - MEMORY_EXCEEDED
            - ORG_PROJECT_QUOTA_EXCEEDED
            - STAGE_CONCURRENCY_EXCEEDED
            - RATE_LIMIT_HIT
            - INTERNAL_SERVER_ERROR
            - PIPELINE_EXECUTION_FAILED
            - EVENT_DISPATCH_FAILED
            - STEP_FAILED_TO_START
            - UNSUPPORTED_FEATURE
            - STEP_EXECUTION_TIMEOUT
            - STAGE_EXECUTION_TIMEOUT
            - APPROVAL_EXPIRED
            - ARTIFACT_FETCH_TIMEOUT
            - DELEGATE_TEMPORARILY_BUSY
            - INFRA_COMPONENT_RESTARTED
            - NETWORK_GLITCH
            - REGISTRY_RATE_LIMITED
            - POD_EVICTION
            - UNRECOGNIZED
        additionalInfo:
          type: object
          additionalProperties:
            type: string
    QLCEViewFilterWrapper:
      type: object
      properties:
        idFilter:
          $ref: '#/components/schemas/QLCEViewFilter'
        timeFilter:
          $ref: '#/components/schemas/QLCEViewTimeFilter'
        timeRangeTypeFilter:
          type: string
          enum:
          - LAST_MONTH
          - CURRENT_MONTH
        viewMetadataFilter:
          $ref: '#/components/schemas/QLCEViewMetadataFilter'
        ruleFilter:
          $ref: '#/components/schemas/QLCEViewRule'
      description: Get Recommendations for a perspective
    UnitCostMetricRecord:
      required:
      - usageTimeStamp
      - value
      type: object
      properties:
        value:
          type: number
          description: Value for a particular Record
          format: double
        usageTimeStamp:
          pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z|[+-]\d{2}:\d{2})$
          type: string
          description: Usage TimeStamp for a particular Record
      description: This object will contain records for a Unit Metric
    QLCEViewTimeFilter:
      type: object
      properties:
        field:
          $ref: '#/components/schemas/QLCEViewFieldInput'
        operator:
          type: string
          enum:
          - AFTER
          - BEFORE
        value:
          type: number
    ResponseDTOUnitMetricListResponseDTO:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/UnitMetricListResponseDTO'
        metaData:
          type: object
        correlationId:
          type: string
    QLCEViewRule:
      type: object
      properties:
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/QLCEViewFilter'
    UnitMetricRequestDTO:
      required:
      - metricIdentifier
      - metricName
      type: object
      properties:
        metricIdentifier:
          type: string
          description: Unique metric identifier for the unit metric
        metricName:
          type: string
          description: Display name of the unit metric
        labels:
          type: object
          additionalProperties:
            type: string
            description: Optional key-value labels for the unit metric (e.g. manager, team). At most 128 entries; each key and each value may be at most 256 characters. On update, omit this field or send null to leave existing labels unchanged; send an empty object {} to remove all labels.
            example: '{"manager":"kiran"}'
          description: Optional key-value labels for the unit metric (e.g. manager, team). At most 128 entries; each key and each value may be at most 256 characters. On update, omit this field or send null to leave existing labels unchanged; send an empty object {} to remove all labels.
          example:
            manager: kiran
        description:
          type: string
          description: Unit Metric Description
        defaultAggregation:
          type: string
          description: 'Aggregation applied to unit cost metric values per time bucket in BigQuery. Supported: AVG (default when omitted or null), MIN, MAX, SUM.'
          enum:
          - AVG
          - MIN
          - MAX
          - SUM
        handleEmptyValue:
          type: string
          description: 'Strategy for handling missing/empty data points in unit cost metrics. LEAVE_BLANK: leave missing points empty (default). PREVIOUS_VALUE: carry forward the last known value. ZERO: fill gaps with 0.'
          enum:
          - PREVIOUS_VALUE
          - ZERO
          - LEAVE_BLANK
        unitMetricRecords:
          type: array
          description: Unit Metric Records
          items:
            $ref: '#/components/schemas/UnitCostMetricRecord'
        type:
          type: string
          description: 'Discriminator for unit metric data source: manually uploaded time-series or derived dynamically from a BigQuery column.'
          enum:
          - MANUAL
          - DERIVED
        dataSource:
          type: string
          description: BigQuery table to query for COLUMN-type unit metrics.
          enum:
          - BILLING
          - LLM_TRACES
        fieldId:
          type: string
          description: BigQuery column name to aggregate for DERIVED metrics. Required when type=DERIVED.
        columnAggregation:
          type: string
          description: SQL aggregation function applied to the fieldId column.
          enum:
          - SUM
          - COUNT
          - COUNT_DISTINCT
          - AVG
          - MIN
          - MAX
      description: The request object for Unit Metric
    QLCEViewMetadataFilter:
      type: object
      properties:
        viewId:
          type: string
        isPreview:
          type: boolean
        preview:
          type: boolean
    ResponseDTOUnitMetricResponseDTO:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/UnitMetricResponseDTO'
        metaData:
          type: object
        correlationId:
          type: string
    UnitMetricResponseDTO:
      required:
      - metricIdentifier
      - metricName
      - unitMetricRecords
      type: object
      properties:
        metricIdentifier:
          type: string
          description: Unique metric identifier for the unit metric
        metricName:
          type: string
          description: Display name of the unit metric
        accountId:
          type: string
          description: Account Id
        labels:
          type: object
          additionalProperties:
            type: string
            description: Optional key-value labels for the unit metric (e.g. manager, team)
            example: '{"manager":"kiran"}'
          description: Optional key-value labels for the unit metric (e.g. manager, team)
          example:
            manager: kiran
        description:
          type: string
          description: Unit Metric Description
        defaultAggregation:
          type: string
          description: 'Aggregation applied to unit cost metric values per time bucket in BigQuery. Supported: AVG (default when omitted or null), MIN, MAX, SUM.'
          enum:
          - AVG
          - MIN
          - MAX
          - SUM
        handleEmptyValue:
          type: string
          description: 'Strategy for handling missing/empty data points in unit cost metrics. LEAVE_BLANK: leave missing points empty (default). PREVIOUS_VALUE: carry forward the last known value. ZERO: fill gaps with 0.'
          enum:
          - PREVIOUS_VALUE
          - ZERO
          - LEAVE_BLANK
        type:
          type: string
          description: 'Discriminator for unit metric data source: manually uploaded time-series or derived dynamically from a BigQuery column.'
          enum:
          - MANUAL
          - DERIVED
        dataSource:
          type: string
          description: BigQuery table to query for COLUMN-type unit metrics.
          enum:
          - BILLING
          - LLM_TRACES
        fieldId:
          type: string
          description: BigQuery column for DERIVED metrics (null for MANUAL).
        columnAggregation:
          type: string
          description: SQL aggregation function applied to the fieldId column.
          enum:
          - SUM
          - COUNT
          - COUNT_DISTINCT
          - AVG
          - MIN
          - MAX
        unitMetricRecords:
          type: array
          description: Unit Metric Records
          items:
            $ref: '#/components/schemas/UnitCostMetricRecord'
        total:
          type: number
          description: Total value computed across all raw data points using the metric's defaultAggregation.
          format: double
        createdAt:
          type: integer
          description: This is the time at which the Unit Metric was created.
          format: int64
        lastUpdatedAt:
          type: integer
          description: This is the time at which the Unit Metric was last modified.
          format: int64
      description: The response object for Unit Metric
    UnitMetricListDTO:
      required:
      - metricIdentifier
      - metricName
      type: object
      properties:
        metricIdentifier:
          type: string
          description: Unique metric identifier for the unit metric
        metricName:
          type: string
          description: Display name of the unit metric
        accountId:
          type: string
          description: Account Id
        labels:
          type: object
          additionalProperties:
            type: string
            description: Optional key-value labels for the unit metric (e.g. manager, team)
            example: '{"manager":"kiran"}'
          description: Optional key-value labels for the unit metric (e.g. manager, team)
          example:
            manager: kiran
        description:
          type: string
          description: Unit Metric Description
        defaultAggregation:
          type: string
          description: 'Aggregation applied to unit cost metric values per time bucket in BigQuery. Supported: AVG (default when omitted or null), MIN, MAX, SUM.'
          enum:
          - AVG
          - MIN
          - MAX
          - SUM
        handleEmptyValue:
          type: string
          description: 'Strategy for handling missing/empty data points in unit cost metrics. LEAVE_BLANK: leave missing points empty (default). PREVIOUS_VALUE: carry forward the last known value. ZERO: fill gaps with 0.'
          enum:
          - PREVIOUS_VALUE
          - ZERO
          - LEAVE_BLANK
        type:
          type: string
          description: 'Discriminator for unit metric data source: manually uploaded time-series or derived dynamically from a BigQuery column.'
          enum:
          - MANUAL
          - DERIVED
        dataSource:
          type: string
          description: BigQuery table to query for COLUMN-type unit metrics.
          enum:
          - BILLING
          - LLM_TRACES
        fieldId:
          type: string
          description: BigQuery column for DERIVED metrics (null for MANUAL).
        columnAggregation:
          type: string
          description: SQL aggregation function applied to the fieldId column.
          enum:
          - SUM
          - COUNT
          - COUNT_DISTINCT
          - AVG
          - MIN
          - MAX
        createdAt:
          type: integer
          description: This is the time at which the Unit Metric was created.
          format: int64
        lastUpdatedAt:
          type: integer
          description: This is the time at which the Unit Metric was last modified.
          format: int64
      description: The list response object for Unit Metric (metadata only)
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
