openapi: 3.2.0
info:
  title: Harness Ansible API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: ansible
  description: Ansible Service handles the API for ansible entities.
paths:
  /iacm/api/orgs/{org}/projects/{project}/ansible/activities:
    get:
      tags:
      - ansible
      summary: List Ansible Activities
      description: List all activities.
      operationId: ansible#list-ansible-activities
      parameters:
      - name: limit
        in: query
        description: Limit is the number of records to return for a page.
        allowEmptyValue: true
        schema:
          type: integer
          description: Limit is the number of records to return for a page.
          default: 30
          example: 30
          format: int64
          minimum: 1
          maximum: 1000
        example: 30
      - name: page
        in: query
        description: Page is the page number to return relative to the page 'limit'.
        allowEmptyValue: true
        schema:
          type: integer
          description: Page is the page number to return relative to the page 'limit'.
          default: 1
          example: 1
          format: int64
          minimum: 1
        example: 1
      - name: sort
        in: query
        description: Sort order for results
        allowEmptyValue: true
        schema:
          type: string
          description: Sort order for results
          default: created,DESC
          example: created,ASC
          enum:
          - created,ASC
          - created,DESC
        example: created,ASC
      - name: InventorySearchTerm
        in: query
        description: Search term to filter by inventory identifier
        allowEmptyValue: true
        schema:
          type: string
          description: Search term to filter by inventory identifier
          example: inventory_1
        example: inventory_1
      - name: PlaybookSearchTerm
        in: query
        description: Search term to filter by playbook identifier
        allowEmptyValue: true
        schema:
          type: string
          description: Search term to filter by playbook identifier
          example: playbook_1
        example: playbook_1
      - name: activity_type
        in: query
        description: Activity type filter
        allowEmptyValue: true
        schema:
          type: string
          description: Activity type filter
          example: Ad id ipsum possimus.
        example: Aut labore.
      - name: status
        in: query
        description: Activity status filter
        allowEmptyValue: true
        schema:
          type: string
          description: Activity status filter
          example: Minus molestiae qui aperiam ratione.
        example: Debitis maiores.
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: h
          minLength: 1
          maxLength: 128
        example: r6
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: t0
          minLength: 1
          maxLength: 128
        example: 3w
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: h2
          minLength: 1
          maxLength: 128
        example: 9u9
      responses:
        '200':
          description: OK response.
          headers:
            x-page-size:
              description: Current page size
              schema:
                type: integer
                description: Current page size
                example: 50
                format: int64
              example: 50
            x-total-items:
              description: Total items available
              schema:
                type: integer
                description: Total items available
                example: 1800
                format: int64
              example: 1800
            x-total-pages:
              description: Total pages available
              schema:
                type: integer
                description: Total pages available
                example: 36
                format: int64
              example: 36
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnsibleActivityResourceCollection'
              example:
              - account: b1t
                created: 1627590400
                event_type: activity-execution
                id: dc538c61-de48-4220-958c-5f3c4f983daa
                inventories: Accusamus aliquam deleniti cumque et et molestiae.
                metadata:
                  activity_status: Quidem quis laborum.
                  git_branch: Sunt ut.
                  git_commit_message: Eum ut optio ratione deleniti illum.
                  git_commit_sha: Magni error laudantium.
                  git_repo: Et atque nihil eius blanditiis delectus.
                  metrics:
                    circuit_breaker_triggered: true
                    duration_ms: 6141937461727881000
                    host_changed: 4266415488925552000
                    host_failed: 6269861638704440000
                    host_ok: 2668706456334620000
                    host_skipped: 7110179387540936000
                    host_unreachable: 3149215377425856500
                    output_size_bytes: 7915346595864022000
                    payload_size_bytes: 6559255231234295000
                    total_hosts: 899778225716017500
                    total_tasks: 88433518047697520
                  pipeline: Doloremque non et quo molestiae magnam nam.
                  pipeline_execution_id: Illum et facilis qui consectetur.
                  pipeline_execution_number: Hic eaque rerum consequatur.
                  pipeline_name: Ut in voluptas ipsam nisi sed.
                  pipeline_stage_id: Quisquam occaecati.
                  plugin_version: Tempore ad facere at molestiae.
                  results_uuid: Praesentium non quae.
                  trigger:
                    Eius eum eos.: Labore laborum dignissimos a placeat quas suscipit.
                org: rvi
                playbooks: Nihil quae natus alias ea dolor.
                project: bsk
              - account: b1t
                created: 1627590400
                event_type: activity-execution
                id: dc538c61-de48-4220-958c-5f3c4f983daa
                inventories: Accusamus aliquam deleniti cumque et et molestiae.
                metadata:
                  activity_status: Quidem quis laborum.
                  git_branch: Sunt ut.
                  git_commit_message: Eum ut optio ratione deleniti illum.
                  git_commit_sha: Magni error laudantium.
                  git_repo: Et atque nihil eius blanditiis delectus.
                  metrics:
                    circuit_breaker_triggered: true
                    duration_ms: 6141937461727881000
                    host_changed: 4266415488925552000
                    host_failed: 6269861638704440000
                    host_ok: 2668706456334620000
                    host_skipped: 7110179387540936000
                    host_unreachable: 3149215377425856500
                    output_size_bytes: 7915346595864022000
                    payload_size_bytes: 6559255231234295000
                    total_hosts: 899778225716017500
                    total_tasks: 88433518047697520
                  pipeline: Doloremque non et quo molestiae magnam nam.
                  pipeline_execution_id: Illum et facilis qui consectetur.
                  pipeline_execution_number: Hic eaque rerum consequatur.
                  pipeline_name: Ut in voluptas ipsam nisi sed.
                  pipeline_stage_id: Quisquam occaecati.
                  plugin_version: Tempore ad facere at molestiae.
                  results_uuid: Praesentium non quae.
                  trigger:
                    Eius eum eos.: Labore laborum dignissimos a placeat quas suscipit.
                org: rvi
                playbooks: Nihil quae natus alias ea dolor.
                project: bsk
              - account: b1t
                created: 1627590400
                event_type: activity-execution
                id: dc538c61-de48-4220-958c-5f3c4f983daa
                inventories: Accusamus aliquam deleniti cumque et et molestiae.
                metadata:
                  activity_status: Quidem quis laborum.
                  git_branch: Sunt ut.
                  git_commit_message: Eum ut optio ratione deleniti illum.
                  git_commit_sha: Magni error laudantium.
                  git_repo: Et atque nihil eius blanditiis delectus.
                  metrics:
                    circuit_breaker_triggered: true
                    duration_ms: 6141937461727881000
                    host_changed: 4266415488925552000
                    host_failed: 6269861638704440000
                    host_ok: 2668706456334620000
                    host_skipped: 7110179387540936000
                    host_unreachable: 3149215377425856500
                    output_size_bytes: 7915346595864022000
                    payload_size_bytes: 6559255231234295000
                    total_hosts: 899778225716017500
                    total_tasks: 88433518047697520
                  pipeline: Doloremque non et quo molestiae magnam nam.
                  pipeline_execution_id: Illum et facilis qui consectetur.
                  pipeline_execution_number: Hic eaque rerum consequatur.
                  pipeline_name: Ut in voluptas ipsam nisi sed.
                  pipeline_stage_id: Quisquam occaecati.
                  plugin_version: Tempore ad facere at molestiae.
                  results_uuid: Praesentium non quae.
                  trigger:
                    Eius eum eos.: Labore laborum dignissimos a placeat quas suscipit.
                org: rvi
                playbooks: Nihil quae natus alias ea dolor.
                project: bsk
              - account: b1t
                created: 1627590400
                event_type: activity-execution
                id: dc538c61-de48-4220-958c-5f3c4f983daa
                inventories: Accusamus aliquam deleniti cumque et et molestiae.
                metadata:
                  activity_status: Quidem quis laborum.
                  git_branch: Sunt ut.
                  git_commit_message: Eum ut optio ratione deleniti illum.
                  git_commit_sha: Magni error laudantium.
                  git_repo: Et atque nihil eius blanditiis delectus.
                  metrics:
                    circuit_breaker_triggered: true
                    duration_ms: 6141937461727881000
                    host_changed: 4266415488925552000
                    host_failed: 6269861638704440000
                    host_ok: 2668706456334620000
                    host_skipped: 7110179387540936000
                    host_unreachable: 3149215377425856500
                    output_size_bytes: 7915346595864022000
                    payload_size_bytes: 6559255231234295000
                    total_hosts: 899778225716017500
                    total_tasks: 88433518047697520
                  pipeline: Doloremque non et quo molestiae magnam nam.
                  pipeline_execution_id: Illum et facilis qui consectetur.
                  pipeline_execution_number: Hic eaque rerum consequatur.
                  pipeline_name: Ut in voluptas ipsam nisi sed.
                  pipeline_stage_id: Quisquam occaecati.
                  plugin_version: Tempore ad facere at molestiae.
                  results_uuid: Praesentium non quae.
                  trigger:
                    Eius eum eos.: Labore laborum dignissimos a placeat quas suscipit.
                org: rvi
                playbooks: Nihil quae natus alias ea dolor.
                project: bsk
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
  /iacm/api/orgs/{org}/projects/{project}/ansible/activities/{id}:
    get:
      tags:
      - ansible
      summary: Show ansible activity
      description: Show an individual ansible activity.
      operationId: ansible#show-ansible-activity
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: ie
          minLength: 1
          maxLength: 128
        example: 6wc
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: '2'
          minLength: 1
          maxLength: 128
        example: 2po
      - name: id
        in: path
        description: The unique ID for this activity
        required: true
        schema:
          type: string
          description: The unique ID for this activity
          example: Eveniet non itaque laborum magnam sint explicabo.
        example: Neque reprehenderit.
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: 7a
          minLength: 1
          maxLength: 128
        example: qec
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowAnsibleActivityResponse'
              example:
                account: m
                created: 1627590400
                event_type: activity-execution
                id: dc538c61-de48-4220-958c-5f3c4f983daa
                inventories: Vero fugit corrupti.
                metadata:
                  activity_status: Totam doloribus cupiditate repudiandae dolorem non non.
                  git_branch: Ea quia ut dolorum et nisi.
                  git_commit_message: Dicta atque molestiae commodi.
                  git_commit_sha: Necessitatibus nam nobis.
                  git_repo: Impedit sint voluptas ratione.
                  metrics:
                    circuit_breaker_triggered: true
                    duration_ms: 2733139267903539000
                    host_changed: 3836726664904769500
                    host_failed: 5974743557359673000
                    host_ok: 4637325286645617000
                    host_skipped: 2636736737615653000
                    host_unreachable: 6294594841591932000
                    output_size_bytes: 5487716492839865000
                    payload_size_bytes: 7635751501152411000
                    total_hosts: 208387784367077220
                    total_tasks: 642603306998174800
                  pipeline: Molestias eum possimus sed.
                  pipeline_execution_id: Quis sit molestiae itaque mollitia.
                  pipeline_execution_number: Facere inventore officiis dicta labore.
                  pipeline_name: Cumque velit ut aperiam veniam.
                  pipeline_stage_id: Ducimus voluptas ipsum illum error.
                  plugin_version: Dolores et ducimus ut.
                  results_uuid: Quo explicabo.
                  trigger:
                    Rem veritatis.: Possimus sed facilis qui molestiae et.
                org: w3
                playbooks: Sit placeat voluptas ut eius et illum.
                project: 4z5
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
  /iacm/api/orgs/{org}/projects/{project}/ansible/data:
    get:
      tags:
      - ansible
      summary: List data
      description: List all stored data for a inventory or playbook.
      operationId: ansible#list-data
      parameters:
      - name: inventory_search_term
        in: query
        description: Inventory search term
        allowEmptyValue: true
        schema:
          type: string
          description: Inventory search term
          example: Autem asperiores id et.
        example: Deleniti fuga.
      - name: playbook_search_term
        in: query
        description: Playbook search term
        allowEmptyValue: true
        schema:
          type: string
          description: Playbook search term
          example: Rerum perferendis qui eum animi.
        example: Aut est et sint dolorum in.
      - name: pipeline_execution_id
        in: query
        description: Filter by pipeline execution ID
        allowEmptyValue: true
        schema:
          type: string
          description: Filter by pipeline execution ID
          example: Quia cumque sunt accusantium sed debitis officiis.
        example: Qui sequi debitis officia.
      - name: pipeline_stage_id
        in: query
        description: Filter by pipeline execution stage ID
        allowEmptyValue: true
        schema:
          type: string
          description: Filter by pipeline execution stage ID
          example: Eveniet ut tempore id.
        example: Eligendi et non.
      - name: data_type
        in: query
        description: Filter by data type
        allowEmptyValue: true
        schema:
          type: string
          description: Filter by data type
          example: Ut amet consequuntur vel.
        example: Repellendus aut ducimus deserunt amet dolores odio.
      - name: limit
        in: query
        description: Limit is the number of records to return for a page.
        allowEmptyValue: true
        schema:
          type: integer
          description: Limit is the number of records to return for a page.
          default: 30
          example: 30
          format: int64
          minimum: 1
          maximum: 1000
        example: 30
      - name: page
        in: query
        description: Page is the page number to return relative to the page 'limit'.
        allowEmptyValue: true
        schema:
          type: integer
          description: Page is the page number to return relative to the page 'limit'.
          default: 1
          example: 1
          format: int64
          minimum: 1
        example: 1
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: dhc
          minLength: 1
          maxLength: 128
        example: tw6
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: '2'
          minLength: 1
          maxLength: 128
        example: al
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: 3i
          minLength: 1
          maxLength: 128
        example: vb
      responses:
        '200':
          description: OK response.
          headers:
            x-page-size:
              description: Current page size
              schema:
                type: integer
                description: Current page size
                example: 50
                format: int64
              example: 50
            x-total-items:
              description: Total items available
              schema:
                type: integer
                description: Total items available
                example: 1800
                format: int64
              example: 1800
            x-total-pages:
              description: Total pages available
              schema:
                type: integer
                description: Total pages available
                example: 36
                format: int64
              example: 36
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnsibleDataResourceCollection'
              example:
              - account: p4t
                created: 4994354332135098000
                data_type: task_results
                id: dc538c61-de48-4220-958c-5f3c4f983daa
                inventories: Error suscipit dolorum et et voluptate fugit.
                org: g
                pipeline_execution_id: Voluptatem incidunt quia placeat commodi.
                pipeline_id: Molestias distinctio dolor dolor hic perferendis.
                pipeline_stage_id: Delectus aliquam ut recusandae ipsum.
                playbooks: Fugit reiciendis blanditiis iste.
                project: k
                stage_id: Dolore mollitia velit consectetur.
              - account: p4t
                created: 4994354332135098000
                data_type: task_results
                id: dc538c61-de48-4220-958c-5f3c4f983daa
                inventories: Error suscipit dolorum et et voluptate fugit.
                org: g
                pipeline_execution_id: Voluptatem incidunt quia placeat commodi.
                pipeline_id: Molestias distinctio dolor dolor hic perferendis.
                pipeline_stage_id: Delectus aliquam ut recusandae ipsum.
                playbooks: Fugit reiciendis blanditiis iste.
                project: k
                stage_id: Dolore mollitia velit consectetur.
              - account: p4t
                created: 4994354332135098000
                data_type: task_results
                id: dc538c61-de48-4220-958c-5f3c4f983daa
                inventories: Error suscipit dolorum et et voluptate fugit.
                org: g
                pipeline_execution_id: Voluptatem incidunt quia placeat commodi.
                pipeline_id: Molestias distinctio dolor dolor hic perferendis.
                pipeline_stage_id: Delectus aliquam ut recusandae ipsum.
                playbooks: Fugit reiciendis blanditiis iste.
                project: k
                stage_id: Dolore mollitia velit consectetur.
              - account: p4t
                created: 4994354332135098000
                data_type: task_results
                id: dc538c61-de48-4220-958c-5f3c4f983daa
                inventories: Error suscipit dolorum et et voluptate fugit.
                org: g
                pipeline_execution_id: Voluptatem incidunt quia placeat commodi.
                pipeline_id: Molestias distinctio dolor dolor hic perferendis.
                pipeline_stage_id: Delectus aliquam ut recusandae ipsum.
                playbooks: Fugit reiciendis blanditiis iste.
                project: k
                stage_id: Dolore mollitia velit consectetur.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
    post:
      tags:
      - ansible
      summary: Create data
      description: Store binary data generated by ansible.
      operationId: ansible#create-data
      parameters:
      - name: pipeline_id
        in: query
        description: The unique identifier for the associated pipeline
        allowEmptyValue: true
        schema:
          type: string
          description: The unique identifier for the associated pipeline
          example: Magni ut voluptatibus iste minima vero.
        example: Itaque sunt temporibus soluta ipsa blanditiis est.
      - name: stage_id
        in: query
        description: The unique identifier for a stage
        allowEmptyValue: true
        schema:
          type: string
          description: The unique identifier for a stage
          example: Ad id corporis temporibus qui eum aut.
        example: Consequatur unde optio distinctio.
      - name: pipeline_execution_id
        in: query
        description: The unique identifier for the associated pipeline execution
        allowEmptyValue: true
        schema:
          type: string
          description: The unique identifier for the associated pipeline execution
          example: Dolores nisi fuga ex tempore sequi molestias.
        example: Tempora tenetur similique voluptatem voluptatem.
      - name: pipeline_stage_id
        in: query
        description: The unique identifier for the associated pipeline execution stage
        allowEmptyValue: true
        schema:
          type: string
          description: The unique identifier for the associated pipeline execution stage
          example: Voluptas eum deleniti facilis.
        example: Quia similique.
      - name: data_type
        in: query
        description: Type of data stored
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Type of data stored
          example: task_results
          enum:
          - task_results
        example: task_results
      - name: inventories
        in: query
        description: Inventories associated with this event
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Inventories associated with this event
          example: Ut id dolor et id.
        example: Recusandae fugit impedit omnis qui.
      - name: playbooks
        in: query
        description: Playbooks associated with this event
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Playbooks associated with this event
          example: Odit commodi harum et odio.
        example: Tempora consequuntur.
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: 2q6
          minLength: 1
          maxLength: 128
        example: dv
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: y
          minLength: 1
          maxLength: 128
        example: iii
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: '00'
          minLength: 1
          maxLength: 128
        example: 3fy
      - name: Content-Length
        in: header
        description: Size in bytes of the data.
        allowEmptyValue: true
        schema:
          type: integer
          description: Size in bytes of the data.
          example: 1128499277598891800
          format: int64
        example: 7178049201098058000
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAnsibleDataResponse'
              example:
                id: dc538c61-de48-4220-958c-5f3c4f983daa
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
  /iacm/api/orgs/{org}/projects/{project}/ansible/data/{id}:
    get:
      tags:
      - ansible
      summary: Show data
      description: Get binary data generated by the provisioner, such as plans and state files.
      operationId: ansible#show-data
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: yd
          minLength: 1
          maxLength: 128
        example: r
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: u
          minLength: 1
          maxLength: 128
        example: 9ha
      - name: id
        in: path
        description: The unique identifier for the data
        required: true
        schema:
          type: string
          description: The unique identifier for the data
          example: dc538c61-de48-4220-958c-5f3c4f983daa
        example: dc538c61-de48-4220-958c-5f3c4f983daa
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: nr0
          minLength: 1
          maxLength: 128
        example: 1kt
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                type: string
                format: binary
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
  /iacm/api/orgs/{org}/projects/{project}/ansible/events:
    post:
      tags:
      - ansible
      summary: Send event
      operationId: ansible#send-ansible-event
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: z27
          minLength: 1
          maxLength: 128
        example: 5oh
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: 3a
          minLength: 1
          maxLength: 128
        example: '55'
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: 2x
          minLength: 1
          maxLength: 128
        example: 69i
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendAnsibleEventRequest'
            example:
              event_type: activity-execution
              inventories: Voluptate exercitationem eaque optio ut vitae dolorem.
              metadata:
                activity_status: Aut sed vitae expedita nobis ea natus.
                git_branch: Sit animi temporibus sequi quia natus.
                git_commit_message: Similique odit voluptatem molestias soluta doloribus atque.
                git_commit_sha: Deserunt quo minima ipsa.
                git_repo: Est esse eius amet magnam aperiam voluptatem.
                metrics:
                  circuit_breaker_triggered: true
                  duration_ms: 4914670289278732000
                  host_changed: 7018908794872232000
                  host_failed: 9080421551795067000
                  host_ok: 3578104486575836700
                  host_skipped: 2302601556434399700
                  host_unreachable: 7719255015741529000
                  output_size_bytes: 7455084684645851000
                  payload_size_bytes: 6535382347079951000
                  total_hosts: 4047125501108553700
                  total_tasks: 3555405729822653400
                pipeline: Est et corrupti.
                pipeline_execution_id: Atque qui sapiente cum sint.
                pipeline_execution_number: Sunt doloribus dolorem similique deserunt doloremque veritatis.
                pipeline_name: Aut id.
                pipeline_stage_id: Esse omnis.
                plugin_version: Voluptate occaecati.
                results_uuid: Consequatur ex beatae consequuntur.
                trigger:
                  Reprehenderit dolor aliquam beatae.: Alias ut culpa corporis soluta molestiae autem.
                  Temporibus beatae vero vero culpa.: Voluptatem aspernatur cum quisquam eveniet adipisci est.
              playbooks: Qui dicta officia nam dolor aspernatur.
      responses:
        '200':
          description: OK response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
  /iacm/api/orgs/{org}/projects/{project}/ansible/file:
    get:
      tags:
      - ansible
      summary: Get Ansible file
      description: Retrieve a playbook or plugin inventory YAML file from its configured git repository.
      operationId: ansible#get-file
      parameters:
      - name: resource_type
        in: query
        description: Type of ansible resource (playbook or inventory).
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Type of ansible resource (playbook or inventory).
          example: playbook
          enum:
          - playbook
          - inventory
        example: playbook
      - name: identifier
        in: query
        description: Identifier of the playbook or inventory.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Identifier of the playbook or inventory.
          example: my-playbook
        example: my-playbook
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: n
          minLength: 1
          maxLength: 128
        example: shs
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: 28f
          minLength: 1
          maxLength: 128
        example: dc
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: g
          minLength: 1
          maxLength: 128
        example: m
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                type: string
                format: binary
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
  /iacm/api/orgs/{org}/projects/{project}/ansible/hosts:
    get:
      tags:
      - ansible
      summary: List Ansible Hosts
      description: List all hosts across all inventories.
      operationId: ansible#list-hosts
      parameters:
      - name: limit
        in: query
        description: Limit is the number of records to return for a page.
        allowEmptyValue: true
        schema:
          type: integer
          description: Limit is the number of records to return for a page.
          default: 30
          example: 30
          format: int64
          minimum: 1
          maximum: 1000
        example: 30
      - name: page
        in: query
        description: Page is the page number to return relative to the page 'limit'.
        allowEmptyValue: true
        schema:
          type: integer
          description: Page is the page number to return relative to the page 'limit'.
          default: 1
          example: 1
          format: int64
          minimum: 1
        example: 1
      - name: sort
        in: query
        description: Sort order for results
        allowEmptyValue: true
        schema:
          type: string
          description: Sort order for results
          default: host_address,ASC
          example: host_address,DESC
          enum:
          - host_address,ASC
          - host_address,DESC
          - updated,ASC
          - updated,DESC
        example: updated,ASC
      - name: searchTerm
        in: query
        description: Filter results by partial host address match
        allowEmptyValue: true
        schema:
          type: string
          description: Filter results by partial host address match
          default: ''
          example: web-server
        example: web-server
      - name: inventory
        in: query
        description: Filter results by inventory membership
        allowEmptyValue: true
        schema:
          type: string
          description: Filter results by inventory membership
          default: ''
          example: production-inventory
        example: production-inventory
      - name: status
        in: query
        description: Filter results by last activity status
        allowEmptyValue: true
        schema:
          type: string
          description: Filter results by last activity status
          default: ''
          example: ok
        example: ok
      - name: startTime
        in: query
        description: Filter results by last activity created time (Unix timestamp in milliseconds) - inclusive start of time range
        allowEmptyValue: true
        schema:
          type: integer
          description: Filter results by last activity created time (Unix timestamp in milliseconds) - inclusive start of time range
          example: 1627590400000
          format: int64
        example: 1627590400000
      - name: endTime
        in: query
        description: Filter results by last activity created time (Unix timestamp in milliseconds) - inclusive end of time range
        allowEmptyValue: true
        schema:
          type: integer
          description: Filter results by last activity created time (Unix timestamp in milliseconds) - inclusive end of time range
          example: 1630268800000
          format: int64
        example: 1630268800000
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: 70g
          minLength: 1
          maxLength: 128
        example: 3w
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: 3r
          minLength: 1
          maxLength: 128
        example: 1no
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: ko
          minLength: 1
          maxLength: 128
        example: 5w2
      responses:
        '200':
          description: OK response.
          headers:
            x-page-size:
              description: Current page size
              schema:
                type: integer
                description: Current page size
                example: 50
                format: int64
              example: 50
            x-total-items:
              description: Total items available
              schema:
                type: integer
                description: Total items available
                example: 1800
                format: int64
              example: 1800
            x-total-pages:
              description: Total pages available
              schema:
                type: integer
                description: Total pages available
                example: 36
                format: int64
              example: 36
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostResourceCollection'
              example:
              - created: 1627590400
                host_address: web-server-1.example.com
                id: dc538c61-de48-4220-958c-5f3c4f983daa
                inventories:
                - inventory-1
                - inventory-2
                last_activity:
                  created: 1627590400
                  playbooks:
                  - deploy.yml
                  status: ok
                updated: 1627590400
              - created: 1627590400
                host_address: web-server-1.example.com
                id: dc538c61-de48-4220-958c-5f3c4f983daa
                inventories:
                - inventory-1
                - inventory-2
                last_activity:
                  created: 1627590400
                  playbooks:
                  - deploy.yml
                  status: ok
                updated: 1627590400
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
  /iacm/api/orgs/{org}/projects/{project}/ansible/hosts/{id}:
    get:
      tags:
      - ansible
      summary: Show Ansible Host
      description: Get details for a single host.
      operationId: ansible#show-host
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: rz
          minLength: 1
          maxLength: 128
        example: xw
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: c
          minLength: 1
          maxLength: 128
        example: a79
      - name: id
        in: path
        description: The unique identifier for this host
        required: true
        schema:
          type: string
          description: The unique identifier for this host
          example: dc538c61-de48-4220-958c-5f3c4f983daa
        example: dc538c61-de48-4220-958c-5f3c4f983daa
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: an4
          minLength: 1
          maxLength: 128
        example: jn
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowHostResponse'
              example:
                created: 1627590400
                host_address: web-server-1.example.com
                id: dc538c61-de48-4220-958c-5f3c4f983daa
                inventories:
                - inventory-1
                - inventory-2
                last_activity:
                  created: 1627590400
                  playbooks:
                  - deploy.yml
                  status: ok
                updated: 1627590400
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
  /iacm/api/orgs/{org}/projects/{project}/ansible/hosts/{id}/activities:
    get:
      tags:
      - ansible
      summary: List Ansible Host Activities
      description: List all activities for a specific host.
      operationId: ansible#list-host-activities
      parameters:
      - name: limit
        in: query
        description: Limit is the number of records to return for a page.
        allowEmptyValue: true
        schema:
          type: integer
          description: Limit is the number of records to return for a page.
          default: 30
          example: 30
          format: int64
          minimum: 1
          maximum: 1000
        example: 30
      - name: page
        in: query
        description: Page is the page number to return relative to the page 'limit'.
        allowEmptyValue: true
        schema:
          type: integer
          description: Page is the page number to return relative to the page 'limit'.
          default: 1
          example: 1
          format: int64
          minimum: 1
        example: 1
      - name: sort
        in: query
        description: Sort order for results
        allowEmptyValue: true
        schema:
          type: string
          description: Sort order for results
          default: created,DESC
          example: created,DESC
          enum:
          - created,ASC
          - created,DESC
        example: created,ASC
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: p
          minLength: 1
          maxLength: 128
        example: c
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: j
          minLength: 1
          maxLength: 128
        example: r
      - name: id
        in: path
        description: The unique identifier for this host
        required: true
        schema:
          type: string
          description: The unique identifier for this host
          example: dc538c61-de48-4220-958c-5f3c4f983daa
        example: dc538c61-de48-4220-958c-5f3c4f983daa
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: 3on
          minLength: 1
          maxLength: 128
        example: jm
      responses:
        '200':
          description: OK response.
          headers:
            x-page-size:
              description: Current page size
              schema:
                type: integer
                description: Current page size
                example: 50
                format: int64
              example: 50
            x-total-items:
              description: Total items available
              schema:
                type: integer
                description: Total items available
                example: 1800
                format: int64
              example: 1800
            x-total-pages:
              description: Total pages available
              schema:
                type: integer
                description: Total pages available
                example: 36
                format: int64
              example: 36
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostActivityResourceCollection'
              example:
              - account: rmq
                created: 1627590400
                data: Quis doloremque eligendi aliquam temporibus.
                event_type: activity-execution
                id: dc538c61-de48-4220-958c-5f3c4f983daa
                inventories: Amet vel eius.
                metadata:
                  activity_status: Quidem quis laborum.
                  git_branch: Sunt ut.
                  git_commit_message: Eum ut optio ratione deleniti illum.
                  git_commit_sha: Magni error laudantium.
                  git_repo: Et atque nihil eius blanditiis delectus.
                  metrics:
                    circuit_breaker_triggered: true
                    duration_ms: 6141937461727881000
                    host_changed: 4266415488925552000
                    host_failed: 6269861638704440000
                    host_ok: 2668706456334620000
                    host_skipped: 7110179387540936000
                    host_unreachable: 3149215377425856500
                    output_size_bytes: 7915346595864022000
                    payload_size_bytes: 6559255231234295000
                    total_hosts: 899778225716017500
                    total_tasks: 88433518047697520
                  pipeline: Doloremque non et quo molestiae magnam nam.
                  pipeline_execution_id: Illum et facilis qui consectetur.
                  pipeline_execution_number: Hic eaque rerum consequatur.
                  pipeline_name: Ut in voluptas ipsam nisi sed.
                  pipeline_stage_id: Quisquam occaecati.
                  plugin_version: Tempore ad facere at molestiae.
                  results_uuid: Praesentium non quae.
                  trigger:
                    Eius eum eos.: Labore laborum dignissimos a placeat quas suscipit.
                org: mul
                playbooks: Exercitationem aliquam est modi est fugit qui.
                project: v
                status: ok
              - account: rmq
                created: 1627590400
                data: Quis doloremque eligendi aliquam temporibus.
                event_type: activity-execution
                id: dc538c61-de48-4220-958c-5f3c4f983daa
                inventories: Amet vel eius.
                metadata:
                  activity_status: Quidem quis laborum.
                  git_branch: Sunt ut.
                  git_commit_message: Eum ut optio ratione deleniti illum.
                  git_commit_sha: Magni error laudantium.
                  git_repo: Et atque nihil eius blanditiis delectus.
                  metrics:
                    circuit_breaker_triggered: true
                    duration_ms: 6141937461727881000
                    host_changed: 4266415488925552000
                    host_failed: 6269861638704440000
                    host_ok: 2668706456334620000
                    host_skipped: 7110179387540936000
                    host_unreachable: 3149215377425856500
                    output_size_bytes: 7915346595864022000
                    payload_size_bytes: 6559255231234295000
                    total_hosts: 899778225716017500
                    total_tasks: 88433518047697520
                  pipeline: Doloremque non et quo molestiae magnam nam.
                  pipeline_execution_id: Illum et facilis qui consectetur.
                  pipeline_execution_number: Hic eaque rerum consequatur.
                  pipeline_name: Ut in voluptas ipsam nisi sed.
                  pipeline_stage_id: Quisquam occaecati.
                  plugin_version: Tempore ad facere at molestiae.
                  results_uuid: Praesentium non quae.
                  trigger:
                    Eius eum eos.: Labore laborum dignissimos a placeat quas suscipit.
                org: mul
                playbooks: Exercitationem aliquam est modi est fugit qui.
                project: v
                status: ok
              - account: rmq
                created: 1627590400
                data: Quis doloremque eligendi aliquam temporibus.
                event_type: activity-execution
                id: dc538c61-de48-4220-958c-5f3c4f983daa
                inventories: Amet vel eius.
                metadata:
                  activity_status: Quidem quis laborum.
                  git_branch: Sunt ut.
                  git_commit_message: Eum ut optio ratione deleniti illum.
                  git_commit_sha: Magni error laudantium.
                  git_repo: Et atque nihil eius blanditiis delectus.
                  metrics:
                    circuit_breaker_triggered: true
                    duration_ms: 6141937461727881000
                    host_changed: 4266415488925552000
                    host_failed: 6269861638704440000
                    host_ok: 2668706456334620000
                    host_skipped: 7110179387540936000
                    host_unreachable: 3149215377425856500
                    output_size_bytes: 7915346595864022000
                    payload_size_bytes: 6559255231234295000
                    total_hosts: 899778225716017500
                    total_tasks: 88433518047697520
                  pipeline: Doloremque non et quo molestiae magnam nam.
                  pipeline_execution_id: Illum et facilis qui consectetur.
                  pipeline_execution_number: Hic eaque rerum consequatur.
                  pipeline_name: Ut in voluptas ipsam nisi sed.
                  pipeline_stage_id: Quisquam occaecati.
                  plugin_version: Tempore ad facere at molestiae.
                  results_uuid: Praesentium non quae.
                  trigger:
                    Eius eum eos.: Labore laborum dignissimos a placeat quas suscipit.
                org: mul
                playbooks: Exercitationem aliquam est modi est fugit qui.
                project: v
                status: ok
              - account: rmq
                created: 1627590400
                data: Quis doloremque eligendi aliquam temporibus.
                event_type: activity-execution
                id: dc538c61-de48-4220-958c-5f3c4f983daa
                inventories: Amet vel eius.
                metadata:
                  activity_status: Quidem quis laborum.
                  git_branch: Sunt ut.
                  git_commit_message: Eum ut optio ratione deleniti illum.
                  git_commit_sha: Magni error laudantium.
                  git_repo: Et atque nihil eius blanditiis delectus.
                  metrics:
                    circuit_breaker_triggered: true
                    duration_ms: 6141937461727881000
                    host_changed: 4266415488925552000
                    host_failed: 6269861638704440000
                    host_ok: 2668706456334620000
                    host_skipped: 7110179387540936000
                    host_unreachable: 3149215377425856500
                    output_size_bytes: 7915346595864022000
                    payload_size_bytes: 6559255231234295000
                    total_hosts: 899778225716017500
                    total_tasks: 88433518047697520
                  pipeline: Doloremque non et quo molestiae magnam nam.
                  pipeline_execution_id: Illum et facilis qui consectetur.
                  pipeline_execution_number: Hic eaque rerum consequatur.
                  pipeline_name: Ut in voluptas ipsam nisi sed.
                  pipeline_stage_id: Quisquam occaecati.
                  plugin_version: Tempore ad facere at molestiae.
                  results_uuid: Praesentium non quae.
                  trigger:
                    Eius eum eos.: Labore laborum dignissimos a placeat quas suscipit.
                org: mul
                playbooks: Exercitationem aliquam est modi est fugit qui.
                project: v
                status: ok
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
  /iacm/api/orgs/{org}/projects/{project}/ansible/hosts/{id}/inventories:
    get:
      tags:
      - ansible
      summary: List Inventories For Host
      description: List all inventories that a specific host belongs to.
      operationId: ansible#list-host-inventories
      parameters:
      - name: limit
        in: query
        description: Limit is the number of records to return for a page.
        allowEmptyValue: true
        schema:
          type: integer
          description: Limit is the number of records to return for a page.
          default: 30
          example: 30
          format: int64
          minimum: 1
          maximum: 1000
        example: 30
      - name: page
        in: query
        description: Page is the page number to return relative to the page 'limit'.
        allowEmptyValue: true
        schema:
          type: integer
          description: Page is the page number to return relative to the page 'limit'.
          default: 1
          example: 1
          format: int64
          minimum: 1
        example: 1
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: ogn
          minLength: 1
          maxLength: 128
        example: xg
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: tu2
          minLength: 1
          maxLength: 128
        example: f
      - name: id
        in: path
        description: The unique identifier for this host
        required: true
        schema:
          type: string
          description: The unique identifier for this host
          example: dc538c61-de48-4220-958c-5f3c4f983daa
        example: dc538c61-de48-4220-958c-5f3c4f983daa
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: q
          minLength: 1
          maxLength: 128
        example: hdm
      responses:
        '200':
          description: OK response.
          headers:
            x-page-size:
              description: Current page size
              schema:
                type: integer
                description: Current page size
                example: 50
                format: int64
              example: 50
            x-total-items:
              description: Total items available
              schema:
                type: integer
                description: Total items available
                example: 1800
                format: int64
              example: 1800
            x-total-pages:
              description: Total pages available
              schema:
                type: integer
                description: Total pages available
                example: 36
                format: int64
              example: 36
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryResourceCollection'
              example:
              - account: cx
                created: 1627590400
                description: Production infrastructure inventory
                identifier: test_inventory
                name: test inventory
                org: gq
                project: i
                tags: Optio modi qui.
                type: plugin
                updated: 1627686800
              - account: cx
                created: 1627590400
                description: Production infrastructure inventory
                identifier: test_inventory
                name: test inventory
                org: gq
                project: i
                tags: Optio modi qui.
                type: plugin
                updated: 1627686800
              - account: cx
                created: 1627590400
                description: Production infrastructure inventory
                identifier: test_inventory
                name: test inventory
                org: gq
                project: i
                tags: Optio modi qui.
                type: plugin
                updated: 1627686800
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
  /iacm/api/orgs/{org}/projects/{project}/ansible/hosts/{id}/stats:
    get:
      tags:
      - ansible
      summary: Get Ansible Host Stats
      description: Get aggregated statistics for a specific host.
      operationId: ansible#get-host-stats
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: '9'
          minLength: 1
          maxLength: 128
        example: kd5
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: m
          minLength: 1
          maxLength: 128
        example: cqs
      - name: id
        in: path
        description: The unique identifier for this host
        required: true
        schema:
          type: string
          description: The unique identifier for this host
          example: dc538c61-de48-4220-958c-5f3c4f983daa
        example: dc538c61-de48-4220-958c-5f3c4f983daa
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: 8z
          minLength: 1
          maxLength: 128
        example: c79
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHostStatsResponse'
              example:
                avg_tasks_last_5_runs: 12.4
                failures_7d: 2
                last_playbook:
                - deploy.yml
                last_playbook_at: 1627590400000
                success_rate_30d: 95.5
                total_runs_30d: 42
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
  /iacm/api/orgs/{org}/projects/{project}/ansible/hosts/export:
    get:
      tags:
      - ansible
      summary: Export Ansible Hosts to CSV
      description: Export all filtered hosts to CSV format. Includes all matching hosts (not paginated).
      operationId: ansible#export-hosts-csv
      parameters:
      - name: searchTerm
        in: query
        description: Search term to filter hosts by name
        allowEmptyValue: true
        schema:
          type: string
          description: Search term to filter hosts by name
          example: Repellat omnis.
        example: Quia nostrum suscipit iure.
      - name: inventory
        in: query
        description: Filter results by inventory identifier
        allowEmptyValue: true
        schema:
          type: string
          description: Filter results by inventory identifier
          example: Consectetur veritatis tempore.
        example: Ullam voluptates assumenda est quam.
      - name: status
        in: query
        description: Filter results by host status (based on most recent activity)
        allowEmptyValue: true
        schema:
          type: string
          description: Filter results by host status (based on most recent activity)
          example: ignored
          enum:
          - ok
          - changed
          - failures
          - unreachable
          - skipped
          - ignored
          - rescued
        example: rescued
      - name: startTime
        in: query
        description: Filter results by last activity created time (Unix timestamp in milliseconds) - inclusive start of time range
        allowEmptyValue: true
        schema:
          type: integer
          description: Filter results by last activity created time (Unix timestamp in milliseconds) - inclusive start of time range
          example: 1620268800000
          format: int64
        example: 1620268800000
      - name: endTime
        in: query
        description: Filter results by last activity created time (Unix timestamp in milliseconds) - inclusive end of time range
        allowEmptyValue: true
        schema:
          type: integer
          description: Filter results by last activity created time (Unix timestamp in milliseconds) - inclusive end of time range
          example: 1630268800000
          format: int64
        example: 1630268800000
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: '9'
          minLength: 1
          maxLength: 128
        example: '8'
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: hd
          minLength: 1
          maxLength: 128
        example: m
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: '75'
          minLength: 1
          maxLength: 128
        example: da
      responses:
        '200':
          description: OK response.
          content:
            text/csv:
              schema:
                type: string
                example:
                - 70
                - 97
                - 99
                - 101
                - 114
                - 101
                - 32
                - 118
                - 105
                - 116
                - 97
                - 101
                - 32
                - 113
                - 117
                - 105
                - 97
                - 32
                - 110
                - 111
                - 115
                - 116
                - 114
                - 117
                - 109
                - 32
                - 97
                - 117
                - 116
                - 101
                - 109
                - 32
                - 105
                - 117
                - 114
                - 101
                - 46
                format: binary
              example:
              - 81
              - 117
              - 97
              - 115
              - 105
              - 32
              - 100
              - 111
              - 108
              - 111
              - 114
              - 101
              - 115
              - 46
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
  /iacm/api/orgs/{org}/projects/{project}/ansible/hosts/summary:
    get:
      tags:
      - ansible
      summary: Get Ansible Hosts Summary
      description: Get aggregated host counts grouped by the latest activity status, scoped to an account/org/project.
      operationId: ansible#get-hosts-summary
      parameters:
      - name: searchTerm
        in: query
        description: Filter results by partial host address match
        allowEmptyValue: true
        schema:
          type: string
          description: Filter results by partial host address match
          default: ''
          example: web-server
        example: web-server
      - name: inventory
        in: query
        description: Filter results by inventory membership
        allowEmptyValue: true
        schema:
          type: string
          description: Filter results by inventory membership
          default: ''
          example: production-inventory
        example: production-inventory
      - name: startTime
        in: query
        description: Filter results by latest activity created time (Unix timestamp in milliseconds) - inclusive start of time range
        allowEmptyValue: true
        schema:
          type: integer
          description: Filter results by latest activity created time (Unix timestamp in milliseconds) - inclusive start of time range
          example: 1627590400000
          format: int64
        example: 1627590400000
      - name: endTime
        in: query
        description: Filter results by latest activity created time (Unix timestamp in milliseconds) - inclusive end of time range
        allowEmptyValue: true
        schema:
          type: integer
          description: Filter results by latest activity created time (Unix timestamp in milliseconds) - inclusive end of time range
          example: 1630268800000
          format: int64
        example: 1630268800000
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: '46'
          minLength: 1
          maxLength: 128
        example: mp
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: r
          minLength: 1
          maxLength: 128
        example: 2wy
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: rn3
          minLength: 1
          maxLength: 128
        example: '11'
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHostsSummaryResponse'
              example:
                changed: 4
                failures: 0
                ignored: 0
                ok: 3
                rescued: 0
                skipped: 0
                total: 7
                unknown: 0
                unreachable: 0
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/AnsibleError'
[...]
