openapi: 3.2.0
info:
  title: Harness Network Maps API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Network Maps
paths:
  /gateway/chaos/manager/api/rest/v2/applicationmaps:
    post:
      summary: List target network maps with chaos context
      operationId: listTargetNetworkMaps
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: page number
        name: page
        in: query
        required: true
        schema:
          type: integer
          default: 0
      - description: limit per page
        name: limit
        in: query
        required: true
        schema:
          type: integer
          default: 10
      - description: environment id that want to access the resource
        name: environmentIdentifier
        in: query
        schema:
          type: string
      - description: infra id that want to access the resource
        name: infraId
        in: query
        schema:
          type: string
      - description: show all target network maps
        name: all
        in: query
        schema:
          type: boolean
      - description: show minimal details
        name: minimal
        in: query
        schema:
          type: boolean
      - description: search based on name
        name: search
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/networkmap.ListTargetNetworkMapRequest'
        description: list Target Network Maps request
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/networkmap.ListTargetNetworkMapResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Network Maps
  /gateway/chaos/manager/api/rest/v2/applicationmaps/{applicationmapid}:
    get:
      summary: Get target network map with chaos context
      operationId: getTargetNetworkMap
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: environment id that want to access the resource
        name: environmentIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: infra id that want to access the resource
        name: infraId
        in: query
        required: true
        schema:
          type: string
      - description: Application map ID
        name: applicationmapid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/networkmap.GetTargetNetworkMapResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Network Maps
    delete:
      summary: Delete application network map with chaos context
      operationId: deleteTargetNetworkMap
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: environment id that want to access the resource
        name: environmentIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: infra id that want to access the resource
        name: infraId
        in: query
        required: true
        schema:
          type: string
      - description: Application map ID
        name: applicationmapid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Network Maps
  /gateway/chaos/manager/api/rest/v2/applicationmaps/{applicationmapid}/canretry:
    get:
      summary: Can retry or not chaos experiment creation for the given target network map
      operationId: canRetryExperimentCreation
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: environment id that want to access the resource
        name: environmentIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: infra id that want to access the resource
        name: infraId
        in: query
        required: true
        schema:
          type: string
      - description: Application map ID
        name: applicationmapid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/networkmap.CanRetryExperimentCreationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Network Maps
  /gateway/chaos/manager/api/rest/v2/applicationmaps/{applicationmapid}/retry:
    post:
      summary: Retry chaos experiment creation for the given target network map
      operationId: retryExperimentCreation
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: environment id that want to access the resource
        name: environmentIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: infra id that want to access the resource
        name: infraId
        in: query
        required: true
        schema:
          type: string
      - description: Application map ID
        name: applicationmapid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/networkmap.RetryExperimentCreationRequest'
        description: Retry experiment creation request
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/networkmap.RetryExperimentCreationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Network Maps
  /gateway/chaos/manager/api/rest/v2/applicationmaps/{applicationmapid}/targetservices:
    get:
      description: Get target discovered service with chaos context
      summary: List target discovered service with chaos context
      operationId: listService
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: environment id that want to access the resource
        name: environmentIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: infra id that want to access the resource
        name: infraId
        in: query
        required: true
        schema:
          type: string
      - description: Application map ID
        name: applicationmapid
        in: path
        required: true
        schema:
          type: string
      - description: page number
        name: page
        in: query
        required: true
        schema:
          type: integer
          default: 0
      - description: limit per page
        name: limit
        in: query
        required: true
        schema:
          type: integer
          default: 10
      - description: search based on name
        name: search
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/networkmap.ListTargetServiceResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Network Maps
  /gateway/chaos/manager/api/rest/v2/applicationmaps/{applicationmapid}/targetservices/{targetserviceid}:
    get:
      summary: Get target discovered service with chaos context
      operationId: getServiceResponse
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: environment id that want to access the resource
        name: environmentIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: infra id that want to access the resource
        name: infraId
        in: query
        required: true
        schema:
          type: string
      - description: Application map ID
        name: applicationmapid
        in: path
        required: true
        schema:
          type: string
      - description: Target discovered service ID Identity
        name: targetserviceid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/networkmap.GetTargetServiceResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
      tags:
      - Network Maps
components:
  schemas:
    intstr.IntOrString:
      type: object
      properties:
        intVal:
          type: integer
        strVal:
          type: string
        type:
          $ref: '#/components/schemas/intstr.Type'
    targetservice.ServiceType:
      type: string
      enum:
      - DiscoveredService
      - UnAccounted
      x-enum-varnames:
      - DiscoveredService
      - UnAccounted
    v1.PortStatus:
      type: object
      properties:
        error:
          description: "Error is to record the problem with the service port\nThe format of the error shall comply with the following rules:\n- built-in error values shall be specified in this file and those shall use\n  CamelCase names\n- cloud provider specific error values must have names that comply with the\n  format foo.example.com/CamelCase.\n---\nThe regex it matches is (dns1123SubdomainFmt/)?(qualifiedNameFmt)\n+optional\n+kubebuilder:validation:Required\n+kubebuilder:validation:Pattern=`^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$`\n+kubebuilder:validation:MaxLength=316"
          type: string
        port:
          description: Port is the port number of the service port of which status is recorded here
          type: integer
        protocol:
          description: 'Protocol is the protocol of the service port of which status is recorded here

            The supported values are: "TCP", "UDP", "SCTP"'
          allOf:
          - $ref: '#/components/schemas/v1.Protocol'
    database.DiscoveredServiceCollection:
      type: object
      required:
      - accountIdentifier
      - agentID
      - agentIdentity
      - environmentIdentifier
      - id
      - name
      - spec
      - type
      - version
      properties:
        accountIdentifier:
          type: string
        agentID:
          type: string
        agentIdentity:
          type: string
        createdAt:
          type: string
        createdBy:
          type: string
        environmentIdentifier:
          type: string
        id:
          type: string
        name:
          type: string
        organizationIdentifier:
          type: string
        projectIdentifier:
          type: string
        removed:
          type: boolean
        removedAt:
          type: string
        spec:
          $ref: '#/components/schemas/database.DiscoveredServiceSpec'
        type:
          type: string
        updatedAt:
          type: string
        updatedBy:
          type: string
        version:
          type: string
    v1.Protocol:
      type: string
      enum:
      - TCP
      - UDP
      - SCTP
      x-enum-varnames:
      - ProtocolTCP
      - ProtocolUDP
      - ProtocolSCTP
    targetnetworkmap.TargetNetworkMap:
      type: object
      required:
      - accountID
      - isRemoved
      properties:
        accountID:
          type: string
        agentIdentity:
          type: string
        averageResiliencyScore:
          type: number
        createdAt:
          type: integer
        createdBy:
          type: string
        environmentRef:
          type: string
        errorMessage:
          type: string
        experimentCreationMode:
          $ref: '#/components/schemas/targetnetworkmap.ExperimentCreationMode'
        id:
          type: string
        identity:
          type: string
        infrastructureId:
          type: string
        isRemoved:
          type: boolean
        name:
          type: string
        onboardingID:
          type: string
        orgID:
          type: string
        projectID:
          type: string
        recentExperimentRunsDetails:
          type: array
          items:
            $ref: '#/components/schemas/targetnetworkmap.ExperimentRunDetail'
        resiliencyCoverage:
          type: number
        serviceIDs:
          type: array
          items:
            type: string
        status:
          $ref: '#/components/schemas/targetnetworkmap.Status'
        targetNetworkMapID:
          type: string
        totalExperimentCount:
          type: integer
        totalExperimentRunCount:
          type: integer
        updatedAt:
          type: integer
        updatedBy:
          type: string
    networkmap.TargetServiceDetails:
      type: object
      required:
      - id
      - kind
      - name
      properties:
        averageResiliencyScore:
          type: number
        id:
          type: string
        kind:
          $ref: '#/components/schemas/database.NetworkMapResourceKind'
        kubernetes:
          $ref: '#/components/schemas/database.NetworkMapEntityKubernetesInfo'
        name:
          type: string
        removed:
          type: boolean
        resiliencyCoverage:
          type: number
        serviceIdentity:
          $ref: '#/components/schemas/database.ServiceIdentity'
    v1.ClientIPConfig:
      type: object
      properties:
        timeoutSeconds:
          description: 'timeoutSeconds specifies the seconds of ClientIP type session sticky time.

            The value must be >0 && <=86400(for 1 day) if ServiceAffinity == "ClientIP".

            Default value is 10800(for 3 hours).

            +optional'
          type: integer
    v1.IPFamily:
      type: string
      enum:
      - IPv4
      - IPv6
      x-enum-varnames:
      - IPv4Protocol
      - IPv6Protocol
    v1.Condition:
      type: object
      properties:
        lastTransitionTime:
          description: 'lastTransitionTime is the last time the condition transitioned from one status to another.

            This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.

            +required

            +kubebuilder:validation:Required

            +kubebuilder:validation:Type=string

            +kubebuilder:validation:Format=date-time'
          type: string
        message:
          description: 'message is a human readable message indicating details about the transition.

            This may be an empty string.

            +required

            +kubebuilder:validation:Required

            +kubebuilder:validation:MaxLength=32768'
          type: string
        observedGeneration:
          description: 'observedGeneration represents the .metadata.generation that the condition was set based upon.

            For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date

            with respect to the current state of the instance.

            +optional

            +kubebuilder:validation:Minimum=0'
          type: integer
        reason:
          description: 'reason contains a programmatic identifier indicating the reason for the condition''s last transition.

            Producers of specific condition types may define expected values and meanings for this field,

            and whether the values are considered a guaranteed API.

            The value should be a CamelCase string.

            This field may not be empty.

            +required

            +kubebuilder:validation:Required

            +kubebuilder:validation:MaxLength=1024

            +kubebuilder:validation:MinLength=1

            +kubebuilder:validation:Pattern=`^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$`'
          type: string
        status:
          description: 'status of the condition, one of True, False, Unknown.

            +required

            +kubebuilder:validation:Required

            +kubebuilder:validation:Enum=True;False;Unknown'
          allOf:
          - $ref: '#/components/schemas/k8s_io_apimachinery_pkg_apis_meta_v1.ConditionStatus'
        type:
          description: 'type of condition in CamelCase or in foo.example.com/CamelCase.

            ---

            Many .condition.type values are consistent across resources like Available, but because arbitrary conditions can be

            useful (see .node.status.conditions), the ability to deconflict is important.

            The regex it matches is (dns1123SubdomainFmt/)?(qualifiedNameFmt)

            +required

            +kubebuilder:validation:Required

            +kubebuilder:validation:Pattern=`^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$`

            +kubebuilder:validation:MaxLength=316'
          type: string
    networkmap.GetTargetNetworkMapResponse:
      type: object
      required:
      - accountID
      - isRemoved
      properties:
        accountID:
          type: string
        agentIdentity:
          type: string
        averageResiliencyScore:
          type: number
        connections:
          type: array
          items:
            $ref: '#/components/schemas/database.Connection'
        createdAt:
          type: integer
        createdBy:
          type: string
        environmentRef:
          type: string
        errorMessage:
          type: string
        experimentCreationMode:
          $ref: '#/components/schemas/targetnetworkmap.ExperimentCreationMode'
        id:
          type: string
        identity:
          type: string
        infrastructureId:
          type: string
        isRemoved:
          type: boolean
        name:
          type: string
        onboardingID:
          type: string
        orgID:
          type: string
        projectID:
          type: string
        recentExperimentRunsDetails:
          type: array
          items:
            $ref: '#/components/schemas/targetnetworkmap.ExperimentRunDetail'
        resiliencyCoverage:
          type: number
        serviceIDs:
          type: array
          items:
            type: string
        services:
          type: array
          items:
            $ref: '#/components/schemas/networkmap.TargetServiceDetails'
        status:
          $ref: '#/components/schemas/targetnetworkmap.Status'
        targetNetworkMapID:
          type: string
        totalExperimentCount:
          type: integer
        totalExperimentRunCount:
          type: integer
        updatedAt:
          type: integer
        updatedBy:
          type: string
    database.EnvironmentIdentity:
      type: object
      properties:
        accountIdentifier:
          type: string
        identifier:
          type: string
        infraIdentifier:
          type: string
        organizationIdentifier:
          type: string
        projectIdentifier:
          type: string
    api.ResponseErrorCode:
      type: string
      enum:
      - PIPELINE_NOT_FOUND
      x-enum-varnames:
      - PipelineNotFound
    database.ConnectionType:
      type: string
      enum:
      - TCP
      x-enum-varnames:
      - ConnectionTypeTCP
    database.NetworkMapResourceKind:
      type: string
      enum:
      - K8SCustomService
      - discoveredservice
      x-enum-varnames:
      - NetworkMapResourceKindK8SCustomService
      - NetworkMapResourceKindDiscoveredService
    v1.SessionAffinityConfig:
      type: object
      properties:
        clientIP:
          description: 'clientIP contains the configurations of Client IP based session affinity.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.ClientIPConfig'
    k8s_io_apimachinery_pkg_apis_meta_v1.ConditionStatus:
      type: string
      enum:
      - 'True'
      - 'False'
      - Unknown
      x-enum-varnames:
      - ConditionTrue
      - ConditionFalse
      - ConditionUnknown
    networkmap.CanRetryExperimentCreationResponse:
      type: object
      properties:
        result:
          type: boolean
    api.RestError:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/api.ResponseErrorCode'
        description:
          type: string
        message:
          type: string
    targetnetworkmap.ExperimentRunDetail:
      type: object
      required:
      - isRemoved
      properties:
        completed:
          type: boolean
        createdAt:
          type: integer
        createdBy:
          type: string
        experimentRunID:
          type: string
        isRemoved:
          type: boolean
        name:
          type: string
        notifyID:
          type: string
        phase:
          type: string
        resiliencyScore:
          type: number
        targetService:
          type: array
          items:
            $ref: '#/components/schemas/targetservice.ServiceMetadata'
        updatedAt:
          type: integer
        updatedBy:
          type: string
    targetservice.TargetService:
      type: object
      required:
      - accountID
      - isRemoved
      properties:
        accountID:
          type: string
        averageResiliencyScore:
          type: number
        createdAt:
          type: integer
        createdBy:
          type: string
        environmentRef:
          type: string
        externalId:
          type: string
        id:
          type: string
        infrastructureId:
          type: string
        isRemoved:
          type: boolean
        licenseId:
          type: string
        name:
          type: string
        orgID:
          type: string
        projectID:
          type: string
        resiliencyCoverage:
          type: number
        spec:
          $ref: '#/components/schemas/targetservice.ServiceSpec'
        totalExperimentCount:
          type: integer
        type:
          $ref: '#/components/schemas/targetservice.ServiceType'
        updatedAt:
          type: integer
        updatedBy:
          type: string
    database.DiscoveredServiceKubernetesSpec:
      type: object
      properties:
        kind:
          type: string
        name:
          type: string
        namespace:
          type: string
        service:
          $ref: '#/components/schemas/database.DiscoveredKubernetesService'
        uid:
          type: string
        workloads:
          type: array
          items:
            $ref: '#/components/schemas/database.DiscoveredKubernetesWorkload'
    v1.LoadBalancerIngress:
      type: object
      properties:
        hostname:
          description: 'Hostname is set for load-balancer ingress points that are DNS based

            (typically AWS load-balancers)

            +optional'
          type: string
        ip:
          description: 'IP is set for load-balancer ingress points that are IP based

            (typically GCE or OpenStack load-balancers)

            +optional'
          type: string
        ports:
          description: 'Ports is a list of records of service ports

            If used, every port defined in the service should have an entry in it

            +listType=atomic

            +optional'
          type: array
          items:
            $ref: '#/components/schemas/v1.PortStatus'
    targetservice.DiscoveredServiceSpec:
      type: object
      properties:
        id:
          type: string
        kind:
          type: string
        label:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        namespace:
          type: string
        uuid:
          type: string
    v1.ServiceInternalTrafficPolicyType:
      type: string
      enum:
      - Cluster
      - Local
      x-enum-varnames:
      - ServiceInternalTrafficPolicyCluster
      - ServiceInternalTrafficPolicyLocal
    database.ServiceIdentity:
      type: object
      properties:
        accountIdentifier:
          type: string
        identifier:
          type: string
        organizationIdentifier:
          type: string
        projectIdentifier:
          type: string
    database.ServiceCollection:
      type: object
      required:
      - accountIdentifier
      - agentID
      - apiVersion
      - environmentIdentifier
      - id
      - kind
      - name
      - namespace
      - resourceVersion
      - spec
      - uid
      properties:
        accountIdentifier:
          type: string
        agentID:
          type: string
        annotations:
          type: object
          additionalProperties:
            type: string
        apiVersion:
          type: string
        createdAt:
          type: string
        createdBy:
          type: string
        creationTimestamp:
          type: string
        deletionTimestamp:
          type: string
        environmentIdentifier:
          type: string
        id:
          type: string
        kind:
          type: string
        labels:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        namespace:
          type: string
        organizationIdentifier:
          type: string
        ownerReference:
          type: array
          items:
            $ref: '#/components/schemas/v1.OwnerReference'
        projectIdentifier:
          type: string
        removed:
          type: boolean
        removedAt:
          type: string
        resourceVersion:
          type: string
        spec:
          $ref: '#/components/schemas/v1.ServiceSpec'
        status:
          $ref: '#/components/schemas/v1.ServiceStatus'
        uid:
          type: string
        updatedAt:
          type: string
        updatedBy:
          type: string
    networkmap.RetryExperimentCreationRequest:
      type: object
      properties:
        mode:
          $ref: '#/components/schemas/targetnetworkmap.ExperimentCreationMode'
    networkmap.ListTargetService:
      type: object
      properties:
        chaosDetails:
          $ref: '#/components/schemas/targetservice.TargetService'
        discoveryDetails:
          $ref: '#/components/schemas/database.DiscoveredServiceCollection'
    v1.ServiceExternalTrafficPolicyType:
      type: string
      enum:
      - Local
      - Cluster
      x-enum-varnames:
      - ServiceExternalTrafficPolicyTypeLocal
      - ServiceExternalTrafficPolicyTypeCluster
    networkmap.ListTargetServiceResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/networkmap.ListTargetService'
        page:
          $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_api.Pagination'
    v1.ServiceStatus:
      type: object
      properties:
        conditions:
          description: 'Current service state

            +optional

            +patchMergeKey=type

            +patchStrategy=merge

            +listType=map

            +listMapKey=type'
          type: array
          items:
            $ref: '#/components/schemas/v1.Condition'
        loadBalancer:
          description: 'LoadBalancer contains the current status of the load-balancer,

            if one is present.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.LoadBalancerStatus'
    database.DiscoveredKubernetesService:
      type: object
      properties:
        annotations:
          type: object
          additionalProperties:
            type: string
        clusterIP:
          type: string
        clusterIPs:
          type: array
          items:
            type: string
        externalIPs:
          type: array
          items:
            type: string
        externalName:
          type: string
        identity:
          $ref: '#/components/schemas/v1.ObjectReference'
        labels:
          type: object
          additionalProperties:
            type: string
        loadBalancerIP:
          type: string
        ports:
          type: array
          items:
            $ref: '#/components/schemas/v1.ServicePort'
        type:
          $ref: '#/components/schemas/v1.ServiceType'
    v1.ServicePort:
      type: object
      properties:
        appProtocol:
          description: 'The application protocol for this port.

            This field follows standard Kubernetes label syntax.

            Un-prefixed names are reserved for IANA standard service names (as per

            RFC-6335 and http://www.iana.org/assignments/service-names).

            Non-standard protocols should use prefixed names such as

            mycompany.com/my-custom-protocol.

            This is a beta field that is guarded by the ServiceAppProtocol feature

            gate and enabled by default.

            +optional'
          type: string
        name:
          description: 'The name of this port within the service. This must be a DNS_LABEL.

            All ports within a ServiceSpec must have unique names. When considering

            the endpoints for a Service, this must match the ''name'' field in the

            EndpointPort.

            Optional if only one ServicePort is defined on this service.

            +optional'
          type: string
        nodePort:
          description: 'The port on each node on which this service is exposed when type is

            NodePort or LoadBalancer.  Usually assigned by the system. If a value is

            specified, in-range, and not in use it will be used, otherwise the

            operation will fail.  If not specified, a port will be allocated if this

            Service requires one.  If this field is specified when creating a

            Service which does not need it, creation will fail. This field will be

            wiped when updating a Service to no longer need it (e.g. changing type

            from NodePort to ClusterIP).

            More info: https://kubernetes.io/docs/concepts/services-networking/service/#type-nodeport

            +optional'
          type: integer
        port:
          description: The port that will be exposed by this service.
          type: integer
        protocol:
          description: 'The IP protocol for this port. Supports "TCP", "UDP", and "SCTP".

            Default is TCP.

            +default="TCP"

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.Protocol'
        targetPort:
          description: 'Number or name of the port to access on the pods targeted by the service.

            Number must be in the range 1 to 65535. Name must be an IANA_SVC_NAME.

            If this is a string, it will be looked up as a named port in the

            target Pod''s container ports. If this is not specified, the value

            of the ''port'' field is used (an identity map).

            This field is ignored for services with clusterIP=None, and should be

            omitted or set equal to the ''port'' field.

            More info: https://kubernetes.io/docs/concepts/services-networking/service/#defining-a-service

            +optional'
          allOf:
          - $ref: '#/components/schemas/intstr.IntOrString'
    networkmap.GetTargetServiceResponse:
      type: object
      properties:
        chaosDetails:
          $ref: '#/components/schemas/targetservice.TargetService'
        discoveryDetails:
          $ref: '#/components/schemas/database.ServiceCollection'
        workloadDetails:
          $ref: '#/components/schemas/database.DiscoveredServiceKubernetesSpec'
    v1.ServiceType:
      type: string
      enum:
      - ClusterIP
      - NodePort
      - LoadBalancer
      - ExternalName
      x-enum-varnames:
      - ServiceTypeClusterIP
      - ServiceTypeNodePort
      - ServiceTypeLoadBalancer
      - ServiceTypeExternalName
    targetservice.ServiceSpec:
      type: object
      properties:
        discoveredService:
          $ref: '#/components/schemas/targetservice.DiscoveredServiceSpec'
    v1.IPFamilyPolicyType:
      type: string
      enum:
      - SingleStack
      - PreferDualStack
      - RequireDualStack
      x-enum-varnames:
      - IPFamilyPolicySingleStack
      - IPFamilyPolicyPreferDualStack
      - IPFamilyPolicyRequireDualStack
    networkmap.ListTargetNetworkMapRequest:
      type: object
    networkmap.ListTargetNetworkMapResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/targetnetworkmap.TargetNetworkMap'
        page:
          $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_api.Pagination'
    targetnetworkmap.ExperimentCreationMode:
      type: string
      enum:
      - Basic
      - Intermediate
      - Advanced
      x-enum-varnames:
      - BasicExperimentCreation
      - IntermediateExperimentCreation
      - AdvancedExperimentCreation
    networkmap.RetryExperimentCreationResponse:
      type: object
    v1.OwnerReference:
      type: object
      properties:
        apiVersion:
          description: API version of the referent.
          type: string
        blockOwnerDeletion:
          description: 'If true, AND if the owner has the "foregroundDeletion" finalizer, then

            the owner cannot be deleted from the key-value store until this

            reference is removed.

            Defaults to false.

            To set this field, a user needs "delete" permission of the owner,

            otherwise 422 (Unprocessable Entity) will be returned.

            +optional'
          type: boolean
        controller:
          description: 'If true, this reference points to the managing controller.

            +optional'
          type: boolean
        kind:
          description: 'Kind of the referent.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        name:
          description: 'Name of the referent.

            More info: http://kubernetes.io/docs/user-guide/identifiers#names'
          type: string
        uid:
          description: 'UID of the referent.

            More info: http://kubernetes.io/docs/user-guide/identifiers#uids'
          type: string
    database.NetworkMapEntityKubernetesInfo:
      type: object
      properties:
        hasWorkload:
          type: boolean
        kind:
          type: string
        namespace:
          type: string
    v1.LoadBalancerStatus:
      type: object
      properties:
        ingress:
          description: 'Ingress is a list containing ingress points for the load-balancer.

            Traffic intended for the service should be sent to these ingress points.

            +optional'
          type: array
          items:
            $ref: '#/components/schemas/v1.LoadBalancerIngress'
    v1.ServiceSpec:
      type: object
      properties:
        allocateLoadBalancerNodePorts:
          description: 'allocateLoadBalancerNodePorts defines if NodePorts will be automatically

            allocated for services with type LoadBalancer.  Default is "true". It may be

            set to "false" if the cluster load-balancer does not rely on NodePorts.

            allocateLoadBalancerNodePorts may only be set for services with type LoadBalancer

            and will be cleared if the type is changed to any other type.

            This field is alpha-level and is only honored by servers that enable the ServiceLBNodePortControl feature.

            +optional'
          type: boolean
        clusterIP:
          description: 'clusterIP is the IP address of the service and is usually assigned

            randomly. If an address is specified manually, is in-range (as per

            system configuration), and is not in use, it will be allocated to the

            service; otherwise creation of the service will fail. This field may not

            be changed through updates unless the type field is also being changed

            to ExternalName (which requires this field to be blank) or the type

            field is being changed from ExternalName (in which case this field may

            optionally be specified, as describe above).  Valid values are "None",

            empty string (""), or a valid IP address. Setting this to "None" makes a

            "headless service" (no virtual IP), which is useful when direct endpoint

            connections are preferred and proxying is not required.  Only applies to

            types ClusterIP, NodePort, and LoadBalancer. If this field is specified

            when creating a Service of type ExternalName, creation will fail. This

            field will be wiped when updating a Service to type ExternalName.

            More info: https://kubernetes.io/docs/concepts/services-networking/service/#virtual-ips-and-service-proxies

            +optional'
          type: string
        clusterIPs:
          description: 'ClusterIPs is a list of IP addresses assigned to this service, and are

            usually assigned randomly.  If an address is specified manually, is

            in-range (as per system configuration), and is not in use, it will be

            allocated to the service; otherwise creation of the service will fail.

            This field may not be changed through updates unless the type field is

            also being changed to ExternalName (which requires this field to be

            empty) or the type field is being changed from ExternalName (in which

            case this field may optionally be specified, as describe above).  Valid

            values are "None", empty string (""), or a valid IP address.  Setting

            this to "None" makes a "headless service" (no virtual IP), which is

            useful when direct endpoint connections are preferred and proxying is

            not required.  Only applies to types ClusterIP, NodePort, and

            LoadBalancer. If this field is specified when creating a Service of type

            ExternalName, creation will fail. This field will be wiped when updating

            a Service to type ExternalName.  If this field is not specified, it will

            be initialized from the clusterIP field.  If this field is specified,

            clients must ensure that clusterIPs[0] and clusterIP have the same

            value.


            Unless the "IPv6DualStack" feature gate is enabled, this field is

            limited to one value, which must be the same as the clusterIP field.  If

            the feature gate is enabled, this field may hold a maximum of two

            entries (dual-stack IPs, in either order).  These IPs must correspond to

            the values of the ipFamilies field. Both clusterIPs and ipFamilies are

            governed by the ipFamilyPolicy field.

            More info: https://kubernetes.io/docs/concepts/services-networking/service/#virtual-ips-and-service-proxies

            +listType=atomic

            +optional'
          type: array
          items:
            type: string
        externalIPs:
          description: 'externalIPs is a list of IP addresses for which nodes in the cluster

            will also accept traffic for this service.  These IPs are not managed by

            Kubernetes.  The user is responsible for ensuring that traffic arrives

            at a node with this IP.  A common example is external load-balancers

            that are not part of the Kubernetes system.

            +optional'
          type: array
          items:
            type: string
        externalName:
          description: 'externalName is the external reference that discovery mechanisms will

            return as an alias for this service (e.g. a DNS CNAME record). No

            proxying will be involved.  Must be a lowercase RFC-1123 hostname

            (https://tools.ietf.org/html/rfc1123) and requires `type` to be "ExternalName".

            +optional'
          type: string
        externalTrafficPolicy:
          description: 'externalTrafficPolicy denotes if this Service desires to route external

            traffic to node-local or cluster-wide endpoints. "Local" preserves the

            client source IP and avoids a second hop for LoadBalancer and Nodeport

            type services, but risks potentially imbalanced traffic spreading.

            "Cluster" obscures the client source IP and may cause a second hop to

            another node, but should have good overall load-spreading.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.ServiceExternalTrafficPolicyType'
        healthCheckNodePort:
          description: 'healthCheckNodePort specifies the healthcheck nodePort for the service.

            This only applies when type is set to LoadBalancer and

            externalTrafficPolicy is set to Local. If a value is specified, is

            in-range, and is not in use, it will be used.  If not specified, a value

            will be automatically allocated.  External systems (e.g. load-balancers)

            can use this port to determine if a given node holds endpoints for this

            service or not.  If this field is specified when creating a Service

            which does not need it, creation will fail. This field will be wiped

            when updating a Service to no longer need it (e.g. changing type).

            +optional'
          type: integer
        internalTrafficPolicy:
          description: 'InternalTrafficPolicy specifies if the cluster internal traffic

            should be routed to all endpoints or node-local endpoints only.

            "Cluster" routes internal traffic to a Service to all endpoints.

            "Local" routes traffic to node-local endpoints only, traffic is

            dropped if no node-local endpoints are ready.

            The default value is "Cluster".

            +featureGate=ServiceInternalTrafficPolicy

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.ServiceInternalTrafficPolicyType'
        ipFamilies:
          description: 'IPFamilies is a list of IP families (e.g. IPv4, IPv6) assigned to this

            service, and is gated by the "IPv6DualStack" feature gate.  This field

            is usually assigned automatically based on cluster configuration and the

            ipFamilyPolicy field. If this field is specified manually, the requested

            family is available in the cluster, and ipFamilyPolicy allows it, it

            will be used; otherwise creation of the service will fail.  This field

            is conditionally mutable: it allows for adding or removing a secondary

            IP family, but it does not allow changing the primary IP family of the

            Service.  Valid values are "IPv4" and "IPv6".  This field only applies

            to Services of types ClusterIP, NodePort, and LoadBalancer, and does

            apply to "headless" services.  This field will be wiped when updating a

            Service to type ExternalName.


            This field may hold a maximum of two entries (dual-stack families, in

            either order).  These families must correspond to the values of the

            clusterIPs field, if specified. Both clusterIPs and ipFamilies are

            governed by the ipFamilyPolicy field.

            +listType=atomic

            +optional'
          type: array
          items:
            $ref: '#/components/schemas/v1.IPFamily'
        ipFamilyPolicy:
          description: 'IPFamilyPolicy represents the dual-stack-ness requested or required by

            this Service, and is gated by the "IPv6DualStack" feature gate.  If

            there is no value provided, then this field will be set to SingleStack.

            Services can be "SingleStack" (a single IP family), "PreferDualStack"

            (two IP families on dual-stack configured clusters or a single IP family

            on single-stack clusters), or "RequireDualStack" (two IP families on

            dual-stack configured clusters, otherwise fail). The ipFamilies and

            clusterIPs fields depend on the value of this field.  This field will be

            wiped when updating a service to type ExternalName.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.IPFamilyPolicyType'
        loadBalancerClass:
          description: 'loadBalancerClass is the class of the load balancer implementation this Service belongs to.

            If specified, the value of this field must be a label-style identifier, with an optional prefix,

            e.g. "internal-vip" or "example.com/internal-vip". Unprefixed names are reserved for end-users.

            This field can only be set when the Service type is ''LoadBalancer''. If not set, the default load

            balancer implementation is used, today this is typically done through the cloud provider integration,

            but should apply for any default implementation. If set, it is assumed that a load balancer

            implementation is watching for Services with a matching class. Any default load balancer

            implementation (e.g. cloud providers) should ignore Services that set this field.

            This field can only be set when creating or updating a Service to type ''LoadBalancer''.

            Once set, it can not be changed. This field will be wiped when a service is updated to a non ''LoadBalancer'' type.

            +featureGate=LoadBalancerClass

            +optional'
          type: string
        loadBalancerIP:
          description: 'Only applies to Service Type: LoadBalancer

            LoadBalancer will get created with the IP specified in this field.

            This feature depends on whether the underlying cloud-provider supports specifying

            the loadBalancerIP when a load balancer is created.

            This field will be ignored if the cloud-provider does not support the feature.

            +optional'
          type: string
        loadBalancerSourceRanges:
          description: 'If specified and supported by the platform, this will restrict traffic through the cloud-provider

            load-balancer will be restricted to the specified client IPs. This field will be ignored if the

            cloud-provider does not support the feature."

            More info: https://kubernetes.io/docs/tasks/access-application-cluster/configure-cloud-provider-firewall/

            +optional'
          type: array
          items:
            type: string
        ports:
          description: 'The list of ports that are exposed by this service.

            More info: https://kubernetes.io/docs/concepts/services-networking/service/#virtual-ips-and-service-proxies

            +patchMergeKey=port

            +patchStrategy=merge

            +listType=map

            +listMapKey=port

            +listMapKey=protocol'
          type: array
          items:
            $ref: '#/components/schemas/v1.ServicePort'
        publishNotReadyAddresses:
          description: 'publishNotReadyAddresses indicates that any agent which deals with endpoints for this

            Service should disregard any indications of ready/not-ready.

            The primary use case for setting this field is for a StatefulSet''s Headless Service to

            propagate SRV DNS records for its Pods for the purpose of peer discovery.

            The Kubernetes controllers that generate Endpoints and EndpointSlice resources for

            Services interpret this to mean that all endpoints are considered "ready" even if the

            Pods themselves are not. Agents which consume only Kubernetes generated endpoints

            through the Endpoints or EndpointSlice resources can safely assume this behavior.

            +optional'
          type: boolean
        selector:
          description: 'Route service traffic to pods with label keys and values matching this

            selector. If empty or not present, the service is assumed to have an

            external process managing its endpoints, which Kubernetes will not

            modify. Only applies to types ClusterIP, NodePort, and LoadBalancer.

            Ignored if type is ExternalName.

            More info: https://kubernetes.io/docs/concepts/services-networking/service/

            +optional'
          type: object
          additionalProperties:
            type: string
        sessionAffinity:
          description: 'Supports "ClientIP" and "None". Used to maintain session affinity.

            Enable client IP based session affinity.

            Must be ClientIP or None.

            Defaults to None.

            More info: https://kubernetes.io/docs/concepts/services-networking/service/#virtual-ips-and-service-proxies

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.ServiceAffinity'
        sessionAffinityConfig:
          description: 'sessionAffinityConfig contains the configurations of session affinity.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.SessionAffinityConfig'
        topologyKeys:
          description: 'topologyKeys is a preference-order list of topology keys which

            implementations of services should use to preferentially sort endpoints

            when accessing this Service, it can not be used at the same time as

            externalTrafficPolicy=Local.

            Topology keys must be valid label keys and at most 16 keys may be specified.

            Endpoints are chosen based on the first topology key with available backends.

            If this field is specified and all entries have no backends that match

            the topology of the client, the service has no backends for that client

            and connections should fail.

            The special value "*" may be used to mean "any topology". This catch-all

            value, if used, only makes sense as the last value in the list.

            If this is not specified or empty, no topology constraints will be applied.

            This field is alpha-level and is only honored by servers that enable the ServiceTopology feature.

            This field is deprecated and will be removed in a future version.

            +optional'
          type: array
          items:
            type: string
        type:
          description: 'type determines how the Service is exposed. Defaults to ClusterIP. Valid

            options are ExternalName, ClusterIP, NodePort, and LoadBalancer.

            "ClusterIP" allocates a cluster-internal IP address for load-balancing

            to endpoints. Endpoints are determined by the selector or if that is not

            specified, by manual construction of an Endpoints object or

            EndpointSlice objects. If clusterIP is "None", no virtual IP is

            allocated and the endpoints are published as a set of endpoints rather

            than a virtual IP.

            "NodePort" builds on ClusterIP and allocates a port on every node which

            routes to the same endpoints as the clusterIP.

            "LoadBalancer" builds on NodePort and creates an external load-balancer

            (if supported in the current cloud) which routes to the same endpoints

            as the clusterIP.

            "ExternalName" aliases this service to the specified externalName.

            Several other fields do not apply to ExternalName services.

            More info: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.ServiceType'
    v1.ObjectReference:
      type: object
      properties:
        apiVersion:
          description: 'API version of the referent.

            +optional'
          type: string
        fieldPath:
          description: 'If referring to a piece of an object instead of an entire object, this string

            should contain a valid JSON/Go field access statement, such as desiredState.manifest.containers[2].

            For example, if the object reference is to a container within a pod, this would take on a value like:

            "spec.containers{name}" (where "name" refers to the name of the container that triggered

            the event) or if no container name is specified "spec.containers[2]" (container with

            index 2 in this pod). This syntax is chosen only to have some well-defined way of

            referencing a part of an object.

            TODO: this design is not final and this field is subject to change in the future.

            +optional'
          type: string
        kind:
          description: 'Kind of the referent.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds

            +optional'
          type: string
        name:
          description: 'Name of the referent.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

            +optional'
          type: string
        namespace:
          description: 'Namespace of the referent.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/

            +optional'
          type: string
        resourceVersion:
          description: 'Specific resourceVersion to which this reference is made, if any.

            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency

            +optional'
          type: string
        uid:
          description: 'UID of the referent.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids

            +optional'
          type: string
    targetnetworkmap.Status:
      type: string
      enum:
      - COMPLETED
      - RUNNING
      - PENDING
      - ERRORED
      x-enum-varnames:
      - COMPLETED
      - RUNNING
      - PENDING
      - ERRORED
    database.Connection:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/database.NetworkMapEntity'
        manual:
          type: boolean
        params:
          type: object
          additionalProperties:
            type: string
        port:
          type: string
        to:
          $ref: '#/components/schemas/database.NetworkMapEntity'
        type:
          $ref: '#/components/schemas/database.ConnectionType'
    github_com_harness_hce-saas_graphql_server_api.Pagination:
      type: object
      properties:
        index:
          type: integer
        limit:
          type: integer
        totalItems:
          type: integer
        totalPages:
          type: integer
    targetservice.ServiceMetadata:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        namespace:
          type: string
        uid:
          type: string
    v1.ServiceAffinity:
      type: string
      enum:
      - ClientIP
      - None
      x-enum-varnames:
      - ServiceAffinityClientIP
      - ServiceAffinityNone
    v1.PodPhase:
      type: string
      enum:
      - Pending
      - Running
      - Succeeded
      - Failed
      - Unknown
      x-enum-varnames:
      - PodPending
      - PodRunning
      - PodSucceeded
      - PodFailed
      - PodUnknown
    database.DiscoveredPod:
      type: object
      properties:
        identity:
          $ref: '#/components/schemas/v1.ObjectReference'
        phase:
          $ref: '#/components/schemas/v1.PodPhase'
    database.NetworkMapEntity:
      type: object
      required:
      - id
      - kind
      - name
      properties:
        id:
          type: string
        kind:
          $ref: '#/components/schemas/database.NetworkMapResourceKind'
        kubernetes:
          $ref: '#/components/schemas/database.NetworkMapEntityKubernetesInfo'
        name:
          type: string
        removed:
          type: boolean
        serviceIdentity:
          $ref: '#/components/schemas/database.ServiceIdentity'
    database.DiscoveredKubernetesWorkload:
      type: object
      properties:
        annotations:
          type: object
          additionalProperties:
            type: string
        identity:
          $ref: '#/components/schemas/v1.ObjectReference'
        labels:
          type: object
          additionalProperties:
            type: string
        podAnnotations:
          type: object
          additionalProperties:
            type: string
        podLabels:
          type: object
          additionalProperties:
            type: string
        replicas:
          type: array
          items:
            $ref: '#/components/schemas/database.DiscoveredPod'
    database.DiscoveredServiceSpec:
      type: object
      properties:
        fqdn:
          type: array
          items:
            type: string
        harnessEnvironmentIdentity:
          $ref: '#/components/schemas/database.EnvironmentIdentity'
        harnessServiceIdentity:
          $ref: '#/components/schemas/database.ServiceIdentity'
        ip:
          type: array
          items:
            type: string
        kubernetes:
          $ref: '#/components/schemas/database.DiscoveredServiceKubernetesSpec'
        port:
          type: array
          items:
            type: string
    intstr.Type:
      type: integer
      enum:
      - 0
      - 1
      x-enum-comments:
        Int: The IntOrString holds an int.
        String: The IntOrString holds a string.
      x-enum-varnames:
      - Int
      - String
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
