openapi: 3.2.0
info:
  title: Harness Registry V3 - Internal API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- description: V3 internal admin endpoints for search backfill
  name: Registry V3 - Internal
paths:
  /har/api/v3/internal/search/backfill:
    post:
      operationId: TriggerBackfillV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      requestBody:
        $ref: '#/components/requestBodies/BackfillTriggerRequestV3'
      responses:
        '202':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/BackfillTriggerDataV3'
                required:
                - data
                type: object
          description: Accepted — backfill task created.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Conflict — backfill already running for this account.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Trigger ES search backfill for an account
      tags:
      - Registry V3 - Internal
      x-internal: true
  /har/api/v3/internal/search/backfill/state:
    get:
      operationId: GetBackfillStateV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/BackfillStateDataV3'
                required:
                - data
                type: object
          description: Backfill state per entity type.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Get backfill state by account
      tags:
      - Registry V3 - Internal
      x-internal: true
  /har/api/v3/internal/search/backfill/status/{job_id}:
    get:
      operationId: GetBackfillTaskStatusV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - in: path
        name: job_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/BackfillTaskStatusDataV3'
                required:
                - data
                type: object
          description: Job status.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Task not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Get backfill task status
      tags:
      - Registry V3 - Internal
      x-internal: true
components:
  schemas:
    BackfillTriggerRequestInputV3:
      description: Request body for triggering an ES search backfill.
      properties:
        entityTypes:
          description: Entity types to backfill into Elasticsearch.
          items:
            enum:
            - REGISTRY
            - PACKAGE
            - PACKAGE_VERSION
            - FILE
            type: string
          type: array
        reindexAll:
          default: false
          description: If true, reset progress and re-index all rows from the beginning.
          type: boolean
      required:
      - entityTypes
      type: object
    CreatedAtMsV3:
      description: Unix timestamp in milliseconds when the resource was created
      example: 1736360000123
      format: int64
      type:
      - integer
      - 'null'
    StartedAtMsV3:
      description: Unix timestamp in milliseconds when the operation started
      example: 1736360000123
      format: int64
      type:
      - integer
      - 'null'
    ErrorV3:
      description: An error response
      properties:
        error:
          $ref: '#/components/schemas/ApiErrorsV3'
      required:
      - error
      type: object
    CompletedAtMsV3:
      description: Unix timestamp in milliseconds when the operation completed. Null while still in flight.
      example: 1736360000456
      format: int64
      type:
      - integer
      - 'null'
    BackfillTaskStatusDataV3:
      description: Status of a single backfill job (CDC outbox row).
      properties:
        attempts:
          description: Number of execution attempts so far.
          format: int64
          type: integer
        completedAt:
          $ref: '#/components/schemas/CompletedAtMsV3'
        createdAt:
          $ref: '#/components/schemas/CreatedAtMsV3'
        jobId:
          description: Numeric identifier of the CDC job row.
          type: string
        jobType:
          description: Job type discriminator.
          type: string
        lastError:
          description: Last error message from the most recent failed attempt, if any.
          type: string
        status:
          description: Lifecycle status of the job.
          type: string
      required:
      - jobId
      - status
      - createdAt
      - jobType
      - attempts
      type: object
    BackfillTriggerDataV3:
      description: Response payload returned when a backfill is successfully triggered.
      properties:
        jobId:
          description: Numeric identifier of the CDC job row created for this backfill.
          type: integer
      required:
      - jobId
      type: object
    BackfillStateDataV3:
      description: Aggregated backfill state for an account across all entity types.
      properties:
        accountIdentifier:
          description: Account identifier the state belongs to.
          type: string
        entities:
          additionalProperties:
            $ref: '#/components/schemas/BackfillEntityStateV3'
          description: Map of entity type to its current backfill state.
          type: object
      required:
      - accountIdentifier
      - entities
      type: object
    ApiErrorsV3:
      properties:
        code:
          description: For some errors that could be handled programmatically, a short string indicating the [error code](https://docs.stripe.com/error-codes) reported.
          maxLength: 5000
          type: string
        message:
          description: A human-readable message providing more details about the error. These messages can be shown to users.
          maxLength: 40000
          type: string
        param:
          description: If the error is parameter-specific, the parameter related to the error. For example, we can use this to display a message near the correct form field.
          maxLength: 5000
          type: string
        type:
          description: The type of error returned.
          enum:
          - INVALID_REQUEST_ERROR
          - AUTHENTICATION_ERROR
          - PERMISSION_ERROR
          - API_ERROR
          type: string
      required:
      - type
      title: APIErrors
      type: object
    BackfillEntityStateV3:
      description: Per-entity backfill progress and ES document count for an account.
      properties:
        completedAt:
          $ref: '#/components/schemas/CompletedAtMsV3'
        documentsInES:
          description: Number of documents currently present in Elasticsearch for this entity type.
          format: int64
          type: integer
        lastProcessedID:
          description: Checkpoint cursor of the last successfully indexed row.
          type: string
        startedAt:
          $ref: '#/components/schemas/StartedAtMsV3'
        status:
          description: Current backfill status for this entity type.
          type: string
        totalProcessed:
          description: Total rows processed for this entity type so far.
          format: int64
          type: integer
      required:
      - status
      - lastProcessedID
      - totalProcessed
      - documentsInES
      - startedAt
      - completedAt
      type: object
  parameters:
    AccountIdentifierV3:
      description: 'Unique identifier for the Harness account.

        '
      in: query
      name: account_identifier
      required: true
      schema:
        type: string
  requestBodies:
    BackfillTriggerRequestV3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BackfillTriggerRequestInputV3'
      description: Request to trigger an ES search backfill for an account.
      required: true
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
