openapi: 3.2.0
info:
  title: Harness AutoStopping Fixed Schedules API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: AutoStopping Fixed Schedules
  description: This contains APIs to manage fixed schedules for the AutoStopping Rules.
paths:
  /gateway/lw/api/accounts/{account_id}/schedules:
    get:
      tags:
      - AutoStopping Fixed Schedules
      summary: Return all the AutoStopping Rule fixed schedules
      description: Retrieves all fixed schedules configured for an AutoStopping Rule. Fixed schedules define specific times when resources should be automatically started or stopped.
      operationId: listAutoStoppingSchedules
      parameters:
      - name: account_id
        description: Account Identifier for the Entity
        in: path
        required: true
        schema:
          type: string
        example: px7xpfWPYXVjvw
      - name: cloud_account_id
        description: Unique identifier of the cloud connector (AWS, Azure, or GCP) configured in CACM.
        in: query
        required: true
        schema:
          type: string
        example: lightwing_nonprod
      - name: accountIdentifier
        description: Account Identifier for authentication and authorization.
        in: query
        required: true
        schema:
          type: string
        example: abc12_DEFgh-ijkLMNOPqr
      - name: res_id
        description: Resource ID for which to fetch schedules.
        in: query
        required: true
        schema:
          type: string
        example: '12345'
      - name: res_type
        description: Type of resource to which schedules are attached.
        in: query
        required: true
        schema:
          type: string
          enum:
          - autostop_rule
        example: autostop_rule
      responses:
        '200':
          description: Successfully retrieved list of fixed schedules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedSchedulesListResponse'
        '400':
          description: Invalid
          content: {}
    post:
      tags:
      - AutoStopping Fixed Schedules
      summary: Create a fixed schedule for an AutoStopping Rule
      description: Creates a new fixed schedule for an AutoStopping Rule to automatically start or stop resources at specific times.
      operationId: createAutoStoppingSchedules
      parameters:
      - name: account_id
        description: Account Identifier for the Entity
        in: path
        required: true
        schema:
          type: string
        example: abc12_DEFgh-ijkLMNOPqr
      - name: cloud_account_id
        description: Unique identifier of the cloud connector (AWS, Azure, or GCP) configured in CACM.
        in: query
        required: true
        schema:
          type: string
        example: lightwing_nonprod
      - name: accountIdentifier
        description: Account Identifier for authentication and authorization.
        in: query
        required: true
        schema:
          type: string
        example: abc12_DEFgh-ijkLMNOPqr
      requestBody:
        description: Fixed schedule payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SaveStaticSchedulesRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedSchedule'
        '400':
          description: Invalid
          content: {}
      x-codegen-request-body-name: body
  /gateway/lw/api/accounts/{account_id}/schedules/{schedule_id}:
    delete:
      tags:
      - AutoStopping Fixed Schedules
      summary: Delete a fixed schedule for AutoStopping Rule
      description: Permanently deletes a fixed schedule from an AutoStopping Rule. The rule will no longer start or stop resources based on this schedule.
      operationId: deleteAutoStoppingSchedule
      parameters:
      - name: account_id
        description: Account Identifier for the Entity
        in: path
        required: true
        schema:
          type: string
        example: px7-pfWPYXVjvw
      - name: schedule_id
        description: Unique identifier of the fixed schedule to delete
        in: path
        required: true
        schema:
          type: number
        example: 123
      - name: accountIdentifier
        description: Account Identifier for authentication and authorization.
        in: query
        required: true
        schema:
          type: string
        example: pxCi-pfWPYXVjvw
      responses:
        '200':
          description: Fixed schedule deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
components:
  schemas:
    FixedSchedule:
      type: object
      properties:
        name:
          type: string
          description: Name of the schedule
        id:
          type: number
          description: ID of fixed schedule
          readOnly: true
        account:
          type: string
          description: ID of account
        description:
          type: string
          description: Description of fixed schedule
        resources:
          type: array
          description: List of resources to be controlled by the schedule
          items:
            $ref: '#/components/schemas/StaticScheduleResource'
        details:
          $ref: '#/components/schemas/OccurrenceSchedule'
    StaticScheduleResource:
      type: object
      properties:
        id:
          type: string
          description: ID of the resource to be controlled by schedule. For AutoStopping rule, this would be the ID of the rule
        type:
          type: string
          description: Type of the resource to be controlled
          enum:
          - autostop_rule
      description: Details of an independent resource that can be controlled by a schedule
    TimeInDay:
      type: object
      properties:
        hour:
          type: number
          description: Hour
        min:
          type: number
          description: Minutes
    OccurrenceSchedule:
      type: object
      properties:
        uptime:
          $ref: '#/components/schemas/TimeSchedule'
        downtime:
          $ref: '#/components/schemas/TimeSchedule'
        timezone:
          type: string
          description: Time zone in which the schedule should be applied
      description: Details of time schedule by which the resource should be controlled
    FixedSchedulesListResponse:
      type: object
      properties:
        response:
          type: array
          items:
            $ref: '#/components/schemas/FixedSchedule'
    SaveStaticSchedulesRequest:
      type: object
      properties:
        schedule:
          $ref: '#/components/schemas/FixedSchedule'
        id:
          type: number
    TimeSchedule:
      type: object
      properties:
        period:
          type: object
          properties:
            start:
              type: string
              description: Start time of the period
              example: '2021-10-19T08:35:00.927Z'
            end:
              type: string
              description: End time of the period
              example: '2021-10-19T08:37:58.927Z'
          description: For schedules that uses an exact time period
        days:
          type: object
          properties:
            days:
              type: array
              description: Days of week on which the schedule should be executed
              items:
                type: number
            all_day:
              type: boolean
              description: Equivalent to selecting all days
            start_time:
              $ref: '#/components/schemas/TimeInDay'
            end_time:
              $ref: '#/components/schemas/TimeInDay'
          description: For specifying a recurring schedule in terms of week days
      description: Specifies the occurrence schedule. Occurrence schedule can either be specified as period or as days
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
