openapi: 3.2.0
info:
  title: Harness Pipeline Step API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- description: This contains APIs for Pipeline Plugin Inputs
  name: Pipeline Step
  x-displayName: Pipeline Step
paths:
  /v1/dbops/custom-operations:
    post:
      description: Get custom operations result for db step execution
      operationId: GetV1CustomOperations
      parameters:
      - $ref: '#/components/parameters/DbOpsAccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/CustomOperationRequest'
      responses:
        '200':
          $ref: '#/components/responses/CustomOperationResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: CustomOperations
      tags:
      - Pipeline Step
      x-internal: true
      x-stoplight:
        id: g6ot57l3510l2
  /v1/dbops/failure-interrupt:
    post:
      description: Consume Failure interrupt
      operationId: ConsumeFailureInterrupt
      parameters:
      - $ref: '#/components/parameters/DbOpsAccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/FailureInterruptRequest'
      responses:
        '204':
          description: The interrupt was acknowledged
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Consume Failure Interrupt
      tags:
      - Pipeline Step
      x-internal: true
      x-stoplight:
        id: g9ot3sb27d74y
  /v1/dbops/flyway/custom-operations:
    post:
      description: Get custom operations result for db step execution
      operationId: GetV1FlywayCustomOperations
      parameters:
      - $ref: '#/components/parameters/DbOpsAccountHeader'
      - $ref: '#/components/parameters/ParentId'
      requestBody:
        $ref: '#/components/requestBodies/FlywayCustomOperationRequest'
      responses:
        '200':
          $ref: '#/components/responses/FlywayCustomOperationResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: FlywayCustomOperations
      tags:
      - Pipeline Step
      x-internal: true
      x-stoplight:
        id: 1dt4cngjnbthx
  /v1/dbops/flyway/failure-interrupt:
    post:
      description: Consume Flyway Failure interrupt
      operationId: ConsumeFlywayFailureInterrupt
      parameters:
      - $ref: '#/components/parameters/DbOpsAccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/FlywayFailureInterruptRequest'
      responses:
        '204':
          description: The interrupt was acknowledged
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Consume Flyway Failure Interrupt
      tags:
      - Pipeline Step
      x-internal: true
      x-stoplight:
        id: yk3aosa85az75
  /v1/dbops/flyway/plugin-output-response:
    post:
      operationId: ConsumeV1FlywayStepPluginOutputResponse
      parameters:
      - $ref: '#/components/parameters/DbOpsAccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ConsumeFlywayPluginOutputRespRequest'
      responses:
        '204':
          description: The plugin execution response was acknowledged
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Consume Flyway Plugin Output Response
      tags:
      - Pipeline Step
      x-internal: true
      x-stoplight:
        id: 9e2rswa9o99j4
  /v1/dbops/plugin-capability:
    get:
      description: Check plugin capability for consolidated execution
      operationId: GetV1PluginCapability
      parameters:
      - $ref: '#/components/parameters/DbOpsAccountHeader'
      responses:
        '200':
          $ref: '#/components/responses/PluginCapabilityResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: GetPluginCapability
      tags:
      - Pipeline Step
      x-internal: true
  /v1/dbops/plugin-output-response:
    post:
      operationId: ConsumeV1StepPluginOutputResponse
      parameters:
      - $ref: '#/components/parameters/DbOpsAccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ConsumePluginOutputRespRequest'
      responses:
        '204':
          description: The plugin execution response was acknowledged
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Consume Plugin Output Response
      tags:
      - Pipeline Step
      x-internal: true
      x-stoplight:
        id: lxwgz5cmo4muu
  /v1/dbops/schema-instance-metadata:
    post:
      description: Get schema-instance metadata and images for db step execution
      operationId: GetV1SchemaInstanceMetadata
      parameters:
      - $ref: '#/components/parameters/DbOpsAccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/SchemaInstanceMetadataRequest'
      responses:
        '200':
          $ref: '#/components/responses/SchemaInstanceMetadataResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: GetSchemaInstanceMetadata
      tags:
      - Pipeline Step
      x-internal: true
      x-stoplight:
        id: 2z96q9wolvfw1
  /v1/orgs/{org}/projects/{project}/pipeline/{pipelineIdentifier}/status:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/PipelineIdentifier'
    - $ref: '#/components/parameters/DbOpsAccountHeader'
    get:
      description: Api to get the pipeline execution status
      operationId: V1GetPipelineExecutionStatus
      parameters:
      - $ref: '#/components/parameters/PipelineExecutionId'
      - $ref: '#/components/parameters/StageNodeId'
      responses:
        '200':
          $ref: '#/components/responses/PipelineStatusResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Get pipeline status
      tags:
      - Pipeline Step
      x-internal: false
      x-stoplight:
        id: u5neb2hw2so4o
  /v1/step/flyway/plugin-inputs:
    post:
      description: Create Flyway Plugin Inputs using Step Inputs
      operationId: CreateV1FlywayPluginInputs
      parameters:
      - $ref: '#/components/parameters/DbOpsAccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/FlywayPluginInputsRequest'
      responses:
        '200':
          $ref: '#/components/responses/FlywayPluginInputsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: CreateFlywayPluginInputs
      tags:
      - Pipeline Step
      x-internal: true
      x-stoplight:
        id: 93b2ajbsum9g0
  /v1/step/plugin-inputs:
    post:
      description: Create Plugin Inputs using Step Inputs
      operationId: CreateV1StepPluginInputs
      parameters:
      - $ref: '#/components/parameters/DbOpsAccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/PluginStepInputsRequest'
      responses:
        '200':
          $ref: '#/components/responses/PluginInputsResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: CreatePluginInputs
      tags:
      - Pipeline Step
      x-internal: true
  /v1/step/plugin-response:
    post:
      description: Consume Plugin Execution Response
      operationId: ConsumeV1StepPluginResponse
      parameters:
      - $ref: '#/components/parameters/DbOpsAccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/ConsumePluginRespRequest'
      responses:
        '204':
          description: The plugin execution response was acknowledged
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: ConsumePluginResponse
      tags:
      - Pipeline Step
      x-internal: true
components:
  schemas:
    FlywayCustomOperations:
      description: Enum for custom operations supported
      enum:
      - EarlierRunInStage
      - PreStartTag
      title: FlywayCustomOperations
      type: string
      x-stoplight:
        id: kyl78ql49db0x
    SchemaInstanceMetadataInput:
      description: Input for getting schema-instance metadata
      properties:
        dbInstance:
          type: string
          x-stoplight:
            id: 71zvtnqo1i9p7
        dbSchema:
          type: string
          x-stoplight:
            id: 58poqah29d3tq
        org:
          type: string
          x-stoplight:
            id: d6jpmjxz5epw1
        project:
          type: string
          x-stoplight:
            id: edvf3j0f87khx
      required:
      - dbSchema
      - dbInstance
      - org
      - project
      title: SchemaInstanceMetadataInput
      type: object
      x-stoplight:
        id: l3zdbihh7akfq
    DbOpsError:
      description: Error Response
      properties:
        message:
          description: error message detail
          type: string
      required:
      - message
      title: Error Response
      type: object
      x-stoplight:
        id: 61cwtgnps2mpt
    Command:
      description: Type of the plugin command to run
      enum:
      - Update
      - Validate
      - History
      - Tag
      - Rollback
      - RollbackCount
      - RollbackCountSQL
      - UpdateSQL
      - Clone
      - Custom
      - ParentWrapper
      - RollbackSQL
      - Status
      - MarkNextChangesetRan
      - DBOPSUpdateSQL
      - DBOPSRollbackSQL
      - DBOPSRollbackCountSQL
      - DBOPSSnapshot
      minLength: 1
      title: Command
      type: string
      x-internal: true
      x-stoplight:
        id: uwecpn48zn9y9
    FlywayCustomOperationOutput:
      description: Output for custom property result
      properties:
        earlierRunInStage:
          type: boolean
          x-stoplight:
            id: sdlhp6wzh9zt2
        preStartTag:
          type: string
          x-stoplight:
            id: tzioqm98udkdd
      title: FlywayCustomOperationOutput
      type: object
      x-stoplight:
        id: il5xxivg8i5cc
    PipelineStatusOutput:
      description: Response body for Pipeline execution status
      properties:
        metadata:
          additionalProperties:
            type: string
            x-stoplight:
              id: 2i73nst31myn0
          description: meta data of the api
          type: object
          x-stoplight:
            id: cxoes7axeir9k
        response:
          description: response message for the pipeline stage api
          type: string
          x-stoplight:
            id: 494611cyszcwg
        status:
          description: status of the pipeline
          type: string
          x-stoplight:
            id: 6bbkskvv8gjmj
      required:
      - status
      - response
      - metadata
      title: PipelineStatusOutput
      type: object
      x-stoplight:
        id: e0nqtodc72o27
    ChangeLogScript:
      additionalProperties: false
      description: if schemaType is Script location of the changelog file after using a custom script to download
      properties:
        command:
          description: command script used to download the changelog file
          example: curl -X -o changeLog.yaml https://www.filestore.com/changeLog.yaml
          minLength: 1
          type: string
          x-stoplight:
            id: rdani02niu442
        image:
          description: The fully-qualified name (FQN) of the image
          example: plugins/image:latest
          minLength: 1
          type: string
          x-stoplight:
            id: ojq7cfe1up903
        location:
          description: location of the changelog file
          example: folder/changelog.yaml
          type: string
          x-stoplight:
            id: 8qehjmy01r5iw
        shell:
          description: shell type
          example: Sh, Bash, <+pipeline.variables.shell>
          type: string
        toml:
          description: config file for Flyway migration type
          type: string
          x-stoplight:
            id: nphvi8wa0cmuw
      required:
      - image
      - command
      - shell
      - location
      title: changeLog script
      type: object
      x-stoplight:
        id: j6ug0asalsuve
    Changelog:
      additionalProperties: false
      description: 'if schemaType is Repository location of the changelog file containing schema changes in a git repository.

        Provide connector for third-party git connectors, or repo without connector to use Harness Code Repository.

        '
      properties:
        archivePath:
          description: path excluding the repo till the archive file
          minLength: 1
          type: string
          x-stoplight:
            id: 53mqhpfa5038m
        connector:
          description: 'identifier of the harness git connector. Optional when using Harness Code Repository. Omit or set to empty string to use Harness Code Repository (requires `repo` to be set).

            '
          example: harness_git
          type: string
          x-go-type-skip-optional-pointer: true
        location:
          description: path to the change log file
          example: folder/changelog.yaml
          minLength: 1
          type: string
        repo:
          description: repo name of the git based connector when ConnectionType is Account
          example: folder/changelog.yaml
          minLength: 1
          type: string
          x-stoplight:
            id: pw3ul0rkm8xt6
        toml:
          description: config file for Flyway migration type
          type: string
          x-stoplight:
            id: ojrzuagzdfn20
      required:
      - location
      type: object
      x-stoplight:
        id: rytv7gaa34yns
    DBSchemaType:
      description: db schema type
      enum:
      - Repository
      - Script
      title: DBSchemaType
      type: string
      x-stoplight:
        id: 8x2xf0r3syqjg
    CommandExecutionStatus:
      enum:
      - IN_PROGRESS
      - SUCCESS
      - FAILURE
      - CANCELLED
      title: CommandExecutionStatus
      type: string
      x-stoplight:
        id: uo7v8vnfcdljb
    PipelineExecutionMetadata:
      description: Pipeline execution details
      properties:
        pipeline:
          type: string
          x-stoplight:
            id: m0brmgpaary62
        planExecutionId:
          type: string
          x-stoplight:
            id: g9v8rf388hk5i
        stageExecutionId:
          type: string
          x-stoplight:
            id: apfaqclu5g6cd
      required:
      - pipeline
      - planExecutionId
      - stageExecutionId
      title: PipelineExecutionMetadata
      type: object
      x-stoplight:
        id: kseu1nigtorbn
    PluginCapabilityOutput:
      description: Plugin capability check result
      properties:
        supportsConsolidated:
          default: false
          description: Whether all plugin images support consolidated execution
          type: boolean
      required:
      - supportsConsolidated
      title: PluginCapabilityOutput
      type: object
    CustomOperations:
      description: Enum for custom operations supported
      enum:
      - EarlierRunInStage
      - SuccessfulChangeSetDeploymentInStage
      - DeployedChangeSets
      - PreStartTag
      title: CustomOperations
      type: string
      x-stoplight:
        id: rxtpi7iwl5prt
    DBSchemaOut:
      description: Database Schema Response
      properties:
        changeLogScript:
          $ref: '#/components/schemas/ChangeLogScript'
        changelog:
          $ref: '#/components/schemas/Changelog'
        created:
          description: epoch seconds when the database schema was created
          format: int64
          type: integer
        identifier:
          description: identifier of the database schema
          type: string
        instanceCount:
          description: number of database instances corresponding to database schema
          format: int64
          type: integer
        migrationType:
          $ref: '#/components/schemas/MigrationType'
        name:
          description: name of the database schema
          type: string
        parentId:
          description: parentUniqueId for scope schema belongs to
          type: string
          x-stoplight:
            id: ly84xx0ojw0dw
        primaryDbInstanceId:
          description: Identifier for the primary dbInstance used for advanced feature like LLM Authoring etc.
          type: string
          x-stoplight:
            id: 2q5akpayctizx
        schemaSourceType:
          enum:
          - Git
          - Artifactory
          - Custom
          - HarnessCode
          readOnly: true
          type: string
          x-stoplight:
            id: 802m1r25ghm6l
        service:
          description: harness service corresponding to database schema
          type: string
        tags:
          additionalProperties:
            type: string
          description: tags attached to the database schema
          type: object
          x-go-type-skip-optional-pointer: true
        type:
          $ref: '#/components/schemas/DBSchemaType'
        updated:
          description: epoch seconds when the database schema was last updated
          format: int64
          type: integer
        usePercona:
          default: false
          description: if percona-toolkit is enabled
          type: boolean
          x-stoplight:
            id: dnfipv17ffs3v
      required:
      - identifier
      - name
      - created
      - instanceCount
      - type
      - parentId
      - migrationType
      - usePercona
      title: Database Schema Response
      type: object
      x-stoplight:
        id: 1y01syuq8w851
    FlywayCustomOperationInput:
      description: Input for getting custom property result
      properties:
        command:
          $ref: '#/components/schemas/FlywayCommand'
        dbInstance:
          type: string
          x-stoplight:
            id: htyzr23a7bos6
        dbSchema:
          type: string
          x-stoplight:
            id: c1g3qoxoxyige
        pipelineExecutionMetadata:
          $ref: '#/components/schemas/PipelineExecutionMetadata'
        properties:
          items:
            $ref: '#/components/schemas/FlywayCustomOperations'
          type: array
          x-stoplight:
            id: x3uvkvc2un2nh
      required:
      - dbSchema
      - dbInstance
      - command
      - pipelineExecutionMetadata
      - properties
      title: FlywayCustomOperationInput
      type: object
      x-stoplight:
        id: 1zjawi13zsagb
    MigrationType:
      default: Liquibase
      description: DB Migration tool type
      enum:
      - Liquibase
      - Flyway
      title: MigrationType
      type: string
      x-stoplight:
        id: jxued8v34v6x0
    FlywayCommand:
      description: Type of the plugin command to run
      enum:
      - Migrate
      - MigrateSQL
      - Undo
      - UndoSQL
      - Info
      - ParentWrapper
      - Clone
      - Custom
      - Repair
      minLength: 1
      title: Command
      type: string
      x-internal: true
      x-stoplight:
        id: c3cn8rwxrl2bb
    DeployedChangeSets:
      properties:
        changeSetFQN:
          type: string
          x-stoplight:
            id: f4kzaer1jlada
      required:
      - changeSetFQN
      title: DeployedChangeSets
      type: object
      x-stoplight:
        id: 2xl1xyvguonyv
    DBInstanceOut:
      description: Database Instance Response
      properties:
        branch:
          description: branch where the instance is stored
          type: string
        commitSha:
          description: commit SHA to pin the changelog to a specific revision
          type: string
        connector:
          description: DB Connector
          type: string
        context:
          description: Liquibase context
          type: string
        created:
          description: epoch seconds when the database instance was created
          format: int64
          type: integer
        gitTag:
          description: Git tag to pin the changelog to a specific tagged revision
          type: string
        identifier:
          description: identifier of the database instance
          type: string
        lastAppliedTag:
          description: Most recent tag applied to the database
          type: string
        lastDeployedChangeSetTag:
          description: Tag on last deployed changeSet
          type: string
          x-stoplight:
            id: dlbvh5adtk2de
        name:
          description: name of the database instance
          type: string
        schemaId:
          type: string
          x-stoplight:
            id: 2n2zy2gxgmycn
        schemaIdentifier:
          type: string
          x-stoplight:
            id: delov0umr51kp
        substituteProperties:
          additionalProperties:
            type: string
            x-stoplight:
              id: lhgrpfvhx5bfk
          description: Placeholder replacement in migration scripts.
          type: object
          x-stoplight:
            id: npmul0cgghe3c
        tags:
          additionalProperties:
            type: string
          description: tags attached to the database instance
          type: object
          x-go-type-skip-optional-pointer: true
        toOnboard:
          type: boolean
          x-stoplight:
            id: y8hnyznezal4i
        updated:
          description: epoch seconds when the database instance was last updated
          format: int64
          type: integer
      required:
      - identifier
      - name
      - created
      - connector
      - lastDeployedChangeSetTag
      title: Database Instance Response
      type: object
      x-stoplight:
        id: qcmn5nllz3a1z
    CustomOperationInput:
      description: Input for getting custom property result
      properties:
        command:
          $ref: '#/components/schemas/Command'
        dbInstance:
          type: string
          x-stoplight:
            id: kqeua3w1kdlfb
        dbSchema:
          type: string
          x-stoplight:
            id: lcimin2oa929r
        org:
          type: string
          x-stoplight:
            id: na9nsv9snx24b
        pipelineExecutionMetadata:
          $ref: '#/components/schemas/PipelineExecutionMetadata'
        project:
          type: string
          x-stoplight:
            id: m6o69du0xzei0
        properties:
          items:
            $ref: '#/components/schemas/CustomOperations'
          minItems: 1
          type: array
          x-stoplight:
            id: hfd78pm1cishd
      required:
      - dbSchema
      - dbInstance
      - command
      - pipelineExecutionMetadata
      - org
      - project
      - properties
      title: CustomPropertyInput
      type: object
      x-stoplight:
        id: goeuvpu54rfol
    CustomOperationOutput:
      description: Output for custom property result
      properties:
        deployedChangeSets:
          items:
            $ref: '#/components/schemas/DeployedChangeSets'
          type: array
          x-stoplight:
            id: 6qgl9qxptpk3t
        earlierRunInStage:
          type: boolean
          x-stoplight:
            id: ti08qiylsdd07
        preStartTag:
          type: string
          x-stoplight:
            id: c169v8xj064pk
        successfulChangeSetDeploymentInStage:
          type: boolean
          x-stoplight:
            id: bzamvvnvbijyo
      title: CustomPropertyOutput
      type: object
      x-stoplight:
        id: q374motg2h5ws
    SchemaInstanceMetadataOutput:
      description: 'output of schema-instance metadata '
      properties:
        dbImages:
          type: object
          x-stoplight:
            id: prp7tzdbfqod7
        dbInstance:
          $ref: '#/components/schemas/DBInstanceOut'
        dbSchema:
          $ref: '#/components/schemas/DBSchemaOut'
        defaultConfigs:
          additionalProperties:
            type: string
            x-stoplight:
              id: dyfm1p5xnen3h
          type: object
          x-stoplight:
            id: kcc25crqizy3m
        downloadImages:
          type: object
          x-stoplight:
            id: 72rtyf1kqsuo2
        image:
          type: string
          x-stoplight:
            id: ko9cub3l40axh
      required:
      - dbSchema
      - dbInstance
      - image
      - dbImages
      - downloadImages
      - defaultConfigs
      title: SchemaInstanceMetadataOutput
      type: object
      x-stoplight:
        id: rnlwlr8fwopid
  responses:
    SchemaInstanceMetadataResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SchemaInstanceMetadataOutput'
      description: Get schema-instance metadata and images for step execution response
    PluginInputsResponse:
      content:
        application/json:
          examples:
            Example 1:
              value:
                dbImages:
                  Image: plugins/drone-liquibase:latest
                  MongoImage: plugins/drone-liquibase-mongo:latest
                downloadImages:
                  artifactoryDownload: plugins/artifactory-download:latest
                  gitClone: harness/drone-git:1.5.6-rootless
                image: plugins/drone-liquibase:latest
                settings:
                  property1: string
                  property2: string
          schema:
            properties:
              dbImages:
                type: object
              defaultConfigs:
                additionalProperties:
                  type: string
                type: object
              downloadImages:
                type: object
              image:
                type: string
              instance:
                $ref: '#/components/schemas/DBInstanceOut'
              propertiesResult:
                additionalProperties:
                  type: string
                  x-stoplight:
                    id: u4r7r5h1vr7wg
                type: object
                x-stoplight:
                  id: fyjz8vfzb4jcs
              schema:
                $ref: '#/components/schemas/DBSchemaOut'
              settings:
                additionalProperties:
                  type: string
                type: object
            type: object
      description: Plugin Inputs Create Response
    ErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DbOpsError'
      description: Error Response body
    FlywayPluginInputsResponse:
      content:
        application/json:
          examples:
            Example 1:
              value:
                dbImages:
                  Image: plugins/drone-liquibase:latest
                  MongoImage: plugins/drone-liquibase-mongo:latest
                downloadImages:
                  artifactoryDownload: plugins/artifactory-download:latest
                  gitClone: harness/drone-git:1.5.6-rootless
                image: plugins/drone-liquibase:latest
                settings:
                  property1: string
                  property2: string
          schema:
            properties:
              dbImages:
                description: DB engine images by type/version.
                type: object
              defaultConfigs:
                additionalProperties:
                  type: string
                description: Built-in default config key-values
                type: object
              downloadImages:
                description: Optional auxiliary images to pull
                type: object
              instance:
                $ref: '#/components/schemas/DBInstanceOut'
              schema:
                $ref: '#/components/schemas/DBSchemaOut'
              settings:
                additionalProperties:
                  type: string
                description: Computed plugin step settings/env
                type: object
            type: object
      description: Flyway plugin Inputs Create Response
    CustomOperationResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomOperationOutput'
      description: Response for custom property result
    PipelineStatusResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PipelineStatusOutput'
      description: Response body for Pipeline execution status
    PluginCapabilityResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PluginCapabilityOutput'
      description: Plugin capability check response
    FlywayCustomOperationResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FlywayCustomOperationOutput'
      description: Response for custom property result
  requestBodies:
    FailureInterruptRequest:
      content:
        application/json:
          examples:
            Example 1:
              value:
                command: update
                harnessCommand: Update
                instanceIdentifier: instance1
                interruptType: Abort
                orgId: myOrg
                pipelineExecutionId: exec1
                pipelineIdentifier: pip1
                projectId: myProject
                schemaIdentifier: schema1
                stageExecutionId: stage1
          schema:
            properties:
              harnessCommand:
                $ref: '#/components/schemas/Command'
              instanceIdentifier:
                type: string
                x-stoplight:
                  id: dd9eskstc1qfo
              interruptType:
                type: string
                x-stoplight:
                  id: 6jcjf7pv5xkqh
              orgId:
                type: string
                x-stoplight:
                  id: q31sgv0yohdg2
              pipelineExecutionId:
                type: string
                x-stoplight:
                  id: ncsxeit18aman
              pipelineIdentifier:
                type: string
                x-stoplight:
                  id: kz819pteguv6h
              projectId:
                type: string
                x-stoplight:
                  id: gcxo9lb81t7j4
              schemaIdentifier:
                type: string
                x-stoplight:
                  id: zyf5fsgn5spry
              stageExecutionId:
                type: string
                x-stoplight:
                  id: 9s88c94tzs2ah
            required:
            - orgId
            - projectId
            - schemaIdentifier
            - instanceIdentifier
            - harnessCommand
            - pipelineIdentifier
            - pipelineExecutionId
            - stageExecutionId
            - interruptType
            type: object
      description: Request body for consuming failure interrupts
    ConsumePluginOutputRespRequest:
      content:
        application/json:
          examples:
            Example 1:
              value:
                command: update
                harnessCommand: Update
                instanceIdentifier: instance1
                orgId: myOrg
                pipelineExecutionId: exec1
                pipelineIdentifier: pip1
                projectId: myProject
                schemaIdentifier: schema1
                stageExecutionId: stage1
                stepResponse: base64-compressed
          schema:
            properties:
              command:
                type: string
                x-stoplight:
                  id: zprby0nmdhugg
              harnessCommand:
                $ref: '#/components/schemas/Command'
              instanceIdentifier:
                type: string
                x-stoplight:
                  id: e5hwdp3vd6g3k
              isFirstPage:
                default: false
                description: Indicates if this is the first page of paginated results
                type: boolean
                x-stoplight:
                  id: 9oeej3efrqvus
              isLastPage:
                default: false
                description: Indicates if this is the last page of paginated results
                type: boolean
                x-stoplight:
                  id: p8of55gus54f2
              orgId:
                type: string
                x-stoplight:
                  id: ysxm7l1k2ma1m
              pipelineExecutionId:
                type: string
                x-stoplight:
                  id: ol0rbt3gjzj7n
              pipelineIdentifier:
                type: string
                x-stoplight:
                  id: cfke77225v14t
              projectId:
                type: string
                x-stoplight:
                  id: tjhcrfjkcvjy8
              schemaIdentifier:
                type: string
                x-stoplight:
                  id: yj3aw0b0xu898
              stageExecutionId:
                type: string
                x-stoplight:
                  id: b084jsvql4007
              stepResponse:
                description: base-64 encoded compressed step response from plugin extension based on command
                type: string
                x-stoplight:
                  id: uex4gsfsb00uc
            required:
            - orgId
            - projectId
            - schemaIdentifier
            - instanceIdentifier
            - harnessCommand
            - pipelineIdentifier
            - pipelineExecutionId
            - stageExecutionId
            - stepResponse
            type: object
    CustomOperationRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomOperationInput'
      description: Request for getting custom operation result
    FlywayPluginInputsRequest:
      content:
        application/json:
          examples:
            Example 1:
              value:
                command: Migrate
                dbInstance: prod-1-instance
                dbSchema: myschema
                directory: myDir
                metadata:
                  pipeline: pip1
                  planExecutionId: planExec1
                  stageExecutionId: stageExec1
                parentId: parent_1
                pipelineExecutionMetadata:
                  pipeline: pip1
                  planExecutionId: planExec1
                  stageExecutionId: stageExec1
                tag: tag1
          schema:
            properties:
              command:
                $ref: '#/components/schemas/FlywayCommand'
              customCommand:
                description: when pluginCommand type is Custom, customCommand is considered which is any string provided by the user
                type: string
                x-stoplight:
                  id: jjz90v9xyk450
              dbInstance:
                description: db instance identifier
                example: myschema/prod-1-instance
                type: string
              dbSchema:
                description: dbSchema reference
                type: string
                x-stoplight:
                  id: saiftwb6u1v5i
              includeJwtAuth:
                default: false
                description: Controls whether to include JWT authentication token in the plugin settings. If true, a bearer token will be included.
                type: boolean
                x-stoplight:
                  id: j8k2m5n9p0q1r
              parentId:
                description: parent unique id for the scope
                type: string
                x-stoplight:
                  id: amppr2firkr3b
              pipelineExecutionMetadata:
                $ref: '#/components/schemas/PipelineExecutionMetadata'
              settings:
                additionalProperties:
                  type: string
                  x-stoplight:
                    id: zqkdd4n7n4nay
                description: Key value mapping of user input plugin settings
                type: object
                x-stoplight:
                  id: f7g438c5t4whg
              workingDirectory:
                description: The base directory Flyway uses to resolve relative paths for migrations
                type: string
                x-stoplight:
                  id: 9jvkfippjvwwf
            required:
            - dbInstance
            - command
            - dbSchema
            - parentId
            - pipelineExecutionMetadata
            type: object
      description: Flyway Inputs to create plugin inputs
      required: true
    PluginStepInputsRequest:
      content:
        application/json:
          examples:
            Example 1:
              value:
                command: Update
                dbInstance: prod-1-instance
                dbSchema: myschema
                directory: myDir
                metadata:
                  pipeline: pip1
                  planExecutionId: planExec1
                  stageExecutionId: stageExec1
                tag: tag1
          schema:
            properties:
              Org:
                description: Organization identifier
                type: string
              Project:
                description: Project identifier
                type: string
              command:
                $ref: '#/components/schemas/Command'
              customCommand:
                description: when pluginCommand type is Custom, customCommand is considered which is any string provided by the user
                type: string
                x-stoplight:
                  id: jjz90v9xyk450
              dbInstance:
                description: db instance identifier
                example: myschema/prod-1-instance
                type: string
              dbSchema:
                description: dbSchema reference
                type: string
                x-stoplight:
                  id: saiftwb6u1v5i
              directory:
                type: string
              excludeChangeLogFile:
                default: false
                description: if changeLogFile is required or not for LiquibaseCommand step. If true, then dbops-clone will not happen and changeLog is not passed in the settings.
                type: boolean
                x-stoplight:
                  id: z5xwt0vstng3h
              includeJwtAuth:
                default: false
                description: Controls whether to include JWT authentication token in the plugin settings. If true, a bearer token will be included.
                type: boolean
                x-stoplight:
                  id: j8k2m5n9p0q1r
              pipelineExecutionMetadata:
                $ref: '#/components/schemas/PipelineExecutionMetadata'
              properties:
                additionalProperties:
                  type: string
                  x-stoplight:
                    id: ana2k0b6a90wb
                description: key value pair for properties which help decide response
                type: object
                x-stoplight:
                  id: j7t40kp0dulaf
              settings:
                additionalProperties:
                  type: string
                  x-stoplight:
                    id: zqkdd4n7n4nay
                description: Key value mapping of user input plugin settings
                type: object
                x-stoplight:
                  id: f7g438c5t4whg
            required:
            - dbInstance
            - command
            - dbSchema
            type: object
      description: Inputs to create flyway plugin inputs
      required: true
    SchemaInstanceMetadataRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SchemaInstanceMetadataInput'
      description: Request for getting schema-instance metadata and image versions for step execution
    ConsumePluginRespRequest:
      content:
        application/json:
          examples:
            Example 1:
              value:
                command: Update
                data:
                  tag: '1.0'
                dbInstance: myinstance
                dbSchema: myschema
                logs: Starting Liquibase at...
                org: myorg
                pipeline: pip1
                planExecutionId: pipExec1
                project: myproject
                stageExecutionId: stageExec1
                status: IN_PROGRESS
          schema:
            properties:
              command:
                $ref: '#/components/schemas/Command'
              compressedStepOutput:
                description: compressed step output
                type: string
                x-stoplight:
                  id: a9cmmbokcnoe8
              data:
                description: Data associated with command execution
                type: object
                x-stoplight:
                  id: x106nmejwdkgl
              dbInstance:
                type: string
                x-stoplight:
                  id: 3ddzm85isheyg
              dbSchema:
                type: string
                x-stoplight:
                  id: 9dipu2aap5uz2
              logs:
                type: string
                x-stoplight:
                  id: 8lr1r6lycw0fj
              org:
                description: Organization identifier
                type: string
              parentStepType:
                type: string
                x-stoplight:
                  id: bwner6khhs78u
              pipeline:
                description: Identifier of the pipeline
                type: string
                x-stoplight:
                  id: 681af9f5ux915
              planExecutionId:
                description: ExecutionId of the pipeline executed
                type: string
                x-stoplight:
                  id: 1k0q9xpfkoug5
              project:
                description: Project identifier
                type: string
              stageExecutionId:
                description: ExecutionId of the stage executed
                type: string
                x-stoplight:
                  id: 3xilysg54w5bw
              status:
                $ref: '#/components/schemas/CommandExecutionStatus'
            required:
            - org
            - project
            - dbSchema
            - dbInstance
            - logs
            - status
            - data
            - command
            - pipeline
            - planExecutionId
            - stageExecutionId
            type: object
    FlywayCustomOperationRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FlywayCustomOperationInput'
      description: Request for getting custom operation result
    ConsumeFlywayPluginOutputRespRequest:
      content:
        application/json:
          examples:
            Example 1:
              value:
                command: update
                harnessCommand: Migrate
                instanceIdentifier: instance1
                lastChunk: false
                orgId: myOrg
                parentId: parentId
                pipelineExecutionId: exec1
                pipelineIdentifier: pip1
                projectId: myProject
                schemaIdentifier: schema1
                stageExecutionId: stage1
                stepResponse: base64-compressed
          schema:
            properties:
              command:
                type: string
                x-stoplight:
                  id: zprby0nmdhugg
              harnessCommand:
                $ref: '#/components/schemas/FlywayCommand'
              instanceIdentifier:
                type: string
                x-stoplight:
                  id: e5hwdp3vd6g3k
              lastChunk:
                description: if sync is paginated, whether this is the last chunk
                type: boolean
                x-stoplight:
                  id: wkk715cb96nc1
              parentId:
                type: string
                x-stoplight:
                  id: tjhcrfjkcvjy8
              pipelineExecutionId:
                type: string
                x-stoplight:
                  id: ol0rbt3gjzj7n
              pipelineIdentifier:
                type: string
                x-stoplight:
                  id: cfke77225v14t
              schemaIdentifier:
                type: string
                x-stoplight:
                  id: yj3aw0b0xu898
              stageExecutionId:
                type: string
                x-stoplight:
                  id: b084jsvql4007
              stepResponse:
                description: base-64 encoded compressed step response from plugin extension based on command
                type: string
                x-stoplight:
                  id: uex4gsfsb00uc
            required:
            - parentId
            - schemaIdentifier
            - instanceIdentifier
            - harnessCommand
            - pipelineIdentifier
            - pipelineExecutionId
            - stageExecutionId
            - stepResponse
            - lastChunk
            type: object
    FlywayFailureInterruptRequest:
      content:
        application/json:
          examples:
            Example 1:
              value:
                command: migrate
                harnessCommand: Migrate
                instanceIdentifier: instance1
                interruptType: Abort
                parentId: parentId1
                pipelineExecutionId: exec1
                schemaIdentifier: schema1
                stageExecutionId: stage1
          schema:
            properties:
              harnessCommand:
                $ref: '#/components/schemas/FlywayCommand'
              instanceIdentifier:
                type: string
                x-stoplight:
                  id: dd9eskstc1qfo
              interruptType:
                type: string
                x-stoplight:
                  id: 6jcjf7pv5xkqh
              parentId:
                type: string
                x-stoplight:
                  id: q31sgv0yohdg2
              pipelineExecutionId:
                type: string
                x-stoplight:
                  id: ncsxeit18aman
              schemaIdentifier:
                type: string
                x-stoplight:
                  id: zyf5fsgn5spry
              stageExecutionId:
                type: string
                x-stoplight:
                  id: 9s88c94tzs2ah
            required:
            - parentId
            - schemaIdentifier
            - instanceIdentifier
            - harnessCommand
            - pipelineExecutionId
            - stageExecutionId
            - interruptType
            type: object
      description: Request body for consuming failure interrupts
  parameters:
    OrgParam:
      description: Organization identifier
      in: path
      name: org
      required: true
      schema:
        type: string
    StageNodeId:
      description: Stage Node Id of the pipeline execution
      in: query
      name: stageNodeId
      schema:
        type: string
    PipelineIdentifier:
      description: Pipeline Identifier of the pipeline
      in: path
      name: pipelineIdentifier
      required: true
      schema:
        type: string
    PipelineExecutionId:
      description: plan execution Id of the pipeline execution
      in: query
      name: pipelineExecutionId
      required: true
      schema:
        type: string
    ProjectParam:
      description: Project identifier
      in: path
      name: project
      required: true
      schema:
        type: string
    ParentId:
      description: parent unique id for the scope
      in: query
      name: parent_id
      schema:
        type: string
    DbOpsAccountHeader:
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
      in: header
      name: Harness-Account
      schema:
        type: string
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
