openapi: 3.2.0
info:
  title: Harness Platform Organizations Pipelines API
  description: The Harness Platform API provides access to core platform resources including projects, organizations, connectors, secrets, users, roles, pipelines, triggers, and pipeline execution.
  version: '1.0'
  contact:
    name: Harness Developer Support
    url: https://developer.harness.io/
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
- url: https://app.harness.io/gateway
  description: Harness SaaS Production
security:
- apiKeyAuth: []
tags:
- name: Pipelines
  description: Manage pipelines
paths:
  /pipeline/api/pipelines:
    get:
      operationId: listPipelines
      summary: Harness List Pipelines
      description: List pipelines in a project.
      tags:
      - Pipelines
      parameters:
      - name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved pipelines.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineList'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PipelineList:
      type: object
      properties:
        status:
          type: string
        data:
          type: object
          properties:
            totalPages:
              type: integer
            totalItems:
              type: integer
            content:
              type: array
              items:
                $ref: '#/components/schemas/Pipeline'
    Pipeline:
      type: object
      description: A Harness pipeline.
      properties:
        identifier:
          type: string
          example: deploy_prod
        name:
          type: string
          example: Deploy to Production
        description:
          type: string
          example: Production deployment pipeline
        tags:
          type: object
          additionalProperties:
            type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Harness API key.
