openapi: 3.2.0
info:
  title: Harness Provider Registry API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: provider-registry
  description: The provider-registry service implements HashiCorp's Provider Registry Protocol for private Terraform providers
paths:
  /iacm/api/providers:
    get:
      tags:
      - provider-registry
      summary: List providers
      description: Lists all providers for an account
      operationId: provider-registry#list-providers
      parameters:
      - name: limit
        in: query
        description: Limit is the number of records to return for a page.
        allowEmptyValue: true
        schema:
          type: integer
          description: Limit is the number of records to return for a page.
          default: 30
          example: 30
          format: int64
          minimum: 1
          maximum: 1000
        example: 30
      - name: page
        in: query
        description: Page is the page number to return relative to the page 'limit'.
        allowEmptyValue: true
        schema:
          type: integer
          description: Page is the page number to return relative to the page 'limit'.
          default: 1
          example: 1
          format: int64
          minimum: 1
        example: 1
      - name: searchTerm
        in: query
        description: Filter results by partial name match
        allowEmptyValue: true
        schema:
          type: string
          description: Filter results by partial name match
          default: ''
          example: mymod
        example: mymod
      - name: sort
        in: query
        description: Sort order for results
        allowEmptyValue: true
        schema:
          type: string
          description: Sort order for results
          default: name,ASC
          example: name,DESC
          enum:
          - name,ASC
          - name,DESC
          - updated,ASC
          - updated,DESC
        example: updated,DESC
      - name: Harness-Account
        in: header
        description: Account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account name
          example: Rerum officiis.
        example: Veniam nesciunt omnis et facere officiis nemo.
      responses:
        '200':
          description: OK response.
          headers:
            x-page-size:
              description: Current page size
              schema:
                type: integer
                description: Current page size
                example: 50
                format: int64
              example: 50
            x-total-items:
              description: Total items available
              schema:
                type: integer
                description: Total items available
                example: 1800
                format: int64
              example: 1800
            x-total-pages:
              description: Total pages available
              schema:
                type: integer
                description: Total pages available
                example: 36
                format: int64
              example: 36
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCollection'
              example:
              - account: Iusto facilis voluptatem sint.
                created: 552833346723060300
                description: Blanditiis necessitatibus a impedit minus.
                domain_prefix: Voluptatum nisi est voluptas laborum.
                id: Non debitis vero.
                namespace: Perspiciatis ratione enim quam repellendus illo veritatis.
                type: Veniam et ipsum officia non vel architecto.
                updated: 187914490170087780
                versions:
                - files:
                  - Voluptatum veritatis dolore.
                  - Velit expedita.
                  - Dolores dicta maxime dicta.
                  synced: false
                  tier: Voluptas eius earum hic id sunt.
                  version: Rerum non.
                - files:
                  - Voluptatum veritatis dolore.
                  - Velit expedita.
                  - Dolores dicta maxime dicta.
                  synced: false
                  tier: Voluptas eius earum hic id sunt.
                  version: Rerum non.
                - files:
                  - Voluptatum veritatis dolore.
                  - Velit expedita.
                  - Dolores dicta maxime dicta.
                  synced: false
                  tier: Voluptas eius earum hic id sunt.
                  version: Rerum non.
                - files:
                  - Voluptatum veritatis dolore.
                  - Velit expedita.
                  - Dolores dicta maxime dicta.
                  synced: false
                  tier: Voluptas eius earum hic id sunt.
                  version: Rerum non.
              - account: Iusto facilis voluptatem sint.
                created: 552833346723060300
                description: Blanditiis necessitatibus a impedit minus.
                domain_prefix: Voluptatum nisi est voluptas laborum.
                id: Non debitis vero.
                namespace: Perspiciatis ratione enim quam repellendus illo veritatis.
                type: Veniam et ipsum officia non vel architecto.
                updated: 187914490170087780
                versions:
                - files:
                  - Voluptatum veritatis dolore.
                  - Velit expedita.
                  - Dolores dicta maxime dicta.
                  synced: false
                  tier: Voluptas eius earum hic id sunt.
                  version: Rerum non.
                - files:
                  - Voluptatum veritatis dolore.
                  - Velit expedita.
                  - Dolores dicta maxime dicta.
                  synced: false
                  tier: Voluptas eius earum hic id sunt.
                  version: Rerum non.
                - files:
                  - Voluptatum veritatis dolore.
                  - Velit expedita.
                  - Dolores dicta maxime dicta.
                  synced: false
                  tier: Voluptas eius earum hic id sunt.
                  version: Rerum non.
                - files:
                  - Voluptatum veritatis dolore.
                  - Velit expedita.
                  - Dolores dicta maxime dicta.
                  synced: false
                  tier: Voluptas eius earum hic id sunt.
                  version: Rerum non.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/providers/{id}:
    delete:
      tags:
      - provider-registry
      summary: Delete provider
      description: Deletes a provider
      operationId: provider-registry#delete-provider
      parameters:
      - name: id
        in: path
        description: Provider ID
        required: true
        schema:
          type: string
          description: Provider ID
          example: Ratione et possimus.
        example: Laudantium est culpa.
      - name: Harness-Account
        in: header
        description: Account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account name
          example: Molestias adipisci molestias exercitationem est exercitationem est.
        example: Vitae hic ut nostrum consequatur.
      responses:
        '200':
          description: OK response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    get:
      tags:
      - provider-registry
      summary: Get provider
      description: Gets a provider by ID
      operationId: provider-registry#get-provider
      parameters:
      - name: id
        in: path
        description: Provider ID
        required: true
        schema:
          type: string
          description: Provider ID
          example: Aut doloremque fugit distinctio cum qui aut.
        example: Dolor maiores nesciunt et sint.
      - name: Harness-Account
        in: header
        description: Account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account name
          example: Minima ea unde at id sapiente repudiandae.
        example: Explicabo non et itaque.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IaCMGetProviderResponse'
              example:
                account: Nemo suscipit nobis aut ab dolorem.
                created: 752767671595950600
                description: Et quibusdam sunt quae eveniet ullam.
                domain_prefix: Modi consequatur esse iusto aliquam perspiciatis.
                id: Consequatur autem eum ipsum.
                namespace: Maiores fugiat eum.
                type: Et sit.
                updated: 8611910115013558000
                versions:
                - files:
                  - Velit aspernatur in.
                  - Blanditiis fugiat vel.
                  - Veritatis deserunt.
                  - Deserunt expedita.
                  synced: false
                  tier: Blanditiis optio nobis explicabo sit possimus.
                  version: Eligendi reiciendis doloribus.
                - files:
                  - Velit aspernatur in.
                  - Blanditiis fugiat vel.
                  - Veritatis deserunt.
                  - Deserunt expedita.
                  synced: false
                  tier: Blanditiis optio nobis explicabo sit possimus.
                  version: Eligendi reiciendis doloribus.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/providers/{id}/lifecycle:
    delete:
      tags:
      - provider-registry
      summary: Delete provider lifecycle rule
      description: Delete the lifecycle rule and all overrides for a provider; all versions revert to supported
      operationId: provider-registry#delete-provider-lifecycle
      parameters:
      - name: id
        in: path
        description: Provider ID
        required: true
        schema:
          type: string
          description: Provider ID
          example: Odit voluptate corporis libero.
        example: Id non in.
      - name: Harness-Account
        in: header
        description: Account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account name
          example: Atque quae officia et accusantium ut voluptas.
        example: Quo illum.
      responses:
        '204':
          description: No Content response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    get:
      tags:
      - provider-registry
      summary: Get provider lifecycle rule
      description: Get the lifecycle rule for a provider
      operationId: provider-registry#get-provider-lifecycle
      parameters:
      - name: id
        in: path
        description: Provider ID
        required: true
        schema:
          type: string
          description: Provider ID
          example: Laboriosam et in rerum sed facilis.
        example: Minus beatae in qui.
      - name: Harness-Account
        in: header
        description: Account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account name
          example: Nesciunt voluptas qui corrupti.
        example: Rerum earum sed id voluptates.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProviderLifecycleResponse'
              example:
                deprecated_action: fail
                overrides:
                - reason: cwc
                  tier: supported
                  version: v2.1.0
                - reason: cwc
                  tier: supported
                  version: v2.1.0
                - reason: cwc
                  tier: supported
                  version: v2.1.0
                supported_action: warn
                supported_count: 3
                warning_action: no_action
                warning_count: 2
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    put:
      tags:
      - provider-registry
      summary: Upsert provider lifecycle rule
      description: Create or replace the lifecycle rule for a provider, atomically replacing all overrides
      operationId: provider-registry#put-provider-lifecycle
      parameters:
      - name: id
        in: path
        description: Provider ID
        required: true
        schema:
          type: string
          description: Provider ID
          example: Atque sint dolor qui.
        example: Et debitis dicta.
      - name: Harness-Account
        in: header
        description: Account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account name
          example: Vero esse quia error.
        example: Ullam ex.
      requestBody:
        description: Lifecycle rule with overrides
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderLifecycleRule'
            example:
              deprecated_action: warn
              overrides:
              - reason: m71
                tier: warning
                version: v2.1.0
              - reason: m71
                tier: warning
                version: v2.1.0
              - reason: m71
                tier: warning
                version: v2.1.0
              supported_action: fail
              supported_count: 3
              warning_action: fail
              warning_count: 2
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutProviderLifecycleResponse'
              example:
                deprecated_action: no_action
                overrides:
                - reason: cwc
                  tier: supported
                  version: v2.1.0
                - reason: cwc
                  tier: supported
                  version: v2.1.0
                - reason: cwc
                  tier: supported
                  version: v2.1.0
                supported_action: fail
                supported_count: 3
                warning_action: no_action
                warning_count: 2
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/providers/{id}/lifecycle/versions/{version}:
    get:
      tags:
      - provider-registry
      summary: Get provider version lifecycle status
      description: Compute the lifecycle tier and enforcement action for a specific provider version
      operationId: provider-registry#get-provider-lifecycle-version-status
      parameters:
      - name: id
        in: path
        description: Provider ID
        required: true
        schema:
          type: string
          description: Provider ID
          example: Vero voluptatum impedit aut vero excepturi sed.
        example: Amet voluptatem perspiciatis ut quod dignissimos qui.
      - name: version
        in: path
        description: Version to look up
        required: true
        schema:
          type: string
          description: Version to look up
          example: Vel ut mollitia.
        example: Fuga ea voluptatem nobis.
      - name: Harness-Account
        in: header
        description: Account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account name
          example: Itaque aliquid pariatur explicabo error.
        example: Ut porro fuga amet quos.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProviderLifecycleVersionStatusResponse'
              example:
                action: warn
                minimum_supported_version: Debitis magnam adipisci est et sunt excepturi.
                tier: deprecated
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/providers/{id}/version:
    post:
      tags:
      - provider-registry
      summary: Create provider version
      description: Create a provider version
      operationId: provider-registry#create-provider-version
      parameters:
      - name: id
        in: path
        description: Provider ID
        required: true
        schema:
          type: string
          description: Provider ID
          example: '1'
        example: '1'
      - name: Harness-Account
        in: header
        description: Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account ID
          example: harness
        example: harness
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProviderVersionRequestBody'
            example:
              gpg_key_id: '1234567890'
              protocol:
              - '4.0'
              version: 1.0.0
      responses:
        '201':
          description: Created response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/providers/{id}/version/{version}:
    delete:
      tags:
      - provider-registry
      summary: Delete provider version
      description: Delete a provider version
      operationId: provider-registry#delete-provider-version
      parameters:
      - name: id
        in: path
        description: Provider ID
        required: true
        schema:
          type: string
          description: Provider ID
          example: '1'
        example: '1'
      - name: version
        in: path
        description: Provider version
        required: true
        schema:
          type: string
          description: Provider version
          example: 1.0.0
        example: 1.0.0
      - name: Harness-Account
        in: header
        description: Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account ID
          example: harness
        example: harness
      responses:
        '200':
          description: OK response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    get:
      tags:
      - provider-registry
      summary: Get provider version
      description: Get a provider version
      operationId: provider-registry#get-provider-version
      parameters:
      - name: id
        in: path
        description: Provider ID
        required: true
        schema:
          type: string
          description: Provider ID
          example: '1'
        example: '1'
      - name: version
        in: path
        description: Provider version
        required: true
        schema:
          type: string
          description: Provider version
          example: 1.0.0
        example: 1.0.0
      - name: Harness-Account
        in: header
        description: Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account ID
          example: harness
        example: harness
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProviderVersionResponseBody'
              example:
                gpg_key_id: '1234567890'
                id: '1'
                protocols:
                - '4.0'
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    put:
      tags:
      - provider-registry
      summary: Update provider version
      description: Update a provider version
      operationId: provider-registry#update-provider-version
      parameters:
      - name: id
        in: path
        description: Provider ID
        required: true
        schema:
          type: string
          description: Provider ID
          example: '1'
        example: '1'
      - name: version
        in: path
        description: Provider version
        required: true
        schema:
          type: string
          description: Provider version
          example: 1.0.0
        example: 1.0.0
      - name: Harness-Account
        in: header
        description: Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account ID
          example: harness
        example: harness
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProviderVersionRequestBody'
            example:
              gpg_key_id: '1234567890'
              protocol:
              - '4.0'
      responses:
        '200':
          description: OK response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/providers/{id}/version/{version}/file/{filename}:
    delete:
      tags:
      - provider-registry
      summary: Delete file from a non synced provider version
      description: Delete a file from a non synced provider version
      operationId: provider-registry#delete-file
      parameters:
      - name: id
        in: path
        description: Provider ID
        required: true
        schema:
          type: string
          description: Provider ID
          example: '1'
        example: '1'
      - name: version
        in: path
        description: Provider version
        required: true
        schema:
          type: string
          description: Provider version
          example: 1.0.0
        example: 1.0.0
      - name: filename
        in: path
        description: File name
        required: true
        schema:
          type: string
          description: File name
          example: file.txt
        example: file.txt
      - name: Harness-Account
        in: header
        description: Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account ID
          example: harness
        example: harness
      responses:
        '204':
          description: No Content response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/providers/{id}/version/{version}/files:
    post:
      tags:
      - provider-registry
      summary: Upload files
      description: Upload files to the provider registry
      operationId: provider-registry#post-files
      parameters:
      - name: id
        in: path
        description: Provider ID
        required: true
        schema:
          type: string
          description: Provider ID
          example: terraform
        example: terraform
      - name: version
        in: path
        description: Provider version
        required: true
        schema:
          type: string
          description: Provider version
          example: 1.0.0
        example: 1.0.0
      - name: Harness-Account
        in: header
        description: Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account ID
          example: harness
        example: harness
      - name: Content-Disposition
        in: header
        description: Content-Disposition header
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Content-Disposition header
          example: Itaque voluptatem non voluptatem nesciunt qui iste.
        example: Ex maxime nihil dolorem.
      responses:
        '201':
          description: Created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostFilesResponseBody'
              example:
                synced: true
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/providers/{id}/version/{version}/publish:
    post:
      tags:
      - provider-registry
      summary: Publish a provider version
      operationId: provider-registry#publish-provider-version
      parameters:
      - name: id
        in: path
        description: Provider ID
        required: true
        schema:
          type: string
          description: Provider ID
          example: '1'
        example: '1'
      - name: version
        in: path
        description: Provider version
        required: true
        schema:
          type: string
          description: Provider version
          example: 1.0.0
        example: 1.0.0
      - name: Harness-Account
        in: header
        description: Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account ID
          example: harness
        example: harness
      responses:
        '200':
          description: OK response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/providers/{type}:
    post:
      tags:
      - provider-registry
      summary: Create provider
      description: Create a provider
      operationId: provider-registry#create-provider
      parameters:
      - name: type
        in: path
        description: Provider type
        required: true
        schema:
          type: string
          description: Provider type
          example: terraform
        example: terraform
      - name: Harness-Account
        in: header
        description: Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account ID
          example: harness
        example: harness
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProviderRequestBody'
            example:
              description: Terraform provider
      responses:
        '201':
          description: Created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProviderResponseBody'
              example:
                id: '1'
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/providers/get-provider-domain:
    get:
      tags:
      - provider-registry
      summary: Get the provider domain
      operationId: provider-registry#get-provider-domain
      parameters:
      - name: Harness-Account
        in: header
        description: Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account ID
          example: harness
        example: harness
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProviderDomainResponseBody'
              example:
                domain: Aliquam velit saepe ratione veniam.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/providers/keys:
    get:
      tags:
      - provider-registry
      summary: List signing keys
      description: List all GPG signing keys for an account
      operationId: provider-registry#list-signing-keys
      parameters:
      - name: limit
        in: query
        description: Limit is the number of records to return for a page.
        allowEmptyValue: true
        schema:
          type: integer
          description: Limit is the number of records to return for a page.
          default: 30
          example: 30
          format: int64
          minimum: 1
          maximum: 1000
        example: 30
      - name: page
        in: query
        description: Page is the page number to return relative to the page 'limit'.
        allowEmptyValue: true
        schema:
          type: integer
          description: Page is the page number to return relative to the page 'limit'.
          default: 1
          example: 1
          format: int64
          minimum: 1
        example: 1
      - name: searchTerm
        in: query
        description: Filter results by partial name match
        allowEmptyValue: true
        schema:
          type: string
          description: Filter results by partial name match
          default: ''
          example: mymod
        example: mymod
      - name: sort
        in: query
        description: Sort order for results
        allowEmptyValue: true
        schema:
          type: string
          description: Sort order for results
          default: name,ASC
          example: name,ASC
          enum:
          - name,ASC
          - name,DESC
          - updated,ASC
          - updated,DESC
        example: name,DESC
      - name: Harness-Account
        in: header
        description: Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account ID
          example: harness
        example: harness
      responses:
        '200':
          description: OK response.
          headers:
            x-page-size:
              description: Current page size
              schema:
                type: integer
                description: Current page size
                example: 50
                format: int64
              example: 50
            x-total-items:
              description: Total items available
              schema:
                type: integer
                description: Total items available
                example: 1800
                format: int64
              example: 1800
            x-total-pages:
              description: Total pages available
              schema:
                type: integer
                description: Total pages available
                example: 36
                format: int64
              example: 36
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningKeyCollection'
              example:
              - ascii_armor: Recusandae dicta assumenda ratione voluptatem nobis numquam.
                created_at: Molestiae perspiciatis.
                id: Et et ea deserunt sit reprehenderit.
                key_id: Eligendi asperiores et et.
                key_name: Iste voluptatibus.
                updated_at: Est officiis.
                user: Rerum repellendus sint nihil.
              - ascii_armor: Recusandae dicta assumenda ratione voluptatem nobis numquam.
                created_at: Molestiae perspiciatis.
                id: Et et ea deserunt sit reprehenderit.
                key_id: Eligendi asperiores et et.
                key_name: Iste voluptatibus.
                updated_at: Est officiis.
                user: Rerum repellendus sint nihil.
              - ascii_armor: Recusandae dicta assumenda ratione voluptatem nobis numquam.
                created_at: Molestiae perspiciatis.
                id: Et et ea deserunt sit reprehenderit.
                key_id: Eligendi asperiores et et.
                key_name: Iste voluptatibus.
                updated_at: Est officiis.
                user: Rerum repellendus sint nihil.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    post:
      tags:
      - provider-registry
      summary: Upload signing key
      description: Upload a GPG signing key for an account
      operationId: provider-registry#upload-signing-key
      parameters:
      - name: Harness-Account
        in: header
        description: Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account ID
          example: harness
        example: harness
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadSigningKeyRequest'
            example:
              ascii_armor: Quia accusamus corrupti nulla quibusdam facilis in.
              key_id: ABCD1234
              key_name: harness
              user: Non placeat error repellendus nisi iste.
      responses:
        '201':
          description: Created response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/providers/keys/{id}:
    delete:
      tags:
      - provider-registry
      summary: Delete a signing key for a provider
      operationId: provider-registry#delete-signing-key
      parameters:
      - name: id
        in: path
        description: id of the key in the db
        required: true
        schema:
          type: string
          description: id of the key in the db
          example: '1'
        example: '1'
      - name: Harness-Account
        in: header
        description: Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account ID
          example: harness
        example: harness
      responses:
        '204':
          description: No Content response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    put:
      tags:
      - provider-registry
      summary: Update a signing key for a provider
      operationId: provider-registry#update-signing-key
      parameters:
      - name: id
        in: path
        description: id of the key in the db
        required: true
        schema:
          type: string
          description: id of the key in the db
          example: '1'
        example: '1'
      - name: Harness-Account
        in: header
        description: Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account ID
          example: harness
        example: harness
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadSigningKeyRequest'
            example:
              ascii_armor: Quaerat magni velit et ut a.
              key_id: ABCD1234
              key_name: harness
              user: foo
      responses:
        '200':
          description: OK response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/providers/lifecycle/batch-check:
    post:
      tags:
      - provider-registry
      summary: Batch check provider lifecycle status
      description: Batch-check lifecycle status for a list of providers resolved during terraform init; only violations are returned
      operationId: provider-registry#batch-check-provider-lifecycle
      parameters:
      - name: Harness-Account
        in: header
        description: Harness account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness account ID
          example: Qui aperiam aut doloremque.
        example: Consequuntur et id dicta minus hic ut.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCheckProviderLifecycleRequest'
            example:
              items:
              - namespace: mne
                type: lc1
                version: otv
              - namespace: mne
                type: lc1
                version: otv
              - namespace: mne
                type: lc1
                version: otv
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCheckProviderLifecycleResponse'
              example:
                results:
                - action: warn
                  minimum_supported_version: Qui quia quam voluptas aspernatur vero.
                  namespace: Atque nobis ipsam numquam quibusdam earum fugit.
                  tier: warning
                  type: Perferendis quia voluptatum sit molestias.
                  version: Sunt a nam rerum impedit ullam.
                - action: warn
                  minimum_supported_version: Qui quia quam voluptas aspernatur vero.
                  namespace: Atque nobis ipsam numquam quibusdam earum fugit.
                  tier: warning
                  type: Perferendis quia voluptatum sit molestias.
                  version: Sunt a nam rerum impedit ullam.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/provider/account/{account}/{type}/{version}/download/{os}/{arch}:
    get:
      tags:
      - provider-registry
      summary: Get provider download information
      description: Returns download information for a specific provider version and platform
      operationId: provider-registry#get-provider-download
      parameters:
      - name: account
        in: path
        description: Account that owns the provider
        required: true
        schema:
          type: string
          description: Account that owns the provider
          example: Praesentium eum.
        example: Doloribus voluptatem.
      - name: type
        in: path
        description: Provider type
        required: true
        schema:
          type: string
          description: Provider type
          example: Et et laboriosam nisi.
        example: Velit praesentium enim et cumque.
      - name: version
        in: path
        description: Provider version
        required: true
        schema:
          type: string
          description: Provider version
          example: Perferendis nulla optio corporis quos.
        example: Voluptatem voluptatum distinctio.
      - name: os
        in: path
        description: Operating system
        required: true
        schema:
          type: string
          description: Operating system
          example: Non aut et optio consectetur molestiae aspernatur.
        example: Qui nostrum.
      - name: arch
        in: path
        description: Architecture
        required: true
        schema:
          type: string
          description: Architecture
          example: Nihil laborum ut enim.
        example: Alias dicta ea quia nihil quia.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProviderDownloadResponse'
              example:
                arch: Quas cum reiciendis magni ad molestias.
                download_url: Voluptate tenetur consequatur quis mollitia et atque.
                filename: Ab commodi.
                os: Sapiente dolorum.
                protocols:
                - Blanditiis velit.
                - Et dolorem veniam rem temporibus consequatur.
                - Et voluptatem officiis perspiciatis et.
                - Nihil ea autem odit quo id.
                shasum: In asperiores id saepe.
                shasums_signature_url: Illo perspiciatis.
                shasums_url: Magni aut amet corporis a tempora.
                signing_keys:
                  gpg_public_keys:
                  - ascii_armor: Est nobis vel eius aut omnis.
                    key_id: Debitis numquam reiciendis ex quia fuga.
                  - ascii_armor: Est nobis vel eius aut omnis.
                    key_id: Debitis numquam reiciendis ex quia fuga.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/provider/account/{account}/{type}/{version}/download/{os}/{arch}/{filetype}:
    get:
      tags:
      - provider-registry
      summary: Get provider file
      description: Download a provider file (binary, checksums, or signature)
      operationId: provider-registry#get-file
      parameters:
      - name: token
        in: query
        description: Token to access the file
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Token to access the file
          example: Cupiditate doloribus quos voluptatem repellendus odit corrupti.
        example: Quas atque fugiat et.
      - name: account
        in: path
        description: Account identifier
        required: true
        schema:
          type: string
          description: Account identifier
          example: Aut beatae autem.
        example: Veniam dolor ut.
      - name: type
        in: path
        description: Provider type
        required: true
        schema:
          type: string
          description: Provider type
          example: Ut nemo.
        example: Accusantium occaecati dignissimos ratione suscipit occaecati odio.
      - name: version
        in: path
        description: Provider version
        required: true
        schema:
          type: string
          description: Provider version
          example: Voluptas sit harum ipsam iusto.
        example: Rem eum nisi ex et.
      - name: os
        in: path
        description: Operating system
        required: true
        schema:
          type: string
          description: Operating system
          example: Ullam aut voluptatem.
        example: Quas voluptatum a doloremque.
      - name: arch
        in: path
        description: Architecture
        required: true
        schema:
          type: string
          description: Architecture
          example: Hic necessitatibus et fugiat qui.
        example: Reprehenderit eum.
      - name: filetype
        in: path
        description: Type of file to download
        required: true
        schema:
          type: string
          description: Type of file to download
          example: signature
          enum:
          - binary
          - checksums
          - signature
        example: checksums
      responses:
        '200':
          description: OK response.
          headers:
            Content-Disposition:
              description: Content-Disposition header
              schema:
                type: string
                description: Content-Disposition header
                example: Et eos nisi exercitationem quaerat dolorem rem.
              example: Libero in corporis.
            Content-Type:
              description: Content-Type header
              schema:
                type: string
                description: Content-Type header
                example: Vero beatae est velit.
              example: Fugit velit rem.
          content:
            application/json:
              schema:
                type: string
                format: binary
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/provider/account/{account}/{type}/versions:
    get:
      tags:
      - provider-registry
      summary: List provider versions
      description: Lists available versions for a provider
      operationId: provider-registry#list-provider-versions
      parameters:
      - name: account
        in: path
        description: Account that owns the provider
        required: true
        schema:
          type: string
          description: Account that owns the provider
          example: Et amet officiis ducimus sit eos.
        example: Id voluptas saepe molestias ipsum.
      - name: type
        in: path
        description: Provider type
        required: true
        schema:
          type: string
          description: Provider type
          example: Quaerat unde laudantium voluptas autem tenetur hic.
        example: Veniam voluptatem quaerat doloremque eum et.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProviderVersionsResponse'
              example:
                versions:
                - platforms:
                  - arch: Quis hic sint.
                    os: Et cupiditate.
                  - arch: Quis hic sint.
                    os: Et cupiditate.
                  protocols:
                  - Dolor architecto repellendus excepturi accusamus saepe.
                  - Occaecati unde sapiente est.
                  - Aut voluptas aut voluptatem eaque.
                  version: Sapiente quas eius occaecati consectetur.
                - platforms:
                  - arch: Quis hic sint.
                    os: Et cupiditate.
                  - arch: Quis hic sint.
                    os: Et cupiditate.
                  protocols:
                  - Dolor architecto repellendus excepturi accusamus saepe.
                  - Occaecati unde sapiente est.
                  - Aut voluptas aut voluptatem eaque.
                  version: Sapiente quas eius occaecati consectetur.
                - platforms:
                  - arch: Quis hic sint.
                    os: Et cupiditate.
                  - arch: Quis hic sint.
                    os: Et cupiditate.
                  protocols:
                  - Dolor architecto repellendus excepturi accusamus saepe.
                  - Occaecati unde sapiente est.
                  - Aut voluptas aut voluptatem eaque.
                  version: Sapiente quas eius occaecati consectetur.
                - platforms:
                  - arch: Quis hic sint.
                    os: Et cupiditate.
                  - arch: Quis hic sint.
                    os: Et cupiditate.
                  protocols:
                  - Dolor architecto repellendus excepturi accusamus saepe.
                  - Occaecati unde sapiente est.
                  - Aut voluptas aut voluptatem eaque.
                  version: Sapiente quas eius occaecati consectetur.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
components:
  schemas:
    GetProviderDomainResponseBody:
      type: object
      properties:
        domain:
          type: string
          description: Domain
          example: Odit minus.
      example:
        domain: Velit blanditiis debitis.
      required:
      - domain
    GetProviderLifecycleVersionStatusResponse:
      type: object
      properties:
        action:
          type: string
          description: Enforcement action derived from the tier's rule action
          example: fail
          enum:
          - no_action
          - warn
          - fail
        minimum_supported_version:
          type: string
          description: The lowest-numbered version currently in the supported tier
          example: Nobis possimus.
        tier:
          type: string
          description: 'Lifecycle tier: supported, warning, or deprecated'
          example: deprecated
          enum:
          - supported
          - warning
          - deprecated
      example:
        action: no_action
        minimum_supported_version: In commodi.
        tier: supported
      required:
      - tier
      - action
    BatchCheckProviderLifecycleResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ProviderLifecycleBatchCheckResult'
          description: Lifecycle violations found; items with no rule or supported tier are omitted
          example:
          - action: warn
            minimum_supported_version: Qui quia quam voluptas aspernatur vero.
            namespace: Atque nobis ipsam numquam quibusdam earum fugit.
            tier: warning
            type: Perferendis quia voluptatum sit molestias.
            version: Sunt a nam rerum impedit ullam.
          - action: warn
            minimum_supported_version: Qui quia quam voluptas aspernatur vero.
            namespace: Atque nobis ipsam numquam quibusdam earum fugit.
            tier: warning
            type: Perferendis quia voluptatum sit molestias.
            version: Sunt a nam rerum impedit ullam.
          - action: warn
            minimum_supported_version: Qui quia quam voluptas aspernatur vero.
            namespace: Atque nobis ipsam numquam quibusdam earum fugit.
            tier: warning
            type: Perferendis quia voluptatum sit molestias.
            version: Sunt a nam rerum impedit ullam.
      example:
        results:
        - action: warn
          minimum_supported_version: Qui quia quam voluptas aspernatur vero.
          namespace: Atque nobis ipsam numquam quibusdam earum fugit.
          tier: warning
          type: Perferendis quia voluptatum sit molestias.
          version: Sunt a nam rerum impedit ullam.
        - action: warn
          minimum_supported_version: Qui quia quam voluptas aspernatur vero.
          namespace: Atque nobis ipsam numquam quibusdam earum fugit.
          tier: warning
          type: Perferendis quia voluptatum sit molestias.
          version: Sunt a nam rerum impedit ullam.
      required:
      - results
    CreateProviderRequestBody:
      type: object
      properties:
        description:
          type: string
          description: Provider description
          example: Terraform provider
      example:
        description: Terraform provider
    IaCMError:
      type: object
      properties:
        fault:
          type: boolean
          description: Is the error a server-side fault?
          example: false
        id:
          type: string
          description: ID is a unique identifier for this particular occurrence of the problem.
          example: 123abc
        message:
          type: string
[...]
