openapi: 3.2.0
info:
  title: Harness Scans API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Scans
  description: Access and modify Security Test Scans
paths:
  /sto/api/v2/scans:
    get:
      tags:
      - Scans
      description: List a collection of Security Test Scans
      operationId: Scans#ListScans
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: page
        in: query
        description: Page number to fetch (starting from 0)
        allowEmptyValue: true
        schema:
          type: integer
          description: Page number to fetch (starting from 0)
          default: 0
          example: 4
          format: int64
          minimum: 0
        example: 4
      - name: pageSize
        in: query
        description: Number of results per page
        allowEmptyValue: true
        schema:
          type: integer
          description: Number of results per page
          default: 30
          example: 50
          format: int64
          minimum: 1
          maximum: 100
        example: 50
      - name: executionId
        in: query
        description: Harness Execution ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Execution ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Ullam aut quo autem.
        example: Ab asperiores earum iste asperiores dolores.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScansListScansResponseBody'
              example:
                pagination:
                  link: ''
                  page: 4
                  pageSize: 20
                  totalItems: 230
                  totalPages: 12
                results:
                - codeCoverage: 65.5
                  created: 1651578240
                  executionId: abcdef1234567890ghijkl
                  gitMetadata:
                    commit: '0000000000000000000000000000000000000001'
                    detectedName: Assumenda repellendus neque nostrum autem dolor.
                    detectedVariant: Quam iure corrupti non cupiditate.
                    droneCorrelated: false
                    provider: Voluptatibus consequatur.
                    pullRequestNumber: 11
                    repositoryHttp: https://github.com/harness/drone-cli.git
                    repositoryPath:
                    - Earum sed in neque nihil ut incidunt.
                    - Magnam ratione vero a.
                    repositorySsh: git@github.com:harness/drone-cli.git
                    sourceBranch: feat/shiny-object
                    targetBranch: develop
                    workspace: /harness
                  id: abcdef1234567890ghijkl
                  lastModified: 1651578240
                  metadata:
                    baseImageDigest: sha256:abcdef1234567890ghijkl
                    baseImageName: my-image
                    baseImageTag: 1.0.0
                  orgId: your_harness_org
                  pipelineId: your_harness_pipeline
                  productId: product111111111111111
                  productName: snyk
                  productPrettyName: Snyk
                  projectId: your_harness_project
                  refinementVersion: 1.0.5
                  scannerDiffKey: sast
                  stageId: stage_id
                  status: Succeeded
                  stepId: step_id
                  subproduct: owasp
                  targetVariantId: variant111111111111111
                - codeCoverage: 65.5
                  created: 1651578240
                  executionId: abcdef1234567890ghijkl
                  gitMetadata:
                    commit: '0000000000000000000000000000000000000001'
                    detectedName: Assumenda repellendus neque nostrum autem dolor.
                    detectedVariant: Quam iure corrupti non cupiditate.
                    droneCorrelated: false
                    provider: Voluptatibus consequatur.
                    pullRequestNumber: 11
                    repositoryHttp: https://github.com/harness/drone-cli.git
                    repositoryPath:
                    - Earum sed in neque nihil ut incidunt.
                    - Magnam ratione vero a.
                    repositorySsh: git@github.com:harness/drone-cli.git
                    sourceBranch: feat/shiny-object
                    targetBranch: develop
                    workspace: /harness
                  id: abcdef1234567890ghijkl
                  lastModified: 1651578240
                  metadata:
                    baseImageDigest: sha256:abcdef1234567890ghijkl
                    baseImageName: my-image
                    baseImageTag: 1.0.0
                  orgId: your_harness_org
                  pipelineId: your_harness_pipeline
                  productId: product111111111111111
                  productName: snyk
                  productPrettyName: Snyk
                  projectId: your_harness_project
                  refinementVersion: 1.0.5
                  scannerDiffKey: sast
                  stageId: stage_id
                  status: Succeeded
                  stepId: step_id
                  subproduct: owasp
                  targetVariantId: variant111111111111111
                - codeCoverage: 65.5
                  created: 1651578240
                  executionId: abcdef1234567890ghijkl
                  gitMetadata:
                    commit: '0000000000000000000000000000000000000001'
                    detectedName: Assumenda repellendus neque nostrum autem dolor.
                    detectedVariant: Quam iure corrupti non cupiditate.
                    droneCorrelated: false
                    provider: Voluptatibus consequatur.
                    pullRequestNumber: 11
                    repositoryHttp: https://github.com/harness/drone-cli.git
                    repositoryPath:
                    - Earum sed in neque nihil ut incidunt.
                    - Magnam ratione vero a.
                    repositorySsh: git@github.com:harness/drone-cli.git
                    sourceBranch: feat/shiny-object
                    targetBranch: develop
                    workspace: /harness
                  id: abcdef1234567890ghijkl
                  lastModified: 1651578240
                  metadata:
                    baseImageDigest: sha256:abcdef1234567890ghijkl
                    baseImageName: my-image
                    baseImageTag: 1.0.0
                  orgId: your_harness_org
                  pipelineId: your_harness_pipeline
                  productId: product111111111111111
                  productName: snyk
                  productPrettyName: Snyk
                  projectId: your_harness_project
                  refinementVersion: 1.0.5
                  scannerDiffKey: sast
                  stageId: stage_id
                  status: Succeeded
                  stepId: step_id
                  subproduct: owasp
                  targetVariantId: variant111111111111111
                - codeCoverage: 65.5
                  created: 1651578240
                  executionId: abcdef1234567890ghijkl
                  gitMetadata:
                    commit: '0000000000000000000000000000000000000001'
                    detectedName: Assumenda repellendus neque nostrum autem dolor.
                    detectedVariant: Quam iure corrupti non cupiditate.
                    droneCorrelated: false
                    provider: Voluptatibus consequatur.
                    pullRequestNumber: 11
                    repositoryHttp: https://github.com/harness/drone-cli.git
                    repositoryPath:
                    - Earum sed in neque nihil ut incidunt.
                    - Magnam ratione vero a.
                    repositorySsh: git@github.com:harness/drone-cli.git
                    sourceBranch: feat/shiny-object
                    targetBranch: develop
                    workspace: /harness
                  id: abcdef1234567890ghijkl
                  lastModified: 1651578240
                  metadata:
                    baseImageDigest: sha256:abcdef1234567890ghijkl
                    baseImageName: my-image
                    baseImageTag: 1.0.0
                  orgId: your_harness_org
                  pipelineId: your_harness_pipeline
                  productId: product111111111111111
                  productName: snyk
                  productPrettyName: Snyk
                  projectId: your_harness_project
                  refinementVersion: 1.0.5
                  scannerDiffKey: sast
                  stageId: stage_id
                  status: Succeeded
                  stepId: step_id
                  subproduct: owasp
                  targetVariantId: variant111111111111111
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Not Found
                status: 404
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_scan_view
      summary: Scans#List scans
      x-summary-source: derived
    post:
      tags:
      - Scans
      description: Create a new Security Test Scan
      operationId: Scans#CreateScan
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Repellendus placeat sint.
        example: Tempore voluptatibus ex est est.
      - name: X-Harness-User-Id
        in: header
        description: Harness User ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness User ID
          example: abcdef1234567890ghijkl
        example: abcdef1234567890ghijkl
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScanRequestBody'
            example:
              codeCoverage: 65.5
              executionId: abcdef1234567890ghijkl
              gitMetadata:
                commit: '0000000000000000000000000000000000000001'
                detectedName: Aut animi provident similique dignissimos mollitia deleniti.
                detectedVariant: Asperiores velit ut.
                droneCorrelated: true
                provider: Fugiat molestiae sit.
                pullRequestNumber: 11
                repositoryHttp: https://github.com/harness/drone-cli.git
                repositoryPath:
                - Pariatur eos voluptatibus nesciunt similique dolor placeat.
                - Magnam assumenda.
                - Consectetur veniam rem ullam explicabo rerum.
                - Reiciendis labore quis et laborum nulla.
                repositorySsh: git@github.com:harness/drone-cli.git
                sourceBranch: feat/shiny-object
                targetBranch: develop
                workspace: /harness
              orgId: your_harness_org
              pipelineId: your_harness_pipeline
              productId: product111111111111111
              productName: snyk
              productPrettyName: Snyk
              projectId: your_harness_project
              refinementVersion: 1.0.5
              scannerDiffKey: sast
              stageId: stage_id
              status: Succeeded
              stepId: step_id
              subproduct: owasp
              targetVariantId: variant111111111111111
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDResult'
              example:
                id: abcdef1234567890ghijkl
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_scan_edit
      summary: Scans#Create scan
      x-summary-source: derived
  /sto/api/v2/scans/{id}:
    delete:
      description: Delete an existing Security Test Scan
      operationId: Scans#DeleteScan
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - description: The ID of the Security Test Scan to delete
        example: abcdef1234567890ghijkl
        in: path
        name: id
        required: true
        schema:
          description: The ID of the Security Test Scan to delete
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      responses:
        '204':
          description: No Content response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '404':
          content:
            application/json:
              example:
                message: Not Found
                status: 404
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'NotFound: Not Found response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'InternalServerError: Internal Server Error response.'
      security:
      - jwt_header_Authorization:
        - sto_scan_delete
      tags:
      - Scans
      x-internal: true
      summary: Scans#Delete scan
      x-summary-source: derived
    get:
      tags:
      - Scans
      description: Find Security Test Scan by ID
      operationId: Scans#FindScanById
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: id
        in: path
        description: The ID of the Security Test Scan to retrieve
        required: true
        schema:
          type: string
          description: The ID of the Security Test Scan to retrieve
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Voluptatibus ut nihil dolorem eaque neque.
        example: Facilis distinctio ex.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scan'
              example:
                codeCoverage: 65.5
                created: 1651578240
                executionId: abcdef1234567890ghijkl
                gitMetadata:
                  commit: '0000000000000000000000000000000000000001'
                  detectedName: Assumenda repellendus neque nostrum autem dolor.
                  detectedVariant: Quam iure corrupti non cupiditate.
                  droneCorrelated: false
                  provider: Voluptatibus consequatur.
                  pullRequestNumber: 11
                  repositoryHttp: https://github.com/harness/drone-cli.git
                  repositoryPath:
                  - Earum sed in neque nihil ut incidunt.
                  - Magnam ratione vero a.
                  repositorySsh: git@github.com:harness/drone-cli.git
                  sourceBranch: feat/shiny-object
                  targetBranch: develop
                  workspace: /harness
                id: abcdef1234567890ghijkl
                lastModified: 1651578240
                metadata:
                  baseImageDigest: sha256:abcdef1234567890ghijkl
                  baseImageName: my-image
                  baseImageTag: 1.0.0
                orgId: your_harness_org
                pipelineId: your_harness_pipeline
                productId: product111111111111111
                productName: snyk
                productPrettyName: Snyk
                projectId: your_harness_project
                refinementVersion: 1.0.5
                scannerDiffKey: sast
                stageId: stage_id
                status: Succeeded
                stepId: step_id
                subproduct: owasp
                targetVariantId: variant111111111111111
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Not Found
                status: 404
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_scan_view
      summary: Scans#Find scan by id
      x-summary-source: derived
    put:
      tags:
      - Scans
      description: Update an existing Security Test Scan
      operationId: Scans#UpdateScan
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: id
        in: path
        description: The ID of the Security Test Scan to update
        required: true
        schema:
          type: string
          description: The ID of the Security Test Scan to update
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Voluptate ipsam ut beatae qui.
        example: Soluta eaque unde sint vero.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScanRequestBody'
            example:
              artifactFingerprint: abcdef1234567890ghijkl
              codeCoverage: 65.5
              executionId: abcdef1234567890ghijkl
              gitMetadata:
                commit: '0000000000000000000000000000000000000001'
                detectedName: Aut animi provident similique dignissimos mollitia deleniti.
                detectedVariant: Asperiores velit ut.
                droneCorrelated: true
                provider: Fugiat molestiae sit.
                pullRequestNumber: 11
                repositoryHttp: https://github.com/harness/drone-cli.git
                repositoryPath:
                - Pariatur eos voluptatibus nesciunt similique dolor placeat.
                - Magnam assumenda.
                - Consectetur veniam rem ullam explicabo rerum.
                - Reiciendis labore quis et laborum nulla.
                repositorySsh: git@github.com:harness/drone-cli.git
                sourceBranch: feat/shiny-object
                targetBranch: develop
                workspace: /harness
              metadata:
                baseImageDigest: sha256:abcdef1234567890ghijkl
                baseImageName: my-image
                baseImageTag: 1.0.0
              orgId: your_harness_org
              pipelineId: your_harness_pipeline
              productId: product111111111111111
              productName: snyk
              productPrettyName: Snyk
              projectId: your_harness_project
              refinementVersion: 1.0.5
              scannerDiffKey: sast
              stageId: stage_id
              status: Succeeded
              stepId: step_id
              subproduct: owasp
              targetVariantId: variant111111111111111
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scan'
              example:
                codeCoverage: 65.5
                created: 1651578240
                executionId: abcdef1234567890ghijkl
                gitMetadata:
                  commit: '0000000000000000000000000000000000000001'
                  detectedName: Assumenda repellendus neque nostrum autem dolor.
                  detectedVariant: Quam iure corrupti non cupiditate.
                  droneCorrelated: false
                  provider: Voluptatibus consequatur.
                  pullRequestNumber: 11
                  repositoryHttp: https://github.com/harness/drone-cli.git
                  repositoryPath:
                  - Earum sed in neque nihil ut incidunt.
                  - Magnam ratione vero a.
                  repositorySsh: git@github.com:harness/drone-cli.git
                  sourceBranch: feat/shiny-object
                  targetBranch: develop
                  workspace: /harness
                id: abcdef1234567890ghijkl
                lastModified: 1651578240
                metadata:
                  baseImageDigest: sha256:abcdef1234567890ghijkl
                  baseImageName: my-image
                  baseImageTag: 1.0.0
                orgId: your_harness_org
                pipelineId: your_harness_pipeline
                productId: product111111111111111
                productName: snyk
                productPrettyName: Snyk
                projectId: your_harness_project
                refinementVersion: 1.0.5
                scannerDiffKey: sast
                stageId: stage_id
                status: Succeeded
                stepId: step_id
                subproduct: owasp
                targetVariantId: variant111111111111111
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Not Found
                status: 404
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_scan_edit
      summary: Scans#Update scan
      x-summary-source: derived
  /sto/api/v2/scans/{id}/issue/{issueId}:
    get:
      tags:
      - Scans
      description: Returns a scan specific issue
      operationId: Scans#ScanIssue
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: orgId
        in: query
        description: Harness Organization ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Organization ID
          example: example_org
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_org
      - name: projectId
        in: query
        description: Harness Project ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Project ID
          example: example_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_project
      - name: page
        in: query
        description: Page number to fetch (starting from 0)
        allowEmptyValue: true
        schema:
          type: integer
          description: Page number to fetch (starting from 0)
          default: 0
          example: 4
          format: int64
          minimum: 0
        example: 4
      - name: pageSize
        in: query
        description: Number of results per page
        allowEmptyValue: true
        schema:
          type: integer
          description: Number of results per page
          default: 30
          example: 50
          format: int64
          minimum: 1
          maximum: 100
        example: 50
      - name: sort
        in: query
        description: The field to sort by
        allowEmptyValue: true
        schema:
          type: string
          description: The field to sort by
          example: Reiciendis sed ut sunt.
        example: Magni sapiente consequatur.
      - name: order
        in: query
        description: The order to sort by
        allowEmptyValue: true
        schema:
          type: string
          description: The order to sort by
          example: DESC
          enum:
          - ASC
          - DESC
        example: DESC
      - name: id
        in: path
        description: The ID of the Security Test Scan
        required: true
        schema:
          type: string
          description: The ID of the Security Test Scan
          example: Esse voluptas.
        example: Officia sed.
      - name: issueId
        in: path
        description: The ID of the Security Test Issue
        required: true
        schema:
          type: string
          description: The ID of the Security Test Issue
          example: Recusandae numquam est quia vel aut omnis.
        example: Aut officiis earum.
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Eligendi ab enim ad ratione.
        example: Non eum commodi.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueInScan'
              example:
                aiTriaged: LikelyFP
                aiTriagedReasoning: The argument to path.join is __dirname, a constant, not user input.
                baseImageName: baseImageName
                baseImageOrgId: default
                baseImageProjectId: STO
                baselineVariantId: abcdef1234567890ghijkl
                created: 1651578240
                currentStatus: Approved
                details:
                  package: json-schema
                  version: v0.2.3
                epssLastModified: '2025-05-01'
                epssPercentile: 0.15
                epssScore: 0.035
                exemptionCoverage: PartiallyExempted
                exemptionId: abcdef1234567890ghijkl
                exemptionStatusAtScan: Expired
                exploitability: 'yes'
                fallbackSeverityCode: High
                gitMetadata:
                  commit: '0000000000000000000000000000000000000001'
                  detectedName: Assumenda repellendus neque nostrum autem dolor.
                  detectedVariant: Quam iure corrupti non cupiditate.
                  droneCorrelated: false
                  provider: Voluptatibus consequatur.
                  pullRequestNumber: 11
                  repositoryHttp: https://github.com/harness/drone-cli.git
                  repositoryPath:
                  - Earum sed in neque nihil ut incidunt.
                  - Magnam ratione vero a.
                  repositorySsh: git@github.com:harness/drone-cli.git
                  sourceBranch: feat/shiny-object
                  targetBranch: develop
                  workspace: /harness
                gracePeriodDays: 13
                harnessAugmentation:
                  Fugiat quos temporibus et.: Suscipit nemo ipsa et voluptate.
                  Reiciendis reiciendis voluptatem hic aut.: Quo delectus minima.
                  Velit omnis et et voluptatem ipsam.: Qui quae.
                hasRules: true
                id: abcdef1234567890ghijkl
                inGrace: true
                key: json-schema@0.2.3
                lastBaseImageScanAt: 1651578240
                numNonExemptedOccurrences: 10
                numOccurrences: 10
                occurrenceId: 12345
                occurrences:
                - line: '42'
                - line: '666'
                occurrencesPagination:
                  link: ''
                  page: 4
                  pageSize: 20
                  totalItems: 230
                  totalPages: 12
                originStatus: approved
                origins:
                - app
                - base
                overrides:
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                overridesAtScan:
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                pipelineId: example_pipeline
                primaryOccurrenceId: 12345
                productId: product1234567890abcde
                reachability: reachable
                recentActivities:
                - actorName: Priya Nair
                  created: 1781391060
                  id: hist111111111111111111
                  isAutoExpiry: false
                  status: Expired
                - actorName: Priya Nair
                  created: 1781391060
                  id: hist111111111111111111
                  isAutoExpiry: false
                  status: Expired
                - actorName: Priya Nair
                  created: 1781391060
                  id: hist111111111111111111
                  isAutoExpiry: false
                  status: Expired
                remediationAgentPullRequests:
                - buildId: '4'
                  commits: 3
                  createdAt: '2026-07-04T12:45:00Z'
                  executionId: execution1111111111111
                  fixVerified: success
                  id: '42'
                  jiraTicketId: STO-87236
                  jiraTicketUrl: https://jira.example.com/browse/STO-87236
                  prNumber: 13114
                  prTitle: '[13114] Security fix'
                  prUrl: https://github.com/harness/example/pull/13114
                  regression: success
                  repository: harness/nodegoat
                  scanId: scan111111111111111111
                  sourceBranch: remediation/sast-13114
                  status: Open
                  targetBranch: master
                - buildId: '4'
                  commits: 3
                  createdAt: '2026-07-04T12:45:00Z'
                  executionId: execution1111111111111
                  fixVerified: success
                  id: '42'
                  jiraTicketId: STO-87236
                  jiraTicketUrl: https://jira.example.com/browse/STO-87236
                  prNumber: 13114
                  prTitle: '[13114] Security fix'
                  prUrl: https://github.com/harness/example/pull/13114
                  regression: success
                  repository: harness/nodegoat
                  scanId: scan111111111111111111
                  sourceBranch: remediation/sast-13114
                  status: Open
                  targetBranch: master
                - buildId: '4'
                  commits: 3
                  createdAt: '2026-07-04T12:45:00Z'
                  executionId: execution1111111111111
                  fixVerified: success
                  id: '42'
                  jiraTicketId: STO-87236
                  jiraTicketUrl: https://jira.example.com/browse/STO-87236
                  prNumber: 13114
                  prTitle: '[13114] Security fix'
                  prUrl: https://github.com/harness/example/pull/13114
                  regression: success
                  repository: harness/nodegoat
                  scanId: scan111111111111111111
                  sourceBranch: remediation/sast-13114
                  status: Open
                  targetBranch: master
                - buildId: '4'
                  commits: 3
                  createdAt: '2026-07-04T12:45:00Z'
                  executionId: execution1111111111111
                  fixVerified: success
                  id: '42'
                  jiraTicketId: STO-87236
                  jiraTicketUrl: https://jira.example.com/browse/STO-87236
                  prNumber: 13114
                  prTitle: '[13114] Security fix'
                  prUrl: https://github.com/harness/example/pull/13114
                  regression: success
                  repository: harness/nodegoat
                  scanId: scan111111111111111111
                  sourceBranch: remediation/sast-13114
                  status: Open
                  targetBranch: master
                severity: 8.5
                severityCode: High
                status: Remediated
                subproduct: product
                targetId: abcdef1234567890ghijkl
                targetName: abcdef1234567890ghijkl
                targetType: repository
                targetVariantId: abcdef1234567890ghijkl
                targetVariantName: nodegoat:master
                title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
                type: SAST
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Not Found
                status: 404
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_issue_view
      summary: Scans#Scan issue
      x-summary-source: derived
  /sto/api/v2/scans/{id}/issue/{issueId}/occurrences:
    get:
      tags:
      - Scans
      description: Returns occurrences for a scan specific issue
      operationId: Scans#ScanIssueOccurrences
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: orgId
        in: query
        description: Harness Organization ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Organization ID
          example: example_org
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_org
      - name: projectId
        in: query
        description: Harness Project ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Project ID
          example: example_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_project
      - name: page
        in: query
        description: Page number to fetch (starting from 0)
        allowEmptyValue: true
        schema:
          type: integer
          description: Page number to fetch (starting from 0)
          default: 0
          example: 4
          format: int64
          minimum: 0
        example: 4
      - name: pageSize
        in: query
        description: Number of results per page
        allowEmptyValue: true
        schema:
          type: integer
          description: Number of results per page
          default: 30
          example: 50
          format: int64
          minimum: 1
          maximum: 100
        example: 50
      - name: search
        in: query
        allowEmptyValue: true
        schema:
          type: string
          example: CWE-123,5
          maxLength: 256
        example: CWE-123,5
      - name: exemptionStatus
        in: query
        allowEmptyValue: true
        schema:
          type: string
          example: EXEMPTED,REJECTED
          pattern: ^(EXEMPTED|NOT_EXEMPTED|REJECTED|PENDING)(,EXEMPTED|,NOT_EXEMPTED|,REJECTED|,PENDING)*$
        example: EXEMPTED,REJECTED
      - name: occurrenceId
        in: query
        allowEmptyValue: true
        schema:
          type: integer
          example: 12345
          format: int64
          minimum: 1
        example: 12345
      - name: sort
        in: query
        description: The field to sort by
        allowEmptyValue: true
        schema:
          type: string
          description: The field to sort by
          example: Id omnis id et optio facilis qui.
        example: Quia perspiciatis debitis quia commodi.
      - name: order
        in: query
        description: The order to sort by
        allowEmptyValue: true
        schema:
          type: string
          description: The order to sort by
          example: ASC
          enum:
          - ASC
          - DESC
        example: ASC
      - name: exemptionId
        in: query
        description: ID of Security Test Exemption
        allowEmptyValue: true
        schema:
          type: string
          description: ID of Security Test Exemption
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: id
        in: path
        description: The ID of the Security Test Scan
        required: true
        schema:
          type: string
          description: The ID of the Security Test Scan
          example: Quis excepturi.
        example: Eaque voluptas numquam.
      - name: issueId
        in: path
        description: The ID of the Security Test Issue
        required: true
        schema:
          type: string
          description: The ID of the Security Test Issue
          example: Voluptas amet.
        example: Cum non nisi harum qui perspiciatis.
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Voluptas possimus.
        example: Aut neque illum accusantium et.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueInScan'
              example:
                aiTriaged: LikelyFP
                aiTriagedReasoning: The argument to path.join is __dirname, a constant, not user input.
                baseImageName: baseImageName
                baseImageOrgId: default
                baseImageProjectId: STO
                baselineVariantId: abcdef1234567890ghijkl
                created: 1651578240
                currentStatus: Approved
                details:
                  package: json-schema
                  version: v0.2.3
                epssLastModified: '2025-05-01'
                epssPercentile: 0.15
                epssScore: 0.035
                exemptionCoverage: PartiallyExempted
                exemptionId: abcdef1234567890ghijkl
                exemptionStatusAtScan: Expired
                exploitability: 'yes'
                fallbackSeverityCode: High
                gitMetadata:
                  commit: '0000000000000000000000000000000000000001'
                  detectedName: Assumenda repellendus neque nostrum autem dolor.
                  detectedVariant: Quam iure corrupti non cupiditate.
                  droneCorrelated: false
                  provider: Voluptatibus consequatur.
                  pullRequestNumber: 11
                  repositoryHttp: https://github.com/harness/drone-cli.git
                  repositoryPath:
                  - Earum sed in neque nihil ut incidunt.
                  - Magnam ratione vero a.
                  repositorySsh: git@github.com:harness/drone-cli.git
                  sourceBranch: feat/shiny-object
                  targetBranch: develop
                  workspace: /harness
                gracePeriodDays: 13
                harnessAugmentation:
                  Fugiat quos temporibus et.: Suscipit nemo ipsa et voluptate.
                  Reiciendis reiciendis voluptatem hic aut.: Quo delectus minima.
                  Velit omnis et et voluptatem ipsam.: Qui quae.
                hasRules: true
                id: abcdef1234567890ghijkl
                inGrace: true
                key: json-schema@0.2.3
                lastBaseImageScanAt: 1651578240
                numNonExemptedOccurrences: 10
                numOccurrences: 10
                occurrenceId: 12345
                occurrences:
                - line: '42'
                - line: '666'
                occurrencesPagination:
                  link: ''
                  page: 4
                  pageSize: 20
                  totalItems: 230
                  totalPages: 12
                originStatus: approved
                origins:
                - app
                - base
                overrides:
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                overridesAtScan:
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                - created: 1651578240
                  fieldName: severityCode
                  impactedTargetId: target1111111111111111
                  originalFieldValue: Low
                  overrideFieldValue: Low
                  overrideId: override1234
                  reason: Waiting on upstream bug fix
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                pipelineId: example_pipeline
                primaryOccurrenceId: 12345
                productId: product1234567890abcde
                reachability: reachable
                recentActivities:
                - actorName: Priya Nair
                  created: 1781391060
                  id: hist111111111111111111
                  isAutoExpiry: false
                  status: Expired
                - actorName: Priya Nair
                  created: 1781391060
                  id: hist111111111111111111
                  isAutoExpiry: false
                  status: Expired
                - actorName: Priya Nair
                  created: 1781391060
                  id: hist111111111111111111
                  isAutoExpiry: false
                  status: Expired
                remediationAgentPullRequests:
                - buildId: '4'
                  commits: 3
                  createdAt: '2026-07-04T12:45:00Z'
                  executionId: execution1111111111111
                  fixVerified: success
                  id: '42'
                  jiraTicketId: STO-87236
                  jiraTicketUrl: https://jira.example.com/browse/STO-87236
                  prNumber: 13114
                  prTitle: '[13114] Security fix'
                  prUrl: https://github.com/harness/example/pull/13114
                  regression: success
                  repository: harness/nodegoat
                  scanId: scan111111111111111111
                  sourceBranch: remediation/sast-13114
                  status: Open
                  targetBranch: master
                - buildId: '4'
                  commits: 3
                  createdAt: '2026-07-04T12:45:00Z'
                  executionId: execution1111111111111
                  fixVerified: success
                  id: '42'
                  jiraTicketId: STO-87236
                  jiraTicketUrl: https://jira.example.com/browse/STO-87236
                  prNumber: 13114
                  prTitle: '[13114] Security fix'
                  prUrl: https://github.com/harness/example/pull/13114
                  regression: success
                  repository: harness/nodegoat
                  scanId: scan111111111111111111
                  sourceBranch: remediation/sast-13114
                  status: Open
                  targetBranch: master
                - buildId: '4'
                  commits: 3
                  createdAt: '2026-07-04T12:45:00Z'
                  executionId: execution1111111111111
                  fixVerified: success
                  id: '42'
                  jiraTicketId: STO-87236
                  jiraTicketUrl: https://jira.example.com/browse/STO-87236
                  prNumber: 13114
                  prTitle: '[13114] Security fix'
                  prUrl: https://github.com/harness/example/pull/13114
                  regression: success
                  repository: harness/nodegoat
                  scanId: scan111111111111111111
                  sourceBranch: remediation/sast-13114
                  status: Open
                  targetBranch: master
                - buildId: '4'
                  commits: 3
                  createdAt: '2026-07-04T12:45:00Z'
                  executionId: execution1111111111111
                  fixVerified: success
                  id: '42'
                  jiraTicketId: STO-87236
                  jiraTicketUrl: https://jira.example.com/browse/STO-87236
                  prNumber: 13114
                  prTitle: '[13114] Security fix'
                  prUrl: https://github.com/harness/example/pull/13114
                  regression: success
                  repository: harness/nodegoat
                  scanId: scan111111111111111111
                  sourceBranch: remediation/sast-13114
                  status: Open
                  targetBranch: master
                severity: 8.5
                severityCode: High
                status: Remediated
                subproduct: product
                targetId: abcdef1234567890ghijkl
                targetName: abcdef1234567890ghijkl
                targetType: repository
                targetVariantId: abcdef1234567890ghijkl
                targetVariantName: nodegoat:master
                title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
                type: SAST
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Not Found
                status: 404
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_issue_view
      summary: Scans#Scan issue occurrences
      x-summary-source: derived
  /sto/api/v2/scans/{id}/issues:
    get:
      tags:
      - Scans
      description: List Issues by Scan ID
      operationId: Scans#ScanIssues
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: exempted
        in: query
        description: Chooses whether to show exempted issues ("only"), or non-exempted issues ("0" or "false")
        allowEmptyValue: true
        schema:
          type: string
          description: Chooses whether to show exempted issues ("only"), or non-exempted issues ("0" or "false")
          default: 'false'
          example: '0'
          enum:
          - 'false'
          - only
          - '0'
        example: only
      - name: id
        in: path
        description: The Scan ID
        required: true
        schema:
          type: string
          description: The Scan ID
          example: abcdefghijkl1234567890
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdefghijkl1234567890
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Odit ut.
        example: Eos ullam labore explicabo veniam in dolorum.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanIssuesResult'
              example:
                issues:
                - baseImageName: baseImageName
                  baselineVariantId: abcdef1234567890ghijkl
                  created: 1651578240
                  currentStatus: Rejected
                  details:
                    package: json-schema
                    version: v0.2.3
                  epssLastModified: '2025-05-01'
                  epssPercentile: 0.15
                  epssScore: 0.035
                  exemptionCoverage: PartiallyExempted
                  exemptionId: abcdef1234567890ghijkl
                  exemptionStatusAtScan: Rejected
                  exploitability: 'yes'
                  fallbackSeverityCode: High
                  gracePeriodDays: 13
                  harnessAugmentation:
                    Et sed labore voluptatibus.: Id corporis facilis.
                  id: abcdef1234567890ghijkl
                  inGrace: true
                  key: json-schema@0.2.3
                  numOccurrences: 10
                  occurrenceId: 12345
                  occurrences:
                  - line: '42'
                  - line: '666'
                  originStatus: approved
                  origins:
                  - app
                  - base
                  overrides:
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  overridesAtScan:
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  productId: product1234567890abcde
                  reachability: reachable
                  severity: 8.5
                  severityCode: High
                  status: Remediated
                  subproduct: product
                  targetId: abcdef1234567890ghijkl
                  targetName: abcdef1234567890ghijkl
                  targetType: repository
                  targetVariantId: abcdef1234567890ghijkl
                  targetVariantName: nodegoat:master
                  title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
                  type: SAST
                - baseImageName: baseImageName
                  baselineVariantId: abcdef1234567890ghijkl
                  created: 1651578240
                  currentStatus: Rejected
                  details:
                    package: json-schema
                    version: v0.2.3
                  epssLastModified: '2025-05-01'
                  epssPercentile: 0.15
                  epssScore: 0.035
                  exemptionCoverage: PartiallyExempted
                  exemptionId: abcdef1234567890ghijkl
                  exemptionStatusAtScan: Rejected
                  exploitability: 'yes'
                  fallbackSeverityCode: High
                  gracePeriodDays: 13
                  harnessAugmentation:
                    Et sed labore voluptatibus.: Id corporis facilis.
                  id: abcdef1234567890ghijkl
                  inGrace: true
                  key: json-schema@0.2.3
                  numOccurrences: 10
                  occurrenceId: 12345
                  occurrences:
                  - line: '42'
                  - line: '666'
                  originStatus: approved
                  origins:
                  - app
                  - base
                  overrides:
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  overridesAtScan:
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  productId: product1234567890abcde
                  reachability: reachable
                  severity: 8.5
                  severityCode: High
                  status: Remediated
                  subproduct: product
                  targetId: abcdef1234567890ghijkl
                  targetName: abcdef1234567890ghijkl
                  targetType: repository
                  targetVariantId: abcdef1234567890ghijkl
                  targetVariantName: nodegoat:master
                  title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
                  type: SAST
                - baseImageName: baseImageName
                  baselineVariantId: abcdef1234567890ghijkl
                  created: 1651578240
                  currentStatus: Rejected
                  details:
                    package: json-schema
                    version: v0.2.3
                  epssLastModified: '2025-05-01'
                  epssPercentile: 0.15
                  epssScore: 0.035
                  exemptionCoverage: PartiallyExempted
                  exemptionId: abcdef1234567890ghijkl
                  exemptionStatusAtScan: Rejected
                  exploitability: 'yes'
                  fallbackSeverityCode: High
                  gracePeriodDays: 13
                  harnessAugmentation:
                    Et sed labore voluptatibus.: Id corporis facilis.
                  id: abcdef1234567890ghijkl
                  inGrace: true
                  key: json-schema@0.2.3
                  numOccurrences: 10
                  occurrenceId: 12345
                  occurrences:
                  - line: '42'
                  - line: '666'
                  originStatus: approved
                  origins:
                  - app
                  - base
                  overrides:
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  overridesAtScan:
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  - created: 1651578240
                    fieldName: severityCode
                    impactedTargetId: target1111111111111111
                    originalFieldValue: Low
                    overrideFieldValue: Low
                    overrideId: override1234
                    reason: Waiting on upstream bug fix
                    requesterEmail: user@harness.io
                    requesterId: user111111111111111111
                    requesterName: firstname lastname
                  productId: product1234567890abcde
                  reachability: reachable
                  severity: 8.5
                  severityCode: High
                  status: Remediated
                  subproduct: product
                  targetId: abcdef1234567890ghijkl
                  targetName: abcdef1234567890ghijkl
                  targetType: repository
                  targetVariantId: abcdef1234567890ghijkl
                  targetVariantName: nodegoat:master
                  title: 'Semgrep Finding: generic.secrets.security.detected-bcrypt-hash.detected-bcrypt-hash'
                  type: SAST
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_issue_view
      summary: Scans#Scan issues
      x-summary-source: derived
  /sto/api/v2/scans/{id}/issues/counts:
    get:
      tags:
      - Scans
      description: Returns counts of active Security Issues for a Security Test Scan
      operationId: Scans#ScanIssueCounts
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: orgId
        in: query
        description: Harness Organization ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Organization ID
          example: example_org
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_org
      - name: projectId
        in: query
        description: Harness Project ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Project ID
          example: example_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_project
      - name: id
        in: path
        description: The ID of the Security Test Scan for which to count issues
        required: true
        schema:
          type: string
          description: The ID of the Security Test Scan for which to count issues
          example: Ut est.
        example: Ut voluptas.
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Velit esse esse debitis.
        example: Laudantium modi excepturi ex.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullIssueCounts'
              example:
                appCritical: 1
                appHigh: 3
                appInfo: 11
                appLow: 39
                appMedium: 17
                baseCritical: 1
                baseHigh: 3
                baseImageApproved: true
                baseImageDetected: true
                baseInfo: 11
                baseLow: 39
                baseMedium: 17
                codeCoverage: 65.5
                critical: 1
                externalPolicyFailures: 0
                high: 3
                ignored: 1
                ignoredCritical: 1
                ignoredHigh: 3
                ignoredInfo: 11
                ignoredLow: 39
                ignoredMedium: 17
                ignoredUnassigned: 0
                info: 11
                low: 39
                medium: 17
                newAppCritical: 1
                newAppHigh: 3
                newAppInfo: 11
                newAppLow: 39
                newAppMedium: 17
                newBaseCritical: 1
                newBaseHigh: 3
                newBaseInfo: 11
                newBaseLow: 39
                newBaseMedium: 17
                newCritical: 1
                newHigh: 3
                newIgnoredCritical: 1
                newIgnoredHigh: 3
                newIgnoredInfo: 11
                newIgnoredLow: 39
                newIgnoredMedium: 17
                newIgnoredOccurrencesCritical: 1
                newIgnoredOccurrencesHigh: 3
                newIgnoredOccurrencesInfo: 11
                newIgnoredOccurrencesLow: 39
                newIgnoredOccurrencesMedium: 17
                newIgnoredOccurrencesUnassigned: 0
                newIgnoredUnassigned: 0
                newInfo: 11
                newLow: 39
                newMedium: 17
                newOccurrencesCritical: 1
                newOccurrencesHigh: 3
                newOccurrencesInfo: 11
                newOccurrencesLow: 39
                newOccurrencesMedium: 17
                newOccurrencesUnassigned: 0
                newTotal: 3
                newTotalBase: 3
                newUnassigned: 0
                scannerConsoleUrl: https://app.shiftleft.io/apps/myapp/summary?scan=12345
                total: 10
                totalBase: 10
                unassigned: 0
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Not Found
                status: 404
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_issue_view
      summary: Scans#Scan issue counts
      x-summary-source: derived
  /sto/api/v2/scans/latest:
    get:
      tags:
      - Scans
      summary: Get Latest Scans
      description: Get the most recent successful scan for each product/subproduct of a target variant. A single product can emit multiple subproducts (e.g. SnykCode vs snykContainer), each of which is a distinct scan stream, so the result is an array with the latest succeeded scan per (product, subproduct). The optional productId and subproduct query params narrow the result to a single product and/or subproduct. Used by scanners needing previous scan context and by UIs to show latest scan status.
      operationId: Scans#LatestScan
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: targetVariantId
        in: query
        description: The Target Variant ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: The Target Variant ID
          example: abcdefghijkl1234567890
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdefghijkl1234567890
      - name: productId
        in: query
        description: Optional Product ID (scanner) filter. When omitted, the latest scan for every product of the target variant is returned.
        allowEmptyValue: true
        schema:
          type: string
          description: Optional Product ID (scanner) filter. When omitted, the latest scan for every product of the target variant is returned.
          example: abcdefghijkl1234567890
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdefghijkl1234567890
      - name: subproduct
        in: query
        description: Optional subproduct filter to disambiguate scans within a product (e.g. SnykCode vs snykContainer). When omitted, the latest scan for every subproduct is returned.
        allowEmptyValue: true
        schema:
          type: string
          description: Optional subproduct filter to disambiguate scans within a product (e.g. SnykCode vs snykContainer). When omitted, the latest scan for every subproduct is returned.
          example: SnykCode
        example: SnykCode
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Voluptas mollitia nisi blanditiis nesciunt exercitationem.
        example: Aut doloribus.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LatestScansResult'
              example:
                scans:
                - codeCoverage: 65.5
                  created: 1651578240
                  executionId: abcdef1234567890ghijkl
                  gitMetadata:
                    commit: '0000000000000000000000000000000000000001'
                    detectedName: Assumenda repellendus neque nostrum autem dolor.
                    detectedVariant: Quam iure corrupti non cupiditate.
                    droneCorrelated: false
                    provider: Voluptatibus consequatur.
                    pullRequestNumber: 11
                    repositoryHttp: https://github.com/harness/drone-cli.git
                    repositoryPath:
                    - Earum sed in neque nihil ut incidunt.
                    - Magnam ratione vero a.
                    repositorySsh: git@github.com:harness/drone-cli.git
                    sourceBranch: feat/shiny-object
                    targetBranch: develop
                    workspace: /harness
                  id: abcdef1234567890ghijkl
                  lastModified: 1651578240
                  metadata:
                    baseImageDigest: sha256:abcdef1234567890ghijkl
                    baseImageName: my-image
                    baseImageTag: 1.0.0
                  orgId: your_harness_org
                  pipelineId: your_harness_pipeline
                  productId: product111111111111111
                  productName: snyk
                  productPrettyName: Snyk
                  projectId: your_harness_project
                  refinementVersion: 1.0.5
                  scannerDiffKey: sast
                  stageId: stage_id
                  status: Succeeded
                  stepId: step_id
                  subproduct: owasp
                  targetVariantId: variant111111111111111
                - codeCoverage: 65.5
                  created: 1651578240
                  executionId: abcdef1234567890ghijkl
                  gitMetadata:
                    commit: '0000000000000000000000000000000000000001'
                    detectedName: Assumenda repellendus neque nostrum autem dolor.
                    detectedVariant: Quam iure corrupti non cupiditate.
                    droneCorrelated: false
                    provider: Voluptatibus consequatur.
                    pullRequestNumber: 11
                    repositoryHttp: https://github.com/harness/drone-cli.git
                    repositoryPath:
                    - Earum sed in neque nihil ut incidunt.
                    - Magnam ratione vero a.
                    repositorySsh: git@github.com:harness/drone-cli.git
                    sourceBranch: feat/shiny-object
                    targetBranch: develop
                    workspace: /harness
                  id: abcdef1234567890ghijkl
                  lastModified: 1651578240
                  metadata:
                    baseImageDigest: sha256:abcdef1234567890ghijkl
                    baseImageName: my-image
                    baseImageTag: 1.0.0
                  orgId: your_harness_org
                  pipelineId: your_harness_pipeline
                  productId: product111111111111111
                  productName: snyk
                  productPrettyName: Snyk
                  projectId: your_harness_project
                  refinementVersion: 1.0.5
                  scannerDiffKey: sast
                  stageId: stage_id
                  status: Succeeded
                  stepId: step_id
                  subproduct: owasp
                  targetVariantId: variant111111111111111
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_scan_view
components:
  schemas:
    ScanIssuesResult:
      type: object
      properties:
        issues:
          type: array
          items:
            $ref: '#/components/schemas/Issue'
          description: List of Issues
          example:
          - baseImageName: baseImageName
            baselineVariantId: abcdef1234567890ghijkl
            created: 1651578240
            currentStatus: Rejected
            details:
              package: json-schema
              version: v0.2.3
            epssLastModified: '2025-05-01'
            epssPercentile: 0.15
            epssScore: 0.035
            exemptionCoverage: PartiallyExempted
            exemptionId: abcdef1234567890ghijkl
            exemptionStatusAtScan: Rejected
            exploitability: 'yes'
            fallbackSeverityCode: High
            gracePeriodDays: 13
            harnessAugmentation:
              Et sed labore voluptatibus.: Id corporis facilis.
            id: abcdef1234567890ghijkl
            inGrace: true
            key: json-schema@0.2.3
            numOccurrences: 10
            occurrenceId: 12345
            occurrences:
            - line: '42'
            - line: '666'
            originStatus: approved
            origins:
            - app
            - base
            overrides:
            - created: 1651578240
              fieldName: severityCode
              impactedTargetId: target1111111111111111
              originalFieldValue: Low
              overrideFieldValue: Low
              overrideId: override1234
              reason: Waiting on upstream bug fix
              requesterEmail: user@harness.io
              requesterId: user111111111111111111
              requesterName: firstname lastname
            - created: 1651578240
              fieldName: severityCode
              impactedTargetId: target1111111111111111
              originalFieldValue: Low
              overrideFieldValue: Low
              overrideId: override1234
              reason: Waiting on upstream bug fix
              requesterEmail: user@harness.io
              requesterId: user111111111111111111
              requesterName: firstname lastname
            - created: 1651578240
              fieldName: severityCode
              impactedTargetId: target1111111111111111
              originalFieldValue: Low
              overrideFieldValue: Low
              overrideId: override1234
              reason: Waiting on upstream bug fix
              requesterEmail: user@harness.io
              requesterId: user111111111111111111
              requesterName: firstname lastname
            - created: 1651578240
              fieldName: severityCode
              impactedTargetId: target1111111111111111
              originalFieldValue: Low
              overrideFieldValue: Low
              overrideId: override1234
              reason: Waiting on upstream bug fix
              requesterEmail: user@harness.io
              requesterId: user111111111111111111
              requesterName: firstname lastname
            overridesAtScan:
            - created: 1651578240
              fieldName: severityCode
              impactedTargetId: target1111111111111111
              originalFieldValue: Low
              overrideFieldValue: Low
              overrideId: override1234
              reason: Waiting on upstream bug fix
              requesterEmail: user@harness.io
              requesterId: user111111111111111111
              requesterName: firstname lastname
            - created: 1651578240
[...]
