openapi: 3.2.0
info:
  title: Harness Orgs API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Orgs
paths:
  /v1/orgs/{org}/projects/{project}/dbinstancelist:
    parameters:
    - description: Organization identifier
      in: path
      name: org
      required: true
      schema:
        type: string
    - description: Project identifier
      in: path
      name: project
      required: true
      schema:
        type: string
    - description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
      in: header
      name: Harness-Account
      schema:
        type: string
    post:
      operationId: V2ListProjDbInstances
      parameters:
      - $ref: '#/components/parameters/DbOpsPageIndex'
      - $ref: '#/components/parameters/DbOpsLimit'
      - $ref: '#/components/parameters/DbOpsSearchTerm'
      - $ref: '#/components/parameters/DbOpsOrder'
      - $ref: '#/components/parameters/DbOpsSort'
      requestBody:
        $ref: '#/components/requestBodies/DBInstanceListRequest'
      responses:
        '201':
          $ref: '#/components/responses/DBInstanceListResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: List database instances
      x-stoplight:
        id: fg6az7gntxywm
      tags:
      - Orgs
  /v1/orgs/{org}/projects/{project}/dbschemalist:
    parameters:
    - description: Organization identifier
      in: path
      name: org
      required: true
      schema:
        type: string
    - description: Project identifier
      in: path
      name: project
      required: true
      schema:
        type: string
    - description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
      in: header
      name: Harness-Account
      schema:
        type: string
    post:
      operationId: V2ListProjDbSchema
      parameters:
      - $ref: '#/components/parameters/DbOpsPageIndex'
      - $ref: '#/components/parameters/DbOpsLimit'
      - $ref: '#/components/parameters/DbOpsSearchTerm'
      - $ref: '#/components/parameters/DbOpsOrder'
      - $ref: '#/components/parameters/DbOpsSort'
      requestBody:
        $ref: '#/components/requestBodies/DBSchemaFilterRequest'
      responses:
        '201':
          $ref: '#/components/responses/DBSchemaListResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: List database schemas
      x-stoplight:
        id: 6zjabgo8o3ml1
      tags:
      - Orgs
components:
  requestBodies:
    DBSchemaFilterRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DBSchemaFilterIn'
    DBInstanceListRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DBInstanceListInput'
      description: Request for listing instances where schema input is not a required property.
  parameters:
    DbOpsPageIndex:
      description: 'Pagination page number strategy: Specify the page number within the paginated collection related to the number of items on each page.'
      in: query
      name: page
      schema:
        default: 0
        format: int64
        type: integer
    DbOpsLimit:
      description: 'Pagination: Number of items to return.'
      in: query
      name: limit
      schema:
        default: 10
        maximum: 100
        type: integer
    DbOpsSearchTerm:
      allowEmptyValue: true
      description: This would be used to filter resources having attributes matching the search term.
      in: query
      name: search_term
      schema:
        type: string
    DbOpsOrder:
      description: Order on the basis of which sorting is done.
      in: query
      name: order
      schema:
        default: DESC
        enum:
        - ASC
        - DESC
        type: string
    DbOpsSort:
      description: Parameter on the basis of which sorting is done.
      in: query
      name: sort
      schema:
        default: created
        enum:
        - name
        - updated
        - created
        type: string
  schemas:
    DBInstanceListInput:
      description: Input for filtering instances in list API
      properties:
        instanceFQNs:
          description: list of '-' separated values of schema identifier and instance identifiers
          items:
            type: string
            x-stoplight:
              id: 00pgdyu11awof
          type: array
          x-stoplight:
            id: uvfrk9mlk33vq
        schemaIdentifiers:
          description: list of schema identifiers to filter instances
          items:
            type: string
            x-stoplight:
              id: 31wkmpwoswrbq
          type: array
          x-stoplight:
            id: 8t3kd4dz91anx
      title: DBInstanceListInput
      type: object
      x-stoplight:
        id: fx5xiutdaefop
    DbOpsError:
      description: Error Response
      properties:
        message:
          description: error message detail
          type: string
      required:
      - message
      title: Error Response
      type: object
      x-stoplight:
        id: 61cwtgnps2mpt
    ChangeLogScript:
      additionalProperties: false
      description: if schemaType is Script location of the changelog file after using a custom script to download
      properties:
        command:
          description: command script used to download the changelog file
          example: curl -X -o changeLog.yaml https://www.filestore.com/changeLog.yaml
          minLength: 1
          type: string
          x-stoplight:
            id: rdani02niu442
        image:
          description: The fully-qualified name (FQN) of the image
          example: plugins/image:latest
          minLength: 1
          type: string
          x-stoplight:
            id: ojq7cfe1up903
        location:
          description: location of the changelog file
          example: folder/changelog.yaml
          type: string
          x-stoplight:
            id: 8qehjmy01r5iw
        shell:
          description: shell type
          example: Sh, Bash, <+pipeline.variables.shell>
          type: string
        toml:
          description: config file for Flyway migration type
          type: string
          x-stoplight:
            id: nphvi8wa0cmuw
      required:
      - image
      - command
      - shell
      - location
      title: changeLog script
      type: object
      x-stoplight:
        id: j6ug0asalsuve
    Changelog:
      additionalProperties: false
      description: 'if schemaType is Repository location of the changelog file containing schema changes in a git repository.

        Provide connector for third-party git connectors, or repo without connector to use Harness Code Repository.

        '
      properties:
        archivePath:
          description: path excluding the repo till the archive file
          minLength: 1
          type: string
          x-stoplight:
            id: 53mqhpfa5038m
        connector:
          description: 'identifier of the harness git connector. Optional when using Harness Code Repository. Omit or set to empty string to use Harness Code Repository (requires `repo` to be set).

            '
          example: harness_git
          type: string
          x-go-type-skip-optional-pointer: true
        location:
          description: path to the change log file
          example: folder/changelog.yaml
          minLength: 1
          type: string
        repo:
          description: repo name of the git based connector when ConnectionType is Account
          example: folder/changelog.yaml
          minLength: 1
          type: string
          x-stoplight:
            id: pw3ul0rkm8xt6
        toml:
          description: config file for Flyway migration type
          type: string
          x-stoplight:
            id: ojrzuagzdfn20
      required:
      - location
      type: object
      x-stoplight:
        id: rytv7gaa34yns
    DBSchemaType:
      description: db schema type
      enum:
      - Repository
      - Script
      title: DBSchemaType
      type: string
      x-stoplight:
        id: 8x2xf0r3syqjg
    DBSchemaFilterIn:
      description: List schema body input
      properties:
        identifiers:
          description: list of schema identifiers
          items:
            type: string
            x-stoplight:
              id: nfsp4sjueo3t2
          type: array
          x-stoplight:
            id: va094q90m251a
      title: DBSchemaFilterIn
      type: object
      x-stoplight:
        id: sj7v1o7j1aoz2
    DBSchemaOut:
      description: Database Schema Response
      properties:
        changeLogScript:
          $ref: '#/components/schemas/ChangeLogScript'
        changelog:
          $ref: '#/components/schemas/Changelog'
        created:
          description: epoch seconds when the database schema was created
          format: int64
          type: integer
        identifier:
          description: identifier of the database schema
          type: string
        instanceCount:
          description: number of database instances corresponding to database schema
          format: int64
          type: integer
        migrationType:
          $ref: '#/components/schemas/MigrationType'
        name:
          description: name of the database schema
          type: string
        parentId:
          description: parentUniqueId for scope schema belongs to
          type: string
          x-stoplight:
            id: ly84xx0ojw0dw
        primaryDbInstanceId:
          description: Identifier for the primary dbInstance used for advanced feature like LLM Authoring etc.
          type: string
          x-stoplight:
            id: 2q5akpayctizx
        schemaSourceType:
          enum:
          - Git
          - Artifactory
          - Custom
          - HarnessCode
          readOnly: true
          type: string
          x-stoplight:
            id: 802m1r25ghm6l
        service:
          description: harness service corresponding to database schema
          type: string
        tags:
          additionalProperties:
            type: string
          description: tags attached to the database schema
          type: object
          x-go-type-skip-optional-pointer: true
        type:
          $ref: '#/components/schemas/DBSchemaType'
        updated:
          description: epoch seconds when the database schema was last updated
          format: int64
          type: integer
        usePercona:
          default: false
          description: if percona-toolkit is enabled
          type: boolean
          x-stoplight:
            id: dnfipv17ffs3v
      required:
      - identifier
      - name
      - created
      - instanceCount
      - type
      - parentId
      - migrationType
      - usePercona
      title: Database Schema Response
      type: object
      x-stoplight:
        id: 1y01syuq8w851
    MigrationType:
      default: Liquibase
      description: DB Migration tool type
      enum:
      - Liquibase
      - Flyway
      title: MigrationType
      type: string
      x-stoplight:
        id: jxued8v34v6x0
    DBInstanceOut:
      description: Database Instance Response
      properties:
        branch:
          description: branch where the instance is stored
          type: string
        commitSha:
          description: commit SHA to pin the changelog to a specific revision
          type: string
        connector:
          description: DB Connector
          type: string
        context:
          description: Liquibase context
          type: string
        created:
          description: epoch seconds when the database instance was created
          format: int64
          type: integer
        gitTag:
          description: Git tag to pin the changelog to a specific tagged revision
          type: string
        identifier:
          description: identifier of the database instance
          type: string
        lastAppliedTag:
          description: Most recent tag applied to the database
          type: string
        lastDeployedChangeSetTag:
          description: Tag on last deployed changeSet
          type: string
          x-stoplight:
            id: dlbvh5adtk2de
        name:
          description: name of the database instance
          type: string
        schemaId:
          type: string
          x-stoplight:
            id: 2n2zy2gxgmycn
        schemaIdentifier:
          type: string
          x-stoplight:
            id: delov0umr51kp
        substituteProperties:
          additionalProperties:
            type: string
            x-stoplight:
              id: lhgrpfvhx5bfk
          description: Placeholder replacement in migration scripts.
          type: object
          x-stoplight:
            id: npmul0cgghe3c
        tags:
          additionalProperties:
            type: string
          description: tags attached to the database instance
          type: object
          x-go-type-skip-optional-pointer: true
        toOnboard:
          type: boolean
          x-stoplight:
            id: y8hnyznezal4i
        updated:
          description: epoch seconds when the database instance was last updated
          format: int64
          type: integer
      required:
      - identifier
      - name
      - created
      - connector
      - lastDeployedChangeSetTag
      title: Database Instance Response
      type: object
      x-stoplight:
        id: qcmn5nllz3a1z
  responses:
    ErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DbOpsError'
      description: Error Response body
    DBSchemaListResponse:
      content:
        application/json:
          schema:
            description: Response body for List Schema
            items:
              $ref: '#/components/schemas/DBSchemaOut'
            type: array
      description: Response body for List Database Schema
      headers:
        X-Page-Number:
          description: Page number in Paginated response.
          schema:
            type: integer
        X-Page-Size:
          description: Maximum page size in Paginated response.
          schema:
            type: integer
        X-Total-Elements:
          description: Total number of elements returned in Paginated response.
          schema:
            type: integer
    DBInstanceListResponse:
      content:
        application/json:
          schema:
            description: Response body for List Schema
            items:
              $ref: '#/components/schemas/DBInstanceOut'
            type: array
      description: Response body for List Database Schema
      headers:
        X-Page-Number:
          description: Page number in Paginated response.
          schema:
            type: integer
        X-Page-Size:
          description: Maximum page size in Paginated response.
          schema:
            type: integer
        X-Total-Elements:
          description: Total number of elements returned in Paginated response.
          schema:
            type: integer
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
