openapi: 3.2.0
info:
  title: Harness Target Groups API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- description: APIs to create and manage Feature Flag Target Groups
  name: Target Groups
paths:
  /cf/admin/segments:
    get:
      description: Returns Target Group details for the given account
      operationId: GetAllSegments
      parameters:
      - $ref: '#/components/parameters/accountQueryParam'
      - $ref: '#/components/parameters/orgQueryParam'
      - $ref: '#/components/parameters/environmentQueryParam'
      - $ref: '#/components/parameters/projectQueryParam'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/sortOrder'
      - $ref: '#/components/parameters/sortByField'
      - $ref: '#/components/parameters/nameQueryParam'
      - $ref: '#/components/parameters/identifierQueryParam'
      - $ref: '#/components/parameters/segmentRulesV2QueryParam'
      responses:
        '200':
          $ref: '#/components/responses/SegmentsResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Returns all Target Groups
      tags:
      - Target Groups
    post:
      description: Creates a Target Group in the given Project
      operationId: CreateSegment
      parameters:
      - $ref: '#/components/parameters/accountQueryParam'
      - $ref: '#/components/parameters/orgQueryParam'
      requestBody:
        $ref: '#/components/requestBodies/SegmentRequest'
      responses:
        '201':
          description: Created
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Creates a Target Group
      tags:
      - Target Groups
  /cf/admin/segments/{identifier}:
    delete:
      description: Deletes a Target Group for the given ID
      operationId: DeleteSegment
      parameters:
      - $ref: '#/components/parameters/accountQueryParam'
      - $ref: '#/components/parameters/orgQueryParam'
      - $ref: '#/components/parameters/identifier'
      - $ref: '#/components/parameters/projectQueryParam'
      - $ref: '#/components/parameters/environmentQueryParam'
      responses:
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Deletes a Target Group
      tags:
      - Target Groups
    get:
      description: Returns Target Group details for the given ID
      operationId: GetSegment
      parameters:
      - $ref: '#/components/parameters/accountQueryParam'
      - $ref: '#/components/parameters/orgQueryParam'
      - $ref: '#/components/parameters/identifier'
      - $ref: '#/components/parameters/projectQueryParam'
      - $ref: '#/components/parameters/environmentQueryParam'
      - $ref: '#/components/parameters/segmentRulesV2QueryParam'
      responses:
        '200':
          $ref: '#/components/responses/SegmentResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Returns Target Group details for the given identifier
      tags:
      - Target Groups
    patch:
      description: Updates a Target Group for the given identifier
      operationId: PatchSegment
      parameters:
      - $ref: '#/components/parameters/accountQueryParam'
      - $ref: '#/components/parameters/orgQueryParam'
      - $ref: '#/components/parameters/projectQueryParam'
      - $ref: '#/components/parameters/environmentQueryParam'
      - $ref: '#/components/parameters/identifier'
      requestBody:
        $ref: '#/components/requestBodies/SegmentPatchRequest'
      responses:
        '200':
          $ref: '#/components/responses/SegmentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Updates a Target Group
      tags:
      - Target Groups
  /cf/admin/segments/{identifier}/available_flags:
    get:
      description: Returns the list of Feature Flags that the Target Group can be added to. This list will exclude any Feature Flag that the Target Group is already part of.
      operationId: GetAvailableFlagsForSegment
      parameters:
      - $ref: '#/components/parameters/identifier'
      - $ref: '#/components/parameters/accountQueryParam'
      - $ref: '#/components/parameters/orgQueryParam'
      - $ref: '#/components/parameters/projectQueryParam'
      - $ref: '#/components/parameters/environmentQueryParam'
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/safSortOrder'
      - $ref: '#/components/parameters/safSortByField'
      - $ref: '#/components/parameters/flagNameQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/AvailableFlagResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Returns Feature Flags that are available to be added to the given Target Group
      tags:
      - Target Groups
  /cf/admin/segments/{identifier}/flags:
    get:
      description: Returns the details of a Feature Flag in a Target Group for the given identifier
      operationId: GetSegmentFlags
      parameters:
      - $ref: '#/components/parameters/accountQueryParam'
      - $ref: '#/components/parameters/orgQueryParam'
      - $ref: '#/components/parameters/identifier'
      - $ref: '#/components/parameters/projectQueryParam'
      - $ref: '#/components/parameters/environmentQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/SegmentFlagsResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Returns Feature Flags in a Target Group
      tags:
      - Target Groups
components:
  schemas:
    SegmentFlag:
      description: Details of a Feature Flag that has been included in a Target Group (Segment)
      properties:
        description:
          description: A description of the feature flag
          type: string
        environment:
          description: The environment identifier for the feature flag
          type: string
        identifier:
          description: The identifier of the feature flag
          example: simple-bool
          type: string
        name:
          description: The name of the feature flag
          example: Simple Bool
          type: string
        project:
          description: The project identifier for the feature flag
          type: string
        ruleId:
          description: The unique identifier for this rule
          type: string
        type:
          description: How the the flag has been included, either directly or via a custom rule
          enum:
          - DIRECT
          - CONDITION
          type: string
        variation:
          description: The identifier for the variation of the flag that should be served to members of the group
          type: string
      required:
      - identifier
      - type
      - project
      - environment
      - name
      - variation
      type: object
    GitSyncPatchOperation:
      properties:
        comment:
          description: A comment explaining the reason for this patch operation
          example: This is a comment string
          type: string
        executionTime:
          description: Time of execution in unix epoch milliseconds when the scheduled changes will be applied
          type: integer
        gitDetails:
          $ref: '#/components/schemas/CfGitDetails'
        instructions:
          $ref: '#/components/schemas/PatchInstruction'
      required:
      - instructions
      type: object
    Pagination:
      properties:
        itemCount:
          description: The total number of items
          example: 1
          type: integer
        pageCount:
          description: The total number of pages
          example: 100
          type: integer
        pageIndex:
          description: The current page
          example: 0
          type: integer
        pageSize:
          description: The number of items per page
          example: 1
          type: integer
        version:
          description: The version of this object.  The version will be incremented each time the object is modified
          example: 5
          type: integer
      required:
      - pageCount
      - itemCount
      - pageSize
      - pageIndex
      type: object
    Segments:
      allOf:
      - $ref: '#/components/schemas/Pagination'
      - properties:
          segments:
            items:
              $ref: '#/components/schemas/Segment'
            type: array
      description: A list of Target Groups (Segments)
      type: object
    PatchInstruction:
      description: A list of Patch Instructions
      items:
        properties:
          kind:
            description: The name of the modification you would like to perform on a resource.
            example: enableFeatureFlag
            type: string
          parameters:
            example:
              ruleId: TestRule
              variationID: TestVariation
            type: object
        required:
        - kind
        - parameters
      type: array
    CfError:
      properties:
        code:
          description: The http error code
          example: 404
          type: string
        details:
          description: Additional details about the error
          type: object
        message:
          description: The reason the request failed
          example: Error retrieving projects, organization 'default_org' does not exist
          type: string
      required:
      - code
      - message
      type: object
    Tag:
      description: A Tag object used to tag feature flags - consists of name and identifier
      properties:
        identifier:
          description: The identifier of the tag
          example: feature-flag-tag-1
          type: string
        name:
          description: The name of the tag
          example: feature-flag-tag-1
          type: string
      required:
      - name
      - identifier
      type: object
    FlagBasicInfo:
      description: A flag Identifier and name
      properties:
        identifier:
          description: The flag identifier
          example: test-flag
          type: string
        name:
          description: The user friendly flag name
          example: Test Flag
          type: string
      required:
      - identifier
      - name
      type: object
    FlagBasicInfos:
      allOf:
      - $ref: '#/components/schemas/Pagination'
      - properties:
          featureFlags:
            items:
              $ref: '#/components/schemas/FlagBasicInfo'
            type: array
      description: A list of Flags
      type: object
    CfGitDetails:
      description: The commit message to use as part of a gitsync operation
      properties:
        commitMsg:
          description: A description of the change or action
          example: Turning on flag test-flag for production
          type: string
      required:
      - commitMsg
      type: object
    Segment:
      description: A Target Group (Segment) response
      properties:
        createdAt:
          description: The data and time in milliseconds when the group was created
          format: int64
          type: integer
        environment:
          description: The environment this target group belongs to
          example: Production
          type: string
        excluded:
          description: A list of Targets who are excluded from this target group
          items:
            $ref: '#/components/schemas/Target'
          type: array
        identifier:
          description: Unique identifier for the target group.
          type: string
        included:
          description: A list of Targets who belong to this target group
          items:
            $ref: '#/components/schemas/Target'
          type: array
        modifiedAt:
          description: The data and time in milliseconds when the group was last modified
          format: int64
          type: integer
        name:
          description: Name of the target group.
          example: Beta Testers
          type: string
        rules:
          items:
            $ref: '#/components/schemas/Clause'
          type: array
        servingRules:
          description: An array of rules that can cause a user to be included in this segment.
          items:
            $ref: '#/components/schemas/GroupServingRule'
          type: array
        tags:
          description: Tags for this target group
          items:
            $ref: '#/components/schemas/Tag'
          type: array
        version:
          description: The version of this group.  Each time it is modified the version is incremented
          example: 1
          format: int64
          type: integer
      required:
      - identifier
      - name
      type: object
    GroupServingRule:
      description: The rule used to determine what variation to serve to a target
      properties:
        clauses:
          description: A list of clauses to use in the rule
          items:
            $ref: '#/components/schemas/Clause'
          type: array
        priority:
          description: The rules priority relative to other rules.  The rules are evaluated in order with 1 being the highest
          example: 1
          type: integer
        ruleId:
          description: The unique identifier for this rule
          type: string
      required:
      - ruleId
      - clauses
      - priority
      type: object
    Target:
      description: A Target object
      properties:
        account:
          description: The account ID that the target belongs to
          example: abcXDdffdaffd
          type: string
        anonymous:
          description: Indicates if this target is anonymous
          type: boolean
        attributes:
          description: a JSON representation of the attributes for this target
          example:
            age: 20
            location: Belfast
          type: object
        createdAt:
          description: The date and time in milliseconds when this Target was created
          format: int64
          type: integer
        environment:
          description: The identifier for the environment that the target belongs to
          type: string
        identifier:
          description: The unique identifier for this target
          example: john-doe
          type: string
        name:
          description: The name of this Target
          example: John Doe
          type: string
        org:
          description: The identifier for the organization that the target belongs to
          type: string
        project:
          description: The identifier for the project that this target belongs to
          type: string
        segments:
          description: A list of Target Groups (Segments) that this Target belongs to
          items:
            $ref: '#/components/schemas/Segment'
          type: array
      required:
      - identifier
      - name
      - environment
      - project
      - account
      - org
      type: object
    Clause:
      description: A clause describes what conditions are used to evaluate a flag
      properties:
        attribute:
          description: The attribute to use in the clause.  This can be any target attribute
          example: identifier
          type: string
        id:
          description: The unique ID for the clause
          example: 32434243
          type: string
        negate:
          description: Is the operation negated?
          example: false
          type: boolean
        op:
          description: The type of operation such as equals, starts_with, contains
          example: starts_with
          type: string
        values:
          description: The values that are compared against the operator
          items:
            type: string
          type: array
      required:
      - attribute
      - op
      - negate
      - values
      type: object
  responses:
    Conflict:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CfError'
      description: The specified resource already exists
    BadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CfError'
      description: Bad request
    SegmentResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Segment'
      description: OK
    Unauthenticated:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CfError'
      description: Unauthenticated
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CfError'
      description: Unauthorized
    AvailableFlagResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FlagBasicInfos'
      description: OK
    InternalServerError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CfError'
      description: Internal server error
    SegmentsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Segments'
      description: OK
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CfError'
      description: The specified resource was not found
    SegmentFlagsResponse:
      content:
        application/json:
          schema:
            items:
              $ref: '#/components/schemas/SegmentFlag'
            type: array
      description: OK
  parameters:
    safSortByField:
      description: SortByField
      in: query
      name: sortByField
      schema:
        enum:
        - name
        type: string
    accountQueryParam:
      description: Account Identifier
      examples:
        default:
          value: default
      in: query
      name: accountIdentifier
      required: true
      schema:
        type: string
    pageSize:
      description: PageSize
      in: query
      name: pageSize
      schema:
        type: integer
    sortByField:
      description: SortByField
      in: query
      name: sortByField
      schema:
        enum:
        - name
        - identifier
        - archived
        - kind
        - modifiedAt
        type: string
    flagNameQueryParam:
      description: Identifier of the feature flag
      in: query
      name: flagNameIdentifier
      schema:
        type: string
    sortOrder:
      description: SortOrder
      in: query
      name: sortOrder
      schema:
        enum:
        - ASCENDING
        - DESCENDING
        type: string
    environmentQueryParam:
      allowEmptyValue: true
      description: Environment Identifier
      in: query
      name: environmentIdentifier
      required: true
      schema:
        type: string
    identifierQueryParam:
      description: Identifier of the field
      in: query
      name: identifier
      schema:
        type: string
    orgQueryParam:
      description: Organization Identifier
      examples:
        default:
          value: default_org
      in: query
      name: orgIdentifier
      required: true
      schema:
        type: string
    segmentRulesV2QueryParam:
      allowEmptyValue: true
      description: When set to rules=v2 will return AND rule compatible serving_rules field. When not set or set to any other value will return old rules field only compatible with OR rules.
      in: query
      name: rules
      schema:
        type: string
    nameQueryParam:
      allowEmptyValue: true
      description: Name of the field
      in: query
      name: name
      schema:
        type: string
    projectQueryParam:
      description: The Project identifier
      in: query
      name: projectIdentifier
      required: true
      schema:
        type: string
    safSortOrder:
      description: SortOrder
      in: query
      name: sortOrder
      schema:
        enum:
        - ASCENDING
        - DESCENDING
        type: string
    identifier:
      description: Unique identifier for the object in the API.
      in: path
      name: identifier
      required: true
      schema:
        type: string
    pageNumber:
      description: PageNumber
      in: query
      name: pageNumber
      schema:
        type: integer
  requestBodies:
    SegmentRequest:
      content:
        application/json:
          schema:
            properties:
              environment:
                type: string
              excluded:
                items:
                  type: string
                type: array
              identifier:
                example: beta-testers
                type: string
              included:
                items:
                  type: string
                type: array
              name:
                description: Name of the target segment.
                example: Beta Testers
                type: string
              project:
                type: string
              rules:
                description: An array of rules that can cause a user to be included in this segment.
                items:
                  $ref: '#/components/schemas/Clause'
                type: array
              servingRules:
                description: An array of rules that can cause a user to be included in this segment.
                items:
                  $ref: '#/components/schemas/GroupServingRule'
                type: array
              tags:
                items:
                  $ref: '#/components/schemas/Tag'
                type: array
            required:
            - name
            - environment
            - project
            type: object
      required: true
    SegmentPatchRequest:
      content:
        application/json:
          example:
            instructions:
            - kind: addToIncludeList
              parameters:
                targets:
                - target1
                - target2
            - kind: removeFromIncludeList
              parameters:
                targets:
                - target1
                - target2
            - kind: addToExcludeList
              parameters:
                targets:
                - target3
            - kind: removeFromExcludeList
              parameters:
                targets:
                - target4
                - target5
            - kind: addClause
              parameters:
                attribute: email
                negate: false
                op: endsWith
                values:
                - gmail.com
            - kind: updateClause
              parameters:
                attribute: email
                clauseID: test-clause-ID
                op: equals
                value:
                - testuser@testcompany.com
            - kind: removeClause
              parameters:
                clauseID: test-clause-ID
          schema:
            $ref: '#/components/schemas/GitSyncPatchOperation'
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
