openapi: 3.2.0
info:
  title: Harness Groups API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Groups
  description: Groups
  x-displayName: Groups
paths:
  /v1/groups/{group-identifier}:
    parameters:
    - schema:
        type: string
      name: group-identifier
      in: path
      required: true
    get:
      summary: Get Group Details
      responses:
        '200':
          $ref: '#/components/responses/GroupResponse'
      operationId: get-group-details
      x-stoplight:
        id: nby8lq3g0vg27
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      x-internal: false
      tags:
      - Groups
      security:
      - x-api-key: []
    delete:
      summary: Delete a group
      responses:
        '204':
          description: No Content
      operationId: delete-group
      x-stoplight:
        id: up9xj9134iolf
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      x-internal: false
      tags:
      - Groups
      security:
      - x-api-key: []
  /v1/groups:
    parameters: []
    get:
      summary: Get all groups for account
      responses:
        '200':
          $ref: '#/components/responses/GroupResponseList'
      operationId: get-all-groups-for-account
      x-stoplight:
        id: qi2aylcdl7t09
      x-internal: false
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      tags:
      - Groups
      security:
      - x-api-key: []
    post:
      summary: Save a group
      responses:
        '200':
          $ref: '#/components/responses/GroupResponse'
      operationId: save-group
      x-stoplight:
        id: c6hf0g9o84pnc
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      requestBody:
        $ref: '#/components/requestBodies/GroupRequest'
      x-internal: false
      tags:
      - Groups
      security:
      - x-api-key: []
    put:
      summary: Update Groups
      responses:
        '200':
          $ref: '#/components/responses/GroupResponseList'
      operationId: update-groups
      x-stoplight:
        id: eaxiri07lz2kj
      x-internal: false
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      requestBody:
        $ref: '#/components/requestBodies/GroupRequestList'
      tags:
      - Groups
      security:
      - x-api-key: []
  /v1/groups/yaml:
    parameters: []
    get:
      summary: Get Groups Yaml
      responses:
        '200':
          $ref: '#/components/responses/GroupsYamlResponse'
      operationId: get-groups-yaml
      x-stoplight:
        id: wbu7fk4liwa52
      x-internal: false
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      tags:
      - Groups
      security:
      - x-api-key: []
  /v1/groups/workflows:
    parameters: []
    get:
      summary: Get workflows for account
      tags:
      - Groups
      security:
      - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/WorkflowsInfoResponse'
      operationId: get-workflows-for-account
      x-stoplight:
        id: czv3pmqlvtng4
      x-internal: false
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      - $ref: '#/components/parameters/Page1'
      - $ref: '#/components/parameters/Limit5'
components:
  schemas:
    WorkflowsInfoResponse:
      title: WorkflowsInfoResponse
      x-stoplight:
        id: glueaqvly22p3
      type: object
      properties:
        workflows:
          type: array
          x-stoplight:
            id: dhf5s9geavdi2
          items:
            $ref: '#/components/schemas/WorkflowsInfo'
    GroupRequest:
      title: GroupRequest
      x-stoplight:
        id: uueeep23y7awo
      type: object
      properties:
        group:
          $ref: '#/components/schemas/Group'
    GroupResponse:
      title: GroupResponse
      x-stoplight:
        id: ogke44btl75gm
      type: object
      properties:
        group:
          $ref: '#/components/schemas/Group'
    Group:
      title: Group
      x-stoplight:
        id: jraoj2djmfey2
      type: object
      required:
      - name
      - identifier
      properties:
        name:
          type: string
          x-stoplight:
            id: ecm59972w2ose
        description:
          type: string
          x-stoplight:
            id: oztyyv8qf5t61
        icon:
          type: string
          x-stoplight:
            id: w18j21yz63srs
        workflows:
          type: array
          x-stoplight:
            id: lybolo6pxkrni
          items:
            $ref: '#/components/schemas/WorkflowsInfo'
        order:
          type: integer
          x-stoplight:
            id: 9y93xwkkr90ir
        identifier:
          type: string
          x-stoplight:
            id: qvx6zkkojf3z1
    GroupsYamlResponse:
      title: GroupYaml
      x-stoplight:
        id: d862zg9wbkg0t
      type: object
      properties:
        yaml:
          type: string
          x-stoplight:
            id: l0fjq91pgtgl5
    WorkflowsInfo:
      title: WorkflowsInfo
      x-stoplight:
        id: 866tz63x57k0x
      type: object
      description: Model for storing the workflows info
      required:
      - name
      - kind
      - owner
      - uid
      - type
      properties:
        name:
          type: string
          x-stoplight:
            id: vnbg0l0j8mgza
        description:
          type: string
          x-stoplight:
            id: hknsgi5o004yz
        kind:
          type: string
          x-stoplight:
            id: 5zns4zkrymy84
        owner:
          type: string
          x-stoplight:
            id: fiu5eamaodjbe
        uid:
          type: string
          x-stoplight:
            id: zh1vswqa2gpfu
        title:
          type: string
          x-stoplight:
            id: gf19zc78mgkhc
        type:
          type: string
          x-stoplight:
            id: v9nvaq6hcgwc5
        icon:
          type: string
          x-stoplight:
            id: wf2635s4o4q3e
  parameters:
    Page1:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: null
      description: "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t"
    Limit5:
      name: limit
      in: query
      required: false
      schema:
        default: null
        type: integer
      description: 'Pagination: Number of items to return'
    AccountHeader5:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to.
  responses:
    GroupResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GroupResponse'
    WorkflowsInfoResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WorkflowsInfoResponse'
        application/yaml:
          schema:
            $ref: '#/components/schemas/WorkflowsInfoResponse'
      headers:
        X-Total-Elements:
          schema:
            type: string
          description: Total number of elements returned in Paginated response.
        X-Page-Number:
          schema:
            type: string
          description: Page number in Paginated response.
        X-Page-Size:
          schema:
            type: string
          description: Maximum page size in Paginated response.
    GroupResponseList:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/GroupResponse'
        application/yaml:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/GroupResponse'
    GroupsYamlResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GroupsYamlResponse'
        application/yaml:
          schema:
            $ref: '#/components/schemas/GroupsYamlResponse'
  requestBodies:
    GroupRequestList:
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/GroupRequest'
    GroupRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GroupRequest'
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
