openapi: 3.2.0
info:
  title: Harness Chaos Components API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Chaos Components
paths:
  /gateway/chaos/manager/api/v3/integrations/get-chaos-component-variable:
    get:
      description: Get chaos component variables (faults, probes, actions)
      tags:
      - Chaos Components
      summary: Get chaos component variables
      operationId: getChaosComponentVariable
      parameters:
      - description: account id to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - name: hubReference
        in: query
        schema:
          type: string
      - name: identifier
        in: query
        schema:
          type: string
      - description: organization id to access the resource
        name: organizationIdentifier
        in: query
        schema:
          type: string
      - description: project id to access the resource
        name: projectIdentifier
        in: query
        schema:
          type: string
      - x-enum-varnames:
        - Fault
        - Probe
        - Action
        name: type
        in: query
        schema:
          type: string
          enum:
          - Fault
          - Probe
          - Action
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaoscomponents.GetChaosComponentVariableResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/v3/integrations/run-chaos-component:
    post:
      description: Run chaos component (faults, probes, actions)
      tags:
      - Chaos Components
      summary: Run chaos component
      operationId: runChaosComponent
      parameters:
      - description: account id to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - name: hubReference
        in: query
        schema:
          type: string
      - description: organization id to access the resource
        name: organizationIdentifier
        in: query
        schema:
          type: string
      - name: pipelineExecutionId
        in: query
        schema:
          type: string
      - name: pipelineIdentifier
        in: query
        schema:
          type: string
      - description: project id to access the resource
        name: projectIdentifier
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chaoscomponents.RunChaosComponentRequest'
        description: run chaos component request body
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaoscomponents.RunChaosComponentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
components:
  schemas:
    chaoscomponents.RunChaosComponentResponseData:
      type: object
      properties:
        error:
          type: string
        logKeys:
          type: array
          items:
            type: string
        notifyId:
          type: string
        units:
          type: array
          items:
            type: string
    api.RestError:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/api.ResponseErrorCode'
        description:
          type: string
        message:
          type: string
    template.Variable:
      type: object
      required:
      - name
      - value
      properties:
        allowedValues:
          type: array
          items: {}
        category:
          $ref: '#/components/schemas/template.InputCategory'
        default: {}
        description:
          type: string
        name:
          type: string
        path:
          type: string
        required:
          type: boolean
        stringify:
          type: boolean
        tags:
          type: array
          items:
            type: string
        tooltipId:
          type: string
        type:
          $ref: '#/components/schemas/template.InputType'
        validator:
          type: string
        value: {}
    chaoscomponents.UserMetaData:
      type: object
      properties:
        email:
          type: string
        name:
          type: string
        userName:
          type: string
    chaoscomponents.RunChaosComponentRequest:
      type: object
      properties:
        duration:
          type: string
        identity:
          type: string
        infraReference:
          type: string
        runtimeInputs:
          $ref: '#/components/schemas/template.ChaosComponentInputsetSpec'
        type:
          $ref: '#/components/schemas/chaoscomponent.ChaosComponentType'
        userMetaData:
          $ref: '#/components/schemas/chaoscomponents.UserMetaData'
    chaoscomponents.GetChaosComponentVariableResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/chaoscomponents.GetChaosComponentVariableData'
    template.ChaosComponentInputsetSpec:
      type: object
      properties:
        tasks:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/template.VariableMinimum'
    template.InputCategory:
      type: string
      enum:
      - FaultTarget
      - FaultTunable
      - TargetInfra
      - ExperimentTunable
      - ActionProperties
      - ProbeProperties
      - RunProperties
      - FaultAuthentication
      x-enum-varnames:
      - CategoryFaultTarget
      - CategoryFaultTunable
      - CategoryTargetInfra
      - CategoryExperimentTunable
      - CategoryActionProperties
      - CategoryProbeProperties
      - CategoryRunProperties
      - CategoryFaultAuthentication
    template.VariableMinimum:
      type: object
      required:
      - name
      - value
      properties:
        name:
          type: string
        value: {}
    template.InputType:
      type: string
      enum:
      - String
      - Integer
      - Boolean
      - Number
      - SecretFile
      - SecretText
      x-enum-varnames:
      - StringInput
      - IntegerInput
      - BooleanInput
      - NumberInput
      - SecretFileInput
      - SecretTextInput
    chaoscomponents.RunChaosComponentResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/chaoscomponents.RunChaosComponentResponseData'
        status:
          type: string
    chaoscomponents.GetChaosComponentVariableData:
      type: object
      properties:
        name:
          type: string
        variables:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
    chaoscomponent.ChaosComponentType:
      type: string
      enum:
      - Fault
      - Probe
      - Action
      x-enum-varnames:
      - Fault
      - Probe
      - Action
    api.ResponseErrorCode:
      type: string
      enum:
      - PIPELINE_NOT_FOUND
      x-enum-varnames:
      - PipelineNotFound
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
