openapi: 3.2.0
info:
  title: Harness Org Connector API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Org Connector
  description: This contains APIs for Organization-scoped Connectors.
  x-displayName: Organization Connectors [Beta]
paths:
  /v1/orgs/{org}/connectors:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    post:
      summary: Create a Connector
      operationId: create-org-scoped-connector
      responses:
        '201':
          $ref: '#/components/responses/ConnectorResponse'
      description: Creates a new connector
      parameters:
      - $ref: '#/components/parameters/AccountHeader1'
      security:
      - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/ConnectorRequest'
      tags:
      - Org Connector
    get:
      summary: List connectors
      operationId: get-org-scoped-connectors
      responses:
        '200':
          $ref: '#/components/responses/ConnectorListResponse'
      description: Retrieves the information of the connectors.
      tags:
      - Org Connector
      parameters:
      - schema:
          type: boolean
          default: false
        in: query
        name: recursive
        description: 'Expand current scope to include all child scopes '
      - $ref: '#/components/parameters/SearchTerm2'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit2'
      - $ref: '#/components/parameters/Sort2'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/AccountHeader1'
      security:
      - x-api-key: []
      x-internal: true
  /v1/orgs/{org}/connectors/{connector}:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    - schema:
        type: string
      name: connector
      in: path
      required: true
      description: Connector identifier
    get:
      summary: Retrieve a connector
      operationId: get-org-scoped-connector
      responses:
        '200':
          $ref: '#/components/responses/ConnectorResponse'
      description: Retrieves the information of the connector with the matching connector identifier. Connector types supported are GIT, ARTIFACTORY, APP_DYNAMICS and AZURE.
      tags:
      - Org Connector
      parameters:
      - $ref: '#/components/parameters/AccountHeader1'
      security:
      - x-api-key: []
    put:
      summary: Update a connector
      operationId: update-org-scoped-connector
      responses:
        '200':
          $ref: '#/components/responses/ConnectorResponse'
      description: Updates the information of the secret with the matching secret identifier.
      parameters:
      - $ref: '#/components/parameters/AccountHeader1'
      requestBody:
        $ref: '#/components/requestBodies/ConnectorRequest'
      tags:
      - Org Connector
      security:
      - x-api-key: []
    delete:
      summary: Delete a connector
      operationId: delete-org-scoped-connector
      responses:
        '200':
          description: OK
      description: Deletes the information of the connector with the matching connector identifier. Connector types supported are GIT, ARTIFACTORY, APP_DYNAMICS and AZURE.
      tags:
      - Org Connector
      parameters:
      - $ref: '#/components/parameters/AccountHeader1'
      security:
      - x-api-key: []
  /v1/orgs/{org}/connectors/{connector}/test-connection:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    - schema:
        type: string
      name: connector
      in: path
      required: true
      description: Connector identifier
    get:
      summary: Test a connector
      operationId: test-org-scoped-connector
      responses:
        '200':
          $ref: '#/components/responses/ConnectorTestConnectionResponse'
      description: Tests connection of the connector with the matching connector identifier.
      tags:
      - Org Connector
      parameters:
      - $ref: '#/components/parameters/AccountHeader1'
      security:
      - x-api-key: []
components:
  schemas:
    ConnectorConnectivityDetail:
      title: ConnectorConnectivityDetail
      type: object
      description: This has details of the connectivity status of the Connector.
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - PARTIAL
          - FAILURE
          - UNKNOWN
          description: Connectivity status of a Connector
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ConnectorTestConnectionErrorDetail'
          description: List of errors and their details
        error_summary:
          type: string
          description: Summary of errors
        tested_at:
          type: integer
          format: int64
          description: Time at which Test Connection was completed
        connected_at:
          type: integer
          format: int64
          description: This is the last time at which the Connector was successfully connected
    ConnectorSpec:
      title: ConnectorSpec
      type: object
      description: Details of the connector defined in Harness
      required:
      - type
      discriminator:
        propertyName: type
        mapping:
          GitHttp: '#/components/schemas/GitHttpConnectorSpec'
          GitHttpEncrypted: '#/components/schemas/GitHttpEncryptedConnectorSpec'
          GitSsh: '#/components/schemas/GitSshConnectorSpec'
          Appdynamics: '#/components/schemas/AppdynamicsConnectorSpec'
          AppdynamicsClientId: '#/components/schemas/AppdynamicsClientIdConnectorSpec'
          Artifactory: '#/components/schemas/ArtifactoryConnectorSpec'
          ArtifactoryEncrypted: '#/components/schemas/ArtifactoryEncryptedConnectorSpec'
          ArtifactoryAnonymous: '#/components/schemas/ArtifactoryAnonymousConnectorSpec'
          AzureClientSecretKey: '#/components/schemas/AzureClientSecretKeyConnectorSpec'
          AzureClientCertificate: '#/components/schemas/AzureClientCertificateConnectorSpec'
          AzureInheritFromDelegateUserAssignedManagedIdentity: '#/components/schemas/AzureInheritFromDelegateUserAssignedManagedIdentityConnectorSpec'
          AzureInheritFromDelegateSystemAssignedManagedIdentity: '#/components/schemas/AzureInheritFromDelegateSystemAssignedManagedIdentityConnectorSpec'
      properties:
        type:
          type: string
          enum:
          - GitHttp
          - GitHttpEncrypted
          - GitSsh
          - Appdynamics
          - AppdynamicsClientId
          - Artifactory
          - ArtifactoryEncrypted
          - ArtifactoryAnonymous
          - AzureClientSecretKey
          - AzureClientCertificate
          - AzureInheritFromDelegateUserAssignedManagedIdentity
          - AzureInheritFromDelegateSystemAssignedManagedIdentity
          description: This specifies the type of connector
    ConnectorTestConnectionResponse:
      title: ConnectorTestConnectionResponse
      type: object
      description: This has test connection details for the Connector defined in Harness.
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - PARTIAL
          - FAILURE
          - UNKNOWN
          description: Connectivity status of a Connector
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ConnectorTestConnectionErrorDetail'
        error_summary:
          type: string
          description: Summary of errors
        tested_at:
          type: integer
          format: int64
          description: Time at which Test Connection was completed
        delegate_id:
          type: string
          description: ID of Delegate on which Test Connection is executed
    ConnectorTestConnectionErrorDetail:
      title: ConnectorTestConnectionErrorDetail
      type: object
      description: Connector test connection errors and their details.
      properties:
        reason:
          type: string
          description: Reason of test connection error
        message:
          type: string
          description: Test connection error message
        code:
          type: integer
          description: Test connection error code
    Connector:
      type: object
      properties:
        name:
          type: string
          description: Connector name
          pattern: ^[0-9a-zA-Z-_ ]{0,127}$
        identifier:
          type: string
          minLength: 1
          pattern: ^[a-zA-Z_][0-9a-zA-Z_$]{0,127}$
          description: Connector identifier
          maxLength: 128
        description:
          type: string
          description: Connector description
        org:
          type: string
          description: Organization identifier for connector
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$
        project:
          type: string
          description: Project identifier for connector
          pattern: ^[a-zA-Z_][0-9a-zA-Z-_ ]{0,127}$
        tags:
          type: object
          additionalProperties:
            type: string
          description: Connector tags
        spec:
          $ref: '#/components/schemas/ConnectorSpec'
      required:
      - name
      - identifier
      - spec
    ConnectorResponse:
      title: ConnectorResponse
      type: object
      description: Connector response model
      properties:
        connector:
          $ref: '#/components/schemas/Connector'
        created:
          type: integer
          format: int64
          description: Creation timestamp for the connector
        updated:
          type: integer
          format: int64
          description: Updated timestamp for the connector
        status:
          $ref: '#/components/schemas/ConnectorConnectivityDetail'
        harness_managed:
          type: boolean
          description: This indicates if this Connector is managed by Harness or not. If True, Harness can manage and modify this Connector.
        governance_metadata:
          type: object
          description: Governance metadata information
    ConnectorRequest:
      type: object
      properties:
        connector:
          $ref: '#/components/schemas/Connector'
      required:
      - connector
  parameters:
    OrgPathParam:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Identifier field of the organization the resource is scoped to
    AccountHeader1:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to.
    Sort2:
      name: sort
      in: query
      required: false
      schema:
        type: string
        enum:
        - name
        - identifier
        - created
        - updated
      description: Parameter on the basis of which sorting is done.
    Order:
      name: order
      in: query
      required: false
      schema:
        type: string
        enum:
        - ASC
        - DESC
      description: Order on the basis of which sorting is done.
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t"
    SearchTerm2:
      name: search_term
      in: query
      required: false
      schema:
        type: string
      description: This would be used to filter resources having attributes matching with search term.
    Limit2:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 30
        maximum: 1000
      description: Number of items to return per page.
  responses:
    ConnectorResponse:
      description: Connector response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConnectorResponse'
          examples:
            example-connector-response-json:
              value:
                connector:
                  name: example_connector
                  identifier: example_connector
                  org: default
                  project: example_project
                  tags:
                    property1: example_connector
                  description: example_connector
                  spec:
                    type: GitHttp
                    url: https://github.com/example/example-repo.git
                    branch: example_branch
                    connection_type: Repo
                    username: git-http-user
                    password_ref: account.git-http-password
                created: 1234567890
                updated: 1234567890
        application/yaml:
          schema:
            $ref: '#/components/schemas/ConnectorResponse'
          examples:
            example-connector-response-yaml:
              value: "connector:\n  name: example_connector\n  identifier: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  description: example_connector\n  spec:\n      type: GitHttp\n      url: 'https://github.com/example/example-repo.git'\n      branch: example_branch\n      connection_type: Repo\n      username: git-http-user\n      password_ref: account.git-http-password\ncreated: 1234567890\nupdated: 1234567890\n"
    ConnectorTestConnectionResponse:
      description: This has test connection details for the Connector defined in Harness.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConnectorTestConnectionResponse'
        application/yaml:
          schema:
            $ref: '#/components/schemas/ConnectorTestConnectionResponse'
    ConnectorListResponse:
      description: Connector list response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ConnectorResponse'
          examples:
            example-list-connector-response-json:
              value:
              - connector:
                  name: example_connector
                  identifier: example_connector
                  org: default
                  project: example_project
                  tags:
                    property1: example_connector
                  description: example_connector
                  spec:
                    type: GitHttp
                    url: https://github.com/example/example-repo.git
                    branch: example_branch
                    connection_type: Repo
                    username: git-http-user
                    password_ref: account.git-http-password
                created: 1234567890
                updated: 1234567890
        application/yaml:
          schema:
            $ref: '#/components/schemas/ConnectorResponse'
          examples:
            example-list-connector-response-yaml:
              value: "- connector:\n    name: example_connector\n    identifier: example_connector\n    org: default\n    project: example_project\n    tags:\n      property1: example_connector\n    description: example_connector\n    spec:\n        type: GitHttp\n        url: 'https://github.com/example/example-repo.git'\n        branch: example_branch\n        connection_type: Repo\n        username: git-http-user\n        password_ref: account.git-http-password\n  created: 1234567890\n  updated: 1234567890\n"
      headers:
        X-Total-Elements:
          schema:
            type: integer
          description: Total number of elements returned in Paginated response.
        X-Page-Number:
          schema:
            type: integer
          description: Page number in Paginated response.
        X-Page-Size:
          schema:
            type: integer
          description: Maximum page size in Paginated response.
  requestBodies:
    ConnectorRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConnectorRequest'
          examples:
            example-git-http-connector-request-json:
              value:
                connector:
                  name: example_connector
                  identifier: example_connector
                  description: example_connector
                  org: default
                  project: example_project
                  tags:
                    property1: example_connector
                  spec:
                    type: GitHttp
                    url: https://github.com/example/example-repo.git
                    branch: example_branch
                    connection_type: Repo
                    username: git-http-user
                    password_ref: account.git-http-password
                    execute_on_delegate: false
            example-git-http-encrypted-connector-request-json:
              value:
                connector:
                  name: example_connector
                  identifier: example_connector
                  description: example_connector
                  org: default
                  project: example_project
                  tags:
                    property1: example_connector
                  spec:
                    type: GitHttpEncrypted
                    url: https://github.com/example/example-repo.git
                    branch: example_branch
                    connection_type: Repo
                    username_ref: account.git-http-user
                    password_ref: account.git-http-password
                    validation_repo: https://github.com/example/example-validation-repo.git
                    execute_on_delegate: false
            example-git-ssh-connector-request-json:
              value:
                connector:
                  name: example_connector
                  identifier: example_connector
                  description: example_connector
                  org: default
                  project: example_project
                  tags:
                    property1: example_connector
                  spec:
                    type: GitSsh
                    url: https://github.com/example/example-repo.git
                    branch: example_branch
                    connection_type: Repo
                    ssh_key_ref: account.git-http-password
                    execute_on_delegate: false
            example-appdynamics-connector-request-json:
              value:
                connector:
                  name: example_connector
                  identifier: example_connector
                  description: example_connector
                  org: default
                  project: example_project
                  tags:
                    property1: example_connector
                  spec:
                    type: Appdynamics
                    account_name: appdynamics-account-name
                    controller_url: https://appdynamics.com/controller/
                    username: appdynamics-username
                    password_ref: account.appdynamics-password
                    delegate_selectors: []
            example-appdynamics-client-id-connector-request-json:
              value:
                connector:
                  name: example_connector
                  identifier: example_connector
                  description: example_connector
                  org: default
                  project: example_project
                  tags:
                    property1: example_connector
                  spec:
                    type: AppdynamicsClientId
                    account_name: appdynamics-account-name
                    controller_url: https://appdynamics.com/controller/
                    client_id: appdynamics-client-id
                    client_secret_ref: account.appdynamics-client-secret
                    delegate_selectors: []
            example-artifactory-connector-request-json:
              value:
                connector:
                  name: example_connector
                  identifier: example_connector
                  description: example_connector
                  org: default
                  project: example_project
                  tags:
                    property1: example_connector
                  spec:
                    type: Artifactory
                    url: https://artifactory.com/example/example-artifactory
                    username: artifactory-user
                    password_ref: account.artifactory-password
                    delegate_selectors: []
                    execute_on_delegate: false
            example-artifactory-anonymous-connector-request-json:
              value:
                connector:
                  name: example_connector
                  identifier: example_connector
                  description: example_connector
                  org: default
                  project: example_project
                  tags:
                    property1: example_connector
                  spec:
                    type: ArtifactoryAnonymous
                    url: https://artifactory.com/example/example-artifactory
                    delegate_selectors: []
                    execute_on_delegate: false
            example-artifactory-encrypted-connector-request-json:
              value:
                connector:
                  name: example_connector
                  identifier: example_connector
                  description: example_connector
                  org: default
                  project: example_project
                  tags:
                    property1: example_connector
                  spec:
                    type: ArtifactoryEncrypted
                    url: https://artifactory.com/example/example-artifactory
                    username_ref: account.artifactory-user
                    password_ref: account.artifactory-password
                    delegate_selectors: []
                    execute_on_delegate: false
            example-azure-client-certificate-connector-request-json:
              value:
                connector:
                  name: example_connector
                  identifier: example_connector
                  description: example_connector
                  org: default
                  project: example_project
                  tags:
                    property1: example_connector
                  spec:
                    type: AzureClientCertificate
                    delegate_selectors:
                    - pl1
                    azure_environment_type: AZURE
                    execute_on_delegate: false
                    application_id: '1234567890'
                    tenant_id: '1234567890'
                    certificate_ref: account.azure-client-certificate
            example-azure-client-secret-connector-request-json:
              value:
                connector:
                  name: example_connector
                  identifier: example_connector
                  description: example_connector
                  org: default
                  project: example_project
                  tags:
                    property1: example_connector
                  spec:
                    type: AzureClientSecretKey
                    delegate_selectors:
                    - pl1
                    azure_environment_type: AZURE
                    execute_on_delegate: false
                    application_id: '1234567890'
                    tenant_id: '1234567890'
                    secret_ref: account.azure-secret-key
            example-azure-system-assigned-managed-identity-request-json:
              value:
                connector:
                  name: example_connector
                  identifier: example_connector
                  description: example_connector
                  org: default
                  project: example_project
                  tags:
                    property1: example_connector
                  spec:
                    type: AzureInheritFromDelegateSystemAssignedManagedIdentity
                    delegate_selectors:
                    - pl1
                    azure_environment_type: AZURE
                    execute_on_delegate: false
            example-azure-user-assigned-managed-identity-request-json:
              value:
                connector:
                  name: example_connector
                  identifier: example_connector
                  description: example_connector
                  org: default
                  project: example_project
                  tags:
                    property1: example_connector
                  spec:
                    type: AzureInheritFromDelegateUserAssignedManagedIdentity
                    delegate_selectors:
                    - pl1
                    azure_environment_type: AZURE
                    execute_on_delegate: false
                    application_id: '1234567890'
                    client_id: '1234567890'
            example-aws-code-commit-connector-request-json:
              value:
                connector:
                  name: example_connector
                  identifier: example_connector
                  description: example_connector
                  org: default
                  project: example_project
                  tags:
                    property1: example_connector
                  spec:
                    type: AwsCodeCommit
                    url: https://git-codecommit.us-east-2.amazonaws.com/v1/repos/MyDemoRepo
                    url_type: Repo
                    access_key_ref: account.aws-access-key
                    secret_key_ref: account.aws-secret-key
        application/yaml:
          schema:
            $ref: '#/components/schemas/ConnectorRequest'
          examples:
            example-git-http-connector-request-yaml:
              value: "connector:\n  name: example_connector\n  identifier: example_connector\n  description: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  spec:\n    type: GitHttp\n    url: 'https://github.com/example/example-repo.git'\n    branch: example_branch\n    connection_type: Repo\n    username: git-http-user\n    password_ref: account.git-http-password\n    execute_on_delegate: false\n"
            example-git-http-encrypted-connector-request-yaml:
              value: "connector:\n  name: example_connector\n  identifier: example_connector\n  description: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  spec:\n    type: GitHttpEncrypted\n    url: https://github.com/example/example-repo.git\n    branch: example_branch\n    connection_type: Repo\n    username_ref: account.git-http-user\n    password_ref: account.git-http-password\n    validation_repo: https://github.com/example/example-validation-repo.git\n    execute_on_delegate: false\n"
            example-git-ssh-connector-request-yaml:
              value: "connector:\n  name: example_connector\n  identifier: example_connector\n  description: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  spec:\n    type: GitSsh\n    url: 'https://github.com/example/example-repo.git'\n    branch: example_branch\n    connection_type: Repo\n    ssh_key_ref: account.git-http-password\n    execute_on_delegate: false\n"
            example-appdynamics-connector-request-yaml:
              value: "connector:\n  name: example_connector\n  identifier: example_connector\n  description: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  spec:\n    type: Appdynamics\n    account_name: appdynamics-account-name\n    controller_url: https://appdynamics.com/controller/\n    username: appdynamics-username\n    password_ref: account.appdynamics-password\n    delegate_selectors: []\n"
            example-appdynamics-client-id-connector-request-yaml:
              value: "connector:\n  name: example_connector\n  identifier: example_connector\n  description: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  spec:\n    type: AppdynamicsClientId\n    account_name: appdynamics-account-name\n    controller_url: https://appdynamics.com/controller/\n    client_id: appdynamics-client-id\n    client_secret_ref: account.appdynamics-client-secret\n    delegate_selectors: []\n"
            example-artifactory-connector-request-yaml:
              value: "connector:\n  name: example_connector\n  identifier: example_connector\n  description: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  spec:\n    type: Artifactory\n    url: https://artifactory.com/example/example-artifactory\n    username: artifactory-user\n    password_ref: account.artifactory-password\n    delegate_selectors: []\n    execute_on_delegate: false\n"
            example-artifactory-anonymous-connector-request-yaml:
              value: "connector:\n  name: example_connector\n  identifier: example_connector\n  description: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  spec:\n    type: ArtifactoryAnonymous\n    url: https://artifactory.com/example/example-artifactory\n    delegate_selectors: []\n    execute_on_delegate: false\n"
            example-artifactory-encrypted-connector-request-yaml:
              value: "connector:\n  name: example_connector\n  identifier: example_connector\n  description: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  spec:\n    type: ArtifactoryEncrypted\n    url: https://artifactory.com/example/example-artifactory\n    username_ref: account.artifactory-user\n    password_ref: account.artifactory-password\n    delegate_selectors: []\n    execute_on_delegate: false\n"
            example-azure-client-certificate-connector-request-yaml:
              value: "connector:\n  name: example_connector\n  identifier: example_connector\n  description: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  spec:\n    type: AzureClientCertificate\n    delegate_selectors:\n    - pl1\n    azure_environment_type: AZURE\n    execute_on_delegate: false\n    application_id: '1234567890'\n    tenant_id: '1234567890'\n    certificate_ref: account.azure-client-certificate\n"
            example-azure-client-secret-connector-request-yaml:
              value: "connector:\n  name: example_connector\n  identifier: example_connector\n  description: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  spec:\n    type: AzureClientSecretKey\n    delegate_selectors:\n    - pl1\n    azure_environment_type: AZURE\n    execute_on_delegate: false\n    application_id: '1234567890'\n    tenant_id: '1234567890'\n    secret_ref: account.azure-secret-key\n"
            example-azure-system-assigned-managed-identity-request-yaml:
              value: "connector:\n  name: example_connector\n  identifier: example_connector\n  description: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  spec:\n    type: AzureInheritFromDelegateSystemAssignedManagedIdentity\n    delegate_selectors:\n    - pl1\n    azure_environment_type: AZURE\n    execute_on_delegate: false\n"
            example-azure-user-assigned-managed-identity-request-yaml:
              value: "connector:\n  name: example_connector\n  identifier: example_connector\n  description: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  spec:\n    type: AzureInheritFromDelegateUserAssignedManagedIdentity\n    delegate_selectors:\n    - pl1\n    azure_environment_type: AZURE\n    execute_on_delegate: false\n    application_id: '1234567890'\n    client_id: '1234567890'\n"
            example-aws-code-commit-connector-request-yaml:
              value: "connector:\n  name: example_connector\n  identifier: example_connector\n  description: example_connector\n  org: default\n  project: example_project\n  tags:\n    property1: example_connector\n  spec:\n    type: AwsCodeCommit\n    url: 'https://git-codecommit.us-east-2.amazonaws.com/v1/repos/MyDemoRepo'\n    url_type: Repo\n    access_key_ref: account.aws-access-key\n    secret_key_ref: account.aws-secret-key\n"
      required: true
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
