openapi: 3.2.0
info:
  title: Harness Infrastructure API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Infrastructure
  description: The infrastructure service for working with infrastructures
paths:
  /api/infrastructures:
    get:
      tags:
      - Infrastructure
      summary: List Infrastructure
      description: Endpoint for listing all infrastructures.
      operationId: Infrastructure#List
      parameters:
      - name: offset
        in: query
        description: Offset for pagination
        allowEmptyValue: true
        schema:
          type: integer
          description: Offset for pagination
          format: int64
      - name: limit
        in: query
        description: Limit for pagination
        allowEmptyValue: true
        schema:
          type: integer
          description: Limit for pagination
          format: int64
      - name: desc
        in: query
        description: Order by descending order
        allowEmptyValue: true
        schema:
          type: boolean
          description: Order by descending order
      - name: orgIdentifier
        in: query
        description: Org is the organization identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Org is the organization identifier.
      - name: projectIdentifier
        in: query
        description: Project is the project identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Project is the project identifier.
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          minLength: 1
          maxLength: 128
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfrastructureList'
        '400':
          description: 'bad_request: Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'not_found: Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: 'already_exists: Already Exists'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'internal_error: Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: 'unimplemented: Not Implemented'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - x-api-key: []
  /api/infrastructures/{executionID}/abort:
    post:
      tags:
      - Infrastructure
      summary: Abort Infrastructure
      description: Endpoint for aborting an infrastructure execution.
      operationId: Infrastructure#Abort
      parameters:
      - name: executionID
        in: path
        description: ID of the execution to abort
        required: true
        schema:
          type: string
          description: ID of the execution to abort
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          minLength: 1
          maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchemasRequestBody'
      responses:
        '200':
          description: OK response.
        '400':
          description: 'bad_request: Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'not_found: Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: 'already_exists: Already Exists'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'internal_error: Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: 'unimplemented: Not Implemented'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - x-api-key: []
  /api/infrastructures/{id}:
    delete:
      tags:
      - Infrastructure
      summary: Delete Infrastructure
      description: Endpoint for deleting a specific infrastructure.
      operationId: Infrastructure#Delete
      parameters:
      - name: orgIdentifier
        in: query
        description: Org is the organization identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Org is the organization identifier.
      - name: projectIdentifier
        in: query
        description: Project is the project identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Project is the project identifier.
      - name: id
        in: path
        description: ID of the infrastructure
        required: true
        schema:
          type: string
          description: ID of the infrastructure
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          minLength: 1
          maxLength: 128
      responses:
        '200':
          description: OK response.
        '400':
          description: 'bad_request: Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'not_found: Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: 'already_exists: Already Exists'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'internal_error: Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: 'unimplemented: Not Implemented'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - x-api-key: []
    get:
      tags:
      - Infrastructure
      summary: Get Infrastructure
      description: Endpoint for retrieving a specific infrastructure.
      operationId: Infrastructure#Get
      parameters:
      - name: orgIdentifier
        in: query
        description: Org is the organization identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Org is the organization identifier.
      - name: projectIdentifier
        in: query
        description: Project is the project identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Project is the project identifier.
      - name: id
        in: path
        description: ID of the infrastructure
        required: true
        schema:
          type: string
          description: ID of the infrastructure
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          minLength: 1
          maxLength: 128
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfrastructureOutput'
        '400':
          description: 'bad_request: Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'not_found: Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: 'already_exists: Already Exists'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'internal_error: Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: 'unimplemented: Not Implemented'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - x-api-key: []
  /api/infrastructures/{id}/executions:
    get:
      tags:
      - Infrastructure
      summary: ListExecutions Infrastructure
      description: Endpoint for listing executions for a specific infrastructure.
      operationId: Infrastructure#ListExecutions
      parameters:
      - name: offset
        in: query
        description: Offset for pagination
        allowEmptyValue: true
        schema:
          type: integer
          description: Offset for pagination
          format: int64
      - name: limit
        in: query
        description: Limit for pagination
        allowEmptyValue: true
        schema:
          type: integer
          description: Limit for pagination
          format: int64
      - name: desc
        in: query
        description: Order by descending order
        allowEmptyValue: true
        schema:
          type: boolean
          description: Order by descending order
      - name: orgIdentifier
        in: query
        description: Org is the organization identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Org is the organization identifier.
      - name: projectIdentifier
        in: query
        description: Project is the project identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Project is the project identifier.
      - name: id
        in: path
        description: ID of the infrastructure
        required: true
        schema:
          type: string
          description: ID of the infrastructure
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          minLength: 1
          maxLength: 128
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfrastructureExecutionList'
        '400':
          description: 'bad_request: Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'not_found: Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: 'already_exists: Already Exists'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'internal_error: Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: 'unimplemented: Not Implemented'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - x-api-key: []
  /api/infrastructures/{id}/specs:
    get:
      tags:
      - Infrastructure
      summary: ListSpecs Infrastructure
      description: Endpoint for listing specs for a specific infrastructure.
      operationId: Infrastructure#ListSpecs
      parameters:
      - name: offset
        in: query
        description: Offset for pagination
        allowEmptyValue: true
        schema:
          type: integer
          description: Offset for pagination
          format: int64
      - name: limit
        in: query
        description: Limit for pagination
        allowEmptyValue: true
        schema:
          type: integer
          description: Limit for pagination
          format: int64
      - name: desc
        in: query
        description: Order by descending order
        allowEmptyValue: true
        schema:
          type: boolean
          description: Order by descending order
      - name: orgIdentifier
        in: query
        description: Org is the organization identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Org is the organization identifier.
      - name: projectIdentifier
        in: query
        description: Project is the project identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Project is the project identifier.
      - name: id
        in: path
        description: ID of the infrastructure
        required: true
        schema:
          type: string
          description: ID of the infrastructure
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          minLength: 1
          maxLength: 128
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfrastructureSpecList'
        '400':
          description: 'bad_request: Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'not_found: Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: 'already_exists: Already Exists'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'internal_error: Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: 'unimplemented: Not Implemented'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - x-api-key: []
  /api/infrastructures/approve:
    post:
      tags:
      - Infrastructure
      summary: ApprovePipelineExecution Infrastructure
      description: Endpoint for approving a pipeline approval step.
      operationId: Infrastructure#ApprovePipelineExecution
      parameters:
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          minLength: 1
          maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovePipelineExecutionRequestBody'
      responses:
        '200':
          description: OK response.
        '400':
          description: 'bad_request: Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'not_found: Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: 'already_exists: Already Exists'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'internal_error: Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: 'unimplemented: Not Implemented'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - x-api-key: []
  /api/infrastructures/execute:
    post:
      tags:
      - Infrastructure
      summary: Execute Infrastructure
      description: Endpoint for executing an infrastructure, with the options of either dryrunning this process, or forcing it.
      operationId: Infrastructure#Execute
      parameters:
      - name: dryRun
        in: query
        description: Dry run the infrastructure
        allowEmptyValue: true
        schema:
          type: boolean
          description: Dry run the infrastructure
      - name: force
        in: query
        description: Force updates to all instances in the infrastructure
        allowEmptyValue: true
        schema:
          type: boolean
          description: Force updates to all instances in the infrastructure
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          minLength: 1
          maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteRequestBody'
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                type: string
        '400':
          description: 'bad_request: Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'not_found: Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: 'already_exists: Already Exists'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'internal_error: Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: 'unimplemented: Not Implemented'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - x-api-key: []
  /api/infrastructures/executions/{id}:
    get:
      tags:
      - Infrastructure
      summary: GetExecution Infrastructure
      description: Endpoint for retrieving a specific execution for a specific infrastructure.
      operationId: Infrastructure#GetExecution
      parameters:
      - name: orgIdentifier
        in: query
        description: Org is the organization identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Org is the organization identifier.
      - name: projectIdentifier
        in: query
        description: Project is the project identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Project is the project identifier.
      - name: id
        in: path
        description: ID of the event to fetch
        required: true
        schema:
          type: string
          description: ID of the event to fetch
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          minLength: 1
          maxLength: 128
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfrastructureExecution'
        '400':
          description: 'bad_request: Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'not_found: Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: 'already_exists: Already Exists'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'internal_error: Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: 'unimplemented: Not Implemented'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - x-api-key: []
components:
  schemas:
    InfrastructureState:
      type: object
      properties:
        createdAt:
          type: string
          description: date (RFC3339) when the spec was created
        sessionEndedAt:
          type: string
        sessionStartedAt:
          type: string
        updatedAt:
          type: string
          description: date (RFC3339) when the spec was updated
    InfrastructureList:
      type: object
      properties:
        infrastructures:
          type: array
          items:
            $ref: '#/components/schemas/InfrastructureOutput'
        total:
          type: integer
          format: int64
    InstanceApproval:
      type: object
      properties:
        instanceId:
          type: string
        pipelineApprovals:
          type: array
          items:
            $ref: '#/components/schemas/PipelineApproval'
      required:
      - instanceId
      - pipelineApprovals
    Output:
      type: object
      properties:
        description:
          type: string
        type:
          type: string
          enum:
          - string
          - integer
          - number
          - object
          - boolean
          - array
        value: {}
      required:
      - value
      additionalProperties: false
    Infrastructure1:
      type: object
      properties:
        identifier:
          type: string
        instances:
          type: array
          items:
            $ref: '#/components/schemas/InfraInstance'
        metadata:
          type: object
          additionalProperties: true
        outputs:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Output'
        targetState:
          $ref: '#/components/schemas/State'
      required:
      - identifier
      - targetState
      additionalProperties: false
    Error:
      type: object
      properties:
        code:
          type: string
        details:
          type: object
          additionalProperties:
            type: string
        message:
          type: string
        name:
          type: string
      required:
      - name
      - message
    Dependency:
      type: object
      properties:
        identifier:
          type: string
        optional:
          type: boolean
      required:
      - identifier
      additionalProperties: false
    InfrastructureSpecList:
      type: object
      properties:
        specs:
          type: array
          items:
            $ref: '#/components/schemas/InfrastructureSpec'
        total:
          type: integer
          format: int64
    ExecuteRequestBody:
      type: object
      properties:
        infrastructureYaml:
          type: string
          description: infrastructure to Execute
        orgIdentifier:
          type: string
          description: Org is the organization identifier.
        projectIdentifier:
          type: string
          description: Project is the project identifier.
      description: Scope for the request, including account, org and project.
      required:
      - infrastructureYaml
    ExecutionOutput:
      type: object
      properties:
        description:
          type: string
          description: Description of the output
        value:
          description: Value of the output
      required:
      - value
      additionalProperties: false
    ExecutionEvent:
      type: object
      properties:
        createdAt:
          type: string
        event:
          $ref: '#/components/schemas/InfrastructureProgress'
        message:
          type: string
          description: Message associated with the event
      required:
      - event
      - createdAt
    InfrastructureSpec:
      type: object
      properties:
        createdAt:
          type: string
          description: date (RFC3339) when the spec was created
        infrastructure:
          $ref: '#/components/schemas/Infrastructure1'
        revision:
          type: integer
          format: int64
    Steps:
      type: object
      properties:
        apply:
          type: object
          additionalProperties: true
        create:
          type: object
          additionalProperties: true
        delete:
          type: object
          additionalProperties: true
        destroy:
          type: object
          additionalProperties: true
        pause:
          type: object
          additionalProperties: true
        resume:
          type: object
          additionalProperties: true
      required:
      - apply
      - destroy
      additionalProperties: false
    PipelineApproval:
      type: object
      properties:
        approvalID:
          type: string
        deadline:
          type: string
        message:
          type: string
        orgID:
          type: string
        pipelineExecutionId:
          type: string
        pipelineId:
          type: string
        pipelineUrl:
          type: string
        projectID:
          type: string
      required:
      - approvalID
      - pipelineExecutionId
      - orgID
      - projectID
      - message
    InfrastructureOutput:
      type: object
      properties:
        activeExecutions:
          type: array
          items:
            $ref: '#/components/schemas/InfrastructureExecution'
        identifier:
          type: string
          description: ID of the infrastructure
        spec:
          $ref: '#/components/schemas/InfrastructureSpec'
        state:
          $ref: '#/components/schemas/InfrastructureState'
      required:
      - identifier
      - state
      - activeExecutions
    ApprovePipelineExecutionRequestBody:
      type: object
      properties:
        action:
          type: string
          enum:
          - APPROVE
          - REJECT
        approvalID:
          type: string
          description: ID of the approval
        message:
          type: string
          description: Message to send with the approval
      required:
      - approvalID
      - action
    SchemasRequestBody:
      type: object
      properties:
        orgIdentifier:
          type: string
          description: Org is the organization identifier.
        projectIdentifier:
          type: string
          description: Project is the project identifier.
      description: Scope for the request, including account, org and project.
    InfrastructureProgress:
      type: object
      properties:
        progress:
          type: string
          enum:
          - unknown
          - pending
          - processing
          - done
          - failed
          - aborted
          - deleted
          - replaced
      required:
      - progress
    InfraInstance:
      type: object
      properties:
        dependencies:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Dependency'
        identifier:
          type: string
        implementation:
          $ref: '#/components/schemas/Implementation'
        metadata:
          type: object
          additionalProperties: true
        outputs:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Output'
        targetState:
          $ref: '#/components/schemas/State'
      required:
      - identifier
      additionalProperties: false
    Implementation:
      type: object
      properties:
        backend:
          type: string
        steps:
          $ref: '#/components/schemas/Steps'
        values:
          type: object
          additionalProperties: true
      required:
      - backend
      - steps
      additionalProperties: false
    State:
      type: object
      properties:
        state:
          type: string
          enum:
          - unknown
          - inactive
          - instantiated
          - running
          - paused
      required:
      - state
    InfrastructureExecution:
      type: object
      properties:
        approvals:
          type: array
          items:
            $ref: '#/components/schemas/InstanceApproval'
        completedInstanceIds:
          type: array
          items:
            type: string
          description: Instances fully updated by the execution
        events:
          type: array
          items:
            $ref: '#/components/schemas/ExecutionEvent'
        id:
          type: string
        infrastructureId:
          type: string
        instanceIds:
          type: array
          items:
            type: string
          description: Instances updated by the execution
        message:
          type: string
          description: Message associated with the execution
        outputs:
          type: object
          description: Outputs of the infrastructure execution
          additionalProperties:
            $ref: '#/components/schemas/ExecutionOutput'
        pipelineUrl:
          type: string
        progress:
          $ref: '#/components/schemas/InfrastructureProgress'
        spec:
          $ref: '#/components/schemas/Infrastructure1'
        specRevision:
          type: integer
          format: int64
        startedAt:
          type: string
        stoppedAt:
          type: string
        targetState:
          $ref: '#/components/schemas/State'
      required:
      - id
      - infrastructureId
      - instanceIds
      - specRevision
      - spec
      - startedAt
      - targetState
      - progress
      - completedInstanceIds
    InfrastructureExecutionList:
      type: object
      properties:
        executions:
          type: array
          items:
            $ref: '#/components/schemas/InfrastructureExecution'
        total:
          type: integer
          format: int64
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
