openapi: 3.2.0
info:
  title: Harness Remediation API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Remediation
paths:
  /v1/orgs/{org}/projects/{project}/remediations:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    post:
      summary: Create Remediation Tracker
      tags:
      - Remediation
      responses:
        '200':
          $ref: '#/components/responses/RemediationTrackerCreateResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: createRemediationTracker
      x-stoplight:
        id: 8cdxntj5aqlu3
      description: Create Remediation Tracker.
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      requestBody:
        $ref: '#/components/requestBodies/RemediationTrackerCreateRequestBody'
  /v1/orgs/{org}/projects/{project}/remediations/list:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    post:
      summary: List All Remediation Trackers
      operationId: listRemediations
      responses:
        '200':
          $ref: '#/components/responses/RemediationListingResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      tags:
      - Remediation
      description: List all Remediation Trackers.
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      - $ref: '#/components/parameters/Limit6'
      - $ref: '#/components/parameters/Page2'
      - in: query
        description: Parameter on the basis of which sorting is done.
        name: sort
        schema:
          enum:
          - component
          - status
          - targetDate
          - contactName
          - cve
          - startTimeMilli
          default: startTimeMilli
      - in: query
        description: Parameter on the basis of which sorting is done.
        name: order
        schema:
          enum:
          - DESC
          - ASC
          default: DESC
      security:
      - x-api-key: []
      requestBody:
        $ref: '#/components/requestBodies/RemediationListingRequestBody'
      x-stoplight:
        id: eb3hi5al80vx3
  /v1/orgs/{org}/projects/{project}/remediations/{remediation}:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - schema:
        type: string
      name: remediation
      in: path
      required: true
      description: Remediation Tracker ID
    put:
      summary: Update Remediation Tracker
      operationId: updateRemediationTracker
      responses:
        '200':
          $ref: '#/components/responses/RemediationTrackerUpdateResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: w3z2s74z0zoeo
      tags:
      - Remediation
      description: Update Remediation Tracker.
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      requestBody:
        $ref: '#/components/requestBodies/RemediationTrackerUpdateRequestBody'
  /v1/orgs/{org}/projects/{project}/remediations/overall-summary:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    get:
      summary: Get Remediation Tracker Overall summary
      tags:
      - Remediation
      responses:
        '200':
          $ref: '#/components/responses/RemediationTrackersOverallSummaryResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getOverallSummary
      x-stoplight:
        id: 8ie7d2h2woo22
      description: Get Overall summary of Remediation Trackers.
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
  /v1/orgs/{org}/projects/{project}/remediations/{remediation}/close:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - schema:
        type: string
      name: remediation
      in: path
      required: true
      description: Remediation Tracker Id
    put:
      summary: Close Remediation Tracker
      tags:
      - Remediation
      responses:
        '200':
          $ref: '#/components/responses/SaveResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: closeRemediationTracker
      x-stoplight:
        id: oqbepatk6oy12
      description: Close Remediation Tracker.
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
  /v1/orgs/{org}/projects/{project}/remediations/{remediation}/exclude-artifact:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - schema:
        type: string
      name: remediation
      in: path
      required: true
      description: Remediation Tracker Id
    put:
      summary: Exclude Artifact from Remediation Tracker
      tags:
      - Remediation
      responses:
        '200':
          $ref: '#/components/responses/SaveResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: excludeArtifact
      x-stoplight:
        id: lk8f6jp6okqvf
      description: Exclude Artifact From Remediation Tracker.
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      requestBody:
        $ref: '#/components/requestBodies/ExcludeArtifactRequestBody'
  /v1/orgs/{org}/projects/{project}/remediations/{remediation}/details:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - schema:
        type: string
      name: remediation
      in: path
      required: true
      description: Remediation Tracker Id
    get:
      summary: Get Remediation Details
      tags:
      - Remediation
      responses:
        '200':
          $ref: '#/components/responses/RemediationDetailsResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getRemediationDetails
      x-stoplight:
        id: qhd60cfh35chp
      description: Get Remediation Details.
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
  /v1/orgs/{org}/projects/{project}/remediations/{remediation}/artifacts:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - schema:
        type: string
      name: remediation
      in: path
      required: true
      description: Remediation Tracker Id
    post:
      summary: Get Artifact List for Remediations
      tags:
      - Remediation
      responses:
        '200':
          $ref: '#/components/responses/RemediationArtifactListingResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getArtifactListForRemediation
      x-stoplight:
        id: rii0dp21qz04b
      description: Get Remediation Details.
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      - $ref: '#/components/parameters/Limit6'
      - $ref: '#/components/parameters/Page2'
      requestBody:
        $ref: '#/components/requestBodies/RemediationArtifactListingRequestBody'
  /v1/orgs/{org}/projects/{project}/remediations/{remediation}/artifacts/{artifact}/environments:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - schema:
        type: string
      name: remediation
      in: path
      required: true
      description: Remediation Tracker Id
    - schema:
        type: string
      name: artifact
      in: path
      required: true
      description: Artifact Id
    get:
      summary: Get Environment List for Artifact In Remediation
      tags:
      - Remediation
      responses:
        '200':
          $ref: '#/components/responses/RemediationEnvironmentResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getEnvironmentListForRemediation
      x-stoplight:
        id: 477pmu269635q
      description: Get All Environments impacted with Remediation.
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      - $ref: '#/components/parameters/EnvType'
  /v1/orgs/{org}/projects/{project}/remediations/{remediation}/artifacts/{artifact}/details:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - schema:
        type: string
      name: remediation
      in: path
      required: true
      description: Remediation Tracker Id
    - schema:
        type: string
      name: artifact
      in: path
      required: true
      description: Artifact Id
    get:
      summary: Get Details of a Artifact in a Remediation Tracker
      tags:
      - Remediation
      responses:
        '200':
          $ref: '#/components/responses/RemediationArtifactDetailResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getArtifactInRemediationDetails
      x-stoplight:
        id: acya1h6k59vo7
      description: Get Details of a Artifact in a Remediation Tracker.
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
  /v1/orgs/{org}/projects/{project}/remediations/{remediation}/artifacts/{artifact}/deployments:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - schema:
        type: string
      name: remediation
      in: path
      required: true
      description: Remediation Tracker Id
    - schema:
        type: string
      name: artifact
      in: path
      required: true
      description: Artifact Id
    post:
      summary: Get Deployments List for Artifact In Remediation
      tags:
      - Remediation
      responses:
        '200':
          $ref: '#/components/responses/RemediationArtifactDeploymentsListingResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getDeploymentsListForArtifactInRemediation
      x-stoplight:
        id: hstty9r60f0di
      description: Get Deployments List for Artifact In Remediation.
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      - $ref: '#/components/parameters/Limit6'
      - $ref: '#/components/parameters/Page2'
      requestBody:
        $ref: '#/components/requestBodies/RemediationArtifactDeploymentsListingRequestBody'
  /v1/orgs/{org}/projects/{project}/remediations/{remediation}/create-ticket:
    parameters:
    - $ref: '#/components/parameters/ProjectParam1'
    - schema:
        type: string
      name: remediation
      in: path
      required: true
      description: Remediation Tracker ID
    - $ref: '#/components/parameters/OrgParam1'
    post:
      summary: Create Ticket
      operationId: createTicket
      responses:
        '201':
          $ref: '#/components/responses/CreateTicketResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: 330euzylehvhl
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      requestBody:
        $ref: '#/components/requestBodies/CreateTicketRequestBody'
      tags:
      - Remediation
      security:
      - x-api-key: []
  /v1/orgs/{org}/projects/{project}/remediations/check-artifacts:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    post:
      summary: Check Artifacts And Deployments
      operationId: checkArtifactAndDeployments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactAndDeploymentsResponseBody'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: t98vm7wz7n0eq
      description: Check Artifacts And Deployments.
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      requestBody:
        $ref: '#/components/requestBodies/RemediationTrackerCreateRequestBody'
      tags:
      - Remediation
  /iacm/api/orgs/{org}/projects/{project}/workspaces/{workspace}/remediation/config:
    delete:
      tags:
      - Remediation
      summary: Disable remediation
      description: Disable AI remediation for a workspace
      operationId: remediation#disable-remediation
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: b0
          minLength: 1
          maxLength: 128
        example: iyh
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: 1qs
          minLength: 1
          maxLength: 128
        example: d5q
      - name: workspace
        in: path
        description: Workspace identifier
        required: true
        schema:
          type: string
          description: Workspace identifier
          example: '2'
          minLength: 1
          maxLength: 128
        example: 6i
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: zan
          minLength: 1
          maxLength: 128
        example: il9
      responses:
        '200':
          description: OK response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    get:
      tags:
      - Remediation
      summary: Get remediation config
      description: Check whether AI remediation is enabled for a workspace
      operationId: remediation#get-remediation-config
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: 1jf
          minLength: 1
          maxLength: 128
        example: u
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: 8mt
          minLength: 1
          maxLength: 128
        example: mrj
      - name: workspace
        in: path
        description: Workspace identifier
        required: true
        schema:
          type: string
          description: Workspace identifier
          example: qt
          minLength: 1
          maxLength: 128
        example: ib1
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: w7
          minLength: 1
          maxLength: 128
        example: mr
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRemediationConfigResponse'
              example:
                enabled: false
                source: none
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    put:
      tags:
      - Remediation
      summary: Enable remediation
      description: Enable AI remediation for a workspace
      operationId: remediation#enable-remediation
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: uiw
          minLength: 1
          maxLength: 128
        example: zs
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: vz0
          minLength: 1
          maxLength: 128
        example: '4'
      - name: workspace
        in: path
        description: Workspace identifier
        required: true
        schema:
          type: string
          description: Workspace identifier
          example: seg
          minLength: 1
          maxLength: 128
        example: zp2
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: tk
          minLength: 1
          maxLength: 128
        example: c
      responses:
        '200':
          description: OK response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/workspaces/{workspace}/remediation/drift-plan:
    get:
      tags:
      - Remediation
      summary: Get drift plan
      description: Download the plan file associated with the workspace's current drift state. Validates the workspace is drifted and returns the plan binary from the drift-detection activity.
      operationId: remediation#get-drift-plan
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: 2l
          minLength: 1
          maxLength: 128
        example: '5'
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: 5ck
          minLength: 1
          maxLength: 128
        example: l9
      - name: workspace
        in: path
        description: Workspace identifier
        required: true
        schema:
          type: string
          description: Workspace identifier
          example: i
          minLength: 1
          maxLength: 128
        example: er
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: kyv
          minLength: 1
          maxLength: 128
        example: nr
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                type: string
                format: binary
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/workspaces/{workspace}/remediation/runs:
    get:
      tags:
      - Remediation
      summary: List remediation runs
      description: List remediation runs for a workspace
      operationId: remediation#list-remediation-runs
      parameters:
      - name: limit
        in: query
        description: Limit is the number of records to return for a page.
        allowEmptyValue: true
        schema:
          type: integer
          description: Limit is the number of records to return for a page.
          default: 30
          example: 30
          format: int64
          minimum: 1
          maximum: 1000
        example: 30
      - name: page
        in: query
        description: Page is the page number to return relative to the page 'limit'.
        allowEmptyValue: true
        schema:
          type: integer
          description: Page is the page number to return relative to the page 'limit'.
          default: 1
          example: 1
          format: int64
          minimum: 1
        example: 1
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: t69
          minLength: 1
          maxLength: 128
        example: 22h
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: '58'
          minLength: 1
          maxLength: 128
        example: mrb
      - name: workspace
        in: path
        description: Workspace identifier
        required: true
        schema:
          type: string
          description: Workspace identifier
          example: q
          minLength: 1
          maxLength: 128
        example: u6
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: z
          minLength: 1
          maxLength: 128
        example: h88
      responses:
        '200':
          description: OK response.
          headers:
            x-page-size:
              description: Current page size
              schema:
                type: integer
                description: Current page size
                example: 50
                format: int64
              example: 50
            x-total-items:
              description: Total items available
              schema:
                type: integer
                description: Total items available
                example: 1800
                format: int64
              example: 1800
            x-total-pages:
              description: Total pages available
              schema:
                type: integer
                description: Total pages available
                example: 36
                format: int64
              example: 36
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemediationRunResourceCollection'
              example:
              - account: Consequatur provident nostrum soluta deserunt qui magnam.
                created: 7118235779928889000
                id: Aut eaque.
                input_payload: Eveniet est aliquam alias sint.
                org: Dolorum quia dolor dolor assumenda aut delectus.
                pipeline_execution_id: Sed vel adipisci ut explicabo explicabo quaerat.
                project: Voluptatem vel doloremque aut.
                remediation_type: drift
                result_payload: Et aut.
                result_type: explanation
                status: pending
                triggered_by: Provident et error molestiae.
                updated: 5959870848525148000
                workspace: Provident dolor cum.
              - account: Consequatur provident nostrum soluta deserunt qui magnam.
                created: 7118235779928889000
                id: Aut eaque.
                input_payload: Eveniet est aliquam alias sint.
                org: Dolorum quia dolor dolor assumenda aut delectus.
                pipeline_execution_id: Sed vel adipisci ut explicabo explicabo quaerat.
                project: Voluptatem vel doloremque aut.
                remediation_type: drift
                result_payload: Et aut.
                result_type: explanation
                status: pending
                triggered_by: Provident et error molestiae.
                updated: 5959870848525148000
                workspace: Provident dolor cum.
              - account: Consequatur provident nostrum soluta deserunt qui magnam.
                created: 7118235779928889000
                id: Aut eaque.
                input_payload: Eveniet est aliquam alias sint.
                org: Dolorum quia dolor dolor assumenda aut delectus.
                pipeline_execution_id: Sed vel adipisci ut explicabo explicabo quaerat.
                project: Voluptatem vel doloremque aut.
                remediation_type: drift
                result_payload: Et aut.
                result_type: explanation
                status: pending
                triggered_by: Provident et error molestiae.
                updated: 5959870848525148000
                workspace: Provident dolor cum.
              - account: Consequatur provident nostrum soluta deserunt qui magnam.
                created: 7118235779928889000
                id: Aut eaque.
                input_payload: Eveniet est aliquam alias sint.
                org: Dolorum quia dolor dolor assumenda aut delectus.
                pipeline_execution_id: Sed vel adipisci ut explicabo explicabo quaerat.
                project: Voluptatem vel doloremque aut.
                remediation_type: drift
                result_payload: Et aut.
                result_type: explanation
                status: pending
                triggered_by: Provident et error molestiae.
                updated: 5959870848525148000
                workspace: Provident dolor cum.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    post:
      tags:
      - Remediation
      summary: Create remediation run
      description: Create a new remediation run (called by the remediation pipeline plugin)
      operationId: remediation#create-remediation-run
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: 5g5
          minLength: 1
          maxLength: 128
        example: '9'
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: zay
          minLength: 1
          maxLength: 128
        example: vb4
      - name: workspace
        in: path
        description: Workspace identifier
        required: true
        schema:
          type: string
          description: Workspace identifier
          example: '9'
          minLength: 1
          maxLength: 128
        example: pk
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: d
          minLength: 1
          maxLength: 128
        example: '71'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRemediationRunRequest'
            example:
              input_payload: Et qui.
              pipeline_execution_id: Tempora rem eius atque.
              remediation_type: ccm
              triggered_by: Debitis doloribus sint.
      responses:
        '201':
          description: Created response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRemediationRunResponse'
              example:
                account: Numquam vitae mollitia consequuntur.
                created: 6538557817762261000
                id: Eaque qui vel labore aperiam.
                input_payload: Ad aut praesentium maiores.
                org: Facilis dolor quia sed a accusantium.
                pipeline_execution_id: Fugiat omnis consectetur delectus delectus veritatis.
                project: Consequuntur veritatis nihil odit sequi.
                remediation_type: custom
                result_payload: Aut blanditiis.
                result_type: explanation
                status: succeeded
                triggered_by: Ipsum optio totam facilis autem.
                updated: 46980289191021060
                workspace: Vitae aliquam.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/workspaces/{workspace}/remediation/runs/{id}:
    get:
      tags:
      - Remediation
      summary: Get remediation run
      description: Get a single remediation run by ID
      operationId: remediation#get-remediation-run
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: p
          minLength: 1
          maxLength: 128
        example: l0
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: pf
          minLength: 1
          maxLength: 128
        example: gk
      - name: workspace
        in: path
        description: Workspace identifier
        required: true
        schema:
          type: string
          description: Workspace identifier
          example: f
          minLength: 1
          maxLength: 128
        example: sx
      - name: id
        in: path
        description: Remediation run identifier
        required: true
        schema:
          type: string
          description: Remediation run identifier
          example: Sed ut.
        example: Accusamus ea error cumque.
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: zv
          minLength: 1
          maxLength: 128
        example: d
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRemediationRunResponse'
              example:
                account: Ipsam qui.
                created: 2482497770401281000
                id: Voluptatem saepe.
                input_payload: Totam explicabo nihil rerum.
                org: Sunt repudiandae totam.
                pipeline_execution_id: Molestiae voluptates tenetur dolorum.
                project: Consectetur nostrum at pariatur ut.
                remediation_type: custom
                result_payload: Rem aut eos.
                result_type: explanation
                status: running
                triggered_by: Qui fugit laborum aliquid vel.
                updated: 7674634737545412000
                workspace: Veniam et quia praesentium.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    put:
      tags:
      - Remediation
      summary: Update remediation run
      description: Update a remediation run status and results (called by the remediation pipeline plugin)
      operationId: remediation#update-remediation-run
      parameters:
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: '5'
          minLength: 1
          maxLength: 128
        example: '1'
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: n2n
          minLength: 1
          maxLength: 128
        example: l
      - name: workspace
        in: path
        description: Workspace identifier
        required: true
        schema:
          type: string
          description: Workspace identifier
          example: 5kz
          minLength: 1
          maxLength: 128
        example: x1
      - name: id
        in: path
        description: Remediation run identifier
        required: true
        schema:
          type: string
          description: Remediation run identifier
          example: Quis sint dignissimos.
        example: Consequuntur est autem temporibus placeat.
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: v8
          minLength: 1
          maxLength: 128
        example: t
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRemediationRunRequest'
            example:
              pipeline_execution_id: Beatae assumenda et beatae sit.
              result_payload: Est aperiam dolorum.
              result_type: pr_created
              status: failed
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateRemediationRunResponse'
              example:
                account: Atque iusto quis.
                created: 8236265038666426000
                id: Ex asperiores.
                input_payload: Tenetur quis libero.
                org: Earum eum et sapiente et quod.
                pipeline_execution_id: Quia suscipit nostrum ea et at.
                project: Repudiandae amet mollitia.
                remediation_type: custom
                result_payload: Tempore dolorem velit vel occaecati.
                result_type: explanation
                status: failed
                triggered_by: Quas facere ipsa consequuntur.
                updated: 5279675343789473000
                workspace: Voluptate omnis minima laboriosam qui eos.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
components:
  parameters:
    Page2:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
        minimum: 0
      description: "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t"
    Limit6:
      name: limit
      in: query
      schema:
        type: integer
        default: 30
        maximum: 1000
        minimum: 1
      description: Number of items to return per page.
    OrgParam1:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Harness organization ID
    AccountHeader6:
      name: Harness-Account
      in: header
      required: true
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
    ProjectParam1:
      in: path
      required: true
      schema:
        type: string
      description: Harness project ID
      name: project
    EnvType:
      name: EnvType
      in: query
      required: false
      schema:
        type: string
        enum:
        - Prod
        - PreProd
      allowEmptyValue: true
      description: Environment Type
  responses:
    RemediationListingResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RemediationListingResponse'
      headers:
        X-Total-Elements:
          $ref: '#/components/headers/X-Total-Elements'
        X-Page-Number:
          $ref: '#/components/headers/X-Page-Number'
        X-Page-Size:
          $ref: '#/components/headers/X-Page-Size'
    RemediationTrackerUpdateResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RemediationTrackerUpdateResponseBody'
    RemediationTrackerCreateResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RemediationTrackerCreateResponseBody'
    RemediationEnvironmentResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/EnvironmentInfo'
    RemediationDetailsResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RemediationDetailsResponse'
    RemediationArtifactListingResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RemediationArtifactListingResponse'
      headers:
        X-Total-Elements:
          $ref: '#/components/headers/X-Total-Elements'
        X-Page-Number:
          $ref: '#/components/headers/X-Page-Number'
        X-Page-Size:
          $ref: '#/components/headers/X-Page-Size'
    CreateTicketResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateTicketResponse'
    RemediationTrackersOverallSummaryResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RemediationTrackersOverallSummaryResponseBody'
    RemediationArtifactDetailResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RemediationArtifactDetailsResponse'
    SaveResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SaveResponse'
    RemediationArtifactDeploymentsListingResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RemediationArtifactDeploymentsListingResponse'
      headers:
        X-Total-Elements:
          $ref: '#/components/headers/X-Total-Elements'
        X-Page-Number:
          $ref: '#/components/headers/X-Page-Number'
        X-Page-Size:
          $ref: '#/components/headers/X-Page-Size'
  schemas:
    RemediationListingResponse:
      title: RemediationListingResponse
      x-stoplight:
        id: vxldq239q3p78
      type: object
      x-examples: {}
      properties:
        id:
          type: string
          description: Tracker Id.
        component:
          type: string
          x-stoplight:
            id: 3iof2uw444ynl
          description: Component Name.
        cve:
          type: string
          x-stoplight:
            id: blcuikrxrhqth
          description: CVE number.
        artifacts:
          type: integer
          x-stoplight:
            id: s5hdmaqt4f664
          description: Total distinct artifacts included in the tracker.
          format: int64
        severity:
          $ref: '#/components/schemas/VulnerabilitySeverity'
        deployments_count:
          $ref: '#/components/schemas/DeploymentsCount'
        status:
          $ref: '#/components/schemas/RemediationStatus'
        contact:
          $ref: '#/components/schemas/ContactInfo'
        target_date:
          type: string
          x-stoplight:
            id: o8s7v1phqs963
          description: Target End Date set by the user.
        schedule_status:
          type: string
          x-stoplight:
            id: fhb8ew9zkzl8n
          description: 'This indicates how we are going with schedule of target date.

            '
        remediation_condition:
          $ref: '#/components/schemas/RemediationCondition'
        closed_by:
          type: string
          x-stoplight:
            id: xwcbadxo27tdo
          description: 'If tracker was closed manually , name of the person who closed it

            '
        created_by:
          type: string
          x-stoplight:
            id: fay5tmt3blo2g
          description: Name of the person who created the tracker.
        created_at:
          type: integer
          format: int64
          x-stoplight:
            id: e5v40417cnl5a
          description: Time when tracker was created.
      required:
      - id
      - component
      - artifacts
      - severity
      - deployments_count
      - status
      - schedule_status
      - remediation_condition
      - created_at
      - created_by
    RemediationStatus:
      title: RemediationStatus
      x-stoplight:
        id: 63pz8brn3jf4c
      enum:
      - IN_PROGRESS
      - DONE
    ArtifactAndDeploymentsResponseBody:
      title: ArtifactAndDeploymentsResponseBody
      x-stoplight:
        id: kyxd9vg0xko63
      type: object
      properties:
        is_valid:
          type: boolean
          x-stoplight:
            id: 5hth153x3d2z0
          default: false
        message:
          type: string
          x-stoplight:
            id: uruyn057krd4w
    ContactInfo:
      title: ContactInfo
      x-stoplight:
        id: inl50bp7x1g5z
      type: object
      properties:
        name:
          type: string
          x-stoplight:
            id: da9w1xqxv9z1k
          description: Name of the contact person.
        email:
          type: string
          x-stoplight:
            id: 3ty5nsl5eyl1x
          description: Email of the Contact person.
      description: Contact Details.
    RemediationTrackerCreateRequestBody:
      title: RemediationTrackerCreateRequestBody
      x-stoplight:
        id: msfdp2vaxe25c
      type: object
      properties:
        vulnerability_info:
          $ref: '#/components/schemas/VulnerabilityInfo'
        contact:
          $ref: '#/components/schemas/ContactInfo'
        comments:
          type: string
          x-stoplight:
            id: z4kjp4gxjuieg
          description: Description/comments for the tracker.
        remediation_condition:
          $ref: '#/components/schemas/RemediationCondition'
        target_end_date:
          type: string
          x-stoplight:
            id: fesu25cnud2g5
          format: date
          description: Target End Date in UTC.
      required:
      - remediation_condition
      description: Create Request Body For Remediation tracker.
    RemediationTrackerUpdateResponseBody:
      title: RemediationTrackerUpdateResponseBody
      x-stoplight:
        id: t14atvve77l8w
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: q1bcb1t7i6eew
          description: Remediation Tracker Id.
      required:
      - id
    RemediationDetailsResponse:
      title: RemediationDetailsResponse
      x-stoplight:
        id: lgm3ozxcxijzl
      type: object
      properties:
        id:
          type: string
          description: Remediation Id.
        component:
          type: string
          x-stoplight:
            id: jpqinfqcc5ao1
          description: Component Name.
        cve:
          type: string
          x-stoplight:
            id: 04w5pvfvqtaq3
          description: CVE number.
        severity:
          $ref: '#/components/schemas/VulnerabilitySeverity'
        status:
          $ref: '#/components/schemas/RemediationStatus'
        artifacts:
          type: integer
          x-stoplight:
            id: d7h8y4sw4m16x
          description: Total distinct artifacts included in the tracker.
          format: int64
          minimum: 0
        artifacts_excluded:
          type: integer
          x-stoplight:
            id: wfxtsxy6bw5he
          format: int64
          minimum: 0
          description: Total Number of Excluded Artifacts.
        new_artifacts_count:
          type: integer
          x-stoplight:
            id: 4wqt3vl7ybnci
          format: int64
          minimum: 0
          description: Total Number of New Artifacts.
        environments:
          type: integer
          x-stoplight:
            id: t2qoukfumxxl3
          description: Total environments included in the tracker.
          format: int64
          minimum: 0
        new_environments_count:
          type: integer
          x-stoplight:
            id: n6l8s9npjkb86
          format: int64
          minimum: 0
          description: Total Number of New Environments.
        remediation_condition:
          $ref: '#/components/schemas/RemediationCondition'
        deployments_count:
          $ref: '#/components/schemas/DeploymentsCount'
        vulnerability_description:
          type: string
          x-stoplight:
            id: j0vfqz5pefzq1
          description: Details of the vulnerability.
        comments:
          type: string
          x-stoplight:
            id: q6wmcgtr1z8yz
          description: Description/comments for the tracker.
        ticket:
          $ref: '#/components/schemas/TicketInfo'
        start_time_milli:
          type: integer
          x-stoplight:
            id: uje0d8kys48lk
          format: int64
          minimum: 0
        end_time_milli:
          type:
          - integer
          - 'null'
          x-stoplight:
            id: u4n155d0c36l6
          format: int64
          minimum: 0
        contact:
          $ref: '#/components/schemas/ContactInfo'
        created_by_name:
          type: string
          x-stoplight:
            id: 5qlr2ws3u7oi9
          description: Name of the User who created the Remediation Tracker.
        created_by_email:
          type: string
          x-stoplight:
            id: 1i587hn9x44wl
          description: Email of the User who created the Remediation Tracker.
        closed_by:
          type: string
          x-stoplight:
            id: rrnb6lgm5k06n
          description: If Remediation Tracker was closed manually , name of the user who closed it.
        target_date:
          type: string
          x-stoplight:
            id: ej0x3hdn7g2zs
          description: End date set by the user.
      required:
      - id
      - component
      - severity
      - status
      - artifacts
      - artifacts_excluded
      - new_artifacts_count
      - environments
      - new_environments_count
      - deployments_count
      - start_time_milli
      - remediation_condition
    CreateTicketResponse:
      title: CreateTicketResponse
      x-stoplight:
        id: 6j8ei25vvgcmt
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: pyz5amzlbutor
          description: Ticket Identifier
      required:
      - id
    RemediationTrackerCreateResponseBody:
      title: RemediationTrackerCreateResponseBody
      x-stoplight:
        id: ayed05b8fvi1n
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: jj8go337l14j6
          description: Remediation Tracker Id.
      required:
      - id
    EnvironmentInfo:
      title: EnvironmentInfo
      x-stoplight:
        id: f673knxyn1t3b
      type: object
      properties:
        identifier:
          type: string
          x-stoplight:
            id: 6j1r342qw2q2g
          description: Identifier of the Environment.
        name:
          type: string
          x-stoplight:
            id: d1uquwd53cydg
          description: Name of the Environment.
        type:
          $ref: '#/components/schemas/EnvironmentType2'
      required:
      - identifier
      - name
      - type
    RemediationTrackersOverallSummaryResponseBody:
      title: RemediationTrackersOverallSummaryResponseBody
      x-stoplight:
        id: qego172jozoq6
      type: object
      properties:
        mean_time_to_remediate_in_hours:
          type: number
          x-stoplight:
            id: 7fhckh6uidvwl
          format: double
          description: Mean time to complete the Remediation in Hours.
        remediation_counts:
          x-stoplight:
            id: fh4ewst1z2xzw
          type: array
          description: List of statuses and their counts.
          items:
            $ref: '#/components/schemas/RemediationCount'
        deployments_count:
          $ref: '#/components/schemas/DeploymentsCount'
    RemediationArtifactDetailsResponse:
      title: RemediationArtifactDetailsResponse
      x-stoplight:
        id: j1n29lhfn6ofq
      type: object
      properties:
        id:
          type: string
          description: Artifact Id.
        remediation_id:
          type: string
          description: Renmediation Tracker Id.
        component:
          type: string
          x-stoplight:
            id: l8olno2phx50z
          description: Component Name.
        cve:
          type: string
          x-stoplight:
            id: dsbd8qytcr0c9
          description: CVE number.
        severity:
          $ref: '#/components/schemas/VulnerabilitySeverity'
        status:
          $ref: '#/components/schemas/RemediationStatus'
        deployments_count:
          $ref: '#/components/schemas/DeploymentsCount'
        artifact_name:
          type: string
          x-stoplight:
            id: 3aagj65ohtwgq
          description: Name of the artifact.
        latest_fixed_artifact:
          type: string
          x-stoplight:
            id: 3o3bn0hao6wwe
          description: Latest Orchestrated Artifact with Fix.
        contact:
          $ref: '#/components/schemas/ContactInfo'
        build_pipeline:
          $ref: '#/components/schemas/PipelineInfo'
        latest_build_tag:
          type: string
          x-stoplight:
            id: h09vzd3khupci
        ticket:
          $ref: '#/components/schemas/TicketInfo'
      required:
      - id
      - remediation_id
      - component
      - severity
      - status
      - deployments_count
      - artifact_name
    SaveResponse:
      title: SaveResponse
      x-stoplight:
        id: uqzrp59icfge8
      type: object
      description: 'response for Save/Update operations '
      properties:
        status:
          type: string
          x-stoplight:
            id: 0kwqjkjtppozz
        response:
          $ref: '#/components/schemas/PluginResponseBody'
    RemediationTrackerUpdateRequestBody:
      title: RemediationTrackerUpdateRequestBody
      x-stoplight:
        id: f75veqdadq005
      type: object
      properties:
        contact:
          $ref: '#/components/schemas/ContactInfo'
        comments:
          type: string
          x-stoplight:
            id: 4bxs4lw4t4kgb
          description: Description/comments for the tracker.
        target_end_date:
          type: string
          x-stoplight:
            id: 7q27i501xeec6
          format: date
          description: Target End Date in UTC.
        vulnerability_description:
          type: string
          x-stoplight:
            id: asy2wup0wipt9
          description: Details of the vulnerability.
        severity:
          $ref: '#/components/schemas/VulnerabilitySeverity'
      required:
      - contact
      - comments
      - target_end_date
      - vulnerability_description
      - severity
    EnvironmentType2:
      title: EnvironmentType
      x-stoplight:
        id: 7v5fj6xgubcbs
      enum:
      - Prod
      - PreProd
    RemediationArtifactListingResponse:
      title: RemediationArtifactListingResponse
      x-stoplight:
        id: orocfqbopzjik
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: mxz6snb9d3oq6
          description: Artifact Id.
        name:
          type: string
          x-stoplight:
            id: ofik1gmhv6nsx
          description: Artifact Name.
        deployments:
          $ref: '#/components/schemas/DeploymentsCount'
        is_excluded:
          type: boolean
          x-stoplight:
            id: uc571ew7vstax
          description: Whether the artifact is excluded.
        is_new:
          type: boolean
          x-stoplight:
            id: p9diecz5s4vmb
          description: Whether the artifact is new.
        ticket:
          $ref: '#/components/schemas/TicketInfo'
      required:
      - id
      - name
      - deployments
      - is_excluded
    EnvironmentTypeFilter:
      title: EnvironmentTypeFilter
      x-stoplight:
        id: vkao4sb4qhrp3
      enum:
      - Prod
      - PreProd
      - None
      - All
    RemediationListingRequestBody:
      title: RemediationListingRequestBody
      x-stoplight:
        id: rksqf5o09fhae
      type: object
      properties:
        component_name_filter:
          x-stoplight:
            id: 3tkq4ge9znqqs
          type: object
          description: Filter for Component Name.
          properties:
            operator:
              $ref: '#/components/schemas/NameOperator'
            value:
              type: string
              x-stoplight:
                id: e3466w426g7dh
          required:
          - operator
          - value
        cve_filter:
          x-stoplight:
            id: 1sqdll9itus52
          type: object
          description: Filter for CVE.
          properties:
            operator:
              $ref: '#/components/schemas/NameOperator'
            value:
              type: string
              x-stoplight:
                id: j1g5bilq86a3a
          required:
          - operator
          - value
    CreateTicketRequest:
      type: object
      x-examples:
        Example 1:
          custom_fields:
            custom_field_1:
              id: '12345'
            custom_field_2:
            - value: value1
            - value: value2
          description: This is the very long ticket description...
          exists: false
          external_id: ABC-1234
          identifiers:
            id_name:
            - value1
            - value2
            - value3
          issue_type: Bug
          priority: High
          project_key: ABC
          title: A new ticket
      properties:
        custom_fields:
          type: object
        description:
          type: string
        exists:
          type: boolean
        external_id:
          type: string
        identifiers:
          type: object
        issue_type:
          type: string
        priority:
          type: string
        project_key:
          type: string
        title:
          type: string
        artifact_id:
          type: string
          x-stoplight:
            id: ab59cnwosnqtj
      x-stoplight:
        id: xmrbbzi8s77gb
    NameOperator:
      title: NameOperator
      x-stoplight:
        id: z7xam58090ncp
      enum:
      - Equals
      - StartsWith
      - Contains
    DeploymentsCount:
      title: DeploymentsCount
      x-stoplight:
        id: mnpaggac1u7q1
      type: object
      properties:
        pending_prod_count:
          type:
          - integer
          - 'null'
          description: Pending Prod Deployments to remediate.
          format: int64
        pending_non_prod_count:
          type:
          - integer
          - 'null'
          description: Pending Non Prod Deployments to remediate.
          format: int64
        new_pending_count:
          type:
          - integer
          - 'null'
          description: New Pending Deployments.
          format: int64
        patched_prod_count:
          type:
          - integer
          - 'null'
          description: Patched Prod Deployments.
          format: int64
        patched_non_prod_count:
          type:
          - integer
          - 'null'
          description: Patched Non Prod Deployments.
          format: int64
        new_patched_count:
          type:
          - integer
          - 'null'
          description: New Patched Deployments.
          format: int64
    VulnerabilitySeverity:
      title: VulnerabilitySeverity
      x-stoplight:
        id: 6fxyyopskl7rp
      enum:
      - INFO
      - LOW
      - MEDIUM
      - HIGH
      - CRITICAL
      description: Severity of the Vulnerability.
    TicketInfo:
      title: TicketInfo
      x-stoplight:
        id: cwruxfom4rfcx
      type: object
      description: Ticket Details.
      properties:
        external_id:
          type: string
          x-stoplight:
            id: ex86pido7jo69
        status:
          type: string
          x-stoplight:
            id: gywmzyljeu184
        url:
          type: string
          x-stoplight:
            id: j45rig13j82ss
        id:
          type: string
          x-stoplight:
            id: 9tpd12on9q3xs
      required:
      - external_id
    RemediationArtifactListingRequestBody:
      title: RemediationArtifactListingRequestBody
      x-stoplight:
        id: qu034pbirnp2u
      type: object
      properties:
        deployment_status:
          type: string
          x-stoplight:
            id: 0eodz14ae6y3f
          enum:
          - Prod
          - PreProd
        remediation_status:
          type: string
          x-stoplight:
            id: vda48wyasqwzo
          enum:
          - Done
          - In_Progress
    PluginResponseBody:
      title: PluginResponseBody
      type: object
      required:
      - source_id
      - artifact
      - response_url
      properties:
        source_id:
          type: string
          x-stoplight:
            id: itkxv1ghux6aa
        artifact:
          type: object
          x-stoplight:
            id: ysaq85xiuzjsw
          properties:
            id:
              type: string
              x-stoplight:
                id: sgyd78hu7w5gl
            name:
              type: string
              x-stoplight:
                id: khrj2i162jh3x
            url:
              type: string
              x-stoplight:
                id: zgc35mjt90crt
        response_url:
          type: string
          x-stoplight:
            id: uadidz06nvmyn
    RemediationArtifactDeploymentsListingRequestBody:
      title: RemediationArtifactDeploymentsListingRequestBody
      x-stoplight:
        id: uhlyjg0ie3q7n
      type: object
      properties:
        env_identifier:
          type: string
          x-stoplight:
            id: wlwtwo71eqdhx
        env_type:
          $ref: '#/components/schemas/EnvironmentTypeFilter'
    VulnerabilityInfo:
      title: VulnerabilityInfo
      x-stoplight:
        id: roc2n9mk3y5ga
      type: object
      discriminator:
        propertyName: type
        mapping:
          CVE: '#/components/schemas/CVEVulnerability'
          Default: '#/components/schemas/DefaultVulnerability'
      properties:
        component_name:
          type: string
          x-stoplight:
            id: qjvq75h0i3ml3
          description: Name of the component where vulnerability is found.
        vulnerability_description:
          type: string
          x-stoplight:
            id: lbzaacmud1q9z
          description: Details of the vulnerability.
        severity:
          $ref: '#/components/schemas/VulnerabilitySeverity'
        type:
          enum:
          - CVE
          - Default
      required:
      - component_name
      - severity
      - type
    PipelineInfo:
      title: PipelineInfo
      x-stoplight:
        id: v9stjwvu2ulvu
      type: object
      properties:
        name:
          type: string
          x-stoplight:
            id: dl352mt8yqdxt
          description: Name of the pipeline.
        execution_id:
          type: string
          x-stoplight:
            id: tevm6bc13y3hi
          description: Execution Id of the pipeline.
        id:
          type: string
          x-stoplight:
            id: 7s1mu1n1dan0s
          description: Id of the pipeline.
        triggered_by:
          type: string
          description: Name of who trigger the deployment pipeline
        triggered_by_id:
          type: string
          description: Id of who trigger the deployment pipeline
        triggered_at:
          type:
          - integer
          - 'null'
          description: Time of trigger of the deployment pipeline
          format: int64
        triggered_type:
          type: string
          description: Trigger type of the deployment pipeline
    ExcludeArtifactRequest:
      title: ExcludeArtifactRequest
      x-stoplight:
        id: 8zstw5pc37lei
      type: object
      properties:
        artifact_id:
          type: string
          x-stoplight:
            id: pq3635o6c8dbd
          description: Artifact Id that needs to be excluded from the tracker.
      required:
      - artifact_id
    RemediationCondition:
      title: RemediationCondition
      x-stoplight:
        id: gq6jfg0tk3v08
      type: object
      properties:
        version:
          type: string
          x-stoplight:
            id: pes5gkkhd6b6d
          description: 'Component Version for Remediation. For operator like less than, less than equals, range, semantic versioning is required.

            '
        operator:
          type: string
          enum:
          - LessThan
          - LessThanEquals
          - Matches
          - All
          description: 'Operator for Remediation Condition. '
      required:
      - operator
      description: Removal of the following version indicates Artifact is remediated.
    RemediationArtifactDeploymentsListingResponse:
      title: RemediationArtifactDeploymentsListingResponse
      x-stoplight:
        id: 8ubnvb2b71yhv
      type: object
      properties:
        type:
          $ref: '#/components/schemas/EnvironmentType2'
        name:
          type: string
          x-stoplight:
            id: i1t5z87fgwylv
          description: Name of the Environment.
        identifier:
          type: string
          x-stoplight:
            id: dv7gxnaj1kpmf
          description: Identifier of the Environment.
        digest:
          type: string
          x-stoplight:
            id: 6z1v5z1z1z1z1
          description: Digest of the artifact.
        tag:
          type: string
          x-stoplight:
            id: 66ruc3h15zi4y
          description: Tag deployed in the environment.
        status:
          $ref: '#/components/schemas/RemediationStatus'
        deployment_pipeline:
          $ref: '#/components/schemas/PipelineInfo'
        component_version:
          type: string
          x-stoplight:
            id: v39a9bzbs6ha5
          description: The version of the impacted components used in this artifact.
      required:
      - type
      - name
      - identifier
      - tag
      - status
      - deployment_pipeline
      - component_version
    RemediationCount:
      title: RemediationCount
      x-stoplight:
        id: sbx2cw30oiuxo
      type: object
      properties:
        status:
          $ref: '#/components/schemas/RemediationStatus'
        count:
          type: integer
          x-stoplight:
            id: kjek6z7qvo2ta
          format: int64
          default: 0
          description: Number of trackers having the status.
      required:
      - status
      - count
    UpdateRemediationRunRequest:
      type: object
      properties:
        pipeline_execution_id:
          type: string
          description: Pipeline execution identifier
          example: Excepturi minima labore asperiores placeat totam.
        result_payload:
          description: Result data from the remediation agent
          example: Rerum esse est harum ea mollitia.
        result_type:
          type: string
          description: Type of result
          example: pr_created
          enum:
          - pr_created
          - explanation
        status:
          type: string
          description: New status
          example: succeeded
          enum:
          - running
          - succeeded
          - failed
      example:
        pipeline_execution_id: Et voluptates enim quia non inventore doloremque.
        result_payload: Sequi dolore.
        result_type: pr_created
        status: succeeded
      required:
      - status
    GetRemediationConfigResponse:
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether remediation is enabled for this workspace
          example: false
        source:
          type: string
          description: Origin of the configuration
          example: disabled
          enum:
          - project
          - disabled
          - none
      example:
        enabled: true
        source: disabled
      required:
      - enabled
      - source
    CreateRemediationRunResponse:
      type: object
      properties:
        account:
          type: string
          example: Autem vel modi.
        created:
          type: integer
          description: Created timestamp in milliseconds
          example: 7259093769372794000
          format: int64
        id:
          type: string
          description: Unique identifier
          example: Dolore qui quis voluptatibus vero ad.
        input_payload:
          description: Input context
          example: Aliquid a sint voluptas.
        org:
          type: string
          example: Qui possimus sint architecto alias at atque.
        pipeline_execution_id:
          type: string
          example: Molestiae error harum.
        project:
          type: string
          example: Labore est consequuntur modi voluptas perspiciatis rem.
        remediation_type:
          type: string
          example: custom
          enum:
          - drift
          - ccm
          - sto
          - custom
        result_payload:
          description: Result data
          example: In enim doloremque.
        result_type:
          type: string
          example: pr_created
          enum:
          - pr_created
          - explanation
        status:
          type: string
          description: Current status
          example: failed
          enum:
          - pending
          - running
          - succeeded
          - failed
        triggered_by:
          type: string
          example: Est tempora voluptatem consequatur qui tempore architecto.
        updated:
          type: integer
          description: Updated timestamp in milliseconds
          example: 5906019760313748000
          format: int64
        workspace:
          type: string
          example: Sed natus ratione nobis eos.
      example:
        account: Quo ut laborum fuga.
        created: 56929443047173730
        id: Repellat eum voluptatum qui.
        input_payload: Officia dolores.
        org: Et natus nihil.
        pipeline_execution_id: Quia perferendis minima consequatur amet.
        project: Eaque iste cum ut at nam impedit.
        remediation_type: ccm
        result_payload: In quaerat rerum quos laboriosam qui quisquam.
        result_type: explanation
        status: succeeded
        triggered_by: Id aut.
        updated: 4785807126059969000
        workspace: Nihil vel est quibusdam dignissimos dolores quae.
      required:
      - id
      - account
      - org
      - project
      - workspace
      - status
      - remediation_type
      - triggered_by
      - created
      - updated
    GetRemediationRunResponse:
      type: object
      properties:
        account:
          type: string
          example: Alias reprehenderit voluptatem consequatur.
        created:
          type: integer
          description: Created timestamp in milliseconds
          example: 1442710446958446300
          format: int64
        id:
          type: string
          description: Unique identifier
          example: Officia animi aut omnis voluptatem aut.
        input_payload:
          description: Input context
          example: Dignissimos earum.
        org:
          type: string
          example: Sunt earum.
        pipeline_execution_id:
          type: string
          example: Quo officiis et eaque totam nesciunt.
        project:
          type: string
          example: Amet quibusdam eos omnis dolorum.
        remediation_type:
          type: string
          example: drift
          enum:
          - drift
          - ccm
          - sto
          - custom
        result_payload:
          description: Result data
          example: Aliquid omnis.
        result_type:
          type: string
          example: pr_created
          enum:
          - pr_created
          - explanation
        status:
          type: string
          description: Current status
          example: running
          enum:
          - pending
          - running
          - succeeded
          - failed
        triggered_by:
          type: string
          example: Eveniet vitae perferendis.
        updated:
          type: integer
          description: Updated timestamp in milliseconds
          example: 4388841987197263400
          format: int64
        workspace:
          type: string
          example: Quis incidunt rem et fuga ipsa eveniet.
      example:
        account: Voluptatum id quos fugit.
        created: 3282226990994343400
        id: Laudantium qui voluptas.
        input_payload: Iure eum laboriosam optio voluptates.
        org: Aut nemo.
        pipeline_execution_id: Voluptas doloribus explicabo a facere omnis ea.
        project: Qui dolor nemo praesentium occaecati aspernatur.
        remediation_type: custom
        result_payload: Quae omnis molestiae tenetur id.
        result_type: explanation
        status: succeeded
        triggered_by: Officia et qui et neque voluptatem error.
        updated: 5611636212322250000
        workspace: Dolores sit et neque tempora fuga.
      required:
      - id
      - account
      - org
      - project
      - workspace
      - status
      - remediation_type
      - triggered_by
      - created
      - updated
    CreateRemediationRunRequest:
      type: object
      properties:
        input_payload:
          description: Input context for the remediation agent
          example: Deleniti quia itaque ut odit quibusdam.
        pipeline_execution_id:
          type: string
          description: Pipeline execution identifier
          example: Vero quo nobis.
        remediation_type:
          type: string
          description: Type of remediation
          example: custom
          enum:
          - drift
          - ccm
          - sto
          - custom
        triggered_by:
          type: string
          description: User or system that triggered the run
          example: Aut fuga laudantium doloribus quo eaque impedit.
      example:
        input_payload: Non culpa labore quidem deserunt natus nihil.
        pipeline_execution_id: Adipisci non optio ex esse.
        remediation_type: sto
        triggered_by: Accusantium voluptas.
      required:
      - remediation_type
      - triggered_by
    RemediationRunResourceCollection:
      type: array
      items:
        $ref: '#/components/schemas/HarnessIacmRemediationRun'
      example:
      - account: Consequatur provident nostrum soluta deserunt qui magnam.
        created: 7118235779928889000
        id: Aut eaque.
        input_payload: Eveniet est aliquam alias sint.
        org: Dolorum quia dolor dolor assumenda aut delectus.
        pipeline_execution_id: Sed vel adipisci ut explicabo explicabo quaerat.
        project: Voluptatem vel doloremque aut.
        remediation_type: drift
        result_payload: Et aut.
        result_type: explanation
        status: pending
        triggered_by: Provident et error molestiae.
        updated: 5959870848525148000
        workspace: Provident dolor cum.
      - account: Consequatur provident nostrum soluta deserunt qui magnam.
        created: 7118235779928889000
        id: Aut eaque.
        input_payload: Eveniet est aliquam alias sint.
        org: Dolorum quia dolor dolor assumenda aut delectus.
        pipeline_execution_id: Sed vel adipisci ut explicabo explicabo quaerat.
        project: Voluptatem vel doloremque aut.
        remediation_type: drift
        result_payload: Et aut.
        result_type: explanation
        status: pending
        triggered_by: Provident et error molestiae.
        updated: 5959870848525148000
        workspace: Provident dolor cum.
      - account: Consequatur provident nostrum soluta deserunt qui magnam.
        created: 7118235779928889000
        id: Aut eaque.
        input_payload: Eveniet est aliquam alias sint.
        org: Dolorum quia dolor dolor assumenda aut delectus.
        pipeline_execution_id: Sed vel adipisci ut explicabo explicabo quaerat.
        project: Voluptatem vel doloremque aut.
        remediation_type: drift
        result_payload: Et aut.
        result_type: explanation
        status: pending
        triggered_by: Provident et error molestiae.
        updated: 5959870848525148000
        workspace: Provident dolor cum.
    IaCMError:
      type: object
      properties:
        fault:
          type: boolean
          description: Is the error a server-side fault?
          example: false
        id:
          type: string
          description: ID is a unique identifier for this particular occurrence of the problem.
          example: 123abc
        message:
          type: string
          description: Message is a human-readable explanation specific to this occurrence of the problem.
          example: parameter 'p' must be an integer
        name:
          type: string
          description: Name is the name of this class of errors.
          example: bad_request
        temporary:
          type: boolean
          description: Is the error temporary?
          example: false
        timeout:
          type: boolean
          description: Is the error a timeout?
          example: true
      example:
        fault: false
        id: 123abc
        message: parameter 'p' must be an integer
        name: bad_request
        temporary: false
        timeout: true
      required:
      - name
      - id
      - message
      - temporary
      - timeout
      - fault
    UpdateRemediationRunResponse:
      type: object
      properties:
        account:
          type: string
          example: Corporis eveniet id illum.
        created:
          type: integer
          description: Created timestamp in milliseconds
          example: 3185062858109646000
          format: int64
        id:
          type: string
          description: Unique identifier
          example: Incidunt modi sed autem magni.
        input_payload:
          description: Input context
          example: Laudantium voluptate ipsa omnis sit laborum.
        org:
          type: string
          example: Vel consequatur ipsam error.
        pipeline_execution_id:
          type: string
          example: Minus illum adipisci.
        project:
          type: string
          example: Qui non alias aperiam dolores omnis eum.
        remediation_type:
          type: string
          example: custom
          enum:
          - drift
          - ccm
          - sto
          - custom
        result_payload:
          description: Result data
          example: Assumenda autem sint a eos libero.
        result_type:
          type: string
          example: pr_created
          enum:
          - pr_created
          - explanation
        status:
          type: string
          description: Current status
          example: pending
          enum:
          - pending
          - running
          - succeeded
          - failed
        triggered_by:
          type: string
          example: Aut laboriosam totam sapiente enim.
        updated:
          type: integer
          description: Updated timestamp in milliseconds
          example: 1443931623194767000
          format: int64
        workspace:
          type: string
          example: Neque illo et animi.
      example:
        account: Dolor aliquid.
        created: 6700684320762008000
        id: Debitis repellat et nobis quam impedit.
        input_payload: Eum voluptatem ratione numquam.
        org: A blanditiis.
        pipeline_execution_id: Ut dolores aut.
        project: Rerum assumenda nostrum.
        remediation_type: custom
        result_payload: Voluptas labore vel et et numquam incidunt.
        result_type: explanation
        status: running
        triggered_by: Quia animi est.
        updated: 6296899033207635000
        workspace: Voluptas placeat adipisci corporis voluptate aliquam fuga.
      required:
      - id
      - account
      - org
      - project
      - workspace
      - status
      - remediation_type
      - triggered_by
      - created
      - updated
    HarnessIacmRemediationRun:
      type: object
      properties:
        account:
          type: string
          example: Quisquam maxime veritatis ducimus.
        created:
          type: integer
          description: Created timestamp in milliseconds
          example: 3547367986886102000
          format: int64
        id:
          type: string
          description: Unique identifier
          example: Consequatur qui sit nam voluptas qui voluptatem.
        input_payload:
          description: Input context
          example: Et aliquid.
        org:
          type: string
          example: Expedita numquam.
        pipeline_execution_id:
          type: string
          example: Perferendis in qui nobis voluptates quos nihil.
        project:
          type: string
          example: Dolores cumque libero vel odit hic minus.
        remediation_type:
          type: string
          example: custom
          enum:
          - drift
          - ccm
          - sto
          - custom
        result_payload:
          description: Result data
          example: Expedita fuga ratione.
        result_type:
          type: string
          example: explanation
          enum:
          - pr_created
          - explanation
        status:
          type: string
          description: Current status
          example: failed
          enum:
          - pending
          - running
          - succeeded
          - failed
        triggered_by:
          type: string
          example: Iure doloremque nemo dignissimos.
        updated:
          type: integer
          description: Updated timestamp in milliseconds
          example: 5339967907291149000
          format: int64
        workspace:
          type: string
          example: Molestiae est inventore velit quae.
      description: RemediationRun represents a single remediation execution
      example:
        account: Voluptatem aliquid et velit doloremque.
        created: 3516844053130590700
        id: Et odit rerum ratione velit voluptatem itaque.
        input_payload: Aut voluptates nulla dolores.
        org: Blanditiis natus possimus iste est.
        pipeline_execution_id: Doloremque cumque qui id corrupti.
        project: Id sed dolore.
        remediation_type: ccm
        result_payload: Quibusdam reiciendis eum velit eos et.
        result_type: pr_created
        status: failed
        triggered_by: Inventore modi incidunt animi aut quaerat.
        updated: 6246497347691474000
        workspace: Consequatur velit assumenda distinctio cupiditate.
      required:
      - id
      - account
      - org
      - project
      - workspace
      - status
      - remediation_type
      - triggered_by
      - created
      - updated
  requestBodies:
    RemediationTrackerCreateRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RemediationTrackerCreateRequestBody'
    RemediationArtifactDeploymentsListingRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RemediationArtifactDeploymentsListingRequestBody'
    RemediationTrackerUpdateRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RemediationTrackerUpdateRequestBody'
    RemediationArtifactListingRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RemediationArtifactListingRequestBody'
    ExcludeArtifactRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExcludeArtifactRequest'
    CreateTicketRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateTicketRequest'
    RemediationListingRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RemediationListingRequestBody'
  headers:
    X-Page-Size:
      schema:
        type: integer
      description: Maximum page size in Paginated response.
    X-Total-Elements:
      schema:
        type: integer
      description: Total number of elements returned in Paginated response.
    X-Page-Number:
      schema:
        type: integer
      description: Page number in Paginated response.
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
[...]
