openapi: 3.2.0
info:
  title: Harness Notification Rules API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Notification Rules
  description: This contains APIs for Notification Rules
paths:
  /v1/orgs/{org}/projects/{project}/notification-rules:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    - $ref: '#/components/parameters/ProjectPathParam'
    get:
      summary: List Notification rules
      responses:
        '200':
          $ref: '#/components/responses/NotificationRuleListResponse'
      operationId: list-notification-rules
      x-stoplight:
        id: faoyjfx01yacj
      description: Get list of notification rules
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      - $ref: '#/components/parameters/Limit3'
      - $ref: '#/components/parameters/Sort3'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/SearchTerm3'
      - $ref: '#/components/parameters/Page'
      - schema:
          type: string
        in: query
        name: resource
        description: Notification entity name
      - schema:
          type: string
        in: query
        name: event
        description: Notification event name
      security:
      - x-api-key: []
      tags:
      - Notification Rules
    post:
      summary: Create Notification Rule
      operationId: create-notification-rule
      responses:
        '201':
          $ref: '#/components/responses/NotificationRuleResponse'
      x-stoplight:
        id: fy1asg68jb20y
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/NotificationRuleRequest'
      security:
      - x-api-key: []
      tags:
      - Notification Rules
  /v1/orgs/{org}/projects/{project}/notification-rules/{notification-rule}:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    - $ref: '#/components/parameters/ProjectPathParam'
    - schema:
        type: string
      name: notification-rule
      in: path
      required: true
      description: identifier
    get:
      summary: Get Notification Rule
      responses:
        '200':
          $ref: '#/components/responses/NotificationRuleResponse'
      operationId: get-notification-rule
      x-stoplight:
        id: k9gw1089s3jd6
      description: Get notification rule
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      security:
      - x-api-key: []
      tags:
      - Notification Rules
    delete:
      summary: Delete Notification Rule
      operationId: delete-notification-rule
      responses:
        '204':
          description: No Content
        '400':
          headers: {}
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
      x-stoplight:
        id: lsi3h5gkmxugh
      description: Delete notification rule
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      security:
      - x-api-key: []
      tags:
      - Notification Rules
    put:
      summary: Update Notification Rule
      operationId: update-notification-rule
      responses:
        '200':
          $ref: '#/components/responses/NotificationRuleResponse'
      x-stoplight:
        id: s22i78x6pwd00
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/NotificationRuleRequest'
      security:
      - x-api-key: []
      tags:
      - Notification Rules
  /v1/orgs/{org}/notification-rules:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    get:
      summary: List Notification rules at org level
      responses:
        '200':
          $ref: '#/components/responses/NotificationRuleListResponse'
      operationId: list-notification-rules-org
      x-stoplight:
        id: h2pjf55hgmfkq
      description: Get list of notification rules
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit3'
      - $ref: '#/components/parameters/Sort3'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/SearchTerm3'
      - schema:
          type: string
        in: query
        name: resource
        description: Notification entity name
      - schema:
          type: string
        in: query
        name: event
        description: Notification event name
      security:
      - x-api-key: []
      tags:
      - Notification Rules
      x-internal: true
    post:
      summary: Create Notification Rule
      operationId: create-notification-rule-org
      responses:
        '201':
          $ref: '#/components/responses/NotificationRuleResponse'
      x-stoplight:
        id: zd8fe9zq9vz65
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/NotificationRuleRequest'
      security:
      - x-api-key: []
      tags:
      - Notification Rules
      x-internal: true
  /v1/notification-rules:
    get:
      summary: List Notification rules at account level
      responses:
        '200':
          $ref: '#/components/responses/NotificationRuleListResponse'
      operationId: list-notification-rules-account
      x-stoplight:
        id: rpxkf8nmka63c
      description: Get list of notification rules for account
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit3'
      - $ref: '#/components/parameters/Sort3'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/SearchTerm3'
      - schema:
          type: string
        in: query
        name: resource
        description: Notification resource name
      - schema:
          type: string
        in: query
        name: event
        description: Notification event name
      security:
      - x-api-key: []
      tags:
      - Notification Rules
      x-internal: true
    post:
      summary: Create Notification Rule
      operationId: create-notification-rule-account
      responses:
        '201':
          $ref: '#/components/responses/NotificationRuleResponse'
      x-stoplight:
        id: 4gde7c2oe66y1
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/NotificationRuleRequest'
      security:
      - x-api-key: []
      tags:
      - Notification Rules
      x-internal: true
  /v1/orgs/{org}/notification-rules/{notification-rule}:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    - schema:
        type: string
      name: notification-rule
      in: path
      required: true
      description: identifier
    get:
      summary: Get Notification Rule
      responses:
        '200':
          $ref: '#/components/responses/NotificationRuleResponse'
      operationId: get-notification-rule-org
      x-stoplight:
        id: tixx3mc8h9lx9
      description: Get notification rule
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      security:
      - x-api-key: []
      tags:
      - Notification Rules
      x-internal: true
    delete:
      summary: Delete Notification Rule
      operationId: delete-notification-rule-org
      responses:
        '204':
          description: No Content
        '400':
          headers: {}
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
      x-stoplight:
        id: ob3ocvnujbsdn
      description: Delete notification rule
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      security:
      - x-api-key: []
      tags:
      - Notification Rules
      x-internal: true
    put:
      summary: Update Notification Rule
      operationId: update-notification-rule-org
      responses:
        '200':
          $ref: '#/components/responses/NotificationRuleResponse'
      x-stoplight:
        id: 27vuuzo23p92w
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/NotificationRuleRequest'
      security:
      - x-api-key: []
      tags:
      - Notification Rules
      x-internal: true
  /v1/notification-rules/{notification-rule}:
    parameters:
    - schema:
        type: string
      name: notification-rule
      in: path
      required: true
      description: identifier
    get:
      summary: Get Notification Rule
      responses:
        '200':
          $ref: '#/components/responses/NotificationRuleResponse'
      operationId: get-notification-rule-account
      x-stoplight:
        id: n6wp9eszwjzp0
      description: Get notification rule
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      security:
      - x-api-key: []
      tags:
      - Notification Rules
      x-internal: true
    delete:
      summary: Delete Notification Rule
      operationId: delete-notification-rule-account
      responses:
        '204':
          description: No Content
        '400':
          headers: {}
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
      x-stoplight:
        id: 5dxk1ps427ia7
      description: Delete notification rule
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      security:
      - x-api-key: []
      tags:
      - Notification Rules
      x-internal: true
    put:
      summary: Update Notification Rule
      operationId: update-notification-rule-account
      responses:
        '200':
          $ref: '#/components/responses/NotificationRuleResponse'
      x-stoplight:
        id: v4l0x6kyqmcut
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      requestBody:
        $ref: '#/components/requestBodies/NotificationRuleRequest'
      security:
      - x-api-key: []
      tags:
      - Notification Rules
      x-internal: true
  /v1/orgs/{org}/projects/{project}/notification-rules/validate-rules/{notification-rule}:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    - $ref: '#/components/parameters/ProjectPathParam'
    - schema:
        type: string
      name: notification-rule
      in: path
      required: true
      description: Notification Rule Identifier
    get:
      summary: Validate notification rule identifier
      tags:
      - Notification Rules
      responses:
        '200':
          $ref: '#/components/responses/ValidateIdentifierResponse'
        '302':
          description: Found
      operationId: validate-notification-rule-identifier
      x-stoplight:
        id: zrupqdwqv03id
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      security:
      - x-api-key: []
  /v1/orgs/{org}/validate-rules/{notification-rule}:
    parameters:
    - $ref: '#/components/parameters/OrgPathParam'
    - schema:
        type: string
      name: notification-rule
      in: path
      required: true
      description: Notification Rule Identifier
    get:
      summary: Validate notification rule identifier
      tags:
      - Notification Rules
      responses:
        '200':
          $ref: '#/components/responses/ValidateIdentifierResponse'
        '302':
          description: Found
      operationId: validate-notification-rule-identifier-org
      x-stoplight:
        id: 8ouru8hu0buzm
      description: Validate notification rule identifier org level
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      security:
      - x-api-key: []
  /v1/validate-rules/{notification-rule}:
    parameters:
    - schema:
        type: string
      name: notification-rule
      in: path
      required: true
      description: identifier
    get:
      summary: Validate notification rule identifier
      tags:
      - Notification Rules
      responses:
        '200':
          $ref: '#/components/responses/ValidateIdentifierResponse'
        '302':
          description: Found
      operationId: validate-notification-rule-identifier-account
      x-stoplight:
        id: imzpediwp0dzw
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      security:
      - x-api-key: []
  /v1/notification-resource-list:
    get:
      summary: List of notification entities and events
      tags:
      - Notification Rules
      responses:
        '200':
          description: Shared Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotificationResourceDTO'
      operationId: notification-resource-list
      x-stoplight:
        id: pdsj5o8j3jsqe
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      x-internal: true
      security:
      - x-api-key: []
components:
  requestBodies:
    NotificationRuleRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotificationRuleDTO'
      description: Notification rule request
  schemas:
    NotificationEventConfigDTO:
      title: NotificationEventConfigDTO
      x-stoplight:
        id: vvdqrc1istt8n
      type: object
      properties:
        notification_entity:
          type: string
        notification_event_data:
          $ref: '#/components/schemas/NotificationEventParamsDTO'
          x-stoplight:
            id: 7kv2sz6c1vthx
        notification_event:
          type: string
        entity_identifiers:
          type: array
          items:
            type: string
    ValidateIdentifierDTO:
      title: ValidateIdentifierDTO
      x-stoplight:
        id: rfcu5cr80bs8g
      type: object
      properties:
        exists:
          type: boolean
          x-stoplight:
            id: i73hymdxgepoo
    NotificationEventParamsDTO:
      title: NotificationEventParamsDTO
      x-stoplight:
        id: esscocuf2l83m
      type: object
      discriminator:
        propertyName: type
        mapping:
          DELEGATE: '#/components/schemas/DelegateEventNotificationParamsDTO'
          PIPELINE: '#/components/schemas/PipelineEventNotificationParamsDTO'
          CHAOS_EXPERIMENT: '#/components/schemas/ChaosExperimentEventNotificationParamsDTO'
          SERVICE_LEVEL_OBJECTIVE: '#/components/schemas/SLOEventNotificationParamsDTO'
      properties:
        type:
          $ref: '#/components/schemas/ResourceTypeEnum'
      description: Notification Event Params
    Status:
      title: Status
      type: string
      x-stoplight:
        id: 57964lq16jzs3
      enum:
      - ENABLED
      - DISABLED
      description: Notification Rule Status
    NotificationResourceDTO:
      title: NotificationResourceDTO
      x-stoplight:
        id: 008920f2zzf1d
      type: object
      properties:
        resource_name:
          type: string
          x-stoplight:
            id: sk4desmgfuy93
        events:
          type: array
          x-stoplight:
            id: ul4nznur4bfd9
          items:
            x-stoplight:
              id: bdi2x87lzw3eo
            type: string
        enabled:
          type: boolean
          x-stoplight:
            id: ythx08f560f7i
      description: Notification resource and list of events
    CustomNotificationTemplateDTO:
      title: CustomNotificationTemplateDTO
      x-stoplight:
        id: 7i0op7u06osi8
      type: object
      x-examples:
        Example 1:
          template:
            templateRef: org.nginx
            versionLabel: v1
            variables:
            - name: variable1
              value: value1
              type: string
            - name: variable2
              value: value2
              type: string
      properties:
        template_ref:
          type: string
        version_label:
          type: string
        variables:
          type: array
          x-stoplight:
            id: 0r23u2qzuxaz6
          items:
            $ref: '#/components/schemas/NotificationTemplateInputsDTO'
    NotificationConditionDTO:
      title: NotificationConditionDTO
      x-stoplight:
        id: x6qlppxurh1mc
      type: object
      properties:
        condition_name:
          type: string
          x-stoplight:
            id: 697xioj0wwra7
        notification_event_configs:
          type: array
          x-stoplight:
            id: o2pktaqro6dtv
          items:
            $ref: '#/components/schemas/NotificationEventConfigDTO'
    ResourceTypeEnum:
      title: ResourceTypeEnum
      type: string
      x-stoplight:
        id: ad4v5eitxzg50
      enum:
      - DELEGATE
      - CHAOS_EXPERIMENT
      - PIPELINE
      - SERVICE_LEVEL_OBJECTIVE
    NotificationRuleDTO:
      type: object
      x-examples:
        Example 1:
          identifier: NR1
          account: accountid
          org: org1
          project: myproj
          notification_entity: DELEGATE
          notification_conditions:
          - name: del-condition
            notification_event_configs:
            - notification_event: DELEGATE_DOWN
              notification_channels:
              - name: nc1
                org: org1
                project: proj1
                notification_channel_type: PAGERDUTY
                status: DISABLED
                channel:
                  pager_duty_integration_keys: []
                  user_groups:
                  - {}
                created_by: {}
                created: 0
                nextIteration: 0
            - notificationEvent: DELEGATE_EXPIRED
              notificationChannels:
              - name: nc1
                org: org1
                project: proj1
                notificationChannelType: PAGERDUTY
                status: DISABLED
                channel:
                  pagerDutyIntegrationKeys: []
                  userGroups:
                  - {}
                created_by: {}
                created: 0
                nextIteration: 0
          status: ENABLED
          created_by: {}
          created: 0
      description: Notification Rule DTO
      properties:
        identifier:
          type: string
          x-stoplight:
            id: 3xy0lrmqbzujp
        account:
          type: string
          x-stoplight:
            id: 0knfytbeagygi
        org:
          type: string
          x-stoplight:
            id: plxjwxq3kbtmf
        project:
          type: string
          x-stoplight:
            id: kip45dsvd6vya
        status:
          $ref: '#/components/schemas/Status'
        last_modified:
          type: integer
          x-stoplight:
            id: g71dkqd7f8w9l
          format: int64
        created:
          type: integer
          x-stoplight:
            id: uflyip2weeewr
          format: int64
        name:
          type: string
          x-stoplight:
            id: fxelaoeenutjb
        notification_conditions:
          x-stoplight:
            id: 17841zlwcujh4
          type: array
          items:
            $ref: '#/components/schemas/NotificationConditionDTO'
        notification_channel_refs:
          type: array
          x-stoplight:
            id: 7rem3rrfdyxfk
          items:
            type: string
        custom_notification_template_ref:
          $ref: '#/components/schemas/CustomNotificationTemplateDTO'
    NotificationTemplateInputsDTO:
      title: NotificationTemplateInputsDTO
      x-stoplight:
        id: hrzvz8ee0gojd
      type: object
      properties:
        name:
          type: string
          x-stoplight:
            id: sqj7hpyogmoun
        value:
          type: string
          x-stoplight:
            id: 3sf823v22jfdd
        type:
          type: string
          x-stoplight:
            id: slnpq1uq97zre
      required:
      - name
      - value
  parameters:
    SearchTerm3:
      name: search_term
      in: query
      required: false
      schema:
        type: string
      description: This would be used to filter resources having attributes matching with search term.
    Limit3:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 30
        maximum: 1000
      description: Number of items to return per page.
    Sort3:
      name: sort
      in: query
      required: false
      schema:
        type: string
        enum:
        - name
        - identifier
        - created
        - updated
      description: Parameter on the basis of which sorting is done.
    ProjectPathParam:
      name: project
      in: path
      required: true
      schema:
        type: string
      description: Identifier field of the project the resource is scoped to
    OrgPathParam:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Identifier field of the organization the resource is scoped to
    AccountHeader:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
    Order:
      name: order
      in: query
      required: false
      schema:
        type: string
        enum:
        - ASC
        - DESC
      description: Order on the basis of which sorting is done.
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t"
  responses:
    NotificationRuleListResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/NotificationRuleDTO'
        application/xml:
          schema:
            $ref: '#/components/schemas/NotificationRuleDTO'
      headers:
        X-Total-Elements:
          schema:
            type: integer
          description: Total number of elements returned in Paginated response.
        X-Page-Number:
          schema:
            type: integer
          description: Page number in Paginated response.
        X-Page-Size:
          schema:
            type: integer
          description: Maximum page size in Paginated response.
    NotificationRuleResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotificationRuleDTO'
        application/xml:
          schema:
            $ref: '#/components/schemas/NotificationRuleDTO'
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/NotificationRuleDTO'
    ValidateIdentifierResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidateIdentifierDTO'
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
