openapi: 3.2.0
info:
  title: Harness Principals With Access API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Principals With Access
paths:
  /v1/listPrincipalsWithAccess:
    get:
      summary: list
      tags:
      - Principals With Access
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  principalsWithAccess:
                    $ref: '#/components/schemas/PrincipalWithAccessResponse'
        '400':
          description: Bad Request
      operationId: get-v1-listPrincipalsWithAccess
      x-stoplight:
        id: sa5b0bfaplklt
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      - schema:
          type: string
        in: query
        name: moduleType
        description: Module to fetch the users for
        required: true
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit1'
    post:
      summary: Your POST endpoint
      tags:
      - Principals With Access
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  principalsWithAccess:
                    $ref: '#/components/schemas/PrincipalWithAccessResponse'
        '400':
          description: Bad Request
      operationId: post-v1-listPrincipalsWithAccess
      x-stoplight:
        id: qdy1p2ocwewgn
      parameters:
      - $ref: '#/components/parameters/AccountHeader'
      - schema:
          type: string
        in: query
        name: moduleType
        description: Module to fetch the users for
        required: true
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit1'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  $ref: '#/components/schemas/PrincipalWithAccessFilter'
components:
  schemas:
    PrincipalWithAccessFilter:
      title: PrincipalWithAccessFilter
      x-stoplight:
        id: dupdo3pmtijg6
      type: object
      properties:
        principalType:
          type: string
          x-stoplight:
            id: 3unmqy95qmlzt
        userGroups:
          type: array
          x-stoplight:
            id: 9n26db88ry5nc
          items:
            $ref: '#/components/schemas/PrincipalEntity'
        orgs:
          type: array
          x-stoplight:
            id: 7r6jrob5jmbc8
          items:
            x-stoplight:
              id: kp39q44vlmrxm
            type: string
        projects:
          type: array
          x-stoplight:
            id: 1g91pml71htb9
          items:
            x-stoplight:
              id: jhj18lqilh4rs
            type: array
            items:
              x-stoplight:
                id: z9464nu0fsja6
              type: string
    PrincipalWithAccessResponse:
      title: PrincipalWithAccessResponse
      x-stoplight:
        id: 0iqrzwy2eac9w
      type: object
      properties:
        totalPrincipals:
          type: integer
          x-stoplight:
            id: 6ab0i1j3hpkme
        userGroups:
          type: array
          x-stoplight:
            id: fgty89brdsnff
          items:
            $ref: '#/components/schemas/UserGroupEntity'
        serviceAccounts:
          type: array
          x-stoplight:
            id: zh42c3dota9wp
          items:
            $ref: '#/components/schemas/PrincipalEntity'
        orgs:
          type: array
          x-stoplight:
            id: inu3d41xzect0
          items:
            x-stoplight:
              id: 6pyj9v5wp146q
            type: string
        projects:
          type: array
          x-stoplight:
            id: c88wnjk59ledb
          items:
            x-stoplight:
              id: mmujpoa5sln83
            type: array
            items:
              x-stoplight:
                id: ggnmtd6ivokrj
              type: string
        usersWithAccess:
          type: array
          x-stoplight:
            id: 9nidfhubhcf7i
          items:
            $ref: '#/components/schemas/UserWithAccessEntity'
        totalPages:
          type: integer
          x-stoplight:
            id: her4f6qotj9h0
    UserWithAccessEntity:
      x-stoplight:
        id: 18na0szgoztrr
      type: object
      properties:
        name:
          type: string
          x-stoplight:
            id: xauaeb4nf75kj
        email:
          type: string
          x-stoplight:
            id: ux96f5g61dxyw
        isServiceAccount:
          type: boolean
          x-stoplight:
            id: jlf10s4usvuco
        lastLogin:
          type: integer
          x-stoplight:
            id: hrgto6a4d1ywo
          format: int64
        orgs:
          type: array
          x-stoplight:
            id: f3nwrt8ii1jp2
          items:
            x-stoplight:
              id: mareqvqg10k1n
            type: string
        projects:
          type: array
          x-stoplight:
            id: 0364et044xhlz
          items:
            x-stoplight:
              id: ejmjxhbs0o3pw
            type: string
        userGroups:
          type: array
          x-stoplight:
            id: 0mqgc5uipwf3m
          items:
            x-stoplight:
              id: 3w6mw72cv8l2f
            type: string
      title: ''
    UserGroupEntity:
      title: UserGroupEntity
      x-stoplight:
        id: b8w2br3njf3cn
      type: object
      properties:
        identifier:
          type: string
          x-stoplight:
            id: xx6q3dtm4c5hz
        accountIdentifier:
          type: string
          x-stoplight:
            id: 305th55frjrg9
        org:
          type: string
          x-stoplight:
            id: 7y6bvcurxzf81
        project:
          type: string
          x-stoplight:
            id: xi4hb24q1vdmx
        userCount:
          type: integer
          x-stoplight:
            id: jfu0h1fgjls12
    PrincipalEntity:
      title: PrincipalEntity
      x-stoplight:
        id: asm05p372hcq4
      type: object
      properties:
        identifier:
          type: string
          x-stoplight:
            id: pzzrkgehhya5r
        accountIdentifier:
          type: string
          x-stoplight:
            id: 0p4tznxz5qjng
        org:
          type: string
          x-stoplight:
            id: 2p7cnue3epiz3
        project:
          type: string
          x-stoplight:
            id: 8vf2lmgn5xo4l
  parameters:
    AccountHeader:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t"
    Limit1:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 20
        maximum: 1000
      description: Number of items to return per page.
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
