openapi: 3.2.0
info:
  title: Harness Spaces API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Spaces
paths:
  /har/api/v1/spaces/{space_ref}/artifact/stats:
    get:
      operationId: GetArtifactStatsForSpace
      parameters:
      - $ref: '#/components/parameters/spaceRefPathParam'
      - $ref: '#/components/parameters/fromDateParam'
      - $ref: '#/components/parameters/toDateParam'
      responses:
        '200':
          $ref: '#/components/responses/ArtifactStatsResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: Get artifact stats
      tags:
      - Spaces
  /har/api/v1/spaces/{space_ref}/artifacts:
    get:
      description: Lists all the artifacts
      operationId: GetAllArtifacts
      parameters:
      - $ref: '#/components/parameters/spaceRefPathParam'
      - $ref: '#/components/parameters/RegistryIdentifierParam'
      - $ref: '#/components/parameters/RegistrypageNumber'
      - $ref: '#/components/parameters/RegistrypageSize'
      - $ref: '#/components/parameters/RegistrysortOrder'
      - $ref: '#/components/parameters/sortField'
      - $ref: '#/components/parameters/searchTerm'
      - $ref: '#/components/parameters/latestVersion'
      - $ref: '#/components/parameters/deployedArtifact'
      - $ref: '#/components/parameters/packageTypeParam'
      responses:
        '200':
          $ref: '#/components/responses/ListArtifactResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: List artifacts
      tags:
      - Spaces
  /har/api/v1/spaces/{space_ref}/details:
    get:
      operationId: GetStorageDetails
      parameters:
      - $ref: '#/components/parameters/spaceRefPathParam'
      responses:
        '200':
          $ref: '#/components/responses/StorageDetailsResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: Get storage details for given space
      tags:
      - Spaces
  /har/api/v1/spaces/{space_ref}/labels:
    get:
      operationId: RegistrylistSpaceLabels
      parameters:
      - description: The page to return.
        in: query
        name: page
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: The maximum number of results to return.
        in: query
        name: limit
        schema:
          default: 30
          maximum: 100
          minimum: 1
          type: integer
      - description: The result should inherit entities from parent spaces.
        in: query
        name: inherited
        schema:
          default: false
          type: boolean
      - description: The substring which is used to filter the labels by their key.
        in: query
        name: query
        schema:
          type: string
      - in: path
        name: space_ref
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RegistryTypesLabel'
                type: array
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      tags:
      - Spaces
      summary: Registrylist space labels
      x-summary-source: derived
    post:
      operationId: RegistrydefineSpaceLabel
      parameters:
      - in: path
        name: space_ref
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                color:
                  $ref: '#/components/schemas/EnumLabelColor'
                description:
                  type: string
                key:
                  type: string
                type:
                  $ref: '#/components/schemas/EnumLabelType'
              type: object
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryTypesLabel'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      tags:
      - Spaces
      summary: Registrydefine space label
      x-summary-source: derived
    put:
      operationId: RegistrysaveSpaceLabel
      parameters:
      - in: path
        name: space_ref
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                label:
                  $ref: '#/components/schemas/TypesSaveLabelInput'
                values:
                  items:
                    $ref: '#/components/schemas/TypesSaveLabelValueInput'
                  type: array
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryTypesLabelWithValues'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      tags:
      - Spaces
      summary: Registrysave space label
      x-summary-source: derived
  /har/api/v1/spaces/{space_ref}/labels/{key}:
    delete:
      operationId: RegistrydeleteSpaceLabel
      parameters:
      - in: path
        name: space_ref
        required: true
        schema:
          type: string
      - in: path
        name: key
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      tags:
      - Spaces
      summary: Registrydelete space label
      x-summary-source: derived
    get:
      operationId: findSpaceLabel
      parameters:
      - description: The result should include label values.
        in: query
        name: include_values
        schema:
          default: false
          type: boolean
      - in: path
        name: space_ref
        required: true
        schema:
          type: string
      - in: path
        name: key
        required: true
        schema:
          type: string
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryTypesLabelWithValues'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      tags:
      - Spaces
      summary: Find space label
      x-summary-source: derived
    patch:
      operationId: RegistryupdateSpaceLabel
      parameters:
      - in: path
        name: space_ref
        required: true
        schema:
          type: string
      - in: path
        name: key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                color:
                  $ref: '#/components/schemas/EnumLabelColor'
                description:
                  type: string
                key:
                  type: string
                type:
                  $ref: '#/components/schemas/EnumLabelType'
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryTypesLabel'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      tags:
      - Spaces
      summary: Registryupdate space label
      x-summary-source: derived
  /har/api/v1/spaces/{space_ref}/labels/{key}/values:
    get:
      operationId: RegistrylistSpaceLabelValues
      parameters:
      - in: path
        name: space_ref
        required: true
        schema:
          type: string
      - in: path
        name: key
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TypesLabelValue'
                type: array
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      tags:
      - Spaces
      summary: Registrylist space label values
      x-summary-source: derived
    post:
      operationId: RegistrydefineSpaceLabelValue
      parameters:
      - in: path
        name: space_ref
        required: true
        schema:
          type: string
      - in: path
        name: key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                color:
                  $ref: '#/components/schemas/EnumLabelColor'
                value:
                  type: string
              type: object
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypesLabelValue'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      tags:
      - Spaces
      summary: Registrydefine space label value
      x-summary-source: derived
  /har/api/v1/spaces/{space_ref}/labels/{key}/values/{value}:
    delete:
      operationId: RegistrydeleteSpaceLabelValue
      parameters:
      - in: path
        name: space_ref
        required: true
        schema:
          type: string
      - in: path
        name: key
        required: true
        schema:
          type: string
      - in: path
        name: value
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      tags:
      - Spaces
      summary: Registrydelete space label value
      x-summary-source: derived
    patch:
      operationId: RegistryupdateSpaceLabelValue
      parameters:
      - in: path
        name: space_ref
        required: true
        schema:
          type: string
      - in: path
        name: key
        required: true
        schema:
          type: string
      - in: path
        name: value
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                color:
                  $ref: '#/components/schemas/EnumLabelColor'
                value:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypesLabelValue'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      tags:
      - Spaces
      summary: Registryupdate space label value
      x-summary-source: derived
  /har/api/v1/spaces/{space_ref}/registries:
    get:
      description: Lists all the registries.
      operationId: GetAllRegistries
      parameters:
      - $ref: '#/components/parameters/spaceRefPathParam'
      - $ref: '#/components/parameters/packageTypeParam'
      - $ref: '#/components/parameters/RegistryTypeParam'
      - $ref: '#/components/parameters/RegistrypageNumber'
      - $ref: '#/components/parameters/RegistrypageSize'
      - $ref: '#/components/parameters/RegistrysortOrder'
      - $ref: '#/components/parameters/sortField'
      - $ref: '#/components/parameters/searchTerm'
      - $ref: '#/components/parameters/recursiveParam'
      - $ref: '#/components/parameters/scopeParam'
      responses:
        '200':
          $ref: '#/components/responses/ListRegistryResponse'
        '400':
          $ref: '#/components/responses/RegistryBadRequest'
        '401':
          $ref: '#/components/responses/RegistryUnauthenticated'
        '403':
          $ref: '#/components/responses/RegistryUnauthorized'
        '404':
          $ref: '#/components/responses/RegistryNotFound'
        '500':
          $ref: '#/components/responses/RegistryInternalServerError'
      summary: List registries
      tags:
      - Spaces
components:
  responses:
    RegistryUnauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegistryError'
      description: Access denied due to insufficient permissions
    RegistryUnauthenticated:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegistryError'
      description: Authentication failed or missing credentials
    RegistryNotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegistryError'
      description: The requested resource was not found
    RegistryInternalServerError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegistryError'
      description: An unexpected server error occurred
    RegistryBadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegistryError'
      description: The request was invalid or malformed
    ListRegistryResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/ListRegistry'
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            - data
            type: object
      description: response for list registry
    ListArtifactResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/ListArtifact'
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            - data
            type: object
      description: response for list artifact
    ArtifactStatsResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/ArtifactStats'
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            - data
            type: object
      description: response to get artifact stats response
    StorageDetailsResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/StorageDetails'
              status:
                $ref: '#/components/schemas/RegistryStatus'
            required:
            - status
            - data
            type: object
      description: response for storage details
  schemas:
    ArtifactEntityMetadata:
      additionalProperties: true
      description: Artifact Entity Metadata
      type: object
    ArtifactStats:
      description: Harness Artifact Stats
      properties:
        downloadCount:
          format: int64
          type: integer
        downloadSize:
          format: int64
          type: integer
        totalStorageSize:
          format: int64
          type: integer
        uploadSize:
          format: int64
          type: integer
      type: object
    RegistryArtifactType:
      description: refers to artifact type
      enum:
      - model
      - dataset
      - module
      - provider
      type: string
    TypesLabelValue:
      properties:
        color:
          $ref: '#/components/schemas/EnumLabelColor'
        created:
          type: integer
        created_by:
          type: integer
        id:
          type: integer
        label_id:
          type: integer
        updated:
          type: integer
        updated_by:
          type: integer
        value:
          type: string
      type: object
    DeploymentMetadata:
      properties:
        nonProdEnvCount:
          type: integer
        prodEnvCount:
          type: integer
      required:
      - prodEnvCount
      - nonProdEnvCount
      type: object
    PackageType:
      description: refers to package
      enum:
      - DOCKER
      - MAVEN
      - PYTHON
      - GENERIC
      - HELM
      - NUGET
      - NPM
      - RPM
      - CARGO
      - COMPOSER
      - GO
      - HUGGINGFACE
      - CONDA
      - DART
      - SWIFT
      - PUPPET
      - RUBY
      - CRAN
      - RAW
      - HELM_HTTP
      - DEBIAN
      - CONAN
      - TERRAFORM
      type: string
    RegistryMetadata:
      description: Harness Artifact Registry Metadata
      properties:
        artifactsCount:
          format: int64
          type: integer
        deletedAt:
          description: Timestamp in milliseconds when the registry was soft-deleted
          type: string
        deletedBy:
          $ref: '#/components/schemas/PerformedBy'
        description:
          type: string
        downloadsCount:
          format: int64
          type: integer
        identifier:
          type: string
        isPublic:
          type: boolean
        lastModified:
          type: string
        packageType:
          $ref: '#/components/schemas/PackageType'
        path:
          type: string
        registrySize:
          type: string
        type:
          $ref: '#/components/schemas/RegistryType'
        url:
          type: string
        uuid:
          type: string
      required:
      - type
      - packageType
      - identifier
      - url
      - isPublic
      - uuid
      type: object
    TypesSaveLabelInput:
      properties:
        color:
          $ref: '#/components/schemas/EnumLabelColor'
        description:
          type: string
        id:
          type: integer
        key:
          type: string
        type:
          $ref: '#/components/schemas/EnumLabelType'
      type: object
    RegistryStatus:
      description: Request processing status indicator
      enum:
      - SUCCESS
      - FAILURE
      - ERROR
      type: string
    RegistryError:
      description: Standard error response with code, message and optional details
      properties:
        code:
          description: The HTTP error code
          example: '404'
          type: string
        details:
          description: 'Additional context and details about the error.

            May include field-specific validation errors or debugging information.

            '
          example:
            field: registry_identifier
            reason: Registry does not exist in the specified project
            value: invalid-registry
          type: object
        message:
          description: Human-readable error message explaining what went wrong
          example: Registry not found
          type: string
      required:
      - code
      - message
      type: object
    EnumLabelType:
      enum:
      - dynamic
      - static
      type: string
    RegistryType:
      description: refers to type of registry i.e virtual or upstream
      discriminator:
        propertyName: type
      enum:
      - VIRTUAL
      - UPSTREAM
      type: string
    ListRegistry:
      description: A list of Harness Artifact Registries
      properties:
        itemCount:
          description: The total number of items
          example: 1
          format: int64
          type: integer
        meta:
          $ref: '#/components/schemas/Meta'
        pageCount:
          description: The total number of pages
          example: 100
          format: int64
          type: integer
        pageIndex:
          description: The current page
          example: 0
          format: int64
          type: integer
        pageSize:
          description: The number of items per page
          example: 1
          type: integer
        registries:
          description: A list of Harness Artifact Registries
          items:
            $ref: '#/components/schemas/RegistryMetadata'
          type: array
      required:
      - registries
      - meta
      type: object
    ListArtifact:
      description: A list of Artifacts
      properties:
        artifacts:
          description: A list of Artifact
          items:
            $ref: '#/components/schemas/ArtifactMetadata'
          type: array
        itemCount:
          description: The total number of items
          example: 1
          format: int64
          type: integer
        pageCount:
          description: The total number of pages
          example: 100
          format: int64
          type: integer
        pageIndex:
          description: The current page
          example: 0
          format: int64
          type: integer
        pageSize:
          description: The number of items per page
          example: 1
          type: integer
      required:
      - artifacts
      type: object
    EnumLabelColor:
      enum:
      - blue
      - brown
      - cyan
      - green
      - indigo
      - lime
      - mint
      - orange
      - pink
      - purple
      - red
      - violet
      - yellow
      type: string
    RegistryTypesLabelWithValues:
      properties:
        label:
          $ref: '#/components/schemas/RegistryTypesLabel'
        values:
          items:
            $ref: '#/components/schemas/TypesLabelValue'
          type: array
      type: object
    ArtifactMetadata:
      description: Artifact Metadata
      properties:
        artifactKey:
          additionalProperties:
            type: string
          type: object
        artifactType:
          $ref: '#/components/schemas/RegistryArtifactType'
        deletedAt:
          description: Timestamp in milliseconds when the artifact was soft deleted. Null if not deleted.
          type: string
        deploymentMetadata:
          $ref: '#/components/schemas/DeploymentMetadata'
        digestCount:
          format: int64
          type: integer
        downloadsCount:
          format: int64
          type: integer
        fileCount:
          type: integer
        firewallMode:
          enum:
          - ENABLED
          - QUARANTINE
          - ALLOW
          type: string
        isQuarantined:
          type: boolean
        labels:
          items:
            type: string
          type: array
        lastModified:
          type: string
        lastScannedAt:
          type: string
        latestVersion:
          type: string
        metadata:
          $ref: '#/components/schemas/ArtifactEntityMetadata'
        name:
          type: string
        packageType:
          $ref: '#/components/schemas/PackageType'
        pullCommand:
          type: string
        purl:
          description: Package URL (PURL) identifying the package version.
          type: string
        quarantineReason:
          type: string
        registryIdentifier:
          type: string
        registryPath:
          type: string
        registryType:
          $ref: '#/components/schemas/RegistryType'
        registryUUID:
          type: string
        scanId:
          type: string
        scanStatus:
          enum:
          - WARN
          - BLOCKED
          - ALLOWED
          type: string
        uuid:
          type: string
        version:
          type: string
      required:
      - name
      - version
      - registryIdentifier
      - latestVersion
      - registryPath
      - packageType
      - registryUUID
      - uuid
      type: object
    UsererrorError:
      properties:
        message:
          type: string
        values:
          additionalProperties: {}
          type: object
      type: object
    StorageDetails:
      description: storage details
      properties:
        totalSize:
          type: string
      required:
      - totalSize
      type: object
    RegistryTypesLabel:
      properties:
        color:
          $ref: '#/components/schemas/EnumLabelColor'
        created:
          format: int64
          type: integer
        created_by:
          format: int64
          type: integer
        description:
          type: string
        id:
          format: int64
          type: integer
        key:
          type: string
        scope:
          format: int64
          type: integer
        space_id:
          format: int64
          type:
          - integer
          - 'null'
        type:
          $ref: '#/components/schemas/EnumLabelType'
        updated:
          format: int64
          type: integer
        updated_by:
          format: int64
          type: integer
        value_count:
          format: int64
          type: integer
      type: object
    TypesSaveLabelValueInput:
      properties:
        color:
          $ref: '#/components/schemas/EnumLabelColor'
        id:
          type: integer
        value:
          type: string
      type: object
    Meta:
      description: Metadata about the list response
      properties:
        activeCount:
          description: Count of active (non-deleted) entities
          example: 95
          format: int64
          type: integer
        deletedCount:
          description: Count of soft-deleted entities
          example: 5
          format: int64
          type: integer
      required:
      - activeCount
      - deletedCount
      type: object
    PerformedBy:
      description: Principal who performed the relevant action
      properties:
        email:
          type: string
        name:
          type: string
      required:
      - name
      - email
      type: object
  parameters:
    fromDateParam:
      description: Date. Format - MM/DD/YYYY
      in: query
      name: from
      schema:
        type: string
    recursiveParam:
      description: 'Whether to list registries recursively.


        **Deprecated.** Use the new `scope` parameter.


        * `recursive=true`  → `scope=ancestors`

        * `recursive=false` → `scope=none`

        '
      in: query
      name: recursive
      schema:
        default: false
        type: boolean
    RegistryTypeParam:
      description: Registry Type
      in: query
      name: type
      schema:
        enum:
        - VIRTUAL
        - UPSTREAM
        type: string
    RegistrysortOrder:
      description: sortOrder
      in: query
      name: sort_order
      schema:
        type: string
    RegistryIdentifierParam:
      description: Registry Identifier
      in: query
      name: reg_identifier
      schema:
        items:
          type: string
        type: array
    toDateParam:
      description: Date. Format - MM/DD/YYYY
      in: query
      name: to
      schema:
        type: string
    spaceRefPathParam:
      description: 'Reference to the scope in which the registry exists.


        Format depends on the scope:


        - **Account-level**: `account_id/+`

        - **Organization-level**: `account_id/org/+`

        - **Project-level**: `account_id/org/project/+`


        The `/+` suffix is used internally to route scoped requests.

        It must be included **exactly as shown** in the URL.

        '
      examples:
        accountLevel:
          description: Only account ID, scoped at account level
          summary: Account-level registry
          value: acc123/+
        orgLevel:
          description: Account and org, scoped at org level
          summary: Organization-level registry
          value: acc123/org456/+
        projectLevel:
          description: Account, org, and project, scoped at project level
          summary: Project-level registry
          value: acc123/org456/proj789/+
      in: path
      name: space_ref
      required: true
      schema:
        type: string
    searchTerm:
      description: search Term.
      in: query
      name: search_term
      schema:
        type: string
    scopeParam:
      description: "**Scope of registries to list**\n* **none** – current space only (default)   * **ancestors** – current space **plus** all parent spaces   * **descendants** – current space **plus** all child spaces  \nIf omitted, `none` is assumed.\n"
      in: query
      name: scope
      schema:
        enum:
        - ancestors
        - descendants
        - none
        type: string
    RegistrypageSize:
      description: Number of items per page
      in: query
      name: size
      schema:
        default: 20
        format: int64
        type: integer
    sortField:
      description: sortField
      in: query
      name: sort_field
      schema:
        type: string
    latestVersion:
      description: Latest Version Filter.
      in: query
      name: latest_version
      schema:
        type: boolean
    deployedArtifact:
      description: Deployed Artifact Filter.
      in: query
      name: deployed_artifact
      schema:
        type: boolean
    RegistrypageNumber:
      description: Current page number
      in: query
      name: page
      schema:
        default: 1
        format: int64
        type: integer
    packageTypeParam:
      description: Registry Package Type
      in: query
      name: package_type
      schema:
        items:
          type: string
        type: array
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
