openapi: 3.2.0
info:
  title: Harness Connectors API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Connectors
  description: This contains APIs related to Connectors as defined in Harness
paths:
  /ng/api/connectors/ccmK8sList:
    post:
      tags:
      - Connectors
      summary: Fetches the list of CCM K8S Connectors corresponding to the request's filter…
      operationId: getCCMK8SConnectorList
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: searchTerm
        in: query
        description: This would be used to filter Connectors. Any Connector having the specified string in its Name, ID and Tag would be filtered.
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: filterIdentifier
        in: query
        schema:
          type: string
      - name: includeAllConnectorsAvailableAtScope
        in: query
        description: Specify whether or not to include all the Connectors accessible at the scope. For eg if set as true, at the Project scope we will get org and account Connector also in the response
        schema:
          type: boolean
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      - name: getDistinctFromBranches
        in: query
        description: This when set to true along with GitSync enabled for the Connector, you can get one connector entity from each identifier. The connector entity can belong to any branch
        schema:
          type: boolean
      - name: pageIndex
        in: query
        description: 'Page Index of the results to fetch.Default Value: 0'
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: 'Results per page(max 100)Default Value: 50'
        schema:
          maximum: 100
          type: integer
          format: int32
          default: 50
      - name: sortOrders
        in: query
        description: Sort criteria for the elements.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/SortOrder'
      - name: pageToken
        in: query
        description: 'Page Token of the next results to fetch.Default Value: '''''
        schema:
          type: string
      requestBody:
        description: Details of the filters applied
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorFilterProperties'
          text/yaml:
            schema:
              $ref: '#/components/schemas/ConnectorFilterProperties'
          text/html:
            schema:
              $ref: '#/components/schemas/ConnectorFilterProperties'
          text/plain:
            schema:
              $ref: '#/components/schemas/ConnectorFilterProperties'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns the list of Connectors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseCcmK8sConnectorResponse'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseCcmK8sConnectorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseCcmK8sConnectorResponse'
  /ng/api/connectors:
    get:
      tags:
      - Connectors
      summary: List all Connectors using filters
      description: Lists all the Connectors matching the specified filters.
      operationId: getConnectorList
      parameters:
      - name: pageIndex
        in: query
        description: Page number of navigation. By default, it is set to 0.
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: Number of entries per page.The default number of entries per page is 100, while the maximum number allowed is 1000.
        schema:
          maximum: 1000
          type: integer
          format: int32
          default: 100
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: searchTerm
        in: query
        description: This would be used to filter Connectors. Any Connector having the specified string in its Name, ID and Tag would be filtered.
        schema:
          type: string
      - name: type
        in: query
        description: Filter Connectors by type
        schema:
          type: string
          enum:
          - K8sCluster
          - Git
          - Splunk
          - AppDynamics
          - Prometheus
          - Dynatrace
          - Vault
          - AzureKeyVault
          - DockerRegistry
          - Local
          - AwsKms
          - GcpKms
          - AwsSecretManager
          - Gcp
          - Aws
          - Azure
          - Artifactory
          - Jira
          - Jsm
          - Nexus
          - Github
          - Gitlab
          - Bitbucket
          - Codecommit
          - CEAws
          - CEAzure
          - GcpCloudCost
          - CEK8sCluster
          - HttpHelmRepo
          - NewRelic
          - Datadog
          - SumoLogic
          - PagerDuty
          - CustomHealth
          - ServiceNow
          - ErrorTracking
          - Pdc
          - AzureRepo
          - Jenkins
          - OciHelmRepo
          - CustomSecretManager
          - ElasticSearch
          - GcpSecretManager
          - AzureArtifacts
          - Tas
          - Spot
          - Bamboo
          - TerraformCloud
          - SignalFX
          - Harness
          - Rancher
          - JDBC
          - Zoom
          - MsTeams
          - Confluence
          - Slack
          - Salesforce
          - LangSmith
          - MLFlow
          - OpsGenie
          - GithubMcp
          - Mcp
          - OpenAI
          - Cursor
          - Devin
          - GithubCopilot
          - Anthropic
          - GoogleChat
          - XMatters
          - CustomHttp
      - name: category
        in: query
        description: Filter Connectors by category
        schema:
          type: string
          enum:
          - CLOUD_PROVIDER
          - SECRET_MANAGER
          - CLOUD_COST
          - ARTIFACTORY
          - CODE_REPO
          - MONITORING
          - TICKETING
          - DATABASE
          - COMMUNICATION
          - DOCUMENTATION
          - ML_OPS
          - MCP
          - AI
          - CUSTOM
      - name: source_category
        in: query
        description: Filter Connectors by Source Category. Available Source Categories are CLOUD_PROVIDER, SECRET_MANAGER, CLOUD_COST, ARTIFACTORY, CODE_REPO,  MONITORING and TICKETING
        schema:
          type: string
          enum:
          - CLOUD_PROVIDER
          - SECRET_MANAGER
          - CLOUD_COST
          - ARTIFACTORY
          - CODE_REPO
          - MONITORING
          - TICKETING
          - DATABASE
          - COMMUNICATION
          - DOCUMENTATION
          - ML_OPS
          - MCP
          - AI
          - CUSTOM
      - name: version
        in: query
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns the list of Connectors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseConnectorResponse'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseConnectorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseConnectorResponse'
      deprecated: true
    put:
      tags:
      - Connectors
      summary: Update a Connector
      description: Updates a Connector for the given ID.
      operationId: updateConnector
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: rootFolder
        in: query
        description: Path to the root folder of the Entity. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: filePath
        in: query
        description: File Path of the Entity.
        schema:
          type: string
      - name: commitMsg
        in: query
        description: Commit Message to use for the merge commit.
        schema:
          type: string
      - name: lastObjectId
        in: query
        description: Its required field during update call request. It can be fetched from the response of GET API call for the entity
        schema:
          type: string
      - name: resolvedConflictCommitId
        in: query
        description: If the entity is git-synced, this parameter represents the commit id against which file conflicts are resolved
        schema:
          type: string
      - name: baseBranch
        in: query
        description: Name of the default branch.
        schema:
          type: string
      - name: connectorRef
        in: query
        description: Identifier of Connector needed for CRUD operations on the respective Entity
        schema:
          type: string
      - name: lastCommitId
        in: query
        description: last commit id of the file
        schema:
          type: string
      - name: isNewBranch
        in: query
        description: Checks the new branch
        schema:
          type: boolean
          default: false
      - name: isHarnessCodeRepo
        in: query
        description: Is Harness code repo enabled
        schema:
          type: boolean
      requestBody:
        description: This is the updated Connector. Please provide values for all fields, not just the fields you are updating
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connector2'
          text/yaml:
            schema:
              $ref: '#/components/schemas/Connector2'
          text/html:
            schema:
              $ref: '#/components/schemas/Connector2'
          text/plain:
            schema:
              $ref: '#/components/schemas/Connector2'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns the updated Connector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorResponse'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorResponse'
    post:
      tags:
      - Connectors
      summary: Create a Connector
      description: Creates a new Harness Connector.
      operationId: createConnector
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: rootFolder
        in: query
        description: Path to the root folder of the Entity. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: filePath
        in: query
        description: File Path of the Entity.
        schema:
          type: string
      - name: commitMsg
        in: query
        description: File Path of the Entity.
        schema:
          type: string
      - name: isNewBranch
        in: query
        description: Checks the new branch
        schema:
          type: boolean
          default: false
      - name: baseBranch
        in: query
        description: Name of the default branch.
        schema:
          type: string
      - name: connectorRef
        in: query
        description: Identifier of Connector needed for CRUD operations on the respective Entity
        schema:
          type: string
      - name: storeType
        in: query
        description: Tells whether the Entity is to be saved on Git or not
        schema:
          type: string
          enum:
          - INLINE
          - REMOTE
          - INLINE_HC
      - name: repoName
        in: query
        description: Name of the repository.
        schema:
          type: string
      - name: isHarnessCodeRepo
        in: query
        description: Is Harness code repo enabled
        schema:
          type: boolean
      requestBody:
        description: Details of the Connector to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connector2'
          text/yaml:
            schema:
              $ref: '#/components/schemas/Connector2'
          text/html:
            schema:
              $ref: '#/components/schemas/Connector2'
          text/plain:
            schema:
              $ref: '#/components/schemas/Connector2'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns created Connector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorResponse'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorResponse'
  /ng/api/connectors/{identifier}:
    get:
      tags:
      - Connectors
      summary: Return Connector details
      description: Returns the Connector's details for the given Account and Connector ID.
      operationId: getConnector
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: identifier
        in: path
        description: Connector Identifier
        required: true
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns the connector with the requested accountIdentifier and connectorIdentifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorResponse'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorResponse'
    delete:
      tags:
      - Connectors
      summary: Delete a Connector
      description: Deletes a Connector for the given ID.
      operationId: deleteConnector
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: identifier
        in: path
        description: Connector ID
        required: true
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: rootFolder
        in: query
        description: Path to the root folder of the Entity. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: filePath
        in: query
        description: File Path of the Entity.
        schema:
          type: string
      - name: commitMsg
        in: query
        description: Commit Message to use for the merge commit.
        schema:
          type: string
      - name: lastObjectId
        in: query
        description: Last Object Id
        schema:
          type: string
      - name: forceDelete
        in: query
        description: If true, the Entity will be forced delete, without checking any references/usages
        schema:
          type: boolean
          default: false
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: It returns true if the Connector is deleted successfully and false if the Connector is not deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
  /ng/api/connectors/fieldValues:
    get:
      tags:
      - Connectors
      summary: List all the configured field values for the given Connector type
      description: Returns all the configured field values for the given Connector type, which can be used during connector creation.
      operationId: getAllAllowedFieldValues
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: connectorType
        in: query
        description: Connector type
        required: true
        schema:
          type: string
          enum:
          - K8sCluster
          - Git
          - Splunk
          - AppDynamics
          - Prometheus
          - Dynatrace
          - Vault
          - AzureKeyVault
          - DockerRegistry
          - Local
          - AwsKms
          - GcpKms
          - AwsSecretManager
          - Gcp
          - Aws
          - Azure
          - Artifactory
          - Jira
          - Jsm
          - Nexus
          - Github
          - Gitlab
          - Bitbucket
          - Codecommit
          - CEAws
          - CEAzure
          - GcpCloudCost
          - CEK8sCluster
          - HttpHelmRepo
          - NewRelic
          - Datadog
          - SumoLogic
          - PagerDuty
          - CustomHealth
          - ServiceNow
          - ErrorTracking
          - Pdc
          - AzureRepo
          - Jenkins
          - OciHelmRepo
          - CustomSecretManager
          - ElasticSearch
          - GcpSecretManager
          - AzureArtifacts
          - Tas
          - Spot
          - Bamboo
          - TerraformCloud
          - SignalFX
          - Harness
          - Rancher
          - JDBC
          - Zoom
          - MsTeams
          - Confluence
          - Slack
          - Salesforce
          - LangSmith
          - MLFlow
          - OpsGenie
          - GithubMcp
          - Mcp
          - OpenAI
          - Cursor
          - Devin
          - GithubCopilot
          - Anthropic
          - GoogleChat
          - XMatters
          - CustomHttp
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns all the configured field values for the given Connector type, which can be used during connector creation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOFieldValues'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOFieldValues'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOFieldValues'
  /ng/api/connectors/getceawstemplateurl:
    post:
      tags:
      - Connectors
      summary: Get the Template URL of connector
      operationId: getCEAwsTemplate
      parameters:
      - name: eventsEnabled
        in: query
        description: Specify whether or not to enable events
        schema:
          type: boolean
      - name: curEnabled
        in: query
        description: Specify whether or not to enable CUR
        schema:
          type: boolean
      - name: optimizationEnabled
        in: query
        description: Specify whether or not to enable optimization
        schema:
          type: boolean
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns the cloud formation template URL to configure the Cloud Cost AWS Connector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOString'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOString'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOString'
      deprecated: true
  /ng/api/connectors/catalogue:
    get:
      tags:
      - Connectors
      summary: Lists all Connectors for an account
      description: Lists all the Connectors for the given Account ID.
      operationId: getConnectorCatalogue
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns the Connector catalogue response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorCatalogueResponse'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorCatalogueResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorCatalogueResponse'
  /ng/api/connectors/stats:
    get:
      tags:
      - Connectors
      summary: Gets the connector's statistics by Account Identifier, Project Identifier and…
      operationId: getConnectorStatistics
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns the Connector's statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorStatistics'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorStatistics'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorStatistics'
  /ng/api/connectors/{connectorRef}/gcp-projects:
    get:
      tags:
      - Connectors
      summary: Get list of GCP Projects
      description: Returns the list of GCP project IDs that the connector has access to.
      operationId: getGcpProjects
      parameters:
      - name: connectorRef
        in: path
        description: Connector reference
        required: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns the list of GCP project IDs accessible by the connector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOGcpProjectResponseDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOGcpProjectResponseDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOGcpProjectResponseDTO'
  /ng/api/connectors/listV2:
    post:
      tags:
      - Connectors
      summary: Fetches the list of Connectors corresponding to the request's filter criteria
      operationId: getConnectorListV2
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: searchTerm
        in: query
        description: This would be used to filter Connectors. Any Connector having the specified string in its Name, ID and Tag would be filtered.
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: filterIdentifier
        in: query
        schema:
          type: string
      - name: includeAllConnectorsAvailableAtScope
        in: query
        description: Specify whether or not to include all the Connectors accessible at the scope. For eg if set as true, at the Project scope we will get org and account Connector also in the response
        schema:
          type: boolean
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      - name: getDistinctFromBranches
        in: query
        description: This when set to true along with GitSync enabled for the Connector, you can get one connector entity from each identifier. The connector entity can belong to any branch
        schema:
          type: boolean
      - name: version
        in: query
        schema:
          type: string
      - name: onlyFavorites
        in: query
        schema:
          type: boolean
          default: false
      - name: pageIndex
        in: query
        description: 'Page Index of the results to fetch.Default Value: 0'
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: 'Results per page(max 100)Default Value: 50'
        schema:
          maximum: 100
          type: integer
          format: int32
          default: 50
      - name: sortOrders
        in: query
        description: Sort criteria for the elements.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/SortOrder'
      - name: pageToken
        in: query
        description: 'Page Token of the next results to fetch.Default Value: '''''
        schema:
          type: string
      requestBody:
        description: Details of the filters applied
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorFilterProperties'
          text/yaml:
            schema:
              $ref: '#/components/schemas/ConnectorFilterProperties'
          text/html:
            schema:
              $ref: '#/components/schemas/ConnectorFilterProperties'
          text/plain:
            schema:
              $ref: '#/components/schemas/ConnectorFilterProperties'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns the list of Connectors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseConnectorResponse'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseConnectorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseConnectorResponse'
  /ng/api/connectors/listbyfqn:
    post:
      tags:
      - Connectors
      summary: Get list of Connectors by FQN
      description: Lists all Connectors for an Account by Fully Qualified Name (FQN) with a limit of max 1000 FQNs per request.
      operationId: listConnectorByFQN
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      requestBody:
        description: A list of connectors' FQNs as strings. A maximum of 1000 FQNs are allowed.
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
          text/yaml:
            schema:
              type: array
              items:
                type: string
          text/html:
            schema:
              type: array
              items:
                type: string
          text/plain:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns the list of Connectors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOListConnectorResponse'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOListConnectorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOListConnectorResponse'
  /ng/api/connectors/testConnection/{identifier}:
    post:
      tags:
      - Connectors
      summary: Test Harness Connector connection with third-party tool
      description: Tests if a Harness Connector can successfully connect Harness to a third-party tool.
      operationId: getTestConnectionResult
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: identifier
        in: path
        description: Connector ID
        required: true
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns the Connector validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorValidationResult'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorValidationResult'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorValidationResult'
  /ng/api/connectors/testGitRepoConnection/{identifier}:
    post:
      tags:
      - Connectors
      summary: Test Git Connector sync with repo
      description: Tests if a Git Repo Connector can successfully connect Harness to a Git provider.
      operationId: getTestGitRepoConnectionResult
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: repoURL
        in: query
        description: URL of the repository, specify only in the case of Account Type Git Connector
        schema:
          type: string
      - name: identifier
        in: path
        description: Connector ID
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns the Connector validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorValidationResult'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorValidationResult'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorValidationResult'
  /ng/api/connectors/validateUniqueIdentifier:
    get:
      tags:
      - Connectors
      summary: Test a Harness Connector
      description: Tests if a Connector can successfully connect Harness to a third-party tool using the an Account and Connector ID.
      operationId: validateTheIdentifierIsUnique
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: identifier
        in: query
        description: Connector ID
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: It returns true if the Identifier is unique and false if the Identifier is not unique
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
components:
  schemas:
    FieldValues:
      type: object
      properties:
        fieldValues:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    FeatureSupportOrBuilder:
      type: object
      properties:
        editionIntroduced:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        editionDeprecated:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        deprecationWarning:
          type: string
        deprecationWarningBytes:
          $ref: '#/components/schemas/ByteString'
        editionRemoved:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ResponseDTOBoolean:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          type: boolean
        metaData:
          type: object
        correlationId:
          type: string
    ParserMessage:
      type: object
    DeclarationOrBuilder:
      type: object
      properties:
        reserved:
          type: boolean
        fullNameBytes:
          $ref: '#/components/schemas/ByteString'
        type:
          type: string
        number:
          type: integer
          format: int32
        fullName:
          type: string
        repeated:
          type: boolean
        typeBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    FeatureSetOrBuilder:
      type: object
      properties:
        enumType:
          type: string
          enum:
          - ENUM_TYPE_UNKNOWN
          - OPEN
          - CLOSED
        jsonFormat:
          type: string
          enum:
          - JSON_FORMAT_UNKNOWN
          - ALLOW
          - LEGACY_BEST_EFFORT
        messageEncoding:
          type: string
          enum:
          - MESSAGE_ENCODING_UNKNOWN
          - LENGTH_PREFIXED
          - DELIMITED
        utf8Validation:
          type: string
          enum:
          - UTF8_VALIDATION_UNKNOWN
          - VERIFY
          - NONE
        fieldPresence:
          type: string
          enum:
          - FIELD_PRESENCE_UNKNOWN
          - EXPLICIT
          - IMPLICIT
          - LEGACY_REQUIRED
        repeatedFieldEncoding:
          type: string
          enum:
          - REPEATED_FIELD_ENCODING_UNKNOWN
          - PACKED
          - EXPANDED
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ParserFeatureSupport:
      type: object
    ServiceOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    EnumReservedRangeOrBuilder:
      type: object
      properties:
        start:
          type: integer
          format: int32
        end:
          type: integer
          format: int32
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ParserEnumValueOptions:
      type: object
    ParserFieldDescriptorProto:
      type: object
    ConnectorResponse1:
      type: object
      properties:
        connector:
          $ref: '#/components/schemas/ConnectorInfo'
        createdAt:
          type: integer
          description: This is the time at which the Connector was created.
          format: int64
        lastModifiedAt:
          type: integer
          description: This is the time at which the Connector was last modified.
          format: int64
        status:
          $ref: '#/components/schemas/ConnectorConnectivityDetails'
        activityDetails:
          $ref: '#/components/schemas/ConnectorActivityDetails'
        harnessManaged:
          type: boolean
          description: This indicates if this Connector is managed by Harness or not. If True, Harness can manage and modify this Connector.
        gitDetails:
          $ref: '#/components/schemas/EntityGitDetails1'
        entityValidityDetails:
          $ref: '#/components/schemas/EntityGitDetails1'
        governanceMetadata:
          $ref: '#/components/schemas/GovernanceMetadata2'
        isFavorite:
          type: boolean
      description: This has the Connector details along with its metadata.
    ConnectorTypeStats:
      type: object
      properties:
        type:
          type: string
          enum:
          - K8sCluster
          - Git
          - Splunk
          - AppDynamics
          - Prometheus
          - Dynatrace
          - Vault
          - AzureKeyVault
          - DockerRegistry
          - Local
          - AwsKms
          - GcpKms
          - AwsSecretManager
          - Gcp
          - Aws
          - Azure
          - Artifactory
          - Jira
          - Jsm
          - Nexus
          - Github
          - Gitlab
          - Bitbucket
          - Codecommit
          - CEAws
          - CEAzure
          - GcpCloudCost
          - CEK8sCluster
          - HttpHelmRepo
          - NewRelic
          - Datadog
          - SumoLogic
          - PagerDuty
          - CustomHealth
          - ServiceNow
          - ErrorTracking
          - Pdc
          - AzureRepo
          - Jenkins
          - OciHelmRepo
          - CustomSecretManager
          - ElasticSearch
          - GcpSecretManager
          - AzureArtifacts
          - Tas
          - Spot
          - Bamboo
          - TerraformCloud
          - SignalFX
          - Harness
          - Rancher
          - JDBC
          - Zoom
          - MsTeams
          - Confluence
          - Slack
          - Salesforce
          - LangSmith
          - MLFlow
          - OpsGenie
          - GithubMcp
          - Mcp
          - OpenAI
          - Cursor
          - Devin
          - GithubCopilot
          - Anthropic
          - GoogleChat
          - XMatters
          - CustomHttp
        count:
          type: integer
          format: int32
      description: Count of Connectors grouped by type.
    FieldOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        editionDefaultsOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EditionDefaultOrBuilder'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        packed:
          type: boolean
        jstype:
          type: string
          enum:
          - JS_NORMAL
          - JS_STRING
          - JS_NUMBER
        lazy:
          type: boolean
        unverifiedLazy:
          type: boolean
        weak:
          type: boolean
        debugRedact:
          type: boolean
        retention:
          type: string
          enum:
          - RETENTION_UNKNOWN
          - RETENTION_RUNTIME
          - RETENTION_SOURCE
        targetsList:
          type: array
          items:
            type: string
            enum:
            - TARGET_TYPE_UNKNOWN
            - TARGET_TYPE_FILE
            - TARGET_TYPE_EXTENSION_RANGE
            - TARGET_TYPE_MESSAGE
            - TARGET_TYPE_FIELD
            - TARGET_TYPE_ONEOF
            - TARGET_TYPE_ENUM
            - TARGET_TYPE_ENUM_ENTRY
            - TARGET_TYPE_SERVICE
            - TARGET_TYPE_METHOD
        targetsCount:
          type: integer
          format: int32
        editionDefaultsList:
          type: array
          items:
            $ref: '#/components/schemas/EditionDefault'
        editionDefaultsCount:
          type: integer
          format: int32
        featureSupport:
          $ref: '#/components/schemas/FeatureSupport'
        featureSupportOrBuilder:
          $ref: '#/components/schemas/FeatureSupportOrBuilder'
        ctype:
          type: string
          enum:
          - STRING
          - CORD
          - STRING_PIECE
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    GcpProjectDetails:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    ResponseDTOString:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          type: string
        metaData:
          type: object
        correlationId:
          type: string
    EnumValueDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        number:
          type: integer
          format: int32
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/EnumValueOptions'
        defaultInstanceForType:
          $ref: '#/components/schemas/EnumValueDescriptorProto'
        parserForType:
          $ref: '#/components/schemas/ParserEnumValueDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        optionsOrBuilder:
          $ref: '#/components/schemas/EnumValueOptionsOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ParserReservedRange:
      type: object
    CvDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/MessageOptions'
        fieldCount:
          type: integer
          format: int32
        defaultInstanceForType:
          $ref: '#/components/schemas/CvDescriptorProto'
        reservedRangeList:
          type: array
          items:
            $ref: '#/components/schemas/ReservedRange'
        reservedNameList:
          type: array
          properties:
            empty:
              type: boolean
          items:
            type: string
        extensionRangeList:
          type: array
          items:
            $ref: '#/components/schemas/ExtensionRange'
        oneofDeclCount:
          type: integer
          format: int32
        nestedTypeCount:
          type: integer
          format: int32
        enumTypeCount:
          type: integer
          format: int32
        extensionCount:
          type: integer
          format: int32
        extensionRangeCount:
          type: integer
          format: int32
        parserForType:
          $ref: '#/components/schemas/ParserDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        enumTypeList:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptorProto'
        extensionList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProto'
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        enumTypeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptorProtoOrBuilder'
        extensionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProtoOrBuilder'
        optionsOrBuilder:
          $ref: '#/components/schemas/MessageOptionsOrBuilder'
        fieldList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProto'
        nestedTypeList:
          type: array
          items:
            $ref: '#/components/schemas/CvDescriptorProto'
        oneofDeclList:
          type: array
          items:
            $ref: '#/components/schemas/OneofDescriptorProto'
        reservedRangeCount:
          type: integer
          format: int32
        reservedNameCount:
          type: integer
          format: int32
        fieldOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProtoOrBuilder'
        nestedTypeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/DescriptorProtoOrBuilder'
        extensionRangeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/ExtensionRangeOrBuilder'
        oneofDeclOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/OneofDescriptorProtoOrBuilder'
        reservedRangeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/ReservedRangeOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    SortOrder:
      type: object
      properties:
        fieldName:
          type: string
        orderType:
          type: string
          enum:
          - ASC
          - DESC
    EnumValueOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        debugRedact:
          type: boolean
        featureSupport:
          $ref: '#/components/schemas/FeatureSupport'
        featureSupportOrBuilder:
          $ref: '#/components/schemas/FeatureSupportOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ExtensionRangeOptionsOrBuilder:
      type: object
      properties:
        declarationOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/DeclarationOrBuilder'
        features:
          $ref: '#/components/schemas/FeatureSet'
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        declarationCount:
          type: integer
          format: int32
        verification:
          type: string
          enum:
          - DECLARATION
          - UNVERIFIED
        declarationList:
          type: array
          items:
            $ref: '#/components/schemas/CvDeclaration'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    PolicySetMetadataOrBuilder:
      type: object
      properties:
        deny:
          type: boolean
        statusBytes:
          $ref: '#/components/schemas/ByteString'
        policySetId:
          type: string
        policyMetadataList:
          type: array
          items:
            $ref: '#/components/schemas/CvPolicyMetadata'
        policySetName:
          type: string
        policyMetadataCount:
          type: integer
          format: int32
        policySetIdBytes:
          $ref: '#/components/schemas/ByteString'
        policyMetadataOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/PolicyMetadataOrBuilder'
        policySetNameBytes:
          $ref: '#/components/schemas/ByteString'
        description:
          type: string
        identifier:
          type: string
        orgId:
          type: string
        status:
          type: string
        created:
          type: integer
          format: int64
        accountId:
          type: string
        projectId:
          type: string
        accountIdBytes:
          $ref: '#/components/schemas/ByteString'
        identifierBytes:
          $ref: '#/components/schemas/ByteString'
        projectIdBytes:
          $ref: '#/components/schemas/ByteString'
        orgIdBytes:
          $ref: '#/components/schemas/ByteString'
        descriptionBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    NamePartOrBuilder:
      type: object
      properties:
        namePart:
          type: string
        isExtension:
          type: boolean
        namePartBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ResponseDTOPageResponseCcmK8sConnectorResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/PageResponseCcmK8sConnectorResponse'
        metaData:
          type: object
        correlationId:
          type: string
    Parser:
      type: object
    ParserEditionDefault:
      type: object
    FileOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        javaStringCheckUtf8:
          type: boolean
        optimizeFor:
          type: string
          enum:
          - SPEED
          - CODE_SIZE
          - LITE_RUNTIME
        goPackage:
          type: string
        goPackageBytes:
          $ref: '#/components/schemas/ByteString'
        ccGenericServices:
          type: boolean
        javaGenericServices:
          type: boolean
        pyGenericServices:
          type: boolean
        deprecated:
          type: boolean
        ccEnableArenas:
          type: boolean
        objcClassPrefix:
          type: string
        objcClassPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        csharpNamespace:
          type: string
        csharpNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        swiftPrefix:
          type: string
        swiftPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        phpClassPrefix:
          type: string
        javaPackage:
          type: string
        javaPackageBytes:
          $ref: '#/components/schemas/ByteString'
        javaOuterClassname:
          type: string
        javaOuterClassnameBytes:
          $ref: '#/components/schemas/ByteString'
        javaMultipleFiles:
          type: boolean
        javaGenerateEqualsAndHash:
          type: boolean
        phpClassPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        phpNamespace:
          type: string
        phpNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        phpMetadataNamespace:
          type: string
        phpMetadataNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        rubyPackage:
          type: string
        rubyPackageBytes:
          $ref: '#/components/schemas/ByteString'
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    OneofDescriptor:
      type: object
      properties:
        index:
          type: integer
          format: int32
        proto:
          $ref: '#/components/schemas/OneofDescriptorProto'
        options:
          $ref: '#/components/schemas/OneofOptions'
        fullName:
          type: string
        file:
          $ref: '#/components/schemas/FileDescriptor'
        containingType:
          $ref: '#/components/schemas/CvDescriptor'
        fieldCount:
          type: integer
          format: int32
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptor'
        name:
          type: string
    Connector2:
      type: object
      properties:
        connector:
          $ref: '#/components/schemas/ConnectorInfo'
      description: This is the view of Connector entity as defined in Harness.
    FeatureSet:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        initialized:
          type: boolean
        defaultInstanceForType:
          $ref: '#/components/schemas/FeatureSet'
        enumType:
          type: string
          enum:
          - ENUM_TYPE_UNKNOWN
          - OPEN
          - CLOSED
        jsonFormat:
          type: string
          enum:
          - JSON_FORMAT_UNKNOWN
          - ALLOW
          - LEGACY_BEST_EFFORT
        parserForType:
          $ref: '#/components/schemas/ParserFeatureSet'
        serializedSize:
          type: integer
          format: int32
        messageEncoding:
          type: string
          enum:
          - MESSAGE_ENCODING_UNKNOWN
          - LENGTH_PREFIXED
          - DELIMITED
        utf8Validation:
          type: string
          enum:
          - UTF8_VALIDATION_UNKNOWN
          - VERIFY
          - NONE
        fieldPresence:
          type: string
          enum:
          - FIELD_PRESENCE_UNKNOWN
          - EXPLICIT
          - IMPLICIT
          - LEGACY_REQUIRED
        repeatedFieldEncoding:
          type: string
          enum:
          - REPEATED_FIELD_ENCODING_UNKNOWN
          - PACKED
          - EXPANDED
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        allFieldsRaw:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    PolicyMetadata1:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        policyId:
          type: string
        policyIdBytes:
          $ref: '#/components/schemas/ByteString'
        policyName:
          type: string
        policyNameBytes:
          $ref: '#/components/schemas/ByteString'
        severityBytes:
          $ref: '#/components/schemas/ByteString'
        denyMessagesList:
          type: array
          properties:
            empty:
              type: boolean
          items:
            type: string
        denyMessagesCount:
          type: integer
          format: int32
        statusBytes:
          $ref: '#/components/schemas/ByteString'
        accountId:
          type: string
        accountIdBytes:
          $ref: '#/components/schemas/ByteString'
        orgId:
          type: string
        orgIdBytes:
          $ref: '#/components/schemas/ByteString'
        projectIdBytes:
          $ref: '#/components/schemas/ByteString'
        created:
          type: integer
          format: int64
        updated:
          type: integer
          format: int64
        errorBytes:
          $ref: '#/components/schemas/ByteString'
        identifierBytes:
          $ref: '#/components/schemas/ByteString'
        severity:
          type: string
        initialized:
          type: boolean
        identifier:
          type: string
        projectId:
          type: string
        status:
          type: string
        error:
          type: string
        defaultInstanceForType:
          $ref: '#/components/schemas/PolicyMetadata1'
        parserForType:
          $ref: '#/components/schemas/ParserPolicyMetadata'
        serializedSize:
          type: integer
          format: int32
        allFields:
          type: object
          additionalProperties:
            type: object
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        initializationErrorString:
          type: string
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ParserFileOptions:
      type: object
    ExtensionRangeOptions:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        initialized:
          type: boolean
        declarationOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/DeclarationOrBuilder'
        features:
          $ref: '#/components/schemas/FeatureSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/ExtensionRangeOptions'
        parserForType:
          $ref: '#/components/schemas/ParserExtensionRangeOptions'
        serializedSize:
          type: integer
          format: int32
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        declarationCount:
          type: integer
          format: int32
        verification:
          type: string
          enum:
          - DECLARATION
          - UNVERIFIED
        declarationList:
          type: array
          items:
            $ref: '#/components/schemas/CvDeclaration'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        allFieldsRaw:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    FieldDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        typeName:
          type: string
        type:
          type: string
          enum:
          - TYPE_DOUBLE
          - TYPE_FLOAT
          - TYPE_INT64
          - TYPE_UINT64
          - TYPE_INT32
          - TYPE_FIXED64
          - TYPE_FIXED32
          - TYPE_BOOL
          - TYPE_STRING
          - TYPE_GROUP
          - TYPE_MESSAGE
          - TYPE_BYTES
          - TYPE_UINT32
          - TYPE_ENUM
          - TYPE_SFIXED32
          - TYPE_SFIXED64
          - TYPE_SINT32
          - TYPE_SINT64
        defaultValue:
          type: string
        number:
          type: integer
          format: int32
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/FieldOptions'
        label:
          type: string
          enum:
          - LABEL_OPTIONAL
          - LABEL_REPEATED
          - LABEL_REQUIRED
        defaultInstanceForType:
          $ref: '#/components/schemas/FieldDescriptorProto'
        parserForType:
          $ref: '#/components/schemas/ParserFieldDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        optionsOrBuilder:
          $ref: '#/components/schemas/FieldOptionsOrBuilder'
        jsonName:
          type: string
        proto3Optional:
          type: boolean
        oneofIndex:
          type: integer
          format: int32
        extendee:
          type: string
        typeNameBytes:
          $ref: '#/components/schemas/ByteString'
        extendeeBytes:
          $ref: '#/components/schemas/ByteString'
        defaultValueBytes:
          $ref: '#/components/schemas/ByteString'
        jsonNameBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    FileDescriptor:
      type: object
      properties:
        proto:
          $ref: '#/components/schemas/FileDescriptorProto'
        options:
          $ref: '#/components/schemas/FileOptions'
        messageTypes:
          type: array
          items:
            $ref: '#/components/schemas/CvDescriptor'
        enumTypes:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptor'
        services:
          type: array
          items:
            $ref: '#/components/schemas/ServiceDescriptor'
        extensions:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptor'
        dependencies:
          type: array
          items:
            $ref: '#/components/schemas/FileDescriptor'
        publicDependencies:
          type: array
          items:
            $ref: '#/components/schemas/FileDescriptor'
        name:
          type: string
        package:
          type: string
        file:
          $ref: '#/components/schemas/FileDescriptor'
        fullName:
          type: string
    ResponseDTOConnectorCatalogueResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/ConnectorCatalogueResponse'
        metaData:
          type: object
        correlationId:
          type: string
    ParserPolicyMetadata:
      type: object
    ServiceDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/ServiceOptions'
        defaultInstanceForType:
          $ref: '#/components/schemas/ServiceDescriptorProto'
        parserForType:
          $ref: '#/components/schemas/ParserServiceDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        optionsOrBuilder:
          $ref: '#/components/schemas/ServiceOptionsOrBuilder'
        methodCount:
          type: integer
          format: int32
        methodList:
          type: array
          items:
            $ref: '#/components/schemas/MethodDescriptorProto'
        methodOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/MethodDescriptorProtoOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ParserPolicySetMetadata:
      type: object
    EnumDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/EnumOptions'
        defaultInstanceForType:
          $ref: '#/components/schemas/EnumDescriptorProto'
        reservedRangeList:
          type: array
          items:
            $ref: '#/components/schemas/EnumReservedRange'
        reservedNameList:
          type: array
          properties:
            empty:
              type: boolean
          items:
            type: string
        parserForType:
          $ref: '#/components/schemas/ParserEnumDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        optionsOrBuilder:
          $ref: '#/components/schemas/EnumOptionsOrBuilder'
        valueCount:
          type: integer
          format: int32
        valueList:
          type: array
          items:
            $ref: '#/components/schemas/EnumValueDescriptorProto'
        valueOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EnumValueDescriptorProtoOrBuilder'
        reservedRangeCount:
          type: integer
          format: int32
        reservedNameCount:
          type: integer
          format: int32
        reservedRangeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EnumReservedRangeOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ParserNamePart:
      type: object
    CvPolicyMetadata:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        severity:
          type: string
        statusBytes:
          $ref: '#/components/schemas/ByteString'
        denyMessagesList:
          type: array
          properties:
            empty:
              type: boolean
          items:
            type: string
        policyId:
          type: string
        denyMessagesCount:
          type: integer
          format: int32
        policyIdBytes:
          $ref: '#/components/schemas/ByteString'
        policyNameBytes:
          $ref: '#/components/schemas/ByteString'
        severityBytes:
          $ref: '#/components/schemas/ByteString'
        initialized:
          type: boolean
        identifier:
          type: string
        defaultInstanceForType:
          $ref: '#/components/schemas/CvPolicyMetadata'
        parserForType:
          $ref: '#/components/schemas/ParserPolicyMetadata'
        serializedSize:
          type: integer
          format: int32
        orgId:
          type: string
        error:
          type: string
        status:
          type: string
        created:
          type: integer
          format: int64
        accountId:
          type: string
        projectId:
          type: string
        updated:
          type: integer
          format: int64
        accountIdBytes:
          $ref: '#/components/schemas/ByteString'
        identifierBytes:
          $ref: '#/components/schemas/ByteString'
        policyName:
          type: string
        projectIdBytes:
          $ref: '#/components/schemas/ByteString'
        orgIdBytes:
          $ref: '#/components/schemas/ByteString'
        errorBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ResponseDTOConnectorValidationResult:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/ConnectorValidationResult'
        metaData:
          type: object
        correlationId:
          type: string
    CvDescriptor:
      type: object
      properties:
        index:
          type: integer
          format: int32
        proto:
          $ref: '#/components/schemas/CvDescriptorProto'
        options:
          $ref: '#/components/schemas/MessageOptions'
        fullName:
          type: string
        file:
          $ref: '#/components/schemas/FileDescriptor'
        containingType:
          $ref: '#/components/schemas/CvDescriptor'
        nestedTypes:
          type: array
          items:
            $ref: '#/components/schemas/CvDescriptor'
        enumTypes:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptor'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptor'
        extensions:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptor'
        oneofs:
          type: array
          items:
            $ref: '#/components/schemas/OneofDescriptor'
        name:
          type: string
        extendable:
          type: boolean
        realOneofs:
          type: array
          items:
            $ref: '#/components/schemas/OneofDescriptor'
    ConnectorStatistics:
      type: object
      properties:
        typeStats:
          type: array
          description: Count of Connectors grouped by type.
          items:
            $ref: '#/components/schemas/ConnectorTypeStats'
        statusStats:
          type: array
          description: Count of Connectors grouped by status.
          items:
            $ref: '#/components/schemas/ConnectorStatusStats'
      description: This has the count for all Connector Types and Status defined in Harness
    ValidationError:
      type: object
      properties:
        fieldId:
          type: string
        error:
          type: string
    ResponseMessage:
      type: object
      properties:
        code:
          type: string
          enum:
          - DEFAULT_ERROR_CODE
          - INVALID_ARGUMENT
          - INVALID_EMAIL
          - DOMAIN_NOT_ALLOWED_TO_REGISTER
          - COMMNITY_EDITION_NOT_FOUND
          - DEPLOY_MODE_IS_NOT_ON_PREM
          - USER_ALREADY_REGISTERED
          - USER_INVITATION_DOES_NOT_EXIST
          - USER_DOES_NOT_EXIST
          - USER_INVITE_OPERATION_FAILED
          - USER_DISABLED
          - ACCOUNT_DOES_NOT_EXIST
          - INACTIVE_ACCOUNT
          - ACCOUNT_MIGRATED
          - ACCOUNT_MIGRATED_TO_NEXT_GEN
          - USER_DOMAIN_NOT_ALLOWED
          - MAX_FAILED_ATTEMPT_COUNT_EXCEEDED
          - RESOURCE_NOT_FOUND
          - INVALID_FORMAT
          - ROLE_DOES_NOT_EXIST
          - EMAIL_NOT_VERIFIED
          - EMAIL_VERIFICATION_TOKEN_NOT_FOUND
          - INVALID_TOKEN
          - REVOKED_TOKEN
          - INVALID_CAPTCHA_TOKEN
          - NOT_ACCOUNT_MGR_NOR_HAS_ALL_APP_ACCESS
          - EXPIRED_TOKEN
          - INVALID_AGENT_MTLS_AUTHORITY
          - TOKEN_ALREADY_REFRESHED_ONCE
          - ACCESS_DENIED
          - NG_ACCESS_DENIED
          - INVALID_CREDENTIAL
          - INVALID_CREDENTIALS_THIRD_PARTY
          - INVALID_KEY
          - INVALID_CONNECTOR_TYPE
          - INVALID_KEYPATH
          - INVALID_VARIABLE
          - UNKNOWN_HOST
          - UNREACHABLE_HOST
          - INVALID_PORT
          - SSH_SESSION_TIMEOUT
          - ALGORITHM_NEGOTIATION_ERROR
          - SOCKET_CONNECTION_ERROR
          - CONNECTION_ERROR
          - COULD_NOT_PROCESS_ERROR
          - SOCKET_CONNECTION_TIMEOUT
          - WINRM_COMMAND_EXECUTION_TIMEOUT
          - CONNECTION_TIMEOUT
          - SSH_CONNECTION_ERROR
          - USER_GROUP_ERROR
          - INVALID_EXECUTION_ID
          - ERROR_IN_GETTING_CHANNEL_STREAMS
          - UNEXPECTED
          - UNKNOWN_ERROR
          - UNKNOWN_EXECUTOR_TYPE_ERROR
          - DUPLICATE_STATE_NAMES
          - TRANSITION_NOT_LINKED
          - TRANSITION_TO_INCORRECT_STATE
          - TRANSITION_TYPE_NULL
          - STATES_WITH_DUP_TRANSITIONS
          - BARRIERS_NOT_RUNNING_CONCURRENTLY
          - NON_FORK_STATES
          - NON_REPEAT_STATES
          - INITIAL_STATE_NOT_DEFINED
          - FILE_INTEGRITY_CHECK_FAILED
          - INVALID_URL
          - FILE_DOWNLOAD_FAILED
          - PLATFORM_SOFTWARE_DELETE_ERROR
          - INVALID_CSV_FILE
          - INVALID_REQUEST
          - SCHEMA_VALIDATION_FAILED
          - FILTER_CREATION_ERROR
          - INVALID_YAML_ERROR
          - PLAN_CREATION_ERROR
          - INVALID_INFRA_STATE
          - PIPELINE_ALREADY_TRIGGERED
          - NON_EXISTING_PIPELINE
          - DUPLICATE_COMMAND_NAMES
          - INVALID_PIPELINE
          - COMMAND_DOES_NOT_EXIST
          - DUPLICATE_ARTIFACTSTREAM_NAMES
          - DUPLICATE_HOST_NAMES
          - STATE_NOT_FOR_TYPE
          - STATE_MACHINE_ISSUE
          - STATE_DISCONTINUE_FAILED
          - STATE_PAUSE_FAILED
          - PAUSE_ALL_ALREADY
          - RESUME_ALL_ALREADY
          - ROLLBACK_ALREADY
          - ABORT_ALL_ALREADY
          - EXPIRE_ALL_ALREADY
          - RETRY_FAILED
          - UNKNOWN_ARTIFACT_TYPE
          - UNKNOWN_STAGE_ELEMENT_WRAPPER_TYPE
          - INIT_TIMEOUT
          - LICENSE_EXPIRED
          - NOT_LICENSED
          - REQUEST_TIMEOUT
          - SCM_REQUEST_TIMEOUT
          - WORKFLOW_ALREADY_TRIGGERED
          - JENKINS_ERROR
          - INVALID_ARTIFACT_SOURCE
          - INVALID_ARTIFACT_SERVER
          - INVALID_CLOUD_PROVIDER
          - UPDATE_NOT_ALLOWED
          - DELETE_NOT_ALLOWED
          - APPDYNAMICS_CONFIGURATION_ERROR
          - APM_CONFIGURATION_ERROR
          - SPLUNK_CONFIGURATION_ERROR
          - ELK_CONFIGURATION_ERROR
          - LOGZ_CONFIGURATION_ERROR
          - SUMO_CONFIGURATION_ERROR
          - INSTANA_CONFIGURATION_ERROR
          - APPDYNAMICS_ERROR
          - STACKDRIVER_ERROR
          - STACKDRIVER_CONFIGURATION_ERROR
          - NEWRELIC_CONFIGURATION_ERROR
          - NEWRELIC_ERROR
          - DYNA_TRACE_CONFIGURATION_ERROR
          - DYNA_TRACE_ERROR
          - CLOUDWATCH_ERROR
          - CLOUDWATCH_CONFIGURATION_ERROR
          - PROMETHEUS_CONFIGURATION_ERROR
          - DATA_DOG_CONFIGURATION_ERROR
          - SERVICE_GUARD_CONFIGURATION_ERROR
          - ENCRYPTION_NOT_CONFIGURED
          - UNAVAILABLE_DELEGATES
          - WORKFLOW_EXECUTION_IN_PROGRESS
          - PIPELINE_EXECUTION_IN_PROGRESS
          - AWS_ACCESS_DENIED
          - AWS_CLUSTER_NOT_FOUND
          - AWS_SERVICE_NOT_FOUND
          - IMAGE_NOT_FOUND
          - ILLEGAL_ARGUMENT
          - IMAGE_TAG_NOT_FOUND
          - DELEGATE_NOT_AVAILABLE
          - INVALID_YAML_PAYLOAD
          - AUTHENTICATION_ERROR
          - AUTHORIZATION_ERROR
          - UNRECOGNIZED_YAML_FIELDS
          - COULD_NOT_MAP_BEFORE_YAML
          - MISSING_BEFORE_YAML
          - MISSING_YAML
          - NON_EMPTY_DELETIONS
          - GENERAL_YAML_ERROR
          - GENERAL_YAML_INFO
          - YAML_GIT_SYNC_ERROR
          - GIT_CONNECTION_ERROR
          - GIT_ERROR
          - ARTIFACT_SERVER_ERROR
          - ENCRYPT_DECRYPT_ERROR
          - SECRET_MANAGEMENT_ERROR
          - SECRET_NOT_FOUND
          - KMS_OPERATION_ERROR
          - GCP_KMS_OPERATION_ERROR
          - VAULT_OPERATION_ERROR
          - AWS_SECRETS_MANAGER_OPERATION_ERROR
          - AZURE_KEY_VAULT_OPERATION_ERROR
          - AZURE_KEY_VAULT_INTERRUPT_ERROR
          - UNSUPPORTED_OPERATION_EXCEPTION
          - FEATURE_UNAVAILABLE
          - GENERAL_ERROR
          - BASELINE_CONFIGURATION_ERROR
          - SAML_IDP_CONFIGURATION_NOT_AVAILABLE
          - INVALID_AUTHENTICATION_MECHANISM
          - INVALID_SAML_CONFIGURATION
          - INVALID_OAUTH_CONFIGURATION
          - INVALID_LDAP_CONFIGURATION
          - USER_GROUP_SYNC_FAILURE
          - USER_GROUP_ALREADY_EXIST
          - INVALID_TWO_FACTOR_AUTHENTICATION_CONFIGURATION
          - EXPLANATION
          - HINT
          - NOT_WHITELISTED_IP
          - INVALID_TOTP_TOKEN
          - EMAIL_FAILED
          - SSL_HANDSHAKE_FAILED
          - NO_APPS_ASSIGNED
          - INVALID_INFRA_CONFIGURATION
          - TEMPLATES_LINKED
          - USER_HAS_NO_PERMISSIONS
          - USER_NOT_AUTHORIZED
          - USER_ALREADY_PRESENT
          - EMAIL_ERROR
          - INVALID_USAGE_RESTRICTION
          - USAGE_RESTRICTION_ERROR
          - STATE_EXECUTION_INSTANCE_NOT_FOUND
          - DELEGATE_TASK_RETRY
          - KUBERNETES_API_TASK_EXCEPTION
          - KUBERNETES_TASK_EXCEPTION
          - KUBERNETES_YAML_ERROR
          - SAVE_FILE_INTO_AWS_STORAGE_FAILED
          - READ_FILE_FROM_AWS_STORAGE_FAILED
          - SAVE_FILE_INTO_GCP_STORAGE_FAILED
          - READ_FILE_FROM_GCP_STORAGE_FAILED
          - FILE_NOT_FOUND_ERROR
          - USAGE_LIMITS_EXCEEDED
          - EVENT_PUBLISH_FAILED
          - CUSTOM_APPROVAL_ERROR
          - JIRA_ERROR
          - EXPRESSION_EVALUATION_FAILED
          - KUBERNETES_VALUES_ERROR
          - KUBERNETES_CLUSTER_ERROR
          - INCORRECT_SIGN_IN_MECHANISM
          - OAUTH_LOGIN_FAILED
          - INVALID_TERRAFORM_TARGETS_REQUEST
          - TERRAFORM_EXECUTION_ERROR
          - FILE_READ_FAILED
          - FILE_SIZE_EXCEEDS_LIMIT
          - CLUSTER_NOT_FOUND
          - MARKETPLACE_TOKEN_NOT_FOUND
          - INVALID_MARKETPLACE_TOKEN
          - INVALID_TICKETING_SERVER
          - SERVICENOW_ERROR
          - PASSWORD_EXPIRED
          - USER_LOCKED
          - PASSWORD_STRENGTH_CHECK_FAILED
          - ACCOUNT_DISABLED
          - INVALID_ACCOUNT_PERMISSION
          - PAGERDUTY_ERROR
          - HEALTH_ERROR
          - SAML_TEST_SUCCESS_MECHANISM_NOT_ENABLED
          - DOMAIN_WHITELIST_FILTER_CHECK_FAILED
          - INVALID_DASHBOARD_UPDATE_REQUEST
          - DUPLICATE_FIELD
          - INVALID_AZURE_VAULT_CONFIGURATION
          - USER_NOT_AUTHORIZED_DUE_TO_USAGE_RESTRICTIONS
          - INVALID_ROLLBACK
          - DATA_COLLECTION_ERROR
[...]
