openapi: 3.2.0
info:
  title: Harness Custom Deployment API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: CustomDeployment
  description: This contains APIs related to Custom Deployment
paths:
  /ng/api/customDeployment/get-references:
    post:
      tags:
      - CustomDeployment
      summary: Gets Custom Deployment Entity References
      operationId: getCustomDeploymentEntityReferences
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      requestBody:
        description: Custom Deployment Yaml Request DTO containing entityYaml
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomDeploymentYamlRequestDTO'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomDeploymentYamlRequestDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns all entity references in the custom deployment template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOListEntityDetailProtoDTO'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOListEntityDetailProtoDTO'
  /ng/api/customDeployment/expression-variables:
    post:
      tags:
      - CustomDeployment
      summary: Gets Custom Deployment Expression Variables
      operationId: getCustomDeploymentExpressionVariables
      requestBody:
        description: Custom Deployment Yaml Request DTO containing entityYaml
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomDeploymentYamlRequestDTO'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomDeploymentYamlRequestDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns all Variables used that are valid to be used as expression in template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOCustomDeploymentVariableResponseDTO'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOCustomDeploymentVariableResponseDTO'
  /ng/api/customDeployment/variables/{templateIdentifier}:
    get:
      tags:
      - CustomDeployment
      summary: Gets Infra Variables from a Custom Deployment Template by identifier
      operationId: getCustomDeploymentInfraVariables
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: templateIdentifier
        in: path
        description: Custom Deployment Identifier for the entity
        required: true
        schema:
          type: string
      - name: versionLabel
        in: query
        description: Version Label
        schema:
          type: string
      - name: deleted
        in: query
        description: Specifies whether Template is deleted or not
        schema:
          type: boolean
          default: false
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: The saved Custom Deployment Infra Variables
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOString'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOString'
  /ng/api/customDeployment/get-updated-Yaml/{infraIdentifier}:
    post:
      tags:
      - CustomDeployment
      summary: Return the updated yaml for infrastructure based on Deployment template
      operationId: getUpdatedYamlForInfrastructure
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: infraIdentifier
        in: path
        description: Infrastructure Identifier for the entity
        required: true
        schema:
          type: string
      requestBody:
        description: YAML
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomDeploymentYamlDTO'
          application/yaml:
            schema:
              $ref: '#/components/schemas/CustomDeploymentYamlDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Return the updated yaml for infrastructure based on Deployment template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOCustomDeploymentRefreshYamlDTO'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOCustomDeploymentRefreshYamlDTO'
  /ng/api/customDeployment/validate-infrastructure/{infraIdentifier}:
    get:
      tags:
      - CustomDeployment
      summary: This validates whether Infrastructure is valid or not
      operationId: validateInfrastructureForDeploymentTemplate
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: envIdentifier
        in: query
        description: Environment Identifier for the entity
        schema:
          type: string
      - name: infraIdentifier
        in: path
        description: Infrastructure Identifier for the entity
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns if the infra is valid or not.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOCustomDeploymentInfraResponseDTO'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOCustomDeploymentInfraResponseDTO'
components:
  schemas:
    FeatureSupportOrBuilder:
      type: object
      properties:
        editionIntroduced:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        editionDeprecated:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        deprecationWarning:
          type: string
        deprecationWarningBytes:
          $ref: '#/components/schemas/ByteString'
        editionRemoved:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ParserEntityDetailProtoDTO:
      type: object
    ParserMessage:
      type: object
    DeclarationOrBuilder:
      type: object
      properties:
        reserved:
          type: boolean
        fullNameBytes:
          $ref: '#/components/schemas/ByteString'
        type:
          type: string
        number:
          type: integer
          format: int32
        fullName:
          type: string
        repeated:
          type: boolean
        typeBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    FeatureSetOrBuilder:
      type: object
      properties:
        enumType:
          type: string
          enum:
          - ENUM_TYPE_UNKNOWN
          - OPEN
          - CLOSED
        jsonFormat:
          type: string
          enum:
          - JSON_FORMAT_UNKNOWN
          - ALLOW
          - LEGACY_BEST_EFFORT
        messageEncoding:
          type: string
          enum:
          - MESSAGE_ENCODING_UNKNOWN
          - LENGTH_PREFIXED
          - DELIMITED
        utf8Validation:
          type: string
          enum:
          - UTF8_VALIDATION_UNKNOWN
          - VERIFY
          - NONE
        fieldPresence:
          type: string
          enum:
          - FIELD_PRESENCE_UNKNOWN
          - EXPLICIT
          - IMPLICIT
          - LEGACY_REQUIRED
        repeatedFieldEncoding:
          type: string
          enum:
          - REPEATED_FIELD_ENCODING_UNKNOWN
          - PACKED
          - EXPANDED
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ParserFeatureSupport:
      type: object
    ServiceOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    EnumReservedRangeOrBuilder:
      type: object
      properties:
        start:
          type: integer
          format: int32
        end:
          type: integer
          format: int32
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ParserEnumValueOptions:
      type: object
    ParserFieldDescriptorProto:
      type: object
    FieldOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        editionDefaultsOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EditionDefaultOrBuilder'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        packed:
          type: boolean
        jstype:
          type: string
          enum:
          - JS_NORMAL
          - JS_STRING
          - JS_NUMBER
        lazy:
          type: boolean
        unverifiedLazy:
          type: boolean
        weak:
          type: boolean
        debugRedact:
          type: boolean
        retention:
          type: string
          enum:
          - RETENTION_UNKNOWN
          - RETENTION_RUNTIME
          - RETENTION_SOURCE
        targetsList:
          type: array
          items:
            type: string
            enum:
            - TARGET_TYPE_UNKNOWN
            - TARGET_TYPE_FILE
            - TARGET_TYPE_EXTENSION_RANGE
            - TARGET_TYPE_MESSAGE
            - TARGET_TYPE_FIELD
            - TARGET_TYPE_ONEOF
            - TARGET_TYPE_ENUM
            - TARGET_TYPE_ENUM_ENTRY
            - TARGET_TYPE_SERVICE
            - TARGET_TYPE_METHOD
        targetsCount:
          type: integer
          format: int32
        editionDefaultsList:
          type: array
          items:
            $ref: '#/components/schemas/EditionDefault'
        editionDefaultsCount:
          type: integer
          format: int32
        featureSupport:
          $ref: '#/components/schemas/FeatureSupport'
        featureSupportOrBuilder:
          $ref: '#/components/schemas/FeatureSupportOrBuilder'
        ctype:
          type: string
          enum:
          - STRING
          - CORD
          - STRING_PIECE
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ResponseDTOString:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          type: string
        metaData:
          type: object
        correlationId:
          type: string
    InputSetReferenceProtoDTO:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        pipelineIdentifier:
          $ref: '#/components/schemas/StringValue'
        parentUniqueId:
          $ref: '#/components/schemas/StringValue'
        accountIdentifier:
          $ref: '#/components/schemas/StringValue'
        orgIdentifier:
          $ref: '#/components/schemas/StringValue'
        projectIdentifier:
          $ref: '#/components/schemas/StringValue'
        orgIdentifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        projectIdentifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        accountIdentifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        identifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        parentUniqueIdOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        pipelineIdentifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        initialized:
          type: boolean
        identifier:
          $ref: '#/components/schemas/StringValue'
        defaultInstanceForType:
          $ref: '#/components/schemas/InputSetReferenceProtoDTO'
        parserForType:
          $ref: '#/components/schemas/ParserInputSetReferenceProtoDTO'
        serializedSize:
          type: integer
          format: int32
        allFields:
          type: object
          additionalProperties:
            type: object
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        initializationErrorString:
          type: string
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    CustomDeploymentYamlDTO:
      required:
      - yaml
      type: object
      properties:
        yaml:
          type: string
    EnumValueDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        number:
          type: integer
          format: int32
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/EnumValueOptions'
        defaultInstanceForType:
          $ref: '#/components/schemas/EnumValueDescriptorProto'
        parserForType:
          $ref: '#/components/schemas/ParserEnumValueDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        optionsOrBuilder:
          $ref: '#/components/schemas/EnumValueOptionsOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ParserReservedRange:
      type: object
    CvDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/MessageOptions'
        fieldCount:
          type: integer
          format: int32
        defaultInstanceForType:
          $ref: '#/components/schemas/CvDescriptorProto'
        reservedRangeList:
          type: array
          items:
            $ref: '#/components/schemas/ReservedRange'
        reservedNameList:
          type: array
          properties:
            empty:
              type: boolean
          items:
            type: string
        extensionRangeList:
          type: array
          items:
            $ref: '#/components/schemas/ExtensionRange'
        oneofDeclCount:
          type: integer
          format: int32
        nestedTypeCount:
          type: integer
          format: int32
        enumTypeCount:
          type: integer
          format: int32
        extensionCount:
          type: integer
          format: int32
        extensionRangeCount:
          type: integer
          format: int32
        parserForType:
          $ref: '#/components/schemas/ParserDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        enumTypeList:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptorProto'
        extensionList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProto'
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        enumTypeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptorProtoOrBuilder'
        extensionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProtoOrBuilder'
        optionsOrBuilder:
          $ref: '#/components/schemas/MessageOptionsOrBuilder'
        fieldList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProto'
        nestedTypeList:
          type: array
          items:
            $ref: '#/components/schemas/CvDescriptorProto'
        oneofDeclList:
          type: array
          items:
            $ref: '#/components/schemas/OneofDescriptorProto'
        reservedRangeCount:
          type: integer
          format: int32
        reservedNameCount:
          type: integer
          format: int32
        fieldOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProtoOrBuilder'
        nestedTypeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/DescriptorProtoOrBuilder'
        extensionRangeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/ExtensionRangeOrBuilder'
        oneofDeclOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/OneofDescriptorProtoOrBuilder'
        reservedRangeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/ReservedRangeOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    EnumValueOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        debugRedact:
          type: boolean
        featureSupport:
          $ref: '#/components/schemas/FeatureSupport'
        featureSupportOrBuilder:
          $ref: '#/components/schemas/FeatureSupportOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ExtensionRangeOptionsOrBuilder:
      type: object
      properties:
        declarationOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/DeclarationOrBuilder'
        features:
          $ref: '#/components/schemas/FeatureSet'
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        declarationCount:
          type: integer
          format: int32
        verification:
          type: string
          enum:
          - DECLARATION
          - UNVERIFIED
        declarationList:
          type: array
          items:
            $ref: '#/components/schemas/CvDeclaration'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ResponseDTOCustomDeploymentVariableResponseDTO:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/CustomDeploymentVariableResponseDTO'
        metaData:
          type: object
        correlationId:
          type: string
    TriggerReferenceProtoDTOOrBuilder:
      type: object
      properties:
        pipelineIdentifier:
          $ref: '#/components/schemas/StringValue'
        parentUniqueId:
          $ref: '#/components/schemas/StringValue'
        accountIdentifier:
          $ref: '#/components/schemas/StringValue'
        orgIdentifier:
          $ref: '#/components/schemas/StringValue'
        projectIdentifier:
          $ref: '#/components/schemas/StringValue'
        orgIdentifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        projectIdentifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        accountIdentifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        identifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        parentUniqueIdOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        pipelineIdentifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        identifier:
          $ref: '#/components/schemas/StringValue'
        metadata:
          type: object
          additionalProperties:
            type: string
        metadataCount:
          type: integer
          format: int32
        metadataMap:
          type: object
          additionalProperties:
            type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        initializationErrorString:
          type: string
        initialized:
          type: boolean
    NamePartOrBuilder:
      type: object
      properties:
        namePart:
          type: string
        isExtension:
          type: boolean
        namePartBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    Parser:
      type: object
    ParserEditionDefault:
      type: object
    FileOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        javaStringCheckUtf8:
          type: boolean
        optimizeFor:
          type: string
          enum:
          - SPEED
          - CODE_SIZE
          - LITE_RUNTIME
        goPackage:
          type: string
        goPackageBytes:
          $ref: '#/components/schemas/ByteString'
        ccGenericServices:
          type: boolean
        javaGenericServices:
          type: boolean
        pyGenericServices:
          type: boolean
        deprecated:
          type: boolean
        ccEnableArenas:
          type: boolean
        objcClassPrefix:
          type: string
        objcClassPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        csharpNamespace:
          type: string
        csharpNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        swiftPrefix:
          type: string
        swiftPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        phpClassPrefix:
          type: string
        javaPackage:
          type: string
        javaPackageBytes:
          $ref: '#/components/schemas/ByteString'
        javaOuterClassname:
          type: string
        javaOuterClassnameBytes:
          $ref: '#/components/schemas/ByteString'
        javaMultipleFiles:
          type: boolean
        javaGenerateEqualsAndHash:
          type: boolean
        phpClassPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        phpNamespace:
          type: string
        phpNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        phpMetadataNamespace:
          type: string
        phpMetadataNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        rubyPackage:
          type: string
        rubyPackageBytes:
          $ref: '#/components/schemas/ByteString'
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    TriggerReferenceProtoDTO:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        pipelineIdentifier:
          $ref: '#/components/schemas/StringValue'
        parentUniqueId:
          $ref: '#/components/schemas/StringValue'
        accountIdentifier:
          $ref: '#/components/schemas/StringValue'
        orgIdentifier:
          $ref: '#/components/schemas/StringValue'
        projectIdentifier:
          $ref: '#/components/schemas/StringValue'
        orgIdentifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        projectIdentifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        accountIdentifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        identifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        parentUniqueIdOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        pipelineIdentifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        initialized:
          type: boolean
        identifier:
          $ref: '#/components/schemas/StringValue'
        metadata:
          type: object
          additionalProperties:
            type: string
        metadataCount:
          type: integer
          format: int32
        metadataMap:
          type: object
          additionalProperties:
            type: string
        defaultInstanceForType:
          $ref: '#/components/schemas/TriggerReferenceProtoDTO'
        parserForType:
          $ref: '#/components/schemas/ParserTriggerReferenceProtoDTO'
        serializedSize:
          type: integer
          format: int32
        allFields:
          type: object
          additionalProperties:
            type: object
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        initializationErrorString:
          type: string
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    StringValueOrBuilder:
      type: object
      properties:
        valueBytes:
          $ref: '#/components/schemas/ByteString'
        value:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        initializationErrorString:
          type: string
        initialized:
          type: boolean
    OneofDescriptor:
      type: object
      properties:
        index:
          type: integer
          format: int32
        proto:
          $ref: '#/components/schemas/OneofDescriptorProto'
        options:
          $ref: '#/components/schemas/OneofOptions'
        fullName:
          type: string
        file:
          $ref: '#/components/schemas/FileDescriptor'
        containingType:
          $ref: '#/components/schemas/CvDescriptor'
        fieldCount:
          type: integer
          format: int32
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptor'
        name:
          type: string
    FeatureSet:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        initialized:
          type: boolean
        defaultInstanceForType:
          $ref: '#/components/schemas/FeatureSet'
        enumType:
          type: string
          enum:
          - ENUM_TYPE_UNKNOWN
          - OPEN
          - CLOSED
        jsonFormat:
          type: string
          enum:
          - JSON_FORMAT_UNKNOWN
          - ALLOW
          - LEGACY_BEST_EFFORT
        parserForType:
          $ref: '#/components/schemas/ParserFeatureSet'
        serializedSize:
          type: integer
          format: int32
        messageEncoding:
          type: string
          enum:
          - MESSAGE_ENCODING_UNKNOWN
          - LENGTH_PREFIXED
          - DELIMITED
        utf8Validation:
          type: string
          enum:
          - UTF8_VALIDATION_UNKNOWN
          - VERIFY
          - NONE
        fieldPresence:
          type: string
          enum:
          - FIELD_PRESENCE_UNKNOWN
          - EXPLICIT
          - IMPLICIT
          - LEGACY_REQUIRED
        repeatedFieldEncoding:
          type: string
          enum:
          - REPEATED_FIELD_ENCODING_UNKNOWN
          - PACKED
          - EXPANDED
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        allFieldsRaw:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ParserFileOptions:
      type: object
    ExtensionRangeOptions:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        initialized:
          type: boolean
        declarationOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/DeclarationOrBuilder'
        features:
          $ref: '#/components/schemas/FeatureSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/ExtensionRangeOptions'
        parserForType:
          $ref: '#/components/schemas/ParserExtensionRangeOptions'
        serializedSize:
          type: integer
          format: int32
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        declarationCount:
          type: integer
          format: int32
        verification:
          type: string
          enum:
          - DECLARATION
          - UNVERIFIED
        declarationList:
          type: array
          items:
            $ref: '#/components/schemas/CvDeclaration'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        allFieldsRaw:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    FieldDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        typeName:
          type: string
        type:
          type: string
          enum:
          - TYPE_DOUBLE
          - TYPE_FLOAT
          - TYPE_INT64
          - TYPE_UINT64
          - TYPE_INT32
          - TYPE_FIXED64
          - TYPE_FIXED32
          - TYPE_BOOL
          - TYPE_STRING
          - TYPE_GROUP
          - TYPE_MESSAGE
          - TYPE_BYTES
          - TYPE_UINT32
          - TYPE_ENUM
          - TYPE_SFIXED32
          - TYPE_SFIXED64
          - TYPE_SINT32
          - TYPE_SINT64
        defaultValue:
          type: string
        number:
          type: integer
          format: int32
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/FieldOptions'
        label:
          type: string
          enum:
          - LABEL_OPTIONAL
          - LABEL_REPEATED
          - LABEL_REQUIRED
        defaultInstanceForType:
          $ref: '#/components/schemas/FieldDescriptorProto'
        parserForType:
          $ref: '#/components/schemas/ParserFieldDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        optionsOrBuilder:
          $ref: '#/components/schemas/FieldOptionsOrBuilder'
        jsonName:
          type: string
        proto3Optional:
          type: boolean
        oneofIndex:
          type: integer
          format: int32
        extendee:
          type: string
        typeNameBytes:
          $ref: '#/components/schemas/ByteString'
        extendeeBytes:
          $ref: '#/components/schemas/ByteString'
        defaultValueBytes:
          $ref: '#/components/schemas/ByteString'
        jsonNameBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    FileDescriptor:
      type: object
      properties:
        proto:
          $ref: '#/components/schemas/FileDescriptorProto'
        options:
          $ref: '#/components/schemas/FileOptions'
        messageTypes:
          type: array
          items:
            $ref: '#/components/schemas/CvDescriptor'
        enumTypes:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptor'
        services:
          type: array
          items:
            $ref: '#/components/schemas/ServiceDescriptor'
        extensions:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptor'
        dependencies:
          type: array
          items:
            $ref: '#/components/schemas/FileDescriptor'
        publicDependencies:
          type: array
          items:
            $ref: '#/components/schemas/FileDescriptor'
        name:
          type: string
        package:
          type: string
        file:
          $ref: '#/components/schemas/FileDescriptor'
        fullName:
          type: string
    ParserInfraDefinitionReferenceProtoDTO:
      type: object
    ServiceDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/ServiceOptions'
        defaultInstanceForType:
          $ref: '#/components/schemas/ServiceDescriptorProto'
        parserForType:
          $ref: '#/components/schemas/ParserServiceDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        optionsOrBuilder:
          $ref: '#/components/schemas/ServiceOptionsOrBuilder'
        methodCount:
          type: integer
          format: int32
        methodList:
          type: array
          items:
            $ref: '#/components/schemas/MethodDescriptorProto'
        methodOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/MethodDescriptorProtoOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    EnumDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/EnumOptions'
        defaultInstanceForType:
          $ref: '#/components/schemas/EnumDescriptorProto'
        reservedRangeList:
          type: array
          items:
            $ref: '#/components/schemas/EnumReservedRange'
        reservedNameList:
          type: array
          properties:
            empty:
              type: boolean
          items:
            type: string
        parserForType:
          $ref: '#/components/schemas/ParserEnumDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        optionsOrBuilder:
          $ref: '#/components/schemas/EnumOptionsOrBuilder'
        valueCount:
          type: integer
          format: int32
        valueList:
          type: array
          items:
            $ref: '#/components/schemas/EnumValueDescriptorProto'
        valueOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EnumValueDescriptorProtoOrBuilder'
        reservedRangeCount:
          type: integer
          format: int32
        reservedNameCount:
          type: integer
          format: int32
        reservedRangeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EnumReservedRangeOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ParserIdentifierRefProtoDTO:
      type: object
    IdentifierRefProtoDTOOrBuilder:
      type: object
      properties:
        parentUniqueId:
          $ref: '#/components/schemas/StringValue'
        accountIdentifier:
          $ref: '#/components/schemas/StringValue'
        orgIdentifier:
          $ref: '#/components/schemas/StringValue'
        projectIdentifier:
          $ref: '#/components/schemas/StringValue'
        orgIdentifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        projectIdentifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        accountIdentifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        identifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        parentUniqueIdOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        scopeValue:
          type: integer
          format: int32
        identifier:
          $ref: '#/components/schemas/StringValue'
        scope:
          type: string
          enum:
          - ACCOUNT
          - ORG
          - PROJECT
          - UNKNOWN
          - UNRECOGNIZED
        metadata:
          type: object
          additionalProperties:
            type: string
        metadataCount:
          type: integer
          format: int32
        metadataMap:
          type: object
          additionalProperties:
            type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        initializationErrorString:
          type: string
        initialized:
          type: boolean
    ParserNamePart:
      type: object
    CustomDeploymentVariableResponseDTO:
      required:
      - metadataMap
      - yaml
      type: object
      properties:
        yaml:
          type: string
        metadataMap:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CustomDeploymentVariableProperties'
    CvDescriptor:
      type: object
      properties:
        index:
          type: integer
          format: int32
        proto:
          $ref: '#/components/schemas/CvDescriptorProto'
        options:
          $ref: '#/components/schemas/MessageOptions'
        fullName:
          type: string
        file:
          $ref: '#/components/schemas/FileDescriptor'
        containingType:
          $ref: '#/components/schemas/CvDescriptor'
        nestedTypes:
          type: array
          items:
            $ref: '#/components/schemas/CvDescriptor'
        enumTypes:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptor'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptor'
        extensions:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptor'
        oneofs:
          type: array
          items:
            $ref: '#/components/schemas/OneofDescriptor'
        name:
          type: string
        extendable:
          type: boolean
        realOneofs:
          type: array
          items:
            $ref: '#/components/schemas/OneofDescriptor'
    ValidationError:
      type: object
      properties:
        fieldId:
          type: string
        error:
          type: string
    ResponseDTOListEntityDetailProtoDTO:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          type: array
          items:
            $ref: '#/components/schemas/EntityDetailProtoDTO'
        metaData:
          type: object
        correlationId:
          type: string
    ReservedRangeOrBuilder:
      type: object
      properties:
        start:
          type: integer
          format: int32
        end:
          type: integer
          format: int32
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ResponseMessage:
      type: object
      properties:
        code:
          type: string
          enum:
          - DEFAULT_ERROR_CODE
          - INVALID_ARGUMENT
          - INVALID_EMAIL
          - DOMAIN_NOT_ALLOWED_TO_REGISTER
          - COMMNITY_EDITION_NOT_FOUND
          - DEPLOY_MODE_IS_NOT_ON_PREM
          - USER_ALREADY_REGISTERED
          - USER_INVITATION_DOES_NOT_EXIST
          - USER_DOES_NOT_EXIST
          - USER_INVITE_OPERATION_FAILED
          - USER_DISABLED
          - ACCOUNT_DOES_NOT_EXIST
          - INACTIVE_ACCOUNT
          - ACCOUNT_MIGRATED
          - ACCOUNT_MIGRATED_TO_NEXT_GEN
          - USER_DOMAIN_NOT_ALLOWED
          - MAX_FAILED_ATTEMPT_COUNT_EXCEEDED
          - RESOURCE_NOT_FOUND
          - INVALID_FORMAT
          - ROLE_DOES_NOT_EXIST
          - EMAIL_NOT_VERIFIED
          - EMAIL_VERIFICATION_TOKEN_NOT_FOUND
          - INVALID_TOKEN
          - REVOKED_TOKEN
          - INVALID_CAPTCHA_TOKEN
          - NOT_ACCOUNT_MGR_NOR_HAS_ALL_APP_ACCESS
          - EXPIRED_TOKEN
          - INVALID_AGENT_MTLS_AUTHORITY
          - TOKEN_ALREADY_REFRESHED_ONCE
          - ACCESS_DENIED
          - NG_ACCESS_DENIED
          - INVALID_CREDENTIAL
          - INVALID_CREDENTIALS_THIRD_PARTY
          - INVALID_KEY
          - INVALID_CONNECTOR_TYPE
          - INVALID_KEYPATH
          - INVALID_VARIABLE
          - UNKNOWN_HOST
          - UNREACHABLE_HOST
          - INVALID_PORT
          - SSH_SESSION_TIMEOUT
          - ALGORITHM_NEGOTIATION_ERROR
          - SOCKET_CONNECTION_ERROR
          - CONNECTION_ERROR
          - COULD_NOT_PROCESS_ERROR
          - SOCKET_CONNECTION_TIMEOUT
          - WINRM_COMMAND_EXECUTION_TIMEOUT
          - CONNECTION_TIMEOUT
          - SSH_CONNECTION_ERROR
          - USER_GROUP_ERROR
          - INVALID_EXECUTION_ID
          - ERROR_IN_GETTING_CHANNEL_STREAMS
          - UNEXPECTED
          - UNKNOWN_ERROR
          - UNKNOWN_EXECUTOR_TYPE_ERROR
          - DUPLICATE_STATE_NAMES
          - TRANSITION_NOT_LINKED
          - TRANSITION_TO_INCORRECT_STATE
          - TRANSITION_TYPE_NULL
          - STATES_WITH_DUP_TRANSITIONS
          - BARRIERS_NOT_RUNNING_CONCURRENTLY
          - NON_FORK_STATES
          - NON_REPEAT_STATES
          - INITIAL_STATE_NOT_DEFINED
          - FILE_INTEGRITY_CHECK_FAILED
          - INVALID_URL
          - FILE_DOWNLOAD_FAILED
          - PLATFORM_SOFTWARE_DELETE_ERROR
          - INVALID_CSV_FILE
          - INVALID_REQUEST
          - SCHEMA_VALIDATION_FAILED
          - FILTER_CREATION_ERROR
          - INVALID_YAML_ERROR
          - PLAN_CREATION_ERROR
          - INVALID_INFRA_STATE
          - PIPELINE_ALREADY_TRIGGERED
          - NON_EXISTING_PIPELINE
          - DUPLICATE_COMMAND_NAMES
          - INVALID_PIPELINE
          - COMMAND_DOES_NOT_EXIST
          - DUPLICATE_ARTIFACTSTREAM_NAMES
          - DUPLICATE_HOST_NAMES
          - STATE_NOT_FOR_TYPE
          - STATE_MACHINE_ISSUE
          - STATE_DISCONTINUE_FAILED
          - STATE_PAUSE_FAILED
          - PAUSE_ALL_ALREADY
          - RESUME_ALL_ALREADY
          - ROLLBACK_ALREADY
          - ABORT_ALL_ALREADY
          - EXPIRE_ALL_ALREADY
          - RETRY_FAILED
          - UNKNOWN_ARTIFACT_TYPE
          - UNKNOWN_STAGE_ELEMENT_WRAPPER_TYPE
          - INIT_TIMEOUT
          - LICENSE_EXPIRED
          - NOT_LICENSED
          - REQUEST_TIMEOUT
          - SCM_REQUEST_TIMEOUT
          - WORKFLOW_ALREADY_TRIGGERED
          - JENKINS_ERROR
          - INVALID_ARTIFACT_SOURCE
          - INVALID_ARTIFACT_SERVER
          - INVALID_CLOUD_PROVIDER
          - UPDATE_NOT_ALLOWED
          - DELETE_NOT_ALLOWED
          - APPDYNAMICS_CONFIGURATION_ERROR
          - APM_CONFIGURATION_ERROR
          - SPLUNK_CONFIGURATION_ERROR
          - ELK_CONFIGURATION_ERROR
          - LOGZ_CONFIGURATION_ERROR
          - SUMO_CONFIGURATION_ERROR
          - INSTANA_CONFIGURATION_ERROR
          - APPDYNAMICS_ERROR
          - STACKDRIVER_ERROR
          - STACKDRIVER_CONFIGURATION_ERROR
          - NEWRELIC_CONFIGURATION_ERROR
          - NEWRELIC_ERROR
          - DYNA_TRACE_CONFIGURATION_ERROR
          - DYNA_TRACE_ERROR
          - CLOUDWATCH_ERROR
          - CLOUDWATCH_CONFIGURATION_ERROR
          - PROMETHEUS_CONFIGURATION_ERROR
          - DATA_DOG_CONFIGURATION_ERROR
          - SERVICE_GUARD_CONFIGURATION_ERROR
          - ENCRYPTION_NOT_CONFIGURED
          - UNAVAILABLE_DELEGATES
          - WORKFLOW_EXECUTION_IN_PROGRESS
          - PIPELINE_EXECUTION_IN_PROGRESS
          - AWS_ACCESS_DENIED
          - AWS_CLUSTER_NOT_FOUND
          - AWS_SERVICE_NOT_FOUND
          - IMAGE_NOT_FOUND
          - ILLEGAL_ARGUMENT
          - IMAGE_TAG_NOT_FOUND
          - DELEGATE_NOT_AVAILABLE
          - INVALID_YAML_PAYLOAD
          - AUTHENTICATION_ERROR
          - AUTHORIZATION_ERROR
          - UNRECOGNIZED_YAML_FIELDS
          - COULD_NOT_MAP_BEFORE_YAML
          - MISSING_BEFORE_YAML
          - MISSING_YAML
          - NON_EMPTY_DELETIONS
          - GENERAL_YAML_ERROR
          - GENERAL_YAML_INFO
          - YAML_GIT_SYNC_ERROR
          - GIT_CONNECTION_ERROR
          - GIT_ERROR
          - ARTIFACT_SERVER_ERROR
          - ENCRYPT_DECRYPT_ERROR
          - SECRET_MANAGEMENT_ERROR
          - SECRET_NOT_FOUND
          - KMS_OPERATION_ERROR
          - GCP_KMS_OPERATION_ERROR
          - VAULT_OPERATION_ERROR
          - AWS_SECRETS_MANAGER_OPERATION_ERROR
          - AZURE_KEY_VAULT_OPERATION_ERROR
          - AZURE_KEY_VAULT_INTERRUPT_ERROR
          - UNSUPPORTED_OPERATION_EXCEPTION
          - FEATURE_UNAVAILABLE
          - GENERAL_ERROR
          - BASELINE_CONFIGURATION_ERROR
          - SAML_IDP_CONFIGURATION_NOT_AVAILABLE
          - INVALID_AUTHENTICATION_MECHANISM
          - INVALID_SAML_CONFIGURATION
          - INVALID_OAUTH_CONFIGURATION
          - INVALID_LDAP_CONFIGURATION
          - USER_GROUP_SYNC_FAILURE
          - USER_GROUP_ALREADY_EXIST
          - INVALID_TWO_FACTOR_AUTHENTICATION_CONFIGURATION
          - EXPLANATION
          - HINT
          - NOT_WHITELISTED_IP
          - INVALID_TOTP_TOKEN
          - EMAIL_FAILED
          - SSL_HANDSHAKE_FAILED
          - NO_APPS_ASSIGNED
          - INVALID_INFRA_CONFIGURATION
          - TEMPLATES_LINKED
          - USER_HAS_NO_PERMISSIONS
          - USER_NOT_AUTHORIZED
          - USER_ALREADY_PRESENT
          - EMAIL_ERROR
          - INVALID_USAGE_RESTRICTION
          - USAGE_RESTRICTION_ERROR
          - STATE_EXECUTION_INSTANCE_NOT_FOUND
          - DELEGATE_TASK_RETRY
          - KUBERNETES_API_TASK_EXCEPTION
          - KUBERNETES_TASK_EXCEPTION
          - KUBERNETES_YAML_ERROR
          - SAVE_FILE_INTO_AWS_STORAGE_FAILED
          - READ_FILE_FROM_AWS_STORAGE_FAILED
          - SAVE_FILE_INTO_GCP_STORAGE_FAILED
          - READ_FILE_FROM_GCP_STORAGE_FAILED
          - FILE_NOT_FOUND_ERROR
          - USAGE_LIMITS_EXCEEDED
          - EVENT_PUBLISH_FAILED
          - CUSTOM_APPROVAL_ERROR
          - JIRA_ERROR
          - EXPRESSION_EVALUATION_FAILED
          - KUBERNETES_VALUES_ERROR
          - KUBERNETES_CLUSTER_ERROR
          - INCORRECT_SIGN_IN_MECHANISM
          - OAUTH_LOGIN_FAILED
          - INVALID_TERRAFORM_TARGETS_REQUEST
          - TERRAFORM_EXECUTION_ERROR
          - FILE_READ_FAILED
          - FILE_SIZE_EXCEEDS_LIMIT
          - CLUSTER_NOT_FOUND
          - MARKETPLACE_TOKEN_NOT_FOUND
          - INVALID_MARKETPLACE_TOKEN
          - INVALID_TICKETING_SERVER
          - SERVICENOW_ERROR
          - PASSWORD_EXPIRED
          - USER_LOCKED
          - PASSWORD_STRENGTH_CHECK_FAILED
          - ACCOUNT_DISABLED
          - INVALID_ACCOUNT_PERMISSION
          - PAGERDUTY_ERROR
          - HEALTH_ERROR
          - SAML_TEST_SUCCESS_MECHANISM_NOT_ENABLED
          - DOMAIN_WHITELIST_FILTER_CHECK_FAILED
          - INVALID_DASHBOARD_UPDATE_REQUEST
          - DUPLICATE_FIELD
          - INVALID_AZURE_VAULT_CONFIGURATION
          - USER_NOT_AUTHORIZED_DUE_TO_USAGE_RESTRICTIONS
          - INVALID_ROLLBACK
          - DATA_COLLECTION_ERROR
          - SUMO_DATA_COLLECTION_ERROR
          - DEPLOYMENT_GOVERNANCE_ERROR
          - BATCH_PROCESSING_ERROR
          - GRAPHQL_ERROR
          - FILE_CREATE_ERROR
          - ILLEGAL_STATE
          - GIT_DIFF_COMMIT_NOT_IN_ORDER
          - FAILED_TO_ACQUIRE_PERSISTENT_LOCK
          - FAILED_TO_ACQUIRE_NON_PERSISTENT_LOCK
          - POD_NOT_FOUND_ERROR
          - COMMAND_EXECUTION_ERROR
          - REGISTRY_EXCEPTION
          - ENGINE_INTERRUPT_PROCESSING_EXCEPTION
          - ENGINE_IO_EXCEPTION
          - ENGINE_OUTCOME_EXCEPTION
          - ENGINE_SWEEPING_OUTPUT_EXCEPTION
          - CACHE_NOT_FOUND_EXCEPTION
          - ENGINE_ENTITY_UPDATE_EXCEPTION
          - SHELL_EXECUTION_EXCEPTION
          - TEMPLATE_NOT_FOUND
          - AZURE_SERVICE_EXCEPTION
          - AZURE_CLIENT_EXCEPTION
          - GIT_UNSEEN_REMOTE_HEAD_COMMIT
          - TIMEOUT_ENGINE_EXCEPTION
          - NO_AVAILABLE_DELEGATES
          - NO_GLOBAL_DELEGATE_ACCOUNT
          - NO_INSTALLED_DELEGATES
          - DUPLICATE_DELEGATE_EXCEPTION
          - GCP_MARKETPLACE_EXCEPTION
          - MISSING_DEFAULT_GOOGLE_CREDENTIALS
          - INCORRECT_DEFAULT_GOOGLE_CREDENTIALS
          - OPTIMISTIC_LOCKING_EXCEPTION
          - NG_PIPELINE_EXECUTION_EXCEPTION
          - NG_PIPELINE_CREATE_EXCEPTION
          - RESOURCE_NOT_FOUND_EXCEPTION
          - PMS_INITIALIZE_SDK_EXCEPTION
          - UNEXPECTED_SNIPPET_EXCEPTION
          - UNEXPECTED_SCHEMA_EXCEPTION
          - CONNECTOR_VALIDATION_EXCEPTION
          - TIMESCALE_NOT_AVAILABLE
          - MIGRATION_EXCEPTION
          - REQUEST_PROCESSING_INTERRUPTED
          - SECRET_MANAGER_ID_NOT_FOUND
          - GCP_SECRET_MANAGER_OPERATION_ERROR
          - GCP_SECRET_OPERATION_ERROR
          - GIT_OPERATION_ERROR
          - TASK_FAILURE_ERROR
          - INSTANCE_STATS_PROCESS_ERROR
          - INSTANCE_STATS_MIGRATION_ERROR
          - DEPLOYMENT_MIGRATION_ERROR
          - CG_LICENSE_USAGE_ERROR
          - INSTANCE_STATS_AGGREGATION_ERROR
          - UNRESOLVED_EXPRESSIONS_ERROR
          - KRYO_HANDLER_NOT_FOUND_ERROR
          - DELEGATE_ERROR_HANDLER_EXCEPTION
          - DELEGATE_SERVICE_DRIVER_EXCEPTION
          - DELEGATE_INSTALLATION_COMMAND_NOT_SUPPORTED_EXCEPTION
          - UNEXPECTED_TYPE_ERROR
          - EXCEPTION_HANDLER_NOT_FOUND
          - CONNECTOR_NOT_FOUND_EXCEPTION
          - GCP_SERVER_ERROR
          - HTTP_RESPONSE_EXCEPTION
          - SCM_NOT_FOUND_ERROR
          - SCM_CONFLICT_ERROR
          - SCM_CONFLICT_ERROR_V2
          - SCM_UNPROCESSABLE_ENTITY
          - PROCESS_EXECUTION_EXCEPTION
          - SCM_UNAUTHORIZED
          - SCM_BAD_REQUEST
          - SCM_INTERNAL_SERVER_ERROR
          - DATA
          - CONTEXT
          - PR_CREATION_ERROR
          - URL_NOT_REACHABLE
          - URL_NOT_PROVIDED
          - ENGINE_EXPRESSION_EVALUATION_ERROR
          - ENGINE_FUNCTOR_ERROR
          - JIRA_CLIENT_ERROR
          - SCM_NOT_MODIFIED
          - APPROVAL_STEP_NG_ERROR
          - BUCKET_SERVER_ERROR
          - GIT_SYNC_ERROR
          - TEMPLATE_EXCEPTION
          - TEMPLATE_ALREADY_EXISTS_EXCEPTION
          - ENTITY_REFERENCE_EXCEPTION
          - ACTIVE_SERVICE_INSTANCES_PRESENT_EXCEPTION
          - INVALID_INPUT_SET
          - INVALID_OVERLAY_INPUT_SET
          - RESOURCE_ALREADY_EXISTS
          - INVALID_JSON_PAYLOAD
          - POLICY_EVALUATION_FAILURE
          - POLICY_SET_ERROR
          - INVALID_ARTIFACTORY_REGISTRY_REQUEST
          - INVALID_NEXUS_REGISTRY_REQUEST
          - ENTITY_NOT_FOUND
          - GITX_OAUTH_NOT_SET
          - INVALID_AZURE_CONTAINER_REGISTRY_REQUEST
          - AZURE_AUTHENTICATION_ERROR
          - AZURE_CONFIG_ERROR
          - DATA_PROCESSING_ERROR
          - INVALID_AZURE_AKS_REQUEST
          - AWS_IAM_ERROR
          - AWS_CF_ERROR
          - AWS_INSTANCE_ERROR
          - AWS_VPC_ERROR
          - AWS_TAG_ERROR
          - AWS_ASG_ERROR
          - AWS_LOAD_BALANCER_ERROR
          - SCM_INTERNAL_SERVER_ERROR_V2
          - SCM_FAILED_DEPENDENCY_ERROR
          - SCM_UNAUTHORIZED_ERROR_V2
          - TOO_MANY_REQUESTS
          - SCM_RATE_LIMIT_ERROR
          - INVALID_IDENTIFIER_REF
          - SPOTINST_NULL_ERROR
          - SPOTNIST_REST_EXCEPTION
          - SCM_UNEXPECTED_ERROR
          - DUPLICATE_FILE_IMPORT
          - AZURE_APP_SERVICES_TASK_EXCEPTION
          - AZURE_ARM_TASK_EXCEPTION
          - AZURE_BP_TASK_EXCEPTION
          - MEDIA_NOT_SUPPORTED
          - AWS_ECS_ERROR
          - AWS_APPLICATION_AUTO_SCALING
          - AWS_ECS_SERVICE_NOT_ACTIVE
          - AWS_ECS_CLIENT_ERROR
          - AWS_STS_ERROR
          - FREEZE_EXCEPTION
          - MISSING_EXCEPTION
          - DELEGATE_TASK_EXPIRED
          - DELEGATE_TASK_VALIDATION_FAILED
          - MONGO_EXECUTION_TIMEOUT_EXCEPTION
          - DELEGATE_NOT_REGISTERED
          - TERRAFORM_VAULT_SECRET_CLEANUP_FAILURE
          - APPROVAL_REJECTION
          - TERRAGRUNT_EXECUTION_ERROR
          - ADFS_ERROR
          - TERRAFORM_CLOUD_ERROR
          - CLUSTER_CREDENTIALS_NOT_FOUND
          - SCM_API_ERROR
          - INTERNAL_SERVER_ERROR
          - SCM_FORBIDDEN
          - AWS_EKS_ERROR
          - OPA_POLICY_EVALUATION_ERROR
          - USER_MARKED_FAILURE
          - SSH_RETRY
          - HTTP_CLIENT_ERROR_RESPONSE
          - HTTP_INTERNAL_SERVER_ERROR
          - HTTP_BAD_GATEWAY
          - HTTP_SERVICE_UNAVAILABLE
          - HTTP_GATEWAY_TIMEOUT
          - HTTP_SERVER_ERROR_RESPONSE
          - PIPELINE_UPDATE_EXCEPTION
          - SERVICENOW_REFRESH_TOKEN_ERROR
          - PARAMETER_FIELD_CAST_ERROR
          - ABORT_ALL_ALREADY_NG
          - WEBHOOK_EXCEPTION
          - INVALID_OIDC_CONFIGURATION
          - INVALID_CREDENTIALS
          - INVALID_OR_PRIVATE_REPO
          - BARRIER_FAILED_ERROR
          - ELASTICSEARCH_NOT_AVAILABLE
          - OBJECT_STORE_NOT_AVAILABLE
          - NO_ELIGIBLE_RUNNERS
          - NO_AVAILABLE_RUNNERS
          - RUNNER_DISCONNECTED
          - EVENT_LISTENER_STEP_FAILURE
          - TRANSACTION_ABORTED
          - UNRESOLVED_EXPRESSIONS_WITH_CONTEXT_ERROR
        level:
          type: string
          enum:
          - INFO
          - ERROR
        message:
          type: string
        exception:
          type: object
          properties:
            stackTrace:
              type: array
              items:
                type: object
                properties:
                  classLoaderName:
                    type: string
                  moduleName:
                    type: string
                  moduleVersion:
                    type: string
                  methodName:
                    type: string
                  fileName:
                    type: string
                  lineNumber:
                    type: integer
                    format: int32
                  nativeMethod:
                    type: boolean
                  className:
                    type: string
            message:
              type: string
            suppressed:
              type: array
              items:
                type: object
                properties:
                  stackTrace:
                    type: array
                    items:
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        methodName:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        nativeMethod:
                          type: boolean
                        className:
                          type: string
                  message:
                    type: string
                  localizedMessage:
                    type: string
            localizedMessage:
              type: string
        failureTypes:
          type: array
          items:
            type: string
            enum:
            - EXPIRED
            - DELEGATE_PROVISIONING
            - CONNECTIVITY
            - AUTHENTICATION
            - VERIFICATION_FAILURE
            - APPLICATION_ERROR
            - AUTHORIZATION_ERROR
            - TIMEOUT_ERROR
            - POLICY_EVALUATION_FAILURE
            - INPUT_TIMEOUT_FAILURE
            - APPROVAL_REJECTION
            - DELEGATE_RESTART
            - USER_MARKED_FAILURE
            - INFRASTRUCTURE_FAILURE
            - PLUGIN_IMAGE_FAILURE
            - RESOURCE_LIMITS_FAILURE
            - CONFIGURATION_FAILURE
            - RETRYABLE_TRANSIENT_FAILURE
        failureSubTypes:
          type: array
          items:
            type: string
            enum:
            - UNKNOWN_FAILURE_REASON
            - SOCKET_TIMEOUT
            - SSL_HANDSHAKE_EXCEPTION
            - IO_EXCEPTION
            - AUTHORIZATION
            - VALIDATION
            - CONNECTION_TIMEOUT
            - API_REQUEST_EXCEPTION
            - NO_ELIGIBLE_DELEGATE_AVAILABLE
            - NON_ACTIVE_DELEGATE
            - DELEGATE_DISCONNECTED
            - GENERAL_ERROR
            - INPUT_ERROR
            - INVALID_PARAMETERS
            - MISSING_CONFIGURATION
            - SECRET_RESOLUTION_ERROR
            - UNAUTHORIZED
            - FORBIDDEN_ERROR
            - DEPENDENCY_ISSUE
            - EXECUTION_FAILURE
            - INVALID_MANIFEST_CONFIGURATION
            - RESOURCE_NOT_FOUND
            - CERTIFICATE_ERROR
            - UNKNOWN_COMMAND_FLAG
            - HELM_EXISTING_RESOURCE_CONFLICT
            - HELM_RESOURCE_ALREADY_EXISTS
            - NO_DEPLOYED_HELM_RELEASES
            - HELM_INSTALL_FAILED
            - HELM_UPGRADE_FAILED
            - HELM_ROLLBACK_FAILED
            - HELM_FETCH_FAILED
            - HELM_REPO_ADD_FAILED
            - HELM_RENDER_CHART_FAILED
            - HELM_LIST_RELEASE_FAILED
            - HELM_RELEASE_HISTORY_FAILED
            - RUNNER_FAILED_TO_START
            - POD_SCHEDULING_FAILED
            - CONTAINER_OOM_KILLED
            - DISK_SPACE_EXHAUSTED
            - STEP_SETUP_TIMEOUT
            - FILE_SYSTEM_PERMISSION_ERROR
            - DNS_RESOLUTION_FAILED
            - CONNECTION_REFUSED
            - PROXY_MISCONFIGURED
            - GIT_FETCH_FAILED
            - REGISTRY_UNREACHABLE
            - DOCKER_IMAGE_PULL_FAILED
            - ENTRYPOINT_SCRIPT_FAILED
            - PLUGIN_STEP_TIMEOUT
            - PLUGIN_CONFIGURATION_INVALID
            - PLUGIN_CRASHED
            - UNSUPPORTED_PLATFORM_ARCH
            - SCRIPT_EXITED_NON_ZERO
            - SCRIPT_SYNTAX_ERROR
            - SCRIPT_RUNTIME_CRASH
            - UNIT_TESTS_FAILED
            - SECURITY_SCAN_FAILED
            - LINT_FORMAT_FAILED
            - DEPENDENCY_RESOLUTION_FAILED
            - INVALID_CREDENTIALS
            - ACCESS_FORBIDDEN
            - STEP_NOT_ALLOWED
            - REQUIRED_FIELD_MISSING
            - INVALID_YAML
            - EXPRESSION_EVALUATION_FAILED
            - INPUT_TYPE_MISMATCH
            - INVALID_RESOURCE_REFERENCE
            - CPU_EXCEEDED
            - MEMORY_EXCEEDED
            - ORG_PROJECT_QUOTA_EXCEEDED
            - STAGE_CONCURRENCY_EXCEEDED
            - RATE_LIMIT_HIT
            - INTERNAL_SERVER_ERROR
            - PIPELINE_EXECUTION_FAILED
            - EVENT_DISPATCH_FAILED
            - STEP_FAILED_TO_START
            - UNSUPPORTED_FEATURE
            - STEP_EXECUTION_TIMEOUT
            - STAGE_EXECUTION_TIMEOUT
            - APPROVAL_EXPIRED
            - ARTIFACT_FETCH_TIMEOUT
            - DELEGATE_TEMPORARILY_BUSY
            - INFRA_COMPONENT_RESTARTED
            - NETWORK_GLITCH
            - REGISTRY_RATE_LIMITED
            - POD_EVICTION
            - UNRECOGNIZED
        additionalInfo:
          type: object
          additionalProperties:
            type: string
    ParserEnumReservedRange:
      type: object
    EnumValueOptions:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        initialized:
          type: boolean
        features:
          $ref: '#/components/schemas/FeatureSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/EnumValueOptions'
        parserForType:
          $ref: '#/components/schemas/ParserEnumValueOptions'
        serializedSize:
          type: integer
          format: int32
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        debugRedact:
          type: boolean
        featureSupport:
          $ref: '#/components/schemas/FeatureSupport'
        featureSupportOrBuilder:
          $ref: '#/components/schemas/FeatureSupportOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        allFieldsRaw:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    FileOptions:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        initialized:
          type: boolean
        features:
          $ref: '#/components/schemas/FeatureSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/FileOptions'
        javaStringCheckUtf8:
          type: boolean
        parserForType:
          $ref: '#/components/schemas/ParserFileOptions'
        serializedSize:
          type: integer
          format: int32
        optimizeFor:
          type: string
          enum:
          - SPEED
          - CODE_SIZE
          - LITE_RUNTIME
        goPackage:
          type: string
        goPackageBytes:
          $ref: '#/components/schemas/ByteString'
        ccGenericServices:
          type: boolean
        javaGenericServices:
          type: boolean
        pyGenericServices:
          type: boolean
        deprecated:
          type: boolean
        ccEnableArenas:
          type: boolean
        objcClassPrefix:
          type: string
        objcClassPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        csharpNamespace:
          type: string
        csharpNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        swiftPrefix:
          type: string
        swiftPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        phpClassPrefix:
          type: string
        javaPackage:
          type: string
        javaPackageBytes:
          $ref: '#/components/schemas/ByteString'
        javaOuterClassname:
          type: string
        javaOuterClassnameBytes:
          $ref: '#/components/schemas/ByteString'
        javaMultipleFiles:
          type: boolean
        javaGenerateEqualsAndHash:
          type: boolean
        phpClassPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        phpNamespace:
          type: string
        phpNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        phpMetadataNamespace:
          type: string
        phpMetadataNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        rubyPackage:
          type: string
        rubyPackageBytes:
          $ref: '#/components/schemas/ByteString'
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        allFieldsRaw:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    LocationOrBuilder:
      type: object
      properties:
        leadingDetachedCommentsList:
          type: array
          items:
            type: string
        pathList:
          type: array
          items:
            type: integer
            format: int32
        spanList:
          type: array
          items:
            type: integer
            format: int32
        leadingComments:
          type: string
        trailingComments:
          type: string
        pathCount:
          type: integer
          format: int32
        spanCount:
          type: integer
          format: int32
        leadingDetachedCommentsCount:
          type: integer
          format: int32
        leadingCommentsBytes:
          $ref: '#/components/schemas/ByteString'
        trailingCommentsBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ParserFileDescriptorProto:
      type: object
    ExtensionRangeOrBuilder:
      type: object
      properties:
        options:
          $ref: '#/components/schemas/ExtensionRangeOptions'
        start:
          type: integer
          format: int32
        end:
          type: integer
          format: int32
        optionsOrBuilder:
          $ref: '#/components/schemas/ExtensionRangeOptionsOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    FieldDescriptorProtoOrBuilder:
      type: object
      properties:
        name:
          type: string
        typeName:
          type: string
        type:
          type: string
          enum:
          - TYPE_DOUBLE
          - TYPE_FLOAT
          - TYPE_INT64
          - TYPE_UINT64
          - TYPE_INT32
          - TYPE_FIXED64
          - TYPE_FIXED32
          - TYPE_BOOL
          - TYPE_STRING
          - TYPE_GROUP
          - TYPE_MESSAGE
          - TYPE_BYTES
          - TYPE_UINT32
          - TYPE_ENUM
          - TYPE_SFIXED32
          - TYPE_SFIXED64
          - TYPE_SINT32
          - TYPE_SINT64
        defaultValue:
          type: string
        number:
          type: integer
          format: int32
        options:
          $ref: '#/components/schemas/FieldOptions'
        label:
          type: string
          enum:
          - LABEL_OPTIONAL
          - LABEL_REPEATED
          - LABEL_REQUIRED
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        optionsOrBuilder:
          $ref: '#/components/schemas/FieldOptionsOrBuilder'
        jsonName:
          type: string
        proto3Optional:
          type: boolean
        oneofIndex:
          type: integer
          format: int32
        extendee:
          type: string
        typeNameBytes:
          $ref: '#/components/schemas/ByteString'
        extendeeBytes:
          $ref: '#/components/schemas/ByteString'
        defaultValueBytes:
          $ref: '#/components/schemas/ByteString'
        jsonNameBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ErrorMetadata2:
      type: object
      properties:
        type:
          type: string
      description: This implements different error meta data objects
      discriminator:
        propertyName: type
    ParserFieldOptions:
      type: object
    UnknownFieldSet:
      type: object
      properties:
        empty:
          type: boolean
        initialized:
          type: boolean
        defaultInstanceForType:
          $ref: '#/components/schemas/UnknownFieldSet'
        parserForType:
          $ref: '#/components/schemas/Parser'
        serializedSize:
          type: integer
          format: int32
        serializedSizeAsMessageSet:
          type: integer
          format: int32
    ParserEntityGitMetadata:
      type: object
    CustomDeploymentYamlRequestDTO:
      required:
      - entityYaml
      type: object
      properties:
        entityYaml:
          type: string
    ResponseDTOCustomDeploymentRefreshYamlDTO:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/CustomDeploymentRefreshYamlDTO'
        metaData:
          type: object
        correlationId:
          type: string
    EntityGitMetadata:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        repo:
          type: string
        branch:
          type: string
        branchBytes:
          $ref: '#/components/schemas/ByteString'
        repoBytes:
          $ref: '#/components/schemas/ByteString'
        initialized:
          type: boolean
        defaultInstanceForType:
          $ref: '#/components/schemas/EntityGitMetadata'
        parserForType:
          $ref: '#/components/schemas/ParserEntityGitMetadata'
        serializedSize:
          type: integer
          format: int32
        allFields:
          type: object
          additionalProperties:
            type: object
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        initializationErrorString:
          type: string
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ParserEnumOptions:
      type: object
    EnumDescriptor:
      type: object
      properties:
        index:
          type: integer
          format: int32
        proto:
          $ref: '#/components/schemas/EnumDescriptorProto'
        options:
          $ref: '#/components/schemas/EnumOptions'
        fullName:
          type: string
        file:
          $ref: '#/components/schemas/FileDescriptor'
        containingType:
          $ref: '#/components/schemas/CvDescriptor'
        values:
          type: array
          items:
            $ref: '#/components/schemas/EnumValueDescriptor'
        name:
          type: string
        closed:
          type: boolean
    ServiceOptions:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        initialized:
          type: boolean
        features:
          $ref: '#/components/schemas/FeatureSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/ServiceOptions'
        parserForType:
          $ref: '#/components/schemas/ParserServiceOptions'
        serializedSize:
          type: integer
          format: int32
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        allFieldsRaw:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    Message:
      type: object
      properties:
        parserForType:
          $ref: '#/components/schemas/ParserMessage'
        serializedSize:
          type: integer
          format: int32
        initialized:
          type: boolean
        defaultInstanceForType:
          $ref: '#/components/schemas/MessageLite'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
    ParserExtensionRange:
      type: object
    ParserMessageLite:
      type: object
    InputSetReferenceProtoDTOOrBuilder:
      type: object
      properties:
        pipelineIdentifier:
          $ref: '#/components/schemas/StringValue'
        parentUniqueId:
          $ref: '#/components/schemas/StringValue'
        accountIdentifier:
          $ref: '#/components/schemas/StringValue'
        orgIdentifier:
          $ref: '#/components/schemas/StringValue'
        projectIdentifier:
          $ref: '#/components/schemas/StringValue'
        orgIdentifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        projectIdentifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        accountIdentifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        identifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        parentUniqueIdOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        pipelineIdentifierOrBuilder:
          $ref: '#/components/schemas/StringValueOrBuilder'
        identifier:
          $ref: '#/components/schemas/StringValue'
        allFields:
          type: object
          additionalProperties:
            type: object
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        initializationErrorString:
          type: string
        initialized:
          type: boolean
    ParserUninterpretedOption:
      type: object
    Failure:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        code:
          type: string
          enum:
          - DEFAULT_ERROR_CODE
          - INVALID_ARGUMENT
          - INVALID_EMAIL
          - DOMAIN_NOT_ALLOWED_TO_REGISTER
          - COMMNITY_EDITION_NOT_FOUND
          - DEPLOY_MODE_IS_NOT_ON_PREM
          - USER_ALREADY_REGISTERED
          - USER_INVITATION_DOES_NOT_EXIST
          - USER_DOES_NOT_EXIST
          - USER_INVITE_OPERATION_FAILED
          - USER_DISABLED
          - ACCOUNT_DOES_NOT_EXIST
          - INACTIVE_ACCOUNT
          - ACCOUNT_MIGRATED
          - ACCOUNT_MIGRATED_TO_NEXT_GEN
          - USER_DOMAIN_NOT_ALLOWED
          - MAX_FAILED_ATTEMPT_COUNT_EXCEEDED
          - RESOURCE_NOT_FOUND
          - INVALID_FORMAT
          - ROLE_DOES_NOT_EXIST
          - EMAIL_NOT_VERIFIED
          - EMAIL_VERIFICATION_TOKEN_NOT_FOUND
          - INVALID_TOKEN
          - REVOKED_TOKEN
          - INVALID_CAPTCHA_TOKEN
          - NOT_ACCOUNT_MGR_NOR_HAS_ALL_APP_ACCESS
          - EXPIRED_TOKEN
          - INVALID_AGENT_MTLS_AUTHORITY
          - TOKEN_ALREADY_REFRESHED_ONCE
          - ACCESS_DENIED
          - NG_ACCESS_DENIED
          - INVALID_CREDENTIAL
          - INVALID_CREDENTIALS_THIRD_PARTY
          - INVALID_KEY
          - INVALID_CONNECTOR_TYPE
          - INVALID_KEYPATH
          - INVALID_VARIABLE
          - UNKNOWN_HOST
          - UNREACHABLE_HOST
          - INVALID_PORT
          - SSH_SESSION_TIMEOUT
          - ALGORITHM_NEGOTIATION_ERROR
          - SOCKET_CONNECTION_ERROR
          - CONNECTION_ERROR
          - COULD_NOT_PROCESS_ERROR
          - SOCKET_CONNECTION_TIMEOUT
          - WINRM_COMMAND_EXECUTION_TIMEOUT
          - CONNECTION_TIMEOUT
          - SSH_CONNECTION_ERROR
          - USER_GROUP_ERROR
          - INVALID_EXECUTION_ID
          - ERROR_IN_GETTING_CHANNEL_STREAMS
          - UNEXPECTED
          - UNKNOWN_ERROR
          - UNKNOWN_EXECUTOR_TYPE_ERROR
          - DUPLICATE_STATE_NAMES
          - TRANSITION_NOT_LINKED
          - TRANSITION_TO_INCORRECT_STATE
          - TRANSITION_TYPE_NULL
          - STATES_WITH_DUP_TRANSITIONS
          - BARRIERS_NOT_RUNNING_CONCURRENTLY
          - NON_FORK_STATES
          - NON_REPEAT_STATES
          - INITIAL_STATE_NOT_DEFINED
          - FILE_INTEGRITY_CHECK_FAILED
          - INVALID_URL
          - FILE_DOWNLOAD_FAILED
          - PLATFORM_SOFTWARE_DELETE_ERROR
          - INVALID_CSV_FILE
          - INVALID_REQUEST
          - SCHEMA_VALIDATION_FAILED
          - FILTER_CREATION_ERROR
          - INVALID_YAML_ERROR
          - PLAN_CREATION_ERROR
          - INVALID_INFRA_STATE
          - PIPELINE_ALREADY_TRIGGERED
          - NON_EXISTING_PIPELINE
          - DUPLICATE_COMMAND_NAMES
          - INVALID_PIPELINE
          - COMMAND_DOES_NOT_EXIST
          - DUPLICATE_ARTIFACTSTREAM_NAMES
          - DUPLICATE_HOST_NAMES
          - STATE_NOT_FOR_TYPE
          - STATE_MACHINE_ISSUE
          - STATE_DISCONTINUE_FAILED
          - STATE_PAUSE_FAILED
          - PAUSE_ALL_ALREADY
          - RESUME_ALL_ALREADY
          - ROLLBACK_ALREADY
          - ABORT_ALL_ALREADY
          - EXPIRE_ALL_ALREADY
          - RETRY_FAILED
          - UNKNOWN_ARTIFACT_TYPE
          - UNKNOWN_STAGE_ELEMENT_WRAPPER_TYPE
          - INIT_TIMEOUT
          - LICENSE_EXPIRED
          - NOT_LICENSED
          - REQUEST_TIMEOUT
          - SCM_REQUEST_TIMEOUT
          - WORKFLOW_ALREADY_TRIGGERED
          - JENKINS_ERROR
          - INVALID_ARTIFACT_SOURCE
          - INVALID_ARTIFACT_SERVER
          - INVALID_CLOUD_PROVIDER
          - UPDATE_NOT_ALLOWED
          - DELETE_NOT_ALLOWED
          - APPDYNAMICS_CONFIGURATION_ERROR
          - APM_CONFIGURATION_ERROR
          - SPLUNK_CONFIGURATION_ERROR
          - ELK_CONFIGURATION_ERROR
          - LOGZ_CONFIGURATION_ERROR
          - SUMO_CONFIGURATION_ERROR
          - INSTANA_CONFIGURATION_ERROR
          - APPDYNAMICS_ERROR
          - STACKDRIVER_ERROR
          - STACKDRIVER_CONFIGURATION_ERROR
          - NEWRELIC_CONFIGURATION_ERROR
          - NEWRELIC_ERROR
          - DYNA_TRACE_CONFIGURATION_ERROR
          - DYNA_TRACE_ERROR
          - CLOUDWATCH_ERROR
          - CLOUDWATCH_CONFIGURATION_ERROR
          - PROMETHEUS_CONFIGURATION_ERROR
          - DATA_DOG_CONFIGURATION_ERROR
          - SERVICE_GUARD_CONFIGURATION_ERROR
          - ENCRYPTION_NOT_CONFIGURED
          - UNAVAILABLE_DELEGATES
          - WORKFLOW_EXECUTION_IN_PROGRESS
          - PIPELINE_EXECUTION_IN_PROGRESS
          - AWS_ACCESS_DENIED
          - AWS_CLUSTER_NOT_FOUND
          - AWS_SERVICE_NOT_FOUND
          - IMAGE_NOT_FOUND
          - ILLEGAL_ARGUMENT
          - IMAGE_TAG_NOT_FOUND
          - DELEGATE_NOT_AVAILABLE
          - INVALID_YAML_PAYLOAD
          - AUTHENTICATION_ERROR
          - AUTHORIZATION_ERROR
          - UNRECOGNIZED_YAML_FIELDS
          - COULD_NOT_MAP_BEFORE_YAML
          - MISSING_BEFORE_YAML
          - MISSING_YAML
          - NON_EMPTY_DELETIONS
          - GENERAL_YAML_ERROR
          - GENERAL_YAML_INFO
          - YAML_GIT_SYNC_ERROR
          - GIT_CONNECTION_ERROR
          - GIT_ERROR
          - ARTIFACT_SERVER_ERROR
          - ENCRYPT_DECRYPT_ERROR
          - SECRET_MANAGEMENT_ERROR
          - SECRET_NOT_FOUND
          - KMS_OPERATION_ERROR
          - GCP_KMS_OPERATION_ERROR
          - VAULT_OPERATION_ERROR
          - AWS_SECRETS_MANAGER_OPERATION_ERROR
          - AZURE_KEY_VAULT_OPERATION_ERROR
          - AZURE_KEY_VAULT_INTERRUPT_ERROR
          - UNSUPPORTED_OPERATION_EXCEPTION
          - FEATURE_UNAVAILABLE
          - GENERAL_ERROR
          - BASELINE_CONFIGURATION_ERROR
          - SAML_IDP_CONFIGURATION_NOT_AVAILABLE
          - INVALID_AUTHENTICATION_MECHANISM
          - INVALID_SAML_CONFIGURATION
          - INVALID_OAUTH_CONFIGURATION
          - INVALID_LDAP_CONFIGURATION
          - USER_GROUP_SYNC_FAILURE
          - USER_GROUP_ALREADY_EXIST
          - INVALID_TWO_FACTOR_AUTHENTICATION_CONFIGURATION
          - EXPLANATION
          - HINT
          - NOT_WHITELISTED_IP
          - INVALID_TOTP_TOKEN
          - EMAIL_FAILED
          - SSL_HANDSHAKE_FAILED
          - NO_APPS_ASSIGNED
          - INVALID_INFRA_CONFIGURATION
          - TEMPLATES_LINKED
          - USER_HAS_NO_PERMISSIONS
          - USER_NOT_AUTHORIZED
          - USER_ALREADY_PRESENT
          - EMAIL_ERROR
          - INVALID_USAGE_RESTRICTION
          - USAGE_RESTRICTION_ERROR
          - STATE_EXECUTION_INSTANCE_NOT_FOUND
          - DELEGATE_TASK_RETRY
          - KUBERNETES_API_TASK_EXCEPTION
          - KUBERNETES_TASK_EXCEPTION
          - KUBERNETES_YAML_ERROR
          - SAVE_FILE_INTO_AWS_STORAGE_FAILED
          - READ_FILE_FROM_AWS_STORAGE_FAILED
          - SAVE_FILE_INTO_GCP_STORAGE_FAILED
          - READ_FILE_FROM_GCP_STORAGE_FAILED
          - FILE_NOT_FOUND_ERROR
          - USAGE_LIMITS_EXCEEDED
          - EVENT_PUBLISH_FAILED
          - CUSTOM_APPROVAL_ERROR
          - JIRA_ERROR
          - EXPRESSION_EVALUATION_FAILED
          - KUBERNETES_VALUES_ERROR
          - KUBERNETES_CLUSTER_ERROR
          - INCORRECT_SIGN_IN_MECHANISM
          - OAUTH_LOGIN_FAILED
          - INVALID_TERRAFORM_TARGETS_REQUEST
          - TERRAFORM_EXECUTION_ERROR
          - FILE_READ_FAILED
          - FILE_SIZE_EXCEEDS_LIMIT
          - CLUSTER_NOT_FOUND
          - MARKETPLACE_TOKEN_NOT_FOUND
          - INVALID_MARKETPLACE_TOKEN
          - INVALID_TICKETING_SERVER
          - SERVICENOW_ERROR
          - PASSWORD_EXPIRED
          - USER_LOCKED
          - PASSWORD_STRENGTH_CHECK_FAILED
          - ACCOUNT_DISABLED
          - INVALID_ACCOUNT_PERMISSION
          - PAGERDUTY_ERROR
          - HEALTH_ERROR
          - SAML_TEST_SUCCESS_MECHANISM_NOT_ENABLED
          - DOMAIN_WHITELIST_FILTER_CHECK_FAILED
          - INVALID_DASHBOARD_UPDATE_REQUEST
          - DUPLICATE_FIELD
          - INVALID_AZURE_VAULT_CONFIGURATION
          - USER_NOT_AUTHORIZED_DUE_TO_USAGE_RESTRICTIONS
          - INVALID_ROLLBACK
          - DATA_COLLECTION_ERROR
          - SUMO_DATA_COLLECTION_ERROR
          - DEPLOYMENT_GOVERNANCE_ERROR
          - BATCH_PROCESSING_ERROR
          - GRAPHQL_ERROR
          - FILE_CREATE_ERROR
          - ILLEGAL_STATE
          - GIT_DIFF_COMMIT_NOT_IN_ORDER
          - FAILED_TO_ACQUIRE_PERSISTENT_LOCK
          - FAILED_TO_ACQUIRE_NON_PERSISTENT_LOCK
          - POD_NOT_FOUND_ERROR
          - COMMAND_EXECUTION_ERROR
          - REGISTRY_EXCEPTION
          - ENGINE_INTERRUPT_PROCESSING_EXCEPTION
          - ENGINE_IO_EXCEPTION
          - ENGINE_OUTCOME_EXCEPTION
          - ENGINE_SWEEPING_OUTPUT_EXCEPTION
          - CACHE_NOT_FOUND_EXCEPTION
          - ENGINE_ENTITY_UPDATE_EXCEPTION
          - SHELL_EXECUTION_EXCEPTION
          - TEMPLATE_NOT_FOUND
          - AZURE_SERVICE_EXCEPTION
          - AZURE_CLIENT_EXCEPTION
          - GIT_UNSEEN_REMOTE_HEAD_COMMIT
          - TIMEOUT_ENGINE_EXCEPTION
          - NO_AVAILABLE_DELEGATES
          - NO_GLOBAL_DELEGATE_ACCOUNT
          - NO_INSTALLED_DELEGATES
          - DUPLICATE_DELEGATE_EXCEPTION
          - GCP_MARKETPLACE_EXCEPTION
          - MISSING_DEFAULT_GOOGLE_CREDENTIALS
          - INCORRECT_DEFAULT_GOOGLE_CREDENTIALS
          - OPTIMISTIC_LOCKING_EXCEPTION
          - NG_PIPELINE_EXECUTION_EXCEPTION
          - NG_PIPELINE_CREATE_EXCEPTION
          - RESOURCE_NOT_FOUND_EXCEPTION
          - PMS_INITIALIZE_SDK_EXCEPTION
          - UNEXPECTED_SNIPPET_EXCEPTION
          - UNEXPECTED_SCHEMA_EXCEPTION
          - CONNECTOR_VALIDATION_EXCEPTION
          - TIMESCALE_NOT_AVAILABLE
          - MIGRATION_EXCEPTION
          - REQUEST_PROCESSING_INTERRUPTED
          - SECRET_MANAGER_ID_NOT_FOUND
          - GCP_SECRET_MANAGER_OPERATION_ERROR
          - GCP_SECRET_OPERATION_ERROR
          - GIT_OPERATION_ERROR
          - TASK_FAILURE_ERROR
          - INSTANCE_STATS_PROCESS_ERROR
          - INSTANCE_STATS_MIGRATION_ERROR
          - DEPLOYMENT_MIGRATION_ERROR
          - CG_LICENSE_USAGE_ERROR
          - INSTANCE_STATS_AGGREGATION_ERROR
          - UNRESOLVED_EXPRESSIONS_ERROR
          - KRYO_HANDLER_NOT_FOUND_ERROR
          - DELEGATE_ERROR_HANDLER_EXCEPTION
          - DELEGATE_SERVICE_DRIVER_EXCEPTION
          - DELEGATE_INSTALLATION_COMMAND_NOT_SUPPORTED_EXCEPTION
          - UNEXPECTED_TYPE_ERROR
          - EXCEPTION_HANDLER_NOT_FOUND
          - CONNECTOR_NOT_FOUND_EXCEPTION
          - GCP_SERVER_ERROR
          - HTTP_RESPONSE_EXCEPTION
          - SCM_NOT_FOUND_ERROR
          - SCM_CONFLICT_ERROR
          - SCM_CONFLICT_ERROR_V2
[...]
