openapi: 3.0.3
info:
  title: Harness Platform Organizations Projects API
  description: The Harness Platform API provides access to core platform resources including projects, organizations, connectors, secrets, users, roles, pipelines, triggers, and pipeline execution.
  version: '1.0'
  contact:
    name: Harness Developer Support
    url: https://developer.harness.io/
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
- url: https://app.harness.io/gateway
  description: Harness SaaS Production
security:
- apiKeyAuth: []
tags:
- name: Projects
  description: Manage projects
paths:
  /ng/api/projects:
    get:
      operationId: listProjects
      summary: Harness List Projects
      description: List projects in the account.
      tags:
      - Projects
      parameters:
      - name: accountIdentifier
        in: query
        required: true
        description: Account identifier.
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization identifier.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved projects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ProjectList:
      type: object
      properties:
        status:
          type: string
          example: SUCCESS
        data:
          type: object
          properties:
            totalPages:
              type: integer
            totalItems:
              type: integer
            content:
              type: array
              items:
                $ref: '#/components/schemas/Project'
    Project:
      type: object
      description: A Harness project.
      properties:
        identifier:
          type: string
          example: my_project
        name:
          type: string
          example: My Project
        orgIdentifier:
          type: string
          example: default
        description:
          type: string
          example: Main deployment project
        color:
          type: string
          example: '#0063F7'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Harness API key.
