openapi: 3.2.0
info:
  title: Harness Slsa API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Slsa
paths:
  /v1/orgs/{org}/projects/{project}/provenance/{provenance}:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - schema:
        type: string
      name: provenance
      in: path
      required: true
      description: Provenance Id
    servers: []
    post:
      summary: Save Provenance
      tags:
      - Slsa
      security:
      - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/SaveResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: saveProvenance
      x-stoplight:
        id: qxnsz67gv81xu
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      requestBody:
        $ref: '#/components/requestBodies/ProvenanceRequestBody'
    get:
      summary: Get Provenance
      tags:
      - Slsa
      responses:
        '200':
          $ref: '#/components/responses/ProvenanceResponseBody'
      operationId: getProvenance
      x-stoplight:
        id: x30g28thstz3g
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
  /v1/orgs/{org}/projects/{project}/slsa-verification/{provenance}:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - schema:
        type: string
      name: provenance
      in: path
      required: true
      description: Provenance Id
    post:
      summary: Save SLSA Verification Status
      tags:
      - Slsa
      security:
      - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/SaveResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: saveSlsaVerification
      x-stoplight:
        id: 3fps8yinohu8r
      requestBody:
        $ref: '#/components/requestBodies/SLSAVerificationRequestBody'
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
  /v1/orgs/{org}/projects/{project}/slsa-verification/{provenance}/policy-violations:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - schema:
        type: string
      name: provenance
      in: path
      required: true
      description: Provenance Id
    post:
      summary: Save SLSA Policy Violation
      tags:
      - Slsa
      responses:
        '200':
          $ref: '#/components/responses/SaveResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: saveSlsaPolicyViolations
      security:
      - x-api-key: []
      x-stoplight:
        id: y5ntvtrr1fr5v
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      requestBody:
        $ref: '#/components/requestBodies/PolicyViolationRequestBody'
components:
  schemas:
    ProvenanceRequestBody:
      title: ProvenanceRequestBody
      x-stoplight:
        id: 7fk0tu5tr18ey
      type: object
      properties:
        org:
          type: string
          x-stoplight:
            id: u3gqutc6vlo6v
        project:
          type: string
          x-stoplight:
            id: 2z51gqtxdq39v
        pipeline:
          type: string
          x-stoplight:
            id: pgg4s4tnf1plj
        pipeline_execution_id:
          type: string
          x-stoplight:
            id: fblunix2vocn2
        stage_identifier:
          type: string
          x-stoplight:
            id: flprgshzh6e67
        stage_name:
          type: string
          x-stoplight:
            id: hju8gww2fjn05
        stage_type:
          type: string
          x-stoplight:
            id: dr7zlbpy69e90
        step_identifier:
          type: string
          x-stoplight:
            id: 6c9o2p3443die
        step_name:
          type: string
          x-stoplight:
            id: otzukpaffwzds
        stage_execution_identifier:
          type: string
          x-stoplight:
            id: ge6l6xduq9gas
        step_execution_identifier:
          type: string
          x-stoplight:
            id: 8z5ck5yv128zc
        artifact:
          type: array
          items:
            $ref: '#/components/schemas/ArtifactModelPipeline'
        provenance:
          type: string
          x-stoplight:
            id: dhufvf7s3aoh6
    PolicyViolationRequestBody:
      title: PolicyViolationRequestBody
      x-stoplight:
        id: jfyn73ecqkty5
      type: object
      properties:
        violations:
          type: integer
          x-stoplight:
            id: fh5lq1tv0m3ng
        status:
          type: string
          x-stoplight:
            id: clpjrz44aod7m
    ArtifactModelPipeline:
      title: ArtifactModelPipeline
      x-stoplight:
        id: 61ctnoe7t4ss3
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: yefth9vlf9svq
        type:
          type: string
          x-stoplight:
            id: tv59jsryuwpbn
          enum:
          - image
          - repository
        name:
          type: string
          x-stoplight:
            id: 1pqx5aj5zkzlf
        registry_url:
          type: string
          x-stoplight:
            id: 2d0pchss1tcw3
        variant:
          $ref: '#/components/schemas/ArtifactVariant'
        tag:
          type: string
          x-stoplight:
            id: 69micl0vn4rn8
        digest:
          type: string
          x-stoplight:
            id: 6z1z7v5v1zv5z
        metadata:
          type: object
          additionalProperties: true
          x-stoplight:
            id: bcmiu856m2sf8
        source_id:
          type: string
          x-stoplight:
            id: fstrqsl3noow2
    ProvenanceResponseBody:
      title: ProvenanceResponseBody
      x-stoplight:
        id: 4ha9dk07nj6sy
      type: object
      properties:
        provenance:
          type: string
          x-stoplight:
            id: z7ob40xv3x4gx
    ArtifactVariant:
      title: ArtifactVariant
      x-stoplight:
        id: uyb3jwhgs9wjh
      type: object
      properties:
        type:
          type: string
          x-stoplight:
            id: 2r8lmxejmwqbf
          enum:
          - tag
          - branch
          - gitTag
          - commit
          description: type of the variant of the artifact.
        value:
          type: string
          x-stoplight:
            id: hd1p3s7bugn88
          description: Value of the variant of the artifact.
    SaveResponse:
      title: SaveResponse
      x-stoplight:
        id: uqzrp59icfge8
      type: object
      description: 'response for Save/Update operations '
      properties:
        status:
          type: string
          x-stoplight:
            id: 0kwqjkjtppozz
        response:
          $ref: '#/components/schemas/PluginResponseBody'
    PluginResponseBody:
      title: PluginResponseBody
      type: object
      required:
      - source_id
      - artifact
      - response_url
      properties:
        source_id:
          type: string
          x-stoplight:
            id: itkxv1ghux6aa
        artifact:
          type: object
          x-stoplight:
            id: ysaq85xiuzjsw
          properties:
            id:
              type: string
              x-stoplight:
                id: sgyd78hu7w5gl
            name:
              type: string
              x-stoplight:
                id: khrj2i162jh3x
            url:
              type: string
              x-stoplight:
                id: zgc35mjt90crt
        response_url:
          type: string
          x-stoplight:
            id: uadidz06nvmyn
    SLSAVerificationRequestBody:
      title: SLSAVerificationRequestBody
      x-stoplight:
        id: 8t7dukf8hgxhy
      type: object
      properties:
        org:
          type: string
          x-stoplight:
            id: f9j8whl2ap87r
        project:
          type: string
          x-stoplight:
            id: 7xexwfd9yzhob
        pipeline:
          type: string
          x-stoplight:
            id: qvmd24rnyqbhr
        pipeline_execution_id:
          type: string
          x-stoplight:
            id: ufenkf0qyywbl
        stage_identifier:
          type: string
          x-stoplight:
            id: 6g9gqvcnpp9n3
        stage_name:
          type: string
          x-stoplight:
            id: 2ztsfqskl6q25
        stage_type:
          type: string
          x-stoplight:
            id: wf9a2j94b5qrk
        step_identifier:
          type: string
          x-stoplight:
            id: 3efo8vqhonnn0
        stage_execution_identifier:
          type: string
          x-stoplight:
            id: 49tn13u10i0bc
        step_execution_identifier:
          type: string
          x-stoplight:
            id: rxkn3zxxzsfb0
        step_name:
          type: string
          x-stoplight:
            id: 1v0an7wa3axp3
        artifact:
          $ref: '#/components/schemas/ArtifactModelPipeline'
        verification_status:
          type: string
          x-stoplight:
            id: qqz5h836cnx7p
          enum:
          - passed
          - failed
        provenance:
          type: string
          x-stoplight:
            id: 0hfc9st05b64o
  responses:
    ProvenanceResponseBody:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProvenanceResponseBody'
      headers:
        X-Total-Elements:
          $ref: '#/components/headers/X-Total-Elements'
        X-Page-Number:
          $ref: '#/components/headers/X-Page-Number'
        X-Page-Size:
          $ref: '#/components/headers/X-Page-Size'
    SaveResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SaveResponse'
  parameters:
    OrgParam1:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Harness organization ID
    AccountHeader6:
      name: Harness-Account
      in: header
      required: true
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
    ProjectParam1:
      in: path
      required: true
      schema:
        type: string
      description: Harness project ID
      name: project
  requestBodies:
    ProvenanceRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProvenanceRequestBody'
    PolicyViolationRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PolicyViolationRequestBody'
    SLSAVerificationRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SLSAVerificationRequestBody'
  headers:
    X-Page-Size:
      schema:
        type: integer
      description: Maximum page size in Paginated response.
    X-Total-Elements:
      schema:
        type: integer
      description: Total number of elements returned in Paginated response.
    X-Page-Number:
      schema:
        type: integer
      description: Page number in Paginated response.
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
