openapi: 3.2.0
info:
  title: Harness Releases API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Releases
  x-displayName: Releases [Beta]
paths:
  /rmg/api/release/adhoc:
    post:
      summary: Create Ad Hoc Release
      tags:
      - Releases
      operationId: postReleaseAdhoc
      description: Create an ad hoc release with a linked orchestration process, bypassing the standard release group cadence.
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      requestBody:
        $ref: '#/components/requestBodies/CreateAdHocReleaseRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateAdHocReleaseResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '409':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: release-adhoc-post
  /rmg/api/release/summary:
    post:
      summary: Fetch Release Summary
      tags:
      - Releases
      operationId: postReleaseSummary
      description: Fetch a list of releases based on the specified time ranges, optional filters, and search query.
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      - $ref: '#/components/parameters/SearchTermParam'
      - $ref: '#/components/parameters/ReleaseGroupIdsParam'
      - $ref: '#/components/parameters/ReleaseTypeParam'
      requestBody:
        $ref: '#/components/requestBodies/ReleaseSummaryRequest'
      responses:
        '200':
          $ref: '#/components/responses/ReleaseSummaryResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: release-summary-post
  /rmg/api/release/{releaseId}:
    parameters:
    - schema:
        type: string
      name: releaseId
      in: path
      required: true
    get:
      summary: Fetch Release Information
      tags:
      - Releases
      responses:
        '200':
          $ref: '#/components/responses/RmReleaseDetailsResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      operationId: get-release
      x-stoplight:
        id: 4d5bttf5i35ur
      description: Gets the release information for a given release
      parameters:
      - $ref: '#/components/parameters/AccountParam'
    put:
      summary: Update a single release
      tags:
      - Releases
      responses:
        '200':
          $ref: '#/components/responses/UpdateReleaseResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      operationId: put-release-releaseId
      x-stoplight:
        id: mn03c1582tzwt
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      requestBody:
        $ref: '#/components/requestBodies/UpdateReleaseRequest'
  /rmg/api/release/{releaseId}/activities:
    get:
      summary: Fetch Release Activities
      tags:
      - Releases
      operationId: getReleaseActivities
      description: Fetch a list of activities based on the startTime, endTime and release Id.
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      - $ref: '#/components/parameters/ReleaseId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/RmLimit'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/StatusListParam'
      responses:
        '200':
          $ref: '#/components/responses/ReleaseActivitiesResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: release-activities-get
  /rmg/api/release/calendar/{releaseId}/activities:
    get:
      summary: Fetch Release Activities Day Wise
      tags:
      - Releases
      operationId: getReleaseDayActivities
      description: Fetch a list of activities based on the startTime, endTime and release Id for a day view
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      - $ref: '#/components/parameters/ReleaseId'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/RmLimit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          $ref: '#/components/responses/ReleaseActivitiesResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: release-day-activities-get
  /rmg/api/release/{releaseId}/approvals:
    get:
      summary: Fetch approvals activity for a release
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      - $ref: '#/components/parameters/ReleaseId'
      - $ref: '#/components/parameters/SearchTermParam'
      - $ref: '#/components/parameters/StatusListParam'
      - $ref: '#/components/parameters/RmPage'
      - $ref: '#/components/parameters/Size'
      - $ref: '#/components/parameters/RmSort'
      tags:
      - Releases
      responses:
        '200':
          $ref: '#/components/responses/ReleaseApprovalsResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      operationId: get-release-releaseId-approvals
      x-stoplight:
        id: 4yjicdfvsjh0u
  /rmg/api/release/{releaseId}/environmentDashboard:
    parameters:
    - schema:
        type: string
      name: releaseId
      in: path
      required: true
    - $ref: '#/components/parameters/SearchTermParam'
    - $ref: '#/components/parameters/EnvironmentIdentifiersListParam'
    - $ref: '#/components/parameters/InfrastructureIdentifiersListParam'
    get:
      summary: Environment Dashbaord for a release
      tags:
      - Releases
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentDashboardResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '401':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      operationId: get-release-releaseId-environmentDashboard
      x-stoplight:
        id: 06itdbm39d1dc
      description: Gets the environment dashboard for the given release
      parameters:
      - $ref: '#/components/parameters/AccountParam'
  /rmg/api/release/{releaseId}/environments:
    parameters:
    - schema:
        type: string
      name: releaseId
      in: path
      required: true
    get:
      summary: Fetch the list of environments for release
      tags:
      - Releases
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentListPerReleaseResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '401':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      operationId: get-release-releaseId-environments
      x-stoplight:
        id: bhswqb69xhfox
      description: Api to fetch the list of environments for release
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      - schema:
          type: string
        in: query
        name: cursor
        description: Next token for fetching the environment
      - $ref: '#/components/parameters/RmLimit'
      - schema:
          type: string
        in: query
        name: searchTerm
        description: Optional variable to filter environments based on the given prefix
  /rmg/api/release/{releaseId}/action:
    parameters:
    - schema:
        type: string
      name: releaseId
      in: path
      required: true
      description: Unique identifier for the release
    post:
      summary: Execute Action on Release
      operationId: postReleaseAction
      description: Executes an action on a release (e.g., abort)
      tags:
      - Releases
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseActionRequest'
      responses:
        '200':
          $ref: '#/components/responses/ReleaseActionResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: release-action-put
  /rmg/api/release/{releaseId}/subprocess/trigger:
    parameters:
    - schema:
        type: string
      name: releaseId
      in: path
      required: true
      description: Unique identifier for the release
    post:
      summary: Trigger Subprocess from Task
      operationId: postReleaseSubprocessTrigger
      description: Triggers a subprocess release from a task within the specified release
      tags:
      - Releases
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      - name: task_id
        in: query
        required: true
        schema:
          type: string
        description: The user_reference_id of the task that triggers the subprocess
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubprocessTriggerRequest'
      responses:
        '200':
          $ref: '#/components/responses/SubprocessTriggerResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: release-subprocess-trigger-post
  /rmg/api/release/{releaseId}/tasks:
    get:
      summary: Fetch Release Tasks
      tags:
      - Releases
      operationId: getReleaseTasks
      description: Fetch a paginated list of tasks from Manual Activities for a release with cursor-based pagination and optional status filtering.
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      - name: releaseId
        in: path
        required: true
        schema:
          type: string
        description: Release ID
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/RmLimit'
      - name: status
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            description: Current status of the execution task
            enum:
            - TODO
            - IN_PROGRESS
            - SUCCEEDED
            - FAILED
            - BLOCKED
            x-oapi-codegen-extra-tags:
              validate: required
        description: Filter tasks by status (TODO, IN_PROGRESS, SUCCEEDED, FAILED, BLOCKED)
      responses:
        '200':
          $ref: '#/components/responses/ReleaseTasksResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: release-tasks-get
components:
  schemas:
    StageInfoType:
      type: string
      enum:
      - CD
      - Custom
      - GITOPS
      - Approval
      description: Type of the stage (e.g., CD, custom)
    TriggerType:
      type: string
      enum:
      - MANUAL
      - WEBHOOK
      - WEBHOOK_CUSTOM
      - ARTIFACT
      - MANIFEST
      - SCHEDULER_CRON
      description: Unit of time used for repeating releases.
    TimeRangeDTO:
      title: TimeRangeDTO
      x-stoplight:
        id: hn1xs7mdq98t8
      type: object
      required:
      - startTime
      - endTime
      properties:
        startTime:
          type: integer
          x-stoplight:
            id: 0hwcfemzmo3ir
        endTime:
          type: integer
          x-stoplight:
            id: yn8e6z0kbqqma
        cursor:
          type: string
          x-stoplight:
            id: yk127vxz4p3ew
        limit:
          type: integer
          x-stoplight:
            id: pzpbxgbr61103
    ClusterDeploymentDTO:
      title: ClusterDeploymentDTO
      x-stoplight:
        id: cluster-deploy-dto
      type: object
      description: Represents services deployed to a GitOps cluster
      required:
      - clusterIdentifier
      - agentIdentifier
      - services
      properties:
        clusterIdentifier:
          type: string
          description: Cluster identifier
          x-stoplight:
            id: cluster-id
        agentIdentifier:
          type: string
          description: GitOps agent identifier
          x-stoplight:
            id: agent-id
        infraIdentifier:
          type: string
          description: Optional infrastructure identifier (if cluster is mapped to infra)
          x-stoplight:
            id: cluster-infra-id
        infraName:
          type: string
          description: Optional infrastructure name (if cluster is mapped to infra)
          x-stoplight:
            id: cluster-infra-name
        services:
          type: array
          description: Services deployed to this cluster
          x-stoplight:
            id: cluster-services
          items:
            $ref: '#/components/schemas/ServiceInfoDTO'
    StepInfoType:
      type: string
      description: Type of the step (e.g., Approval, JiraUpdate, JiraCreate, JiraApproval).
      enum:
      - HarnessApproval
      - JiraUpdate
      - JiraCreate
      - JiraApproval
    AdHocReleaseResponse:
      title: AdHocReleaseResponse
      type: object
      required:
      - id
      - identifier
      properties:
        id:
          type: string
          description: ID of the created release
        identifier:
          type: string
          description: Identifier of the created release
    NextRequest:
      type: object
      properties:
        cursor:
          type: string
        limit:
          type: integer
    SubprocessTriggerRequest:
      title: SubprocessTriggerRequest
      type: object
      required:
      - subprocessInfo
      properties:
        subprocessInfo:
          $ref: '#/components/schemas/SubprocessInfo'
    ReleaseApprovalType:
      type: string
      description: Type of the step (e.g., Approval, JiraUpdate, JiraCreate, JiraApproval).
      enum:
      - HarnessApproval
      - JiraApproval
    RmFailureInfo:
      type: object
      description: Information about a failure that occurred
      required:
      - msg
      properties:
        msg:
          type: string
          description: The failure message describing what went wrong
        code:
          type: string
          description: The failure code indicating the type of failure
    ReleaseActionRequest:
      title: ReleaseActionRequest
      type: object
      required:
      - action
      - message
      properties:
        action:
          type: string
          enum:
          - Abort
          description: Action to perform on the release
        message:
          type: string
          description: Message explaining the reason for the action (e.g., why the release is being aborted)
          example: Production issue detected - rolling back due to memory leak
    ExecutionTaskStatus:
      type: string
      description: Current status of the execution task
      enum:
      - TODO
      - IN_PROGRESS
      - SUCCEEDED
      - FAILED
      - BLOCKED
      x-oapi-codegen-extra-tags:
        validate: required
    ReleaseActionResponse:
      type: object
      required:
      - id
      - status
      properties:
        id:
          type: string
          description: ID of the release
        status:
          type: string
          description: New status of the release
        interruptedExecutionId:
          type: string
          description: ID of the execution that was interrupted
          x-omitempty: true
    InfrastructureDeploymentDTO:
      title: InfrastructureDeploymentDTO
      x-stoplight:
        id: infra-deploy-dto
      type: object
      description: Represents services deployed to a traditional infrastructure
      required:
      - identifier
      - name
      - services
      properties:
        identifier:
          type: string
          description: Infrastructure identifier
          x-stoplight:
            id: infra-id
        name:
          type: string
          description: Infrastructure name
          x-stoplight:
            id: infra-name
        services:
          type: array
          description: Services deployed to this infrastructure
          x-stoplight:
            id: infra-services
          items:
            $ref: '#/components/schemas/ServiceInfoDTO'
    ReleaseActivity:
      type: object
      required:
      - id
      - planExecutionId
      - accountId
      - orgIdentifier
      - projectIdentifier
      - pipelineIdentifier
      - pipelineName
      - type
      - triggeredBy
      properties:
        id:
          type: string
          description: Unique identifier for the activity.
        planExecutionId:
          type: string
          description: Plan execution identifier.
        accountId:
          type: string
          description: Account identifier.
        orgIdentifier:
          type: string
          description: Organization identifier.
        projectIdentifier:
          type: string
          description: Project identifier.
        pipelineIdentifier:
          type: string
          description: Pipeline identifier.
        pipelineName:
          type: string
          description: Name of the pipeline.
        type:
          $ref: '#/components/schemas/ActivityType'
        stageInfo:
          $ref: '#/components/schemas/StageInfoDTO'
        stepInfo:
          $ref: '#/components/schemas/StepInfoDTO'
        triggeredBy:
          $ref: '#/components/schemas/TriggeredByDTO'
    StepInfoDetailsDTO:
      type: object
      description: Provided if `type` is Approval.
      properties:
        approvedByName:
          type: string
          description: Name of the person who approved the step.
        approvedByEmail:
          type: string
          description: Email of the person who approved the step.
        approvedAt:
          type: integer
          format: integer
          description: Timestamp of the approval.
        comments:
          type: string
          description: Comments provided during the approval.
        approvalAction:
          type: string
          description: Action taken for the approval.
        jiraUrl:
          type: string
          description: URL of the Jira ticket.
        ticketStatus:
          type: string
          description: Status of the Jira ticket.
        issueType:
          type: string
          description: Type of the Jira issue.
    StageInfoDTO:
      type: object
      description: Details about the stage activity (provided if type is stage).
      required:
      - type
      - name
      - identifier
      - status
      - startTs
      - info
      properties:
        type:
          $ref: '#/components/schemas/StageInfoType'
        startTs:
          type: integer
          description: Start timestamp of the stage.
        endTs:
          type: integer
          description: End timestamp of the stage.
        name:
          type: string
          description: Name of the stage.
        identifier:
          type: string
          description: Identifier of the stage.
        status:
          $ref: '#/components/schemas/RmStatus'
        info:
          $ref: '#/components/schemas/StageInfoDetailsDTO'
        stageNodeId:
          type: string
          description: Node Id of the stage.
        stageExecutionId:
          type: string
          description: Stage execution Id.
    StringOrStringArray:
      oneOf:
      - type: string
        description: Reference as a string
      - type: array
        items:
          type: string
        description: Array of references as strings
      description: Flexible type that accepts either a single string or an array of strings for user references
    RmStatus:
      type: string
      description: Status of the stage.
      enum:
      - ABORTED
      - OUTPUT_WAITING
      - ASYNC_WAITING
      - APPROVAL_REJECTED
      - APPROVAL_WAITING
      - DISCONTINUING
      - ERROR
      - ERRORED
      - EXPIRED
      - FAILED
      - FREEZE_FAILED
      - IGNORE_FAILED
      - INPUT_WAITING
      - INTERVENTION_WAITING
      - QUEUED
      - REJECTED
      - RESUMED
      - RUNNING
      - SCHEDULED
      - SKIPPED
      - STARTING
      - STARTING_QUEUED_STEP
      - SUCCESS
      - SUCCEEDED
      - SUSPENDED
      - TIMED_WAITING
      - TASK_WAITING
      - UPLOAD_WAITING
      - WAIT_STEP_RUNNING
      - WAITING
      - ON_HOLD
    RmError:
      title: Error Response
      x-stoplight:
        id: d53gtsgvwyk44
      type: object
      description: Error Response
      required:
      - message
      properties:
        message:
          type: string
          x-stoplight:
            id: 5n8vetciod7k8
          description: error message detail
        code:
          type: string
          description: canonical error code name
          enum:
          - BAD_REQUEST
          - UNAUTHORIZED
          - FORBIDDEN
          - NOT_FOUND
          - INTERNAL_SERVER_ERROR
    AdHocReleaseRequest:
      title: AdHocReleaseRequest
      type: object
      required:
      - processIdentifier
      - name
      - version
      - identifier
      - expectedStartTs
      - expectedEndTs
      properties:
        processIdentifier:
          type: string
          description: Identifier of the orchestration process
        processInputIdentifier:
          type: string
          description: Identifier of the orchestration process input (optional)
          x-omitempty: true
        name:
          type: string
          description: Name of the ad hoc release
        version:
          type: string
          description: Version of the ad hoc release
        identifier:
          type: string
          description: Unique identifier for the ad hoc release
        description:
          type: string
          description: Optional description
          x-omitempty: true
        expectedStartTs:
          type: integer
          description: Expected start timestamp in milliseconds
        expectedEndTs:
          type: integer
          description: Expected end timestamp in milliseconds
        color:
          type: string
          description: Hex color code for the release
          x-omitempty: true
        tags:
          type: object
          additionalProperties:
            type: string
          description: Key-value tags for the release
          x-omitempty: true
    SubprocessInfo:
      type: object
      required:
      - processIdentifier
      - processInputIdentifier
      - releaseInput
      - output
      properties:
        processIdentifier:
          type: string
          description: Process identifier. Required when retryWith is SUBPROCESS.
        processInputIdentifier:
          type: string
          description: Process input identifier. Required when retryWith is SUBPROCESS.
        releaseInput:
          type: string
          description: Release input YAML. Required when retryWith is SUBPROCESS.
        output:
          type: object
          additionalProperties:
            type: string
          description: Output map with key-value pairs.
    ExecutionTaskDTO:
      type: object
      description: Represents an execution task for a specific activity
      required:
      - identifier
      - name
      - status
      - required
      - userGroups
      - expectedDuration
      properties:
        identifier:
          type: string
          description: Unique identifier of the task
        name:
          type: string
          description: Name of the task
        description:
          type: string
          description: Description of the task
        status:
          $ref: '#/components/schemas/ExecutionTaskStatus'
        required:
          $ref: '#/components/schemas/StringOrBool'
          description: Whether this task is required
        userGroups:
          $ref: '#/components/schemas/StringOrStringArray'
          description: List of user group identifiers assigned to this task
        expectedDuration:
          type: string
          description: Expected duration for the task (e.g., "1d 12h")
        actualDuration:
          type: string
          description: Actual duration taken for the task (e.g., "7h")
        createdAt:
          type: integer
          format: int64
          description: Unix timestamp when the task was created
        lastUpdatedAt:
          type: integer
          format: int64
          description: Unix timestamp when the task was last updated
        taskExecutionId:
          type: string
          description: ID of the task execution
        failureInfo:
          $ref: '#/components/schemas/RmFailureInfo'
    StringOrBool:
      oneOf:
      - type: boolean
        description: Boolean value
      - type: string
        description: String value
      description: Flexible type that accepts either a boolean or a string
    EnvironmentDTO:
      title: EnvironmentDTO
      x-stoplight:
        id: welv4akcc949t
      type: object
      required:
      - identifier
      properties:
        identifier:
          type: string
          x-stoplight:
            id: cae3z7dgcbrhz
        orgIdentifier:
          type: string
          x-stoplight:
            id: t0tzpes5cl8d9
        projectIdentifier:
          type: string
          x-stoplight:
            id: cby40h9n1rk5g
    ActivityType:
      type: string
      enum:
      - stage
      - step
      description: Type of the activity (e.g., stage, step).
    EnvironmentType:
      type: string
      enum:
      - PreProduction
      - Production
    ApprovedByDTO:
      type: object
      required:
      - email
      properties:
        name:
          type: string
          description: Name of the person who approved the step.
        email:
          type: string
          description: Email of the person who approved the step.
    ReleaseApprovalDTO:
      title: ReleaseApprovalDTO
      x-stoplight:
        id: 3tsv4huyi5u4n
      type: object
      required:
      - orgIdentifier
      - projectIdentifier
      - pipelineIdentifier
      - planExecutionId
      - name
      - runSequenceId
      - status
      - type
      properties:
        orgIdentifier:
          type: string
        projectIdentifier:
          type: string
        pipelineIdentifier:
          type: string
        planExecutionId:
          type: string
        name:
          type: string
        runSequenceId:
          type: integer
        status:
          $ref: '#/components/schemas/RmStatus'
        type:
          $ref: '#/components/schemas/ReleaseApprovalType'
        approvalInfo:
          $ref: '#/components/schemas/ApprovalInfoDTO'
    StepInfoDTO:
      type: object
      description: Details about the step activity (provided if type is step).
      required:
      - type
      - name
      - identifier
      - status
      - startTs
      - info
      properties:
        startTs:
          type: integer
          description: Start timestamp of the step.
        endTs:
          type: integer
          description: End timestamp of the step.
        type:
          $ref: '#/components/schemas/StepInfoType'
        status:
          $ref: '#/components/schemas/RmStatus'
        name:
          type: string
          description: Name of the step.
        identifier:
          type: string
          description: Identifier of the step.
        info:
          $ref: '#/components/schemas/StepInfoDetailsDTO'
        stageNodeId:
          type: string
          description: Node Id of the stage.
        stepExecutionId:
          type: string
          description: Step execution identifier.
        stageExecutionId:
          type: string
          description: Stage Execution Id
    PageableSort:
      type: object
      x-go-name: PageableSort
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
    ServiceInfoDTO:
      title: ServiceInfoDto
      x-stoplight:
        id: q1hm7j6egaq6j
      type: object
      description: Holds the information of a given service along with its artifact version
      required:
      - name
      - identifier
      - scope
      properties:
        name:
          type: string
          x-stoplight:
            id: yfdz8a1b2e3yq
        identifier:
          type: string
          x-stoplight:
            id: vt0kznchh7jty
        artifactVersion:
          type: string
          x-stoplight:
            id: 5dxlraw2cg814
        orgIdentifier:
          type: string
          x-stoplight:
            id: yoo4urw1x7du5
        projectIdentifier:
          type: string
          x-stoplight:
            id: t1giwh5fsykl2
        scope:
          x-stoplight:
            id: nhsscbh2fbd8j
          default: account
          type: string
          enum:
          - account
          - project
          - org
          - unknown
    SubprocessTriggerResponse:
      type: object
      required:
      - activityExecutionId
      properties:
        activityExecutionId:
          type: string
          description: ID of the newly created activity execution
    ApprovalInfoDTO:
      type: object
      required:
      - approvedBy
      - approvedAt
      properties:
        approvedBy:
          $ref: '#/components/schemas/ApprovedByDTO'
        approvedAt:
          type: integer
          format: int64
          description: Timestamp of the approval.
        comments:
          type: string
          description: Comments provided during the approval.
    StageInfoDetailsDTO:
      type: object
      description: Info related to stage
      properties:
        serviceName:
          type: string
          description: Name of the service.
        serviceId:
          type: string
          description: Identifier of the service.
        envName:
          type: string
          description: Name of the environment.
        envId:
          type: string
          description: Identifier of the environment.
        artifactDisplayName:
          type: string
          description: Display name of the artifact.
    EnvironmentDashboardDTO:
      title: EnvironmentDashboardDTO
      x-stoplight:
        id: ym46pbsjse4xb
      type: object
      required:
      - name
      - identifier
      - serviceInfo
      - type
      - infraInfo
      - scope
      properties:
        name:
          type: string
          x-stoplight:
            id: h0mrlh11m0rhr
        identifier:
          type: string
          x-stoplight:
            id: 6xt4wwrlx94sl
        projectIdentifier:
          type: string
          description: Project identifier of Environment
          x-stoplight:
            id: prj4wwrlx94sm
        orgIdentifier:
          type: string
          description: Organization identifier of Environment
          x-stoplight:
            id: org4wwrlx94sn
        serviceInfo:
          type: array
          deprecated: true
          description: 'DEPRECATED: Use infrastructures and clusters arrays instead for complete deployment information'
          x-stoplight:
            id: 3lewc2xtteob9
          items:
            $ref: '#/components/schemas/ServiceInfoDTO'
        infraInfo:
          type: object
          deprecated: true
          description: 'DEPRECATED: Use infrastructures and clusters arrays instead for complete deployment information'
          x-stoplight:
            id: 3lewc2xtteoc0
          required:
          - name
          - identifier
          properties:
            name:
              type: string
              x-stoplight:
                id: yfdz8a1b2e3yw
            identifier:
              type: string
              x-stoplight:
                id: vt0kznchh7jtz
        infrastructures:
          type: array
          description: List of traditional infrastructure deployments with their services
          x-stoplight:
            id: env-infras
          items:
            $ref: '#/components/schemas/InfrastructureDeploymentDTO'
        clusters:
          type: array
          description: List of GitOps cluster deployments with their services
          x-stoplight:
            id: env-clusters
          items:
            $ref: '#/components/schemas/ClusterDeploymentDTO'
        scope:
          x-stoplight:
            id: nhsscbh2fbd9j
          default: account
          type: string
          enum:
          - account
          - project
          - org
          - unknown
        type:
          x-stoplight:
            id: j5bso2heelxd6
          $ref: '#/components/schemas/EnvironmentType'
    ReleaseDTO:
      title: ReleaseDTO
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the release
        name:
          type: string
          description: Name of the release
        identifier:
          type: string
          description: Identifier for the release
        expectedStartTs:
          type: integer
          description: Expected start timestamp in milliseconds
        expectedEndTs:
          type: integer
          description: Expected end timestamp in milliseconds
        actualStartTs:
          type: integer
          description: Actual start timestamp in milliseconds
        actualEndTs:
          type: integer
          description: Actual end timestamp in milliseconds
        status:
          type: string
          description: Current status of the release
          enum:
          - Running
          - Success
          - Failed
          - Scheduled
          - Paused
          - Aborted
          - InputWaiting
        version:
          type: string
          description: Version of the release
        color:
          type: string
          description: Hex color code representing the release
        releaseGroupId:
          type: string
          description: Identifier for the release group
        hasConflict:
          type: boolean
          description: Whether the release has a conflict
        processIdentifier:
          type: string
          description: Identifier for the orchestration process.
          x-omitempty: true
        processInputIdentifier:
          type: string
          description: Identifier for the orchestration process input.
          x-omitempty: true
      required:
      - id
      - identifier
      - name
      - status
      - expectedStartTs
      - expectedEndTs
      - releaseGroupId
      - color
      - version
      x-stoplight:
        id: release-entity-schema
    TriggeredByDTO:
      type: object
      description: Details of the user who triggered the activity.
      properties:
        name:
          type: string
          description: Name of the person who triggered the activity.
        id:
          type: string
          description: Identifier of the person who triggered the activity.
        avatar:
          type: string
          description: Avatar URL of the person.
        triggerType:
          $ref: '#/components/schemas/TriggerType'
    ReleaseParentDTO:
      title: ReleaseParentDTO
      type: object
      properties:
        id:
          type: string
          description: Release id of the ancestor
        identifier:
          type: string
          description: Release identifier of the ancestor
        processName:
          type: string
          description: Name of the orchestration process attached to this ancestor release
        processIdentifier:
          type: string
          description: Identifier of the orchestration process attached to this ancestor release
        activityName:
          type: string
          description: Name of the subprocess activity that created this ancestor release (empty for roots)
        activityIdentifier:
          type: string
          description: Identifier of the subprocess activity that created this ancestor release (empty for roots)
    RmPageable:
      type: object
      properties:
        pageNumber:
          type: integer
        pageSize:
          type: integer
        sort:
          $ref: '#/components/schemas/PageableSort'
        offset:
          type: integer
        paged:
          type: boolean
        unpaged:
          type: boolean
  parameters:
    RmSort:
      name: sort
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
      description: 'Sort parameters as an array. Format: `[field_name, direction]` where direction is `asc` or `desc`.

        Supported fields: `start_ts`, `startTs`, `end_ts`, `endTs`, `last_updated_at`, `lastUpdatedAt`, `created_at`, `createdAt`, `name`, `identifier`, `status`, `type`.

        When used in query params, use format: `sort=field_name&sort=direction` (e.g., `sort=start_ts&sort=desc`).

        '
      examples:
        example1:
          value:
          - created_at,asc
        example2:
          value:
          - last_updated_at,desc
        example3:
          value:
          - start_ts,desc
        example4:
          value:
          - end_ts,asc
    RmOrgParam:
      name: orgIdentifier
      in: query
      required: false
      schema:
        type: string
      description: Organisation Identifier
    Size:
      name: size
      in: query
      required: false
      schema:
        type: integer
    RmProjectParam:
      name: projectIdentifier
      in: query
      required: false
      schema:
        type: string
      description: Project Identifier
    StatusListParam:
      name: status
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
        uniqueItems: false
      allowReserved: false
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
      description: Cursor Based Pagination
    AccountParam:
      name: Harness-Account
      in: header
      required: true
      schema:
        type: string
      description: Account Identifier
    EndTime:
      name: endTs
      in: query
      required: true
      schema:
        type: integer
    RmLimit:
      name: limit
      in: query
      schema:
        type: number
        default: 500
        maximum: 500
      description: The number of records expected
    ReleaseId:
      name: releaseId
      in: path
      required: true
      schema:
        type: string
    SearchTermParam:
      name: searchTerm
      in: query
      description: Optional search string to filter releases by name.
      required: false
      schema:
        type: string
    ReleaseGroupIdsParam:
      name: releaseGroupIds
      in: query
      description: Optional list of release group IDs to filter by
      required: false
      schema:
        type: array
        items:
          type: string
    EnvironmentIdentifiersListParam:
      name: environmentIdentifiers
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
      description: List of environment identifiers
    RmPage:
      name: page
      in: query
      required: false
      schema:
        type: integer
    InfrastructureIdentifiersListParam:
      name: infrastructureIdentifiers
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
      description: List of infrastructure identifiers
    ReleaseTypeParam:
      name: type
      in: query
      description: Optional release type filter (Orchestration or Tracking)
      required: false
      schema:
        type: string
        enum:
        - Orchestration
        - Tracking
    StartTime:
      name: startTs
      in: query
      required: true
      schema:
        type: integer
  responses:
    ReleaseActivitiesResponse:
      description: Successful response
      content:
        application/json:
          schema:
            type: object
            required:
            - activities
            - nextRequest
            - last
            properties:
              activities:
                type: array
                description: List of activities.
                items:
                  $ref: '#/components/schemas/ReleaseActivity'
              nextRequest:
                $ref: '#/components/schemas/NextRequest'
              last:
                type: boolean
    SubprocessTriggerResponse:
      description: Response of subprocess trigger API
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SubprocessTriggerResponse'
    RmReleaseDetailsResponse:
      description: Response for the single release information
      content:
        application/json:
          schema:
            type: object
            required:
            - releaseInfo
            - yaml
            properties:
              releaseInfo:
                $ref: '#/components/schemas/ReleaseDTO'
              parentReleases:
                type: array
                description: Ancestor releases for this release, starting from the immediate parent up to 3 levels.
                items:
                  $ref: '#/components/schemas/ReleaseParentDTO'
              yaml:
                type: string
                x-stoplight:
                  id: r7fkpyimn44oh
    EnvironmentListPerReleaseResponse:
      description: ''
      content:
        application/json:
          schema:
            type: object
            required:
            - environments
            - last
            properties:
              environments:
                type: array
                x-stoplight:
                  id: q3jihmb65zk7u
                items:
                  $ref: '#/components/schemas/EnvironmentDTO'
              nextRequest:
                $ref: '#/components/schemas/NextRequest'
              last:
                type: boolean
                x-stoplight:
                  id: 5pdrduhitbef4
    EnvironmentDashboardResponse:
      description: Response for the environment dashboard screen
      content:
        application/json:
          schema:
            type: object
            properties:
              environments:
                type: array
                x-stoplight:
                  id: g6i17jfdz5vvz
                items:
                  $ref: '#/components/schemas/EnvironmentDashboardDTO'
            required:
            - environments
      headers: {}
    ReleaseSummaryResponse:
      description: Returns a list of releaseEntities
      content:
        application/json:
          schema:
            type: object
            required:
            - releases
            - nextRequest
            properties:
              releases:
                type: array
                items:
                  $ref: '#/components/schemas/ReleaseDTO'
              nextRequest:
                type: array
                items:
                  $ref: '#/components/schemas/TimeRangeDTO'
              last:
                type: boolean
                x-stoplight:
                  id: 5u6pepygt9njo
    ReleaseActionResponse:
      description: Release action executed successfully
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReleaseActionResponse'
    ReleaseApprovalsResponse:
      description: Release Approvals Details
      content:
        application/json:
          schema:
            type: object
            required:
            - content
            - pageable
            - totalPages
            - last
            - totalElements
            - size
            - number
            - sort
            - numberOfElements
            - first
            - empty
            properties:
              content:
                type: array
                items:
                  $ref: '#/components/schemas/ReleaseApprovalDTO'
              pageable:
                $ref: '#/components/schemas/RmPageable'
              totalPages:
                type: integer
              last:
                type: boolean
              totalElements:
                type: integer
              size:
                type: integer
              number:
                type: integer
              sort:
                $ref: '#/components/schemas/PageableSort'
              numberOfElements:
                type: integer
              first:
                type: boolean
              empty:
                type: boolean
    RmErrorResponse:
      description: Error Response body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RmError'
    UpdateReleaseResponse:
      description: Response for updating releases
      content:
        application/json:
          schema:
            type: object
            required:
            - id
            - yaml
            properties:
              id:
                type: string
              yaml:
                type: string
                x-stoplight:
                  id: azso4lcdvvkwx
    CreateAdHocReleaseResponse:
      description: Ad hoc release created successfully
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AdHocReleaseResponse'
    ReleaseTasksResponse:
      description: Successful response for release tasks
      content:
        application/json:
          schema:
            type: object
            required:
            - tasks
            - nextRequest
            - last
            properties:
              tasks:
                type: array
                description: List of tasks from manual activities.
                items:
                  $ref: '#/components/schemas/ExecutionTaskDTO'
              nextRequest:
                $ref: '#/components/schemas/NextRequest'
              last:
                type: boolean
                description: Whether this is the last page of results
  requestBodies:
    CreateAdHocReleaseRequest:
      description: Request body for creating an ad hoc release
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AdHocReleaseRequest'
    UpdateReleaseRequest:
      content:
        application/json:
          schema:
            type: object
            required:
            - yaml
            - startTs
            - duration
            properties:
              yaml:
                type: string
                x-stoplight:
                  id: iajp3uj485zjr
              startTs:
                type: integer
                x-stoplight:
                  id: 5el84v3en86uw
              duration:
                type: string
                x-stoplight:
                  id: 5el84v3en86wu
              processIdentifier:
                type: string
                description: Identifier of the orchestration process
                x-stoplight:
                  id: c6lf1bupdd0ym
              processInputIdentifier:
                type: string
                description: Identifier of the orchestration process input
                x-stoplight:
                  id: c6lf1bupdd0ym
    ReleaseSummaryRequest:
      description: Provide the filtering for release summary
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              timeRanges:
                x-stoplight:
                  id: mcl3yvfgxod21
                type: array
                items:
                  $ref: '#/components/schemas/TimeRangeDTO'
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
