openapi: 3.2.0
info:
  title: Harness Registry V3 - Lifecycle API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- description: V3 lifecycle rule endpoints
  name: Registry V3 - Lifecycle
paths:
  /har/api/v3/lifecycle/executions:
    get:
      description: Lists lifecycle executions for the given scope, optionally filtered by policy.
      operationId: ListLifecycleExecutionsV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/OrgIdentifierV3'
      - $ref: '#/components/parameters/ProjectIdentifierV3'
      - $ref: '#/components/parameters/PageNumberV3'
      - $ref: '#/components/parameters/PageSizeV3'
      - $ref: '#/components/parameters/SearchTermV3'
      - $ref: '#/components/parameters/LifecycleScopeParamV3'
      - $ref: '#/components/parameters/PackageTypeListParamV3'
      - $ref: '#/components/parameters/RegistryIdListOptionalParamV3'
      - $ref: '#/components/parameters/LifecycleExecutionStatusParamV3'
      responses:
        '200':
          $ref: '#/components/responses/ListLifecycleExecutionsResponseV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: List lifecycle executions
      tags:
      - Registry V3 - Lifecycle
      x-internal: false
    post:
      description: Triggers a dry-run execution for a lifecycle rule.
      operationId: CreateLifecycleExecutionV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/OrgIdentifierV3'
      - $ref: '#/components/parameters/ProjectIdentifierV3'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LifecycleDryRunRequestBodyV3'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/LifecycleExecutionCreatedV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Trigger a dry-run lifecycle execution
      tags:
      - Registry V3 - Lifecycle
      x-internal: false
  /har/api/v3/lifecycle/executions/{executionId}:
    get:
      description: Returns a specific lifecycle execution by ID.
      operationId: GetLifecycleExecutionV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/OrgIdentifierV3'
      - $ref: '#/components/parameters/ProjectIdentifierV3'
      - description: The execution ID.
        in: path
        name: executionId
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/LifecycleExecutionResponseV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Get a lifecycle execution
      tags:
      - Registry V3 - Lifecycle
      x-internal: false
  /har/api/v3/lifecycle/executions/{executionId}/items:
    get:
      description: Lists the artifact-level items evaluated during a lifecycle execution.
      operationId: ListLifecycleExecutionItemsV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/OrgIdentifierV3'
      - $ref: '#/components/parameters/ProjectIdentifierV3'
      - $ref: '#/components/parameters/PageNumberV3'
      - $ref: '#/components/parameters/PageSizeV3'
      - $ref: '#/components/parameters/SearchTermV3'
      - $ref: '#/components/parameters/PackageTypeListParamV3'
      - $ref: '#/components/parameters/RegistryIdListOptionalParamV3'
      - $ref: '#/components/parameters/LifecycleExecutionItemStatusParamV3'
      - $ref: '#/components/parameters/LifecycleScopeParamV3'
      - description: The execution ID.
        in: path
        name: executionId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLifecycleExecutionItemsResponseV3'
          description: Execution items list.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: List lifecycle execution items
      tags:
      - Registry V3 - Lifecycle
      x-internal: false
  /har/api/v3/lifecycle/rules:
    get:
      description: Lists lifecycle rules for the given scope.
      operationId: ListLifecycleRulesV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/OrgIdentifierV3'
      - $ref: '#/components/parameters/ProjectIdentifierV3'
      - $ref: '#/components/parameters/SearchTermV3'
      - $ref: '#/components/parameters/PageNumberV3'
      - $ref: '#/components/parameters/PageSizeV3'
      - $ref: '#/components/parameters/SortV3'
      - $ref: '#/components/parameters/LifecycleScopeParamV3'
      - $ref: '#/components/parameters/PackageTypeListParamV3'
      - $ref: '#/components/parameters/RegistryIdListOptionalParamV3'
      - $ref: '#/components/parameters/LifecycleActionParamV3'
      responses:
        '200':
          $ref: '#/components/responses/ListLifecycleRulesResponseV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: List lifecycle rules
      tags:
      - Registry V3 - Lifecycle
      x-internal: false
    post:
      description: Creates a new lifecycle rule.
      operationId: CreateLifecycleRuleV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/OrgIdentifierV3'
      - $ref: '#/components/parameters/ProjectIdentifierV3'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LifecycleRuleRequestBodyV3'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/LifecycleRuleCreatedV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Create a lifecycle rule
      tags:
      - Registry V3 - Lifecycle
      x-internal: false
  /har/api/v3/lifecycle/rules/{id}:
    delete:
      description: Deletes a lifecycle rule. Only the owner scope may delete.
      operationId: DeleteLifecycleRuleV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/IdPathParamV3'
      responses:
        '204':
          description: Lifecycle rule deleted successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Delete a lifecycle rule
      tags:
      - Registry V3 - Lifecycle
      x-internal: false
    get:
      description: Returns a specific lifecycle rule by ID.
      operationId: GetLifecycleRuleV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/OrgIdentifierV3'
      - $ref: '#/components/parameters/ProjectIdentifierV3'
      - $ref: '#/components/parameters/IdPathParamV3'
      responses:
        '200':
          $ref: '#/components/responses/LifecycleRuleResponseV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Get a lifecycle rule
      tags:
      - Registry V3 - Lifecycle
      x-internal: false
    patch:
      description: Partially updates a lifecycle rule. Only provided fields are modified.
      operationId: PatchLifecycleRuleV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/OrgIdentifierV3'
      - $ref: '#/components/parameters/ProjectIdentifierV3'
      - $ref: '#/components/parameters/IdPathParamV3'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LifecycleRulePatchBodyV3'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/LifecycleRuleResponseV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Partially update a lifecycle rule
      tags:
      - Registry V3 - Lifecycle
      x-internal: false
    put:
      description: Updates an existing lifecycle rule.
      operationId: UpdateLifecycleRuleV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/OrgIdentifierV3'
      - $ref: '#/components/parameters/ProjectIdentifierV3'
      - $ref: '#/components/parameters/IdPathParamV3'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LifecycleRuleRequestBodyV3'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/LifecycleRuleUpdatedV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Update a lifecycle rule
      tags:
      - Registry V3 - Lifecycle
      x-internal: false
  /har/api/v3/lifecycle/stats:
    get:
      description: Returns aggregate lifecycle execution metrics for the given scope.
      operationId: GetLifecycleStatsV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/OrgIdentifierV3'
      - $ref: '#/components/parameters/ProjectIdentifierV3'
      - $ref: '#/components/parameters/SearchTermV3'
      - $ref: '#/components/parameters/LifecycleScopeParamV3'
      - $ref: '#/components/parameters/PackageTypeListParamV3'
      - $ref: '#/components/parameters/RegistryIdListOptionalParamV3'
      - $ref: '#/components/parameters/LifecycleActionParamV3'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LifecycleStatsResponseV3'
          description: Lifecycle stats.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: Get lifecycle stats
      tags:
      - Registry V3 - Lifecycle
      x-internal: false
components:
  schemas:
    ListLifecycleExecutionsResponseBodyV3:
      properties:
        hasMore:
          type: boolean
        items:
          items:
            $ref: '#/components/schemas/LifecycleExecutionResponseV3'
          type: array
        page:
          format: int64
          type: integer
        size:
          format: int64
          type: integer
      required:
      - items
      - hasMore
      - page
      - size
      type: object
    UserInfoV3:
      description: Structured user information for a principal
      properties:
        display_name:
          description: Human-readable display name
          type: string
        email:
          description: Email address
          type: string
        type:
          description: Principal type (user, service, service_account)
          type: string
        uid:
          description: Principal unique identifier (username)
          type: string
      type: object
    LifecycleRuleCriteriaV3:
      properties:
        match:
          $ref: '#/components/schemas/LifecycleRuleCriteriaMatchV3'
        rules:
          items:
            $ref: '#/components/schemas/LifecycleRuleCriteriaItemV3'
          type: array
      required:
      - match
      - rules
      type: object
    LifecycleRuleFilterConfigGenericV3:
      description: 'Filter configuration for package types that support only name and version filtering: PYTHON, HELM, NPM, NUGET, RPM, CARGO, COMPOSER, GO, CONDA, DART, SWIFT, PUPPET, RUBY, RAW, GENERIC.

        '
      properties:
        packageNameAllowedPattern:
          description: Glob patterns for package names to include.
          items:
            type: string
          type: array
        packageType:
          description: 'Package type. One of: PYTHON, HELM, NPM, NUGET, RPM, CARGO, COMPOSER, GO, CONDA, DART, SWIFT, PUPPET, RUBY, RAW, GENERIC.

            '
          type: string
        versionNameAllowedPattern:
          description: Glob patterns for version strings to include.
          items:
            type: string
          type: array
      required:
      - packageType
      type: object
    ListLifecycleRulesResponseBodyV3:
      properties:
        hasMore:
          type: boolean
        items:
          items:
            $ref: '#/components/schemas/LifecycleRuleResponseV3'
          type: array
        page:
          format: int64
          type: integer
        size:
          format: int64
          type: integer
      required:
      - items
      - hasMore
      - page
      - size
      type: object
    LifecycleRuleFilterConfigDockerV3:
      description: Filter configuration for DOCKER package type.
      properties:
        packageNameAllowedPattern:
          description: Glob patterns for image names to include (e.g. "my-app*").
          items:
            type: string
          type: array
        packageType:
          enum:
          - DOCKER
          type: string
        tagNameAllowedPattern:
          description: Glob patterns for tag names to include (e.g. "v1.*").
          items:
            type: string
          type: array
      required:
      - packageType
      type: object
    LifecycleRuleApplyToModeV3:
      enum:
      - EXPLICIT
      - ALL_IN_SCOPE
      type: string
    LifecycleStatsResponseV3:
      description: Aggregate lifecycle execution metrics for the requested scope.
      properties:
        artifactsCleaned:
          description: Total artifact versions deleted across all executions.
          format: int64
          type: integer
        executionsLast30Days:
          description: Number of executions that ran in the last 30 days.
          format: int64
          type: integer
        storageReclaimed:
          description: Total storage reclaimed (bytes) across all executions.
          type: string
      required:
      - storageReclaimed
      - artifactsCleaned
      - executionsLast30Days
      type: object
    LifecycleRuleFilterConfigMavenV3:
      description: Filter configuration for MAVEN package type.
      properties:
        groupIdAllowedPattern:
          description: Glob patterns for Maven group IDs to include (e.g. "com.example.*").
          items:
            type: string
          type: array
        packageNameAllowedPattern:
          description: Glob patterns for artifact IDs to include.
          items:
            type: string
          type: array
        packageType:
          enum:
          - MAVEN
          type: string
        versionNameAllowedPattern:
          description: Glob patterns for version strings to include (e.g. "*-SNAPSHOT").
          items:
            type: string
          type: array
      required:
      - packageType
      type: object
    ListLifecycleExecutionItemsResponseV3:
      properties:
        hasMore:
          type: boolean
        items:
          items:
            $ref: '#/components/schemas/LifecycleExecutionItemResponseV3'
          type: array
        page:
          format: int64
          type: integer
        size:
          format: int64
          type: integer
      required:
      - items
      - hasMore
      - page
      - size
      type: object
    LifecycleRuleResponseV3:
      properties:
        action:
          $ref: '#/components/schemas/LifecycleRuleActionV3'
        applyTo:
          $ref: '#/components/schemas/LifecycleRuleApplyToV3'
        createdAt:
          format: int64
          type: integer
        createdBy:
          $ref: '#/components/schemas/UserInfoV3'
        criteria:
          $ref: '#/components/schemas/LifecycleRuleCriteriaV3'
        description:
          type: string
        enabled:
          description: Whether the lifecycle rule is currently enabled.
          type: boolean
        filterConfig:
          $ref: '#/components/schemas/LifecycleRuleFilterConfigV3'
        hasLocalAssignment:
          description: Whether the lifecycle rule has at least one assignment with parent_id matching the filter's ParentID.
          type: boolean
        id:
          type: string
        lastRunAt:
          description: Epoch milliseconds of the last execution, if any.
          format: int64
          type: integer
        name:
          type: string
        nextRunAt:
          description: Epoch milliseconds of the next scheduled execution, if any.
          format: int64
          type: integer
        orgIdentifier:
          $ref: '#/components/schemas/orgIdentifier'
        packageType:
          type: string
        projectIdentifier:
          $ref: '#/components/schemas/projectIdentifier'
        schedule:
          $ref: '#/components/schemas/LifecycleRuleScheduleV3'
        updatedAt:
          format: int64
          type: integer
        updatedBy:
          $ref: '#/components/schemas/UserInfoV3'
      required:
      - id
      - name
      - action
      - applyTo
      - enabled
      - hasLocalAssignment
      type: object
    LifecycleRuleRequestBodyV3:
      properties:
        action:
          $ref: '#/components/schemas/LifecycleRuleActionV3'
        applyTo:
          $ref: '#/components/schemas/LifecycleRuleApplyToV3'
        criteria:
          $ref: '#/components/schemas/LifecycleRuleCriteriaV3'
        description:
          type: string
        filterConfig:
          $ref: '#/components/schemas/LifecycleRuleFilterConfigV3'
        name:
          type: string
        packageType:
          type: string
        schedule:
          $ref: '#/components/schemas/LifecycleRuleScheduleV3'
      required:
      - name
      - action
      - applyTo
      type: object
    LifecycleExecutionItemResponseV3:
      description: A single artifact version evaluated during a lifecycle execution.
      properties:
        lastDownloadedAt:
          description: Epoch milliseconds of the last download.
          format: int64
          type: integer
        orgIdentifier:
          $ref: '#/components/schemas/orgIdentifier'
        packageName:
          type: string
        packageType:
          $ref: '#/components/schemas/PackageTypeV3'
        projectIdentifier:
          $ref: '#/components/schemas/projectIdentifier'
        reason:
          description: Reason the item was included or excluded.
          type: string
        registryName:
          type: string
        size:
          type: string
        status:
          $ref: '#/components/schemas/LifecycleExecutionItemStatusV3'
        version:
          type: string
        versionId:
          type: string
      required:
      - packageName
      - version
      - registryName
      - status
      type: object
    LifecycleRuleCriteriaConfigV3:
      properties:
        unit:
          $ref: '#/components/schemas/LifecycleRuleCriteriaUnitV3'
        value:
          format: int64
          type: integer
      type: object
    ApiErrorsV3:
      properties:
        code:
          description: For some errors that could be handled programmatically, a short string indicating the [error code](https://docs.stripe.com/error-codes) reported.
          maxLength: 5000
          type: string
        message:
          description: A human-readable message providing more details about the error. These messages can be shown to users.
          maxLength: 40000
          type: string
        param:
          description: If the error is parameter-specific, the parameter related to the error. For example, we can use this to display a message near the correct form field.
          maxLength: 5000
          type: string
        type:
          description: The type of error returned.
          enum:
          - INVALID_REQUEST_ERROR
          - AUTHENTICATION_ERROR
          - PERMISSION_ERROR
          - API_ERROR
          type: string
      required:
      - type
      title: APIErrors
      type: object
    LifecycleRuleCriteriaItemV3:
      properties:
        config:
          $ref: '#/components/schemas/LifecycleRuleCriteriaConfigV3'
        type:
          $ref: '#/components/schemas/LifecycleRuleCriteriaTypeV3'
      required:
      - type
      - config
      type: object
    LifecycleRuleScheduleV3:
      properties:
        expression:
          type: string
        timezone:
          type: string
      required:
      - expression
      - timezone
      type: object
    LifecycleExecutionResponseV3:
      properties:
        completedAt:
          format: int64
          type: integer
        createdAt:
          format: int64
          type: integer
        id:
          type: string
        message:
          type: string
        orgIdentifier:
          $ref: '#/components/schemas/orgIdentifier'
        packagesAffected:
          format: int64
          type: integer
        policyId:
          type: string
        policyName:
          description: Name of the lifecycle policy that triggered this execution.
          type: string
        projectIdentifier:
          $ref: '#/components/schemas/projectIdentifier'
        protected:
          format: int64
          type: integer
        registriesAffected:
          format: int64
          type: integer
        startedAt:
          format: int64
          type: integer
        status:
          $ref: '#/components/schemas/LifecycleExecutionStatusV3'
        storageReclaimed:
          type: string
        triggerType:
          $ref: '#/components/schemas/LifecycleExecutionTriggerTypeV3'
        versionsDeleted:
          format: int64
          type: integer
      required:
      - id
      - policyId
      - policyName
      - status
      - triggerType
      - createdAt
      - registriesAffected
      - packagesAffected
      - versionsDeleted
      - storageReclaimed
      - protected
      type: object
    PackageTypeV3:
      description: 'Package type. Known values include: DOCKER, MAVEN, PYTHON, GENERIC, HELM, HELM_HTTP, NUGET, NPM, RPM, CARGO, COMPOSER, GO, HUGGINGFACE, CONDA, DART, SWIFT, PUPPET, RUBY, RAW, DEBIAN, CONAN, TERRAFORM. This field is extensible; clients must handle unknown values.

        '
      example: DOCKER
      type: string
      x-extensible-enum:
      - DOCKER
      - MAVEN
      - PYTHON
      - GENERIC
      - HELM
      - HELM_HTTP
      - NUGET
      - NPM
      - RPM
      - CARGO
      - COMPOSER
      - GO
      - HUGGINGFACE
      - CONDA
      - DART
      - SWIFT
      - PUPPET
      - RUBY
      - RAW
      - DEBIAN
      - CONAN
      - TERRAFORM
      - CRAN
    LifecycleRuleCriteriaTypeV3:
      enum:
      - KEEP_LAST_N
      - AGE_BASED
      - UNUSED_FOR
      type: string
    LifecycleDryRunRequestBodyV3:
      properties:
        policyId:
          type: string
      required:
      - policyId
      type: object
    LifecycleRuleApplyToV3:
      properties:
        mode:
          $ref: '#/components/schemas/LifecycleRuleApplyToModeV3'
        registries:
          items:
            type: string
          type: array
      required:
      - mode
      type: object
    ErrorV3:
      description: An error response
      properties:
        error:
          $ref: '#/components/schemas/ApiErrorsV3'
      required:
      - error
      type: object
    LifecycleRulePatchBodyV3:
      description: Partial update body for a lifecycle rule. Only provided fields are updated.
      properties:
        action:
          $ref: '#/components/schemas/LifecycleRuleActionV3'
        applyTo:
          $ref: '#/components/schemas/LifecycleRuleApplyToV3'
        criteria:
          $ref: '#/components/schemas/LifecycleRuleCriteriaV3'
        description:
          type: string
        enabled:
          description: Enable or disable the lifecycle rule.
          type: boolean
        filterConfig:
          $ref: '#/components/schemas/LifecycleRuleFilterConfigV3'
        name:
          type: string
        packageType:
          type: string
        schedule:
          $ref: '#/components/schemas/LifecycleRuleScheduleV3'
      type: object
    LifecycleRuleCriteriaUnitV3:
      enum:
      - DAYS
      - MONTHS
      - YEARS
      type: string
    LifecycleExecutionTriggerTypeV3:
      enum:
      - SCHEDULED
      - DRY_RUN
      type: string
    LifecycleRuleFilterConfigV3:
      description: 'Filter configuration for a lifecycle rule, discriminated by packageType. Set packageType to select the correct variant: DOCKER, MAVEN, HUGGINGFACE, or any other supported type (generic variant).

        '
      discriminator:
        mapping:
          DOCKER: '#/components/schemas/LifecycleRuleFilterConfigDockerV3'
          HUGGINGFACE: '#/components/schemas/LifecycleRuleFilterConfigHuggingFaceV3'
          MAVEN: '#/components/schemas/LifecycleRuleFilterConfigMavenV3'
        propertyName: packageType
      oneOf:
      - $ref: '#/components/schemas/LifecycleRuleFilterConfigDockerV3'
      - $ref: '#/components/schemas/LifecycleRuleFilterConfigMavenV3'
      - $ref: '#/components/schemas/LifecycleRuleFilterConfigHuggingFaceV3'
      - $ref: '#/components/schemas/LifecycleRuleFilterConfigGenericV3'
    projectIdentifier:
      type: string
    LifecycleRuleFilterConfigHuggingFaceV3:
      description: Filter configuration for HUGGINGFACE package type.
      properties:
        datasetAllowedPattern:
          description: Glob patterns for dataset names to include.
          items:
            type: string
          type: array
        modelAllowedPattern:
          description: Glob patterns for model names to include.
          items:
            type: string
          type: array
        packageType:
          enum:
          - HUGGINGFACE
          type: string
        versionNameAllowedPattern:
          description: Glob patterns for version/revision names to include.
          items:
            type: string
          type: array
      required:
      - packageType
      type: object
    LifecycleExecutionItemStatusV3:
      description: Outcome of a lifecycle execution item.
      enum:
      - PROTECTED
      - WOULD_BE_DELETED
      - DELETED
      type: string
    LifecycleRuleActionV3:
      enum:
      - DELETE
      - PROTECT
      type: string
    orgIdentifier:
      type: string
    LifecycleExecutionStatusV3:
      enum:
      - PENDING
      - INPROGRESS
      - SUCCESS
      - FAILED
      type: string
    LifecycleRuleCriteriaMatchV3:
      enum:
      - ANY
      - ALL
      type: string
  responses:
    LifecycleRuleCreatedV3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LifecycleRuleResponseV3'
      description: Lifecycle rule created successfully
    LifecycleRuleUpdatedV3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LifecycleRuleResponseV3'
      description: Lifecycle rule updated successfully
    LifecycleRuleResponseV3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LifecycleRuleResponseV3'
      description: Lifecycle rule response
    ListLifecycleExecutionsResponseV3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListLifecycleExecutionsResponseBodyV3'
      description: Response for list lifecycle executions
    ListLifecycleRulesResponseV3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListLifecycleRulesResponseBodyV3'
      description: Response for list lifecycle rules
    LifecycleExecutionCreatedV3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LifecycleExecutionResponseV3'
      description: Lifecycle dry-run execution created successfully
    LifecycleExecutionResponseV3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LifecycleExecutionResponseV3'
      description: Lifecycle execution response
  parameters:
    LifecycleExecutionItemStatusParamV3:
      description: Filter items by outcome status.
      in: query
      name: status
      schema:
        enum:
        - PROTECTED
        - WOULD_BE_DELETED
        - DELETED
        type: string
    IdPathParamV3:
      in: path
      name: id
      required: true
      schema:
        type: string
    PackageTypeListParamV3:
      description: Registry Package Type
      in: query
      name: package_types
      schema:
        items:
          type: string
        type: array
    LifecycleScopeParamV3:
      description: '**Scope of lifecycle rules/executions to list**

        * **none** – current space only (default)

        * **ancestors** – current space **plus** all parent spaces

        * **descendants** – current space **plus** all child spaces


        If omitted, `none` is assumed.

        '
      in: query
      name: scope
      schema:
        enum:
        - ancestors
        - descendants
        - none
        type: string
    LifecycleActionParamV3:
      description: Lifecycle action
      in: query
      name: action
      schema:
        enum:
        - DELETE
        - PROTECT
        type: string
    SortV3:
      description: 'The sort for the results.

        Accepted pattern: `sort_field:sort_order` where sort_field is the field name

        and sort_order is either `asc` or `desc`.


        Examples: `name:asc`, `modifiedAt:desc`

        '
      in: query
      name: sort
      schema:
        type: string
    AccountIdentifierV3:
      description: 'Unique identifier for the Harness account.

        '
      in: query
      name: account_identifier
      required: true
      schema:
        type: string
    SearchTermV3:
      description: 'Search term for filtering results.


        Example: `search_term=prod` might match keys like "production", "prod-env", etc.

        '
      in: query
      name: search_term
      schema:
        type: string
    LifecycleExecutionStatusParamV3:
      description: Filter executions by status.
      in: query
      name: status
      schema:
        enum:
        - PENDING
        - INPROGRESS
        - SUCCESS
        - FAILED
        type: string
    ProjectIdentifierV3:
      description: 'Unique identifier for the project within the organization.


        Example: `my_project` or `frontend_services`

        '
      in: query
      name: project_identifier
      schema:
        type: string
    PageNumberV3:
      description: 'The page number for pagination (0-indexed).


        Used to navigate through large result sets. Combined with `size` parameter

        to control which subset of results to return.


        Example: `page=0` returns the first page, `page=1` returns the second page

        '
      in: query
      name: page
      schema:
        default: 0
        format: int64
        type: integer
    PageSizeV3:
      description: "The number of items to return per page.\n\nControls the page size for paginated results. \n\nExample: `size=50` returns up to 50 items per page\n"
      in: query
      name: size
      schema:
        default: 20
        format: int64
        maximum: 100
        minimum: 1
        type: integer
    RegistryIdListOptionalParamV3:
      description: 'Unique id for the registry.

        Note: This parameter should have one id if package query param is provided

        '
      example:
      - 12345678-1234-1234-1234-123456789012
      - aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
      in: query
      name: registry_ids
      schema:
        items:
          format: uuid
          type: string
        type: array
    OrgIdentifierV3:
      description: 'Unique identifier for the organization within the account.


        Example: `default` or `engineering_org`

        '
      in: query
      name: org_identifier
      schema:
        type: string
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
