openapi: 3.2.0
info:
  title: Harness Data Source API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Data Source
  description: DataSource Information
  x-displayName: DataSource Information
paths:
  /v1/data-sources:
    get:
      summary: Get Datasources Present In Account
      tags:
      - Data Source
      responses:
        '200':
          $ref: '#/components/responses/DataSourcesResponse'
      operationId: get-all-datasources-for-account
      x-stoplight:
        id: vdsu1dzt8t3tz
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      description: API for getting all the datasources present in account.
      x-internal: false
      security:
      - x-api-key: []
  /v1/data-sources/{data-source}/datapoints:
    parameters:
    - schema:
        type: string
      name: data-source
      in: path
      required: true
      description: Identifier for datasource
    get:
      summary: Get DataPoints present in DataSources for an account
      tags:
      - Data Source
      responses:
        '200':
          $ref: '#/components/responses/DatapointResponse'
      operationId: get-data-points-for-data-source
      x-stoplight:
        id: aogrjef7pusxj
      description: Get DataPoints Present in DataSources
      x-internal: false
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
  /v1/data-sources/data-points/map:
    get:
      summary: Get Data Sources and Data Points Map for Account
      tags:
      - Data Source
      responses:
        '200':
          $ref: '#/components/responses/DataSourceDataPointsMapResponse'
      operationId: get-data-sources-data-points-map
      x-stoplight:
        id: hxskmevkt524r
      description: API for getting the map of data sources and data points for account
      x-internal: false
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
components:
  schemas:
    DataSourceDataPointsMapResponse:
      title: DataSourceDataPointsMapResponse
      x-stoplight:
        id: hkryihjz7x491
      type: object
      properties:
        data_source_data_points_map:
          x-stoplight:
            id: gjgcug67oivlg
          type: array
          items:
            $ref: '#/components/schemas/DataSourceDataPointsMap'
      required:
      - data_source_data_points_map
      description: Response for getting the data sources and data points map
    DataSourcesResponse:
      title: DataSourcesResponse
      x-stoplight:
        id: 73ueb905qy1zb
      type: object
      description: Response for list of data sources
      properties:
        data_sources:
          type: array
          x-stoplight:
            id: fhj90jbl2h787
          items:
            $ref: '#/components/schemas/DataSource'
      required:
      - data_sources
      x-internal: false
    DataPoint:
      title: DataPoint
      x-stoplight:
        id: c7tcluzgw5cjz
      type: object
      description: Conatins detail for single data point
      x-internal: false
      properties:
        type:
          type: string
          x-stoplight:
            id: 7ravaew9405n5
        name:
          type: string
          x-stoplight:
            id: 0i3oxc3ybop4k
        description:
          type: string
          x-stoplight:
            id: 1hkouvzjjgqn1
        data_point_identifier:
          type: string
          x-stoplight:
            id: ytmctby35eehe
        detailed_description:
          type: string
          x-stoplight:
            id: ktfl6zmiaxrv8
        input_details:
          type: array
          x-stoplight:
            id: 7gpxma8wy54sh
          items:
            $ref: '#/components/schemas/InputDetails'
      required:
      - type
      - name
      - description
      - data_point_identifier
      - detailed_description
    DataPointsResponse:
      title: DataPointResponse
      x-stoplight:
        id: oo360bhea35ae
      type: object
      description: Resposne for List of Data Points
      properties:
        data_points:
          type: array
          x-stoplight:
            id: 8ibklj43876jd
          items:
            $ref: '#/components/schemas/DataPoint'
      required:
      - data_points
      x-internal: false
    DataSource:
      title: DataSource
      x-stoplight:
        id: rl36h4i72zwmn
      type: object
      description: Contains Details for Single Data source
      x-internal: false
      properties:
        identifier:
          type: string
          x-stoplight:
            id: q7mj2gssw1bli
        name:
          type: string
          x-stoplight:
            id: t4ls3eta9srzd
        description:
          type: string
          x-stoplight:
            id: cbkq0sja3irvh
      required:
      - identifier
      - name
      - description
    DataSourceDataPointsMap:
      title: DataSourceDataPointsMap
      x-stoplight:
        id: cpgfpfbu0mtuc
      type: object
      properties:
        data_source:
          $ref: '#/components/schemas/DataSource'
        data_points:
          type: array
          x-stoplight:
            id: hvxvu8nzkm4zd
          items:
            $ref: '#/components/schemas/DataPoint'
      required:
      - data_source
      - data_points
      description: Mapping of data source with data points
    InputDetails:
      title: InputDetails
      x-stoplight:
        id: 9bevzs2ntadh9
      type: object
      properties:
        key:
          type: string
          x-stoplight:
            id: raxmdmy2r7q9y
        description:
          type: string
          x-stoplight:
            id: aqhb6cu8ooj5t
        required:
          type: boolean
          x-stoplight:
            id: q7eabpypob3ty
      required:
      - key
      - description
      - required
  responses:
    DataSourcesResponse:
      description: Response containing list of data sources present in account
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DataSourcesResponse'
        application/xml:
          schema:
            type: object
            properties:
              datasources:
                type: string
                x-stoplight:
                  id: 1f3lviacdjj4f
    DatapointResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DataPointsResponse'
    DataSourceDataPointsMapResponse:
      description: Response for getting the data source and data point map
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DataSourceDataPointsMapResponse'
        application/xml:
          schema:
            type: object
            properties: {}
  parameters:
    AccountHeader5:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to.
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
