openapi: 3.2.0
info:
  title: Harness Registry V3 - Principals API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Registry V3 - Principals
paths:
  /har/api/v3/principals:
    get:
      description: Lists Principals
      operationId: ListPrincipalsV3
      parameters:
      - $ref: '#/components/parameters/AccountIdentifierV3'
      - $ref: '#/components/parameters/OrgIdentifierV3'
      - $ref: '#/components/parameters/ProjectIdentifierV3'
      - $ref: '#/components/parameters/PageNumberV3'
      - $ref: '#/components/parameters/PageSizeV3'
      - $ref: '#/components/parameters/SearchTermV3'
      - $ref: '#/components/parameters/PrincipalTypeFilterParamV3'
      responses:
        '200':
          $ref: '#/components/responses/ListPrincipalsResponseV3'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV3'
          description: Error response.
      summary: List Principals
      tags:
      - Registry V3 - Principals
      x-internal: false
components:
  parameters:
    ProjectIdentifierV3:
      description: 'Unique identifier for the project within the organization.


        Example: `my_project` or `frontend_services`

        '
      in: query
      name: project_identifier
      schema:
        type: string
    PageNumberV3:
      description: 'The page number for pagination (0-indexed).


        Used to navigate through large result sets. Combined with `size` parameter

        to control which subset of results to return.


        Example: `page=0` returns the first page, `page=1` returns the second page

        '
      in: query
      name: page
      schema:
        default: 0
        format: int64
        type: integer
    PageSizeV3:
      description: "The number of items to return per page.\n\nControls the page size for paginated results. \n\nExample: `size=50` returns up to 50 items per page\n"
      in: query
      name: size
      schema:
        default: 20
        format: int64
        maximum: 100
        minimum: 1
        type: integer
    PrincipalTypeFilterParamV3:
      description: filter by principal type
      in: query
      name: principal_type
      schema:
        enum:
        - USER
        type: string
    AccountIdentifierV3:
      description: 'Unique identifier for the Harness account.

        '
      in: query
      name: account_identifier
      required: true
      schema:
        type: string
    SearchTermV3:
      description: 'Search term for filtering results.


        Example: `search_term=prod` might match keys like "production", "prod-env", etc.

        '
      in: query
      name: search_term
      schema:
        type: string
    OrgIdentifierV3:
      description: 'Unique identifier for the organization within the account.


        Example: `default` or `engineering_org`

        '
      in: query
      name: org_identifier
      schema:
        type: string
  schemas:
    ErrorV3:
      description: An error response
      properties:
        error:
          $ref: '#/components/schemas/ApiErrorsV3'
      required:
      - error
      type: object
    ModifiedAtMsV3:
      description: Unix timestamp in milliseconds when the resource was last modified
      example: 1736360000123
      format: int64
      type:
      - integer
      - 'null'
    PrincipalV3:
      description: Principal information (user or service account)
      properties:
        createdAt:
          $ref: '#/components/schemas/ModifiedAtMsV3'
        displayName:
          example: John Doe
          type: string
        email:
          type: string
        id:
          example: 123
          format: int64
          type: integer
        type:
          $ref: '#/components/schemas/PrincipalTypeV3'
        uid:
          type: string
        updatedAt:
          $ref: '#/components/schemas/ModifiedAtMsV3'
      required:
      - id
      - type
      - uid
      - createdAt
      - updatedAt
    PrincipalTypeV3:
      description: 'Principal type. Known values include: USER.

        '
      enum:
      - USER
      example: USER
      type: string
    ApiErrorsV3:
      properties:
        code:
          description: For some errors that could be handled programmatically, a short string indicating the [error code](https://docs.stripe.com/error-codes) reported.
          maxLength: 5000
          type: string
        message:
          description: A human-readable message providing more details about the error. These messages can be shown to users.
          maxLength: 40000
          type: string
        param:
          description: If the error is parameter-specific, the parameter related to the error. For example, we can use this to display a message near the correct form field.
          maxLength: 5000
          type: string
        type:
          description: The type of error returned.
          enum:
          - INVALID_REQUEST_ERROR
          - AUTHENTICATION_ERROR
          - PERMISSION_ERROR
          - API_ERROR
          type: string
      required:
      - type
      title: APIErrors
      type: object
    ListPrincipalsResponseBodyV3:
      allOf:
      - $ref: '#/components/schemas/PageInfoV3'
      - properties:
          items:
            items:
              $ref: '#/components/schemas/PrincipalV3'
            type: array
        required:
        - items
        type: object
    PageInfoV3:
      description: 'Pagination metadata.

        - `page` selects which page of results to return (0 = first page).

        - `size` controls how many items are returned per page.

        - `hasMore` is true if more results exist after this page.

        '
      properties:
        hasMore:
          description: True if more results exist after this page.
          example: true
          type: boolean
        page:
          description: The current page (0-indexed)
          example: 0
          format: int64
          type: integer
        size:
          description: Number of items per page
          example: 20
          format: int64
          type: integer
      required:
      - page
      - size
      - hasMore
      type: object
  responses:
    ListPrincipalsResponseV3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListPrincipalsResponseBodyV3'
      description: response for list principal
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
