openapi: 3.2.0
info:
  title: Harness Repository credentials API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Repository credentials
paths:
  /gitops/api/v1/agents/{agentIdentifier}/repocreds:
    post:
      summary: Create a new repository credential
      description: CreateRepositoryCredentials creates a new repository credential.
      operationId: AgentRepositoryCredentialsService_CreateRepositoryCredentials
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1RepositoryCredentials'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/hrepocredsRepoCredsCreateRequest'
        required: true
      tags:
      - Repository credentials
  /gitops/api/v1/agents/{agentIdentifier}/repocreds/get:
    post:
      summary: Get credentials for repository url
      description: GetCredentialsForRepositoryUrl returns a repository credential given its url.
      operationId: AgentRepositoryCredentialsService_GetCredentialsForRepositoryUrl
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1RepositoryCredentials'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/hrepocredsRepoCredsQuery'
        required: true
      tags:
      - Repository credentials
  /gitops/api/v1/agents/{agentIdentifier}/repocreds/{identifier}:
    get:
      summary: Get repository credential by identifier
      description: GetRepositoryCredentials retrieves a repository credential given its identifier.
      operationId: AgentRepositoryCredentialsService_GetRepositoryCredentials
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1RepositoryCredentials'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: query.url
        description: Repo URL for query.
        in: query
        required: false
        schema:
          type: string
      - name: query.repoCredsType
        description: RepoCreds type - git or helm.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Repository credentials
    delete:
      summary: Delete a repository credential
      description: DeleteRepositoryCredentials deletes a specific repository credential.
      operationId: AgentRepositoryCredentialsService_DeleteRepositoryCredentials
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hrepocredsRepoCredsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Repository credentials
    put:
      summary: Update a repository credential
      description: UpdateRepositoryCredentials updates a specific repository credential.
      operationId: AgentRepositoryCredentialsService_UpdateRepositoryCredentials
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1RepositoryCredentials'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      parameters:
      - name: agentIdentifier
        description: Agent identifier for entity.
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: orgIdentifier
        description: Organization Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      - name: projectIdentifier
        description: Project Identifier for the Entity.
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/hrepocredsRepoCredsUpdateRequest'
        required: true
      tags:
      - Repository credentials
  /gitops/api/v1/repocreds:
    post:
      summary: List repository credentials
      description: ListRepositoryCredentials retrieves a list of all repository credentials.
      operationId: AgentRepositoryCredentialsService_ListRepositoryCredentials
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/servicev1RepositoryCredentialsList'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayruntimeError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1RepositoryCredentialsQuery'
        required: true
      tags:
      - Repository credentials
components:
  schemas:
    hrepocredsRepoCredsQuery:
      type: object
      properties:
        url:
          type: string
          title: Repo URL for query
        repoCredsType:
          type: string
          title: RepoCreds type - git or helm
      title: RepoCredsQuery is a query for RepoCreds resources
    hrepocredsRepoCredsResponse:
      type: object
      title: RepoCredsResponse is a response to most repository credentials requests
    hrepocredsRepoCredsUpdateRequest:
      type: object
      properties:
        creds:
          $ref: '#/components/schemas/hrepocredsRepoCreds'
        updateMask:
          $ref: '#/components/schemas/protobufFieldMask'
      title: RepoCredsUpdateRequest is a request for updating existing repository credentials config
    servicev1RepositoryCredentialsList:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/servicev1RepositoryCredentials'
        totalPages:
          type: integer
          format: int32
        totalItems:
          type: integer
          format: int32
        pageItemCount:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        pageIndex:
          type: integer
          format: int32
        empty:
          type: boolean
    hrepocredsRepoCreds:
      type: object
      properties:
        url:
          type: string
          title: URL is the URL that this credentials matches to
        username:
          type: string
          title: Username for authenticating at the repo server
        password:
          type: string
          title: Password for authenticating at the repo server
        sshPrivateKey:
          type: string
          title: SSHPrivateKey contains the private key data for authenticating at the repo server using SSH (only Git repos)
        tlsClientCertData:
          type: string
          title: TLSClientCertData specifies the TLS client cert data for authenticating at the repo server
        tlsClientCertKey:
          type: string
          title: TLSClientCertKey specifies the TLS client cert key for authenticating at the repo server
        githubAppPrivateKey:
          type: string
          title: GithubAppPrivateKey specifies the private key PEM data for authentication via GitHub app
        githubAppID:
          type: string
          format: int64
          title: GithubAppId specifies the Github App ID of the app used to access the repo for GitHub app authentication
        githubAppInstallationID:
          type: string
          format: int64
          title: GithubAppInstallationId specifies the ID of the installed GitHub App for GitHub app authentication
        githubAppEnterpriseBaseUrl:
          type: string
          title: GithubAppEnterpriseBaseURL specifies the GitHub API URL for GitHub app authentication. If empty will default to https://api.github.com
        enableOCI:
          type: boolean
          title: EnableOCI specifies whether helm-oci support should be enabled for this repo
        type:
          type: string
          description: Type specifies the type of the repoCreds. Can be either "git", "helm" or "oci". "git" is assumed if empty or absent.
        name:
          type: string
          title: Repository human readable name
      title: RepoCreds holds the definition for repository credentials
    gatewayruntimeError:
      type: object
      properties:
        error:
          type: string
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    hrepocredsRepoCredsCreateRequest:
      type: object
      properties:
        creds:
          $ref: '#/components/schemas/hrepocredsRepoCreds'
        upsert:
          type: boolean
          title: Whether to create in upsert mode
      title: RepoCreateRequest is a request for creating repository credentials config
    protobufAny:
      type: object
      properties:
        type_url:
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        value:
          type: string
          format: byte
          description: Must be a valid serialized protocol buffer of the above specified type.
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    servicev1RepositoryCredentials:
      type: object
      properties:
        accountIdentifier:
          type: string
          description: Account Identifier for the Entity.
        orgIdentifier:
          type: string
          description: Organization Identifier for the Entity.
        projectIdentifier:
          type: string
          description: Project Identifier for the Entity.
        agentIdentifier:
          type: string
          description: Agent identifier for entity.
        identifier:
          type: string
        repoCreds:
          $ref: '#/components/schemas/hrepocredsRepoCreds'
        createdAt:
          type: string
          format: date-time
        lastModifiedAt:
          type: string
          format: date-time
        stale:
          type: boolean
    protobufFieldMask:
      type: object
      properties:
        paths:
          type: array
          items:
            type: string
          description: The set of field mask paths.
      description: "paths: \"f.a\"\n    paths: \"f.b.d\"\n\nHere `f` represents a field in some root message, `a` and `b`\nfields in the message found in `f`, and `d` a field found in the\nmessage in `f.b`.\n\nField masks are used to specify a subset of fields that should be\nreturned by a get operation or modified by an update operation.\nField masks also have a custom JSON encoding (see below).\n\n# Field Masks in Projections\n\nWhen used in the context of a projection, a response message or\nsub-message is filtered by the API to only contain those fields as\nspecified in the mask. For example, if the mask in the previous\nexample is applied to a response message as follows:\n\n    f {\n      a : 22\n      b {\n        d : 1\n        x : 2\n      }\n      y : 13\n    }\n    z: 8\n\nThe result will not contain specific values for fields x,y and z\n(their value will be set to the default, and omitted in proto text\noutput):\n\n\n    f {\n      a : 22\n      b {\n        d : 1\n      }\n    }\n\nA repeated field is not allowed except at the last position of a\npaths string.\n\nIf a FieldMask object is not present in a get operation, the\noperation applies to all fields (as if a FieldMask of all fields\nhad been specified).\n\nNote that a field mask does not necessarily apply to the\ntop-level response message. In case of a REST get operation, the\nfield mask applies directly to the response, but in case of a REST\nlist operation, the mask instead applies to each individual message\nin the returned resource list. In case of a REST custom method,\nother definitions may be used. Where the mask applies will be\nclearly documented together with its declaration in the API.  In\nany case, the effect on the returned resource/resources is required\nbehavior for APIs.\n\n# Field Masks in Update Operations\n\nA field mask in update operations specifies which fields of the\ntargeted resource are going to be updated. The API is required\nto only change the values of the fields as specified in the mask\nand leave the others untouched. If a resource is passed in to\ndescribe the updated values, the API ignores the values of all\nfields not covered by the mask.\n\nIf a repeated field is specified for an update operation, new values will\nbe appended to the existing repeated field in the target resource. Note that\na repeated field is only allowed in the last position of a `paths` string.\n\nIf a sub-message is specified in the last position of the field mask for an\nupdate operation, then new value will be merged into the existing sub-message\nin the target resource.\n\nFor example, given the target message:\n\n    f {\n      b {\n        d: 1\n        x: 2\n      }\n      c: [1]\n    }\n\nAnd an update message:\n\n    f {\n      b {\n        d: 10\n      }\n      c: [2]\n    }\n\nthen if the field mask is:\n\n paths: [\"f.b\", \"f.c\"]\n\nthen the result will be:\n\n    f {\n      b {\n        d: 10\n        x: 2\n      }\n      c: [1, 2]\n    }\n\nAn implementation may provide options to override this default behavior for\nrepeated and message fields.\n\nNote that libraries which implement FieldMask resolution have various\ndifferent behaviors in the face of empty masks or the special \"*\" mask.\nWhen implementing a service you should confirm these cases have the\nappropriate behavior in the underlying FieldMask library that you desire,\nand you may need to special case those cases in your application code if\nthe underlying field mask library behavior differs from your intended\nservice semantics.\n\nUpdate methods implementing https://google.aip.dev/134\n- MUST support the special value * meaning \"full replace\"\n- MUST treat an omitted field mask as \"replace fields which are present\".\n\nOther methods implementing https://google.aip.dev/157\n- SHOULD support the special value \"*\" to mean \"get all\".\n- MUST treat an omitted field mask to mean \"get all\", unless otherwise\ndocumented.\n\n## Considerations for HTTP REST\n\nThe HTTP kind of an update operation which uses a field mask must\nbe set to PATCH instead of PUT in order to satisfy HTTP semantics\n(PUT must only be used for full updates).\n\n# JSON Encoding of Field Masks\n\nIn JSON, a field mask is encoded as a single string where paths are\nseparated by a comma. Fields name in each path are converted\nto/from lower-camel naming conventions.\n\nAs an example, consider the following message declarations:\n\n    message Profile {\n      User user = 1;\n      Photo photo = 2;\n    }\n    message User {\n      string display_name = 1;\n      string address = 2;\n    }\n\nIn proto a field mask for `Profile` may look as such:\n\n    mask {\n      paths: \"user.display_name\"\n      paths: \"photo\"\n    }\n\nIn JSON, the same mask is represented as below:\n\n    {\n      mask: \"user.displayName,photo\"\n    }\n\n# Field Masks and Oneof Fields\n\nField masks treat fields in oneofs just as regular fields. Consider the\nfollowing message:\n\n    message SampleMessage {\n      oneof test_oneof {\n        string name = 4;\n        SubMessage sub_message = 9;\n      }\n    }\n\nThe field mask can be:\n\n    mask {\n      paths: \"name\"\n    }\n\nOr:\n\n    mask {\n      paths: \"sub_message\"\n    }\n\nNote that oneof type names (\"test_oneof\" in this case) cannot be used in\npaths.\n\n## Field Mask Verification\n\nThe implementation of any API method which has a FieldMask type field in the\nrequest should verify the included field paths, and return an\n`INVALID_ARGUMENT` error if any path is unmappable."
      title: '`FieldMask` represents a set of symbolic field paths, for example:'
    v1RepositoryCredentialsQuery:
      type: object
      properties:
        accountIdentifier:
          type: string
          description: Account Identifier for the Entity.
        projectIdentifier:
          type: string
          description: Project Identifier for the Entity.
        orgIdentifier:
          type: string
          description: Organization Identifier for the Entity.
        agentIdentifier:
          type: string
          description: Agent identifier for entity.
        identifier:
          type: string
        searchTerm:
          type: string
        pageSize:
          type: integer
          format: int32
        pageIndex:
          type: integer
          format: int32
        filter:
          type: object
          description: 'Filters for Repo Credentials. Eg. "identifier": { "$in": ["id1", "id2"]'
        includeChildScopes:
          type: boolean
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
