openapi: 3.2.0
info:
  title: Harness Pull Requests API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Pull Requests
  description: Access and Modify Pull Requests
paths:
  /sto/api/v2/pull-requests/repositories:
    x-internal: true
    get:
      operationId: Pull Requests#ListPullRequests
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: Harness Organization ID
        example: example_org
        in: query
        name: orgId
        schema:
          description: Harness Organization ID
          example: example_org
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Harness Project ID
        example: example_project
        in: query
        name: projectId
        schema:
          description: Harness Project ID
          example: example_project
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        example: Github
        in: query
        name: provider
        required: true
        schema:
          example: Github
          type: string
      - allowEmptyValue: true
        example: Qui eius.
        in: query
        name: repositoryPath
        required: true
        schema:
          example: Sed quia.
          type: string
      - allowEmptyValue: true
        description: Harness personal or service access token
        example: Eos architecto accusantium quis rerum vitae repellendus.
        in: header
        name: X-Api-Key
        schema:
          description: Harness personal or service access token
          example: Voluptas itaque sit nulla.
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                pullRequests:
                - commentUrl: https://github.com/owner/repo/pull/1#discussion_r12345
                  pullRequestNumber: 8306337910837321000
                  pullRequestUrl: Libero a quasi distinctio dignissimos voluptas.
                  sourceBranch: feat/shiny-object
                - commentUrl: https://github.com/owner/repo/pull/1#discussion_r12345
                  pullRequestNumber: 8306337910837321000
                  pullRequestUrl: Libero a quasi distinctio dignissimos voluptas.
                  sourceBranch: feat/shiny-object
                - commentUrl: https://github.com/owner/repo/pull/1#discussion_r12345
                  pullRequestNumber: 8306337910837321000
                  pullRequestUrl: Libero a quasi distinctio dignissimos voluptas.
                  sourceBranch: feat/shiny-object
                - commentUrl: https://github.com/owner/repo/pull/1#discussion_r12345
                  pullRequestNumber: 8306337910837321000
                  pullRequestUrl: Libero a quasi distinctio dignissimos voluptas.
                  sourceBranch: feat/shiny-object
              schema:
                $ref: '#/components/schemas/ListPullRequestsResult'
          description: OK response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'InternalServerError: Internal Server Error response.'
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_issue_view
      tags:
      - Pull Requests
      summary: Pull Requests#List pull requests
      x-summary-source: derived
  /sto/api/v2/pull-requests/repositories/pulls:
    x-internal: true
    get:
      operationId: Pull Requests#FindPullRequestByID
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: Harness Organization ID
        example: example_org
        in: query
        name: orgId
        schema:
          description: Harness Organization ID
          example: example_org
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Harness Project ID
        example: example_project
        in: query
        name: projectId
        schema:
          description: Harness Project ID
          example: example_project
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        example: Github
        in: query
        name: provider
        required: true
        schema:
          example: Github
          type: string
      - allowEmptyValue: true
        example: Sed laudantium.
        in: query
        name: repositoryPath
        required: true
        schema:
          example: Adipisci similique aut non.
          type: string
      - allowEmptyValue: true
        description: The number of the pullRequest to retrieve
        example: 11
        in: query
        name: pullRequestNumber
        required: true
        schema:
          description: The number of the pullRequest to retrieve
          example: 11
          format: int64
          minimum: 1
          type: integer
      - allowEmptyValue: true
        description: Harness personal or service access token
        example: Facilis et consequuntur occaecati quia perferendis explicabo.
        in: header
        name: X-Api-Key
        schema:
          description: Harness personal or service access token
          example: Eum ipsam qui tempora velit odio.
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                commentUrl: https://github.com/owner/repo/pull/1#discussion_r12345
                pullRequestNumber: 8306337910837321000
                pullRequestUrl: Libero a quasi distinctio dignissimos voluptas.
                sourceBranch: feat/shiny-object
              schema:
                $ref: '#/components/schemas/PullRequestResult'
          description: OK response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'InternalServerError: Internal Server Error response.'
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_issue_view
      tags:
      - Pull Requests
      summary: Pull Requests#Find pull request by ID
      x-summary-source: derived
    post:
      description: Use AI to augment the remediation steps for this Security Issue
      operationId: Pull Requests#CreatePullRequest
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: Harness Organization ID
        example: example_org
        in: query
        name: orgId
        schema:
          description: Harness Organization ID
          example: example_org
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Harness Project ID
        example: example_project
        in: query
        name: projectId
        schema:
          description: Harness Project ID
          example: example_project
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        example: Github
        in: query
        name: provider
        required: true
        schema:
          example: Github
          type: string
      - allowEmptyValue: true
        example: Iure qui omnis.
        in: query
        name: repositoryPath
        required: true
        schema:
          example: Voluptatem nulla iure voluptatem dolores voluptatem.
          type: string
      - allowEmptyValue: true
        description: Harness personal or service access token
        example: Mollitia consequatur iusto.
        in: header
        name: X-Api-Key
        schema:
          description: Harness personal or service access token
          example: Tenetur non adipisci debitis sed quia.
          type: string
      requestBody:
        content:
          application/json:
            example:
              branch: develop
              description: A description of the Pull Request.
              id: 1234567890abcdefghijkl
              occurrenceId: 12345
              pipelineUrl: https://app.harness.io/path/to/pipeline
              remediationCode: "func example() int {\n  return 0\n}"
              remediationCodeEnd: 16
              remediationCodePath: path/to/code
              remediationCodeStart: 14
              remediationContext: Context to the function.
              remediationIndent: 9
              scanId: abcdef1234567890ghijkl
              vulnerableCode: "func example() int {\n  return 0\n}"
            schema:
              $ref: '#/components/schemas/CreatePullRequestRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                commentUrl: https://github.com/owner/repo/pull/1#discussion_r12345
                pullRequestNumber: 8306337910837321000
                pullRequestUrl: Libero a quasi distinctio dignissimos voluptas.
                sourceBranch: feat/shiny-object
              schema:
                $ref: '#/components/schemas/PullRequestResult'
          description: OK response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '409':
          content:
            application/json:
              example:
                message: The source code has changed since this scan was run.
                status: 409
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Conflict: Conflict response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'InternalServerError: Internal Server Error response.'
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_issue_view
      tags:
      - Pull Requests
      summary: Pull Requests#Create pull request
      x-summary-source: derived
    put:
      description: Use AI to augment the remediation steps for this Security Issue
      operationId: Pull Requests#UpdatePullRequest
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: Harness Organization ID
        example: example_org
        in: query
        name: orgId
        schema:
          description: Harness Organization ID
          example: example_org
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Harness Project ID
        example: example_project
        in: query
        name: projectId
        schema:
          description: Harness Project ID
          example: example_project
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        example: Github
        in: query
        name: provider
        required: true
        schema:
          example: Github
          type: string
      - allowEmptyValue: true
        example: Doloribus expedita nulla dolore suscipit quo dolores.
        in: query
        name: repositoryPath
        required: true
        schema:
          example: Veniam eveniet nostrum aut deleniti reiciendis.
          type: string
      - allowEmptyValue: true
        description: Harness personal or service access token
        example: Tenetur id nostrum.
        in: header
        name: X-Api-Key
        schema:
          description: Harness personal or service access token
          example: Et iste qui voluptatem consequuntur sit.
          type: string
      requestBody:
        content:
          application/json:
            example:
              id: 1234567890abcdefghijkl
              occurrenceId: 12345
              pipelineUrl: https://app.harness.io/path/to/pipeline
              pullRequestNumber: 11
              remediationCode: "func example() int {\n  return 0\n}"
              remediationCodeEnd: 16
              remediationCodePath: path/to/code
              remediationCodeStart: 14
              remediationContext: Context to the function.
              remediationIndent: 9
              scanId: abcdef1234567890ghijkl
              vulnerableCode: "func example() int {\n  return 0\n}"
            schema:
              $ref: '#/components/schemas/UpdatePullRequestRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                commentUrl: https://github.com/owner/repo/pull/1#discussion_r12345
                pullRequestNumber: 8306337910837321000
                pullRequestUrl: Libero a quasi distinctio dignissimos voluptas.
                sourceBranch: feat/shiny-object
              schema:
                $ref: '#/components/schemas/PullRequestResult'
          description: OK response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '409':
          content:
            application/json:
              example:
                message: The source code has changed since this scan was run.
                status: 409
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Conflict: Conflict response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'InternalServerError: Internal Server Error response.'
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_issue_view
      tags:
      - Pull Requests
      summary: Pull Requests#Update pull request
      x-summary-source: derived
  /sto/api/v2/pull-requests/repositories/pulls/action:
    x-internal: true
    get:
      description: Determine the PR action to display for a specific occurrence (create, suggestFix, display, or none).
      operationId: Pull Requests#GetPullRequestAction
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: Harness Organization ID
        example: example_org
        in: query
        name: orgId
        schema:
          description: Harness Organization ID
          example: example_org
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Harness Project ID
        example: example_project
        in: query
        name: projectId
        schema:
          description: Harness Project ID
          example: example_project
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Git provider (optional for action query — returns none with reason if empty)
        example: Github
        in: query
        name: provider
        schema:
          description: Git provider (optional for action query — returns none with reason if empty)
          example: Github
          type: string
      - allowEmptyValue: true
        description: Repository path (optional for action query — returns none with reason if empty)
        example: Aut qui qui sapiente.
        in: query
        name: repositoryPath
        schema:
          description: Repository path (optional for action query — returns none with reason if empty)
          example: Nihil et sit et ut quia.
          type: string
      - allowEmptyValue: true
        description: The ID of the Security Issue
        example: 1234567890abcdefghijkl
        in: query
        name: id
        required: true
        schema:
          description: The ID of the Security Issue
          example: 1234567890abcdefghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: The internal ID of the occurrence to evaluate
        example: 12345
        in: query
        name: occurrenceId
        required: true
        schema:
          description: The internal ID of the occurrence to evaluate
          example: 12345
          format: int64
          minimum: 1
          type: integer
      - allowEmptyValue: true
        description: The Security Scan execution that detected this Security Issue
        example: abcdef1234567890ghijkl
        in: query
        name: scanId
        required: true
        schema:
          description: The Security Scan execution that detected this Security Issue
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: Harness personal or service access token
        example: Quasi similique cum esse.
        in: header
        name: X-Api-Key
        schema:
          description: Harness personal or service access token
          example: Sed consectetur qui vel esse.
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                action: create
                commentUrl: Ipsa consequuntur reiciendis accusamus.
                disabled: true
                disabledReason: Et cupiditate.
                pullRequestNumber: 2763852286008527400
                pullRequestUrl: Eius adipisci totam iste.
                remediationCodeEnd: 6221449838524409000
                remediationCodePath: Minima vel at.
                remediationCodeStart: 7379396817082047000
                remediationIndent: 5096973484410402000
                targetBranch: Sit modi sed suscipit.
              schema:
                $ref: '#/components/schemas/PullRequestActionResult'
          description: OK response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'InternalServerError: Internal Server Error response.'
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_issue_view
      tags:
      - Pull Requests
      summary: Pull Requests#Get pull request action
      x-summary-source: derived
  /sto/api/v2/pull-requests/repositories/pulls/correlation:
    x-internal: true
    get:
      description: Determine if a path is correlated to a Pull Request.
      operationId: Pull Requests#GetPullRequestCorrelation
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: Harness Organization ID
        example: example_org
        in: query
        name: orgId
        schema:
          description: Harness Organization ID
          example: example_org
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Harness Project ID
        example: example_project
        in: query
        name: projectId
        schema:
          description: Harness Project ID
          example: example_project
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        example: Github
        in: query
        name: provider
        required: true
        schema:
          example: Github
          type: string
      - allowEmptyValue: true
        example: Dignissimos rem libero rem quia.
        in: query
        name: repositoryPath
        required: true
        schema:
          example: Beatae corrupti iure nobis ad nemo.
          type: string
      - allowEmptyValue: true
        example: 11
        in: query
        name: pullRequestNumber
        required: true
        schema:
          example: 11
          format: int64
          minimum: 1
          type: integer
      - allowEmptyValue: true
        example: path/to/code
        in: query
        name: codePath
        required: true
        schema:
          example: path/to/code
          type: string
      - allowEmptyValue: true
        description: Harness personal or service access token
        example: Ipsum consequuntur.
        in: header
        name: X-Api-Key
        schema:
          description: Harness personal or service access token
          example: Odio dolorem voluptate quod accusantium et illo.
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                isCorrelated: true
              schema:
                $ref: '#/components/schemas/PullRequestCorrelationResult'
          description: OK response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'InternalServerError: Internal Server Error response.'
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_issue_view
      summary: GetPullRequestCorrelation Pull Requests
      tags:
      - Pull Requests
components:
  schemas:
    PullRequestCorrelationResult:
      type: object
      properties:
        isCorrelated:
          type: boolean
          description: True if the path is correlated to the Pull Request
          example: true
      example:
        isCorrelated: true
      required:
      - isCorrelated
    ListPullRequestsResult:
      type: object
      properties:
        pullRequests:
          type: array
          items:
            $ref: '#/components/schemas/PullRequestResult'
          description: The list of Pull Requests
          example:
          - commentUrl: https://github.com/owner/repo/pull/1#discussion_r12345
            pullRequestNumber: 8306337910837321000
            pullRequestUrl: Libero a quasi distinctio dignissimos voluptas.
            sourceBranch: feat/shiny-object
          - commentUrl: https://github.com/owner/repo/pull/1#discussion_r12345
            pullRequestNumber: 8306337910837321000
            pullRequestUrl: Libero a quasi distinctio dignissimos voluptas.
            sourceBranch: feat/shiny-object
          - commentUrl: https://github.com/owner/repo/pull/1#discussion_r12345
            pullRequestNumber: 8306337910837321000
            pullRequestUrl: Libero a quasi distinctio dignissimos voluptas.
            sourceBranch: feat/shiny-object
          - commentUrl: https://github.com/owner/repo/pull/1#discussion_r12345
            pullRequestNumber: 8306337910837321000
            pullRequestUrl: Libero a quasi distinctio dignissimos voluptas.
            sourceBranch: feat/shiny-object
      example:
        pullRequests:
        - commentUrl: https://github.com/owner/repo/pull/1#discussion_r12345
          pullRequestNumber: 8306337910837321000
          pullRequestUrl: Libero a quasi distinctio dignissimos voluptas.
          sourceBranch: feat/shiny-object
        - commentUrl: https://github.com/owner/repo/pull/1#discussion_r12345
          pullRequestNumber: 8306337910837321000
          pullRequestUrl: Libero a quasi distinctio dignissimos voluptas.
          sourceBranch: feat/shiny-object
        - commentUrl: https://github.com/owner/repo/pull/1#discussion_r12345
          pullRequestNumber: 8306337910837321000
          pullRequestUrl: Libero a quasi distinctio dignissimos voluptas.
          sourceBranch: feat/shiny-object
        - commentUrl: https://github.com/owner/repo/pull/1#discussion_r12345
          pullRequestNumber: 8306337910837321000
          pullRequestUrl: Libero a quasi distinctio dignissimos voluptas.
          sourceBranch: feat/shiny-object
      required:
      - pullRequests
    PullRequestActionResult:
      type: object
      properties:
        action:
          type: string
          description: 'The PR action to display: create, suggestFix, display, or none'
          example: create
          enum:
          - create
          - suggestFix
          - display
          - none
        commentUrl:
          type: string
          description: Direct URL to the suggestion comment (for display action after suggestFix)
          example: Omnis a et minima.
        disabled:
          type: boolean
          description: If true, the action button should be shown but disabled
          example: true
        disabledReason:
          type: string
          description: Reason the action is disabled (e.g., missing targetBranch)
          example: Voluptas quas voluptas molestiae.
        pullRequestNumber:
          type: integer
          description: The PR number (for display or suggestFix actions)
          example: 6143380561644283000
          format: int64
        pullRequestUrl:
          type: string
          description: The full URL of the PR (for display action)
          example: Repellendus non omnis sint aut provident qui.
        remediationCodeEnd:
          type: integer
          description: End line of the vulnerable code in the file
          example: 5953713228336444000
          format: int64
        remediationCodePath:
          type: string
          description: The file path for the remediation code, resolved from the occurrence
          example: Et veniam.
        remediationCodeStart:
          type: integer
          description: Start line of the vulnerable code in the file
          example: 1178746521193833500
          format: int64
        remediationIndent:
          type: integer
          description: Column indentation of the vulnerable code
          example: 90806246068595170
          format: int64
        targetBranch:
          type: string
          description: The target branch for PR creation
          example: Consequuntur sint.
      example:
        action: create
        commentUrl: Facere ad et.
        disabled: false
        disabledReason: Velit non vitae temporibus sint quos.
        pullRequestNumber: 7122648108017002000
        pullRequestUrl: Cum atque quod veniam.
        remediationCodeEnd: 7170296092052989000
        remediationCodePath: Illum vitae.
        remediationCodeStart: 8366024990254138000
        remediationIndent: 6806766877946329000
        targetBranch: Aut necessitatibus temporibus unde iure.
      required:
      - action
    UpdatePullRequestRequestBody:
      type: object
      properties:
        id:
          type: string
          description: The ID of the Security Issue to create a Pull Request for
          example: 1234567890abcdefghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        occurrenceId:
          type: integer
          example: 12345
          format: int64
          minimum: 1
        pipelineUrl:
          type: string
          example: https://app.harness.io/path/to/pipeline
        pullRequestNumber:
          type: integer
          example: 11
          format: int64
          minimum: 1
        remediationCode:
          type: string
          example: "func example() int {\n  return 0\n}"
        remediationCodeEnd:
          type: integer
          example: 16
          format: int64
        remediationCodePath:
          type: string
          example: path/to/code
        remediationCodeStart:
          type: integer
          example: 14
          format: int64
        remediationContext:
          type: string
          example: Context to the function.
        remediationIndent:
          type: integer
          example: 9
          format: int64
        scanId:
          type: string
          description: The Security Scan execution that detected this Security Issue
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        vulnerableCode:
          type: string
          example: "func example() int {\n  return 0\n}"
      example:
        id: 1234567890abcdefghijkl
        occurrenceId: 12345
        pipelineUrl: https://app.harness.io/path/to/pipeline
        pullRequestNumber: 11
        remediationCode: "func example() int {\n  return 0\n}"
        remediationCodeEnd: 16
        remediationCodePath: path/to/code
        remediationCodeStart: 14
        remediationContext: Context to the function.
        remediationIndent: 9
        scanId: abcdef1234567890ghijkl
        vulnerableCode: "func example() int {\n  return 0\n}"
      required:
      - pipelineUrl
      - id
      - occurrenceId
      - scanId
      - vulnerableCode
      - remediationCode
      - remediationCodePath
      - remediationCodeStart
      - remediationCodeEnd
      - remediationContext
      - pullRequestNumber
    CreatePullRequestRequestBody:
      type: object
      properties:
        branch:
          type: string
          example: develop
        description:
          type: string
          example: A description of the Pull Request.
        id:
          type: string
          description: The ID of the Security Issue to create a Pull Request for
          example: 1234567890abcdefghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        occurrenceId:
          type: integer
          example: 12345
          format: int64
          minimum: 1
        pipelineUrl:
          type: string
          example: https://app.harness.io/path/to/pipeline
        remediationCode:
          type: string
          example: "func example() int {\n  return 0\n}"
        remediationCodeEnd:
          type: integer
          example: 16
          format: int64
        remediationCodePath:
          type: string
          example: path/to/code
        remediationCodeStart:
          type: integer
          example: 14
          format: int64
        remediationContext:
          type: string
          example: Context to the function.
        remediationIndent:
          type: integer
          example: 9
          format: int64
        scanId:
          type: string
          description: The Security Scan execution that detected this Security Issue
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        vulnerableCode:
          type: string
          example: "func example() int {\n  return 0\n}"
      example:
        branch: develop
        description: A description of the Pull Request.
        id: 1234567890abcdefghijkl
        occurrenceId: 12345
        pipelineUrl: https://app.harness.io/path/to/pipeline
        remediationCode: "func example() int {\n  return 0\n}"
        remediationCodeEnd: 16
        remediationCodePath: path/to/code
        remediationCodeStart: 14
        remediationContext: Context to the function.
        remediationIndent: 9
        scanId: abcdef1234567890ghijkl
        vulnerableCode: "func example() int {\n  return 0\n}"
      required:
      - pipelineUrl
      - id
      - occurrenceId
      - scanId
      - vulnerableCode
      - remediationCode
      - remediationCodePath
      - remediationCodeStart
      - remediationCodeEnd
      - remediationContext
      - description
      - branch
    NotFound:
      type: object
      properties:
        message:
          type: string
          example: Not Found
        status:
          type: integer
          default: 404
          example: 404
          format: int64
      example:
        message: Not Found
        status: 404
      required:
      - message
    PullRequestResult:
      type: object
      properties:
        commentUrl:
          type: string
          description: Direct URL to the suggestion comment (returned by UpdatePullRequest)
          example: https://github.com/owner/repo/pull/1#discussion_r12345
        pullRequestNumber:
          type: integer
          description: The number of the Pull Request
          example: 7718866242012519000
          format: int64
        pullRequestUrl:
          type: string
          description: The URL of the Pull Request
          example: Maiores dolore et repellat voluptatem voluptates assumenda.
        sourceBranch:
          type: string
          description: The source branch of the Pull Request
          example: feat/shiny-object
      example:
        commentUrl: https://github.com/owner/repo/pull/1#discussion_r12345
        pullRequestNumber: 7075973751235801000
        pullRequestUrl: Voluptas doloribus accusantium.
        sourceBranch: feat/shiny-object
      required:
      - sourceBranch
      - pullRequestNumber
      - pullRequestUrl
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
