openapi: 3.2.0
info:
  title: Harness Overrides API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Overrides
  description: This contains APIs related to Overrides
paths:
  /ng/api/overrides:
    put:
      tags:
      - Overrides
      summary: Update an Override Entity
      operationId: updateOverride
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      requestBody:
        description: Details of the Override to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OverrideRequest'
            examples:
              Update:
                summary: Sample Override update request
                description: Sample Override Request
                value:
                  orgIdentifier: defaultOrgId
                  projectIdentifier: defaultProjId
                  environmentRef: defaultEnvRef
                  serviceRef: defaultServiceRef
                  infraIdentifier: defaultInfraId
                  type: ENV_SERVICE_OVERRIDE
                  yaml: "overrides:\n  variables:\n    - name: v1\n      type: String\n      value: val1\n  manifests:\n    - manifest:\n        identifier: manifest1\n        type: K8sManifest\n        spec:\n          store:\n            type: Github\n            spec:\n              connectorRef: abcdConnector\n              gitFetchType: Branch\n              paths:\n                - files1\n              repoName: abcd\n              branch: master\n          skipResourceVersioning: false\n  configFiles:\n    - configFile:\n        identifier: configFile1\n        spec:\n          store:\n            type: Harness\n            spec:\n              files:\n                - /abcd\n"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns the updated Override
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOOverrideResponse'
    post:
      tags:
      - Overrides
      summary: Create an Override Entity
      operationId: createOverride
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      requestBody:
        description: Details of the Override to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OverrideRequest'
            examples:
              Create:
                summary: Sample Override update request
                description: Sample Override Request
                value:
                  orgIdentifier: defaultOrgId
                  projectIdentifier: defaultProjId
                  environmentRef: defaultEnvRef
                  serviceRef: defaultServiceRef
                  infraIdentifier: defaultInfraId
                  type: ENV_SERVICE_OVERRIDE
                  yaml: "overrides:\n  variables:\n    - name: v1\n      type: String\n      value: val1\n  manifests:\n    - manifest:\n        identifier: manifest1\n        type: K8sManifest\n        spec:\n          store:\n            type: Github\n            spec:\n              connectorRef: abcdConnector\n              gitFetchType: Branch\n              paths:\n                - files1\n              repoName: abcd\n              branch: master\n          skipResourceVersioning: false\n  configFiles:\n    - configFile:\n        identifier: configFile1\n        spec:\n          store:\n            type: Harness\n            spec:\n              files:\n                - /abcd\n"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns the created Override
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOOverrideResponse'
  /ng/api/overrides/{identifier}:
    get:
      tags:
      - Overrides
      summary: Gets Overrides by Identifier
      operationId: getOverridesViaIdentifier
      parameters:
      - name: identifier
        in: path
        description: Identifier of the Override Entity.
        required: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns the Override by the identifier and scope derived from accountId, org identifier and project identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOOverrideResponse'
    delete:
      tags:
      - Overrides
      summary: Delete a Override entity
      operationId: deleteOverride
      parameters:
      - name: identifier
        in: path
        description: Identifier of the Override Entity.
        required: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns true if the Override is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
  /ng/api/overrides/move-config:
    post:
      tags:
      - Overrides
      summary: Move Override YAML from inline to remote or remote to inline
      operationId: OverrideMoveConfigs
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: connectorRef
        in: query
        description: Identifier of Connector needed for CRUD operations on the respective Entity
        schema:
          type: string
      - name: repoName
        in: query
        description: Name of the repository.
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: filePath
        in: query
        description: File Path of the Entity.
        schema:
          type: string
      - name: commitMsg
        in: query
        description: File Path of the Entity.
        schema:
          type: string
      - name: isNewBranch
        in: query
        description: Checks the new branch
        schema:
          type: boolean
          default: false
      - name: baseBranch
        in: query
        description: Name of the default branch.
        schema:
          type: string
      - name: isHarnessCodeRepo
        in: query
        description: Is Harness code repo enabled
        schema:
          type: boolean
          default: false
      - name: moveConfigType
        in: query
        description: Tells weather the entity has to be moved from inline to remote or remote to inline
        schema:
          type: string
          enum:
          - INLINE_TO_REMOTE
          - REMOTE_TO_INLINE
      - name: environmentRef
        in: query
        description: Environment Reference for the Entity.
        schema:
          type: string
      - name: serviceRef
        in: query
        description: Service Reference for Entity
        schema:
          type: string
      - name: infraIdentifier
        in: query
        description: infraIdentifier
        schema:
          type: string
      - name: serviceOverridesType
        in: query
        description: Type of the override which is based on source of overrides
        schema:
          type: string
          enum:
          - ENV_GLOBAL_OVERRIDE
          - ENV_SERVICE_OVERRIDE
          - INFRA_GLOBAL_OVERRIDE
          - INFRA_SERVICE_OVERRIDE
          - CLUSTER_GLOBAL_OVERRIDE
          - CLUSTER_SERVICE_OVERRIDE
      - name: identifier
        in: query
        description: Service Overrides Identifier. Can be user-provided during creation; if omitted, auto-generated from environmentRef, serviceRef, and infraIdentifier based on override type.
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Fetches Override YAML from Harness DB and creates a remote entity or Fetches Override YAML from remote repository and creates a inline entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOServiceOverrideMoveConfigResponse'
  /ng/api/overrides/update-git-metadata:
    put:
      tags:
      - Overrides
      summary: Update git-metadata in remote Override Entity
      description: Update git-metadata in remote Override and returns the identifier of updated Override
      operationId: updateOverrideGitDetails
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        schema:
          type: string
      - name: identifier
        in: query
        description: Service Overrides Identifier. Can be user-provided during creation; if omitted, auto-generated from environmentRef, serviceRef, and infraIdentifier based on override type.
        schema:
          type: string
      - name: environmentRef
        in: query
        description: Environment Reference for the Entity.
        schema:
          type: string
      - name: serviceRef
        in: query
        description: Service Reference for Entity
        schema:
          type: string
      - name: infraIdentifier
        in: query
        description: infraIdentifier
        schema:
          type: string
      - name: serviceOverridesType
        in: query
        description: Type of the override which is based on source of overrides
        schema:
          type: string
          enum:
          - ENV_GLOBAL_OVERRIDE
          - ENV_SERVICE_OVERRIDE
          - INFRA_GLOBAL_OVERRIDE
          - INFRA_SERVICE_OVERRIDE
          - CLUSTER_GLOBAL_OVERRIDE
          - CLUSTER_SERVICE_OVERRIDE
      - name: connectorRef
        in: query
        description: Identifier of Connector needed for CRUD operations on the respective Entity
        schema:
          $ref: '#/components/schemas/GitMetadataUpdateRequestInfo'
      - name: repoName
        in: query
        description: Name of the repository.
        schema:
          $ref: '#/components/schemas/GitMetadataUpdateRequestInfo'
      - name: filePath
        in: query
        description: File Path of the Entity.
        schema:
          $ref: '#/components/schemas/GitMetadataUpdateRequestInfo'
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error1'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error1'
        default:
          description: Returns identifier and associated environmentRef, serviceRef and infraIdentifier of updated Override
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOServiceOverrideGitUpdateResponse'
  /sto/api/v2/overrides:
    get:
      tags:
      - Overrides
      description: List a collection of Overrides
      operationId: Overrides#ListOverrides
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: page
        in: query
        description: Page number to fetch (starting from 0)
        allowEmptyValue: true
        schema:
          type: integer
          description: Page number to fetch (starting from 0)
          default: 0
          example: 4
          format: int64
          minimum: 0
        example: 4
      - name: pageSize
        in: query
        description: Number of results per page
        allowEmptyValue: true
        schema:
          type: integer
          description: Number of results per page
          default: 30
          example: 50
          format: int64
          minimum: 1
          maximum: 100
        example: 50
      - name: orgId
        in: query
        description: Harness Organization ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Organization ID
          example: example_org
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_org
      - name: projectId
        in: query
        description: Harness Project ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Project ID
          example: example_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_project
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Voluptas delectus quia.
        example: Quia nam error doloremque nesciunt est.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverridesListOverridesResponseBody'
              example:
                pagination:
                  link: ''
                  page: 4
                  pageSize: 20
                  totalItems: 230
                  totalPages: 12
                results:
                - approverId: user111111111111111111
                  created: 1651578240
                  id: abcdef1234567890ghijkl
                  isDeleted: true
                  issueId: abcdef1234567890ghijkl
                  lastModified: 1651578240
                  link: https://example.com/ABC-1234
                  occurrences:
                  - 42
                  - 666
                  orgId: example_org
                  overrideFieldName: severity
                  overrideFieldValue: Low
                  pipelineId: example_pipeline
                  projectId: example_project
                  reason: Waiting on upstream bug fix
                  requesterId: user111111111111111111
                  scanId: abcdef1234567890ghijkl
                  scope: PROJECT
                  search: CWE-123,5
                  status: Approved
                  targetId: abcdef1234567890ghijkl
                - approverId: user111111111111111111
                  created: 1651578240
                  id: abcdef1234567890ghijkl
                  isDeleted: true
                  issueId: abcdef1234567890ghijkl
                  lastModified: 1651578240
                  link: https://example.com/ABC-1234
                  occurrences:
                  - 42
                  - 666
                  orgId: example_org
                  overrideFieldName: severity
                  overrideFieldValue: Low
                  pipelineId: example_pipeline
                  projectId: example_project
                  reason: Waiting on upstream bug fix
                  requesterId: user111111111111111111
                  scanId: abcdef1234567890ghijkl
                  scope: PROJECT
                  search: CWE-123,5
                  status: Approved
                  targetId: abcdef1234567890ghijkl
                - approverId: user111111111111111111
                  created: 1651578240
                  id: abcdef1234567890ghijkl
                  isDeleted: true
                  issueId: abcdef1234567890ghijkl
                  lastModified: 1651578240
                  link: https://example.com/ABC-1234
                  occurrences:
                  - 42
                  - 666
                  orgId: example_org
                  overrideFieldName: severity
                  overrideFieldValue: Low
                  pipelineId: example_pipeline
                  projectId: example_project
                  reason: Waiting on upstream bug fix
                  requesterId: user111111111111111111
                  scanId: abcdef1234567890ghijkl
                  scope: PROJECT
                  search: CWE-123,5
                  status: Approved
                  targetId: abcdef1234567890ghijkl
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Not Found
                status: 404
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_issue_view
      summary: Overrides#List overrides
      x-summary-source: derived
    post:
      tags:
      - Overrides
      description: Create a new Override
      operationId: Overrides#CreateOverride
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: orgId
        in: query
        description: Harness Organization ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Organization ID
          example: example_org
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        examples:
          default:
            summary: default
            value: example_org
      - name: projectId
        in: query
        description: Harness Project ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Project ID
          example: example_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        examples:
          default:
            summary: default
            value: example_project
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Ut excepturi quis repellendus suscipit voluptas incidunt.
        example: Commodi soluta et mollitia suscipit.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOverrideRequestBody'
            example:
              issueId: abcdef1234567890ghijkl
              link: https://example.com/ABC-1234
              occurrences:
              - 42
              - 666
              overrideFieldName: severity
              overrideFieldValue: Low
              overrideFutureOccurrences: false
              pipelineId: example_pipeline
              reason: Waiting on upstream bug fix
              requesterId: user111111111111111111
              scanId: abcdef1234567890ghijkl
              search: CWE-123,5
              targetId: abcdef1234567890ghijkl
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDResult'
              example:
                id: abcdef1234567890ghijkl
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_issue_view
      summary: Overrides#Create override
      x-summary-source: derived
  /sto/api/v2/overrides/{id}:
    delete:
      description: Delete an existing Override
      operationId: Overrides#DeleteOverride
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: Harness Organization ID
        examples:
          default:
            summary: default
            value: example_org
        in: query
        name: orgId
        schema:
          description: Harness Organization ID
          example: example_org
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Harness Project ID
        examples:
          default:
            summary: default
            value: example_project
        in: query
        name: projectId
        schema:
          description: Harness Project ID
          example: example_project
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - description: The ID of the Override to delete
        example: abcdef1234567890ghijkl
        in: path
        name: id
        required: true
        schema:
          description: The ID of the Override to delete
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      requestBody:
        content:
          application/json:
            example:
              overrideFieldName: severity
            schema:
              $ref: '#/components/schemas/DeleteOverrideRequestBody'
        required: true
      responses:
        '204':
          description: No Content response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '404':
          content:
            application/json:
              example:
                message: Not Found
                status: 404
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'NotFound: Not Found response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'InternalServerError: Internal Server Error response.'
      security:
      - jwt_header_Authorization:
        - sto_issue_view
      tags:
      - Overrides
      x-internal: true
      summary: Overrides#Delete override
      x-summary-source: derived
    get:
      tags:
      - Overrides
      description: Find Override by ID
      operationId: Overrides#FindOverrideById
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: orgId
        in: query
        description: Harness Organization ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Organization ID
          example: example_org
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        examples:
          default:
            summary: default
            value: example_org
      - name: projectId
        in: query
        description: Harness Project ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Project ID
          example: example_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        examples:
          default:
            summary: default
            value: example_project
      - name: executionId
        in: query
        description: Harness Execution ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Execution ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: id
        in: path
        description: The ID of the Override to retrieve
        required: true
        schema:
          type: string
          description: The ID of the Override to retrieve
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Aperiam a et.
        example: Laborum rerum nesciunt quibusdam.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Override'
              example:
                approverId: user111111111111111111
                created: 1651578240
                id: abcdef1234567890ghijkl
                isDeleted: true
                issueId: abcdef1234567890ghijkl
                lastModified: 1651578240
                link: https://example.com/ABC-1234
                occurrences:
                - 42
                - 666
                orgId: example_org
                overrideFieldName: severity
                overrideFieldValue: Low
                pipelineId: example_pipeline
                projectId: example_project
                reason: Waiting on upstream bug fix
                requesterId: user111111111111111111
                scanId: abcdef1234567890ghijkl
                scope: PROJECT
                search: CWE-123,5
                status: Approved
                targetId: abcdef1234567890ghijkl
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Not Found
                status: 404
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_issue_view
      summary: Overrides#Find override by id
      x-summary-source: derived
    put:
      tags:
      - Overrides
      description: Update an existing Override
      operationId: Overrides#UpdateOverride
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: orgId
        in: query
        description: Harness Organization ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Organization ID
          example: example_org
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        examples:
          default:
            summary: default
            value: example_org
      - name: projectId
        in: query
        description: Harness Project ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Project ID
          example: example_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        examples:
          default:
            summary: default
            value: example_project
      - name: id
        in: path
        description: The ID of the Override to update
        required: true
        schema:
          type: string
          description: The ID of the Override to update
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Delectus rerum qui quis.
        example: Aut repudiandae tenetur itaque.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOverrideRequestBody'
            example:
              link: https://example.com/ABC-1234
              overrideFieldName: severity
              overrideFieldValue: Low
              pipelineId: example_pipeline
              reason: Waiting on upstream bug fix
              requesterId: user111111111111111111
              targetId: abcdef1234567890ghijkl
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Override'
              example:
                approverId: user111111111111111111
                created: 1651578240
                id: abcdef1234567890ghijkl
                isDeleted: true
                issueId: abcdef1234567890ghijkl
                lastModified: 1651578240
                link: https://example.com/ABC-1234
                occurrences:
                - 42
                - 666
                orgId: example_org
                overrideFieldName: severity
                overrideFieldValue: Low
                pipelineId: example_pipeline
                projectId: example_project
                reason: Waiting on upstream bug fix
                requesterId: user111111111111111111
                scanId: abcdef1234567890ghijkl
                scope: PROJECT
                search: CWE-123,5
                status: Approved
                targetId: abcdef1234567890ghijkl
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Not Found
                status: 404
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_issue_view
      summary: Overrides#Update override
      x-summary-source: derived
components:
  schemas:
    FeatureSupportOrBuilder:
      type: object
      properties:
        editionIntroduced:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        editionDeprecated:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        deprecationWarning:
          type: string
        deprecationWarningBytes:
          $ref: '#/components/schemas/ByteString'
        editionRemoved:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ResponseDTOBoolean:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          type: boolean
        metaData:
          type: object
        correlationId:
          type: string
    ParserMessage:
      type: object
    DeclarationOrBuilder:
      type: object
      properties:
        reserved:
          type: boolean
        fullNameBytes:
          $ref: '#/components/schemas/ByteString'
        type:
          type: string
        number:
          type: integer
          format: int32
        fullName:
          type: string
        repeated:
          type: boolean
        typeBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    FeatureSetOrBuilder:
      type: object
      properties:
        enumType:
          type: string
          enum:
          - ENUM_TYPE_UNKNOWN
          - OPEN
          - CLOSED
        jsonFormat:
          type: string
          enum:
          - JSON_FORMAT_UNKNOWN
          - ALLOW
          - LEGACY_BEST_EFFORT
        messageEncoding:
          type: string
          enum:
          - MESSAGE_ENCODING_UNKNOWN
          - LENGTH_PREFIXED
          - DELIMITED
        utf8Validation:
          type: string
          enum:
          - UTF8_VALIDATION_UNKNOWN
          - VERIFY
          - NONE
        fieldPresence:
          type: string
          enum:
          - FIELD_PRESENCE_UNKNOWN
          - EXPLICIT
          - IMPLICIT
          - LEGACY_REQUIRED
        repeatedFieldEncoding:
          type: string
          enum:
          - REPEATED_FIELD_ENCODING_UNKNOWN
          - PACKED
          - EXPANDED
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ParserFeatureSupport:
      type: object
    ServiceOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    EnumReservedRangeOrBuilder:
      type: object
      properties:
        start:
          type: integer
          format: int32
        end:
          type: integer
          format: int32
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ParserEnumValueOptions:
      type: object
    ParserFieldDescriptorProto:
      type: object
    FieldOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        editionDefaultsOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EditionDefaultOrBuilder'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        packed:
          type: boolean
        jstype:
          type: string
          enum:
          - JS_NORMAL
          - JS_STRING
          - JS_NUMBER
        lazy:
          type: boolean
        unverifiedLazy:
          type: boolean
        weak:
          type: boolean
        debugRedact:
          type: boolean
        retention:
          type: string
          enum:
          - RETENTION_UNKNOWN
          - RETENTION_RUNTIME
          - RETENTION_SOURCE
        targetsList:
          type: array
          items:
            type: string
            enum:
            - TARGET_TYPE_UNKNOWN
            - TARGET_TYPE_FILE
            - TARGET_TYPE_EXTENSION_RANGE
            - TARGET_TYPE_MESSAGE
            - TARGET_TYPE_FIELD
            - TARGET_TYPE_ONEOF
            - TARGET_TYPE_ENUM
            - TARGET_TYPE_ENUM_ENTRY
            - TARGET_TYPE_SERVICE
            - TARGET_TYPE_METHOD
        targetsCount:
          type: integer
          format: int32
        editionDefaultsList:
          type: array
          items:
            $ref: '#/components/schemas/EditionDefault'
        editionDefaultsCount:
          type: integer
          format: int32
        featureSupport:
          $ref: '#/components/schemas/FeatureSupport'
        featureSupportOrBuilder:
          $ref: '#/components/schemas/FeatureSupportOrBuilder'
        ctype:
          type: string
          enum:
          - STRING
          - CORD
          - STRING_PIECE
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    EnumValueDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        number:
          type: integer
          format: int32
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/EnumValueOptions'
        defaultInstanceForType:
          $ref: '#/components/schemas/EnumValueDescriptorProto'
        parserForType:
          $ref: '#/components/schemas/ParserEnumValueDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        optionsOrBuilder:
          $ref: '#/components/schemas/EnumValueOptionsOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ParserReservedRange:
      type: object
    CvDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/MessageOptions'
        fieldCount:
          type: integer
          format: int32
        defaultInstanceForType:
          $ref: '#/components/schemas/CvDescriptorProto'
        reservedRangeList:
          type: array
          items:
            $ref: '#/components/schemas/ReservedRange'
        reservedNameList:
          type: array
          properties:
            empty:
              type: boolean
          items:
            type: string
        extensionRangeList:
          type: array
          items:
            $ref: '#/components/schemas/ExtensionRange'
        oneofDeclCount:
          type: integer
          format: int32
        nestedTypeCount:
          type: integer
          format: int32
        enumTypeCount:
          type: integer
          format: int32
        extensionCount:
          type: integer
          format: int32
        extensionRangeCount:
          type: integer
          format: int32
        parserForType:
          $ref: '#/components/schemas/ParserDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        enumTypeList:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptorProto'
        extensionList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProto'
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        enumTypeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptorProtoOrBuilder'
        extensionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProtoOrBuilder'
        optionsOrBuilder:
          $ref: '#/components/schemas/MessageOptionsOrBuilder'
        fieldList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProto'
        nestedTypeList:
          type: array
          items:
            $ref: '#/components/schemas/CvDescriptorProto'
        oneofDeclList:
          type: array
          items:
            $ref: '#/components/schemas/OneofDescriptorProto'
        reservedRangeCount:
          type: integer
          format: int32
        reservedNameCount:
          type: integer
          format: int32
        fieldOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProtoOrBuilder'
        nestedTypeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/DescriptorProtoOrBuilder'
        extensionRangeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/ExtensionRangeOrBuilder'
        oneofDeclOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/OneofDescriptorProtoOrBuilder'
        reservedRangeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/ReservedRangeOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    EnumValueOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        debugRedact:
          type: boolean
        featureSupport:
          $ref: '#/components/schemas/FeatureSupport'
        featureSupportOrBuilder:
          $ref: '#/components/schemas/FeatureSupportOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ExtensionRangeOptionsOrBuilder:
      type: object
      properties:
        declarationOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/DeclarationOrBuilder'
        features:
          $ref: '#/components/schemas/FeatureSet'
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        declarationCount:
          type: integer
          format: int32
        verification:
          type: string
          enum:
          - DECLARATION
          - UNVERIFIED
        declarationList:
          type: array
          items:
            $ref: '#/components/schemas/CvDeclaration'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    PolicySetMetadataOrBuilder:
      type: object
      properties:
        deny:
          type: boolean
        statusBytes:
          $ref: '#/components/schemas/ByteString'
        policySetId:
          type: string
        policyMetadataList:
          type: array
          items:
            $ref: '#/components/schemas/CvPolicyMetadata'
        policySetName:
          type: string
        policyMetadataCount:
          type: integer
          format: int32
        policySetIdBytes:
          $ref: '#/components/schemas/ByteString'
        policyMetadataOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/PolicyMetadataOrBuilder'
        policySetNameBytes:
          $ref: '#/components/schemas/ByteString'
        description:
          type: string
        identifier:
          type: string
        orgId:
          type: string
        status:
          type: string
        created:
          type: integer
          format: int64
        accountId:
          type: string
        projectId:
          type: string
        accountIdBytes:
          $ref: '#/components/schemas/ByteString'
        identifierBytes:
          $ref: '#/components/schemas/ByteString'
        projectIdBytes:
          $ref: '#/components/schemas/ByteString'
        orgIdBytes:
          $ref: '#/components/schemas/ByteString'
        descriptionBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    NamePartOrBuilder:
      type: object
      properties:
        namePart:
          type: string
        isExtension:
          type: boolean
        namePartBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    Parser:
      type: object
    ParserEditionDefault:
      type: object
    FileOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        javaStringCheckUtf8:
          type: boolean
        optimizeFor:
          type: string
          enum:
          - SPEED
          - CODE_SIZE
          - LITE_RUNTIME
        goPackage:
          type: string
        goPackageBytes:
          $ref: '#/components/schemas/ByteString'
        ccGenericServices:
          type: boolean
        javaGenericServices:
          type: boolean
        pyGenericServices:
          type: boolean
        deprecated:
          type: boolean
        ccEnableArenas:
          type: boolean
        objcClassPrefix:
          type: string
        objcClassPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        csharpNamespace:
          type: string
        csharpNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        swiftPrefix:
          type: string
        swiftPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        phpClassPrefix:
          type: string
        javaPackage:
          type: string
        javaPackageBytes:
          $ref: '#/components/schemas/ByteString'
        javaOuterClassname:
          type: string
        javaOuterClassnameBytes:
          $ref: '#/components/schemas/ByteString'
        javaMultipleFiles:
          type: boolean
        javaGenerateEqualsAndHash:
          type: boolean
        phpClassPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        phpNamespace:
          type: string
        phpNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        phpMetadataNamespace:
          type: string
        phpMetadataNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        rubyPackage:
          type: string
        rubyPackageBytes:
          $ref: '#/components/schemas/ByteString'
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    OverrideResponse:
      type: object
      properties:
        identifier:
          type: string
        accountId:
          type: string
        orgIdentifier:
          type: string
        projectIdentifier:
          type: string
        environmentRef:
          type: string
        serviceRef:
          type: string
        infraIdentifier:
          type: string
        clusterIdentifier:
          type: string
        type:
          type: string
          enum:
          - ENV_GLOBAL_OVERRIDE
          - ENV_SERVICE_OVERRIDE
          - INFRA_GLOBAL_OVERRIDE
          - INFRA_SERVICE_OVERRIDE
          - CLUSTER_GLOBAL_OVERRIDE
          - CLUSTER_SERVICE_OVERRIDE
        isNewlyCreated:
          type: boolean
          writeOnly: true
        yaml:
          type: string
        governanceMetadata:
          $ref: '#/components/schemas/GovernanceMetadata2'
        newlyCreated:
          type: boolean
      description: This is the Override Response entity defined in Harness
    OneofDescriptor:
      type: object
      properties:
        index:
          type: integer
          format: int32
        proto:
          $ref: '#/components/schemas/OneofDescriptorProto'
        options:
          $ref: '#/components/schemas/OneofOptions'
        fullName:
          type: string
        file:
          $ref: '#/components/schemas/FileDescriptor'
        containingType:
          $ref: '#/components/schemas/CvDescriptor'
        fieldCount:
          type: integer
          format: int32
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptor'
        name:
          type: string
    FeatureSet:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        initialized:
          type: boolean
        defaultInstanceForType:
          $ref: '#/components/schemas/FeatureSet'
        enumType:
          type: string
          enum:
          - ENUM_TYPE_UNKNOWN
          - OPEN
          - CLOSED
        jsonFormat:
          type: string
          enum:
          - JSON_FORMAT_UNKNOWN
          - ALLOW
          - LEGACY_BEST_EFFORT
        parserForType:
          $ref: '#/components/schemas/ParserFeatureSet'
        serializedSize:
          type: integer
          format: int32
        messageEncoding:
          type: string
          enum:
          - MESSAGE_ENCODING_UNKNOWN
          - LENGTH_PREFIXED
          - DELIMITED
        utf8Validation:
          type: string
          enum:
          - UTF8_VALIDATION_UNKNOWN
          - VERIFY
          - NONE
        fieldPresence:
          type: string
          enum:
          - FIELD_PRESENCE_UNKNOWN
          - EXPLICIT
          - IMPLICIT
          - LEGACY_REQUIRED
        repeatedFieldEncoding:
          type: string
          enum:
          - REPEATED_FIELD_ENCODING_UNKNOWN
          - PACKED
          - EXPANDED
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        allFieldsRaw:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    Override:
      type: object
      properties:
        approverId:
          type: string
          description: User ID of the user who approved this Exemption
          example: user111111111111111111
        created:
          type: integer
          description: Unix timestamp at which the resource was created
          example: 1651578240
          format: int64
        id:
          type: string
          description: Resource identifier
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        isDeleted:
          type: boolean
          description: States if the override is deleted
          default: false
          example: true
        issueId:
          type: string
          description: The ID of the Security Issue
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        lastModified:
          type: integer
          description: Unix timestamp at which the resource was most recently modified
          example: 1651578240
          format: int64
        link:
          type: string
          description: Link to a related ticket
          example: https://example.com/ABC-1234
          maxLength: 1024
        occurrences:
          type: array
          items:
            type: integer
            example: 9001076306294176000
            format: int64
          description: Array of occurrence Ids
          example:
          - 42
          - 666
        orgId:
          type: string
          description: Harness Organization ID
          example: example_org
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        overrideFieldName:
          type: string
          description: Name of the field that is being overridden
          example: severity
          maxLength: 1024
        overrideFieldValue:
          type: string
          description: Value of the field that is being overridden
          example: Low
          maxLength: 1024
        pipelineId:
          type: string
          description: Harness Pipeline ID
          example: example_pipeline
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        projectId:
          type: string
          description: Harness Project ID
          example: example_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        reason:
          type: string
          description: Text describing why this override is necessary
          example: Waiting on upstream bug fix
          maxLength: 1024
        requesterId:
          type: string
          description: User ID of the user who requested this Exemption
          example: user111111111111111111
        scanId:
          type: string
          description: ID of the Harness Scan to determine all the occurrences for the scan-issue
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        scope:
          type: string
          description: States the scope for the override
          example: PROJECT
          enum:
          - PROJECT
          - TARGET
        search:
          type: string
          description: Search parameter to find filtered occurrences of the issue
          example: CWE-123,5
          maxLength: 256
        status:
          type: string
          description: Approval status of Override
          default: Pending
          example: Pending
          enum:
          - Pending
          - Approved
          - Rejected
          - Expired
          - Canceled
        targetId:
          type: string
          description: Associated Target ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
      description: Information about an Override
      example:
        approverId: user111111111111111111
        created: 1651578240
        id: abcdef1234567890ghijkl
        isDeleted: true
        issueId: abcdef1234567890ghijkl
        lastModified: 1651578240
        link: https://example.com/ABC-1234
        occurrences:
        - 42
        - 666
        orgId: example_org
        overrideFieldName: severity
        overrideFieldValue: Low
        pipelineId: example_pipeline
        projectId: example_project
        reason: Waiting on upstream bug fix
        requesterId: user111111111111111111
        scanId: abcdef1234567890ghijkl
        scope: PROJECT
        search: CWE-123,5
        status: Canceled
        targetId: abcdef1234567890ghijkl
      required:
      - issueId
      - reason
      - requesterId
      - overrideFieldName
      - overrideFieldValue
      - status
    PolicyMetadata1:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        policyId:
          type: string
        policyIdBytes:
          $ref: '#/components/schemas/ByteString'
        policyName:
          type: string
        policyNameBytes:
          $ref: '#/components/schemas/ByteString'
        severityBytes:
          $ref: '#/components/schemas/ByteString'
        denyMessagesList:
          type: array
          properties:
            empty:
              type: boolean
          items:
            type: string
        denyMessagesCount:
          type: integer
          format: int32
        statusBytes:
          $ref: '#/components/schemas/ByteString'
        accountId:
          type: string
        accountIdBytes:
          $ref: '#/components/schemas/ByteString'
        orgId:
          type: string
        orgIdBytes:
          $ref: '#/components/schemas/ByteString'
        projectIdBytes:
          $ref: '#/components/schemas/ByteString'
        created:
          type: integer
          format: int64
        updated:
          type: integer
          format: int64
        errorBytes:
          $ref: '#/components/schemas/ByteString'
        identifierBytes:
          $ref: '#/components/schemas/ByteString'
        severity:
          type: string
        initialized:
          type: boolean
        identifier:
          type: string
        projectId:
          type: string
        status:
          type: string
        error:
          type: string
        defaultInstanceForType:
          $ref: '#/components/schemas/PolicyMetadata1'
        parserForType:
          $ref: '#/components/schemas/ParserPolicyMetadata'
        serializedSize:
          type: integer
          format: int32
        allFields:
          type: object
          additionalProperties:
            type: object
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        initializationErrorString:
          type: string
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ParserFileOptions:
      type: object
    ResponseDTOOverrideResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/OverrideResponse'
        metaData:
          type: object
        correlationId:
          type: string
    ExtensionRangeOptions:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        initialized:
          type: boolean
        declarationOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/DeclarationOrBuilder'
        features:
          $ref: '#/components/schemas/FeatureSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/ExtensionRangeOptions'
        parserForType:
          $ref: '#/components/schemas/ParserExtensionRangeOptions'
        serializedSize:
          type: integer
          format: int32
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        declarationCount:
          type: integer
          format: int32
        verification:
          type: string
          enum:
          - DECLARATION
          - UNVERIFIED
        declarationList:
          type: array
          items:
            $ref: '#/components/schemas/CvDeclaration'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        allFieldsRaw:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    FieldDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        typeName:
          type: string
        type:
          type: string
          enum:
          - TYPE_DOUBLE
          - TYPE_FLOAT
          - TYPE_INT64
          - TYPE_UINT64
          - TYPE_INT32
          - TYPE_FIXED64
          - TYPE_FIXED32
          - TYPE_BOOL
          - TYPE_STRING
          - TYPE_GROUP
          - TYPE_MESSAGE
          - TYPE_BYTES
          - TYPE_UINT32
          - TYPE_ENUM
          - TYPE_SFIXED32
          - TYPE_SFIXED64
          - TYPE_SINT32
          - TYPE_SINT64
        defaultValue:
          type: string
        number:
          type: integer
          format: int32
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/FieldOptions'
        label:
          type: string
          enum:
          - LABEL_OPTIONAL
          - LABEL_REPEATED
          - LABEL_REQUIRED
        defaultInstanceForType:
          $ref: '#/components/schemas/FieldDescriptorProto'
        parserForType:
          $ref: '#/components/schemas/ParserFieldDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        optionsOrBuilder:
          $ref: '#/components/schemas/FieldOptionsOrBuilder'
        jsonName:
          type: string
        proto3Optional:
          type: boolean
        oneofIndex:
          type: integer
          format: int32
        extendee:
          type: string
        typeNameBytes:
          $ref: '#/components/schemas/ByteString'
        extendeeBytes:
          $ref: '#/components/schemas/ByteString'
        defaultValueBytes:
          $ref: '#/components/schemas/ByteString'
        jsonNameBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    FileDescriptor:
      type: object
      properties:
        proto:
          $ref: '#/components/schemas/FileDescriptorProto'
        options:
          $ref: '#/components/schemas/FileOptions'
        messageTypes:
          type: array
          items:
            $ref: '#/components/schemas/CvDescriptor'
        enumTypes:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptor'
        services:
          type: array
          items:
            $ref: '#/components/schemas/ServiceDescriptor'
        extensions:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptor'
        dependencies:
          type: array
          items:
            $ref: '#/components/schemas/FileDescriptor'
        publicDependencies:
          type: array
          items:
            $ref: '#/components/schemas/FileDescriptor'
        name:
          type: string
        package:
          type: string
        file:
          $ref: '#/components/schemas/FileDescriptor'
        fullName:
          type: string
    ParserPolicyMetadata:
      type: object
    ServiceDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/ServiceOptions'
        defaultInstanceForType:
          $ref: '#/components/schemas/ServiceDescriptorProto'
        parserForType:
          $ref: '#/components/schemas/ParserServiceDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        optionsOrBuilder:
          $ref: '#/components/schemas/ServiceOptionsOrBuilder'
        methodCount:
          type: integer
          format: int32
        methodList:
          type: array
          items:
            $ref: '#/components/schemas/MethodDescriptorProto'
        methodOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/MethodDescriptorProtoOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ParserPolicySetMetadata:
      type: object
    EnumDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/EnumOptions'
        defaultInstanceForType:
          $ref: '#/components/schemas/EnumDescriptorProto'
        reservedRangeList:
          type: array
          items:
            $ref: '#/components/schemas/EnumReservedRange'
        reservedNameList:
          type: array
          properties:
            empty:
              type: boolean
          items:
            type: string
        parserForType:
          $ref: '#/components/schemas/ParserEnumDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        optionsOrBuilder:
          $ref: '#/components/schemas/EnumOptionsOrBuilder'
        valueCount:
          type: integer
          format: int32
        valueList:
          type: array
          items:
            $ref: '#/components/schemas/EnumValueDescriptorProto'
        valueOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EnumValueDescriptorProtoOrBuilder'
        reservedRangeCount:
          type: integer
          format: int32
        reservedNameCount:
          type: integer
          format: int32
        reservedRangeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EnumReservedRangeOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ParserNamePart:
      type: object
    CvPolicyMetadata:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        severity:
          type: string
        statusBytes:
          $ref: '#/components/schemas/ByteString'
        denyMessagesList:
          type: array
          properties:
            empty:
              type: boolean
          items:
            type: string
        policyId:
          type: string
        denyMessagesCount:
          type: integer
          format: int32
        policyIdBytes:
          $ref: '#/components/schemas/ByteString'
        policyNameBytes:
          $ref: '#/components/schemas/ByteString'
        severityBytes:
          $ref: '#/components/schemas/ByteString'
        initialized:
          type: boolean
        identifier:
          type: string
        defaultInstanceForType:
          $ref: '#/components/schemas/CvPolicyMetadata'
        parserForType:
          $ref: '#/components/schemas/ParserPolicyMetadata'
        serializedSize:
          type: integer
          format: int32
        orgId:
          type: string
        error:
          type: string
        status:
          type: string
        created:
          type: integer
          format: int64
        accountId:
          type: string
        projectId:
          type: string
        updated:
          type: integer
          format: int64
        accountIdBytes:
          $ref: '#/components/schemas/ByteString'
        identifierBytes:
          $ref: '#/components/schemas/ByteString'
        policyName:
          type: string
        projectIdBytes:
          $ref: '#/components/schemas/ByteString'
        orgIdBytes:
          $ref: '#/components/schemas/ByteString'
        errorBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    IDResult:
      type: object
      properties:
        id:
          type: string
          description: Resource identifier
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
      example:
        id: abcdef1234567890ghijkl
      required:
      - id
    OverridesListOverridesResponseBody:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/StoPagination'
        results:
          type: array
          items:
            $ref: '#/components/schemas/Override'
          example:
          - approverId: user111111111111111111
            created: 1651578240
            id: abcdef1234567890ghijkl
            isDeleted: true
            issueId: abcdef1234567890ghijkl
            lastModified: 1651578240
            link: https://example.com/ABC-1234
            occurrences:
            - 42
            - 666
            orgId: example_org
            overrideFieldName: severity
            overrideFieldValue: Low
            pipelineId: example_pipeline
            projectId: example_project
            reason: Waiting on upstream bug fix
            requesterId: user111111111111111111
            scanId: abcdef1234567890ghijkl
            scope: PROJECT
            search: CWE-123,5
            status: Approved
            targetId: abcdef1234567890ghijkl
          - approverId: user111111111111111111
            created: 1651578240
            id: abcdef1234567890ghijkl
            isDeleted: true
            issueId: abcdef1234567890ghijkl
            lastModified: 1651578240
            link: https://example.com/ABC-1234
            occurrences:
            - 42
            - 666
            orgId: example_org
            overrideFieldName: severity
            overrideFieldValue: Low
            pipelineId: example_pipeline
            projectId: example_project
            reason: Waiting on upstream bug fix
            requesterId: user111111111111111111
            scanId: abcdef1234567890ghijkl
            scope: PROJECT
            search: CWE-123,5
            status: Approved
            targetId: abcdef1234567890ghijkl
      example:
        pagination:
          link: ''
          page: 4
          pageSize: 20
          totalItems: 230
          totalPages: 12
        results:
        - approverId: user111111111111111111
          created: 1651578240
          id: abcdef1234567890ghijkl
          isDeleted: true
          issueId: abcdef1234567890ghijkl
          lastModified: 1651578240
          link: https://example.com/ABC-1234
          occurrences:
          - 42
          - 666
          orgId: example_org
          overrideFieldName: severity
          overrideFieldValue: Low
          pipelineId: example_pipeline
          projectId: example_project
          reason: Waiting on upstream bug fix
          requesterId: user111111111111111111
          scanId: abcdef1234567890ghijkl
          scope: PROJECT
          search: CWE-123,5
          status: Approved
          targetId: abcdef1234567890ghijkl
        - approverId: user111111111111111111
          created: 1651578240
          id: abcdef1234567890ghijkl
          isDeleted: true
          issueId: abcdef1234567890ghijkl
          lastModified: 1651578240
          link: https://example.com/ABC-1234
          occurrences:
          - 42
          - 666
          orgId: example_org
          overrideFieldName: severity
          overrideFieldValue: Low
          pipelineId: example_pipeline
          projectId: example_project
          reason: Waiting on upstream bug fix
          requesterId: user111111111111111111
          scanId: abcdef1234567890ghijkl
          scope: PROJECT
          search: CWE-123,5
          status: Approved
          targetId: abcdef1234567890ghijkl
        - approverId: user111111111111111111
          created: 1651578240
          id: abcdef1234567890ghijkl
          isDeleted: true
          issueId: abcdef1234567890ghijkl
          lastModified: 1651578240
          link: https://example.com/ABC-1234
          occurrences:
          - 42
          - 666
          orgId: example_org
          overrideFieldName: severity
          overrideFieldValue: Low
          pipelineId: example_pipeline
          projectId: example_project
          reason: Waiting on upstream bug fix
          requesterId: user111111111111111111
          scanId: abcdef1234567890ghijkl
          scope: PROJECT
          search: CWE-123,5
          status: Approved
          targetId: abcdef1234567890ghijkl
        - approverId: user111111111111111111
          created: 1651578240
          id: abcdef1234567890ghijkl
          isDeleted: true
          issueId: abcdef1234567890ghijkl
          lastModified: 1651578240
          link: https://example.com/ABC-1234
          occurrences:
          - 42
          - 666
          orgId: example_org
          overrideFieldName: severity
          overrideFieldValue: Low
          pipelineId: example_pipeline
          projectId: example_project
          reason: Waiting on upstream bug fix
          requesterId: user111111111111111111
          scanId: abcdef1234567890ghijkl
          scope: PROJECT
          search: CWE-123,5
          status: Approved
          targetId: abcdef1234567890ghijkl
      required:
      - results
      - pagination
    GitMetadataUpdateRequestInfo:
      type: object
      properties:
        connectorRef:
          type: string
        repoName:
          type: string
        filePath:
          type: string
      description: This lists down GIT metadata params that can be updated for given entity
    CvDescriptor:
      type: object
      properties:
        index:
          type: integer
          format: int32
        proto:
          $ref: '#/components/schemas/CvDescriptorProto'
        options:
          $ref: '#/components/schemas/MessageOptions'
        fullName:
          type: string
        file:
          $ref: '#/components/schemas/FileDescriptor'
        containingType:
          $ref: '#/components/schemas/CvDescriptor'
        nestedTypes:
          type: array
          items:
            $ref: '#/components/schemas/CvDescriptor'
        enumTypes:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptor'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptor'
        extensions:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptor'
        oneofs:
          type: array
          items:
            $ref: '#/components/schemas/OneofDescriptor'
        name:
          type: string
        extendable:
          type: boolean
        realOneofs:
          type: array
          items:
            $ref: '#/components/schemas/OneofDescriptor'
    ValidationError:
      type: object
      properties:
        fieldId:
          type: string
        error:
          type: string
    ResponseMessage:
      type: object
      properties:
        code:
          type: string
          enum:
          - DEFAULT_ERROR_CODE
          - INVALID_ARGUMENT
          - INVALID_EMAIL
          - DOMAIN_NOT_ALLOWED_TO_REGISTER
          - COMMNITY_EDITION_NOT_FOUND
          - DEPLOY_MODE_IS_NOT_ON_PREM
          - USER_ALREADY_REGISTERED
          - USER_INVITATION_DOES_NOT_EXIST
          - USER_DOES_NOT_EXIST
          - USER_INVITE_OPERATION_FAILED
          - USER_DISABLED
          - ACCOUNT_DOES_NOT_EXIST
          - INACTIVE_ACCOUNT
          - ACCOUNT_MIGRATED
          - ACCOUNT_MIGRATED_TO_NEXT_GEN
          - USER_DOMAIN_NOT_ALLOWED
          - MAX_FAILED_ATTEMPT_COUNT_EXCEEDED
          - RESOURCE_NOT_FOUND
          - INVALID_FORMAT
          - ROLE_DOES_NOT_EXIST
          - EMAIL_NOT_VERIFIED
          - EMAIL_VERIFICATION_TOKEN_NOT_FOUND
          - INVALID_TOKEN
          - REVOKED_TOKEN
          - INVALID_CAPTCHA_TOKEN
          - NOT_ACCOUNT_MGR_NOR_HAS_ALL_APP_ACCESS
          - EXPIRED_TOKEN
          - INVALID_AGENT_MTLS_AUTHORITY
          - TOKEN_ALREADY_REFRESHED_ONCE
          - ACCESS_DENIED
          - NG_ACCESS_DENIED
          - INVALID_CREDENTIAL
          - INVALID_CREDENTIALS_THIRD_PARTY
          - INVALID_KEY
          - INVALID_CONNECTOR_TYPE
          - INVALID_KEYPATH
          - INVALID_VARIABLE
          - UNKNOWN_HOST
          - UNREACHABLE_HOST
          - INVALID_PORT
          - SSH_SESSION_TIMEOUT
          - ALGORITHM_NEGOTIATION_ERROR
          - SOCKET_CONNECTION_ERROR
          - CONNECTION_ERROR
          - COULD_NOT_PROCESS_ERROR
          - SOCKET_CONNECTION_TIMEOUT
          - WINRM_COMMAND_EXECUTION_TIMEOUT
          - CONNECTION_TIMEOUT
          - SSH_CONNECTION_ERROR
          - USER_GROUP_ERROR
          - INVALID_EXECUTION_ID
          - ERROR_IN_GETTING_CHANNEL_STREAMS
          - UNEXPECTED
          - UNKNOWN_ERROR
          - UNKNOWN_EXECUTOR_TYPE_ERROR
          - DUPLICATE_STATE_NAMES
          - TRANSITION_NOT_LINKED
          - TRANSITION_TO_INCORRECT_STATE
          - TRANSITION_TYPE_NULL
          - STATES_WITH_DUP_TRANSITIONS
          - BARRIERS_NOT_RUNNING_CONCURRENTLY
          - NON_FORK_STATES
          - NON_REPEAT_STATES
          - INITIAL_STATE_NOT_DEFINED
          - FILE_INTEGRITY_CHECK_FAILED
          - INVALID_URL
          - FILE_DOWNLOAD_FAILED
          - PLATFORM_SOFTWARE_DELETE_ERROR
          - INVALID_CSV_FILE
          - INVALID_REQUEST
          - SCHEMA_VALIDATION_FAILED
          - FILTER_CREATION_ERROR
          - INVALID_YAML_ERROR
          - PLAN_CREATION_ERROR
          - INVALID_INFRA_STATE
          - PIPELINE_ALREADY_TRIGGERED
          - NON_EXISTING_PIPELINE
          - DUPLICATE_COMMAND_NAMES
          - INVALID_PIPELINE
          - COMMAND_DOES_NOT_EXIST
          - DUPLICATE_ARTIFACTSTREAM_NAMES
          - DUPLICATE_HOST_NAMES
          - STATE_NOT_FOR_TYPE
          - STATE_MACHINE_ISSUE
          - STATE_DISCONTINUE_FAILED
          - STATE_PAUSE_FAILED
          - PAUSE_ALL_ALREADY
          - RESUME_ALL_ALREADY
          - ROLLBACK_ALREADY
          - ABORT_ALL_ALREADY
          - EXPIRE_ALL_ALREADY
          - RETRY_FAILED
          - UNKNOWN_ARTIFACT_TYPE
          - UNKNOWN_STAGE_ELEMENT_WRAPPER_TYPE
          - INIT_TIMEOUT
          - LICENSE_EXPIRED
          - NOT_LICENSED
          - REQUEST_TIMEOUT
          - SCM_REQUEST_TIMEOUT
          - WORKFLOW_ALREADY_TRIGGERED
          - JENKINS_ERROR
          - INVALID_ARTIFACT_SOURCE
          - INVALID_ARTIFACT_SERVER
          - INVALID_CLOUD_PROVIDER
          - UPDATE_NOT_ALLOWED
          - DELETE_NOT_ALLOWED
          - APPDYNAMICS_CONFIGURATION_ERROR
          - APM_CONFIGURATION_ERROR
          - SPLUNK_CONFIGURATION_ERROR
          - ELK_CONFIGURATION_ERROR
          - LOGZ_CONFIGURATION_ERROR
          - SUMO_CONFIGURATION_ERROR
          - INSTANA_CONFIGURATION_ERROR
          - APPDYNAMICS_ERROR
          - STACKDRIVER_ERROR
          - STACKDRIVER_CONFIGURATION_ERROR
          - NEWRELIC_CONFIGURATION_ERROR
          - NEWRELIC_ERROR
          - DYNA_TRACE_CONFIGURATION_ERROR
          - DYNA_TRACE_ERROR
          - CLOUDWATCH_ERROR
          - CLOUDWATCH_CONFIGURATION_ERROR
          - PROMETHEUS_CONFIGURATION_ERROR
          - DATA_DOG_CONFIGURATION_ERROR
          - SERVICE_GUARD_CONFIGURATION_ERROR
          - ENCRYPTION_NOT_CONFIGURED
          - UNAVAILABLE_DELEGATES
          - WORKFLOW_EXECUTION_IN_PROGRESS
          - PIPELINE_EXECUTION_IN_PROGRESS
          - AWS_ACCESS_DENIED
          - AWS_CLUSTER_NOT_FOUND
          - AWS_SERVICE_NOT_FOUND
          - IMAGE_NOT_FOUND
          - ILLEGAL_ARGUMENT
          - IMAGE_TAG_NOT_FOUND
          - DELEGATE_NOT_AVAILABLE
          - INVALID_YAML_PAYLOAD
          - AUTHENTICATION_ERROR
          - AUTHORIZATION_ERROR
          - UNRECOGNIZED_YAML_FIELDS
          - COULD_NOT_MAP_BEFORE_YAML
          - MISSING_BEFORE_YAML
          - MISSING_YAML
          - NON_EMPTY_DELETIONS
          - GENERAL_YAML_ERROR
          - GENERAL_YAML_INFO
          - YAML_GIT_SYNC_ERROR
          - GIT_CONNECTION_ERROR
          - GIT_ERROR
          - ARTIFACT_SERVER_ERROR
          - ENCRYPT_DECRYPT_ERROR
          - SECRET_MANAGEMENT_ERROR
          - SECRET_NOT_FOUND
          - KMS_OPERATION_ERROR
          - GCP_KMS_OPERATION_ERROR
          - VAULT_OPERATION_ERROR
          - AWS_SECRETS_MANAGER_OPERATION_ERROR
          - AZURE_KEY_VAULT_OPERATION_ERROR
          - AZURE_KEY_VAULT_INTERRUPT_ERROR
          - UNSUPPORTED_OPERATION_EXCEPTION
          - FEATURE_UNAVAILABLE
          - GENERAL_ERROR
          - BASELINE_CONFIGURATION_ERROR
          - SAML_IDP_CONFIGURATION_NOT_AVAILABLE
          - INVALID_AUTHENTICATION_MECHANISM
          - INVALID_SAML_CONFIGURATION
          - INVALID_OAUTH_CONFIGURATION
          - INVALID_LDAP_CONFIGURATION
          - USER_GROUP_SYNC_FAILURE
          - USER_GROUP_ALREADY_EXIST
          - INVALID_TWO_FACTOR_AUTHENTICATION_CONFIGURATION
          - EXPLANATION
          - HINT
          - NOT_WHITELISTED_IP
          - INVALID_TOTP_TOKEN
          - EMAIL_FAILED
          - SSL_HANDSHAKE_FAILED
          - NO_APPS_ASSIGNED
          - INVALID_INFRA_CONFIGURATION
          - TEMPLATES_LINKED
          - USER_HAS_NO_PERMISSIONS
          - USER_NOT_AUTHORIZED
          - USER_ALREADY_PRESENT
          - EMAIL_ERROR
          - INVALID_USAGE_RESTRICTION
          - USAGE_RESTRICTION_ERROR
          - STATE_EXECUTION_INSTANCE_NOT_FOUND
          - DELEGATE_TASK_RETRY
          - KUBERNETES_API_TASK_EXCEPTION
          - KUBERNETES_TASK_EXCEPTION
          - KUBERNETES_YAML_ERROR
          - SAVE_FILE_INTO_AWS_STORAGE_FAILED
          - READ_FILE_FROM_AWS_STORAGE_FAILED
          - SAVE_FILE_INTO_GCP_STORAGE_FAILED
[...]
