openapi: 3.2.0
info:
  title: Harness Layouts V3 API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: LayoutsV3
  description: This contains APIs for LayoutsV3.
  x-displayName: LayoutsV3
paths:
  /v3/layout:
    get:
      operationId: get-layouts-v3
      summary: Get Layouts V3
      description: Get Layouts V3.
      tags:
      - LayoutsV3
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
    post:
      operationId: create-layout-v3
      summary: Create layout V3
      description: Create layout V3.
      tags:
      - LayoutsV3
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayoutRequest'
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
    delete:
      operationId: delete-layout-v3
      summary: Delete layout V3
      description: Delete layout V3.
      tags:
      - LayoutsV3
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      requestBody:
        $ref: '#/components/requestBodies/LayoutRequest'
      responses:
        '200':
          description: Layout response
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LayoutResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/LayoutResponse'
  /v3/layout/{layout-identifier}:
    parameters:
    - $ref: '#/components/parameters/LayoutIdentifier'
    get:
      operationId: get-layout-v3
      summary: Get layout V3
      description: Get Layout V3.
      tags:
      - LayoutsV3
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
  /v3/layout/health:
    get:
      operationId: get-layout-health-v3
      summary: Get Layout Health V3
      description: Get Layout Health V3.
      tags:
      - LayoutsV3
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
  /v3/layout/ingest:
    post:
      operationId: layout-ingest-v3
      summary: Ingest layout V3
      description: Ingest layout V3.
      tags:
      - LayoutsV3
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayoutIngestRequest'
      responses:
        '200':
          $ref: '#/components/responses/LayoutResponse'
components:
  parameters:
    LayoutIdentifier:
      name: layout-identifier
      in: path
      required: true
      schema:
        type: string
      description: Layout Identifier
    AccountHeader5:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to.
  responses:
    LayoutResponse:
      description: Layout response
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/LayoutResponse'
        application/json:
          schema:
            $ref: '#/components/schemas/LayoutResponse'
  schemas:
    LayoutResponse:
      title: LayoutResponse
      x-stoplight:
        id: 2oxnq9iinuf3b
      type: object
    LayoutIngestRequest:
      title: LayoutIngestRequest
      x-stoplight:
        id: 2251c3uansb5q
      type: object
      properties:
        operation_type:
          type: string
          x-stoplight:
            id: gcfmlu2g6tt5c
        exports:
          $ref: '#/components/schemas/Exports'
      required:
      - operation_type
      - exports
    ExportDetails:
      title: ExportDetails
      x-stoplight:
        id: lh3kww6at9n87
      type: object
      properties:
        type:
          type: string
          x-stoplight:
            id: 69io5n1al727m
        name:
          type: string
          x-stoplight:
            id: rk3j3ohhxfadq
        add_by_default:
          type: boolean
          x-stoplight:
            id: yv6e7c9c2eyv6
        default_route:
          type: string
          x-stoplight:
            id: lg3iy2r2zvqhb
        layout_schema_specs:
          type: object
          x-stoplight:
            id: kqd59lko12kls
      required:
      - type
      - name
    LayoutRequest:
      title: LayoutRequest
      x-stoplight:
        id: n3rez2nr7kmq8
      type: object
      description: LayoutRequest
      properties:
        name:
          type: string
          x-stoplight:
            id: 62gmaga7buqi8
        id:
          type: string
          x-stoplight:
            id: z450ysix2zvwr
        yaml:
          type: string
          x-stoplight:
            id: ukdiglik4ggu9
        display_name:
          type: string
          x-stoplight:
            id: s2pk8alyj2gu9
        default_yaml:
          type: string
          x-stoplight:
            id: phhefjzpsdh1n
        type:
          type: string
          x-stoplight:
            id: i20q57lnsmop8
    Exports:
      title: Exports
      x-stoplight:
        id: krtrvpv2bw4rh
      type: object
      properties:
        pages:
          type: integer
          x-stoplight:
            id: z2sng2p0ckvs4
          default: 0
        tab_contents:
          type: integer
          x-stoplight:
            id: tv8hce8pm873b
          default: 0
        cards:
          type: integer
          x-stoplight:
            id: gvkk56i32twnh
          default: 0
        default_entity_types:
          type: array
          x-stoplight:
            id: jfdg348v4fwk7
          items:
            x-stoplight:
              id: zvqn4vs5z9xa8
            type: string
        export_details:
          x-stoplight:
            id: entxahp0fgx74
          type: array
          items:
            $ref: '#/components/schemas/ExportDetails'
            x-stoplight:
              id: 0sb28udqqiknj
      required:
      - pages
      - tab_contents
      - cards
      - default_entity_types
      - export_details
  requestBodies:
    LayoutRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LayoutRequest'
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
