openapi: 3.2.0
info:
  title: Harness Activities API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Activities
  description: Activities Service handles the API for workspace activities
paths:
  /iacm/api/orgs/{org}/projects/{project}/activities:
    get:
      tags:
      - Activities
      summary: List activities
      description: List all activities
      operationId: activities#list-activities
      parameters:
      - name: limit
        in: query
        description: Limit is the number of records to return for a page.
        allowEmptyValue: true
        schema:
          type: integer
          description: Limit is the number of records to return for a page.
          default: 30
          example: 30
          format: int64
          minimum: 1
          maximum: 1000
        example: 30
      - name: page
        in: query
        description: Page is the page number to return relative to the page 'limit'.
        allowEmptyValue: true
        schema:
          type: integer
          description: Page is the page number to return relative to the page 'limit'.
          default: 1
          example: 1
          format: int64
          minimum: 1
        example: 1
      - name: workspace
        in: query
        description: Workspace identifier
        allowEmptyValue: true
        schema:
          type: string
          description: Workspace identifier
          example: Non magnam quis deleniti voluptas.
        example: Culpa minima atque omnis.
      - name: pipeline
        in: query
        description: Pipeline filter
        allowEmptyValue: true
        schema:
          type: string
          description: Pipeline filter
          example: Nihil tenetur ut.
        example: Tempore voluptates.
      - name: pipeline_execution_id
        in: query
        description: Pipeline execution filter
        allowEmptyValue: true
        schema:
          type: string
          description: Pipeline execution filter
          example: Est et libero recusandae voluptas debitis.
        example: Quia molestiae repellat et.
      - name: pipeline_stage_id
        in: query
        description: Pipeline stage filter
        allowEmptyValue: true
        schema:
          type: string
          description: Pipeline stage filter
          example: Laborum suscipit ad molestiae deserunt quos.
        example: Voluptates qui nesciunt cupiditate ipsum provident quae.
      - name: activity_type
        in: query
        description: Activity type filter
        allowEmptyValue: true
        schema:
          type: string
          description: Activity type filter
          example: Eaque atque aperiam voluptatum quidem.
        example: Autem cumque mollitia nihil.
      - name: activity_status
        in: query
        description: Activity status filter
        allowEmptyValue: true
        schema:
          type: string
          description: Activity status filter
          example: Consequatur maiores in necessitatibus et et pariatur.
        example: Corporis nisi nihil id expedita molestiae eligendi.
      - name: start_time
        in: query
        description: Start time filter (Unix timestamp)
        allowEmptyValue: true
        schema:
          type: integer
          description: Start time filter (Unix timestamp)
          example: 317303704311037200
          format: int64
        example: 4523578234231308000
      - name: end_time
        in: query
        description: End time filter (Unix timestamp)
        allowEmptyValue: true
        schema:
          type: integer
          description: End time filter (Unix timestamp)
          example: 2918553615035180500
          format: int64
        example: 128157541012208500
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: s
          minLength: 1
          maxLength: 128
        example: y6f
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: er
          minLength: 1
          maxLength: 128
        example: x
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: bv
          minLength: 1
          maxLength: 128
        example: bm
      responses:
        '200':
          description: OK response.
          headers:
            x-page-size:
              description: Current page size
              schema:
                type: integer
                description: Current page size
                example: 50
                format: int64
              example: 50
            x-total-items:
              description: Total items available
              schema:
                type: integer
                description: Total items available
                example: 1800
                format: int64
              example: 1800
            x-total-pages:
              description: Total pages available
              schema:
                type: integer
                description: Total pages available
                example: 36
                format: int64
              example: 36
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResourceCollection'
              example:
              - account: 7ax
                created: 1443014888504235500
                id: Aliquam eveniet ipsa consequatur et veritatis aspernatur.
                metadata:
                  PlannedChangesCount: 8068703872190990000
                  activity_status: failure
                  activity_type: synth
                  cost_breakdown_uuid: Qui ratione.
                  cost_currency: Numquam quis maxime.
                  cost_diff_total_monthly: Possimus voluptatem quidem dolorem ullam.
                  cost_diff_uuid: Quis reprehenderit expedita atque aut.
                  cost_past_total_monthly: Distinctio suscipit et et aut saepe.
                  cost_total_monthly: Harum tenetur voluptas eum.
                  cost_total_monthly_percentage_change: Autem ipsum tempora sed et.
                  data_length: 716540082371348100
                  drift_counts:
                    added: 4302650415427610600
                    changed: 4854591900953545000
                    deleted: 1274854759779507500
                    imported: 4979352803105197000
                    removed: 8385348900669245000
                    unchanged: 5543766798044174000
                  enable_solutions_factory: false
                  git_branch: Amet voluptatibus est veniam molestias.
                  git_commit_message: Sed molestiae minus omnis consequatur et ad.
                  git_commit_sha: Et tenetur voluptas velit ratione iste sequi.
                  git_repo: Aperiam labore exercitationem ab.
                  modules_uuid: Nihil debitis molestiae consequatur nihil quibusdam commodi.
                  output_counts:
                    added: 4302650415427610600
                    changed: 4854591900953545000
                    deleted: 1274854759779507500
                    imported: 4979352803105197000
                    removed: 8385348900669245000
                    unchanged: 5543766798044174000
                  pipeline: Laboriosam minus assumenda.
                  pipeline_execution_id: Adipisci est eum est ipsa dolor laborum.
                  pipeline_execution_number: Iusto enim.
                  pipeline_name: Quod molestiae.
                  pipeline_stage_id: Omnis possimus unde dolores vitae.
                  plan_uuid: Consequuntur tempora magnam eligendi.
                  providers_uuid: Itaque et dolorem perferendis et dolore.
                  provisioner: Ut inventore.
                  provisioner_version: Et asperiores.
                  resource_counts:
                    added: 4302650415427610600
                    changed: 4854591900953545000
                    deleted: 1274854759779507500
                    imported: 4979352803105197000
                    removed: 8385348900669245000
                    unchanged: 5543766798044174000
                  rollback_reason: Totam deleniti.
                  rollback_source_id: Deleniti neque ut quam optio dolorum.
                  stacks:
                  - assets_uuid: Et consequuntur rerum rerum fugiat voluptatem.
                    drift_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    drift_uuid: Eligendi assumenda placeat vero dolorem quia sint.
                    error_message: Et sit quis dolores dolores.
                    manifest_uuid: Laboriosam labore illo magnam quae officia.
                    resource_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    stack_name: Recusandae amet cupiditate recusandae libero.
                    stack_outputs:
                      Eum alias ex molestiae adipisci odio ut.: Tempore molestias sit asperiores sunt debitis.
                    stack_path: Reiciendis error inventore saepe animi.
                    status: failure
                    template_uuid: Et enim dolores earum tempore totam porro.
                    tree_uuid: Ducimus sed sed enim.
                  - assets_uuid: Et consequuntur rerum rerum fugiat voluptatem.
                    drift_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    drift_uuid: Eligendi assumenda placeat vero dolorem quia sint.
                    error_message: Et sit quis dolores dolores.
                    manifest_uuid: Laboriosam labore illo magnam quae officia.
                    resource_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    stack_name: Recusandae amet cupiditate recusandae libero.
                    stack_outputs:
                      Eum alias ex molestiae adipisci odio ut.: Tempore molestias sit asperiores sunt debitis.
                    stack_path: Reiciendis error inventore saepe animi.
                    status: failure
                    template_uuid: Et enim dolores earum tempore totam porro.
                    tree_uuid: Ducimus sed sed enim.
                  - assets_uuid: Et consequuntur rerum rerum fugiat voluptatem.
                    drift_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    drift_uuid: Eligendi assumenda placeat vero dolorem quia sint.
                    error_message: Et sit quis dolores dolores.
                    manifest_uuid: Laboriosam labore illo magnam quae officia.
                    resource_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    stack_name: Recusandae amet cupiditate recusandae libero.
                    stack_outputs:
                      Eum alias ex molestiae adipisci odio ut.: Tempore molestias sit asperiores sunt debitis.
                    stack_path: Reiciendis error inventore saepe animi.
                    status: failure
                    template_uuid: Et enim dolores earum tempore totam porro.
                    tree_uuid: Ducimus sed sed enim.
                  state_checksum: Et quibusdam rerum et.
                  state_uuid: Odio qui quis.
                  terragrunt_details:
                  - cost_breakdown_uuid: Labore aliquam qui est.
                    cost_currency: Facere perferendis ab sunt.
                    cost_diff_total_monthly: Ullam quasi distinctio nostrum ducimus.
                    cost_diff_uuid: Repudiandae sunt ut cum voluptatem.
                    cost_past_total_monthly: Voluptas amet et.
                    cost_total_monthly: Aut temporibus et aperiam dignissimos tenetur.
                    cost_total_monthly_percentage_change: Id temporibus enim.
                    drift_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    output_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    path_id: Alias nihil sed voluptate hic.
                    resource_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    state_file_link: Natus eum recusandae fugit officiis delectus omnis.
                    status: Omnis et maxime sunt.
                  - cost_breakdown_uuid: Labore aliquam qui est.
                    cost_currency: Facere perferendis ab sunt.
                    cost_diff_total_monthly: Ullam quasi distinctio nostrum ducimus.
                    cost_diff_uuid: Repudiandae sunt ut cum voluptatem.
                    cost_past_total_monthly: Voluptas amet et.
                    cost_total_monthly: Aut temporibus et aperiam dignissimos tenetur.
                    cost_total_monthly_percentage_change: Id temporibus enim.
                    drift_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    output_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    path_id: Alias nihil sed voluptate hic.
                    resource_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    state_file_link: Natus eum recusandae fugit officiis delectus omnis.
                    status: Omnis et maxime sunt.
                  - cost_breakdown_uuid: Labore aliquam qui est.
                    cost_currency: Facere perferendis ab sunt.
                    cost_diff_total_monthly: Ullam quasi distinctio nostrum ducimus.
                    cost_diff_uuid: Repudiandae sunt ut cum voluptatem.
                    cost_past_total_monthly: Voluptas amet et.
                    cost_total_monthly: Aut temporibus et aperiam dignissimos tenetur.
                    cost_total_monthly_percentage_change: Id temporibus enim.
                    drift_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    output_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    path_id: Alias nihil sed voluptate hic.
                    resource_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    state_file_link: Natus eum recusandae fugit officiis delectus omnis.
                    status: Omnis et maxime sunt.
                  - cost_breakdown_uuid: Labore aliquam qui est.
                    cost_currency: Facere perferendis ab sunt.
                    cost_diff_total_monthly: Ullam quasi distinctio nostrum ducimus.
                    cost_diff_uuid: Repudiandae sunt ut cum voluptatem.
                    cost_past_total_monthly: Voluptas amet et.
                    cost_total_monthly: Aut temporibus et aperiam dignissimos tenetur.
                    cost_total_monthly_percentage_change: Id temporibus enim.
                    drift_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    output_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    path_id: Alias nihil sed voluptate hic.
                    resource_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    state_file_link: Natus eum recusandae fugit officiis delectus omnis.
                    status: Omnis et maxime sunt.
                  trigger:
                    Impedit culpa.: Voluptatem tenetur.
                org: w0
                project: g
                workspace: Eligendi delectus voluptas.
              - account: 7ax
                created: 1443014888504235500
                id: Aliquam eveniet ipsa consequatur et veritatis aspernatur.
                metadata:
                  PlannedChangesCount: 8068703872190990000
                  activity_status: failure
                  activity_type: synth
                  cost_breakdown_uuid: Qui ratione.
                  cost_currency: Numquam quis maxime.
                  cost_diff_total_monthly: Possimus voluptatem quidem dolorem ullam.
                  cost_diff_uuid: Quis reprehenderit expedita atque aut.
                  cost_past_total_monthly: Distinctio suscipit et et aut saepe.
                  cost_total_monthly: Harum tenetur voluptas eum.
                  cost_total_monthly_percentage_change: Autem ipsum tempora sed et.
                  data_length: 716540082371348100
                  drift_counts:
                    added: 4302650415427610600
                    changed: 4854591900953545000
                    deleted: 1274854759779507500
                    imported: 4979352803105197000
                    removed: 8385348900669245000
                    unchanged: 5543766798044174000
                  enable_solutions_factory: false
                  git_branch: Amet voluptatibus est veniam molestias.
                  git_commit_message: Sed molestiae minus omnis consequatur et ad.
                  git_commit_sha: Et tenetur voluptas velit ratione iste sequi.
                  git_repo: Aperiam labore exercitationem ab.
                  modules_uuid: Nihil debitis molestiae consequatur nihil quibusdam commodi.
                  output_counts:
                    added: 4302650415427610600
                    changed: 4854591900953545000
                    deleted: 1274854759779507500
                    imported: 4979352803105197000
                    removed: 8385348900669245000
                    unchanged: 5543766798044174000
                  pipeline: Laboriosam minus assumenda.
                  pipeline_execution_id: Adipisci est eum est ipsa dolor laborum.
                  pipeline_execution_number: Iusto enim.
                  pipeline_name: Quod molestiae.
                  pipeline_stage_id: Omnis possimus unde dolores vitae.
                  plan_uuid: Consequuntur tempora magnam eligendi.
                  providers_uuid: Itaque et dolorem perferendis et dolore.
                  provisioner: Ut inventore.
                  provisioner_version: Et asperiores.
                  resource_counts:
                    added: 4302650415427610600
                    changed: 4854591900953545000
                    deleted: 1274854759779507500
                    imported: 4979352803105197000
                    removed: 8385348900669245000
                    unchanged: 5543766798044174000
                  rollback_reason: Totam deleniti.
                  rollback_source_id: Deleniti neque ut quam optio dolorum.
                  stacks:
                  - assets_uuid: Et consequuntur rerum rerum fugiat voluptatem.
                    drift_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    drift_uuid: Eligendi assumenda placeat vero dolorem quia sint.
                    error_message: Et sit quis dolores dolores.
                    manifest_uuid: Laboriosam labore illo magnam quae officia.
                    resource_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    stack_name: Recusandae amet cupiditate recusandae libero.
                    stack_outputs:
                      Eum alias ex molestiae adipisci odio ut.: Tempore molestias sit asperiores sunt debitis.
                    stack_path: Reiciendis error inventore saepe animi.
                    status: failure
                    template_uuid: Et enim dolores earum tempore totam porro.
                    tree_uuid: Ducimus sed sed enim.
                  - assets_uuid: Et consequuntur rerum rerum fugiat voluptatem.
                    drift_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    drift_uuid: Eligendi assumenda placeat vero dolorem quia sint.
                    error_message: Et sit quis dolores dolores.
                    manifest_uuid: Laboriosam labore illo magnam quae officia.
                    resource_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    stack_name: Recusandae amet cupiditate recusandae libero.
                    stack_outputs:
                      Eum alias ex molestiae adipisci odio ut.: Tempore molestias sit asperiores sunt debitis.
                    stack_path: Reiciendis error inventore saepe animi.
                    status: failure
                    template_uuid: Et enim dolores earum tempore totam porro.
                    tree_uuid: Ducimus sed sed enim.
                  - assets_uuid: Et consequuntur rerum rerum fugiat voluptatem.
                    drift_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    drift_uuid: Eligendi assumenda placeat vero dolorem quia sint.
                    error_message: Et sit quis dolores dolores.
                    manifest_uuid: Laboriosam labore illo magnam quae officia.
                    resource_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    stack_name: Recusandae amet cupiditate recusandae libero.
                    stack_outputs:
                      Eum alias ex molestiae adipisci odio ut.: Tempore molestias sit asperiores sunt debitis.
                    stack_path: Reiciendis error inventore saepe animi.
                    status: failure
                    template_uuid: Et enim dolores earum tempore totam porro.
                    tree_uuid: Ducimus sed sed enim.
                  state_checksum: Et quibusdam rerum et.
                  state_uuid: Odio qui quis.
                  terragrunt_details:
                  - cost_breakdown_uuid: Labore aliquam qui est.
                    cost_currency: Facere perferendis ab sunt.
                    cost_diff_total_monthly: Ullam quasi distinctio nostrum ducimus.
                    cost_diff_uuid: Repudiandae sunt ut cum voluptatem.
                    cost_past_total_monthly: Voluptas amet et.
                    cost_total_monthly: Aut temporibus et aperiam dignissimos tenetur.
                    cost_total_monthly_percentage_change: Id temporibus enim.
                    drift_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    output_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    path_id: Alias nihil sed voluptate hic.
                    resource_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    state_file_link: Natus eum recusandae fugit officiis delectus omnis.
                    status: Omnis et maxime sunt.
                  - cost_breakdown_uuid: Labore aliquam qui est.
                    cost_currency: Facere perferendis ab sunt.
                    cost_diff_total_monthly: Ullam quasi distinctio nostrum ducimus.
                    cost_diff_uuid: Repudiandae sunt ut cum voluptatem.
                    cost_past_total_monthly: Voluptas amet et.
                    cost_total_monthly: Aut temporibus et aperiam dignissimos tenetur.
                    cost_total_monthly_percentage_change: Id temporibus enim.
                    drift_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    output_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    path_id: Alias nihil sed voluptate hic.
                    resource_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    state_file_link: Natus eum recusandae fugit officiis delectus omnis.
                    status: Omnis et maxime sunt.
                  - cost_breakdown_uuid: Labore aliquam qui est.
                    cost_currency: Facere perferendis ab sunt.
                    cost_diff_total_monthly: Ullam quasi distinctio nostrum ducimus.
                    cost_diff_uuid: Repudiandae sunt ut cum voluptatem.
                    cost_past_total_monthly: Voluptas amet et.
                    cost_total_monthly: Aut temporibus et aperiam dignissimos tenetur.
                    cost_total_monthly_percentage_change: Id temporibus enim.
                    drift_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    output_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    path_id: Alias nihil sed voluptate hic.
                    resource_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    state_file_link: Natus eum recusandae fugit officiis delectus omnis.
                    status: Omnis et maxime sunt.
                  - cost_breakdown_uuid: Labore aliquam qui est.
                    cost_currency: Facere perferendis ab sunt.
                    cost_diff_total_monthly: Ullam quasi distinctio nostrum ducimus.
                    cost_diff_uuid: Repudiandae sunt ut cum voluptatem.
                    cost_past_total_monthly: Voluptas amet et.
                    cost_total_monthly: Aut temporibus et aperiam dignissimos tenetur.
                    cost_total_monthly_percentage_change: Id temporibus enim.
                    drift_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    output_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    path_id: Alias nihil sed voluptate hic.
                    resource_counts:
                      added: 4302650415427610600
                      changed: 4854591900953545000
                      deleted: 1274854759779507500
                      imported: 4979352803105197000
                      removed: 8385348900669245000
                      unchanged: 5543766798044174000
                    state_file_link: Natus eum recusandae fugit officiis delectus omnis.
                    status: Omnis et maxime sunt.
                  trigger:
                    Impedit culpa.: Voluptatem tenetur.
                org: w0
                project: g
                workspace: Eligendi delectus voluptas.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/orgs/{org}/projects/{project}/activities/{id}/resource-changes:
    get:
      tags:
      - Activities
      summary: List resource changes
      description: List resource changes associated with this activity
      operationId: activities#list-activity-resource-changes
      parameters:
      - name: workspace
        in: query
        description: The unique identifier for the associated workspace
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: The unique identifier for the associated workspace
          example: Culpa eveniet illo earum aperiam error.
        example: Quia assumenda voluptas error.
      - name: path_id
        in: query
        description: Terragrunt path identifier
        allowEmptyValue: true
        schema:
          type: string
          description: Terragrunt path identifier
          example: Quis aut quia.
        example: Mollitia modi recusandae dolores.
      - name: org
        in: path
        description: Org is the organisation identifier.
        required: true
        schema:
          type: string
          description: Org is the organisation identifier.
          example: r09
          minLength: 1
          maxLength: 128
        example: k
      - name: project
        in: path
        description: Project is the project identifier.
        required: true
        schema:
          type: string
          description: Project is the project identifier.
          example: g
          minLength: 1
          maxLength: 128
        example: a
      - name: id
        in: path
        description: The unique identifier for this activity
        required: true
        schema:
          type: string
          description: The unique identifier for this activity
          example: Qui modi inventore qui delectus ut.
        example: Odio tempora quis assumenda praesentium iusto.
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          example: q
          minLength: 1
          maxLength: 128
        example: dz
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListActivityResourceChangesResponse'
              example:
                data_sources:
                - attributes:
                    ami: ami-830c94ec
                    instance_type: t2.micro
                  createdAt: 1627590400
                  drift_attributes:
                    instance_type: t2.nano
                  drift_status: changed
                  lastSyncedAt: 1627686800
                  mode: resource
                  module: full_stack
                  monthly_cost: 0.32546890397784883
                  monthly_saving: 0.35814372810159073
                  name: app_server
                  path_id: namespace
                  provider: AWS
                  recommendation_count: 8335073474648751000
                  resource_id: arn:aws:s3:::my-bucket
                  sensitive_attributes:
                  - instance_type
                  type: S3 Bucket
                - attributes:
                    ami: ami-830c94ec
                    instance_type: t2.micro
                  createdAt: 1627590400
                  drift_attributes:
                    instance_type: t2.nano
                  drift_status: changed
                  lastSyncedAt: 1627686800
                  mode: resource
                  module: full_stack
                  monthly_cost: 0.32546890397784883
                  monthly_saving: 0.35814372810159073
                  name: app_server
                  path_id: namespace
                  provider: AWS
                  recommendation_count: 8335073474648751000
                  resource_id: arn:aws:s3:::my-bucket
                  sensitive_attributes:
                  - instance_type
                  type: S3 Bucket
                drift_changes:
                - change: added
                  change_count: 10
                  changes:
                    Molestias qui odio qui placeat.:
                      change: added
                      drift: false
                      new: new value
                      old: old value
                      sensitive: true
                  drift: false
                  module: full_stack
                  name: app_server
                  provider: AWS
                  type: S3 Bucket
                - change: added
                  change_count: 10
                  changes:
                    Molestias qui odio qui placeat.:
                      change: added
                      drift: false
                      new: new value
                      old: old value
                      sensitive: true
                  drift: false
                  module: full_stack
                  name: app_server
                  provider: AWS
                  type: S3 Bucket
                - change: added
                  change_count: 10
                  changes:
                    Molestias qui odio qui placeat.:
                      change: added
                      drift: false
                      new: new value
                      old: old value
                      sensitive: true
                  drift: false
                  module: full_stack
                  name: app_server
                  provider: AWS
                  type: S3 Bucket
                has_dependency_graph: false
                outputs:
                - change: added
                  expression: <+outputs.instance_id>
                  name: instance_public_ip
                  new: new value
                  old: old value
                  sensitive: true
                  stack_path: IaCM/TGOverride/environments/dev/ec2
                - change: added
                  expression: <+outputs.instance_id>
                  name: instance_public_ip
                  new: new value
                  old: old value
                  sensitive: true
                  stack_path: IaCM/TGOverride/environments/dev/ec2
                - change: added
                  expression: <+outputs.instance_id>
                  name: instance_public_ip
                  new: new value
                  old: old value
                  sensitive: true
                  stack_path: IaCM/TGOverride/environments/dev/ec2
                pipeline_execution: Sed qui necessitatibus mollitia incidunt et.
                pipeline_stage: Omnis at excepturi id sint quod.
                planned_changes:
                - change: added
                  change_count: 10
                  changes:
                    Molestias qui odio qui placeat.:
                      change: added
                      drift: false
                      new: new value
                      old: old value
                      sensitive: true
                  drift: false
                  module: full_stack
                  name: app_server
                  provider: AWS
                  type: S3 Bucket
                - change: added
                  change_count: 10
                  changes:
                    Molestias qui odio qui placeat.:
                      change: added
                      drift: false
                      new: new value
                      old: old value
                      sensitive: true
                  drift: false
                  module: full_stack
                  name: app_server
                  provider: AWS
                  type: S3 Bucket
                - change: added
                  change_count: 10
                  changes:
                    Molestias qui odio qui placeat.:
                      change: added
                      drift: false
                      new: new value
                      old: old value
                      sensitive: true
                  drift: false
                  module: full_stack
                  name: app_server
                  provider: AWS
                  type: S3 Bucket
                resources:
                - attributes:
                    ami: ami-830c94ec
                    instance_type: t2.micro
                  createdAt: 1627590400
                  drift_attributes:
                    instance_type: t2.nano
                  drift_status: changed
                  lastSyncedAt: 1627686800
                  mode: resource
                  module: full_stack
                  monthly_cost: 0.32546890397784883
                  monthly_saving: 0.35814372810159073
                  name: app_server
                  path_id: namespace
                  provider: AWS
                  recommendation_count: 8335073474648751000
                  resource_id: arn:aws:s3:::my-bucket
                  sensitive_attributes:
                  - instance_type
                  type: S3 Bucket
                - attributes:
                    ami: ami-830c94ec
                    instance_type: t2.micro
                  createdAt: 1627590400
                  drift_attributes:
                    instance_type: t2.nano
                  drift_status: changed
                  lastSyncedAt: 1627686800
                  mode: resource
                  module: full_stack
                  monthly_cost: 0.32546890397784883
                  monthly_saving: 0.35814372810159073
                  name: app_server
                  path_id: namespace
                  provider: AWS
                  recommendation_count: 8335073474648751000
                  resource_id: arn:aws:s3:::my-bucket
                  sensitive_attributes:
                  - instance_type
                  type: S3 Bucket
                risk_assessment:
                  overall_risk_summary:
                    overall_level: HIGH
                    overall_score: 7
                    reason: 'Driven by highest-risk resource: aws_s3_bucket_public_access_block.secure (score: 8)'
                  resource_risks:
                    Dolores temporibus velit qui asperiores nostrum est.:
                      risk_factors:
                      - Cum mollitia aut ipsum consequuntur.
                      - Et aut odit cumque.
                      - Odit doloribus porro voluptas dolores maiores.
                      risk_level: HIGH
                      risk_mitigation:
                      - Quis nihil voluptates ipsa.
                      - Earum in beatae corrupti laudantium optio.
                      - Quasi officiis nisi ratione quibusdam.
                      - Facilis harum sit est unde nihil.
                      risk_score: 2
                stage_id: Est sit id quas sit sit.
                workspace_id: Enim illo.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
components:
  schemas:
    ValueChange:
      type: object
      properties:
        change:
          type: string
          description: Change made to this resource.
          example: added
          enum:
          - added
          - changed
          - deleted
          - unchanged
        drift:
          type: boolean
          description: Indicates whether this attribute is experiencing drift
          example: true
        new:
          type: string
          description: Updated value
          example: new value
        old:
          type: string
          description: Previous value.
          example: old value
        sensitive:
          type: boolean
          description: Indicates whether this value is sensitive
          example: true
      example:
        change: added
        drift: false
        new: new value
        old: old value
        sensitive: true
      required:
      - change
      - drift
      - sensitive
    HarnessIacmChangedResource:
      type: object
      properties:
        change:
          type: string
          description: Change made to this resource.
          example: added
          enum:
          - added
          - changed
          - deleted
          - unchanged
          - imported
          - removed
        change_count:
          type: integer
          description: Count of changes made to this resource.
          example: 10
          format: int64
        changes:
          type: object
          description: New values for this resource
          example:
            Alias non consequatur.:
              change: added
              drift: false
              new: new value
              old: old value
              sensitive: true
            Impedit iure nobis sint voluptatem.:
              change: added
              drift: false
              new: new value
              old: old value
              sensitive: true
            Voluptatem commodi eos voluptate.:
              change: added
              drift: false
              new: new value
              old: old value
              sensitive: true
          additionalProperties:
            $ref: '#/components/schemas/ValueChange'
        drift:
          type: boolean
          description: Indicates whether this resource is experiencing drift
          example: true
        module:
          type: string
          description: Module associated with the resource.
          example: full_stack
        name:
          type: string
          description: Name associated with the resource.
          example: app_server
        provider:
          type: string
          description: Cloud provider associated with the resource.
          example: AWS
        type:
          type: string
          description: Type of the provisioned resource.
          example: S3 Bucket
      description: Represents a change to an individual provisioned resource.
      example:
        change: added
        change_count: 10
        changes:
          Voluptatem ut doloribus enim ipsum eos ducimus.:
            change: added
            drift: false
            new: new value
            old: old value
            sensitive: true
        drift: false
        module: full_stack
        name: app_server
        provider: AWS
        type: S3 Bucket
      required:
      - provider
      - type
      - name
      - module
      - drift
      - change
      - change_count
      - changes
      - mode
      - path_id
      - resource_id
      - attributes
      - drift_status
      - drift_attributes
      - sensitive_attributes
    ActivityMetadata:
      type: object
      properties:
        PlannedChangesCount:
          type: integer
          description: 'Deprecated: use resource_count_xxxx fields instead'
          default: 0
          example: 2570886191803212000
          format: int64
        activity_status:
          type: string
          description: The status of this activity
          example: incomplete
          enum:
          - success
          - failure
          - incomplete
        activity_type:
          type: string
          description: The type of this activity
          example: apply
          enum:
          - apply
          - destroy
          - plan
          - drifted
          - import
          - bootstrap
          - synth
          - deploy
          - diff
          - drift
          - rollback
        cost_breakdown_uuid:
          type: string
          description: The ID of any associated cost breakdown data
          example: Labore blanditiis sit.
        cost_currency:
          type: string
          description: The currency used in cost data for this change
          example: Quasi aut veritatis eos dicta quidem.
        cost_diff_total_monthly:
          type: string
          description: The currency used in cost data for this change
          example: Repellendus asperiores ut temporibus ea voluptas modi.
        cost_diff_uuid:
          type: string
          description: The ID of any associated cost diff data
          example: Eveniet itaque est quidem voluptatem architecto nobis.
        cost_past_total_monthly:
          type: string
          description: The currency used in cost data for this change
          example: Fuga ad placeat dicta ad et est.
        cost_total_monthly:
          type: string
          description: The currency used in cost data for this change
          example: Amet voluptas est porro sit et.
        cost_total_monthly_percentage_change:
          type: string
          description: The currency used in cost data for this change
          example: Adipisci praesentium expedita magnam facilis voluptas impedit.
        data_length:
          type: integer
          description: The length of the data
          default: 0
          example: 7972182802535945000
          format: int64
        drift_counts:
          $ref: '#/components/schemas/Counts'
        enable_solutions_factory:
          type: boolean
          description: Indicates if Harness Solution Factory functionality is enabled
          example: true
        git_branch:
          type: string
          description: Git branch associated with this execution
          example: Nam voluptates eos voluptatem maiores.
        git_commit_message:
          type: string
          description: Git commit message associated with this execution
          example: Non et magnam expedita.
        git_commit_sha:
          type: string
          description: Git commit SHA associated with this execution
          example: Itaque quo quas.
        git_repo:
          type: string
          description: Git repo associated with this execution
          example: Aut natus molestias fuga excepturi.
        modules_uuid:
          type: string
          description: The ID of any associated modules data
          example: Consequuntur veniam culpa laudantium autem blanditiis.
        output_counts:
          $ref: '#/components/schemas/Counts'
        pipeline:
          type: string
          description: The unique identifier of any associated pipeline
          example: Non illum exercitationem et sunt earum.
        pipeline_execution_id:
          type: string
          description: The unique identifier for any associated pipeline execution
          example: Accusantium et voluptas.
        pipeline_execution_number:
          type: string
          description: The unique number for any associated pipeline execution
          example: Reiciendis consequatur culpa voluptate a nulla.
        pipeline_name:
          type: string
          description: The name of any associated pipeline
          example: Labore repellat cumque sapiente molestias voluptates.
        pipeline_stage_id:
          type: string
          description: The unique identifier for the associated pipeline stage
          example: Qui commodi.
        plan_uuid:
          type: string
          description: The ID of any associated plan data
          example: Non quo et.
        providers_uuid:
          type: string
          description: The ID of any associated providers data
          example: Reiciendis nemo sunt quis.
        provisioner:
          type: string
          description: The provisioner in use
          example: Incidunt omnis consequatur expedita necessitatibus.
        provisioner_version:
          type: string
          description: The current version of the provisioner in use
          example: Ut maxime velit et qui delectus.
        resource_counts:
          $ref: '#/components/schemas/Counts'
        rollback_reason:
          type: string
          description: 'For rollback activities: optional human-readable reason provided by the actor'
          example: Aliquid ad qui est ut fuga.
        rollback_source_id:
          type: string
          description: 'For rollback activities: the workspacedata ID that was rolled back from'
          example: Officia voluptatem qui.
        stacks:
          type: array
          items:
            $ref: '#/components/schemas/Stacks'
          description: Stack details for multi-stack deployments
          example:
          - assets_uuid: Et consequuntur rerum rerum fugiat voluptatem.
            drift_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            drift_uuid: Eligendi assumenda placeat vero dolorem quia sint.
            error_message: Et sit quis dolores dolores.
            manifest_uuid: Laboriosam labore illo magnam quae officia.
            resource_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            stack_name: Recusandae amet cupiditate recusandae libero.
            stack_outputs:
              Eum alias ex molestiae adipisci odio ut.: Tempore molestias sit asperiores sunt debitis.
            stack_path: Reiciendis error inventore saepe animi.
            status: failure
            template_uuid: Et enim dolores earum tempore totam porro.
            tree_uuid: Ducimus sed sed enim.
          - assets_uuid: Et consequuntur rerum rerum fugiat voluptatem.
            drift_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            drift_uuid: Eligendi assumenda placeat vero dolorem quia sint.
            error_message: Et sit quis dolores dolores.
            manifest_uuid: Laboriosam labore illo magnam quae officia.
            resource_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            stack_name: Recusandae amet cupiditate recusandae libero.
            stack_outputs:
              Eum alias ex molestiae adipisci odio ut.: Tempore molestias sit asperiores sunt debitis.
            stack_path: Reiciendis error inventore saepe animi.
            status: failure
            template_uuid: Et enim dolores earum tempore totam porro.
            tree_uuid: Ducimus sed sed enim.
          - assets_uuid: Et consequuntur rerum rerum fugiat voluptatem.
            drift_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            drift_uuid: Eligendi assumenda placeat vero dolorem quia sint.
            error_message: Et sit quis dolores dolores.
            manifest_uuid: Laboriosam labore illo magnam quae officia.
            resource_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            stack_name: Recusandae amet cupiditate recusandae libero.
            stack_outputs:
              Eum alias ex molestiae adipisci odio ut.: Tempore molestias sit asperiores sunt debitis.
            stack_path: Reiciendis error inventore saepe animi.
            status: failure
            template_uuid: Et enim dolores earum tempore totam porro.
            tree_uuid: Ducimus sed sed enim.
        state_checksum:
          type: string
          description: The checksum of the last-seen state file
          example: Est vel.
        state_uuid:
          type: string
          description: The ID of any associated state data
          example: Est distinctio adipisci quam id.
        terragrunt_details:
          type: array
          items:
            $ref: '#/components/schemas/TerragruntDetail'
          description: Terragrunt details for any associated execution
          example:
          - cost_breakdown_uuid: Labore aliquam qui est.
            cost_currency: Facere perferendis ab sunt.
            cost_diff_total_monthly: Ullam quasi distinctio nostrum ducimus.
            cost_diff_uuid: Repudiandae sunt ut cum voluptatem.
            cost_past_total_monthly: Voluptas amet et.
            cost_total_monthly: Aut temporibus et aperiam dignissimos tenetur.
            cost_total_monthly_percentage_change: Id temporibus enim.
            drift_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            output_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            path_id: Alias nihil sed voluptate hic.
            resource_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            state_file_link: Natus eum recusandae fugit officiis delectus omnis.
            status: Omnis et maxime sunt.
          - cost_breakdown_uuid: Labore aliquam qui est.
            cost_currency: Facere perferendis ab sunt.
            cost_diff_total_monthly: Ullam quasi distinctio nostrum ducimus.
            cost_diff_uuid: Repudiandae sunt ut cum voluptatem.
            cost_past_total_monthly: Voluptas amet et.
            cost_total_monthly: Aut temporibus et aperiam dignissimos tenetur.
            cost_total_monthly_percentage_change: Id temporibus enim.
            drift_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            output_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            path_id: Alias nihil sed voluptate hic.
            resource_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            state_file_link: Natus eum recusandae fugit officiis delectus omnis.
            status: Omnis et maxime sunt.
          - cost_breakdown_uuid: Labore aliquam qui est.
            cost_currency: Facere perferendis ab sunt.
            cost_diff_total_monthly: Ullam quasi distinctio nostrum ducimus.
            cost_diff_uuid: Repudiandae sunt ut cum voluptatem.
            cost_past_total_monthly: Voluptas amet et.
            cost_total_monthly: Aut temporibus et aperiam dignissimos tenetur.
            cost_total_monthly_percentage_change: Id temporibus enim.
            drift_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            output_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            path_id: Alias nihil sed voluptate hic.
            resource_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            state_file_link: Natus eum recusandae fugit officiis delectus omnis.
            status: Omnis et maxime sunt.
        trigger:
          type: object
          description: Trigger info for any associated pipeline execution
          example:
            Nemo quibusdam voluptatem veniam ut quas.: Eum sapiente.
            Vel qui veniam.: Ipsa ipsum corrupti delectus sunt eveniet autem.
          additionalProperties: true
      example:
        PlannedChangesCount: 6562707041593284000
        activity_status: incomplete
        activity_type: synth
        cost_breakdown_uuid: Ipsa nemo expedita officiis.
        cost_currency: Est ipsum aut nisi voluptatem voluptatum voluptas.
        cost_diff_total_monthly: Et dolor omnis ad.
        cost_diff_uuid: Architecto laborum esse.
        cost_past_total_monthly: Voluptates explicabo voluptas qui quibusdam.
        cost_total_monthly: Pariatur animi dolorum asperiores deserunt et.
        cost_total_monthly_percentage_change: Eum reiciendis.
        data_length: 9080201327928640000
        drift_counts:
          added: 4302650415427610600
          changed: 4854591900953545000
          deleted: 1274854759779507500
          imported: 4979352803105197000
          removed: 8385348900669245000
          unchanged: 5543766798044174000
        enable_solutions_factory: true
        git_branch: Hic velit.
        git_commit_message: Ut aut ut reprehenderit et.
        git_commit_sha: Vel eligendi debitis perspiciatis.
        git_repo: Provident qui cumque repellendus natus ut repellendus.
        modules_uuid: Voluptatem sit ea et voluptate.
        output_counts:
          added: 4302650415427610600
          changed: 4854591900953545000
          deleted: 1274854759779507500
          imported: 4979352803105197000
          removed: 8385348900669245000
          unchanged: 5543766798044174000
        pipeline: Voluptatem quam a et eveniet.
        pipeline_execution_id: Vitae sed ea aut dicta praesentium ex.
        pipeline_execution_number: Adipisci minima eum optio hic ab.
        pipeline_name: Iure maxime vero amet repellat.
        pipeline_stage_id: Repellendus accusamus soluta nobis.
        plan_uuid: Sit sed consectetur temporibus tempora.
        providers_uuid: Veritatis debitis exercitationem libero eum sint.
        provisioner: Nisi quam.
        provisioner_version: Eos et.
        resource_counts:
          added: 4302650415427610600
          changed: 4854591900953545000
          deleted: 1274854759779507500
          imported: 4979352803105197000
          removed: 8385348900669245000
          unchanged: 5543766798044174000
        rollback_reason: Iste consequatur ut dolores quia ipsa.
        rollback_source_id: Et aliquid ducimus.
        stacks:
        - assets_uuid: Et consequuntur rerum rerum fugiat voluptatem.
          drift_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          drift_uuid: Eligendi assumenda placeat vero dolorem quia sint.
          error_message: Et sit quis dolores dolores.
          manifest_uuid: Laboriosam labore illo magnam quae officia.
          resource_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          stack_name: Recusandae amet cupiditate recusandae libero.
          stack_outputs:
            Eum alias ex molestiae adipisci odio ut.: Tempore molestias sit asperiores sunt debitis.
          stack_path: Reiciendis error inventore saepe animi.
          status: failure
          template_uuid: Et enim dolores earum tempore totam porro.
          tree_uuid: Ducimus sed sed enim.
        - assets_uuid: Et consequuntur rerum rerum fugiat voluptatem.
          drift_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          drift_uuid: Eligendi assumenda placeat vero dolorem quia sint.
          error_message: Et sit quis dolores dolores.
          manifest_uuid: Laboriosam labore illo magnam quae officia.
          resource_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          stack_name: Recusandae amet cupiditate recusandae libero.
          stack_outputs:
            Eum alias ex molestiae adipisci odio ut.: Tempore molestias sit asperiores sunt debitis.
          stack_path: Reiciendis error inventore saepe animi.
          status: failure
          template_uuid: Et enim dolores earum tempore totam porro.
          tree_uuid: Ducimus sed sed enim.
        - assets_uuid: Et consequuntur rerum rerum fugiat voluptatem.
          drift_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          drift_uuid: Eligendi assumenda placeat vero dolorem quia sint.
          error_message: Et sit quis dolores dolores.
          manifest_uuid: Laboriosam labore illo magnam quae officia.
          resource_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          stack_name: Recusandae amet cupiditate recusandae libero.
          stack_outputs:
            Eum alias ex molestiae adipisci odio ut.: Tempore molestias sit asperiores sunt debitis.
          stack_path: Reiciendis error inventore saepe animi.
          status: failure
          template_uuid: Et enim dolores earum tempore totam porro.
          tree_uuid: Ducimus sed sed enim.
        state_checksum: Quo aut ut aut aperiam laboriosam consequatur.
        state_uuid: Et et et soluta.
        terragrunt_details:
        - cost_breakdown_uuid: Labore aliquam qui est.
          cost_currency: Facere perferendis ab sunt.
          cost_diff_total_monthly: Ullam quasi distinctio nostrum ducimus.
          cost_diff_uuid: Repudiandae sunt ut cum voluptatem.
          cost_past_total_monthly: Voluptas amet et.
          cost_total_monthly: Aut temporibus et aperiam dignissimos tenetur.
          cost_total_monthly_percentage_change: Id temporibus enim.
          drift_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          output_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          path_id: Alias nihil sed voluptate hic.
          resource_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          state_file_link: Natus eum recusandae fugit officiis delectus omnis.
          status: Omnis et maxime sunt.
        - cost_breakdown_uuid: Labore aliquam qui est.
          cost_currency: Facere perferendis ab sunt.
          cost_diff_total_monthly: Ullam quasi distinctio nostrum ducimus.
          cost_diff_uuid: Repudiandae sunt ut cum voluptatem.
          cost_past_total_monthly: Voluptas amet et.
          cost_total_monthly: Aut temporibus et aperiam dignissimos tenetur.
          cost_total_monthly_percentage_change: Id temporibus enim.
          drift_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          output_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          path_id: Alias nihil sed voluptate hic.
          resource_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          state_file_link: Natus eum recusandae fugit officiis delectus omnis.
          status: Omnis et maxime sunt.
        - cost_breakdown_uuid: Labore aliquam qui est.
          cost_currency: Facere perferendis ab sunt.
          cost_diff_total_monthly: Ullam quasi distinctio nostrum ducimus.
          cost_diff_uuid: Repudiandae sunt ut cum voluptatem.
          cost_past_total_monthly: Voluptas amet et.
          cost_total_monthly: Aut temporibus et aperiam dignissimos tenetur.
          cost_total_monthly_percentage_change: Id temporibus enim.
          drift_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          output_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          path_id: Alias nihil sed voluptate hic.
          resource_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          state_file_link: Natus eum recusandae fugit officiis delectus omnis.
          status: Omnis et maxime sunt.
        - cost_breakdown_uuid: Labore aliquam qui est.
          cost_currency: Facere perferendis ab sunt.
          cost_diff_total_monthly: Ullam quasi distinctio nostrum ducimus.
          cost_diff_uuid: Repudiandae sunt ut cum voluptatem.
          cost_past_total_monthly: Voluptas amet et.
          cost_total_monthly: Aut temporibus et aperiam dignissimos tenetur.
          cost_total_monthly_percentage_change: Id temporibus enim.
          drift_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          output_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          path_id: Alias nihil sed voluptate hic.
          resource_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          state_file_link: Natus eum recusandae fugit officiis delectus omnis.
          status: Omnis et maxime sunt.
        trigger:
          Rerum et.: Vel libero voluptas ullam ut alias.
    Stacks:
      type: object
      properties:
        assets_uuid:
          type: string
          description: UUID of the uploaded CDK assets for this stack
          example: Quo dolores non.
        drift_counts:
          $ref: '#/components/schemas/Counts'
        drift_uuid:
          type: string
          description: UUID of the uploaded drift detection results for this stack
          example: Aut ut eum ut maxime est.
        error_message:
          type: string
          description: Error message if status is failure
          example: Aut dolor.
        manifest_uuid:
          type: string
          description: UUID of the uploaded CDK manifest for this stack
          example: Molestias est corrupti sit.
        resource_counts:
          $ref: '#/components/schemas/Counts'
        stack_name:
          type: string
          description: Name of the CDK stack
          example: Iusto voluptas consequuntur.
        stack_outputs:
          type: object
          description: Outputs generated for stack
          example:
            Hic porro totam iusto alias.: Cumque eligendi quibusdam aperiam.
            Quibusdam delectus tenetur.: Ad nisi aut.
            Vitae eaque dolor et maxime.: Et quidem beatae aut tempora architecto omnis.
          additionalProperties:
            type: string
            example: Harum soluta molestias aperiam.
        stack_path:
          type: string
          description: Path to the stack within the CDK app
          example: Rerum autem labore maxime rerum.
        status:
          type: string
          description: Status of the stack operation
          example: failure
          enum:
          - success
          - failure
          - skipped
        template_uuid:
          type: string
          description: UUID of the uploaded CloudFormation template for this stack
          example: In rerum ea.
        tree_uuid:
          type: string
          description: UUID of the uploaded CDK tree for this stack
          example: Repudiandae omnis sapiente voluptatem libero exercitationem.
      description: Stack details for multi-stack deployments
      example:
        assets_uuid: Et pariatur.
        drift_counts:
          added: 4302650415427610600
          changed: 4854591900953545000
          deleted: 1274854759779507500
          imported: 4979352803105197000
          removed: 8385348900669245000
          unchanged: 5543766798044174000
        drift_uuid: Ut velit et et facilis aperiam recusandae.
        error_message: Explicabo veritatis modi aspernatur officia quasi.
        manifest_uuid: Aut beatae tempore nesciunt praesentium aut explicabo.
        resource_counts:
          added: 4302650415427610600
          changed: 4854591900953545000
          deleted: 1274854759779507500
          imported: 4979352803105197000
          removed: 8385348900669245000
          unchanged: 5543766798044174000
        stack_name: Minus qui.
        stack_outputs:
          Et vel.: Voluptas aut sit.
          Illo aperiam animi.: Sunt expedita quas facilis.
          Ratione tempore omnis est.: Corrupti necessitatibus.
        stack_path: Et necessitatibus vel est.
        status: skipped
        template_uuid: Quo aut pariatur qui non.
        tree_uuid: Ducimus adipisci praesentium omnis similique et corporis.
    ChangedOutputCollection:
      type: array
      items:
        $ref: '#/components/schemas/HarnessIacmChangedOutput'
      example:
      - change: added
        expression: <+outputs.instance_id>
        name: instance_public_ip
        new: new value
        old: old value
        sensitive: true
        stack_path: IaCM/TGOverride/environments/dev/ec2
      - change: added
        expression: <+outputs.instance_id>
        name: instance_public_ip
        new: new value
        old: old value
        sensitive: true
        stack_path: IaCM/TGOverride/environments/dev/ec2
      - change: added
        expression: <+outputs.instance_id>
        name: instance_public_ip
        new: new value
        old: old value
        sensitive: true
        stack_path: IaCM/TGOverride/environments/dev/ec2
    ResourceCollection:
      type: array
      items:
        $ref: '#/components/schemas/HarnessIacmResource'
      example:
      - attributes:
          ami: ami-830c94ec
          instance_type: t2.micro
        createdAt: 1627590400
        drift_attributes:
          instance_type: t2.nano
        drift_status: changed
        lastSyncedAt: 1627686800
        mode: resource
        module: full_stack
        monthly_cost: 0.32546890397784883
        monthly_saving: 0.35814372810159073
        name: app_server
        path_id: namespace
        provider: AWS
        recommendation_count: 8335073474648751000
        resource_id: arn:aws:s3:::my-bucket
        sensitive_attributes:
        - instance_type
        type: S3 Bucket
      - attributes:
          ami: ami-830c94ec
          instance_type: t2.micro
        createdAt: 1627590400
        drift_attributes:
          instance_type: t2.nano
        drift_status: changed
        lastSyncedAt: 1627686800
        mode: resource
        module: full_stack
        monthly_cost: 0.32546890397784883
        monthly_saving: 0.35814372810159073
        name: app_server
        path_id: namespace
        provider: AWS
        recommendation_count: 8335073474648751000
        resource_id: arn:aws:s3:::my-bucket
        sensitive_attributes:
        - instance_type
        type: S3 Bucket
      - attributes:
          ami: ami-830c94ec
          instance_type: t2.micro
        createdAt: 1627590400
        drift_attributes:
          instance_type: t2.nano
        drift_status: changed
        lastSyncedAt: 1627686800
        mode: resource
        module: full_stack
        monthly_cost: 0.32546890397784883
        monthly_saving: 0.35814372810159073
        name: app_server
        path_id: namespace
        provider: AWS
        recommendation_count: 8335073474648751000
        resource_id: arn:aws:s3:::my-bucket
        sensitive_attributes:
        - instance_type
        type: S3 Bucket
      - attributes:
          ami: ami-830c94ec
          instance_type: t2.micro
        createdAt: 1627590400
        drift_attributes:
          instance_type: t2.nano
        drift_status: changed
        lastSyncedAt: 1627686800
        mode: resource
        module: full_stack
        monthly_cost: 0.32546890397784883
        monthly_saving: 0.35814372810159073
        name: app_server
        path_id: namespace
        provider: AWS
        recommendation_count: 8335073474648751000
        resource_id: arn:aws:s3:::my-bucket
        sensitive_attributes:
        - instance_type
        type: S3 Bucket
    ChangedResourceCollection:
      type: array
      items:
        $ref: '#/components/schemas/HarnessIacmChangedResource'
      example:
      - change: added
        change_count: 10
        changes:
          Molestias qui odio qui placeat.:
            change: added
            drift: false
            new: new value
            old: old value
            sensitive: true
        drift: false
        module: full_stack
        name: app_server
        provider: AWS
        type: S3 Bucket
      - change: added
        change_count: 10
        changes:
          Molestias qui odio qui placeat.:
            change: added
            drift: false
            new: new value
            old: old value
            sensitive: true
        drift: false
        module: full_stack
        name: app_server
        provider: AWS
        type: S3 Bucket
      - change: added
        change_count: 10
        changes:
          Molestias qui odio qui placeat.:
            change: added
            drift: false
            new: new value
            old: old value
            sensitive: true
        drift: false
        module: full_stack
        name: app_server
        provider: AWS
        type: S3 Bucket
      - change: added
        change_count: 10
        changes:
          Molestias qui odio qui placeat.:
            change: added
            drift: false
            new: new value
            old: old value
            sensitive: true
        drift: false
        module: full_stack
        name: app_server
        provider: AWS
        type: S3 Bucket
    RiskAssessment:
      type: object
      properties:
        overall_risk_summary:
          $ref: '#/components/schemas/OverallRiskSummary'
        resource_risks:
          type: object
          description: Risk data keyed by resource address
          example:
            Est minima quisquam dolorem.:
              risk_factors:
              - Nostrum cupiditate vel adipisci cum omnis.
              - Fugit qui.
              - Sapiente aperiam aut inventore nesciunt non repudiandae.
              risk_level: MEDIUM
              risk_mitigation:
              - Repellat eum suscipit cupiditate ea.
              - Est explicabo voluptate recusandae.
              risk_score: 3
            Impedit quidem eligendi.:
              risk_factors:
              - Nostrum cupiditate vel adipisci cum omnis.
              - Fugit qui.
              - Sapiente aperiam aut inventore nesciunt non repudiandae.
              risk_level: MEDIUM
              risk_mitigation:
              - Repellat eum suscipit cupiditate ea.
              - Est explicabo voluptate recusandae.
              risk_score: 3
            Odio minus.:
              risk_factors:
              - Nostrum cupiditate vel adipisci cum omnis.
              - Fugit qui.
              - Sapiente aperiam aut inventore nesciunt non repudiandae.
              risk_level: MEDIUM
              risk_mitigation:
              - Repellat eum suscipit cupiditate ea.
              - Est explicabo voluptate recusandae.
              risk_score: 3
          additionalProperties:
            $ref: '#/components/schemas/ResourceRisk'
      description: Risk assessment containing overall summary and per-resource risks
      example:
        overall_risk_summary:
          overall_level: HIGH
          overall_score: 7
          reason: 'Driven by highest-risk resource: aws_s3_bucket_public_access_block.secure (score: 8)'
        resource_risks:
          Exercitationem possimus est ullam voluptatem recusandae.:
            risk_factors:
            - Nostrum cupiditate vel adipisci cum omnis.
            - Fugit qui.
            - Sapiente aperiam aut inventore nesciunt non repudiandae.
            risk_level: MEDIUM
            risk_mitigation:
            - Repellat eum suscipit cupiditate ea.
            - Est explicabo voluptate recusandae.
            risk_score: 3
          Labore harum.:
            risk_factors:
            - Nostrum cupiditate vel adipisci cum omnis.
            - Fugit qui.
            - Sapiente aperiam aut inventore nesciunt non repudiandae.
            risk_level: MEDIUM
            risk_mitigation:
            - Repellat eum suscipit cupiditate ea.
            - Est explicabo voluptate recusandae.
            risk_score: 3
      required:
      - overall_risk_summary
      - resource_risks
    HarnessIacmActivity:
      type: object
      properties:
        account:
          type: string
          description: Account is the internal customer account ID.
          example: u
          minLength: 1
          maxLength: 128
        created:
          type: integer
          description: Created is the unix timestamp at which the resource was originally created in milliseconds.
          example: 7724479523586951000
          format: int64
        id:
          type: string
          description: The unique identifier for this activity
          example: Id et esse temporibus sint.
        metadata:
          $ref: '#/components/schemas/ActivityMetadata'
        org:
          type: string
          description: Org is the organisation identifier.
          example: g
          minLength: 1
          maxLength: 128
        project:
          type: string
          description: Project is the project identifier.
          example: o
          minLength: 1
          maxLength: 128
        workspace:
          type: string
          description: The unique identifier for the associated workspace
          example: Aliquam ut vero beatae dolores.
      description: Activity defines an individual significant event in the history of aworkspace
      example:
        account: '932'
        created: 3138729127502960000
        id: Corrupti dolor excepturi eaque exercitationem.
        metadata:
          PlannedChangesCount: 8068703872190990000
          activity_status: failure
          activity_type: synth
          cost_breakdown_uuid: Qui ratione.
          cost_currency: Numquam quis maxime.
          cost_diff_total_monthly: Possimus voluptatem quidem dolorem ullam.
          cost_diff_uuid: Quis reprehenderit expedita atque aut.
          cost_past_total_monthly: Distinctio suscipit et et aut saepe.
          cost_total_monthly: Harum tenetur voluptas eum.
          cost_total_monthly_percentage_change: Autem ipsum tempora sed et.
          data_length: 716540082371348100
          drift_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          enable_solutions_factory: false
          git_branch: Amet voluptatibus est veniam molestias.
          git_commit_message: Sed molestiae minus omnis consequatur et ad.
          git_commit_sha: Et tenetur voluptas velit ratione iste sequi.
          git_repo: Aperiam labore exercitationem ab.
          modules_uuid: Nihil debitis molestiae consequatur nihil quibusdam commodi.
          output_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          pipeline: Laboriosam minus assumenda.
          pipeline_execution_id: Adipisci est eum est ipsa dolor laborum.
          pipeline_execution_number: Iusto enim.
          pipeline_name: Quod molestiae.
          pipeline_stage_id: Omnis possimus unde dolores vitae.
          plan_uuid: Consequuntur tempora magnam eligendi.
          providers_uuid: Itaque et dolorem perferendis et dolore.
          provisioner: Ut inventore.
          provisioner_version: Et asperiores.
          resource_counts:
            added: 4302650415427610600
            changed: 4854591900953545000
            deleted: 1274854759779507500
            imported: 4979352803105197000
            removed: 8385348900669245000
            unchanged: 5543766798044174000
          rollback_reason: Totam deleniti.
          rollback_source_id: Deleniti neque ut quam optio dolorum.
          stacks:
          - assets_uuid: Et consequuntur rerum rerum fugiat voluptatem.
            drift_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            drift_uuid: Eligendi assumenda placeat vero dolorem quia sint.
            error_message: Et sit quis dolores dolores.
            manifest_uuid: Laboriosam labore illo magnam quae officia.
            resource_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            stack_name: Recusandae amet cupiditate recusandae libero.
            stack_outputs:
              Eum alias ex molestiae adipisci odio ut.: Tempore molestias sit asperiores sunt debitis.
            stack_path: Reiciendis error inventore saepe animi.
            status: failure
            template_uuid: Et enim dolores earum tempore totam porro.
            tree_uuid: Ducimus sed sed enim.
          - assets_uuid: Et consequuntur rerum rerum fugiat voluptatem.
            drift_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            drift_uuid: Eligendi assumenda placeat vero dolorem quia sint.
            error_message: Et sit quis dolores dolores.
            manifest_uuid: Laboriosam labore illo magnam quae officia.
            resource_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            stack_name: Recusandae amet cupiditate recusandae libero.
            stack_outputs:
              Eum alias ex molestiae adipisci odio ut.: Tempore molestias sit asperiores sunt debitis.
            stack_path: Reiciendis error inventore saepe animi.
            status: failure
            template_uuid: Et enim dolores earum tempore totam porro.
            tree_uuid: Ducimus sed sed enim.
          - assets_uuid: Et consequuntur rerum rerum fugiat voluptatem.
            drift_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            drift_uuid: Eligendi assumenda placeat vero dolorem quia sint.
            error_message: Et sit quis dolores dolores.
            manifest_uuid: Laboriosam labore illo magnam quae officia.
            resource_counts:
              added: 4302650415427610600
              changed: 4854591900953545000
              deleted: 1274854759779507500
              imported: 4979352803105197000
              removed: 8385348900669245000
              unchanged: 5543766798044174000
            stack_name: Recusandae amet cupiditate recusandae libero.
            stack_outputs:
              Eum alias ex molestiae adipisci odio ut.: Tempore molestias sit asperiores sunt debitis.
            stack_path: Reiciendis error inventore saepe animi.
            status: failure
            template_uuid: Et enim dolores earum tempore totam porro.
            tree_uuid: Ducimus sed sed enim.
          state_checksum: Et quibusdam rerum et.
          state_uuid: Odio qui quis.
          terragrunt_details:
          - cost_breakdown_uuid: Labore aliquam qui est.
            cost_currency: Facere perferendis ab sunt.
[...]
