openapi: 3.2.0
info:
  title: Harness Instance API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Instance
  description: The instance service for working with instances
paths:
  /api/instances:
    get:
      tags:
      - Instance
      summary: List Instance
      description: Endpoint for listing instances, with the option of filtering for a specific infrastructure.
      operationId: Instance#List
      parameters:
      - name: infrastructureID
        in: query
        description: ID of an Infrastructure to filter by
        allowEmptyValue: true
        schema:
          type: string
          description: ID of an Infrastructure to filter by
      - name: orgIdentifier
        in: query
        description: Org is the organization identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Org is the organization identifier.
      - name: projectIdentifier
        in: query
        description: Project is the project identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Project is the project identifier.
      - name: offset
        in: query
        description: Offset for pagination
        allowEmptyValue: true
        schema:
          type: integer
          description: Offset for pagination
          format: int64
      - name: limit
        in: query
        description: Limit for pagination
        allowEmptyValue: true
        schema:
          type: integer
          description: Limit for pagination
          format: int64
      - name: desc
        in: query
        description: Order by descending order
        allowEmptyValue: true
        schema:
          type: boolean
          description: Order by descending order
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          minLength: 1
          maxLength: 128
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceList'
        '400':
          description: 'bad_request: Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'not_found: Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: 'already_exists: Already Exists'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'internal_error: Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: 'unimplemented: Not Implemented'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - x-api-key: []
  /api/instances/{id}:
    get:
      tags:
      - Instance
      summary: Get Instance
      description: Endpoint for retrieving a specific instance.
      operationId: Instance#Get
      parameters:
      - name: infrastructureID
        in: query
        description: ID of the infrastructure
        allowEmptyValue: true
        schema:
          type: string
          description: ID of the infrastructure
      - name: orgIdentifier
        in: query
        description: Org is the organization identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Org is the organization identifier.
      - name: projectIdentifier
        in: query
        description: Project is the project identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Project is the project identifier.
      - name: id
        in: path
        description: ID of the instance
        required: true
        schema:
          type: string
          description: ID of the instance
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          minLength: 1
          maxLength: 128
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
        '400':
          description: 'bad_request: Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'not_found: Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: 'already_exists: Already Exists'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'internal_error: Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: 'unimplemented: Not Implemented'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - x-api-key: []
  /api/instances/{instanceID}/force-state:
    post:
      tags:
      - Instance
      summary: ForceState Instance
      description: Endpoint for forcing a specific instance to a specific state.
      operationId: Instance#ForceState
      parameters:
      - name: orgIdentifier
        in: query
        description: Org is the organization identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Org is the organization identifier.
      - name: projectIdentifier
        in: query
        description: Project is the project identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Project is the project identifier.
      - name: instanceID
        in: path
        description: ID of the instance to force status for
        required: true
        schema:
          type: string
          description: ID of the instance to force status for
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          minLength: 1
          maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForceStateRequestBody'
      responses:
        '200':
          description: OK response.
        '400':
          description: 'bad_request: Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'not_found: Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: 'already_exists: Already Exists'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'internal_error: Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: 'unimplemented: Not Implemented'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - x-api-key: []
  /api/instances/events:
    get:
      tags:
      - Instance
      summary: ListEvents Instance
      description: Endpoint for listing events for a specific instance.
      operationId: Instance#ListEvents
      parameters:
      - name: instanceID
        in: query
        description: ID of an instance to filter by
        allowEmptyValue: true
        schema:
          type: string
          description: ID of an instance to filter by
      - name: infrastructureID
        in: query
        description: ID of an infrastructure to filter by
        allowEmptyValue: true
        schema:
          type: string
          description: ID of an infrastructure to filter by
      - name: infrastructureRevision
        in: query
        description: Revision of the infrastructure to filter by
        allowEmptyValue: true
        schema:
          type: integer
          description: Revision of the infrastructure to filter by
          format: int64
      - name: offset
        in: query
        description: Offset for pagination
        allowEmptyValue: true
        schema:
          type: integer
          description: Offset for pagination
          format: int64
      - name: limit
        in: query
        description: Limit for pagination
        allowEmptyValue: true
        schema:
          type: integer
          description: Limit for pagination
          format: int64
      - name: desc
        in: query
        description: Order by descending order
        allowEmptyValue: true
        schema:
          type: boolean
          description: Order by descending order
      - name: orgIdentifier
        in: query
        description: Org is the organization identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Org is the organization identifier.
      - name: projectIdentifier
        in: query
        description: Project is the project identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Project is the project identifier.
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          minLength: 1
          maxLength: 128
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceEventList'
        '400':
          description: 'bad_request: Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'not_found: Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: 'already_exists: Already Exists'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'internal_error: Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: 'unimplemented: Not Implemented'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - x-api-key: []
  /api/instances/events/{id}:
    get:
      tags:
      - Instance
      summary: GetEvent Instance
      description: Endpoint for retrieving a specific instance event.
      operationId: Instance#GetEvent
      parameters:
      - name: orgIdentifier
        in: query
        description: Org is the organization identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Org is the organization identifier.
      - name: projectIdentifier
        in: query
        description: Project is the project identifier.
        allowEmptyValue: true
        schema:
          type: string
          description: Project is the project identifier.
      - name: id
        in: path
        description: ID of the event to fetch
        required: true
        schema:
          type: string
          description: ID of the event to fetch
      - name: Harness-Account
        in: header
        description: Account is the internal customer account ID.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account is the internal customer account ID.
          minLength: 1
          maxLength: 128
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceEvent'
        '400':
          description: 'bad_request: Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'not_found: Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: 'already_exists: Already Exists'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'internal_error: Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: 'unimplemented: Not Implemented'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - x-api-key: []
components:
  schemas:
    InstanceEvent:
      type: object
      properties:
        createdAt:
          type: string
        event:
          $ref: '#/components/schemas/State'
        id:
          type: string
        infrastructureId:
          type: string
        infrastructureRevision:
          type: integer
          format: int64
        instanceId:
          type: string
    InstanceList:
      type: object
      properties:
        instances:
          type: array
          items:
            $ref: '#/components/schemas/Instance'
        total:
          type: integer
          format: int64
    InstanceEventList:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/InstanceEvent'
        total:
          type: integer
          format: int64
    InstanceStep:
      type: object
      properties:
        step:
          type: string
          enum:
          - unknown
          - apply
          - destroy
          - create
          - delete
          - pause
          - resume
      required:
      - step
    State:
      type: object
      properties:
        state:
          type: string
          enum:
          - unknown
          - inactive
          - instantiated
          - running
          - paused
      required:
      - state
    Error:
      type: object
      properties:
        code:
          type: string
        details:
          type: object
          additionalProperties:
            type: string
        message:
          type: string
        name:
          type: string
      required:
      - name
      - message
    InstanceProgress:
      type: object
      properties:
        progress:
          type: string
          enum:
          - unknown
          - pending
          - running
          - done
          - failed
          - aborted
          - skipped
      required:
      - progress
    ForceStateRequestBody:
      type: object
      properties:
        infrastructureID:
          type: string
          description: ID of the infrastructure
        state:
          $ref: '#/components/schemas/State'
      description: Scope for the request, including account, org and project.
      required:
      - infrastructureID
    Instance:
      type: object
      properties:
        appliedRevision:
          type: integer
          description: Revision of the instance that is currently active
          format: int64
        backend:
          type: string
        createdAt:
          type: string
        currentState:
          $ref: '#/components/schemas/State'
        id:
          type: string
        infrastructureId:
          type: string
        message:
          type: string
        outputs:
          type: object
          additionalProperties:
            type: string
        progress:
          $ref: '#/components/schemas/InstanceProgress'
        step:
          $ref: '#/components/schemas/InstanceStep'
        targetRevision:
          type: integer
          description: Target revision of the instance
          format: int64
        targetState:
          $ref: '#/components/schemas/State'
        updatedAt:
          type: string
        url:
          type: string
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
