openapi: 3.2.0
info:
  title: Harness Home Page Layout API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: HomePageLayout
  description: Home Page Layout
  x-displayName: Home Page Layout
paths:
  /v1/home-page-layout:
    get:
      summary: Get Home Page Layout Details
      tags:
      - HomePageLayout
      security:
      - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/HomePageLayoutResponse'
      operationId: get-home-page-layout-info
      x-stoplight:
        id: 5qz0to5vb79zr
      x-internal: false
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
    post:
      summary: Save Home Page Layout Details
      responses:
        '200':
          $ref: '#/components/responses/HomePageLayoutResponse'
      operationId: save-home-page-layout-info
      x-stoplight:
        id: n3iaiocyjv0kh
      x-internal: false
      requestBody:
        $ref: '#/components/requestBodies/HomePageLayoutRequest'
      tags:
      - HomePageLayout
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
  /v1/home-page-layout/yaml:
    get:
      summary: Get yaml for home page layout
      tags:
      - HomePageLayout
      security:
      - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/HomePageLayoutYamlResponse'
      operationId: get-yaml-for-home-page-layout
      x-stoplight:
        id: 1zne0xmh0mj6o
      x-internal: false
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
  /v1/home-page-layout/custom-card/{card-identifier}/quick-links/{quick-link-identifier}/icon:
    parameters:
    - schema:
        type: string
      name: card-identifier
      in: path
      required: true
    - schema:
        type: string
      name: quick-link-identifier
      in: path
      required: true
    delete:
      summary: Delete custom link card quick links icon
      tags:
      - HomePageLayout
      security:
      - x-api-key: []
      responses:
        '204':
          description: No Content
      operationId: delete-custom-link-card-quick-links
      x-stoplight:
        id: hovwmpqwogep9
      x-internal: false
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
  /v1/home-page-layout/header/quick-links/{quick-link-identifier}/icon:
    parameters:
    - schema:
        type: string
      name: quick-link-identifier
      in: path
      required: true
    delete:
      summary: Delete header quick links icon
      tags:
      - HomePageLayout
      security:
      - x-api-key: []
      responses:
        '204':
          description: No Content
      operationId: delete-headers-quick-links-icon
      x-stoplight:
        id: 12si1vwf5qnvv
      x-internal: false
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
  /v1/home-page-layout/card/{card-identifier}/icon:
    parameters:
    - schema:
        type: string
      name: card-identifier
      in: path
      required: true
    delete:
      summary: Delete card icon
      tags:
      - HomePageLayout
      security:
      - x-api-key: []
      responses:
        '204':
          description: No Content
      operationId: delete-home-page-layout-cards-icon
      x-stoplight:
        id: wgvh8oyencivj
      x-internal: false
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
  /v1/home-page-layout/icon:
    delete:
      summary: Delete homepage layout icon
      tags:
      - HomePageLayout
      security:
      - x-api-key: []
      responses:
        '204':
          description: No Content
      operationId: delete-home-page-layout-icon
      x-stoplight:
        id: f7kbixtn6dju0
      x-internal: false
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      requestBody:
        $ref: '#/components/requestBodies/DeleteHomePageLayoutIconRequest'
components:
  schemas:
    BannerInfo:
      title: BannerInfo
      x-stoplight:
        id: sh7q54y2x3w6n
      type: object
      required:
      - banner_enabled
      properties:
        image:
          $ref: '#/components/schemas/UploadInfo'
        video:
          $ref: '#/components/schemas/UploadInfo'
        type:
          type: string
          x-stoplight:
            id: 6qi1pn6df9w3y
        banner_enabled:
          type: boolean
          x-stoplight:
            id: acof9j24ugx2m
    LinksInfo:
      title: LinksInfo
      x-stoplight:
        id: hs6wffpa1vsmr
      type: object
      required:
      - icon
      - title
      - url
      - identifier
      properties:
        icon:
          type: string
          x-stoplight:
            id: 8tq6yxtmtp8jt
        title:
          type: string
          x-stoplight:
            id: l7xnxrlom0i2n
        url:
          type: string
          x-stoplight:
            id: 739ho9wpegobn
        identifier:
          type: string
          x-stoplight:
            id: qzinj0rideh67
    HeaderInfo:
      title: HeaderInfo
      x-stoplight:
        id: 40s7em3fy3i26
      type: object
      required:
      - header_text
      - quick_links
      properties:
        header_text:
          type: string
          x-stoplight:
            id: ejy8owdfu3a7w
        quick_links:
          type: array
          x-stoplight:
            id: c37mcmjbsb0ew
          items:
            $ref: '#/components/schemas/LinksInfo'
    DeleteHomePageLayoutIconRequest:
      title: DeleteHomePageLayoutIcom
      x-stoplight:
        id: eambi0iwmbtf4
      type: object
      required:
      - icon_url
      properties:
        icon_url:
          type: string
          x-stoplight:
            id: 3orajqsokg0my
    HomePageLayoutRequest:
      title: HomePageLayoutRequest
      x-stoplight:
        id: 3zfmlb9fjyabb
      type: object
      required:
      - home_page_layout
      properties:
        home_page_layout:
          $ref: '#/components/schemas/HomePageLayoutInfo'
    HomePageLayoutResponse:
      title: HomePageLayoutResponse
      x-stoplight:
        id: frc0lddsqe2py
      type: object
      required:
      - home_page_layout
      properties:
        home_page_layout:
          $ref: '#/components/schemas/HomePageLayoutInfo'
    HomePageLayoutYamlResponse:
      title: HomePageLayoutYamlResponse
      x-stoplight:
        id: tjtix0kc16tuq
      type: object
      required:
      - yaml
      properties:
        yaml:
          type: string
          x-stoplight:
            id: p80gq93dymf9w
    Card:
      title: Card
      x-stoplight:
        id: khimyne453c42
      type: object
      x-internal: true
      description: Home Page Layout Cards
      discriminator:
        propertyName: type
        mapping:
          LEARN_MORE: '#/components/schemas/LearnMoreCard'
          TOP_VISITED: '#/components/schemas/TopVisitedCard'
          RECENTLY_VISITED: '#/components/schemas/RecentlyVisitedCard'
          MARKDOWN: '#/components/schemas/MarkdownCard'
          VIDEO: '#/components/schemas/VideoCard'
          CUSTOM_LINK: '#/components/schemas/CustomLinkCard'
          SELF_SERVICE: '#/components/schemas/SelfServiceCard'
          GITHUB: '#/components/schemas/GithubCard'
      required:
      - default_card
      - type
      - title
      - draft
      - identifier
      properties:
        default_card:
          type: boolean
          x-stoplight:
            id: s4rlxamcgghw2
        type:
          x-stoplight:
            id: 1swjrc8l5pbcp
          type: string
          enum:
          - LEARN_MORE
          - TOP_VISITED
          - RECENTLY_VISITED
          - STARRED_ENTITIES
          - MARKDOWN
          - VIDEO
          - CUSTOM_LINK
          - SELF_SERVICE
          - GITHUB
        title:
          type: string
          x-stoplight:
            id: 3c15n5f5znxzy
        draft:
          type: boolean
          x-stoplight:
            id: z7iwwsvonakjg
        identifier:
          type: string
          x-stoplight:
            id: 08fsslff0gc7p
        icon_url:
          type: string
          x-stoplight:
            id: c5jwirnush8mw
    UploadInfo:
      title: UploadInfo
      x-stoplight:
        id: i16ow38yt6ko6
      type: object
      properties:
        url:
          type: string
          x-stoplight:
            id: vuah9tjeklkgo
        uploads:
          type: array
          x-stoplight:
            id: h8egu2hf2jyn3
          items:
            x-stoplight:
              id: ngwwqfsxkzrsl
            type: string
        selected:
          type: string
          x-stoplight:
            id: 3f7t4n7o9ftip
    HomePageLayoutInfo:
      title: HomePageLaout
      x-stoplight:
        id: 46lg0j8o4jyx3
      type: object
      required:
      - header
      - banner
      - cards
      properties:
        header:
          $ref: '#/components/schemas/HeaderInfo'
        banner:
          $ref: '#/components/schemas/BannerInfo'
        cards:
          type: array
          x-stoplight:
            id: l98ox7834hcmr
          items:
            $ref: '#/components/schemas/Card'
  responses:
    HomePageLayoutResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HomePageLayoutResponse'
        application/yaml:
          schema:
            $ref: '#/components/schemas/HomePageLayoutResponse'
    HomePageLayoutYamlResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HomePageLayoutYamlResponse'
        application/yaml:
          schema:
            $ref: '#/components/schemas/HomePageLayoutYamlResponse'
  parameters:
    AccountHeader5:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to.
  requestBodies:
    DeleteHomePageLayoutIconRequest:
      content:
        application/json:
          schema:
            type: object
            $ref: '#/components/schemas/DeleteHomePageLayoutIconRequest'
    HomePageLayoutRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HomePageLayoutRequest'
        application/yaml:
          schema:
            $ref: '#/components/schemas/HomePageLayoutRequest'
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
