openapi: 3.2.0
info:
  title: Harness Exemptions API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Exemptions
  description: Access and modify Exemptions to Security Issues
paths:
  /sto/api/v2/exemptions:
    get:
      tags:
      - Exemptions
      description: List a collection of Exemptions
      operationId: Exemptions#ListExemptions
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: page
        in: query
        description: Page number to fetch (starting from 0)
        allowEmptyValue: true
        schema:
          type: integer
          description: Page number to fetch (starting from 0)
          default: 0
          example: 4
          format: int64
          minimum: 0
        example: 4
      - name: pageSize
        in: query
        description: Number of results per page
        allowEmptyValue: true
        schema:
          type: integer
          description: Number of results per page
          default: 30
          example: 50
          format: int64
          minimum: 1
          maximum: 100
        example: 50
      - name: orgId
        in: query
        description: Harness Organization ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Organization ID
          example: example_org
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_org
      - name: projectId
        in: query
        description: Harness Project ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Project ID
          example: example_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_project
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Rerum optio voluptatem eum quo.
        example: Quasi culpa.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExemptionsListExemptionsResponseBody'
              example:
                pagination:
                  link: ''
                  page: 4
                  pageSize: 20
                  totalItems: 230
                  totalPages: 12
                results:
                - approverEmail: user@harness.io
                  approverId: user111111111111111111
                  approverName: firstname lastname
                  canApproveFor:
                  - ACCOUNT
                  - ORG
                  - PROJECT
                  - PIPELINE
                  canCancel: true
                  canCreate: true
                  canReApprove: true
                  canReject: true
                  comment: This exemption was reviewed by the security team.
                  created: 1651578240
                  exemptionStatusAtScan: Approved
                  expiration: 1651578240
                  id: abcdef1234567890ghijkl
                  isDeleted: true
                  issueId: abcdef1234567890ghijkl
                  lastModified: 1651578240
                  link: https://example.com/ABC-1234
                  numOccurrences: 10
                  occurrences:
                  - 42
                  - 666
                  orgId: your_project
                  orgName: Organization Name
                  pendingChanges:
                    durationDays: 7
                  pipelineId: your_pipeline
                  projectId: your_project
                  projectName: Project Name
                  reason: Waiting on upstream bug fix
                  requestedOn: 1651578240
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                  reviewedOn: 1651578240
                  scanId: abcdef1234567890ghijkl
                  scope: PROJECT
                  search: CWE-123,5
                  status: Expired
                  targetId: abcdef1234567890ghijkl
                  type: Other
                - approverEmail: user@harness.io
                  approverId: user111111111111111111
                  approverName: firstname lastname
                  canApproveFor:
                  - ACCOUNT
                  - ORG
                  - PROJECT
                  - PIPELINE
                  canCancel: true
                  canCreate: true
                  canReApprove: true
                  canReject: true
                  comment: This exemption was reviewed by the security team.
                  created: 1651578240
                  exemptionStatusAtScan: Approved
                  expiration: 1651578240
                  id: abcdef1234567890ghijkl
                  isDeleted: true
                  issueId: abcdef1234567890ghijkl
                  lastModified: 1651578240
                  link: https://example.com/ABC-1234
                  numOccurrences: 10
                  occurrences:
                  - 42
                  - 666
                  orgId: your_project
                  orgName: Organization Name
                  pendingChanges:
                    durationDays: 7
                  pipelineId: your_pipeline
                  projectId: your_project
                  projectName: Project Name
                  reason: Waiting on upstream bug fix
                  requestedOn: 1651578240
                  requesterEmail: user@harness.io
                  requesterId: user111111111111111111
                  requesterName: firstname lastname
                  reviewedOn: 1651578240
                  scanId: abcdef1234567890ghijkl
                  scope: PROJECT
                  search: CWE-123,5
                  status: Expired
                  targetId: abcdef1234567890ghijkl
                  type: Other
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Not Found
                status: 404
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_exemption_view
      summary: Exemptions#List exemptions
      x-summary-source: derived
    post:
      tags:
      - Exemptions
      description: Create a new Exemption
      operationId: Exemptions#CreateExemption
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: orgId
        in: query
        description: ID of the Harness Organization to which the exemption applies. Cannot be specified alongside "targetId".
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: ID of the Harness Organization to which the exemption applies. Cannot be specified alongside "targetId".
          example: your_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        examples:
          default:
            summary: default
            value: your_project
      - name: projectId
        in: query
        description: ID of the Harness Project to which the exemption applies. You must also specify "orgId". Cannot be specified alongside "targetId".
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: ID of the Harness Project to which the exemption applies. You must also specify "orgId". Cannot be specified alongside "targetId".
          example: your_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        examples:
          default:
            summary: default
            value: your_project
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Expedita deleniti veniam tempora in.
        example: Minima quia voluptas ut cumque quos et.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExemptionRequestBody'
            example:
              exemptFutureOccurrences: false
              expiration: 1651578240
              issueId: abcdef1234567890ghijkl
              link: https://example.com/ABC-1234
              occurrences:
              - 42
              - 666
              pendingChanges:
                durationDays: 7
              pipelineId: your_pipeline
              reason: Waiting on upstream bug fix
              requesterEmail: user@harness.io
              requesterName: firstname lastname
              scanId: abcdef1234567890ghijkl
              search: CWE-123,5
              targetId: abcdef1234567890ghijkl
              type: Other
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDResult'
              example:
                id: abcdef1234567890ghijkl
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_exemption_create
      summary: Exemptions#Create exemption
      x-summary-source: derived
  /sto/api/v2/exemptions/{id}:
    delete:
      description: Delete an existing Exemption
      operationId: Exemptions#DeleteExemption
      parameters:
      - allowEmptyValue: true
        description: Harness Account ID
        example: abcdef1234567890ghijkl
        in: query
        name: accountId
        required: true
        schema:
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      - allowEmptyValue: true
        description: Harness Organization ID
        examples:
          default:
            summary: default
            value: example_org
        in: query
        name: orgId
        schema:
          description: Harness Organization ID
          example: example_org
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - allowEmptyValue: true
        description: Harness Project ID
        examples:
          default:
            summary: default
            value: example_project
        in: query
        name: projectId
        schema:
          description: Harness Project ID
          example: example_project
          maxLength: 128
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          type: string
      - description: The ID of the Exemption to delete
        example: abcdef1234567890ghijkl
        in: path
        name: id
        required: true
        schema:
          description: The ID of the Exemption to delete
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
          type: string
      responses:
        '204':
          description: No Content response.
        '400':
          content:
            application/json:
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'BadRequest: Bad Request response.'
        '401':
          content:
            application/json:
              example:
                message: Unauthorized
                status: 401
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Unauthorized: Unauthorized response.'
        '403':
          content:
            application/json:
              example:
                message: Forbidden
                status: 403
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'Forbidden: Forbidden response.'
        '404':
          content:
            application/json:
              example:
                message: Not Found
                status: 404
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'NotFound: Not Found response.'
        '429':
          content:
            application/json:
              example:
                message: Too Many Requests
                status: 429
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'TooManyRequests: Too Many Requests response.'
        '500':
          content:
            application/json:
              example:
                message: Internal Server Error
                status: 500
              schema:
                $ref: '#/components/schemas/NotFound'
          description: 'InternalServerError: Internal Server Error response.'
      security:
      - jwt_header_Authorization:
        - sto_exemption_create
      tags:
      - Exemptions
      x-internal: true
      summary: Exemptions#Delete exemption
      x-summary-source: derived
    get:
      tags:
      - Exemptions
      description: Find Exemption by ID
      operationId: Exemptions#FindExemptionById
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: orgId
        in: query
        description: Harness Organization ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Organization ID
          example: example_org
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        examples:
          default:
            summary: default
            value: example_org
      - name: projectId
        in: query
        description: Harness Project ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Project ID
          example: example_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        examples:
          default:
            summary: default
            value: example_project
      - name: executionId
        in: query
        description: Harness Execution ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Execution ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: ignoreScope
        in: query
        description: Ignore scope
        allowEmptyValue: true
        schema:
          type: boolean
          description: Ignore scope
          example: false
        example: false
      - name: id
        in: path
        description: The ID of the Exemption to retrieve
        required: true
        schema:
          type: string
          description: The ID of the Exemption to retrieve
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Laboriosam sint dolores.
        example: Rerum ut aut vel ipsum.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exemption'
              example:
                approverEmail: user@harness.io
                approverId: user111111111111111111
                approverName: firstname lastname
                canApproveFor:
                - ACCOUNT
                - ORG
                - PROJECT
                - PIPELINE
                canCancel: true
                canCreate: true
                canReApprove: true
                canReject: true
                comment: This exemption was reviewed by the security team.
                created: 1651578240
                exemptionStatusAtScan: Approved
                expiration: 1651578240
                id: abcdef1234567890ghijkl
                isDeleted: true
                issueId: abcdef1234567890ghijkl
                lastModified: 1651578240
                link: https://example.com/ABC-1234
                numOccurrences: 10
                occurrences:
                - 42
                - 666
                orgId: your_project
                orgName: Organization Name
                pendingChanges:
                  durationDays: 7
                pipelineId: your_pipeline
                projectId: your_project
                projectName: Project Name
                reason: Waiting on upstream bug fix
                requestedOn: 1651578240
                requesterEmail: user@harness.io
                requesterId: user111111111111111111
                requesterName: firstname lastname
                reviewedOn: 1651578240
                scanId: abcdef1234567890ghijkl
                scope: PROJECT
                search: CWE-123,5
                status: Expired
                targetId: abcdef1234567890ghijkl
                type: Other
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Not Found
                status: 404
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_exemption_view
      summary: Exemptions#Find exemption by id
      x-summary-source: derived
    put:
      tags:
      - Exemptions
      description: Update an existing Exemption
      operationId: Exemptions#UpdateExemption
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: orgId
        in: query
        description: ID of the Harness Organization to which the exemption applies. Cannot be specified alongside "targetId".
        allowEmptyValue: true
        schema:
          type: string
          description: ID of the Harness Organization to which the exemption applies. Cannot be specified alongside "targetId".
          example: your_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        examples:
          default:
            summary: default
            value: your_project
      - name: projectId
        in: query
        description: ID of the Harness Project to which the exemption applies. You must also specify "orgId". Cannot be specified alongside "targetId".
        allowEmptyValue: true
        schema:
          type: string
          description: ID of the Harness Project to which the exemption applies. You must also specify "orgId". Cannot be specified alongside "targetId".
          example: your_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        examples:
          default:
            summary: default
            value: your_project
      - name: id
        in: path
        description: The ID of the Exemption to update
        required: true
        schema:
          type: string
          description: The ID of the Exemption to update
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Iure quo vero at exercitationem.
        example: Quae aut nemo corporis pariatur.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExemptionRequestBody'
            example:
              expiration: 1651578240
              link: https://example.com/ABC-1234
              pendingChanges:
                durationDays: 7
              pipelineId: your_pipeline
              reason: Waiting on upstream bug fix
              requesterEmail: user@harness.io
              requesterName: firstname lastname
              targetId: abcdef1234567890ghijkl
              type: Other
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exemption'
              example:
                approverEmail: user@harness.io
                approverId: user111111111111111111
                approverName: firstname lastname
                canApproveFor:
                - ACCOUNT
                - ORG
                - PROJECT
                - PIPELINE
                canCancel: true
                canCreate: true
                canReApprove: true
                canReject: true
                comment: This exemption was reviewed by the security team.
                created: 1651578240
                exemptionStatusAtScan: Approved
                expiration: 1651578240
                id: abcdef1234567890ghijkl
                isDeleted: true
                issueId: abcdef1234567890ghijkl
                lastModified: 1651578240
                link: https://example.com/ABC-1234
                numOccurrences: 10
                occurrences:
                - 42
                - 666
                orgId: your_project
                orgName: Organization Name
                pendingChanges:
                  durationDays: 7
                pipelineId: your_pipeline
                projectId: your_project
                projectName: Project Name
                reason: Waiting on upstream bug fix
                requestedOn: 1651578240
                requesterEmail: user@harness.io
                requesterId: user111111111111111111
                requesterName: firstname lastname
                reviewedOn: 1651578240
                scanId: abcdef1234567890ghijkl
                scope: PROJECT
                search: CWE-123,5
                status: Expired
                targetId: abcdef1234567890ghijkl
                type: Other
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Not Found
                status: 404
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_exemption_create
      summary: Exemptions#Update exemption
      x-summary-source: derived
  /sto/api/v2/exemptions/{id}/{action}:
    put:
      tags:
      - Exemptions
      description: Approve/reject an existing Exemption
      operationId: Exemptions#ApproveExemption
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: orgId
        in: query
        description: Harness Organization ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Organization ID
          example: example_org
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        examples:
          default:
            summary: default
            value: example_org
      - name: projectId
        in: query
        description: Harness Project ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Project ID
          example: example_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        examples:
          default:
            summary: default
            value: example_project
      - name: id
        in: path
        description: The ID of the Exemption to update
        required: true
        schema:
          type: string
          description: The ID of the Exemption to update
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: action
        in: path
        description: The approval action to take on the Exemption
        required: true
        schema:
          type: string
          description: The approval action to take on the Exemption
          example: approve
          enum:
          - approve
          - reject
        example: approve
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Pariatur repellendus nisi.
        example: Maxime ducimus.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveExemptionRequestBody'
            example:
              comment: This is a comment for the approval or rejection of the exemption
              pendingChangesOverride:
                durationDays: 30
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exemption'
              example:
                approverEmail: user@harness.io
                approverId: user111111111111111111
                approverName: firstname lastname
                canApproveFor:
                - ACCOUNT
                - ORG
                - PROJECT
                - PIPELINE
                canCancel: true
                canCreate: true
                canReApprove: true
                canReject: true
                comment: This exemption was reviewed by the security team.
                created: 1651578240
                exemptionStatusAtScan: Approved
                expiration: 1651578240
                id: abcdef1234567890ghijkl
                isDeleted: true
                issueId: abcdef1234567890ghijkl
                lastModified: 1651578240
                link: https://example.com/ABC-1234
                numOccurrences: 10
                occurrences:
                - 42
                - 666
                orgId: your_project
                orgName: Organization Name
                pendingChanges:
                  durationDays: 7
                pipelineId: your_pipeline
                projectId: your_project
                projectName: Project Name
                reason: Waiting on upstream bug fix
                requestedOn: 1651578240
                requesterEmail: user@harness.io
                requesterId: user111111111111111111
                requesterName: firstname lastname
                reviewedOn: 1651578240
                scanId: abcdef1234567890ghijkl
                scope: PROJECT
                search: CWE-123,5
                status: Expired
                targetId: abcdef1234567890ghijkl
                type: Other
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Not Found
                status: 404
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_exemption_approve
      summary: Exemptions#Approve exemption
      x-summary-source: derived
  /sto/api/v2/exemptions/{id}/promote:
    put:
      tags:
      - Exemptions
      description: Promote an existing Exemption to a higher scope
      operationId: Exemptions#PromoteExemption
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: orgId
        in: query
        description: Harness Organization ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Organization ID
          example: example_org
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        examples:
          default:
            summary: default
            value: example_org
      - name: projectId
        in: query
        description: Harness Project ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Project ID
          example: example_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        examples:
          default:
            summary: default
            value: example_project
      - name: id
        in: path
        description: The ID of the Exemption to promote
        required: true
        schema:
          type: string
          description: The ID of the Exemption to promote
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Dolor quasi et odit.
        example: Animi non ipsa nisi sed voluptas.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoteExemptionRequestBody'
            example:
              comment: This is a comment for the approval or rejection of the exemption
              pendingChangesOverride:
                durationDays: 30
              pipelineId: abcdef1234567890ghijkl
              targetId: abcdef1234567890ghijkl
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exemption'
              example:
                approverEmail: user@harness.io
                approverId: user111111111111111111
                approverName: firstname lastname
                canApproveFor:
                - ACCOUNT
                - ORG
                - PROJECT
                - PIPELINE
                canCancel: true
                canCreate: true
                canReApprove: true
                canReject: true
                comment: This exemption was reviewed by the security team.
                created: 1651578240
                exemptionStatusAtScan: Approved
                expiration: 1651578240
                id: abcdef1234567890ghijkl
                isDeleted: true
                issueId: abcdef1234567890ghijkl
                lastModified: 1651578240
                link: https://example.com/ABC-1234
                numOccurrences: 10
                occurrences:
                - 42
                - 666
                orgId: your_project
                orgName: Organization Name
                pendingChanges:
                  durationDays: 7
                pipelineId: your_pipeline
                projectId: your_project
                projectName: Project Name
                reason: Waiting on upstream bug fix
                requestedOn: 1651578240
                requesterEmail: user@harness.io
                requesterId: user111111111111111111
                requesterName: firstname lastname
                reviewedOn: 1651578240
                scanId: abcdef1234567890ghijkl
                scope: PROJECT
                search: CWE-123,5
                status: Expired
                targetId: abcdef1234567890ghijkl
                type: Other
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Not Found
                status: 404
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_exemption_approve
      summary: Exemptions#Promote exemption
      x-summary-source: derived
  /sto/api/v2/exemptions/bulk:
    post:
      tags:
      - Exemptions
      summary: Bulk create exemptions
      description: 'Create multiple Exemptions in bulk. The batch is all-or-none for policy violations: if any item would violate an exemption rule, the entire batch is rejected with HTTP 400 and a single error message naming the failing issue and rule (no DB writes happen). Infrastructure failures (DB constraint violations, transaction errors) also fail the entire batch and are surfaced per-item in the response body so ops can diagnose which item triggered the failure.'
      operationId: Exemptions#BulkCreateExemptions
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: orgId
        in: query
        description: Harness Organization ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Organization ID
          example: example_org
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_org
      - name: projectId
        in: query
        description: Harness Project ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Project ID
          example: example_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_project
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Earum ipsa et cumque.
        example: Modi ad quam et est saepe.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCreateExemptionsRequestBody'
            example:
              exemptFutureOccurrences: false
              expiration: 1651578240
              items:
              - issueId: abcdef1234567890ghijkl
                occurrences:
                - 42
                - 666
                pipelineId: your_pipeline
                scanId: abcdef1234567890ghijkl
                search: CWE-123,5
                targetId: abcdef1234567890ghijkl
              - issueId: abcdef1234567890ghijkl
                occurrences:
                - 42
                - 666
                pipelineId: your_pipeline
                scanId: abcdef1234567890ghijkl
                search: CWE-123,5
                targetId: abcdef1234567890ghijkl
              - issueId: abcdef1234567890ghijkl
                occurrences:
                - 42
                - 666
                pipelineId: your_pipeline
                scanId: abcdef1234567890ghijkl
                search: CWE-123,5
                targetId: abcdef1234567890ghijkl
              link: https://example.com/ABC-1234
              pendingChanges:
                durationDays: 7
              reason: Waiting on upstream bug fix
              requesterEmail: user@harness.io
              requesterName: firstname lastname
              type: Other
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkExemptionResult'
              example:
                failed: 1
                results:
                - error: '"targetId" must be specified when "exempt future occurrences" is disabled'
                  id: abcdef1234567890ghijkl
                  issueId: abcdef1234567890ghijkl
                  statusCode: 201
                - error: '"targetId" must be specified when "exempt future occurrences" is disabled'
                  id: abcdef1234567890ghijkl
                  issueId: abcdef1234567890ghijkl
                  statusCode: 201
                succeeded: 5
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_exemption_create
  /sto/api/v2/exemptions/issue/{issueId}:
    get:
      tags:
      - Exemptions
      summary: Get exemption for issue
      description: Get the highest-priority exemption for an issue across all scopes (account, org, project)
      operationId: Exemptions#GetExemptionForIssue
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: orgId
        in: query
        description: Harness Organization ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Organization ID
          example: example_org
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_org
      - name: projectId
        in: query
        description: Harness Project ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Project ID
          example: example_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_project
      - name: issueId
        in: path
        description: Issue ID to find exemption for
        required: true
        schema:
          type: string
          description: Issue ID to find exemption for
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Nesciunt repellendus omnis et.
        example: Est ex sed blanditiis cum.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exemption'
              example:
                approverEmail: user@harness.io
                approverId: user111111111111111111
                approverName: firstname lastname
                canApproveFor:
                - ACCOUNT
                - ORG
                - PROJECT
                - PIPELINE
                canCancel: true
                canCreate: true
                canReApprove: true
                canReject: true
                comment: This exemption was reviewed by the security team.
                created: 1651578240
                exemptionStatusAtScan: Approved
                expiration: 1651578240
                id: abcdef1234567890ghijkl
                isDeleted: true
                issueId: abcdef1234567890ghijkl
                lastModified: 1651578240
                link: https://example.com/ABC-1234
                numOccurrences: 10
                occurrences:
                - 42
                - 666
                orgId: your_project
                orgName: Organization Name
                pendingChanges:
                  durationDays: 7
                pipelineId: your_pipeline
                projectId: your_project
                projectName: Project Name
                reason: Waiting on upstream bug fix
                requestedOn: 1651578240
                requesterEmail: user@harness.io
                requesterId: user111111111111111111
                requesterName: firstname lastname
                reviewedOn: 1651578240
                scanId: abcdef1234567890ghijkl
                scope: PROJECT
                search: CWE-123,5
                status: Expired
                targetId: abcdef1234567890ghijkl
                type: Other
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_exemption_view
  /sto/api/v2/exemptions/issue/{issueId}/history:
    get:
      tags:
      - Exemptions
      summary: List exemption history for issue
      description: Paginated flat timeline of exemption history events for an issue
      operationId: Exemptions#ListIssueExemptionHistory
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: orgId
        in: query
        description: Harness Organization ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Organization ID
          example: example_org
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_org
      - name: projectId
        in: query
        description: Harness Project ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Project ID
          example: example_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_project
      - name: page
        in: query
        description: Page number to fetch (starting from 0)
        allowEmptyValue: true
        schema:
          type: integer
          description: Page number to fetch (starting from 0)
          default: 0
          example: 4
          format: int64
          minimum: 0
        example: 4
      - name: pageSize
        in: query
        description: Number of results per page
        allowEmptyValue: true
        schema:
          type: integer
          description: Number of results per page
          default: 30
          example: 50
          format: int64
          minimum: 1
          maximum: 100
        example: 50
      - name: pipelineId
        in: query
        description: Harness pipeline ID. When set with targetId, scopes history to that pipeline/target (Vulnerabilities tab). Requires orgId and projectId.
        allowEmptyValue: true
        schema:
          type: string
          description: Harness pipeline ID. When set with targetId, scopes history to that pipeline/target (Vulnerabilities tab). Requires orgId and projectId.
          example: sto-core-ci
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: sto-core-ci
      - name: targetId
        in: query
        description: Harness target ID. When set with pipelineId, scopes history to that pipeline/target (Vulnerabilities tab). Requires orgId and projectId.
        allowEmptyValue: true
        schema:
          type: string
          description: Harness target ID. When set with pipelineId, scopes history to that pipeline/target (Vulnerabilities tab). Requires orgId and projectId.
          example: target1111111111111111
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: target1111111111111111
      - name: issueId
        in: path
        description: Issue ID
        required: true
        schema:
          type: string
          description: Issue ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Est laudantium cupiditate est ad repellendus aliquam.
        example: Ut non non.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueExemptionHistoryResult'
              example:
                events:
                - comment: p8h
                  commenterEmail: priya.nair@harness.io
                  commenterId: user111111111111111111
                  commenterName: Priya Nair
                  created: 1781391060
                  durationDays: 3208129927373090300
                  exemptedOccurrenceCount: 744031225383331100
                  exemptionId: exmp111111111111111111
                  expiration: 4477985376795396000
                  id: hist111111111111111111
                  isAutoExpiry: false
                  isOccurrenceLevel: false
                  orgId: Nobis quo dolores commodi.
                  orgName: Default
                  pipelineId: Neque libero qui.
                  pipelineName: STO Core CI
                  projectId: Sed qui harum et cupiditate doloremque corporis.
                  projectName: STO Core
                  reasonType: Compensating Controls
                  scope: ORG
                  status: Pending
                  targetId: Qui aperiam dicta.
                  targetName: sto-core
                - comment: p8h
                  commenterEmail: priya.nair@harness.io
                  commenterId: user111111111111111111
                  commenterName: Priya Nair
                  created: 1781391060
                  durationDays: 3208129927373090300
                  exemptedOccurrenceCount: 744031225383331100
                  exemptionId: exmp111111111111111111
                  expiration: 4477985376795396000
                  id: hist111111111111111111
                  isAutoExpiry: false
                  isOccurrenceLevel: false
                  orgId: Nobis quo dolores commodi.
                  orgName: Default
                  pipelineId: Neque libero qui.
                  pipelineName: STO Core CI
                  projectId: Sed qui harum et cupiditate doloremque corporis.
                  projectName: STO Core
                  reasonType: Compensating Controls
                  scope: ORG
                  status: Pending
                  targetId: Qui aperiam dicta.
                  targetName: sto-core
                - comment: p8h
                  commenterEmail: priya.nair@harness.io
                  commenterId: user111111111111111111
                  commenterName: Priya Nair
                  created: 1781391060
                  durationDays: 3208129927373090300
                  exemptedOccurrenceCount: 744031225383331100
                  exemptionId: exmp111111111111111111
                  expiration: 4477985376795396000
                  id: hist111111111111111111
                  isAutoExpiry: false
                  isOccurrenceLevel: false
                  orgId: Nobis quo dolores commodi.
                  orgName: Default
                  pipelineId: Neque libero qui.
                  pipelineName: STO Core CI
                  projectId: Sed qui harum et cupiditate doloremque corporis.
                  projectName: STO Core
                  reasonType: Compensating Controls
                  scope: ORG
                  status: Pending
                  targetId: Qui aperiam dicta.
                  targetName: sto-core
                pagination:
                  link: ''
                  page: 4
                  pageSize: 20
                  totalItems: 230
                  totalPages: 12
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_exemption_view
  /sto/api/v2/exemptions/issue/{issueId}/history/export:
    get:
      tags:
      - Exemptions
      summary: Export exemption history for issue as CSV
      description: CSV export of the full exemption history timeline for an issue (fetch-all, no pagination)
      operationId: Exemptions#ExportIssueExemptionHistory
      parameters:
      - name: accountId
        in: query
        description: Harness Account ID
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness Account ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: orgId
        in: query
        description: Harness Organization ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Organization ID
          example: example_org
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_org
      - name: projectId
        in: query
        description: Harness Project ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness Project ID
          example: example_project
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: example_project
      - name: pipelineId
        in: query
        description: Harness pipeline ID. When set with targetId, scopes history to that pipeline/target (Vulnerabilities tab). Requires orgId and projectId.
        allowEmptyValue: true
        schema:
          type: string
          description: Harness pipeline ID. When set with targetId, scopes history to that pipeline/target (Vulnerabilities tab). Requires orgId and projectId.
          example: sto-core-ci
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        example: sto-core-ci
      - name: targetId
        in: query
        description: Harness target ID. When set with pipelineId, scopes history to that pipeline/target (Vulnerabilities tab). Requires orgId and projectId.
        allowEmptyValue: true
        schema:
          type: string
          description: Harness target ID. When set with pipelineId, scopes history to that pipeline/target (Vulnerabilities tab). Requires orgId and projectId.
          example: target1111111111111111
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: target1111111111111111
      - name: issueId
        in: path
        description: Issue ID
        required: true
        schema:
          type: string
          description: Issue ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        example: abcdef1234567890ghijkl
      - name: X-Api-Key
        in: header
        description: Harness personal or service access token
        allowEmptyValue: true
        schema:
          type: string
          description: Harness personal or service access token
          example: Molestias earum.
        example: Dolor velit quidem harum hic harum perspiciatis.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportIssueExemptionHistoryResponseBody'
              example:
                data:
                - - Qui sint.
                  - Similique voluptatibus velit.
                - - Minus voluptatum eos fugiat commodi.
                  - Autem enim qui facilis.
                - - Ex ad eius.
                  - Necessitatibus id reiciendis error facere.
                  - Non facilis reiciendis sed.
                  - Reiciendis voluptas omnis est omnis dolores.
                filename: Velit animi incidunt.
                headers:
                - Neque fugit suscipit dolorem.
                - Molestiae ea et quis.
                - Consectetur cupiditate voluptatem ut eligendi.
                issueId: Repellendus non.
                totalRows: 4551642554385867300
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: 'Bad Request: accountId parameter is required'
                status: 400
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Unauthorized
                status: 401
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Forbidden
                status: 403
        '429':
          description: 'TooManyRequests: Too Many Requests response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Too Many Requests
                status: 429
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                message: Internal Server Error
                status: 500
      security:
      - X-Api-Key_header_X-Api-Key: []
        jwt_header_Authorization:
        - sto_exemption_view
  /v1/orgs/{org}/projects/{project}/exemptions:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    get:
      summary: List exemptions for project
      tags:
      - Exemptions
      security:
      - x-api-key: []
      responses:
        '200':
          $ref: '#/components/responses/ExemptionListResponseDTO'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: listExemptionsForProject
      x-stoplight:
        id: 9rlhvfejqah63
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      - $ref: '#/components/parameters/Limit6'
      - $ref: '#/components/parameters/Page2'
      - schema:
          type: array
          items:
            $ref: '#/components/schemas/ExemptionStatusDTO'
        in: query
        name: status
        description: status of the exemption, all statuses will be returned if this is null
      - schema:
          type: string
        in: query
        name: artifact_id
        description: artifactId of the exemption, only applicable for exemptions with ARTIFACT scope
      - schema:
          type: string
        in: query
        name: search_term
        description: Search for exemptions by name
    post:
      summary: Create exemption for project
      tags:
      - Exemptions
      operationId: createExemptionForProject
      security:
      - x-api-key: []
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExemptionResponseDTO'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: bgtzrf9osfkqt
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExemptionRequestDTO'
  /v1/orgs/{org}/projects/{project}/artifacts/{artifact}/exemptions:
    parameters:
    - $ref: '#/components/parameters/ProjectParam1'
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/Artifact'
    post:
      summary: Create exemption for artifact
      operationId: createExemptionForArtifact
      security:
      - x-api-key: []
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExemptionResponseDTO'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExemptionRequestDTO'
      x-stoplight:
        id: gnrf5uwmpc5nq
      tags:
      - Exemptions
  /v1/orgs/{org}/projects/{project}/exemptions/{exemption}:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - $ref: '#/components/parameters/Exemption'
    get:
      summary: Get exemption for project
      tags:
      - Exemptions
      security:
      - x-api-key: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExemptionResponseDTO'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getExemptionForProject
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      x-stoplight:
        id: doij0dtepyqtg
    put:
      summary: Update exemption for project
      operationId: updateExemptionForProject
      security:
      - x-api-key: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExemptionResponseDTO'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: 10lshl289t84n
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExemptionRequestDTO'
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      tags:
      - Exemptions
    delete:
      summary: Delete exemption for project
      operationId: deleteExemptionForProject
      security:
      - x-api-key: []
      responses:
        '204':
          description: ''
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: 5rkc3a8lvyqa5
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      tags:
      - Exemptions
  /v1/orgs/{org}/projects/{project}/artifacts/{artifact}/exemptions/{exemption}:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - $ref: '#/components/parameters/Exemption'
    - $ref: '#/components/parameters/Artifact'
    get:
      summary: Get exemption for artifact
      tags:
      - Exemptions
      security:
      - x-api-key: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExemptionResponseDTO'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getExemptionForArtifact
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      x-stoplight:
        id: 47eka1spqllsf
    put:
      summary: Update exemption for artifact
      operationId: updateExemptionForArtifact
      tags:
      - Exemptions
      security:
      - x-api-key: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExemptionResponseDTO'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExemptionRequestDTO'
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      x-stoplight:
        id: wo6x8cpwhbq3m
    delete:
      summary: Delete exemption for artifact
      operationId: deleteExemptionForArtifact
      tags:
      - Exemptions
      security:
      - x-api-key: []
      responses:
        '204':
          description: ''
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      x-stoplight:
        id: m4w47h5007z2e
  /v1/orgs/{org}/projects/{project}/exemptions/{exemption}/review:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - $ref: '#/components/parameters/Exemption'
    put:
      summary: Review exemption for project
      tags:
      - Exemptions
      security:
      - x-api-key: []
      operationId: reviewExemptionForProject
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExemptionResponseDTO'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      x-stoplight:
        id: l079e2dbui1m8
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExemptionReviewRequestDTO'
  /v1/orgs/{org}/projects/{project}/artifacts/{artifact}/exemptions/{exemption}/review:
    parameters:
    - $ref: '#/components/parameters/OrgParam1'
    - $ref: '#/components/parameters/ProjectParam1'
    - $ref: '#/components/parameters/Exemption'
    - $ref: '#/components/parameters/Artifact'
    put:
      summary: Review exemption for artifact
      operationId: reviewExemptionForArtifact
      tags:
      - Exemptions
      security:
      - x-api-key: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExemptionResponseDTO'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      parameters:
      - $ref: '#/components/parameters/AccountHeader6'
      x-stoplight:
        id: 2guw8lpxf9fwg
      requestBody:
        description: Shared Request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExemptionReviewRequestDTO'
components:
  schemas:
    ExemptionHistoryEvent:
      type: object
      properties:
        comment:
          type: string
          description: eh.comment when present
          example: qj7
          maxLength: 1024
        commenterEmail:
          type: string
          description: Email of the commenter
          example: priya.nair@harness.io
        commenterId:
          type: string
          description: User ID; absent for auto-expiry
          example: user111111111111111111
          pattern: ^[a-zA-Z0-9_-]{22}$
        commenterName:
          type: string
          description: Display name of the commenter
          example: Priya Nair
        created:
          type: integer
          description: Unix timestamp (seconds)
          example: 1781391060
          format: int64
        durationDays:
          type: integer
          description: COALESCE(eh.state.duration_days, pending_changes fallback)
          example: 9210991542842275000
          format: int64
        exemptedOccurrenceCount:
          type: integer
          description: Count of occurrences covered (issue-level fingerprint or scan-scoped)
          example: 8118853364885305000
          format: int64
        exemptionId:
          type: string
          description: Parent exemption.id
          example: exmp111111111111111111
          pattern: ^[a-zA-Z0-9_-]{22}$
        expiration:
          type: integer
          description: Unix timestamp from eh.state.expiration when present
          example: 5621343883892058000
          format: int64
        id:
          type: string
          description: exemption_history.id
          example: hist111111111111111111
          pattern: ^[a-zA-Z0-9_-]{22}$
        isAutoExpiry:
          type: boolean
          description: True when status=Expired and commenter_id IS NULL
          default: false
          example: true
        isOccurrenceLevel:
          type: boolean
          description: True when exemption has exemption_occurrence rows at event time
          example: true
        orgId:
          type: string
          example: Quia labore.
        orgName:
          type: string
          description: Display name for orgId, resolved via ng-manager
          example: Default
        pipelineId:
          type: string
          description: From eh.state.pipeline_id when scope=PIPELINE
          example: Porro qui ut occaecati aperiam.
        pipelineName:
          type: string
          description: Display name for pipelineId, resolved via pipeline service
          example: STO Core CI
        projectId:
          type: string
          example: Iure aperiam.
        projectName:
          type: string
          description: Display name for projectId, resolved via ng-manager
          example: STO Core
        reasonType:
          type: string
          description: From eh.state.type (Compensating Controls, False Positive, etc.)
          example: Compensating Controls
        scope:
          type: string
          example: TARGET
          enum:
          - ACCOUNT
          - ORG
          - PROJECT
          - PIPELINE
          - TARGET
        status:
          type: string
          example: Approved
          enum:
          - Pending
          - Approved
          - Rejected
          - Expired
          - Canceled
        targetId:
          type: string
          description: From eh.state.target_id when scope=TARGET
          example: Nemo qui accusamus et cupiditate voluptatem dolorem.
        targetName:
          type: string
          description: Display name for targetId
          example: sto-core
      description: Single exemption history row with per-event scope snapshot
      example:
        comment: 1j8
        commenterEmail: priya.nair@harness.io
        commenterId: user111111111111111111
        commenterName: Priya Nair
        created: 1781391060
        durationDays: 3814440511166016500
        exemptedOccurrenceCount: 2123339849563154200
        exemptionId: exmp111111111111111111
        expiration: 3829887781061036000
        id: hist111111111111111111
        isAutoExpiry: true
        isOccurrenceLevel: true
        orgId: Quam cum tenetur aut doloremque eius est.
        orgName: Default
        pipelineId: Omnis et voluptatem reiciendis pariatur.
        pipelineName: STO Core CI
        projectId: Dolor ut rerum qui.
        projectName: STO Core
        reasonType: Compensating Controls
        scope: TARGET
        status: Expired
        targetId: Beatae adipisci magnam.
        targetName: sto-core
      required:
      - id
      - exemptionId
      - status
      - created
      - scope
      - isAutoExpiry
    ExemptionsListExemptionsResponseBody:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/StoPagination'
        results:
          type: array
          items:
            $ref: '#/components/schemas/Exemption'
          example:
          - approverEmail: user@harness.io
            approverId: user111111111111111111
            approverName: firstname lastname
            canApproveFor:
            - ACCOUNT
            - ORG
            - PROJECT
            - PIPELINE
            canCancel: true
            canCreate: true
            canReApprove: true
            canReject: true
            comment: This exemption was reviewed by the security team.
            created: 1651578240
            exemptionStatusAtScan: Approved
            expiration: 1651578240
            id: abcdef1234567890ghijkl
            isDeleted: true
            issueId: abcdef1234567890ghijkl
            lastModified: 1651578240
            link: https://example.com/ABC-1234
            numOccurrences: 10
            occurrences:
            - 42
            - 666
            orgId: your_project
            orgName: Organization Name
            pendingChanges:
              durationDays: 7
            pipelineId: your_pipeline
            projectId: your_project
            projectName: Project Name
            reason: Waiting on upstream bug fix
            requestedOn: 1651578240
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
            reviewedOn: 1651578240
            scanId: abcdef1234567890ghijkl
            scope: PROJECT
            search: CWE-123,5
            status: Expired
            targetId: abcdef1234567890ghijkl
            type: Other
          - approverEmail: user@harness.io
            approverId: user111111111111111111
            approverName: firstname lastname
            canApproveFor:
            - ACCOUNT
            - ORG
            - PROJECT
            - PIPELINE
            canCancel: true
            canCreate: true
            canReApprove: true
            canReject: true
            comment: This exemption was reviewed by the security team.
            created: 1651578240
            exemptionStatusAtScan: Approved
            expiration: 1651578240
            id: abcdef1234567890ghijkl
            isDeleted: true
            issueId: abcdef1234567890ghijkl
            lastModified: 1651578240
            link: https://example.com/ABC-1234
            numOccurrences: 10
            occurrences:
            - 42
            - 666
            orgId: your_project
            orgName: Organization Name
            pendingChanges:
              durationDays: 7
            pipelineId: your_pipeline
            projectId: your_project
            projectName: Project Name
            reason: Waiting on upstream bug fix
            requestedOn: 1651578240
            requesterEmail: user@harness.io
            requesterId: user111111111111111111
            requesterName: firstname lastname
            reviewedOn: 1651578240
            scanId: abcdef1234567890ghijkl
            scope: PROJECT
            search: CWE-123,5
            status: Expired
            targetId: abcdef1234567890ghijkl
            type: Other
      example:
        pagination:
          link: ''
          page: 4
          pageSize: 20
          totalItems: 230
          totalPages: 12
        results:
        - approverEmail: user@harness.io
          approverId: user111111111111111111
          approverName: firstname lastname
          canApproveFor:
          - ACCOUNT
          - ORG
          - PROJECT
          - PIPELINE
          canCancel: true
          canCreate: true
          canReApprove: true
          canReject: true
          comment: This exemption was reviewed by the security team.
          created: 1651578240
          exemptionStatusAtScan: Approved
          expiration: 1651578240
          id: abcdef1234567890ghijkl
          isDeleted: true
          issueId: abcdef1234567890ghijkl
          lastModified: 1651578240
          link: https://example.com/ABC-1234
          numOccurrences: 10
          occurrences:
          - 42
          - 666
          orgId: your_project
          orgName: Organization Name
          pendingChanges:
            durationDays: 7
          pipelineId: your_pipeline
          projectId: your_project
          projectName: Project Name
          reason: Waiting on upstream bug fix
          requestedOn: 1651578240
          requesterEmail: user@harness.io
          requesterId: user111111111111111111
          requesterName: firstname lastname
          reviewedOn: 1651578240
          scanId: abcdef1234567890ghijkl
          scope: PROJECT
          search: CWE-123,5
          status: Expired
          targetId: abcdef1234567890ghijkl
          type: Other
        - approverEmail: user@harness.io
          approverId: user111111111111111111
          approverName: firstname lastname
          canApproveFor:
          - ACCOUNT
          - ORG
          - PROJECT
          - PIPELINE
          canCancel: true
          canCreate: true
          canReApprove: true
          canReject: true
          comment: This exemption was reviewed by the security team.
          created: 1651578240
          exemptionStatusAtScan: Approved
          expiration: 1651578240
          id: abcdef1234567890ghijkl
          isDeleted: true
          issueId: abcdef1234567890ghijkl
          lastModified: 1651578240
          link: https://example.com/ABC-1234
          numOccurrences: 10
          occurrences:
          - 42
          - 666
          orgId: your_project
          orgName: Organization Name
          pendingChanges:
            durationDays: 7
          pipelineId: your_pipeline
          projectId: your_project
          projectName: Project Name
          reason: Waiting on upstream bug fix
          requestedOn: 1651578240
          requesterEmail: user@harness.io
          requesterId: user111111111111111111
          requesterName: firstname lastname
          reviewedOn: 1651578240
          scanId: abcdef1234567890ghijkl
          scope: PROJECT
          search: CWE-123,5
          status: Expired
          targetId: abcdef1234567890ghijkl
          type: Other
        - approverEmail: user@harness.io
          approverId: user111111111111111111
          approverName: firstname lastname
          canApproveFor:
          - ACCOUNT
          - ORG
          - PROJECT
          - PIPELINE
          canCancel: true
          canCreate: true
          canReApprove: true
          canReject: true
          comment: This exemption was reviewed by the security team.
          created: 1651578240
          exemptionStatusAtScan: Approved
          expiration: 1651578240
          id: abcdef1234567890ghijkl
          isDeleted: true
          issueId: abcdef1234567890ghijkl
          lastModified: 1651578240
          link: https://example.com/ABC-1234
          numOccurrences: 10
          occurrences:
          - 42
          - 666
          orgId: your_project
          orgName: Organization Name
          pendingChanges:
            durationDays: 7
          pipelineId: your_pipeline
          projectId: your_project
          projectName: Project Name
          reason: Waiting on upstream bug fix
          requestedOn: 1651578240
          requesterEmail: user@harness.io
          requesterId: user111111111111111111
          requesterName: firstname lastname
          reviewedOn: 1651578240
          scanId: abcdef1234567890ghijkl
          scope: PROJECT
          search: CWE-123,5
          status: Expired
          targetId: abcdef1234567890ghijkl
          type: Other
      required:
      - results
      - pagination
    ApproveExemptionRequestBody:
      type: object
      properties:
        comment:
          type: string
          description: Comment to be added to the Exemption approval or rejection
          example: This is a comment for the approval or rejection of the exemption
          maxLength: 1024
        pendingChangesOverride:
          $ref: '#/components/schemas/PendingChanges'
      example:
        comment: This is a comment for the approval or rejection of the exemption
        pendingChangesOverride:
          durationDays: 30
      required:
      - type
      - reason
      - pendingChanges
      - issueId
      - status
      - requesterId
      - created
      - lastModified
    IDResult:
      type: object
      properties:
        id:
          type: string
          description: Resource identifier
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
      example:
        id: abcdef1234567890ghijkl
      required:
      - id
    PromoteExemptionRequestBody:
      type: object
      properties:
        comment:
          type: string
          description: Comment to be added to the Exemption approval or rejection
          example: This is a comment for the approval or rejection of the exemption
          maxLength: 1024
        pendingChangesOverride:
          $ref: '#/components/schemas/PendingChanges'
        pipelineId:
          type: string
          description: Harness STO pipeline ID
          example: abcdef1234567890ghijkl
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        targetId:
          type: string
          description: Harness STO Target ID
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
      example:
        comment: This is a comment for the approval or rejection of the exemption
        pendingChangesOverride:
          durationDays: 30
        pipelineId: abcdef1234567890ghijkl
        targetId: abcdef1234567890ghijkl
      required:
      - type
      - reason
      - pendingChanges
      - issueId
      - status
      - requesterId
      - created
      - lastModified
    StoPagination:
      type: object
      properties:
        link:
          type: string
          description: Link-based paging
          example: ''
        page:
          type: integer
          description: Page number (starting from 0)
          example: 4
          format: int64
        pageSize:
          type: integer
          description: Requested page size
          example: 20
          format: int64
        totalItems:
          type: integer
          description: Total results available
          example: 230
          format: int64
        totalPages:
          type: integer
          description: Total pages available
          example: 12
          format: int64
      example:
        link: ''
        page: 4
        pageSize: 20
        totalItems: 230
        totalPages: 12
      required:
      - page
      - pageSize
      - totalPages
      - totalItems
    CreateExemptionRequestBody:
      type: object
      properties:
        exemptFutureOccurrences:
          type: boolean
          description: States if the user wants to exempt future occurrences of the issue
          default: true
          example: false
        expiration:
          type: integer
          description: Unix timestamp at which this Exemption will expire
          example: 1651578240
          format: int64
        issueId:
          type: string
          description: Issue ID associated with the Exemption
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        link:
          type: string
          description: Link to a related ticket
          example: https://example.com/ABC-1234
          maxLength: 1024
        occurrences:
          type: array
          items:
            type: integer
            example: 3733837613986067500
            format: int64
          description: Array of occurrence Ids
          example:
          - 42
          - 666
        pendingChanges:
          $ref: '#/components/schemas/PendingChanges'
        pipelineId:
          type: string
          description: ID of the Harness Pipeline to which the exemption applies. You must also specify "projectId" and "orgId". Cannot be specified alongside "targetId".
          example: your_pipeline
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        reason:
          type: string
          description: Text describing why this Exemption is necessary
          example: Waiting on upstream bug fix
          maxLength: 1024
        requesterEmail:
          type: string
          description: Email of the user who requested this Exemption
          example: user@harness.io
        requesterName:
          type: string
          description: Name of the user who requested this Exemption
          example: firstname lastname
        scanId:
          type: string
          description: ID of the Harness Scan to determine all the occurrences for the scan-issue. You must also specify "projectId", "orgId" and "targetId". Cannot be specified alongside "pipelineId".
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        search:
          type: string
          description: Search parameter to find filtered occurrences of the issue
          example: CWE-123,5
          maxLength: 256
        targetId:
          type: string
          description: ID of the Target to which the exemption applies. Cannot be specified alongside "projectId" or "pipelineId".
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        type:
          type: string
          description: Type of Exemption (Compensating Controls / Acceptable Use / Acceptable Risk / False Positive / Fix Unavailable / Other)
          example: Other
          enum:
          - Compensating Controls
          - Acceptable Use
          - Acceptable Risk
          - False Positive
          - Fix Unavailable
          - Other
      example:
        exemptFutureOccurrences: false
        expiration: 1651578240
        issueId: abcdef1234567890ghijkl
        link: https://example.com/ABC-1234
        occurrences:
        - 42
        - 666
        pendingChanges:
          durationDays: 7
        pipelineId: your_pipeline
        reason: Waiting on upstream bug fix
        requesterEmail: user@harness.io
        requesterName: firstname lastname
        scanId: abcdef1234567890ghijkl
        search: CWE-123,5
        targetId: abcdef1234567890ghijkl
        type: Other
      required:
      - type
      - reason
      - pendingChanges
      - issueId
      - status
      - requesterId
      - id
      - created
      - lastModified
    BulkExemptionItem:
      type: object
      properties:
        issueId:
          type: string
          description: Issue ID associated with the Exemption
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        occurrences:
          type: array
          items:
            type: integer
            example: 1662420723120880000
            format: int64
          description: Array of occurrence IDs
          example:
          - 42
          - 666
        pipelineId:
          type: string
          description: ID of the Harness Pipeline to which the exemption applies. Cannot be specified alongside "targetId".
          example: your_pipeline
          pattern: ^[A-Za-z_][A-Za-z0-9_]*$
          maxLength: 128
        scanId:
          type: string
          description: ID of the Harness Scan to determine all occurrences for the scan-issue.
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
        search:
          type: string
          description: Search parameter to find filtered occurrences of the issue
          example: CWE-123,5
          maxLength: 256
        targetId:
          type: string
          description: ID of the Target to which the exemption applies. Cannot be specified alongside "pipelineId".
          example: abcdef1234567890ghijkl
          pattern: ^[a-zA-Z0-9_-]{22}$
      example:
        issueId: abcdef1234567890ghijkl
        occurrences:
        - 42
        - 666
        pipelineId: your_pipeline
        scanId: abcdef1234567890ghijkl
        search: CWE-123,5
        targetId: abcdef1234567890ghijkl
      required:
      - issueId
    PendingChanges:
      type: object
[...]
