openapi: 3.2.0
info:
  title: Harness Pipeline Input Set API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Pipeline Input Set
  description: This contains APIs related to Input Sets
paths:
  /pipeline/api/inputSets:
    get:
      tags:
      - Pipeline Input Set
      summary: List Input Sets
      description: Lists all Input Sets for a Pipeline
      operationId: listInputSet
      parameters:
      - name: pageIndex
        in: query
        description: 'Page Index of the results to fetch.Default Value: 0'
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: Results per page
        schema:
          type: integer
          format: int32
          default: 100
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pipelineIdentifier
        in: query
        description: Pipeline identifier for which we need the Input Sets list.
        required: true
        schema:
          type: string
      - name: inputSetType
        in: query
        description: Type of Input Set. The default value is ALL.
        schema:
          type: string
          enum:
          - ALL
          - INPUT_SET
          - OVERLAY_INPUT_SET
          default: ALL
      - name: searchTerm
        in: query
        description: Search term to filter out Input Sets based on name, identifier, tags.
        schema:
          type: string
      - name: sortOrders
        in: query
        description: Sort criteria for the elements.
        schema:
          type: array
          items:
            type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Fetch all the Input Sets for a Pipeline, including Overlay Input Sets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseInputSetSummaryResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseInputSetSummaryResponse'
    post:
      tags:
      - Pipeline Input Set
      summary: Create an Input Set
      description: Creates an Input Set for a Pipeline
      operationId: postInputSet
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pipelineIdentifier
        in: query
        description: Pipeline Identifier for the entity.
        required: true
        schema:
          type: string
      - name: pipelineBranch
        in: query
        description: Github branch of the Pipeline for which the Input Set is to be created
        schema:
          type: string
      - name: pipelineRepoID
        in: query
        description: Github Repo identifier of the Pipeline for which the Input Set is to be created
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: rootFolder
        in: query
        description: Path to the root folder of the Entity. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: filePath
        in: query
        description: File Path of the Entity.
        schema:
          type: string
      - name: commitMsg
        in: query
        description: File Path of the Entity.
        schema:
          type: string
      - name: isNewBranch
        in: query
        description: Checks the new branch
        schema:
          type: boolean
          default: false
      - name: baseBranch
        in: query
        description: Name of the default branch.
        schema:
          type: string
      - name: connectorRef
        in: query
        description: Identifier of Connector needed for CRUD operations on the respective Entity
        schema:
          type: string
      - name: storeType
        in: query
        description: Tells whether the Entity is to be saved on Git or not
        schema:
          type: string
          enum:
          - INLINE
          - REMOTE
          - INLINE_HC
      - name: repoName
        in: query
        description: Name of the repository.
        schema:
          type: string
      - name: isHarnessCodeRepo
        in: query
        description: Is Harness code repo enabled
        schema:
          type: boolean
      - name: InputSetVersion
        in: query
        description: Input set yaml version, should be one of '0' or '1'
        schema:
          type: string
          default: '0'
      requestBody:
        description: Input set YAML to be created. The Account, Org, Project, and Pipeline identifiers inside the YAML should match the query parameters.
        content:
          application/yaml:
            schema:
              type: string
            examples:
              Create:
                summary: Sample Input Set YAML
                description: Sample Input Set YAML
                value: "inputSet:\n    name: Sample Input Set\n    tags: {}\n    identifier: Sample_Input_Set\n    orgIdentifier: default\n    projectIdentifier: MISC\n    pipeline:\n        identifier: Sample_Pipeline\n        stages:\n            - stage:\n                  identifier: Sample_Stage\n                  type: Approval\n                  spec:\n                      execution:\n                          steps:\n                              - step:\n                                    identifier: Approval_Step\n                                    type: HarnessApproval\n                                    spec:\n                                        approvers:\n                                            userGroups:\n                                                - account.Admins\n                              - step:\n                                    identifier: Shellscript_Step\n                                    type: ShellScript\n                                    spec:\n                                        source:\n                                            type: Inline\n                                            spec:\n                                                script: echo \"ShellScript\"\n            - stage:\n                  identifier: Sample_Deploy_Stage\n                  type: Deployment\n                  spec:\n                      serviceConfig:\n                          serviceRef: Service1\n                      infrastructure:\n                          environmentRef: Env1\n                          infrastructureDefinition:\n                              type: KubernetesDirect\n                              spec:\n                                  connectorRef: account.harnessciplatform\n                                  namespace: sample\n"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: If the YAML is valid, returns created Input Set. If not, it sends what is wrong with the YAML
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOInputSetResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOInputSetResponse'
  /pipeline/api/inputSets/overlay:
    post:
      tags:
      - Pipeline Input Set
      summary: Create an Overlay Input Set for a pipeline
      operationId: postOverlayInputSet
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pipelineIdentifier
        in: query
        description: Pipeline Identifier for the entity.
        required: true
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: rootFolder
        in: query
        description: Path to the root folder of the Entity. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: filePath
        in: query
        description: File Path of the Entity.
        schema:
          type: string
      - name: commitMsg
        in: query
        description: File Path of the Entity.
        schema:
          type: string
      - name: isNewBranch
        in: query
        description: Checks the new branch
        schema:
          type: boolean
          default: false
      - name: baseBranch
        in: query
        description: Name of the default branch.
        schema:
          type: string
      - name: connectorRef
        in: query
        description: Identifier of Connector needed for CRUD operations on the respective Entity
        schema:
          type: string
      - name: storeType
        in: query
        description: Tells whether the Entity is to be saved on Git or not
        schema:
          type: string
          enum:
          - INLINE
          - REMOTE
          - INLINE_HC
      - name: repoName
        in: query
        description: Name of the repository.
        schema:
          type: string
      - name: isHarnessCodeRepo
        in: query
        description: Is Harness code repo enabled
        schema:
          type: boolean
      requestBody:
        description: Overlay Input Set YAML to be created. The Account, Org, Project, and Pipeline identifiers inside the YAML should match the query parameters
        content:
          application/json:
            schema:
              type: string
          application/yaml:
            schema:
              type: string
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: If the YAML is valid, returns created Overlay Input Set. If not, it sends what is wrong with the YAML
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOOverlayInputSetResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOOverlayInputSetResponse'
  /pipeline/api/inputSets/{inputSetIdentifier}:
    get:
      tags:
      - Pipeline Input Set
      summary: Fetch an Input Set
      description: Returns Input Set for a Given Identifier (Throws an Error if no Input Set Exists)
      operationId: getInputSet
      parameters:
      - name: inputSetIdentifier
        in: path
        description: Identifier for the Input Set
        required: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pipelineIdentifier
        in: query
        description: Pipeline Identifier for the entity.
        required: true
        schema:
          type: string
      - name: pipelineBranch
        in: query
        description: Github branch of the Pipeline for which the Input Set is to be fetched
        schema:
          type: string
      - name: pipelineRepoID
        in: query
        description: Github Repo identifier of the Pipeline for which the Input Set is to be fetched
        schema:
          type: string
      - name: loadFromFallbackBranch
        in: query
        schema:
          type: boolean
          default: false
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      - name: Load-From-Cache
        in: header
        schema:
          type: string
          default: 'false'
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Returns Input Set if exists for the given Identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOInputSetResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOInputSetResponse'
    put:
      tags:
      - Pipeline Input Set
      summary: Update an Input Set
      description: Updates the Input Set for a Pipeline
      operationId: putInputSet
      parameters:
      - name: If-Match
        in: header
        description: Version of Entity to match
        schema:
          type: string
      - name: inputSetIdentifier
        in: path
        description: Identifier for the Input Set that needs to be updated. An Input Set corresponding to this identifier should already exist.
        required: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pipelineIdentifier
        in: query
        description: Pipeline Identifier for the entity.
        required: true
        schema:
          type: string
      - name: pipelineBranch
        in: query
        description: Github branch of the Pipeline for which the Input Set is to be updated
        schema:
          type: string
      - name: pipelineRepoID
        in: query
        description: Github Repo Id of the Pipeline for which the Input Set is to be updated
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: rootFolder
        in: query
        description: Path to the root folder of the Entity. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: filePath
        in: query
        description: File Path of the Entity.
        schema:
          type: string
      - name: commitMsg
        in: query
        description: Commit Message to use for the merge commit.
        schema:
          type: string
      - name: lastObjectId
        in: query
        description: Its required field during update call request. It can be fetched from the response of GET API call for the entity
        schema:
          type: string
      - name: resolvedConflictCommitId
        in: query
        description: If the entity is git-synced, this parameter represents the commit id against which file conflicts are resolved
        schema:
          type: string
      - name: baseBranch
        in: query
        description: Name of the default branch.
        schema:
          type: string
      - name: connectorRef
        in: query
        description: Identifier of Connector needed for CRUD operations on the respective Entity
        schema:
          type: string
      - name: lastCommitId
        in: query
        description: last commit id of the file
        schema:
          type: string
      - name: isNewBranch
        in: query
        description: Checks the new branch
        schema:
          type: boolean
          default: false
      - name: isHarnessCodeRepo
        in: query
        description: Is Harness code repo enabled
        schema:
          type: boolean
      - name: InputSetVersion
        in: query
        description: Input set yaml version, should be one of '0' or '1'
        schema:
          type: string
          default: '0'
      requestBody:
        description: Input set YAML to be updated. The query parameters should match the Account, Org, Project, and Pipeline Ids in the YAML.
        content:
          application/yaml:
            schema:
              type: string
            examples:
              Update:
                summary: Sample Input Set YAML
                description: Sample Input Set YAML
                value: "inputSet:\n    name: Sample Input Set\n    tags: {}\n    identifier: Sample_Input_Set\n    orgIdentifier: default\n    projectIdentifier: MISC\n    pipeline:\n        identifier: Sample_Pipeline\n        stages:\n            - stage:\n                  identifier: Sample_Stage\n                  type: Approval\n                  spec:\n                      execution:\n                          steps:\n                              - step:\n                                    identifier: Approval_Step\n                                    type: HarnessApproval\n                                    spec:\n                                        approvers:\n                                            userGroups:\n                                                - account.Admins\n                              - step:\n                                    identifier: Shellscript_Step\n                                    type: ShellScript\n                                    spec:\n                                        source:\n                                            type: Inline\n                                            spec:\n                                                script: echo \"ShellScript\"\n            - stage:\n                  identifier: Sample_Deploy_Stage\n                  type: Deployment\n                  spec:\n                      serviceConfig:\n                          serviceRef: Service1\n                      infrastructure:\n                          environmentRef: Env1\n                          infrastructureDefinition:\n                              type: KubernetesDirect\n                              spec:\n                                  connectorRef: account.harnessciplatform\n                                  namespace: sample\n"
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: If the YAML is valid, returns the updated Input Set. If not, it sends what is wrong with the YAML
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOInputSetResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOInputSetResponse'
    delete:
      tags:
      - Pipeline Input Set
      summary: Delete an Input Set
      description: Deletes the Input Set by Identifier
      operationId: deleteInputSet
      parameters:
      - name: If-Match
        in: header
        description: Version of Entity to match
        schema:
          type: string
      - name: inputSetIdentifier
        in: path
        description: Identifier of the Input Set that should be deleted.
        required: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pipelineIdentifier
        in: query
        description: Pipeline Identifier for the entity.
        required: true
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: rootFolder
        in: query
        description: Path to the root folder of the Entity. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: filePath
        in: query
        description: File Path of the Entity.
        schema:
          type: string
      - name: commitMsg
        in: query
        description: Commit Message to use for the merge commit.
        schema:
          type: string
      - name: lastObjectId
        in: query
        description: Last Object Id
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Return the Deleted Input Set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
  /pipeline/api/inputSets/get/batch-input-sets-metadata:
    post:
      tags:
      - Pipeline Input Set
      summary: List regular Input Sets for multiple pipelines (excludes overlay input sets)
      description: Lists regular Input Sets for multiple pipelines (excludes overlay input sets). If pipeline identifiers are not provided, fetches all accessible input sets based on RBAC permissions.
      operationId: getBatchInputSetsMetadata
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pageIndex
        in: query
        description: 'Page Index of the results to fetch.Default Value: 0'
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: Results per page
        schema:
          type: integer
          format: int32
          default: 20
      - name: searchTerm
        in: query
        description: Search term to filter out Input Sets based on name, identifier, tags.
        schema:
          type: string
      requestBody:
        description: Optional request containing pipeline identifiers to fetch regular input sets for. If not provided or empty, fetches all accessible input sets based on RBAC permissions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputSetsAPIRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/BatchInputSetsAPIRequest'
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Fetch regular Input Sets for the specified pipelines (excludes overlay input sets). If no pipeline identifiers provided, returns all accessible input sets based on RBAC.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseInputSetListResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseInputSetListResponse'
  /pipeline/api/inputSets/get/bulk:
    post:
      tags:
      - Pipeline Input Set
      summary: Get multiple input sets by identifiers (non-deleted only)
      description: Gets multiple input sets by their identifiers for a specific pipeline. Only returns non-deleted input sets.
      operationId: getBulkInputSets
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pipelineIdentifier
        in: query
        description: Pipeline Identifier
        required: true
        schema:
          type: string
      requestBody:
        description: Request containing input set identifiers to fetch
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkInputSetsAPIRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/BulkInputSetsAPIRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Fetch multiple non-deleted input sets by their identifiers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOBulkInputSetsAPIResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOBulkInputSetsAPIResponse'
  /pipeline/api/inputSets/merge:
    post:
      tags:
      - Pipeline Input Set
      summary: Merge given Input Sets into a single Runtime Input YAML
      operationId: mergeInputSets
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pipelineIdentifier
        in: query
        description: Pipeline Identifier for the entity.
        required: true
        schema:
          type: string
      - name: pipelineBranch
        in: query
        description: Github branch of the Pipeline to which the Input Sets belong
        schema:
          type: string
      - name: pipelineRepoID
        in: query
        description: Github Repo identifier of the Pipeline to which the Input Sets belong
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      - name: Load-From-Cache
        in: header
        schema:
          type: string
          default: 'false'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeInputSetRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/MergeInputSetRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Merge given Input Sets into A single Runtime Input YAML
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOMergeInputSetResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOMergeInputSetResponse'
  /pipeline/api/inputSets/overlay/{inputSetIdentifier}:
    get:
      tags:
      - Pipeline Input Set
      summary: Gets an Overlay Input Set by identifier
      operationId: getOverlayInputSet
      parameters:
      - name: inputSetIdentifier
        in: path
        description: Identifier for the Overlay Input Set
        required: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pipelineIdentifier
        in: query
        description: Pipeline Identifier for the entity.
        required: true
        schema:
          type: string
      - name: pipelineBranch
        in: query
        description: Github branch of the Pipeline for which the Input Set is to be fetched
        schema:
          type: string
      - name: pipelineRepoID
        in: query
        description: Github Repo identifier of the Pipeline for which the Input Set is to be fetched
        schema:
          type: string
      - name: loadFromFallbackBranch
        in: query
        schema:
          type: boolean
          default: false
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      - name: Load-From-Cache
        in: header
        schema:
          type: string
          default: 'false'
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: The Overlay Input Set that corresponds to the given Overlay Input Set Identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOOverlayInputSetResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOOverlayInputSetResponse'
    put:
      tags:
      - Pipeline Input Set
      summary: Update an Overlay Input Set for a pipeline
      operationId: putOverlayInputSet
      parameters:
      - name: If-Match
        in: header
        description: Version of Entity to match
        schema:
          type: string
      - name: inputSetIdentifier
        in: path
        description: Identifier for the Overlay Input Set that needs to be updated.
        required: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pipelineIdentifier
        in: query
        description: Pipeline Identifier for the entity.
        required: true
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: rootFolder
        in: query
        description: Path to the root folder of the Entity. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: filePath
        in: query
        description: File Path of the Entity.
        schema:
          type: string
      - name: commitMsg
        in: query
        description: Commit Message to use for the merge commit.
        schema:
          type: string
      - name: lastObjectId
        in: query
        description: Its required field during update call request. It can be fetched from the response of GET API call for the entity
        schema:
          type: string
      - name: resolvedConflictCommitId
        in: query
        description: If the entity is git-synced, this parameter represents the commit id against which file conflicts are resolved
        schema:
          type: string
      - name: baseBranch
        in: query
        description: Name of the default branch.
        schema:
          type: string
      - name: connectorRef
        in: query
        description: Identifier of Connector needed for CRUD operations on the respective Entity
        schema:
          type: string
      - name: lastCommitId
        in: query
        description: last commit id of the file
        schema:
          type: string
      - name: isNewBranch
        in: query
        description: Checks the new branch
        schema:
          type: boolean
          default: false
      - name: isHarnessCodeRepo
        in: query
        description: Is Harness code repo enabled
        schema:
          type: boolean
      requestBody:
        description: Overlay Input Set YAML to be updated. The Account, Org, Project, and Pipeline identifiers inside the YAML should match the query parameters, and the Overlay Input Set identifier cannot be changed.
        content:
          application/json:
            schema:
              type: string
          application/yaml:
            schema:
              type: string
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: If the YAML is valid, returns the updated Overlay Input Set. If not, it sends what is wrong with the YAML
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOOverlayInputSetResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOOverlayInputSetResponse'
  /pipeline/api/inputSets/template:
    post:
      tags:
      - Pipeline Input Set
      summary: Fetch Runtime Input Template
      description: Returns Runtime Input Template for a Pipeline
      operationId: runtimeInputTemplate
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pipelineIdentifier
        in: query
        description: Pipeline identifier for which we need the Runtime Input Template.
        required: true
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      - name: Load-From-Cache
        in: header
        schema:
          type: string
          default: 'false'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputSetTemplateRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/InputSetTemplateRequest'
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Fetch Runtime Input Template for a Pipeline, along with any expressions whose value is needed for running specific Stages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOInputSetTemplateWithReplacedExpressionsResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOInputSetTemplateWithReplacedExpressionsResponse'
  /pipeline/api/inputSets/refresh-and-get/{inputSetIdentifier}:
    get:
      tags:
      - Pipeline Input Set
      summary: Refresh cache and fetch an Input Set
      description: Force-refreshes the git file cache for a remote Input Set and returns the freshly fetched entity. Requires the git branch query parameter — repo default branch is not inferred when branch is omitted. Behind the PIPE_GITX_FORCE_REFRESH feature flag.
      operationId: refreshAndGetInputSet
      parameters:
      - name: inputSetIdentifier
        in: path
        description: Identifier for the Input Set
        required: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pipelineIdentifier
        in: query
        description: Pipeline Identifier for the entity.
        required: true
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Returns Input Set YAML fetched fresh from git
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOInputSetResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOInputSetResponse'
  /pipeline/api/inputSets/{inputSetIdentifier}/update-git-metadata:
    put:
      tags:
      - Pipeline Input Set
      summary: Update git-metadata in remote input-set
      description: Update git-metadata in remote input-set and return the updated input-set
      operationId: updateInputSetGitDetails
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pipelineIdentifier
        in: query
        description: Pipeline Identifier for the entity.
        required: true
        schema:
          type: string
      - name: inputSetIdentifier
        in: path
        description: Identifier for the Input Set
        required: true
        schema:
          type: string
      - name: connectorRef
        in: query
        description: Identifier of Connector needed for CRUD operations on the respective Entity
        schema:
          type: string
      - name: repoName
        in: query
        description: Name of the repository.
        schema:
          type: string
      - name: filePath
        in: query
        description: File Path of the Entity.
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Returns identifier of updated input-set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOInputSetGitUpdateResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOInputSetGitUpdateResponse'
components:
  schemas:
    FeatureSupportOrBuilder:
      type: object
      properties:
        editionIntroduced:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        editionDeprecated:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        deprecationWarning:
          type: string
        deprecationWarningBytes:
          $ref: '#/components/schemas/ByteString'
        editionRemoved:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ResponseDTOBoolean:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          type: boolean
        metaData:
          type: object
        correlationId:
          type: string
    ParserMessage:
      type: object
    DeclarationOrBuilder:
      type: object
      properties:
        reserved:
          type: boolean
        fullNameBytes:
          $ref: '#/components/schemas/ByteString'
        type:
          type: string
        number:
          type: integer
          format: int32
        fullName:
          type: string
        repeated:
          type: boolean
        typeBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    FeatureSetOrBuilder:
      type: object
      properties:
        enumType:
          type: string
          enum:
          - ENUM_TYPE_UNKNOWN
          - OPEN
          - CLOSED
        jsonFormat:
          type: string
          enum:
          - JSON_FORMAT_UNKNOWN
          - ALLOW
          - LEGACY_BEST_EFFORT
        messageEncoding:
          type: string
          enum:
          - MESSAGE_ENCODING_UNKNOWN
          - LENGTH_PREFIXED
          - DELIMITED
        utf8Validation:
          type: string
          enum:
          - UTF8_VALIDATION_UNKNOWN
          - VERIFY
          - NONE
        fieldPresence:
          type: string
          enum:
          - FIELD_PRESENCE_UNKNOWN
          - EXPLICIT
          - IMPLICIT
          - LEGACY_REQUIRED
        repeatedFieldEncoding:
          type: string
          enum:
          - REPEATED_FIELD_ENCODING_UNKNOWN
          - PACKED
          - EXPANDED
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ParserFeatureSupport:
      type: object
    ServiceOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    EnumReservedRangeOrBuilder:
      type: object
      properties:
        start:
          type: integer
          format: int32
        end:
          type: integer
          format: int32
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ParserEnumValueOptions:
      type: object
    ParserFieldDescriptorProto:
      type: object
    FieldOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        editionDefaultsOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EditionDefaultOrBuilder'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        packed:
          type: boolean
        jstype:
          type: string
          enum:
          - JS_NORMAL
          - JS_STRING
          - JS_NUMBER
        lazy:
          type: boolean
        unverifiedLazy:
          type: boolean
        weak:
          type: boolean
        debugRedact:
          type: boolean
        retention:
          type: string
          enum:
          - RETENTION_UNKNOWN
          - RETENTION_RUNTIME
          - RETENTION_SOURCE
        targetsList:
          type: array
          items:
            type: string
            enum:
            - TARGET_TYPE_UNKNOWN
            - TARGET_TYPE_FILE
            - TARGET_TYPE_EXTENSION_RANGE
            - TARGET_TYPE_MESSAGE
            - TARGET_TYPE_FIELD
            - TARGET_TYPE_ONEOF
            - TARGET_TYPE_ENUM
            - TARGET_TYPE_ENUM_ENTRY
            - TARGET_TYPE_SERVICE
            - TARGET_TYPE_METHOD
        targetsCount:
          type: integer
          format: int32
        editionDefaultsList:
          type: array
          items:
            $ref: '#/components/schemas/EditionDefault'
        editionDefaultsCount:
          type: integer
          format: int32
        featureSupport:
          $ref: '#/components/schemas/FeatureSupport'
        featureSupportOrBuilder:
          $ref: '#/components/schemas/FeatureSupportOrBuilder'
        ctype:
          type: string
          enum:
          - STRING
          - CORD
          - STRING_PIECE
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    EnumValueDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        number:
          type: integer
          format: int32
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/EnumValueOptions'
        defaultInstanceForType:
          $ref: '#/components/schemas/EnumValueDescriptorProto'
        parserForType:
          $ref: '#/components/schemas/ParserEnumValueDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        optionsOrBuilder:
          $ref: '#/components/schemas/EnumValueOptionsOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ParserReservedRange:
      type: object
    CvDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/MessageOptions'
        fieldCount:
          type: integer
          format: int32
        defaultInstanceForType:
          $ref: '#/components/schemas/CvDescriptorProto'
        reservedRangeList:
          type: array
          items:
            $ref: '#/components/schemas/ReservedRange'
        reservedNameList:
          type: array
          properties:
            empty:
              type: boolean
          items:
            type: string
        extensionRangeList:
          type: array
          items:
            $ref: '#/components/schemas/ExtensionRange'
        oneofDeclCount:
          type: integer
          format: int32
        nestedTypeCount:
          type: integer
          format: int32
        enumTypeCount:
          type: integer
          format: int32
        extensionCount:
          type: integer
          format: int32
        extensionRangeCount:
          type: integer
          format: int32
        parserForType:
          $ref: '#/components/schemas/ParserDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        enumTypeList:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptorProto'
        extensionList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProto'
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        enumTypeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptorProtoOrBuilder'
        extensionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProtoOrBuilder'
        optionsOrBuilder:
          $ref: '#/components/schemas/MessageOptionsOrBuilder'
        fieldList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProto'
        nestedTypeList:
          type: array
          items:
            $ref: '#/components/schemas/CvDescriptorProto'
        oneofDeclList:
          type: array
          items:
            $ref: '#/components/schemas/OneofDescriptorProto'
        reservedRangeCount:
          type: integer
          format: int32
        reservedNameCount:
          type: integer
          format: int32
        fieldOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProtoOrBuilder'
        nestedTypeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/DescriptorProtoOrBuilder'
        extensionRangeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/ExtensionRangeOrBuilder'
        oneofDeclOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/OneofDescriptorProtoOrBuilder'
        reservedRangeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/ReservedRangeOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    EnumValueOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        debugRedact:
          type: boolean
        featureSupport:
          $ref: '#/components/schemas/FeatureSupport'
        featureSupportOrBuilder:
          $ref: '#/components/schemas/FeatureSupportOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ExtensionRangeOptionsOrBuilder:
      type: object
      properties:
        declarationOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/DeclarationOrBuilder'
        features:
          $ref: '#/components/schemas/FeatureSet'
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        declarationCount:
          type: integer
          format: int32
        verification:
          type: string
          enum:
          - DECLARATION
          - UNVERIFIED
        declarationList:
          type: array
          items:
            $ref: '#/components/schemas/CvDeclaration'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    NamePartOrBuilder:
      type: object
      properties:
        namePart:
          type: string
        isExtension:
          type: boolean
        namePartBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ResponseDTOInputSetGitUpdateResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/InputSetGitUpdateResponse'
        metaData:
          type: object
        correlationId:
          type: string
    ResponseDTOPageResponseInputSetListResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/PageResponseInputSetListResponse'
        metaData:
          type: object
        correlationId:
          type: string
    Parser:
      type: object
    ParserEditionDefault:
      type: object
    ResponseDTOInputSetTemplateWithReplacedExpressionsResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/InputSetTemplateWithReplacedExpressionsResponse'
        metaData:
          type: object
        correlationId:
          type: string
    InputSetTemplateWithReplacedExpressionsResponse:
      type: object
      properties:
        inputSetTemplateYaml:
          type: string
          description: Runtime Input template for the Pipeline
        replacedExpressions:
          type: array
          description: List of Expressions that need to be replaced for running selected Stages. Empty if the full Pipeline is being run or no expressions need to be replaced
          items:
            type: string
            description: List of Expressions that need to be replaced for running selected Stages. Empty if the full Pipeline is being run or no expressions need to be replaced
        modules:
          uniqueItems: true
          type: array
          description: Modules in which the Pipeline belongs
          items:
            type: string
            description: Modules in which the Pipeline belongs
        hasInputSets:
          type: boolean
          description: Tells whether there are any Input Sets for this Pipeline or not.
        replacedExpressionsPerStage:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        inputsMetadata:
          type: array
          description: Metadata for runtime input for Entities.
          items:
            $ref: '#/components/schemas/EntityInputsMetadata'
      description: This is the Runtime Input Template for a Pipeline defined in Harness.
    PipelineError:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        code:
          type: string
          enum:
          - DEFAULT_ERROR_CODE
          - INVALID_ARGUMENT
          - INVALID_EMAIL
          - DOMAIN_NOT_ALLOWED_TO_REGISTER
          - COMMNITY_EDITION_NOT_FOUND
          - DEPLOY_MODE_IS_NOT_ON_PREM
          - USER_ALREADY_REGISTERED
          - USER_INVITATION_DOES_NOT_EXIST
          - USER_DOES_NOT_EXIST
          - USER_INVITE_OPERATION_FAILED
          - USER_DISABLED
          - ACCOUNT_DOES_NOT_EXIST
          - INACTIVE_ACCOUNT
          - ACCOUNT_MIGRATED
          - ACCOUNT_MIGRATED_TO_NEXT_GEN
          - USER_DOMAIN_NOT_ALLOWED
          - MAX_FAILED_ATTEMPT_COUNT_EXCEEDED
          - RESOURCE_NOT_FOUND
          - INVALID_FORMAT
          - ROLE_DOES_NOT_EXIST
          - EMAIL_NOT_VERIFIED
          - EMAIL_VERIFICATION_TOKEN_NOT_FOUND
          - INVALID_TOKEN
          - REVOKED_TOKEN
          - INVALID_CAPTCHA_TOKEN
          - NOT_ACCOUNT_MGR_NOR_HAS_ALL_APP_ACCESS
          - EXPIRED_TOKEN
          - INVALID_AGENT_MTLS_AUTHORITY
          - TOKEN_ALREADY_REFRESHED_ONCE
          - ACCESS_DENIED
          - NG_ACCESS_DENIED
          - INVALID_CREDENTIAL
          - INVALID_CREDENTIALS_THIRD_PARTY
          - INVALID_KEY
          - INVALID_CONNECTOR_TYPE
          - INVALID_KEYPATH
          - INVALID_VARIABLE
          - UNKNOWN_HOST
          - UNREACHABLE_HOST
          - INVALID_PORT
          - SSH_SESSION_TIMEOUT
          - ALGORITHM_NEGOTIATION_ERROR
          - SOCKET_CONNECTION_ERROR
          - CONNECTION_ERROR
          - COULD_NOT_PROCESS_ERROR
          - SOCKET_CONNECTION_TIMEOUT
          - WINRM_COMMAND_EXECUTION_TIMEOUT
          - CONNECTION_TIMEOUT
          - SSH_CONNECTION_ERROR
          - USER_GROUP_ERROR
          - INVALID_EXECUTION_ID
          - ERROR_IN_GETTING_CHANNEL_STREAMS
          - UNEXPECTED
          - UNKNOWN_ERROR
          - UNKNOWN_EXECUTOR_TYPE_ERROR
          - DUPLICATE_STATE_NAMES
          - TRANSITION_NOT_LINKED
          - TRANSITION_TO_INCORRECT_STATE
          - TRANSITION_TYPE_NULL
          - STATES_WITH_DUP_TRANSITIONS
          - BARRIERS_NOT_RUNNING_CONCURRENTLY
          - NON_FORK_STATES
          - NON_REPEAT_STATES
          - INITIAL_STATE_NOT_DEFINED
          - FILE_INTEGRITY_CHECK_FAILED
          - INVALID_URL
          - FILE_DOWNLOAD_FAILED
          - PLATFORM_SOFTWARE_DELETE_ERROR
          - INVALID_CSV_FILE
          - INVALID_REQUEST
          - SCHEMA_VALIDATION_FAILED
          - FILTER_CREATION_ERROR
          - INVALID_YAML_ERROR
          - PLAN_CREATION_ERROR
          - INVALID_INFRA_STATE
          - PIPELINE_ALREADY_TRIGGERED
          - NON_EXISTING_PIPELINE
          - DUPLICATE_COMMAND_NAMES
          - INVALID_PIPELINE
          - COMMAND_DOES_NOT_EXIST
          - DUPLICATE_ARTIFACTSTREAM_NAMES
          - DUPLICATE_HOST_NAMES
          - STATE_NOT_FOR_TYPE
          - STATE_MACHINE_ISSUE
          - STATE_DISCONTINUE_FAILED
          - STATE_PAUSE_FAILED
          - PAUSE_ALL_ALREADY
          - RESUME_ALL_ALREADY
          - ROLLBACK_ALREADY
          - ABORT_ALL_ALREADY
          - EXPIRE_ALL_ALREADY
          - RETRY_FAILED
          - UNKNOWN_ARTIFACT_TYPE
          - UNKNOWN_STAGE_ELEMENT_WRAPPER_TYPE
          - INIT_TIMEOUT
          - LICENSE_EXPIRED
          - NOT_LICENSED
          - REQUEST_TIMEOUT
          - SCM_REQUEST_TIMEOUT
          - WORKFLOW_ALREADY_TRIGGERED
          - JENKINS_ERROR
          - INVALID_ARTIFACT_SOURCE
          - INVALID_ARTIFACT_SERVER
          - INVALID_CLOUD_PROVIDER
          - UPDATE_NOT_ALLOWED
          - DELETE_NOT_ALLOWED
          - APPDYNAMICS_CONFIGURATION_ERROR
          - APM_CONFIGURATION_ERROR
          - SPLUNK_CONFIGURATION_ERROR
          - ELK_CONFIGURATION_ERROR
          - LOGZ_CONFIGURATION_ERROR
          - SUMO_CONFIGURATION_ERROR
          - INSTANA_CONFIGURATION_ERROR
          - APPDYNAMICS_ERROR
          - STACKDRIVER_ERROR
          - STACKDRIVER_CONFIGURATION_ERROR
          - NEWRELIC_CONFIGURATION_ERROR
          - NEWRELIC_ERROR
          - DYNA_TRACE_CONFIGURATION_ERROR
          - DYNA_TRACE_ERROR
          - CLOUDWATCH_ERROR
          - CLOUDWATCH_CONFIGURATION_ERROR
          - PROMETHEUS_CONFIGURATION_ERROR
          - DATA_DOG_CONFIGURATION_ERROR
          - SERVICE_GUARD_CONFIGURATION_ERROR
          - ENCRYPTION_NOT_CONFIGURED
          - UNAVAILABLE_DELEGATES
          - WORKFLOW_EXECUTION_IN_PROGRESS
          - PIPELINE_EXECUTION_IN_PROGRESS
          - AWS_ACCESS_DENIED
          - AWS_CLUSTER_NOT_FOUND
          - AWS_SERVICE_NOT_FOUND
          - IMAGE_NOT_FOUND
          - ILLEGAL_ARGUMENT
          - IMAGE_TAG_NOT_FOUND
          - DELEGATE_NOT_AVAILABLE
          - INVALID_YAML_PAYLOAD
          - AUTHENTICATION_ERROR
          - AUTHORIZATION_ERROR
          - UNRECOGNIZED_YAML_FIELDS
          - COULD_NOT_MAP_BEFORE_YAML
          - MISSING_BEFORE_YAML
          - MISSING_YAML
          - NON_EMPTY_DELETIONS
          - GENERAL_YAML_ERROR
          - GENERAL_YAML_INFO
          - YAML_GIT_SYNC_ERROR
          - GIT_CONNECTION_ERROR
          - GIT_ERROR
          - ARTIFACT_SERVER_ERROR
          - ENCRYPT_DECRYPT_ERROR
          - SECRET_MANAGEMENT_ERROR
          - SECRET_NOT_FOUND
          - KMS_OPERATION_ERROR
          - GCP_KMS_OPERATION_ERROR
          - VAULT_OPERATION_ERROR
          - AWS_SECRETS_MANAGER_OPERATION_ERROR
          - AZURE_KEY_VAULT_OPERATION_ERROR
          - AZURE_KEY_VAULT_INTERRUPT_ERROR
          - UNSUPPORTED_OPERATION_EXCEPTION
          - FEATURE_UNAVAILABLE
          - GENERAL_ERROR
          - BASELINE_CONFIGURATION_ERROR
          - SAML_IDP_CONFIGURATION_NOT_AVAILABLE
          - INVALID_AUTHENTICATION_MECHANISM
          - INVALID_SAML_CONFIGURATION
          - INVALID_OAUTH_CONFIGURATION
          - INVALID_LDAP_CONFIGURATION
          - USER_GROUP_SYNC_FAILURE
          - USER_GROUP_ALREADY_EXIST
          - INVALID_TWO_FACTOR_AUTHENTICATION_CONFIGURATION
          - EXPLANATION
          - HINT
          - NOT_WHITELISTED_IP
          - INVALID_TOTP_TOKEN
          - EMAIL_FAILED
          - SSL_HANDSHAKE_FAILED
          - NO_APPS_ASSIGNED
          - INVALID_INFRA_CONFIGURATION
          - TEMPLATES_LINKED
          - USER_HAS_NO_PERMISSIONS
          - USER_NOT_AUTHORIZED
          - USER_ALREADY_PRESENT
          - EMAIL_ERROR
          - INVALID_USAGE_RESTRICTION
          - USAGE_RESTRICTION_ERROR
          - STATE_EXECUTION_INSTANCE_NOT_FOUND
          - DELEGATE_TASK_RETRY
          - KUBERNETES_API_TASK_EXCEPTION
          - KUBERNETES_TASK_EXCEPTION
          - KUBERNETES_YAML_ERROR
          - SAVE_FILE_INTO_AWS_STORAGE_FAILED
          - READ_FILE_FROM_AWS_STORAGE_FAILED
          - SAVE_FILE_INTO_GCP_STORAGE_FAILED
          - READ_FILE_FROM_GCP_STORAGE_FAILED
          - FILE_NOT_FOUND_ERROR
          - USAGE_LIMITS_EXCEEDED
          - EVENT_PUBLISH_FAILED
          - CUSTOM_APPROVAL_ERROR
          - JIRA_ERROR
          - EXPRESSION_EVALUATION_FAILED
          - KUBERNETES_VALUES_ERROR
          - KUBERNETES_CLUSTER_ERROR
          - INCORRECT_SIGN_IN_MECHANISM
          - OAUTH_LOGIN_FAILED
          - INVALID_TERRAFORM_TARGETS_REQUEST
          - TERRAFORM_EXECUTION_ERROR
          - FILE_READ_FAILED
          - FILE_SIZE_EXCEEDS_LIMIT
          - CLUSTER_NOT_FOUND
          - MARKETPLACE_TOKEN_NOT_FOUND
          - INVALID_MARKETPLACE_TOKEN
          - INVALID_TICKETING_SERVER
          - SERVICENOW_ERROR
          - PASSWORD_EXPIRED
          - USER_LOCKED
          - PASSWORD_STRENGTH_CHECK_FAILED
          - ACCOUNT_DISABLED
          - INVALID_ACCOUNT_PERMISSION
          - PAGERDUTY_ERROR
          - HEALTH_ERROR
          - SAML_TEST_SUCCESS_MECHANISM_NOT_ENABLED
          - DOMAIN_WHITELIST_FILTER_CHECK_FAILED
          - INVALID_DASHBOARD_UPDATE_REQUEST
          - DUPLICATE_FIELD
          - INVALID_AZURE_VAULT_CONFIGURATION
          - USER_NOT_AUTHORIZED_DUE_TO_USAGE_RESTRICTIONS
          - INVALID_ROLLBACK
          - DATA_COLLECTION_ERROR
          - SUMO_DATA_COLLECTION_ERROR
          - DEPLOYMENT_GOVERNANCE_ERROR
          - BATCH_PROCESSING_ERROR
          - GRAPHQL_ERROR
          - FILE_CREATE_ERROR
          - ILLEGAL_STATE
          - GIT_DIFF_COMMIT_NOT_IN_ORDER
          - FAILED_TO_ACQUIRE_PERSISTENT_LOCK
          - FAILED_TO_ACQUIRE_NON_PERSISTENT_LOCK
          - POD_NOT_FOUND_ERROR
          - COMMAND_EXECUTION_ERROR
          - REGISTRY_EXCEPTION
          - ENGINE_INTERRUPT_PROCESSING_EXCEPTION
          - ENGINE_IO_EXCEPTION
          - ENGINE_OUTCOME_EXCEPTION
          - ENGINE_SWEEPING_OUTPUT_EXCEPTION
          - CACHE_NOT_FOUND_EXCEPTION
          - ENGINE_ENTITY_UPDATE_EXCEPTION
          - SHELL_EXECUTION_EXCEPTION
          - TEMPLATE_NOT_FOUND
          - AZURE_SERVICE_EXCEPTION
          - AZURE_CLIENT_EXCEPTION
          - GIT_UNSEEN_REMOTE_HEAD_COMMIT
          - TIMEOUT_ENGINE_EXCEPTION
          - NO_AVAILABLE_DELEGATES
          - NO_GLOBAL_DELEGATE_ACCOUNT
          - NO_INSTALLED_DELEGATES
          - DUPLICATE_DELEGATE_EXCEPTION
          - GCP_MARKETPLACE_EXCEPTION
          - MISSING_DEFAULT_GOOGLE_CREDENTIALS
          - INCORRECT_DEFAULT_GOOGLE_CREDENTIALS
          - OPTIMISTIC_LOCKING_EXCEPTION
          - NG_PIPELINE_EXECUTION_EXCEPTION
          - NG_PIPELINE_CREATE_EXCEPTION
          - RESOURCE_NOT_FOUND_EXCEPTION
          - PMS_INITIALIZE_SDK_EXCEPTION
          - UNEXPECTED_SNIPPET_EXCEPTION
          - UNEXPECTED_SCHEMA_EXCEPTION
          - CONNECTOR_VALIDATION_EXCEPTION
          - TIMESCALE_NOT_AVAILABLE
          - MIGRATION_EXCEPTION
          - REQUEST_PROCESSING_INTERRUPTED
          - SECRET_MANAGER_ID_NOT_FOUND
          - GCP_SECRET_MANAGER_OPERATION_ERROR
          - GCP_SECRET_OPERATION_ERROR
          - GIT_OPERATION_ERROR
          - TASK_FAILURE_ERROR
          - INSTANCE_STATS_PROCESS_ERROR
          - INSTANCE_STATS_MIGRATION_ERROR
          - DEPLOYMENT_MIGRATION_ERROR
          - CG_LICENSE_USAGE_ERROR
          - INSTANCE_STATS_AGGREGATION_ERROR
          - UNRESOLVED_EXPRESSIONS_ERROR
          - KRYO_HANDLER_NOT_FOUND_ERROR
          - DELEGATE_ERROR_HANDLER_EXCEPTION
          - DELEGATE_SERVICE_DRIVER_EXCEPTION
          - DELEGATE_INSTALLATION_COMMAND_NOT_SUPPORTED_EXCEPTION
          - UNEXPECTED_TYPE_ERROR
          - EXCEPTION_HANDLER_NOT_FOUND
          - CONNECTOR_NOT_FOUND_EXCEPTION
          - GCP_SERVER_ERROR
          - HTTP_RESPONSE_EXCEPTION
          - SCM_NOT_FOUND_ERROR
          - SCM_CONFLICT_ERROR
          - SCM_CONFLICT_ERROR_V2
          - SCM_UNPROCESSABLE_ENTITY
          - PROCESS_EXECUTION_EXCEPTION
          - SCM_UNAUTHORIZED
          - SCM_BAD_REQUEST
          - SCM_INTERNAL_SERVER_ERROR
          - DATA
          - CONTEXT
          - PR_CREATION_ERROR
          - URL_NOT_REACHABLE
          - URL_NOT_PROVIDED
          - ENGINE_EXPRESSION_EVALUATION_ERROR
          - ENGINE_FUNCTOR_ERROR
          - JIRA_CLIENT_ERROR
          - SCM_NOT_MODIFIED
          - APPROVAL_STEP_NG_ERROR
          - BUCKET_SERVER_ERROR
          - GIT_SYNC_ERROR
          - TEMPLATE_EXCEPTION
          - TEMPLATE_ALREADY_EXISTS_EXCEPTION
          - ENTITY_REFERENCE_EXCEPTION
          - ACTIVE_SERVICE_INSTANCES_PRESENT_EXCEPTION
          - INVALID_INPUT_SET
          - INVALID_OVERLAY_INPUT_SET
          - RESOURCE_ALREADY_EXISTS
          - INVALID_JSON_PAYLOAD
          - POLICY_EVALUATION_FAILURE
          - POLICY_SET_ERROR
          - INVALID_ARTIFACTORY_REGISTRY_REQUEST
          - INVALID_NEXUS_REGISTRY_REQUEST
          - ENTITY_NOT_FOUND
          - GITX_OAUTH_NOT_SET
          - INVALID_AZURE_CONTAINER_REGISTRY_REQUEST
          - AZURE_AUTHENTICATION_ERROR
          - AZURE_CONFIG_ERROR
          - DATA_PROCESSING_ERROR
          - INVALID_AZURE_AKS_REQUEST
          - AWS_IAM_ERROR
          - AWS_CF_ERROR
          - AWS_INSTANCE_ERROR
          - AWS_VPC_ERROR
          - AWS_TAG_ERROR
          - AWS_ASG_ERROR
          - AWS_LOAD_BALANCER_ERROR
          - SCM_INTERNAL_SERVER_ERROR_V2
          - SCM_FAILED_DEPENDENCY_ERROR
          - SCM_UNAUTHORIZED_ERROR_V2
          - TOO_MANY_REQUESTS
          - SCM_RATE_LIMIT_ERROR
          - INVALID_IDENTIFIER_REF
          - SPOTINST_NULL_ERROR
          - SPOTNIST_REST_EXCEPTION
          - SCM_UNEXPECTED_ERROR
          - DUPLICATE_FILE_IMPORT
          - AZURE_APP_SERVICES_TASK_EXCEPTION
          - AZURE_ARM_TASK_EXCEPTION
          - AZURE_BP_TASK_EXCEPTION
          - MEDIA_NOT_SUPPORTED
          - AWS_ECS_ERROR
          - AWS_APPLICATION_AUTO_SCALING
          - AWS_ECS_SERVICE_NOT_ACTIVE
          - AWS_ECS_CLIENT_ERROR
          - AWS_STS_ERROR
          - FREEZE_EXCEPTION
          - MISSING_EXCEPTION
          - DELEGATE_TASK_EXPIRED
          - DELEGATE_TASK_VALIDATION_FAILED
          - MONGO_EXECUTION_TIMEOUT_EXCEPTION
          - DELEGATE_NOT_REGISTERED
          - TERRAFORM_VAULT_SECRET_CLEANUP_FAILURE
          - APPROVAL_REJECTION
          - TERRAGRUNT_EXECUTION_ERROR
          - ADFS_ERROR
          - TERRAFORM_CLOUD_ERROR
          - CLUSTER_CREDENTIALS_NOT_FOUND
          - SCM_API_ERROR
          - INTERNAL_SERVER_ERROR
          - SCM_FORBIDDEN
          - AWS_EKS_ERROR
          - OPA_POLICY_EVALUATION_ERROR
          - USER_MARKED_FAILURE
          - SSH_RETRY
          - HTTP_CLIENT_ERROR_RESPONSE
          - HTTP_INTERNAL_SERVER_ERROR
          - HTTP_BAD_GATEWAY
          - HTTP_SERVICE_UNAVAILABLE
          - HTTP_GATEWAY_TIMEOUT
          - HTTP_SERVER_ERROR_RESPONSE
          - PIPELINE_UPDATE_EXCEPTION
          - SERVICENOW_REFRESH_TOKEN_ERROR
          - PARAMETER_FIELD_CAST_ERROR
          - ABORT_ALL_ALREADY_NG
          - WEBHOOK_EXCEPTION
          - INVALID_OIDC_CONFIGURATION
          - INVALID_CREDENTIALS
          - INVALID_OR_PRIVATE_REPO
          - BARRIER_FAILED_ERROR
          - ELASTICSEARCH_NOT_AVAILABLE
          - OBJECT_STORE_NOT_AVAILABLE
          - NO_ELIGIBLE_RUNNERS
          - NO_AVAILABLE_RUNNERS
          - RUNNER_DISCONNECTED
          - EVENT_LISTENER_STEP_FAILURE
          - TRANSACTION_ABORTED
          - UNRESOLVED_EXPRESSIONS_WITH_CONTEXT_ERROR
        message:
          type: string
        correlationId:
          type: string
        detailedMessage:
          type: string
        responseMessages:
          type: array
          items:
            $ref: '#/components/schemas/ResponseMessage'
        metadata:
          $ref: '#/components/schemas/PipelineErrorMetadata'
      description: This is Error entity as defined in Harness
    FileOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        javaStringCheckUtf8:
          type: boolean
        optimizeFor:
          type: string
          enum:
          - SPEED
          - CODE_SIZE
          - LITE_RUNTIME
        goPackage:
          type: string
        goPackageBytes:
          $ref: '#/components/schemas/ByteString'
        ccGenericServices:
          type: boolean
        javaGenericServices:
          type: boolean
        pyGenericServices:
          type: boolean
        deprecated:
          type: boolean
        ccEnableArenas:
          type: boolean
        objcClassPrefix:
          type: string
        objcClassPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        csharpNamespace:
          type: string
        csharpNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        swiftPrefix:
          type: string
        swiftPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        phpClassPrefix:
          type: string
        javaPackage:
          type: string
        javaPackageBytes:
          $ref: '#/components/schemas/ByteString'
        javaOuterClassname:
          type: string
        javaOuterClassnameBytes:
          $ref: '#/components/schemas/ByteString'
        javaMultipleFiles:
          type: boolean
        javaGenerateEqualsAndHash:
          type: boolean
        phpClassPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        phpNamespace:
          type: string
        phpNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        phpMetadataNamespace:
          type: string
        phpMetadataNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        rubyPackage:
          type: string
        rubyPackageBytes:
          $ref: '#/components/schemas/ByteString'
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    OneofDescriptor:
      type: object
      properties:
        index:
          type: integer
          format: int32
        proto:
          $ref: '#/components/schemas/OneofDescriptorProto'
        options:
          $ref: '#/components/schemas/OneofOptions'
        fullName:
          type: string
        file:
          $ref: '#/components/schemas/FileDescriptor'
        containingType:
          $ref: '#/components/schemas/CvDescriptor'
        fieldCount:
          type: integer
          format: int32
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptor'
        name:
          type: string
    BulkInputSetsAPIResponse:
      type: object
      properties:
        inputSets:
          type: array
          items:
            $ref: '#/components/schemas/InputSetSummaryResponse'
    FeatureSet:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        initialized:
          type: boolean
        defaultInstanceForType:
          $ref: '#/components/schemas/FeatureSet'
        enumType:
          type: string
          enum:
          - ENUM_TYPE_UNKNOWN
          - OPEN
          - CLOSED
        jsonFormat:
          type: string
          enum:
          - JSON_FORMAT_UNKNOWN
          - ALLOW
          - LEGACY_BEST_EFFORT
        parserForType:
          $ref: '#/components/schemas/ParserFeatureSet'
        serializedSize:
          type: integer
          format: int32
        messageEncoding:
          type: string
          enum:
          - MESSAGE_ENCODING_UNKNOWN
          - LENGTH_PREFIXED
          - DELIMITED
        utf8Validation:
          type: string
          enum:
          - UTF8_VALIDATION_UNKNOWN
          - VERIFY
          - NONE
        fieldPresence:
          type: string
          enum:
          - FIELD_PRESENCE_UNKNOWN
          - EXPLICIT
          - IMPLICIT
          - LEGACY_REQUIRED
        repeatedFieldEncoding:
          type: string
          enum:
          - REPEATED_FIELD_ENCODING_UNKNOWN
          - PACKED
          - EXPANDED
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        allFieldsRaw:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ResponseDTOMergeInputSetResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/MergeInputSetResponse'
        metaData:
          type: object
        correlationId:
          type: string
    ParserFileOptions:
      type: object
    ExtensionRangeOptions:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        initialized:
          type: boolean
        declarationOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/DeclarationOrBuilder'
        features:
          $ref: '#/components/schemas/FeatureSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/ExtensionRangeOptions'
        parserForType:
          $ref: '#/components/schemas/ParserExtensionRangeOptions'
        serializedSize:
          type: integer
          format: int32
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        declarationCount:
          type: integer
          format: int32
        verification:
          type: string
          enum:
          - DECLARATION
          - UNVERIFIED
        declarationList:
          type: array
          items:
            $ref: '#/components/schemas/CvDeclaration'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        allFieldsRaw:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    FieldDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        typeName:
          type: string
        type:
          type: string
          enum:
          - TYPE_DOUBLE
          - TYPE_FLOAT
          - TYPE_INT64
          - TYPE_UINT64
          - TYPE_INT32
          - TYPE_FIXED64
          - TYPE_FIXED32
          - TYPE_BOOL
          - TYPE_STRING
          - TYPE_GROUP
          - TYPE_MESSAGE
          - TYPE_BYTES
          - TYPE_UINT32
          - TYPE_ENUM
          - TYPE_SFIXED32
          - TYPE_SFIXED64
          - TYPE_SINT32
          - TYPE_SINT64
        defaultValue:
          type: string
        number:
          type: integer
          format: int32
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/FieldOptions'
        label:
          type: string
          enum:
          - LABEL_OPTIONAL
          - LABEL_REPEATED
          - LABEL_REQUIRED
        defaultInstanceForType:
          $ref: '#/components/schemas/FieldDescriptorProto'
        parserForType:
          $ref: '#/components/schemas/ParserFieldDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        optionsOrBuilder:
          $ref: '#/components/schemas/FieldOptionsOrBuilder'
        jsonName:
          type: string
        proto3Optional:
          type: boolean
        oneofIndex:
          type: integer
          format: int32
        extendee:
          type: string
        typeNameBytes:
          $ref: '#/components/schemas/ByteString'
        extendeeBytes:
          $ref: '#/components/schemas/ByteString'
        defaultValueBytes:
          $ref: '#/components/schemas/ByteString'
        jsonNameBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    FileDescriptor:
      type: object
      properties:
        proto:
          $ref: '#/components/schemas/FileDescriptorProto'
        options:
          $ref: '#/components/schemas/FileOptions'
        messageTypes:
          type: array
          items:
            $ref: '#/components/schemas/CvDescriptor'
        enumTypes:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptor'
        services:
          type: array
          items:
            $ref: '#/components/schemas/ServiceDescriptor'
        extensions:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptor'
        dependencies:
          type: array
          items:
            $ref: '#/components/schemas/FileDescriptor'
        publicDependencies:
          type: array
          items:
            $ref: '#/components/schemas/FileDescriptor'
        name:
          type: string
        package:
          type: string
        file:
          $ref: '#/components/schemas/FileDescriptor'
        fullName:
          type: string
    ResponseDTOOverlayInputSetResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/OverlayInputSetResponse'
        metaData:
          type: object
        correlationId:
          type: string
    ServiceDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/ServiceOptions'
        defaultInstanceForType:
          $ref: '#/components/schemas/ServiceDescriptorProto'
        parserForType:
          $ref: '#/components/schemas/ParserServiceDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        optionsOrBuilder:
          $ref: '#/components/schemas/ServiceOptionsOrBuilder'
        methodCount:
          type: integer
          format: int32
        methodList:
          type: array
          items:
            $ref: '#/components/schemas/MethodDescriptorProto'
        methodOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/MethodDescriptorProtoOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    EnumDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/EnumOptions'
        defaultInstanceForType:
          $ref: '#/components/schemas/EnumDescriptorProto'
        reservedRangeList:
          type: array
          items:
            $ref: '#/components/schemas/EnumReservedRange'
        reservedNameList:
          type: array
          properties:
            empty:
              type: boolean
          items:
            type: string
        parserForType:
          $ref: '#/components/schemas/ParserEnumDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        optionsOrBuilder:
          $ref: '#/components/schemas/EnumOptionsOrBuilder'
        valueCount:
          type: integer
          format: int32
        valueList:
          type: array
          items:
            $ref: '#/components/schemas/EnumValueDescriptorProto'
        valueOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EnumValueDescriptorProtoOrBuilder'
        reservedRangeCount:
[...]
