openapi: 3.2.0
info:
  title: Harness Commitment Orchestrator Setup APIs API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Commitment Orchestrator Setup APIs
paths:
  /gateway/lw/api/accounts/{account_id}/v1/setup:
    post:
      tags:
      - Commitment Orchestrator Setup APIs
      summary: Create commitment orchestration setup
      description: Creates a new commitment orchestration setup configuration for a cloud account, including optional notification settings
      operationId: SetupConfiguration
      parameters:
      - name: account_id
        description: Account Identifier for the Entity
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity
        in: query
        required: true
        schema:
          type: string
      requestBody:
        description: Setup configuration details
        content:
          application/json:
            schema:
              type: object
              properties:
                cloud_account_id:
                  type: string
                  description: Cloud Account ID for which to create the commitment orchestration setup
                cloud_account_name:
                  type: string
                  description: Name of the cloud account
                enabled:
                  type: boolean
                  description: Whether the commitment orchestration is enabled
                  default: true
                dry_run_mode:
                  type: boolean
                  description: Whether to run in dry run mode
                  default: false
                approval_mode:
                  type: string
                  description: Mode of approval for commitment actions
                  enum:
                  - auto
                  - manual
                  - semiAutomated
                  default: manual
                service:
                  type: string
                  description: Service for which to set up commitment orchestration
                  enum:
                  - Amazon Elastic Compute Cloud - Compute
                  - Amazon Relational Database Service
                  default: Amazon Elastic Compute Cloud - Compute
                config:
                  type: object
                  description: Configuration details for the commitment orchestration
                  properties:
                    exclusion_list:
                      type: array
                      description: List of instance types to exclude from commitment orchestration
                      items:
                        $ref: '#/components/schemas/ExclusionEntry'
                    excluded_cloud_accounts:
                      type: array
                      description: List of cloud account IDs to exclude from commitment orchestration
                      items:
                        type: string
                    excluded_regions:
                      type: array
                      description: List of regions to exclude from commitment orchestration
                      items:
                        type: string
                    savings_plans_coverage:
                      type: number
                      format: float
                      description: Target coverage percentage for savings plans (0-1)
                      minimum: 0
                      maximum: 1
                    reserved_instances_coverage:
                      type: number
                      format: float
                      description: Target coverage percentage for reserved instances (0-1)
                      minimum: 0
                      maximum: 1
                    total_coverage:
                      type: number
                      format: float
                      description: Total target coverage percentage (0-1)
                      minimum: 0
                      maximum: 1
                    seed_config:
                      type: object
                      description: Configuration for seed instances
                      properties:
                        start_with:
                          type: string
                          description: Strategy for starting with seed instances
                          enum:
                          - seed_auto_discovery
                          - purchase_new_seed
                          default: seed_auto_discovery
                        monthly_purchase_enabled:
                          type: boolean
                          description: Whether monthly purchase of seed instances is enabled
                          default: false
                        purchase_terms:
                          type: array
                          description: Purchase terms for seed instances in seconds
                          items:
                            type: integer
                            enum:
                            - 31536000
                            - 94608000
                            description: Purchase term in seconds (1 year = 31536000, 3 years = 94608000)
                    payment_option:
                      type: string
                      description: Payment option for commitments
                      enum:
                      - No Upfront
                      - Partial Upfront
                      - All Upfront
                    savings_plan_renewal_rate:
                      type: number
                      format: float
                      description: Renewal rate for savings plans (0-1), required for semiAutomated approval mode
                      minimum: 0
                      maximum: 1
                    savings_plan_layering:
                      type: object
                      description: Savings Plan laddering configuration
                      properties:
                        enabled:
                          type: boolean
                          description: Whether Savings Plan laddering is enabled
                          default: false
                    max_sp_hourly_commitment:
                      type: number
                      format: double
                      description: Maximum hourly commitment for a net-new Savings Plan purchase in USD/hour; 0 or omitted means no ceiling
                      minimum: 0
                    preferred_commitment_mode:
                      type: string
                      description: Commitment type that receives the shared coverage budget first
                      enum:
                      - ri_preferred
                      - sp_preferred
                      default: ri_preferred
                  required:
                  - total_coverage
                notification:
                  type: object
                  description: Optional notification configuration for commitment orchestration alerts
                  properties:
                    email_list:
                      type: array
                      items:
                        type: string
                        format: email
                      description: List of email addresses to receive notifications
                      example:
                      - user1@example.com
                      - user2@example.com
                    timezone:
                      type: string
                      description: Timezone for scheduling notifications (IANA timezone format)
                      example: America/New_York
                    sp_notif_range:
                      type: integer
                      format: int64
                      description: Number of days before Savings Plan expiry to send notifications
                      example: 30
                      minimum: 1
                      maximum: 365
                    schedule_time:
                      type: string
                      pattern: ^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$
                      description: Time to send notifications in HH:MM format (24-hour)
                      example: 09:00
                    purchase_notifications_enabled:
                      type: boolean
                      description: Whether to enable notifications for completed purchases
                      example: true
                    recommendations_notifications_enabled:
                      type: boolean
                      description: Whether to enable notifications for new recommendations
                      example: true
                  required:
                  - email_list
                  - timezone
                  - schedule_time
              required:
              - cloud_account_id
              - config
              - service
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  ts:
                    type: integer
                    format: int64
                    description: Timestamp of the response
                  success:
                    type: boolean
                    description: Whether the operation was successful
                  response:
                    type: object
                    description: Empty object as no content is expected in the response
                    additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  ts:
                    type: integer
                    format: int64
                  success:
                    type: boolean
                    enum:
                    - false
                  errors:
                    type: array
                    items:
                      type: string
  /gateway/lw/api/accounts/{account_id}/v1/setup/validate:
    post:
      tags:
      - Commitment Orchestrator Setup APIs
      summary: Validate commitment Setup
      description: Obtains maximum allowed configuration values for Savings Plans given a target total coverage
      operationId: SetupValidate
      parameters:
      - name: account_id
        description: Account Identifier for the Entity
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity
        in: query
        required: true
        schema:
          type: string
      - name: cloud_account_id
        in: query
        required: true
        schema:
          type: string
          description: Account Identifier for which Commitment Orchestration Setup is being performed
      requestBody:
        description: Configured setup values
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AutoCUDConfig'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetupValidateSuccessResponse'
        '400':
          description: Invalid status value
          content: {}
      x-codegen-request-body-name: body
  /gateway/lw/api/accounts/{account_id}/v1/setup/{cloud_account_id}/instance_types:
    post:
      tags:
      - Commitment Orchestrator Setup APIs
      summary: Instance types in usage to support configuring exclusions
      description: Lists all instance types by region in usage for the given master account
      operationId: SetupInstanceTypes
      parameters:
      - name: account_id
        description: Account Identifier for the Entity
        in: path
        required: true
        schema:
          type: string
      - name: cloud_account_id
        description: Cloud Account ID of the master account in Harness
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity
        in: query
        required: true
        schema:
          type: string
      - name: cloud_account_id
        in: query
        required: true
        schema:
          type: string
          description: Account Identifier for which Commitment Orchestration Setup is being performed
      requestBody:
        description: Configured setup values
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/InstanceTypesPayload'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetupInstanceTypesSuccessResponse'
        '400':
          description: Invalid status value
          content: {}
      x-codegen-request-body-name: body
  /gateway/lw/api/accounts/{account_id}/v1/setup/{cloudAccountID}:
    delete:
      tags:
      - Commitment Orchestrator Setup APIs
      summary: Delete commitment orchestration setup
      description: Deletes a commitment orchestration setup configuration for a specific cloud account, including any associated notification settings
      operationId: DeleteSetupConfiguration
      parameters:
      - name: account_id
        description: Account Identifier for the Entity
        in: path
        required: true
        schema:
          type: string
      - name: cloudAccountID
        description: Cloud Account ID for which to delete the commitment orchestration setup
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity
        in: query
        required: true
        schema:
          type: string
      - name: service
        description: Service for which to delete the commitment orchestration setup
        in: query
        required: false
        schema:
          type: string
          enum:
          - Amazon Elastic Compute Cloud - Compute
          - Amazon Relational Database Service - RDS
          default: Amazon Elastic Compute Cloud - Compute
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessResponse'
        '400':
          description: Invalid request or setup not found
          content: {}
    get:
      tags:
      - Commitment Orchestrator Setup APIs
      summary: Get commitment orchestration setup
      description: Retrieves the commitment orchestration setup configuration for a specific cloud account, including notification settings if configured
      operationId: GetSetupConfiguration
      parameters:
      - name: account_id
        description: Account Identifier for the Entity
        in: path
        required: true
        schema:
          type: string
      - name: cloudAccountID
        description: Cloud Account ID for which to retrieve the commitment orchestration setup
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity
        in: query
        required: true
        schema:
          type: string
      - name: service
        description: Service for which to retrieve the commitment orchestration setup
        in: query
        required: false
        schema:
          type: string
          enum:
          - Amazon Elastic Compute Cloud - Compute
          - Amazon Relational Database Service
          default: Amazon Elastic Compute Cloud - Compute
      - name: routingId
        description: Routing identifier for the request
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of the commitment orchestration setup
          content:
            application/json:
              schema:
                type: object
                properties:
                  ts:
                    type: integer
                    description: Unix timestamp of the response
                    example: 1758063197
                  success:
                    type: boolean
                    description: Indicates whether the request was successful
                    example: true
                  errors:
                    type:
                    - array
                    - 'null'
                    description: List of errors if the request failed
                    items:
                      type: string
                    example: null
                  response:
                    type: object
                    description: The setup configuration details
                    properties:
                      id:
                        type: integer
                        example: 0
                      account_id:
                        type: string
                        description: Account Identifier
                        example: account_identifier
                      cloud_account_id:
                        type: string
                        description: Cloud Account Identifier
                        example: cloud_account_id
                      cloud_account_name:
                        type: string
                        description: Name of the cloud account
                        example: ''
                      config:
                        type: object
                        description: Configuration details
                        properties:
                          exclusion_list:
                            type: array
                            description: List of excluded instance types
                            items:
                              $ref: '#/components/schemas/ExclusionEntry'
                          excluded_cloud_accounts:
                            type: array
                            description: List of excluded cloud accounts
                            items:
                              type: string
                          excluded_regions:
                            type: array
                            description: List of excluded regions
                            items:
                              type: string
                          savings_plans_coverage:
                            type: number
                            format: float
                            example: 0
                          reserved_instances_coverage:
                            type: number
                            format: float
                            example: 0
                          total_coverage:
                            type: number
                            format: float
                            example: 0.4
                          payment_option:
                            type: string
                            description: Payment option for the setup
                            example: No Upfront
                          savings_plan_renewal_rate:
                            type: number
                            format: float
                            description: Renewal rate for savings plans (0-1)
                            example: 0.91
                          savings_plan_layering:
                            type: object
                            description: Savings Plan laddering configuration
                            properties:
                              enabled:
                                type: boolean
                                description: Whether Savings Plan laddering is enabled
                                example: true
                          max_sp_hourly_commitment:
                            type: number
                            format: double
                            description: Maximum hourly commitment for a net-new Savings Plan purchase in USD/hour; 0 or omitted means no ceiling
                            example: 25
                          preferred_commitment_mode:
                            type: string
                            description: Commitment type that receives the shared coverage budget first
                            enum:
                            - ri_preferred
                            - sp_preferred
                            example: ri_preferred
                          seed_config:
                            type: object
                            description: Configuration for seed instances
                            properties:
                              start_with:
                                type: string
                                description: Strategy for starting with seed instances
                                enum:
                                - seed_auto_discovery
                                - purchase_new_seed
                                example: seed_auto_discovery
                              monthly_purchase_enabled:
                                type: boolean
                                description: Whether monthly purchase of seed instances is enabled
                                example: false
                              purchase_terms:
                                type: array
                                description: Purchase terms for seed instances in seconds
                                items:
                                  type: integer
                                  enum:
                                  - 31536000
                                  - 94608000
                                  description: Purchase term in seconds (1 year = 31536000, 3 years = 94608000)
                                example:
                                - 31536000
                      enabled:
                        type: boolean
                        description: Whether the setup is enabled
                        example: false
                      dry_run_mode:
                        type: boolean
                        description: Whether the setup is running in dry-run mode
                        example: false
                      updated_at:
                        type: string
                        format: date-time
                        example: '2025-09-23T23:29:08.731554Z'
                      created_at:
                        type: string
                        format: date-time
                        example: '2025-09-23T23:25:53.925238Z'
                      approval_mode:
                        type: string
                        description: Mode of approval for operations
                        enum:
                        - auto
                        - manual
                        - semiAutomated
                        example: semiAutomated
                      service:
                        type: string
                        description: The associated service
                        example: Amazon Elastic Compute Cloud - Compute
                      notification:
                        type:
                        - object
                        - 'null'
                        description: Notification configuration for commitment orchestration alerts
                        properties:
                          email_list:
                            type: array
                            items:
                              type: string
                              format: email
                            description: List of email addresses to receive notifications
                          timezone:
                            type: string
                            description: Timezone for scheduling notifications
                          sp_notif_range:
                            type: integer
                            format: int64
                            description: Number of days before Savings Plan expiry to send notifications
                          schedule_time:
                            type: string
                            description: Time to send notifications in HH:MM format
                          purchase_notifications_enabled:
                            type: boolean
                            description: Whether notifications for completed purchases are enabled
                          recommendations_notifications_enabled:
                            type: boolean
                            description: Whether notifications for new recommendations are enabled
        '400':
          description: Invalid request or setup not found
          content: {}
    put:
      tags:
      - Commitment Orchestrator Setup APIs
      summary: Update commitment orchestration setup
      description: Updates an existing commitment orchestration setup configuration for a specific cloud account, including notification settings
      operationId: UpdateSetupConfiguration
      parameters:
      - name: account_id
        description: Account Identifier for the Entity
        in: path
        required: true
        schema:
          type: string
      - name: cloudAccountID
        description: Cloud Account ID for which to update the commitment orchestration setup
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity
        in: query
        required: true
        schema:
          type: string
      requestBody:
        description: Setup configuration details
        content:
          application/json:
            schema:
              type: object
              properties:
                cloud_account_id:
                  type: string
                  description: Cloud Account ID for which to update the commitment orchestration setup
                cloud_account_name:
                  type: string
                  description: Name of the cloud account
                enabled:
                  type: boolean
                  description: Whether the commitment orchestration is enabled
                  default: true
                dry_run_mode:
                  type: boolean
                  description: Whether to run in dry run mode
                  default: false
                approval_mode:
                  type: string
                  description: Mode of approval for commitment actions
                  enum:
                  - auto
                  - manual
                  - semiAutomated
                  default: manual
                service:
                  type: string
                  description: Service for which to set up commitment orchestration
                  enum:
                  - Amazon Elastic Compute Cloud - Compute
                  - Amazon Relational Database Service
                  default: Amazon Elastic Compute Cloud - Compute
                config:
                  type: object
                  description: Configuration details for the commitment orchestration
                  properties:
                    exclusion_list:
                      type: array
                      description: List of instance types to exclude from commitment orchestration
                      items:
                        $ref: '#/components/schemas/ExclusionEntry'
                    excluded_cloud_accounts:
                      type: array
                      description: List of cloud account IDs to exclude from commitment orchestration
                      items:
                        type: string
                    excluded_regions:
                      type: array
                      description: List of regions to exclude from commitment orchestration
                      items:
                        type: string
                    savings_plans_coverage:
                      type: number
                      format: float
                      description: Target coverage percentage for savings plans (0-1)
                      minimum: 0
                      maximum: 1
                    reserved_instances_coverage:
                      type: number
                      format: float
                      description: Target coverage percentage for reserved instances (0-1)
                      minimum: 0
                      maximum: 1
                    total_coverage:
                      type: number
                      format: float
                      description: Total target coverage percentage (0-1)
                      minimum: 0
                      maximum: 1
                    seed_config:
                      type: object
                      description: Configuration for seed instances
                      properties:
                        start_with:
                          type: string
                          description: Strategy for starting with seed instances
                          enum:
                          - seed_auto_discovery
                          - purchase_new_seed
                          default: seed_auto_discovery
                        monthly_purchase_enabled:
                          type: boolean
                          description: Whether monthly purchase of seed instances is enabled
                          default: false
                        purchase_terms:
                          type: array
                          description: Purchase terms for seed instances in seconds
                          items:
                            type: integer
                            enum:
                            - 31536000
                            - 94608000
                            description: Purchase term in seconds (1 year = 31536000, 3 years = 94608000)
                    payment_option:
                      type: string
                      description: Payment option for commitments
                      enum:
                      - No Upfront
                      - Partial Upfront
                      - All Upfront
                    savings_plan_renewal_rate:
                      type: number
                      format: float
                      description: Renewal rate for savings plans (0-1), required for semiAutomated approval mode
                      minimum: 0
                      maximum: 1
                    savings_plan_layering:
                      type: object
                      description: Savings Plan laddering configuration
                      properties:
                        enabled:
                          type: boolean
                          description: Whether Savings Plan laddering is enabled
                          default: false
                    max_sp_hourly_commitment:
                      type: number
                      format: double
                      description: Maximum hourly commitment for a net-new Savings Plan purchase in USD/hour; 0 or omitted means no ceiling
                      minimum: 0
                    preferred_commitment_mode:
                      type: string
                      description: Commitment type that receives the shared coverage budget first
                      enum:
                      - ri_preferred
                      - sp_preferred
                      default: ri_preferred
                  required:
                  - total_coverage
                notification:
                  type: object
                  description: Optional notification configuration for commitment orchestration alerts
                  properties:
                    email_list:
                      type: array
                      items:
                        type: string
                        format: email
                      description: List of email addresses to receive notifications
                      example:
                      - user1@example.com
                      - user2@example.com
                    timezone:
                      type: string
                      description: Timezone for scheduling notifications (IANA timezone format)
                      example: America/New_York
                    sp_notif_range:
                      type: integer
                      format: int64
                      description: Number of days before Savings Plan expiry to send notifications
                      example: 30
                      minimum: 1
                      maximum: 365
                    schedule_time:
                      type: string
                      pattern: ^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$
                      description: Time to send notifications in HH:MM format (24-hour)
                      example: 09:00
                    purchase_notifications_enabled:
                      type: boolean
                      description: Whether to enable notifications for completed purchases
                      example: true
                    recommendations_notifications_enabled:
                      type: boolean
                      description: Whether to enable notifications for new recommendations
                      example: true
                  required:
                  - email_list
                  - timezone
                  - schedule_time
              required:
              - cloud_account_id
              - config
              - service
        required: true
      responses:
        '200':
          description: Setup configuration updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericSuccessResponse'
        '400':
          description: Invalid request or setup not found
          content: {}
  /gateway/lw/api/accounts/{account_id}/v2/setup/{cloudAccountID}/estimated_savings:
    post:
      tags:
      - Commitment Orchestrator Setup APIs
      summary: Get estimated savings for a target coverage
      description: Returns estimated savings data based on a target coverage percentage
      operationId: GetEstimatedSavingsForSetup
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Account Identifier for the Entity
      - name: cloudAccountID
        in: path
        required: true
        schema:
          type: string
        description: Cloud Account ID for which to retrieve estimated savings data
      requestBody:
        description: Parameters for estimated savings calculation
        content:
          application/json:
            schema:
              type: object
              properties:
                instance_types:
                  type: array
                  items:
                    type: string
                  description: List of instance types to filter by. Empty array means all instance types.
                regions:
                  type: array
                  items:
                    type: string
                  description: List of regions to filter by. Empty array means all regions.
                linked_accounts:
                  type: array
                  items:
                    type: string
                  description: List of linked accounts to filter by. Empty array means all linked accounts.
                service:
                  type: string
                  description: Service name to filter by, e.g., 'Amazon Elastic Compute Cloud - Compute'. Defaults to EC2 if not specified.
                target_coverage:
                  type: number
                  format: float
                  description: Target coverage percentage (between 0 and 100)
                  minimum: 0
                  maximum: 100
              required:
              - target_coverage
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  ts:
                    type: integer
                    format: int64
                    description: Timestamp of the response
                  success:
                    type: boolean
                    description: Whether the operation was successful
                  response:
                    type: object
                    properties:
                      current_coverage:
                        type: number
                        format: float
                        description: Current coverage percentage
                      target_coverage:
                        type: number
                        format: float
                        description: Target coverage percentage
                      current_savings:
                        type: number
                        format: float
                        description: Current savings amount
                      estimated_savings:
                        type: number
                        format: float
                        description: Estimated savings amount at target coverage
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  ts:
                    type: integer
                    format: int64
                  success:
                    type: boolean
                    enum:
                    - false
                  errors:
                    type: array
                    items:
                      type: string
  /gateway/lw/api/accounts/{account_id}/v2/setup/{cloudAccountID}/cost_coverage:
    post:
      tags:
      - Commitment Orchestrator Setup APIs
      summary: Get cost coverage data for setup
      description: Returns cost breakdown and coverage data for EC2 instances, grouped by instance type, region, or account
      operationId: GetCostCoverageForSetup
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Account Identifier for the Entity
      - name: cloudAccountID
        in: path
        required: true
        schema:
          type: string
        description: Cloud Account ID for which to retrieve cost coverage data
      requestBody:
        description: Cost coverage filter parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                instance_types:
                  type: array
                  items:
                    type: string
                  description: List of instance types to filter by. Empty array means all instance types.
                regions:
                  type: array
                  items:
                    type: string
                  description: List of regions to filter by. Empty array means all regions.
                linked_accounts:
                  type: array
                  items:
                    type: string
                  description: List of linked accounts to filter by. Empty array means all linked accounts.
                service:
                  type: string
                  description: Service name to filter by, e.g., 'Amazon Elastic Compute Cloud - Compute'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  ts:
                    type: integer
                    format: int64
                    description: Timestamp of the response
                  success:
                    type: boolean
                    description: Whether the operation was successful
                  response:
                    type: array
                    items:
                      type: object
                      properties:
                        start_date:
                          type: string
                          format: date
                          description: Start date of the cost data period
                        end_date:
                          type: string
                          format: date
                          description: End date of the cost data period
                        costs:
                          type: object
                          additionalProperties:
                            type: number
                          description: Map of purchase types to costs. For instance type breakdown, this contains region as keys.
                        total_cost:
                          type: number
                          description: Total cost for the period
                        committed_cost:
                          type: number
                          description: Committed cost for the period
                        coverage:
                          type: number
                          description: Coverage percentage (committed_cost/total_cost * 100)
                        breakdown_type:
                          type: string
                          description: Type of breakdown used (instance_type_breakdown, region_breakdown, or account_breakdown)
                        region_breakdown:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              costs:
                                type: object
                                additionalProperties:
                                  type: number
                                description: Map of purchase types to costs
                              total_cost:
                                type: number
                                description: Total cost for this region
                              committed_cost:
                                type: number
                                description: Committed cost for this region
                              coverage:
                                type: number
                                description: Coverage percentage for this region
                          description: Breakdown of costs by region
                        instance_type_breakdown:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              costs:
                                type: object
                                additionalProperties:
                                  type: number
                                description: Map of purchase types to costs
                              total_cost:
                                type: number
                                description: Total cost for this instance type
                              committed_cost:
                                type: number
                                description: Committed cost for this instance type
                              coverage:
                                type: number
                                description: Coverage percentage for this instance type
                              region:
                                type: string
                                description: Region for this instance type
                          description: Breakdown of costs by instance type
                        account_breakdown:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              costs:
                                type: object
                                additionalProperties:
                                  type: number
                                description: Map of purchase types to costs
                              total_cost:
                                type: number
                                description: Total cost for this account
                              committed_cost:
                                type: number
                                description: Committed cost for this account
                              coverage:
                                type: number
                                description: Coverage percentage for this account
                              account_name:
                                type: string
                                description: Name of the account
                          description: Breakdown of costs by account
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  ts:
                    type: integer
                    format: int64
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
  /gateway/lw/api/accounts/{account_id}/v1/setup/listMasterAccounts:
    post:
      tags:
      - Commitment Orchestrator Setup APIs
      summary: List master accounts for commitment Setup
      description: Lists master accounts available for commitment orchestrator setup
      operationId: ListMasters
      parameters:
      - name: account_id
        description: Account Identifier for the Entity
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMasterSuccessResponse'
        '400':
          description: Invalid status value
          content: {}
      x-codegen-request-body-name: body
  /gateway/lw/api/accounts/{account_id}/v1/setup/{cloud_account_id}/child_accounts:
    get:
      tags:
      - Commitment Orchestrator Setup APIs
      summary: List child accounts for a given master account
      description: Lists child accounts with their name and id for a given master account
      operationId: ListAccounts
      parameters:
      - name: account_id
        description: Account Identifier for the Entity
        in: path
        required: true
        schema:
          type: string
      - name: cloud_account_id
        description: Cloud Account ID of the master account in Harness
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChildAccountsSuccessResponse'
        '400':
          description: Invalid status value
          content: {}
  /gateway/lw/api/accounts/{account_id}/v1/setup/list:
    get:
      tags:
      - Commitment Orchestrator Setup APIs
      summary: List of commitment Setups
      description: Lists setups available for commitment orchestrator
      operationId: ListSetups
      parameters:
      - name: account_id
        description: Account Identifier for the Entity
        in: path
        required: true
        schema:
          type: string
      - name: accountIdentifier
        description: Account Identifier for the Entity
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSetupsSuccessResponse'
        '400':
          description: Invalid status value
          content: {}
components:
  schemas:
    ListMasterContent:
      type: object
      properties:
        connector:
          $ref: '#/components/schemas/LwCOConnector'
    LwCOConnector:
      type: object
      properties:
        accountIdentifier:
          type: string
        identifier:
          type: string
        name:
          type: string
        type:
          type: string
        spec:
          type: object
    SetupValidateSuccessResponse:
      type: object
      properties:
        ts:
          type: integer
          description: Response timestamp
        success:
          type: boolean
          description: Specifies if the operation is successful
        errors:
          type: string
          description: Specifies the error if the operation failed
        response:
          type: object
          properties:
            savings_plan_max_percentage:
              type: integer
              maximum: 1
              minimum: 0
    ListMasterSuccessResponse:
      type: object
      properties:
        ts:
          type: integer
          description: Response timestamp
        success:
          type: boolean
          description: Specifies if the operation is successful
        errors:
          type: string
          description: Specifies the error if the operation failed
        response:
          type: object
          properties:
            data:
              type: object
              properties:
                content:
                  type: array
                  items:
                    $ref: '#/components/schemas/ListMasterContent'
    InstanceTypesPayload:
      type: object
      properties:
        instance_families:
          type: array
          items:
            type: string
        excluded_cloud_accounts:
          type: array
          items:
            type: string
        regions:
          type: array
          items:
            type: string
        service:
          type: string
          enum:
          - Amazon Relational Database Service
          - Amazon Elastic Compute Cloud - Compute
          default: Amazon Elastic Compute Cloud - Compute
          description: Service to fetch the details for.
    ListSetupsSuccessResponse:
      type: object
      properties:
        ts:
          type: integer
          description: Response timestamp
        success:
          type: boolean
          description: Specifies if the operation is successful
        errors:
          type: string
          description: Specifies the error if the operation failed
        response:
          type: array
          items:
            $ref: '#/components/schemas/AutoCUDSetup'
    ListChildAccountsSuccessResponse:
      type: object
      properties:
        ts:
          type: integer
          description: Response timestamp
        success:
          type: boolean
          description: Specifies if the operation is successful
        errors:
          type: string
          description: Specifies the error if the operation failed
        response:
          type: array
          items:
            $ref: '#/components/schemas/KeyValuePair'
    AutoCUDConfig:
      type: object
      properties:
        exclusion_list:
          type: array
          items:
            $ref: '#/components/schemas/ExclusionEntry'
        excluded_cloud_accounts:
          type: array
          items:
            type: string
        total_coverage:
          type: integer
          minimum: 0
          maximum: 1
        savings_plan_layering:
          type: object
          description: Savings Plan laddering configuration
          properties:
            enabled:
              type: boolean
              description: Whether Savings Plan laddering is enabled
              default: false
        max_sp_hourly_commitment:
          type: number
          format: double
          description: Maximum hourly commitment for a net-new Savings Plan purchase in USD/hour; 0 or omitted means no ceiling
          minimum: 0
        preferred_commitment_mode:
          type: string
          description: Commitment type that receives the shared coverage budget first
          enum:
          - ri_preferred
          - sp_preferred
          default: ri_preferred
      required:
      - total_coverage
    AutoCUDSetup:
      type: object
      properties:
        account_id:
          type: string
        cloud_account_id:
          type: string
        enabled:
          type: boolean
        config:
          type: object
          items:
            $ref: '#/components/schemas/AutoCUDConfig'
    SetupInstanceTypesSuccessResponse:
      type: object
      properties:
        ts:
          type: integer
          description: Response timestamp
        success:
          type: boolean
          description: Specifies if the operation is successful
        errors:
          type: string
          description: Specifies the error if the operation failed
        response:
          type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/ListInstanceTypesContent'
    ExclusionEntry:
      type: object
      properties:
        instance_type:
          type: string
          example: t2.micro
        region:
          type: string
          example: us-east-1
    GenericSuccessResponse:
      type: object
      properties:
        ts:
          type: integer
          description: Response timestamp
        success:
          type: boolean
          description: Specifies if the operation is successful
        errors:
          type: string
          description: Specifies the error if the operation failed
    ListInstanceTypesContent:
      type: object
      properties:
        compute_spend:
          type: number
        coverage_percentage:
          type: number
        region:
          type: string
        instance_type:
          type: string
    KeyValuePair:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
