openapi: 3.2.0
info:
  title: Harness Pipeline Execute API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Pipeline Execute
  description: This contains APIs for Executing a Pipeline
paths:
  /pipeline/api/pipeline/execute/retryHistory/{planExecutionId}:
    get:
      tags:
      - Pipeline Execute
      summary: Retry History for a given execution
      operationId: retryHistory
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pipelineIdentifier
        in: query
        description: Pipeline Identifier
        required: true
        schema:
          type: string
      - name: planExecutionId
        in: path
        description: planExecutionId of the execution of whose we need to find the retry history
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Returns retry history execution details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTORetryHistoryResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTORetryHistoryResponse'
  /pipeline/api/pipeline/execute/interrupt/{planExecutionId}:
    put:
      tags:
      - Pipeline Execute
      summary: Execute an Interrupt
      description: Executes an Interrupt on a Given Execution
      operationId: putHandleInterrupt
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: interruptType
        in: query
        description: The Interrupt type needed to be applied to the execution. Choose a value from the enum list.
        required: true
        schema:
          type: string
          enum:
          - AbortAll
          - UserMarkedFailure
      - name: planExecutionId
        in: path
        description: The Pipeline Execution Id on which the Interrupt needs to be applied.
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Takes a possible Interrupt value and applies it onto the execution referred by the planExecutionId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOInterruptResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOInterruptResponse'
  /pipeline/api/pipeline/execute/manual-execution/{nodeExecutionId}:
    post:
      tags:
      - Pipeline Execute
      summary: Marks the Manual Execution as fail or resume
      operationId: markManualExecution
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: nodeExecutionId
        in: path
        description: Node execution id on which the manual execution action is required
        required: true
        schema:
          type: string
      requestBody:
        description: Details of the manual execution action that needs to be taken
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualExecutionRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/ManualExecutionRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Returns status of api request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOManualExecutionResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOManualExecutionResponse'
  /pipeline/api/pipeline/execute/interrupt/{planExecutionId}/{nodeExecutionId}:
    put:
      tags:
      - Pipeline Execute
      summary: Handles the interrupt for a given stage in a pipeline
      operationId: handleStageInterrupt
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: interruptType
        in: query
        description: The Interrupt type needed to be applied to the execution. Choose a value from the enum list.
        required: true
        schema:
          type: string
          enum:
          - AbortAll
          - UserMarkedFailure
      - name: planExecutionId
        in: path
        description: The Pipeline Execution Id on which the Interrupt needs to be applied.
        required: true
        schema:
          type: string
      - name: nodeExecutionId
        in: path
        description: The runtime Id of the step/stage on which the Interrupt needs to be applied.
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Takes a possible Interrupt value and applies it onto the given stage in the execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOInterruptResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOInterruptResponse'
  /pipeline/api/pipeline/execute/retry/{identifier}:
    post:
      tags:
      - Pipeline Execute
      summary: Retry a executed pipeline with inputSet pipeline yaml
      operationId: retryPipeline
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: moduleType
        in: query
        description: Module type for the entity. If its from deployments,type will be CD , if its from build type will be CI
        schema:
          type: string
      - name: planExecutionId
        in: query
        description: This param contains the previous execution execution id. This is basically when we are rerunning a Pipeline.
        required: true
        schema:
          type: string
      - name: retryStages
        in: query
        description: 'This param contains the identifier of stages from where to resume. It will be a list if we want to retry from parallel group '
        required: true
        schema:
          type: array
          items:
            type: string
      - name: runAllStages
        in: query
        description: This param provides an option to run only the failed stages when Pipeline fails at parallel group. By default, it will run all the stages in the failed parallel group.
        schema:
          type: boolean
          default: true
      - name: identifier
        in: path
        description: Pipeline Identifier
        required: true
        schema:
          type: string
      - name: notesForPipelineExecution
        in: query
        description: Notes of a pipeline execution
        schema:
          type: string
          default: ''
      - name: asyncPlanCreation
        in: query
        schema:
          type: boolean
          default: false
      requestBody:
        description: Retry a executed pipeline with inputSet pipeline yaml
        content:
          application/yaml:
            schema:
              type: string
            examples:
              Retry a executed pipeline with Runtime Input YAML:
                summary: Retry a executed pipeline with Runtime Input YAML
                description: Retry a executed pipeline with Runtime Input YAML
                value: "pipeline:\n  identifier: \"Sample_Pipeline\"\n  stages:\n      - stage:\n          identifier: \"Sample_Stage\"\n          type: \"Approval\"\n          spec:\n              execution:\n                  steps:\n                      - step:\n                          identifier: \"Approval_Step\"\n                          type: \"HarnessApproval\"\n                          spec:\n                            approvers:\n                              userGroups: \n                                - account._account_all_users:\n                      - step:\n                          identifier: \"Shellscript_Step\"\n                          type: \"ShellScript\"\n                          spec:\n                            source:\n                              type: \"Inline\"\n                              spec:\n                                script: \"exit 0\"\n      - stage:\n          identifier: \"Sample_Deploy_Stage\"\n          type: \"Deployment\"\n          spec:\n            serviceConfig:\n              serviceRef: \"service1\"\n            infrastructure:\n                environmentRef: \"env1\"\n                infrastructureDefinition:\n                              type: \"KubernetesDirect\"\n                              spec:\n                                connectorRef: \"KubernetesConnector>\"\n                                namespace: \"default\"\n"
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Returns execution details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanExecutionResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PlanExecutionResponse'
  /pipeline/api/pipeline/execute/retry/v2/{identifier}:
    post:
      tags:
      - Pipeline Execute
      summary: Retry a executed pipeline with Runtime Input YAML V2
      description: Retry a executed pipeline with Runtime Input YAML and Expression Values V2
      operationId: retryPipelineV2
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: moduleType
        in: query
        description: Module type for the entity. If its from deployments,type will be CD , if its from build type will be CI
        schema:
          type: string
      - name: planExecutionId
        in: query
        description: This param contains the previous execution execution id. This is basically when we are rerunning a Pipeline.
        required: true
        schema:
          type: string
      - name: retryStages
        in: query
        description: 'This param contains the identifier of stages from where to resume. It will be a list if we want to retry from parallel group '
        required: true
        schema:
          type: array
          items:
            type: string
      - name: runAllStages
        in: query
        description: This param provides an option to run only the failed stages when Pipeline fails at parallel group. By default, it will run all the stages in the failed parallel group.
        schema:
          type: boolean
          default: true
      - name: identifier
        in: path
        description: Pipeline Identifier
        required: true
        schema:
          type: string
      - name: notesForPipelineExecution
        in: query
        description: Notes of a pipeline execution
        schema:
          type: string
          default: ''
      - name: asyncPlanCreation
        in: query
        schema:
          type: boolean
          default: false
      requestBody:
        description: Request body containing Runtime Input YAML and Expression Values for retry execution
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetryPipelineRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/RetryPipelineRequest'
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Returns pipeline execution details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanExecutionResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PlanExecutionResponse'
  /pipeline/api/pipeline/execute/{identifier}/inputSetList:
    post:
      tags:
      - Pipeline Execute
      summary: Execute a Pipeline with Input Set References
      operationId: postPipelineExecuteWithInputSetList
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: moduleType
        in: query
        description: Module type for the entity. If its from deployments,type will be CD , if its from build type will be CI
        schema:
          type: string
      - name: identifier
        in: path
        description: Pipeline identifier for the entity. Identifier of the Pipeline to be executed
        required: true
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      - name: useFQNIfError
        in: query
        schema:
          type: boolean
          default: false
      - name: notesForPipelineExecution
        in: query
        description: Notes of a pipeline execution
        schema:
          type: string
          default: ''
      - name: asyncPlanCreation
        in: query
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeInputSetRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/MergeInputSetRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Returns pipeline execution details V2
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPlanExecutionResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPlanExecutionResponse'
  /pipeline/api/pipeline/execute/{identifier}:
    post:
      tags:
      - Pipeline Execute
      summary: Execute a Pipeline with Runtime Input YAML
      operationId: postPipelineExecuteWithInputSetYaml
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: moduleType
        in: query
        description: Module type for the entity. If its from deployments,type will be CD , if its from build type will be CI
        schema:
          type: string
      - name: identifier
        in: path
        description: Pipeline identifier for the entity. Identifier of the Pipeline to be executed
        required: true
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      - name: useFQNIfError
        in: query
        schema:
          type: boolean
          default: false
      - name: notifyOnlyUser
        in: query
        schema:
          type: boolean
          default: false
      - name: notesForPipelineExecution
        in: query
        description: Notes of a pipeline execution
        schema:
          type: string
          default: ''
      - name: inputSetIdentifiers
        in: query
        description: Input set identifiers for tracking and filtering pipeline executions. A list of input set identifiers to apply.
        schema:
          type: array
          items:
            type: string
      - name: asyncPlanCreation
        in: query
        schema:
          type: boolean
          default: false
      - name: shouldRunAsV1
        in: query
        description: Execute V0 pipeline using unified mode for enhanced features
        schema:
          type: boolean
          default: false
      requestBody:
        description: Enter Runtime Input YAML if the Pipeline contains Runtime Inputs. Template for this can be Fetched from /inputSets/template API.
        content:
          application/yaml:
            schema:
              type: string
            examples:
              Execute Runtime Input YAML:
                summary: Execute Pipeline with Runtime Input YAML
                description: Execute Runtime Input YAML
                value: "pipeline:\n  identifier: \"Sample_Pipeline\"\n  stages:\n      - stage:\n          identifier: \"Sample_Stage\"\n          type: \"Approval\"\n          spec:\n              execution:\n                  steps:\n                      - step:\n                          identifier: \"Approval_Step\"\n                          type: \"HarnessApproval\"\n                          spec:\n                            approvers:\n                              userGroups: \n                                - account._account_all_users:\n                      - step:\n                          identifier: \"Shellscript_Step\"\n                          type: \"ShellScript\"\n                          spec:\n                            source:\n                              type: \"Inline\"\n                              spec:\n                                script: \"exit 0\"\n      - stage:\n          identifier: \"Sample_Deploy_Stage\"\n          type: \"Deployment\"\n          spec:\n            serviceConfig:\n              serviceRef: \"service1\"\n            infrastructure:\n                environmentRef: \"env1\"\n                infrastructureDefinition:\n                              type: \"KubernetesDirect\"\n                              spec:\n                                connectorRef: \"KubernetesConnector>\"\n                                namespace: \"default\"\n"
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Returns pipeline execution details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanExecutionResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PlanExecutionResponse'
  /pipeline/api/pipeline/execute/{identifier}/stages:
    post:
      tags:
      - Pipeline Execute
      summary: Execute given Stages of a Pipeline
      operationId: postExecuteStages
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: moduleType
        in: query
        description: Module type for the entity. If its from deployments,type will be CD , if its from build type will be CI
        schema:
          type: string
      - name: identifier
        in: path
        description: Pipeline Identifier
        required: true
        schema:
          type: string
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      - name: useFQNIfError
        in: query
        schema:
          type: boolean
          default: false
      - name: notesForPipelineExecution
        in: query
        description: Notes of a pipeline execution
        schema:
          type: string
          default: ''
      - name: inputSetIdentifiers
        in: query
        description: Input set identifiers for tracking and filtering pipeline executions. A list of input set identifiers to apply.
        schema:
          type: array
          items:
            type: string
      - name: asyncPlanCreation
        in: query
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunStageRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/RunStageRequest'
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Execute given Stages of a Pipeline with Runtime Input Yaml
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPlanExecutionResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPlanExecutionResponse'
components:
  schemas:
    FeatureSupportOrBuilder:
      type: object
      properties:
        editionIntroduced:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        editionDeprecated:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        deprecationWarning:
          type: string
        deprecationWarningBytes:
          $ref: '#/components/schemas/ByteString'
        editionRemoved:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    PullRequestHook:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        actionValue:
          type: integer
          format: int32
        repoOrBuilder:
          $ref: '#/components/schemas/RepositoryOrBuilder'
        senderOrBuilder:
          $ref: '#/components/schemas/UserOrBuilder'
        prOrBuilder:
          $ref: '#/components/schemas/PullRequestOrBuilder'
        initialized:
          type: boolean
        defaultInstanceForType:
          $ref: '#/components/schemas/PullRequestHook'
        parserForType:
          $ref: '#/components/schemas/ParserPullRequestHook'
        serializedSize:
          type: integer
          format: int32
        action:
          type: string
          enum:
          - UNKNOWN
          - CREATE
          - UPDATE
          - DELETE
          - OPEN
          - REOPEN
          - CLOSE
          - LABEL
          - UNLABEL
          - SYNC
          - MERGE
          - EDIT
          - PUBLISH
          - UNPUBLISH
          - PRERELEASE
          - RELEASE
          - REVIEWREADY
          - SUBMITTED
          - DISMISSED
          - CHECKS_REQUESTED
          - CHECKS_CANCELED
          - UNRECOGNIZED
        repo:
          $ref: '#/components/schemas/Repository'
        pr:
          $ref: '#/components/schemas/PullRequest'
        sender:
          $ref: '#/components/schemas/PipelineUser'
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ParserReference:
      type: object
    ParserMessage:
      type: object
    DeclarationOrBuilder:
      type: object
      properties:
        reserved:
          type: boolean
        fullNameBytes:
          $ref: '#/components/schemas/ByteString'
        type:
          type: string
        number:
          type: integer
          format: int32
        fullName:
          type: string
        repeated:
          type: boolean
        typeBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ParserReleaseHook:
      type: object
    ParserTagHook:
      type: object
    FeatureSetOrBuilder:
      type: object
      properties:
        enumType:
          type: string
          enum:
          - ENUM_TYPE_UNKNOWN
          - OPEN
          - CLOSED
        jsonFormat:
          type: string
          enum:
          - JSON_FORMAT_UNKNOWN
          - ALLOW
          - LEGACY_BEST_EFFORT
        messageEncoding:
          type: string
          enum:
          - MESSAGE_ENCODING_UNKNOWN
          - LENGTH_PREFIXED
          - DELIMITED
        utf8Validation:
          type: string
          enum:
          - UTF8_VALIDATION_UNKNOWN
          - VERIFY
          - NONE
        fieldPresence:
          type: string
          enum:
          - FIELD_PRESENCE_UNKNOWN
          - EXPLICIT
          - IMPLICIT
          - LEGACY_REQUIRED
        repeatedFieldEncoding:
          type: string
          enum:
          - REPEATED_FIELD_ENCODING_UNKNOWN
          - PACKED
          - EXPANDED
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ParserSignature:
      type: object
    ExecutionTriggerInfoOrBuilder:
      type: object
      properties:
        triggeredBy:
          $ref: '#/components/schemas/TriggeredBy'
        rerunInfo:
          $ref: '#/components/schemas/RerunInfo'
        buildInfo:
          $ref: '#/components/schemas/BuildInfo'
        isRerun:
          type: boolean
        triggerTypeValue:
          type: integer
          format: int32
        triggerType:
          type: string
          enum:
          - NOOP
          - MANUAL
          - WEBHOOK
          - WEBHOOK_CUSTOM
          - SCHEDULER_CRON
          - ARTIFACT
          - MANIFEST
          - UNRECOGNIZED
        triggeredByOrBuilder:
          $ref: '#/components/schemas/TriggeredByOrBuilder'
        rerunInfoOrBuilder:
          $ref: '#/components/schemas/RerunInfoOrBuilder'
        buildInfoOrBuilder:
          $ref: '#/components/schemas/BuildInfoOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        initialized:
          type: boolean
    ParserRetryExecutionInfo:
      type: object
    ParserFeatureSupport:
      type: object
    ServiceOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    EnumReservedRangeOrBuilder:
      type: object
      properties:
        start:
          type: integer
          format: int32
        end:
          type: integer
          format: int32
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ExecutionMetadataOrBuilder:
      type: object
      properties:
        principalInfo:
          $ref: '#/components/schemas/ExecutionPrincipalInfo'
        settingToValueMapMap:
          type: object
          additionalProperties:
            type: string
        featureFlagToValueMapMap:
          type: object
          additionalProperties:
            type: boolean
        triggerInfo:
          $ref: '#/components/schemas/ExecutionTriggerInfo'
        retryInfo:
          $ref: '#/components/schemas/RetryExecutionInfo'
        pipelineStageInfo:
          $ref: '#/components/schemas/PipelineStageInfo'
        runSequence:
          type: integer
          format: int32
        pipelineIdentifier:
          type: string
        executionUuid:
          type: string
        gitSyncBranchContext:
          $ref: '#/components/schemas/ByteString'
        moduleType:
          type: string
        isNotificationConfigured:
          type: boolean
        pipelineConnectorRef:
          type: string
        harnessVersion:
          type: string
        isDebug:
          type: boolean
        originalPlanExecutionIdForRollbackMode:
          type: string
        processedYamlVersion:
          type: string
        isStagesExpressionsProvided:
          type: boolean
        branchSeqId:
          type: integer
          format: int64
        codebaseBranch:
          type: string
        normalizedRepoUrl:
          type: string
        enableDAG:
          type: boolean
        isPipelineConverted:
          type: boolean
        triggerInfoOrBuilder:
          $ref: '#/components/schemas/ExecutionTriggerInfoOrBuilder'
        pipelineIdentifierBytes:
          $ref: '#/components/schemas/ByteString'
        executionUuidBytes:
          $ref: '#/components/schemas/ByteString'
        principalInfoOrBuilder:
          $ref: '#/components/schemas/ExecutionPrincipalInfoOrBuilder'
        moduleTypeBytes:
          $ref: '#/components/schemas/ByteString'
        retryInfoOrBuilder:
          $ref: '#/components/schemas/RetryExecutionInfoOrBuilder'
        pipelineStoreTypeValue:
          type: integer
          format: int32
        pipelineStoreType:
          type: string
          enum:
          - UNDEFINED
          - INLINE
          - REMOTE
          - UNRECOGNIZED
        pipelineConnectorRefBytes:
          $ref: '#/components/schemas/ByteString'
        pipelineStageInfoOrBuilder:
          $ref: '#/components/schemas/PipelineStageInfoOrBuilder'
        harnessVersionBytes:
          $ref: '#/components/schemas/ByteString'
        executionModeValue:
          type: integer
          format: int32
        executionMode:
          type: string
          enum:
          - UNDEFINED_MODE
          - NORMAL
          - POST_EXECUTION_ROLLBACK
          - PIPELINE_ROLLBACK
          - UNRECOGNIZED
        originalPlanExecutionIdForRollbackModeBytes:
          $ref: '#/components/schemas/ByteString'
        settingToValueMapCount:
          type: integer
          format: int32
        settingToValueMap:
          type: object
          additionalProperties:
            type: string
        featureFlagToValueMapCount:
          type: integer
          format: int32
        featureFlagToValueMap:
          type: object
          additionalProperties:
            type: boolean
        processedYamlVersionBytes:
          $ref: '#/components/schemas/ByteString'
        codebaseBranchBytes:
          $ref: '#/components/schemas/ByteString'
        normalizedRepoUrlBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        initialized:
          type: boolean
    ParserEnumValueOptions:
      type: object
    ArtifactData:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        buildBytes:
          $ref: '#/components/schemas/ByteString'
        initialized:
          type: boolean
        metadata:
          type: object
          additionalProperties:
            type: string
        defaultInstanceForType:
          $ref: '#/components/schemas/ArtifactData'
        parserForType:
          $ref: '#/components/schemas/ParserArtifactData'
        serializedSize:
          type: integer
          format: int32
        build:
          type: string
        metadataMap:
          type: object
          additionalProperties:
            type: string
        metadataCount:
          type: integer
          format: int32
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ParserFieldDescriptorProto:
      type: object
    ParserCommit:
      type: object
    FieldOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        editionDefaultsOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EditionDefaultOrBuilder'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        packed:
          type: boolean
        jstype:
          type: string
          enum:
          - JS_NORMAL
          - JS_STRING
          - JS_NUMBER
        lazy:
          type: boolean
        unverifiedLazy:
          type: boolean
        weak:
          type: boolean
        debugRedact:
          type: boolean
        retention:
          type: string
          enum:
          - RETENTION_UNKNOWN
          - RETENTION_RUNTIME
          - RETENTION_SOURCE
        targetsList:
          type: array
          items:
            type: string
            enum:
            - TARGET_TYPE_UNKNOWN
            - TARGET_TYPE_FILE
            - TARGET_TYPE_EXTENSION_RANGE
            - TARGET_TYPE_MESSAGE
            - TARGET_TYPE_FIELD
            - TARGET_TYPE_ONEOF
            - TARGET_TYPE_ENUM
            - TARGET_TYPE_ENUM_ENTRY
            - TARGET_TYPE_SERVICE
            - TARGET_TYPE_METHOD
        targetsCount:
          type: integer
          format: int32
        editionDefaultsList:
          type: array
          items:
            $ref: '#/components/schemas/EditionDefault'
        editionDefaultsCount:
          type: integer
          format: int32
        featureSupport:
          $ref: '#/components/schemas/FeatureSupport'
        featureSupportOrBuilder:
          $ref: '#/components/schemas/FeatureSupportOrBuilder'
        ctype:
          type: string
          enum:
          - STRING
          - CORD
          - STRING_PIECE
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    BranchHookOrBuilder:
      type: object
      properties:
        actionValue:
          type: integer
          format: int32
        repoOrBuilder:
          $ref: '#/components/schemas/RepositoryOrBuilder'
        senderOrBuilder:
          $ref: '#/components/schemas/UserOrBuilder'
        refOrBuilder:
          $ref: '#/components/schemas/ReferenceOrBuilder'
        ref:
          $ref: '#/components/schemas/Reference'
        action:
          type: string
          enum:
          - UNKNOWN
          - CREATE
          - UPDATE
          - DELETE
          - OPEN
          - REOPEN
          - CLOSE
          - LABEL
          - UNLABEL
          - SYNC
          - MERGE
          - EDIT
          - PUBLISH
          - UNPUBLISH
          - PRERELEASE
          - RELEASE
          - REVIEWREADY
          - SUBMITTED
          - DISMISSED
          - CHECKS_REQUESTED
          - CHECKS_CANCELED
          - UNRECOGNIZED
        repo:
          $ref: '#/components/schemas/Repository'
        sender:
          $ref: '#/components/schemas/PipelineUser'
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        initialized:
          type: boolean
    ParserStrategyInfo:
      type: object
    ParserRerunInfo:
      type: object
    ArtifactDataOrBuilder:
      type: object
      properties:
        buildBytes:
          $ref: '#/components/schemas/ByteString'
        metadata:
          type: object
          additionalProperties:
            type: string
        build:
          type: string
        metadataMap:
          type: object
          additionalProperties:
            type: string
        metadataCount:
          type: integer
          format: int32
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        initialized:
          type: boolean
    EnumValueDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        number:
          type: integer
          format: int32
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/EnumValueOptions'
        defaultInstanceForType:
          $ref: '#/components/schemas/EnumValueDescriptorProto'
        parserForType:
          $ref: '#/components/schemas/ParserEnumValueDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        optionsOrBuilder:
          $ref: '#/components/schemas/EnumValueOptionsOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    FailureData:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        message:
          type: string
        level:
          type: string
        initialized:
          type: boolean
        code:
          type: string
        defaultInstanceForType:
          $ref: '#/components/schemas/FailureData'
        parserForType:
          $ref: '#/components/schemas/ParserFailureData'
        serializedSize:
          type: integer
          format: int32
        messageBytes:
          $ref: '#/components/schemas/ByteString'
        failureTypesList:
          type: array
          items:
            type: string
            enum:
            - UNKNOWN_FAILURE
            - DELEGATE_PROVISIONING_FAILURE
            - CONNECTIVITY_FAILURE
            - AUTHENTICATION_FAILURE
            - VERIFICATION_FAILURE
            - APPLICATION_FAILURE
            - AUTHORIZATION_FAILURE
            - TIMEOUT_FAILURE
            - SKIPPING_FAILURE
            - POLICY_EVALUATION_FAILURE
            - INPUT_TIMEOUT_FAILURE
            - FREEZE_ACTIVE_FAILURE
            - APPROVAL_REJECTION
            - DELEGATE_RESTART
            - USER_MARKED_FAILURE
            - INFRASTRUCTURE_FAILURE
            - PLUGIN_IMAGE_FAILURE
            - RESOURCE_LIMITS_FAILURE
            - CONFIGURATION_FAILURE
            - RETRYABLE_TRANSIENT_FAILURE
            - UNRECOGNIZED
        failureTypesCount:
          type: integer
          format: int32
        failureTypesValueList:
          type: array
          items:
            type: integer
            format: int32
        stageIdentifier:
          type: string
        stepIdentifier:
          type: string
        failureTypeInfosList:
          type: array
          items:
            $ref: '#/components/schemas/FailureTypeInfo'
        failureTypeInfosCount:
          type: integer
          format: int32
        codeBytes:
          $ref: '#/components/schemas/ByteString'
        levelBytes:
          $ref: '#/components/schemas/ByteString'
        stepIdentifierBytes:
          $ref: '#/components/schemas/ByteString'
        stageIdentifierBytes:
          $ref: '#/components/schemas/ByteString'
        failureTypeInfosOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/FailureTypeInfoOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ParserReservedRange:
      type: object
    CvDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/MessageOptions'
        fieldCount:
          type: integer
          format: int32
        defaultInstanceForType:
          $ref: '#/components/schemas/CvDescriptorProto'
        reservedRangeList:
          type: array
          items:
            $ref: '#/components/schemas/ReservedRange'
        reservedNameList:
          type: array
          properties:
            empty:
              type: boolean
          items:
            type: string
        extensionRangeList:
          type: array
          items:
            $ref: '#/components/schemas/ExtensionRange'
        oneofDeclCount:
          type: integer
          format: int32
        nestedTypeCount:
          type: integer
          format: int32
        enumTypeCount:
          type: integer
          format: int32
        extensionCount:
          type: integer
          format: int32
        extensionRangeCount:
          type: integer
          format: int32
        parserForType:
          $ref: '#/components/schemas/ParserDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        enumTypeList:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptorProto'
        extensionList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProto'
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        enumTypeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptorProtoOrBuilder'
        extensionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProtoOrBuilder'
        optionsOrBuilder:
          $ref: '#/components/schemas/MessageOptionsOrBuilder'
        fieldList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProto'
        nestedTypeList:
          type: array
          items:
            $ref: '#/components/schemas/CvDescriptorProto'
        oneofDeclList:
          type: array
          items:
            $ref: '#/components/schemas/OneofDescriptorProto'
        reservedRangeCount:
          type: integer
          format: int32
        reservedNameCount:
          type: integer
          format: int32
        fieldOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProtoOrBuilder'
        nestedTypeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/DescriptorProtoOrBuilder'
        extensionRangeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/ExtensionRangeOrBuilder'
        oneofDeclOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/OneofDescriptorProtoOrBuilder'
        reservedRangeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/ReservedRangeOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ParserParsedPayload:
      type: object
    EnumValueOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        debugRedact:
          type: boolean
        featureSupport:
          $ref: '#/components/schemas/FeatureSupport'
        featureSupportOrBuilder:
          $ref: '#/components/schemas/FeatureSupportOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    RetryHistoryResponse:
      type: object
      properties:
        errorMessage:
          type: string
        latestExecutionId:
          type: string
        executionInfos:
          type: array
          items:
            $ref: '#/components/schemas/ExecutionInfo'
        retryStagesMetadata:
          $ref: '#/components/schemas/RetryStagesMetadata'
      description: This is the view of the history of Retry Failed Pipelines.
    ExtensionRangeOptionsOrBuilder:
      type: object
      properties:
        declarationOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/DeclarationOrBuilder'
        features:
          $ref: '#/components/schemas/FeatureSet'
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        declarationCount:
          type: integer
          format: int32
        verification:
          type: string
          enum:
          - DECLARATION
          - UNVERIFIED
        declarationList:
          type: array
          items:
            $ref: '#/components/schemas/CvDeclaration'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ParsedPayload:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        prOrBuilder:
          $ref: '#/components/schemas/PullRequestHookOrBuilder'
        pushOrBuilder:
          $ref: '#/components/schemas/PushHookOrBuilder'
        branchOrBuilder:
          $ref: '#/components/schemas/BranchHookOrBuilder'
        releaseOrBuilder:
          $ref: '#/components/schemas/ReleaseHookOrBuilder'
        tagOrBuilder:
          $ref: '#/components/schemas/TagHookOrBuilder'
        mergeQueueOrBuilder:
          $ref: '#/components/schemas/MergeQueueHookOrBuilder'
        tag:
          $ref: '#/components/schemas/TagHook'
        initialized:
          type: boolean
        defaultInstanceForType:
          $ref: '#/components/schemas/ParsedPayload'
        parserForType:
          $ref: '#/components/schemas/ParserParsedPayload'
        serializedSize:
          type: integer
          format: int32
        branch:
          $ref: '#/components/schemas/BranchHook'
        payloadCase:
          type: string
          enum:
          - PR
          - PUSH
          - RELEASE
          - BRANCH
          - TAG
          - MERGEQUEUE
          - PAYLOAD_NOT_SET
        pr:
          $ref: '#/components/schemas/PullRequestHook'
        push:
          $ref: '#/components/schemas/PushHook'
        release:
          $ref: '#/components/schemas/ReleaseHook'
        mergeQueue:
          $ref: '#/components/schemas/MergeQueueHook'
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    TimestampOrBuilder:
      type: object
      properties:
        seconds:
          type: integer
          format: int64
        nanos:
          type: integer
          format: int32
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        initialized:
          type: boolean
    ReferenceOrBuilder:
      type: object
      properties:
        shaBytes:
          $ref: '#/components/schemas/ByteString'
        name:
          type: string
        path:
          type: string
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        sha:
          type: string
        pathBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        initialized:
          type: boolean
    NamePartOrBuilder:
      type: object
      properties:
        namePart:
          type: string
        isExtension:
          type: boolean
        namePartBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    StepTypeOrBuilder:
      type: object
      properties:
        type:
          type: string
        typeBytes:
          $ref: '#/components/schemas/ByteString'
        stepCategoryValue:
          type: integer
          format: int32
        stepCategory:
          type: string
          enum:
          - UNKNOWN
          - PIPELINE
          - STAGE
          - STEP
          - STAGES
          - FORK
          - STEP_GROUP
          - STRATEGY
          - INSERT
          - UNRECOGNIZED
        subCategoryValue:
          type: integer
          format: int32
        subCategory:
          type: string
          enum:
          - NONE
          - STEP_LEVEL
          - STAGE_LEVEL
          - UNRECOGNIZED
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        initialized:
          type: boolean
    Parser:
      type: object
    FailureDataOrBuilder:
      type: object
      properties:
        message:
          type: string
        level:
          type: string
        code:
          type: string
        messageBytes:
          $ref: '#/components/schemas/ByteString'
        failureTypesList:
          type: array
          items:
            type: string
            enum:
            - UNKNOWN_FAILURE
            - DELEGATE_PROVISIONING_FAILURE
            - CONNECTIVITY_FAILURE
            - AUTHENTICATION_FAILURE
            - VERIFICATION_FAILURE
            - APPLICATION_FAILURE
            - AUTHORIZATION_FAILURE
            - TIMEOUT_FAILURE
            - SKIPPING_FAILURE
            - POLICY_EVALUATION_FAILURE
            - INPUT_TIMEOUT_FAILURE
            - FREEZE_ACTIVE_FAILURE
            - APPROVAL_REJECTION
            - DELEGATE_RESTART
            - USER_MARKED_FAILURE
            - INFRASTRUCTURE_FAILURE
            - PLUGIN_IMAGE_FAILURE
            - RESOURCE_LIMITS_FAILURE
            - CONFIGURATION_FAILURE
            - RETRYABLE_TRANSIENT_FAILURE
            - UNRECOGNIZED
        failureTypesCount:
          type: integer
          format: int32
        failureTypesValueList:
          type: array
          items:
            type: integer
            format: int32
        stageIdentifier:
          type: string
        stepIdentifier:
          type: string
        failureTypeInfosList:
          type: array
          items:
            $ref: '#/components/schemas/FailureTypeInfo'
        failureTypeInfosCount:
          type: integer
          format: int32
        codeBytes:
          $ref: '#/components/schemas/ByteString'
        levelBytes:
          $ref: '#/components/schemas/ByteString'
        stepIdentifierBytes:
          $ref: '#/components/schemas/ByteString'
        stageIdentifierBytes:
          $ref: '#/components/schemas/ByteString'
        failureTypeInfosOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/FailureTypeInfoOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        initialized:
          type: boolean
    Label:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        colorBytes:
          $ref: '#/components/schemas/ByteString'
        name:
          type: string
        initialized:
          type: boolean
        defaultInstanceForType:
          $ref: '#/components/schemas/Label'
        parserForType:
          $ref: '#/components/schemas/ParserLabel'
        serializedSize:
          type: integer
          format: int32
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        color:
          type: string
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ResponseDTOManualExecutionResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/ManualExecutionResponse'
        metaData:
          type: object
        correlationId:
          type: string
    ParserEditionDefault:
      type: object
    HeaderConfig:
      type: object
      properties:
        key:
          type: string
        values:
          type: array
          items:
            type: string
    LabelOrBuilder:
      type: object
      properties:
        colorBytes:
          $ref: '#/components/schemas/ByteString'
        name:
          type: string
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        color:
          type: string
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        initialized:
          type: boolean
    PipelineError:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        code:
          type: string
          enum:
          - DEFAULT_ERROR_CODE
          - INVALID_ARGUMENT
          - INVALID_EMAIL
          - DOMAIN_NOT_ALLOWED_TO_REGISTER
          - COMMNITY_EDITION_NOT_FOUND
          - DEPLOY_MODE_IS_NOT_ON_PREM
          - USER_ALREADY_REGISTERED
          - USER_INVITATION_DOES_NOT_EXIST
          - USER_DOES_NOT_EXIST
          - USER_INVITE_OPERATION_FAILED
          - USER_DISABLED
          - ACCOUNT_DOES_NOT_EXIST
          - INACTIVE_ACCOUNT
          - ACCOUNT_MIGRATED
          - ACCOUNT_MIGRATED_TO_NEXT_GEN
          - USER_DOMAIN_NOT_ALLOWED
          - MAX_FAILED_ATTEMPT_COUNT_EXCEEDED
          - RESOURCE_NOT_FOUND
          - INVALID_FORMAT
          - ROLE_DOES_NOT_EXIST
          - EMAIL_NOT_VERIFIED
          - EMAIL_VERIFICATION_TOKEN_NOT_FOUND
          - INVALID_TOKEN
          - REVOKED_TOKEN
          - INVALID_CAPTCHA_TOKEN
          - NOT_ACCOUNT_MGR_NOR_HAS_ALL_APP_ACCESS
          - EXPIRED_TOKEN
          - INVALID_AGENT_MTLS_AUTHORITY
          - TOKEN_ALREADY_REFRESHED_ONCE
          - ACCESS_DENIED
          - NG_ACCESS_DENIED
          - INVALID_CREDENTIAL
          - INVALID_CREDENTIALS_THIRD_PARTY
          - INVALID_KEY
          - INVALID_CONNECTOR_TYPE
          - INVALID_KEYPATH
          - INVALID_VARIABLE
          - UNKNOWN_HOST
          - UNREACHABLE_HOST
          - INVALID_PORT
          - SSH_SESSION_TIMEOUT
          - ALGORITHM_NEGOTIATION_ERROR
          - SOCKET_CONNECTION_ERROR
          - CONNECTION_ERROR
          - COULD_NOT_PROCESS_ERROR
          - SOCKET_CONNECTION_TIMEOUT
          - WINRM_COMMAND_EXECUTION_TIMEOUT
          - CONNECTION_TIMEOUT
          - SSH_CONNECTION_ERROR
          - USER_GROUP_ERROR
          - INVALID_EXECUTION_ID
          - ERROR_IN_GETTING_CHANNEL_STREAMS
          - UNEXPECTED
          - UNKNOWN_ERROR
          - UNKNOWN_EXECUTOR_TYPE_ERROR
          - DUPLICATE_STATE_NAMES
          - TRANSITION_NOT_LINKED
          - TRANSITION_TO_INCORRECT_STATE
          - TRANSITION_TYPE_NULL
          - STATES_WITH_DUP_TRANSITIONS
          - BARRIERS_NOT_RUNNING_CONCURRENTLY
          - NON_FORK_STATES
          - NON_REPEAT_STATES
          - INITIAL_STATE_NOT_DEFINED
          - FILE_INTEGRITY_CHECK_FAILED
          - INVALID_URL
          - FILE_DOWNLOAD_FAILED
          - PLATFORM_SOFTWARE_DELETE_ERROR
          - INVALID_CSV_FILE
          - INVALID_REQUEST
          - SCHEMA_VALIDATION_FAILED
          - FILTER_CREATION_ERROR
          - INVALID_YAML_ERROR
          - PLAN_CREATION_ERROR
          - INVALID_INFRA_STATE
          - PIPELINE_ALREADY_TRIGGERED
          - NON_EXISTING_PIPELINE
          - DUPLICATE_COMMAND_NAMES
          - INVALID_PIPELINE
          - COMMAND_DOES_NOT_EXIST
          - DUPLICATE_ARTIFACTSTREAM_NAMES
          - DUPLICATE_HOST_NAMES
          - STATE_NOT_FOR_TYPE
          - STATE_MACHINE_ISSUE
          - STATE_DISCONTINUE_FAILED
          - STATE_PAUSE_FAILED
          - PAUSE_ALL_ALREADY
          - RESUME_ALL_ALREADY
          - ROLLBACK_ALREADY
          - ABORT_ALL_ALREADY
          - EXPIRE_ALL_ALREADY
          - RETRY_FAILED
          - UNKNOWN_ARTIFACT_TYPE
          - UNKNOWN_STAGE_ELEMENT_WRAPPER_TYPE
          - INIT_TIMEOUT
          - LICENSE_EXPIRED
          - NOT_LICENSED
          - REQUEST_TIMEOUT
          - SCM_REQUEST_TIMEOUT
          - WORKFLOW_ALREADY_TRIGGERED
          - JENKINS_ERROR
          - INVALID_ARTIFACT_SOURCE
          - INVALID_ARTIFACT_SERVER
          - INVALID_CLOUD_PROVIDER
          - UPDATE_NOT_ALLOWED
          - DELETE_NOT_ALLOWED
          - APPDYNAMICS_CONFIGURATION_ERROR
          - APM_CONFIGURATION_ERROR
          - SPLUNK_CONFIGURATION_ERROR
          - ELK_CONFIGURATION_ERROR
          - LOGZ_CONFIGURATION_ERROR
          - SUMO_CONFIGURATION_ERROR
          - INSTANA_CONFIGURATION_ERROR
          - APPDYNAMICS_ERROR
          - STACKDRIVER_ERROR
          - STACKDRIVER_CONFIGURATION_ERROR
          - NEWRELIC_CONFIGURATION_ERROR
          - NEWRELIC_ERROR
          - DYNA_TRACE_CONFIGURATION_ERROR
          - DYNA_TRACE_ERROR
          - CLOUDWATCH_ERROR
          - CLOUDWATCH_CONFIGURATION_ERROR
          - PROMETHEUS_CONFIGURATION_ERROR
          - DATA_DOG_CONFIGURATION_ERROR
          - SERVICE_GUARD_CONFIGURATION_ERROR
          - ENCRYPTION_NOT_CONFIGURED
          - UNAVAILABLE_DELEGATES
          - WORKFLOW_EXECUTION_IN_PROGRESS
          - PIPELINE_EXECUTION_IN_PROGRESS
          - AWS_ACCESS_DENIED
          - AWS_CLUSTER_NOT_FOUND
          - AWS_SERVICE_NOT_FOUND
          - IMAGE_NOT_FOUND
          - ILLEGAL_ARGUMENT
          - IMAGE_TAG_NOT_FOUND
          - DELEGATE_NOT_AVAILABLE
          - INVALID_YAML_PAYLOAD
          - AUTHENTICATION_ERROR
          - AUTHORIZATION_ERROR
          - UNRECOGNIZED_YAML_FIELDS
          - COULD_NOT_MAP_BEFORE_YAML
          - MISSING_BEFORE_YAML
          - MISSING_YAML
          - NON_EMPTY_DELETIONS
          - GENERAL_YAML_ERROR
          - GENERAL_YAML_INFO
          - YAML_GIT_SYNC_ERROR
          - GIT_CONNECTION_ERROR
          - GIT_ERROR
          - ARTIFACT_SERVER_ERROR
          - ENCRYPT_DECRYPT_ERROR
          - SECRET_MANAGEMENT_ERROR
          - SECRET_NOT_FOUND
          - KMS_OPERATION_ERROR
          - GCP_KMS_OPERATION_ERROR
          - VAULT_OPERATION_ERROR
          - AWS_SECRETS_MANAGER_OPERATION_ERROR
          - AZURE_KEY_VAULT_OPERATION_ERROR
          - AZURE_KEY_VAULT_INTERRUPT_ERROR
          - UNSUPPORTED_OPERATION_EXCEPTION
          - FEATURE_UNAVAILABLE
          - GENERAL_ERROR
          - BASELINE_CONFIGURATION_ERROR
          - SAML_IDP_CONFIGURATION_NOT_AVAILABLE
          - INVALID_AUTHENTICATION_MECHANISM
          - INVALID_SAML_CONFIGURATION
          - INVALID_OAUTH_CONFIGURATION
          - INVALID_LDAP_CONFIGURATION
          - USER_GROUP_SYNC_FAILURE
          - USER_GROUP_ALREADY_EXIST
          - INVALID_TWO_FACTOR_AUTHENTICATION_CONFIGURATION
          - EXPLANATION
          - HINT
          - NOT_WHITELISTED_IP
          - INVALID_TOTP_TOKEN
          - EMAIL_FAILED
          - SSL_HANDSHAKE_FAILED
          - NO_APPS_ASSIGNED
          - INVALID_INFRA_CONFIGURATION
          - TEMPLATES_LINKED
          - USER_HAS_NO_PERMISSIONS
          - USER_NOT_AUTHORIZED
          - USER_ALREADY_PRESENT
          - EMAIL_ERROR
          - INVALID_USAGE_RESTRICTION
          - USAGE_RESTRICTION_ERROR
          - STATE_EXECUTION_INSTANCE_NOT_FOUND
          - DELEGATE_TASK_RETRY
          - KUBERNETES_API_TASK_EXCEPTION
          - KUBERNETES_TASK_EXCEPTION
          - KUBERNETES_YAML_ERROR
          - SAVE_FILE_INTO_AWS_STORAGE_FAILED
          - READ_FILE_FROM_AWS_STORAGE_FAILED
          - SAVE_FILE_INTO_GCP_STORAGE_FAILED
          - READ_FILE_FROM_GCP_STORAGE_FAILED
          - FILE_NOT_FOUND_ERROR
          - USAGE_LIMITS_EXCEEDED
          - EVENT_PUBLISH_FAILED
          - CUSTOM_APPROVAL_ERROR
          - JIRA_ERROR
          - EXPRESSION_EVALUATION_FAILED
          - KUBERNETES_VALUES_ERROR
          - KUBERNETES_CLUSTER_ERROR
          - INCORRECT_SIGN_IN_MECHANISM
          - OAUTH_LOGIN_FAILED
          - INVALID_TERRAFORM_TARGETS_REQUEST
          - TERRAFORM_EXECUTION_ERROR
          - FILE_READ_FAILED
          - FILE_SIZE_EXCEEDS_LIMIT
          - CLUSTER_NOT_FOUND
          - MARKETPLACE_TOKEN_NOT_FOUND
          - INVALID_MARKETPLACE_TOKEN
          - INVALID_TICKETING_SERVER
          - SERVICENOW_ERROR
          - PASSWORD_EXPIRED
          - USER_LOCKED
          - PASSWORD_STRENGTH_CHECK_FAILED
          - ACCOUNT_DISABLED
          - INVALID_ACCOUNT_PERMISSION
          - PAGERDUTY_ERROR
          - HEALTH_ERROR
          - SAML_TEST_SUCCESS_MECHANISM_NOT_ENABLED
          - DOMAIN_WHITELIST_FILTER_CHECK_FAILED
          - INVALID_DASHBOARD_UPDATE_REQUEST
          - DUPLICATE_FIELD
          - INVALID_AZURE_VAULT_CONFIGURATION
          - USER_NOT_AUTHORIZED_DUE_TO_USAGE_RESTRICTIONS
          - INVALID_ROLLBACK
          - DATA_COLLECTION_ERROR
          - SUMO_DATA_COLLECTION_ERROR
          - DEPLOYMENT_GOVERNANCE_ERROR
          - BATCH_PROCESSING_ERROR
          - GRAPHQL_ERROR
          - FILE_CREATE_ERROR
          - ILLEGAL_STATE
          - GIT_DIFF_COMMIT_NOT_IN_ORDER
          - FAILED_TO_ACQUIRE_PERSISTENT_LOCK
          - FAILED_TO_ACQUIRE_NON_PERSISTENT_LOCK
          - POD_NOT_FOUND_ERROR
          - COMMAND_EXECUTION_ERROR
          - REGISTRY_EXCEPTION
          - ENGINE_INTERRUPT_PROCESSING_EXCEPTION
          - ENGINE_IO_EXCEPTION
          - ENGINE_OUTCOME_EXCEPTION
          - ENGINE_SWEEPING_OUTPUT_EXCEPTION
          - CACHE_NOT_FOUND_EXCEPTION
          - ENGINE_ENTITY_UPDATE_EXCEPTION
          - SHELL_EXECUTION_EXCEPTION
          - TEMPLATE_NOT_FOUND
          - AZURE_SERVICE_EXCEPTION
          - AZURE_CLIENT_EXCEPTION
          - GIT_UNSEEN_REMOTE_HEAD_COMMIT
          - TIMEOUT_ENGINE_EXCEPTION
          - NO_AVAILABLE_DELEGATES
          - NO_GLOBAL_DELEGATE_ACCOUNT
          - NO_INSTALLED_DELEGATES
          - DUPLICATE_DELEGATE_EXCEPTION
          - GCP_MARKETPLACE_EXCEPTION
          - MISSING_DEFAULT_GOOGLE_CREDENTIALS
          - INCORRECT_DEFAULT_GOOGLE_CREDENTIALS
          - OPTIMISTIC_LOCKING_EXCEPTION
          - NG_PIPELINE_EXECUTION_EXCEPTION
          - NG_PIPELINE_CREATE_EXCEPTION
          - RESOURCE_NOT_FOUND_EXCEPTION
          - PMS_INITIALIZE_SDK_EXCEPTION
          - UNEXPECTED_SNIPPET_EXCEPTION
          - UNEXPECTED_SCHEMA_EXCEPTION
          - CONNECTOR_VALIDATION_EXCEPTION
          - TIMESCALE_NOT_AVAILABLE
          - MIGRATION_EXCEPTION
          - REQUEST_PROCESSING_INTERRUPTED
          - SECRET_MANAGER_ID_NOT_FOUND
          - GCP_SECRET_MANAGER_OPERATION_ERROR
          - GCP_SECRET_OPERATION_ERROR
          - GIT_OPERATION_ERROR
          - TASK_FAILURE_ERROR
          - INSTANCE_STATS_PROCESS_ERROR
          - INSTANCE_STATS_MIGRATION_ERROR
          - DEPLOYMENT_MIGRATION_ERROR
          - CG_LICENSE_USAGE_ERROR
          - INSTANCE_STATS_AGGREGATION_ERROR
          - UNRESOLVED_EXPRESSIONS_ERROR
          - KRYO_HANDLER_NOT_FOUND_ERROR
          - DELEGATE_ERROR_HANDLER_EXCEPTION
          - DELEGATE_SERVICE_DRIVER_EXCEPTION
          - DELEGATE_INSTALLATION_COMMAND_NOT_SUPPORTED_EXCEPTION
          - UNEXPECTED_TYPE_ERROR
          - EXCEPTION_HANDLER_NOT_FOUND
          - CONNECTOR_NOT_FOUND_EXCEPTION
          - GCP_SERVER_ERROR
          - HTTP_RESPONSE_EXCEPTION
          - SCM_NOT_FOUND_ERROR
          - SCM_CONFLICT_ERROR
          - SCM_CONFLICT_ERROR_V2
          - SCM_UNPROCESSABLE_ENTITY
          - PROCESS_EXECUTION_EXCEPTION
          - SCM_UNAUTHORIZED
          - SCM_BAD_REQUEST
          - SCM_INTERNAL_SERVER_ERROR
          - DATA
          - CONTEXT
          - PR_CREATION_ERROR
          - URL_NOT_REACHABLE
          - URL_NOT_PROVIDED
          - ENGINE_EXPRESSION_EVALUATION_ERROR
          - ENGINE_FUNCTOR_ERROR
          - JIRA_CLIENT_ERROR
          - SCM_NOT_MODIFIED
          - APPROVAL_STEP_NG_ERROR
          - BUCKET_SERVER_ERROR
          - GIT_SYNC_ERROR
          - TEMPLATE_EXCEPTION
          - TEMPLATE_ALREADY_EXISTS_EXCEPTION
          - ENTITY_REFERENCE_EXCEPTION
          - ACTIVE_SERVICE_INSTANCES_PRESENT_EXCEPTION
          - INVALID_INPUT_SET
          - INVALID_OVERLAY_INPUT_SET
          - RESOURCE_ALREADY_EXISTS
          - INVALID_JSON_PAYLOAD
          - POLICY_EVALUATION_FAILURE
          - POLICY_SET_ERROR
          - INVALID_ARTIFACTORY_REGISTRY_REQUEST
          - INVALID_NEXUS_REGISTRY_REQUEST
          - ENTITY_NOT_FOUND
          - GITX_OAUTH_NOT_SET
          - INVALID_AZURE_CONTAINER_REGISTRY_REQUEST
          - AZURE_AUTHENTICATION_ERROR
          - AZURE_CONFIG_ERROR
          - DATA_PROCESSING_ERROR
          - INVALID_AZURE_AKS_REQUEST
          - AWS_IAM_ERROR
          - AWS_CF_ERROR
          - AWS_INSTANCE_ERROR
          - AWS_VPC_ERROR
          - AWS_TAG_ERROR
          - AWS_ASG_ERROR
          - AWS_LOAD_BALANCER_ERROR
          - SCM_INTERNAL_SERVER_ERROR_V2
          - SCM_FAILED_DEPENDENCY_ERROR
          - SCM_UNAUTHORIZED_ERROR_V2
          - TOO_MANY_REQUESTS
          - SCM_RATE_LIMIT_ERROR
          - INVALID_IDENTIFIER_REF
          - SPOTINST_NULL_ERROR
          - SPOTNIST_REST_EXCEPTION
          - SCM_UNEXPECTED_ERROR
          - DUPLICATE_FILE_IMPORT
          - AZURE_APP_SERVICES_TASK_EXCEPTION
          - AZURE_ARM_TASK_EXCEPTION
          - AZURE_BP_TASK_EXCEPTION
          - MEDIA_NOT_SUPPORTED
          - AWS_ECS_ERROR
          - AWS_APPLICATION_AUTO_SCALING
          - AWS_ECS_SERVICE_NOT_ACTIVE
          - AWS_ECS_CLIENT_ERROR
          - AWS_STS_ERROR
          - FREEZE_EXCEPTION
          - MISSING_EXCEPTION
          - DELEGATE_TASK_EXPIRED
          - DELEGATE_TASK_VALIDATION_FAILED
          - MONGO_EXECUTION_TIMEOUT_EXCEPTION
          - DELEGATE_NOT_REGISTERED
          - TERRAFORM_VAULT_SECRET_CLEANUP_FAILURE
          - APPROVAL_REJECTION
          - TERRAGRUNT_EXECUTION_ERROR
          - ADFS_ERROR
          - TERRAFORM_CLOUD_ERROR
          - CLUSTER_CREDENTIALS_NOT_FOUND
          - SCM_API_ERROR
          - INTERNAL_SERVER_ERROR
          - SCM_FORBIDDEN
          - AWS_EKS_ERROR
          - OPA_POLICY_EVALUATION_ERROR
          - USER_MARKED_FAILURE
          - SSH_RETRY
          - HTTP_CLIENT_ERROR_RESPONSE
          - HTTP_INTERNAL_SERVER_ERROR
          - HTTP_BAD_GATEWAY
          - HTTP_SERVICE_UNAVAILABLE
          - HTTP_GATEWAY_TIMEOUT
          - HTTP_SERVER_ERROR_RESPONSE
          - PIPELINE_UPDATE_EXCEPTION
          - SERVICENOW_REFRESH_TOKEN_ERROR
          - PARAMETER_FIELD_CAST_ERROR
          - ABORT_ALL_ALREADY_NG
          - WEBHOOK_EXCEPTION
          - INVALID_OIDC_CONFIGURATION
          - INVALID_CREDENTIALS
          - INVALID_OR_PRIVATE_REPO
          - BARRIER_FAILED_ERROR
          - ELASTICSEARCH_NOT_AVAILABLE
          - OBJECT_STORE_NOT_AVAILABLE
          - NO_ELIGIBLE_RUNNERS
          - NO_AVAILABLE_RUNNERS
          - RUNNER_DISCONNECTED
          - EVENT_LISTENER_STEP_FAILURE
          - TRANSACTION_ABORTED
          - UNRESOLVED_EXPRESSIONS_WITH_CONTEXT_ERROR
        message:
          type: string
        correlationId:
          type: string
        detailedMessage:
          type: string
        responseMessages:
          type: array
          items:
            $ref: '#/components/schemas/ResponseMessage'
        metadata:
          $ref: '#/components/schemas/PipelineErrorMetadata'
      description: This is Error entity as defined in Harness
    FailureTypeInfo:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        failureType:
          type: string
          enum:
          - UNKNOWN_FAILURE
          - DELEGATE_PROVISIONING_FAILURE
          - CONNECTIVITY_FAILURE
          - AUTHENTICATION_FAILURE
          - VERIFICATION_FAILURE
          - APPLICATION_FAILURE
          - AUTHORIZATION_FAILURE
          - TIMEOUT_FAILURE
          - SKIPPING_FAILURE
          - POLICY_EVALUATION_FAILURE
          - INPUT_TIMEOUT_FAILURE
          - FREEZE_ACTIVE_FAILURE
          - APPROVAL_REJECTION
          - DELEGATE_RESTART
          - USER_MARKED_FAILURE
          - INFRASTRUCTURE_FAILURE
          - PLUGIN_IMAGE_FAILURE
          - RESOURCE_LIMITS_FAILURE
          - CONFIGURATION_FAILURE
          - RETRYABLE_TRANSIENT_FAILURE
          - UNRECOGNIZED
        failureSubType:
          type: string
          enum:
          - UNKNOWN_FAILURE_REASON
          - SOCKET_TIMEOUT
          - SSL_HANDSHAKE_EXCEPTION
          - IO_EXCEPTION
          - AUTHORIZATION
          - VALIDATION
          - CONNECTION_TIMEOUT
          - API_REQUEST_EXCEPTION
          - NO_ELIGIBLE_DELEGATE_AVAILABLE
          - NON_ACTIVE_DELEGATE
          - DELEGATE_DISCONNECTED
          - GENERAL_ERROR
          - INPUT_ERROR
          - INVALID_PARAMETERS
          - MISSING_CONFIGURATION
          - SECRET_RESOLUTION_ERROR
          - UNAUTHORIZED
          - FORBIDDEN_ERROR
          - DEPENDENCY_ISSUE
          - EXECUTION_FAILURE
          - INVALID_MANIFEST_CONFIGURATION
          - RESOURCE_NOT_FOUND
          - CERTIFICATE_ERROR
          - UNKNOWN_COMMAND_FLAG
          - HELM_EXISTING_RESOURCE_CONFLICT
          - HELM_RESOURCE_ALREADY_EXISTS
          - NO_DEPLOYED_HELM_RELEASES
          - HELM_INSTALL_FAILED
          - HELM_UPGRADE_FAILED
          - HELM_ROLLBACK_FAILED
          - HELM_FETCH_FAILED
          - HELM_REPO_ADD_FAILED
          - HELM_RENDER_CHART_FAILED
          - HELM_LIST_RELEASE_FAILED
          - HELM_RELEASE_HISTORY_FAILED
          - RUNNER_FAILED_TO_START
          - POD_SCHEDULING_FAILED
          - CONTAINER_OOM_KILLED
          - DISK_SPACE_EXHAUSTED
          - STEP_SETUP_TIMEOUT
          - FILE_SYSTEM_PERMISSION_ERROR
          - DNS_RESOLUTION_FAILED
          - CONNECTION_REFUSED
          - PROXY_MISCONFIGURED
          - GIT_FETCH_FAILED
          - REGISTRY_UNREACHABLE
          - DOCKER_IMAGE_PULL_FAILED
          - ENTRYPOINT_SCRIPT_FAILED
          - PLUGIN_STEP_TIMEOUT
          - PLUGIN_CONFIGURATION_INVALID
          - PLUGIN_CRASHED
          - UNSUPPORTED_PLATFORM_ARCH
          - SCRIPT_EXITED_NON_ZERO
          - SCRIPT_SYNTAX_ERROR
          - SCRIPT_RUNTIME_CRASH
          - UNIT_TESTS_FAILED
          - SECURITY_SCAN_FAILED
          - LINT_FORMAT_FAILED
          - DEPENDENCY_RESOLUTION_FAILED
          - INVALID_CREDENTIALS
          - ACCESS_FORBIDDEN
          - STEP_NOT_ALLOWED
          - REQUIRED_FIELD_MISSING
          - INVALID_YAML
          - EXPRESSION_EVALUATION_FAILED
          - INPUT_TYPE_MISMATCH
          - INVALID_RESOURCE_REFERENCE
          - CPU_EXCEEDED
          - MEMORY_EXCEEDED
          - ORG_PROJECT_QUOTA_EXCEEDED
          - STAGE_CONCURRENCY_EXCEEDED
          - RATE_LIMIT_HIT
          - INTERNAL_SERVER_ERROR
          - PIPELINE_EXECUTION_FAILED
          - EVENT_DISPATCH_FAILED
          - STEP_FAILED_TO_START
          - UNSUPPORTED_FEATURE
          - STEP_EXECUTION_TIMEOUT
          - STAGE_EXECUTION_TIMEOUT
          - APPROVAL_EXPIRED
          - ARTIFACT_FETCH_TIMEOUT
          - DELEGATE_TEMPORARILY_BUSY
          - INFRA_COMPONENT_RESTARTED
          - NETWORK_GLITCH
          - REGISTRY_RATE_LIMITED
          - POD_EVICTION
          - UNRECOGNIZED
        failureTypeValue:
          type: integer
          format: int32
        failureSubTypeValue:
          type: integer
          format: int32
        initialized:
          type: boolean
        defaultInstanceForType:
          $ref: '#/components/schemas/FailureTypeInfo'
        parserForType:
          $ref: '#/components/schemas/ParserFailureTypeInfo'
        serializedSize:
          type: integer
          format: int32
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    FileOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        javaStringCheckUtf8:
          type: boolean
        optimizeFor:
          type: string
          enum:
          - SPEED
          - CODE_SIZE
          - LITE_RUNTIME
        goPackage:
          type: string
        goPackageBytes:
          $ref: '#/components/schemas/ByteString'
        ccGenericServices:
          type: boolean
        javaGenericServices:
          type: boolean
        pyGenericServices:
          type: boolean
        deprecated:
          type: boolean
        ccEnableArenas:
          type: boolean
        objcClassPrefix:
          type: string
        objcClassPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        csharpNamespace:
          type: string
        csharpNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        swiftPrefix:
          type: string
        swiftPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        phpClassPrefix:
          type: string
        javaPackage:
          type: string
        javaPackageBytes:
          $ref: '#/components/schemas/ByteString'
        javaOuterClassname:
          type: string
        javaOuterClassnameBytes:
          $ref: '#/components/schemas/ByteString'
        javaMultipleFiles:
          type: boolean
        javaGenerateEqualsAndHash:
          type: boolean
        phpClassPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        phpNamespace:
          type: string
        phpNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        phpMetadataNamespace:
          type: string
        phpMetadataNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        rubyPackage:
          type: string
        rubyPackageBytes:
          $ref: '#/components/schemas/ByteString'
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    OneofDescriptor:
      type: object
      properties:
        index:
          type: integer
          format: int32
        proto:
          $ref: '#/components/schemas/OneofDescriptorProto'
        options:
          $ref: '#/components/schemas/OneofOptions'
        fullName:
          type: string
        file:
          $ref: '#/components/schemas/FileDescriptor'
        containingType:
          $ref: '#/components/schemas/CvDescriptor'
        fieldCount:
          type: integer
          format: int32
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptor'
        name:
          type: string
    TagHook:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        actionValue:
          type: integer
          format: int32
        repoOrBuilder:
          $ref: '#/components/schemas/RepositoryOrBuilder'
        senderOrBuilder:
          $ref: '#/components/schemas/UserOrBuilder'
        refOrBuilder:
          $ref: '#/components/schemas/ReferenceOrBuilder'
        ref:
          $ref: '#/components/schemas/Reference'
        initialized:
          type: boolean
        defaultInstanceForType:
          $ref: '#/components/schemas/TagHook'
        parserForType:
          $ref: '#/components/schemas/ParserTagHook'
        serializedSize:
          type: integer
          format: int32
        action:
          type: string
          enum:
          - UNKNOWN
          - CREATE
          - UPDATE
          - DELETE
          - OPEN
          - REOPEN
          - CLOSE
          - LABEL
          - UNLABEL
          - SYNC
          - MERGE
          - EDIT
          - PUBLISH
          - UNPUBLISH
          - PRERELEASE
          - RELEASE
          - REVIEWREADY
          - SUBMITTED
          - DISMISSED
          - CHECKS_REQUESTED
          - CHECKS_CANCELED
          - UNRECOGNIZED
        repo:
          $ref: '#/components/schemas/Repository'
        sender:
          $ref: '#/components/schemas/PipelineUser'
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    FeatureSet:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        initialized:
          type: boolean
        defaultInstanceForType:
          $ref: '#/components/schemas/FeatureSet'
        enumType:
          type: string
          enum:
          - ENUM_TYPE_UNKNOWN
          - OPEN
          - CLOSED
        jsonFormat:
          type: string
          enum:
          - JSON_FORMAT_UNKNOWN
          - ALLOW
          - LEGACY_BEST_EFFORT
        parserForType:
          $ref: '#/components/schemas/ParserFeatureSet'
        serializedSize:
          type: integer
          format: int32
        messageEncoding:
          type: string
          enum:
          - MESSAGE_ENCODING_UNKNOWN
          - LENGTH_PREFIXED
          - DELIMITED
        utf8Validation:
          type: string
          enum:
          - UTF8_VALIDATION_UNKNOWN
          - VERIFY
          - NONE
        fieldPresence:
          type: string
          enum:
          - FIELD_PRESENCE_UNKNOWN
          - EXPLICIT
          - IMPLICIT
          - LEGACY_REQUIRED
        repeatedFieldEncoding:
          type: string
          enum:
          - REPEATED_FIELD_ENCODING_UNKNOWN
          - PACKED
          - EXPANDED
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        allFieldsRaw:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    TriggerPayload:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        headersCount:
          type: integer
          format: int32
        buildDataCase:
          type: string
          enum:
          - ARTIFACTDATA
          - MANIFESTDATA
          - BUILDDATA_NOT_SET
        changedFilesCount:
          type: integer
          format: int32
        parsedPayloadOrBuilder:
          $ref: '#/components/schemas/ParsedPayloadOrBuilder'
        sourceTypeValue:
          type: integer
          format: int32
        artifactDataOrBuilder:
          $ref: '#/components/schemas/ArtifactDataOrBuilder'
        manifestDataOrBuilder:
          $ref: '#/components/schemas/ManifestDataOrBuilder'
        connectorRefBytes:
          $ref: '#/components/schemas/ByteString'
        imagePathBytes:
          $ref: '#/components/schemas/ByteString'
        type:
          type: string
          enum:
          - CUSTOM
          - GIT
          - SCHEDULED
          - WEBHOOK
          - ARTIFACT
          - MANIFEST
          - UNRECOGNIZED
        version:
          type: integer
          format: int64
        imagePath:
          type: string
        initialized:
          type: boolean
        headers:
          type: object
          additionalProperties:
            type: string
        defaultInstanceForType:
          $ref: '#/components/schemas/TriggerPayload'
        parserForType:
          $ref: '#/components/schemas/ParserTriggerPayload'
        serializedSize:
          type: integer
          format: int32
        connectorRef:
          type: string
        sourceType:
          type: string
          enum:
          - CUSTOM_REPO
          - GITHUB_REPO
          - GITLAB_REPO
          - BITBUCKET_REPO
          - AWS_CODECOMMIT_REPO
          - AZURE_REPO
          - HARNESS_REPO
          - UNRECOGNIZED
        parsedPayload:
          $ref: '#/components/schemas/ParsedPayload'
        changedFilesList:
          type: array
          properties:
            empty:
              type: boolean
          items:
            type: string
        headersMap:
          type: object
          additionalProperties:
            type: string
        artifactData:
          $ref: '#/components/schemas/ArtifactData'
        manifestData:
          $ref: '#/components/schemas/ManifestData'
        typeValue:
          type: integer
          format: int32
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ParserMergeQueueHook:
      type: object
    ParserExecutionTriggerInfo:
      type: object
    ParserRelease:
      type: object
    ParserFileOptions:
      type: object
    ExecutionPrincipalInfoOrBuilder:
      type: object
      properties:
        principal:
          type: string
        shouldValidateRbac:
          type: boolean
[...]
