openapi: 3.2.0
info:
  title: Harness Webhook API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Webhook
paths:
  /code/api/v1/repos/{repo_identifier}/webhooks:
    get:
      operationId: listRepoWebhooks
      parameters:
      - description: Account Identifier for the Entity.
        in: query
        name: accountIdentifier
        required: true
        schema:
          type: string
      - description: Organization Identifier for the Entity.
        in: query
        name: orgIdentifier
        required: false
        schema:
          type: string
      - description: Project Identifier for the Entity.
        in: query
        name: projectIdentifier
        required: false
        schema:
          type: string
      - description: The substring which is used to filter the webhooks by their identifier.
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The data by which the webhooks are sorted.
        in: query
        name: sort
        required: false
        schema:
          default: identifier
          enum:
          - id
          - uid
          - display_name
          - created
          - updated
          type: string
      - description: The order of the output.
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
      - description: The page to return.
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: The maximum number of results to return.
        in: query
        name: limit
        required: false
        schema:
          default: 30
          maximum: 100
          minimum: 1
          type: integer
      - in: path
        name: repo_identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OpenapiWebhookType'
                type: array
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      summary: List repo webhooks
      tags:
      - Webhook
    post:
      operationId: createRepoWebhook
      parameters:
      - description: Account Identifier for the Entity.
        in: query
        name: accountIdentifier
        required: true
        schema:
          type: string
      - description: Organization Identifier for the Entity.
        in: query
        name: orgIdentifier
        required: false
        schema:
          type: string
      - description: Project Identifier for the Entity.
        in: query
        name: projectIdentifier
        required: false
        schema:
          type: string
      - in: path
        name: repo_identifier
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenapiCreateRepoWebhookRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenapiWebhookType'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      summary: Create repo webhook
      tags:
      - Webhook
  /code/api/v1/repos/{repo_identifier}/webhooks/{webhook_identifier}:
    delete:
      operationId: deleteRepoWebhook
      parameters:
      - description: Account Identifier for the Entity.
        in: query
        name: accountIdentifier
        required: true
        schema:
          type: string
      - description: Organization Identifier for the Entity.
        in: query
        name: orgIdentifier
        required: false
        schema:
          type: string
      - description: Project Identifier for the Entity.
        in: query
        name: projectIdentifier
        required: false
        schema:
          type: string
      - in: path
        name: repo_identifier
        required: true
        schema:
          type: string
      - in: path
        name: webhook_identifier
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      summary: Delete repo webhook
      tags:
      - Webhook
    get:
      operationId: getRepoWebhook
      parameters:
      - description: Account Identifier for the Entity.
        in: query
        name: accountIdentifier
        required: true
        schema:
          type: string
      - description: Organization Identifier for the Entity.
        in: query
        name: orgIdentifier
        required: false
        schema:
          type: string
      - description: Project Identifier for the Entity.
        in: query
        name: projectIdentifier
        required: false
        schema:
          type: string
      - in: path
        name: repo_identifier
        required: true
        schema:
          type: string
      - in: path
        name: webhook_identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenapiWebhookType'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      summary: Get repo webhook
      tags:
      - Webhook
    patch:
      operationId: updateRepoWebhook
      parameters:
      - description: Account Identifier for the Entity.
        in: query
        name: accountIdentifier
        required: true
        schema:
          type: string
      - description: Organization Identifier for the Entity.
        in: query
        name: orgIdentifier
        required: false
        schema:
          type: string
      - description: Project Identifier for the Entity.
        in: query
        name: projectIdentifier
        required: false
        schema:
          type: string
      - in: path
        name: repo_identifier
        required: true
        schema:
          type: string
      - in: path
        name: webhook_identifier
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenapiUpdateRepoWebhookRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenapiWebhookType'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      summary: Update repo webhook
      tags:
      - Webhook
  /code/api/v1/repos/{repo_identifier}/webhooks/{webhook_identifier}/executions:
    get:
      operationId: listRepoWebhookExecutions
      parameters:
      - description: Account Identifier for the Entity.
        in: query
        name: accountIdentifier
        required: true
        schema:
          type: string
      - description: Organization Identifier for the Entity.
        in: query
        name: orgIdentifier
        required: false
        schema:
          type: string
      - description: Project Identifier for the Entity.
        in: query
        name: projectIdentifier
        required: false
        schema:
          type: string
      - description: The page to return.
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: The maximum number of results to return.
        in: query
        name: limit
        required: false
        schema:
          default: 30
          maximum: 100
          minimum: 1
          type: integer
      - in: path
        name: repo_identifier
        required: true
        schema:
          type: string
      - in: path
        name: webhook_identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TypesWebhookExecution'
                type: array
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      summary: List repo webhook executions
      tags:
      - Webhook
  /code/api/v1/repos/{repo_identifier}/webhooks/{webhook_identifier}/executions/{webhook_execution_id}:
    get:
      operationId: getRepoWebhookExecution
      parameters:
      - description: Account Identifier for the Entity.
        in: query
        name: accountIdentifier
        required: true
        schema:
          type: string
      - description: Organization Identifier for the Entity.
        in: query
        name: orgIdentifier
        required: false
        schema:
          type: string
      - description: Project Identifier for the Entity.
        in: query
        name: projectIdentifier
        required: false
        schema:
          type: string
      - description: The page to return.
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: The maximum number of results to return.
        in: query
        name: limit
        required: false
        schema:
          default: 30
          maximum: 100
          minimum: 1
          type: integer
      - in: path
        name: repo_identifier
        required: true
        schema:
          type: string
      - in: path
        name: webhook_identifier
        required: true
        schema:
          type: string
      - in: path
        name: webhook_execution_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypesWebhookExecution'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      summary: Get repo webhook execution
      tags:
      - Webhook
  /code/api/v1/repos/{repo_identifier}/webhooks/{webhook_identifier}/executions/{webhook_execution_id}/retrigger:
    post:
      operationId: retriggerRepoWebhookExecution
      parameters:
      - description: Account Identifier for the Entity.
        in: query
        name: accountIdentifier
        required: true
        schema:
          type: string
      - description: Organization Identifier for the Entity.
        in: query
        name: orgIdentifier
        required: false
        schema:
          type: string
      - description: Project Identifier for the Entity.
        in: query
        name: projectIdentifier
        required: false
        schema:
          type: string
      - in: path
        name: repo_identifier
        required: true
        schema:
          type: string
      - in: path
        name: webhook_identifier
        required: true
        schema:
          type: string
      - in: path
        name: webhook_execution_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypesWebhookExecution'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      summary: Retrigger repo webhook execution
      tags:
      - Webhook
  /code/api/v1/webhooks:
    get:
      operationId: listSpaceWebhooks
      parameters:
      - description: Account Identifier for the Entity.
        in: query
        name: accountIdentifier
        required: true
        schema:
          type: string
      - description: Organization Identifier for the Entity.
        in: query
        name: orgIdentifier
        required: false
        schema:
          type: string
      - description: Project Identifier for the Entity.
        in: query
        name: projectIdentifier
        required: false
        schema:
          type: string
      - description: The substring which is used to filter the webhooks by their identifier.
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The data by which the webhooks are sorted.
        in: query
        name: sort
        required: false
        schema:
          default: identifier
          enum:
          - id
          - uid
          - display_name
          - created
          - updated
          type: string
      - description: The order of the output.
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
      - description: The page to return.
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: The maximum number of results to return.
        in: query
        name: limit
        required: false
        schema:
          default: 30
          maximum: 100
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OpenapiWebhookType'
                type: array
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      summary: List acc, org or proj webhooks
      tags:
      - Webhook
    post:
      operationId: createSpaceWebhook
      parameters:
      - description: Account Identifier for the Entity.
        in: query
        name: accountIdentifier
        required: true
        schema:
          type: string
      - description: Organization Identifier for the Entity.
        in: query
        name: orgIdentifier
        required: false
        schema:
          type: string
      - description: Project Identifier for the Entity.
        in: query
        name: projectIdentifier
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TypesWebhookCreateInput'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenapiWebhookType'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      summary: Create acc, org or proj webhook
      tags:
      - Webhook
  /code/api/v1/webhooks/{webhook_identifier}:
    delete:
      operationId: deleteSpaceWebhook
      parameters:
      - description: Account Identifier for the Entity.
        in: query
        name: accountIdentifier
        required: true
        schema:
          type: string
      - description: Organization Identifier for the Entity.
        in: query
        name: orgIdentifier
        required: false
        schema:
          type: string
      - description: Project Identifier for the Entity.
        in: query
        name: projectIdentifier
        required: false
        schema:
          type: string
      - in: path
        name: webhook_identifier
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      summary: Delete acc, org or proj webhook
      tags:
      - Webhook
    get:
      operationId: getSpaceWebhook
      parameters:
      - description: Account Identifier for the Entity.
        in: query
        name: accountIdentifier
        required: true
        schema:
          type: string
      - description: Organization Identifier for the Entity.
        in: query
        name: orgIdentifier
        required: false
        schema:
          type: string
      - description: Project Identifier for the Entity.
        in: query
        name: projectIdentifier
        required: false
        schema:
          type: string
      - in: path
        name: webhook_identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenapiWebhookType'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      summary: Get acc, org or proj webhook
      tags:
      - Webhook
    patch:
      operationId: updateSpaceWebhook
      parameters:
      - description: Account Identifier for the Entity.
        in: query
        name: accountIdentifier
        required: true
        schema:
          type: string
      - description: Organization Identifier for the Entity.
        in: query
        name: orgIdentifier
        required: false
        schema:
          type: string
      - description: Project Identifier for the Entity.
        in: query
        name: projectIdentifier
        required: false
        schema:
          type: string
      - in: path
        name: webhook_identifier
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenapiUpdateSpaceWebhookRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenapiWebhookType'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      summary: Update acc, org or proj webhook
      tags:
      - Webhook
  /code/api/v1/webhooks/{webhook_identifier}/executions:
    get:
      operationId: listSpaceWebhookExecutions
      parameters:
      - description: Account Identifier for the Entity.
        in: query
        name: accountIdentifier
        required: true
        schema:
          type: string
      - description: Organization Identifier for the Entity.
        in: query
        name: orgIdentifier
        required: false
        schema:
          type: string
      - description: Project Identifier for the Entity.
        in: query
        name: projectIdentifier
        required: false
        schema:
          type: string
      - description: The page to return.
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: The maximum number of results to return.
        in: query
        name: limit
        required: false
        schema:
          default: 30
          maximum: 100
          minimum: 1
          type: integer
      - in: path
        name: webhook_identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TypesWebhookExecution'
                type: array
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      summary: List acc, org or proj webhook executions
      tags:
      - Webhook
  /code/api/v1/webhooks/{webhook_identifier}/executions/{webhook_execution_id}:
    get:
      operationId: getSpaceWebhookExecution
      parameters:
      - description: Account Identifier for the Entity.
        in: query
        name: accountIdentifier
        required: true
        schema:
          type: string
      - description: Organization Identifier for the Entity.
        in: query
        name: orgIdentifier
        required: false
        schema:
          type: string
      - description: Project Identifier for the Entity.
        in: query
        name: projectIdentifier
        required: false
        schema:
          type: string
      - description: The page to return.
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: The maximum number of results to return.
        in: query
        name: limit
        required: false
        schema:
          default: 30
          maximum: 100
          minimum: 1
          type: integer
      - in: path
        name: webhook_identifier
        required: true
        schema:
          type: string
      - in: path
        name: webhook_execution_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypesWebhookExecution'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      summary: Get acc, org or proj webhook execution
      tags:
      - Webhook
  /code/api/v1/webhooks/{webhook_identifier}/executions/{webhook_execution_id}/retrigger:
    post:
      operationId: retriggerSpaceWebhookExecution
      parameters:
      - description: Account Identifier for the Entity.
        in: query
        name: accountIdentifier
        required: true
        schema:
          type: string
      - description: Organization Identifier for the Entity.
        in: query
        name: orgIdentifier
        required: false
        schema:
          type: string
      - description: Project Identifier for the Entity.
        in: query
        name: projectIdentifier
        required: false
        schema:
          type: string
      - in: path
        name: webhook_identifier
        required: true
        schema:
          type: string
      - in: path
        name: webhook_execution_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypesWebhookExecution'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Forbidden
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsererrorError'
          description: Internal Server Error
      summary: Retrigger acc, org or proj webhook execution
      tags:
      - Webhook
components:
  schemas:
    EnumWebhookParent:
      enum:
      - registry
      - repo
      - space
      type: string
    TypesWebhookExecutionRequest:
      properties:
        body:
          type: string
        headers:
          type: string
        url:
          type: string
      type: object
    UsererrorError:
      properties:
        message:
          type: string
        values:
          additionalProperties: {}
          type: object
      type: object
    TypesWebhookExecution:
      properties:
        created:
          type: integer
        duration:
          type: integer
        error:
          type: string
        id:
          type: integer
        request:
          $ref: '#/components/schemas/TypesWebhookExecutionRequest'
        response:
          $ref: '#/components/schemas/TypesWebhookExecutionResponse'
        result:
          $ref: '#/components/schemas/EnumWebhookExecutionResult'
        retrigger_of:
          type:
          - integer
          - 'null'
        retriggerable:
          type: boolean
        trigger_type:
          $ref: '#/components/schemas/EnumWebhookTrigger'
        webhook_id:
          type: integer
      type: object
    OpenapiCreateRepoWebhookRequest:
      properties:
        description:
          type: string
        display_name:
          type: string
        enabled:
          type: boolean
        extra_headers:
          items:
            $ref: '#/components/schemas/TypesExtraHeader'
          type: array
        identifier:
          type: string
        insecure:
          type: boolean
        secret:
          type: string
        triggers:
          items:
            $ref: '#/components/schemas/EnumWebhookTrigger'
          type:
          - array
          - 'null'
        uid:
          deprecated: true
          type: string
        url:
          type: string
      type: object
    OpenapiWebhookType:
      properties:
        created:
          type: integer
        created_by:
          type: integer
        description:
          type: string
        display_name:
          type: string
        enabled:
          type: boolean
        extra_headers:
          items:
            $ref: '#/components/schemas/TypesExtraHeader'
          type: array
        has_secret:
          type: boolean
        id:
          type: integer
        identifier:
          type: string
        insecure:
          type: boolean
        latest_execution_result:
          $ref: '#/components/schemas/EnumWebhookExecutionResult'
        parent_id:
          type: integer
        parent_type:
          $ref: '#/components/schemas/EnumWebhookParent'
        scope:
          type: integer
        triggers:
          items:
            $ref: '#/components/schemas/EnumWebhookTrigger'
          type:
          - array
          - 'null'
        updated:
          type: integer
        url:
          type: string
        version:
          type: integer
      type: object
    EnumWebhookTrigger:
      enum:
      - artifact_created
      - artifact_deleted
      - branch_created
      - branch_deleted
      - branch_updated
      - merge_queue_checks_canceled
      - merge_queue_checks_requested
      - pullreq_branch_updated
      - pullreq_closed
      - pullreq_comment_created
      - pullreq_comment_status_updated
      - pullreq_comment_updated
      - pullreq_created
      - pullreq_label_assigned
      - pullreq_merged
      - pullreq_reopened
      - pullreq_review_submitted
      - pullreq_target_branch_changed
      - pullreq_updated
      - tag_created
      - tag_deleted
      - tag_updated
      type: string
    TypesExtraHeader:
      properties:
        key:
          type: string
        masked:
          type: boolean
        value:
          type: string
      type: object
    TypesWebhookCreateInput:
      properties:
        description:
          type: string
        display_name:
          type: string
        enabled:
          type: boolean
        extra_headers:
          items:
            $ref: '#/components/schemas/TypesExtraHeader'
          type: array
        identifier:
          type: string
        insecure:
          type: boolean
        secret:
          type: string
        triggers:
          items:
            $ref: '#/components/schemas/EnumWebhookTrigger'
          type:
          - array
          - 'null'
        uid:
          deprecated: true
          type: string
        url:
          type: string
      type: object
    TypesWebhookExecutionResponse:
      properties:
        body:
          type: string
        headers:
          type: string
        status:
          type: string
        status_code:
          type: integer
      type: object
    OpenapiUpdateSpaceWebhookRequest:
      properties:
        description:
          type:
          - string
          - 'null'
        display_name:
          type:
          - string
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        extra_headers:
          items:
            $ref: '#/components/schemas/TypesExtraHeader'
          type: array
        identifier:
          type:
          - string
          - 'null'
        insecure:
          type:
          - boolean
          - 'null'
        secret:
          type:
          - string
          - 'null'
        triggers:
          items:
            $ref: '#/components/schemas/EnumWebhookTrigger'
          type:
          - array
          - 'null'
        uid:
          deprecated: true
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
      type: object
    EnumWebhookExecutionResult:
      enum:
      - fatal_error
      - retriable_error
      - success
      type:
      - string
      - 'null'
    OpenapiUpdateRepoWebhookRequest:
      properties:
        description:
          type:
          - string
          - 'null'
        display_name:
          type:
          - string
          - 'null'
        enabled:
          type:
          - boolean
          - 'null'
        extra_headers:
          items:
            $ref: '#/components/schemas/TypesExtraHeader'
          type: array
        identifier:
          type:
          - string
          - 'null'
        insecure:
          type:
          - boolean
          - 'null'
        secret:
          type:
          - string
          - 'null'
        triggers:
          items:
            $ref: '#/components/schemas/EnumWebhookTrigger'
          type:
          - array
          - 'null'
        uid:
          deprecated: true
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
      type: object
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
