openapi: 3.2.0
info:
  title: Harness Orchestration Processes API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Orchestration Processes
  x-displayName: Orchestration Processes [Beta]
paths:
  /rmg/api/orchestration/process:
    post:
      summary: Create Orchestration Process
      tags:
      - Orchestration Processes
      operationId: post-orchestrationProcess
      description: Create a new orchestration process
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      requestBody:
        $ref: '#/components/requestBodies/CreateOrchestrationProcessRequest'
      responses:
        '200':
          $ref: '#/components/responses/CreateOrchestrationProcessResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: 7h3n1p5x2k9w
  /rmg/api/orchestration/process/summary:
    get:
      summary: Fetch List of Orchestration Processes
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      - $ref: '#/components/parameters/SearchTermParam'
      - $ref: '#/components/parameters/RmPage'
      - $ref: '#/components/parameters/Size'
      - $ref: '#/components/parameters/RmSort'
      responses:
        '200':
          $ref: '#/components/responses/OrchestrationProcessSummaryResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      tags:
      - Orchestration Processes
      operationId: get-orchestrationProcess-summary
      x-stoplight:
        id: vnpl6sumwnf8e
  /rmg/api/orchestration/process/{identifier}:
    get:
      summary: Get Orchestration Process
      tags:
      - Orchestration Processes
      operationId: get-orchestrationProcess
      description: Get orchestration process by identifier
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      - name: identifier
        in: path
        required: true
        schema:
          type: string
        description: Identifier of the orchestration process
      responses:
        '200':
          $ref: '#/components/responses/GetOrchestrationProcessResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
    put:
      summary: Update Orchestration Process
      tags:
      - Orchestration Processes
      operationId: put-orchestration-process
      description: Update an orchestration process with the provided YAML configuration
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
        description: The identifier of the orchestration process to update
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrchestrationProcessRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateOrchestrationProcessResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: put-orchestration-process
    delete:
      summary: Delete Orchestration Process
      tags:
      - Orchestration Processes
      operationId: delete-orchestration-process
      description: Delete an orchestration process by identifier
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
        description: The identifier of the orchestration process to delete
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      responses:
        '204':
          description: Orchestration process deleted successfully
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: delete-orchestration-process
  /rmg/api/orchestration/process/{identifier}/input:
    post:
      summary: Create Orchestration Process Input
      tags:
      - Orchestration Processes
      operationId: post-orchestrationProcessInput
      description: Create a new orchestration process input with the provided YAML configuration
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
        description: The identifier of the orchestration process
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      requestBody:
        $ref: '#/components/requestBodies/CreateOrchestrationProcessInputRequest'
      responses:
        '200':
          $ref: '#/components/responses/CreateOrchestrationProcessInputResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: post-orchestration-process-input
  /rmg/api/orchestration/process/{processIdentifier}/input/{identifier}:
    get:
      summary: Get Orchestration Process Input
      tags:
      - Orchestration Processes
      operationId: get-orchestration-process-input
      description: Get an orchestration process input by process identifier and input identifier
      parameters:
      - name: processIdentifier
        in: path
        required: true
        schema:
          type: string
        description: The identifier of the orchestration process
      - name: identifier
        in: path
        required: true
        schema:
          type: string
        description: The identifier of the orchestration process input
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      responses:
        '200':
          $ref: '#/components/responses/GetOrchestrationProcessInputResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: get-orchestration-process-input
    put:
      summary: Update Orchestration Process Input
      tags:
      - Orchestration Processes
      operationId: put-orchestration-process-input
      description: Update an orchestration process input with the provided YAML configuration
      parameters:
      - name: processIdentifier
        in: path
        required: true
        schema:
          type: string
        description: The identifier of the orchestration process
      - name: identifier
        in: path
        required: true
        schema:
          type: string
        description: The identifier of the orchestration process input to update
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrchestrationProcessInputRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateOrchestrationProcessInputResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: put-orchestration-process-input
    delete:
      summary: Delete Orchestration Process Input
      tags:
      - Orchestration Processes
      operationId: delete-orchestration-process-input
      description: Delete an orchestration process input by process identifier and input identifier
      parameters:
      - name: processIdentifier
        in: path
        required: true
        schema:
          type: string
        description: The identifier of the orchestration process
      - name: identifier
        in: path
        required: true
        schema:
          type: string
        description: The identifier of the orchestration process input to delete
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      responses:
        '204':
          description: Orchestration process input deleted successfully
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: delete-orchestration-process-input
  /rmg/api/orchestration/process/{processIdentifier}/input/summary:
    get:
      summary: Fetch List of Orchestration Process Inputs
      tags:
      - Orchestration Processes
      operationId: get-orchestration-process-input-summary
      description: Retrieve a paginated list of orchestration process inputs for a specific process
      parameters:
      - name: processIdentifier
        in: path
        required: true
        schema:
          type: string
        description: The identifier of the orchestration process
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      - $ref: '#/components/parameters/RmPage'
      - $ref: '#/components/parameters/Size'
      - $ref: '#/components/parameters/RmSort'
      - $ref: '#/components/parameters/SearchTermParam'
      responses:
        '200':
          $ref: '#/components/responses/OrchestrationProcessInputSummaryResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: get-orchestration-process-input-summary
  /rmg/api/orchestration/process/{identifier}/attachedReleaseGroups:
    post:
      summary: Fetch List of Attached Release Groups for Orchestration Process
      tags:
      - Orchestration Processes
      operationId: post-orchestrationProcess-attachedReleaseGroups
      description: Retrieve a paginated list of release groups attached to orchestration processes with optional filtering
      parameters:
      - $ref: '#/components/parameters/AccountParam'
      - $ref: '#/components/parameters/RmOrgParam'
      - $ref: '#/components/parameters/RmProjectParam'
      - $ref: '#/components/parameters/RmPage'
      - $ref: '#/components/parameters/Size'
      - $ref: '#/components/parameters/RmSort'
      - $ref: '#/components/parameters/SearchTermParam'
      - name: identifier
        in: path
        required: true
        schema:
          type: string
        description: The identifier of the orchestration process
      requestBody:
        $ref: '#/components/requestBodies/OrchestrationProcessAttachedReleaseGroupsRequest'
      responses:
        '200':
          $ref: '#/components/responses/OrchestrationProcessAttachedReleaseGroupsResponse'
        '400':
          $ref: '#/components/responses/RmErrorResponse'
        '403':
          $ref: '#/components/responses/RmErrorResponse'
        '404':
          $ref: '#/components/responses/RmErrorResponse'
        '500':
          $ref: '#/components/responses/RmErrorResponse'
      x-stoplight:
        id: 8mk5p7q2n9l4x
components:
  parameters:
    RmSort:
      name: sort
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
      description: 'Sort parameters as an array. Format: `[field_name, direction]` where direction is `asc` or `desc`.

        Supported fields: `start_ts`, `startTs`, `end_ts`, `endTs`, `last_updated_at`, `lastUpdatedAt`, `created_at`, `createdAt`, `name`, `identifier`, `status`, `type`.

        When used in query params, use format: `sort=field_name&sort=direction` (e.g., `sort=start_ts&sort=desc`).

        '
      examples:
        example1:
          value:
          - created_at,asc
        example2:
          value:
          - last_updated_at,desc
        example3:
          value:
          - start_ts,desc
        example4:
          value:
          - end_ts,asc
    RmOrgParam:
      name: orgIdentifier
      in: query
      required: false
      schema:
        type: string
      description: Organisation Identifier
    Size:
      name: size
      in: query
      required: false
      schema:
        type: integer
    RmProjectParam:
      name: projectIdentifier
      in: query
      required: false
      schema:
        type: string
      description: Project Identifier
    AccountParam:
      name: Harness-Account
      in: header
      required: true
      schema:
        type: string
      description: Account Identifier
    SearchTermParam:
      name: searchTerm
      in: query
      description: Optional search string to filter releases by name.
      required: false
      schema:
        type: string
    RmPage:
      name: page
      in: query
      required: false
      schema:
        type: integer
  requestBodies:
    OrchestrationProcessAttachedReleaseGroupsRequest:
      description: Request body for fetching attached release groups to orchestration processes
      required: false
      content:
        application/json:
          schema:
            type: object
            properties:
              filterOrgIdentifier:
                type: string
                description: Optional organization identifier to filter processes
              filterProjectIdentifier:
                type: string
                description: Optional project identifier to filter processes
    UpdateOrchestrationProcessInputRequest:
      description: Request to update an orchestration process input
      content:
        application/json:
          schema:
            type: object
            required:
            - yaml
            properties:
              yaml:
                type: string
                description: YAML configuration for the orchestration process input
    CreateOrchestrationProcessRequest:
      description: Request to create a new orchestration process
      content:
        application/json:
          schema:
            type: object
            required:
            - yaml
            properties:
              yaml:
                type: string
                description: YAML configuration for the orchestration process
    CreateOrchestrationProcessInputRequest:
      description: Request to create a new orchestration process input
      content:
        application/json:
          schema:
            type: object
            required:
            - yaml
            properties:
              yaml:
                type: string
                description: YAML configuration for the orchestration process input
    UpdateOrchestrationProcessRequest:
      content:
        application/json:
          schema:
            type: object
            required:
            - yaml
            properties:
              yaml:
                type: string
      description: Request body for updating an orchestration process
  responses:
    GetOrchestrationProcessResponse:
      description: Response for Get Orchestration Process API
      content:
        application/json:
          schema:
            type: object
            required:
            - yaml
            - identifier
            properties:
              yaml:
                type: string
                description: YAML representation of the orchestration process
              identifier:
                type: string
                description: Identifier of the orchestration process
    CreateOrchestrationProcessInputResponse:
      description: Response for successful orchestration process input creation
      content:
        application/json:
          schema:
            type: object
            required:
            - identifier
            - yaml
            properties:
              identifier:
                type: string
                description: Identifier of the orchestration process
              yaml:
                type: string
                description: YAML configuration of the process input
    CreateOrchestrationProcessResponse:
      description: Response for successful orchestration process creation
      content:
        application/json:
          schema:
            type: object
            required:
            - identifier
            - yaml
            properties:
              identifier:
                type: string
                description: Identifier of the created process
              yaml:
                type: string
                description: YAML configuration of the process
    OrchestrationProcessInputSummaryResponse:
      description: Paginated list of orchestration process inputs
      content:
        application/json:
          schema:
            type: object
            properties:
              content:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessInputSummaryDTO'
              pageable:
                $ref: '#/components/schemas/RmPageable'
              totalPages:
                type: integer
              last:
                type: boolean
              totalElements:
                type: integer
              size:
                type: integer
              number:
                type: integer
              sort:
                $ref: '#/components/schemas/PageableSort'
              numberOfElements:
                type: integer
              first:
                type: boolean
              empty:
                type: boolean
            required:
            - content
            - pageable
            - totalPages
            - last
            - totalElements
            - size
            - number
            - sort
            - numberOfElements
            - first
            - empty
    GetOrchestrationProcessInputResponse:
      description: Response for successful orchestration process input retrieval
      content:
        application/json:
          schema:
            type: object
            required:
            - identifier
            - yaml
            - processIdentifier
            properties:
              identifier:
                type: string
                description: Identifier of the orchestration process input
              yaml:
                type: string
                description: YAML configuration of the orchestration process input
              processIdentifier:
                type: string
                description: Identifier of the orchestration process
    OrchestrationProcessSummaryResponse:
      description: This wraps the list of all orchestration processes along with pagination
      content:
        application/json:
          schema:
            type: object
            properties:
              content:
                type: array
                items:
                  $ref: '#/components/schemas/OrchestrationProcessDTO'
              pageable:
                $ref: '#/components/schemas/RmPageable'
              totalPages:
                type: integer
              last:
                type: boolean
              totalElements:
                type: integer
              size:
                type: integer
              number:
                type: integer
              sort:
                $ref: '#/components/schemas/PageableSort'
              numberOfElements:
                type: integer
              first:
                type: boolean
              empty:
                type: boolean
            required:
            - content
            - pageable
            - totalPages
            - last
            - totalElements
            - size
            - number
            - sort
            - numberOfElements
            - first
            - empty
    UpdateOrchestrationProcessResponse:
      description: Response for successful orchestration process update
      content:
        application/json:
          schema:
            type: object
            required:
            - identifier
            - yaml
            properties:
              identifier:
                type: string
                description: Identifier of the updated orchestration process
              yaml:
                type: string
                description: YAML configuration of the updated orchestration process
    UpdateOrchestrationProcessInputResponse:
      description: Response for successful orchestration process input update
      content:
        application/json:
          schema:
            type: object
            required:
            - identifier
            - yaml
            - processIdentifier
            properties:
              identifier:
                type: string
                description: Identifier of the updated orchestration process input
              yaml:
                type: string
                description: YAML configuration of the updated orchestration process input
              processIdentifier:
                type: string
                description: Identifier of the orchestration process
    RmErrorResponse:
      description: Error Response body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RmError'
    OrchestrationProcessAttachedReleaseGroupsResponse:
      description: Paginated list of release groups attached to orchestration processes
      content:
        application/json:
          schema:
            type: object
            properties:
              content:
                type: array
                items:
                  $ref: '#/components/schemas/AttachedReleaseGroupDTO'
              pageable:
                $ref: '#/components/schemas/RmPageable'
              totalPages:
                type: integer
              last:
                type: boolean
              totalElements:
                type: integer
              size:
                type: integer
              number:
                type: integer
              sort:
                $ref: '#/components/schemas/PageableSort'
              numberOfElements:
                type: integer
              first:
                type: boolean
              empty:
                type: boolean
            required:
            - content
            - pageable
            - totalPages
            - last
            - totalElements
            - size
            - number
            - sort
            - numberOfElements
            - first
            - empty
  schemas:
    RmError:
      title: Error Response
      x-stoplight:
        id: d53gtsgvwyk44
      type: object
      description: Error Response
      required:
      - message
      properties:
        message:
          type: string
          x-stoplight:
            id: 5n8vetciod7k8
          description: error message detail
        code:
          type: string
          description: canonical error code name
          enum:
          - BAD_REQUEST
          - UNAUTHORIZED
          - FORBIDDEN
          - NOT_FOUND
          - INTERNAL_SERVER_ERROR
    AttachedReleaseGroupDTO:
      title: AttachedReleaseGroupDTO
      type: object
      required:
      - id
      - identifier
      - name
      - accountIdentifier
      properties:
        id:
          type: string
          description: Unique identifier of the release group
        identifier:
          type: string
          description: Release group identifier
        name:
          type: string
          description: Name of the release group
        projectIdentifier:
          type: string
          description: Project identifier of the release group
        orgIdentifier:
          type: string
          description: Organization identifier of the release group
        accountIdentifier:
          type: string
          description: Account identifier of the release group
      x-stoplight:
        id: attached-release-dto
    LastUpdatedByDTO:
      title: LastUpdatedByDTO
      type: object
      required:
      - identifier
      properties:
        name:
          type: string
        identifier:
          type: string
        email:
          type: string
      x-stoplight:
        id: q1hm7j6egaq6k
    ProcessInputSummaryDTO:
      title: ProcessInputSummaryDTO
      type: object
      required:
      - identifier
      - name
      - lastUpdatedAt
      - lastUpdatedBy
      - status
      properties:
        identifier:
          type: string
          description: Identifier of the process input
        name:
          type: string
          description: Name of the process input
        description:
          type: string
          description: Description of the process input
        status:
          type: string
          enum:
          - Incomplete
          - Configured
          description: Status of the process input
        lastUpdatedAt:
          type: integer
          format: int64
          description: Last updated timestamp in milliseconds
        lastUpdatedBy:
          $ref: '#/components/schemas/LastUpdatedByDTO'
      x-stoplight:
        id: process-input-summary-dto
    CreatedByDTO:
      type: object
      description: Details of the user who created the event
      required:
      - name
      - email
      properties:
        name:
          type: string
          description: Name of the user who created the event
        email:
          type: string
          description: Email of the user who created the event
        identifier:
          type: string
          description: Identifier of the user who created the event
      x-stoplight:
        id: created-by-dto
    PageableSort:
      type: object
      x-go-name: PageableSort
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
    OrchestrationProcessDTO:
      title: OrchestrationProcessDTO
      type: object
      required:
      - identifier
      - name
      - lastUpdatedAt
      - lastUpdatedBy
      - createdBy
      - createdAt
      - attachedReleaseGroupCount
      properties:
        identifier:
          type: string
        name:
          type: string
        description:
          type: string
        createdAt:
          type: integer
          format: int64
          description: Created timestamp in milliseconds
        lastUpdatedAt:
          type: integer
        lastUpdatedBy:
          $ref: '#/components/schemas/LastUpdatedByDTO'
        createdBy:
          $ref: '#/components/schemas/CreatedByDTO'
        attachedReleaseGroupCount:
          type: integer
          description: Number of releases attached to the process
      x-stoplight:
        id: q1hm7j6egaq7m
    RmPageable:
      type: object
      properties:
        pageNumber:
          type: integer
        pageSize:
          type: integer
        sort:
          $ref: '#/components/schemas/PageableSort'
        offset:
          type: integer
        paged:
          type: boolean
        unpaged:
          type: boolean
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
