openapi: 3.2.0
info:
  title: Harness Module Registry API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: module-registry
  description: The module-registry service is a private registry for Terraform/Opentofu modules
paths:
  /iacm/api/modules:
    get:
      tags:
      - module-registry
      summary: List modules
      description: List all modules from the module registry
      operationId: module-registry#list_modules-by-account
      parameters:
      - name: limit
        in: query
        description: Limit is the number of records to return for a page.
        allowEmptyValue: true
        schema:
          type: integer
          description: Limit is the number of records to return for a page.
          default: 30
          example: 30
          format: int64
          minimum: 1
          maximum: 1000
        example: 30
      - name: page
        in: query
        description: Page is the page number to return relative to the page 'limit'.
        allowEmptyValue: true
        schema:
          type: integer
          description: Page is the page number to return relative to the page 'limit'.
          default: 1
          example: 1
          format: int64
          minimum: 1
        example: 1
      - name: searchTerm
        in: query
        description: Filter results by partial name or provider match
        allowEmptyValue: true
        schema:
          type: string
          description: Filter results by partial name or provider match
          default: ''
          example: mymod
        example: mymod
      - name: sort
        in: query
        description: Sort order for results
        allowEmptyValue: true
        schema:
          type: string
          description: Sort order for results
          default: name,ASC
          example: updated,DESC
          enum:
          - name,ASC
          - name,DESC
          - updated,ASC
          - updated,DESC
        example: name,DESC
      - name: scope_org
        in: query
        description: org name
        allowEmptyValue: true
        schema:
          type: string
          description: org name
          example: Et ipsa.
        example: Atque quaerat.
      - name: scope_project
        in: query
        description: project name
        allowEmptyValue: true
        schema:
          type: string
          description: project name
          example: Et cum numquam expedita veritatis perspiciatis.
        example: Aspernatur sint atque.
      - name: provider
        in: query
        description: Filter modules to these providers (module_system values). Repeatable query param.
        allowEmptyValue: true
        schema:
          type: array
          items:
            type: string
            example: Natus sed quas doloremque.
          description: Filter modules to these providers (module_system values). Repeatable query param.
          example:
          - terraform
          - tofu
        example:
        - terraform
        - tofu
      - name: Harness-Account
        in: header
        description: account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: account name
          example: Consequatur exercitationem.
        example: Minus ipsam quaerat eaque est.
      responses:
        '200':
          description: OK response.
          headers:
            x-page-size:
              description: Current page size
              schema:
                type: integer
                description: Current page size
                example: 50
                format: int64
              example: 50
            x-total-items:
              description: Total items available
              schema:
                type: integer
                description: Total items available
                example: 1800
                format: int64
              example: 1800
            x-total-pages:
              description: Total pages available
              schema:
                type: integer
                description: Total pages available
                example: 36
                format: int64
              example: 36
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModuleResourceCollection'
              example:
              - account: abc123DEFghiJKL
                created: 2016138915894156800
                description: Provisions a VPC with public and private subnets.
                domain_prefix: Illo velit quibusdam velit iste repudiandae perferendis.
                git_tag_style: module-name-*
                id: aaaaaaaa-bbbb-cccc-eeee-ffffffffffff
                module_error: Aut incidunt maiores quam.
                name: my-vpc-module
                namespace: Aut et dolores.
                onboarding_pipeline: Module_Onboarding_Pipeline
                onboarding_pipeline_org: my_org
                onboarding_pipeline_project: my_project
                onboarding_pipeline_sync: true
                org: my_org
                project: my_project
                repository: my-terraform-modules
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: my_github_connector
                repository_path: ''
                repository_url: Et et doloribus ullam.
                scope_org: my_org
                scope_project: my_project
                storage_type: artifact
                synced: 8344366690986247000
                system: aws
                tags: Esse dolor eligendi reprehenderit.
                testing_enabled: false
                testing_metadata:
                  account: 6bi
                  org: 6w5
                  pipelines:
                  - Maxime eius vel in maxime et ad.
                  - Quia ipsum voluptas reprehenderit dolores ea mollitia.
                  - Nostrum dolore est sit ut.
                  - Accusamus beatae fuga consequatur officiis exercitationem.
                  project: 3xt
                  provider_connector: Tempora expedita hic omnis sapiente itaque qui.
                  provisioner_type: Et ipsum necessitatibus eos.
                  provisioner_version: Expedita est maxime ut explicabo.
                  release_pipeline: Quibusdam soluta dicta.
                updated: 2045512812616660500
                version_statuses:
                  Id tempore repudiandae.: Qui qui deserunt et aut.
                  Quasi quos neque vitae sunt enim quod.: Aut aut et eligendi explicabo repellendus harum.
                versions:
                - Aut illo omnis quibusdam.
                - Omnis eligendi unde.
                - Maiores omnis blanditiis explicabo voluptates totam.
                - A sunt vel.
              - account: abc123DEFghiJKL
                created: 2016138915894156800
                description: Provisions a VPC with public and private subnets.
                domain_prefix: Illo velit quibusdam velit iste repudiandae perferendis.
                git_tag_style: module-name-*
                id: aaaaaaaa-bbbb-cccc-eeee-ffffffffffff
                module_error: Aut incidunt maiores quam.
                name: my-vpc-module
                namespace: Aut et dolores.
                onboarding_pipeline: Module_Onboarding_Pipeline
                onboarding_pipeline_org: my_org
                onboarding_pipeline_project: my_project
                onboarding_pipeline_sync: true
                org: my_org
                project: my_project
                repository: my-terraform-modules
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: my_github_connector
                repository_path: ''
                repository_url: Et et doloribus ullam.
                scope_org: my_org
                scope_project: my_project
                storage_type: artifact
                synced: 8344366690986247000
                system: aws
                tags: Esse dolor eligendi reprehenderit.
                testing_enabled: false
                testing_metadata:
                  account: 6bi
                  org: 6w5
                  pipelines:
                  - Maxime eius vel in maxime et ad.
                  - Quia ipsum voluptas reprehenderit dolores ea mollitia.
                  - Nostrum dolore est sit ut.
                  - Accusamus beatae fuga consequatur officiis exercitationem.
                  project: 3xt
                  provider_connector: Tempora expedita hic omnis sapiente itaque qui.
                  provisioner_type: Et ipsum necessitatibus eos.
                  provisioner_version: Expedita est maxime ut explicabo.
                  release_pipeline: Quibusdam soluta dicta.
                updated: 2045512812616660500
                version_statuses:
                  Id tempore repudiandae.: Qui qui deserunt et aut.
                  Quasi quos neque vitae sunt enim quod.: Aut aut et eligendi explicabo repellendus harum.
                versions:
                - Aut illo omnis quibusdam.
                - Omnis eligendi unde.
                - Maiores omnis blanditiis explicabo voluptates totam.
                - A sunt vel.
              - account: abc123DEFghiJKL
                created: 2016138915894156800
                description: Provisions a VPC with public and private subnets.
                domain_prefix: Illo velit quibusdam velit iste repudiandae perferendis.
                git_tag_style: module-name-*
                id: aaaaaaaa-bbbb-cccc-eeee-ffffffffffff
                module_error: Aut incidunt maiores quam.
                name: my-vpc-module
                namespace: Aut et dolores.
                onboarding_pipeline: Module_Onboarding_Pipeline
                onboarding_pipeline_org: my_org
                onboarding_pipeline_project: my_project
                onboarding_pipeline_sync: true
                org: my_org
                project: my_project
                repository: my-terraform-modules
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: my_github_connector
                repository_path: ''
                repository_url: Et et doloribus ullam.
                scope_org: my_org
                scope_project: my_project
                storage_type: artifact
                synced: 8344366690986247000
                system: aws
                tags: Esse dolor eligendi reprehenderit.
                testing_enabled: false
                testing_metadata:
                  account: 6bi
                  org: 6w5
                  pipelines:
                  - Maxime eius vel in maxime et ad.
                  - Quia ipsum voluptas reprehenderit dolores ea mollitia.
                  - Nostrum dolore est sit ut.
                  - Accusamus beatae fuga consequatur officiis exercitationem.
                  project: 3xt
                  provider_connector: Tempora expedita hic omnis sapiente itaque qui.
                  provisioner_type: Et ipsum necessitatibus eos.
                  provisioner_version: Expedita est maxime ut explicabo.
                  release_pipeline: Quibusdam soluta dicta.
                updated: 2045512812616660500
                version_statuses:
                  Id tempore repudiandae.: Qui qui deserunt et aut.
                  Quasi quos neque vitae sunt enim quod.: Aut aut et eligendi explicabo repellendus harum.
                versions:
                - Aut illo omnis quibusdam.
                - Omnis eligendi unde.
                - Maiores omnis blanditiis explicabo voluptates totam.
                - A sunt vel.
              - account: abc123DEFghiJKL
                created: 2016138915894156800
                description: Provisions a VPC with public and private subnets.
                domain_prefix: Illo velit quibusdam velit iste repudiandae perferendis.
                git_tag_style: module-name-*
                id: aaaaaaaa-bbbb-cccc-eeee-ffffffffffff
                module_error: Aut incidunt maiores quam.
                name: my-vpc-module
                namespace: Aut et dolores.
                onboarding_pipeline: Module_Onboarding_Pipeline
                onboarding_pipeline_org: my_org
                onboarding_pipeline_project: my_project
                onboarding_pipeline_sync: true
                org: my_org
                project: my_project
                repository: my-terraform-modules
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: my_github_connector
                repository_path: ''
                repository_url: Et et doloribus ullam.
                scope_org: my_org
                scope_project: my_project
                storage_type: artifact
                synced: 8344366690986247000
                system: aws
                tags: Esse dolor eligendi reprehenderit.
                testing_enabled: false
                testing_metadata:
                  account: 6bi
                  org: 6w5
                  pipelines:
                  - Maxime eius vel in maxime et ad.
                  - Quia ipsum voluptas reprehenderit dolores ea mollitia.
                  - Nostrum dolore est sit ut.
                  - Accusamus beatae fuga consequatur officiis exercitationem.
                  project: 3xt
                  provider_connector: Tempora expedita hic omnis sapiente itaque qui.
                  provisioner_type: Et ipsum necessitatibus eos.
                  provisioner_version: Expedita est maxime ut explicabo.
                  release_pipeline: Quibusdam soluta dicta.
                updated: 2045512812616660500
                version_statuses:
                  Id tempore repudiandae.: Qui qui deserunt et aut.
                  Quasi quos neque vitae sunt enim quod.: Aut aut et eligendi explicabo repellendus harum.
                versions:
                - Aut illo omnis quibusdam.
                - Omnis eligendi unde.
                - Maiores omnis blanditiis explicabo voluptates totam.
                - A sunt vel.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    post:
      tags:
      - module-registry
      summary: Create module
      description: Create a new module in the module registry
      operationId: module-registry#create-module
      parameters:
      - name: scope_org
        in: query
        description: Organization identifier where the module is scoped.
        allowEmptyValue: true
        schema:
          type: string
          description: Organization identifier where the module is scoped.
          example: my_org
          maxLength: 1024
        example: my_org
      - name: scope_project
        in: query
        description: Project identifier where the module is scoped.
        allowEmptyValue: true
        schema:
          type: string
          description: Project identifier where the module is scoped.
          example: my_project
          maxLength: 1024
        example: my_project
      - name: Harness-Account
        in: header
        description: Harness account ID that owns the module.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness account ID that owns the module.
          example: abc123DEFghiJKL
          minLength: 1
          maxLength: 128
        example: abc123DEFghiJKL
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateModuleRequest'
            example:
              description: Provisions a VPC with public and private subnets.
              git_tag_style: module-name-*
              name: my-vpc-module
              onboarding_pipeline: Module_Onboarding_Pipeline
              onboarding_pipeline_org: my_org
              onboarding_pipeline_project: my_project
              onboarding_pipeline_sync: true
              org: my_org
              project: my_project
              repository: my-terraform-modules
              repository_branch: main
              repository_commit: abc10ed
              repository_connector: my_github_connector
              repository_path: ''
              storage_type: artifact
              system: aws
              tags: Officia officia velit voluptatem soluta quaerat.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModuleRegistryCreateModuleResponseBody'
              example:
                account: abc123DEFghiJKL
                created: 5459285281721391000
                description: Provisions a VPC with public and private subnets.
                id: aaaaaaaa-bbbb-cccc-eeee-ffffffffffff
                name: my-vpc-module
                org: my_org
                project: my_project
                repository: my-terraform-modules
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: my_github_connector
                repository_path: ''
                scope_org: my_org
                scope_project: my_project
                storage_type: git_reference
                system: aws
                tags: Eius sed assumenda illum sint beatae provident.
                updated: 5355892478085344000
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/modules/{id}:
    delete:
      tags:
      - module-registry
      summary: Delete module
      description: Delete a module from the module registry
      operationId: module-registry#delete-module
      parameters:
      - name: scope_org
        in: query
        description: org name
        allowEmptyValue: true
        schema:
          type: string
          description: org name
          example: Vel quibusdam consequatur id sit alias.
        example: Magni nemo non incidunt quia omnis vitae.
      - name: scope_project
        in: query
        description: project name
        allowEmptyValue: true
        schema:
          type: string
          description: project name
          example: Doloremque nostrum dolorum est ut in.
        example: Assumenda necessitatibus fugiat porro.
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: string
          description: id
          example: Quae molestiae officiis officiis sunt.
        example: Reprehenderit praesentium.
      - name: Harness-Account
        in: header
        description: account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: account name
          example: Modi ut soluta.
        example: Laboriosam molestias neque.
      responses:
        '204':
          description: No Content response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    get:
      tags:
      - module-registry
      summary: List module by id
      description: List a module from the module registry by ID
      operationId: module-registry#list-modules-by-id
      parameters:
      - name: scope_org
        in: query
        description: org name
        allowEmptyValue: true
        schema:
          type: string
          description: org name
          example: Voluptates magnam dolorem delectus velit.
        example: Repellendus porro officia quia doloribus est.
      - name: scope_project
        in: query
        description: project name
        allowEmptyValue: true
        schema:
          type: string
          description: project name
          example: Veritatis dolorem enim architecto iusto.
        example: Voluptatem quis molestiae voluptates rerum.
      - name: id
        in: path
        description: module id
        required: true
        schema:
          type: string
          description: module id
          example: Itaque atque ipsum.
        example: Dolores ratione distinctio.
      - name: Harness-Account
        in: header
        description: account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: account name
          example: Est eveniet doloremque consequatur sint placeat accusantium.
        example: Quia dolore.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModuleByIDResponse'
              example:
                account: abc123DEFghiJKL
                created: 7074782854274014000
                description: Provisions a VPC with public and private subnets.
                domain_prefix: Quia assumenda non quam.
                git_tag_style: module-name-*
                id: aaaaaaaa-bbbb-cccc-eeee-ffffffffffff
                module_error: Et inventore mollitia fugiat expedita tempore mollitia.
                name: my-vpc-module
                namespace: Alias ipsum sint consequuntur.
                onboarding_pipeline: Module_Onboarding_Pipeline
                onboarding_pipeline_org: my_org
                onboarding_pipeline_project: my_project
                onboarding_pipeline_sync: true
                onboarding_pipeline_wh: webhook_abc123
                org: my_org
                project: my_project
                repository: my-terraform-modules
                repository_branch: main
                repository_commit: abc10ed
                repository_connector: my_github_connector
                repository_path: ''
                repository_url: Et veniam consequatur totam.
                scope_org: my_org
                scope_project: my_project
                storage_type: git_reference
                synced: 3892658297188124700
                system: aws
                tags: Eligendi ut dicta voluptatem tempore.
                testing_enabled: false
                testing_metadata:
                  account: r
                  org: y
                  pipelines:
                  - Eos ex voluptas consequatur asperiores fugit.
                  - Molestiae dolorum rerum sed voluptatibus veniam fuga.
                  - Assumenda magni qui vel eaque repellendus ducimus.
                  project: h
                  provider_connector: Quod est illo tempore dolores.
                  provisioner_type: Pariatur velit quasi.
                  provisioner_version: Dolorum non labore tenetur impedit doloribus.
                  release_pipeline: Architecto odio iure eius.
                updated: 5254455737636099000
                version_statuses:
                  Aut quaerat asperiores.: Corrupti fuga explicabo.
                versions:
                - Voluptates aut sunt.
                - Quos voluptatem et doloribus minima laboriosam aperiam.
                - Quia et exercitationem alias sit velit mollitia.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    put:
      tags:
      - module-registry
      summary: Update module
      description: Update a module in the module registry
      operationId: module-registry#update-module
      parameters:
      - name: scope_org
        in: query
        description: Organization identifier where the module is scoped.
        allowEmptyValue: true
        schema:
          type: string
          description: Organization identifier where the module is scoped.
          example: my_org
          maxLength: 1024
        example: my_org
      - name: scope_project
        in: query
        description: Project identifier where the module is scoped.
        allowEmptyValue: true
        schema:
          type: string
          description: Project identifier where the module is scoped.
          example: my_project
          maxLength: 1024
        example: my_project
      - name: id
        in: path
        description: module id
        required: true
        schema:
          type: string
          description: module id
          example: aaaaaaaa-bbbb-cccc-eeee-ffffffffffff
        example: aaaaaaaa-bbbb-cccc-eeee-ffffffffffff
      - name: Harness-Account
        in: header
        description: Harness account ID that owns the module.
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Harness account ID that owns the module.
          example: abc123DEFghiJKL
          minLength: 1
          maxLength: 128
        example: abc123DEFghiJKL
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateModuleRequest'
            example:
              description: Provisions a VPC with public and private subnets.
              git_tag_style: module-name-*
              name: my-vpc-module
              onboarding_pipeline: Module_Onboarding_Pipeline
              onboarding_pipeline_org: my_org
              onboarding_pipeline_project: my_project
              onboarding_pipeline_sync: true
              org: my_org
              project: my_project
              repository: my-terraform-modules
              repository_branch: main
              repository_commit: abc10ed
              repository_connector: my_github_connector
              repository_path: ''
              storage_type: git_reference
              system: aws
              tags: Vero quod natus hic nesciunt est facere.
      responses:
        '200':
          description: OK response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/modules/{id}/lifecycle:
    delete:
      tags:
      - module-registry
      summary: Delete module lifecycle rule
      description: Delete the lifecycle rule and all overrides for a module; all versions revert to supported
      operationId: module-registry#delete-module-lifecycle
      parameters:
      - name: scope_org
        in: query
        description: Org scope of the module
        allowEmptyValue: true
        schema:
          type: string
          description: Org scope of the module
          example: Voluptatem non laborum.
        example: Nulla quisquam eum labore.
      - name: scope_project
        in: query
        description: Project scope of the module
        allowEmptyValue: true
        schema:
          type: string
          description: Project scope of the module
          example: Ut eveniet.
        example: Vel est ipsum perferendis natus quos.
      - name: id
        in: path
        description: Module ID
        required: true
        schema:
          type: string
          description: Module ID
          example: Alias autem vitae porro quae.
        example: Rem quia pariatur id voluptate occaecati ipsam.
      - name: Harness-Account
        in: header
        description: Account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account name
          example: Vero eaque iure itaque qui magni.
        example: Porro inventore.
      responses:
        '204':
          description: No Content response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    get:
      tags:
      - module-registry
      summary: Get module lifecycle rule
      description: Get the lifecycle rule for a module
      operationId: module-registry#get-module-lifecycle
      parameters:
      - name: scope_org
        in: query
        description: Org scope of the module
        allowEmptyValue: true
        schema:
          type: string
          description: Org scope of the module
          example: Nostrum ut enim voluptate.
        example: Odio sint officia et.
      - name: scope_project
        in: query
        description: Project scope of the module
        allowEmptyValue: true
        schema:
          type: string
          description: Project scope of the module
          example: Itaque velit quia.
        example: Repellendus magnam voluptatem aut voluptatibus.
      - name: id
        in: path
        description: Module ID
        required: true
        schema:
          type: string
          description: Module ID
          example: Quidem maxime.
        example: Consequatur consequatur sit quo.
      - name: Harness-Account
        in: header
        description: Account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account name
          example: Aliquam incidunt at.
        example: Aut iusto et voluptatem.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetModuleLifecycleResponse'
              example:
                deprecated_action: no_action
                overrides:
                - reason: r11
                  tier: warning
                  version: v2.1.0
                - reason: r11
                  tier: warning
                  version: v2.1.0
                - reason: r11
                  tier: warning
                  version: v2.1.0
                supported_action: warn
                supported_count: 3
                warning_action: warn
                warning_count: 2
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    put:
      tags:
      - module-registry
      summary: Upsert module lifecycle rule
      description: Create or replace the lifecycle rule for a module, atomically replacing all overrides
      operationId: module-registry#put-module-lifecycle
      parameters:
      - name: scope_org
        in: query
        description: Org scope of the module
        allowEmptyValue: true
        schema:
          type: string
          description: Org scope of the module
          example: Illo ullam nemo ea.
        example: Sint voluptas.
      - name: scope_project
        in: query
        description: Project scope of the module
        allowEmptyValue: true
        schema:
          type: string
          description: Project scope of the module
          example: Iure temporibus recusandae ea qui non.
        example: Vero autem est et eveniet ipsum quis.
      - name: id
        in: path
        description: Module ID
        required: true
        schema:
          type: string
          description: Module ID
          example: Cupiditate rerum ut.
        example: A dicta quo sit accusantium omnis.
      - name: Harness-Account
        in: header
        description: Account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account name
          example: Omnis sunt adipisci omnis.
        example: Est quae alias est est est non.
      requestBody:
        description: Lifecycle rule with overrides
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModuleLifecycleRule'
            example:
              deprecated_action: warn
              overrides:
              - reason: 7hw
                tier: deprecated
                version: v2.1.0
              - reason: 7hw
                tier: deprecated
                version: v2.1.0
              - reason: 7hw
                tier: deprecated
                version: v2.1.0
              supported_action: warn
              supported_count: 3
              warning_action: no_action
              warning_count: 2
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutModuleLifecycleResponse'
              example:
                deprecated_action: fail
                overrides:
                - reason: r11
                  tier: warning
                  version: v2.1.0
                - reason: r11
                  tier: warning
                  version: v2.1.0
                - reason: r11
                  tier: warning
                  version: v2.1.0
                supported_action: no_action
                supported_count: 3
                warning_action: fail
                warning_count: 2
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/modules/{id}/lifecycle/versions/{version}:
    get:
      tags:
      - module-registry
      summary: Get module version lifecycle status
      description: Compute the lifecycle tier and enforcement action for a specific module version
      operationId: module-registry#get-module-lifecycle-version-status
      parameters:
      - name: scope_org
        in: query
        description: Org scope of the module
        allowEmptyValue: true
        schema:
          type: string
          description: Org scope of the module
          example: Culpa debitis corporis tempore ducimus corporis.
        example: Doloremque delectus necessitatibus deleniti quasi.
      - name: scope_project
        in: query
        description: Project scope of the module
        allowEmptyValue: true
        schema:
          type: string
          description: Project scope of the module
          example: Iste illum amet.
        example: Cupiditate iure maiores voluptatem saepe.
      - name: id
        in: path
        description: Module ID
        required: true
        schema:
          type: string
          description: Module ID
          example: Sed labore tenetur non officiis dolor ut.
        example: Autem consequatur.
      - name: version
        in: path
        description: Version to look up
        required: true
        schema:
          type: string
          description: Version to look up
          example: Repudiandae est expedita.
        example: Quia facere nulla error quia dignissimos.
      - name: Harness-Account
        in: header
        description: Account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: Account name
          example: Inventore earum distinctio.
        example: Ut molestiae qui ipsam assumenda.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetModuleLifecycleVersionStatusResponse'
              example:
                action: no_action
                minimum_supported_version: Non error dolorem rerum.
                tier: warning
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/modules/{id}/pipeline:
    post:
      tags:
      - module-registry
      summary: Create testing pipeline
      description: Create a new testing pipeline for a given module
      operationId: module-registry#create-testing-pipelines
      parameters:
      - name: scope_org
        in: query
        description: org name
        allowEmptyValue: true
        schema:
          type: string
          description: org name
          example: Expedita tempora.
        example: Veniam aperiam praesentium et delectus nihil.
      - name: scope_project
        in: query
        description: project name
        allowEmptyValue: true
        schema:
          type: string
          description: project name
          example: Pariatur molestiae rerum.
        example: Qui quis voluptas aliquid aliquam aut ut.
      - name: id
        in: path
        description: module id
        required: true
        schema:
          type: string
          description: module id
          example: Error cum.
        example: Impedit aut porro.
      - name: Harness-Account
        in: header
        description: account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: account name
          example: Voluptas cum aut.
        example: Eum et id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTestingPipelineRequest'
            example:
              pipeline_org: Voluptatem earum possimus enim repellat.
              pipeline_project: Saepe aspernatur alias temporibus.
              type: Sed sed neque.
      responses:
        '201':
          description: Created response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/modules/{id}/sync:
    post:
      tags:
      - module-registry
      summary: Sync module metadata
      description: Sync the module metadata from the module registry
      operationId: module-registry#sync-module-metadata
      parameters:
      - name: scope_org
        in: query
        description: org name
        allowEmptyValue: true
        schema:
          type: string
          description: org name
          example: Quibusdam ipsum deleniti dolorum vel quia.
        example: Optio quia.
      - name: scope_project
        in: query
        description: project name
        allowEmptyValue: true
        schema:
          type: string
          description: project name
          example: Exercitationem velit dignissimos ullam.
        example: Voluptates quia.
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: string
          description: id
          example: Ut voluptas id ipsum quia minima.
        example: Repellat aut aut et vitae minima.
      - name: Harness-Account
        in: header
        description: account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: account name
          example: Quisquam voluptas possimus molestiae molestiae.
        example: Nesciunt qui qui nobis vel molestias.
      responses:
        '204':
          description: No Content response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/modules/{id}/tags:
    get:
      tags:
      - module-registry
      summary: List module tags
      description: List the module tags from the module registry
      operationId: module-registry#list-module-tags-by-id
      parameters:
      - name: scope_org
        in: query
        description: org name
        allowEmptyValue: true
        schema:
          type: string
          description: org name
          example: Sint ea praesentium.
        example: Necessitatibus illo.
      - name: scope_project
        in: query
        description: project name
        allowEmptyValue: true
        schema:
          type: string
          description: project name
          example: Debitis eius consequatur eligendi.
        example: Quo labore esse deserunt ea eum assumenda.
      - name: id
        in: path
        description: module id
        required: true
        schema:
          type: string
          description: module id
          example: Amet quas.
        example: Possimus eaque sit ut et aspernatur non.
      - name: Harness-Account
        in: header
        description: account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: account name
          example: Rerum tempore eius ut.
        example: Qui voluptas nobis laboriosam fugit aspernatur qui.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  example: Quam rerum.
                example:
                - Nam fugit ut facere saepe pariatur eveniet.
                - Possimus mollitia pariatur est.
                - Atque molestiae.
                - Vero quo voluptatum.
              example:
              - Ut et vel consequatur et quae.
              - Accusantium rem recusandae quas et laudantium ab.
              - Ex nihil esse quos occaecati.
              - Atque vitae dolores et est dolor.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/modules/{id}/testing:
    delete:
      tags:
      - module-registry
      summary: Disable testing
      description: Disable testing for a module
      operationId: module-registry#disable-testing
      parameters:
      - name: scope_org
        in: query
        description: org name
        allowEmptyValue: true
        schema:
          type: string
          description: org name
          example: Non consequatur nihil cumque reprehenderit optio amet.
        example: Nisi sit aut quod velit eum.
      - name: scope_project
        in: query
        description: project name
        allowEmptyValue: true
        schema:
          type: string
          description: project name
          example: Praesentium tempore omnis ipsum iste.
        example: Qui voluptatem enim recusandae.
      - name: id
        in: path
        description: module id
        required: true
        schema:
          type: integer
          description: module id
          example: 4150810973825628000
          format: int64
        example: 4849135301420935000
      - name: Harness-Account
        in: header
        description: account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: account name
          example: Sed distinctio.
        example: Dolore cum aliquid minus fugiat inventore.
      responses:
        '204':
          description: No Content response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    post:
      tags:
      - module-registry
      summary: Enable testing
      description: Enable testing for a module
      operationId: module-registry#enable-testing
      parameters:
      - name: scope_org
        in: query
        description: module org
        allowEmptyValue: true
        schema:
          type: string
          description: module org
          example: Eveniet in totam.
        example: Consequatur qui nostrum aliquam ratione hic.
      - name: scope_project
        in: query
        description: module project
        allowEmptyValue: true
        schema:
          type: string
          description: module project
          example: Id exercitationem ab facilis.
        example: Odit qui provident similique.
      - name: id
        in: path
        description: module id
        required: true
        schema:
          type: string
          description: module id
          example: Quia ipsum in enim ipsam praesentium est.
        example: Error sed illum animi.
      - name: Harness-Account
        in: header
        description: account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: account name
          example: Libero pariatur dolorum.
        example: Dolorum recusandae.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnableTestingRequest'
            example:
              pipeline_id:
              - Praesentium impedit.
              - Qui eligendi dolorem sunt.
              - Consequuntur ut.
              - Numquam in occaecati voluptatum numquam harum.
              pipeline_org: Iste sunt libero assumenda debitis eum debitis.
              pipeline_project: Aut sit.
              provider_connector: Quidem iure et inventore dolore aliquid nihil.
              provisioner_type: Ut quas.
              provisioner_version: Quasi eum quae.
              release_pipeline: Nostrum a ex enim.
      responses:
        '204':
          description: No Content response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
    put:
      tags:
      - module-registry
      summary: Update module testing
      description: Update module testing metadata
      operationId: module-registry#update-module-testing
      parameters:
      - name: scope_org
        in: query
        description: module org
        allowEmptyValue: true
        schema:
          type: string
          description: module org
          example: Est autem laudantium vel alias ipsam vel.
        example: Quidem officiis voluptatem.
      - name: scope_project
        in: query
        description: module project
        allowEmptyValue: true
        schema:
          type: string
          description: module project
          example: Occaecati non.
        example: Praesentium quod ut neque ab quod esse.
      - name: id
        in: path
        description: module id
        required: true
        schema:
          type: string
          description: module id
          example: Sit enim quo impedit in totam.
        example: Quibusdam officiis soluta a deleniti ipsum.
      - name: Harness-Account
        in: header
        description: account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: account name
          example: Tempora quaerat quia dicta minima illo.
        example: Aut aspernatur omnis rerum.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTestingRequest'
            example:
              pipeline_id:
              - Dolor mollitia et.
              - Necessitatibus omnis qui.
              - Voluptas aut nihil magni optio enim modi.
              - Praesentium et consectetur velit omnis est ducimus.
              pipeline_org: Molestiae qui ea sit eaque.
              pipeline_project: Alias blanditiis.
              provider_connector: Qui ipsa ex voluptatem et vel soluta.
              provisioner_type: Rerum enim repellendus quaerat aliquid doloribus quidem.
              provisioner_version: Ut similique impedit sint est deleniti et.
              release_pipeline: Ducimus quibusdam ut.
      responses:
        '200':
          description: OK response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/modules/{id}/versions/{version}:
    delete:
      tags:
      - module-registry
      summary: Delete module version
      description: Delete a specific version from a module in the module registry
      operationId: module-registry#delete-module-versions
      parameters:
      - name: scope_org
        in: query
        description: org name
        allowEmptyValue: true
        schema:
          type: string
          description: org name
          example: Omnis voluptatibus et explicabo et totam aut.
        example: Ut ut ut libero.
      - name: scope_project
        in: query
        description: project name
        allowEmptyValue: true
        schema:
          type: string
          description: project name
          example: Cupiditate culpa expedita quo iusto.
        example: Enim enim velit aspernatur id quibusdam quia.
      - name: id
        in: path
        description: module id
        required: true
        schema:
          type: string
          description: module id
          example: Et qui autem velit.
        example: Qui quo.
      - name: version
        in: path
        description: version to delete
        required: true
        schema:
          type: string
          description: version to delete
          example: Optio consequatur quo.
        example: Atque impedit.
      - name: Harness-Account
        in: header
        description: account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: account name
          example: Et nobis est ea illo eveniet eos.
        example: Atque autem minima quos ullam.
      responses:
        '204':
          description: No Content response.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/modules/{module_id}/examples/file:
    get:
      tags:
      - module-registry
      summary: Get module example file
      description: Download a single file from a module version's examples/ tree. The path must begin with "examples/" and identify a file (not a directory).
      operationId: module-registry#get-module-example-file
      parameters:
      - name: version
        in: query
        description: version of the module
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: version of the module
          example: Aut deleniti assumenda pariatur.
        example: Voluptatem tempora animi omnis magnam.
      - name: scope_org
        in: query
        description: org name
        allowEmptyValue: true
        schema:
          type: string
          description: org name
          example: Id dicta et molestias tempora accusamus placeat.
        example: Ea et ut quidem consectetur magni qui.
      - name: scope_project
        in: query
        description: project name
        allowEmptyValue: true
        schema:
          type: string
          description: project name
          example: Vitae laborum excepturi magnam ex.
        example: Voluptas cumque.
      - name: path
        in: query
        description: relative path under the module root; must begin with "examples/" and identify a file (e.g. "examples/iam-account/main.tf" or "examples/iam-account/modules/foo/main.tf")
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: relative path under the module root; must begin with "examples/" and identify a file (e.g. "examples/iam-account/main.tf" or "examples/iam-account/modules/foo/main.tf")
          example: z8
          pattern: ^[a-zA-Z0-9_-][a-zA-Z0-9._/-]*$
          minLength: 1
          maxLength: 1024
        example: k65
      - name: module_id
        in: path
        description: module id
        required: true
        schema:
          type: string
          description: module id
          example: Laboriosam adipisci aspernatur accusantium qui voluptatibus.
        example: Dolores reiciendis et iste numquam.
      - name: Harness-Account
        in: header
        description: account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: account name
          example: Qui quaerat pariatur numquam.
        example: Qui aut est eum totam.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                type: string
                format: binary
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/modules/{module_id}/examples/tree:
    get:
      tags:
      - module-registry
      summary: List module example tree
      description: List the immediate children (files and subdirectories) at the given path within a module version's examples/ tree. The path must be exactly "examples" (root listing) or begin with "examples/". Returns one level of entries, each tagged as a file or directory.
      operationId: module-registry#list-module-example-tree
      parameters:
      - name: version
        in: query
        description: version of the module
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: version of the module
          example: Veritatis aut adipisci vero.
        example: Iste exercitationem officiis.
      - name: scope_org
        in: query
        description: org name
        allowEmptyValue: true
        schema:
          type: string
          description: org name
          example: Consequuntur soluta neque laboriosam corporis.
        example: Est vitae.
      - name: scope_project
        in: query
        description: project name
        allowEmptyValue: true
        schema:
          type: string
          description: project name
          example: Beatae sequi deserunt ut tenetur minima.
        example: Sapiente veniam animi dolorem ab non.
      - name: path
        in: query
        description: relative path under the module root; must be "examples" or begin with "examples/"
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: relative path under the module root; must be "examples" or begin with "examples/"
          example: k05
          pattern: ^[a-zA-Z0-9_-][a-zA-Z0-9._/-]*$
          minLength: 1
          maxLength: 1024
        example: dqh
      - name: module_id
        in: path
        description: module id
        required: true
        schema:
          type: string
          description: module id
          example: Sequi labore veritatis ad.
        example: Omnis assumenda.
      - name: Harness-Account
        in: header
        description: account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: account name
          example: Est odio error eos.
        example: Ab cumque quia.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModuleExampleTreeResponse'
              example:
                items:
                - content_type: file
                  name: Possimus iure rerum ipsam consequatur.
                  path: Facere minus aut cupiditate.
                - content_type: file
                  name: Possimus iure rerum ipsam consequatur.
                  path: Facere minus aut cupiditate.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/modules/{module_id}/metadata:
    get:
      tags:
      - module-registry
      summary: List module metadata
      description: List the module metadata from the module registry
      operationId: module-registry#list-metadata-by-module
      parameters:
      - name: version
        in: query
        description: version of the module
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: version of the module
          example: Ab voluptas.
        example: Dolores quos.
      - name: submodule
        in: query
        description: submodule name
        allowEmptyValue: true
        schema:
          type: string
          description: submodule name
          example: Nemo suscipit.
        example: Sed excepturi maxime veniam.
      - name: scope_org
        in: query
        description: org name
        allowEmptyValue: true
        schema:
          type: string
          description: org name
          example: Sed dolorem eos ut perferendis.
        example: Voluptatum optio.
      - name: scope_project
        in: query
        description: project name
        allowEmptyValue: true
        schema:
          type: string
          description: project name
          example: Qui eum et aperiam eveniet.
        example: Voluptates repellat fugiat sed ut.
      - name: module_id
        in: path
        description: module id
        required: true
        schema:
          type: string
          description: module id
          example: Saepe libero.
        example: Sint maiores.
      - name: Harness-Account
        in: header
        description: account name
        allowEmptyValue: true
        required: true
        schema:
          type: string
          description: account name
          example: Et similique.
        example: Odit vitae dignissimos rem itaque nisi ut.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModuleMetadataResponse'
              example:
                account: Voluptas voluptatum veritatis repellendus eligendi quo qui.
                dependencies:
                - dependency_name: Deleniti hic sapiente dolor commodi nesciunt.
                  dependency_source: Et aut qui id.
                  dependency_version: Modi quo quis.
                - dependency_name: Deleniti hic sapiente dolor commodi nesciunt.
                  dependency_source: Et aut qui id.
                  dependency_version: Modi quo quis.
                examples_paths:
                - A consequatur voluptatem sequi repellat.
                - Soluta tempore non voluptatum.
                - Quia enim repellat.
                metadata_error: Repellendus aut nesciunt.
                module_version: Autem nam laborum facilis enim.
                name: Eaque vel ut recusandae nisi cupiditate.
                outputs:
                - output_description: Sint aliquam id sed.
                  output_name: Illum eligendi nesciunt labore aut magnam saepe.
                  output_sensitive: true
                - output_description: Sint aliquam id sed.
                  output_name: Illum eligendi nesciunt labore aut magnam saepe.
                  output_sensitive: true
                - output_description: Sint aliquam id sed.
                  output_name: Illum eligendi nesciunt labore aut magnam saepe.
                  output_sensitive: true
                - output_description: Sint aliquam id sed.
                  output_name: Illum eligendi nesciunt labore aut magnam saepe.
                  output_sensitive: true
                providers:
                - provider_name: Quisquam culpa.
                  provider_source: Aliquid autem quam consequatur.
                  provider_version: Reiciendis repellat consequatur.
                - provider_name: Quisquam culpa.
                  provider_source: Aliquid autem quam consequatur.
                  provider_version: Reiciendis repellat consequatur.
                - provider_name: Quisquam culpa.
                  provider_source: Aliquid autem quam consequatur.
                  provider_version: Reiciendis repellat consequatur.
                resources:
                - resource_name: Doloribus omnis eum.
                  resource_type: Id suscipit vel praesentium velit.
                - resource_name: Doloribus omnis eum.
                  resource_type: Id suscipit vel praesentium velit.
                scope_org: Est maiores beatae hic.
                scope_project: Corrupti ut voluptatem sit quod dolor.
                submodule:
                - Maiores at aliquid minus ut et sunt.
                - Reprehenderit sit.
                system: Atque et sequi et et explicabo.
                variables:
                - variable_default: Quae totam enim.
                  variable_description: Placeat corporis.
                  variable_name: Repellat voluptatum rerum pariatur nisi consequuntur.
                  variable_required: true
                  variable_sensitive: false
                  variable_type: Vitae minus.
                - variable_default: Quae totam enim.
                  variable_description: Placeat corporis.
                  variable_name: Repellat voluptatum rerum pariatur nisi consequuntur.
                  variable_required: true
                  variable_sensitive: false
                  variable_type: Vitae minus.
                - variable_default: Quae totam enim.
                  variable_description: Placeat corporis.
                  variable_name: Repellat voluptatum rerum pariatur nisi consequuntur.
                  variable_required: true
                  variable_sensitive: false
                  variable_type: Vitae minus.
        '400':
          description: 'BadRequestError: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '401':
          description: 'UnauthorizedError: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '403':
          description: 'ForbiddenError: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '404':
          description: 'NotFoundError: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '408':
          description: 'TimeoutError: Request Timeout response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '409':
          description: 'ConflictError: Conflict response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '423':
          description: 'LockedError: Locked response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '499':
          description: 'ContextCancelledError:  response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '500':
          description: 'InternalServerError: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
        '502':
          description: 'BadGatewayError: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/IaCMError'
  /iacm/api/modules/{module_id}/readme:
    get:
      tags:
      - module-registry
      summary: List module readme
      description: List the module readme from the module registry
[...]
