openapi: 3.2.0
info:
  title: Harness Integrations API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Integrations
  description: Integrations
  x-displayName: Integrations
paths:
  /v1/integrations/{integration}:
    get:
      summary: Get all integrations available
      tags:
      - Integrations
      responses:
        '200':
          $ref: '#/components/responses/IntegrationResponseList'
      operationId: get-integrations
      x-stoplight:
        id: sd1pqx1p9pu0o
      x-internal: false
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/Integration'
      - $ref: '#/components/parameters/AccountHeader5'
      - $ref: '#/components/parameters/Page1'
      - $ref: '#/components/parameters/Limit5'
      - $ref: '#/components/parameters/Sort6'
      - $ref: '#/components/parameters/SearchTerm5'
    post:
      summary: Create integration
      tags:
      - Integrations
      operationId: create-integration
      responses:
        '201':
          $ref: '#/components/responses/IntegrationResponse'
      x-stoplight:
        id: 7ky8v205wqtp4
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/Integration'
      - $ref: '#/components/parameters/AccountHeader5'
      - $ref: '#/components/parameters/DryRun'
      - $ref: '#/components/parameters/WriteValidation'
      requestBody:
        $ref: '#/components/requestBodies/IntegrationRequest'
      x-internal: false
    delete:
      summary: Delete integrations
      tags:
      - Integrations
      operationId: delete-integrations
      responses:
        '204':
          description: No Content
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/Integration'
      - $ref: '#/components/parameters/AccountHeader5'
      x-internal: true
  /v1/integrations/{integration}/{integration-id}:
    get:
      summary: Get integration details for given integrationId
      tags:
      - Integrations
      responses:
        '200':
          $ref: '#/components/responses/IntegrationResponse'
      operationId: get-integration
      x-internal: false
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      - $ref: '#/components/parameters/Integration'
      - $ref: '#/components/parameters/IntegrationIdentifier'
      x-stoplight:
        id: 7q983jg8e5lre
    put:
      summary: Update integration details for given integrationId
      tags:
      - Integrations
      operationId: update-integration
      responses:
        '200':
          $ref: '#/components/responses/IntegrationResponse'
      x-stoplight:
        id: zfrmn9vx8zk2x
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      - $ref: '#/components/parameters/Integration'
      - $ref: '#/components/parameters/IntegrationIdentifier'
      - $ref: '#/components/parameters/DryRun'
      requestBody:
        $ref: '#/components/requestBodies/IntegrationRequest'
      x-internal: false
  /v1/integrations/{integration-id}/discover/entities:
    get:
      summary: Get discovered entities for integration
      tags:
      - Integrations
      responses:
        '200':
          $ref: '#/components/responses/DiscoverEntitiesResponseList'
      operationId: discover-entities
      x-internal: false
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      - $ref: '#/components/parameters/IntegrationIdentifier'
      - $ref: '#/components/parameters/Page1'
      - $ref: '#/components/parameters/Limit5'
      - $ref: '#/components/parameters/Sort6'
      - $ref: '#/components/parameters/SearchTerm5'
    post:
      summary: Save discovered entities for integration
      tags:
      - Integrations
      operationId: save-discover-entities
      responses:
        '202':
          description: Save discovered entities for integration request accepted for processing
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      - $ref: '#/components/parameters/IntegrationIdentifier'
      requestBody:
        $ref: '#/components/requestBodies/SaveDiscoverEntitiesRequest'
      x-internal: false
  /v1/integrations/{integration-id}/entities/unlink:
    post:
      summary: Unlink entities for integration
      tags:
      - Integrations
      operationId: unlinkIntegrationEntities
      responses:
        '200':
          $ref: '#/components/responses/UnlinkIntegrationEntitiesResponse'
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/AccountHeader5'
      - $ref: '#/components/parameters/IntegrationIdentifier'
      requestBody:
        $ref: '#/components/requestBodies/UnlinkIntegrationEntitiesRequest'
      x-internal: false
components:
  parameters:
    IntegrationIdentifier:
      name: integration-id
      in: path
      description: Integration Identifier
      required: true
      schema:
        type: string
    Page1:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: null
      description: "Pagination page number strategy: Specify the page number within the paginated collection related to the number of items in each page\t"
    Limit5:
      name: limit
      in: query
      required: false
      schema:
        default: null
        type: integer
      description: 'Pagination: Number of items to return'
    WriteValidation:
      name: write_validation
      in: query
      required: false
      schema:
        type: boolean
        default: false
      description: This is used if we need to dry run write permission for integration
    AccountHeader5:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to.
    Sort6:
      name: sort
      in: query
      required: false
      schema:
        type: string
        default: null
      description: Parameter on the basis of which sorting is done.
    SearchTerm5:
      name: search_term
      in: query
      required: false
      schema:
        type: string
        default: null
      description: This would be used to filter resources having attributes matching the search term.
    Integration:
      name: integration
      in: path
      description: Integration
      required: true
      schema:
        type: string
        enum:
        - git
        - catalog
    DryRun:
      name: dry_run
      in: query
      required: false
      schema:
        type: boolean
        default: false
      description: This is used if we need to dry run for integration
  requestBodies:
    IntegrationRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AbstractIntegrationRequest'
          examples: {}
      description: Details of Integration Request
    UnlinkIntegrationEntitiesRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnlinkIntegrationEntitiesRequest'
          examples: {}
      description: Details of Unlink Integration Entities Request
    SaveDiscoverEntitiesRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SaveDiscoverEntitiesRequest'
          examples: {}
      description: Details of Save Discovered Entities Request
  schemas:
    DiscoverEntitiesResponse:
      title: DiscoverEntitiesResponse
      type: object
      required:
      - integration_entity_id
      - kind
      - scope
      - identifier
      - type
      - name
      - action
      - action_destination
      - discovered_at
      properties:
        integration_entity_id:
          type: string
        kind:
          type: string
        scope:
          type: string
        identifier:
          type: string
        type:
          type: string
        name:
          type: string
        action_destination:
          type: object
          properties:
            default_action:
              type: string
              enum:
              - REGISTER
              - MERGE
            register:
              type: object
              properties:
                name:
                  type: string
            merge:
              type: array
              items:
                type: object
                properties:
                  entity_ref:
                    type: string
                  name:
                    type: string
        discovered_at:
          type: integer
          format: int64
    AbstractIntegrationRequest:
      title: AbstractIntegrationRequest
      type: object
      description: Abstract for integration request
      properties:
        request:
          $ref: '#/components/schemas/BaseIntegrationRequest'
      required:
      - request
    UnlinkIntegrationEntitiesRequest:
      title: SaveDiscoverEntitiesRequest
      required:
      - entity_refs
      properties:
        entity_refs:
          type: array
          items:
            type: string
    BaseIntegrationResponse:
      title: BaseIntegrationResponse
      type: object
      description: Base integration response
      discriminator:
        propertyName: type
        mapping:
          git: '#/components/schemas/GitIntegrationResponse'
          catalog: '#/components/schemas/CatalogIntegrationResponse'
      properties:
        type:
          type: string
          enum:
          - git
          - catalog
    UnlinkIntegrationEntitiesResponse:
      title: UnlinkIntegrationEntitiesResponse
      type: object
      required:
      - success
      - failed
      properties:
        success:
          type: array
          items:
            type: object
            properties:
              entity_ref:
                type: string
              name:
                type: string
        failed:
          type: array
          items:
            type: object
            properties:
              entity_ref:
                type: string
              name:
                type: string
    AbstractIntegrationResponse:
      title: AbstractIntegrationResponse
      type: object
      properties:
        response:
          $ref: '#/components/schemas/BaseIntegrationResponse'
    BaseIntegrationRequest:
      title: BaseIntegrationRequest
      type: object
      description: Base integration request
      required:
      - type
      discriminator:
        propertyName: type
        mapping:
          git: '#/components/schemas/GitIntegrationRequest'
          catalog: '#/components/schemas/CatalogIntegrationRequest'
      properties:
        type:
          type: string
          enum:
          - git
          - catalog
    SaveDiscoverEntitiesRequest:
      title: SaveDiscoverEntitiesRequest
      required:
      - integration_entities
      properties:
        all:
          type: boolean
        integration_entities:
          type: array
          items:
            type: object
            properties:
              integration_entity_id:
                type: string
              action:
                type: string
                enum:
                - REGISTER
                - MERGE
              action_destination:
                type: string
        auto_discover:
          type: boolean
  responses:
    IntegrationResponse:
      description: Response for integration
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AbstractIntegrationResponse'
        application/yaml:
          schema:
            $ref: '#/components/schemas/AbstractIntegrationResponse'
    DiscoverEntitiesResponseList:
      description: Response for discovered entities
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/DiscoverEntitiesResponse'
        application/yaml:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/DiscoverEntitiesResponse'
      headers:
        X-Total-Elements:
          schema:
            type: integer
          description: Total number of elements returned in Paginated response.
        X-Page-Number:
          schema:
            type: integer
          description: Page number in Paginated response.
        X-Page-Size:
          schema:
            type: integer
          description: Maximum page size in Paginated response.
    IntegrationResponseList:
      description: Response for all integrations available
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AbstractIntegrationResponse'
        application/yaml:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AbstractIntegrationResponse'
      headers:
        X-Total-Elements:
          schema:
            type: integer
          description: Total number of elements returned in Paginated response.
        X-Page-Number:
          schema:
            type: integer
          description: Page number in Paginated response.
        X-Page-Size:
          schema:
            type: integer
          description: Maximum page size in Paginated response.
    UnlinkIntegrationEntitiesResponse:
      description: Response for unlink integration entities
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/UnlinkIntegrationEntitiesResponse'
        application/yaml:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/UnlinkIntegrationEntitiesResponse'
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
