openapi: 3.2.0
info:
  title: Harness Audits API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Audits
paths:
  /v1/audits:
    post:
      summary: List Audits
      operationId: post-audits
      responses:
        '200':
          $ref: '#/components/responses/AuditListResponse'
      description: Get list of Audits
      parameters:
      - $ref: '#/components/parameters/AccountHeader3'
      - $ref: '#/components/parameters/PageIndex'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Order'
      security:
      - x-api-key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditFilterPropertiesV1DTO'
        description: This has the filter attributes for listing Audit Events
      tags:
      - Audits
      x-internal: true
components:
  schemas:
    AuditFilterPropertiesV1DTO:
      title: AuditFilterPropertiesV1DTO
      x-stoplight:
        id: hrclq6ndh1ymg
      type: object
      description: Properties of the Filter entity defined in Harness.
      properties:
        filter_type:
          $ref: '#/components/schemas/FilterType'
        tags:
          type: object
          additionalProperties:
            type: string
          maxProperties: 128
          description: tags
        start_time:
          type: integer
          format: int64
          description: Used to specify a start time for retrieving Audit events that occurred at or after the time indicated.
        end_time:
          type: integer
          format: int64
          description: Used to specify the end time for retrieving Audit events that occurred at or before the time indicated.
        modules:
          type: array
          description: List of Module Types
          items:
            $ref: '#/components/schemas/ModuleType1'
        actions:
          type: array
          description: List of Actions
          items:
            $ref: '#/components/schemas/Action'
        resources:
          type: array
          description: List of Resources
          items:
            $ref: '#/components/schemas/ResourceDTO'
        scopes:
          type: array
          description: List of Resource Scopes
          items:
            $ref: '#/components/schemas/ResourceScopeDTO'
        principals:
          type: array
          items:
            $ref: '#/components/schemas/Principal1'
        static_filter:
          type: array
          items:
            $ref: '#/components/schemas/StaticAuditFilter'
        environments:
          type: array
          items:
            $ref: '#/components/schemas/Environment1'
    AuditEventDTO:
      title: AuditEventDTO
      x-stoplight:
        id: mxditpr8jr7lh
      type: object
      properties:
        audit_id:
          type: string
        insert_id:
          type: string
        resource_scope:
          $ref: '#/components/schemas/ResourceScopeDTO'
        timestamp:
          type: integer
        module:
          $ref: '#/components/schemas/ModuleType1'
        http_request_info:
          $ref: '#/components/schemas/HttpRequestInfo'
        request_metadata:
          $ref: '#/components/schemas/RequestMetadata'
        authentication_info:
          $ref: '#/components/schemas/AuthenticationInfoDTO'
        environment:
          $ref: '#/components/schemas/Environment1'
        resource:
          $ref: '#/components/schemas/ResourceDTO'
        yaml_diff_record:
          $ref: '#/components/schemas/YamlDiffRecordDTO'
        action:
          $ref: '#/components/schemas/Action'
        internal_info:
          type: object
          additionalProperties:
            type: string
    StaticAuditFilter:
      title: StaticAuditFilter
      x-stoplight:
        id: mdul5d1wgfhez
      type: string
      enum:
      - SYSTEM_EVENTS
      - LOGIN_EVENTS
      - ENTITY_CHANGE_EVENTS
      - RUNTIME_EVENTS
    RequestMetadata:
      title: RequestMetadata
      x-stoplight:
        id: ga39sbthmsnqw
      type: object
      properties:
        client_ip:
          type: string
    ResourceScopeDTO:
      title: ResourceScopeDTO
      x-stoplight:
        id: 4pz290lmuwtl3
      type: object
      description: This has scope details for the resource defined in Harness.
      properties:
        account_identifier:
          type: string
          description: Identifier of Account
        org_identifier:
          type: string
          description: Identifier of Organization
        project_identifier:
          type: string
          description: Identifier of Project
        labels:
          type: object
          additionalProperties:
            type: string
    EnvironmentType1:
      title: EnvironmentType
      x-stoplight:
        id: ihuiok9k1qcmz
      type: string
      enum:
      - PreProduction
      - Production
    ModuleType1:
      title: ModuleType
      x-stoplight:
        id: xjqf65bl7w788
      type: string
      description: Type of Modules
      enum:
      - CD
      - CI
      - CV
      - CF
      - CE
      - STO
      - CORE
      - PMS
      - TEMPLATESERVICE
      - GOVERNANCE
      - CHAOS
      - CET
      - IDP
    Principal1:
      title: Principal
      x-stoplight:
        id: tj7q0qb2zdnyw
      type: object
      properties:
        identifier:
          type: string
        type:
          $ref: '#/components/schemas/PrincipalType'
    FilterType:
      title: FilterType
      x-stoplight:
        id: nvm8xs2of7vf8
      type: string
      enum:
      - CONNECTOR
      - DELEGATEPROFILE
      - DELEGATE
      - PIPELINESETUP
      - PIPELINEEXECUTION
      - DEPLOYMENT
      - AUDIT
      - TEMPLATE
      - ENVIRONMENTGROUP
      - FILESTORE
      - CCMRECOMMENDATION
      - ANOMALY
      - ENVIRONMENT
      - RULEEXECUTION
    AuthenticationInfoDTO:
      title: AuthenticationInfoDTO
      x-stoplight:
        id: vbhi03cpej4ej
      type: object
      properties:
        principal:
          $ref: '#/components/schemas/Principal1'
        labels:
          type: string
    Environment1:
      title: Environment
      x-stoplight:
        id: jmpmivgkftb1v
      type: object
      properties:
        identifier:
          type: string
        type:
          $ref: '#/components/schemas/EnvironmentType1'
    Action:
      title: Action
      x-stoplight:
        id: bzquds8sspg1q
      type: string
      enum:
      - CREATE
      - UPDATE
      - RESTORE
      - DELETE
      - FORCE_DELETE
      - UPSERT
      - INVITE
      - RESEND_INVITE
      - REVOKE_INVITE
      - ADD_COLLABORATOR
      - REMOVE_COLLABORATOR
      - CREATE_TOKEN
      - REVOKE_TOKEN
      - LOGIN
      - LOGIN2FA
      - UNSUCCESSFUL_LOGIN
      - ERROR_BUDGET_RESET
    PrincipalType:
      title: PrincipalType
      x-stoplight:
        id: fxz45g9sxt8f2
      type: string
      enum:
      - USER
      - SYSTEM
      - API_KEY
      - SERVICE_ACCOUNT
    YamlDiffRecordDTO:
      title: YamlDiffRecordDTO
      x-stoplight:
        id: 9t10m54ew32zz
      type: object
      description: This has the YAML Difference of the record.
      properties:
        old_yaml:
          type: string
          description: Previous YAML version
        new_yaml:
          type: string
          description: Current YAML version
    ResourceDTO:
      title: ResourceDTO
      x-stoplight:
        id: 2r7wy11v8scql
      type: object
      description: This contains info about Resource saved as a part of Audit Event
      properties:
        type:
          type: string
        identifier:
          type: string
        labels:
          type: object
          additionalProperties:
            type: string
    HttpRequestInfo:
      title: HttpRequestInfo
      x-stoplight:
        id: xv4gl47om7rva
      type: object
      properties:
        request_method:
          type: string
  parameters:
    PageIndex:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: 'Pagination page number strategy: Specify the page number within the paginated collection related to the number of items on each page.'
    Order:
      name: order
      in: query
      required: false
      schema:
        type: string
        enum:
        - ASC
        - DESC
      description: Order on the basis of which sorting is done.
    Sort:
      name: sort
      in: query
      required: false
      schema:
        type: string
        enum:
        - identifier
        - name
        - created
        - updated
      description: Parameter on the basis of which sorting is done.
    AccountHeader3:
      name: Harness-Account
      in: header
      required: false
      schema:
        type: string
      description: Identifier field of the account the resource is scoped to.
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 30
        maximum: 100
      description: 'Pagination: Number of items to return.'
  responses:
    AuditListResponse:
      description: ''
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuditEventDTO'
      headers:
        X-Total-Elements:
          schema:
            type: integer
          description: Total number of elements returned in Paginated response.
        X-Page-Number:
          schema:
            type: integer
          description: Page number in Paginated response.
        X-Page-Size:
          schema:
            type: integer
          description: Maximum page size in Paginated response.
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
