openapi: 3.2.0
info:
  title: Harness Oidc Provider API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Oidc Provider
paths:
  /v1/oidc-provider:
    post:
      summary: Create OIDC provider
      tags:
      - Oidc Provider
      responses:
        '200':
          $ref: '#/components/responses/OidcProviderResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: create-oidc-provider
      x-stoplight:
        id: 8j9gyvedhvef1
      requestBody:
        $ref: '#/components/requestBodies/OidcProviderRequest'
      parameters:
      - schema:
          type: string
        in: header
        name: Harness-Account
        description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
    get:
      summary: Get OIDC providers
      tags:
      - Oidc Provider
      responses:
        '200':
          $ref: '#/components/responses/OidcProvidersResponse'
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: list-oidc-provider
      x-stoplight:
        id: z6j7sbsuajq8k
      parameters:
      - schema:
          type: string
        in: header
        name: Harness-Account
        description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
  /v1/oidc-provider/{providerIdentifier}:
    get:
      summary: GET OIDC provider
      tags:
      - Oidc Provider
      responses:
        '200':
          $ref: '#/components/responses/OidcProvidersResponse'
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-oidc-provider
      x-stoplight:
        id: cubdvrj4itv8p
      parameters:
      - $ref: '#/components/parameters/OidcProviderId'
      - schema:
          type: string
        in: header
        name: Harness-Account
        description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
      description: ''
    put:
      summary: Update OIDC provider
      tags:
      - Oidc Provider
      responses:
        '200':
          $ref: '#/components/responses/OidcProviderResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: update-oidc-provider
      x-stoplight:
        id: wq62jc99nwlly
      requestBody:
        $ref: '#/components/requestBodies/OidcProviderRequest'
      parameters:
      - $ref: '#/components/parameters/OidcProviderId'
      - schema:
          type: string
        in: header
        description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
        name: Harness-Account
    delete:
      summary: Delete OIDC provider
      tags:
      - Oidc Provider
      responses:
        '200':
          $ref: '#/components/responses/OidcProviderResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: delete-oidc-provider
      x-stoplight:
        id: 9omza80n0xdqu
      parameters:
      - $ref: '#/components/parameters/OidcProviderId'
      - schema:
          type: string
        in: header
        description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
        name: Harness-Account
  /v1/oidc-provider/{providerIdentifier}/decrypt:
    get:
      summary: GET OIDC provider with secret
      tags:
      - Oidc Provider
      responses:
        '200':
          $ref: '#/components/responses/OidcProvidersResponse'
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-oidc-provider-internal
      x-internal: true
      x-stoplight:
        id: cubdvrj4itv8p
      parameters:
      - $ref: '#/components/parameters/OidcProviderId'
      - schema:
          type: string
        in: header
        name: Harness-Account
        description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
      description: ''
components:
  requestBodies:
    OidcProviderRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OidcProviderDTO'
  responses:
    OidcProviderResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OidcProviderDTO'
    OidcProvidersResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/OidcProviderDTO'
  schemas:
    OidcAuthorizationConfigDTO:
      title: OidcAuthorizationConfigDTO
      x-stoplight:
        id: s28hwq548wp3e
      type: object
      properties:
        groupClaim:
          type: string
          x-stoplight:
            id: sskwxc1e7xlsd
        authorizationEnabled:
          type: boolean
          x-stoplight:
            id: xcm08wzh01dfz
    OidcJitConfigDTO:
      title: OidcJITConfigDTO
      x-stoplight:
        id: hqnlr9yhe6gv0
      type: object
      properties:
        enabled:
          type: boolean
          x-stoplight:
            id: ouiufzrdoe9ep
        claim_key:
          type: string
          x-stoplight:
            id: op7r7p3feip94
        claim_value:
          type: string
          x-stoplight:
            id: ojfdm29mn1p1o
    OidcProviderDTO:
      title: OidcProviderDTO
      x-stoplight:
        id: a5xmcfu1j1fju
      type: object
      description: Details about the OIDC provider
      properties:
        identifier:
          type: string
          x-stoplight:
            id: gsym6jqr1i73y
        name:
          type: string
          x-stoplight:
            id: f7z4d33clyz4k
        scope:
          type: array
          x-stoplight:
            id: mei65fkn9qrhh
          items:
            x-stoplight:
              id: dcxrlqmfym2a2
            type: string
        response_type:
          type: string
          x-stoplight:
            id: kxv7d8amk3txa
          enum:
          - code
        issuer:
          type: string
          x-stoplight:
            id: u95v85rmzlwq1
        discovery:
          type: boolean
          x-stoplight:
            id: 9ktoaz5mxqa2s
        uid_field:
          type: string
          x-stoplight:
            id: 9u85v2mrk9y1h
        send_scope_to_token_endpoint:
          type: boolean
          x-stoplight:
            id: 8v8u9e7dvyngp
        pkce:
          type: boolean
          x-stoplight:
            id: 1widmung9ibyp
        clientConfig:
          $ref: '#/components/schemas/OidcClientConfigDTO'
        jitConfig:
          $ref: '#/components/schemas/OidcJitConfigDTO'
        authorizationConfig:
          $ref: '#/components/schemas/OidcAuthorizationConfigDTO'
    OidcClientConfigDTO:
      title: OidcClientConfigDTO
      x-stoplight:
        id: 2kdbp946t6kg9
      type: object
      properties:
        identifier:
          type: string
          x-stoplight:
            id: 0in5oe66k7nvn
        secretRef:
          x-stoplight:
            id: eyxi8k6edrkfm
          type: string
        redirect_uri:
          type: string
          x-stoplight:
            id: 3bq833hvcnz1v
        authorization_endpoint:
          type: string
          x-stoplight:
            id: 5iklodf33c02u
        token_endpoint:
          type: string
          x-stoplight:
            id: 5xgvlfqxyp4le
        jwks_uri:
          type: string
          x-stoplight:
            id: p1xko0sc5hw9s
        userinfo_endpoint:
          type: string
          x-stoplight:
            id: q410k8i8p3vgq
  parameters:
    OidcProviderId:
      name: providerIdentifier
      in: path
      schema:
        type: string
      required: true
      description: ProviderId of the OIDC provider
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
