openapi: 3.2.0
info:
  title: Harness Pipeline Execution Details API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Pipeline Execution Details
  description: This contains APIs for fetching Pipeline Execution Details
paths:
  /pipeline/api/pipelines/execution/canRetry/{planExecutionId}:
    get:
      tags:
      - Pipeline Execution Details
      summary: Validate if Execution can be retried
      description: Validates if an execution can be retried for a Given PlanExecution ID
      operationId: canRetryExecution
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: planExecutionId
        in: path
        description: Plan Execution Id for which we want to check if it can be retried
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Return true if the provided execution can be retried
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
  /pipeline/api/pipelines/execution/{planExecutionId}/annotations/{contextId}/content:
    get:
      tags:
      - Pipeline Execution Details
      summary: Fetch Full Annotation Content
      description: Returns full annotation content for a specific context from GCS
      operationId: getAnnotationFullContent
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pipelineIdentifier
        in: query
        description: Pipeline Identifier
        required: true
        schema:
          type: string
      - name: planExecutionId
        in: path
        description: Plan Execution ID for the pipeline run
        required: true
        schema:
          type: string
      - name: contextId
        in: path
        description: Context ID for the annotation
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Returns full content for the specified annotation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOAnnotationContentResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOAnnotationContentResponse'
  /pipeline/api/pipelines/execution/{planExecutionId}:
    get:
      tags:
      - Pipeline Execution Details
      summary: Fetch Execution Details
      description: Returns the Pipeline Execution Details for a Given PlanExecution ID
      operationId: getExecutionDetail
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: stageNodeId
        in: query
        description: Stage Node Identifier for which Stage Graph needs to be Rendered
        schema:
          type: string
      - name: stageNodeExecutionId
        in: query
        description: Stage Node Execution ID for which Stage Graph needs to be Rendered. (Needed only when there are Multiple Runs for a Given Stage. It can be Extracted from LayoutNodeMap Field)
        schema:
          type: string
      - name: planExecutionId
        in: path
        description: Plan Execution Id for which we want to get the Execution details
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Return the Pipeline Execution details for given PlanExecution Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPipelineExecutionDetail'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPipelineExecutionDetail'
      deprecated: true
  /pipeline/api/pipelines/execution/v2/{planExecutionId}:
    get:
      tags:
      - Pipeline Execution Details
      summary: Fetch Execution Details
      description: Returns the Pipeline Execution Details for a Given PlanExecution ID
      operationId: getExecutionDetailV2
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: stageNodeId
        in: query
        description: Stage Node Identifier for which Stage Graph needs to be Rendered
        schema:
          type: string
      - name: stageNodeExecutionId
        in: query
        description: Stage Node Execution ID for which Stage Graph needs to be Rendered. (Needed only when there are Multiple Runs for a Given Stage. It can be Extracted from LayoutNodeMap Field)
        schema:
          type: string
      - name: childStageNodeId
        in: query
        description: Stage Node Execution ID for which Stage Graph needs to be Rendered. (Needed only when there are Multiple Runs for a Given Stage. It can be Extracted from LayoutNodeMap Field)
        schema:
          type: string
      - name: childStageNodeExecutionId
        in: query
        description: Stage Node Execution ID for which Stage Graph needs to be Rendered. (Needed only when there are Multiple Runs for a Given Stage. It can be Extracted from LayoutNodeMap Field)
        schema:
          type: string
      - name: renderFullBottomGraph
        in: query
        description: Generate Graph for all the Stages including Steps in each Stage
        schema:
          type: boolean
      - name: planExecutionId
        in: path
        description: Plan Execution Id for which we want to get the Execution details
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Return the Pipeline Execution details for given PlanExecution Id without full graph if stageNodeId is null
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPipelineExecutionDetail'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPipelineExecutionDetail'
  /pipeline/api/pipelines/execution/getExecutionGraph/{planExecutionId}:
    get:
      tags:
      - Pipeline Execution Details
      summary: Fetch Execution Graph
      description: Returns the Pipeline Execution Graph for a Given PlanExecution ID
      operationId: getExecutionGraph
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: planExecutionId
        in: path
        description: Plan Execution Id for which we want to get the Execution details
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Return the Pipeline Execution graph for given PlanExecution Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOExecutionGraph'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOExecutionGraph'
  /pipeline/api/pipelines/execution/subGraph/{planExecutionId}/{nodeExecutionId}:
    get:
      tags:
      - Pipeline Execution Details
      summary: Fetch Execution SubGraph for a Given Retried StepGroup NodeExecution ID
      description: Returns the Pipeline Execution SubGraph for a Given Retried StepGroup NodeExecution ID
      operationId: getExecutionSubGraphForNodeExecution
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: nodeExecutionId
        in: path
        description: Node Execution Id for which we want to get the Execution SubGraph
        required: true
        schema:
          type: string
      - name: planExecutionId
        in: path
        description: Plan Execution Id for which we want to get the Execution details
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Return Execution subGraph for a Given Retried StepGroup NodeExecution ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTONodeExecutionDetails'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTONodeExecutionDetails'
  /pipeline/api/pipelines/execution/url:
    post:
      tags:
      - Pipeline Execution Details
      summary: Fetch Execution Url
      description: Returns the Pipeline Execution Url for a Given PlanExecution ID
      operationId: getExecutionURL
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pipelineIdentifier
        in: query
        description: Pipeline Id for which we want to get the Execution url
        required: true
        schema:
          type: string
      - name: planExecutionId
        in: query
        description: Plan Execution Id for which we want to get the Execution url
        required: true
        schema:
          type: string
      - name: modules
        in: query
        description: Modules
        schema:
          type: array
          items:
            type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Return the Pipeline Execution url for given Pipeline and PlanExecution Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOString'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOString'
  /pipeline/api/pipelines/execution/{planExecutionId}/metadata:
    get:
      tags:
      - Pipeline Execution Details
      summary: Get execution metadata of a pipeline execution
      operationId: getExecutionData
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: planExecutionId
        in: path
        description: ExecutionId of the execution for which we want to get Metadata
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Returns metadata of a execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOExecutionDataResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOExecutionDataResponse'
  /pipeline/api/pipelines/execution/{planExecutionId}/inputsetV2:
    get:
      tags:
      - Pipeline Execution Details
      summary: Get the Input Set YAML used for given Plan Execution
      operationId: getInputsetYamlV2
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: resolveExpressions
        in: query
        description: 'A boolean that indicates whether or not expressions should be resolved in input set yaml '
        schema:
          type: boolean
          default: false
      - name: resolveExpressionsType
        in: query
        description: 'Resolve Expressions Type indicates what kind of expressions should be resolved in input set yaml. The default value is UNKNOWN in which case no expressions will be resolvedChoose a value from the enum list: [RESOLVE_ALL_EXPRESSIONS, RESOLVE_TRIGGER_EXPRESSIONS, UNKNOWN]'
        schema:
          type: string
          enum:
          - RESOLVE_ALL_EXPRESSIONS
          - RESOLVE_TRIGGER_EXPRESSIONS
          - UNKNOWN
          default: UNKNOWN
      - name: planExecutionId
        in: path
        description: Plan Execution Id for which we want to get the Input Set YAML
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Return the Input Set YAML used for given Plan Execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOInputSetTemplateResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOInputSetTemplateResponse'
  /pipeline/api/pipelines/execution/{planExecutionId}/policy-evaluation:
    get:
      tags:
      - Pipeline Execution Details
      summary: Gets the policy evaluated used for given Plan Execution
      operationId: getPpolicyEvaluation
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: 'Page Index of the results to fetch.Default Value: 0'
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        description: Results per page
        schema:
          type: integer
          format: int32
      - name: planExecutionId
        in: path
        description: Plan Execution Id for which we want to get the Input Set YAML
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Return policy evaluation details for given Plan Execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageGovernanceMetadata'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageGovernanceMetadata'
  /pipeline/api/pipelines/execution/executionSummary:
    post:
      tags:
      - Pipeline Execution Details
      summary: List Execution Identifier
      description: Returns a List of Pipeline Executions Identifier with Specific Filter
      operationId: getListOfExecutionIdentifier
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pipelineIdentifier
        in: query
        description: Pipeline Identifier filter if exact pipelines needs to be filtered.
        schema:
          type: string
      - name: page
        in: query
        description: 'Page Index of the results to fetch.Default Value: 0'
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        description: Results per page
        schema:
          type: integer
          format: int32
          default: 10
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      - name: filterIdentifier
        in: query
        schema:
          type: string
      requestBody:
        description: Returns a List of Pipeline Executions with Specific Filters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterProperties'
            examples:
              List:
                summary: Sample List Pipeline Executions
                description: Sample List Pipeline Executions JSON Payload
                value:
                  filterType: PipelineExecution
                  pipelineTags:
                  - key: tag1
                    value: value1
                  - key: tag2
                    value: value2
                  status:
                  - Success
                  - Failed
                  - Running
                  pipelineName: My Pipeline
                  timeRange:
                    timeRangeFilterType: LAST_30_DAYS
                  moduleProperties:
                    cd:
                      serviceIdentifiers:
                      - service1
                      - service2
                      envIdentifiers:
                      - dev
                      - prod
                      artifactDisplayNames:
                      - library/nginx:stable
                      - stable
                      serviceDefinitionTypes:
                      - Kubernetes
                      - NativeHelm
                      helmChartVersions:
                      - chartV1
                      - chartV2
                      gitOpsAppIdentifiers:
                      - app1
                      - app2
                    ci:
                      ciExecutionInfoDTO:
                        event: pullRequest
                        pullRequest:
                          sourceBranch: source-branch
                          targetBranch: target-branch
                  triggerTypes:
                  - MANUAL
                  - WEBHOOK
                  triggerIdentifiers:
                  - trigger1
                  - trigger2
                  pipelineIdentifiers:
                  - pipeline1
                  - pipeline2
                  myDeployments: true
                  branchName: main
                  repo: my-repo
                  inputSetIdentifiers:
                  - inputSet1
                  - inputSet2
                  planExecutionIds:
                  - exec1
                  - exec2
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Returns all the Executions Identifier of pipelines for given filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPagePipelineExecutionIdentifierSummary'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPagePipelineExecutionIdentifierSummary'
  /pipeline/api/pipelines/execution/summary:
    post:
      tags:
      - Pipeline Execution Details
      summary: List Executions
      description: Returns a List of Pipeline Executions with Specific Filter
      operationId: getListOfExecutions
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: searchTerm
        in: query
        description: Search term to filter out pipelines based on pipeline name, identifier, tags.
        schema:
          type: string
      - name: pipelineIdentifier
        in: query
        description: Pipeline Identifier filter if exact pipelines needs to be filtered.
        schema:
          type: string
      - name: page
        in: query
        description: 'Page Index of the results to fetch.Default Value: 0'
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        description: Results per page
        schema:
          type: integer
          format: int32
          default: 10
      - name: sort
        in: query
        description: Sort criteria for the elements.
        schema:
          type: array
          items:
            type: string
      - name: filterIdentifier
        in: query
        description: Identifier of a saved filter to apply. Cannot be used together with the request body filter properties. If both are provided, the saved filter takes precedence.
        schema:
          type: string
      - name: showAllExecutions
        in: query
        description: Whether to show all executions accessible to the user, not just those in the specified project. Defaults to false.
        schema:
          type: boolean
          default: false
      - name: module
        in: query
        description: 'Harness module which triggered the execution. Examples: CD, CI, CE, etc.'
        schema:
          type: string
      - name: status
        in: query
        description: 'Filter by execution status. Accepts multiple values. Valid values: Running, AsyncWaiting, TaskWaiting, TimedWaiting, Failed, Errored, IgnoreFailed, NotStarted, Expired, Aborted, Discontinuing, Queued, Paused, ResourceWaiting, InterventionWaiting, ApprovalWaiting, WaitStepRunning, QueuedLicenseLimitReached, QueuedExecutionConcurrencyReached, Success, Suspended, Skipped, Pausing, ApprovalRejected, InputWaiting, AbortedByFreeze, UploadWaiting, QueuedGlobalInfraCapacityReached, QUEUED_PLAN_CREATION'
        schema:
          type: array
          items:
            type: string
            description: 'Execution Status of the entity. Valid values (PascalCase): Running, AsyncWaiting, TaskWaiting, TimedWaiting, Failed, Errored, IgnoreFailed, NotStarted, Expired, Aborted, Discontinuing, Queued, Paused, ResourceWaiting, InterventionWaiting, ApprovalWaiting, WaitStepRunning, QueuedLicenseLimitReached, QueuedExecutionConcurrencyReached, Success, Suspended, Skipped, Pausing, ApprovalRejected, InputWaiting, AbortedByFreeze, UploadWaiting, QueuedGlobalInfraCapacityReached, QUEUED_PLAN_CREATION.'
            enum:
            - Running
            - AsyncWaiting
            - TaskWaiting
            - TimedWaiting
            - Failed
            - Errored
            - IgnoreFailed
            - NotStarted
            - Expired
            - Aborted
            - Discontinuing
            - Queued
            - Paused
            - ResourceWaiting
            - InterventionWaiting
            - ApprovalWaiting
            - WaitStepRunning
            - QueuedLicenseLimitReached
            - QueuedExecutionConcurrencyReached
            - Success
            - Suspended
            - Skipped
            - Pausing
            - ApprovalRejected
            - InputWaiting
            - AbortedByFreeze
            - UploadWaiting
            - QueuedGlobalInfraCapacityReached
            - QUEUED_PLAN_CREATION
            - NOT_STARTED
            - INTERVENTION_WAITING
            - APPROVAL_WAITING
            - APPROVAL_REJECTED
            - Waiting
            - Queued
            - Queued
            - Queued
      - name: myDeployments
        in: query
        description: Whether to filter executions triggered by the current user only
        schema:
          type: boolean
      - name: branch
        in: query
        description: Name of the branch.
        schema:
          type: string
      - name: repoIdentifier
        in: query
        description: Git Sync Config Id. [Applicable for Old Git Sync only]
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        description: if true, return all the default entities
        schema:
          type: boolean
      requestBody:
        description: Filter properties for listing pipeline executions. The `filterType` field is required and must be set to `PipelineExecution`. The `branchName` field in this body filters executions by the codebase/repository branch used during execution. This is different from the `branch` query parameter (from Git Experience) which filters by the Git branch where the pipeline YAML definition is stored. If both are provided, they filter independently.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineExecutionFilterProperties'
            examples:
              List:
                summary: Sample List Pipeline Executions
                description: Sample List Pipeline Executions JSON Payload
                value:
                  filterType: PipelineExecution
                  pipelineTags:
                  - key: tag1
                    value: value1
                  - key: tag2
                    value: value2
                  status:
                  - Success
                  - Failed
                  - Running
                  pipelineName: My Pipeline
                  timeRange:
                    timeRangeFilterType: LAST_30_DAYS
                  moduleProperties:
                    cd:
                      serviceIdentifiers:
                      - service1
                      - service2
                      envIdentifiers:
                      - dev
                      - prod
                      artifactDisplayNames:
                      - library/nginx:stable
                      - stable
                      serviceDefinitionTypes:
                      - Kubernetes
                      - NativeHelm
                      helmChartVersions:
                      - chartV1
                      - chartV2
                      gitOpsAppIdentifiers:
                      - app1
                      - app2
                    ci:
                      ciExecutionInfoDTO:
                        event: pullRequest
                        pullRequest:
                          sourceBranch: source-branch
                          targetBranch: target-branch
                  triggerTypes:
                  - MANUAL
                  - WEBHOOK
                  triggerIdentifiers:
                  - trigger1
                  - trigger2
                  pipelineIdentifiers:
                  - pipeline1
                  - pipeline2
                  myDeployments: true
                  branchName: main
                  repo: my-repo
                  inputSetIdentifiers:
                  - inputSet1
                  - inputSet2
                  planExecutionIds:
                  - exec1
                  - exec2
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Returns all the Executions of pipelines for given filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPagePipelineExecutionSummary'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPagePipelineExecutionSummary'
  /pipeline/api/pipelines/execution/summary/outline:
    post:
      tags:
      - Pipeline Execution Details
      summary: List Executions Outline
      description: Returns a List of Pipeline Executions Outline given pipelineId or a list of executionIds
      operationId: getListOfExecutionsOutline
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: lastSeenExecutionId
        in: query
        description: lastSeenExecutionId from previous response
        schema:
          type: string
      - name: lastSeenStartTime
        in: query
        description: lastSeenStartTime from previous response
        schema:
          type: integer
          format: int64
      - name: size
        in: query
        description: Results per page
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        description: Filters for fetching executions outline
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineExecutionOutlineFilterDTO'
            examples:
              List executions outline:
                summary: Sample List Pipeline Executions outline
                description: Sample List Pipeline Executions outline JSON Payload
                value:
                  timeRange:
                    startTime: '1702443600000'
                    endTime: '1718810039288'
                  pipelineIdentifier: test
                  status:
                  - Success
                  planExecutionIds:
                  - executionId1
                  - executionId2
                  - executionId3
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Returns all the Executions outline given pipelineId or a list of executionIds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOCustomPagePipelineExecutionOutline'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOCustomPagePipelineExecutionOutline'
  /pipeline/api/pipelines/execution/{planExecutionId}/notes:
    get:
      tags:
      - Pipeline Execution Details
      summary: Get Notes for a pipelineExecution
      operationId: getNotesForExecution
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: planExecutionId
        in: path
        description: ExecutionId of the execution for which we want to get notes
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Returns Notes of a pipelineExecution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPipelineExecutionNotes'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPipelineExecutionNotes'
    put:
      tags:
      - Pipeline Execution Details
      summary: Updates Notes for a pipelineExecution
      operationId: updateNotesForExecution
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: notesForPipelineExecution
        in: query
        description: Notes of a Pipeline Execution
        required: true
        schema:
          type: string
      - name: planExecutionId
        in: path
        description: ExecutionId of the execution for which we want to update notes
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Returns Notes of a pipelineExecution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPipelineExecutionNotes'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPipelineExecutionNotes'
  /pipeline/api/pipelines/execution/{planExecutionId}/annotations:
    get:
      tags:
      - Pipeline Execution Details
      summary: Fetch Pipeline Execution Annotations
      description: Returns annotations for a specific pipeline execution
      operationId: getPipelineExecutionAnnotations
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        description: Organization Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        description: Project Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: pipelineIdentifier
        in: query
        description: Pipeline Identifier
        required: true
        schema:
          type: string
      - name: planExecutionId
        in: path
        description: Plan Execution ID for the pipeline run
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Returns annotations for the specified pipeline execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPipelineAnnotationsResponseDTO'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPipelineAnnotationsResponseDTO'
  /pipeline/api/pipelines/execution/{planExecutionId}/workflow-graph:
    get:
      tags:
      - Pipeline Execution Details
      summary: Get workflow graph for visualization
      description: Returns the workflow graph for visualization
      operationId: getWorkflowGraph
      parameters:
      - name: accountIdentifier
        in: query
        description: Account Identifier for the Entity.
        required: true
        schema:
          type: string
      - name: nodeExecutionId
        in: query
        description: Node Execution Id from which to start graph traversal
        schema:
          type: string
      - name: depth
        in: query
        description: Maximum depth to traverse from the starting node
        schema:
          type: integer
          format: int32
          default: 10
      - name: planExecutionId
        in: path
        description: Plan Execution Id for which we want to get the workflow graph
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineError'
            application/yaml:
              schema:
                $ref: '#/components/schemas/PipelineError'
        default:
          description: Return the workflow graph for visualization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOWorkflowGraph'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOWorkflowGraph'
components:
  schemas:
    FeatureSupportOrBuilder:
      type: object
      properties:
        editionIntroduced:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        editionDeprecated:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        deprecationWarning:
          type: string
        deprecationWarningBytes:
          $ref: '#/components/schemas/ByteString'
        editionRemoved:
          type: string
          enum:
          - EDITION_UNKNOWN
          - EDITION_LEGACY
          - EDITION_PROTO2
          - EDITION_PROTO3
          - EDITION_2023
          - EDITION_2024
          - EDITION_1_TEST_ONLY
          - EDITION_2_TEST_ONLY
          - EDITION_99997_TEST_ONLY
          - EDITION_99998_TEST_ONLY
          - EDITION_99999_TEST_ONLY
          - EDITION_MAX
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ResponseDTOBoolean:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          type: boolean
        metaData:
          type: object
        correlationId:
          type: string
    ParserMessage:
      type: object
    DeclarationOrBuilder:
      type: object
      properties:
        reserved:
          type: boolean
        fullNameBytes:
          $ref: '#/components/schemas/ByteString'
        type:
          type: string
        number:
          type: integer
          format: int32
        fullName:
          type: string
        repeated:
          type: boolean
        typeBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ParserExpressionBlock:
      type: object
    FeatureSetOrBuilder:
      type: object
      properties:
        enumType:
          type: string
          enum:
          - ENUM_TYPE_UNKNOWN
          - OPEN
          - CLOSED
        jsonFormat:
          type: string
          enum:
          - JSON_FORMAT_UNKNOWN
          - ALLOW
          - LEGACY_BEST_EFFORT
        messageEncoding:
          type: string
          enum:
          - MESSAGE_ENCODING_UNKNOWN
          - LENGTH_PREFIXED
          - DELIMITED
        utf8Validation:
          type: string
          enum:
          - UTF8_VALIDATION_UNKNOWN
          - VERIFY
          - NONE
        fieldPresence:
          type: string
          enum:
          - FIELD_PRESENCE_UNKNOWN
          - EXPLICIT
          - IMPLICIT
          - LEGACY_REQUIRED
        repeatedFieldEncoding:
          type: string
          enum:
          - REPEATED_FIELD_ENCODING_UNKNOWN
          - PACKED
          - EXPANDED
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    TriggerIssuer:
      required:
      - abortPrevConcurrentExecution
      - triggerRef
      type: object
      properties:
        triggerRef:
          type: string
        abortPrevConcurrentExecution:
          type: boolean
    ParserFeatureSupport:
      type: object
    ServiceOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    EnumReservedRangeOrBuilder:
      type: object
      properties:
        start:
          type: integer
          format: int32
        end:
          type: integer
          format: int32
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ParserUnitProgress:
      type: object
    ParserChildrenExecutableResponse:
      type: object
    SkipTaskExecutableResponseOrBuilder:
      type: object
      properties:
        message:
          type: string
        messageBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        initialized:
          type: boolean
    ParserEnumValueOptions:
      type: object
    ParserFieldDescriptorProto:
      type: object
    FilterWithOperatorNGTag:
      required:
      - itemsList
      - operator
      type: object
      properties:
        itemsList:
          type: array
          description: List of items to filter by
          items:
            $ref: '#/components/schemas/NGTag'
        operator:
          type: string
          description: 'Operator to use between items: AND or OR'
          enum:
          - AND
          - OR
          - AND
          - OR
      description: Generic filter with a list of items and an operator to combine them (AND or OR).
    CIPullRequestDTO:
      type: object
      properties:
        sourceBranch:
          type: string
        targetBranch:
          type: string
    FieldOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        editionDefaultsOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EditionDefaultOrBuilder'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        packed:
          type: boolean
        jstype:
          type: string
          enum:
          - JS_NORMAL
          - JS_STRING
          - JS_NUMBER
        lazy:
          type: boolean
        unverifiedLazy:
          type: boolean
        weak:
          type: boolean
        debugRedact:
          type: boolean
        retention:
          type: string
          enum:
          - RETENTION_UNKNOWN
          - RETENTION_RUNTIME
          - RETENTION_SOURCE
        targetsList:
          type: array
          items:
            type: string
            enum:
            - TARGET_TYPE_UNKNOWN
            - TARGET_TYPE_FILE
            - TARGET_TYPE_EXTENSION_RANGE
            - TARGET_TYPE_MESSAGE
            - TARGET_TYPE_FIELD
            - TARGET_TYPE_ONEOF
            - TARGET_TYPE_ENUM
            - TARGET_TYPE_ENUM_ENTRY
            - TARGET_TYPE_SERVICE
            - TARGET_TYPE_METHOD
        targetsCount:
          type: integer
          format: int32
        editionDefaultsList:
          type: array
          items:
            $ref: '#/components/schemas/EditionDefault'
        editionDefaultsCount:
          type: integer
          format: int32
        featureSupport:
          $ref: '#/components/schemas/FeatureSupport'
        featureSupportOrBuilder:
          $ref: '#/components/schemas/FeatureSupportOrBuilder'
        ctype:
          type: string
          enum:
          - STRING
          - CORD
          - STRING_PIECE
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    ResponseDTOString:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          type: string
        metaData:
          type: object
        correlationId:
          type: string
    ParserRerunInfo:
      type: object
    GraphLayoutNode:
      type: object
      properties:
        nodeType:
          type: string
        nodeGroup:
          type: string
        nodeIdentifier:
          type: string
        name:
          type: string
        nodeUuid:
          type: string
        status:
          type: string
          description: 'Execution Status of the entity. Valid values (PascalCase): Running, AsyncWaiting, TaskWaiting, TimedWaiting, Failed, Errored, IgnoreFailed, NotStarted, Expired, Aborted, Discontinuing, Queued, Paused, ResourceWaiting, InterventionWaiting, ApprovalWaiting, WaitStepRunning, QueuedLicenseLimitReached, QueuedExecutionConcurrencyReached, Success, Suspended, Skipped, Pausing, ApprovalRejected, InputWaiting, AbortedByFreeze, UploadWaiting, QueuedGlobalInfraCapacityReached, QUEUED_PLAN_CREATION.'
          enum:
          - Running
          - AsyncWaiting
          - TaskWaiting
          - TimedWaiting
          - Failed
          - Errored
          - IgnoreFailed
          - NotStarted
          - Expired
          - Aborted
          - Discontinuing
          - Queued
          - Paused
          - ResourceWaiting
          - InterventionWaiting
          - ApprovalWaiting
          - WaitStepRunning
          - QueuedLicenseLimitReached
          - QueuedExecutionConcurrencyReached
          - Success
          - Suspended
          - Skipped
          - Pausing
          - ApprovalRejected
          - InputWaiting
          - AbortedByFreeze
          - UploadWaiting
          - QueuedGlobalInfraCapacityReached
          - QUEUED_PLAN_CREATION
          - NOT_STARTED
          - INTERVENTION_WAITING
          - APPROVAL_WAITING
          - APPROVAL_REJECTED
          - Waiting
          - Queued
          - Queued
          - Queued
        module:
          type: string
        moduleInfo:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: object
        createdAt:
          type: integer
          format: int64
        startTs:
          type: integer
          format: int64
        endTs:
          type: integer
          format: int64
        edgeLayoutList:
          $ref: '#/components/schemas/EdgeLayoutList'
        skipInfo:
          $ref: '#/components/schemas/SkipInfo'
        nodeRunInfo:
          $ref: '#/components/schemas/NodeRunInfo'
        barrierFound:
          type: boolean
        failureInfo:
          $ref: '#/components/schemas/ExecutionErrorInfo'
        failureInfoDTO:
          $ref: '#/components/schemas/FailureInfoDTO'
        stepDetails:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/PmsStepDetails'
        hidden:
          type: boolean
        nodeExecutionId:
          type: string
        strategyMetadata:
          $ref: '#/components/schemas/StrategyMetadata'
        executionInputConfigured:
          type: boolean
        isRollbackStageNode:
          type: boolean
        isManualExecution:
          type: boolean
        childrenCount:
          type: integer
          format: int64
      description: This is the view of the Graph for execution of the Pipeline.
    WorkflowGraph:
      type: object
      properties:
        data:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/WorkflowGraphNode'
        relation:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/WorkflowGraphRelation'
    ParserIdentityContextUpdateResponse:
      type: object
    OrchestrationMap:
      type: object
      additionalProperties:
        type: object
    EnumValueDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        number:
          type: integer
          format: int32
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/EnumValueOptions'
        defaultInstanceForType:
          $ref: '#/components/schemas/EnumValueDescriptorProto'
        parserForType:
          $ref: '#/components/schemas/ParserEnumValueDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        optionsOrBuilder:
          $ref: '#/components/schemas/EnumValueOptionsOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ParserReservedRange:
      type: object
    CvDescriptorProto:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        name:
          type: string
        initialized:
          type: boolean
        options:
          $ref: '#/components/schemas/MessageOptions'
        fieldCount:
          type: integer
          format: int32
        defaultInstanceForType:
          $ref: '#/components/schemas/CvDescriptorProto'
        reservedRangeList:
          type: array
          items:
            $ref: '#/components/schemas/ReservedRange'
        reservedNameList:
          type: array
          properties:
            empty:
              type: boolean
          items:
            type: string
        extensionRangeList:
          type: array
          items:
            $ref: '#/components/schemas/ExtensionRange'
        oneofDeclCount:
          type: integer
          format: int32
        nestedTypeCount:
          type: integer
          format: int32
        enumTypeCount:
          type: integer
          format: int32
        extensionCount:
          type: integer
          format: int32
        extensionRangeCount:
          type: integer
          format: int32
        parserForType:
          $ref: '#/components/schemas/ParserDescriptorProto'
        serializedSize:
          type: integer
          format: int32
        enumTypeList:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptorProto'
        extensionList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProto'
        nameBytes:
          $ref: '#/components/schemas/ByteString'
        enumTypeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/EnumDescriptorProtoOrBuilder'
        extensionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProtoOrBuilder'
        optionsOrBuilder:
          $ref: '#/components/schemas/MessageOptionsOrBuilder'
        fieldList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProto'
        nestedTypeList:
          type: array
          items:
            $ref: '#/components/schemas/CvDescriptorProto'
        oneofDeclList:
          type: array
          items:
            $ref: '#/components/schemas/OneofDescriptorProto'
        reservedRangeCount:
          type: integer
          format: int32
        reservedNameCount:
          type: integer
          format: int32
        fieldOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptorProtoOrBuilder'
        nestedTypeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/DescriptorProtoOrBuilder'
        extensionRangeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/ExtensionRangeOrBuilder'
        oneofDeclOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/OneofDescriptorProtoOrBuilder'
        reservedRangeOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/ReservedRangeOrBuilder'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
          additionalProperties:
            type: object
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    ResponseDTOPageGovernanceMetadata:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/PageGovernanceMetadata'
        metaData:
          type: object
        correlationId:
          type: string
    EnumValueOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        deprecated:
          type: boolean
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        debugRedact:
          type: boolean
        featureSupport:
          $ref: '#/components/schemas/FeatureSupport'
        featureSupportOrBuilder:
          $ref: '#/components/schemas/FeatureSupportOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    InputSetDetails:
      type: object
      properties:
        identifier:
          type: string
          description: Identifier of the inputset
        name:
          type: string
          description: Name of the inputset
      description: Details of an inputset used in a pipeline execution
    SyncExecutableResponseOrBuilder:
      type: object
      properties:
        unitsList:
          type: array
          items:
            type: string
        unitsCount:
          type: integer
          format: int32
        logKeysList:
          type: array
          items:
            type: string
        logKeysCount:
          type: integer
          format: int32
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        initialized:
          type: boolean
    FailureInfoDTO:
      type: object
      properties:
        message:
          type: string
        failureTypeList:
          type: array
          items:
            type: string
            enum:
            - EXPIRED
            - DELEGATE_PROVISIONING
            - CONNECTIVITY
            - AUTHENTICATION
            - VERIFICATION_FAILURE
            - APPLICATION_ERROR
            - AUTHORIZATION_ERROR
            - TIMEOUT_ERROR
            - POLICY_EVALUATION_FAILURE
            - INPUT_TIMEOUT_FAILURE
            - APPROVAL_REJECTION
            - DELEGATE_RESTART
            - USER_MARKED_FAILURE
            - INFRASTRUCTURE_FAILURE
            - PLUGIN_IMAGE_FAILURE
            - RESOURCE_LIMITS_FAILURE
            - CONFIGURATION_FAILURE
            - RETRYABLE_TRANSIENT_FAILURE
        responseMessages:
          type: array
          items:
            $ref: '#/components/schemas/ResponseMessage'
    ExtensionRangeOptionsOrBuilder:
      type: object
      properties:
        declarationOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/DeclarationOrBuilder'
        features:
          $ref: '#/components/schemas/FeatureSet'
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        declarationCount:
          type: integer
          format: int32
        verification:
          type: string
          enum:
          - DECLARATION
          - UNVERIFIED
        declarationList:
          type: array
          items:
            $ref: '#/components/schemas/CvDeclaration'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    Pageable:
      type: object
      properties:
        offset:
          type: integer
          format: int64
        sort:
          $ref: '#/components/schemas/Sort'
        pageSize:
          type: integer
          format: int32
        pageNumber:
          type: integer
          format: int32
        paged:
          type: boolean
        unpaged:
          type: boolean
    PipelineAnnotation:
      required:
      - contextId
      - priority
      - style
      - summary
      - timestamp
      type: object
      properties:
        contextId:
          type: string
        timestamp:
          type: integer
          format: int64
        style:
          type: string
          enum:
          - success
          - error
          - info
          - warning
        summary:
          type: string
        priority:
          maximum: 10
          minimum: 1
          type: integer
          format: int32
    EdgeLayoutList:
      type: object
      properties:
        currentNodeChildren:
          type: array
          items:
            type: string
        nextIds:
          type: array
          items:
            type: string
      description: This contains info about the Layout of the Graph
    Sort:
      type: object
      properties:
        empty:
          type: boolean
        sorted:
          type: boolean
        unsorted:
          type: boolean
    PipelineExecutionDetail:
      type: object
      properties:
        pipelineExecutionSummary:
          $ref: '#/components/schemas/PipelineExecutionSummary'
        executionGraph:
          $ref: '#/components/schemas/ExecutionGraph'
        childGraph:
          $ref: '#/components/schemas/ChildExecutionDetail'
      description: This contains the Pipeline Execution details.
    ExecutableResponse:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        children:
          $ref: '#/components/schemas/ChildrenExecutableResponse'
        initialized:
          type: boolean
        task:
          $ref: '#/components/schemas/TaskExecutableResponse'
        defaultInstanceForType:
          $ref: '#/components/schemas/ExecutableResponse'
        parserForType:
          $ref: '#/components/schemas/ParserExecutableResponse'
        serializedSize:
          type: integer
          format: int32
        asyncOrBuilder:
          $ref: '#/components/schemas/AsyncExecutableResponseOrBuilder'
        childOrBuilder:
          $ref: '#/components/schemas/ChildExecutableResponseOrBuilder'
        childrenOrBuilder:
          $ref: '#/components/schemas/ChildrenExecutableResponseOrBuilder'
        childChainOrBuilder:
          $ref: '#/components/schemas/ChildChainExecutableResponseOrBuilder'
        taskOrBuilder:
          $ref: '#/components/schemas/TaskExecutableResponseOrBuilder'
        taskChainOrBuilder:
          $ref: '#/components/schemas/TaskChainExecutableResponseOrBuilder'
        syncOrBuilder:
          $ref: '#/components/schemas/SyncExecutableResponseOrBuilder'
        skipTaskOrBuilder:
          $ref: '#/components/schemas/SkipTaskExecutableResponseOrBuilder'
        asyncChainOrBuilder:
          $ref: '#/components/schemas/AsyncChainExecutableResponseOrBuilder'
        facilitatorOrBuilder:
          $ref: '#/components/schemas/FacilitatorExecutableResponseOrBuilder'
        identityContextUpdateOrBuilder:
          $ref: '#/components/schemas/IdentityContextUpdateResponseOrBuilder'
        responseCase:
          type: string
          enum:
          - ASYNC
          - CHILD
          - CHILDREN
          - CHILDCHAIN
          - TASK
          - TASKCHAIN
          - SYNC
          - SKIPTASK
          - ASYNCCHAIN
          - FACILITATOR
          - IDENTITY_CONTEXT_UPDATE
          - RESPONSE_NOT_SET
        async:
          $ref: '#/components/schemas/AsyncExecutableResponse'
        child:
          $ref: '#/components/schemas/ChildExecutableResponse'
        childChain:
          $ref: '#/components/schemas/ChildChainExecutableResponse'
        taskChain:
          $ref: '#/components/schemas/TaskChainExecutableResponse'
        sync:
          $ref: '#/components/schemas/SyncExecutableResponse'
        skipTask:
          $ref: '#/components/schemas/SkipTaskExecutableResponse'
        asyncChain:
          $ref: '#/components/schemas/AsyncChainExecutableResponse'
        facilitator:
          $ref: '#/components/schemas/FacilitatorExecutableResponse'
        identityContextUpdate:
          $ref: '#/components/schemas/IdentityContextUpdateResponse'
        descriptorForType:
          $ref: '#/components/schemas/Descriptor'
        allFields:
          type: object
          additionalProperties:
            type: object
        initializationErrorString:
          type: string
        memoizedSerializedSize:
          type: integer
          format: int32
          writeOnly: true
    NamePartOrBuilder:
      type: object
      properties:
        namePart:
          type: string
        isExtension:
          type: boolean
        namePartBytes:
          $ref: '#/components/schemas/ByteString'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    NGLabel:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
      description: Pipeline labels
    Parser:
      type: object
    ParserEditionDefault:
      type: object
    PipelineError:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        code:
          type: string
          enum:
          - DEFAULT_ERROR_CODE
          - INVALID_ARGUMENT
          - INVALID_EMAIL
          - DOMAIN_NOT_ALLOWED_TO_REGISTER
          - COMMNITY_EDITION_NOT_FOUND
          - DEPLOY_MODE_IS_NOT_ON_PREM
          - USER_ALREADY_REGISTERED
          - USER_INVITATION_DOES_NOT_EXIST
          - USER_DOES_NOT_EXIST
          - USER_INVITE_OPERATION_FAILED
          - USER_DISABLED
          - ACCOUNT_DOES_NOT_EXIST
          - INACTIVE_ACCOUNT
          - ACCOUNT_MIGRATED
          - ACCOUNT_MIGRATED_TO_NEXT_GEN
          - USER_DOMAIN_NOT_ALLOWED
          - MAX_FAILED_ATTEMPT_COUNT_EXCEEDED
          - RESOURCE_NOT_FOUND
          - INVALID_FORMAT
          - ROLE_DOES_NOT_EXIST
          - EMAIL_NOT_VERIFIED
          - EMAIL_VERIFICATION_TOKEN_NOT_FOUND
          - INVALID_TOKEN
          - REVOKED_TOKEN
          - INVALID_CAPTCHA_TOKEN
          - NOT_ACCOUNT_MGR_NOR_HAS_ALL_APP_ACCESS
          - EXPIRED_TOKEN
          - INVALID_AGENT_MTLS_AUTHORITY
          - TOKEN_ALREADY_REFRESHED_ONCE
          - ACCESS_DENIED
          - NG_ACCESS_DENIED
          - INVALID_CREDENTIAL
          - INVALID_CREDENTIALS_THIRD_PARTY
          - INVALID_KEY
          - INVALID_CONNECTOR_TYPE
          - INVALID_KEYPATH
          - INVALID_VARIABLE
          - UNKNOWN_HOST
          - UNREACHABLE_HOST
          - INVALID_PORT
          - SSH_SESSION_TIMEOUT
          - ALGORITHM_NEGOTIATION_ERROR
          - SOCKET_CONNECTION_ERROR
          - CONNECTION_ERROR
          - COULD_NOT_PROCESS_ERROR
          - SOCKET_CONNECTION_TIMEOUT
          - WINRM_COMMAND_EXECUTION_TIMEOUT
          - CONNECTION_TIMEOUT
          - SSH_CONNECTION_ERROR
          - USER_GROUP_ERROR
          - INVALID_EXECUTION_ID
          - ERROR_IN_GETTING_CHANNEL_STREAMS
          - UNEXPECTED
          - UNKNOWN_ERROR
          - UNKNOWN_EXECUTOR_TYPE_ERROR
          - DUPLICATE_STATE_NAMES
          - TRANSITION_NOT_LINKED
          - TRANSITION_TO_INCORRECT_STATE
          - TRANSITION_TYPE_NULL
          - STATES_WITH_DUP_TRANSITIONS
          - BARRIERS_NOT_RUNNING_CONCURRENTLY
          - NON_FORK_STATES
          - NON_REPEAT_STATES
          - INITIAL_STATE_NOT_DEFINED
          - FILE_INTEGRITY_CHECK_FAILED
          - INVALID_URL
          - FILE_DOWNLOAD_FAILED
          - PLATFORM_SOFTWARE_DELETE_ERROR
          - INVALID_CSV_FILE
          - INVALID_REQUEST
          - SCHEMA_VALIDATION_FAILED
          - FILTER_CREATION_ERROR
          - INVALID_YAML_ERROR
          - PLAN_CREATION_ERROR
          - INVALID_INFRA_STATE
          - PIPELINE_ALREADY_TRIGGERED
          - NON_EXISTING_PIPELINE
          - DUPLICATE_COMMAND_NAMES
          - INVALID_PIPELINE
          - COMMAND_DOES_NOT_EXIST
          - DUPLICATE_ARTIFACTSTREAM_NAMES
          - DUPLICATE_HOST_NAMES
          - STATE_NOT_FOR_TYPE
          - STATE_MACHINE_ISSUE
          - STATE_DISCONTINUE_FAILED
          - STATE_PAUSE_FAILED
          - PAUSE_ALL_ALREADY
          - RESUME_ALL_ALREADY
          - ROLLBACK_ALREADY
          - ABORT_ALL_ALREADY
          - EXPIRE_ALL_ALREADY
          - RETRY_FAILED
          - UNKNOWN_ARTIFACT_TYPE
          - UNKNOWN_STAGE_ELEMENT_WRAPPER_TYPE
          - INIT_TIMEOUT
          - LICENSE_EXPIRED
          - NOT_LICENSED
          - REQUEST_TIMEOUT
          - SCM_REQUEST_TIMEOUT
          - WORKFLOW_ALREADY_TRIGGERED
          - JENKINS_ERROR
          - INVALID_ARTIFACT_SOURCE
          - INVALID_ARTIFACT_SERVER
          - INVALID_CLOUD_PROVIDER
          - UPDATE_NOT_ALLOWED
          - DELETE_NOT_ALLOWED
          - APPDYNAMICS_CONFIGURATION_ERROR
          - APM_CONFIGURATION_ERROR
          - SPLUNK_CONFIGURATION_ERROR
          - ELK_CONFIGURATION_ERROR
          - LOGZ_CONFIGURATION_ERROR
          - SUMO_CONFIGURATION_ERROR
          - INSTANA_CONFIGURATION_ERROR
          - APPDYNAMICS_ERROR
          - STACKDRIVER_ERROR
          - STACKDRIVER_CONFIGURATION_ERROR
          - NEWRELIC_CONFIGURATION_ERROR
          - NEWRELIC_ERROR
          - DYNA_TRACE_CONFIGURATION_ERROR
          - DYNA_TRACE_ERROR
          - CLOUDWATCH_ERROR
          - CLOUDWATCH_CONFIGURATION_ERROR
          - PROMETHEUS_CONFIGURATION_ERROR
          - DATA_DOG_CONFIGURATION_ERROR
          - SERVICE_GUARD_CONFIGURATION_ERROR
          - ENCRYPTION_NOT_CONFIGURED
          - UNAVAILABLE_DELEGATES
          - WORKFLOW_EXECUTION_IN_PROGRESS
          - PIPELINE_EXECUTION_IN_PROGRESS
          - AWS_ACCESS_DENIED
          - AWS_CLUSTER_NOT_FOUND
          - AWS_SERVICE_NOT_FOUND
          - IMAGE_NOT_FOUND
          - ILLEGAL_ARGUMENT
          - IMAGE_TAG_NOT_FOUND
          - DELEGATE_NOT_AVAILABLE
          - INVALID_YAML_PAYLOAD
          - AUTHENTICATION_ERROR
          - AUTHORIZATION_ERROR
          - UNRECOGNIZED_YAML_FIELDS
          - COULD_NOT_MAP_BEFORE_YAML
          - MISSING_BEFORE_YAML
          - MISSING_YAML
          - NON_EMPTY_DELETIONS
          - GENERAL_YAML_ERROR
          - GENERAL_YAML_INFO
          - YAML_GIT_SYNC_ERROR
          - GIT_CONNECTION_ERROR
          - GIT_ERROR
          - ARTIFACT_SERVER_ERROR
          - ENCRYPT_DECRYPT_ERROR
          - SECRET_MANAGEMENT_ERROR
          - SECRET_NOT_FOUND
          - KMS_OPERATION_ERROR
          - GCP_KMS_OPERATION_ERROR
          - VAULT_OPERATION_ERROR
          - AWS_SECRETS_MANAGER_OPERATION_ERROR
          - AZURE_KEY_VAULT_OPERATION_ERROR
          - AZURE_KEY_VAULT_INTERRUPT_ERROR
          - UNSUPPORTED_OPERATION_EXCEPTION
          - FEATURE_UNAVAILABLE
          - GENERAL_ERROR
          - BASELINE_CONFIGURATION_ERROR
          - SAML_IDP_CONFIGURATION_NOT_AVAILABLE
          - INVALID_AUTHENTICATION_MECHANISM
          - INVALID_SAML_CONFIGURATION
          - INVALID_OAUTH_CONFIGURATION
          - INVALID_LDAP_CONFIGURATION
          - USER_GROUP_SYNC_FAILURE
          - USER_GROUP_ALREADY_EXIST
          - INVALID_TWO_FACTOR_AUTHENTICATION_CONFIGURATION
          - EXPLANATION
          - HINT
          - NOT_WHITELISTED_IP
          - INVALID_TOTP_TOKEN
          - EMAIL_FAILED
          - SSL_HANDSHAKE_FAILED
          - NO_APPS_ASSIGNED
          - INVALID_INFRA_CONFIGURATION
          - TEMPLATES_LINKED
          - USER_HAS_NO_PERMISSIONS
          - USER_NOT_AUTHORIZED
          - USER_ALREADY_PRESENT
          - EMAIL_ERROR
          - INVALID_USAGE_RESTRICTION
          - USAGE_RESTRICTION_ERROR
          - STATE_EXECUTION_INSTANCE_NOT_FOUND
          - DELEGATE_TASK_RETRY
          - KUBERNETES_API_TASK_EXCEPTION
          - KUBERNETES_TASK_EXCEPTION
          - KUBERNETES_YAML_ERROR
          - SAVE_FILE_INTO_AWS_STORAGE_FAILED
          - READ_FILE_FROM_AWS_STORAGE_FAILED
          - SAVE_FILE_INTO_GCP_STORAGE_FAILED
          - READ_FILE_FROM_GCP_STORAGE_FAILED
          - FILE_NOT_FOUND_ERROR
          - USAGE_LIMITS_EXCEEDED
          - EVENT_PUBLISH_FAILED
          - CUSTOM_APPROVAL_ERROR
          - JIRA_ERROR
          - EXPRESSION_EVALUATION_FAILED
          - KUBERNETES_VALUES_ERROR
          - KUBERNETES_CLUSTER_ERROR
          - INCORRECT_SIGN_IN_MECHANISM
          - OAUTH_LOGIN_FAILED
          - INVALID_TERRAFORM_TARGETS_REQUEST
          - TERRAFORM_EXECUTION_ERROR
          - FILE_READ_FAILED
          - FILE_SIZE_EXCEEDS_LIMIT
          - CLUSTER_NOT_FOUND
          - MARKETPLACE_TOKEN_NOT_FOUND
          - INVALID_MARKETPLACE_TOKEN
          - INVALID_TICKETING_SERVER
          - SERVICENOW_ERROR
          - PASSWORD_EXPIRED
          - USER_LOCKED
          - PASSWORD_STRENGTH_CHECK_FAILED
          - ACCOUNT_DISABLED
          - INVALID_ACCOUNT_PERMISSION
          - PAGERDUTY_ERROR
          - HEALTH_ERROR
          - SAML_TEST_SUCCESS_MECHANISM_NOT_ENABLED
          - DOMAIN_WHITELIST_FILTER_CHECK_FAILED
          - INVALID_DASHBOARD_UPDATE_REQUEST
          - DUPLICATE_FIELD
          - INVALID_AZURE_VAULT_CONFIGURATION
          - USER_NOT_AUTHORIZED_DUE_TO_USAGE_RESTRICTIONS
          - INVALID_ROLLBACK
          - DATA_COLLECTION_ERROR
          - SUMO_DATA_COLLECTION_ERROR
          - DEPLOYMENT_GOVERNANCE_ERROR
          - BATCH_PROCESSING_ERROR
          - GRAPHQL_ERROR
          - FILE_CREATE_ERROR
          - ILLEGAL_STATE
          - GIT_DIFF_COMMIT_NOT_IN_ORDER
          - FAILED_TO_ACQUIRE_PERSISTENT_LOCK
          - FAILED_TO_ACQUIRE_NON_PERSISTENT_LOCK
          - POD_NOT_FOUND_ERROR
          - COMMAND_EXECUTION_ERROR
          - REGISTRY_EXCEPTION
          - ENGINE_INTERRUPT_PROCESSING_EXCEPTION
          - ENGINE_IO_EXCEPTION
          - ENGINE_OUTCOME_EXCEPTION
          - ENGINE_SWEEPING_OUTPUT_EXCEPTION
          - CACHE_NOT_FOUND_EXCEPTION
          - ENGINE_ENTITY_UPDATE_EXCEPTION
          - SHELL_EXECUTION_EXCEPTION
          - TEMPLATE_NOT_FOUND
          - AZURE_SERVICE_EXCEPTION
          - AZURE_CLIENT_EXCEPTION
          - GIT_UNSEEN_REMOTE_HEAD_COMMIT
          - TIMEOUT_ENGINE_EXCEPTION
          - NO_AVAILABLE_DELEGATES
          - NO_GLOBAL_DELEGATE_ACCOUNT
          - NO_INSTALLED_DELEGATES
          - DUPLICATE_DELEGATE_EXCEPTION
          - GCP_MARKETPLACE_EXCEPTION
          - MISSING_DEFAULT_GOOGLE_CREDENTIALS
          - INCORRECT_DEFAULT_GOOGLE_CREDENTIALS
          - OPTIMISTIC_LOCKING_EXCEPTION
          - NG_PIPELINE_EXECUTION_EXCEPTION
          - NG_PIPELINE_CREATE_EXCEPTION
          - RESOURCE_NOT_FOUND_EXCEPTION
          - PMS_INITIALIZE_SDK_EXCEPTION
          - UNEXPECTED_SNIPPET_EXCEPTION
          - UNEXPECTED_SCHEMA_EXCEPTION
          - CONNECTOR_VALIDATION_EXCEPTION
          - TIMESCALE_NOT_AVAILABLE
          - MIGRATION_EXCEPTION
          - REQUEST_PROCESSING_INTERRUPTED
          - SECRET_MANAGER_ID_NOT_FOUND
          - GCP_SECRET_MANAGER_OPERATION_ERROR
          - GCP_SECRET_OPERATION_ERROR
          - GIT_OPERATION_ERROR
          - TASK_FAILURE_ERROR
          - INSTANCE_STATS_PROCESS_ERROR
          - INSTANCE_STATS_MIGRATION_ERROR
          - DEPLOYMENT_MIGRATION_ERROR
          - CG_LICENSE_USAGE_ERROR
          - INSTANCE_STATS_AGGREGATION_ERROR
          - UNRESOLVED_EXPRESSIONS_ERROR
          - KRYO_HANDLER_NOT_FOUND_ERROR
          - DELEGATE_ERROR_HANDLER_EXCEPTION
          - DELEGATE_SERVICE_DRIVER_EXCEPTION
          - DELEGATE_INSTALLATION_COMMAND_NOT_SUPPORTED_EXCEPTION
          - UNEXPECTED_TYPE_ERROR
          - EXCEPTION_HANDLER_NOT_FOUND
          - CONNECTOR_NOT_FOUND_EXCEPTION
          - GCP_SERVER_ERROR
          - HTTP_RESPONSE_EXCEPTION
          - SCM_NOT_FOUND_ERROR
          - SCM_CONFLICT_ERROR
          - SCM_CONFLICT_ERROR_V2
          - SCM_UNPROCESSABLE_ENTITY
          - PROCESS_EXECUTION_EXCEPTION
          - SCM_UNAUTHORIZED
          - SCM_BAD_REQUEST
          - SCM_INTERNAL_SERVER_ERROR
          - DATA
          - CONTEXT
          - PR_CREATION_ERROR
          - URL_NOT_REACHABLE
          - URL_NOT_PROVIDED
          - ENGINE_EXPRESSION_EVALUATION_ERROR
          - ENGINE_FUNCTOR_ERROR
          - JIRA_CLIENT_ERROR
          - SCM_NOT_MODIFIED
          - APPROVAL_STEP_NG_ERROR
          - BUCKET_SERVER_ERROR
          - GIT_SYNC_ERROR
          - TEMPLATE_EXCEPTION
          - TEMPLATE_ALREADY_EXISTS_EXCEPTION
          - ENTITY_REFERENCE_EXCEPTION
          - ACTIVE_SERVICE_INSTANCES_PRESENT_EXCEPTION
          - INVALID_INPUT_SET
          - INVALID_OVERLAY_INPUT_SET
          - RESOURCE_ALREADY_EXISTS
          - INVALID_JSON_PAYLOAD
          - POLICY_EVALUATION_FAILURE
          - POLICY_SET_ERROR
          - INVALID_ARTIFACTORY_REGISTRY_REQUEST
          - INVALID_NEXUS_REGISTRY_REQUEST
          - ENTITY_NOT_FOUND
          - GITX_OAUTH_NOT_SET
          - INVALID_AZURE_CONTAINER_REGISTRY_REQUEST
          - AZURE_AUTHENTICATION_ERROR
          - AZURE_CONFIG_ERROR
          - DATA_PROCESSING_ERROR
          - INVALID_AZURE_AKS_REQUEST
          - AWS_IAM_ERROR
          - AWS_CF_ERROR
          - AWS_INSTANCE_ERROR
          - AWS_VPC_ERROR
          - AWS_TAG_ERROR
          - AWS_ASG_ERROR
          - AWS_LOAD_BALANCER_ERROR
          - SCM_INTERNAL_SERVER_ERROR_V2
          - SCM_FAILED_DEPENDENCY_ERROR
          - SCM_UNAUTHORIZED_ERROR_V2
          - TOO_MANY_REQUESTS
          - SCM_RATE_LIMIT_ERROR
          - INVALID_IDENTIFIER_REF
          - SPOTINST_NULL_ERROR
          - SPOTNIST_REST_EXCEPTION
          - SCM_UNEXPECTED_ERROR
          - DUPLICATE_FILE_IMPORT
          - AZURE_APP_SERVICES_TASK_EXCEPTION
          - AZURE_ARM_TASK_EXCEPTION
          - AZURE_BP_TASK_EXCEPTION
          - MEDIA_NOT_SUPPORTED
          - AWS_ECS_ERROR
          - AWS_APPLICATION_AUTO_SCALING
          - AWS_ECS_SERVICE_NOT_ACTIVE
          - AWS_ECS_CLIENT_ERROR
          - AWS_STS_ERROR
          - FREEZE_EXCEPTION
          - MISSING_EXCEPTION
          - DELEGATE_TASK_EXPIRED
          - DELEGATE_TASK_VALIDATION_FAILED
          - MONGO_EXECUTION_TIMEOUT_EXCEPTION
          - DELEGATE_NOT_REGISTERED
          - TERRAFORM_VAULT_SECRET_CLEANUP_FAILURE
          - APPROVAL_REJECTION
          - TERRAGRUNT_EXECUTION_ERROR
          - ADFS_ERROR
          - TERRAFORM_CLOUD_ERROR
          - CLUSTER_CREDENTIALS_NOT_FOUND
          - SCM_API_ERROR
          - INTERNAL_SERVER_ERROR
          - SCM_FORBIDDEN
          - AWS_EKS_ERROR
          - OPA_POLICY_EVALUATION_ERROR
          - USER_MARKED_FAILURE
          - SSH_RETRY
          - HTTP_CLIENT_ERROR_RESPONSE
          - HTTP_INTERNAL_SERVER_ERROR
          - HTTP_BAD_GATEWAY
          - HTTP_SERVICE_UNAVAILABLE
          - HTTP_GATEWAY_TIMEOUT
          - HTTP_SERVER_ERROR_RESPONSE
          - PIPELINE_UPDATE_EXCEPTION
          - SERVICENOW_REFRESH_TOKEN_ERROR
          - PARAMETER_FIELD_CAST_ERROR
          - ABORT_ALL_ALREADY_NG
          - WEBHOOK_EXCEPTION
          - INVALID_OIDC_CONFIGURATION
          - INVALID_CREDENTIALS
          - INVALID_OR_PRIVATE_REPO
          - BARRIER_FAILED_ERROR
          - ELASTICSEARCH_NOT_AVAILABLE
          - OBJECT_STORE_NOT_AVAILABLE
          - NO_ELIGIBLE_RUNNERS
          - NO_AVAILABLE_RUNNERS
          - RUNNER_DISCONNECTED
          - EVENT_LISTENER_STEP_FAILURE
          - TRANSACTION_ABORTED
          - UNRESOLVED_EXPRESSIONS_WITH_CONTEXT_ERROR
        message:
          type: string
        correlationId:
          type: string
        detailedMessage:
          type: string
        responseMessages:
          type: array
          items:
            $ref: '#/components/schemas/ResponseMessage'
        metadata:
          $ref: '#/components/schemas/PipelineErrorMetadata'
      description: This is Error entity as defined in Harness
    FileOptionsOrBuilder:
      type: object
      properties:
        features:
          $ref: '#/components/schemas/FeatureSet'
        javaStringCheckUtf8:
          type: boolean
        optimizeFor:
          type: string
          enum:
          - SPEED
          - CODE_SIZE
          - LITE_RUNTIME
        goPackage:
          type: string
        goPackageBytes:
          $ref: '#/components/schemas/ByteString'
        ccGenericServices:
          type: boolean
        javaGenericServices:
          type: boolean
        pyGenericServices:
          type: boolean
        deprecated:
          type: boolean
        ccEnableArenas:
          type: boolean
        objcClassPrefix:
          type: string
        objcClassPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        csharpNamespace:
          type: string
        csharpNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        swiftPrefix:
          type: string
        swiftPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        phpClassPrefix:
          type: string
        javaPackage:
          type: string
        javaPackageBytes:
          $ref: '#/components/schemas/ByteString'
        javaOuterClassname:
          type: string
        javaOuterClassnameBytes:
          $ref: '#/components/schemas/ByteString'
        javaMultipleFiles:
          type: boolean
        javaGenerateEqualsAndHash:
          type: boolean
        phpClassPrefixBytes:
          $ref: '#/components/schemas/ByteString'
        phpNamespace:
          type: string
        phpNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        phpMetadataNamespace:
          type: string
        phpMetadataNamespaceBytes:
          $ref: '#/components/schemas/ByteString'
        rubyPackage:
          type: string
        rubyPackageBytes:
          $ref: '#/components/schemas/ByteString'
        featuresOrBuilder:
          $ref: '#/components/schemas/FeatureSetOrBuilder'
        uninterpretedOptionList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOption'
        uninterpretedOptionCount:
          type: integer
          format: int32
        uninterpretedOptionOrBuilderList:
          type: array
          items:
            $ref: '#/components/schemas/UninterpretedOptionOrBuilder'
        defaultInstanceForType:
          $ref: '#/components/schemas/Message'
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        allFields:
          type: object
          additionalProperties:
            type: object
        initialized:
          type: boolean
    OneofDescriptor:
      type: object
      properties:
        index:
          type: integer
          format: int32
        proto:
          $ref: '#/components/schemas/OneofDescriptorProto'
        options:
          $ref: '#/components/schemas/OneofOptions'
        fullName:
          type: string
        file:
          $ref: '#/components/schemas/FileDescriptor'
        containingType:
          $ref: '#/components/schemas/CvDescriptor'
        fieldCount:
          type: integer
          format: int32
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDescriptor'
        name:
          type: string
    NGTag:
      required:
      - key
      type: object
      properties:
        key:
          type: string
          description: Tag key
        value:
          type: string
          description: Tag value
      description: This is the view of the tags of the entity.
    PagePipelineExecutionSummary:
      type: object
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
        content:
          type: array
          items:
            $ref: '#/components/schemas/PipelineExecutionSummary'
        number:
          type: integer
          format: int32
        sort:
          $ref: '#/components/schemas/Sort'
        first:
          type: boolean
        pageable:
          $ref: '#/components/schemas/Pageable'
        numberOfElements:
          type: integer
          format: int32
        last:
          type: boolean
        empty:
          type: boolean
    FeatureSet:
      type: object
      properties:
        unknownFields:
          $ref: '#/components/schemas/UnknownFieldSet'
        initialized:
          type: boolean
        defaultInstanceForType:
          $ref: '#/components/schemas/FeatureSet'
        enumType:
          type: string
          enum:
          - ENUM_TYPE_UNKNOWN
          - OPEN
          - CLOSED
        jsonFormat:
          type: string
          enum:
          - JSON_FORMAT_UNKNOWN
          - ALLOW
          - LEGACY_BEST_EFFORT
        parserForType:
          $ref: '#/components/schemas/ParserFeatureSet'
        serializedSize:
          type: integer
          format: int32
        messageEncoding:
          type: string
          enum:
          - MESSAGE_ENCODING_UNKNOWN
          - LENGTH_PREFIXED
          - DELIMITED
        utf8Validation:
          type: string
          enum:
          - UTF8_VALIDATION_UNKNOWN
          - VERIFY
          - NONE
        fieldPresence:
          type: string
          enum:
          - FIELD_PRESENCE_UNKNOWN
          - EXPLICIT
          - IMPLICIT
          - LEGACY_REQUIRED
        repeatedFieldEncoding:
          type: string
          enum:
          - REPEATED_FIELD_ENCODING_UNKNOWN
          - PACKED
          - EXPANDED
        descriptorForType:
          $ref: '#/components/schemas/CvDescriptor'
        initializationErrorString:
          type: string
        allFields:
          type: object
[...]
