openapi: 3.2.0
info:
  title: Harness Fault Templates API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Fault Templates
paths:
  /gateway/chaos/manager/api/rest/faults/{identity}:
    put:
      description: Update the fault templates in a hub based on tag
      tags:
      - Fault Templates
      summary: Update the fault templates in a hub
      operationId: updateFault
      parameters:
      - description: account id to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - description: organization id to access the resource
        name: organizationIdentifier
        in: query
        schema:
          type: string
      - description: project id to access the resource
        name: projectIdentifier
        in: query
        schema:
          type: string
      - description: identity of the fault
        name: identity
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chaosfault.UpdateFaultRequest'
        description: update fault request
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaosfault.UpdateFaultResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
    delete:
      description: Delete the fault templates in a hub based on tag
      tags:
      - Fault Templates
      summary: Delete the fault templates in a hub
      operationId: deleteFault
      parameters:
      - description: account id to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - description: organization id to access the resource
        name: organizationIdentifier
        in: query
        schema:
          type: string
      - description: project id to access the resource
        name: projectIdentifier
        in: query
        schema:
          type: string
      - description: identity of the fault
        name: identity
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_api.Empty'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/faulttemplates:
    get:
      description: List all the fault templates in a hub based on tag
      tags:
      - Fault Templates
      summary: List all the fault templates in a hub
      operationId: listFaultTemplate
      parameters:
      - description: account id to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - name: category
        in: query
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - description: hub identity used for filter
        name: hubIdentity
        in: query
        schema:
          type: string
      - name: includeAllScope
        in: query
        schema:
          type: boolean
      - description: infrastructure used for filter
        name: infrastructure
        in: query
        schema:
          type: string
          enum:
          - KubernetesV2
      - description: infrastructure type used for filter
        name: infrastructureType
        in: query
        schema:
          type: string
          enum:
          - Kubernetes
      - description: if this fault is enterprise fault or not
        name: isEnterprise
        in: query
        schema:
          type: boolean
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 15
      - description: organization id to access the resource
        name: organizationIdentifier
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          default: 0
      - description: permissions required for filter
        name: permissionsRequired
        in: query
        schema:
          type: string
      - description: project id to access the resource
        name: projectIdentifier
        in: query
        schema:
          type: string
      - description: name that you want to search
        name: search
        in: query
        schema:
          type: string
      - description: if sort order ascending or not
        name: sortAscending
        in: query
        schema:
          type: boolean
      - description: field  name that you want to sort
        name: sortField
        in: query
        schema:
          type: string
          enum:
          - name
          - lastUpdated
          - experimentName
      - description: comma separated tags used for filter
        name: tags
        in: query
        schema:
          type: string
      - description: type of the fault used for filter
        name: type
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaosfaulttemplate.ListFaultTemplateResponse'
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    post:
      description: Create fault templates in a hub based on tag
      tags:
      - Fault Templates
      summary: Create fault templates in a hub
      operationId: createFaultTemplate
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: chaos hub identity
        name: hubIdentity
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chaosfaulttemplate.CreateFaultTemplateRequest'
        description: create fault request
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaosfaulttemplate.CreateFaultTemplateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/faulttemplates/{identity}:
    get:
      description: List all the fault templates in a hub based on tag
      tags:
      - Fault Templates
      summary: List all the fault templates in a hub
      operationId: getFaultTemplate
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: chaos hub identity
        name: hubIdentity
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - description: revision of the 1st fault template
        name: revision
        in: query
        required: true
        schema:
          type: string
      - description: identity of the fault
        name: identity
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaosfaulttemplate.GetFaultTemplateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
    put:
      description: Update the fault templates in a hub based on tag
      tags:
      - Fault Templates
      summary: Update the fault templates in a hub
      operationId: updateFaultTemplate
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: chaos hub identity
        name: hubIdentity
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - description: identity of the fault
        name: identity
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaosfaulttemplate.UpdateFaultTemplateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
    delete:
      description: Delete the fault templates in a hub based on tag
      tags:
      - Fault Templates
      summary: Delete the fault templates in a hub
      operationId: deleteFaultTemplate
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: chaos hub identity
        name: hubIdentity
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - description: identity of the fault
        name: identity
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_api.Empty'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/faulttemplates/{identity}/compare:
    get:
      description: Get the difference between 2 revisions of a fault template in a hub
      tags:
      - Fault Templates
      summary: Get the difference between 2 revisions of a fault template
      operationId: compareFaultTemplateRevisions
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: reference of the hub i.e. hub ID
        name: hubIdentity
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - description: identity of the fault
        name: identity
        in: path
        required: true
        schema:
          type: string
      - description: 1st revision of the fault template
        name: revision1
        in: query
        required: true
        schema:
          type: string
      - description: 2nd revision of the fault template
        name: revision2
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaosfaulttemplate.CompareRevisions'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/faulttemplates/{identity}/revisions:
    get:
      tags:
      - Fault Templates
      summary: List all the revision of a fault template in a hub
      operationId: getFaultTemplateRevisions
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: chaos hub identity
        name: hubIdentity
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - description: identity of the fault
        name: identity
        in: path
        required: true
        schema:
          type: string
      - description: page number
        name: page
        in: query
        required: true
        schema:
          type: integer
          default: 0
      - description: limit per page
        name: limit
        in: query
        required: true
        schema:
          type: integer
          default: 15
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaosfaulttemplate.ListFaultTemplateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/faulttemplates/{identity}/variables:
    get:
      description: Get the list of inputs in a fault template based on revision
      tags:
      - Fault Templates
      summary: Get the list of inputs in a fault template
      operationId: getFaultTemplateVariables
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: reference of the hub i.e. hub ID
        name: hubIdentity
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - description: identity of the fault
        name: identity
        in: path
        required: true
        schema:
          type: string
      - description: revision of the 1st fault template
        name: revision
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaosfaulttemplate.FaultTemplateVariables'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
  /gateway/chaos/manager/api/rest/faulttemplates/{identity}/yaml:
    get:
      description: Get a fault template yaml based on revision
      tags:
      - Fault Templates
      summary: Get a fault template yaml
      operationId: getFaultTemplateYaml
      parameters:
      - description: account id that want to access the resource
        name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: organization id that want to access the resource
        name: organizationIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: project id that want to access the resource
        name: projectIdentifier
        in: query
        required: true
        schema:
          type: string
      - description: reference of the hub i.e. hub ID
        name: hubIdentity
        in: query
        required: true
        schema:
          type: string
      - description: correlation id is used to debug micro svc communication
        name: correlationID
        in: query
        schema:
          type: string
      - description: identity of the fault
        name: identity
        in: path
        required: true
        schema:
          type: string
      - description: revision of the 1st fault template
        name: revision
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chaosfaulttemplate.FaultTemplateYaml'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RestError'
components:
  schemas:
    github_com_harness_hce-saas_graphql_server_graph_model.UserDetails:
      type: object
      properties:
        email:
          type: string
        userID:
          type: string
        username:
          type: string
    faulttemplate.AWSAuth:
      type: object
      properties:
        identifier:
          type: string
    v1.PodFSGroupChangePolicy:
      type: string
      enum:
      - OnRootMismatch
      - Always
      x-enum-varnames:
      - FSGroupChangeOnRootMismatch
      - FSGroupChangeAlways
    template.Variable:
      type: object
      required:
      - name
      - value
      properties:
        allowedValues:
          type: array
          items: {}
        category:
          $ref: '#/components/schemas/template.InputCategory'
        default: {}
        description:
          type: string
        name:
          type: string
        path:
          type: string
        required:
          type: boolean
        stringify:
          type: boolean
        tags:
          type: array
          items:
            type: string
        tooltipId:
          type: string
        type:
          $ref: '#/components/schemas/template.InputType'
        validator:
          type: string
        value: {}
    resource.Quantity:
      type: object
      properties:
        Format:
          type: string
          enum:
          - DecimalExponent
          - BinarySI
          - DecimalSI
          x-enum-comments:
            BinarySI: e.g., 12Mi (12 * 2^20)
            DecimalExponent: e.g., 12e6
            DecimalSI: e.g., 12M  (12 * 10^6)
          x-enum-varnames:
          - DecimalExponent
          - BinarySI
          - DecimalSI
    v1.Capabilities:
      type: object
      properties:
        add:
          description: 'Added capabilities

            +optional'
          type: array
          items:
            type: string
        drop:
          description: 'Removed capabilities

            +optional'
          type: array
          items:
            type: string
    v1.TaintEffect:
      type: string
      enum:
      - NoSchedule
      - PreferNoSchedule
      - NoExecute
      x-enum-varnames:
      - TaintEffectNoSchedule
      - TaintEffectPreferNoSchedule
      - TaintEffectNoExecute
    chaosfaulttemplate.ChaosFaultTemplate:
      type: object
      required:
      - accountID
      - isRemoved
      - name
      properties:
        accountID:
          type: string
        category:
          type: array
          items:
            type: string
        createdAt:
          type: integer
        createdBy:
          type: string
        createdByUserDetails:
          $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_graph_model.UserDetails'
        description:
          type: string
        hubRef:
          description: Hub identity of the fault
          type: string
        id:
          description: Mongo ID (primary key)
          type: string
        identity:
          description: Unique identifier (human-readable) immutable
          type: string
        infraType:
          type: string
        infras:
          type: array
          items:
            type: string
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
        isDefault:
          type: boolean
        isEnterprise:
          type: boolean
        isRemoved:
          type: boolean
        links:
          type: array
          items:
            $ref: '#/components/schemas/chaosfaulttemplate.Link'
        name:
          type: string
        orgID:
          type: string
        permissionsRequired:
          type: string
        projectID:
          type: string
        revision:
          type: string
        tags:
          type: array
          items:
            type: string
        template:
          type: string
        type:
          type: string
        updatedAt:
          type: integer
        updatedBy:
          type: string
        updatedByUserDetails:
          $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_graph_model.UserDetails'
        variables:
          description: CHAOS-11100
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
    faulttemplate.SecretVolume:
      type: object
      properties:
        mountMode:
          type: integer
        mountPath:
          type: string
        name:
          type: string
    chaosfaulttemplate.UpdateFaultTemplateResponse:
      type: object
      required:
      - identity
      - name
      properties:
        apiVersion:
          type: string
        category:
          type: array
          items:
            type: string
        correlationID:
          type: string
        description:
          type: string
        hubIdentity:
          type: string
        identity:
          type: string
        infraType:
          type: string
        infras:
          type: array
          items:
            type: string
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
        isDefault:
          type: boolean
        keywords:
          type: array
          items:
            type: string
        kind:
          type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/faulttemplate.Link'
        name:
          type: string
        permissionsRequired:
          type: string
        platforms:
          type: array
          items:
            type: string
        revision:
          type: string
        spec:
          $ref: '#/components/schemas/faulttemplate.Spec'
        tags:
          type: array
          items:
            type: string
        type:
          type: string
        variables:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
    chaosfaulttemplate.ListFaultTemplateResponse:
      type: object
      properties:
        categoriesCount:
          $ref: '#/components/schemas/chaosfaulttemplate.FaultTemplateCategoriesCount'
        correlationID:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/chaosfaulttemplate.ChaosFaultTemplate'
        pagination:
          $ref: '#/components/schemas/github_com_harness_hce-saas_graphql_server_api.Pagination'
    faulttemplate.RedisAuth:
      type: object
      properties:
        password:
          type: string
    api.ResponseErrorCode:
      type: string
      enum:
      - PIPELINE_NOT_FOUND
      x-enum-varnames:
      - PipelineNotFound
    faulttemplate.FaultTemplate:
      type: object
      required:
      - identity
      - name
      properties:
        apiVersion:
          type: string
        category:
          type: array
          items:
            type: string
        description:
          type: string
        identity:
          type: string
        infraType:
          type: string
        infras:
          type: array
          items:
            type: string
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
        isDefault:
          type: boolean
        keywords:
          type: array
          items:
            type: string
        kind:
          type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/faulttemplate.Link'
        name:
          type: string
        permissionsRequired:
          type: string
        platforms:
          type: array
          items:
            type: string
        revision:
          type: string
        spec:
          $ref: '#/components/schemas/faulttemplate.Spec'
        tags:
          type: array
          items:
            type: string
        type:
          type: string
        variables:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
    faulttemplate.ApplicationTarget:
      type: object
      properties:
        application:
          type: string
        entrypoint:
          type: string
    chaosfaulttemplate.CompareRevisions:
      type: object
      properties:
        correlationID:
          type: string
        template1:
          type: string
        template2:
          type: string
    v1.SeccompProfileType:
      type: string
      enum:
      - Unconfined
      - RuntimeDefault
      - Localhost
      x-enum-varnames:
      - SeccompProfileTypeUnconfined
      - SeccompProfileTypeRuntimeDefault
      - SeccompProfileTypeLocalhost
    faulttemplate.HostPathVolume:
      type: object
      properties:
        hostPath:
          type: string
        mountPath:
          type: string
        name:
          type: string
        type:
          $ref: '#/components/schemas/v1.HostPathType'
    faulttemplate.StatusCheckTimeout:
      type: object
      properties:
        delay:
          type: integer
        timeout:
          type: integer
    api.RestError:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/api.ResponseErrorCode'
        description:
          type: string
        message:
          type: string
    v1.EnvVarSource:
      type: object
      properties:
        configMapKeyRef:
          description: 'Selects a key of a ConfigMap.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.ConfigMapKeySelector'
        fieldRef:
          description: 'Selects a field of the pod: supports metadata.name, metadata.namespace, `metadata.labels[''<KEY>'']`, `metadata.annotations[''<KEY>'']`,

            spec.nodeName, spec.serviceAccountName, status.hostIP, status.podIP, status.podIPs.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.ObjectFieldSelector'
        resourceFieldRef:
          description: 'Selects a resource of the container: only resources limits and requests

            (limits.cpu, limits.memory, limits.ephemeral-storage, requests.cpu, requests.memory and requests.ephemeral-storage) are currently supported.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.ResourceFieldSelector'
        secretKeyRef:
          description: 'Selects a key of a secret in the pod''s namespace

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.SecretKeySelector'
    k8s_io_api_core_v1.EnvVar:
      type: object
      properties:
        name:
          description: Name of the environment variable. Must be a C_IDENTIFIER.
          type: string
        value:
          description: 'Variable references $(VAR_NAME) are expanded

            using the previous defined environment variables in the container and

            any service environment variables. If a variable cannot be resolved,

            the reference in the input string will be unchanged. The $(VAR_NAME)

            syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped

            references will never be expanded, regardless of whether the variable

            exists or not.

            Defaults to "".

            +optional'
          type: string
        valueFrom:
          description: 'Source for the environment variable''s value. Cannot be used if value is not empty.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.EnvVarSource'
    v1.SeccompProfile:
      type: object
      properties:
        localhostProfile:
          description: 'localhostProfile indicates a profile defined in a file on the node should be used.

            The profile must be preconfigured on the node to work.

            Must be a descending path, relative to the kubelet''s configured seccomp profile location.

            Must only be set if type is "Localhost".

            +optional'
          type: string
        type:
          description: 'type indicates which kind of seccomp profile will be applied.

            Valid options are:


            Localhost - a profile defined in a file on the node should be used.

            RuntimeDefault - the container runtime default profile should be used.

            Unconfined - no profile should be applied.

            +unionDiscriminator'
          allOf:
          - $ref: '#/components/schemas/v1.SeccompProfileType'
    v1.PullPolicy:
      type: string
      enum:
      - Always
      - Never
      - IfNotPresent
      x-enum-varnames:
      - PullAlways
      - PullNever
      - PullIfNotPresent
    v1.Sysctl:
      type: object
      properties:
        name:
          description: Name of a property to set
          type: string
        value:
          description: Value of a property to set
          type: string
    v1.ProcMountType:
      type: string
      enum:
      - Default
      - Unmasked
      x-enum-varnames:
      - DefaultProcMount
      - UnmaskedProcMount
    template.InputCategory:
      type: string
      enum:
      - FaultTarget
      - FaultTunable
      - TargetInfra
      - ExperimentTunable
      - ActionProperties
      - ProbeProperties
      - RunProperties
      - FaultAuthentication
      x-enum-varnames:
      - CategoryFaultTarget
      - CategoryFaultTunable
      - CategoryTargetInfra
      - CategoryExperimentTunable
      - CategoryActionProperties
      - CategoryProbeProperties
      - CategoryRunProperties
      - CategoryFaultAuthentication
    faulttemplate.ChaosParameter:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    faulttemplate.ResourceRequirements:
      type: object
      properties:
        limits:
          type: object
          additionalProperties:
            type: string
        requests:
          type: object
          additionalProperties:
            type: string
    fault.Link:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
    v1.Toleration:
      type: object
      properties:
        effect:
          description: 'Effect indicates the taint effect to match. Empty means match all taint effects.

            When specified, allowed values are NoSchedule, PreferNoSchedule and NoExecute.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.TaintEffect'
        key:
          description: 'Key is the taint key that the toleration applies to. Empty means match all taint keys.

            If the key is empty, operator must be Exists; this combination means to match all values and all keys.

            +optional'
          type: string
        operator:
          description: 'Operator represents a key''s relationship to the value.

            Valid operators are Exists and Equal. Defaults to Equal.

            Exists is equivalent to wildcard for value, so that a pod can

            tolerate all taints of a particular category.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.TolerationOperator'
        tolerationSeconds:
          description: 'TolerationSeconds represents the period of time the toleration (which must be

            of effect NoExecute, otherwise this field is ignored) tolerates the taint. By default,

            it is not set, which means tolerate the taint forever (do not evict). Zero and

            negative values will be treated as 0 (evict immediately) by the system.

            +optional'
          type: integer
        value:
          description: 'Value is the taint value the toleration matches to.

            If the operator is Exists, the value should be empty, otherwise just a regular string.

            +optional'
          type: string
    v1.PodSecurityContext:
      type: object
      properties:
        fsGroup:
          description: 'A special supplemental group that applies to all containers in a pod.

            Some volume types allow the Kubelet to change the ownership of that volume

            to be owned by the pod:


            1. The owning GID will be the FSGroup

            2. The setgid bit is set (new files created in the volume will be owned by FSGroup)

            3. The permission bits are OR''d with rw-rw----


            If unset, the Kubelet will not modify the ownership and permissions of any volume.

            +optional'
          type: integer
        fsGroupChangePolicy:
          description: 'fsGroupChangePolicy defines behavior of changing ownership and permission of the volume

            before being exposed inside Pod. This field will only apply to

            volume types which support fsGroup based ownership(and permissions).

            It will have no effect on ephemeral volume types such as: secret, configmaps

            and emptydir.

            Valid values are "OnRootMismatch" and "Always". If not specified, "Always" is used.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.PodFSGroupChangePolicy'
        runAsGroup:
          description: 'The GID to run the entrypoint of the container process.

            Uses runtime default if unset.

            May also be set in SecurityContext.  If set in both SecurityContext and

            PodSecurityContext, the value specified in SecurityContext takes precedence

            for that container.

            +optional'
          type: integer
        runAsNonRoot:
          description: 'Indicates that the container must run as a non-root user.

            If true, the Kubelet will validate the image at runtime to ensure that it

            does not run as UID 0 (root) and fail to start the container if it does.

            If unset or false, no such validation will be performed.

            May also be set in SecurityContext.  If set in both SecurityContext and

            PodSecurityContext, the value specified in SecurityContext takes precedence.

            +optional'
          type: boolean
        runAsUser:
          description: 'The UID to run the entrypoint of the container process.

            Defaults to user specified in image metadata if unspecified.

            May also be set in SecurityContext.  If set in both SecurityContext and

            PodSecurityContext, the value specified in SecurityContext takes precedence

            for that container.

            +optional'
          type: integer
        seLinuxOptions:
          description: 'The SELinux context to be applied to all containers.

            If unspecified, the container runtime will allocate a random SELinux context for each

            container.  May also be set in SecurityContext.  If set in

            both SecurityContext and PodSecurityContext, the value specified in SecurityContext

            takes precedence for that container.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.SELinuxOptions'
        seccompProfile:
          description: 'The seccomp options to use by the containers in this pod.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.SeccompProfile'
        supplementalGroups:
          description: 'A list of groups applied to the first process run in each container, in addition

            to the container''s primary GID.  If unspecified, no groups will be added to

            any container.

            +optional'
          type: array
          items:
            type: integer
        sysctls:
          description: 'Sysctls hold a list of namespaced sysctls used for the pod. Pods with unsupported

            sysctls (by the container runtime) might fail to launch.

            +optional'
          type: array
          items:
            $ref: '#/components/schemas/v1.Sysctl'
        windowsOptions:
          description: 'The Windows specific settings applied to all containers.

            If unspecified, the options within a container''s SecurityContext will be used.

            If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.WindowsSecurityContextOptions'
    faulttemplate.Auth:
      type: object
      properties:
        aws:
          $ref: '#/components/schemas/faulttemplate.AWSAuth'
        azure:
          $ref: '#/components/schemas/faulttemplate.AzureAuth'
        gcp:
          $ref: '#/components/schemas/faulttemplate.GCPAuth'
        redis:
          $ref: '#/components/schemas/faulttemplate.RedisAuth'
        ssh:
          $ref: '#/components/schemas/faulttemplate.SSHAuth'
        vmware:
          $ref: '#/components/schemas/faulttemplate.VMWareAuth'
    faulttemplate.Spec:
      type: object
      properties:
        chaos:
          $ref: '#/components/schemas/faulttemplate.ChaosSpec'
        target:
          $ref: '#/components/schemas/faulttemplate.Target'
    v1.ObjectFieldSelector:
      type: object
      properties:
        apiVersion:
          description: 'Version of the schema the FieldPath is written in terms of, defaults to "v1".

            +optional'
          type: string
        fieldPath:
          description: Path of the field to select in the specified API version.
          type: string
    v1.ResourceFieldSelector:
      type: object
      properties:
        containerName:
          description: 'Container name: required for volumes, optional for env vars

            +optional'
          type: string
        divisor:
          description: 'Specifies the output format of the exposed resources, defaults to "1"

            +optional'
          allOf:
          - $ref: '#/components/schemas/resource.Quantity'
        resource:
          description: 'Required: resource to select'
          type: string
    v1.ConfigMapKeySelector:
      type: object
      properties:
        key:
          description: The key to select.
          type: string
        name:
          description: 'Name of the referent.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

            TODO: Add other useful fields. apiVersion, kind, uid?

            +optional'
          type: string
        optional:
          description: 'Specify whether the ConfigMap or its key must be defined

            +optional'
          type: boolean
    faulttemplate.SSHAuth:
      type: object
      properties:
        key:
          type: string
        password:
          type: string
    faulttemplate.ChaosSpec:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/faulttemplate.Auth'
        faultName:
          type: string
        kubernetes:
          $ref: '#/components/schemas/faulttemplate.ChaosKubernetesSpec'
        params:
          type: array
          items:
            $ref: '#/components/schemas/faulttemplate.ChaosParameter'
        statusCheckTimeouts:
          $ref: '#/components/schemas/faulttemplate.StatusCheckTimeout'
        tls:
          $ref: '#/components/schemas/faulttemplate.TLS'
    fault.TemplateReference:
      type: object
      properties:
        hubIdentity:
          type: string
        identity:
          type: string
        organizationIdentifier:
          type: string
        projectIdentifier:
          type: string
        revision:
          type: string
    github_com_harness_hce-saas_graphql_server_api.Empty:
      type: object
    chaosfault.UpdateFaultResponse:
      type: object
      required:
      - identity
      - name
      properties:
        apiVersion:
          type: string
        category:
          type: array
          items:
            type: string
        correlationID:
          type: string
        description:
          type: string
        identity:
          type: string
        importType:
          $ref: '#/components/schemas/common.ImportType'
        infraType:
          type: string
        infras:
          type: array
          items:
            type: string
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
        kind:
          type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/fault.Link'
        name:
          type: string
        permissionsRequired:
          type: string
        spec:
          $ref: '#/components/schemas/faulttemplate.Spec'
        tags:
          type: array
          items:
            type: string
        templateReference:
          $ref: '#/components/schemas/fault.TemplateReference'
        type:
          type: string
        updatedAt:
          type: integer
        values:
          type: array
          items:
            $ref: '#/components/schemas/template.VariableMinimum'
        variables:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
    v1.WindowsSecurityContextOptions:
      type: object
      properties:
        gmsaCredentialSpec:
          description: 'GMSACredentialSpec is where the GMSA admission webhook

            (https://github.com/kubernetes-sigs/windows-gmsa) inlines the contents of the

            GMSA credential spec named by the GMSACredentialSpecName field.

            +optional'
          type: string
        gmsaCredentialSpecName:
          description: 'GMSACredentialSpecName is the name of the GMSA credential spec to use.

            +optional'
          type: string
        runAsUserName:
          description: 'The UserName in Windows to run the entrypoint of the container process.

            Defaults to the user specified in image metadata if unspecified.

            May also be set in PodSecurityContext. If set in both SecurityContext and

            PodSecurityContext, the value specified in SecurityContext takes precedence.

            +optional'
          type: string
    chaosfaulttemplate.CreateFaultTemplateRequest:
      type: object
      required:
      - identity
      - name
      properties:
        apiVersion:
          type: string
        category:
          type: array
          items:
            type: string
        description:
          type: string
        identity:
          type: string
        infraType:
          type: string
        infras:
          type: array
          items:
            type: string
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
        isDefault:
          type: boolean
        keywords:
          type: array
          items:
            type: string
        kind:
          type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/faulttemplate.Link'
        name:
          type: string
        permissionsRequired:
          type: string
        platforms:
          type: array
          items:
            type: string
        revision:
          type: string
        spec:
          $ref: '#/components/schemas/faulttemplate.Spec'
        tags:
          type: array
          items:
            type: string
        type:
          type: string
        variables:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
    chaosfaulttemplate.FaultTemplateVariables:
      type: object
      properties:
        correlationID:
          type: string
        faultAuthentication:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
        faultTargets:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
        faultTunable:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
        variables:
          description: CHAOS-11100
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
    faulttemplate.GCPAuth:
      type: object
      properties:
        identifier:
          type: string
    faulttemplate.VMWareAuth:
      type: object
      properties:
        govcPassword:
          type: string
        govcUrl:
          type: string
        govcUsername:
          type: string
        vCenterPassword:
          type: string
        vCenterServer:
          type: string
        vCenterUsername:
          type: string
        vmPassword:
          type: string
    chaosfaulttemplate.GetFaultTemplateResponse:
      type: object
      properties:
        correlationID:
          type: string
        data:
          $ref: '#/components/schemas/chaosfaulttemplate.ChaosFaultTemplate'
        fault:
          $ref: '#/components/schemas/faulttemplate.FaultTemplate'
    v1.SecretKeySelector:
      type: object
      properties:
        key:
          description: The key of the secret to select from.  Must be a valid secret key.
          type: string
        name:
          description: 'Name of the referent.

            More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

            TODO: Add other useful fields. apiVersion, kind, uid?

            +optional'
          type: string
        optional:
          description: 'Specify whether the Secret or its key must be defined

            +optional'
          type: boolean
    v1.SELinuxOptions:
      type: object
      properties:
        level:
          description: 'Level is SELinux level label that applies to the container.

            +optional'
          type: string
        role:
          description: 'Role is a SELinux role label that applies to the container.

            +optional'
          type: string
        type:
          description: 'Type is a SELinux type label that applies to the container.

            +optional'
          type: string
        user:
          description: 'User is a SELinux user label that applies to the container.

            +optional'
          type: string
    chaosfaulttemplate.CreateFaultTemplateResponse:
      type: object
      required:
      - identity
      - name
      properties:
        apiVersion:
          type: string
        category:
          type: array
          items:
            type: string
        correlationID:
          type: string
        description:
          type: string
        hubIdentity:
          type: string
        identity:
          type: string
        infraType:
          type: string
        infras:
          type: array
          items:
            type: string
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
        isDefault:
          type: boolean
        keywords:
          type: array
          items:
            type: string
        kind:
          type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/faulttemplate.Link'
        name:
          type: string
        permissionsRequired:
          type: string
        platforms:
          type: array
          items:
            type: string
        revision:
          type: string
        spec:
          $ref: '#/components/schemas/faulttemplate.Spec'
        tags:
          type: array
          items:
            type: string
        type:
          type: string
        variables:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
    faulttemplate.AzureAuth:
      type: object
      properties:
        identifier:
          type: string
    faulttemplate.KubernetesTarget:
      type: object
      properties:
        kind:
          type: string
        labels:
          type: string
        names:
          type: string
        namespace:
          type: string
    v1.SecurityContext:
      type: object
      properties:
        allowPrivilegeEscalation:
          description: 'AllowPrivilegeEscalation controls whether a process can gain more

            privileges than its parent process. This bool directly controls if

            the no_new_privs flag will be set on the container process.

            AllowPrivilegeEscalation is true always when the container is:

            1) run as Privileged

            2) has CAP_SYS_ADMIN

            +optional'
          type: boolean
        capabilities:
          description: 'The capabilities to add/drop when running containers.

            Defaults to the default set of capabilities granted by the container runtime.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.Capabilities'
        privileged:
          description: 'Run container in privileged mode.

            Processes in privileged containers are essentially equivalent to root on the host.

            Defaults to false.

            +optional'
          type: boolean
        procMount:
          description: 'procMount denotes the type of proc mount to use for the containers.

            The default is DefaultProcMount which uses the container runtime defaults for

            readonly paths and masked paths.

            This requires the ProcMountType feature flag to be enabled.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.ProcMountType'
        readOnlyRootFilesystem:
          description: 'Whether this container has a read-only root filesystem.

            Default is false.

            +optional'
          type: boolean
        runAsGroup:
          description: 'The GID to run the entrypoint of the container process.

            Uses runtime default if unset.

            May also be set in PodSecurityContext.  If set in both SecurityContext and

            PodSecurityContext, the value specified in SecurityContext takes precedence.

            +optional'
          type: integer
        runAsNonRoot:
          description: 'Indicates that the container must run as a non-root user.

            If true, the Kubelet will validate the image at runtime to ensure that it

            does not run as UID 0 (root) and fail to start the container if it does.

            If unset or false, no such validation will be performed.

            May also be set in PodSecurityContext.  If set in both SecurityContext and

            PodSecurityContext, the value specified in SecurityContext takes precedence.

            +optional'
          type: boolean
        runAsUser:
          description: 'The UID to run the entrypoint of the container process.

            Defaults to user specified in image metadata if unspecified.

            May also be set in PodSecurityContext.  If set in both SecurityContext and

            PodSecurityContext, the value specified in SecurityContext takes precedence.

            +optional'
          type: integer
        seLinuxOptions:
          description: 'The SELinux context to be applied to the container.

            If unspecified, the container runtime will allocate a random SELinux context for each

            container.  May also be set in PodSecurityContext.  If set in both SecurityContext and

            PodSecurityContext, the value specified in SecurityContext takes precedence.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.SELinuxOptions'
        seccompProfile:
          description: 'The seccomp options to use by this container. If seccomp options are

            provided at both the pod & container level, the container options

            override the pod options.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.SeccompProfile'
        windowsOptions:
          description: 'The Windows specific settings applied to all containers.

            If unspecified, the options from the PodSecurityContext will be used.

            If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence.

            +optional'
          allOf:
          - $ref: '#/components/schemas/v1.WindowsSecurityContextOptions'
    v1.TolerationOperator:
      type: string
      enum:
      - Exists
      - Equal
      x-enum-varnames:
      - TolerationOpExists
      - TolerationOpEqual
    faulttemplate.ConfigMapVolume:
      type: object
      properties:
        mountMode:
          type: integer
        mountPath:
          type: string
        name:
          type: string
    chaosfaulttemplate.FaultTemplateYaml:
      type: object
      properties:
        correlationID:
          type: string
        template:
          type: string
    chaosfaulttemplate.Link:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
    faulttemplate.Target:
      type: object
      properties:
        application:
          $ref: '#/components/schemas/faulttemplate.ApplicationTarget'
        kubernetes:
          type: array
          items:
            $ref: '#/components/schemas/faulttemplate.KubernetesTarget'
    faulttemplate.Link:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
    v1.HostPathType:
      type: string
      enum:
      - ''
      - DirectoryOrCreate
      - Directory
      - FileOrCreate
      - File
      - Socket
      - CharDevice
      - BlockDevice
      x-enum-varnames:
      - HostPathUnset
      - HostPathDirectoryOrCreate
      - HostPathDirectory
      - HostPathFileOrCreate
      - HostPathFile
      - HostPathSocket
      - HostPathCharDev
      - HostPathBlockDev
    faulttemplate.ChaosKubernetesSpec:
      type: object
      properties:
        annotations:
          type: object
          additionalProperties:
            type: string
        args:
          type: array
          items:
            type: string
        command:
          type: array
          items:
            type: string
        configMapVolume:
          type: array
          items:
            $ref: '#/components/schemas/faulttemplate.ConfigMapVolume'
        containerSecurityContext:
          $ref: '#/components/schemas/v1.SecurityContext'
        env:
          type: array
          items:
            $ref: '#/components/schemas/k8s_io_api_core_v1.EnvVar'
        hostIPC:
          type: boolean
        hostNetwork:
          type: boolean
        hostPID:
          type: boolean
        hostPathVolume:
          type: array
          items:
            $ref: '#/components/schemas/faulttemplate.HostPathVolume'
        image:
          type: string
        imagePullPolicy:
          $ref: '#/components/schemas/v1.PullPolicy'
        imagePullSecrets:
          type: array
          items:
            type: string
        labels:
          type: object
          additionalProperties:
            type: string
        nodeSelector:
          type: object
          additionalProperties:
            type: string
        podSecurityContext:
          $ref: '#/components/schemas/v1.PodSecurityContext'
        resourceRequirements:
          $ref: '#/components/schemas/faulttemplate.ResourceRequirements'
        secretVolume:
          type: array
          items:
            $ref: '#/components/schemas/faulttemplate.SecretVolume'
        toleration:
          type: array
          items:
            $ref: '#/components/schemas/v1.Toleration'
    github_com_harness_hce-saas_graphql_server_api.Pagination:
      type: object
      properties:
        index:
          type: integer
        limit:
          type: integer
        totalItems:
          type: integer
        totalPages:
          type: integer
    chaosfaulttemplate.FaultTemplateCategoriesCount:
      type: object
      properties:
        AWS:
          type: integer
        Azure:
          type: integer
        BYOC:
          type: integer
        Cloud Foundry:
          type: integer
        GCP:
          type: integer
        Kube Resilience:
          type: integer
        Kubernetes:
          type: integer
        Linux:
          type: integer
        Load:
          type: integer
        SSH:
          type: integer
        Spring Boot:
          type: integer
        VMWare:
          type: integer
        Windows:
          type: integer
    chaosfault.UpdateFaultRequest:
      type: object
      required:
      - identity
      - name
      properties:
        apiVersion:
          type: string
        category:
          type: array
          items:
            type: string
        description:
          type: string
        identity:
          type: string
        importType:
          $ref: '#/components/schemas/common.ImportType'
        infraType:
          type: string
        infras:
          type: array
          items:
            type: string
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
        kind:
          type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/fault.Link'
        name:
          type: string
        permissionsRequired:
          type: string
        spec:
          $ref: '#/components/schemas/faulttemplate.Spec'
        tags:
          type: array
          items:
            type: string
        templateReference:
          $ref: '#/components/schemas/fault.TemplateReference'
        type:
          type: string
        updatedAt:
          type: integer
        values:
          type: array
          items:
            $ref: '#/components/schemas/template.VariableMinimum'
        variables:
          type: array
          items:
            $ref: '#/components/schemas/template.Variable'
    template.VariableMinimum:
      type: object
      required:
      - name
      - value
      properties:
        name:
          type: string
        value: {}
    common.ImportType:
      type: string
      enum:
      - LOCAL
      - REFERENCE
      x-enum-varnames:
      - ImportTypeLocal
      - ImportTypeReference
    template.InputType:
      type: string
      enum:
      - String
      - Integer
      - Boolean
      - Number
      - SecretFile
      - SecretText
      x-enum-varnames:
      - StringInput
      - IntegerInput
      - BooleanInput
      - NumberInput
      - SecretFileInput
      - SecretTextInput
    faulttemplate.TLS:
      type: object
      properties:
        caFile:
          type: string
        certFile:
          type: string
        clientCertFile:
          type: string
        keyFile:
          type: string
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
