openapi: 3.2.0
info:
  title: Harness Migration State API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- description: This contains APIs for getting Migration State of Database Schema Entity
  name: Migration State
  x-displayName: Migration State
paths:
  /v1/orgs/{org}/projects/{project}/dbschema/{dbschema}/dbinstance/{dbinstance}/changeset/sql:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/DBSchemaParam'
    - $ref: '#/components/parameters/DBInstanceParam'
    - $ref: '#/components/parameters/DbOpsAccountHeader'
    post:
      description: Fetch SQL changesets
      operationId: V1FetchDeployedChangesetSql
      parameters:
      - $ref: '#/components/parameters/DbOpsPageIndex'
      - $ref: '#/components/parameters/DbOpsLimit'
      requestBody:
        $ref: '#/components/requestBodies/FetchSQLStatementRequest'
      responses:
        '200':
          $ref: '#/components/responses/FetchSQLStatementResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Fetch SQL changesets of a instance
      tags:
      - Migration State
      x-internal: false
      x-stoplight:
        id: odqwzclbjkd20
  /v1/orgs/{org}/projects/{project}/dbschema/{dbschema}/dbinstance/{dbinstance}/changeset/yaml:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/DBSchemaParam'
    - $ref: '#/components/parameters/DBInstanceParam'
    - $ref: '#/components/parameters/DbOpsAccountHeader'
    get:
      operationId: V1ChangesetYamlProjDbInstance
      parameters:
      - $ref: '#/components/parameters/ChangeSetParam'
      responses:
        '200':
          $ref: '#/components/responses/ChangeSetDeploymentYamlResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: ChangeSet deployment yaml for an instance
      tags:
      - Migration State
      x-internal: false
      x-stoplight:
        id: inxq15g516opv
  /v1/orgs/{org}/projects/{project}/dbschema/{dbschema}/dbinstance/{dbinstance}/flyway/migrationstate:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/DBSchemaParam'
    - $ref: '#/components/parameters/DBInstanceParam'
    - $ref: '#/components/parameters/DbOpsAccountHeader'
    get:
      operationId: V1MigrationStateFlywayInstance
      parameters:
      - $ref: '#/components/parameters/DbOpsPageIndex'
      - $ref: '#/components/parameters/DbOpsLimit'
      - $ref: '#/components/parameters/DbOpsSearchTerm'
      responses:
        '200':
          $ref: '#/components/responses/FlywayInstanceMigrationStateResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Flyway Migration state of an instance
      tags:
      - Migration State
      x-internal: false
      x-stoplight:
        id: vhpokud3f3azk
  /v1/orgs/{org}/projects/{project}/dbschema/{dbschema}/dbinstance/{dbinstance}/migrationstate:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/DBSchemaParam'
    - $ref: '#/components/parameters/DBInstanceParam'
    - $ref: '#/components/parameters/DbOpsAccountHeader'
    get:
      operationId: V1MigrationStateProjDbInstance
      parameters:
      - $ref: '#/components/parameters/DbOpsPageIndex'
      - $ref: '#/components/parameters/DbOpsLimit'
      - $ref: '#/components/parameters/DbOpsSearchTerm'
      responses:
        '200':
          $ref: '#/components/responses/InstanceMigrationStateResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Migration state of a instance
      tags:
      - Migration State
      x-internal: false
      x-stoplight:
        id: 3lep3gv4fv11g
  /v1/orgs/{org}/projects/{project}/dbschema/{dbschema}/flyway/migrationstate:
    parameters:
    - $ref: '#/components/parameters/OrgParam'
    - $ref: '#/components/parameters/ProjectParam'
    - $ref: '#/components/parameters/DBSchemaParam'
    - $ref: '#/components/parameters/DbOpsAccountHeader'
    post:
      operationId: V1MigrationStateFlywaySchema
      parameters:
      - $ref: '#/components/parameters/DbOpsPageIndex'
      - $ref: '#/components/parameters/DbOpsLimit'
      - $ref: '#/components/parameters/DbOpsSearchTerm'
      requestBody:
        $ref: '#/components/requestBodies/MigrationStateGetRequest'
      responses:
        '200':
          $ref: '#/components/responses/FlywayMigrationStateResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Migration state of a flyway schema
      tags:
      - Migration State
      x-internal: false
      x-stoplight:
        id: djk22s85u9rj4
  /v1/orgs/{org}/projects/{project}/dbschema/{dbschema}/migrationstate:
    parameters:
    - description: Organization identifier
      in: path
      name: org
      required: true
      schema:
        type: string
    - description: Project identifier
      in: path
      name: project
      required: true
      schema:
        type: string
    - description: Identifier of the database schema
      in: path
      name: dbschema
      required: true
      schema:
        type: string
    - description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
      in: header
      name: Harness-Account
      schema:
        type: string
    post:
      operationId: V1MigrationStateProjDbSchema
      parameters:
      - $ref: '#/components/parameters/DbOpsPageIndex'
      - $ref: '#/components/parameters/DbOpsLimit'
      - $ref: '#/components/parameters/DbOpsSearchTerm'
      requestBody:
        $ref: '#/components/requestBodies/MigrationStateGetRequest'
      responses:
        '200':
          $ref: '#/components/responses/MigrationStateResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      summary: Migration state of a schema
      tags:
      - Migration State
      x-internal: false
      x-stoplight:
        id: esgkki234aa1u
components:
  responses:
    FlywayInstanceMigrationStateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FlywayInstanceMigrationStateOutput'
      description: Response body for flyway migration state of an instance
      headers:
        X-Page-Number:
          description: Page number in Paginated response.
          schema:
            type: integer
        X-Page-Size:
          description: Maximum page size in Paginated response.
          schema:
            type: integer
        X-Total-Elements:
          description: Total number of elements returned in Paginated response.
          schema:
            type: integer
    ChangeSetDeploymentYamlResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ChangeSetDeploymentYamlOutput'
      description: Response body for changeSet deployment yaml for an instance
    ErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DbOpsError'
      description: Error Response body
    FetchSQLStatementResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeployedChangesetSqlOutput'
      description: Response Body for Fetching SQL statements
      headers:
        X-Page-Number:
          description: Page number in Paginated response.
          schema:
            type: integer
        X-Page-Size:
          description: Maximum page size in Paginated response.
          schema:
            type: integer
        X-Total-Elements:
          description: Total number of elements returned in Paginated response.
          schema:
            type: integer
    FlywayMigrationStateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FlywayMigrationStateOutput'
      description: Response body for flyway migration state of a schema
      headers:
        X-Page-Number:
          description: Page number in Paginated response.
          schema:
            type: integer
        X-Page-Size:
          description: Maximum page size in Paginated response.
          schema:
            type: integer
        X-Total-Elements:
          description: Total number of elements returned in Paginated response.
          schema:
            type: integer
    MigrationStateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MigrationStateOut'
      description: Response body for migration state of a schema
      headers:
        X-Page-Number:
          description: Page number in Paginated response.
          schema:
            type: integer
        X-Page-Size:
          description: Maximum page size in Paginated response.
          schema:
            type: integer
        X-Total-Elements:
          description: Total number of elements returned in Paginated response.
          schema:
            type: integer
    InstanceMigrationStateResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InstanceMigrationStateOut'
      description: Response body for migration state of a instance
      headers:
        X-Page-Number:
          description: Page number in Paginated response.
          schema:
            type: integer
        X-Page-Size:
          description: Maximum page size in Paginated response.
          schema:
            type: integer
        X-Total-Elements:
          description: Total number of elements returned in Paginated response.
          schema:
            type: integer
  parameters:
    DbOpsPageIndex:
      description: 'Pagination page number strategy: Specify the page number within the paginated collection related to the number of items on each page.'
      in: query
      name: page
      schema:
        default: 0
        format: int64
        type: integer
    DBSchemaParam:
      description: Identifier of the database schema
      in: path
      name: dbschema
      required: true
      schema:
        maxLength: 128
        type: string
    DbOpsLimit:
      description: 'Pagination: Number of items to return.'
      in: query
      name: limit
      schema:
        default: 10
        maximum: 100
        type: integer
    OrgParam:
      description: Organization identifier
      in: path
      name: org
      required: true
      schema:
        type: string
    ChangeSetParam:
      description: 'FQN of the changeSet deployed. It is the combination of fileName, changeSetId and author separated by ::'
      in: query
      name: changeSet
      required: true
      schema:
        example: folder1/fileName.yaml::changeSet1::author1
        type: string
    DbOpsSearchTerm:
      allowEmptyValue: true
      description: This would be used to filter resources having attributes matching the search term.
      in: query
      name: search_term
      schema:
        type: string
    DBInstanceParam:
      description: database instance unique id
      in: path
      name: dbinstance
      required: true
      schema:
        type: string
    ProjectParam:
      description: Project identifier
      in: path
      name: project
      required: true
      schema:
        type: string
    DbOpsAccountHeader:
      description: Identifier field of the account the resource is scoped to. This is required for Authorization methods other than the x-api-key header. If you are using the x-api-key header, this can be skipped.
      in: header
      name: Harness-Account
      schema:
        type: string
  schemas:
    SortInstance:
      default: identifier
      description: sort for instance entity
      enum:
      - name
      - updated
      - created
      - identifier
      title: SortInstance
      type: string
      x-stoplight:
        id: zhl6a0ksg19p2
    DbOpsError:
      description: Error Response
      properties:
        message:
          description: error message detail
          type: string
      required:
      - message
      title: Error Response
      type: object
      x-stoplight:
        id: 61cwtgnps2mpt
    InstanceDetail:
      description: Name and identifier of instance
      properties:
        identifier:
          type: string
          x-stoplight:
            id: 31d4qf39t64hx
        name:
          type: string
          x-stoplight:
            id: zvigh51qdhg7m
      required:
      - identifier
      - name
      title: InstanceDetail
      type: object
      x-stoplight:
        id: b0ge7609tlr6s
    ChangeSetDeploymentYamlOutput:
      description: ChangeSet deployment yaml info for an instance
      properties:
        yaml:
          type: string
          x-stoplight:
            id: 7py9a7unyct0j
      required:
      - yaml
      title: ChangeSetDeploymentYamlOutput
      type: object
      x-stoplight:
        id: jt9d8omo9k85a
    InstanceMigrationStateOut:
      description: Change Set deployment info for a instance
      properties:
        changeSets:
          items:
            $ref: '#/components/schemas/InstanceMigrationStateChangeSet'
          type: array
        instanceName:
          description: Name of the Instance
          type: string
          x-stoplight:
            id: 9ysq7wf9p1keo
        schemaName:
          description: Name of the Schema
          type: string
          x-stoplight:
            id: wjdx4nkmfse8q
      required:
      - schemaName
      - instanceName
      title: InstanceMigrationStateOut
      type: object
      x-stoplight:
        id: o8h98fwt2xvn0
    FlywayMigrationStateOutput:
      description: Flyway Migration Applied for a schema information
      properties:
        instances:
          items:
            $ref: '#/components/schemas/InstanceDetail'
          type: array
        migrations:
          items:
            $ref: '#/components/schemas/FlywayAppliedMigration'
          type: array
        schema:
          description: Identifier of the Schema
          type: string
      required:
      - schema
      title: FlywayMigrationStateOutput
      type: object
      x-stoplight:
        id: xgkxp7yuo88w8
    MigrationStateInstance:
      description: Change Set Deployment info of instance
      properties:
        error:
          type: string
          x-stoplight:
            id: lwtp6ijz0wb0y
        instance:
          description: Identfier of the instance
          type: string
          x-stoplight:
            id: 0v28kt08qg9bv
        pipeline:
          type: string
          x-stoplight:
            id: ons3mctnaool3
        planExecutionId:
          type: string
          x-stoplight:
            id: lebh5202yl46k
        stageExecutionId:
          type: string
          x-stoplight:
            id: c44thbf6c2mw6
        status:
          $ref: '#/components/schemas/ChangeSetDeploymentStatus'
        tag:
          type: string
          x-stoplight:
            id: 3bkegz2orl3se
        updated:
          description: 'Time of last Change Set Deployment/Rollback attempt '
          format: int64
          type: integer
          x-stoplight:
            id: 67g7rn5rj6k6y
      required:
      - instance
      - status
      - pipeline
      - planExecutionId
      - stageExecutionId
      title: MigrationStateInstance
      type: object
      x-stoplight:
        id: 0tdlaexf41tyg
    MigrationStateChangeSet:
      description: Deployment info of Change Sets across instances
      properties:
        author:
          type: string
          x-stoplight:
            id: mob4f4s0lovhs
        changeSet:
          description: Identifier of the Change Set
          type: string
          x-stoplight:
            id: 44ec50vd5krrf
        changeSetFQN:
          description: changesetFQN is a unique identifier for database changesets in the format filename::changesetId::author
          type: string
          x-stoplight:
            id: imclno1hwt5tu
        fileName:
          type: string
          x-stoplight:
            id: 31qx3sb0zigel
        instances:
          items:
            $ref: '#/components/schemas/MigrationStateInstance'
          type: array
          x-stoplight:
            id: k3xi8j4pkqn48
        synced:
          default: false
          description: If Change Set is successfully deployed to all instances
          type: boolean
          x-stoplight:
            id: fwvilhcjrnzuk
        updated:
          format: int64
          type: integer
          x-stoplight:
            id: 3pq420g29khfg
      required:
      - changeSet
      - synced
      - instances
      - updated
      - author
      - fileName
      - changeSetFQN
      title: MigrationStateChangeSet
      type: object
      x-stoplight:
        id: lu7ke7g87jfq3
    DeployedChangesetSqlOutput:
      description: Response Body for Fetching SQL statements
      properties:
        sql:
          items:
            type: string
            x-stoplight:
              id: 8r7yk67k7rcj4
          type: array
          x-stoplight:
            id: frzyxa67l6mgs
      title: DeployedChangesetSqlOutput
      type: object
      x-stoplight:
        id: nazria0es5v7a
    MigrationStateOut:
      description: Change Set deployment info for a schema
      properties:
        changeSets:
          items:
            $ref: '#/components/schemas/MigrationStateChangeSet'
          type: array
          x-stoplight:
            id: nur8lhmmq4k80
        instances:
          items:
            $ref: '#/components/schemas/InstanceDetail'
          type: array
          x-stoplight:
            id: c4j467g3ps0hq
        schema:
          description: Identifier of the Schema
          type: string
          x-stoplight:
            id: c2cmn4x96fces
      required:
      - schema
      title: MigrationStateOut
      type: object
      x-stoplight:
        id: vvx7j4u21jjs5
    MigrationStateIn:
      description: Get migration state request input
      properties:
        instanceFilter:
          $ref: '#/components/schemas/MigrationStateInstanceIn'
      title: MigrationStateIn
      type: object
      x-stoplight:
        id: h52h1mz8ooyrq
    FlywayAppliedMigration:
      description: Flyway Migration Applied across instances
      properties:
        deployedAt:
          description: epoch seconds when the migration was applied
          format: int64
          type: integer
          x-stoplight:
            id: 4kri35ly1bu13
        description:
          description: Description from the migration script
          type: string
          x-stoplight:
            id: j441zdnie8cz5
        instances:
          items:
            $ref: '#/components/schemas/MigrationStateInstance'
          type: array
        type:
          description: type of migration, whether baseline or actual script migration
          type: string
          x-stoplight:
            id: vd1l0hxbyh1jo
        version:
          description: version of flyway migration script
          type: string
          x-stoplight:
            id: afvsk2s9szjtg
      required:
      - version
      - type
      - instances
      - deployedAt
      title: FlywayAppliedMigration
      type: object
      x-stoplight:
        id: bulact1cpjm6y
    FlywayInstanceMigrationState:
      description: Flyway Migration info across instances
      properties:
        deployedAt:
          description: epoch seconds when the migration was applied
          format: int64
          type: integer
          x-stoplight:
            id: y5dcxrdnpkj2s
        description:
          description: description from the migration script
          type: string
          x-stoplight:
            id: jxfb7x0il5d8x
        pipelineExecutionId:
          description: pipeline execution Id of the pipeline execution
          type: string
          x-stoplight:
            id: nl3tbc8ky9z29
        pipelineIdentifier:
          description: Pipeline Identifier of the pipeline
          type: string
          x-stoplight:
            id: 7yznflsxa3rmo
        stageExecutionId:
          description: stage execution id of the pipeline execution
          type: string
          x-stoplight:
            id: 4w1h3pkeox906
        status:
          $ref: '#/components/schemas/ChangeSetDeploymentStatus'
        type:
          description: type of migration, whether baseline or actual script migration
          type: string
          x-stoplight:
            id: t92umjixnxvev
        version:
          description: version of flyway migration script
          type: string
          x-stoplight:
            id: jjipn7ze50192
      required:
      - version
      - type
      - status
      - deployedAt
      - pipelineIdentifier
      - pipelineExecutionId
      - stageExecutionId
      title: FlywayInstanceMigrationState
      type: object
      x-stoplight:
        id: i514k037o2es2
    FlywayInstanceMigrationStateOutput:
      description: Flyway Migration info across schema and instance
      properties:
        instanceName:
          description: Name of the Instance
          type: string
        migrations:
          items:
            $ref: '#/components/schemas/FlywayInstanceMigrationState'
          type: array
        schemaName:
          description: Name of the Schema
          type: string
      required:
      - schemaName
      - instanceName
      title: FlywayInstanceMigrationStateOutput
      type: object
      x-stoplight:
        id: rono2ypcjrfuh
    ChangeSetDeploymentStatus:
      description: Status of change set deployment
      enum:
      - Rolled_Back
      - Successfully_Deployed
      - Not_Deployed
      - Deployment_Failed
      title: ChangeSetDeploymentStatus
      type: string
      x-stoplight:
        id: f4whxki5b4cp1
    OrderInstance:
      default: ASC
      description: order of instance entity
      enum:
      - DESC
      - ASC
      title: OrderInstance
      type: string
      x-stoplight:
        id: l0hdqldkwdms9
    InstanceMigrationStateChangeSet:
      description: Deployment info of Change Sets across instances
      properties:
        author:
          type: string
        changeSet:
          description: Identifier of the Change Set
          type: string
        changeSetFQN:
          type: string
          x-stoplight:
            id: 4z9kxognzb0di
        comment:
          description: comment defined in changeSet
          type: string
          x-stoplight:
            id: 74w4qvz4i3p78
        deployedAt:
          format: int64
          type: integer
          x-stoplight:
            id: 2agm7gbw2pq9k
        fileName:
          type: string
        label:
          description: label defined in changeSet
          type: string
          x-stoplight:
            id: 15ozawdz45jq4
        pipeline:
          type: string
          x-stoplight:
            id: ow7y4tlbwll6s
        planExecutionId:
          type: string
          x-stoplight:
            id: 0r1nyz293ph4h
        stageExecutionId:
          type: string
          x-stoplight:
            id: 9nqtr1j9uiers
        status:
          $ref: '#/components/schemas/ChangeSetDeploymentStatus'
        tag:
          type: string
          x-stoplight:
            id: olwe8u50gytkp
      required:
      - changeSet
      - deployedAt
      - author
      - fileName
      - status
      - pipeline
      - planExecutionId
      - stageExecutionId
      - changeSetFQN
      title: InstanceMigrationStateChangeSet
      type: object
      x-stoplight:
        id: vfjspbwnr93bq
    MigrationStateInstanceIn:
      description: Get migration state request instance input
      properties:
        instances:
          items:
            type: string
            x-stoplight:
              id: u06e41dzptghg
          type: array
          x-stoplight:
            id: xgfy8jpfw9mll
        order:
          $ref: '#/components/schemas/OrderInstance'
        sort:
          $ref: '#/components/schemas/SortInstance'
      title: MigrationStateInstanceIn
      type: object
      x-stoplight:
        id: 7mrokzsmxkufd
  requestBodies:
    MigrationStateGetRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MigrationStateIn'
      description: Inputs to get migration state of schema
    FetchSQLStatementRequest:
      content:
        application/json:
          schema:
            properties:
              changesetFQN:
                minLength: 1
                type: string
                x-stoplight:
                  id: dcbwmse6c7iw6
            required:
            - changesetFQN
            type: object
      description: Request Body for Fetching SQL statements
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
