openapi: 3.2.0
info:
  title: Harness Rollback API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Rollback
  description: This contains APIs related to Post Prod Rollback of specific service
paths:
  /ng/api/rollback/check:
    post:
      tags:
      - Rollback
      summary: Verification for rollback eligibility for service
      operationId: checkIfInstanceCanBeRolledBack
      parameters:
      - name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        schema:
          type: string
      - name: projectIdentifier
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostProdRollbackRequestDTO'
        required: true
      responses:
        default:
          description: Return details on whether rollback is allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPostProdRollbackCheckDTO'
  /ng/api/rollback/trigger:
    post:
      tags:
      - Rollback
      summary: Trigger the rollback for specific service
      operationId: triggerRollback
      parameters:
      - name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        schema:
          type: string
      - name: projectIdentifier
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostProdRollbackRequestDTO'
        required: true
      responses:
        default:
          description: Return status of triggered rollback
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPostProdRollbackResponseDTO'
  /ng/api/rollback/trigger/v2:
    post:
      tags:
      - Rollback
      summary: Trigger the rollback for specific service to an environment
      operationId: triggerRollbackV2
      parameters:
      - name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        schema:
          type: string
      - name: projectIdentifier
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RollbackRequestDTO'
        required: true
      responses:
        default:
          description: Return status of triggered rollback
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTORollbackResponseDTO'
  /ng/api/rollback/trigger/v3:
    post:
      tags:
      - Rollback
      summary: Trigger rollback for multiple targets using the same semantics as v2 (latest…
      operationId: triggerRollbackV3
      parameters:
      - name: accountIdentifier
        in: query
        required: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        schema:
          type: string
      - name: projectIdentifier
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRollbackRequestDTO'
        required: true
      responses:
        default:
          description: Return per-target rollback status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOBatchRollbackResponseDTO'
components:
  schemas:
    BatchRollbackRequestDTO:
      required:
      - targets
      type: object
      properties:
        targets:
          maxItems: 50
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/RollbackRequestDTO'
    ResponseDTOBatchRollbackResponseDTO:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/BatchRollbackResponseDTO'
        metaData:
          type: object
        correlationId:
          type: string
    PostProdRollbackRequestDTO:
      required:
      - infrastructureMappingId
      - instanceKey
      type: object
      properties:
        instanceKey:
          type: string
        infrastructureMappingId:
          type: string
    PostProdRollbackCheckDTO:
      type: object
      properties:
        isRollbackAllowed:
          type: boolean
          writeOnly: true
        message:
          type: string
        swimLaneInfo:
          $ref: '#/components/schemas/PostProdRollbackSwimLaneInfo'
        rollbackAllowed:
          type: boolean
    ResponseDTOPostProdRollbackCheckDTO:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/PostProdRollbackCheckDTO'
        metaData:
          type: object
        correlationId:
          type: string
    BatchRollbackResponseDTO:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/RollbackResponseDTO'
        totalRollbacksTriggered:
          type: integer
          format: int32
        totalRollbacksFailed:
          type: integer
          format: int32
    PostProdRollbackResponseDTO:
      type: object
      properties:
        isRollbackTriggered:
          type: boolean
          writeOnly: true
        instanceKey:
          type: string
        infraMappingId:
          type: string
        planExecutionId:
          type: string
        message:
          type: string
        rollbackTriggered:
          type: boolean
    RollbackRequestDTO:
      required:
      - envIdentifier
      - serviceIdentifier
      type: object
      properties:
        serviceIdentifier:
          type: string
        envIdentifier:
          type: string
        environmentType:
          type: string
          enum:
          - PreProduction
          - Production
        infraIdentifier:
          type: string
        artifact:
          type: string
        chartVersion:
          type: string
    ResponseDTOPostProdRollbackResponseDTO:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/PostProdRollbackResponseDTO'
        metaData:
          type: object
        correlationId:
          type: string
    ResponseDTORollbackResponseDTO:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - ERROR
        data:
          $ref: '#/components/schemas/RollbackResponseDTO'
        metaData:
          type: object
        correlationId:
          type: string
    PostProdRollbackSwimLaneInfo:
      type: object
    RollbackResponseDTO:
      type: object
      properties:
        isRollbackTriggered:
          type: boolean
          writeOnly: true
        instanceKey:
          type: string
        infraMappingId:
          type: string
        planExecutionId:
          type: string
        message:
          type: string
        serviceIdentifier:
          type: string
        envIdentifier:
          type: string
        environmentType:
          type: string
        infraIdentifier:
          type: string
        rollbackTriggered:
          type: boolean
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
