openapi: 3.2.0
info:
  title: Harness Examples API
  version: '1.0'
  description: The Harness Software Delivery Platform uses OpenAPI Specification v3.0.
  contact:
    name: API Support
    email: contact@harness.io
    url: https://harness.io/
  x-logo:
    url: https://mma.prnewswire.com/media/779232/Harnes_logo_horizontal.jpg?p=facebook
    altText: Harness
  termsOfService: https://harness.io/terms-of-use/
servers:
- url: https://app.harness.io
  description: Harness host URL
- url: https://{vanity}
  description: Vanity URL
  variables:
    vanity:
      default: app.harness.io
security:
- x-api-key: []
tags:
- name: Examples
  description: Example rego policies and corresponding input
paths:
  /pm/api/v1/examples:
    get:
      tags:
      - Examples
      description: list examples
      operationId: examples#list
      parameters:
      - name: accountIdentifier
        in: query
        description: Harness account ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness account ID
          default: ''
          example: eBqAoNchMLKigC_qZ5EdC
        example: eBqAoNchMLKigC_qZ5EdC
      - name: orgIdentifier
        in: query
        description: Harness organization ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness organization ID
          default: ''
          example: test-org
        example: test-org
      - name: projectIdentifier
        in: query
        description: Harness project ID
        allowEmptyValue: true
        schema:
          type: string
          description: Harness project ID
          default: ''
          example: test-project
        example: test-project
      - name: x-api-key
        in: header
        description: Harness PAT key used to perform authorization
        allowEmptyValue: true
        schema:
          type: string
          description: Harness PAT key used to perform authorization
          example: Veniam accusantium dignissimos.
        example: Vitae ab sit et recusandae accusamus molestiae.
      responses:
        '200':
          description: OK response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PolicyExample'
                example:
                - desc: This is a pipeline example
                  input: '{"message": "everyone"}'
                  name: Pipeline example
                  rego: 'package test

                    deny["should say hello world"] {input.message != "world"}'
                  type: pipeline
                  variables:
                  - default:
                    - JiraUpdate
                    - HarnessApproval
                    desc: The required steps that the policy enforces
                    id: requiredsteps
                    name: Required Steps
                    type: selectOne
                    values:
                    - JiraUpdate
                    - HarnessApproval
                  - default:
                    - JiraUpdate
                    - HarnessApproval
                    desc: The required steps that the policy enforces
                    id: requiredsteps
                    name: Required Steps
                    type: selectOne
                    values:
                    - JiraUpdate
                    - HarnessApproval
                  - default:
                    - JiraUpdate
                    - HarnessApproval
                    desc: The required steps that the policy enforces
                    id: requiredsteps
                    name: Required Steps
                    type: selectOne
                    values:
                    - JiraUpdate
                    - HarnessApproval
                  - default:
                    - JiraUpdate
                    - HarnessApproval
                    desc: The required steps that the policy enforces
                    id: requiredsteps
                    name: Required Steps
                    type: selectOne
                    values:
                    - JiraUpdate
                    - HarnessApproval
                - desc: This is a pipeline example
                  input: '{"message": "everyone"}'
                  name: Pipeline example
                  rego: 'package test

                    deny["should say hello world"] {input.message != "world"}'
                  type: pipeline
                  variables:
                  - default:
                    - JiraUpdate
                    - HarnessApproval
                    desc: The required steps that the policy enforces
                    id: requiredsteps
                    name: Required Steps
                    type: selectOne
                    values:
                    - JiraUpdate
                    - HarnessApproval
                  - default:
                    - JiraUpdate
                    - HarnessApproval
                    desc: The required steps that the policy enforces
                    id: requiredsteps
                    name: Required Steps
                    type: selectOne
                    values:
                    - JiraUpdate
                    - HarnessApproval
                  - default:
                    - JiraUpdate
                    - HarnessApproval
                    desc: The required steps that the policy enforces
                    id: requiredsteps
                    name: Required Steps
                    type: selectOne
                    values:
                    - JiraUpdate
                    - HarnessApproval
                  - default:
                    - JiraUpdate
                    - HarnessApproval
                    desc: The required steps that the policy enforces
                    id: requiredsteps
                    name: Required Steps
                    type: selectOne
                    values:
                    - JiraUpdate
                    - HarnessApproval
                - desc: This is a pipeline example
                  input: '{"message": "everyone"}'
                  name: Pipeline example
                  rego: 'package test

                    deny["should say hello world"] {input.message != "world"}'
                  type: pipeline
                  variables:
                  - default:
                    - JiraUpdate
                    - HarnessApproval
                    desc: The required steps that the policy enforces
                    id: requiredsteps
                    name: Required Steps
                    type: selectOne
                    values:
                    - JiraUpdate
                    - HarnessApproval
                  - default:
                    - JiraUpdate
                    - HarnessApproval
                    desc: The required steps that the policy enforces
                    id: requiredsteps
                    name: Required Steps
                    type: selectOne
                    values:
                    - JiraUpdate
                    - HarnessApproval
                  - default:
                    - JiraUpdate
                    - HarnessApproval
                    desc: The required steps that the policy enforces
                    id: requiredsteps
                    name: Required Steps
                    type: selectOne
                    values:
                    - JiraUpdate
                    - HarnessApproval
                  - default:
                    - JiraUpdate
                    - HarnessApproval
                    desc: The required steps that the policy enforces
                    id: requiredsteps
                    name: Required Steps
                    type: selectOne
                    values:
                    - JiraUpdate
                    - HarnessApproval
                - desc: This is a pipeline example
                  input: '{"message": "everyone"}'
                  name: Pipeline example
                  rego: 'package test

                    deny["should say hello world"] {input.message != "world"}'
                  type: pipeline
                  variables:
                  - default:
                    - JiraUpdate
                    - HarnessApproval
                    desc: The required steps that the policy enforces
                    id: requiredsteps
                    name: Required Steps
                    type: selectOne
                    values:
                    - JiraUpdate
                    - HarnessApproval
                  - default:
                    - JiraUpdate
                    - HarnessApproval
                    desc: The required steps that the policy enforces
                    id: requiredsteps
                    name: Required Steps
                    type: selectOne
                    values:
                    - JiraUpdate
                    - HarnessApproval
                  - default:
                    - JiraUpdate
                    - HarnessApproval
                    desc: The required steps that the policy enforces
                    id: requiredsteps
                    name: Required Steps
                    type: selectOne
                    values:
                    - JiraUpdate
                    - HarnessApproval
                  - default:
                    - JiraUpdate
                    - HarnessApproval
                    desc: The required steps that the policy enforces
                    id: requiredsteps
                    name: Required Steps
                    type: selectOne
                    values:
                    - JiraUpdate
                    - HarnessApproval
              example:
              - desc: This is a pipeline example
                input: '{"message": "everyone"}'
                name: Pipeline example
                rego: 'package test

                  deny["should say hello world"] {input.message != "world"}'
                type: pipeline
                variables:
                - default:
                  - JiraUpdate
                  - HarnessApproval
                  desc: The required steps that the policy enforces
                  id: requiredsteps
                  name: Required Steps
                  type: selectOne
                  values:
                  - JiraUpdate
                  - HarnessApproval
                - default:
                  - JiraUpdate
                  - HarnessApproval
                  desc: The required steps that the policy enforces
                  id: requiredsteps
                  name: Required Steps
                  type: selectOne
                  values:
                  - JiraUpdate
                  - HarnessApproval
                - default:
                  - JiraUpdate
                  - HarnessApproval
                  desc: The required steps that the policy enforces
                  id: requiredsteps
                  name: Required Steps
                  type: selectOne
                  values:
                  - JiraUpdate
                  - HarnessApproval
                - default:
                  - JiraUpdate
                  - HarnessApproval
                  desc: The required steps that the policy enforces
                  id: requiredsteps
                  name: Required Steps
                  type: selectOne
                  values:
                  - JiraUpdate
                  - HarnessApproval
              - desc: This is a pipeline example
                input: '{"message": "everyone"}'
                name: Pipeline example
                rego: 'package test

                  deny["should say hello world"] {input.message != "world"}'
                type: pipeline
                variables:
                - default:
                  - JiraUpdate
                  - HarnessApproval
                  desc: The required steps that the policy enforces
                  id: requiredsteps
                  name: Required Steps
                  type: selectOne
                  values:
                  - JiraUpdate
                  - HarnessApproval
                - default:
                  - JiraUpdate
                  - HarnessApproval
                  desc: The required steps that the policy enforces
                  id: requiredsteps
                  name: Required Steps
                  type: selectOne
                  values:
                  - JiraUpdate
                  - HarnessApproval
                - default:
                  - JiraUpdate
                  - HarnessApproval
                  desc: The required steps that the policy enforces
                  id: requiredsteps
                  name: Required Steps
                  type: selectOne
                  values:
                  - JiraUpdate
                  - HarnessApproval
                - default:
                  - JiraUpdate
                  - HarnessApproval
                  desc: The required steps that the policy enforces
                  id: requiredsteps
                  name: Required Steps
                  type: selectOne
                  values:
                  - JiraUpdate
                  - HarnessApproval
              - desc: This is a pipeline example
                input: '{"message": "everyone"}'
                name: Pipeline example
                rego: 'package test

                  deny["should say hello world"] {input.message != "world"}'
                type: pipeline
                variables:
                - default:
                  - JiraUpdate
                  - HarnessApproval
                  desc: The required steps that the policy enforces
                  id: requiredsteps
                  name: Required Steps
                  type: selectOne
                  values:
                  - JiraUpdate
                  - HarnessApproval
                - default:
                  - JiraUpdate
                  - HarnessApproval
                  desc: The required steps that the policy enforces
                  id: requiredsteps
                  name: Required Steps
                  type: selectOne
                  values:
                  - JiraUpdate
                  - HarnessApproval
                - default:
                  - JiraUpdate
                  - HarnessApproval
                  desc: The required steps that the policy enforces
                  id: requiredsteps
                  name: Required Steps
                  type: selectOne
                  values:
                  - JiraUpdate
                  - HarnessApproval
                - default:
                  - JiraUpdate
                  - HarnessApproval
                  desc: The required steps that the policy enforces
                  id: requiredsteps
                  name: Required Steps
                  type: selectOne
                  values:
                  - JiraUpdate
                  - HarnessApproval
              - desc: This is a pipeline example
                input: '{"message": "everyone"}'
                name: Pipeline example
                rego: 'package test

                  deny["should say hello world"] {input.message != "world"}'
                type: pipeline
                variables:
                - default:
                  - JiraUpdate
                  - HarnessApproval
                  desc: The required steps that the policy enforces
                  id: requiredsteps
                  name: Required Steps
                  type: selectOne
                  values:
                  - JiraUpdate
                  - HarnessApproval
                - default:
                  - JiraUpdate
                  - HarnessApproval
                  desc: The required steps that the policy enforces
                  id: requiredsteps
                  name: Required Steps
                  type: selectOne
                  values:
                  - JiraUpdate
                  - HarnessApproval
                - default:
                  - JiraUpdate
                  - HarnessApproval
                  desc: The required steps that the policy enforces
                  id: requiredsteps
                  name: Required Steps
                  type: selectOne
                  values:
                  - JiraUpdate
                  - HarnessApproval
                - default:
                  - JiraUpdate
                  - HarnessApproval
                  desc: The required steps that the policy enforces
                  id: requiredsteps
                  name: Required Steps
                  type: selectOne
                  values:
                  - JiraUpdate
                  - HarnessApproval
        '400':
          description: 'BadRequest: Bad Request response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/PolicyManagementError'
        '401':
          description: 'Unauthorized: Unauthorized response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/PolicyManagementError'
        '403':
          description: 'Forbidden: Forbidden response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/PolicyManagementError'
        '404':
          description: 'NotFound: Not Found response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/PolicyManagementError'
        '500':
          description: 'InternalServer: Internal Server Error response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/PolicyManagementError'
        '502':
          description: 'BadGateway: Bad Gateway response.'
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/PolicyManagementError'
      security:
      - jwt_header_Authorization:
        - core_governancePolicy_view
      - api_key_header_x-api-key: []
      summary: Examples#list
      x-summary-source: derived
components:
  schemas:
    Variable:
      type: object
      properties:
        default:
          type: array
          items:
            type: string
            example: Odio fuga tenetur sed omnis illum.
          description: The values that are selected by default
          example:
          - JiraUpdate
          - HarnessApproval
        desc:
          type: string
          description: Longer description of the variable to substitute
          example: The required steps that the policy enforces
        id:
          type: string
          description: The id of the variable to substitute in the rego
          example: requiredsteps
        name:
          type: string
          description: The human readable name of the variable to substitute in the rego
          example: Required Steps
        type:
          type: string
          description: The variable type
          example: selectOne
          enum:
          - text
          - textMultiple
          - selectOne
          - selectMultiple
        values:
          type: array
          items:
            type: string
            example: Sequi architecto eos ullam rerum.
          description: Pre populated sample values to substitute the variable with
          example:
          - JiraUpdate
          - HarnessApproval
      example:
        default:
        - JiraUpdate
        - HarnessApproval
        desc: The required steps that the policy enforces
        id: requiredsteps
        name: Required Steps
        type: selectOne
        values:
        - JiraUpdate
        - HarnessApproval
    PolicyExample:
      type: object
      properties:
        desc:
          type: string
          description: Longer description of the example
          example: This is a pipeline example
        input:
          type: string
          description: Example input to illustrate the rego policy
          example: '{"message": "everyone"}'
        name:
          type: string
          description: Example name
          example: Pipeline example
        rego:
          type: string
          description: Example rego policy
          example: 'package test

            deny["should say hello world"] {input.message != "world"}'
        type:
          type: string
          description: The type of entity illustrated in this example
          example: pipeline
        variables:
          type: array
          items:
            $ref: '#/components/schemas/Variable'
          description: The list of substitutable variables in the policy example
          example:
          - default:
            - JiraUpdate
            - HarnessApproval
            desc: The required steps that the policy enforces
            id: requiredsteps
            name: Required Steps
            type: selectOne
            values:
            - JiraUpdate
            - HarnessApproval
          - default:
            - JiraUpdate
            - HarnessApproval
            desc: The required steps that the policy enforces
            id: requiredsteps
            name: Required Steps
            type: selectOne
            values:
            - JiraUpdate
            - HarnessApproval
          - default:
            - JiraUpdate
            - HarnessApproval
            desc: The required steps that the policy enforces
            id: requiredsteps
            name: Required Steps
            type: selectOne
            values:
            - JiraUpdate
            - HarnessApproval
          - default:
            - JiraUpdate
            - HarnessApproval
            desc: The required steps that the policy enforces
            id: requiredsteps
            name: Required Steps
            type: selectOne
            values:
            - JiraUpdate
            - HarnessApproval
      description: Example policies and input
      example:
        desc: This is a pipeline example
        input: '{"message": "everyone"}'
        name: Pipeline example
        rego: 'package test

          deny["should say hello world"] {input.message != "world"}'
        type: pipeline
        variables:
        - default:
          - JiraUpdate
          - HarnessApproval
          desc: The required steps that the policy enforces
          id: requiredsteps
          name: Required Steps
          type: selectOne
          values:
          - JiraUpdate
          - HarnessApproval
        - default:
          - JiraUpdate
          - HarnessApproval
          desc: The required steps that the policy enforces
          id: requiredsteps
          name: Required Steps
          type: selectOne
          values:
          - JiraUpdate
          - HarnessApproval
        - default:
          - JiraUpdate
          - HarnessApproval
          desc: The required steps that the policy enforces
          id: requiredsteps
          name: Required Steps
          type: selectOne
          values:
          - JiraUpdate
          - HarnessApproval
        - default:
          - JiraUpdate
          - HarnessApproval
          desc: The required steps that the policy enforces
          id: requiredsteps
          name: Required Steps
          type: selectOne
          values:
          - JiraUpdate
          - HarnessApproval
      required:
      - name
      - desc
      - type
      - rego
      - input
    PolicyManagementError:
      type: object
      properties:
        fault:
          type: boolean
          description: Is the error a server-side fault?
          example: true
        id:
          type: string
          description: ID is a unique identifier for this particular occurrence of the problem.
          example: 123abc
        message:
          type: string
          description: Message is a human-readable explanation specific to this occurrence of the problem.
          example: parameter 'p' must be an integer
        name:
          type: string
          description: Name is the name of this class of errors.
          example: bad_request
        temporary:
          type: boolean
          description: Is the error temporary?
          example: true
        timeout:
          type: boolean
          description: Is the error a timeout?
          example: true
      example:
        fault: false
        id: 123abc
        message: parameter 'p' must be an integer
        name: bad_request
        temporary: true
        timeout: false
      required:
      - name
      - id
      - message
      - temporary
      - timeout
      - fault
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
      description: API key is a token provided while making the API calls. This is used to authenticate the client at the exposed endpoint.
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-stoplight:
  id: oc91t4vrfnjyi
x-tagGroups:
- name: Organizations
  tags:
  - Organization
- name: Projects
  tags:
  - Org Project
  - Project
- name: Secrets
  tags:
  - Account Secret
  - Org Secret
  - Project Secret
  - Secrets
- name: Connectors
  tags:
  - Account Connector
  - Org Connector
  - Project Connector
  - Connectors
  - GoogleSecretManagerConnector
- name: Roles
  tags:
  - Account Roles
  - Organization Roles
  - Project Roles
  - Roles
- name: Resource Groups
  tags:
  - Account Resource Groups
  - Organization Resource Groups
  - Project Resource Groups
  - Filter Resource Groups
  - Harness Resource Group
  - Zendesk
- name: Role Assignments
  tags:
  - Account Role Assignments
  - Org Role Assignments
  - Project Role Assignments
  - Role Assignments
- name: Platform
  tags:
  - Access Control List
  - Account Banner
  - Account Banner
  - Account Licensed Modules
  - Account License Type
  - Account Webhooks
  - AccountSetting
  - Accounts
  - Analyze Account Access Policy
  - Analyze Organization Access Policy
  - Analyze Project Access Policy
  - ApiKey
  - Audit
  - AuditFilters
  - Authentication Settings
  - Canny
  - Devops Essentials License Data By Account
  - EULA
  - Filter
  - Harness Resource Type
  - Invite
  - IP Allowlist
  - Nextgen Ldap
  - Notification Channels
  - Notification Rules
  - OIDC
  - Oidc-Access-Token
  - Oidc-ID-Token
  - Org Webhooks
  - Permissions
  - Project Webhooks
  - Secret Managers
  - Service Account
  - Setting
  - SMTP
  - Source Code Manager
  - Token
  - User
  - User Group
  - Variables
- name: Delegate
  tags:
  - Agent mTLS Endpoint Management
  - Delegate Download Resource
  - Delegate Group Tags Resource
  - Delegate Setup Resource
  - Delegate Token Resource
- name: Pipelines
  tags:
  - Pipelines
  - Input Sets
  - Approvals
  - Pipeline Execution
  - Pipeline Dashboard
  - Pipeline Input Set
  - Pipeline
  - Pipeline Execution Details
  - Pipeline Execute
  - Pipeline Refresh
  - Pipeline data retention
  - Triggers
  - TriggersEvents
  - Webhook Triggers
  - Webhook Event Handler
  - DryRunPipeline
- name: Artifact Registry
  tags:
  - Registries
  - Artifacts
  - Docker Artifacts
  - Helm Artifacts
  - quarantine
  - Webhooks
  - Spaces
  - Replication
  - Registry V3 - Registries
  - Registry V3 - Packages
  - Registry V3 - Versions
  - Registry V3 - Files
  - Registry V3 - Metadata
  - Registry V3 - Firewall
  - Registry V3 - Transfer
- name: Database DevOps
  tags:
  - Database Schema
  - Database Instance
  - Deployed State
  - Execution Config
  - Migration State
- name: CD
  tags:
  - K8s Release Service Mapping
  - CustomDeployment
  - Environments
  - EnvironmentGroup
  - Infrastructures
  - Usage
  - File Store
  - Service Dashboard
  - ServiceOverrides
  - Rollback
  - tas
- name: Deployment Freeze
  tags:
  - Freeze CRUD
  - Freeze Evaluation
  - Freeze Schema
- name: Services
  tags:
  - Account Services
  - Org Services
  - Project Services
  - Services
- name: Rancher Infrastructures
  tags:
  - Account Rancher Infrastructure
  - Org Rancher Infrastructure
  - Project Rancher Infrastructure
- name: Templates
  tags:
  - Account Template
  - Org Template
  - Project Template
  - Templates
  - Global Templates
- name: GitOps
  tags:
  - Agents
  - Application
  - Applications
  - Certificates
  - Clusters
  - Dashboard Aggregates
  - Dashboards
  - GnuPGP Keys
  - GPG Keys
  - Hosts
  - Project mappings
  - Projects
  - Reconciler
  - Repositories
  - Repository Certificates
  - Repository credentials
  - ValidateHost
- name: GitX
  tags:
  - GitX Webhooks
  - Org Gitx Webhooks
  - Project Gitx Webhooks
- name: CACM
  tags:
  - Anomalies Ignorelist Rule
  - Anomalies
  - BI Dashboards
  - Budgets
  - Budget Groups
  - Cost Categories
  - Cloud Accounts
  - K8S Connectors Metadata
  - Notification Settings v2
  - Overview
  - Data Job Status
  - Recommendation cost settings
  - Unit Metric
  - Anomaly Comments
  - Cloud and AI cost anomaly details
  - Cloud and AI cost anomalies v2
  - Cost Details
  - Currency Preferences
  - External Data Provider
  - AiEngine
  - CACM governance cost settings
  - Governance Enforcement Recommendation APIs
  - Governance Alert
  - Governance Overview
  - Governance Recommendation APIs
  - RuleEnforcement
  - Rule Executions
  - Rule
  - Rule Sets
  - Perspectives Folders
  - Perspective Reports
  - Perspectives
  - Cost Category Jira Project Mapping
  - Recommendations Details
  - Recommendations
  - Recommendation Jira
  - Recommendation Preferences
  - Recommendation Presets
  - Recommendation Servicenow
  - Recommendation Tags
  - Recommendation Ignore List
  - AutoStopping Rules
  - AutoStopping Rules V2
  - AutoStopping Load Balancers
  - AutoStopping Fixed Schedules
  - AutoStopping Alerts
  - Commitment Orchestrator Events APIs
- name: Feature Flags
  tags:
  - API Keys
  - Feature Flags
  - Targets
  - Target Groups
  - Environment Perspectives
  - Anomalies
  - Proxy
  - Tags
- name: SRM
  tags:
  - Monitored Services
  - SLOs dashboard
  - NG SLOs
  - SLOs
  - Downtime
  - Srm Notification
- name: Internal Developer Portal - IDP
  tags:
  - Entities
  - Teams
  - CatalogCustomProperties
  - Scores
  - DataSource
  - KubernetesDataPoints
  - AggregationRules
  - AppConfig
  - PluginInfo
  - LayoutProxy
  - Kinds
  - LayoutsV3
  - LayoutsV4
- name: Environment Management - IDP
  tags:
  - Environment
  - Infrastructure
  - Instance
- name: Custom Dashboards
  tags:
  - aida
  - dashboards
  - downloads
  - embed
  - folders
- name: Policy Management
  tags:
  - dashboard
  - examples
  - policies
  - evaluate
  - evaluations
  - policysets
  - system
- name: Code
  tags:
  - repository
  - status_checks
  - pullreq
  - upload
  - webhook
  - resource
  - rules
  - labels
- name: IaCM
  tags:
  - usage
  - approvals
  - costs
  - executions
  - module-registry
  - workspaces
  - settings
  - tf-standard-backend
  - variables
- name: STO
  tags:
  - Exemptions
  - Issues
  - Scans
  - Products
  - Test Targets
  - Target Variants
- name: SEI
  tags:
  - Collection categories
  - Collections
  - Contributors
  - DORA
- name: Git Sync (deprecated)
  tags:
  - Git Branches
  - Git Full Sync
  - Git Sync Settings
  - Git Sync
  - Git Sync Errors
- name: Error Models
  tags:
  - Error Response
  - Governance Metadata
- name: Supply Chain Security
  tags:
  - integration
  - PipelineInfraConfig
  - SBOM
  - Integration Step Config
  - Delete Step Config
  - Delete Repositories
  - Pipeline Store Config
  - Evidence Vault [Beta]
- name: Release Management
  tags:
  - Release Groups
  - Releases
  - Orchestration Processes
  - Orchestration Activities
  - Orchestration Executions
  - Conflicts
  - Freeze
  - Reports
  - Uploads
- name: Resilience Testing
  tags:
  - Actions
  - Action Templates
  - Chaos Components
  - Chaos Hubs
  - ChaosGuard Conditions
  - ChaosGuard Rules
  - DR Tests
  - Experiments
  - Experiment Templates
  - Faults
  - Fault Templates
  - Chaos Infrastructure
  - Health
  - Network Maps
  - Onboarding
  - Probes
  - Probe Templates
  - Chaos Recommendations
  - Risks
