openapi: 3.0.3
info:
  title: Harness Platform API
  description: >-
    The Harness Platform API provides access to core platform resources including
    projects, organizations, connectors, secrets, users, roles, pipelines,
    triggers, and pipeline execution.
  version: '1.0'
  contact:
    name: Harness Developer Support
    url: https://developer.harness.io/
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
  - url: https://app.harness.io/gateway
    description: Harness SaaS Production
security:
  - apiKeyAuth: []
tags:
  - name: Organizations
    description: Manage organizations
  - name: Projects
    description: Manage projects
  - name: Pipelines
    description: Manage pipelines
  - name: Pipeline Execution
    description: Execute pipelines
paths:
  /ng/api/organizations:
    get:
      operationId: listOrganizations
      summary: Harness List Organizations
      description: List organizations in the account.
      tags:
        - Organizations
      parameters:
        - name: accountIdentifier
          in: query
          required: true
          description: Account identifier.
          schema:
            type: string
          example: "abc123"
        - name: pageIndex
          in: query
          description: Page number (0-based).
          schema:
            type: integer
            default: 0
        - name: pageSize
          in: query
          description: Number of items per page.
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Successfully retrieved organizations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationList'
              examples:
                ListOrganizations200Example:
                  summary: Default listOrganizations 200 response
                  x-microcks-default: true
                  value:
                    status: "SUCCESS"
                    data:
                      totalPages: 1
                      totalItems: 2
                      content:
                        - identifier: "default"
                          name: "Default"
                          description: "Default organization"
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ng/api/projects:
    get:
      operationId: listProjects
      summary: Harness List Projects
      description: List projects in the account.
      tags:
        - Projects
      parameters:
        - name: accountIdentifier
          in: query
          required: true
          description: Account identifier.
          schema:
            type: string
        - name: orgIdentifier
          in: query
          description: Organization identifier.
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved projects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /pipeline/api/pipelines:
    get:
      operationId: listPipelines
      summary: Harness List Pipelines
      description: List pipelines in a project.
      tags:
        - Pipelines
      parameters:
        - name: accountIdentifier
          in: query
          required: true
          schema:
            type: string
        - name: orgIdentifier
          in: query
          required: true
          schema:
            type: string
        - name: projectIdentifier
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved pipelines.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineList'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /pipeline/api/pipelines/execute/{pipelineIdentifier}:
    post:
      operationId: executePipeline
      summary: Harness Execute Pipeline
      description: Execute a pipeline by its identifier.
      tags:
        - Pipeline Execution
      parameters:
        - name: pipelineIdentifier
          in: path
          required: true
          description: Pipeline identifier.
          schema:
            type: string
        - name: accountIdentifier
          in: query
          required: true
          schema:
            type: string
        - name: orgIdentifier
          in: query
          required: true
          schema:
            type: string
        - name: projectIdentifier
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineExecutionRequest'
      responses:
        '200':
          description: Pipeline execution started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExecution'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Harness API key.
  schemas:
    Organization:
      type: object
      description: A Harness organization.
      properties:
        identifier:
          type: string
          example: "default"
        name:
          type: string
          example: "Default"
        description:
          type: string
          example: "Default organization"
    OrganizationList:
      type: object
      properties:
        status:
          type: string
          example: "SUCCESS"
        data:
          type: object
          properties:
            totalPages:
              type: integer
              example: 1
            totalItems:
              type: integer
              example: 2
            content:
              type: array
              items:
                $ref: '#/components/schemas/Organization'
    Project:
      type: object
      description: A Harness project.
      properties:
        identifier:
          type: string
          example: "my_project"
        name:
          type: string
          example: "My Project"
        orgIdentifier:
          type: string
          example: "default"
        description:
          type: string
          example: "Main deployment project"
        color:
          type: string
          example: "#0063F7"
    ProjectList:
      type: object
      properties:
        status:
          type: string
          example: "SUCCESS"
        data:
          type: object
          properties:
            totalPages:
              type: integer
            totalItems:
              type: integer
            content:
              type: array
              items:
                $ref: '#/components/schemas/Project'
    Pipeline:
      type: object
      description: A Harness pipeline.
      properties:
        identifier:
          type: string
          example: "deploy_prod"
        name:
          type: string
          example: "Deploy to Production"
        description:
          type: string
          example: "Production deployment pipeline"
        tags:
          type: object
          additionalProperties:
            type: string
    PipelineList:
      type: object
      properties:
        status:
          type: string
        data:
          type: object
          properties:
            totalPages:
              type: integer
            totalItems:
              type: integer
            content:
              type: array
              items:
                $ref: '#/components/schemas/Pipeline'
    PipelineExecutionRequest:
      type: object
      description: Request to execute a pipeline.
      properties:
        inputSetReferences:
          type: array
          items:
            type: string
          description: Input set references for the execution.
    PipelineExecution:
      type: object
      description: A pipeline execution.
      properties:
        status:
          type: string
          example: "SUCCESS"
        data:
          type: object
          properties:
            planExecution:
              type: object
              properties:
                uuid:
                  type: string
                  example: "abc123-def456"
                status:
                  type: string
                  example: "RUNNING"
